[2020-12-31 17:06] aiexplorations commented on #588
Turns out `statsmodels` doesn't have implementations of lag plots but `pandas` does. Have changed title to reflect this.

[2021-01-02 21:20] isma3ilsamir commented on #578
I found a very dirty solution to help make the code run. Yet it still shows a warning when I use `RandomizedSearchCV` with KNN using msm distance, `ColumnEnsembler` of KNN classifiers using msm distance or `ElasticEnsemble`.

**The Dirty Solution**
Changed line 245 in file **sktime\classification\distance_based\_time_series_neighbors.py**
**From:** fx = self._fit(X)
**To:** fx = self._fit(X,y)

**

[2021-01-02 21:49] isma3ilsamir opened #589 "[BUG] KNN with msm distance give exact same scores with different hyper-parameters"
**Describe the bug**
I am running a cross validation using KNN with msm distance on the GunPoint dataset.

I added the `c` hyper-parameter (a metric specific hyper-parameter) hoping that it might help attain better results. But I get identical results for all the cross validation runs on all split runs.

**To Reproduce**
Run

[code]

**Expected behavior**
Results of training process should not be

[2021-01-03 14:47] Bruno-Hanzen opened #590 "Identical shapelets"
When fitting shapelets to a set of time series, I get twice the same shapelet (for the same ts, at different places).
In the ts, there are zones of constant values. 2 of them are 11 positions long, so after normalization, this gives 2 shapelets with 11 "0" in "data", but different "start_pos".

I suggest testing identity or similarity of a new shapelet (data part) with the previously discovered on

[2021-01-04 10:12] alpozcan opened #591 "[BUG] Use of unsupported opcode (IS_OP) found on Python 3.9.1"
**Describe the bug**

While running the unmodified code of [the second example in the README](https://github.com/alan-turing-institute/sktime#time-series-classification), the following error is encountered:

[code]

**To Reproduce**

[code]

**Expected behavior**

The sample should run without any error.

**Versions**

Debian 10 OS, Python 3.9.1 compiled from source with `CFLAGS=-march=native -O2

[2021-01-04 10:47] alpozcan commented on #591
confirmed as a known numba issue in https://github.com/numba/numba/issues/6616. Closing this.

[2021-01-04 10:47] #591 closed

[2021-01-04 11:44] sonoff2 opened #592 "[BUG] Can't install sktime with pip ; building wheels fail"
When running `pip install sktime`, following error occurs :

[code]

I also tried `pip install -e .` after downloading master on github :

[code]

I am currently running :

[code]

Not really sure what to do next ?

[2021-01-04 17:08] mloning commented on #592
Hi @sonoff2, looks like we're not providing a wheel for your platform (OS) which I'm assuming requires the `win_amd64.whl` wheel.

Could you try to follow the [installation instructions](https://www.sktime.org/en/latest/installation.html) to see if you can compile it locally? The error above simply due to missing Cython.

[2021-01-04 19:34] mloning commented on #585
Or perhaps simply print the info from the inner loop, not sure why it is suppressed?

[2021-01-04 19:35] mloning commented on #588
Hi @aiexplorations - thanks for creating the issue here and the links to the R resources - much appreciated!

[2021-01-04 20:12] sonoff2 commented on #592
Hello, thank you for your help.
First time doing this : just to make sure, we are talking about following doc instructions in :
_Installation > Development version >Installing build dependencies > Windows ?_

Or are we talking about following doc instructions in :
_Installation > Development version > Building binary packages and installers_
which is basically running

[code]
?

[2021-01-04 22:23] mloning commented on #578
Does `y.reshape(-1, 1)` fix the warning?

[2021-01-04 22:28] mloning commented on #592
@sonoff2 alright, great, that's good to know!

That also means that it should be quite easy to set up an addition CI/CD workflow for the `win_amd64.whl`. We should consider moving away from appveyor though as it is a lot slower than GitHub Actions or Azure.

[2021-01-05 12:23] mloning commented on #584
But you could pass `GridSearchCV` objects to the ensemble, right? So that the individual models are tuned?

[2021-01-05 12:25] mloning commented on #589
Thanks for raising the issue! @TonyBagnall may be able to provide more info.

[2021-01-05 12:26] mloning commented on #583
@ngupta23 sorry for the late reply. Sounds good to me, would welcome a PR!

[2021-01-05 12:27] mloning commented on #591
@alpozcan alright thanks for linking the issue here!

[2021-01-05 23:14] isma3ilsamir commented on #578
Unfortunately It doesn't, but instead of
[code]
I use now
[code]
and the warning doesn't show anymore
Also now `Elastic Ensemble` works fine

[2021-01-05 23:14] #578 closed

[2021-01-06 13:48] TonyBagnall commented on #590
hi, yes this is possible, although we do have a threshold to exclude shapelets with identical info gain. STC could do with some work, its on my list after sorting out distance functions

[2021-01-06 13:50] TonyBagnall commented on #589
thanks for that, we are currently looking at the distance based approaches, and will take note of this when we get to it

[2021-01-06 15:05] #355 closed

[2021-01-06 15:06] #356 closed

[2021-01-06 15:06] #370 closed

[2021-01-06 15:07] TonyBagnall commented on #138
hi, STC does not yet have multivariate capability in python, but will do soon I hope!

[2021-01-06 15:07] #138 closed

[2021-01-06 15:11] #459 closed

[2021-01-06 15:15] #258 closed

[2021-01-06 15:21] TonyBagnall opened #596 "[BUG] Distance functions and distance based classifiers bugs and features"
The distance based classifiers are not working properly, and there are several issues related to them. I am going to collate them here and comment on progress fixing them.

1. KNN with msm distance give exact same scores with different hyper-parameters
https://github.com/alan-turing-institute/sktime/issues/589

2. ColumnEnsembleClassifier fails fitting KNN classifiers
https://github.com/alan-turin

[2021-01-06 15:22] TonyBagnall commented on #589
hi, I have rolled this into this issue just to tidy up a bit and make sure we address all related issues together,
https://github.com/alan-turing-institute/sktime/issues/596

[2021-01-06 15:22] #589 closed

[2021-01-06 15:23] TonyBagnall commented on #551
hi, I have rolled this into this issue just to tidy up a bit and make sure we address all related issues together,
https://github.com/alan-turing-institute/sktime/issues/596

[2021-01-06 15:23] #551 closed

[2021-01-06 15:24] TonyBagnall commented on #413
hi, I have rolled this into this issue just to tidy up a bit and make sure we address all related issues together,
https://github.com/alan-turing-institute/sktime/issues/596

[2021-01-06 15:24] #413 closed

[2021-01-06 15:24] TonyBagnall commented on #328
hi, I have rolled this into this issue just to tidy up a bit and make sure we address all related issues together,
https://github.com/alan-turing-institute/sktime/issues/596

[2021-01-06 15:24] #328 closed

[2021-01-06 17:54] aiexplorations commented on #541
1. Would it be a good idea to have CIs at different confidence levels (say, 90%, 95%, 99%) also graphically represented in these plots?
2. Would it also be good to have a related feature to store the CIs in the forecast as series (series of tuples, or as individual columns)?

[2021-01-06 18:05] aiexplorations commented on #501
Specifically within the referenced `tslearn` package there is an implementation of the common KMeans clustering algorithm for time series. https://tslearn.readthedocs.io/en/stable/gen_modules/clustering/tslearn.clustering.TimeSeriesKMeans.html

Some considerations:
1. # of runs about median / mean
2. Discrimination by variance
3. Discrimination by # of differences to stationarity
4. ... ?

[2021-01-06 18:09] Bruno-Hanzen commented on #590
Hi, I can confirm that the shapelets were identical, but info gain was different (0.18 and 0.14), if I remember correctly.

[2021-01-07 00:40] fkiraly commented on #541
@aiwalter, @timcashion, one of the ideas in the sktime ecosystem was to use interval and distribution returns compatible with the skpro (probabilistic prediction) toolbox https://github.com/alan-turing-institute/skpro
Unfortunately skpro has gone on hiatus after the disappearance of its maintainer half a year ago - any appetite for taking parts of the development/prototyping on with the ultimate a

[2021-01-07 11:54] ngupta23 commented on #584
Yes, here is an example of this. The `EnsembleForecaster` would fit these individual model before ensemble (current flow in sktime).

But I could uncomment the individual model fits (in code below) for Model 1, 2, and 3 (`gscv_arima`, `gscv_ets`, `gscv_expo`) so they are fit separately and then pass those fitted objects to the ensemble. In that case, would just checking the `_is_fitted` method not

[2021-01-07 12:04] ngupta23 commented on #585
@mloning, Good point. I can enable this in the regrerssor instantiation. After I change it to the following, it starts showing up,  but now it is printing too much (1 for each of the outer candidates)

:)

[code]

[code]

[2021-01-07 12:09] ngupta23 commented on #585
And as I am printing these details, other questions are arising about the entire Grid Search process, but I will file a separate Issue for that to keep it clean.

[2021-01-07 12:42] mloning commented on #584
I understand what you're trying to do. I don't feel comfortable changing the ensemble class because I'm not sure what the overall design principle should be here. I'm wondering why we would change the ensemble class but not other composition classes like pipeline? Does scikit-learn have something similar?

What you want to do is also already possible: you can also fit all models using ensemble and

[2021-01-07 12:42] aiwalter commented on #541
@aiexplorations
1. We would have to fit multiple models  because most models can only return CIs for a single alpha value. But actually it could work to accept also a list like `alpha = [0.95, 0.9, 0.5]` and loop 3 times over `_fit()` and `predict()`.
2. I think this would change the API because currently `predict()` is returning a `pd.Series` and no `pd.DataFrame`. A better solution could be to r

[2021-01-07 12:44] mloning commented on #541
Re 2. if `return_pred_int=True`, both the point predictions (`pd.Series`) and intervals (`pd.DataFrame`) are returned

[2021-01-07 12:49] ngupta23 opened #597 "Random Grid Search for Forecasting"
**Is your feature request related to a problem? Please describe.**
I am wondering if there is a Random Grid Search equivalent of [`ForecastingGridSearchCV`](https://www.sktime.org/en/latest/api_reference/modules/auto_generated/sktime.forecasting.model_selection.ForecastingGridSearchCV.html#forecastinggridsearchcv) similar to how we have [`RandomizedSearchCV`](https://scikit-learn.org/stable/module

[2021-01-07 14:42] fkiraly commented on #584
My general opinion on the suggestion is that this comes at a substantial danger of information leakage, and "training on the test set via the modeller's brain".

In terms of architecture and user journey, I also see this negatively, since the behaviour of a specified modelling strategy may depend on the state of the objects passed ad construction (fitted or not).

Conceptually, I think:
* construc

[2021-01-07 14:46] fkiraly commented on #541
@aiwalter, if you look at the roadmap, it is a necessary pre-condition for time-to-event modelling
https://github.com/alan-turing-institute/sktime/blob/master/docs/source/roadmap.rst
(last paragraph)

So it would count as a contribution to sktime :)

[2021-01-07 21:10] ngupta23 commented on #584
@fkiraly , Understand the concerns outlined above. Would you be open to providing an argument in the ensemble that does not fit an already fitted object (by default, it will maintain the current functionality of fitting again).

My concern is on the training time. If there are multiple models that are passed to the ensemble object and each of them have been fit using a Grid Search approach, it can

[2021-01-08 00:55] CaioUeno opened #598 "[BUG] AttributeError: 'ProximityStump' object has no attribute 'get_exemplars'"
**Describe the bug**

I'm trying to run a cross validation using ProximityStump classifier, but I get this error.
I was looking at the code and I guess that the problem is at this line:
https://github.com/alan-turing-institute/sktime/blob/3f132219e5217ba3dba4b0237f15ea847a84d5f5/sktime/classification/distance_based/_proximity_forest.py#L814
The "name" get_exemplars is replaced to pick_exemplars. S

[2021-01-08 03:07] ngupta23 commented on #584
@fkiraly

I can see where this would be an issue, especially when the ensemble is used with cross validation. Yes, that would be an issue for sure and may lead to leakage.

@mloning Sorry I missed your earlier message.

I think this is one option, but sometimes, you may only want to feed a subset of the individual models to the ensemble (only the top performing ones so as to not deteriorate the en

[2021-01-08 14:30] aiwalter commented on #583
@ngupta23 I like your idea! I am asking myself if we then would also be able to tune those parameters of `EnsembleForecaster` also via `ForecastingGridSearchCV`? Maybe even tuning together with the other hyperparameters of the models contained in the `EnsembleForecaster`? This would however increase the number of fits quite a lot.

@mloning what do you think?

[2021-01-08 15:59] fkiraly commented on #583
Remembering that we have already some architecture for weighted forecasting ensembles (see PR #333), I was wondering whether it would make sense to involve @magittan in the discussion to see how we integrate this with the current ensembling sub-module?

I think it would make a lot of sense to come up with a joint/consolidated design for forecasting ensembles that's flexible and composable - given

[2021-01-08 16:00] fkiraly commented on #583
(might make sense to set up a phone call where @magittan gives a quick walkthrough through architecture of the weighted ensemble module?)

[2021-01-08 16:01] fkiraly commented on #583
PS, @ngupta23: Min/Max is usually not very robust (extremely outlier sensitive), high/low quantiles are usually better

[2021-01-08 16:49] mloning commented on #583
@aiwalter as long as we add the aggregation function to the constructor of the ensemble, tuning  should work 🙂

[2021-01-08 16:53] mloning commented on #598
Hi @CaioUeno - thanks for raising the issue. The distance-based model requires some work,  @TonyBagnall is keeping a list here #596.

If you're interested in contributing, we'd really appreciate a PR to fix this!

[2021-01-08 19:24] magittan commented on #583
Sure, would be happy to participate in a phone call for what we have now for online-ensembling of forecasters.

[2021-01-08 20:05] #158 closed

[2021-01-08 20:07] TonyBagnall commented on #590
hmmm, curious, we will look into it, thanks for pointing it out

[2021-01-08 20:07] #195 closed

[2021-01-09 13:14] ngupta23 commented on #583
Yeah, I personally was more interested in the median (instead of mean) for the same reason. The only reason I added min/max there was due to the compatibility with [hcrystalball](https://hcrystalball.readthedocs.io/en/latest/_modules/hcrystalball/ensemble/_simple_ensemble.html#SimpleEnsemble). I would be OK if you decide not to include min/max.

[2021-01-09 14:13] ngupta23 commented on #585
A followup on the above output...

It looks like the scikit GridSearchCV is being fit using 5 folds using the "initial_window" data. But is this really used anywhere in the process? It does not look like it. Can you please confirm?

[2021-01-09 16:16] mloning commented on #326
@dhirschfeld can you ping me here once https://github.com/conda-forge/staged-recipes/pull/13568#pullrequestreview-564010418 is merged and sktime is available via conda-forge? I want to add the badge to the readme!

[2021-01-09 16:21] mloning commented on #585
@ngupta23 what is not really used anywhere in the process?

[2021-01-09 17:54] isma3ilsamir opened #600 "[BUG] Cannot dump proximity forest model using joblib or pickle"
**Describe the bug**
Cannot export trained proximity forest model locally, to be used later on with other datasets.
I tried doing so using picke and joblib but both failed.

**To Reproduce**
[code]

**Expected behavior**
To be able to dump Proximity Forest models.

**Versions**
<details>

System:
python: 3.7.4 (tags/v3.7.4:e09359112e, Jul 8 2019, 20:34:20) [MSC v.1916 64 bit (AMD64)]
executable:~.

[2021-01-09 18:26] mloning commented on #600
Thanks for raising the issue @isma3ilsamir!

@TonyBagnall this can be added to #596

[2021-01-09 21:07] dhirschfeld commented on #326
https://github.com/conda-forge/sktime-feedstock

Not sure how far you'll get without all the deps, but it's a start. Still need to try relaxing the numpy pin & improve the CI. Will try and find some time shortly...

[2021-01-10 12:29] ngupta23 commented on #585
@mloning, the 5 folds are only being created on the "initial_window", but the scores from those 5 folds are not being used anywhere since the scoring happens on the validation data and not in the "initial_window" data. Is this correct?

[2021-01-10 14:10] zhenlingcn opened #603 "Is there any imputation method in sktime?"
Currently, I'm encountering a prediction problem with some missing values. In the current implementation of sktime, when there is a missing value in the timing window, sktime will output nan. However, rather than tuning the size of the timing window, I prefer to fill these missing values. Thus, is there any method to do so?

[2021-01-10 15:52] TonyBagnall commented on #596
PR https://github.com/alan-turing-institute/sktime/pull/579 changed _fit(X) to _fit(X,y) so that KNeighboursTimeSeriesClassifier actually runs.

[2021-01-10 23:02] Sandy4321 opened #604 "will it work for multivariate time series prediction both regression and classification"
great code thanks
may you clarify :
will it work for multivariate time series prediction   both regression and classification
1
  where all values are continues values
2
or  even will it work for multivariate time series where values are mixture of continues  and categorical values
for example 2 dimensions have continues values and 3 dimensions are categorical values

    color        weight     g

[2021-01-11 07:08] Hephaest opened #605 "[BUG] ModuleNotFoundError: No module named 'sktime.classification.frequency_based'"
**Describe the bug**

ModuleNotFoundError: No module named 'sktime.classification.frequency_based'

**To Reproduce**

[code]

**Expected behavior**

Generate the result: `0.8301886792452831`

**Additional context**

the code from `examples/02_classification_univariate.ipynb`

**Versions**
<details>

System:
    python: 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]

[2021-01-11 08:55] mloning commented on #605
Sorry we moved the algorithm to `sktime.classification.interval_based` - checkout the latest notebooks on master to find the corrected versions.

FYI @TonyBagnall

[2021-01-11 09:00] mloning opened #607 "Upload source code (.tar.gz) to PyPI"
**Is your feature request related to a problem? Please describe.**
See [SO question](https://stackoverflow.com/questions/65648658/why-is-an-older-version-of-sktime-getting-installed-using-pip); .tar.gz files are only available for some earlier releases, but not the latest ones: https://pypi.org/simple/sktime/

**Describe the solution you'd like**
Make sure we upload wheels but also .tar.gz files.

[2021-01-11 09:03] Hephaest commented on #605
Dear @mloning,
That's why we need the community. I pull a request #606. Please merge it, thanks.

[2021-01-11 09:51] TonyBagnall commented on #605
good spot, thanks for that, I see pycharm refactoring doesnt check notebooks! We will merge it in once its gone through the tests.

[2021-01-11 09:56] TonyBagnall commented on #604
hi, the classification and regression tools currently only work with continuous variables. Sequence classification (i.e. categorical variables such as colour) is a whole different thing. Some classifiers work for multivariate, some dont, I'm just tidying up the capabilities to make this clearer. If you have a real valued multivariate classification problem, for now I recommend The ROCKETClassifier

[2021-01-11 10:13] Hephaest opened #608 "[BUG] TypeError from KNeighborsTimeSeriesClassifier"
**Describe the bug**

[code]
**To Reproduce**

[code]

**Expected behavior**

Generate the result: `0.55`

**Additional context**

This problem occurs because that `NeighborsBase._fit()` only accept 1 positional argument (only X).

**Versions**
<details>

System:
    python: 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]
executable: c:\users\hephaest\appdata\local\p

[2021-01-11 10:36] #605 closed

[2021-01-11 12:46] TonyBagnall commented on #603
hi, we do not currently have imputation methods in sktime that I am aware of, sorry. We would very much like to have some though!

[2021-01-11 13:13] fkiraly commented on #603
You can get imputation through composition for any reduction method to a `sklearn` method, such as `DirectRegressionForecaster` - simply wrap a pipeline whose first element is a `sklearn` imputer, e.g., `SimpleImputer`.

Depending on your data format, you may also consider using `transformations.panel.interpolate` which can be used as imputer depending on the setting.

As @TonyBagnall, contributio

[2021-01-11 13:29] TonyBagnall commented on #603
thanks Franz, my knowledge of sktime is localised to the classification side, I am not really best place to comment .... so probably shouldnt :)

[2021-01-11 21:38] TonyBagnall commented on #608
so I've had a look. scikit learn changed how KNN works in 0.24. _fit(X) was replaced by _fit(X, y=None), with a test for a _tag whether 'requires_y' is true. we can recreate previous behaviour by turning off the tag requires_y,
  def _more_tags(self):
        return {'requires_y': False}

However, y might well be required for the GridSearchCV, and the absence of the y values may explain why for ex

[2021-01-11 23:39] TonyBagnall commented on #328
hi vincent kd_tree only works with a precomputed distance matrix rather than a callable function. ball_tree has a list of valid distance functions hard coded, and does some buffering that is inconsistent with our data type.  I've made these constraints explicit by raising an exception if the user tries to use kd_tree or ball_tree.

[2021-01-12 06:45] Hephaest opened #611 "[BUG] ModuleNotFoundError because of change of scikit_learn upgrade"
**Describe the bug**

[code]
**To Reproduce**

[code]

**Expected behavior**

[code]

**Additional context**

I upgrade `scikit_learn` from `0.23.1` to `0.24.0` and unfortunately failed in this cell.
The reason is that `scikit_learn` community changed the sub-module name from `forest` to `_forest`.

I wonder instead of such fine-grained import, we can avoid such issue by a little more coarse-grain

[2021-01-12 10:25] #608 closed

[2021-01-12 10:28] TonyBagnall commented on #611
great spot, thanks, it seems scikit changes structurally quite a bit from .23 to ,24. Your solution looks good to me, put in the PR.

[2021-01-12 10:47] aiwalter opened #612 "Adding BSTS (Bayesian structural time series models) model via tensorflow_probability"
**Is your feature request related to a problem? Please describe.**
I and @koralturkk would like to add a wrapper for forecasting with [BSTS](https://www.tensorflow.org/probability/api_docs/python/tfp/sts)
Examples are given [here](https://www.tensorflow.org/probability/examples/Structural_Time_Series_Modeling_Case_Studies_Atmospheric_CO2_and_Electricity_Demand#model_and_fitting).

**Describe the s

[2021-01-12 12:08] mloning commented on #603
@zhenlingcn is this in the context of forecasting?

[2021-01-12 12:21] Hephaest commented on #611
Dear prof @TonyBagnall
I've fixed it. Please merge #613 whenever you are free. ❤️

[2021-01-12 14:16] zhenlingcn commented on #603
Yes, the context is forecasting. I can use pandas to simply fill in the missing values, such as filling in the missing values by mean value. However, the filling function provided by pandas is rather simple. In fact, I hope I can use more advanced filling methods, such as linear or non-linear interpolation.

[2021-01-12 14:35] fkiraly commented on #603
Hm, I thought interpolators (padding, last value carry forward, linear/smoothing) were on the forecasting wishlist #220 or some roadmap, but I can't find them. Should definitely be there, since there are time series specific missing value handling strategies that you won't get from scikit-learn. @mloning, @TonyBagnall, do we have this recorded in some roadmap issue?

[2021-01-12 14:36] mloning commented on #603
There is a related issue on handling missing values #69

[2021-01-12 14:39] mloning commented on #603
Linear and non-linear interpolation are also provided by numpy, SciPy or pandas. See for example: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html

Since there isn't anything there, adding a simple `Interpolator` (series-to-series transformer) would be great! @zhenlingcn would you be interested in working on that? As a template take a look at the transfo

[2021-01-12 14:48] mloning commented on #585
Yes I believe so - the best model is chosen on the initial training set and then we would score and update on the validation set (but as discussed updating isn't fully implemented yet).

[2021-01-12 15:42] thomastkok opened #616 "[BUG] Upgrade of sktime crashed my KNeighborsTimeSeriesClassifier code"
**Describe the bug**
Upgrade of sktime crashed my existing project which uses the KNeighborsTimeSeriesClassifier. It seems to me that there was no backwards compatibility in one of the recent upgrades for the project. (Or of course I am doing something wrong myself).

**To Reproduce**

[code]

**Expected behavior**
I got the following error:
~/Documents/time_series_analysis/venv/lib/python3.8/site

[2021-01-12 15:46] TonyBagnall commented on #616
sorry about that, I'll look into it

[2021-01-12 15:48] thomastkok commented on #616
No problem at all, thanks a lot for the effort!

[2021-01-12 15:51] thomastkok commented on #616
@TonyBagnall apologies, it seems like I fixed this by updating sklearn as well. I did however get the following error:

ValueError: This KNeighborsTimeSeriesClassifier estimator requires y to be passed, but the target y is None.

However this is not the case, as I can show y to be the following:

[0 0 1 ... 0 0 0]

[2021-01-12 15:54] TonyBagnall commented on #616
have you synched to latest master for sktime? there was a change between scikit learn .23 and .24 which moved from allowing _fit(X) to requiring _fit(X,y) by default. However, we have now changed the tags and _fit(X) works for me.

[2021-01-12 15:54] TonyBagnall commented on #616
![image](https://user-images.githubusercontent.com/9594042/104338443-6cd85a80-54ee-11eb-9680-ab161b8a1e19.png)

[2021-01-12 15:56] thomastkok commented on #616
Thanks for your help, this might be inexperience on my parts but I installed with pip install --upgrade sktime. Is that not appropriate?

[2021-01-12 15:57] thomastkok commented on #616
Also, I am actually passing an y: that shouldn't be the problem. But I will try to work it out myself first, to not waste your time.

[2021-01-12 15:58] TonyBagnall commented on #616
ah it might not have updated on pip, I only pushed this yesterday, @mloning can you update it pip install? I think your code should work with the latest version.

[2021-01-12 16:03] thomastkok commented on #616
Amazing, thank you!

[2021-01-12 16:45] #611 closed

[2021-01-13 09:48] thomastkok commented on #616
For info: I manually added the more_tags function and this helped resolve the latter error of requiring y. However, this has caused me to once again get the first error as shown in the original post, which is thus still relevant.

[2021-01-13 10:46] mloning commented on #616
I've launched a new release just now, should be available via pip some time soon.

[2021-01-13 10:50] TonyBagnall commented on #616
thanks markus, lets see if its still broken after the update, I cannot reproduce the bug

[2021-01-13 11:14] mloning commented on #612
Hi @aiwalter and @koralturkk - this sounds like an interesting idea! I'm a little hesitant on adding TensorFlow Probability as a soft dependency because we had several issues with integrating it into the CI/CD workflows in other projects (sktime-dl especially). A may be a better idea to work on this in a companion repository.

If this is something you're interested in, I'm happy to create one unde

[2021-01-13 11:18] ngupta23 commented on #585
@mloning, In that case, since the information from the 5 folds of the `GridSearchCV` is not being used anywhere, would it make sense to unravel the `ParamGrid` from `GridSearchCV` and combine it with the `ParamGrid` from `ForecastingGridSearchCV`. That way, we only fit on the initial window once (instead of 5 folds) for each set of candidate parameters and then evaluate on the "validation" set. Th

[2021-01-13 12:00] aiwalter commented on #612
@mloning thx for feedback. Regarding design, `BSTS` works with components, so the user is free to add several of them to a model. In the following example, there are two components, `sts.LocalLinearTrend` and `tfp.sts.Seasonal`:
[code]
So in `sts.Sum` the components are build together to one model. How to provide the user this flexibility comes back to the question above where I wrote down the 2 o

[2021-01-13 12:23] fkiraly commented on #612
Hm, regarding design:
I think aiming for *both* wrapped individual components and wrapped composites makes sense here! If I had to choose, I'd say to aim for wrapped composites, since that is more flexible and robust with regards to extensions and changes of `BSTS`.

The "really nice thing", design-wise, would be adding a compiler-like layer that recognizes when adjacent sktime components are from

[2021-01-13 12:59] mloning commented on #612
Ok, we can give it a try to integrate it into sktime!

But we may have to make a difficult decision to not include it in the end, if we need to touch too much of the CI/CD pipeline, and move it to a separate repo. I worry about the extra maintenance burden for the CI/CD pipelines when upgrading versions later on. We have had similar issues with other packages already (e.g. the ongoing work to inte

[2021-01-13 13:11] ngupta23 commented on #585
And just to clarify, it seems that only the regressor `best_params_` are selected in the "initial_window" but the Forecaster "best parameters" are selected using the "validation set". Is this understanding correct?

[2021-01-13 13:34] mloning commented on #326
Also added the badge now to the README (see commit [cc5d9](https://github.com/alan-turing-institute/sktime/commit/cc5d9d440824efa6c0ac41757b6e02ca115b81fd)) and we're all set!

[2021-01-13 13:34] #326 closed

[2021-01-13 19:06] isma3ilsamir opened #619 "[Question] Time Series Bag of Features (TSBF) is it possible to implement using SKTime ?"
**This is not really a bug, but rather a question**

I read about `Time Series Bag of Features (TSBF)` in the **The great time series classification bake off** review paper and it seemed to perform as good as `Time Series Forest (TSF)`
So I was wondering if it could be implemented using the utilities that we have in SKTime right now, maybe using a `pipeline` or something.

@TonyBagnall , Do you ha

[2021-01-13 20:04] TonyBagnall commented on #619
hmm, well I implemented it in Java in 2014 or so, and it was a bit tricky iirc. It starts off like TSF with added features, but then does some other stuff. I liased with the author but could not recreate results, so it may be buggy. It was much slower than TSF and not more accurate, so we left it as it is and didnt bother porting it over. Possible to do so, but dont think it would add a huge amoun

[2021-01-13 21:28] isma3ilsamir commented on #619
@TonyBagnall Thank you so much for the explanation and all the details. And of course for the very fast reply.

Well I think in this respect, I must agree it wouldn't make sense to have it implemented as it is no added value.

[2021-01-13 21:28] #619 closed

[2021-01-14 10:14] thomastkok commented on #616
Thank you both for the assistance, I still get the following error:

[code]

For reference, my code is as simple as this:

[code]

[2021-01-14 12:11] ngupta23 opened #620 "Refit with ForecastingGridSearchCV when using a Grid Search based forecasters may not use "best hyperparameters""
**Describe the bug**
When using a Grid Search based forecaster (such as `AutoARIMA`, or `ReducedRegressionForecaster` with `GridSearchCV` from scikit-learn) in `ForecastingGridSearchCV`, the best hyperparameters that are found in the `initial_window` may not be used when the final refit is done.

The outer Grid Search (that in `ForecastingGridSearchCV`) works fine and picks the right hyperparamete

[2021-01-14 12:57] ngupta23 opened #621 "[BUG] update_predict in `ReducedRegressionForecaster` does not update the parameter values based on data in sliding/expanding windows"
**Describe the bug**
When performing `update_predict()` on `ReducedRegressionForecaster`, the parameter values are not updated using the latest data.

**To Reproduce**

I will add some code later if needed, but here is the code stack:

[`update_predict`](https://github.com/alan-turing-institute/sktime/blob/v0.5.2/sktime/forecasting/base/_sktime.py#L580)  --> [`_predict_moving_cutoff`](https://gith

[2021-01-14 13:17] fkiraly commented on #621
@ngupta23, I don't think this is a bug, but just a lack of specification what update should do, and implementation.

I would suggest you add a parameter (at constuction) that allows to specify updating behaviour, either of:
* does not update parameters (current behaviour) - default behaviour i.m.o., since least "invasive"
* updates parameters at each `update` call, using a lookback batch with fixe

[2021-01-14 13:21] fkiraly commented on #620
@ngupta23, short comments on first read:
* the issue you describe is not a bug, since you're not describing a discrepancy between expected/contracted functionality and actual functionality. You're actually commenting on what higher-order algorithm `ForecastingGridSearchCV` should implement in your opinion, and a discrepancy between that and the status quo.
* I agree we may want to carefully think

[2021-01-14 14:22] mloning commented on #585
The regressor's best parameters are selected on the validation set of the (tabularized) initial window, where the validation set depends on the CV iterator you choose (e.g. TimeSeriesSplit).

[2021-01-14 14:24] mloning commented on #621
We currently have a `update_params` as a keyword argument for the `update` method but nothing has been implemented yet, part of the reason is that updating like fitting is algorithm specific.

[2021-01-14 18:33] ngupta23 commented on #620
Hi @fkiraly

Definitely, more documentation on this would be nice since it was definitely not what I was expecting and would not have figured that out unless I was looking deeper into the code.

And I agree that if that if this was intentionally done this way, then this is not a bug.

That being said, is there a way to do what I am asking in sktime right now or is it planned?

Thanks!

[2021-01-14 19:12] fkiraly commented on #620
That depends entirely on what you mean by "what I am asking", but I guess not.
Though I might also contest whether what you are asking is the behaviour we'd ultimately want.

Generally, I think one takeaway of this is that we may want to think carefully about how to document our higher order algorithms, since the devil is in the detail, and the expected/actual may differ if it is not properly writ

[2021-01-14 19:29] TonyBagnall commented on #616
I cant recreate this, the above works fine for me. The error python throws is not helpful, since KNeighborsTimeSeriesClassifier is definitely a subtype of KNeighborsClassifier. Perhaps there is something else you are including that causes the problem? Just googling, here are few random related problems

https://stackoverflow.com/questions/43751455/supertype-obj-obj-must-be-an-instance-or-subtype-o

[2021-01-15 10:04] aiwalter opened #622 "Adding forecasting backtest/evaluate function"
**Is your feature request related to a problem? Please describe.**
I would like to add a backtesting class. We should ideally then also implement an expanding window splitter functionality as discussed in #552 . But the `Backtest` would just receive a splitter as an argument.

**Describe the solution you'd like**
A class like `Backtest` (naming to be discussed) with a signature like this:
[code]

[2021-01-15 10:40] wolfiex commented on #519
I have a similar issue appearing in 0.5.2.

Python  3.8
Mac OS
[code]
![Screen Shot 2021-01-14 at 18 22 37](https://user-images.githubusercontent.com/15582577/104715137-089bdd80-571e-11eb-944c-60304a2e0755.png)

[2021-01-15 10:44] aiwalter commented on #622
we could actually also have a `predict()` function that just takes the last fitted estimator and calls its `predict()` then. This might be useful in productive scenarios, so when you deliver a productive model you can just use a `Backtest` forecaster and deliver the backtested error together with the next prediction. So you dont have to do both separately.

[2021-01-15 11:22] mloning commented on #519
thanks @wolfiex for posting it here

[2021-01-15 11:23] mloning commented on #519
If you're interested in looking into this, I'd appreciate a PR!

[2021-01-15 11:38] mloning commented on #620
@ngupta23 Having looked into this a bit more, I agree that this it not a bug and indeed what I would expect to happen - similar to what I'd expect to happen if I'd put a `GridSearchCV` into a `GridSearchCV` object in scikit-learn.

If you do not want to run nested CV, you can just use temporal CV and optmise over the entire parameter grid:
[code]

I agree that we need to better document this. I'm

[2021-01-15 11:45] mloning commented on #622
@aiwalter I'm not familiar with this type of class, could you describe its purpose a bit more, what's the use case, what's the user journey/workflow you have in mind?

[2021-01-15 14:53] ngupta23 commented on #622
@mloning Here is [one example](https://unit8co.github.io/darts/examples/darts-intro.html#Backtesting:-simulate-historical-forecasting), but I am not sure how this is different from performing validation using [`SlidingWindowSplitter`](https://www.sktime.org/en/latest/api_reference/modules/auto_generated/sktime.forecasting.model_selection.SlidingWindowSplitter.html#sktime.forecasting.model_selectio

[2021-01-15 14:56] ngupta23 commented on #620
@fkiraly Thanks for the feedback on this topic.
@mloning , Thanks for the alternate code. Let me try this out and get back in case there are any further questions. If this works as expected, it might be good to document this in the forecasting example notebook.

[2021-01-15 15:01] ngupta23 commented on #621
@fkiraly Thanks for the feedback. I like the idea of adding the argument to control the functionality. That has 2 advantages

* Forces documentation of the inner functionality, even if some of the options are not implemented.
* Once the options are implemented, it provides flexibility to the end user.

[2021-01-15 16:20] wolfiex commented on #519
@mloning

The issue seems likely to a problem with the building of v 0.5.2. Inserting the `plotting.py` code directly inline solve the problem.  I assume that there was an issue when building the latest version. My install uses the 'conda-forge' channel on anaconda.

The first is imported as `from sktime.utils.plotting import plot_series` whereas the second (plot_series_github) is a copy of the pl

[2021-01-15 16:31] wolfiex commented on #519
Having just checked the files, apart from two lines of whitespace (likely my editor) the two files are identical! It seems that something is going wrong when importing the function, but not when pasted inline.

[2021-01-15 17:24] abendinelli opened #623 "[BUG] Hourly data series fails to pass np.isnan checks"
When following the tutorial and attempting to use an hourly data series, the ForecastingHorizon is passing a numpy.ndarray with type "object" instead of "float64". This causes the last window checks to fail because np.isnan() does not work on "object" type ndarrays.

My code:

[code]

The fix I had to implement in sktime/forecasting/compose/_reduce.py on line 330:

[code]

There are other places w

[2021-01-15 18:46] aiwalter commented on #622
@mloning @ngupta23
Actually the `Backtest` class would be similar to `GridSearchCV`. However I tried to use grid search to do a backtest and didnt get the expected result. Lets start with what I want to do and the worklflow of `Backtest`, then below I will give the example I tried with `GridSearchCV`.

1) Assumptions
Lets do some assumptions for an example to make it cleear:
- We take the airline

[2021-01-15 20:01] ngupta23 commented on #622
@aiwalter , Here are my initial thoughts and understanding on this.

I think your use of `initial_window` is more or less Ok (you may want to use 72 instead of 84 though because of the following) -
* For each of the candidate parameters in the `param_grid`, the model is trained on the `initial_window` first.
* Then the `window_length` of data is appended to the `initial_window` data (essentially e

[2021-01-16 14:36] fkiraly commented on #622
@aiwalter, thanks for your suggestion - I think having robust functionality for quick evaluation and backtesting is a great idea.

However, in summary of my answer below:
* I do *not* think backtesting should be a class like `GridSearchCV`, butpart of  an "external" benchmarking module
* it would be great if you would like to contribute to building that!

So, why should backtesting not be a class

[2021-01-18 13:15] koralturkk commented on #622
@aiwalter

I believe what you would like to achieve can be simply implemented by extending adding some features to ForecastingGridSearchCV class and by creating an ExpandingWindowSplitter class.

`cv = ExpandingWindowSplitter(
    initial_window=84,
    window_length=12)

gscv = ForecastingGridSearchCV(
    forecaster=TBATS(), param_grid={"sp": [12]}, cv=cv, scoring=sMAPE()
)
gscv.fit(y_train)
pd.

[2021-01-18 14:54] koralturkk commented on #552
@fkiraly I would like to contribute to implementing this feature. I would like to ask for your opinion on how this feature should be implemented by an ExpandingWindowSplitter additionally or by creating just a WindowSplitter  that has an arg e.g. splitter_type: ["sliding", "expanding"] as suggested before?

[2021-01-18 17:14] mloning commented on #519
@wolfiex very strange, so only the conda version is broken?

[2021-01-18 17:19] mloning commented on #623
Thanks @abendinelli for raising the issue.

What's the data type of `zoom_series `? If it's not a float type, could you coerce it to float?

This is something we should catch in our input checks.

[2021-01-19 13:47] koralturkk opened #626 "Overlap of training and test window in SlidingWindowSplitter"
https://github.com/alan-turing-institute/sktime/blob/36f3cb1b96421bb08e041d16949d3d8a9be6f7d8/sktime/forecasting/model_selection/_split.py#L217

Hi,

The last element of training window and first element of test window overlaps here. As a fix, simply -1 can be removed. Bests,

[code]

(array([-20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10,  -9,  -8,
        -7,  -6,  -5,  -4,  -3,  -2,  -1]

[2021-01-19 15:59] Sandy4321 commented on #604
great thanks
only link from paper is broken
https://github.com/alan-turing-institute/sktime/blob/master/sktime/transformers/series_as_features/rocket.py

[2021-01-19 16:33] mloning commented on #604
@Sandy4321 there's a notebook here on ROCKET: https://github.com/alan-turing-institute/sktime/blob/master/examples/rocket.ipynb

[2021-01-19 16:39] TonyBagnall commented on #604
ah good spot, its been refactored, perhaps we can set up a redirect.

[2021-01-20 12:02] koralturkk opened #628 "[BUG] Overlap of training and test window in SlidingWindowSplitter"
**Describe the bug**

`sktime/sktime/forecasting/model_selection/_split.py
`
`Line 217 in 36f3cb1 test_window = split_point + fh - 1
`
The last element of training window and first element of test window overlaps when SlidingWindowSplitter's _split_windows function is called.

**To Reproduce**

[code]

**Expected behavior**

(array([-20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8,
-7

[2021-01-20 12:03] #626 closed

[2021-01-20 14:15] Lovkush-A opened #629 "Forecasting via Reduction to MultiOutput Regression"
Issue to track and discuss the implementation of the forecasting via reduction to multioutput regression.

**Describe the solution you'd like**
I intend to work on this. Presumably it is enough look at similar forecasters, and adjust them appropriately.

**Additional context**
Recommended good first issue in conversation between me and @mloning.

[2021-01-20 17:40] mloning commented on #629
Thanks @Lovkush-A, just saw that there was an issue already (#403) - sorry about that!

[2021-01-20 17:43] mloning commented on #628
Thanks @koralturkk - good catch!

I'm not sure why this isn't caught by the existing unit tests. I'd appreciate a PR and unit test to catch this kind of error for the temporal CV splitters.

[2021-01-20 17:43] mloning commented on #626
Closed in favour of #628

[2021-01-20 17:51] koralturkk commented on #628
@mloning I will take a look into it while I work on the units tests for ExpandingWindowSplitter.

[2021-01-21 10:34] Lovkush-A commented on #403
@mloning Can you assign me to this issue?

[2021-01-21 10:39] #629 closed

[2021-01-24 13:50] ppias opened #631 "[ENH] New classifier - Similarity Forest"
Together with prof. T. Górecki and prof. T. Łuczak we are currently working on adjusting Similarity Forest (proposed by S. Sathe and C.C. Aggrawal [reference](http://saketsathe.net/downloads/simforest.pdf) ) to time series data. It seems to be very fast (~ O(n log(n)/O(log(n) for training/inference) and at the same time more accurate than e.g. TSF. We are going to develop this method and would lik

[2021-01-24 16:41] mloning commented on #631
Hi @ppias - thanks again for reaching out and for creating the issue here! Sounds like a great idea to me! Any thoughts, @TonyBagnall!

[2021-01-25 17:08] TonyBagnall commented on #631
hi, that would be great, we would welcome the contribution

[2021-01-25 22:39] wolfiex commented on #519
The conda install. The file itself seems identical.

[2021-01-26 11:16] ngupta23 commented on #620
Hi @mloning , Thank you for the alternate code for `ReducedRegressionForecaster`. I verified that this alternate (without using `GridSearchCV` in the regressor) works great when using `scikit-learn` based regressors.

However the issue still exists with AutoARIMA since it is essentially an intelligent Grid Search. Do you have an alternate that works for `AutoARIMA` as well?

[2021-01-26 12:10] ngupta23 opened #632 "[BUG] Number of folds reported in ForecastingGridSearchCV seems to be incorrect"
**Describe the bug**
It seems that the number of splits calculation ignores the `initial_window`. In `ForecastingGridSearchCV` since the window data gets appended to the `initial_window`, the number of splits should be far less than the one reported in the example below

**To Reproduce**
[code]

[code]

**Expected behavior**

With an internal window length of 10 being used, I would have expected t

[2021-01-26 12:41] ngupta23 opened #633 "Multi-step forecasting horizons with multiple cutoffs/window"
**Is your feature request related to a problem? Please describe.**
I was wondering if there is a roadmap for addition of multi-step forecasting horizons with multiple cutoffs/window. This will be very helpful for `ForecastingGridSearchCV`

https://github.com/alan-turing-institute/sktime/blob/79ac80ab65adb30fdf233e98433646c1989da2fc/sktime/forecasting/model_selection/_tune.py#L37

**Current**
[code

[2021-01-26 13:47] mloning commented on #519
@wolfiex could you try to create a minimal, reproducible example?

This seems to work correctly for me:
[code]

[2021-01-26 14:18] pabworks commented on #597
I'd like to have a go at this, please!

[2021-01-26 15:34] Lovkush-A commented on #220
Been trying to get my head around .reduce_py, and here are some things that I think could be improved.

* The symbol X refers to two different things: 'exogenous inputs' and 'features in the reduced regression problem'. I think we should use explicit variable names, e.g. could have variable 'regression_features'
* The symbol y refers to two different things: input time series and 'target in the re

[2021-01-26 17:02] mloning commented on #220
I agree with your points: the class structure and variable naming is confusing and hard to understand for new contributors. I'm a bit hesitant about if-statements, mostly because the choice of reduction strategy affects both fit and predict, but I suggest we try it out and see what it looks like.

[2021-01-26 17:06] mloning commented on #632
Yes that's right, good catch! Would appreciate a PR!

[2021-01-26 17:07] mloning commented on #597
@pabworks great - would really appreciate a PR, let us know if you need any help!

[2021-01-26 17:08] mloning commented on #633
Hi @ngupta23, the main problem was the representation of the CV results and aggregation of performance metrics. How would you want the CV results to look like?

[2021-01-26 17:10] mloning commented on #620
@ngupta23 if you do not want to use AutoARIMA, why not use simply ARIMA with a pre-defined grid for hyper-parameters?

[2021-01-26 21:33] ngupta23 commented on #633
Hi @mloning . Thanks for getting back. The basic idea is to have a reference score across a realistic forecast window and multiple folds so that multiple models can be compared and stability of the algorithm can also be tested. So you could simply return the list of metrics across the various folds along with some summary numbers like mean, median and standard deviation (to determine stability of

[2021-01-26 21:36] ngupta23 commented on #620
I was afraid of that :). There are just too many hyperparameter combinations to try with the base ARIMA from `statsmodels`. Let me try it out anyway to see what can be done. Thanks again for your guidance on this.

[2021-01-26 21:36] #620 closed

[2021-01-26 21:37] ngupta23 commented on #632
OK, let me give it a shot and submit a PR.

[2021-01-26 21:47] fkiraly commented on #633
@ngupta23, I am having trouble understanding what you are proposing.

First, are you proposing:
* a tuning method (compositor)
* an evaluation workflow?

Second, the devil is in the detail when you talk about error estimation using re-sample estimates - and it's easy to get confused too.

Would you hence mind to explain precisely the object you are talking about (e.g., proposing), optimally using

[2021-01-26 22:32] ngupta23 commented on #633
Hi @fkiraly

If I understand your question correctly, I am not proposing anything different from what is already there in the flow today. Based on my understanding, the workflow for `ForecastingGridSearchCV` is doing both today - running the model for multiple hyperparameters (tuning) and then selecting the best set of hyperparameters based on the evaluation in the validation period.

All I am ask

[2021-01-26 23:29] ngupta23 commented on #633
Also to clarify further, what I am proposing is similar to what is there in `scikit-learn` [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)

Here is the excerpt from the scikit documentation which shows the mean test scores across the folds along with the standard deviation.

[code]

[2021-01-27 10:10] fkiraly commented on #633
Ok, @ngupta23, so you are simply proposing that it should be possible to tune forecasters on a re-sample set-up where on each validation fold (out of many train/validation folds) you compute more than one ahead forecast?

The parameters for the tuned forecaster then would be selected by a double average, i.e., over folds and individual points in the validation splits?

If yes, that makes sense to

[2021-01-27 11:47] ngupta23 commented on #633
Yes, sort of. I would like to generalize it though and say that the metric (whatever it is - would be some sort of average in most cases) can be calculated on each fold. Then the average of all these fold metrics can be used to select the best hyperparameters of the model.

I got this error when I tried this in the current version.

https://github.com/alan-turing-institute/sktime/blob/79ac80ab65ad

[2021-01-28 11:39] aiwalter commented on #622
@fkiraly thanks for your comment here. Before I start coding, one more question: What is the intention of an additional  `Benchmarking` class? I think what we need as input for a backtest is a splitter (e.g. `SlidingWindowSplitter`), a forecaster, a score function (e.g. `smape_loss`) and the data. So would it be ok to design the interface as I wrote initially?

The data could be given then in `bac

[2021-01-28 14:47] mloning commented on #622
@aiwalter There is also the `benchmarking` module and an example notebook. We separate orchestration (fitting and predicting) from evaluation (metrics, uncertainty estimates, etc). But it currently only works for classification, not forecasting.

[2021-01-28 15:07] aiwalter commented on #622
@mloning ok so in my idea, I planned to also fit/predict on estimators (or grid searches) inside the `Backtest` class to simulate (backtest) the regular workflow. If this is not the intention of your evaluation approach, I might better keep this class private?

[2021-01-28 15:54] fkiraly commented on #622
@aiwalter, @mloning, since the discussion on evaluation/benchmarking vs tuning is quite subtle - how about a phone call plus anyone involved in implementation of tuning compositors, i.e., @ngupta and @pabworks?

Source of the subtleties is that evaluation is done as part of many tuning meta-algorithms.

One possible point of abstraction here is an "evaluation spec" and a "benchmarker"; the "benchm

[2021-01-28 15:56] mloning commented on #622
@aiwalter That's the same idea, the `orchestrator` takes in estimators (be it primitive algorithms or composites) and some CV specification and writes out prediction for each CV fold. The `evaluator` reads in the predictions and actual test data and computes scores, uncertainty estimates, statistical tests, etc.

 @fkiraly Happy to have a call

[2021-01-28 15:56] fkiraly commented on #622
aim of the call would be to agree on interface designs for benchmarking and tuning, as well as to discuss how to "pin down" the mathematical issues here, e.g., formal content documentation of "what".

[2021-01-28 16:30] aiwalter commented on #622
@fkiraly  @mloning just let me know about the call and I will try to join

[2021-01-28 16:35] ViktorKaz commented on #622
happy to have a call to discuss this.

[2021-01-28 17:13] pabworks commented on #622
Also happy to jump on a call for this discussion.

[2021-01-29 09:12] ngupta23 commented on #622
@fkiraly , I will be happy to get on a call to discuss this as well.

[2021-01-29 12:48] fkiraly commented on #622
find a time on slack? @mloning, @pabworks, @ngupta23, @aiwalter, @viktorkaz

[2021-01-29 15:13] koralturkk commented on #628
@mloning This issue should be closed, I have misinterpreted the flow. The issue I have pointed out does not cause a flaw in the algorithm.

[2021-01-29 15:13] #628 closed

[2021-01-29 17:04] pabworks commented on #622
I do not believe I am part of this Slack channel - @mloning, I have sent you my personal email on Gitter. If you could please add me to the Slack channel, that would be much appreciated!

[2021-01-29 17:17] mloning commented on #622
Created a discussion on slack to find a time that works for everyone - let me know if you're not on slack or send me a private message on Gitter.

[2021-01-29 20:25] aiwalter commented on #603
I am working on this!

[2021-01-29 20:31] TonyBagnall commented on #596
update on this. @goastler has added a Euclidean distance function so Euclidean distance for KNN in PR #636 so issue
#551 should be fixed. We are currently assessing the structure of our distance functions to make them more sklearn compatible. Currently, series need to be transposed prior to the distance call. This is because vectorised operations require Fortran style matrices. However, it makes t

[2021-01-30 14:14] #604 closed

[2021-01-30 14:47] TonyBagnall commented on #596
to do plan:
1) unit tests for all distance functions, sanity checked vs tsml implementations
2) test parameter setting for MSM to address #589
3) test usage with cross validation
4) speed test vs other packages
5) address possible issues with PF

[2021-01-30 18:24] RNKuhns commented on #543
The loading_data.ipynb in examples has been updated based on the work in pull request #553. There is now additional functions to convert between a variety of data formats and the nested format currently used by sktime.

[2021-01-31 15:56] bradyneal commented on #345
Any chance there's an ETA on this? This seems like a pretty essential feature for people deciding which forecasting library to use.

[2021-01-31 16:52] isma3ilsamir opened #640 "[BUG] Fitting errors using WEASEL"
**Describe the bug**
I am trying to train `WEASEL` on different datasets, but I seem to get errors on many of them. Below is a table with the names of datasets that failed and their corresponding errors.

There seems to be 2 main errors
 * NO matching definition for argument type(s) readonly array(float64, 1d, C), int64, int64, array(float64, 1d, C)
 * Input contains NaN, infinity or a value too l

[2021-01-31 18:42] mloning commented on #640
Thanks @isma3ilsamir for raising the issue!

Current implementations cannot handle missing values as far as I know. I'll also ping @patrickzib the author of WEASEL.

[2021-01-31 23:14] AidenRushbrooke commented on #596
Regarding issue #413, I belive this is being caused by the cython distance function dtw_distance expecting the time series in the form (l,n), but currently they are being passed as (n,l), where l is the size of the time series and n is the number of dimensions. At least this is the case for the dataset used in the initial issue, and a few others I tested. This can be corrected using numpys transpo

[2021-02-01 08:27] patrickzib commented on #640
Thank you. It seems to be a bug related to the Numba-signatures of the methods. I will look into it.

[2021-02-01 10:10] goastler commented on #596
I'll take (1) and (2) for this week. Hopefully fixing any discrepancies in the distance measures should solve (5) as well :)

[2021-02-01 11:30] Leonardbcm opened #641 "Converting data to nested dataframe."
Hi everyone,

Im am trying to use sktime for time series forecasting. I have a stream of multivariate data with a daily granularity and the objective is to produce a forecast everyday for the next one.
My data is formated the following way : each column represent a feqature of the multivariate time serie, and each row is a timestamp.
I want to convert it into a nested dataframe. I can do this manu

[2021-02-01 16:08] patrickzib commented on #640
@mloning :

There are .ts files in the default distribution of sktime for the PLAID, etc datasets. However, after loading these with:

[code]

I do get an error in
[code]

[code]

It seems like variable length in combination with check_X_y is not supported?

[2021-02-01 16:37] patrickzib commented on #640
@mloning
These errors are easily fixable:
`"NO matching definition for argument type(s) readonly array(float64, 1d, C), int64, int64, array(float64, 1d, C)"
`
However, this one requires data-manipulation:
`"Input contains NaN, infinity or a value too large for dtype('float64')"
`
It can be fixed by:
`        X = np.nan_to_num(X)`

But I do not want to add this in WEASEL. Maybe this should be handl

[2021-02-01 17:50] mloning commented on #640
Yes, thanks @patrickzib for looking into this. I'm not too with these data sets, but if the problem is that they are variable-length and/or contain missing values, I agree that we should check this in a globally defined function for input checks and raise more informative errors.

[2021-02-01 17:56] mloning commented on #641
Hi @Leonardbcm thanks for raising the issue. A few question to better understand what you're trying to do:

* Are you trying to forecast all series simultaneously, or only a single series using the information from the other series as exogenous variables?
* In the sample data, what do the `day_1`, `day_2` columns represent? Are they some lagged values for some variable?

For forecasting, you proba

[2021-02-01 18:08] mloning commented on #345
Hi @bradyneal, yes I agree! Do you want to take a look at this? What other libraries are you considering?

[2021-02-01 19:06] mloning opened #644 "Rename master branch to main"
I suggest to rename our current `master` branch to the new GitHub standard name `main`.

More details on why and what has to be done here: https://github.com/alan-turing-institute/the-turing-way/issues/1210

[2021-02-01 20:21] bradyneal commented on #345
Maybe in the future (lots of uncertainty), but not right now, unfortunately. PyTorch Forecasting, GluonTS, and NeuralProphet. From a preliminary look, `sktime` seems the best in terms of how well designed it is, its broad scope, and lots of great classical forecasters :), but not in other aspects such as exogenous data support (beyond AutoARIMA), more advanced hyperparameter tuning, and SOTA neura

[2021-02-01 21:09] mloning commented on #345
@bradyneal yeah, I agree, still early days for sktime and lots of work to be done.

[2021-02-02 06:02] bradyneal commented on #345
Simple integration with a more efficient hyperparameter tuning library such as Optuna (e.g. PyTorch Forecasting does this). Random search is nice to have over grid search, but I don't think either of them really compare to more modern hyperparameter tuning algorithms. However, I don't think sklearn even has this integration.

[2021-02-02 07:16] Leonardbcm commented on #641
Hi and thanks for your answers. I will clarify my problem.

I am trying to forecast only one of the series using all other series AND the one I want to forecast. Let's say I want to forecast the serie 'FR_consumption_mean', I can use the information from 'day_1', 'day_2', etc... from the same and previous rows and the preivous values of 'FR_consumption_mean'.

Yes, more precisly they consist in th

[2021-02-02 08:35] mloning commented on #345
Interesting, wasn't aware of Optuna, will take a look!

[2021-02-02 08:39] mloning commented on #641
When you want to forecast only a single series but use multiple other related series, we'd call this univariate forecasting with exogenous variable, terminology is ambiguous here. Multivariate forecasting we'd call the problem of forecasting multiple series simultaneously.

We do support univariate forecasting with exogenous variables, at least some methods do. Check out `AutoARIMA` for example. M

[2021-02-02 09:11] Leonardbcm commented on #641
Ok thanks a lot for your answer. I will keep an eye on the repo to check for further developpement.

[2021-02-02 09:11] #641 closed

[2021-02-02 14:17] goastler opened #645 "[BUG] Variable length time series throw an error in DTW in elastic.py"
**Describe the bug**
In elastic.py, the vanilla python implementation of DTW apparently doesn't handle variable length time series properly. I believe it assumes the cost matrix is square, which it will not be for time series of different lengths. https://github.com/alan-turing-institute/sktime/blob/74c14cbdf01f5acb55294f69738e03facf09c80f/sktime/distances/elastic.py#L54

**Expected behavior**
The

[2021-02-02 14:23] goastler opened #646 "Distance measure unit testing"
**Is your feature request related to a problem? Please describe.**
Distance measures are currently not tested, both python or cython implementations. This leads to bugs like #645 and #596

**Describe the solution you'd like**
For every distance measure, a corresponding unit test should be made to check known inputs against known outputs. This will a) test whether the distance measures are working

[2021-02-02 15:00] juanitorduz commented on #552
Thank you @koralturkk for https://github.com/alan-turing-institute/sktime/pull/627 :)

[2021-02-02 15:27] 96RadhikaJadhav commented on #644
@mloning In which files we need to rename it can you please mention?

[2021-02-02 15:35] mloning commented on #644
Hi @96RadhikaJadhav - take a look at the linked issue from The Turing Way, they provide all the details. In terms of in file references to `master`, I'd do a search over the entire repository to find out where we refer "master". Does that help?

[2021-02-02 15:47] mloning commented on #552
Closed by #627 - thanks @koralturkk - much appreciated! 🎉

[2021-02-02 15:47] #552 closed

[2021-02-02 19:58] mloning opened #647 "Change update method"
**Is your feature request related to a problem? Please describe.**
https://github.com/sktime/enhancement-proposals/pull/8

**Describe the solution you'd like**
The `update` method should
* change to `update_params=True` as default,
* implement a complete re-fit in the base forecaster as a fall-back option if not overridden in concrete implementations, but raise a warning if fall-back option is use

[2021-02-02 20:00] mloning opened #648 "Implement function for model evaluation in forecasting"
**Is your feature request related to a problem? Please describe.**
https://github.com/sktime/enhancement-proposals/pull/8/
#622
#64

**Describe the solution you'd like**
A function to evaluate a forecaster, something along the following lines:

[code]

I'll ping you @ViktorKaz as you've worked on this before.

[2021-02-02 20:06] mloning opened #649 "Extend `ForecastingGridSearchCV` to different CV strategies"
**Is your feature request related to a problem? Please describe.**
https://github.com/sktime/enhancement-proposals/pull/8/, #622, #64

**Describe the solution you'd like**
Add support for different temporal cross-validation (CV) strategies, this requires to:
* add kwarg to constructor (`__init__`) of `ForecastingGridSearchCV` to specify CV strategy with possible values being ("refit", "update"), w

[2021-02-02 20:10] mloning opened #650 "[DOC] Update example notebook for forecasting for tuning and model evaluation"
#### Describe the issue linked to the documentation
After implementing #647, #648 and #649 we need to update the forecasting tutorial to better describe the user journey and different available options.

[2021-02-02 21:54] fkiraly opened #651 "Implement Multiplexer"
**Is your feature request related to a problem? Please describe.**
Arising from the call on Feb 2 on forecasting model selection & evaluation.

The multiplexer is a component that allows easy tuning for selection over a list of estimators with potentially distinct parameters

**Describe the solution you'd like**
The high-behaviour is as follows.

The multiplexer takes a named list (dict) of compon

[2021-02-02 22:02] fkiraly opened #652 "Behaviour modifying compositors for forecasting"
**Is your feature request related to a problem? Please describe.**
Indirectly arising from discussion on Feb 2, it might be useful to implement wrapper compositors that modify the behaviour of fitting/updating:
* "sliding window update modifier" - wraps a `Forecaster` and replaces `update` of the wrapped estimator with a sliding window re-fit. Hyper-parameters are sliding window parameters.
* "re-

[2021-02-02 22:02] fkiraly commented on #652
@aiwalter, @mloning, would be interested in your opinion.

[2021-02-02 23:02] fkiraly commented on #647
... and retain current behaviour if `update_params=False`.

[2021-02-02 23:03] fkiraly commented on #649
I'll also write up the different implemented algorithms in pseudocode as a reference for clarity.

[2021-02-02 23:55] fkiraly commented on #622
So, to recapitulate what I've understood how we've resolved this in https://github.com/sktime/enhancement-proposals/pull/8:
* there should be a standalone function "evaluate" or similar for "quick and dirty" evaluation - this includes backtesting as a special case. Exact signature tbd, @aiwalter can make a proposal.
* separately from that, there will be advanced benchmarking/inspection functionali

[2021-02-03 08:46] mloning opened #653 "Cross-learning forecasters"
**Is your feature request related to a problem? Please describe.**
Many forecasters require exogenous data for the forecasting horizon when generating predictions, however some models can make use of information across multiple series in training without requiring other series in prediction.

This is sometimes called "cross-learning", e.g. search for "cross-learning" in https://arxiv.org/pdf/2012.

[2021-02-03 08:48] mloning commented on #653
Would be interested to hear your opinion @fkiraly, I remember we discussed this before, there may be a need to further distinguish scitypes of input arguments (e.g. "observed only up to the cutoff point", "observed in the future") in forecasting.

[2021-02-03 10:19] aiwalter commented on #622
@fkiraly this looks fine to me. Regarding backtesting, this would work with `evaluate()`. Important would be what this function is returning. As it is not a class, it would probably have to return a `pd.DataFrame` directly instead of `gscv.cv_results_` as in `ForecastingGridSearchCV`.

I would propose at least the following columns of the `DataFrame`:
- All columns of  `gscv.cv_results_` (maybe no

[2021-02-03 11:20] fkiraly commented on #622
Hm, @aiwalter, that doesn´t quite seem to fit when I think through this, since you may nave more predictions `y_train` than `cutoff`s, if you make multi-step-ahead predictions? So the different columns would have different lengths?

It also sounds like you actually want a luxury version since you want to create plots.
How about a compromise - class but with default behaviour that gives you the "sh

[2021-02-03 11:52] aiwalter commented on #622
@fkiraly at Mercedes we say "The best or nothing", and its all about luxury 😄 . And `sktime` fits to this slogan as well.
I would appreciate going for a class. We are more flexible in what we return, as we can store stuff just in `self ` and the user can pick what he wants to.

[2021-02-03 13:34] mloning commented on #345
Perhaps we should make the reduction compositor more pipeline like, allowing users to pass transformers to specify how to transform the data. This way we could also handle different transformations for different (exogenous) variables.

Something like this:
[code]
Together with series-to-tabular transformer type for the sliding window stacking transformation.

[2021-02-03 15:00] mloning commented on #622
I would start with a stand-alone function and simply return multiple output objects.

Once this is working we can integrate into a more extensive benchmarking module. For this, I'd suggest we go with the current design in the benchmarking module, separating concerns of (i) model fitting and prediction (orchestration) and (ii) analysing/evaluating/comparing results (evaluation).

[2021-02-03 15:17] mloning commented on #652
Sounds interesting, they could be combined into a "conditional refitter" with different options for what the condition is, i.e. in case 1 it's always true, in case 2 it's some duration threshold, in case 3 some error threshold.

The condition could perhaps even be expressable as an estimator itself (think anomaly detector) - similar to the syntax and composition tools you find in [adtk](https://ad

[2021-02-03 16:26] Lovkush-A commented on #220
Copying this comment about possible refactoring of reduction forecaster, by @mloning from issue about exogenous variables.

[2021-02-03 16:41] mloning commented on #650
We should cover the following use cases:

## 1. Single fixed cut-off forecasting
* single prediction

## 2. Moving cut-off forecasting
* most common deployment case
* updating
* online learning
* requires more dynamic update-and-predict routines

## 3. In-sample prediction

## 4. Evaluating forecasts
* Sliding window evaluation
* dynamic update-and-predict routine

## 5. Composite forecasters
###

[2021-02-03 17:41] fkiraly commented on #345
Hm, why would you want to do this instead of `ReducedRegressionForecaster(Pipeline(stuff))` where `Pipeline` is directly from `sklearn`?

[2021-02-03 17:48] fkiraly commented on #622
Alright, @mloning, after some thinking I agree with you:

let's go with the standalone function first, no bells and whistles, no luxury functionality.
In a second step we work on the benchmarking module, which has nice plotting, hypothesis testing, etc.

Otherwise we risk creating a halfway monstrosity, falling into a "feature proliferation" trap too early.

What do you think, @aiwalter?
After all

[2021-02-03 17:50] fkiraly commented on #652
@mloning, yes, your idea sounds like an improvement over mine. Perhaps one "conditional refitter (simple)" and one "pipeline conditional refitter (adtk style)"?

[2021-02-03 19:59] aiwalter commented on #622
Ok, lets go then for now for the function as I am also a fan of keeping things simple. The plot is actually a nice to have, and might be just added to a notebook and not be part of the  `sktime` packe. Anyway, I might try to add an optional return argument to return the data that is required for the plot.

[2021-02-03 22:23] fkiraly commented on #622
I've thought about that, but the problem that poses is that it is not intuitive that the return is a tuple if the user doesn't need the optional return. A compromise might be sth like `return_predictions` and only if this is `True` the return is multiple.

[2021-02-03 23:50] aiwalter commented on #622
yes, default would not return a tuple. Same as with `predict()` and `predict(return_pred_int=True)`

[2021-02-04 11:37] goastler opened #654 "[BUG] Derivative based distance measures error out"
**Describe the bug**
WDDTW and DDTW both error out due to improper usage of numpy's diff operation. Note this only affects the python implementations of these distances - the cython versions do not have this error.

**To Reproduce**
Run either WDDTW or DDTW with two numpy multidimensional time series arrays (i.e. two 3d arrays).

`derivative_dtw_distance(np.array([[1,2,3],[4,5,6]]), np.array([[7,8

[2021-02-04 12:04] goastler opened #655 "[BUG] ERP in cython produces an error"
**Describe the bug**
ERP produces an error on the cython version, complaining about the `ll` variable. Likely a problem with multiple dimensions.

**To Reproduce**
erp_distance(np.array([[1, 2, 3], [4, 5, 6]]), np.array([[7, 8, 9], [10, 11, 12]]))

(make sure to import the cython version! The python version is fine!)

**Expected behavior**
No error.

[2021-02-04 12:20] mloning commented on #345
@fkiraly that wouldn't work, because you need the sliding-window transformation to go to the tabular format required for the sklearn pipeline. The regressor itself could of course be a sklearn pipeline.

[2021-02-04 12:24] mloning commented on #640
Closed by #642

[2021-02-04 12:24] #640 closed

[2021-02-04 21:25] fkiraly commented on #622
makes sense to me.

It would be great if you could focus on implementing the core functionality though (e.g., make partial PR without the extra functionality), since we decided to make implementation of grid & random CV a conditionality.

[2021-02-06 07:17] pabworks commented on #647
To clarify on this @mloning, this is `update_params=True` by default for **all** forecasters?

[2021-02-06 10:35] mloning commented on #647
Hi @pabworks, thanks for starting to work on this! Yes, it applies to all update related methods. I think that once we change that we also need to implement refitting as the fall-back option and adjust the unit tests accordingly.

I think we should deprecate `update_predict` once `evaluate` works (it basically does the same), and rename `update_predict_single` to `update_predict`. Those changes ma

[2021-02-06 11:45] fkiraly commented on #647
Actually, I disagree to deprecate `update_predict` depending on cv, simply since there are method specific efficient rolling prediction strategies.

Having said that, I now also think `evaluate` should simply call `update_predict`.

[2021-02-06 14:25] mloning commented on #647
@fkiraly I understand that there are more efficient algorithms for a single update-predict step. Can you point me to an example for more efficient algorithms for multiple iterations that depend on CV?

[2021-02-06 15:03] pabworks commented on #597
@mloning I think we can mark this as Closed now - apologies, I used the wrong keyword on the PR (🤦‍♂️) so this did not close automatically

[2021-02-06 15:12] mloning commented on #597
No worries @pabworks - closed by #634

[2021-02-06 15:12] #597 closed

[2021-02-06 15:21] mloning opened #662 "Binder build fails"
Binder seems to fail at the moment (thanks to Ammo for raising this issue on Discord), seems like one of the dependencies installations goes wrong.

Perhaps we should add Binder to our CI to check if it builds (see #196).

[2021-02-07 01:39] isma3ilsamir commented on #155
It seems that this was discussed before, but PF seems always to use **only 2 CPUs** during the training and predicting processes. No matter what value is passed to the `n_jobs` parameter. it is always the same performance on my side.

Am I missing something here ??

[2021-02-07 01:46] isma3ilsamir opened #663 "[BUG] Proximity Forest always using 2 processors"
I know PF performance was discussed before in #155 , but PF seems to be very slow and always uses only 2 Processors during the training and predicting processes.

No matter what value is passed to the n_jobs parameter. it is always the same performance on my side.

Am I missing something here ??

[2021-02-07 15:47] ayan-biswas0412 commented on #644
@mloning Can I do it ? Can I Make a PR after necessary changes ??

[2021-02-07 16:03] mloning commented on #644
Hi @ayan-biswas0412, let's check: @96RadhikaJadhav are you still working on this? If not, @ayan-biswas0412 can do it!

[2021-02-07 16:04] aiwalter commented on #69
solved by #637 . I think it can be closed then.

[2021-02-07 16:04] aiwalter commented on #603
@zhenlingcn solved by #637 . I think it can be closed then.

[2021-02-07 16:05] ayan-biswas0412 commented on #644
@mloning I have a question just for my knowledge enhancement , what I have to do with the script which is given in your mentioned link, that python script https://gist.github.com/sgibson91/44a1c3a6bbf34257dbdbb621a98dab0d , Can you please solve my doubt

[2021-02-07 16:59] MuslimBeibytuly opened #664 "Add support for Python 3.9"
**Is your feature request related to a problem? Please describe.**
It would be great if this package supported python3.9 since it's production-ready

**Describe the solution you'd like**
Adding it to github action to upload pypi

[2021-02-07 17:44] 96RadhikaJadhav commented on #644
@mloning  For now, I'm bit busy with other issues. It may take some time for me to grab this one. Meanwhile, @ayan-biswas0412  you can work on it if you want.
Thank You.

[2021-02-07 17:51] ayan-biswas0412 commented on #644
great I can do it but @mloning for changing the base branch I think I have to get the repository access as contributor

[2021-02-08 01:01] fkiraly commented on #644
@ayan-biswas0412, I think we can simply use the "rename" option that is also mentioned in the link - the readme asserts that this will also rename all references incl PR targets.
https://github.com/github/renaming#renaming-existing-branches

@mloning, that´s a one-click-thing in the admin config, can you confirm that it looks to you as well that we don´t need any help for this (since it´s a one-bu

[2021-02-08 01:16] fkiraly commented on #644
... anything about the CI set-up that will break, maybe?

[2021-02-08 07:18] sparkingdark commented on #242
Are we going to create a classifier for binned data or want to create bin in graphs @mloning

[2021-02-08 09:14] ayan-biswas0412 commented on #644
I also feel same like you that it is a one click action in the admin config

[2021-02-08 09:36] mloning commented on #644
As Sarah summarised in the linked issue: Things that the new feature won't do:

- [ ] Rewrite our CI files to the correct branch
- [ ] Update any docs

So as suggested above, I'd do a search over the entire repository to find out where we refer "master" and replace that with "main".

I'm happy to make the changes in the repo settings that require admin access.

[2021-02-08 09:38] mloning commented on #69
Thanks @aiwalter

[2021-02-08 09:38] #69 closed

[2021-02-08 09:38] #603 closed

[2021-02-08 09:39] ayan-biswas0412 commented on #644
I can do the changes in the entire repo and change the master to main , please can I do that ? I will be highly obliged

[2021-02-08 09:46] mloning commented on #647
If there are only a few special cases, I'd prefer having separate classes for this (e.g. `ARIMACV`) and keeping the base forecaster as simple as possible. Having an `update_predict` method for a single update-predict step is, however, important I think as that may be used in deployment too.

[2021-02-08 09:48] mloning commented on #644
@ayan-biswas0412 Sure, I'd start with the docs (including docs like CONTIRBUTING.md) and open a PR to see if everything passes. Changing the CI files will likely break the CI on the PR, so let's start with the docs.

[2021-02-08 09:51] mloning commented on #664
Hi @MuslimBeibytuly - yes adding support for 3.9 would be great!

It depends if all our dependencies already provide support for 3.9. The other question is if the manylinux containers already support 3.9.

[2021-02-08 09:51] TonyBagnall opened #666 "[BUG] fbprophet installation error on Windows"
I reinstalled on a windows machine and had trouble with fbprophet when installing the soft dependencies

![image](https://user-images.githubusercontent.com/9594042/107203282-23970000-69f3-11eb-9661-33479c7a9423.png)

[2021-02-08 10:26] ayan-biswas0412 commented on #644
@mloning can you review by PR #667

[2021-02-08 13:06] fkiraly commented on #647
First, let me say that I don't think this is the *only* criterion here, as you may be implying.

I do think two things are relevant for this decision:
* whether there exists a single example where the implementation is different
* whether a shorthand is useful to the user

Even if the first wouldn't be the case, I'd still think there is a strong case through the second, as it would be the only pat

[2021-02-08 13:10] fkiraly commented on #647
FYI, the "update sample mean update" is $X\leftarrow X + \frac{X_{N+1}-X}{N+1}$ if you add a new sample data point $X_{N+1}$.

[2021-02-08 15:51] mloning commented on #662
For running repo2docker as a GitHub action, see e.g. here: https://github.com/alan-turing-institute/bridge-data-environment/blob/master/.github/workflows/repo2docker.yml

[2021-02-08 16:01] mloning commented on #647
What's the use case here that's not covered by the `evaluate` function?

[2021-02-08 16:07] mloning commented on #242
@sparkingdark this is meant to be a transformer for binning time series data.

[2021-02-08 16:28] sparkingdark commented on #242
Is this up for working

[2021-02-08 17:04] fkiraly commented on #647
Both cover the use case, but the process of getting walk-forward predictions via `evaluate` is much more byzantine - not attached to the object you would expect "does" it (producing prediction is "the forecaster's business) and hidden behind column name and non-default parameter. Most users would probably not see it and find the externality particularly strange.

[2021-02-09 10:38] aiwalter commented on #666
@TonyBagnall installing `fbprophet` on windows is a bit tricky, I decided to use miniconda to get it running. Can you try the following in sequence:

[code]
So generally, this issue is not directly related to `sktime`.

[2021-02-09 10:38] MJimitater commented on #159
Thanks for this great repo! Has HIVE-COTE already been implemented/merged to master branch?

[2021-02-09 13:04] MJimitater commented on #159
All good, I saw the imlementation [here](https://github.com/alan-turing-institute/sktime/blob/db86ed7a0c63599e26deb86d0bc03422e1bb8f8e/sktime/classification/hybrid/_hivecote_v1.py) 👍

[2021-02-09 14:46] mloning commented on #242
In principle yes, but there are some complications around the data container. You can give it a try focusing on 3d numpy arrays where you would up/down sample the third dimension (time points).

[2021-02-09 15:13] sparkingdark commented on #242
Okay basically  I can assume it as a f(x,y,time)

On Tue, Feb 9, 2021, 20:17 Markus Löning <notifications@github.com> wrote:

[2021-02-09 17:45] jjaakko opened #668 "[BUG] ImportError: cannot import name 'ReducedRegressionForecaster' from 'sktime.forecasting.compose'"
**Describe the bug**
Trying to run the first code cell of https://github.com/alan-turing-institute/sktime/blob/master/examples/01_forecasting.ipynb in jupyter lab results in error.

[code]

**To Reproduce**
- pip install sktime matplotlib jupyterlab pmdarima
- jupyter lab
- run the first cell

**Expected behavior**
The code cell runs without errors.

**Versions**
python 3.8.6

System:
    python:

[2021-02-09 18:33] shivaniarbat opened #6607 "[ENH] Inverse VMD"
Hi @vrcarva. This is really helpful. Any leads on doing inverse VMD ?

[2021-02-10 10:04] aabanda opened #669 "TSF importance curve normalization (remove bias)"
**Is your feature request related to a problem? Please describe.**
The TimeSeriesForestCLassifier computes the importance curve for each of the extracted features in each time index. However, as the authors point out "different time indices are associated with different numbers of intervals", and, in particular, "the indices in the middle have more intervals than the indices on the edges of the ti

[2021-02-10 12:41] fkiraly commented on #669
@aabanda, this sounds like an interesting and good idea.

However, what I'm wondering: is this not original research rather than just a simple improvement to an existing algorithm? In which case it might be appropriate to primarily write it up as a research paper, "correcting interval sampling bias in time series forest classifier importance curves" or sth like that?

Since if you just fix it in t

[2021-02-10 13:53] TonyBagnall commented on #669
hi amaia, this issue came up with our other interval classifiers, @MatthewMiddlehurst may remember the context? I think the feature importance stuff is his. I think having this as an option would be good, but perhaps discuss on slack first? I'm not on top of this code myself

[2021-02-10 15:43] mloning commented on #668
Please run `git checkout v0.5.2`

[2021-02-10 15:45] mloning commented on #242
For panel data in the 3d numpy format, it's `(n_instances, n_variables, n_timepoints)` - this describes the panel data version of the familiar feature matrix `X` from scikit-learn.

[2021-02-10 19:03] hassan-jvd90 commented on #588
@mloning , I am a newcomer to sktime and I would also like to contribute to the project. Since, this is open, can I take this up?

[2021-02-11 10:38] mpindado opened #670 "[BUG] Wrong Forecast calculation on freq values not 1"
**Describe the bug**
Hi! I have just come upon sktime and performing a quick test on ExponentialSmoothing with 15 minute data (freq="15T") the prediction raises an exception, however, when using 1-frequencies (1T, 1H) etc the program seems to work.

I think this is somehow related to issue #534.

**To Reproduce**
[code]

**Expected behavior**
Prediction should work.

**Additional context**
So debu

[2021-02-11 11:08] aabanda commented on #669
@fkiraly @TonyBagnall I agree, let's discuss it on slack

[2021-02-11 15:19] mloning commented on #670
Hi @mpindado - thanks for raising the issue and looking into this! I'd appreciate a PR!

[2021-02-11 15:21] mloning commented on #588
Hi @hassan-jvd90, great, yes your contribution would be very welcome! We'd aim to reuse as much functionality from pandas/statsmodels as possible.

[2021-02-11 22:05] RNKuhns opened #671 "Add Additional Forecasting Evaluation Functions/Classes"
Sktime's forecasting performance metrics currently only cover a limited number of metrics discussed in the forecasting literature.

I propose to add the metrics discussed in: [Another look at measures of forecast accuracy](https://www.sciencedirect.com/science/article/abs/pii/S0169207006000239), which has a nice discussion of different metrics for evaluating forecast accuracy.

I also propose addi

[2021-02-12 11:46] aurelije opened #673 "[DOC] alpha value in forecasting notebook"
#### Describe the issue linked to the documentation

Hello,
In https://github.com/alan-turing-institute/sktime/blob/master/examples/01_forecasting.ipynb on "In [43]:"  line 6 it is written:
`alpha=0.2,`
but from graph and previous input alpha is 0.05

#### Suggest a potential alternative/fix

Just set alpha to 0.05

[2021-02-12 13:32] MJimitater opened #674 "[BUG] HiveCote output"
**Describe the bug**
Fitting hive-cote model gives unrecognizable number outputs and doesn't finish executing, even on a small dataset.

**To Reproduce**
Run fit with a small dataset (mine is 500x10), I interrupted after 30 hours on this small dataset.

[code]

**Expected behavior**
An understandable output and a sense of progress, e.g. passing a ```verbose=True``` argument.

**Further details**:

[2021-02-12 13:44] mustafaaydn commented on #673
Hi, that `alpha=0.2` is actually a plotting parameter for [`matplotlib.axes.Axes.fill_between`](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.axes.Axes.fill_between.html) that controls the transparency of the shaded area and is therefore different than the `alpha` used in the prediction interval terminology.

[2021-02-12 14:09] mloning commented on #673
Yes, that's right @mustafaaydn, thanks for helping out.

I'll close this for now, @aurelije, let me know if you want this to be reopened.

[2021-02-12 14:09] #673 closed

[2021-02-12 14:14] mloning commented on #674
@TonyBagnall @MatthewMiddlehurst can you look into this please when you have time?

I don't think it's a good idea to move things out of contrib if they do not pass the basic tests ("HIVECOTEV1" is currently excluded [here](https://github.com/alan-turing-institute/sktime/blob/45d88931288f076f7e42043399567b77130406b2/sktime/tests/_config.py#L82)). Was there any issue with the test why HIVECOTE coul

[2021-02-12 14:16] mloning commented on #671
Thanks @RNKuhns - this looks great! Let's reuse as much of scikit-learn's functionality as possible.

[2021-02-12 15:13] TonyBagnall commented on #674
I think we need to move this back to contrib to debug it! I would recommend using Rocket for now, its very fast and not significantly less accurate than HiveCote 1.0 on the UCR data

[2021-02-12 15:21] mloning commented on #674
Thanks @TonyBagnall for the quick reply!

@MJimitater if you're interested in looking into this to find out what has gone wrong, that'd be much appreciated too!

[2021-02-12 15:27] MatthewMiddlehurst commented on #674
Agreed with @TonyBagnall , I think i moved this out of contrib but should not have done. I am not familiar with the ShapeletTransformClassifier, but if I was to guess the problem with be here. It is contracted for an hour (so are each of the cross-validation classifiers) so it should be taking the majority of the time. No idea what those value outputs are but will take a look.

When it comes to te

[2021-02-12 16:24] luiszugasti opened #675 "[BUG] Cannot make docs on Windows 10"
**Describe the bug**
When attempting to build the documentation for `sktime`, `make` complains that it cannot find the ./symlink_examples.sh file.
Hence, Sphynx cannot create the docs on Windows 10.

**To Reproduce**
1. Navigate to the root directory of the project and instantiate a conda environment (`conda activate sktime`).
2. Enter in the command line: `make docs`.
3. View the [error](https://

[2021-02-12 17:08] mloning commented on #674
@MatthewMiddlehurst yes I was worrying about run time too, including it without tests isn't great either, not sure what the best solution is.

[2021-02-12 17:12] mloning commented on #675
Thanks @luiszugasti for raising the issue! I don't have access to a Window machine, so I'd really appreciate it if you want to debug this! This might help: https://stackoverflow.com/questions/33674973/makefile-error-make-e-2-the-system-cannot-find-the-file-specified

[2021-02-12 17:22] TonyBagnall commented on #663
I'll tag @goastler in this

[2021-02-12 17:41] luiszugasti opened #677 "[BUG] sktime Installation fails on Windows 10 due to OpenMP error"
**Describe the bug**
When following the steps from https://www.sktime.org/en/latest/installation.html#windows, the installer complains that the folder /openmp is not accessible and quits.

Currently, I have

**To Reproduce**

1. Follow steps one thru six of the attached documentation link.
2. Before running pip install --verbose, run `conda install fbprophet`. If  I don't do this, I get weird erro

[2021-02-12 17:42] luiszugasti commented on #677
Here is the output from running `pip install --verbose --no-build-isolation --editable .` without disabling OpenMP, and after line 165, shows output of running the same command with OpenMP disabled.

[2021-02-12 19:12] luiszugasti commented on #675
That SO answer is a little related, I find, because in that user's case, the command their system runs is "pscp". To be more specific, the make command is `pscp blob.txt username@hostname:/folder/`.

In my case, it's `bash C:\Users\Luis\Projects\sktime\docs\symlink_examples.sh`, where the command is "bash". But bash is Windows Subsystem!

I will have to look more into this.

[2021-02-12 22:13] ayan-biswas0412 commented on #348
@mloning can I work on this ? Can you give me some more info such that I can start my work , this project is very interesting and I am loving it.
Previous [PR](https://github.com/alan-turing-institute/sktime/pull/667) is passing all the tests now so I can move to a new work , Can you assign me in this

[2021-02-12 22:53] mloning commented on #677
The problem may be that fbprophet installs a different compiler. Try this:
[code]

[2021-02-12 22:57] mloning commented on #348
Hi @ayan-biswas0412 yes sure:

There are different ways to represent panel data:
* 3d numpy arrays with shape (n_instances, n_variables, n_timepoints)
* nested pandas
* long format

You can find different conversion functions to move between these formats here: https://github.com/alan-turing-institute/sktime/blob/master/sktime/utils/data_processing.py

In the tutorial, we need to explain each form

[2021-02-12 23:11] mloning commented on #644
From: https://docs.github.com/en/github/administering-a-repository/renaming-a-branch

After you rename a branch in a repository on GitHub, any collaborator with a local clone of the repository will need to update the clone. From the local clone of the repository on a computer, run the following commands to update the name of the default branch:
[code]

[2021-02-12 23:45] ayan-biswas0412 commented on #644
@mloning do I need to do anything more in my PR ? or it is fine now

[2021-02-12 23:46] ayan-biswas0412 commented on #348
Thank you for your guidance I will look into it definitely

[2021-02-13 14:01] MatthewMiddlehurst commented on #674
Yeah that really should not have been outside contrib! I have made a number of fixes and additions to the HC1 class. I'm happy to keep it where it is with these changes.

I have included a verbose setting to give periodic progress updates as suggested, as well as a n_jobs parameter to make use of multiple threads where applicable (mainly the cross-validation).

Testing remains an issue, I have set

[2021-02-14 09:05] mloning commented on #644
PR looks good, thanks again @ayan-biswas0412, we just need to find a good time to make the change.

[2021-02-14 09:52] mloning commented on #345
@Lovkush-A here's some code how we could handle exogenous variables in the sliding-window transformation, it also speeds up the transformation.

[code]

[2021-02-14 13:03] ngupta23 opened #682 "Order of X and y arguments in fit methods"
**Is your feature request related to a problem? Please describe.**

Most of sklearn compatible `fit` methods are called using X, y order

[code]

If the `_final_estimator` is a sktime model, this causes an issue since the X and y arguments get reversed because sktime `fit` methods are called using y, X argument order (reverse of sklearn and sklearn compatible libraries).

[code]

**Describe the so

[2021-02-14 13:09] fkiraly commented on #682
Quick comment: this suggests a major API change!
Reversing `y` and `X` was a conscious API choice due to the differences between tabular learning tasks and forecasting.

Note that in forecasting, `X` is optional while `y` is not, whereas in `sklearn` tabular learning, `y` is optional (in unsupervised instances) while `X` is not!

The rule "optional arguments come last" implies the ordering already

[2021-02-14 13:10] fkiraly commented on #682
pining @mloning for the forecasting module

[2021-02-14 13:13] fkiraly commented on #682
An alternative we discussed internally is whether in forecasting, the symbols `y` and `X` should be exchanged while leaving the semantic meaning intact, i.e., `y`/`Y` for exogenous variables and `X` for endogenous ones. We decided against that due to the common association of the symbol `y` with "target" and `X` with "side information" being stronger than the association of `X` with "core/non-opti

[2021-02-14 13:15] ngupta23 commented on #682
Hi @fkiraly, Thanks for the quick feedback. I understand this was a conscious choice, but making sktime compatible with sklearn and other sklearn compatible API calls would open up more functionality to be built around sktime.

[2021-02-14 14:12] mloning commented on #682
scikit-learn's API is for cross-sectional learning, forecasting and other time series tasks are considerably different to cross-sectional learning. I think it makes sense to have a different interface for different tasks. sktime is still compatible with scikit-learn via the reduction interface. Why doesn't that work in the above example? What other functionality do you have in mind that doesn't wo

[2021-02-14 14:23] #647 closed

[2021-02-14 14:37] #682 closed

[2021-02-14 15:57] luiszugasti commented on #677
Thank you @mloning .

I tried the first command `python setup.py build_ext --compiler=msvc`
and this is the output: https://gist.github.com/luiszugasti/97344068b0420f8eca822f50b35b4569
It looks like there are some options missing from the compiler I set up thru Visual Code 2019 (as per the development installation instructions). Some of the warnings are set as errors.
I am not sure why this is, as

[2021-02-14 17:58] mloning commented on #671
This is also related to https://github.com/alan-turing-institute/sktime/issues/352

[2021-02-15 13:34] aiwalter commented on #677
@luiszugasti pls check #666 of how to install `fbprophet` on Windows, at least that is one way that works :)

[2021-02-15 15:54] hassan-jvd90 commented on #588
Thanks a lot @mloning , I have created a PR for this. Please, let me know what you think.

[2021-02-16 09:21] thomhomsma commented on #648
My struggle/issue is related to this topic so I will try to give the best possible explanation of what I would like to achieve with Sktime.

The struggle that I am facing is that in the forecasting tutorial of Sktime all examples forecast the full test set.

In my case: I would like to fit the auto ARIMA model on the train set (e.g. 80% of the data). Subsequently, I would like to cross-validate th

[2021-02-16 17:05] ViktorKaz commented on #648
was planning to work on this function but I was waiting to see what will be implemented in the [related discussion](https://github.com/alan-turing-institute/sktime/pull/657). I have not checked the full PR request but it looks to me that both the cv object and the evaluate function were implemented by @aiwalter. @thomhomsma does the [PR](https://github.com/alan-turing-institute/sktime/pull/657) ad

[2021-02-17 07:14] MJimitater commented on #674
Dear @mloning , @TonyBagnall and @MatthewMiddlehurst , thank you for your quick support on this issue!
I tested the fix, the execution on my small dataset (500x10) now doesn't run limitlessly +30h anymore and there are some verbose outputs! So thanks again!!

![hive_cote_1](https://user-images.githubusercontent.com/26901261/108114445-17690d80-7099-11eb-9c07-efd8f1d20fc6.PNG)

[2021-02-17 07:14] #674 closed

[2021-02-17 09:14] thomhomsma commented on #648
@ViktorKaz I think to a large extent. However, I would also like a strategy to not update the parameters when checking on the test set.

[2021-02-17 16:49] mloning commented on #648
@thomhomsma yes for this we would have to add the `update_params` argument to the `evaluate` function and pass it to the internal `update` function call.

[2021-02-17 19:29] #622 closed

[2021-02-17 22:09] TonyBagnall commented on #616
hi, I'll close this now, feel free to raise a new issue if you are still having problems

[2021-02-17 22:09] #616 closed

[2021-02-17 22:19] TonyBagnall commented on #596
#689 fixes some basic problems with time series knn, but it is not fully resolved. In particular, need to
1. Verify other distances against tsml
2. recover distance parameters in the output file
3. debug parameter setting and tuning

[2021-02-18 21:22] muhlbach opened #692 "ThetaForecaster does not work with "initial_level" different from None"
**Describe the bug**
When calling
`forecaster = ThetaForecaster(initial_level=0.5, deseasonalize=True, sp=1)` then fitting via `forecaster.fit(y_train)` leads to the following error:

[code]

**To Reproduce**

[code]

**Expected behavior**
It should estimate Theta with initial smoothing level.

**Additional context**
I think the problem relates to the class ExponentialSmoothing and the fact that u

[2021-02-19 15:13] TonyBagnall opened #694 "[BUG] ElasticEnsemble with revised TS-KNN"
the transpose change in KNN has effected the ElasticEnsemble. We are now effectively transposing twice. The quickest solution is for EE to transform the pandas into [n][d][m] numpy instead of [n][m][d] numpy, and to remove the coercion to pandas. Assigned to Aiden

[2021-02-19 15:16] mloning commented on #692
Thanks @muhlbach for raising the issue! Would appreciate a PR to make this more flexible.

[2021-02-19 18:48] muhlbach commented on #692
@mloning: Sure thing! I'm not very experienced in this domain, so can you provide a hint to where to start? If I understand it correctly, I need write permissions to create a branch, which I don't have. Thus, do you want me to create a pull request from a fork?

[2021-02-19 21:03] muhlbach opened #696 "SettingWithCopyWarning in Prophet with exogenous data"
**Describe the bug**
Running `Prophet` with `X` different from `None` throws the following warning

[code]

Will you please change line 190 in _fbprophet.py to
[code]

Thanks!

[2021-02-19 22:13] mloning commented on #696
Thanks for raising the issue @muhlbach!

[2021-02-19 22:14] mloning commented on #692
Yes that's right, fork it and create a PR, more details [here](https://github.com/alan-turing-institute/sktime/blob/79ac80ab65adb30fdf233e98433646c1989da2fc/CONTRIBUTING.md#git-and-github-workflow).

[2021-02-20 15:30] mloning commented on #66
@DanieleBaranzini I saw your comment on the [YouTube video](https://www.youtube.com/watch?v=wqQKFu41FIw&lc=UgxK6NUyo6N1J9hAl3h4AaABAg.9FX3dxddUas9JeT2TyNScg), we haven't implemented anything yet, would you be interested in contributing?

[2021-02-20 18:26] Lovkush-A opened #700 "[DOC] Inconsistencies in docstrings in forecasting.py and series.py"
**Describe the bug**

Not a bug, just bad docstrings (e.g. referring to y instead of X, or mixing up True and False). See pull request below for the changes.

[2021-02-20 18:54] aiwalter opened #702 "Outlier detection"
**Is your feature request related to a problem? Please describe.**
I would like to detect outliers in time series data.

**Describe the solution you'd like**
I have seen the [Time Series Annotation](https://github.com/sktime/enhancement-proposals/blob/master/steps/06_time_series_annotation/step.md) enhancement proposal, however we actually could just have classes which inherit from `_SeriesToSerie

[2021-02-20 19:00] aiwalter commented on #651
thx @fkiraly  for writing this idea down here! I might work on it, but currently I have other topics with a higher priority which I would like to add to `sktime` before :)

[2021-02-20 19:26] fkiraly commented on #702
@aiwalter, this proposal is a bit of a hack - since it creates an implicit data container convention that is also ambiguous: sometimes `np.nan` are just NAs, sometimes they are outliers, and there's no way to distinguish.

However, if you only want outlier detection: why not start with a lean interface instead of covering all of annotation?

I think ensuring that it is multivariate from the start

[2021-02-20 19:28] fkiraly commented on #702
PS: packages that already have a related interface are `pyod` (tabular outlier detection), `ADTK` (anomaly detection in a temporal setting), `ruptures` (changepoint detection in a temporal setting).

You may want to consider:
* what the new interface would add above these
* whether to interface or use these directly
(make sure though that no copyleft/copyright dependencies are introduced)

[2021-02-20 20:28] TonyBagnall commented on #694
fixed by #697

[2021-02-20 20:28] #694 closed

[2021-02-20 20:39] TonyBagnall commented on #663
hi, I've rolled this into #596 so will close this and update there when its sorted

[2021-02-20 20:39] #663 closed

[2021-02-20 20:40] TonyBagnall commented on #654
hi, I've rolled this into #596

[2021-02-20 20:40] #654 closed

[2021-02-20 20:41] TonyBagnall commented on #646
rolled into #596

[2021-02-20 20:41] #646 closed

[2021-02-20 20:43] TonyBagnall commented on #645
rolled into #596

[2021-02-20 20:43] #645 closed

[2021-02-20 20:44] TonyBagnall commented on #600
hi, closed this issue and rolled it into #596

[2021-02-20 20:44] #600 closed

[2021-02-20 20:46] TonyBagnall commented on #596
transpose issue with KNN and EE resolved by PR #689 #697

Next up verification of 1-NN results vs tsml and introduce KNN unit tests

[2021-02-21 15:35] mloning commented on #596
Once, achieving full API compliance is also related: https://github.com/alan-turing-institute/sktime/issues/257 (added KNN now)

[2021-02-21 15:36] mloning commented on #596
Standardizing unit tests for classifiers would also be great, as you suggested, e.g. running all on ChinaTown and having reference results in a single table/dictionary.

[2021-02-21 15:43] mloning commented on #702
I agree with the above points, to make outlier detectors usable in a forecasting pipeline, I'd suggest something like the following:

[code]
where `MyDetector` has a basic annotation interface with fit and predict and `ConditionalTransformer` is a series-to-series transformer. `Imputer` would take as input a list of values to be replaced, e.g. np.nan values by default, or a list of anomalies from

[2021-02-21 15:45] mloning commented on #700
Closed by #701

[2021-02-21 15:45] #700 closed

[2021-02-21 16:45] TonyBagnall commented on #596
standardising tests requires some thought as to the problem to use. If the test set is too big the distance based approaches take a long time, if its too small you may miss errors in the black box trest. How long is acceptable for testing all classifiers in this black box way do you think?

[2021-02-21 17:49] fkiraly commented on #702
(agreed with @mloning - though I guess it should either be `Imputer()` or `imputer` following an `imputer = MyFancyImputer()`?)

[2021-02-21 17:56] fkiraly opened #703 "removing tqdm as a hard dependency"
We should remove `tqdm` as a hard dependency since it is partially copyleft, see here: https://github.com/tqdm/tqdm/blob/master/LICENCE

Why: packages with copyleft or copyright contents *or dependencies* cannot be used in some organisations (public research, corporate, public sector etc) due to license issues or regulation.

Depending on `tqdm` would change `sktime`'s status from permissive open

[2021-02-21 17:57] fkiraly commented on #703
@mloning, @TonyBagnall, please review/comment

[2021-02-21 17:57] fkiraly commented on #703
apologies for not picking this up earlier. I believed it was MIT, but it is only *partially* MIT.

[2021-02-21 18:01] TonyBagnall commented on #703
I'm all for reducing dependencies. I am not familiar with the package but it seems purely cosmetic and no great loss. I dont know where it is used though

[2021-02-21 18:01] mloning commented on #702
Yes that's right, I've edited the comment above.

One thing that isn't clear to me is how to best "pass the list of outliers" from the detector to the imputer since the imputer only takes in a single series, there seems to be a missing step where the outliers are removed (converted to nan).

[2021-02-21 18:02] fkiraly commented on #703
I think it appears in the evaluation code by @aiwalter?

[2021-02-21 18:04] aiwalter commented on #703
Ok I can remove it. Thx @fkiraly

[2021-02-21 18:06] fkiraly commented on #702
Hm, the "obvious" way would be a graphical composition formalism like in `ADTK` or `mlr` or `MLJ`.

A simpler way would be `RemoverTrafo(forecaster, remove=myoutlierdetector)`?

[2021-02-21 18:09] mloning commented on #596
We could use different data sets for different classifiers if that would make things better. Would try to not make them much slower than they're currently are.

[2021-02-21 18:12] TonyBagnall commented on #596
thats not the problem, we need to detect a delta in performance change. With KNN you can break it (e.g. only use first value) but still get a couple correct. More unit tests obviously means more testing time, and if we want to test the python versions it will take an age. I'll look at it next week

[2021-02-21 19:14] aiwalter commented on #703
solved with recent commit in #690

[2021-02-21 19:14] #703 closed

[2021-02-22 10:51] aiwalter commented on #702
I would propose to start simple and I implement in a first step a transformer (e.g. a `HampelFilter`). I actually planned to wrap `adtk` or at least a part of it, however it seems the MPL-2.0 License is not compatible.

[2021-02-22 11:04] fkiraly commented on #702
Correct! This is the major downside of `adtk`...

[2021-02-22 12:26] mloning opened #704 "Automated learning algorithm overview"
Contributors: @fkiraly, @mloning, @afzal442, @abdulelahsm, @sparkingdark

## idea:
web data base for learning algorithms with fields for:
* class name,
* scitype (e.g. forecaster, classifier, etc.),
* original contributor,
* maintainer/current [code owner](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners),
* link to API reference,

optional additional

[2021-02-23 19:14] TonyBagnall commented on #596
KNN unit testing now with euclidean,dtw, erp, wdtw, msm,and lcss now included with arrow head, will move when all the classifier unit tests are centralised. I have not done the derivative ones or mpdist as yet. Next up is checking knn with cross validation on the parameters, and to get the parameter info out into the results file @AidenRushbrooke can maybe do this

[2021-02-23 22:03] kanand77 commented on #666
@aiwalter I'm currently running on a Mac machine.

We tested Pystan: it seems Pystan 2.19 is installed correctly. Doesn't look like I should be getting any issues as I followed all the previous build steps and it works till I run pytest sktime/

This is the error I'm getting:
<img width="1363" alt="Screen Shot 2021-02-23 at 2 00 38 PM" src="https://user-images.githubusercontent.com/64884188/108913

[2021-02-23 22:12] rjafarau opened #707 "Suggestions for forecasting models validation improvement"
Hi @mloning @fkiraly @aiwalter @ngupta23

Currently, I'm trying to migrate my codebase from `statsmodels` and `pmdarima` to `sktime`. There are some nuances that I have noticed:

1. There is absolutely no difference between using `SlidingWindowSplitter` and `ExpandingWindowSplitter` when pass them to `ForecastingGridSearchCV`. New data is appended to `self._y` and `self._X` according to the select

[2021-02-24 01:46] luiszugasti commented on #666
@aiwalter I wish I somehow could replicate your conda environment (could you potentially publish it as a docker environment?)

I tried your suggestion as you mentioned. Remarkably, I get an error from installing soft dependencies suggesting that fbprophet does not install. However importing it and printing in a python prompt for the same environment prints 0.7.1.

P.S. Thanks and sorry for my late

[2021-02-24 08:23] aiwalter commented on #666
@luiszugasti I have two other options you might try:

1) Above solution but with this instead:
`pip install pystan --no-cache`

2) Installation via conda:
[code]
Btw I am using Python 3.7.

[2021-02-24 08:26] aiwalter commented on #666
@koralturkk maybe you can support here regarding above problem on Mac or at least write how you did installation of `fbprophet`?

[2021-02-24 13:42] mloning commented on #707
Thanks for your issue @rjafarau - feedback and improvement suggestions are very welcome!

In case you haven't seen it, we've summarised some of the motivations behind our design choices [here](https://github.com/sktime/enhancement-proposals/blob/master/steps/01_forecasting_api/model-evaluation-tuning.md).

1. This is work in progress, we need to implement the same mechanism we have for the `evalua

[2021-02-24 18:22] koralturkk commented on #651
Hey everyone, I can take on doing this one? @mloning

@fkiraly I am not sure if I could fully understand the need to provide a select parameter to pick an estimator among other estimators we provided in components and ignore others. Could you please elaborate further on that?

I believe the responsibility of multiplexer should be to run a search for the best model over given model components, howe

[2021-02-25 14:49] mloning commented on #651
yes sure @koralturkk

[2021-02-25 17:47] luiszugasti commented on #226
@mloning I'm looking into this. Is it alright?

[2021-02-25 18:36] mloning commented on #226
Yes @luiszugasti implementing this would be great!

[2021-02-26 16:41] bdice opened #711 "[DOC] User paths in tutorial notebooks (tool suggestion)"
#### Describe the issue linked to the documentation

I noticed there are some user paths in the tutorial notebooks. Example: https://www.sktime.org/en/latest/examples/feature_extraction_with_tsfresh.html

[code]

#### Suggest a potential alternative/fix

I recently created a (very beta) tool that strips user paths from Jupyter notebook output cells. It can be used with a pre-commit hook. https://g

[2021-02-26 17:13] aiwalter commented on #711
@bdice good idea! @mloning can I add it to the `pre-commit` yaml file?
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-02-26 19:28] mloning opened #712 "Uniform handling of y_train in forecasting performance metrics"
**Is your feature request related to a problem? Please describe.**
Some forecasting performance metrics require `y_train`, e.g. [MASE](https://robjhyndman.com/papers/mase.pdf). This adds some complication to higher-level functionality that expects a common interface for metrics, like the `evaluate` function or `ForecastingGridSearchCV`, and in unit testing (see #672).

**Current problem**
This cur

[2021-02-26 19:36] mloning commented on #711
@bdice Thanks for reaching out, sounds like a great idea! What does "very beta" mean? How many other repos are using this already?

Happy to try it out if you want to implement it @aiwalter, but may have to remove it again if we run into bugs.

[2021-02-26 20:03] bdice commented on #711
@mloning @aiwalter Good questions -- it's less than a month old. I made `nb-strip-paths` for [example notebooks](https://github.com/glotzerlab/signac-examples) for the [signac data management framework](https://signac.io/) but I think there are quite a few projects in the SciPy ecosystem with embedded notebooks that might find it handy. I'm using the hook with projects developed by my research lab

[2021-02-27 13:42] afzal442 commented on #677
Hi @luiszugasti, as you told you are fine with the installation using WSL2, it will be great if you bring your steps here on how to install dev version of sktime on windows using WSL2. Do you find this command `pip install -e .` working fine here? Thanks.

[2021-02-27 15:26] luiszugasti commented on #677
@afzal442 so what I did was I tried to re-install on WSL2 because I remember the process was pretty easy. To make a long story short **it turned out to be a little bit confusing**.

I want to test this out further to see if there's some form of regression between different python versions starting from python 3.5.

Here are the steps (along with a few observations I encountered). My requirements.t

[2021-02-28 12:57] moradisten commented on #388
Can you explain a little bit how the 3D numpy arrays work for datasets? Maybe I can adapt my code to this format and do some tests

In my project I was using same format the researchers of this classifiers used. It's class that contains the series, the labels and some dictionaries

https://github.com/moradisten/ProximityForests-python/blob/master/dataStructures/ListDataset.py

[2021-03-01 08:33] aiwalter commented on #711
@bdice I tried your package in  a separate test repo and produced two test cases which were however not detected. I created some error messages in a notebook and got two paths like...

1. `C:\Users\MYUSERID\bla\bla\bla\lib\site-packages\sktime\forecasting\compose\__init__.py`
2. `~\AppData\Local\bla\bla\bla\lib\site-packages\pandas\io\common.py`

In both cases I would ideally expect to strip the p

[2021-03-01 13:52] bdice commented on #711
@aiwalter Currently the only paths that are stripped are paths to the *repository* containing the notebooks. The user site packages directory is not stripped (since it is not a subdirectory of the repository containing the notebooks). I would be happy to add support for the two cases you’re mentioning — can you tell me what behavior you would expect in each case?

[2021-03-01 14:05] aiwalter commented on #711
@bdice
Is there actually in general a way to strip ANY occurrence of my USERID in a notebook (and even other files)? In cells as well as error messages?

Regarding my two examples, I would like to propose the following solutions. We could add additional argument to `nb-strip-paths` in order to...
1. strip any path but only keep the file name only? (most secure)
2. Strip any path before `site-packa

[2021-03-01 18:58] mloning commented on #388
Sure @moradisten, instances are i.i.d. samples (i.e. experimental units that we want to generalise over, e.g. patients), variables are kinds of measurements (e.g. blood pressure or heart rate), time points are the points in time at which we make observations, each cell in the resulting 3d matrix is a single observation - does that help?

[2021-03-01 20:19] kanand77 commented on #666
@aiwalter this above code snippet worked for me. I was able to get pytest sktime running successfully after installing pystan and fbprophet w the above method. Thank you!

[2021-03-02 12:11] aiwalter opened #716 "[BUG] ValueError when using exogenous data in a ForecastingGridSearchCV"
**Describe the bug**

Hi together, just found a possible bug with `ValueError` on master branch and `sktime==0.5.3` when using exogenous data `X` in a `ForecastingGridSearchCV` during `fit()`. Error might come from recent changes on the `update()` function, however not sure if this is already on PyPI?

Error message:
[code]
**To Reproduce**

[code]

**Expected behavior**
No exception.

**Additiona

[2021-03-02 12:14] aiwalter commented on #716
@koralturkk fyi
___
Martin Walter martin_friedrich.walter@daimler.com, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-03-02 13:25] sharthZ23 commented on #668
@mloning there is another error after `git checkout v0.5.2; pip install -e .`:
[code]

[2021-03-02 13:39] aiwalter commented on #668
@sharthZ23
looks as if you used a notebook from master, but installed an older version. Bcz `from sktime.forecasting.model_evaluation import evaluate` was just recently added to master and is not available in older version.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-03-02 14:14] sharthZ23 commented on #668
Got it, i used `01_forecasting.ipynb` from `master` and library from `v0.5.2`
But if i run notebook from v0.5.2 there is error again:
[code]

[2021-03-02 14:51] sharthZ23 commented on #668
Fixed this with `pip install -e '.[all_extras]'` instead of simple `pip install -e .`

[2021-03-03 13:10] RNKuhns commented on #712
@mloning I've been reading through the proposal. Wouldn't another option be to just incorporate the conditional logic in the callable aspect of the metrics to start callable to start? Since I'm relatively new to considering the impact of these choices on a module API, I'm Interested to hear you thought process on deciding between incorporating the logic in MetricFunctionWrapper to start instead of

[2021-03-04 08:55] Aman027 commented on #517
@mloning Can I work on this issue?

[2021-03-04 16:55] mgorjis opened #717 "[DOC]"ValueError: all input arrays must have the same shape""
#### Describe the issue linked to the documentation
 When applying a classifier to my time series (converted to suitable nested format), I got this error:

`ValueError: all input arrays must have the same shape`

I think the issue is that all of my rows in time series doesn't have the same length. In fact, each row is measurements of a patients, and their lengths are different

#### Suggest a pote

[2021-03-04 18:23] moradisten commented on #388
OK, now it's clear. Thanks, I'll see what I can do

[2021-03-07 18:56] Garve opened #718 "New metrics: Mean Directional Accuracy & Logarithm of the Accuracy Ratio"
Hi!

How about some time series regression metrics which are not present in scikit-learn? So far, scikit-learn has the MAPE. This measure has some serious shortcomings, see [here](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error#Issues). If you are interested in this topic, the following could be good additions:

## Mean directional accuracy
I think this one is especially interesting w

[2021-03-08 00:10] fkiraly commented on #718
Brilliant, that would be nice!

Before you open a PR, there is already one on metrics, #672, and an issue, #671. Your metrics are not included as far as I can tell, but they would be nice additions.

However, since there was a bit of design discussion on the metrics interface (related to metrics that need training data), I would suggest to align with @RNKuhns and the PR to ensure we end up with a

[2021-03-08 02:19] RNKuhns commented on #718
@Garve We have been discussing the interface for forecasting metrics in #672 and #712. Both of these could potentially be added since both just depend on the true and predicted data (along with optional weights and multioutput values like the propsed API in #672).

We are close to committing #672 and these could probably be added as a pull request on top of that once it is finished.

One question

[2021-03-08 05:10] bdice commented on #711
@aiwalter @mloning Sorry for the slow response, I didn't see your reply until now! I like your suggestions and have some follow-up questions before I work on the implementation.

This sounds prone to false positives but could be useful with some clarification. For example, strings like `2021/01/01` or `his/hers` or `alpha/beta/gamma` could be relative paths to a file. Similarly, regular expression

[2021-03-08 08:28] Garve commented on #718
Hi again!

Thanks for the feedback :)

That's indeed interesting! Do you know a good use-case for a "mean directional f1 score" for example?

Yeah, one could do that. But one could also argue that the MAPE is just the MAE + samples weights np.abs(1/y_true). And still, it is offered as a separate metric. I understand your point, of course :) it's a design choice about how far to go to make somethin

[2021-03-08 10:10] fkiraly commented on #718
@Garve, @RNKuhns, your discussion to me also highlights one additional thing:

We (will soon) have a lot of metrics implemented, but it is unlikely entirely clear to the user what all of these are. E.g., do you take log or fraction before or after taking the average, which average or of what the average is meant (squared or unsquared), and so on.

I do think we need a piece of documentation, e.g.,

[2021-03-10 01:03] John42506176Linux commented on #480
Hello, I'm currently a GSOC aspirant, and I was curious if @gracewgao was still working on this.

If it is possible, I'd love to try working on this too.

[2021-03-10 08:17] fkiraly commented on #718
I can also help with this, just let me know

[2021-03-10 12:14] RNKuhns commented on #718
I agree on the documentation.  To me it seems like we could add it in the user guide: https://www.sktime.org/en/latest/user_guide/forecasting.html.

[2021-03-10 13:03] RNKuhns commented on #718
@garve and @fkiraly how does something like this work for proceeding on this:

Assuming we wrap up pull request #672 and issue #712, adding the logarithm of accuracy ratio metric is straight-forward, so I'd lean to it potentially being its own pull request.

Then break out the discussion of directional accuracy metrics and documentation into seperate issues/pull requests. What are your thoughts?

[2021-03-10 13:17] RNKuhns commented on #718
On the directional accuracy part, I think that mean_directional_accuracy works as a metric (and is used in articles), but has its limitations just like the magnitude based metrics.

In our documentation we'd probably want to capture something like the following:
- Directional accuracy is important to consider because a forecast with a low (good) forecasting metric value may not predict directional

[2021-03-10 14:43] fkiraly commented on #718
Agreed - I think there should be issues/PR:
* PR with "standard" forecasting metrics
* design for directional metrics - maybe a phone call to align (us three + @mloning ?)
* PR for directionam metrics, conditional on design done
* documentation for all metrics; recommend this to be its own page, but tbd

[2021-03-10 21:04] fkiraly commented on #480
The protocol here would be to wait for a week or two and assume "no" if there's no reaction.

[2021-03-11 05:20] D3ViL-NK commented on #480
Hi @mloning,
I'm new to contributing, and I was paying attention to this issue for some time. I have a few questions in order to clarify that I'm on the right track.

- According to the description of prediction intervals,
![sigma hat](https://user-images.githubusercontent.com/43887812/110738921-bfd04480-81f5-11eb-9077-076b8a5b8179.JPG)
(In this equation)
   1. T must be the length of the training

[2021-03-11 05:52] gracewgao commented on #480
Hey, sorry I never got the chance to work on this - someone else is definitely welcome to take this on!

[2021-03-11 13:51] pomt98 commented on #348
Hi there! Any updates on this?
If not, I would love to get started on this for the time being!

[2021-03-11 14:17] ayan-biswas0412 commented on #348
I am not working on this you can take this if permitted by admin

[2021-03-11 18:12] Aditya-Sihmar commented on #517
I think this has already been implemented in PR #198. @mloning, please confirm. If this PR fulfil the objectives of this issue, I suggest we should close it.

[2021-03-11 19:02] Aditya-Sihmar commented on #465
Hi @afzal442, are you still working on this issue?

[2021-03-11 19:56] tpvasconcelos commented on #670
Hey @mloning @mpindado 👋

I have just come across a similar issue. Is one of you tackling this? If not, I'm happy to take a look

[2021-03-11 21:31] John42506176Linux commented on #541
Hello, I was curious what was the progress with this issue and if it would be ok if I could work on this issue.

[2021-03-12 05:49] afzal442 commented on #465
Yep @Aditya-Sihmar, I am. If you want, you can collaborate here. So in the meantime, go with my PR, try to debug the code there.

[2021-03-12 06:40] mpindado commented on #670
Hi @tpvasconcelos , I took a look but I found it difficult for me not to break other models as a complete solution might require a deeper factorization and maybe an update of the statsmodels library under the hoods.
So you are very welcome to try!

[2021-03-12 12:42] tpvasconcelos commented on #670
Interesting! I will have a deeper look over the weekend

[2021-03-12 16:29] fkiraly commented on #718
@RNKuhns, @Garve, would you like to ping me (plus each other) on the sktime slack for a quick align call for how to split the work and PR, plus possible design discussions? @mloning is on a short thesis writing sabattical but will be catching up.

[2021-03-12 22:24] fkiraly commented on #465
Welcome, @aditya-sihmar!

So, @afzal442... given that @aditya-sihmar might be offering help here, would you perhaps kindly explain what precisely needs fixing or debugging?
I haven't looked at this PR, and Markus is offline for thesis writing for a while, so would really appreciate you being as concrete as you can.

[2021-03-13 07:30] afzal442 commented on #465
Thanks, @fkiraly.

Hi @Aditya-Sihmar, I have mentioned in my PR where I have debugged the respective algorithm somewhat. So find me there where I would explain you briefly.

[2021-03-13 12:57] zxtplayer opened #6605 "[ENH] vmdpy - How to reconstruct origin data series by using these decomposed series?"
Hello developer:
Thank for providing the amazing python package. i have completed  the decomposed time series data and got five IMF data series. However, i have no idea how to reconstruct origin data series by using these decomposed  series. I tried to add the corresponding components directly, but It doesn't seem to work.
Could you help me to solve this problem,
Thanks a lot. and Best wish.
zxt

[2021-03-14 09:59] hoesler opened #721 "No wheels on pypi for MacOS < 10.15 since 0.5"
Any specific reason you dropped support for older MacOS versions?
https://pypi.org/project/sktime/0.5.3/#files

[2021-03-14 13:40] #721 closed

[2021-03-14 19:01] fkiraly opened #724 "provide pypi wheels for MacOS < 10.15"
**Is your feature request related to a problem? Please describe.**
MacOS wheels should be provided for actively maintained versiosn of MacOS <10.15, see
https://github.com/alan-turing-institute/sktime/discussions/723

**Describe the solution you'd like**
According to @hoesler who raised this:
"Well, I don't think that I am really able to contribute to your build and publishing process without acce

[2021-03-14 19:04] fkiraly commented on #724
@mloning FYI

[2021-03-14 22:04] ddorf commented on #662
Encountered this just now. Somehow the `matrixprofile` (dependency of `tsfresh`) install prompts an attempt to install `numpy>=1.20.0`, which doesn't go with `python<3.7`.

![Screenshot from 2021-03-14 21-26-36](https://user-images.githubusercontent.com/28767641/111084798-244c1600-850c-11eb-8d45-bb949dccba28.png)

Quick hack to bring all but one "getting started"-binders back up could be to drop t

[2021-03-14 22:43] fkiraly commented on #662
Yes, this seems like a sensible quick fix.

Quick questions:
* in which binder is `tsfresh` being used? It could be replaced by any other popular feature extractor for demo purposes and removed as a dependency entirely.
* could this alternatively be fixed by downgrading the `tsfresh` version required?

[2021-03-15 09:12] EternalConfession opened #726 "How to use "direct" strategy in ReducedRegressionForecaster[DOC]"
When using the "direct" strategy in ReducedRegressionForecaster.

It is confusing what is the right "fh" to input into fit() method.

[2021-03-15 11:29] mloning commented on #517
Hi @Aditya-Sihmar, I think PR #198 implemented Theta, this issue is about AutoTheta.

@Aman027 @Aditya-Sihmar would love to see a translation to Python.

@satya-pattnaik may also be able to help with the implementation and testing against the R version.

[2021-03-15 11:31] mloning commented on #726
@EternalConfession thanks for the feedback, could you give a bit more details: Why is it confusing? What do you mean by "right" fh? How could we make the documentation clearer?

[2021-03-15 11:36] Aditya-Sihmar commented on #465
Thanks, @fkiraly

@afzal442 Sorry for the late reply. I would love to collaborate with you. I will look into your PR and try to debug your code.

[2021-03-15 11:41] Aditya-Sihmar commented on #517
They mentioned the same paper in its documentation that's why I asked. I will have a look into it again.
@mloning how you want AutoTheta to be implemented. Shall I implement it as an independent function or shall I update the Theta method itself?

[2021-03-15 13:00] unna97 commented on #517
@Aditya-Sihmar  @Aman027  I have parts of the R code translated. Will be happy to share if it's useful. Also happy to pair code.

[2021-03-15 13:16] mloning commented on #517
I'd prefer a separate class for `AutoTheta` - this seems to be the current pattern (e.g. `ARIMA` and `AutoARIMA`).

[2021-03-15 13:27] mloning commented on #717
Hi @mgorjis, our classifiers currently don't support variable-length data, you could reshape it into equal-length data using padding, truncation or interpolation for example.

[2021-03-15 13:27] mloning commented on #717
I'll close this for now.

[2021-03-15 13:27] #717 closed

[2021-03-15 13:28] Aditya-Sihmar commented on #517
Thanks @unna97, It would be really helpful.

Ok @mloning I will start working on it right away.

[2021-03-15 13:39] mloning commented on #712
Hi @RNKuhns, that sounds like a good solution too, may even be simpler. Just to be clear, you mean to add a new hidden method to the scoring base class that we call inside higher-level functionality? Something along the following lines?

[code]

[2021-03-15 13:43] mloning commented on #348
Yes sure @pomt98 please take a look if you're interested!

[2021-03-15 13:46] mloning commented on #541
Hi @John42506176Linux - yes there's an open PR here which needs some fixing: https://github.com/alan-turing-institute/sktime/pull/545

[2021-03-15 13:49] mloning commented on #670
We should at least raise an appropriate error here I think.

[2021-03-15 17:21] tpvasconcelos commented on #670
I did not have time to look into this yet...

For now, let me just share with you a temporary patch that I have used in the past. It ain't great, but it works... 👀

[code]

This is a transformer that changes the series index to a unit frequency. The default is `"T"` (minute) but it doesn't matter what frequency you use since the only thing that matters for the sktime internals is that freq is unit

[2021-03-16 12:17] MatthewMiddlehurst opened #727 "Framework for train accuracy estimates in time series classifiers"
Several time series classification algorithms can efficiently produce estimates of accuracy (or probabilities for other metrics) on the training data. A few examples include:

- Out of bag error in interval-based forests.
- Leave one out cross-validation leveraging the nearest neighbour classifiers and already transformed data in dictionary-based approaches.
- Removing the redundancy of transformi

[2021-03-16 16:11] wangchen615 opened #728 "[BUG] `pip3 install sktime` failed on MacOS Big Sur (Version 11.2.3) for Python 3.9"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

pip3 install sktime
Collecting sktime
  Using cached sktime-0.4.3.tar.gz (9.7 MB)
Requirement already satisfied: numpy>=1.18.0 in /usr/local/lib/python3.9/site-packages (from sktime) (1.20.1)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/site-packages (from sktime) (1.2.0)
Requirement already satisfie

[2021-03-16 19:38] satya-pattnaik opened #729 "Implement Croston's method for intermittent demand forecasting"
# **Functions for  forecasting intermittent demand time series.**
Conventional methods for modeling(like ARIMA) are not suited for time series which is Intermittent in nature.
We need specialized methods to model such Demands/Time Series

**Methods like [Croston's](https://otexts.com/fpp2/counts.html) can be used to model such series**
A rough sketch of the API
[code]
[Package in R](https://cran.r

[2021-03-16 19:46] mloning commented on #728
Hi @wangchen615 3.9, thanks for reporting the installation issue here!

Unfortunately 3.9 is not officially supported yet, meaning we don't provide precompiled wheels for it, same for Big Sur. Any chance to use 3.8 and the previous macOS?

[2021-03-17 01:23] RNKuhns commented on #712
@mloning that sounds a simple solution to me and I like the name `_score` much better than `_apply_scoring` that I suggested.

[2021-03-17 13:25] aiwalter commented on #711
@bdice sry as well, I was off a few days.

This sounds very cool and would be nice to have all those four options as argument each and a short description, if possible.

I would prefer replacement with `USER`

That would be very smart and cool to have!

Let me know once you have this implemented, so I can test it again and then add it to `sktime` :)
___
Martin Walter <martin_friedrich.walter@daiml

[2021-03-17 13:33] bdice commented on #711
@aiwalter Cool! I appreciate your input. I’ll follow up when I have a chance to add these features.

[2021-03-18 09:33] harahu commented on #448
About that. I am considering going from a custom data pipeline implementation based on pandas to using sktime for just this kind of data:

- Multi-channel
- Multi-object (panel data)
- Time heterogeneous (unequal spacing between samples within and across channels)
- Ragged (panels of different duration, both in time and sample count)
- Indexed by datetime rather than int

Until now I haven't dared

[2021-03-18 10:08] mloning commented on #448
Hi @harahu, unfortunately we haven't made much progress in that direction. The fundamental challenge is the data container. awkward-array seems to be the most promising solution. The other challenge is extending algorithms to handle that kind of data.

sktime does offer some support for multivariate panel data (multi-channel and multi-object), but not time-heterogenous data.

What other tools have

[2021-03-18 10:11] fkiraly commented on #448
The nested `pd.DataFrame` structure was meant to address exactly that use case!
I believe it's quite common in "serious" applications, equal length, equal time points etc is often a bit artificial...

Indeed the problem is the data container representation, nested `pd.DataFrame` is a bit of a hack.
Though, getting a clean container plus interface would hinge on volunteer contributions - which may

[2021-03-18 10:12] fkiraly commented on #448
... would you be interested to help, @harahu?

[2021-03-18 14:12] harahu commented on #448
@mloning:

Mostly custom developed tooling, based on pandas, where calculations are done by first "translating" the general data formats mentioned above to more limited formats expected by mainstream time series tooling. Not highly efficient. In other words, I have never actually experienced a tool set that makes it easy to work with this kind of data. A semi-exception might be [traces](https://gi

[2021-03-18 17:02] stringertheory commented on #448
Hey @harahu, no worries about @-ing, this is interesting, and I'm happy to learn about Awkward Arrays. They seem useful!

I agree with all the points in this thread:

- time-heterogeneous data is common in practice, especially with sensors and other event-driven systems
- [traces](https://github.com/datascopeanalytics/traces) is intended for time-heterogeneous data, but prioritizes ease of use on

[2021-03-18 17:21] steveross1975 commented on #322
Hi, I have installed pmdarima via a Notebook cell, still get the error.
`!pip install pmdarima --user`
The package is installed because the output is a bunch of "Requirement already satisfied", but when I try to import pmdarima a few lines below,I get this error.

[code]

How can I solve this issue, thanks.

[2021-03-18 17:42] freddyaboulton commented on #728
@mloning We're planning on using sktime in [evalml](https://github.com/alteryx/evalml) and are curious about the timeline of 3.9 support! Is this something you could use help with?

Thanks!

[2021-03-18 22:14] fkiraly commented on #448
@stringertheory, interesting! Didn't know about traces - would you have bandwidth for contribution?

An idea would be to pool efforts with awkward array, which under the hood could make traces - or "traces plus" - scalable?
And having a discussion around sktime data container interfaces?

[2021-03-19 09:06] Riyabelle25 commented on #729
Hey guys, I just read up about this issue, and how intermittent demand time series can be dangerous.
Croston's method seems like the answer here, so could we use the python implementation of Croston's method to forecast such time series?

[2021-03-19 09:16] Riyabelle25 commented on #729
I'd like to work on this issue, it would be great if I get some guidance, as this is my first time contributing here :smile:

[2021-03-19 12:43] karthikn72 commented on #353
Hey, could I please know about the progress with this? If this is still ongoing, could I perhaps have a go at this? I am new to making open-source contributions and would love to get started this way :)

[2021-03-19 14:41] mloning commented on #322
If it works on the command line but not in the notebook, it's likely that the notebook runs from a different environment. Using conda environments usually solved these issues for me.

[2021-03-19 14:44] mloning commented on #353
Hi @karthikn72 - yes this is still open, would be a great issue to work on as a starting point I think.

[2021-03-19 14:47] mloning commented on #729
Yes, @Riyabelle25 this would be a great topic to work on! I've renamed the issue to reflect that this is now about implementing Croston's method. Check out the [contributing guideslines](https://github.com/alan-turing-institute/sktime/blob/79ac80ab65adb30fdf233e98433646c1989da2fc/CONTRIBUTING.md) and let me know if you have any specific questions. Trying to get a PR up, even if it just adds a new

[2021-03-19 14:52] TonyBagnall commented on #353
hi @karthikn72 yes it would be good, if you want to do it for classification problems I'm happy to help.

[2021-03-19 15:41] steveross1975 commented on #322
Yes, you're right, looks like I was running a misconfigured Conda env.
In the end I've managed to install it and run a model.

[2021-03-19 15:48] TonyBagnall commented on #727
for context, in tsml this is controlled through the base class EnhancedAbstractClassifier
https://github.com/uea-machine-learning/tsml/blob/master/src/main/java/tsml/classifiers/EnhancedAbstractClassifier.java
not sure why we didnt just use an interface, but Im sure there were reasons.

For python, in the first instance, I suggest that we use the existence of the method
def _get_train_probs(self,

[2021-03-19 16:54] stringertheory commented on #448
@fkiraly I don't have enough time to contribute, but I'd be happy to talk some time!

[2021-03-19 19:09] karthikn72 commented on #353
@TonyBagnall Sure, this seems like a nice problem for me to work on. I'll have a deeper look at the links above over the weekend. Would you say it's a good idea to look around for current implementations of data simulators for models that can be classified by sktime, for e.g. shapelet-based or interval-based models?

[2021-03-20 06:33] TonyBagnall commented on #353
Hi, I think starting with a simulator for one type of representation would be good yes, and trying to modularise it so it's easy to do others is worthwhile.. look at tsml but don't feel you have to follow the same structure, I'll discuss that with the team on monday

[2021-03-20 12:30] karthikn72 commented on #353
Alright, I had a look at tsml and will start by reimplementing the Shapelet simulator for now to understand what it does, and see where I can go from there. I'll aim to open a PR ASAP so we can continue discussing there :)

[2021-03-20 13:21] fkiraly commented on #464
@mloning, forgot to ping the draft here:
https://github.com/alan-turing-institute/sktime/wiki/Scitype-interface-specification:-forecaster

You gave me feedback earlier and said that conceptual model & specs should be preceded by a quick overview.
I've added that now - have a look. Is that useful?

[2021-03-20 13:24] fkiraly commented on #464
@aiwalter, @big-o, feel free to look as well - I haven't added much detail about `_SktimeForecaster` yet because of #510.

On a side note: what I think is often find very helpful is a template class in the "code template" sense - i.e., an example class where all that is missing is the core logic, and comment blocks tell you what to fill in. Do we have sth like that?

[2021-03-20 16:23] harahu commented on #448
I think this is a key point. One does not need to rework all algorithms if we just have efficient on-demand translation from time-heterogeneous  to homogeneous data. One part of that is different interpolation techniques. The other one is dealing with panel data of uneven length. Not sure what is the best solution there, knowing that [scikit-fda](https://github.com/GAA-UAM/scikit-fda) and similar

[2021-03-20 22:56] moradisten commented on #388
Hello again, how can I request access your github repository to upload some changes in my branch?

Kind Regards

[2021-03-21 00:39] fkiraly commented on #388
@moradisten, you already have (by default) all access you need for this - you need to make a pull request.
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests

[2021-03-21 08:08] mloning opened #731 "2021 Summer internships (GSoC & Outreachy)"
You can find out more about sktime's summer internships below:

* Google Summer of Code: https://github.com/alan-turing-institute/sktime/wiki/GSoC-2021
* Outreachy: https://github.com/alan-turing-institute/sktime/wiki/Outreachy-2021

Please let us know if anything remains unclear.

[2021-03-21 09:32] #644 closed

[2021-03-21 09:42] #726 closed

[2021-03-21 09:59] mloning commented on #388
@moradisten also check out the [contributing guidelines](https://github.com/alan-turing-institute/sktime/blob/79ac80ab65adb30fdf233e98433646c1989da2fc/CONTRIBUTING.md)

[2021-03-21 10:04] mloning commented on #728
Hi @freddyaboulton, yes help would be much appreciated! It also depends on our dependencies, I'm not sure if they all support 3.9 yet. Adjusting the CI scripts described [here](https://github.com/alan-turing-institute/sktime/blob/79ac80ab65adb30fdf233e98433646c1989da2fc/CONTRIBUTING.md) in a PR would be a start to see if anything breaks in 3.9.

[2021-03-21 10:08] mloning commented on #464
Thanks @fkiraly, in terms of exposition, I'd would have a very concise description at the top, perhaps even a code skeleton, and then discuss key points in more detail below.

For example:
[code]

[2021-03-21 10:20] mloning commented on #480
@D3ViL-NK sorry for the slow reply.

* Prediction intervals are returned as part of the predict method as `predict(..., return_pred_int=True)`
* Regarding the computations, I'd your implementation against the the implementation in R and the examples in the FPP book

[2021-03-21 10:30] fkiraly commented on #464
@mloning, would the following help:
* create the "fill-in code template" as suggested - I can take a look at this if you suggest the best current python file to "convert". the `NaiveForecaster`?
* use the code template to create the preamble.

Regarding concise description: I added the checklist which I thought would satisfy that requirement. Do you not think this is suitable as such? If not, why

[2021-03-21 10:36] mloning commented on #464
Yes, the `NaiveForecaster` should be fine but bear in mind that it inherits from the `BaseWindowForecaster`, so best to make the inherited functionality explicit if relevant for the code skeleton.

Yes, the check list is suitable for the concise description!

[2021-03-21 10:38] mloning commented on #712
@RNKuhns ok let's go for it :)

[2021-03-21 12:09] fkiraly commented on #464
Hm, so why did you say it was missing - did you not see it?

I can add a template code block if you want. E.g., example template and checklist.

[2021-03-21 15:29] mloning commented on #464
I didn't mean to say it was missing, my comment mainly referred to the structure rather than content. Do you want to create a PR to include this on the website? I can set up the structure for the developer guide, similar to the user guide.

[2021-03-21 16:06] fkiraly commented on #464
sure, can make a PR once there is a location where to.

Also, please note that some parts are still missing, e.g., on input check conventions. I can give it a try, but I don't know what these actually are.

[2021-03-21 20:45] wangchen615 commented on #728
@mloning I see. Ok, yeah, my other code was using 3.9 now. It would be nice if you could support it in the future.

[2021-03-22 08:50] jschemm commented on #696
Hi, as I also keep running into this issue  I was wondering if anyone is still working on this? Otherwise I'd offer to do the PR myself.

[2021-03-22 08:59] mloning commented on #696
@jschemm not that I'm aware of, please give it a go!

[2021-03-22 09:15] Aditya-Sihmar commented on #517
While solving this issue I got stuck at a place.
[code]
This is a simple naive forecaster so I implemented it in python ignoring the shape of the output data. I am just predicting the future values not their shape but turns out their shape also matters later down the stage. I tried to find a function in python that takes shape also into consideration but didn't find any. I am not sure what to do n

[2021-03-22 10:51] mloning commented on #517
@Aditya-Sihmar what do you mean by "predicting the future values not their shape", isn't the shape queryable from the predicted array of values? We have a `NaiveForecaster` in sktime if that helps.

I would suggest you open a draft PR, that way we can take a look at the code you have written already (it doesn't have to be polished or complete in any way).

[2021-03-22 13:08] harahu commented on #448
Been thinking some more about this latter problem of unequal length panel members. I realize there are probably no "universal" way of comparing two such members, it is all case dependent. Depending on downstream use, you might want to translate to a fixed size representation by:

- Padding the smaller panel members to the size of the larger ones
- Truncating the larger ones to the size of the smal

[2021-03-22 16:15] fkiraly commented on #448
@harahu, I think the optimal interface - beyond the "right data container" - supports two things:
* pipeline composition with transformers that convert different length into equal length and spacing
* pipeline composition with distances or kernels between different length or spaced sequences

[2021-03-22 17:53] Aditya-Sihmar commented on #517
Thank You @mloning, I will try that out. I will make the draft pull request by tomorrow, just need to do some changes before drafting the PR.

[2021-03-22 22:08] #696 closed

[2021-03-23 09:26] mloning commented on #15
Discussion moved here: https://github.com/sktime/enhancement-proposals/tree/master/steps/02_data_container

[2021-03-23 09:26] #15 closed

[2021-03-23 09:27] mloning commented on #66
Discussion moved here: https://github.com/sktime/enhancement-proposals/tree/master/steps/04_supervised_forecasting_api

[2021-03-23 09:27] #66 closed

[2021-03-23 09:31] mloning commented on #193
This now works:

[code]

[2021-03-23 09:31] #193 closed

[2021-03-23 09:33] mloning commented on #352
Closing in favour of https://github.com/alan-turing-institute/sktime/issues/671

[2021-03-23 09:33] #352 closed

[2021-03-23 09:34] #351 closed

[2021-03-23 09:36] mloning commented on #271
Closed by #333

[2021-03-23 09:36] #271 closed

[2021-03-23 09:37] mloning commented on #521
More info here: https://github.com/sktime/enhancement-proposals/blob/master/steps/01_forecasting_api/model-evaluation-tuning.md

[2021-03-23 09:37] #521 closed

[2021-03-23 09:39] #707 closed

[2021-03-23 09:40] #702 closed

[2021-03-23 09:42] mloning commented on #704
Related issue: https://github.com/alan-turing-institute/sktime/issues/354

[2021-03-23 09:42] mloning commented on #354
Closed in favour of #704

[2021-03-23 09:42] #354 closed

[2021-03-23 09:42] mloning commented on #260
Discussion moved here: https://github.com/sktime/enhancement-proposals/tree/master/steps/06_time_series_annotation

[2021-03-23 09:42] #260 closed

[2021-03-23 09:45] #668 closed

[2021-03-23 09:47] mloning commented on #648
Closed by #657

[2021-03-23 09:47] #648 closed

[2021-03-23 09:50] mloning commented on #621
Closed by #660

[2021-03-23 09:50] #621 closed

[2021-03-23 09:56] mloning commented on #477
Closed by #555

[2021-03-23 09:56] #477 closed

[2021-03-23 09:57] mloning commented on #544
Closed by #555

[2021-03-23 09:57] #544 closed

[2021-03-23 09:57] #584 closed

[2021-03-23 09:58] mloning commented on #584
Please feel free to reopen @ngupta23 if you have any more insights on this.

[2021-03-23 10:02] #519 closed

[2021-03-23 10:02] #592 closed

[2021-03-23 10:09] mloning commented on #632
Closed by #690

[2021-03-23 10:09] #632 closed

[2021-03-23 10:15] mloning commented on #403
Closed by #659

[2021-03-23 10:15] #403 closed

[2021-03-23 13:01] #539 closed

[2021-03-24 05:33] Raghibshams456 commented on #228
@mloning I am hugely interested in this project..was looking for this type project pas few days...I want to contribute in this project in gsoc 2021 as well as after gsoc also..please guide me...
thanx a lot..

[2021-03-24 11:43] aiwalter opened #743 "Using sklearn transformers inside TransformedTargetForecaster"
**Is your feature request related to a problem? Please describe.**
Not sure if this is a bug or feature request, maybe both :)
I would like to use `sklearn` transformers together with `sktime` tranformers inside
[code]
Errors comes here:
[code]
**Describe the solution you'd like**
It seems the `sklearn` transformers use `numpy` input and output whereas `sktime` uses `pandas`, so the data would nee

[2021-03-24 12:25] aiwalter opened #744 "inverse_transform function for Imputer and HampelFilter"
**Is your feature request related to a problem? Please describe.**
I want to be able to use `Imputer` and `HampelFilter` inside `TransformedTargetForecaster` to be able to tune them together with a forecaster. However, this is currently not possible because there is not `inverse_transform()` function implemented.

**Describe the solution you'd like**
I have checked the `sklearn.Imputer` and they a

[2021-03-24 15:03] jowallner commented on #528
Hi,

I have the same problem regarding Google colab and the issue: ModuleNotFoundError: No module named 'sktime.transformers'.
I tried
[code]
but this just gives me: "cd: v0.4.3: No such file or directory".
@orko19 how did you resolve this?

Thank you!

[2021-03-24 16:48] mloning commented on #528
Could you try to import `sktime.transformations`?

[2021-03-24 16:51] mloning commented on #743
This works:
[code]

[2021-03-24 16:51] #743 closed

[2021-03-24 18:02] mloning opened #745 "Directional forecasting"
Contributors: @RNKuhns, @fkiraly, @mloning

### Estimators
* new estimator scitype: DirectionalForecaster
* reducer from Forecaster to DirectionalForecaster via time-series/tabular classification
* reducer from Forecaster to DirectionalForecaster via output binning
* override score in the reduced forecasters with the "right" binned losses!

[code]

### Losses
* directional accuracy metrics are new

[2021-03-24 18:04] fkiraly opened #746 "[DOC] document metrics"
#### Describe the issue linked to the documentation

From issue #671 and #718: it would be good to document the various metrics, with taxonomy and full mathematical specification (TeX formulae).

#### Suggest a potential alternative/fix

I'll have a go at this when I'm done with the extension guidelines for forecasting.

[2021-03-24 18:04] mloning commented on #718
Hi @Garve take a look at #745 and let us know if that would be useful for you!

[2021-03-24 18:49] aiwalter commented on #743
great @mloning , how could I have doubted that there is not sth like this already in `skime` 😞.

[2021-03-24 19:04] aiwalter opened #747 "Tuning implicite hyperparameter of tranformers inside TransformedTargetForecaster"
**Is your feature request related to a problem? Please describe.**
I have locally created a class `TuningTransformer` inspired by this `TabularToSeriesAdaptor` in order to tune the implicite hyperparameter of using a tranformers or not inside `TransformedTargetForecaster` in order to tune this all together in a `ForecastingGridSearchCV`. Therefore, the class `TuningTransformer` has an arg `use: bo

[2021-03-24 20:44] fkiraly commented on #747
Quick question, @aiwalter, what does this do?
Does it simply default to the identity transform if `sthsth_use=False`?

Seems like a really good idea to me!

The name though seems sub-optimal, because you would expect a `TuningTransformer` to tune (which it doesn't).
How about `Optional`, or `OptionalTunable` or similar?

PS: beware overfitting by overtuning...

[2021-03-24 20:48] fkiraly commented on #744
Hm, yes - or we just want the effect of not having `inverse_transform` implemented to default to the identity transform?
We could do this inside `TransformedTargetForecaster`, or perhaps - better - in the abstract template class (whichever that is)?

[2021-03-24 23:05] mloning commented on #747
@aiwalter isn't this already possible with scikit-learn pipelines?

From https://scikit-learn.org/stable/modules/compose.html:

Not sure if our pipeline currently handles this, but if we want to add this, we should add handle it like scikit-learn I think.

FYI there is also a [BoxCoxTransformer](https://github.com/alan-turing-institute/sktime/blob/bcce82cbabff00878d5347225d5679c8d30cf239/sktime/tr

[2021-03-24 23:08] mloning commented on #228
@Raghibshams456 thanks for reaching out! Please take a look at the GSoC page [here](https://github.com/alan-turing-institute/sktime/wiki/GSoC-2021).

[2021-03-24 23:22] mloning commented on #744
Instead of doing the identity transform we could just skip them in the pipeline here:
https://github.com/alan-turing-institute/sktime/blob/bcce82cbabff00878d5347225d5679c8d30cf239/sktime/forecasting/compose/_pipeline.py#L130-L131
by adding something like this:
[code]

Using the identity transform has the danger that for some transformers the inverse transform may simply not be implemented yet, eve

[2021-03-24 23:44] Ayushjain9501 commented on #745
Hi,
I am interested in contributing here. Could you guide on how to get started with this issue?

[2021-03-24 23:57] mloning commented on #607
I've manually uploaded the tarball for the latest release (v0.5.3), you can find it [here](https://pypi.org/project/sktime/0.5.3/#files).

I'm not sure why it is so big though (36 MB), @dsherry any idea?

[2021-03-25 02:53] D3ViL-NK commented on #480
@mloning, Thank you for the reply,
I think I understand. I'll be implementing this, and I'll do a draft PR.

[2021-03-25 10:54] aiwalter commented on #747
@mloning that sounds like what I actually want to do, however I could not find how to use `passthrough` exactly and in the `TransformedTargetForecaster` for example, did you get that? Unfortunately there is very rare doc about it.

@fkiraly So `TuningTransformer` seems to do what `passthrough` from `sklearn` is meant for. If I get `TransformedTargetForecaster` running with `passthrough`, we probab

[2021-03-25 11:23] fkiraly commented on #747
I think your proposal is preferrable, in terms of functionality, usability and design:
* I don't think the `passthrough` formalism works the way your functionality is intended.
This is because in `sklearn`'s interface, you have to replace the *estimator* with the string `passthrough`, so it appears as a component in the list, not as a directly indexable hyper-parameter that you can use in grid sea

[2021-03-25 11:25] fkiraly commented on #747
PS: I think I now know what you should call the component: `OptionalPassthrough`?

[2021-03-25 12:03] mloning opened #750 "[BUG] in-sample forecasting edge cases"
**Describe the bug**
In some cases, predicted in-sample indices are not correct. For example, when using a single training observation (see code below).

**To Reproduce**
[code]

**Expected behaviour**
Raise error or correct index.

[2021-03-25 14:40] Dbhasin1 commented on #669
Is this issue available for taking up? I understand why curve normalization could be helpful to remove the unwanted bias. It will be my first time contributing, so some pointers before starting would be much appreciated!

[2021-03-25 14:45] MatthewMiddlehurst commented on #669
I have something currently ready for this, just not made a PR as it accompanies a bunch of other stuff.

Feel free to resolve this yourself, I would recommend adding it as an option to normalise or not rather than just replacing what is currently there.

[2021-03-25 18:20] mustafaaydn commented on #750
Sorry but I fail to see why `expected` should be expected :)

`y_train` and `y_pred` already share the same index of `1960-12`:

[code]

[2021-03-25 22:47] #607 closed

[2021-03-25 23:13] mloning commented on #750
The forecasting horizon is `-1`, one time point before the cutoff value (the last point in the training set). The returned prediction is for the cutoff point, i.e. for `fh = 0`

[2021-03-26 08:55] aabanda commented on #669
I agree with @MatthewMiddlehurst , feel free @Dbhasin1

[2021-03-26 15:04] Dbhasin1 commented on #669
Thanks, @MatthewMiddlehurst @aabanda
To ensure I am going in the right direction, the following are the points that need to be taken care of:
• Add a bool parameter in the BaseTimeSeriesForest class in
 sktime/sktime/series_as_features/base/estimators/_ensemble.py
• Initialise the fis_count dataframe and fill it with the number of empirical intervals for each point
• If the bool parameter's True,

[2021-03-26 18:37] Ayushjain9501 commented on #745
I understand the implementation part, we check at every timestep whether the direction of change (increased, decreased) is in agreement with what actually happened.
However, I need some clarification on the inputs.
<ul>
<li>y_test : Is it a series with values like ['U', 'D', 'D'] or [340, 318, 362..]?
<li>y_pred : Same question
</ul>
Could you please give some clarification on `bins` variable

[2021-03-27 11:15] jachane99 opened #755 "[BUG] import MUSE error"
**Describe the bug**
Import issue for MUSE package

**To Reproduce**
`from sktime.classification.dictionary_based import MUSE`

**Expected behavior**

This import shouldn't cause any issue

**Additional context**

   from sktime.classification.dictionary_based import MUSE
ImportError: cannot import name 'MUSE' from 'sktime.classification.dictionary_based' (C:\UserPath\site-packages\sktime\classifi

[2021-03-27 18:37] mloning commented on #755
Looks like MUSE was added in `0.4.3`, please update your sktime version.

[2021-03-27 18:37] #755 closed

[2021-03-27 23:55] fkiraly commented on #744
I feel it's important here to try spell out a few example cases explicitly before we make a design decision - shall we do that? @aiwalter, would you mind explaining how you would like `Imputer` and `HampelFilter` to behave, specifically?

[2021-03-28 09:27] ngallo1 opened #758 "[BUG] Installation fails: Soft dependencies and Jupyter Notebook"
I installed sktime and tried to run the 'Forecasting' code segment from the Welcome page (https://www.sktime.org/en/latest/).
When I put the code in a `test.py` file and run it from the terminal (`python test.py`) it outputs the correct value.  However, when I run the same code from a Jupyter notebook I get a "ModuleNotFoundError: No module named 'pmdarima'. 'pmdarima' is a soft dependency and not

[2021-03-29 08:04] aiwalter commented on #744
@fkiraly I have just seen that my previous statement partially incorrect:

This statement was correct, but `sklearn.Imputer` is depreciated and was replaced with `sklearn.SimpleImputer`, which now has an `inverse_transform` method. So my idea is to copy it ideally for `sktime.Imputer`. Also this might then work for `HampelFilter` as well.

So the main purpose is to use the `fit_transform` method a

[2021-03-29 08:13] aiwalter commented on #747
@fkiraly @mloning ok, so let me open a PR in the next days/weeks. I basically already have all the code locally :) Any ideas where to place such a class? Maybe in `sktime.transformations.series.adapt` or we make a new file `sktime.transformations.series.tune`?

Yeah could be sth like this
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https

[2021-03-29 09:03] mloning commented on #758
@ngallo1 thanks for reporting the issue. Can you check you run the Jupyter notebook from the same environment where you installed `pmdarima`?

[2021-03-29 09:13] #651 closed

[2021-03-29 09:33] mloning commented on #744
The [`inverse_transform`](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer.inverse_transform) of the `SimpleImputer` replaces the imputed values with np.nan again by remembering the indices of imputed values ("binary indicators"), those are basically what we would call annotations, i.e. label-timepoints pairs.

This will work for out-

[2021-03-29 09:36] mloning commented on #747
Perhaps we should make a new file `sktime.transformations.series.compose.py`?

[2021-03-29 11:02] mloning commented on #758
I've updated the README to avoid the installation of soft dependencies.

[2021-03-29 11:02] #758 closed

[2021-03-29 11:40] Raghibshams456 commented on #750
can you tell  in which part of code we can make changes...??

[2021-03-29 13:37] fkiraly commented on #744
Hm, @mloning, @aiwalter, what would be an example where we would want `inverse_transform` of an imputer to *remove* imputed values again, as opposed to it being the identity transform, and why?
I can't construct an example where this would be beneficial or required by clean practice, but perhaps I just don't see it.

[2021-03-29 13:39] fkiraly commented on #747
stupid question: is this actually not an instance of the multiplexer, with a "canonical alternative" being the identity transformer?

Might be worth having the `OptionalPassthrough` as a shorthand, but that would imply that it should perhaps be wherever the multiplexer is, and it should perhaps even be a contraction of the multiplexer?

[2021-03-29 13:45] fkiraly commented on #704
@mloning, would you mind assigning to whoever is currently looking at this?

[2021-03-29 15:49] mloning commented on #750
@Raghibshams456 I haven't taken a closer look yet, I suggest to write a unit test for it and debug it.

[2021-03-29 15:57] mloning commented on #704
@fkiraly still the same people, @afzal442, Abdul and @sparkingdark

[2021-03-29 15:58] fkiraly commented on #704
I mean, assigning to the issue

[2021-03-29 16:00] mloning commented on #704
@fkiraly I think they need to comment on the issue first before they can be assigned for some reason.

[2021-03-29 16:48] afzal442 commented on #704
Thanks @fkiraly.
Hi @mloning , since we have been working on this issue, you can assign it to us as @abdulelahsm, @afzal442 , @sparkingdark. Thanks.

[2021-03-29 17:35] fkiraly commented on #704
hm, it would appear @sparkingdark and @abdulelahsm have to post sth here in this thread to be assignable.

[2021-03-29 18:33] mloning commented on #704
The related OLS issue is here: https://github.com/open-life-science/ols-3/issues/36

[2021-03-29 20:13] aiwalter commented on #747
@fkiraly not sure if I understood this. I think generally `MultiplexForecaster` is about finding the best forecaster whereas OptionalPassthrough will be used to find the best combination of multiple transformers together with a forecaster inside a `TransformedTargetForecaster`.

Maybe it helps to show what I am doing in model tuning all together. I am using the following steps and components:

1.

[2021-03-29 20:21] fkiraly commented on #747
Ok, let me explain:
`OptionalPassthrough(foo)` is the following instance of a hypothetical `MultiplexSeriesTransformer`:
`MultiplexSeriesTransformer(['foo' = foo(), 'id' = IdentitySeriesTransformer())`, with the `selected_transformer` in `MultiplexSeriesTransformer` corresponding to `passthrough` of `OptionalPassthrough` (`'foo'` vs `'id'` corresponds to `True` vs `False`)

[2021-03-29 20:39] aiwalter commented on #744
@fkiraly yes so basically why can we not just do the identity transform and perhaps raise a warning? Any ideas how `inverse_transform` of `HampelFilter` could look like?
So, what should we do now with this issue?
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-03-29 21:10] aiwalter commented on #747
@fkiraly

MultiplexSeriesTransformer(['foo' = foo(), 'id' = IdentitySeriesTransformer()]), with the hyper-parameter selected_transformer in MultiplexSeriesTransformer corresponding to the hyper-parameter passthrough of OptionalPassthrough ('foo' vs 'id' corresponds to True vs False)

but `selected_transformer` would just allow to select one transformer out of n tranformers, right? So equivalent to

[2021-03-30 07:18] abdulelahsm commented on #704
.

[2021-03-30 08:39] mloning commented on #744
Some of the options:
1. create an estimator tag "skip-inverse-transform", check in the pipeline if tag is present and skip if not, e.g. `has_tag(transformer, "skip-inverse-transform")`,
1. check in the pipeline if inverse transform is available and skip if not, e.g. `hasattr(transformer, "inverse_transform")`,
1. implement the inverse transform as the identity transform,

Any other options?

Out o

[2021-03-30 08:45] mloning commented on #745
If I remember correctly, we agreed to a assume `y_test` to be the real-valued time series (e.g. [340, 318, 362..]) and `y_pred` to be categories (e.g. ['U', 'D', 'D']).

Is that right @fkiraly, @RNKuhns?

[2021-03-30 11:49] fkiraly commented on #745
yes, I believe so

[2021-03-30 11:58] fkiraly commented on #745
but my opinion is that `mean_directional_loss` should be a *class*, not a *function*, because it has parameters :smiley:

[2021-03-30 12:16] mloning commented on #745
Yes we currently provide both functions and classes, where the class usually calls the function in `__call__` and keeps additional informations (e.g. bins or whether a greater value is better or worse).

[2021-03-30 14:26] fkiraly commented on #747
@aiwalter, I think we're not entirely on one page here.

All I'm saying ist hat your `OptionalPassthrough` *can be expressed as an instance* of a transformer-multiplexer. Not that you should implement the multiplexer instead.
That it can be expressed as an instance indicates it should live in the same "category" of composers, design-wise and scitype-wise.

Also, to get the equivalent behaviour ins

[2021-03-30 15:50] mloning commented on #747
@fkiraly I understand your point! Makes sense to me conceptually. Regarding implementation, it's probably a good idea to have an `OptionalPassthrough` transformer.

[2021-03-30 18:46] abhishek-parashar commented on #348
hey, any update on this one? If anybody is not working on it. I would love to take it.

[2021-03-30 19:54] mloning commented on #348
Hi @abhishek-parashar looks like no-one is working on this at the moment.

[2021-03-30 20:16] fkiraly commented on #747
Agreed, seem y point above:

[2021-03-30 20:56] ViktorKaz opened #763 "Pipeline for Online Directional Forecasts"
# Problem

In financial applications it is common to be interested in predicting at time $t$ the direction of change for an asset at time $t+m$, where $m \geq 1$ is a future time period. Generally speaking, there are three possibilities. In the time period $[t,t+m]$ either the price can go up, down or there will be no change.

This problem can be decomposed in several smaller, more manageable ones

[2021-03-31 02:58] turmeric-blend opened #764 "[BUG] expected dtype object, got 'numpy.dtype[float32]' when running minirocket notebook"
**Describe the bug**
I'm running this [notebook](https://github.com/alan-turing-institute/sktime/blob/main/examples/minirocket.ipynb) and ran into this error

at `minirocket.fit(X_train)`

**To Reproduce**
run https://github.com/alan-turing-institute/sktime/blob/main/examples/minirocket.ipynb

**Expected behavior**
no error

**Versions**
[code]
</details>

[2021-03-31 05:17] abhishek-parashar commented on #348
Hey @mloning can I take this I will be reverting back with pr in one to two days.

[2021-03-31 05:56] favour-nerrise commented on #764
@turmeric-blend This error is possibly due to an incompatibility between your `numpy` and `numba` versions. I suggest upgrading `numba` to the latest version, e.g. `python3 -m pip install numba==0.53.0`. This might require a manual update to `llmvite` as well by doing, `python3 -m pip install --ignore-installed llvmlite`

[2021-03-31 07:20] #716 closed

[2021-03-31 08:58] turmeric-blend commented on #764
Your configuration worked! Thanks :)

[2021-03-31 08:58] #764 closed

[2021-03-31 10:02] yashlamba commented on #692
Hi, can I work on this? I did some research around this and seems are like when we are inheriting ExponentialSmoothing, it misses on quite a few important parameters as per the docs here. https://www.statsmodels.org/stable/_modules/statsmodels/tsa/holtwinters/model.html

I think we just need to add all the initialization parameters to the theta forecaster and that'll fix it.

[2021-03-31 10:03] Riddhima23 commented on #361
Hello @mloning! To get started can I edit the existing user_guide pages initially? For example I'd like to edit sktime/docs/source/user_guide/transformations.rst

[2021-03-31 10:44] mloning commented on #692
@yashlamba yes, please open a PR, a good first step would be to create a unit test for it and then fix it.

[2021-03-31 10:54] mloning commented on #596
`classification/distance_based/tests/test_time_series_neighbors.py::test_knn_on_arrowhead` takes almost 4 mins to run. Any chance of speeding that up?

[2021-03-31 11:10] Aexousia commented on #669
Hello, I added an option for normalizing the importance curve if the user needs that given the objective and dataset that they might be working on based on what @aabanda, @TonyBagnall, and @MatthewMiddlehurst  suggested.
I also think that we could include more types of normalization as options if we are at it. Sometimes when the range of the time series dataset might be very large, the users might

[2021-03-31 12:12] thayeylolu commented on #421
I would like to work on removing the `fit_trend` method. If it has not been done.

[2021-03-31 16:19] yashlamba commented on #692
So I looked around whether we need to pass other parameters such as `initial_trend`, `initial_seasonal` with `initial_level`, and `initialization_method`. This was mentioned as a requirement [here](https://www.statsmodels.org/stable/_modules/statsmodels/tsa/holtwinters/model.html) for Exponential Smoothing.

So I referred to the `ThetaModel` implementation of statsmodels [here](https://github.com/

[2021-03-31 22:22] mloning commented on #692
@yashlamba sounds like a good idea, comparing our implementation to the one in statsmodels may also be a good idea (see #421)

[2021-04-01 17:43] thayeylolu commented on #480
I would like to implement the prediction intervals for the NaiveForcaster.
The approach I will be adopting is gotten from the FPP book.
<img width="817" alt="image" src="https://user-images.githubusercontent.com/13348874/113332395-06a6eb00-9319-11eb-80d5-39a4b9204185.png">

Since h is the number of steps ahead to predict. fh (the forecast horizon) = h.
Each strategy (last, mean and drift) in the N

[2021-04-02 12:02] mloning commented on #644
FYI we needed to update readthedocs and codecov settings too.

[2021-04-02 12:36] yashlamba commented on #421
What way are we looking forward to? I think subclassing from statsmodel's theta model might be a better way because it won't break our current API implementation. I'll also look for issues with fit_trend if I find any.

[2021-04-03 14:23] mloning commented on #421
I'm not sure what the best way forward is. @big-o any suggestions? We should probably cross-check with the implementation in `forecast` or `fable` in R too.

[2021-04-03 19:16] D3ViL-NK commented on #480
Please take a look at the Draft PR. I have some questions that are mentioned in the code (As comments).

[2021-04-04 21:40] GuzalBulatova commented on #649
Hi! Am I correct that this has been fixed by #739, [1dfce6b](https://github.com/alan-turing-institute/sktime/commit/1dfce6b41c2acdb576acfc04b09d11bf115c92d1#diff-1b57e46d309eecd63b23ed79a5c092f9ac21e1cc843fd14a4b143a1822507b8d)(_tune.py)?

I'm fairly new and trying to find an issue that hasn't been partially solved already.
Could you please point out to something that can be tackled by someone wit

[2021-04-05 09:48] mloning commented on #731
A few tips on how to get started:

1. Watch the [PyData online tutorial](https://www.youtube.com/watch?v=wqQKFu41FIw&t=14s) as an introduction, but note that some parts of the code base have evolved since then.
1. Work through the [tutorials](https://github.com/alan-turing-institute/sktime/tree/main/examples). The tutorials should be self-explanatory. Is there anything that isn't clearly explained

[2021-04-05 09:55] mloning opened #778 "Implement Guerrero method for Box-Cox lambda estimation"
**Is your feature request related to a problem? Please describe.**
Add Guerrero method for lambda estimation to [BoxCoxTransformer](https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/series/boxcox.py).

**Describe the solution you'd like**
You can find an example here: https://otexts.com/fpp3/transformations.html
R code from forecast is available here: https://github.

[2021-04-05 09:58] mloning commented on #649
Hi @GuzalBulatova, yes that's right, #739 closes this issue.

For good first issues, please see my comment on Gitter!

[2021-04-05 09:58] #649 closed

[2021-04-05 10:21] yashlamba commented on #778
I would like to work on this!

[2021-04-05 17:28] mloning commented on #778
Hi @yashlamba, I think @GuzalBulatova already wanted to work on this.

I posted some more ideas on how to identify useful issues here: https://github.com/alan-turing-institute/sktime/issues/778

[2021-04-06 13:22] thayeylolu commented on #361
**User Guide: Regressor**

Task
- [ ] I understand the implementation of TimeSeriesForestRegressor Class
- [ ] I have explained how time series data are different from cross sectional data
- [ ] I have illustrated this difference with an example
- [ ] I have created another example that demonstrated how to train _Time Series Forest Regressor (tsf)_ to predict continuous target variable(s) from tim

[2021-04-07 10:53] mloning opened #782 "Implement STL forecaster"
**Is your feature request related to a problem? Please describe.**
STL forecasting seems a common composite forecaster, so it will be useful to provide a class for it.

There is a [STLForecaster](https://www.statsmodels.org/v0.12.0/generated/statsmodels.tsa.forecasting.stl.STLForecast.html#statsmodels.tsa.forecasting.stl.STLForecast) in statsmodels.

**Describe the solution you'd like**
It should

[2021-04-07 12:03] fkiraly commented on #782
Interesting!

There is an obvious "easy" way to do this - but...

I was wondering, is it possible in python to create a contraction operation that is class-level, i.e., a factory operation that uses class inspection and manipulation? Sth that allows

[code]

[2021-04-07 20:14] shreshtha48 opened #785 "Loading .fif and .edf file formats"
**Is your feature request related to a problem? Please describe.**
I am not sure if this has been discussed or not, but I wanted to know if there is a way to load datasets with .fif, and .edf format? I have been drafting my gsoc proposal for the project and there is a high chance that I will come across these formats as I plan to use MNE library along with sktime for the EEG data analysis

**Descr

[2021-04-07 21:17] fkiraly commented on #785
hm, a quick google search indicates there are already libraries dealing with import or conversion. Would you kindly mind doing a little bit of background research to make sure we avoid duplicating functionality?
Also, not sure whether sktime is the best place for specific format data I/O - perhaps you can outline what functionality would live where.

[2021-04-08 03:10] krinkere opened #786 "[BUG] cannot import name 'MultiplexForecaster' from 'sktime.forecasting.compose'"
**Describe the bug**
While trying to run example notebook that uses MultiplexForecaster given an error message that it is not present in forecasting/compose/__init__.py

**To Reproduce**
Install via pip (pip install sktime) or conda (conda install -c conda-forge sktime)
Run imports from example notebooks
https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb

Given

[2021-04-08 06:53] shreshtha48 commented on #785
Hello,
I had a look around and it seems that there is an option to convert a .fif file into a dataframe that can be later saved as csv in  a library called MNE. My main concern while I was thinking about the project proposal was how to effectively deal with the EEG data because MNE doesn't accept csv as a valid file format for analysis and sktime as you said, is not the best place for specific for

[2021-04-08 09:04] aiwalter commented on #786
Hi @krinkere ,

this example is from the main branch, which is ahead of PyPI version of sktime. `MultiplexForecaster` is a new class which is not yet on PyPI.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-04-08 09:04] #786 closed

[2021-04-08 09:05] aiwalter commented on #747
done by #762

[2021-04-08 09:05] #747 closed

[2021-04-08 13:35] krinkere opened #789 "[BUG] ImportError: cannot import name 'ReducedRegressionForecaster' from 'sktime.forecasting.compose'"
**Describe the bug**
Following example from https://github.com/alan-turing-institute/sktime/blob/v0.5.3/examples/01_forecasting.ipynb

Getting this error
[code]

[code]

**Versions**
<details>

System:
    python: 3.7.10 (default, Feb 26 2021, 18:47:35)  [GCC 7.3.0]
executable: /bin/python
   machine: Linux-3.10.0-1160.15.2.el7.x86_64-x86_64-with-redhat-7.9-Maipo

Python dependencies:
          pi

[2021-04-08 13:59] aiwalter commented on #789
Try `ReducedForecaster` instead

[2021-04-08 14:01] #789 closed

[2021-04-08 15:40] fkiraly commented on #785
Hm, could you be please a bit more specific here? What format do you expect the files in, and what format do you want to convert it to? What are the options at present? How is this related to sktime?

[2021-04-08 16:00] shreshtha48 commented on #785
I expect the  files to be in .fif , .edf or DIACOM format. I think there is already a PR that deals with the  DIACOM data (issue #356 ). I am looking to implement something similar for .fif and .edf formats. Ideally, I would want them to be convert in csv while using sktime. Having the choice to convert these file formats into csv is crucial as I plan to use sktime for feature extraction and time

[2021-04-08 16:49] Lovkush-A opened #790 "[BUG] Forecasting notebook in examples is buggy"
* Needs to be updated with latest changes from #757, e.g. changing of `scitype`s
* Adjustment of `window_length`s in gridsearch, as they are currently too small. I think it is as simple as replacing `initial_window` with `window_length` in SlidingWindowSplitter.

**To Reproduce**
Try running the forecasting notebook for yourself

[2021-04-08 16:50] Lovkush-A commented on #790
I am happy to work on this, but I will do it after #757 is completed.

[2021-04-08 16:56] fkiraly commented on #785
Hm, pinging @mloning and @TonyBagnall - I'm not sure that sktime is the best place for file format converters, since it is not a time series modelling concern. Conversion between fif, edf, etc is better located in a separate package or a package specific to medical data, in my opinion.

Loading functionality (from specific file format to memory) is another story, I think that's more a grey area si

[2021-04-08 17:01] TonyBagnall commented on #785
I think converters to our bespoke .ts file format for classification/regression would be useful and would help expand the UCR/UEA archive.

[2021-04-08 17:09] fkiraly commented on #785
@TonyBagnall, do you have a python package of choice for this type of I/O or conversions?

[2021-04-08 17:46] TonyBagnall commented on #785
@fkiraly I would use Java :) Unless it was json, in which case I would write python.

[2021-04-08 17:54] shreshtha48 commented on #785
I'd love to work on this. The only way i know how to convert a .edf file into a .csv file is via the MNE python library but i'm willing to learn more!

[2021-04-08 18:29] mloning commented on #790
Thanks @Lovkush-A for raising this issue!

Seems like the [CI test](https://github.com/alan-turing-institute/sktime/blob/329a937ff60adbf6c48971dd1f17f3fd3d26c197/.github/workflows/build-and-test.yml#L27) doesn't fail if it detects an error: https://github.com/alan-turing-institute/sktime/runs/2286754227

I believe we need to add `set -e` at the top of the `build_tools/run_examples.sh` file. As thi

[2021-04-09 16:58] #790 closed

[2021-04-10 12:44] aiwalter commented on #361
@ngupta23 fyi

[2021-04-10 16:13] mloning opened #795 "Add support for fractions for window length parameters"
**Is your feature request related to a problem? Please describe.**
Currently, window length parameters (e.g. `window_length` or `initial_window` in `SlidingWindowSplitter`) have to be integers and denote the absolute number of time points, similar to how scikit-learn handles fractions in their cross-validation functionality.

**Describe the solution you'd like**
Add support for floats denoting the

[2021-04-10 19:10] #345 closed

[2021-04-11 11:56] mloning opened #797 "Using contemporaneous values of exogenous variables in forecasting reduction"
**Is your feature request related to a problem? Please describe.**
Currently, we only use lagged values of exogenous variables in forecasting reductions, up to the cutoff point, like the endogenous series. However, it is common to use values of the exogenous variables up to the step of the forecasting horizon to be predicted (contemporaneous values).

**Describe the solution you'd like**
* Add opt

[2021-04-11 16:58] satya-pattnaik opened #798 "Implement PyOD transformer adapter"
**Is your feature request related to a problem? Please describe.**
A sktime Series Transformer which wraps a ADTK Pipeline for outlier detection.

**Describe the solution you'd like**
This [notebook](https://github.com/satya-pattnaik/sktime-mentorship-program/blob/main/anomaly_detection/sktime_adtk.ipynb) has an initial approach

**Additional context**
https://arundo-adtk.readthedocs-hosted.com/en

[2021-04-11 17:03] fkiraly commented on #798
Unfortunately, ADTK is not permissive open source, so we can't make it a dependency.
I'm also not sure how well it is supported still.

Though, if you want outlier detection, I suggest `pyod`:
https://github.com/yzhao062/pyod

So, we could wrap the `pyod` interface (for i.i.d./tabular data) for use with temporal scenarios via reduction?

[2021-04-12 06:29] thayeylolu commented on #795
I would like o ask if `window_length` and `initial_window` mean the same thing.

[2021-04-12 12:53] mloning commented on #795
@thayeylolu If you search for these names in the entire code base, you will see that they are used in different classes. The docstrings should give you more details on their meaning.

For the temporal cross-validation splitters, you can see what these parameters mean in this notebook: https://github.com/alan-turing-institute/sktime/blob/main/examples/window_splitters.ipynb

[2021-04-12 15:39] thayeylolu commented on #795
Thank you @mloning for sharing. I would look at the example notebook to understand them better.

[2021-04-12 19:41] JonDickens1607 opened #803 "Import make_reduction error"
ImportError: cannot import name 'make_reduction' from 'sktime.forecasting.compose' (C:\ProgramData\Anaconda3\lib\site-packages\sktime\forecasting\compose\__init__.py)

[2021-04-12 19:43] JonDickens1607 opened #804 "Model Evaluation Module Error"
from sktime.forecasting.model_evaluation import evaluate

No module named 'sktime.forecasting.model_evaluation'

[2021-04-12 19:58] aiwalter commented on #804
@JonDickens1607 there is an issue template, pls use next time. This is a new function from master branch and not yet in PyPI.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-04-12 19:58] #804 closed

[2021-04-12 19:59] aiwalter commented on #803
same as #804
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-04-12 19:59] #803 closed

[2021-04-12 20:26] ParthivNaresh opened #805 "[BUG] _PmdArimaAdapter setting the wrong relative forecasts for frequency 10T"
Currently while using a dataset that has a datetime index with a frequency of 10T (separated by 10 minutes), the ForecastingHorizon is setting the relative values to increments of 100. This leads to `n_periods` being set as 100 times the actual length `X.shape[0]` of the exogenous variable used in `predict`. This causes a `ValueError` to be raised by the Arima package `X array dims (n_rows) != n_p

[2021-04-13 14:39] fkiraly opened #807 "[BUG] binder notebook environment build breaks over scikit-posthocs unable to load pyqt5 in setup.py"
**Describe the bug**

When running the sktime binder, the environment setup breaks over scikit-posthocs unable to load pyqt5 in setup.py.
This is reproducible using multiple browsers and computers (all running Windows).

Have not investigated what causes the issue, but it´s possibly an incomplete requirements file somewhere in the dependency graph.

See printout here.

![image](https://user-images

[2021-04-13 18:57] mloning commented on #807
Binder is still broken #662 - partly due to complications with fbprophet/pystan I believe

[2021-04-13 20:29] fkiraly commented on #807
the error I getting seems like a different one though, @mloning?

[2021-04-14 07:57] xuyxu opened #809 "[BUG] problematic language statistics shown in the homepage"
Hi, I have noticed that `.ts` files in the folder `datasets` are tracked by Github Linguist, which is not the case in the past.

As a result, the language statistics shown in the homepage are somehow mis-leading. Maybe we should add `jquery.js -linguist-vendored` as a new line in `.gitattributes`, according to this [markdown file](https://github.com/github/linguist/blob/master/docs/overrides.md#ve

[2021-04-14 08:11] mloning commented on #809
Thanks @xuyxu - would appreciate a PR.

We should probably also except the docs folder, so the new `.gitattributes` files should look like this if I understand the documentation correctly:
[code]

[2021-04-14 08:12] xuyxu commented on #809
Sure, will work on this soon ;-)

[2021-04-14 08:14] mloning commented on #805
Thanks for raising the issue @ParthivNaresh!

This is related to https://github.com/alan-turing-institute/sktime/issues/670

Would appreciate if you look into this. We should either fix it if possible, or raise an error.

[2021-04-14 13:17] #809 closed

[2021-04-14 13:58] mloning commented on #633
This now works:
[code]

[2021-04-14 13:58] #633 closed

[2021-04-14 14:08] mloning commented on #431
This now works as expected after merging #660.

[code]
![image](https://user-images.githubusercontent.com/21020482/114724054-1966ea00-9d33-11eb-99d4-69361453ab89.png)

[2021-04-14 14:08] #431 closed

[2021-04-14 14:10] mloning commented on #583
Closed by #774

[2021-04-14 14:10] #583 closed

[2021-04-14 14:12] mloning commented on #623
I cannot reproduce without more details, please feel free to reopen and post a minimal, reproducible example!

[2021-04-14 14:12] #623 closed

[2021-04-14 14:13] mloning commented on #677
For more details go to https://github.com/alan-turing-institute/sktime/issues/666

[2021-04-14 14:13] #677 closed

[2021-04-14 14:15] mloning commented on #675
I will close this for now, but feel free to reopen if you have more details on this.

[2021-04-14 14:15] #675 closed

[2021-04-15 01:07] angus924 opened #813 "MiniRocket as an Option for ROCKETClassifier"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
I thought I'd ask first, before submitting a PR—@MatthewMiddlehurst because it's your code, @kachayev and @RavenRudi because you are working on related PRs—would it be helpful to add [MiniRocket](https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/panel/rocket/_m

[2021-04-15 02:35] kachayev commented on #813
I think it would make sense to have optional `transformation` parameter for `ROCKETClassifier` class that could be set to one of the following: `Rocket`, `MiniRocket` or `MiniRocketMultivariate`. Though I would keep  `Rocket` default for backwards compatibility.

[2021-04-15 08:20] xuyxu commented on #655
Hi @goastler, I cannot reproduce your problem using the cython distince metirc.

[code]

The running result is:
[code]

[2021-04-15 08:30] xuyxu commented on #664
BTW, I am wondering when will we discard the support on python 3.6. It has hindered us from using Numpy 1.20.X, which contains many improvements and new features.

[2021-04-15 08:44] mloning commented on #664
@xuyxu good question, the next release will still support 3.6, we can consider removing it for the following release after that.

[2021-04-15 08:46] xuyxu commented on #196
Hi @mloning, I would like to work on using `cibuildwheel` to simplify the workflow on package building. You can check our [package](https://github.com/LAMDA-NJU/Deep-Forest/blob/master/.github/workflows/build-wheels.yml) that uses cibuildwheel, it is quite convenient, and we can even build wheels for architectures like `aarch64`.

I have checked all supported python versions and platforms of sktim

[2021-04-15 09:02] RavenRudi commented on #813
Hi,

I agree with @kachayev. That is probably the best option. What I did in my PR, is refactoring duplicate code of the `ROCKETClassifier` and `ROCKETRegressor` into `series_as_features/base/estimators/shapelet_based/_rocket_estimator.py`. That's were the `transformation` parameter could be added.

[2021-04-15 09:10] MatthewMiddlehurst commented on #813
Having it as a parameter would be best. No opinion on the best default value.

[2021-04-15 09:18] mloning commented on #813
I think it would be nice to develop a more unified interface for using Rocket/MiniRocket at the level of the RocketClassifier/RocketRegressor. Adding a `transformation` or `method` argument seems fine, with possible values being "minirocket" or "rocket". I would not add `MiniRocketMultivariate". I prefer multivariate data being handled automatically when given in fit/predict without requiring user

[2021-04-15 09:29] mloning commented on #196
@xuyxu sounds good

[2021-04-15 12:59] satya-pattnaik commented on #798
This looks to be a good one, it has got some techniques specific for time series - https://github.com/SeldonIO/alibi-detect

[2021-04-15 13:10] Ifeanyi30 commented on #795
Hi @mloning, so if the window_length=0.5 returns half of the y data, then the range of the float window_length would have to range from 0.0 to 1.0

[2021-04-15 13:27] fkiraly commented on #798
yes, indeed! Thanks for making us aware of this. @mloning FYI, also good to have on the related work page?

They do not seem to have a pipeline structure though - so it might be a good idea to construct:
* a seldon interface, with a cleaner API design for scitype handling (e.g., time series input or tabular input? annotators and detectors)
* some functionality similar to sklearn `Pipeline` or ADTK

[2021-04-15 13:32] mloning commented on #795
@Ifeanyi30 yes that's correct, anything above 1 would have to be an integer denoting the absolute number of time points in the window, e.g. `window_length=10` means 10 timepoints regardless of the length of `y`

[2021-04-15 13:40] mloning commented on #798
@satya-pattnaik looks interesting, please add to `docs/source/related_software.rst`

[2021-04-15 13:41] Ifeanyi30 commented on #795
I would like to work on this

[2021-04-15 14:23] mloning commented on #795
@thayeylolu are you already working on this?

[2021-04-15 14:26] thayeylolu commented on #795
@Ifeanyi30 Thank you for showing interest in this. @mloning  I have started working on it

[2021-04-15 14:57] mloning commented on #795
@thayeylolu great! Opening a draft PR is usually a good first step to indicate that you're working on it and to receive early feedback. @Ifeanyi30 perhaps you'd be interested in reviewing once the PR is up?

[2021-04-15 14:59] Ifeanyi30 commented on #795
I would love to

On Thu, Apr 15, 2021, 3:58 PM Markus Löning ***@***.***>
wrote:

[2021-04-15 21:12] ViktorKaz commented on #798
For the last several weeks I've been working on a design of a pipeline which can also be used for outlier detection. You can find the preliminary code [here](https://github.com/ViktorKaz/sktime/tree/pipeline/sktime/pipeline). This is related to Issue https://github.com/alan-turing-institute/sktime/issues/763.

[2021-04-16 02:03] angus924 commented on #813
Thanks very much everyone.

[2021-04-16 08:56] Gradwanderer opened #816 "[DOC]Do I need the timestamp? Use of a Timeseriesgenerator, Keras"
#### Describe the issue linked to the documentation
https://www.sktime.org/en/v0.4.2/examples/loading_data.html
 can't find a solution for my specific problem. Described here: https://www.sktime.org/en/v0.4.2/examples/loading_data.html
Do I need the timestamp?

#### Suggest a potential alternative/fix

would be great to have an integration to timeseriesgenerators
This could be an easy comparable w

[2021-04-16 09:48] mloning commented on #816
Thanks for reaching out @Gradwanderer - I'm not entirely sure what problem you're trying to solve or what your question is.

There's an issue on data generators here: #353

[2021-04-16 17:38] RNKuhns opened #817 "Add convenience function to plot series, ACF and PACF"
**Is your feature request related to a problem? Please describe.**
Reviewing a plot of a series, as well as its ACF and PACF functions is a common exploratory data analysis step in time series analysis.

Currently users would have to individually plot the series using sktime's `plot_series` function and then either import and use statsmodels' `plot_acf `and `plot_pacf` functions. Providing an off-