[2021-07-02 18:06] #729 closed

[2021-07-02 20:28] Lovkush-A commented on #1059
Been skimmg through some of Ted Kaminski's essays on software engineering, and there is one on documentation: https://www.tedinski.com/2018/04/17/documentation-as-design-tool.html

For Ted, four important categories of documentation are:

* Good error messages! Never forget these count as documentation, too.
* Reference. This is the JavaDoc-style description of each individual exposed piece of an

[2021-07-02 20:35] Lovkush-A commented on #1032
Been skimming through some of Ted Kaminski's essays on software engineering, and in this one https://www.tedinski.com/2018/05/01/designing-imperative-code-with-properties-in-mind.html they argue for 'property testing' and recommend the package [Hypotheis](https://hypothesis.readthedocs.io/en/latest/).

(Apologies - I realise I am not directly helping with the key steps given in the issue descripti

[2021-07-03 10:06] fkiraly opened #1097 "tests refactor: scitype abstraction and dispatch"
Reviewing the test suite, I am noticing that the addition of every base class requires addition of another "if/else" statement in a number of places, e.g., `estimator_check._make_args`.

There is dispatching on two things:

* base classes or scientific types
* class methods

This should be refactored to be more extensible, possibly by abstracting around scientific types.

What I would do is implem

[2021-07-03 10:12] fkiraly opened #1098 "tests refactor: move default parameter settings into concrete classes"
The framework has been refactored as descriged below.

Now, all there is to do is to move the defaults from the `tests/_config` file into the individual estimator's `get_testing_params`.

PRs are appreciated - if you work on this, please post below which estimators you are helping with refactoring to avoid duplication.

---

We should refactor the default settings in `_config`.

Currently, `_confi

[2021-07-03 11:08] RNKuhns commented on #973
I also like TimeSeries, but would we also need to note the type of TimeSeries data, since it is the Scitype?

UnivariateTimeSeries, MultivariateTimeSeries, PanelTimeSeries?

[2021-07-03 16:52] fkiraly commented on #1081
@GuzalBulatova, I do like this idea.

One point I wanted to bring up is the handling of input and output types - the `ColumnEnsembleForecaster` takes a multivariate series and produces a univariate one. The theta transformer takes a univariate and produces a multivariate. I don't think we have agreed on conventions.

Also, you allude to the initial conversion series->frame being done in the base c

[2021-07-03 17:01] fkiraly commented on #973
@RNKuhns, I'm not sure whether we need the difference univariate vs multivariate, but of course we will a separate type for panel.

Why do I think we may not need uni vs multivariate: I don't think it's that much of a difference in terms of type; the uni vs multivariate capability would also be handled by tags, and type conversion would happen in `fit`. So I don't see a place where we would pass t

[2021-07-03 18:48] fkiraly opened #1102 "pycaret object oriented interface and contraction"
@ngupta23, after playing around with `pycaret` a bit, I would suggest we adopt an object oriented interface between the two packages. Let me know what you think.

Currently, `pycaret` can use `sktime` estimators, but what would be really great if:

* it can export fitted and "blueprint" estimators after the "easy user workflow" is run
* it can reference "stock" estimators like detrend/deseaslonali

[2021-07-04 02:11] thayeylolu commented on #929
User Journey Design

[code]
- The tag`univariate-only` is set to false
- Constructor's parameter `dates` as used by statsmodel's [var](https://www.statsmodels.org/dev/generated/statsmodels.tsa.vector_ar.var_model.VAR.html#statsmodels.tsa.vector_ar.var_model.VAR)
- expected input is `pd.DataFrame`

[2021-07-04 05:47] williamgilpin opened #1104 "[BUG] load_UCR_UEA_dataset does not successfully import file"
**Describe the bug**

Thank you very much for this amazing library! On my system, the `load_UCR_UEA_dataset` utility is unable to find the file after downloading it

**To Reproduce**

[code]
[code]

**Expected behavior**
This should import the data.

**Additional context**

There appear to be two issues here. First, if the data has not been downloaded before, `sktime` downloads an `.arff` file. Ho

[2021-07-04 06:13] williamgilpin commented on #1104
My apologies, I realize now that my mistake is the specific dataset---sorry about that! Thanks again for this amazing resource.

[2021-07-04 06:13] #1104 closed

[2021-07-04 09:43] AngelPone opened #1105 "Forecaster interface: getting in-sample forecasts, getting residuals"
**Is your feature request related to a problem? Please describe.**
I think there should be a method or property to obtain in-sample fitted value or residuals, which are important in many forecasting methods, such as forecast combination.

**Describe the solution you'd like**

Add a method or property to `BaseForecaster` and it should be implemented for every forecaster.

**Additional context**
A t

[2021-07-04 10:07] fkiraly commented on #1105
Ok, I think there are two requests in there, and a proposed way of addressing these.

The two requests: residuals and in-sample values.

Regarding residuals, I fully agree that there should be an easy way to return them!
But, I don't think this is a concern of the `BaseForecaster`.

There also already is a way to obtain residuals from a forecaster, it's the `Detrender` - simply detrend with the fo

[2021-07-04 10:41] fkiraly commented on #1105
for forecast combination, you may like to look at the `HedgeExpertEnsemble`, it may do what you want, i.e., re-weight depending on errors or forecast residuals.

Would be nice to hear from you whether you think that's what you need or not, and whether it should be made clearer in the tutorial.

[2021-07-04 11:22] afzal442 commented on #924
Closing for #1010

[2021-07-04 11:27] fkiraly commented on #141
What is not clear to me, @ngupta23, is what you want to achieve with backtesting.

It could be that you are conflating evaluation with model selection, a frequent point of conflation. Both are very similar, and both involve back-testing, so it's not an uncommon point of conflation. In our design paper, we highlight this as one of three major points of architectural hygiene, see [section 5.1, third

[2021-07-04 11:27] fkiraly commented on #141
I think we should be reopening this, @mloning. It's nice to collect things in a STEP, but we can't have proper discussions in a wiki document, can we?

[2021-07-04 11:29] fkiraly commented on #924
well, it hasn't been merged yet, so let's reopen but attach to the new PR, so it closes whan that gets merged.

[2021-07-04 13:15] AngelPone opened #1106 "error in _predict_in_sample of ARIMA models"
**Describe the bug**

I try to get all in_sample forecasts of fitted models, but error raised.

[code]

**To Reproduce**

[code]

**Additional context**

I checked out the source code, the error raised because `_pmdarima.py` use all absolute `fh`, e.g. `start=0, end=143` for the airplane series. But `ARIMA.predict_in_sample()` can't be `start=0` if there is difference `d`

**Versions**

same as la

[2021-07-04 14:11] fkiraly commented on #1106
Hm, is this truly a bug? `ARIMA` can't make an in-sample prediction for the first time points it's seen, it needs to "burn in" (I believe you need to see at least `d` many and better more).

So what I would do is to first `fit` it, and then use `update_predict_single` to get predictions for new data points - if you want in-sample, then ask for predictions at the time points you predict at (`fh = y

[2021-07-04 14:12] fkiraly commented on #1106
Also, what behaviour would you *expect*, @AngelPone, can you perhaps sketch an example and command plus result? Not sure what it should be.

[2021-07-04 15:11] AngelPone commented on #1106
I think it is.

As shown in the sample code, the error raised when you try to pass `fh=y.index` to get in-sample forecasts for all observations, which are usually unexpected for the user, because  the **optimal** ARIMA model found by `AutoARIMA()` may have `d=0 or 1 or 2 ...`. Thus, if user want to get all in-sample forecasts, they would pass `fh=y.index`, and this error would raise.

[2021-07-04 18:50] fkiraly commented on #1076
Coming from the discussion #1106 with @angelpone, I was wondering whether a more sensible default for the `fh` wouldn't just be `y.index`, i.e., default is always to make in-sample forecasts. I think that might actually be more natural.

Opinoins, @angelpone, @aiwalter, @mloning?

[2021-07-05 03:24] AngelPone opened #1111 "[BUG] AutoARIMA, AutoETS, BATS, et al. can't be used in EnsembleForecaster"
**Describe the bug**

I tried to use AutoARIMA and AutoETS in EnsembleForecaster, error raised

[code]

**To Reproduce**

[code]

**Expected behavior**

They can be used in EnsembleForecaster

**Additional context**

`EnsembleForecaster` checks the forecasters if are instance of `BaseForecaster` , but the models above inherit their adapters but not `BaseForecaster`, so the error raised

[2021-07-05 06:48] aiwalter commented on #1111
You forgot `()` like `AutoARIMA()`

[2021-07-05 06:49] #1111 closed

[2021-07-05 09:29] GuzalBulatova commented on #1081
Thank you, @fkiraly! No, we haven't agreed on conventions.
With `ThetaLinesTransformer` it was: six input options - `int, float, list of int / float, tuple of int / float`,   inner conversion to list,    outputs - `pd.Dataframe` or `pd.Series` in case only one Theta-line is needed.

Now with @Lovkush-A suggestions

[code]
we'll have `ColumnEnsembleForecaster` as a part of ThetaForecaster, it'll ta

[2021-07-05 10:44] fkiraly commented on #1111
@AngelPone, can you confirm that using objects (not classes) resolves your problem?

[2021-07-05 10:45] AngelPone commented on #1111
yes @fkiraly  problem solved.

[2021-07-05 11:05] ngupta23 commented on #141
I will try to explain from a business perspective and then we can backtrack from there.

Assume a business has an existing flow for forecasting, which they have been using historically. Now, lets say I come up with a new flow where in every period, I select the best model a list of 10 models. Then I use that best model to make a forecast the unknown future and make some decisions based on that.

T

[2021-07-05 11:20] ngupta23 commented on #1102
@fkiraly this functionality already exists today. Any model returned should be sktime compatible. Did you find a case where it was otherwise?

@Yard1 @pycaret - Do you know if something like this is already supported in `pycaret` - custom model pipelines? If so, what impact does it have on the model containers and the definition of the default parameter grids, etc?

[2021-07-05 11:29] fkiraly commented on #141
I understand the business perspective very well, @ngupta23 😃
but we need to make sure the scientific workflow is robust too.

Pointing to business needs is not a guarantee that whatever argument follows is correct. :wink:

What I strongly suggest, on the technical side, is to avoid unnecessary coupling of model selection to model evaluation, since this can lead to overestimation of model performan

[2021-07-05 11:34] fkiraly commented on #1102
I think default parameter settings is something that we may like to have in `sktime` native, btw.
See this discussion on testing, where we already have default settings, but they are in the testing framework, but I think they should be with the models #1098.

[2021-07-05 11:34] fkiraly commented on #1102
Actually, I mean this for the hard-coded pipelines that come with `pycaret`. That would give you an easy option to "fix" the `pycaret` curated pipelines to easily usable shorthands.

[2021-07-05 11:39] aiwalter commented on #1076
I think the default should cover ideally the most intuitive and most often applied case. I think this is

- forecasting in the future not in the past
- forecasting with 1 step ahead. Other common use case might be forecasting one season (`sp`) but not each data has a season and its not always possible to capture it automatically from the data.

So that is why `fh=[1]` is the most reasonable defaul

[2021-07-05 11:50] ngupta23 commented on #141
Understood, I just wanted to provide more context on what I was trying to do so I could explain the rest, but looks like it complicated things further :).

evaluate(ModelSelect(models = [model1, model2, etc], cv), backtest_cv, fh)
is not sufficient for your needs?

Is this not doing the same thing as what I proposed, just replacing the `workflow_func` with `ModelSelect` class? if so, are you propo

[2021-07-05 12:03] ngupta23 commented on #1102
I think it can reside in both places. For reduced regression models, we are also trying to sync it with what is used for pycaret regression. Plus some of this is tightly linked to what is done in pycaret setup for example [here](https://github.com/pycaret/pycaret/blob/da45777be1d34e05a6e5ad87f0eeb322d2bc0c52/pycaret/containers/models/time_series.py#L645) where it uses seasonality values, etc. base

[2021-07-05 12:09] ngupta23 commented on #1102
Yes, I was thinking more of the lines of what @mloning  did for the M4 benchmarking where he created various combinations of pipelines. There is no way we can include all possible combinations of model pipelines in pycaret. So we need to provide additional flexibility for users to provide their own pipeline.

We will eventually also move these internal model pipelines into its own dedicated packag

[2021-07-05 13:27] ABostrom commented on #973
@fkiraly I agree with you on the differenatiation of uni and multi.

I think separating them can make it harder down the line. Estimator, transformers etc should state whether they can handle this type of data.

For example in TSML, the transformers have a fallback position where they just perform the transformation across each dimension etc.
We could have a similar fallback position for univariat

[2021-07-05 17:57] fkiraly commented on #1102
Excellent idea!

I think mlr and mlj follow similar models, but not sure how precisely this would look like for `sktime`, so looking forward to the discussion.

[2021-07-05 18:02] mloning commented on #1076
I agree with @aiwalter, the only problem is that `fh=1` will introduce confusion for forecasters that require the `fh` in fitting. Don't have a preference here over whether the benefit of a default outweighs the potential confusion it introduces.

[2021-07-05 18:51] fkiraly commented on #1076
Disagree, because it's not obvious what this should be in the non-periodically (irregularly) indexed case.
Whereas the in-sample forecast generalizes easily to that case.

[2021-07-05 19:01] TonyBagnall commented on #1076
I'm just butting in, feel free to ignore me, but this seems to have gone from being a simple enhancement to something quite complex. Perhaps drop the idea for now?

[2021-07-05 19:40] fkiraly opened #1114 "[BUG] unexpected behaviour in Proximity Forest (unspecified)"
This is arising from #1026, TSC refactoring to the new `fit/_fit` model, which causes orchestration tests to break post-refactor, in `test_stat` in `test_orchestration.py`.

There is a `ProximityForest` used in the current orchestration test, which fails after the refactor. If it is switched out for basically any other time series classifier, the orchestration test passes. A medium-depth look at t

[2021-07-05 19:45] fkiraly commented on #1076
maybe that's the best of all the ideas, @TonyBagnall?

[2021-07-05 19:51] fkiraly commented on #929
this is not a complete user journey design - this should include specification, and usage (e.g., fitting, forecasting) in key use cases.

I also don't think that data should ever be passed to a constructor - look at the forecasting extension template, constructor arguments are reserved to be hyper-parameters and components (if any)

[2021-07-05 19:57] fkiraly opened #1115 "Transformer refactor and refactor design"
With major modules undergoing interface change and uniformization, we should next look at the transformers.

Part of this should be settling on the target design.

What I could imagine is one or two tags that encode the transformer type, e.g., `trafo_input_type` and `trafo_output_type`, to replace the sub-classes/mixins that correpond to the individual type combinations here. Perhaps even a `scity

[2021-07-06 16:16] TonyBagnall commented on #1039
hi,

Euclidean distance is O(n), whereas all of the elastic distance measures are O(n^2) and this makes a huge distance. The distance functions are all implemented in cython and our experiments show they are equivalent or faster than other python implementations. I suggest you just use smaller datasets. Use rocket if you want a faster classifier or set the contract in ones that are contractable

[2021-07-06 16:20] TonyBagnall commented on #1114
what is the actual error thrown and do you have a stack trace to give an indication of where it occurs? I am not familiar with the orchestration code. What is it actually testing?

[2021-07-06 16:34] TonyBagnall commented on #946
hi, I'm house keeping so will close this issue, if you still have problems feel free to reopen

[2021-07-06 16:34] #946 closed

[2021-07-06 16:37] TonyBagnall commented on #320
this is a year old, I will shortly roll it into a Shapelets ongoing issue to mirror distance based one

[2021-07-06 16:39] TonyBagnall commented on #898
I'm bumping this for myself, it will be rolled into the new general shapelets issue, including unit tests

[2021-07-06 20:17] #1041 closed

[2021-07-07 01:50] nealgravindra commented on #1039
It's clearly quite different on my tests depending on implementation for knn, c.f. `sktime` knn with euclidean dist metric to `sklearn` knn w/euclidean dist metric; `sktime` is over 40x slower at inference). Also the size of the data set is quite small (1000 samples, 2048 timepoints), see the simulation fx. Other `sktime` classifiers also have this problem, even contractable ones with small (<1min

[2021-07-07 10:34] thayeylolu commented on #929
Hi @fkiraly , I have updated the User Journey

[2021-07-07 18:13] TonyBagnall opened #1120 "[ENH] Implement the Co-Eye algorithm"
hi, we would like to port in Co-Eye

Abdallah, Z.S., Gaber, M.M. Co-eye: a multi-resolution ensemble classifier for symbolically approximated time series. Mach Learn 109, 2029–2061 (2020). https://doi.org/10.1007/s10994-020-05887-3

invented by Zahraa Abdallah, who I think will be happy to help. It looks pretty easy, except for factoring out two dependencies from pyts and imblearn, which stops me

[2021-07-07 18:14] TonyBagnall commented on #1039
I'll ask @chrisholder to take a look as he is on top of distances

[2021-07-08 04:54] #1106 closed

[2021-07-08 08:15] mloning commented on #955
Having merged #1088, I suggest we close this issue and discuss tags as part of #981

[2021-07-08 10:17] fkiraly commented on #962
@BINAYKUMAR943, @afzal442, have you been working on this?
Generally, the issue is yours (for a while) once you say

[2021-07-08 10:22] fkiraly commented on #955
Yes, indeed.

[2021-07-08 10:22] #955 closed

[2021-07-08 10:24] fkiraly commented on #1073
Being worked on here #1078

[2021-07-08 10:25] fkiraly commented on #988
done in #1047

[2021-07-08 10:25] #988 closed

[2021-07-08 16:01] mloning commented on #704
Given the issues in #930, would it perhaps be better to merge a static version of the table first? That may be easier to implement following some other examples of creating tables for the docs inside `conf.py` (see e.g. https://github.com/scikit-learn/scikit-learn/blob/5f32f8b846382a595aa97f4227e8673aa640840e/doc/conf.py#L467).

[2021-07-08 16:12] fkiraly opened #1121 "extension templates should comment on `get_params`, `set_params`"
The extension guidelines should mention `get_params`, `set_params`, and that they may have to be manually reimplemented on complex composites where components are not directly arguments of the constructor.

E.g., with a "todo" and commented code which explains when and how to implement `get_params`, `set_params` (and with which signature.

[2021-07-08 20:31] fkiraly commented on #1114
I've opened a branch that reproduces the error, see PR #1122.

You should be able to see the trace if you go on any failing check.

Alternatively, you can manually run `test_orchestration.test_stat` in that branch.

[2021-07-08 21:29] fkiraly commented on #1114
Here is the traceback, @TonyBagnall:

[code]

[2021-07-09 09:24] TonyBagnall opened #1123 "Classification results collator"
hi,

I would like a function that can pull results for classifiers on the UCR/UEA benchmarks directly from timeseriesclassification.com. Sort of use case I'm looking for would be

results = results_from_tsc(metric="Accuracy",resamples=1,toolkit="sktime",classifiers =["ROCKET","BOSS","HC2")

returning a 2D array. We will need to format the results and give name indications, but it should not be too

[2021-07-09 11:05] chrisholder commented on #1123
I'd like to do something with this. Could you give me a quick run down of the parameters above. This is what I am assuming:

metric: str - the metric name. What values can this be?
resamples: int - the number of resamples. Is this the number of folds you want to look at? What values can this be?
toolkit: str - the toolkit str. This one im not to sure what it is indicating.
classifiers: arr[str] -

[2021-07-09 11:07] aiwalter commented on #1076
agree, seems the impact of implementing this is much bigger than the benefit it will bring. So I will close this issue for now. Thx anyway for the discussion.

[2021-07-09 11:07] #1076 closed

[2021-07-09 11:25] TonyBagnall commented on #1123
not a full list, I'll sort that after lunch, but just posting quick summary
metric str: default to accuracy, others include nll, f1, auc
resamples: int - the number of resamples. number of resamples/folds to recover. default to 1 (standard train/test split) max 30
toolkit: str - either sktime or tsml, default sktime
classifiers: arr[str] - array of classifiers. list to follow
problem_list arr[str]

[2021-07-09 16:01] #907 closed

[2021-07-09 16:17] 12sam12 opened #1125 "sktime library's source code .pyx files dont get compiled properly, which makes related imports to fail"
I face the following error:

ImportError: Building module sktime.distances.elastic_cython failed: ["distutils.errors.CompileError: command 'gcc' failed with exit status 1\n"]

Since the .pyx files compilation fails, the relevant imports fail which creates issues when the sktime library is imported without exposing its relevant properties and methods.
Can anybody pls elaborate on what has to be don

[2021-07-09 16:29] TonyBagnall commented on #1123
hi chris, I will rearrange the file structure later, but for development you can try loading this file
https://timeseriesclassification.com/results/ResultsByClassifier/TSF_TESTFOLDS.csv

[2021-07-09 16:38] TonyBagnall commented on #1123
and the other thing is where to put this. Just chuck it in contrib in the first instance, I may ask a student to do a workbook based on it

[2021-07-10 10:54] #1125 closed

[2021-07-10 15:50] RNKuhns commented on #874
Closed in favor of #1090.

[2021-07-10 15:50] #874 closed

[2021-07-10 17:57] RNKuhns opened #1126 "Square Root Transformer"
**Is your feature request related to a problem? Please describe.**
Square root transformations are often referenced as a potential transformation in forecasting, including in Practical TImeseries Analysis by Aileen Nielsen and in Rob Hyndman's forecasting packages in R.

**Describe the solution you'd like**
This can easily be implemented as a series-to-series transformer.

**Describe alternatives

[2021-07-11 14:55] RNKuhns commented on #1115
What is everyone's thoughts about also adding deprecation to how the transformers are accessed, while doing the refactor? We already have to look into each class as part of the refactor, so it might be a good time to do this.

Currently there isn't the ability to access the transformers from the `transformations` module or even `transformations.series`.

So to access the BoxCox transformer, a user

[2021-07-13 11:48] fkiraly opened #1131 "release 0.7.0 incomplete - investigate non-macos wheels"
it would appear that only the macos wheels for the 0.7.0 release were uploaded to pypi (via GitHub actions).

It is currently not entirely clear why, this had worked seamlessly before for 0.6.1, we ought to investigate this.

We're looking into this, but @mloning and myself are a bit short on time this week due to `scipy` conf and day jobs, so any help with looking into this is appreciated.

[2021-07-13 12:10] mloning commented on #1131
We should push single tags in `build_tools/make_release.py`, not all tags: `git push origin <tag_name>`

[2021-07-13 12:58] fkiraly commented on #1131
I assume the mistake was those "garbage tags" we pushed that were left over from 2019? So the command pushed 5 tags, not 1.

[2021-07-13 13:28] mloning commented on #1131
Yes, it seems like it was a combination of old tags and using annotated tags. Annotated tags do not trigger appveyor build through web hooks, only lightweight tags (see links below for more info).

I deleted the tag `v0.7.0`, both locally and on the remote repo, recreated it using `git tag v0.7.0` (without any annotations) and re-pushed it using `git push origin v0.7.0`. Both appveyor and azure ar

[2021-07-13 13:31] satya-pattnaik opened #1132 "[ENH] Global/Panel Forecasting Using Decision Trees/Decision Tree Ensembles"
**Is your feature request related to a problem? Please describe.**
With reference to #1074

Given a dataset in Panel format, for .e.g

| Time  | Store Id | Sales |
| :---: | :---:    | :---: |
| Jan | Store1   | 283   |
| ... | Store1   | ...   |
| Dec | Store1   | 200   |
| Jan | Store2   | 11   |
| ... | Store2   | ...   |
| Dec | Store2   | 31   |

We need a ```make_panel_reduction``` with exog

[2021-07-13 13:38] fkiraly commented on #1131
fascinating - google actions was triggered though!

[2021-07-13 15:43] lynnssi opened #1133 "Better documentation for "split" function of Window Splitter classes"
**Is your feature request related to a problem? Please describe.**
Similar to sklearn's model_selection.Kfold() class, I want to be able to easily get the temporal folds out of the window splitters.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
This function in https://github.com/alan-turing-institute/sktime/blob/main/examples/window_splitters.ipynb. Sho

[2021-07-13 15:52] #1133 closed

[2021-07-13 16:04] mloning commented on #1131
Everything is working now, all wheels are online: https://pypi.org/simple/sktime/

[2021-07-13 16:04] #1131 closed

[2021-07-13 17:09] mloning commented on #981
From our discussion today (@fkiraly and @mloning):

* we want to implement both dynamic and static tags
* which public interface points do we want:
    * get_tags - retrieves static, overridden by dynamic
    * get_tag(key, default=None)
    * set_tags(**tags)
    * mirror_tags(estimator, which=all) (i.e. `set_tags(estimator.get_tags()[which])
    * maybe also get_static_tags(), this is called in

[2021-07-13 18:13] fkiraly commented on #1132
great idea!

Though this is obviously dependent on a panel forecasting design, which in turn is dependent on a consolidated set of panel data container conventions... any good ideas there, @satya-pattnaik?

[2021-07-13 18:13] fkiraly commented on #1132
your format is the "long" format, yes?

[2021-07-13 20:43] fkiraly commented on #981
@mloning, @RNKuhns, the above is now implemented in #1134. I made a new PR due to extensive changes downstream - in contrast to #1099, this is *no longer downwards compatible* with *internal interfaces* due to changes in method names and removal of internal interface point `_all_tags` and external interface point `_has_tag`. It should still be downwards compatible with external interfaces.

[2021-07-13 20:44] fkiraly commented on #981
I called the class version `get_class_tag`(s) rather than `get_static_tag`(s) since that seemed a more "obvious" name.

[2021-07-14 09:46] MatthewMiddlehurst commented on #1063
Going to assign myself to this if no one else wants to take it, seems like a good series of small tasks. Can put the Catch22Classifier with them.

[2021-07-14 10:41] TonyBagnall commented on #1063
yeah ok that makes sense, We could have methods to create "standard" configurations rather than a class for each. So thinking

Signature
Catch22
TSFresh
but also maybe include
STC (although contracting might complicate things)
MrSEQL

[2021-07-14 11:48] TonyBagnall commented on #842
update on this, Matt now has equivalence with tsml on DrCIF, TDE and Arsenal. Just STC to sort out now, which is a summer objective for my group

[2021-07-14 11:50] TonyBagnall commented on #813
hi, just bumping this, does this still need doing? If so, I may find someone to do so, but dont want to duplicate what others have done.

[2021-07-14 11:54] aiwalter opened #1136 "ForecastingGridSearchCV to optionally return also best n forecaster"
**Is your feature request related to a problem? Please describe.**
Currently, `ForecastingGridSearchCV` can only return `best_forecaster_`, however I would like to also get best `n` forecasters in order to create an `EnsembleForecaster` with them. Ensembling would probably especially work well in combination with using `MultiplexForecaster` to find the models which to use inside the ensemble.

**D

[2021-07-14 11:56] MatthewMiddlehurst commented on #813
Related to #1095.

[2021-07-14 12:08] TonyBagnall commented on #1095
thanks Matt, I think close the other issue and just go with this one

[2021-07-14 12:09] TonyBagnall commented on #813
closing this issue, direct it to #1095

[2021-07-14 12:14] TonyBagnall commented on #598
closed because this is rolled into #596

[2021-07-14 12:14] #598 closed

[2021-07-14 12:21] mloning commented on #1136
Sounds like a reasonable extension to me. But can you not get them from `gscv.cv_results_` already?

If we want to add this, I would:
* call the kwarg `return_n_best_forecasters=1`
* add object variable `n_best_forecasters_` which is a list of length `(f"rank_{i}", <forecaster>)` tuples (for i = 1 ... n), that way they can be passed directly into an ensemble class

[2021-07-14 14:42] aiwalter commented on #1136
Ok, thx for quick feedback. Ah yes, using `gscv.cv_results_` would already work also probably. I will implement this then as you have proposed.

[2021-07-14 15:13] afzal442 commented on #962
Thanks @fkiraly , does that mean how to retrieve `pdq` from `order`? I am not sure but order gives pdq. Isn't that?

[2021-07-14 20:06] TonyBagnall commented on #1039
hi, I've been looking at this and I think the problem is the pandas conversion. Internally, everything is pulled into numpy and we only use the pandas for unequal length series really. I see no reason why we should not accept 2D numpy for X, assuming each row is a single series, so I will just test this speed wise and use it a evidence to support my continued argument for this to be an allowable i

[2021-07-14 21:06] TonyBagnall commented on #1039
hi, I looked at this and you are right, something seems amiss, below
fit time = 0.4911067485809326
 predict time = 0.45124173164367676
 score =  1.0
 fit time = 0.0
 predict time = 241.38946056365967
 score =  1.0
 fit time = 0.1250474452972412
 predict time = 203.24439430236816
 score =  1.0

I suspect that the cython versions are for some reason not being used, I will investigate further. Thanks

[2021-07-14 21:18] KishenSharma6 commented on #932
Hello! May I assist with this issue? Hoping to make this the first of many contributions to sktime :)

[2021-07-15 13:14] TonyBagnall commented on #996
adding to this is to add Cababilities (soon to be tags) to classifiers without them, including [ColumnEnsembleClassifier, ComposableTimeSeriesForestClassifier, IndividualBOSS, IndividualTDE, ProximityStump, ProximityTree]

[2021-07-15 14:54] satya-pattnaik commented on #1132
Not sure about this, I have used pandas for such a work but that was very specific. Need to think about this. I hope I am getting you right here, when it comes to data container @fkiraly.

[2021-07-15 14:55] satya-pattnaik commented on #1132
Yes.

[2021-07-15 20:38] fkiraly opened #1142 "conda metapackages for installing sktime with soft dependencies"
`pip` users can install `sktime` with soft dependencies via `pip install sktime[all_extras]`.

The same is not possible via `conda` currently, but could be achieved using metapackages, for instance.

Having that would be nice.

[2021-07-15 20:54] aiwalter commented on #1142
true, especially it could help some users to get `fbprophet` and `pystan` installed. At least more likely :)

[2021-07-15 21:01] fkiraly commented on #1142
indeed, I still have my `pip`/`conda` Frankenstein monster environment to have everything work properly...

[2021-07-15 21:07] aiwalter commented on #1142
haha same here. And I always hope nothing is breaking when I install something additionally

[2021-07-16 02:20] nealgravindra commented on #1039
Yeah, I was thinking cython versions OR the pandas conversion, which I can imagine is less than ideal. Thank you so much for checking, I really appreciate it!

[2021-07-16 11:57] fkiraly commented on #929
just confirming what I said verbally earlier, the user journey should probably look like this:
[code]

where `model.predict(X_new)` returns a data frame at indices of `fh`, and both `y` and `X` are data frame

[2021-07-16 18:16] #924 closed

[2021-07-17 08:30] fkiraly opened #1146 "TSC refactor"
Time series classifiers should be refactored according to the [new extension template](https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/classification.py).

If you would like to work on this: *please post here* and which classifier you are taking on, to avoid duplication of work.
A core dev will then add your name to the classifier under refactor and/or link the PR.

C

[2021-07-17 08:34] fkiraly commented on #1070
done

[2021-07-17 08:34] #1070 closed

[2021-07-17 08:38] fkiraly commented on #650
done, right?

[2021-07-17 08:38] #650 closed

[2021-07-17 08:47] fkiraly opened #1147 "Selected good first issues for new contributors"
A number of good issues to start working on for the 2021 scipy sprint.
Contributions to documentation are especially appreciated.

### introductory and user testing

* work through the [sktime tutorials](https://www.sktime.org/en/latest/tutorials.html) and record feedback
* work through user testing sheets for [forecasting](https://github.com/sktime/sktime-workshops/blob/main/sktime_worksheet_fore

[2021-07-17 09:38] fkiraly opened #1148 "[DOC] Completing estimator class docstrings"
Every estimator class should have a complete docstring.
This should be worked on one-by-one, and feel free to complete only individual rubrics if it's unclear what to fill in for the others.

A good estimator docstring should include rubrics:
* one-liner description (top), start capitalized, end with `.`
* description paragraph - what is the algorithm?
* `Components` block - only if there are esti

[2021-07-17 09:53] mloning commented on #1148
Running: `pydocstyle sktime/ --config=setup.cfg | grep ./ | cut -d ':' -f1 | uniq` from a Unix command line should give you a list of all files that have incomplete docstrings.

[2021-07-17 10:48] astrojuanlu opened #1150 "[BUG] Build time dependency Cython not declared"
**Describe the bug**

The `setup.py` file uses `setup_requires` to declare `wheel` as a build-time dependency. However, it looks like Cython is also needed, because I got this eror on a fresh virtualenv with Python 3.7 on Linux Mint:

[code]

**Expected behavior**
`pip` installs all required build-time dependencies.

**Additional context**
Instead of `setup_requires`, would the project be open to

[2021-07-17 11:51] mloning opened #1152 "[DOC] Documentation infrastructure"
* make sure methods and attributes are displayed in the docs
* change m2r2 to myst (https://rst-to-myst.readthedocs.io/)

[2021-07-17 13:54] RNKuhns commented on #1148
I've got an update to the docstring above that fixes some formatting issues that won't render well in Sphinx. Note that this move the reference to the references section as specified in NumPy docstring format. Moved the reference to the Java version to the See Also section, but still need to figure out how to make the link work correctly there.

This also cleans up some typos, capitalization issue

[2021-07-17 14:38] mloning opened #1159 "[DOC] Declutter root directory"
#### Describe the issue linked to the documentation
There are many files in the root directory at the moment.

#### Suggest a potential alternative/fix
I suggest to move some of them into the docs folder, since they are also linked in the readme now.

* GOVERNANCE.rst
* ROADMAP.rst
* ESTIMATOR_OVERVIEW.md
* CHANGELOG.rst

[2021-07-17 14:39] fkiraly commented on #877
`BaseObject` has now been added in #1134, though not all features are implemented above.

Perhaps it's time to close this and move additional desired interface points to a new issue and/or new discussion.

[2021-07-17 14:42] fkiraly commented on #1159
I think it's better if some of these remain in root with capitals, at least `CHANGELOG`.
Since there is some expectation to find it there. `ESTIMATOR_OVERVIEW` can go, perhaps even `ROADMAP`. I'd leave `GOVERNANCE` there though.

[2021-07-17 17:22] RNKuhns opened #1162 "Add weights hyperparemeter to EnsembleForecaster API"
**Is your feature request related to a problem? Please describe.**
EnsembleForecaster does not currently accept weights. With #1136  and #1139 being worked on it would be nice to optionally allow users to pass weights to `EnsembleForecaster`.

This would give users an out-of-the-box way to use ainverse error based weighting strategy in forecasting ensembles. Users could also supply other types of

[2021-07-17 17:31] RNKuhns commented on #1062
I also like the idea of collecting the performance metrics into a single area (distance functions aside). Would the plan be to add them under performance_metrics or rename as metrics (with appropriate deprecation) with performance_metrics as a potential sub-module?

[2021-07-17 17:42] RNKuhns commented on #1132
This approach is similar to "pooling" information across observational units in panel regression (there you might have intercepts different panel IDs if you aren't using a panel specific regression approach like fixed effects).

We may need to be careful how we treat the creating of the panel identification feature in the reduction. Some models can handle the categorical predictor, in which case t

[2021-07-17 17:44] RNKuhns commented on #877
I think that sounds reasonable.

[2021-07-17 17:44] #877 closed

[2021-07-17 17:49] RNKuhns commented on #958
@fkiraly I'll push a PR with an example of this using the existing metrics shortly.

[2021-07-18 09:30] fkiraly commented on #1148
Looks good, @RNKuhns, thanks!
I cooked up mine just very quickly to help people in the sprint.

Would you mind:
* adding the example
* editing/overwriting my original post, so the "thing at the top" is the perfect docstring?

[2021-07-18 09:32] fkiraly commented on #1162
Hm, how does this relate to the online weighted ensemble and the hedge forecasters?
Would be good if you could look at both in detail, to avoid duplication or interface inconsistency.

[2021-07-18 09:33] fkiraly commented on #1062
Either looks sensible to me, though I also don't see a strong reason for renaming.

[2021-07-18 09:34] fkiraly commented on #1062
what metrics would be that are not performance metrics?

If you think about distance metrics, I'd consider them as different.

Though I admit that there is not much conceptual distance between a distance metric and a performance metric. Where, of course, not all distances are metrics in the math sense.

[2021-07-18 12:17] RNKuhns commented on #1162
@fkiraly they are definately related.

As a start, this would essentially be the "non-online" version of the `PredictionWeightedEnsemble` from the tutorial (which is built from the online ensemble).

Since `OnlineEnsembleForecaster` inherits from `EnsembleForecaster` a second option (but not necessarily something we'd need to do) would be to also add a weights hyperparameter to the `OnlineEnsemble

[2021-07-18 12:22] RNKuhns commented on #1148
@fkiraly -- no problem. I've added the example (didn't copy that over correctly in my post) and updated your post at the top.

[2021-07-18 13:52] RNKuhns commented on #1056
Another option is to use fast-fourier transformation. I believe that's what Hyndman's packages use.

[2021-07-18 13:53] RNKuhns commented on #1148
Was able to get with the Scipy documentation sprint and figure out how to specify the link. I've updated both posts to include the correct link usage in "See Also"

[2021-07-18 13:54] fkiraly commented on #1162
Yes, indeed - especially the methodological documentation. I have to admit I'm not exactly sure which algorithms are implemented there exactly, and this needs to be clarified and improved in the docs.

[2021-07-18 14:02] aiwalter commented on #1056
There is also an implementation:
[code]
https://github.com/welch/seasonal

[2021-07-18 14:13] RNKuhns commented on #1162
Yep -- it is hard to figure that out from the documentation we have currently. I actually want take a crack at the user guide for forecasting to help make things more clear (and of course fix the docstrings as I go through that).

[2021-07-18 14:15] RNKuhns commented on #1056
Nice! The periodogram there is the fft method I was referring to.

[2021-07-19 15:38] Flix6x opened #1167 "Derive ForecastingHorizon from DatetimeIndex in predict method"
**Is your feature request related to a problem? Please describe.**
Basically just a simplification request: converting from DatetimeIndex to ForecastingHorizon seems to me like a step that the `BaseForecaster` should be able to handle by itself. So instead of:

[code]

I would suggest users should be able to do:

[code]
which would be very elegant imo. It also removes the need to import `Forecasti

[2021-07-19 15:43] fkiraly commented on #1167
Hm, could you kindly specify an example explicitly, with how it fails currently and what you want to happen instead?

Personally I think it should just forecast whatever index you pass, as long as it is compatible with the index in `fit`.

Currently, I think index inputs are being automatically wrapped by `ForecastingHorizon`, so if you are getting problems, it would mean it can't deal with `Datet

[2021-07-19 17:24] Flix6x commented on #1167
Happy to oblige. Explicit example (from a different issue I worked on) below.

This one runs fine:

[code]

While this one fails on `check_fh`:

[code]

[2021-07-19 19:22] jamontol opened #1168 "[BUG] ForecastingPipeline.update fails with ValueError on exogeneous data"
**Describe the bug**

After fit and predict with the forecaster model correctly, an error is raised when trying to update forecaster model with new exogenous X data

[code]

**To Reproduce**

y is a Series object with 1 row and X is a DataFrame object with 1 row and n columns (n=1 exogenous variable) with  DatetimeIndex index updated to a new period (15 min) after training

[code]
I've also  tried

[2021-07-19 19:41] fkiraly commented on #1167
I quickly mocked sth up, @Flix6x, in #1169 - it appears the `ForecastingHorizon` constructor complains when getting a `pd.DatetimeIndex` instead of doing what I'd think is the obvious thing (from user perspective).

The tests still run for some time and I have to sign off now, but feel free to have a look (and help me debugging in case they break 😃 )

[2021-07-19 22:16] aiwalter commented on #1168
Thx, I will look into it

[2021-07-20 06:00] off99555 opened #1171 "[BUG] load_japanese_vowels() returns the same dataset for training and testing"
**Describe the bug**
`load_japanese_vowels` function returns the same dataset when `split="train"` and `split="test"`.
This causes the test accuracy to be 1.0 in the [Rocket multivariate demo](https://www.sktime.org/en/latest/examples/rocket.html#3.5-Classify-the-Test-Data)

**To Reproduce**

Just run this code and if there's no assertion error then my point is valid:

[code]

**Expected behavior*

[2021-07-20 10:35] aiwalter commented on #1168
@jamontol could you maybe provide a reproducable example with the `y,X=load_longley()` data and which `fh` you have defined...?

[2021-07-20 13:45] RNKuhns commented on #1105
@fkiraly and @AngelPone outside of the forecast combination case, I could see it being useful to be able to expect the residuals from a model. For example, to see if they have a clear pattern (suggesting the model doesn't fit well) or run a statistical test on them (e.g. are they normally distributed in the case of models like Arima that make this assumption).

Adding a convenience method would be

[2021-07-20 13:52] RNKuhns commented on #532
This was closed by #553.

[2021-07-20 13:52] #532 closed

[2021-07-20 14:35] RNKuhns commented on #1148
I've made another minor tweak to the doc -- the references to related classifiers in See Also will now also work.

[2021-07-20 16:56] jamontol commented on #1168
Hi, I tested with load_longley() and the update method apparently works, it doesn't raise any error, but now the second prediction raises the following error:

[code]

[code]

The only difference with my dataset is the index type, my index is a <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
and load_longley index is a <class 'pandas.core.indexes.period.PeriodIndex'>

[2021-07-20 17:04] aiwalter commented on #1168
Could you paste the full error pls?

[2021-07-20 17:05] mloning commented on #1171
Thanks @off99555 - it looks like the loading functionality is correct but the train and test files [here](https://github.com/alan-turing-institute/sktime/tree/main/sktime/datasets/data/JapaneseVowels) are the same. Would you like to open a PR based on the data on timeseriesclassification.com?

[2021-07-20 17:11] mloning opened #1174 "Advanced pipelining"
**Is your feature request related to a problem? Please describe.**
Some common forecasting use cases are currently not covered by the pipeline classes that we have in sktime:

* generating features (featurizer), in `fit` based on the training data time index, in `predict` based on the `fh` (e.g. holiday dummies)
* applying transformations to `y` and `X`
* aggregating predictions for multiple serie

[2021-07-20 17:29] RNKuhns opened #1175 "Add Module for Statistical Tests"
**Is your feature request related to a problem? Please describe.**
Statistical tests have common use-cases in timeseries analysis, including inspect the properties of a timeseries (e.g. stationarity testing, checking normality) to guide modeling decisions and also to evaluate model output (including evaluating quality of forecasts).

Adding a interface for statistical tests will allow Sktime to ad

[2021-07-20 17:58] mloning commented on #1073
It's interesting that scikit-learn does not test for this but instead exposes this through `copy` hyper-parameters in estimators. This may be a sensible option, especially for larger data sets and more complex models in which now all components would store a copy of the data if I understand this correctly.

#1078 still seems like the next logical step at this point. If we want to allow for side ef

[2021-07-20 17:58] jamontol commented on #1168
OK,

it works, the problem with my dataset was that it only had 1 exogenous variable (temperature) in form of a DataFrame that I created with
X=f_data.drop(['energy'], axis=1) dropping the y column (energy)
When a create X  as a Series with X = t_data_period['temperature'] everything works fine.

You can close this issue.

Sorry for the waste of time.

[2021-07-20 18:11] mloning commented on #1147
Closing this now but perhaps we should rework this into a template for sprint planning, some of the items will be relevant for future sprints too?

[2021-07-20 18:31] fkiraly commented on #1073
If at all, we really need to think this through very carefully...

[2021-07-20 18:33] #1073 closed

[2021-07-20 18:36] mloning opened #1178 "Data storing and memory efficiency"
**Is your feature request related to a problem? Please describe.**
We currently make sure that estimator do not have side effects on input data (see #1073).

scikit-learn does not test for this but instead offers the option via a `copy` hyper-parameter in estimators. This may be a sensible option, especially for larger data sets and more complex models in which now all components would store a cop

[2021-07-20 18:44] fkiraly commented on #1178
The obvious question being: is there a single example we can think of where this would make the model more memory efficient?

For addressing the persistence problem, the `persist` method can simply drop all references to the data (in a deep fashion) as an alternative solution. We'd need to have a `persist` method first, of course.

[2021-07-20 19:08] fkiraly commented on #1178
Hm, I guess wherever we use a `scikit-learn` estimator as a component, then? Obvious answer, should have thought of this...

[2021-07-20 19:09] fkiraly commented on #1178
In composites, this would imply we'd need to have some deep/nested way to manage the `copy` parameter. That is, if we want the `copy` in a composite to be `True`, we must set `copy` to `True` in all components.

[2021-07-20 21:00] #1167 closed

[2021-07-20 21:00] fkiraly commented on #1167
Well, thanks for bringing it up, @Flix6x! This behaviour was not on my mental map.

[2021-07-20 22:33] aiwalter commented on #1168
No worries

[2021-07-20 22:34] #1168 closed

[2021-07-20 23:20] astrojuanlu opened #1181 "[BUG] Mismatch between stub files and autosummary toctrees"
**Describe the bug**
While investigating why https://github.com/alan-turing-institute/sktime/pull/1158 doesn't produce a proper gallery without executing the notebooks first (which, as per https://github.com/spatialaudio/nbsphinx/issues/586, should be possible), it was mentioned that reducing the number of warnings would simplify finding the root cause for the problem. Therefore, I executed `sphin

[2021-07-20 23:42] astrojuanlu commented on #1181
(Reported https://github.com/sphinx-doc/sphinx/issues/9481 upstream about the weird paths appearing in the errors)

[2021-07-21 07:00] off99555 commented on #1171
@mloning Yes. Done that. Please check associated PR.

[2021-07-21 09:55] TonyBagnall commented on #1175
this is a great idea, we need a few tests for evaluation, wilcoxon sign rank and a couple of others, and I prefer to have bespoke implementations.

[2021-07-21 09:59] TonyBagnall commented on #1171
thanks for that, we will need to update the unit tests for other classifiers before we can merge your pull request @MatthewMiddlehurst could you take a look please?

[2021-07-21 15:39] mloning commented on #1181
Thanks @astrojuanlu - I don't think this is intentional, I noticed that a while ago but didn't have the time to further investigate why this happens.

[2021-07-21 15:47] mloning commented on #704
Fixed by #1138

@tobyhodges Quick update: we managed to include a searchable table which is updated automatically using sphinx and readthedocs directly. In brief, you can run hook into the sphinx build and run custom functions which we do to generate the curve and then add custom javascript to the extra files that sphinx uses to render the HTML. For details, see #1138. Thanks again for your help!

[2021-07-21 15:47] #704 closed

[2021-07-21 15:48] #1126 closed

[2021-07-21 16:03] mloning opened #1183 "[DOC] Update related software"
#### Suggest a potential alternative/fix
* add a table for the packages we interface
* add column for learning task if applicable

[2021-07-21 16:03] fkiraly opened #1184 "[GOV] onboard core devs on open collective"
We´ll need to onboard developers on the open collective.

This will also mean all contributors are shown in the list.

[2021-07-21 16:40] GuzalBulatova commented on #1162
Hi @RNKuhns I'd like to work on this 🚀

[2021-07-21 17:43] tobyhodges commented on #704
This looks so great! Excellent work folks 🚀 It was a pleasure to be (briefly) involved in this project 🙌

[2021-07-21 19:25] RNKuhns commented on #1162
@GuzalBulatova that works for me. @aiwalter and I have been talking about some options for the functionality. Maybe the three of us can find a quick time to talk.

After digging into the online ensemblers per @fkiraly's comment above. I think that the current differences between that and `EnsembleForecaster` are currently that the online ensemblers use weights and update those weights (the online

[2021-07-21 23:01] fkiraly opened #1185 "funding goals for open collective"
We need to agree on (-> Cc meeting), then put funding goals on the GitHub or open collective page.

For instance:

* 100$ monthly - hosting costs covered
* 250$ monthly - the above, plus yearly developer sprints: costs covered
* 1500$ monthly - the above, rest goes towards funding 3 summer interns (e.g., outreachy)
* 2800$ monthly - the above, plus funds dedicated maintenance activities (documenta

[2021-07-22 13:09] TonyBagnall opened #1186 "Critical difference diagrams"
as part of the development of analysis tools, it would be nice to be implement a way of generating critical difference diagrams for comparing multiple classifiers over multiple data sets of the form

![image](https://user-images.githubusercontent.com/9594042/126643854-43725afa-e8a6-4fe1-b26f-020eb53c5c2b.png)

solid bars represent cliques, within which it is assumed there is no signficant differen

[2021-07-22 13:37] fkiraly commented on #1186
For cd diagrams, we could consider helping this repository
https://github.com/hfawaz/cd-diagram
to become a proper pypi package?

[2021-07-22 13:42] TonyBagnall commented on #1186
I'm not sure Hassan is still maintaining that repo, and I don't think we want to add it as a dependency. Better to adapt the matlab linked to above. @SveaMeyer13 the function criticaldifference.m does it the original way, criticaldifferencePairwise.m takes the cliques as input. Actually finding the p-values and then finding cliques are separate tasks

[2021-07-22 13:43] TonyBagnall commented on #1175
just pinging this here, as it is dependent on hypothesis tests which we can work into this package https://github.com/alan-turing-institute/sktime/issues/1186

[2021-07-22 14:07] fkiraly commented on #1186
hm, this closely relates to @RNKuhns´s issue #1175 (which I wanted to give some input on later this week) - you get different CD for different tests, so there is a direct interface point.

[2021-07-22 16:32] aricooperdavis commented on #966
It looks like this was fixed in d69457b5fed7312df05420cb1d8bb6eb5bd195e9 👍

[2021-07-22 17:57] TonyBagnall commented on #1186
See my comment on that thread already :)

[2021-07-22 18:23] m-r-munroe opened #1188 "your main markdown page has broken links"
**Describe the bug**

image showing error
https://imgur.com/2tJQVmO

[2021-07-22 18:59] #1028 closed

[2021-07-22 21:14] fkiraly commented on #1188
very strange - not for me?
![image](https://user-images.githubusercontent.com/7985502/126710379-7b1781ac-f0ea-40b9-a03a-cbd4115dda84.png)

[2021-07-23 08:38] TonyBagnall commented on #981
regarding tags vs capabilities of classifiers: there is a difference. Capabilities relate to the underlying nature of the problem, not just the data structure used to store it. So, for example, unequal length series and equal length series are both stored in nested pandas. Missing values can be in arrays and pandas. Whether the algorithm is able to handle such data is a capability, and how it cope

[2021-07-23 12:08] RNKuhns commented on #1183
The `tspreprocess` module should probably be removed as part of this. I was looking through some related software and noticed that it hadn't been updated in 4 years and most of its functionality was not implemented (classes just had `pass`).

[2021-07-23 12:37] m-r-munroe commented on #1188
@fkiraly you wrote:

Which is why the screenshot is a key element.  I don't know how to directly include images, but yours looks nice.

I have a new shot, which shows different than yours, but is at least not missing parts.
https://imgur.com/lM3ub5w

Does it depend on the OS of the viewer?

[2021-07-23 13:45] mloning commented on #1188
Sometimes the badges fail to load, see https://github.com/badges/shields/issues/1568.

The other links should work hopefully.

[2021-07-23 13:47] fkiraly opened #1192 "Resolve remaining bug-interactions of multivariate module with update/predict and pred_int interfaces"
Testing with concrete multivariate forecasters highlighted some interactions of the multivariate interface with update/predict and the prediction intervals interface:

- [ ] `test_predict_pred_interval` - needs to be turned off if forecaster produces no predction intervals. There should probably be a tag for this rather than turning them off manually for individual estimators. Addressed in PR #119

[2021-07-23 14:22] #966 closed

[2021-07-23 18:25] fkiraly commented on #981
@TonyBagnall, but that's exacly what tags are meant for!

I.e., "can deal with missing values", "can handel unequal length time series", are prime examples of tags!

I was actually thinking to name tags like that `"capability:unequal_length_panel"`, or `"capability:missing_values"` or similar.

Note that we usually attach tags to individual algorithms, not base classes.

[2021-07-23 18:26] fkiraly commented on #981
Here are some example of current tags, which are very similar to those, and even includes the one with missing values:
[code]

[2021-07-23 18:29] fkiraly commented on #1188
so, it's resolved? or "not an issue"?

[2021-07-23 18:38] fkiraly opened #1194 "[BUG] Fix timing bug in `test_evaluate_common_configs`"
Strange fail in `test_evaluate_common_configs`, from #1191 but unrelated to the PR.
Opening an issue for investigating it. I think this relates to code of @Aiwalter and @RNKuhns.

See details for error message:
<details>
[code]
<details>

[2021-07-23 18:59] TonyBagnall commented on #981
I'm conflating this with data conversion, I forgot about the bespoke inheritance model,, but you will end up testing twice if a data frame has unequal length and missing, in fit and _fit, unless the data stores the meta data, or having horribly complex tags/bespoke base class attributes

[2021-07-23 19:41] fkiraly commented on #981
Hm, why would we end up testing twice?

I think all the checking of capabilities against user queries should be done in `fit`.
In `_fit` you can assume that any data arriving and any query arriving is in line with the estimator's capabilities.

See for instance #1195 for an implementation example?

[2021-07-23 20:28] TonyBagnall commented on #981
It arrives in a compatible format, but the algorithm needs to switch on characteristics not format. So if it has missing values the algorithm is different to when it does not.

So I pass an array with missing values. Tag says classifier can handle it, so tests pass in fit, data does not change. We go to _fit, then we need to know if there are missing before fitting, so need to check again.

[2021-07-23 20:34] RNKuhns commented on #1152
@mloning I've got a coming PR that will handle the switch to the pydata theme, tweak some docstrings (e.g. if a docstring section was Return but should have been Returns, etc).

Like we talked about I also think we should add a button above to update the `conf.py` to use `numpydoc` extension (currently it is not included, but `napoleon` is included even though our options later in the file are for

[2021-07-23 22:18] astrojuanlu commented on #1152
@RNKuhns No idea, I don't remember having observed that 🤔 I think the only "caching" happens in the build directory, so you can remove `build/html` it between runs and see if that solves the problem. But take this with a grain of salt.

[2021-07-23 22:55] fkiraly commented on #981
@TonyBagnall, I don't really get your conceptual model here, sorry.

For instance, what does the capability have to do with the `_fit`? If the algorithm can handle missing values, wouldn't you *assume* there are some, in `_fit`, and there is just one version? Where the "no missing values" version is a degenerate special case?

Maybe good to have that "tags" meeting finally.

[2021-07-23 23:05] fkiraly commented on #1188
Copy-past should do it, the GitHub interface will automatically recognize image files and embed them.

ALso, @m-r-munroe I guess it turned out not to be a bug, so we can close?

[2021-07-23 23:05] #1188 closed

[2021-07-24 06:55] bilal-196 commented on #1146
Hi @fkiraly, I have refactored BOSSEnsemble classifier, great if you could have a look at the below 3 points and share your feedback.

1. The capabilities tag in the class has been updated as below,

    _capabilities = {
        "multivariate": False,
        "unequal_length": False,
        "missing_values": False,
        "train_estimate": True,
        "contractable": False,
    }

2. I have a

[2021-07-24 07:37] bilal-196 commented on #1120
Hi @TonyBagnall, I intend to implement Co-Eye, with regards to the pyts and imblearn dependencies, what do you suggest? The algorithm utilizes Symbolic Aggregate approXimation and SymbolicFourierApproximation which is imported from pyts and over sampling such as SMOTE from imblearn.

[2021-07-24 08:20] bilal-196 commented on #986
@fkiraly I would like to add the table of contents in all the tutorials starting with forecasting. Please assign me.

[2021-07-24 08:28] fkiraly commented on #981
Answering your post from #1195 here since it´s not really about prediction intervals:

I think you need to check twice anyway:

* once, whether the data set contains NA
* second, where precisely the NA are

The first is typically much faster. The second you need to do to actually do something with the NA, and is less fast. Further, the real bottleneck is typically not the check but the algorithm.

[2021-07-24 10:13] fkiraly commented on #1192
No.2 is related to #984 - there are some methods in the base class which are imo unnecessary

Temporary workaround is to turn off prediction intervals using the new tag in #1195 for multivariate forecasters.

[2021-07-24 10:17] fkiraly commented on #984
Looking through the base class, I think there are a number of unnecessary (or refactor worthy) methods in there:

* `compute_pred_int`, seems to duplicate the current interface point in `predict`, used only by `theta`
* `_compute_pred_int`, called by `compute_pred_int` only
* `_get_pred_int`, used only by `_tbats` - move to `_tbats`?
* `_compute_pred_err`, called by `compute_pred_err`, used for ov

[2021-07-24 11:24] fkiraly commented on #986
thanks! looking forward to this.

[2021-07-24 16:37] bilal-196 commented on #986
@fkiraly Kindly have a look at the PR #1200 and feedback if any modification is needed. Otherwise I will follow same pattern for other tutorials as well. Thanks

[2021-07-24 17:32] TonyBagnall commented on #1120
Hi @bilal-196 get it working with the imports on your fork first, and try to recreate some subset of their results (we can discuss which). Only then look at porting and pr into sktime

[2021-07-24 23:25] fkiraly commented on #1146
Great, thanks, @bilal-196!

Some comments, suggesting minor tweaks here and there:

* the capabilities should actually go in the `_tags` dictionary, not in a `_capabilities` dictionary.
* I would also give them the "capability" prefix and a postfix which input it refers to, i.e., `capability:unequal_length_X` and similar. Maybe @TonyBagnall has some comments/suggestions...
* the tags should not be

[2021-07-25 09:31] TonyBagnall commented on #981
if you know there are no missing you do not need to check whether every element is a missing value in _fit, making it more efficient. The bigger issue though is unequal length series, which effects the algorithm more fundamentally.

All of this is solved if we get checkX to return a hash table of the data characteristics stored in the base class.

[2021-07-25 11:10] fkiraly commented on #981
That's an interesting idea - sth like `infer_schema(self, X)`?
Then, data properties can be compared to capability tags?

I'd see this separate from the tagging issue though, since it's related to data properties and possibly the data container itself.
For instance, a `geomstats` like data container could infer the data schema and properties at wrapping, and provide it as an inspectable part of th

[2021-07-25 11:26] fkiraly opened #1202 "Seven/five number summary transformer"
It appears we don't have a seven/five number summary transformer?

This should be implemented.

Also see discussion from #1063.

[2021-07-25 11:31] tensorflow-as-tf opened #1203 "inconsistency in the sktime installation guides"
On the sktime.org website, the "Development versions" installation guide section of the "Installation" page (https://www.sktime.org/en/latest/installation.html#mac-osx) suggests different steps of installation from the "Git and GitHub workflow" section of the "How to contribute" page (https://www.sktime.org/en/latest/contributing.html#id10).

If a new developer installs sktime following the Develo

[2021-07-25 11:47] fkiraly commented on #1203
I see - good points!

The thing is, the steps to install a dev version are in a sense "simpler" than setting oneself up for contribution.

So, there are indeed two workflows:

* just installing the dev version
* setting oneself up for contribution, which includes installing an editable dev version

And I see how the two are inconsistent, since it's not clear for instance that you have to follow a

[2021-07-25 12:31] TonyBagnall commented on #981
tagging, splitting to fit, _fit and finding out the data characteristics are all linked in my mind, as is the separation between checking and conversion

[2021-07-25 17:17] mloning commented on #1203
There's an additional workflow: building a release version from source when no pre-built wheel is available for your operating system.

[2021-07-25 18:36] RNKuhns opened #1204 "[DOC] Update Documentation Content"
#### Describe the issue linked to the documentation

There are several sections of the documentation that can be updated, integrated or otherwise changed. Running list below.

- [ ] Integrate "How to contribute" and "Developer Guide"
- [ ]  Installation inconsistancies (See #1203)

#### Suggest a potential alternative/fix

[2021-07-26 11:23] aiwalter opened #1210 "[DOC] StackingForecaster description and example"
#### Describe the issue linked to the documentation
I would like to enhance the docstring of `StackingForecaster` regarding

- what it does
- when it is useful
- how to use it (example)
- adding reference, if existing

@mloning could you please provide me some infos, I would do the rest then :)

Question:
- why is it using a `final_regressor` and could this not also be a forecaster?
- I understood

[2021-07-26 12:16] RNKuhns commented on #1210
@aiwalter my belief is that the stacking forecaster generalizes model ensembling to the case where you want to use a regression algorithm to do the forecasting combination (in this way it is like `sklearn's` stacking functionality). Typically this is the case when for each out of sample period you are interested in combining the forecasts from different models for just that period (and for just th

[2021-07-26 13:37] aiwalter commented on #1210
I think it would actually also be nice to enable to use a forecaster with exog data. So the user would have the choice. But this would be a different PR.

Yes, imho the difference between HTS and `StackingForecaster` is that that in  HTS you have a rule-based/linear stacking logic (e.g. sum in buttom up approach) and it can ideally have more than 2 levels of hirarchy. In `StackingForecaster` you c

[2021-07-26 13:55] m-r-munroe commented on #1188
Team,

Yes please.

Michael Munroe | Lead Data Scientist | Cold Chain
Emerson COMRES | 1675 West Campbell Road | Sidney, OH 45365
T +1 937 493-8088 | M +1 480 316-9644

This e-mail and any attachments to it are intended solely for the addressee(s) named herein and may contain proprietary, confidential, or otherwise legally privileged information. If you are not the intended recipient, then be advi

[2021-07-26 13:55] thayeylolu opened #1211 "[BUG] test_get_fitted_params fails for Multivariate Forecasters"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Additional context**
<img width="651" alt="image" src="https://user-images.githubusercontent.com/13348874/127000609-481c3721-8d04-4e90-9797-40eaf735f3cf.png">
Testing data in this example is a univariate data

<details>

</details>

[2021-07-26 14:12] Data-drone opened #1212 "[DOC] sktime forecasting 01 example"
I am trying to follow the first example notebook but with my own dataset:

https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb

I have two pandas series, train and test that have the schema:

index of type: `pandas.core.indexes.datetimes.DatetimeIndex`
series of type: `int64`

The series in train covers `2013-08-01` daily through to `2014-06-30`
The series in te

[2021-07-26 14:41] fkiraly commented on #1212
I think your fh index must be of the same type as the index in your train/test set.

Your data set index seems to be `DatetimeIndex`, but your `fh` is a `PeriodIndex`, which is not the same, and there is no "obvious" coercion.

Is that the issue, possibly?

If so, this highlights that there should perhaps be a more informative error message.

[2021-07-26 16:20] fkiraly commented on #1211
I think this is only for multivariate forecasters that can´t accept univariate series?

I would suggest:
since your forecaster is the first example of the "multivariate but not univariate" kind, can you also update the test?

What the test should do:

* if the estimator has the tag `scitype:y = multivariate`, the test example should have 2 columns
* otherwise, the current behaviour happens

[2021-07-26 17:28] fkiraly commented on #1212
Was it that, @Data-drone? Please confirm.
If not, would appreciate a reproducible example.

[2021-07-27 07:44] aiwalter opened #1214 "Adding AutoEnsembleForecaster to automatically find best weights for aggregation"
**Is your feature request related to a problem? Please describe.**
From discussion in #1139 and having weights from #1162 merged, @RNKuhns and me came up with the idea of automatically finding the best weights for the forecasters of the ensemble.

**Describe the solution you'd like**
For this we might have a separate class like an `AutoEnsembleForecaster`. We could have different algorithms/meta-m

[2021-07-27 08:06] aiwalter opened #1215 "[ENH] Adding sktime to mlflow"
**Is your feature request related to a problem? Please describe.**
I got the idea to add `sktime` as a package to `mlflow` like the following packages that are already included:
https://www.mlflow.org/docs/latest/python_api/index.html

**Describe the solution you'd like**
Fot this we would have to contribute to `mlflow` ofc, but I thought anyway to open the issue here first as we might find here s

[2021-07-27 08:35] Data-drone commented on #1212
Hmm if I tried changing my fh index. So now it is:

[code]

where

test.index is a `DateTimeIndex`

but then I get:

[code]

[2021-07-27 10:39] fkiraly commented on #1212
@Data-drone, thanks for bringing this up!

I looked into it, and it relates to two issues of "unintuitiveness" around `DatetimeIndex` in version 0.7.0:

* if `predict` is given an absolute horizon, it breaks, instead of converting into a `ForecastingHorizon`. This was highlighted by @flix6x in #1167, and has been addressed in the newest development version. So the *first* breakage point is resolve

[2021-07-27 10:41] fkiraly commented on #1212
PS, @Data-drone: the workaround for version 0.7.0 is to:

* construct the `fh` with `is_relative=False` before passing to `predict` - this will no longer be required in 0.7.1 onwards
* ensure `freq` is set in all `DatetimeIndex` of yours, and the same

[2021-07-27 12:57] Data-drone commented on #1212
How do I set freq with a `DatetimeIndex`?

[2021-07-27 13:25] fkiraly commented on #1212
Well, you can set it in the constructor when you create it, as outlined in the examples in the [pandas doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html).
So, for instance `myindex = DatetimeIndex(sthsth, freq="D")` for daily frequency.

You can also convert a `freq`-less pandas object using the [`asfreq` function](https://pandas.pydata.org/pandas-docs/stabl

[2021-07-27 15:00] Data-drone commented on #1212
so I am extracting my raw data from Spark and it arrives as a pandas object kind of like:

[code]

[2021-07-27 15:52] fkiraly commented on #1212
Hm, but this code doesn't create a `DatetimeIndex`? It just creates an index.
The reason is that non-pandas `datetime` can confuse the integration with `pandas` objects.

To ensure you get a `DatetimeIndex` with `freq` defined, you should preferably work with `pandas` objects and do sth like

[code]

this will even automatically infer the `freq` to be `"D"`, which you can check by typing
```df.ind

[2021-07-27 19:41] jesshart opened #1218 "[DOC] np.arange([2,5]) in forecasting with sktime tutorial not valid"
#### Describe the issue linked to the documentation
`np.arange([2,5])` is not a valid way to use `np.arange` method found in the documentation in [Forecasting with sktime](https://www.sktime.org/en/latest/examples/01_forecasting.html#step-2---specifying-the-forecasting-horizon).

[code]

#### Suggest a potential alternative/fix
I believe the example should be `np.array([2,5])`.

[2021-07-27 19:42] jesshart commented on #1218
I should read closer, it was correct in the first place!

[2021-07-27 19:42] #1218 closed

[2021-07-27 21:26] freddyaboulton commented on #1142
@fkiraly I took a crack at this here: https://github.com/conda-forge/sktime-feedstock/pull/11 .

However, it's impossible to install all dependencies via conda:
- `pmdarima` causes version conflicts, you can see the conda output in the failed ci runs of the first commits.
- Even if `pmdarima` did not cause conflicts, it's not available on windows
- tbats and catch-22 do not have a package on conda

[2021-07-28 00:17] fkiraly commented on #1194
Here's another one, from
https://github.com/alan-turing-institute/sktime/pull/1201/checks?check_run_id=3176902542

[code]

[2021-07-28 00:18] fkiraly commented on #1194
@aiwalter, @RNKuhns, please have a look - I think this happens once every few dozen runs or so.

[2021-07-28 01:39] Data-drone commented on #1212
Yeah I was converting it prior to feeding into sktime with:

[code]
but figured maybe could save that step

[2021-07-28 08:29] fkiraly commented on #1212
well, there's no way for `sktime` to know whether you want to use the indices in the `ds` column or the actual data frame indices, so this would be a case of "reading your mind" which I don't think there is a good automation for.

But, on the other hand, I think the discussion around `freq` has highlighted some very useful insights, i.e., what to do if `sktime` sees a `DatetimeIndex` with no `freq

[2021-07-28 08:39] Data-drone commented on #1212
Okay so the workflow for me should be:

- Read in the data set from Spark
- Split the data into my train / validation dataset
      - The plan is to do sliding window and or expanding window cross validation with the train set then get final metrics on the
         validation set

- Create the date_range objects by selecting `min()` and `max()` from my date column and create pandas `date_range` ob

[2021-07-28 10:22] mloning opened #1219 "Add citation file"
**Describe the solution you'd like**
https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files

[2021-07-28 13:14] Flix6x commented on #1212
tldr; Being able to pass the freq explicitly would have my preference.

I am not exactly sure what you have in mind, but I imagine that ignoring the index and interpreting the data as equally spaced could effectively shift around data in a way that would result in an incorrect application of seasonal periodicity (for training data) or intended horizons (for testing data). In my experience, a `Date

[2021-07-28 16:55] KishenSharma6 commented on #1043
@TonyBagnall is this still open? I'd like to take a stab at this one as a newbie to open-source

[2021-07-28 17:21] TonyBagnall commented on #1043
hi @KishenSharma6, sure go for it.

[2021-07-28 18:00] TonyBagnall commented on #1043
however, I am just pushing a change to the data_io, so you might want to wait a bit

[2021-07-28 19:30] fkiraly commented on #1147
Why not just open it and remove the scipy reference? Still good for pinning, no?

[2021-07-28 19:33] fkiraly commented on #1142
nice, thanks @freddyaboulton!

Do you have any suggestion on how to deal with the missing packages?
I think catch-22 we also wanted to move out of core mid-term.

So, should we close the issue or change the scope?

[2021-07-28 20:25] freddyaboulton commented on #1142
It was my pleasure @fkiraly !

I think we can close this issue and file smaller follow-up issues.

I filed an issue for tbats to create a conda package here: https://github.com/intive-DataScience/tbats/issues/29 . Once that's done, I don't expect any problems adding tbats to the conda recipe.

If catch-22 will be removed sometime in the future, I think that just leaves pmdarima. We would need to f

[2021-07-29 11:08] fkiraly commented on #664
@freddyaboulton FYI

[2021-07-29 11:43] Data-drone commented on #1212
Good points will take that in mind. thanks for your assistance

[2021-07-29 11:43] #1212 closed

[2021-07-29 18:42] aiwalter commented on #1210
@RNKuhns I think now I understood the `StackingForecaster`, its just a meta-model to ensemble the predictions of the given forecasters. So its a kind of ensemble model in my opinion and not an HTS approach bcz all forecasters are trained on the same data. Anyway, I added some docs and also did a litte refactor. I will include it in #1220 and ask for your review then..

[2021-07-29 23:10] fkiraly opened #1227 "[MNT] Remaining issues with conda max-dependency recipe"
Thanks to @freddyaboulton we now have a max-dependency recipe on `conda-forge`, but there are some minor drawbacks to it due to other packages' restrictions. From issue #1142:

- [x] adding `tbats` to the recipe once they create a package.
- [ ] adding `pmdarima` to the `conda` recipe after resolving the above issues.
- [ ] resolve `catch-22` situation - deprecate, move out, or help move to `conda

[2021-07-29 23:11] fkiraly commented on #1142
Closed with thanks. New issue is #1227.
I already solved the docs item in #1226.

[2021-07-29 23:11] #1142 closed

[2021-07-30 08:28] fkiraly opened #1228 "[BUG] sporadic bug in clustering example notebook"
When running the clustering notebook in PR #1209 completely unrelated to clustering, the test_examples check resulted in the following failure:

[code]

[2021-07-30 08:28] fkiraly commented on #1228
@TonyBagnall, @chrisholder, what is this? Your code...

[2021-07-30 09:58] fkiraly commented on #1228
FYI, no such bug in the rerun, so the bug must be sporadic.

[2021-07-30 12:59] mloning opened #1230 "[DOC] autosummary warning: stub file not found"
#### Describe the issue linked to the documentation
We see many warnings from auto summary as below:

#### Suggest a potential alternative/fix
I'm not sure where they come from. The solution described [here](https://groups.google.com/g/sphinx-users/c/-il-CYbGwGA/m/_MoO3jxPAQAJ) does not seem to work.

[2021-07-30 17:19] mloning commented on #1204
Perhaps we should split tutorials (Jupyter notebooks) from how-to examples (Python files) (see #1059)

[2021-07-30 19:07] TonyBagnall opened #1235 "Speed up classifier unit tests"
decrease the time taken by  the top 10 slowest significantly, I'll report progress here

![image](https://user-images.githubusercontent.com/9594042/127700492-6ab08707-5e9d-45da-8453-b1cdd7b4eb00.png)

[2021-08-01 15:49] TonyBagnall commented on #1043
hi @KishenSharma6, after a review of this and the problems I've had with testing using using a global singleton root, I have reversed my position and will move all the data_io to datasets, so this issue is no longer required, sorry. If you want a good starter issue let me know and we can find you one

[2021-08-01 15:49] #1043 closed

[2021-08-01 16:04] TonyBagnall opened #1238 "data io"
based on my experience with the experiments refactoring, I have decided to move all data into datasets rather than utilities.

1. Change the file name from base to data_io
2. Move data_io functionality currently in utils into datasets

If you dont like this idea please comment below, otherwise I will just do it.

Tony

[2021-08-01 17:20] KishenSharma6 commented on #1043
Ah thanks for letting me know @TonyBagnall ! Yes, feel free to add me to a few other issues you see fit. I am still getting familiar with the docs, happy to contribute as much as I can

[2021-08-02 05:24] RakshithGB opened #1240 "Support for PMML or ONNX."
**Possible to export the model into PMML or ONNX?**
Having trouble training on 1 architecture (x86) and using it for production on another architecture (arm), would like some utilities to have model persistence across architecture like how scikit-learn provides.

**Ideal solution would be to support both PMML and ONNX**
ONNX seems to have some limitation on certain platforms, PMML seems limited to

[2021-08-02 08:23] mloning commented on #1240
Hi @RakshithGB thanks for the suggestion, sounds like a good idea to me!

[2021-08-02 08:47] aiwalter opened #1241 "[ENH] Exception when X of predict(X) has not same length/index as given fh"
**Is your feature request related to a problem? Please describe.**
When using a forecaster with exog data and giving e.g. an `fh=[1,2,3]` but the `X` in `predict(fh=fh, X=X)` has a different length or index shape, then there is only a cryptic error like this:
[code]
But it should tell the user what exactly was wrong.
To reproduce:
[code]
**Describe the solution you'd like**
Adding this to e.g. `ch

[2021-08-02 13:48] aiwalter opened #1244 "Adding another and longer dataset with exog data to sktime.datasets"
**Is your feature request related to a problem? Please describe.**
The current dataset with exog data for forecasting is `load_longley()` but it has only `len(y)` of `16`, so e.g. `AutoARIMA` fails with this when doing a default  `train_test_split`. Also for vector forecasting, which is probably coming soon, we might need a longer dataset for some forecasters.

**Describe the solution you'd like**

[2021-08-02 16:18] RNKuhns opened #1245 "[DOC] Docstrings issues for upcoming Docsprint"
#### Describe the issue linked to the documentation

This will be used to track issues related to docstring improvements needed as part of the upcoming docsprint.

Expectations about docstrings in sktime are summarized in #1297, and include the following:

- Follow NumPy docstring conventions so they render in sktime's updated documentation website (https://www.sktime.org/en/latest/) and the docum

[2021-08-02 16:46] mloning opened #1246 "[DOC] Rework tutorials"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2021-08-02 16:59] fkiraly commented on #1246
well, hopefully you don't think the forecasting one is in need of this? I thought it was in a good state.
Classification definitely, I think this needs more structure and more pipeline/composition examples.

[2021-08-02 17:12] fkiraly commented on #1240
So, @RakshithGB, @mloning, I'm not sure whether this is merely a question of implementation.

PMML's [time series model specification at v4.4](http://dmg.org/pmml/v4-4/TimeSeriesModel.html) seems to cover only forecasting (univariate only?), which would exclude the other tasks; metrics/evaluation is also unclear whether it directly translates.

So before we can implement this for most of `sktime`,

[2021-08-02 17:14] fkiraly commented on #1241
This is related to the tags issue #981, namely the proposed capability whether the forecaster can deal with different time indices in `X`/`y`, or different time indices in `fh`,`X`.

[2021-08-02 18:24] RakshithGB commented on #1240
@mloning , @fkiraly PMML would surely require a larger effort. I also have one more suggestion, a lot of folks out there are looking at json like serialisation and deserialisation including me. As you can see [here](https://github.com/mlrequest/sklearn-json) much of the standard scikit models have this support, this becomes makes things easier to deploy across even 32 and 64 bit MCUs.

[2021-08-02 20:35] fkiraly commented on #1240
Hm, @RakshithGB, sounds like this needs some specalist experience - would you be interested to contribute this, since you seem to have some background in the area?

[2021-08-03 03:36] RakshithGB commented on #1240
@fkiraly I lack bandwidth to work on this. But will surely contribute as time permits .

[2021-08-03 05:40] msh855 opened #1247 "[BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-08-03 08:14] BINAYKUMAR943 commented on #1146
@fkiraly I would like to do this for cboss classifier.

[2021-08-03 08:23] BINAYKUMAR943 commented on #962
@fkiraly sorry, it's my bad!. I missed this.

I didn't know that. I was waiting it to be assigned. I am currently working on some issues in the classification module.

[2021-08-03 08:29] aiwalter commented on #1247
Hi @msh855 , for me this works without error on `main` branch as well as `sktime==0.7.0`. Does it work if you remove the second last line, bcz this was just the output and you dont need this. I am on Python 3.7

[2021-08-03 11:30] fkiraly commented on #1240
Thanks! Let's leave this open then until this issue is found by the right person 😄

[2021-08-03 11:40] fkiraly commented on #1146
@BINAYKUMAR943, sure, go ahead and make a PR!

@bilal-196, quick question: dud you end up making a PR for BOSSEnsemble, which might be useful for @BINAYKUMAR943?

[2021-08-03 11:41] fkiraly commented on #962
Precisely!

[2021-08-03 11:42] fkiraly commented on #962
Ah - sorry, should have made this clearer.

[2021-08-03 11:56] bilal-196 commented on #1146
@fkiraly , yes indeed. I can share it with @BINAYKUMAR943 and also will discuss with him how to proceed. Thanks

[2021-08-03 12:23] fkiraly commented on #1146
@bilal-196, so I don't see a PR, is there one?
I think the best way to share would be making a draft PR to sktime directly, and sharing the link with @BINAYKUMAR943.

[2021-08-03 13:11] bilal-196 commented on #1146
@fkiraly , Let me raise a draft PR now.

[2021-08-03 13:29] ParthivNaresh commented on #805
@mloning Sorry for the late response, I'm still seeing this error with `sktime==0.7.0`.

Using `1D` as the `freq`:
[code]

Using `2D` as the `freq`:
[code]

[2021-08-03 14:48] bilal-196 commented on #1146
@fkiraly, @TonyBagnall , @ABostrom please have a look at this draft PR and share your feedback. Thanks

[2021-08-04 12:06] fkiraly opened #1252 "[BUG] python/miniconda 3.8 fails CI"
Since recently, it would appear that the python/miniconda 3.8 builds fail, consistently across PR.
It's always the same traceback:

[code]

What is this? 3.6 and 3.7 are just fine.

[2021-08-04 12:08] fkiraly commented on #1252
`gfortran-win_amd64.dll` ???

[2021-08-04 16:04] #1252 closed

[2021-08-04 18:54] mloning opened #1254 "[DOC] Fix duplicate object description warnings"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix
I have no idea where they come from or how to fix them.

[2021-08-04 20:49] CathyF9600 commented on #592
As a note, for me to run `python setup.py bdist_wheel` in the doc instructions, I had to download "[Microsoft C++ Build Tools"](https://docs.microsoft.com/en-us/answers/questions/136595/error-microsoft-visual-c-140-or-greater-is-require.html)

[2021-08-05 09:29] victordremov commented on #1146
Made a [PR for RocketClassifier](https://github.com/alan-turing-institute/sktime/pull/1239), could you kindly look at it? cc @TonyBagnall @fkiraly @MatthewMiddlehurst

[2021-08-05 14:27] SveaMeyer13 commented on #1186
Hmm, I just figured that the benchmarking module already contains a function `plot_critical_difference_diagram()`. How exactly is my task different from what is done there? Can't we just use that?

[2021-08-05 14:50] fkiraly commented on #1186
oops - perhaps you really want to sit together with @ViktorKaz then, as I recommended?

[2021-08-05 15:56] fkiraly commented on #1247
yes, which line causes this?

[2021-08-05 16:27] fkiraly opened #1257 "[BUG] failure in test `test_load_UCR_UEA_dataset_download`"
`test_load_UCR_UEA_dataset_download` fails for me and @GuzalBulatova on my local computer, with the following `FileNotFoundError` error, since #1248 was merged earlier today.

It does not fail for others though, like @SveaMeyer13 or @tensorflow-as-tf, or in the CI/CD testing pipeline. Has something changed recently?

A suspicion we have is that something in the `pytest` path reference is not corre

[2021-08-05 16:32] fkiraly commented on #1257
maybe not a good idea to do downloading inside the tests?

[2021-08-05 17:17] TonyBagnall commented on #1257
Hmm, that method should not exist! I'll look now

[2021-08-05 17:19] fkiraly commented on #1257
"that method should not exist"?
Very Camus...

[2021-08-05 17:21] TonyBagnall commented on #1257
oh ok, I see what it is, I thought it was a different test I had put in then removed, but its not, its one of Emilia's tests. I'll take a look

[2021-08-05 17:24] ViktorKaz commented on #1186
yes, this is right, critical difference diagrams are already implemented. Initially, I was relying on [Orange](https://orangedatamining.com/) for the CD plots. At some point it was decided that we didn't want Orange as a dependency in sktime and @mloning implemented the method that you are referring to. I think the method does exactly what @TonyBagnall is describing but you can maybe double check

[2021-08-05 17:25] TonyBagnall commented on #1257
I think I will just remove this test, relative paths do not work at all well with testing, and I agree its not a good idea to download inside tests. The test is actually dependent on a website (tsc.com), which is not appropriate for sktime  imo. I'm pushing some changes to testing soon, I'll put it in there

[2021-08-05 17:34] aiwalter commented on #1132
just a stupid question: why can we not just have this as a multivariate (endog) forecasting problem? The `make_reduction` has probably anyway to be adjusted to handle this once we have multivariate interface. So the above example data would then just be:

| Time  | Sales_1 | Sales_2 | Sales_3 | Sales_X |
| :---: | :---:    | :---: | :---: | :---: |
| Dec | 283  | 123| 333| ... |
| Jan | 113| 313|

[2021-08-05 20:41] #1238 closed

[2021-08-05 20:47] TonyBagnall commented on #1186
I had not seen this, although @mloning made some reference to his implementation which he couldnt find, I'm not sure why this is a class function rather than a static function, seems a bit OO for sktime. This does not function in the way I would like (input accuracies or errors, get a graph) and it does not input the errors or accuracies nor does it input cliques. @SveaMeyer13 I think your method

[2021-08-05 21:15] fkiraly commented on #1186
yes, and in the stand-up today I also suggested that perhaps the evaluator class should be refactored to call the standalone code instead of implementing the logic inside. Which may imply that it might be good to make a comparison between the functionality in the evaluator and outside.

[2021-08-06 08:50] TonyBagnall commented on #1186
I agree, but I think there is quite a lot to do there, and I think a roadmap for benchmarking  would be good. But it is not a high priority for me right now, I am focussing on improving classification and clustering

[2021-08-06 14:28] RNKuhns commented on #1246
@fkiraly I think that the idea is to make things more streamlined. Carrying around the output of cells generally isn't what we want to track on Github. And if we are expecting the notebooks to be run when we generate the docs we need them to run more quickly. So the focus would be demonstrating techniques with algorithms that run quickly and pointing users to User Guides and API reference for othe

[2021-08-06 14:32] RNKuhns commented on #1244
Macro data makes a lot of sense to include. Not only will it help illustrate exogenous and multivariate functionaltiy, but it is also a good dataset to compare theoretically driven forecasting models (e.g. models based on structural relationships from economic theory) relative to more purely empirical/ML approaches.

[2021-08-06 16:58] TonyBagnall commented on #1235
![image](https://user-images.githubusercontent.com/9594042/128545702-c81ea0b8-a91e-4021-8abb-96f1ee739712.png)

simplest way to speed up the test_all_estimator tests would be to make the test set smaller. Any thoughts on that @mloning ?

[2021-08-07 13:58] fkiraly opened #1263 "[DOC] fix incorrect docstrings of dataset loaders in `datasets` module"
The docstrings for the loaders of TSC datasets in the `datasets` module are incorrect.

The return object is conditional on the splitting (X/y, train/test) of the data, yet the docstring insists it's always two objects that are returned - this is not accurate and should be fixed.

[2021-08-07 16:08] satya-pattnaik commented on #1132
The format that you have shown here @aiwalter is suited for Vector Forecasting. Vector forecasting in such a scenario makes sense when there is inter-dependency between "Sales_1", "Sales_2"(might be because of competition).
A use case for this is - when forecasting sales of items inside the **"same"** category. Two items of same category but different brands might have inter-dependence(in their sa

[2021-08-07 16:11] satya-pattnaik commented on #1132
I take the liberty to quote this from [Hyndman et al](https://www.monash.edu/business/ebs/research/publications/ebs/wp45-2020.pdf).

**"There is a large overlap between global models and multivariate forecasting models, because both work on groups of time series. In practical terms, global models are univariate time series models, they only require observations of a single time series for forecast

[2021-08-08 22:57] ltsaprounis commented on #1132
Thanks @satya-pattnaik! Not much, just more quotes :smile:

These methods were used by the majority of the high ranking M5 submissions. The paper [The M5 Accuracy competition: Results, findings and conclusions](https://www.researchgate.net/publication/344487258_The_M5_Accuracy_competition_Results_findings_and_conclusions) lists the findings from the accuracy comp in M5. One of the findings is **th

[2021-08-09 04:47] Pranav-India commented on #540
Hi @PierreOreistein @mloning   I have a confusion I thought arima is a pure time series method and its prediction of anything using arima depends only on the past values of that parameter. But here in sktime AutoARIMA you are also feeding x_train along with y_train I wanted to understand, what effect does these x_train has on the y_hat(prediction of y)? does AutoARIMA considers other features whil

[2021-08-09 10:41] fkiraly commented on #540
@Pranav-India, it's a direct interface (with different signature) to `pmdarima`'s `AutoARIMA`. The exogeneous variables are used as regressors, see the [`pmdarima` reference](https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.auto_arima.html).

[2021-08-09 10:49] fkiraly opened #1267 "forecasting: rename misleading `univariate_only` tag to `uses_exogeneous`, correct instances"
Currently, the tag that indicates whether a forecaster makes use of exogeneous data or just ignores them is called `univariate_only`. This is misleading, since `y` could be multivariate, even though no exogeneous data are used - also, exogeneous data can be univariate if it hast just one column.

So, the tag should be renamed to sth like `uses_exogeneous`.

I also noticed it's not correct in a num

[2021-08-09 10:51] fkiraly opened #1268 "forecasting: selecting exogeneous variables"
I think there should be wrappers that allow to select which exogeneous variables to use, which is useful in cases where forecasters behave differently if they get exogeneous variabes or not. Notably, a large number of "garbage variables" can hamper performance, so selection of exogeneous variables may be helpful, and enables automated selection, too.
 For instance, useful wrappers could be:

* `Ig

[2021-08-09 11:59] fkiraly commented on #1246
@RNKuhns, agreed - tutorials should run quickly, and output should not be carried around.

[2021-08-09 15:52] aiwalter commented on #1136
closed by #1139

[2021-08-09 15:52] #1136 closed

[2021-08-09 17:28] mloning commented on #1185
This doesn't seem to be easily implementable on opencollective.com, on GitHub it should be easier, there you can set goals in addition to tiers.

[2021-08-09 18:04] fkiraly commented on #1185
In fact it is possible at opencollective? Look here:
https://docs.opencollective.com/help/collectives/collective-settings/tiers-goals

I can set this up, as discussed.

[2021-08-09 22:28] roboswell opened #1272 "[ENH] panel forecasting capability"
[edited by fkiraly, adding a description to an empty issue]

from [this discussion thread](https://github.com/alan-turing-institute/sktime/discussions/1271)

I think what this implicitly asks for is panel forecasting functionality, which is a special extended case of multivariate forecasting where the variables are indexed by a categorical.

It's also related to hierarchical forecasting, as the su

[2021-08-10 09:17] fkiraly commented on #1272
@roboswell, you could use `pyhts` for now, as another alternative - we're looking to interface it.

FYI @angelpone

[2021-08-10 09:25] dbart79 opened #1273 "[ENH] Calendar Feature Extractor"
**Is your feature request related to a problem? Please describe.**
I would like to use sktime in the context of tree based models for time series. In general, these models need some data preparation to make them useful for time series. One data prepation step involves creating calendar dummy features representing the current day of the year, day of the month, week of the quarter etc. Another data

[2021-08-10 09:29] fkiraly commented on #1272
FYI @aiwalter, @danielbartling, @ltsaprounis, @satya-pattnaik

[2021-08-10 11:16] mloning commented on #1273
Yes that would be a great addition!

In terms of design, the main issue is how to integrate this into the pipeline. The workflow for featurizers is slightly different compared to standard series-to-series transformers. During prediction, you first need to generate features before calling the predict method of the forecaster.

We've had some previous discussions on this (see e.g. these [notes](http

[2021-08-10 11:28] aiwalter commented on #1273
but why can it not be a transformer? As the calendar information has to be passed as `X`, the `ForecastingPipeline` would anyway transform `X`, so it would just add the columns?

[2021-08-10 21:39] bldrake opened #1276 "latex documentation compile errors"
version: sktime-0.7.0

command line:
make latexpdf

Failed to import 'sktime.transformations.panel.signature_based': no module named sktime.transformations.panel.signature_based
Failed to import 'sktime.datatypes': no module named sktime.datatypes
Failed to import 'sktime.benchmarking.experiments': no module named sktime.benchmarking.experiments
Failed to import 'sktime.utils.sampling': no module

[2021-08-10 22:07] bldrake commented on #1276
updated issue:

Tried some fixes. Now have the one error:

Extension error:
Handler <function _make_estimator_overview at 0x7fbe434d4f70> for event 'builder-inited' threw an exception (exception: cannot import name 'all_estimators' from 'sktime.registry'

[2021-08-11 17:21] mloning commented on #1276
Hi @bldrake, I haven't actually tried to compile it to latex. Would be very interested in seeing your fixes. We're currently working on a new website (see https://github.com/alan-turing-institute/sktime/pull/1205).

As to the import error, what sktime version are you using? The registry module was something we added relatively recently.

[2021-08-11 17:26] mloning commented on #1273
My thinking was that you may also want to generate these features if you only have a target series and no exogenous data. That wouldn't be covered by the transformer.

[2021-08-11 18:56] fkiraly opened #1279 "[ENH] forecasting: exogeneous to multivariate reducer"
I think we should have the following forecaster that takes two forecasters A and B (could be the same) and creates a multivariate forecaster. Parameters are a subset of variables given to B, "variable subset B". This determines "variable subset A" which is all variables in `y` minus "variable subset B".

In `fit`:
* forecaster B is fit to forecast "variable subset B" of `y`, using `X` as exogeneou

[2021-08-11 18:59] fkiraly opened #1280 "[ENH] forecasting: "naive supervised prediction" reducer"
We should have a shorthand for the reducer where `y` is simply predicted from `X`, possibly including the index.

This is generally not a good forecaster in isolation, but useful as a component for instance in #1279, in anomaly detection or other annotation tasks.

It's also a special case of the direct regression strategy with exogeneous variables, where there are zero lags.

Question for @ltsapr

[2021-08-11 21:54] bldrake commented on #1276
Hello Markus,

Thanks for your reply!
I am using sktime-0.7.0.
I think I have a work-around for the one remaining error. Haven't had time to implement and test.

Thanks,
Barry

________________________________________
From: Markus Löning ***@***.***>
Sent: Wednesday, August 11, 2021 1:21 PM
To: alan-turing-institute/sktime
Cc: Drake,Barry L; Mention
Subject: Re: [alan-turing-institute/sktime] late

[2021-08-11 22:01] fkiraly commented on #1273
Yes, the `X=None` is an unfortunate edge case here.

I would actually treat it as follows:
* change to base class: if `X` is None in `fit`, the input to `X` in `_fit` is an empty `pd.DataFrame` with the same index as `y`.
* may require some dependent changes that checks for `X` is `None` in `_fit`.
* `CalendarTransformer` only looks at the index and adds the features there.
* pipeline applied to t

[2021-08-12 05:36] Pranav-India commented on #540
Hi @fkiraly  Thank you for the response , I read the page you have mentioned it cleared my understanding. What I did is I tried AutoArima predictions with both the models

`
import pmdarima as pm
from pmdarima import model_selection
import numpy as np
from matplotlib import pyplot as plt

arima = pm.auto_arima(y_tr,X=x_tr, start_p=1, start_q=1,
                      test='adf',       # use adftest

[2021-08-12 08:29] fkiraly commented on #540
`sktime`'s autoARIMA is simply interfacing `pmdarima`'s, i.e., the algorithm is exactly the same.

What `sktime` adds is the `scikit-learn` like interface (which `pmdarima` doesn't have), for instance you can use AutoARIMA with the same interface as all the other methods, or use it in pipelines etc.

The file you link to is the right one, but the lines are not correct - you need to look at the `Au

[2021-08-12 08:30] fkiraly commented on #540
(if you think the deviation is a bug, and you don't know where it comes from: would appreciate some reproducible code that creates the figures)

[2021-08-12 08:33] fkiraly opened #1281 "should `test_examples` github action use build requirements, not binder requiremenets?"
From #1266, noticed that `test_examples` check uses binder requirements, and not build requirements, as I had naively expected.

Is there a good reason for that? Should it be changed? @mloning?

[2021-08-12 08:34] #662 closed

[2021-08-12 08:34] #807 closed

[2021-08-12 13:34] GuzalBulatova commented on #922
ThetaLines transformer is implemented: #923 (merged)

[2021-08-12 13:34] #922 closed

[2021-08-12 16:25] mloning commented on #1281
I don't remember, probably wanted to make sure that they work on Binder, hoping that if they work there, they work in general.

[2021-08-12 16:35] mloning commented on #1273
Still seems like a tricky problem.

Passing an empty `pd.DataFrame` seems unintuitive to me. In a way, empty data is also an indicator of an error so we may want to check for that at some point in the future.

Allowing `None` in the transformer interface would be a major interface change.

When we do this change, would we not have to update all forecasters that use `X` to now ignore an empty `X`?

[2021-08-12 16:40] mloning commented on #1280
We could add this as a new option for strategy argument in `make_reduction`.

[2021-08-12 21:32] fkiraly commented on #1273
or, we could simply decide that it's not worth letting this edge case stall development and lead to major design discussions, and simply add the caveat that calendar feature adder only works if you have a non-empty `X` and be done with it'?

[2021-08-12 21:41] fkiraly commented on #1280
yes, good idea!

[2021-08-13 09:45] mloning commented on #1273
Yes, that's also what I would prefer if no-one has the capacity to work on the pipeline, so happy to add the holiday featurizer now and think about the pipeline later.

[2021-08-13 09:50] MatthewMiddlehurst opened #1289 "[BUG] TSFreshFeatureExtractor RuntimeError outside of main"
**Describe the bug**

When using the TSFreshFeatureExtractor transformer, the following error is continuously output to the terminal. After noticing this wasn't an issue with the tests or functions used to generate test results, I found that this does not occur when the code is run inside main. `if __name__ == "__main__":`.

It is totally possible this is just me being Python illiterate, and its c

[2021-08-13 10:24] chrisholder commented on #1289
I've ran this on Macos and Linux without issue so maybe a windows thing if anyone can try it out?

[2021-08-13 10:28] MatthewMiddlehurst commented on #1289
Flashbacks to catch22... Hope the features aren't different between them.

[2021-08-13 10:28] TonyBagnall commented on #1289
I ran it on windows and recreated the bug. I tried it both with and without this

[2021-08-13 10:30] chrisholder commented on #1228
Sorry literally no idea why I've not seen this until just now - This is my stuff no idea what is going on here. What im working on atm with the distance stuff and pairwise distances will replace this so hopefully this will be fixed when I merge that in so won't have to worry about this.

[2021-08-13 11:02] aiwalter commented on #1273
I think also its a good idea to just ignore this edge case for now. And there is still a workaround for advanced users with the solution I mentioned:

[2021-08-13 11:12] mloning commented on #1081
Closed by #1082

[2021-08-13 11:12] #1081 closed

[2021-08-13 11:57] GuzalBulatova commented on #1192
This is closed by #1193, #1195 and #1213, correct?

[2021-08-13 12:01] fkiraly commented on #1192
Yes, I think so, thanks for following up on this.

[2021-08-13 12:01] #1192 closed

[2021-08-13 12:56] Pranav-India commented on #540
@fkiraly  Sure I rerun the code the results are still same I will let you know if I find something

[2021-08-13 13:33] Lovkush-A opened #1290 "[BUG] sktime time series classification panel data have duplicate instance indices"
**Describe the bug**
If you load arrow_head data with default split settings, the resulting dataframe has indices that repeat. this is because there is a concatenation of train and test data

**To Reproduce**

[code]

Output:
[code]

**Expected behavior**
No repetition of indices

**Versions**
<details>
System:
    python: 3.7.9 (default, Aug 31 2020, 07:22:35)  [Clang 10.0.0 ]
executable: /usr/lo

[2021-08-13 13:35] Lovkush-A commented on #1290
@fkiraly and I think a possible solution to this is to ensure that the train and test datasets have distinct indices, so that when they are concatenated, we do not get any repeated indices.

Might also need to check other datasets to see if there are similar problems

[2021-08-13 13:42] mloning commented on #1290
I think the index is generated automatically when loading the files: https://github.com/alan-turing-institute/sktime/blob/6ee3a7a9e6060b53987dc91335401f02ace3d059/sktime/datasets/_data_io.py#L194

So we could reindex it after loading both the train and test split using something like: `X.reindex(drop=True)`

[2021-08-13 13:47] fkiraly commented on #1290
That's a bad idea, because I think indices in train and test should correspond to indices in the pooled dataset (for traceability/reproducibility).

[2021-08-14 14:49] aiwalter commented on #1105
Regarding residuals:
from a [discussion on Slack](https://sktime-group.slack.com/archives/CQVH0NJ1M/p1628935128001400) with @ngupta23 : As some models e.g. from `statsmodels` have residuals internally calculated, the best would be to have a default function `def _get_residuals(self)` or sth in the parent `fit()` after` _fit()` was called that calculates residuals based on in-sample predictions. So

[2021-08-14 17:11] fkiraly commented on #1105
alternative suggestion: a `ResidualsTrafo` transformer that wrape a forecaster? That way, it can be used as a transformer in pipelines.

[2021-08-14 21:35] mloning commented on #1105
I think you can just run:
[code]

[2021-08-14 22:43] fkiraly commented on #1105
oh yes, we already have the `ResidualsTrafo` and it's called `Detrender`.

Perhaps we should introduce an alias `Residuals` and/or add a "computing residuals" section to the tutorial?

[2021-08-15 13:52] #1181 closed

[2021-08-15 13:52] #1230 closed

[2021-08-16 02:26] RNKuhns commented on #1268
@fkiraly would the idea also be to eventually add functionality for automated exogenous variable selection methods?

[2021-08-16 08:52] GuzalBulatova opened #1299 "Implement modular ThetaForecaster"
**References re-design of Theta Forecaster #854**

Implements ThetaLinesTransformer #923
Implements ColumnEnsembleForecaster #1082

**Describe the solution you'd like**

Implement modular `Theta Forecaster` that will
1. Decompose original data (univariate series) into theta lines (implementation of `ThetaLinesTransformer`, returns transformed time series in DataFrame);
2. Forecast each of these th

[2021-08-16 10:58] mloning commented on #805
Thanks @ParthivNaresh - this is something we need to further investigate then!

[2021-08-16 12:12] thayeylolu opened #1303 "[BUG] Tests and checks failing for Multivariate Forecasters that cannot take univariate series"
**Describe the bug**

Tests and checks failing for Multivariate Forecasters  Using Vector Regression as an Example.

The following are the test failing for VAR model which is a multivariate forecasters. I have created PRs for some
 **NOTE**
The individual branches in section A have been merged into one branch `test_score` #1301

### SECTION A
filename: `test_all_forecasters.py`
- test_update_predi

[2021-08-16 13:34] fkiraly commented on #1303
Note: these are checks that fail if the forecaster is multivariate, but does *not* accept univariate input.

This is a strange edge case that can be found for instance in `statsmodels` VAR, which doesn't take one-column data frames.

The gist is that the tests need to replace all test cases which currently use univariate series with bi- or higher variate ones.

[2021-08-16 15:03] afzal442 commented on #1204
I want to take up this as

Could you be more explicit here where and how to add this? Thanks

[2021-08-16 15:31] GuzalBulatova commented on #1245
Working on
[] transformations
     [] Theta -- Guzal

[2021-08-16 15:36] SveaMeyer13 commented on #1245
I'll take care of the detrend module

[2021-08-16 17:07] fkiraly commented on #1303
To summarize the "end point" logic we agreed on in our meeting today, @thayeylolu:

* if the forecaster is "univariate" (in the `scitype:y` tag), the current test logic should be run
* if the forecaster is "multivariate", generation of univariate examples should be replaced by bivariate examples, and any related logic adapted
* if the forecaster is "both", *both* of the above should be tested, i.e

[2021-08-16 17:09] mloning opened #1313 "[DOC] Page for community showcase"
#### Describe the issue linked to the documentation
I would be nice to add a page to the About section on the website with community contributions (blog posts, reports, contributions, etc).

#### Suggest a potential alternative/fix
* Add community showcase page by adding a `sktime/docs/source/about/showcase.rst` file
* Remove Extra Resources section in `sktime/docs/source/user_guide/`
* Use https:

[2021-08-16 17:10] mloning commented on #1204
Hey @afzal442 - yes, I've created an issue with more details here: https://github.com/alan-turing-institute/sktime/issues/1313 - mostly ideas so far, open for other ideas!

[2021-08-16 17:55] afzal442 commented on #1313
Thanks @mloning for bringing up this nice gist of that issue.

Does this kind of feature already exist on the sktime website? plz let me know if it is so.

[2021-08-16 18:31] mloning commented on #1313
@afzal442 no, there isn't anything there yet

[2021-08-17 09:25] #1162 closed

[2021-08-17 09:27] #1186 closed

[2021-08-17 09:28] #1263 closed

[2021-08-17 14:45] GuzalBulatova commented on #1245
Will take care of
- `ColumnWiseTransformer` in compose.py and
- `TabularToSeriesAdaptor` in adapt.py

[2021-08-17 15:49] mloning commented on #1313
@afzal442 adding the `:user:` reference from the `github_issues` extension would also be a nice extension to the estimator overview, so that the authors who are listed in the table are linked to the GitHub accounts.

[2021-08-17 16:01] aiwalter commented on #1268
I just wanted to open an issue when I saw this one :) so I rather write my idea here:
___

**Is your feature request related to a problem? Please describe.**
I would like to add a transformer that can selection features based on feature based on feature importance values of a meta-model/regressor.

Related: #1268
**Describe the solution you'd like**
[code]
where `regressor` is any `sklearn-like` t

[2021-08-17 16:15] fkiraly opened #1325 "[ENH] ColumnForecaster should be able to take a single forecaster that is then applied to all columns"
Currently, `ColumnForecaster` takes a list of forecasters which are applied to columns.
This causes some interaction with the tests, since whether it's univariate/multivariate depends on the `steps`.

What it should be able to do is take a single forecaster, which is then by default cloned and applied to all columns, irrespective of number of columns in `y`.

That is, at the start of `_fit` we wou

[2021-08-17 16:21] fkiraly commented on #1325
also, I think we want to set the tag `"scitype:y"` in init, when `forecasters` is a list - if it's length one, it should be `"univariate"`, otherwise `"multivariate"`; only if a single forecaster (not a list) is passed, it should be `"both"`.

[2021-08-17 17:04] Lovkush-A opened #1327 "[BUG] failed building wheel for fbprophet"
**Describe the bug**
When doing `pip install -r build_tools/requirements.txt`, I got error message:

[code]

This did *NOT* break the installation, but it will break the installation at some point. `pip` produced this warning at the end of the installation process:

[code]

**To Reproduce**
I am using MacOS. The steps I had taken in the environment were:
* create and activate new conda environment

[2021-08-17 18:23] mloning commented on #1327
Hi @Lovkush-A, see if the trouble shooting section in the advanced installation instructions help: https://www.sktime.org/en/latest/installation.html#facebook-prophet

[2021-08-17 18:25] mloning commented on #1325
To make this less complicated, my preference would be to always makes this a multivariate forecaster

[2021-08-17 20:15] Lovkush-A commented on #1327
Thanks, @mloning. Using conda to install prophet avoided the building wheel error. Are there any potential issues with having `prophet` (as given installation guide) and `fbprophet` (which is in `build_tools/requirements`)? Do we want to move everything to `prophet`?

[2021-08-17 22:25] fkiraly commented on #1325
Not sure what you mean? If you have a single forecaster only, then all but a univariate series will throw an error.

[2021-08-18 03:57] RNKuhns commented on #1327
I think this may also be related to #841.

[2021-08-18 04:07] RNKuhns opened #1331 "Move HampelFilter from transformations to annotation module"
**Is your feature request related to a problem? Please describe.**
The `HampelFilter` was included in the transformation module prior to the addition of the annotation module. It is used to detect outliers, which is an annotation task.

I've talked with @aiwalter who added it, and we both think it should be moved to the annotation module in the long-run. But we don't want to move it without being

[2021-08-18 04:22] RNKuhns commented on #1267
The tag name does seem confusing. I was under the impression that it represented what it sounded like: the forecaster could only be used with univariate (not multivariate or panel) input data.

[2021-08-18 08:29] Lovkush-A commented on #1327
Closing this issue. Main question has been answered and issue with prophet versus fbprophet is being dealt with in 841.

[2021-08-18 08:29] #1327 closed

[2021-08-18 14:43] aiwalter commented on #1268
I have already started implementing a transformer, but now I faced issues with the transformer interface. So the issue is, that the regressor would need `y` and `X` so also the transformer needs both then. But there is no such case in the transformer interface where `y` and `X` is given and `Xt` is returned. See STEP [here ](https://github.com/sktime/enhancement-proposals/blob/main/steps/01_foreca

[2021-08-18 15:41] victordremov commented on #1146
I've made a PR https://github.com/alan-turing-institute/sktime/pull/1332 for refactoring `Arsenal` classifier, but I guess it'd better wait until #1305 is merged to avoid very awful merge conflicts.

[2021-08-18 16:29] mloning opened #1334 "[DOC] Add mentorship point of contact and testimonials to docs"
For the mentoring page on the website, it would be nice to add:

* a point of contact (@GuzalBulatova volunteered already)
* testimonials (short statements with links to blog posts or issues on sktime/mentoring)

[2021-08-18 17:06] RNKuhns commented on #1331
@satya-pattnaik let me and @aiwalter know if there is anything we can help with in terms of #840.

In terms of moving `HampelFilter` after #840 is complete, what is the expected sub-module structure for the `annotation` module?

There are the related tasks of segmentation, outlier detection, anomaly detection, and so on. Do we want to group things that are used for certain tasks into a sub-module

[2021-08-18 17:57] RNKuhns opened #1338 "[ENH] Unifying and refactoring sub-module structure across modules"
**Is your feature request related to a problem? Please describe.**

As I've been going through looking at docstrings, I've noticed that sktime has a variety of "top-level" modules (e.g. forecasting, annotation, classification, etc). The sub-modules within these modules tend to have different "structures".

For instance forecasting/classification provide access to "all" functionality related to tho

[2021-08-18 18:00] mloning commented on #1338
Yes, I fully agree with that!

[2021-08-18 18:02] aiwalter commented on #1338
I was thinking about this before also and came to conclusion that some structures are like this bcz of soft dependencies. But happy to discuss it e.g. in next dev call?

[2021-08-19 08:59] fkiraly commented on #159
@MatthewMiddlehurst, @TonyBagnall, I think we need to design and write up a proper contract time interface - perhaps in the form of a mixin that specifies interfaces. There also should be generic unit tests for contractable estimators.

[2021-08-19 13:58] ngupta23 commented on #1105
So just to clarify, `Detrender` will give the true in-sample residuals (in-sample prediction MINUS in-sample actual)?

[2021-08-19 15:03] fkiraly commented on #1105
I think so, yes.

[2021-08-19 15:21] aiwalter commented on #1268
I discussed this with @mloning and he proposed to always switch arguments in `ForecastingPipeline` to have `fit(Z=X, X=y)` as we also give both arguments in `TransformedTargetForecaster.fit(Z=y, X=X)`. I agree to this and it makes sense to me.

[2021-08-19 15:44] satya-pattnaik commented on #1331
Yes I'll push some changes by coming Monday, and I might need help in adding the exogenous part as mentioned by @aiwalter  and to write up some unit tests.

[2021-08-19 15:45] satya-pattnaik commented on #1331
Sounds good Outliers can come under Anomalies I guess so.

[2021-08-19 20:04] aiwalter commented on #1331
Sure lemme know, but what do you need to do according to exog?

[2021-08-20 13:26] ngupta23 commented on #1105
Yes, that will be a useful addition (from a clarity perspective) even though it will be an alias.

[2021-08-20 18:26] satya-pattnaik commented on #1331
Please pardon me, I confused Z=DataFrame with exog. You can ignore that.

[2021-08-20 23:49] kejsitake commented on #1146
Hi! I made a PR #1341 for refactoring the _cif classifier, could you please look at it when you have some time?

[2021-08-21 09:58] fkiraly opened #1342 "[BUG] test_examples checks are failing, binder is also failing"
I noticed the `test_examples` checks are failing with

`module compiled against API version 0xe but this version of numpy is 0xd`

This looks like a `numpy` compatibility issue - it's mysterious since I thought the changes in the last week's PR merges were largely documentation related and did not touch CI/CD.

@freddyaboulton, @corvusrabus, @mloning, @aiwalter, any idea what is going on there?

[2021-08-21 10:25] fkiraly commented on #1342
looks like binder *also* broke - FYI, @freddyaboulton, @corvusrabus - might be a `numba` update, since setting `numba==0.53` fixes the binder.

[2021-08-21 14:48] fkiraly commented on #1342
merged PR #1343 which fixes this, though we still want to understand what happened - probably a new `numba` version broke things?

[2021-08-21 14:48] #1342 closed

[2021-08-22 13:22] fkiraly opened #1345 "[ENH] should univariate forecasters automatically be applied to all variables?"
Related to https://github.com/alan-turing-institute/sktime/discussions/1344

I think univariate forecasters should be applied to all columns independently when a multivariate series is passed.

We can do this right now by wrapping it in `ColumnEnsemleForecaster`, but I think it should be done by the base class.

That seems to be more convenient for the user than an error message which does not poi

[2021-08-22 15:00] patrickzib opened #1346 "[ENH] ClaSP (Time Series Segmentation paper in CIKM '21)"
**Is your feature request related to a problem? Please describe.**

I would like to add ClaSP (CIKM '21), a state-of-the-art method for time series segmentation (similar to FLOSS) and a SeriesToSeriesTransform to sktime.

**Describe the solution you'd like**

ClaSP create a single profile per time series. However, it would be nice to also return some additional information computed along ClaSP:

T

[2021-08-22 18:29] fkiraly commented on #1346
Great idea, though it should be an annotator, not a transformer - segmentation is a case of annotation..

have a look at the extension template here:
https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/annotation.py

If you want to return more than the segmentation, you can use `get_fitted_params` where you can return anything you'd like.
I've noticed it's not in the anno

[2021-08-22 23:10] fkiraly commented on #1338
I think what you are proposing is the quickest way to get murdered by other sktime developers.

Jokes aside, I support you 😄

[2021-08-22 23:12] fkiraly commented on #1194
... this is still around 😢  ...

[2021-08-22 23:13] fkiraly commented on #1183
well, I think it's still worth having abandoned packages on the list, but perhaps sort them in their own section.

Reason is, for me the table is like "citations", you'd still cite a paper if the authors are no longer working on the topic.

[2021-08-23 11:36] Pranav-India commented on #540
Hi @fkiraly I wanted to know this in "ThetaForecaster" , does sktime ignores X = x_tr i.e. exogenous variables? or it is using them for regression?

[2021-08-23 13:23] patrickzib commented on #1346
Thank you very much! That was very helpful!

I am now trying to provide a Jupyter-Notebook alongside the code. However, when I import sktime packages, these are imported from my Anaconda sktime installation. Is there any way to import from my developer version instead?

[2021-08-23 14:05] patrickzib commented on #1346
@fkiraly This seems to be a workaround for my problem.

[code]

Is there any better way?

[2021-08-23 14:10] fkiraly commented on #1346
yes, `sys.path.insert` and `sys.path.append` works - the other option is `pip install -e [dir location]`

Also see here: https://www.sktime.org/en/latest/installation.html
(section: development versions)

[2021-08-23 21:03] xunannancy opened #5820 "[BUG] MCNN classifier"
**Describe the bug**

In function **fit** for grid search over pool_factors and filter_sizes, the last model is preserved rather the one with best performance.

**Expected behavior**

from
`_, self.model = self.train(X, y_onehot, pool_factor, filter_size)`
to
`_, self.model = self.train(X, y_onehot, self.best_pool_factor, self.best_filter_size)
`

**Versions**
<details>

Linux-5.4.0-73-generic-x86

[2021-08-23 21:47] roboswell opened #1350 ""Data must be univariate" on pipe.fit"
**Describe the bug**
 1 pipe.fit(y=y_train, fh=fh, X=X_train)
      2 y_pred = pipe.predict(fh=fh, X=X_test, y=y_test)

4 frames
/usr/local/lib/python3.7/dist-packages/sktime/utils/validation/series.py in _check_is_univariate(y)
     22     """Check if series is univariate."""
     23     if isinstance(y, pd.DataFrame):
---> 24         raise ValueError("Data must be univariate, but found a pd.Data

[2021-08-23 21:54] aiwalter commented on #1350
hi @roboswell , could you pls provide the full code to reproduce? Pls also take care of formatting the code

[2021-08-23 21:55] fkiraly commented on #1350
in general, `X` can be multivariate - the error message sounds like it's coming from the `y` though.
Not all forecasters can handle multivariate `y`. As @aiwalter said, full code to reproduce the problem would be helpful.

[2021-08-23 21:56] aiwalter commented on #1350
I already see that sth is wrong here:

`y` should not be given in `predict()`

[2021-08-23 22:25] fkiraly commented on #1350
yes, it's `_predict(self, fh, X)`

[2021-08-23 22:25] roboswell commented on #1350
The actual dataframe is huge, so I can't reproduce the whole thing, but here is a snapshot:

![image](https://user-images.githubusercontent.com/72875675/130527193-957b2fdf-b92d-4272-8980-a68b46d6d12e.png)

import sktime

df['date'] = pd.to_datetime(df.date)
df['date'] = df['date'].dt.date

df.sort_values(by=['date', 'country'], inplace=True)
df.index=pd.MultiIndex.from_arrays(df[['date','country']

[2021-08-23 22:27] fkiraly commented on #1350
this is actually coming from `fit`

[2021-08-23 22:31] aiwalter commented on #1350
you have to switch it to `temporal_train_test_split(y, X, test_size=96)` I guess

[2021-08-23 22:33] fkiraly commented on #1350
I think there are multiple problems:

* your data is panel data - currently `sktime` doesn't forecast panels (although we're working on supporting it)
check the [forecasting notebook](https://mybinder.org/v2/gh/alan-turing-institute/sktime/main?filepath=examples) for examples, `X` and `y` should be non-nested pandas series or data frames
* now if you would have a multivariate series, it probably w

[2021-08-23 22:33] fkiraly commented on #1350
and that.

[2021-08-23 22:36] #1350 closed

[2021-08-23 22:38] roboswell commented on #1350
Could you provide an example code of how `pipe` or `forecaster` could be wrapped in  `ColumnEnsembleForecaster` to make it work with multivariate data?

[2021-08-23 23:20] roboswell opened #1351 "How to Import `ColumnEnsembleForecaster` ?"
What is the correct code for importing `ColumnEnsembleForecaster`? Thank you

Could you provide an example code of how `pipe` or `forecaster` could be wrapped in  `ColumnEnsembleForecaster` to make it work with multivariate data?

_Originally posted by @roboswell in https://github.com/alan-turing-institute/sktime/issues/1350#issuecomment-904181293_

[2021-08-24 00:02] roboswell commented on #1351
from sktime.forecasting.compose import ColumnEnsembleForecaster
forecasters = [("XGB", forecaster0, 0), ("RF", forecaster1, 1)]
forecaster = ColumnEnsembleForecaster(forecasters=forecasters)

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-130-4b67ea91a499> in <module>()
----> 1 f

[2021-08-24 13:14] patrickzib commented on #1346
@fkiraly
[code]
How would you implement the logic for segmentation:

1. Do the segmentation in fit and use predict to return just the segmentation and get_fitted_params to return all other parameters?
2. Do the segmentation in predict and return just the segmentation and get_fitted_params to return all other parameters?

Intuitively, I thought about using predict to do the computation - but then g

[2021-08-24 13:19] patrickzib commented on #1346
@fkiraly Maybe my problem is that segmentation is an unsupervised task. Thus, we do not really have a need for fitting a model - instead we do a combined fit_predict() for every series. Thus it is a bit unclear how to match it to the framework.

[2021-08-24 13:31] Aparna-Sakshi commented on #1098
@fkiraly I want to work on this issue. From what I understood, instead of setting the parameters every time inside _config, one could use a function like get_testing_param_defaults to set the default parameters. Could you please guide me as to how I should approach this task as I am new to sktime?

[2021-08-24 15:12] fkiraly commented on #1098
Yes, very much agreed! You can have the issue, no one is working on this.

I'll try post some more details as a STEP today evening.

[2021-08-24 17:30] Aparna-Sakshi commented on #1098
@fkiraly Thanks a lot! I have also sent you a dm in discord.

[2021-08-24 18:23] ltsaprounis commented on #1351
ColumnEnsembleForecaster is a new feature and not part of the latest release. See the latest release docs here: https://www.sktime.org/en/stable/api_reference.html#id5

If you want to try it out before the next release you can do so by installing the development version of sktime. Instructions on how to do that are here:
https://www.sktime.org/en/latest/installation.html#development-versions

[2021-08-24 18:54] fkiraly commented on #1098
I created a STEP here, have a look:
https://github.com/sktime/enhancement-proposals/pull/14

[2021-08-28 19:58] fkiraly commented on #1351
I think this resolves the question, @roboswell?
There will be a new releast in the next weeks probably, so it's not a long wait - or, install the development version.

Please reopen the issue if you think it's not resolved.

[2021-08-28 19:58] #1351 closed

[2021-08-28 20:18] roboswell commented on #1351
Thank you for your help, and that's great news that there will be a new
release shortly. I installed the development version, but I keep getting
the same error as before even with the development version. I'm unsure why.

On Sat, Aug 28, 2021 at 2:59 PM Franz Király ***@***.***>
wrote:

[2021-08-28 20:21] fkiraly commented on #1351
Really? How strange. Perhaps you have an older version cloned? When did you clone the repository?

Can you load anything else from `sktime` using the development version?

[2021-08-28 20:29] roboswell commented on #1351
I think that the issue might be that, although I have followed all of the
steps for installing the development version on Anaconda, Jupyter Notebook
doesn't recognize that it is supposed to be running in the development mode
for some reason, but it might instead be accessing the regular version.
Everything else runs normal, except for import ColumnEnsembleForecaster

On Sat, Aug 28, 2021 at 3:21 P

[2021-08-28 20:40] fkiraly commented on #1351
probably you're using the wrong environment then? You need to use an environment where you have installed the dev version (`pip install -e .` and *not* the pip/conda version (`pip install sktime`)

[2021-08-28 21:05] roboswell commented on #1351
I'm pretty new at this, so I'm a bit confused. I apologize. Do I need to
install the development version using the actual Python environment (e.g.,
Python 3.7 (64-bit) window and not any other type of command prompt/power
shell, and also not using an Anaconda based environment like Jupyter
Notebooks or Spyder?  If so, then I'm confused about how to get the Python
prompt to accept code like  cd skt

[2021-08-28 21:45] fkiraly commented on #1351
If you use anaconda, you need to create a new environment, and in it you install `sktime` and its dependencies using `pip install`, on the anaconda prompt. I can look at your screen on discord if you're there in the next hour or so; or, you could come to the community collaboration session on Fridays (12noon UTC).

[2021-08-28 21:55] roboswell commented on #1351
Perhaps discord would be the easiest option. I just created a discord
account. My username is: robboswell. I'll make sure to be logged at that
time. Thank you, Rob

On Sat, Aug 28, 2021 at 4:45 PM Franz Király ***@***.***>
wrote:

[2021-08-28 22:16] roboswell commented on #1351
It looks like you may also need the 4-digit number to connect with me on
discord. It's #6799

On Sat, Aug 28, 2021 at 4:54 PM Robert Boswell ***@***.***> wrote:

[2021-08-28 22:55] fkiraly commented on #1351
does it ask for that? I thought you could just click the button on our landing page
![image](https://user-images.githubusercontent.com/7985502/131232923-cc8307c8-e6ac-4f00-bfd0-37ff55200719.png)

[2021-08-28 23:04] roboswell commented on #1351
I downloaded the app, which I guess normally requires the number. But now I
clicked on the button you  showed me, and it doesn't require it. So, now
I'm in the sktime discord chat area

On Sat, Aug 28, 2021 at 5:55 PM Franz Király ***@***.***>
wrote:

[2021-08-29 09:40] fkiraly commented on #1351
ah, sorry - already went to bed when you were there. But indeed that´s the right place. Feel free to join the Fri collab session or ping me a message to find another time.

[2021-08-30 10:47] victordremov opened #1362 "[ENH] add ExponentialSmoothing predictor which is able to calculate confidence intervals"
**Is your feature request related to a problem? Please describe.**
Sktime does not have exponential smoothing predictor which is able to calculate confidence intervals.

**Describe the solution you'd like**
Include [ExponentialSmoothing from statsmodels.statespace](https://www.statsmodels.org/stable/generated/statsmodels.tsa.statespace.exponential_smoothing.ExponentialSmoothing.html) in sktime pre

[2021-08-30 10:49] victordremov commented on #1362
If there are no reasons against the idea, I can implement it.

[2021-08-30 11:29] fkiraly commented on #1362
Not a bad idea, but let's clarify:

Do you mean confidence intervals (on fitted parameters) or predictive intervals?

Also, can you be more specific on how you would get these, i.e., where from?

[2021-08-30 11:33] fkiraly opened #1363 "[ENH] Forecasting: prediction interval add-on wrapper"
We should have a wrapper that adds prediction intervals to forecasters that have none.

These can be obtained in a generic way by running sliding forecasts on historic data.

A prediction interval for the k-step ahead prediction can then be obtained from variance or quantiles of actual errors of historical k-step ahead predictions.

As stated above, this should be a wrapper such as `AddPredInt` wh

[2021-08-30 11:34] fkiraly commented on #1362
Some related issues:
* I just added a generic idea around prediction intervals #1363
* we were going to re-design prediction intervals #984, perhaps that is also of interest? May be worth doing the refactor before implementing prediction intervals

[2021-08-30 11:36] fkiraly commented on #984
Two solutions I can see:

* caching the prediction it's called the first time
* the "interval" methods also return point predictions when called, so if you want both you just call the "interval" method

I think I prefer the second one.

[2021-08-30 11:41] fkiraly commented on #1363
related to #984, perhaps worth doing that first

[2021-08-30 12:52] fkiraly opened #1364 "[ENH] forecasting: ensure compositors (pipeline, tuning) work for multivariate forecasters"
From the Aug 27 developer meeting.

We need to ensure that the following compositors work for multivariate forecasters, in descending order of priority
- [x] pipeline compositors, `TransformedTargetForecaster`, `ForecastingPipeline` #1376
- [x] tuning compositors, `ForecastingGridSearchCV`, `ForecastingRandomizedSearchCV` #1376
- [ ] reducers, all in the `_reduce` module, see #1038
- [ ] multiplex

[2021-08-30 13:58] aiwalter commented on #1364
I added this also to the wish list, but lets keep track here then. I will pick the `TransformedTargetForecaster` as a start :). After my test refactor contained in #1347 is merged.

[2021-08-30 14:46] victordremov commented on #1362
I mean confidence intervals for forecast values, not fitted parameters, ones that are to be returned in `predict` when `return_pred_int` flag is set to be `True`
https://github.com/alan-turing-institute/sktime/blob/d981c37aac3e56870be8bb641be18a900c8f15c4/sktime/forecasting/base/adapters/_statsmodels.py#L58

I would like to use `get_forecast` method of fitted statespace model, like in the followin

[2021-08-30 14:49] victordremov commented on #1362
I want to reuse `get_forecast` method of fitted statespace model, like in the following snippet:
[code]
`summary_frame()` returns dataframe, containing pointwise predictions and confidence intervals:
[code]

[2021-08-30 15:16] fkiraly commented on #1362
Hm, we would need to check though whether the returns from `statsmodels` are:

* confidence intervals for the mean prediction, or
* predictive intervals in the proper sense.

Note that these are very different and often confused!
A confidence interval says how sure the model is where the mean expectation of the observation is, given model assumptions.
A predictive interval says which range you exp

[2021-08-30 21:47] victordremov commented on #1362
Thank you for pointing this out. The documentation is definitely calls them confidence intervals, but I guess I'd better check the statsmodels code to be sure.

[2021-08-30 23:59] hyandell opened #1366 "Potential license issue with code in elastic distances and contributed time series distances"
**Describe the bug**
Not a bug per se, but an oddity on the software licensing.

As a whole sktime is BSD-3-Clause licensed, but there are three files that contain AGPL-3.0:

*  sktime/distances/elastic.py
*  sktime/contrib/distance_based/ts_distance_measures.py
*  sktime/distances/elastic_cython.pyx

Does this cause problems for your overall licensing model?

[2021-08-31 09:08] Flix6x opened #1367 "[ENH] Make naive model with drift strategy robust against NaN values and account for seasonal periodicity"
**Is your feature request related to a problem? Please describe.**
With #1130 (not merged yet at the time of writing this issue), the naive model accounts for seasonal periodicity and is robust against NaN values for all strategies except the drift strategy.

**Describe the solution you'd like**
As pointed out in https://github.com/alan-turing-institute/sktime/pull/1130#issue-688158837, if the dri

[2021-08-31 11:38] #1171 closed

[2021-08-31 17:16] ltsaprounis commented on #1362
_(Jumping in with some statsmodels detective work)_

I had a look at the code and it looks like `statsmodels` are calculating prediction intervals for state space exponential smoothing models using either the **analytical formulas** that are based on the [the forecast variance](https://otexts.com/fpp2/ets-forecasting.html#prediction-intervals-2) (formulas are available for a subset of ETS models)

[2021-08-31 20:19] fkiraly opened #1369 "[BUG] Signature transformers are not compliant with transform template"
I'm just refactoring the transformers module, and I'm surprised to fine the signature transformers incompliant with the basic interface template.

How did we end up with `transform(data, labels)` instead of the usual `transform(X, y)`??
How did the tests not pick this up?

I think this needs to be fixed both in the transformer and in the tests, which also need to check that the arguments are corre

[2021-08-31 20:50] fkiraly commented on #1366
Oops, yes it does!
This is a "license clash", which looks like it's accidental.

@hyandell, now I can't find the license in those files - what makes you think it's AGPL-3.0?
I have looked into it and can't find a license statement.

Is it copied from somewhere else?
@TonyBagnall? @jasonlines?

If it's indeed copied from somewhere (and there is a potential license violation), this would need to be

[2021-08-31 20:55] hyandell commented on #1366
Sure. Sorry for not giving you direct links. Here's one:

https://github.com/alan-turing-institute/sktime/blob/main/sktime/distances/elastic.py#L280

[2021-08-31 22:51] fkiraly commented on #1366
Got it - so it's not license infringement, just license clash.
We'll have to check how we deal with this.

Perhaps fortunately, we'll be refactoring the distances anyway, so one could think of re-implementing. It looks anyway it could easily be vectorized, there's just too many loops in there.

Would that be sth you'd be interested in, e.g., a vectorized re-implementation?
Let's just check that th

[2021-08-31 22:55] MatthewMiddlehurst commented on #1366
Not something I am currently doing or planning to do. I think @chrisholder may be doing some distance based stuff related to clustering?

[2021-09-01 08:10] jambo6 commented on #1369
Sorry, I'm used to writing (data, labels) rather than (X, y) and evidently, I missed this.

Are my tests supposed to have picked this up, or existing sktime tests?

[2021-09-01 09:26] fkiraly commented on #1369
The generic tests should probably have picked this up, so I'm worried that they didn't.
The transformer is correctly added in `_config`, so there must be a problem with the tests.

I've now pushed some tentative updates to the signature method as part of #1365 (using the conversion machinery since you need numpy 3D inside), would you mind having a look at the signature module therein?

[2021-09-01 09:28] fkiraly commented on #1367
on #1130, please re-request a review if you think you've addressed the comments.

[2021-09-01 09:36] jambo6 commented on #1369
It shouldn't have been necessary to change any of the transformers other than `SignatureTransformer` and `SignatureClassifier`. None of the other transform methods are ever used by anything other than within those classes so it shouldn't have mattered that they did not have the `y=None` argument for example.

The only issue seems to be incorrect naming of `data, labels` rather than `X, y` which ar

[2021-09-01 09:41] fkiraly commented on #1369
No, it does matter, because the `sklearn` `pipeline` calls `fit_transform`, which in turn calls `transform(X, y)`, which for some reason passes a `y`, which breaks the transform elements.

I didn't follow exactly through the logic, but if you could track it down and provide an alternative fix, I wouldn't mind if you would revert changes, as long as it doesn't break things.

[2021-09-01 10:11] jambo6 commented on #1369
Ok, I see. That's very weird though. sklearns pipeline does not require a `y` argument to be in the transform method unless this is a new thing?

[2021-09-01 15:49] fkiraly commented on #981
one point that came up in #1367, tag names should be valid variable names, or they cannot be used "properly" in `set_tags`. This in particular impacts the larger number of tags that have a dash somewhere, which is (problematically) parsed as a minus if using them as kwarg variable names.

[2021-09-01 19:26] juanitorduz opened #1371 "[ENH] Add `UnobservedComponents` model wrapper (statsmodels)"
## Description

**Is your feature request related to a problem? Please describe.**

The unobserved components forecasting models has proven to very effective for some time series prediction problems (in my experience)

**Describe the solution you'd like**

I would suggest to use the `sktime.forecasting.base.adapters._StatsModelsAdapter` class to wrap the [statsmodels implementation](https://www.st

[2021-09-01 19:28] juanitorduz commented on #1371
I could potentially work on this enhancement by following the logic of [https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/ets.py](https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/ets.py) (plus some additional support). Any tips / suggestion on how to get started?

[2021-09-01 23:34] fkiraly opened #1372 "[DOC] installation instructions general and windows, updates/clarifications"
This issue is about reproducing and potentially documenting installation of the developer version that seems to deviate from current installation instructions; and reproducing whether the current instructions, as they are written down, work properly (or not).

---
Via an environment mishap, I was forced to re-install my `sktime` development version on windows.

The vanilla workflow described in th

[2021-09-01 23:35] fkiraly commented on #1372
Would also be good if someone could test setting up environment on windows under the current installation instructions.

I feel this also has to do with the binder fix of @corvusrabus which required a two-step approach, and possibly with work done by @freddyaboulton - perhaps you something wise to say about the above?

[2021-09-01 23:38] fkiraly opened #1373 "[BUG] esig is missing from "all extras" installs"
`esig` seems to be missing from the "all extras" installs, which causes test errors in the development version, for instance.

Should it be not part of the `setup.py`?

@jambo6, @mloning, @aiwalter, @freddyaboulton, @corvusrabus, FYI

Of course, we should first fix issues with the signature methods, see here #1369.

[2021-09-02 00:22] freddyaboulton commented on #1372
@fkiraly Regarding prophet, I don't think we need a two-step approach. I think we need to switch over to the `prophet` package as opposed to `fbprophet`. I think the problem is that `fbprophet` is quite old and they list `pystan>=2.14` as a requirement. This causes `pystan` 3.2.0 to be installed which is actually not compatible with prophet! Prophet only supports pystan 2. `prophet` has the correc

[2021-09-02 09:56] fkiraly commented on #1372
Where exactly? Don't see a new PR.

[2021-09-02 13:13] fkiraly commented on #1369
Something ends up calling the `sktime` transformer which has a `y`, one would have to look at the trace back of what happens if you remove the change in the signatures files.

[2021-09-02 15:35] IlyasMoutawwakil opened #1374 "[ENH] Prophet wrapper can't add multiple custom seasonalities"
The problem is in the sktime wrapped version of prophet. In Native Prophet you can add multiple seasonalities but in the sktime version you can only add one (other than the default seasonalities).
I tried going around this without changing source code by calling model._forecaster (the prophet model instance) but it doesn't work since the instanciation is created during the fit and after the fit yo

[2021-09-02 17:57] aiwalter commented on #1364
can we add `NaiveForecaster` to this list? It could internally just apply a `ColumnEnsembleForecaster`

[2021-09-02 18:41] aiwalter commented on #1364
What about `ForecastingPipeline`? Do we need to adjust it? Not sure if there is a use-case where `y` and `X` are both `pd.DataFrame`?

[2021-09-02 19:05] aiwalter commented on #1374
Good point, would appreciate a PR.

[2021-09-02 19:09] aiwalter commented on #1371
Would be nice if you can work on it

[2021-09-02 21:32] freddyaboulton commented on #1372
@fkiraly This is what I was talking about: https://github.com/alan-turing-institute/sktime/pull/1375

[2021-09-02 22:58] freddyaboulton opened #1377 "Deprecate manylinux 2010"
**Is your feature request related to a problem? Please describe.**

We currently support manylinux 2010 wheels. However, manylinux2010 reached its end-of-life last year and our dependencies are no longer supporting it going forward.

Two examples so far:
1. llvmlite/numba stopped supporting manylinux 2010: https://github.com/numba/llvmlite/issues/768
2. Pillow released version 8.3.2 today that no

[2021-09-03 12:39] IlyasMoutawwakil opened #1380 "[ENH] Past predictions over train set"
I was wondering why can't we get past predictions (by that I mean predictions made by the model on the train set) in sktime, actually one of the most fundamental ways to compare models is to compare their performance on train set relatively to test set performance and see if they're over-fitting: if the model performance on train set is way better than it is one the test/validation set. But in skt

[2021-09-03 12:39] IlyasMoutawwakil commented on #1380
Please tell me if their's a way around it.

[2021-09-03 13:48] fkiraly commented on #1364
Yes, I think that´s not an uncommon use case.

Btw, it looks like `TransformedTargetForecaster` works for multivairate out of the box?

[2021-09-03 13:54] mloning commented on #1380
Hi @IlyasMoutawwakil, most forecasters should support in-sample predictions, you can specify them with the forecasting horizon, e.g. `ForecastingHorizon(y_train.index, is_relative=False)`.

Check out the section "3.2.2 The Detrender as pipeline component" in the notebook here: https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb - let me know if this helps!

[2021-09-03 13:57] mloning commented on #1364
No, still only works for univariate input data.

[2021-09-03 14:06] mloning commented on #1371
Hey @juanitorduz - sounds good, happy to help if you get stuck. Also take a look at the extension template here: https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/forecasting.py

[2021-09-03 14:19] IlyasMoutawwakil commented on #1380
Thanks a lot that's what I've been looking for.

[2021-09-03 14:19] #1380 closed

[2021-09-03 14:46] aiwalter commented on #1380
@IlyasMoutawwakil backtesting works with `evaluate`, see also notebooks.
https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.forecasting.model_evaluation.evaluate.html

[2021-09-03 15:09] mloning opened #1381 "[BUG] Updating in forecasting pipeline needs to transform data"
**Describe the bug**
Currently, when calling `update` of a forecasting pipeline, the raw data is used for updating of all components. Instead, only the first transformer should be updated with the raw data. The subsequent components should receive the transformed data from the previous component.

**Possible solutions**
* add a call to the transformer's `transform` method
* additionally, introduce

[2021-09-03 15:25] fkiraly commented on #1380
@ilyasmoutawwakil, not sure whether in-sample forecasts are what you are looking fore - those shouldn't be used for backtesting!

[2021-09-03 18:09] IlyasMoutawwakil commented on #1380
Hmm I'm quite lost here, what I'm trying to do is as I explained above. In other words: the predictions over training data from the forecaster that have seen the train data (all of it) which is not exactly what an expanding window does.

[2021-09-03 18:41] aiwalter commented on #1380
Yes then just do insample prediction

[2021-09-03 20:52] fkiraly commented on #1380
yes, agreed with @aiwalter here.

And yes, `Detrender` does this - it's not totally obvious, so we should probably add this to the forecasting tutorial notebook - perhaps a section 1.6, frequently asked "how to" questions? Would you be up to adding that, @IlyasMoutawwakil?

[2021-09-03 21:03] aiwalter commented on #1380
I think `Detrender` is just needed for residuals. I think for residuals would be nice to have a getter in the base class which does it as a shorthand with `forecaster.resid_` and the getter just uses the `Detrender`

[2021-09-03 21:04] fkiraly opened #1384 "[BUG] sporadic bug with contracted TDE not meeting accuracy"
#1301 had this sporadic bug with a failure of `test_contracted_tde_on_unit_test_data`, when TDE is tested.

This seems to be an instance where it does not reach a certain accuracy. Is it really a good idea to test for performance, in a case where it is inherently stochastic and no random seed is set?

@TonyBagnall

[code]

[2021-09-03 21:09] fkiraly commented on #1372
ah, thanks!

[2021-09-04 10:11] fkiraly commented on #1380
there already is a discussion about it in #1105 - @aiwalter, @IlyasMoutawwakil, perhaps you can add your opinions how, if at all, in-sample prediction and/or residuals should look like?

The current suggestion is:
* `fit_predict` for in-sample predictions, shorthand
* `Detrender` for residuals, but also a tutorial section

`predict_residuals` or similar as you just suggested is an alternative?

[2021-09-04 10:55] aiwalter commented on #1364
I have a PR open for `TransformedTargetForecaster` and `BaseGridSearch`, see #1376 . Need to wait merging #1301

[2021-09-04 19:35] ltsaprounis opened #1387 "[ENH] AutoETS to ignore multiplicative components when time series is not strictly positive"
**Is your feature request related to a problem? Please describe.**
If a time series is not strictly positive, ETS models (from statsmodels) with multiplicative components will raise the following error:
[code]

Currently AutoETS will raise the same error because it tries all the available ETS models. Ideally AutoETS will skip the models that result in this error and will try all the other ones.

*

[2021-09-05 09:05] mloning commented on #1377
2. seems to be resolved, CI is working again on `main`

[2021-09-05 09:59] fkiraly commented on #1377
well - should we wait with deprecation then?

[2021-09-05 10:00] ngupta23 commented on #1105
Hi @mloning , Would it be possible to store the residual information in the forecaster object when fit is called for it? This would be more efficient since usually, the residuals are called only after fitting the forecaster (for fit assessment). Having to call another fit after that in `transformer.fit_transform` would be doubling the fit effort in terms of time.

[code]

If we do not want to enfo

[2021-09-05 10:20] juanitorduz commented on #1371
I will start to work on it sometime this week. I'll create a draft PR whenever I feel I need some help 😅.

[2021-09-05 10:30] fkiraly commented on #1105
@ngupta23, why would there be an additional call to `fit`? The `Detrender` calls `fit_transform` of the wrapped forecaster, which calls `fit`, and it happens only once?

[2021-09-05 10:33] ngupta23 commented on #1105
@fkiraly, usually I would fit the model first and only then evaluate (optional). If someone already has a fitted model in the workflow, then having to wrap it in a `Detrender` to get the residuals (using fit_transform) would force another fit on that and would duplicate the effort.

[2021-09-05 10:37] ngupta23 commented on #1105
@fkiraly maybe it was not explicitly stated, but in my suggestion, we would need to do insample prediction when save_residuals=True, somethig like what is done inside the detrender currently [Link](https://github.com/alan-turing-institute/sktime/blob/ebd8bbf088276240bb924fca10be0624d8879dff/sktime/transformations/series/detrend/_detrend.py#L141)

[2021-09-05 10:38] fkiraly opened #1390 "[ENH] classifier family as estimator tag"
I think the classifier family (distance based etc) whould also be a classifier tag.

That way, we can look up classifiers using the tag with `all_estimators`.

Opinions or preferences here, @tonybagnall?

[2021-09-05 16:46] mloning commented on #1105
If you don't want to fit again, you could also do:
[code]

[2021-09-05 16:49] #1313 closed

[2021-09-05 20:22] MatthewMiddlehurst commented on #1384
I have made a PR for this. I agree they are not ideal tests, but I would like a little more than just verifying it runs without crashing.

I can remove them for now if the above is not suitable, there are probably better options that can be discussed when we get around to discussing a unified interface for contracting (#159).

[2021-09-05 23:19] fkiraly commented on #159
do you want to make a start for this, @MatthewMiddlehurst?

[2021-09-05 23:20] fkiraly commented on #1384
How about just setting a random seed?

[2021-09-06 08:14] TonyBagnall commented on #1384
I imagine it is the time limit causing the problem, setting a seed wont help since time will be machine dependent. I think contracting testing should just test it terminates approximately around the amount of time it is given. Accuracy is tested elsewhere isnt it?

[2021-09-06 08:58] aiwalter opened #1393 "[ENH] All univariate _SeriesToSeriesTransformer should internally use the ColumnwiseTransformer to make them multivariate"
**Is your feature request related to a problem? Please describe.**
All univariate `_SeriesToSeriesTransformer `should internally use the `ColumnwiseTransformer `to make them multivariate. This should however be mentioned in the docstring that it internally applies just a `ColumnwiseTransformer ` and that the algorithm itself is still a univariate.

**Additional context**
Refactor `Detrender` which

[2021-09-06 09:05] SveaMeyer13 commented on #1393
Happy to work on this :)

[2021-09-06 09:08] SveaMeyer13 commented on #1393
Would it make sense to wait for the overall transformer-refactor though?

[2021-09-06 10:22] MatthewMiddlehurst commented on #1384
As Tony says, they are already seeded but building 1 second worth of classifiers has different results on different hardware. The changes give a 15 second contract but set a limit on the amount that can be built to 1-2 seconds worth. Unless the hardware used is really bad the results should be consistent.

Testing with accuracy just gives an idea that its actually running. Could test the run time,

[2021-09-06 10:30] TonyBagnall commented on #1384
I think we need to come up with a general mechanism for testing contracting then apply it to all contractable classifiers. I think that for now remove this test. Contracting with a small enough time to use in unit tests is a bit of an edge case anyway, since contracting is really meant for much longer time frames than we can allow in unit tests

[2021-09-06 10:33] MatthewMiddlehurst commented on #159
Currently working on getting HC2 in the package (#842), as I have told a number of people we would try to get a working version this summer.

Happy to take a look after, however.

[2021-09-06 10:35] TonyBagnall commented on #159
yes we need HC2 equivalence first, but a simple interface for contractable classifiers makes sense.

[2021-09-06 12:44] mathco-wf commented on #1387
@ltsaprounis @fkiraly Can we work on this issue?

[2021-09-06 14:43] fkiraly commented on #1387
If this is a Royal "we", certainly - or do you mean, you plus @ltsaprounis? Then you would have to ask @ltsaprounis.
Either way, it may good to choosing the target solution here before you start.

My preference would be the second option, what do you think, @aiwalter, @mloning?

[2021-09-06 15:18] ngupta23 commented on #1105
Hi @mloning ,

It is more than just computing the residuals. If we are working with multiple models, we want to keep track of the residuals for each model. The model object is the best place to store this in my opinion. So, I like your idea of adding a `residuals_` property to the forecaster class.

I can also see why computing the residuals inside the `fit` method could be questioned. Maybe we ca

[2021-09-06 15:38] mathco-wf commented on #1387
@fkiraly actually we are a team so that's why I used 'we', I am looking at the issue and once I get a heads up from @aiwalter and @mloning. I will raise the PR.

[2021-09-06 15:59] mloning commented on #1105
I'd actually prefer `compute_residuals` over `residuals_`, that could be added to the `BaseForecaster`

[2021-09-06 16:18] fkiraly commented on #1105
How about `predict_residuals`, since it's a "prediction-like" method?

[2021-09-06 16:19] fkiraly commented on #1105
In any case, we need to be very precise what the methods are doing - in-sample, out-of-sample, etc.

I'd be in favour of `fit_predict` and `fit_predict_residuals` for in-sample prediction and in-sample residuals.
For out-of-sample residuals you could have `predict_residuals`?

[2021-09-06 21:42] ltsaprounis commented on #1387
Thanks @mathco-wf!
@fkiraly I prefer the second option too. `(ts<=0).any()` should work well for the check.

[2021-09-06 23:16] fkiraly commented on #1387
alright, let's do that (if there are no dissenting opinions from @mloning or @aiwalter)

[2021-09-07 13:52] fkiraly commented on #1384
we shouldn't close a bug report issue unless it's resolved by a PR or declared irrelevant.
I think this is a bug...

[2021-09-07 13:55] fkiraly commented on #1393
Yes, that's an excellent idea - the current transformers refactor #1365 contains a similar feature, where a Series transformer is applied to all elements in a Panel automatically.

[2021-09-07 13:55] fkiraly commented on #1393
I would suggest we include it as a part in the transformers refactor, since this is really base class functionality!

[2021-09-07 13:57] fkiraly commented on #1393
A similar question: should univariate forecasters not automatically be applied this way too?

[2021-09-07 14:08] MatthewMiddlehurst commented on #1384
The issue was resolved by a PR (#1392). The tests that could cause sporadic failures have been disabled.

I believe my previous fix was enough to guarantee the same output regardless of the hardware the test was run on, but we can save that until we formalise contracting for classifiers a bit more.

[2021-09-07 14:42] aiwalter commented on #1393
yes I was thinking the same. but I think normally you would not apply the same hyperparameters to each column, right? So you would probably rather use a `ForecastingGirdSeachCV` in combination with a `ColumnsEnsembleForecaster` I guess. But we could have it anyway as a default. Its just the risk that users dont know about that they actually apply a univariate model, but thas also for transformers.

[2021-09-07 18:03] mloning commented on #1105
I'd prefer keeping it simple and only provide a method for in-sample residuals, at least for now. Don't have preference over `compute_residuals` or `predict_residuals`.

[2021-09-07 20:42] fkiraly commented on #1393
Yes, that's an interesting point - there is potential syntatic ambiguity here, since it's unclear whether applying `ForecastingGridSearchCV` to a univariate forecaster would tune all columns simultaneously or not. I guess one could use the scitype label to control this, though it might not be obvious to the user.

[2021-09-07 22:03] freddyaboulton commented on #1377
I'm ok with waiting to do this until the 0.8.0 release (btw when will that be?) as @mloning seems to have indicated by switching the milestone on https://github.com/alan-turing-institute/sktime/pull/1379

[2021-09-08 07:55] #863 closed

[2021-09-08 10:30] mloning commented on #1377
Yes, we haven't established a clear release schedule but I would like to aim for a release every month, we're currently a bit behind schedule, also due to the summer break, but hopefully can push out more regular releases soon. Any preference from your side @freddyaboulton?

[2021-09-08 15:09] mloning commented on #1377
I've now tentatively scheduled v0.8.0 for the beginning of November (see https://github.com/alan-turing-institute/sktime/milestone/8). After I'd like to try to make a new release at the beginning of every month.

[2021-09-08 15:34] mloning commented on #1387
Sounds good to me - @HYang1996 would appreciate your opinion if you can find some time?

[2021-09-08 16:41] mloning commented on #1393
Yes I like the idea for transformers. For forecasters, classifiers and so on, I'm less sure, it may end up being more confusing than helpful, especially for models like AR and VAR and so on.

[2021-09-08 19:57] freddyaboulton commented on #1377
Sounds good to me @mloning !

[2021-09-09 00:22] fkiraly opened #1397 "[ENH] all dashes in tags should be replaced by underscores"
In tags, all dashes should be replaced by underscores.

The reason is that in a vanilla call to `set_tags`, one would write `set_tags(tag_name=tag_value)`, but this will break if `tag_name` has a symbol in it that is not permitted in a python variable name (for instance, a dash).

For each tag, the changes need to be done:
* in `registry/_tags`
* all estimators where it is set
* any other logic th

[2021-09-09 04:51] PuneetDabral commented on #1397
sir can i do my first contribution here ..can you please give me chance
(i am new in open source i need all of your support so i can motivate my self)

[2021-09-09 07:39] mloning commented on #1397
Hi @PuneetDabral, yes, no-one else is working on this as far as I can see so please give it a go! Let us know if you get stuck.

[2021-09-09 08:12] anurag629 commented on #1397
Hello, i am new to open source contribution. I want to contribute. Please guide me .....

[2021-09-09 08:20] fkiraly commented on #1397
go to `registry/_tags` and pick one with a dash, then say here which one you picked; then make a PR in which these are renamed.

[2021-09-09 08:29] PuneetDabral commented on #1397
ok i will clone this

[2021-09-09 15:01] SveaMeyer13 commented on #984
FYI: @mloning and I discussed that I could work on this. To get familiar with the current design I started by reviewing #775.

[2021-09-09 18:54] #918 closed

[2021-09-10 10:24] mloning opened #1399 "[ENH] Extend NaiveForecaster to handle multivariate data internally"
**Is your feature request related to a problem? Please describe.**
Currently, the `NaiveForecaster` can only handle univariate input data.

**Describe the solution you'd like**
We are working on a quick fix to extend it to multivariate data using the `ColumnForecasterEnsemble` (see discussion in our [meetup notes](https://github.com/sktime/community-org/blob/main/meetups/previous_meetings/20210909

[2021-09-10 13:41] RNKuhns commented on #1393
What are the performance implications of this? For some transformers, the combined interface of Series and DataFrames in pandas may provide an alternative. If we use `ColumnEnsembleForecaster`  to iteratively apply the transformer to each column, do we know  what the performance of that is like relative to using the combined pandas interface?

[2021-09-10 14:55] fkiraly commented on #984
I made a STEP here, please review:
https://github.com/sktime/enhancement-proposals/pull/15

[2021-09-10 15:41] mloning opened #1402 "Code coverage and numba"
**What is the problem?**
@RNKuhns and I had another look at the declining test coverage. It seems that code wrapped in `numba` decorators is not hit during unit tests, likely because the JIT-compiled version are used instead of the raw Python code.

**Describe the solution you'd like**
Exclude or properly account for `numba`-wrapped functions in coverage report.

[2021-09-10 15:55] mloning commented on #1393
I think we should use the column-ensembling as the default fall-back option for transformers implemented in the base class (still not sure about forecasters). Concrete transformers should have the option to override that if they implement bespoke ways of handling both univariate and multivariate data by using the combined pd.Series/pd.DataFrame interface. I think that what the tags would allow us

[2021-09-10 18:02] aiwalter opened #1404 "[ENH] AutoEnsembleForeacaster should have a method to use inverse error as weights"
**Describe the solution you'd like**
`AutoEnsembleForeacaster` should be able to automatically calculate internally the error of the forecasters and use the inverse error as weights. Credits to @RNKuhns who came up with this idea :)

There should be a `method="inverse-error"` added.

[2021-09-10 19:02] MatthewMiddlehurst commented on #669
Included in the above PR.

[2021-09-10 19:02] #669 closed

[2021-09-10 23:31] asksteph opened #1405 "[BUG] pandas frequency W-WED in `ForecastingHorizon` causes failure in `AutoETS.predict`"
**Describe the bug**
 I have a weekly dataset with W-WED frequency that I want to train an AutoETS model on. The predict step throws an error when it does not understand this datetime frequency.

**To Reproduce**

[code]

**Expected behavior**
 I expect the model to be trained on the weekly data and to return predictions for the requested forecast horizon.

**Additional context**
 If I set my date

[2021-09-11 01:07] aiwalter commented on #1405
Hi @asksteph , I think you cant use `np` inside `predict` as `fh`. Rather use a `list` or `ForecastingHorizon`. Otherwise pls provide error.

[2021-09-11 03:30] asksteph commented on #1405
I tried several fh conventions from the example in https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb. Neither the numpy, list, nor ForecastingHorizon work. I don't think it's an issue with the forecast horizon.

[code]

Here's the error message:
[code]
Let me know what you think. Thank you!

[2021-09-11 10:00] aiwalter commented on #1405
as a hotfix, I did `train.to_period()` which worked well. Generally `sktime` works best with `pd.PeriodIndex`.

[2021-09-11 17:14] fkiraly commented on #1405
I believe this is related to issue #866 and the proposed fix in #867.

I think the fix should still work, but the PR was abandoned by its author before it was ready to merge.
Perhaps someone could take this on?

FYI @xiaobenbenecho in case you are still watching sktime.

[2021-09-11 17:18] fkiraly opened #1408 "[ENH] in CI, test only lines that are changed by PR"
I think it would be a great improvement if the PR tests only ran the tests that touch changed lines - it would solve our issue with testing taking hours for every PR.

I'm not sure how one would do this as part of the integrated tests, but there seem to be packages like `pytest-testmon` or `pytest-picked` that allow to do this in-principle.

Perhaps someone who has experience with this sees that i

[2021-09-11 17:21] fkiraly commented on #984
From the STEP, I would recommend to not implement everything at once - at first step, I'd focus on `predict_interval` and nothing else.

[2021-09-11 18:34] asksteph commented on #1405
The hotfix worked. Thank you.

[2021-09-12 09:20] mloning commented on #1408
I agree that speeding up CI is important. I'm not sure if only running tests for the changed lines is a good idea. Are you aware of any projects that do that? Identifying the relevant tests to run will be tricky I think.

The main bottleneck at the moment is appveyor (see #1319) and the very slow distance-based classifiers. Also see https://github.com/alan-turing-institute/sktime/issues/1032

[2021-09-12 09:24] xiaobenbenecho commented on #1405
Yes. Still watching. Just created another merge request #1409.

Franz Király ***@***.***> 于2021年9月11日周六 下午6:14写道：

[2021-09-12 09:37] fkiraly commented on #1405
Thanks, @xiaobenbenecho!

The fix looks reasonable, but you need to make sure the docstring and code quality (code formatting) checks pass. I believe this was also the issue with your last PR.

This is not a big thing, but it would block the PR from getting merged. If you would like to be shown how to set this up (you see it once then you know how to do it), feel free to join our regular collabora

[2021-09-12 09:37] mloning commented on #984
Yes I agree, let's start with `predict_interval`. For `predict_interval`, should we implement bootstrapping in the base class as the fallback option (following the `forecast` package in R and described in https://otexts.com/fpp3/prediction-intervals.html#prediction-intervals-from-bootstrapped-residuals)?

[2021-09-12 09:40] fkiraly commented on #984
My preference would be to implement the various strategies as a `PredictionIntervalAdder(myest, strategy="hyndman-bootstrap")` or similar, since there are multiple ways to do this. I've described to @SveaMeyer13 a different way that makes less assumptions. The Hyndman way is a bit problematic imo since it seems to assume a generalized autoregressive model. But I think both should be options.

[2021-09-12 09:41] fkiraly commented on #984
And, it should be noted, there are two things in here: the base class interface refactor (moving intervals out into another method), and adding concrete prediction interval functionality.

[2021-09-12 10:02] mloning commented on #984
I agree, any reference to the other approach?

[2021-09-12 10:54] xiaobenbenecho commented on #1405
Thanks. Franz. Tried another push to fix the code and doc quality issue by
following the hints of the error. Please review again to see whether that
works.

If not, would you mind providing the Discord conversation name for me
to join, please? Best

Franz Király ***@***.***> 于2021年9月12日周日 上午10:37写道：

[2021-09-12 11:02] fkiraly commented on #984
"quantiles from backtesting", I would consider this a more obvious approach if you can assume being close to stationary in residuals:

1. run sliding window backtesting to obtain predictions $\hat{y}_{ij}$, by i-th horizon, by j-th window
(H points in the horizon, W windows total, so there are H*W predictions)
2. compute residuals $r_{ij}$ for those predictions, by subtracting predicted from actua

[2021-09-12 11:05] fkiraly commented on #1405
ah, still failing - make sure you have all the sktime linters installed locally, see developer instructions.

For getting on discord, search for this button on the `sktime` landing page
![image](https://user-images.githubusercontent.com/7985502/132985143-44f473b7-e6bc-40b9-a956-f9087427358b.png)
the collaboration sessions are usually in the meet-up channel

[2021-09-12 11:53] fkiraly opened #1411 "[BUG] incorrect cutoff logic for `np.ndarray` in `update`?"
I just looked at the base class, and `_set_cutoff_from_y`, ir `y` is a `np.ndarray`, does `self._cutoff = len(y)`.

Now, this is fine in `fit` where `y` is first seen, but should it not be incremeted, instead of being set, in `update`?

That is, `self._cutoff += len(y)`? Also, first time round, should it not be `len(y)-1`, because python starts counting at zero?

An elegant resolution woudl be to

[2021-09-13 13:04] ngupta23 commented on #1105
So are we good with implementing `compute_residuals` or `predict_residuals` for in-sample residuals and storing the residual values in the model object?

[2021-09-13 16:03] SveaMeyer13 commented on #984
Alright, so if I understood correctly these would be the steps to go:
1) Base class refactor that focusses only on `predict_interval` as described in this [STEP](https://github.com/sktime/enhancement-proposals/pull/15/files):
* splitting of the prediction interval return functionality from `predict` in a function `predict_interval` still ensuring downwards compatibility. Following the method signa

[2021-09-13 16:19] mloning commented on #1105
Do you need to store them? I believe that if we store them, we need to handle that state properly, making sure in sync with the training data. Implementing `compute_residuals` as some form of `y_train - f.predict(ForecastingHorizon(y_train.index, is_relative=False)` sounds good to me.

[2021-09-13 16:59] fkiraly commented on #1105
yes, but let's write a short design doc before implementing anything, it's a core API change, so strictly speaking it needs a STEP.
At least, you should write down docstring and method signature.

I'd do `predict_residuals(y: Series) -> Series`, i.e., the `fh` is directly obtained from `y`.

[2021-09-13 17:00] fkiraly commented on #1105
I'd also add a `fit_predict(y: Series) -> Series`.

[2021-09-13 17:03] fkiraly commented on #984
I think this is accurate in understanding what @mloning wants?

My proposed way forward would be different in step 2:

2. implement a `PredictionIntervalAdder` that adds/replaces `predict_interval` with bootstrapping/quantiles functionality.

That would "run" but violate the "unified interface" aka "strategy pattern" that we are using in `sktime` - all estimators of the same (sci)type must have ex

[2021-09-13 17:58] mloning commented on #984
Yes @SveaMeyer13, let's start with 1, by then we may already have a better view on 2.

Instead of adding the strategy argument to the `predict_interval` method, we could add it to the constructor. But I'm not sure which is preferable. I like the `PredictionIntervalAdder` because it's modular and nicely separates functionality into different classes. On the other hands, it adds an additional class

[2021-09-13 18:56] SveaMeyer13 commented on #984
Cool! Thanks both, the discussion around `PredictionIntervalAdder` now became a lot clearer to me.

Is there any other PR that I should wait for to be merged before creating a PR on 1?

Also, do you think it's better to have everything of the first part of the refactor (as described in my last comment) in one big PR or should I still split it into smaller chunks?

[2021-09-13 21:26] fkiraly commented on #1408
exactly the tests that previously touched a line that was changed?

Yes, but there will always be some monstrosities like that.
The suggestion would get it down to minutes?

[2021-09-13 21:29] fkiraly commented on #1408
No, but it seems like a good idea?

[2021-09-13 21:53] fkiraly opened #1415 "[BUG] "no hosted parallelism granted" in azure DevOps"
Just an issue to track the resolution of "no hosted parallelism granted" error message when trying to run ADO pipelines since today.

@mloning believes that this may be due to `sktime` reaching high usage of free ADO pipelines time, and Microsoft switching them off.
@mloning has written to Microsoft for authorization, which is expected to take 2-3 days or more

[2021-09-14 09:20] mloning commented on #1415
It's not so much about our usage I think, but rather about them trying to prevent abuse of their pipelines for other things (see e.g. https://devblogs.microsoft.com/devops/change-in-azure-pipelines-grant-for-private-projects/).

[2021-09-14 09:53] mloning commented on #984
I'm not aware of any other refactoring that's ongoing that would interfere with this. It's hard to say whether to split it up further. We could add the new interface point while maintaining the old one for now, perhaps that's a first step. Then if everything works, we could deprecate the old way of generating prediction intervals (i.e. via the `return_pred_int` argument in `predict`).

[2021-09-14 10:32] fkiraly commented on #984
Not refactoring, but a minor interface change, #1410, might interfere, since it also changes the base forecasters' `predict`. It's probably not going to touch the same lines though, in `predict`, but worth being aware.

That's precisely what my STEP suggests in the "downwards compatibility" section 😃

[2021-09-14 16:51] SveaMeyer13 commented on #984
One more question: Currently we also have `compute_pred_int(self, y_pred, alpha=DEFAULT_ALPHA)`, I'll leave it there for downwards compatibility and just create the new method `predict_interval(self, fh=None, X=None, alpha=Union[float, np.ndarray[float, dim=1]]) -> pd.DataFrame` in addition to that, right?

[2021-09-15 01:30] ngupta23 commented on #1105
@mloning , I think we should store this in the model object because when we work with multiple models for the same data, then storing this in the model makes most sense.

Yes, that is why my [original recommendation](https://github.com/alan-turing-institute/sktime/issues/1105#issuecomment-913121620) was to do this when doing fit (with an argument that has to be explicitly set to True to store this

[2021-09-15 09:17] mloning commented on #1415
Azure DevOps pipelines are working again, received the confirmation earlier today.

[2021-09-15 09:17] #1415 closed

[2021-09-15 16:26] mloning commented on #984
@SveaMeyer13 yes, let's leave everything as it is for now and only add the new interface point. Once that's merged, we can deprecate the old stuff. 👍

[2021-09-15 17:12] fkiraly commented on #984
I would not deprecate the old stuff, just move it to the classes where they are called. They are not "actually public" interface points, and I think no one is using them anyway, since they are specific to some concrete classes and not useable outside those.

See the "removal/refactor of unnecessary `BaseForecaster` methods" in the STEP - is anyone reading this 😠 ... 😄

[2021-09-15 17:45] SveaMeyer13 commented on #984
Ahh sorry, when I asked the question I wasn't aware that `compute_pred_int(self, y_pred, alpha=DEFAULT_ALPHA)` is part of the unnecessary BaseForecaster methods in the STEP. In my PR I followed the suggestions in the STEP :D

[2021-09-15 22:16] fkiraly commented on #859
Reopening with @ilyasmoutawwakil's suggestion that forecasts at indices which the forecaster cannot predict should be NA.

Since we are returning pandas objects, it should be `pandas.NA`, and the column/entry of a nullable `pandas` `dtype`.

[2021-09-15 22:24] fkiraly commented on #984
Well, it might be worth briefly thinking about whether people *could* be using this, and whether applying the deprecation mechanism isn't still the better way to deal with it.

[2021-09-16 05:57] eyalshafran opened #1422 "[BUG] make_forecasting_error is not working"
**Describe the bug**
When calling make_forecasting_error I get - AttributeError: '_BaseForecastingScoreMetric' object has no attribute 'func'

**To Reproduce**
[code]

**Versions**
System:
    python: 3.8.5 (default, Sep  4 2020, 02:22:02)  [Clang 10.0.0 ]
executable: /opt/anaconda3/bin/python
   machine: macOS-10.16-x86_64-i386-64bit

Python dependencies:
          pip: 20.2.4
   setuptools: 50.3

[2021-09-16 16:11] mloning commented on #984
Yes. And I was also referring to the `return_pred_int` parameter in `predict` which we should deprecate properly.

[2021-09-16 17:50] fkiraly commented on #1422
@RNKuhns, can you kindly have a look at this, since you wrote the function/classes involved?

[2021-09-16 19:05] fkiraly commented on #984
Well, that one I've factored in in the STEP, but I was "ignoring" the "weird unnecessary functions that should be in a child class".

[2021-09-17 09:45] IlyasMoutawwakil commented on #859
I can make a PR for this if no one did before ^^

[2021-09-17 10:34] fkiraly commented on #859
no one has, all yours! 😄

[2021-09-17 10:46] fkiraly opened #1424 "[ENH] new test case: public `fit`/`predict` interface must not be overridden and/or using abc?"
Much ado about nothing was caused by a "rotting" `update_predict` in an unrelated class which should have not been there, in n PR #1401.

This highlights a need for a new test case in my opinion: testing that concrete estimators do not override the non-abstract `fit`, `predict`, etc methods (which ones depending on estimator types).

Some options that test or even outright prevent this involve usi

[2021-09-17 12:06] #1399 closed

[2021-09-17 12:37] #1371 closed

[2021-09-17 12:40] fkiraly opened #1425 "[DOC] add estimator list/overview and tags explanation at start of forecasting notebook, section 2"
Section 2 of the forecasting notebook explains the main classes of forecasters.

Since we wrote this, we have introduced and extended the `all_estimators` registry lookup which can be used to list all forecasters, and the `all_tags` lookup which can list all forecaster tags (both in the `registry` module).

I think it would be a good idea to add usage of these two utility functions at the start of

[2021-09-17 13:04] IlyasMoutawwakil opened #1426 "[BUG] BATS/TBATS multiprocessing crashing when n_jobs!=1"
The problem started when I put a BATS forecaster in an AutoEnsembleForecaster and ended up with an infinite loop of errors.
But apparently it comes from BATS/TBATS when given n_jobs other than None (default) or 1.

[code]
You should get this long error that keeps on repeating itself infinitely:

[code]

Running the forecaster on multiple processes for faster convergence.

**Versions**
<details>
Sy

[2021-09-17 14:53] fkiraly opened #1427 "[BUG] link in `contributing.md` is dead"
The link in our `contributing.md` (in root folder) 404s, this needs to be fixed.

[2021-09-17 14:55] fkiraly commented on #1427
Also, the main page "contribute" link links there, so also to a 404.

We need to fix this asap! Where should it link to?

@mloning, @TonyBagnall ??

FYI, @GuzalBulatova, @Aparna-Sakshi, @xiaobenbenecho

[2021-09-17 15:39] Aparna-Sakshi commented on #1427
I haven't updated the link in README.md as it points to CONTRIBUTING.md and not the wrong link.
I have only updated in CONTRIBUTING.md

[2021-09-17 16:00] #1427 closed

[2021-09-17 16:01] fkiraly commented on #1427
Yes, thanks a lot!
Though I think it's a better user experience if the `README.md` points directly to the correct place instead of pointing to another place that points to the correct place - would appreciate a fix for that too (or I can do it later today).

[2021-09-17 17:09] mloning commented on #1426
I can't reproduce the error on my machine (macOS). Not sure what might be causing it. @IlyasMoutawwakil could you try if the original BATS package works for you?

[2021-09-17 17:13] Aparna-Sakshi commented on #1427
Ok, sure I'll do that right now.

[2021-09-17 18:09] fkiraly opened #1430 "[DOC] estimator overview should be linked directly from landing page"
Our really nice [estimator overview](https://www.sktime.org/en/latest/estimator_overview.html) should be linked directly from the landing page - optimally, in the first table.

[2021-09-17 18:09] aiwalter commented on #1426
I also cant reproduce it. I am on Windows.

[2021-09-17 18:10] aiwalter commented on #1374
closed by #1378

[2021-09-17 18:10] #1374 closed

[2021-09-18 13:43] ngupta23 commented on #1105
@mloning @fkiraly @aiwalter Do we need to discuss this further? Any help in closing this would be appreciated as we need this functionality for `pycaret` development as well.

[2021-09-18 15:46] RNKuhns opened #1432 "[ENH] Add AutoARDL forecaster that interfaces Statsmodels auto-regressive distributed lag (ARDL) model"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Autoregressive distributed lag models (ARDL) are a common time series model. and included in StatsModels We currently interface Statsmodel `AutoReg` which allows for coincident (X_t) exogenous data to be included. However, in many cases there could be a lag structure related

[2021-09-18 15:47] RNKuhns commented on #1432
@afzal442 is this something you'd be interested in adding? I know you just worked on `AutoReg` and this is quite similar. Otherwise, I can add this to my backlog of things to work on.

[2021-09-18 16:34] RNKuhns opened #1433 "[DOC] Remove license info from module docstrings"
#### Describe the issue linked to the documentation

There has been cases popping up where module docstrings are including our licensing information.

Licensing should not be in docstrings (See [numpydoc module docstrings](https://numpydoc.readthedocs.io/en/latest/format.html#documenting-modules). It should be in a comment line.

#### Suggest a potential alternative/fix

Solution is manually going

[2021-09-18 16:39] RNKuhns commented on #798
@satya-pattnaik and @mloning this was completed, right?

[2021-09-18 16:40] RNKuhns commented on #363
@mloning I think we can consider this closed based on updated documentation having a glossary.

[2021-09-18 16:40] #363 closed

[2021-09-18 16:45] RNKuhns opened #1434 "[DOC] Add documentation on datatypes, conversions and checking to developer guide"
#### Describe the issue linked to the documentation

Our developer guide does not currently include any information on our basic datatypes, how to check for the input datatype, how to convert between acceptable datatypes, etc.

This makes it hard to extend sktime in cases where this functionality is needed.

#### Suggest a potential alternative/fix

We should prioritize adding this documentation t

[2021-09-18 16:46] RNKuhns commented on #1434
@fkiraly I'm up for helping make this happen (I think it is helpful for others and it will make the things I want to work on go much smoother), but we probably need to talk through how all that works before I can go ahead with it.

[2021-09-18 18:26] afzal442 commented on #1432
Absolutely fine. 🛩️ , I will take a look here for sure once I come up with presumptions that hold some water. 👍🏻

[2021-09-18 20:06] fkiraly commented on #1105
@ngupta23, I think the end state is not clear enough, e.g., what the design would be. See discussion above.

* you say `fit` would be called twice if we want to compute residuals using the current interface. I don't see this, please explain.
* among the different options, we haven't settled on one.
* it's also not clear who would implement this.

[2021-09-18 20:12] fkiraly commented on #1434
There actually is such documentation, as part of the data types tutorial, here:
https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb

I think it can be adapted from there, or - as a fallback option - the full notebook can be embedded in the documentation.

[2021-09-19 01:19] manujosephv opened #1435 "[BUG] ForecastingHorizon does not work for periods of N time units, N>1, e.g., 30min `PeriodIndex`"
**Describe the bug**
Although the example in the documentation works, AutoETS and ExponentialSmoothing errors out when we use a sub-daily frequency of data

Error Message:
[code]
**To Reproduce**

[code]

**Expected behavior**

Forecast for the future without an error

**Additional context**

**Versions**
<details>

System:
    python: 3.7.12 (default, Sep 10 2021, 00:21:48)  [GCC 7.5.0]
executabl

[2021-09-19 14:52] mloning commented on #1435
Thanks for the bug report @manujosephv!

The error happens in the `to_absolute_int` method of the `ForecastingHorizon` object when called inside `_predict` of the forecaster.

The issue is that even though we subtract a period from a period index, with both having the same frequency, we do not get the difference as the number of periods, but as minutes. The returned object is an index consisting o

[2021-09-19 22:36] fkiraly commented on #1020
I think this has been addressed in the various pieces of refactor, @Lovkush-A?

[2021-09-19 22:36] #1020 closed

[2021-09-20 07:05] ronnie-llamado commented on #1433
I'd like to take on this issue.

[2021-09-20 08:10] FutureTribute opened #1438 "[DOC] Broken links on 'Estimator Overview' page"
#### Describe the issue linked to the documentation

There was a new doc page added in recent update called 'Estimator Overview'.
`https://www.sktime.org/en/latest/estimator_overview.html`
![image](https://user-images.githubusercontent.com/25502260/133971754-d492f54a-9a80-4ee9-a59a-598b985860fe.png)

While it is very useful, there's an issue with it: all links to pages of estimators are broken.
Pr

[2021-09-20 08:21] IlyasMoutawwakil commented on #859
@fkiraly
okay so I made a piece of code to make it work for the case when given eleme nts of Forcast Horizon that can't be predicted while also raising an error if ever asked to forecast for something before the train data. However there's a small problem with intervals and idk if it's intended. When `return_pred_int` is false, `_predict_in_sample` returns a pd.Series but when it's True, it return

[2021-09-20 09:24] satya-pattnaik commented on #798
Yes @RNKuhns .

[2021-09-20 14:56] iamzeynepcetin opened #1439 "[ENH] Multivariate forecasting/timeseries regression"
I need to work with multivariate version for regression models. Is that possible, because I couldnt find any example, if you know could you share the links? Thanks

[2021-09-20 14:59] ozkanuysal opened #5821 "[ENH] multivariate time series regression with `sktime `"
Hi everyone ı have a question for sktime multivariate problem.We try to solve multivariate regression predict but we can't use sktime.In the other hand we can predict,  Univariate time series classification with sktime,  we know we can use multivariate with classification but we try to use in Regression problem how we can do it is there anyone know ?

[2021-09-20 15:01] ozkanuysal opened #1440 "Can't use multivariate time series REGRESSİON with sktime"
Hi everyone ı have a question for sktime multivariate problem.We try to solve multivariate regression predict but we can't use sktime.In the other hand we can predict, Univariate time series classification with sktime, we know we can use multivariate with classification but we try to use in Regression problem how we can do it is there anyone know ?

[2021-09-20 18:57] fkiraly commented on #1438
ouch, this must have broken with the doc migration?

Also, didn't we use to have a version where you could search for tags? See #997?

FYI @afzal442 (for the automation part) and @mloning (for the documentation migration).

[2021-09-20 19:08] fkiraly commented on #1440
v.0.8.0 added multivariate support for foreasting.
The time series regression module (which you are looking for?) is still experimental and doesn't support multivariate afaik.

Is this correct, @tonybagnall?

[2021-09-21 06:23] afzal442 commented on #1438
Ah, I see! thanks @FutureTribute @fkiraly ! I think this is discovered due to the latest changes pulled down.

Yes, you are r8, @FutureTribute would like to raise a PR for this? let me know if you are interested;

Here you can find the following link to the codebase to get through;
https://github.com/alan-turing-institute/sktime/blob/5a2c1e133b677166a4b3063fd08669c2fc65238f/docs/source/conf.py#L35

[2021-09-21 09:30] FutureTribute commented on #1438
Yes, I would like to. After all, it sounds like a good "good first issue".

[2021-09-21 09:35] FutureTribute commented on #1438
But as much as I would like to submit PR, I'm not sure about it. After looking at `_make_estimator_overview` it seems like all there's need to be done is to change the line you mentioned to `'<a href="https://www.sktime.org/en/latest/api_reference'` but after trying to build docs on my device I have encountered a lot of errors and my 'Estimator Overview" page is broken. My guess would be is that i

[2021-09-21 09:42] fkiraly commented on #1438
hm, if it's really just a single line, you could give it a try, @futuretribute?

Can you build the docs without the change to it?

We can also look at your developer set-up separately to this if you are considering future contributions, e.g., in one of the community collaboration sessions.

[2021-09-21 10:07] FutureTribute commented on #1438
Thanks for the reply. Unfortunately, it wasn't about lacking dependencies. And as much as I would like to be a contributor, I don't have much time in my hands these days so I give up on the PR. But still want to see bug fixed because 'Estimator Overview' page is very convenient.

[2021-09-21 13:23] IlyasMoutawwakil commented on #1426
It's coming from [multiprocessing on Windows](https://docs.python.org/2/library/multiprocessing.html#windows) since it doesn't have the `os.fork` . The way around it is to launch training in the context `if __name__ == '__main__':` .
Anyways, thank you guys I'll close this issue.

[2021-09-21 13:23] #1426 closed

[2021-09-21 13:26] fkiraly commented on #1438
alright - @afzal442, it sounded like the error has been identified though, so perhaps it's an easy fix from your background?
(personally, I don't quite know what I would do)

[2021-09-21 13:28] fkiraly commented on #1426
might be a good idea to curate a "known issues" list with links to upstream packages?

[2021-09-21 13:53] IlyasMoutawwakil opened #1441 "[BUG] forecasting in sample and out of sample with prediction intervals in ARIMA/AutoARIMA"
There's a small problem with ARIMA/AutoARIMA when forecasting in sample and out of sample with prediction intervals. In the _pmdarima adapter, when `return_pred_int` is False, `_predict_in_sample` returns a pd.Series but when it's True, it returns a tuple (pd.Series, pd.DataFrame) which raises the append error.

[code]

To return predictions with prediction intervals

Traceback :
[code]

<details>

[2021-09-21 17:45] afzal442 commented on #1438
Thanks @FutureTribute for your investigation; feel free to connect with us; stay tuned! 🚀

yes @fkiraly, it is. but I also discovered the some issue while building docs with `make docs` command; so generally it can be fixed in that way I described above but one needs to be sure if it works locally. thanks.

cc: @mloning

[2021-09-22 06:59] aiwalter commented on #1268
closed by my PR #1347

[2021-09-22 06:59] #1268 closed

[2021-09-22 10:58] aiwalter opened #1443 "[ENH] Adding a Featureizer as _SeriesToSeriesTransformer"
**Is your feature request related to a problem? Please describe.**
When doing feature engineering, we want to calculate new features by means of any transformer and add them to existing ones. For this there is a need for a new transformer composition called `Featurizer` which gets any `_SeriesToSeriesTransformer` and appends the transformed data as new columns instead of overwriting the input data

[2021-09-22 15:59] mloning commented on #1438
@afzal442 if you push your changes we can see if the ReadTheDocs build succeeds. Please ping me in the PR to review.

[2021-09-23 10:47] gepitis commented on #1147
Hi, thanks for the list of first issues! Where can I send my feedback on the tutorials?

[2021-09-23 11:57] aiwalter commented on #1147
Hi @gepitis ,
you could open a new issue with ideas of improvement that you have in mind

[2021-09-23 15:22] eldritchhh opened #1446 "[DOC] Add multivariate forecasting examples to forecasting tutorial"
Update by @fkiraly: examples for multivariate forecasting should be added to the forecasting notebook.

---
There are any multivariate forecasting example?

[2021-09-23 17:26] fkiraly commented on #1446
No, currently not - good point! This should be added.

I think it's a good first issue?

[2021-09-23 17:40] mloning commented on #1441
Thanks for raising the issue @IlyasMoutawwakil - we're currently working on refactoring the interface for probabilistic forecasting interval x(see #1421). Help would be much appreciated for fixing the individual forecasters once #1421 is merged.

[2021-09-23 17:41] mloning commented on #1439
Hi @iamzeynepcetin, could you add a bit more detail to your question. Are you trying to forecast multiple series at the same time?

[2021-09-23 21:45] #798 closed

[2021-09-23 21:47] mloning commented on #798
Closed by #1021

[2021-09-23 22:44] ltsaprounis commented on #1387
@mathco-wf - are you still keen to fix this?
If yes you can start with a draft PR.

[2021-09-24 06:41] O2Redshift commented on #1387
@mloning, I'm sorry for the late reply. The [fable version in R](https://github.com/tidyverts/fable/blob/7868ca73aea2b6bec8c9e15ad3ef84566151c3f1/R/ets.R#L34-L47) seems to check for this error as well so I think the second approach makes sense.

[2021-09-24 06:45] HYang1996 commented on #1387
@mloning, I'm sorry for the late reply. The [fable version in R](https://github.com/tidyverts/fable/blob/7868ca73aea2b6bec8c9e15ad3ef84566151c3f1/R/ets.R#L34-L47) seems to check for this error as well so I think the second approach makes sense.