[2021-09-24 06:53] fkiraly opened #1447 "[DOC] Feedback thread on tutorial notebooks"
This issue is for collecting feedback on the tutorial notebooks.

Any feedback is highly appreciated, positive or critical; can be high-level (e.g., too long where, helpful why, confusing how), or concrete, e.g., content that should be added, changed, removed, shortened, structured differently, etc.

[2021-09-24 06:54] fkiraly commented on #1147
I just opened an issue here
https://github.com/alan-turing-institute/sktime/issues/1447
thanks for any feedback!

[2021-09-24 07:03] fkiraly commented on #1367
@flix6x, can you remind us - does #1130 close this issue?

[2021-09-24 07:06] fkiraly commented on #1447
from #1446, we ought to include sections on tags and estimator lookup in all tutorials;
we ought to include a section on multivariate forecasting in the forecasting tutorial

[2021-09-24 07:24] fkiraly opened #1448 "[DOC] clean developer set-up instructions and installation instructions - the two current sets of installations instructions are confusing"
I've now seen multiple instances how the two sets of installation instructions create confusion:

* the short instructions in https://www.sktime.org/en/latest/get_involved/contributing.html
* the detail instructions in https://www.sktime.org/en/latest/installation.html

I think this needs to be resolved, e.g., that following the short instructions likely results in problems since build requirement

[2021-09-24 07:29] Flix6x commented on #1367
Sure. No, it doesn't. This issue is about the "drift" strategy specifically, which that PR didn't touch.

[2021-09-24 08:29] mloning commented on #1448
Yes, I agree, the contributing page should give an overview and point to other more specific resources. The developer setup page should go under the Development rubric on the website.

[2021-09-24 10:25] mloning commented on #1387
Thanks @HYang1996! So I suggest we implement that check in our version too and add a short note to the docstring.

[2021-09-24 10:29] #1433 closed

[2021-09-24 10:58] #1438 closed

[2021-09-24 13:45] #1267 closed

[2021-09-24 20:00] fkiraly opened #1451 "[DOC] requirements/contracts given by tags should be explicit in docstrings"
Tags of a foreceaster may carry extra information regarding restrictions of inputs to class methods, such as `scitype:y` which tells the user whether univariate or multivariate input is allowed.
Currently, this is not captured in the docstrings of user facing class methods.

These tag based information should be explicit in class docstrings, e.g., telling the user which restrictions apply, dependi

[2021-09-24 22:28] bobbys-dev opened #1452 "[BUG] sktime.datatypes._panel._examples raises pandas.core.common.SettingWithCopyError"
**Describe the bug**
Attempting to install [tsai](https://pypi.org/project/tsai/) as an upstream package also installs this package, but the install raises an error that traces to line 67 in "/opt/conda/lib/python3.8/site-packages/sktime/datatypes/_panel/_examples.py"
[code]

**To Reproduce**
Importing any code that executes the code starting at line 67 of /sktime/datatypes/_panel/_examples.py can

[2021-09-25 09:50] fkiraly commented on #1452
Thanks for reporting!

I'm trying to reproduce the bug with your specified python and pandas version but can't - the lines seem to run fine, and installation as well.

Would you kindly be able to post your full error message/traceback?

[2021-09-25 09:52] fkiraly commented on #1452
Further, if you get the error, it seems plausible that - before installing `sktime` - the following might be a minimally reproducible example of the root cause:

[code]

Could you kindly check whether these three lines run or not, in your environment *before* installing `sktime`?
If not, what is the error message/traceback?

[2021-09-25 14:42] fkiraly commented on #1105
@ngupta23, @AngelPone, we could add the functionality with our extension of the `predict` interface, see here?
https://github.com/alan-turing-institute/sktime/pull/1421

[2021-09-25 19:36] fstinner opened #1458 "[ENH] Imputer for multivariate timeseries"
**Is your feature request related to a problem? Please describe.**

Imputer Transformation (sktime.transformations.series.impute.Imputer) works only with univariate time series. So that one does not have to manipulate the data laboriously before, a multivariate version of Imputer would help. sktime.transformations.series.compose -> ColumnwiseTransformer could work with the Imputer. Is it planned t

[2021-09-25 20:24] fkiraly commented on #1115
STEP is here https://github.com/sktime/enhancement-proposals/blob/main/steps/11_transformer_refactor/step.md

and draft refactor #1365

[2021-09-25 20:26] fkiraly commented on #1458
Yes, this would be nice - we've recently done a similar change to `NaiveForecaster` (see #1401).
We're also thinking about giving all transformers a generic upgrade so they can be applied to all number of variables and instances, see #1365 and the new design in STEP 11 https://github.com/sktime/enhancement-proposals/blob/main/steps/11_transformer_refactor/step.md

This does not include "apply univ

[2021-09-26 01:35] ngupta23 commented on #1105
@fkiraly, @mloning   Sorry for the delayed response. I think there are a few requirements that I think came from this discussion:

1. residuals should be stored in the model object. Reason: It helps when we are building multiple models for the same data set and want to compare the results at the end. Without this, the onus will be on the downstream users of `sktime` to keep track of this separatel

[2021-09-26 08:36] fkiraly commented on #1105
@ngupta23, I don't think it's a good idea to:

* make changes to the core interface
* add the "store residuals" concern to `fit`, because `fit` doesn't compute any predictions (which are needed for residuals)

I also think you should clearly verbalize your requirements before presenting a solution.
"residuals should be stored in the model object" is not a requirement - for one, the residuals being

[2021-09-26 10:20] oguiza commented on #1452
Hi,

I'm one of core developers of tsai. I've noticed this issue, and have digged into it. I've temporarily fixed the issue in `tsai`.
Here's what I found:

- the issue doesn't occur with pandas 1.1. It occurs with pandas 1.3.
- this code works well:

[code]

    So this operation is allowed by pandas.

- However, in tsai  fastai was imported before sktime. fastai applies a patch to pandas that ca

[2021-09-26 10:51] fkiraly commented on #1452
Well, that explains why we couldn't reproduce the bug.

Personally, I'd still be happy to apply the fix if it prevents the error for anyone also using `fastai`, @bobbys-dev, since all that matters is the identity of the object created in the example, and not how.

PS: I think it's really really a bad idea to apply patches to a cornerstone package like `pandas` in a downstream package (and not in `

[2021-09-26 10:54] fkiraly commented on #1452
closing the issue since it's not a bug.

@bobbys-dev, would still appreciate the PR if you can resolve the merge issues.

@oguiza, the code you just pasted is quite painful to look at ... probably you want to try resolve this upstream issue in `fastai` 😄

[2021-09-26 10:54] #1452 closed

[2021-09-26 16:06] aiwalter commented on #1458
@fstinner the `Imputer` is already multivariate, the only thing missing is a multivariate `PolynomialTrendForecaster()` for `method="drift"`. I am going to add this quickly by means of a `ColumnEnsembleForecaster`

[2021-09-26 16:36] aiwalter commented on #1458
sry I was wrong, it was already fully multivariate. Just missing the tag `"univariate-only": False` to run also multivariate tests. Its in my PR.

[2021-09-26 17:01] ngupta23 commented on #1105
@fkiraly

The title of the issue is referring to in-sample forecasts and residuals so I thought that was implicit. But maybe not. So yes, to clarify, I was indeed referring to in-sample residuals.

The reason why I said it would be calling `fit` twice was in particular reference to this comment ([Link](https://github.com/alan-turing-institute/sktime/issues/1105#issuecomment-898961433)). Usually, o

[2021-09-26 19:53] fkiraly commented on #1105
Ok, we're getting closer to the problem here.
I think you are mistaken about how `scikit-learn` like object oriented interfaces work, and that misunderstanding causes some incorrect reasoning down the line about what new interfaces we should add.

More precisely: your code

[code]

is incorrect, that's not how you would use the `Detrender`! Have a look at the forecasting tutorial.

The complete co

[2021-09-26 20:02] bobbys-dev commented on #1452
Thank you @fkiraly and @oguiza for the insight. I have the related PR for your development team.

[2021-09-27 05:22] fstinner commented on #1458
The new version (v.0.8.0) solves the problems I had with the Imputer (v.0.7.0). Works like a charm. Thanks for the help. @aiwalter

[2021-09-27 16:04] IlyasMoutawwakil opened #1462 "[DOC] Ambiguity regarding exog data documentation"
The ForecastGorizon interface allows seperated steps forecasting (like `fh=[-10, -5, 3]`) but the forecaster (like pmdarima) is performing in this case a forecast from -10 to 3. The documentation says:

[code]
But it doesn't explain that X should have all exogenous values from relative step -10 to 3 (because that's what pmdarima is expecting).

[2021-09-27 16:28] fkiraly commented on #1462
Yes, I agree it's an interesting issue - my original answer from #1442 (where this discussion cropped up off-topic):

@IlyasMoutawwakil, that's an interesting point - there's actually two related things here:

* telling the user about the requirement to pass all indices between start/end
* representing the requirement.
* whether we can get around the behaviour

For the first thing, we are using ta

[2021-09-27 16:30] fkiraly commented on #1462
PS: I have no better idea than another tag such as `"X-must-have-all-periodic-indices-until-most-recent-y-index"` or similar (perhaps less verbose), document it, and include it in the forecaster docstrings too (since it implies an assumption on the inputs for forecasters that have this)

[2021-09-28 09:34] TonyBagnall commented on #1060
@MatthewMiddlehurst is looking at STC

[2021-10-01 00:58] mingu6 opened #1466 "[BUG] Automatic downloader for sktime.datasets.load_UCR_UEA_dataset does not work for custom extract_path"
Even given a custom extract_path, UCR_UEA datasets are downloaded to the default sktime package directory. The bug is easily fixed by adding the custom extract_path to the _download_and_extract function call.

Line 175 in sktime/sktime/datasets/_data_io.py in function load_UCR_UEA_dataset:

[code]

should be instead

[code]

Expected behaviour:

Dataset gets downloaded to the correct path after bu

[2021-10-01 07:44] yairbeer commented on #1466
Hi, can I do it as a first contribution?

[2021-10-01 12:32] fkiraly commented on #1466
yes, looks like a straightforward fix!
Appreciate a PR, @yairbeer!

@TonyBagnall, FYI

[2021-10-01 13:14] mloning commented on #1105
I see your point @ngupta23.

As we've discussed above, the main problem I see is that storing residuals in the model requires us to ensure that the state of the residuals attribute is consistent with the state of other model attributes (input data, etc). To me, this would add some complexity at this stage which I'd like to avoid.

So I'm in favour of adding a `compute_residuals` method for in-samp

[2021-10-01 13:22] boukepostma opened #1468 "[ENH] Implement `get_fitted_params` for pipelines and heterogeneous ensembles"
**Is your feature request related to a problem? Please describe.**
After a BaseForecaster is fitted using model.fit(y_train), we can extract information about the fitted forecaster using forecaster-specific attributes and methods. For example, when AutoARIMA from sktime.forecasting.arima is fitted, we can generate a summary using the summary() method.
When the same forecaster is used as part of a

[2021-10-01 14:15] boukepostma opened #1469 "[BUG] ValueError when fitting Prophet and X.index.name=='ds'"
**Describe the bug**
The following error is raised when trying to fit Prophet using X where the name of X's DateTimeIndex is named "ds":
ValueError: 'ds' is both an index level and a column label, which is ambiguous.

It happens in the _merge_X method in the _ProphetAdapter, line 193, because after running line 191, X contains a column and an index called "ds".

A suggested solution would be to ad

[2021-10-01 19:22] #859 closed

[2021-10-01 19:22] fkiraly commented on #1441
fixed by #1442.

[2021-10-01 19:22] #1441 closed

[2021-10-01 19:36] fkiraly commented on #1469
@boukepostma, thank you for bringing this to our attention, FYI @mloning, @aiwalter.

A complication is that we are potentially looking towards extensions that allow multi-index rows (FYI @ltsaprounis, @satya-pattnaik).

How about the following alternative suggestion: if an index name is passed with a `pd.DataFrame` or a `pd.Series`, we always strip it off before it reaches anything.

That would r

[2021-10-01 19:37] fkiraly commented on #1469
Short question @boukepostma, you say:

Do you know why this is the convention in prophet?
E.g., do you understand what is the benefit to this?

[2021-10-01 19:42] fkiraly commented on #1468
You're welcome, much appreciated! 😄

@aiwalter, can you have a look at this, since it concerns your components?
I thought we already had sth like this?

[2021-10-01 20:11] RNKuhns opened #1476 "[ENH] Add wrappers around scikit-learn explained_variance_score and r2_score metrics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

`sktime` currently has a variety of forecasting error metrics (where a lower value is better). Adding support for common "score" metrics (where a higher value is better) would be nice to round out our forecasting performance metrics.

**Describe the solution you'd like**
We c

[2021-10-01 20:27] RNKuhns commented on #935
This was clsoed when #945 was merged.

[2021-10-01 20:27] #935 closed

[2021-10-01 21:49] deepto98 commented on #1476
@RNKuhns Hi, I'd like to work on this issue, can you please assign this to me?

[2021-10-02 17:01] fkiraly opened #1478 "[BUG] dependency bug in tsfresh causing tests to fail"
Suggested fix:

- [x] set an upper bound on the last `statsmodels` version that still worked in `setup.py`, see #1478
- [x] same for the binder/build requirements
- [ ] wait for `tsfresh` to resolve the issue
- [ ] remove the version bound on `statsmodels` and test whether things run again

---

The CI tests are breaking, due to a `tsfresh` import now fails, which is required for `TSfreshClassifie

[2021-10-02 17:03] fkiraly commented on #1478
if correct, it may require us to update our dependency version requirements

[2021-10-02 17:10] aiwalter commented on #1478
yes I have seen this as well, yesterday there was a `statsmodels` release, I guess we have to exclude this until `tshfresh` has fixed this? probably we should report this issue to `tsfresh`?

[2021-10-02 17:10] fkiraly commented on #1478
what do you mean, thumbs up, @aiwalter - have you confirmed the reason?

[2021-10-02 17:24] fkiraly opened #1480 "[ENH] should we adopt defensive upper version bounds?"
The `statsmodels` breakage has again shown us that under the current model, `sktime` is vulnerable to interface changes in other packages at version zero.

Should we perhaps adopt a more defensive stance?

More precisely:

* upper version bounds for *all* dependencies
* at each release, we bump the upper bound to the current versions, or the highest versions that don't cause breakage
* if at a rel

[2021-10-02 17:25] aiwalter commented on #1478
are you going to report this issue to `tsfresh`? Otherwise, I can also open an issue there

[2021-10-02 17:25] yairbeer commented on #1478
Last version to have unbias is 0.11.1 https://www.statsmodels.org/v0.11.1/generated/statsmodels.tsa.stattools.acf.html

[2021-10-02 17:27] fkiraly commented on #1478
my diagnosis seems incorrect then!

Thanks for looking into this, @yairbeer - I am at a loss then what is happening, since we had a minimum `statsmodels` of 0.12.1 already?

[2021-10-02 17:28] fkiraly commented on #1478
... what's going on here?

[2021-10-02 17:32] fkiraly commented on #1478
is the culprit `tsfresh` then, e.g., have they activated or added some bad code?

Or is sth happening in the reconciliation of package bounds for us?

[2021-10-02 17:34] aiwalter commented on #1478
no, but they have `statsmodels>=0.9.0` and probably didnt notice a deprecation notice from `statsmodels`.

[2021-10-02 17:36] aiwalter commented on #1478
so, yes the issue is `tsfresh` but we have to resolve it by excluding recent `statsnodels` version for now

[2021-10-02 17:38] fkiraly commented on #1478
that wouldn't work, because @yairbeer has localized the `statsmodels` interface change to between 0.11 and 0.12.
But we were using a lower bound of 0.12.1 already on `statsmodels`, and yesterday's update was to 0.13.

So an upper bound of 0.11.1 would conflict with our current lower bound of 0.12.1.

[2021-10-02 17:39] aiwalter commented on #1478
but before yesterday release its was fine, so excluding this should be the solution

[2021-10-02 17:39] fkiraly commented on #1478
#1481 just removes the failing tests - it won't fix the `tsfresh` related estimators from failing.

[2021-10-02 17:40] fkiraly commented on #1478
That's what I thought, but why does #1479 fail then?

[2021-10-02 17:42] fkiraly commented on #1478
forgot to update the build requirements, notebook installed 0.13.0, let's try again

[2021-10-02 18:04] fkiraly opened #1482 "[MNT] reduce redundancy in package dependency configurations"
We currently have multiple places in which package dependencies are specified and need to be updated:

* `setup.py`
* `.appveyor.yml`
* `build_tools/requirements.txt`
* `build_tools/hard_dependencies.txt`
* `.binder/prelim_requirements.txt`
* `.binder/requirements.txt`

surely there must be a better way to replicate one and the same set of package requirements?

Related: #1281, notebook tests usin

[2021-10-02 18:04] fkiraly commented on #1482
FYI, @aiwalter, @freddyaboulton, @mloning

[2021-10-02 18:05] fkiraly commented on #1478
ok, work hypothesis is that it was indeed the `statsmodels` upgrade to 0.13.0 that broke things - perhaps there was a silent lapse of deprecation which left it for longer in the code than there was in the docs.

[2021-10-02 19:29] RNKuhns commented on #1476
@deepto98 consider it yours to work on. Let me know when you've got a PR for me to look at. And feel free to ask me any questions.

[2021-10-02 20:25] fkiraly opened #1484 "[MNT] relax statsmodels upper version bound once tsfresh issue is resolved"
We've temporarily solved #1478 by keeping `statsmodels` at 0.12.1, but that can't be a permanent solution.

This is a reminder that the solution to that is an outstanding issue.

[2021-10-02 20:29] fkiraly commented on #1478
that seems to have been the cause, since downgrade to 0.12.1 resolved the problem.

[2021-10-03 09:43] #1466 closed

[2021-10-03 09:43] #1458 closed

[2021-10-03 10:00] fkiraly commented on #1478
Yes, I just wanted to do it after we've verified the source (so it's no longer a working hypothesis) but it looks like @wjsi was 3 minutes faster.

[2021-10-03 12:38] fkiraly commented on #1422
@RNKuhns?

[2021-10-03 13:41] ngupta23 commented on #1105
Hi @mloning I went back and looked at `sklearn` and they also do not store the residuals in the model object so I am ok with your recommendation of providing the method to compute this as an alternate. I have temporarily added this to `pycaret` [[Link](https://github.com/pycaret/pycaret/blob/e37dc52425ebef089c77d5b8a8fe4d3be242f940/pycaret/internal/pycaret_experiment/time_series_experiment.py#L349

[2021-10-03 14:22] fkiraly commented on #1105
I don't get why this seems like a problem - the detrender is a transformer, not a forecaster.

And that's why it is a concern that sits with the evaluation machinery, not primarily with the forecaster.
The design principle here is "separation of concerns" or "decoupling".
You wouldn't want to attach everything that you can potentially do with results of a forecaster, to the forecaster - or the res

[2021-10-03 16:39] yairbeer commented on #220
Can I take gluon-ts interface?

[2021-10-03 16:53] fkiraly commented on #220
@yairbeer, yes, that would be nice!

[2021-10-03 18:30] ngupta23 commented on #1105
Hi @fkiraly , Understood your concerns. I am OK not saving the residuals in the forecaster and I think there is a way forward here. I have added the code from @mloning to `pycaret` for now. If a forecaster method to compute residuals (returned not stored) can be provded, we will use that, else we will continue using the code in `pycaret` as it stands now.

Thanks!

[2021-10-03 20:31] boukepostma commented on #1469
Thank you for looking into this bug!

One of prophet's lead developers says the following about their column naming convention:

https://github.com/facebook/prophet/issues/1737

[2021-10-03 21:16] fkiraly commented on #1469
oh, they have the index as a data frame column? That seems like a very odd design decision, why not use the data frame index which is made just for that?

Anyway, I've also thought about that, and how about instead just removing the index (by `del` or assigning `None`)?
Otherwise you might get problems if there is another column named `index`?

Would you like to make a PR with the fix?

[2021-10-04 23:55] asksteph opened #1486 "[ENH] implement get_fitted_params for make_reduction forecaster"
This is a feature request with a good idea inside: the reduction strategies called by `make_reduction` should provide access to internal models via the `get_fitted_params` method.

Direct loopthrough does not work though, since `scikit-learn` does not provide a `get_fitted_params` method - however, the fitted estimators could be returned simply.

---

I want to output the regression coefficients f

[2021-10-05 06:04] boukepostma commented on #1469
Sure! I hope to have time later this week.

[2021-10-05 15:18] fkiraly commented on #1486
more of a feature request than a bug - but I agree it´s a good idea!

[2021-10-05 16:48] asksteph commented on #1486
Does that mean it may be a while before this will be on the roadmap? Is there a workaround solution for now?
Thank you,
Stephanie

[2021-10-05 18:26] fkiraly commented on #1486
I've turned it into a "good first issue", so a member of the community might pick this up and implement it.

Regarding your request: there is, in general, not a single set of coefficients in a reduction forecaster. Even if you are using linear regression inside, the reduced method may end up with multiple trained models inside. You would have to manually implement the `get_fitted_params` for each

[2021-10-07 07:20] boukepostma commented on #1468
What you're proposing, @fkiraly, may be one step more advanced than my proposal. If I understand well, you would like the get_fitted_params interface to return a predefined subset of information from the fitted Estimator that the end user likely wants to obtain. E.g. the .coef_ of an ARIMA model.

I meant to propose to make the full fitted Estimator accessible, without the need to define per Estim

[2021-10-07 07:29] boukepostma commented on #1468
As you mention in #1486, the coefficients of a reduced regressor can be obtained by forecaster.estimator_.coef_ or forecaster.estimators_[0].coef_

This is no longer the case when using a Transformedtargetforecaster or GridSearchCV

[2021-10-07 11:55] boukepostma commented on #1469
I suggested a fix in PR #1493 :)

[2021-10-07 19:06] loc-trinh opened #5819 "Should there be support for variable-length time-series?"
**Is your feature request related to a problem? Please describe.**
There are many datasets where time-series are variable length. I'm not 100% sure this is currently supported by the package and is on the development plan.

**Describe the solution you'd like**
For methods that support variable-length sequences, maybe `.fit()` and `.score()` can accommodate a mask parameter. I'm thinking of `dynami

[2021-10-07 22:06] fkiraly commented on #1422
and, we should probably add a test. Might be a good thing to add to `estimator_checks`.

[2021-10-07 22:08] fkiraly opened #1495 "[ENH] add test that checks correct hyper-parameter handling in __init__"
`__init__` parameters of any class inheriting from `BaseObject` must be written to attributes of the same name in `__init__`, otherwise the class is no longer `sklearn` compatible, and `__repr__` or `__str__` will break, see #1422.

A test for this should be added to `estimator_checks`.

[2021-10-07 22:23] fkiraly opened #1496 "[ENH] implement get_fitted_params for tuning forecasters"
Tuning forecasters like `ForecastingGridSearchCV` should implement a `get_fitted_params` method.
Note that here, by applying a tuning method, the hyperparameters that are tuned become "normal" (fitted) parameters.

The `get_fitted_params` of tuning should return two things in its dictionary:

* the hyper-parameters that are tuned, with their tuned values
* either: the "best estimator" in its fitte

[2021-10-07 22:27] fkiraly commented on #1468
Ok, so you have a workaround for this, @boukepostma - should have mentioned that you can just dig into the estimator and get it out - that always works if you know what the attribute is called.

But, this is also a case where `get_fitted_params` would be useful, so changing the title to that.

There is perhaps also a documentation issue here, @aiwalter?

[2021-10-07 22:29] fkiraly opened #1497 "[ENH] `get_fitted_params` umbrella issue"
Collecting some issues related to implementing meaningful `get_fitted_params` methods.

General framework:

- [x] nested interface like `get_params` #971

Individual estimators:

- [x] (Auto)ARIMA #962

For composite forecasters:

- [x] tuning forecasters #1496
- [x] reduction forecasters #1486
- [x] forecasting pipelines #1468

FYI @boukepostma, @asksteph, @aiwalter

Sounds like an interesting pr

[2021-10-08 00:09] GitHunter0 commented on #929
Thanks @fkiraly , it is great to know!

[2021-10-08 11:16] fkiraly commented on #1440
Due to the "heart" emoji, I think this question is now answered?
For multivariate *forecasting*, use the `registry.all_estimators` lookup to list estimators with the `scitype:y` tag being `"both"` or `"multivariate"`.

[2021-10-08 11:16] #1440 closed

[2021-10-08 11:30] fkiraly opened #1500 "[DOC] remove copy/pasted extension templates from docs and instead link to the actual templates"
There should be a single source of truth for extension templates, and the presentation should not require the user to copy-paste.

So,the developer page on extension templates
https://www.sktime.org/en/stable/developer_guide/add_estimators.html

should link to the actual extension templates (stable or last release), instead of reproducing them in the documentation.

[2021-10-08 14:58] fkiraly commented on #1405
This is now fixed via https://github.com/alan-turing-institute/sktime/pull/1409, thanks @xiaobenbenecho!

FYI @asksteph

[2021-10-08 19:59] asksteph opened #1503 "[BUG] AutoARIMA fit breaks with sktime 0.8.0, sklearn 1.0, pmdarima 1.8.2"
**Describe the bug**

**To Reproduce**

[code]

Error:
[code]

**Expected behavior**

This code works in version 0.7.0 and would return the fitted ARIMA model.

**Additional context**

**Versions**
<details>

System:
    python: 3.8.11 (default, Aug  6 2021, 09:57:55) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\szipk\anaconda3\envs\skt080\python.exe
   machine: Windows-10-10.0.19042-SP0

Pyth

[2021-10-08 20:51] fkiraly commented on #1405
@asksteph, there are two options:

* wait until the next stable release, which is version 0.8.1 or 0.9.0. The fix will be included with that release.
This happens usually in few weeks to month cycles, so sometime mid of Oct to mid Nov probably.
* install the development version, see instructions here:
https://www.sktime.org/en/stable/installation.html
this will include the fix (and all latest chan

[2021-10-08 21:13] asksteph commented on #1503
Downgrading to statsmodels 0.12.1 didn't fix the error for me. @fkiraly Would you post the versions of all the sktime-related libraries?

[2021-10-08 21:39] asksteph commented on #1405
This update didn't fix my error. The section that causes the error is in lines 43-45 for the  _coerce_duration_to_int function of datetime.py.  If I run my sample code, it would still return this following error:

~\anaconda3\envs\py37\lib\site-packages\sktime\utils\datetime.py in _coerce_duration_to_int(duration, freq)
     43         m = re.match(r"(?P<count>\d*)(?P<unit>[a-zA-Z]+)$", freq)

[2021-10-09 00:18] fkiraly commented on #1405
indeed, it does not seem fixed by the PR.

[2021-10-09 00:18] fkiraly commented on #1405
@aiwalter, @xiaobenbenecho, FYI

[2021-10-09 00:23] fkiraly commented on #1405
I haven't fully looked into this function, but should the regular expression maybe be
`re.match(r"(?P<count>\d*)(?P<unit>[a-zA-Z]+)[-[a-zA-Z]*]*$", freq)`

That way, anything behind a single dash would be ignored.

[2021-10-09 09:11] fkiraly commented on #1405
(sorry for the pull-in, @mloning, @xiaobenbenecho, see above - the bug seems to be resolved and I got confused)

[2021-10-09 09:21] fkiraly commented on #1503
@asksteph, but this would mean it's actually a problem of `pmdarima`, since that's where the error is coming from?
(not `statsmodels` as I originally thought)

Would it be possible for you to try isolate the problem to `pmdarima.arima` (using `sklearn` 1.0) and if that's where it's from, post on the `pmdarima` GitHub and link the issue here?

[2021-10-10 23:20] fkiraly opened #1505 "[ENH] continue refactoring tests to `pytest_generate_tests`"
#1407 which has started to refactor tests has been merged now.

This has refactored the `check_estimator` tests, but the scitype specific tests remain as they were.
We should continue refactoring those, and also extend `check_estimator` so it also runs all the tests that are required for a specific scitype.

[2021-10-11 20:21] aaronreidsmith commented on #1503
👋🏻

As a contributor from the `pmdarima` side, hopefully I can speak to the issue. We were utilizing `scikit-learn`'s [`if_delegate_has_method`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.metaestimators.if_delegate_has_method.html). That function has since been [deprecated](https://github.com/scikit-learn/scikit-learn/issues/20506) in favor of [`available_if`](https://scikit-l

[2021-10-11 20:59] fkiraly commented on #1503
Hello @aaronreidsmith! Thanks to you and @asksteph for tracking down the problem!

Based on this, I assume that a new, vanilla installation of `sktime` wouldn't suffer from this bug, since it would install the newest releases respectively?

Further, @aaronreidsmith, I would be interested to hear your opinion on devensive version bounds, see #1480. Is that a good thing, e.g., have upper bounds on e

[2021-10-12 02:58] RNKuhns commented on #1247
@msh855 is this still an issue?

[2021-10-12 19:49] fkiraly commented on #938
Not sure what your problem is @sevstafiev, but it could be related to the newest `scikit-learn` update, see #1503. The solution of that was to install an environment with `pmdarima` version at least 1.8.3.

[2021-10-12 19:53] sevstafiev opened #1512 "TypeError: predict() got an unexpected keyword argument 'X'"
same as https://github.com/alan-turing-institute/sktime/issues/938#issue-916546082

**Describe the bug**

**To Reproduce**
[code]

**Expected behavior**
Getting predicts

**Versions**

System:
    python: 3.6.9 (default, Jan 26 2021, 15:33:00)  [GCC 8.4.0]
executable: /usr/bin/python3.6
   machine: Linux-4.15.0-55-generic-x86_64-with-Ubuntu-18.04-bionic

Python dependencies:
          pip: 21.1.2

[2021-10-14 18:11] TonyBagnall opened #1521 "[DOC] Update _proximity_forest.py docstrings"
update docstring formatting, as identified in https://github.com/alan-turing-institute/sktime/pull/1501

[2021-10-14 20:50] asksteph commented on #1405
Would you please show your list of library versions, where this sample code runs successfully? I've downloaded the latest sktime code from Github, but it still doesn't like the W-WED frequency. I think the fix parses the weekly frequency string and takes the first part "W" but if that is recognized as the frequency, it defaults to W-SUN dates and not the original Wednesday dates (see the last line

[2021-10-14 23:08] MatthewMiddlehurst commented on #1235
Top 10 as of HC2 PR (build macos-10.15, 3.7).

![Capture](https://user-images.githubusercontent.com/25731235/137407258-60863f23-b09a-4970-ab3f-39d02aa23cfb.PNG)

[2021-10-15 11:37] fkiraly opened #1523 "[BUG] `ForecastingHorizon.to_absolute` conversion for `W-XXX` frequencies"
`ForecastingHorizon.to_absolute` can produce the wrong day of the week in `to_absolute` conversions.

This seems to occur only for the `W-XXX` frequency, leading to the error in #1405.

Minimally reproducing code:

[code]

results in `ForecastingHorizon(['2021-10-31', '2021-11-07', '2021-11-14'], dtype='datetime64[ns]', freq='W-SUN', is_relative=False)`.

Expected result is `ForecastingHorizon(['2

[2021-10-15 11:40] fkiraly commented on #1523
FYI @asksteph, @aiwalter, @mloning, @xiaobenbenecho.

[2021-10-15 12:40] asksteph commented on #1405
Thank you for isolating the root cause. Getting relative forecasting horizon to work would be immensely useful.

[2021-10-15 14:48] mloning opened #1524 "[ENH] Make unit tests for API compliance portable"
**Is your feature request related to a problem? Please describe.**
Related issues: #1032 #1505 https://github.com/pytest-dev/pytest/issues/421

**Describe the solution you'd like**
I've sketched out a possible solution here: https://github.com/mloning/minimal-python-project-portable-pytest

Major changes:
* collect estimator tests in classes, one class for the `BaseEstimator` and one for each scit

[2021-10-15 16:15] TonyBagnall commented on #196
hi @mloning Im doing a tidy up, 200+ issues triggers me. Can this be closed?

[2021-10-15 16:22] #259 closed

[2021-10-15 16:28] RNKuhns commented on #1476
@deepto98 I wanted to check-in with you to see how it was going. Let me know if you want to talk about the implementation at all.

[2021-10-15 17:45] RNKuhns opened #1526 "[ENH] Add ability to time estimator methods"
**Is your feature request related to a problem? Please describe.**

Having the ability to measure run-time of different estimator methods would be useful for several reasons, including:

- Making it easy for users to get an estimate of timings in the case that something like fit time is important to them
- Allow users to understand the timings of individual pipeline components (as well as the tota

[2021-10-15 17:59] RNKuhns opened #1528 "[ENH] Add info about input/output features to Base Classes"
**Is your feature request related to a problem? Please describe.**
Scikit-learn now has properties in its estimators that capture the number of input features to an estimator sees in its `fit` method (n_features_in_) and the names of these features (feature_names_in_).

Having this information available makes it easier to inspect estimators (and particularly steps in a pipeline) and get some high-

[2021-10-15 18:31] mloning commented on #1526
Writing a decorator may be a good option here. We may also want to write timings to a dictionary with key beings methods since there will be a number of additional ones (`update`, `transform`, etc.) and perhaps add a `get_timings` method that returns all timings?

I like the simplicity of adding this to the estimator, but I'm not sure if it should be a core concern of an estimator. Is there an eas

[2021-10-15 20:09] #474 closed

[2021-10-15 20:20] #842 closed

[2021-10-16 09:53] TonyBagnall commented on #1390
Yes @fkiraly i think that's a good idea, I'll do it in my base class refactor

[2021-10-16 10:18] TonyBagnall commented on #1063
@MatthewMiddlehurst did you complete this? We should write it up as an arxiv/workshop paper

[2021-10-16 20:08] fkiraly opened #1533 "[ENH] rename `check_is` to `check_is_mtype`"
@mloning suggested to rename `check_is` to `check_is_mtype` to be more descriptive.

It's perhaps best to wait for @chrisholder's PR #1423 first.

[2021-10-16 21:01] #1521 closed, assigned to TonyBagnall

[2021-10-16 21:55] #878 closed

[2021-10-16 22:11] Lovkush-A commented on #1095
@TonyBagnall Hey Tony, Thanks for the nudge! I am no longer working on this nor will I be for foreseeable future.

The main thoughts I had were:
* break up code into more modular functions
* add docstrings for these modular functions to help explain what is happening
* maybe change variable names

I am fine with whatever you want to do with this issue. Can either label it as good first issue, or j

[2021-10-16 22:16] TonyBagnall commented on #1095
hi @Lovkush-A I think its a bit more than a good first issue. I agree a tidy up would be good, but I am trying to keep a lid on the number of stale issues. I'll add it to my classifier dev list though

[2021-10-16 22:16] #1095 closed

[2021-10-16 22:24] TonyBagnall commented on #336
@juanitorduz @mloning I'm doing some housekeeping, can I close this? its over a year old.

[2021-10-16 22:32] aiwalter commented on #612
Closing as we have now `UnobservedComponents` which seems to be similar

[2021-10-16 22:32] #464 closed

[2021-10-16 22:34] fkiraly commented on #961
This should have been closed by #1209.

[2021-10-16 22:35] fkiraly commented on #962
@BINAYKUMAR943, are you still working on this?

[2021-10-16 22:37] #1027 closed

[2021-10-16 22:38] fkiraly commented on #1052
The current tutorial does not contain images that are re-computed, so resolved.

[2021-10-16 22:38] #1052 closed

[2021-10-16 22:47] #367 closed

[2021-10-16 22:48] fkiraly commented on #987
Not adopted

[2021-10-16 22:48] #987 closed

[2021-10-16 22:51] #265 closed

[2021-10-16 22:52] TonyBagnall commented on #257
@mloning can we close this issue now?

[2021-10-16 22:54] TonyBagnall commented on #543
hi, I think this has now been addressed, if there are issues with the current state feel free to open a new one

[2021-10-16 22:54] #543 closed

[2021-10-16 22:54] fkiraly commented on #1097
solved by the design in #1407 and superseded by discussion in #1505.

[2021-10-16 22:54] #1097 closed

[2021-10-16 22:55] TonyBagnall commented on #724
hey @fkiraly and @mloning can we close this?

[2021-10-16 22:56] fkiraly commented on #1505
The dispatch snippet in #1157 by @D3f0 also looks very nice, complementary to the above in cases where we dispatch on scitype.

[2021-10-16 22:59] fkiraly commented on #963
no follow-up by original poster, closing

[2021-10-16 22:59] #963 closed

[2021-10-16 23:01] fkiraly commented on #534
Hm. this discussion broke off, and is closely related to the bug #1523 that came out of @asksteph's problem.

What is the most recent on this, @aiwalter, @mloning?

[2021-10-16 23:03] #448 closed

[2021-10-16 23:04] fkiraly commented on #1211
this has been addressed in 0.8.0 and subsequent PR with the multivariate upgrade

[2021-10-16 23:05] fkiraly commented on #1303
This was fixed with the linked PR and the multivariate upgrade in 0.8.0.

[2021-10-16 23:05] #1303 closed

[2021-10-17 01:12] #711 closed

[2021-10-17 06:30] juanitorduz commented on #336
Hi! Well, from my side I won't be able to work on it ... so i guess you can close it and re-open it whenever becomes a part of the roadmap ;)

[2021-10-17 06:37] harahu commented on #448
I completely understand. The requirements discussed above are challenging to tackle in a general way. Is there any documentation for the new conventions you settled on?

[2021-10-17 10:24] fkiraly commented on #612
is it? I'd consider it a different estimator.

[2021-10-17 10:26] fkiraly commented on #724
Not done, #748 is not merged - @hoseler4dh is either still working on this or has disengaged.

[2021-10-17 10:27] fkiraly commented on #448
Yes - currently with most detail in here:
https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb
(also in parts of the general documentation)

[2021-10-17 10:52] TonyBagnall commented on #257
the list is very out of date though,

[2021-10-17 13:28] fkiraly commented on #612
Yes, I have no problems removing "Bayesian" from anything, but just on the conceptual level it's a different algorithm and estimator - as you just confirm.

So I think it's still a reasonable aspiration to have the Bayesian variant interfaced, and strictly speaking it's not addressed by having an interface to `UnobservedComponents`.

[2021-10-17 19:47] jiayilee0 opened #1536 "[BUG] TypeError for ComposableTimeSeriesForestClassifier"
I was trying to follow the tutorial for "Univariate time series classification with sktime" but ran into an error with the time series forest classifier `ComposableTimeSeriesForestClassifier`. Copied the code exactly, everything was fine for a single time series tree.

Code:
[code]

Error:
[code]

(Google Colab, no GPU/TPU)

[2021-10-18 15:59] TonyBagnall commented on #1424
so personally I would like to use abc to have proper abstract methods rather than error raising ones. If it also allows final methods, Im for it

[2021-10-18 16:34] TonyBagnall opened #1537 "[ENH] split input checks, capabilities checks and data refactoring in classifier base class"
currently, check_X and check_X_y are used to check valid input, transform to/from pandas from/to arrays and check capabilities of a classifier. This will split it into three

1. check_input: X should be pandas or numpy, y should be numpy (for classification)
2. check_capabilities: assess whether data contains missing, unequal length etc, and check the classifier can handle these
3. reformat_input:

[2021-10-18 16:39] TonyBagnall opened #1538 "[ENH] remove all use of cython, use numba instead"
cython is a problem with installation. Whether we have just done it wrong is a moot point. numba is a so much clearer and lightweight, if there is no performance hit then its should be used instead of cython. This effects

1. distances: need a numba version of them all
2. knn classifier
3. EE classifier
4. MrSEQL classifiier

first three should be easy to sort, last we will need to talk developer

[2021-10-18 17:23] fkiraly opened #1539 "[BUG] failing appveyor/windows builds"
Since a while, our Windows builds on appveyor are failing.
We don't precisely know yet what is causing this - the builds are failing before any `sktime` specific code is run.
@mloning has looked into this but it seems to be a time intensive issue to diagnose.

A possible solution is this PR https://github.com/alan-turing-institute/sktime/pull/1319 which moves the windows builds to GitHub actions,

[2021-10-18 19:17] MatthewMiddlehurst commented on #1235
I think 20s is a good goal for now at least. I don’t think reducing the top 5 will be a major challenge.

[2021-10-18 20:47] fkiraly commented on #1424
we should perhaps plan to do this in a major effort? There's currently too many other cans of worms open we may want to close first...

[2021-10-18 22:43] TonyBagnall commented on #1424
Agreed

[2021-10-19 16:48] #981 closed

[2021-10-20 10:24] #1539 closed, assigned to nobody

[2021-10-20 11:36] fkiraly commented on #1032
Yes, @corvusrabus, to both.

There was the *urgent problem* to get windows CI/CD to run again by whatever means necessary, this would have been solved by either and/or removing C/cython requirements.

Mid-term, we want to move to GitHub actions consistently, see #1032 and @mloning's incomplete attempt in #1319.

@mloning I think has paused on this after a myriad of issues appeared, so more pair of

[2021-10-20 11:37] fkiraly commented on #1539
@corvusrabus, moving discussion to the more topical issue #1032 since this one was specifically about failing appveyor builds.

[2021-10-20 16:28] OliverMatthews opened #1546 "[BUG] TypeError when instantiating ComposableTimeSeriesForestClassifier"
**Describe the bug**
Following the tutorials for univariate time series classification, encountered a TypeError bug when running the code found in the section on [time series forests](https://www.sktime.org/en/latest/examples/02_classification_univariate.html#Time-series-forest).

TypeError is thrown when instantiating the ComposableTimeSeriesForestClassifier class as per the example code.

**To R

[2021-10-20 16:35] OliverMatthews commented on #1546
Closing this as I just found #1536 which appears to be the same issue.

[2021-10-20 16:35] #1546 closed, assigned to nobody

[2021-10-20 17:23] TonyBagnall commented on #159
we now have hc2 equivalence. We discussed this at classifier dev meeting on 20/10/21. We are not sure it merits an interface/mixin.
"We need a proper specification for contractable algorithms, i.e., what attributes and/or methods should they implement."

The Contractable interface would be a placeholder, since the contract is set as a single variable (time in minutes) in the constructor and there

[2021-10-20 20:22] TomKealy commented on #336
hello, I have a time series bootstrapping method I can contirbute. Thank @juanitorduz

[2021-10-22 08:21] TonyBagnall opened #1547 "[ENH] Replace Cython version of MrSEQL with numba version"
**Is your feature request related to a problem? Please describe.**
the way we are currently using cython causes us no end of problems, and we think the simplest solution is simply to use numba instead. See
https://github.com/alan-turing-institute/sktime/issues/1538

apart from distances, MrSEQL is the only algorithm to use cython
https://github.com/alan-turing-institute/sktime/tree/main/sktime/cla

[2021-10-23 08:11] TonyBagnall opened #1549 "[DOC] Update and improve notebooks for classification"
#### Describe the issue linked to the documentation
Update the classification notebooks along the following lines

1. merge and fix univariate and multivariate

https://github.com/alan-turing-institute/sktime/issues/1536

2. Make the data formatting clearer with use cases for 2D, 3D numpy and dataframes

3. Use rocket and HC2 in examples

4. Include comparison to other algorithms and drawing a CD

[2021-10-23 12:23] Piyush1729 opened #1550 "Issues faced while installing development version on windows machine."
I am working on windows 10 OS, Anaconda 4.5.4. After following the instructions for the development version given in https://www.sktime.org/en/latest/installation.html, Here is my feedback:
Requirements.txt says fbprophet is needed but https://www.sktime.org/en/latest/installation.html#facebook-prophet says install prophet. There's a clash here as both require different versions of cmdstanpy.
Also

[2021-10-25 04:29] sameermahajan opened #1555 "[BUG] AssertionError when using `pd.PeriodIndex` forecasting horizon with `freq="H"`"
**Describe the bug**
I have  fitted a model over a series that looks something like:

ds
2021-10-14 18:12:00    22811316.0
2021-10-14 18:42:00    22700704.0
2021-10-14 18:43:00    22439784.0
2021-10-14 18:44:00    22979880.0
2021-10-14 18:45:00    23051732.0
                          ...
2021-10-17 17:07:32    26841748.0
2021-10-17 17:34:32    26620540.0
2021-10-17 17:35:32    27671180.0
2021-10-1

[2021-10-26 14:07] Jinwen321 opened #1556 "[BUG] AttributeError: 'Index' object has no attribute '_ndarray_values'"
Dear all,

I am new to sktime. When I followed the forecasting part of the tutorial and ran this code line: from sktime.utils.plotting import plot_series, I got this error: AttributeError: 'Index' object has no attribute '_ndarray_values'. The detailed traceback were:

  File "<ipython-input-15-c9c95ff1127e>", line 1, in <module>
    from sktime.utils.plotting import plot_series

  File "D:\Anacon

[2021-10-28 08:54] fstinner opened #1558 "[ENH] Integrate MultiRocket"
**Is your feature request related to a problem? Please describe.**
Include MultiRocket (https://github.com/ChangWeiTan/MultiRocket) as a classification algorithm.

**Describe the solution you'd like**
MultiRocket can be integrated analogously to Rocket or MiniRocket. In my test data sets, the algorithm showed very good results. I have already redesigned the code of @ChangWeiTan accordingly so that

[2021-10-28 16:44] mloning opened #1560 "[MNT] Remove release-drafter.yml"
We can remove the file: https://github.com/alan-turing-institute/sktime/blob/v0.8.1/.github/workflows/release-drafter.yml

GitHub now offers the same functionality.

[2021-10-29 12:47] srinuti opened #1563 "[BUG] Numba needs NumPy 1.20 or less, but `sktime` installation does not ensure this on all operating systems"
**Describe the bug**

**To Reproduce**

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-63-9c74fc495c79> in <module>
----> 1 all_estimators("forecaster", as_dataframe=True)

C:\ProgramData\Anaconda3\envs\tensorflow_env\lib\site-packages\sktime\registry\_lookup.py in all_estimators

[2021-10-29 14:01] TonyBagnall opened #1564 "[ENH] add type hints to classifier return types"
we have recently added type hints to classifier base class in classification/base.py

def _predict(self, X) -> np.ndarray:
def _predict_proba(self, X) -> np.ndarray:

it would be helpful for someone to add these to the subclasses in the directory classifiers. You dont necessarily have to do them all in one go

![image](https://user-images.githubusercontent.com/9594042/139448469-8a760cb0-a01c-4cf5-

[2021-10-30 14:19] RNKuhns opened #1565 "[DOC] Add toggle button to code examples to remove ">>>", "..." and output"
#### Describe the issue linked to the documentation

The way code examples must be formatted in code-blocks is not conducive to copying the examples into a code editor to try out. Scikit-learn has a toggle button on their code examples to remove the ">>>", "...", output and other items that are needed in the code-block, but make it difficult to copy the code directly.  We should implement somethin

[2021-10-30 17:56] RNKuhns commented on #1422
We originally had the `func` param stored in the `func` attribute, but then changed it later on. I can't remember why at this point. But I'm pushing a PR to fix this today.

[2021-10-30 18:17] RNKuhns opened #1568 "[DOC] Improve documentation of DateTimeFeatures transformer"
#### Describe the issue linked to the documentation

The docstring doesn't appear to be rendering as expected (the bulleted lists aren't rendering correctly b/c they need a blank line between them and the text that preceeds and follows).

Additionally, the short summary shouldn't include the the name of the transformer or the "e.g.". Something short like... "Extract date time features from series

[2021-10-30 18:28] RNKuhns opened #1569 "[DOC] Transformers missing from API Reference"
#### Describe the issue linked to the documentation

There have been transformers that have recently been improved but have not been added the API Reference.

For example, STLTransformer, CLaSPTransformer, etc.

#### Suggest a potential alternative/fix

These need to be added to the documentation.

In the future we'll have to try and be good about following our [reviewer guide](https://www.sktime.

[2021-10-30 18:55] RNKuhns commented on #1443
@aiwalter I think it is an interesting concept and I'm generally supportive of it. But what's a concrete use case?

The example (which I know is just for illustrative purposes), adds a scaled version of the input data exeogenous data (minmaxscalar), it doesn't seem like that would add value in AutoArima (since I believe it is performing regression with ARIMA error structure when there is exogenous

[2021-10-30 19:03] RNKuhns opened #1570 "[DOC] Add Examples to classifier docstrings that currently lack examples"
#### Describe the issue linked to the documentation

Some of the classifiers don't include and examples section in their docstring. We should update the docstrings to include the examples section.

- [x] ColumnEnsembleClassifier
- [x] ElasticEnsemble #1584
- [x] ProximityForest #1584
- [x] ProximityTree #1584
- [x] ProximityStump #1584
- [x] TimeseriesForest #1583
- [x] RandomIntervalSpectralFores

[2021-10-30 19:05] RNKuhns commented on #1570
@TonyBagnall and @MatthewMiddlehurst classification isn't my area of expertise, so I don't know if the same dataset would be good for each classifier.

The current classifier examples all appear to either use dataset from `load_unit_test` or `load_italy_power_demand`. Could you comment as to which dataset would seem like a good option for each classifier?

[2021-10-30 19:49] MatthewMiddlehurst commented on #1570
We use load_unit_test for speed as they are all run in the testing process. We will get to them all eventually in the refactor.

[2021-10-30 20:08] TonyBagnall commented on #1570
As Matt says, unit test is there to reduce testing speed and is probably best for examples. Good first issue maybe?

[2021-10-30 20:09] TonyBagnall commented on #1570
But also the ones you list in particular are not stable and scheduled for revision or deprecation

[2021-10-30 20:11] MatthewMiddlehurst commented on #1570
For STC you can replace RotationForest with a RandomForest if it is an issue. Can people using the public release not import anything from contrib?

[2021-10-30 21:04] fkiraly commented on #1569
@RNKuhns, what does "have not been added the API Reference" mean here?
I don't think that's a requirement in the reviewer guide currently.

This is what's currently there:

![image](https://user-images.githubusercontent.com/7985502/139558307-cf594709-442f-428c-a61b-e087095a80d1.png)

[2021-10-30 21:55] RNKuhns commented on #1569
@fkiraly we might not have been explicit enough, but I believe that is part of make sure online docs render correctly. It is also one of the check boxes when you make our PRs.

It just makes it hard for users to understand sktime’s features unless we make sure we routinely add things to our website.

[2021-10-31 02:58] RNKuhns commented on #1570
@TonyBagnall and @MatthewMiddlehurst I just wanted to collect the ones that needed the examples added so we had a record. Agree this is probably a good first issue.

@MatthewMiddlehurst I’m not sure on the contrib part. But the import with the leading “_” usually denotes from a non-public sub module.

[2021-10-31 10:35] TonyBagnall commented on #1570
Maybe we should refactor contrib as _contrib?

[2021-10-31 11:10] MatthewMiddlehurst commented on #1570
Do we want it to be private?

There is no structure or init files in contrib i'm pretty sure, its the sktime wild west. I don't really think rotation forest should even be there tbh, but its not a time series classifier so it has no other home.

[2021-11-01 14:11] emagnu opened #1575 "[DOC]"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2021-11-02 13:23] fkiraly commented on #1575
empty issue, probably opened by accident

[2021-11-02 13:23] #1575 closed

[2021-11-02 13:31] fkiraly opened #1576 "[ENH] move/change tests applicable to BaseObject to test all BaseObject descendants"
The bug fixed by #1566 is not caught because `tests/test_estimators` tests only descendants of `BaseEstimator`, not descendants of `BaseObject` that are not descendants of `BaseEstimator`.

The bug would have been caught by `test_repr`, for instance.

FYI @RNKuhns

The easiest way is probably:

* modify `BASE_CLASS_LIST` so it includes `BaseObject` and `BaseEstimator`
* modify `all_estimators` suc

[2021-11-02 13:40] Dwarak-PCI opened #1577 "[ENH] using window summary features in reduction strategies (with scikit-learn regressors)"
**Describe the solution you'd like**
I would to forecast time series data using scikit learn regressors with moving average smoothing. Currently, sktime module supports lagged time series component (window_length) which is specified in make_reduction method. It would be of great value, if this method supports moving average smoothing (backward rolling window) for target time series.

**Describe al

[2021-11-02 14:37] fkiraly opened #1578 "[DOC] Extension guidelines should contain a "documentation" section"
Since in a number of cases, contributors were unaware that documentation must be updated in a certain way when estimators are added (e.g., #1571), I think we need to update the documentation so this is more clear.

Currently, extenders (probably) use the extension template to go through the todos, so I propose we add a section at the end which summarizes the documentation steps "if you add the est

[2021-11-02 14:40] #1422 closed

[2021-11-02 15:33] TonyBagnall commented on #1547
rolled into #1538

[2021-11-02 15:33] #1547 closed

[2021-11-02 15:33] TonyBagnall commented on #1565
assume we can close this @RNKuhns ?

[2021-11-02 15:33] #1565 closed

[2021-11-02 15:52] #1569 closed

[2021-11-02 16:00] fkiraly commented on #1577
Interesting - I was wondering whether there is already a way to do this.

The generic way would be something like a `SmoothingReducer(base_estimator, smoother_estimator)`.

This does the following in `predict`:

1. forecast time points `1...max(fh)` using `base _estimator`, this gives a series `x(0) ... x(t) ... x(t+maxfh)` made up of actuals and forecasts
2. using `smoother_estimator`, produce fo

[2021-11-02 16:05] aiwalter commented on #1577
@danbartl

[2021-11-02 16:17] Dwarak-PCI commented on #1577
@fkiraly
Thanks for the quick response. I couldn't find SmoothingReducer method in the API documentation. How can I import this method?
[code]

Pandas rolling function does this type of rolling average:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html

Pandas rolling method allows the user to enter window_length, weather we want to average, min, max etc. I am currently us

[2021-11-02 18:31] Dwarak-PCI commented on #1577
That is correct, I would want something similar to `SmoothingReducer(my_reduced_regressor_estimator, ARMA(p=0, q=my_q))`

If p > 0, then it works similar to lagged regressors. How would this be different from window_length provided in make_reduction method?

[2021-11-02 18:44] fkiraly commented on #1577
I think that's simply a different parameter? The `window_length` in `make_reduction` affects the lags that go into `base_estimator`, not the `smoothing_estimator`.

Do you mean, you think there is a way how one could achieve the same algorithm using only `make_reduction`? I do not see this, but that doesn't mean it's wrong - can you elaborate?

[2021-11-02 18:59] Dwarak-PCI commented on #1577
Sure.

Lets consider lags first:
Given that y is our target_variable, our goal is to predict y(t).
if window_length = 4, which means I am going to have y(t-1), y(t-2), y(t-3), y(t-4) as exogenous data to predict y(t). Do you agree with this?

Now, lets switch to moving average:
Given that y is our target_variable, our goal is the predict the same y(t).
If moving_average_window_width = 4, then my e

[2021-11-02 20:04] RNKuhns commented on #1577
I had been thinking that we should a set of smoothing transformers (they should do simple smoothing, but we could also have a spline one and other smoothing/filtering methods).

Since this is also applicable in the non-reduction case (you might smooth/filter a series then forecast it; I believe there is even a paper I’ve read that showed this sometimes improves accuracy).

Then use that transforme

[2021-11-03 09:08] LoicRaillon commented on #1577
As mentioned by @Dwarak-PCI it would be nice to have the possibility to use a list of aggregate functions (mean, median, min, etc.) on the lagged windows of the target variable `y` or the exogenous variables `X` and then make a recursive forecast as `make_reduction` does.

An interesting example is load curve forecasting where the outdoor temperature has a delayed influence on the target. One way

[2021-11-03 10:03] Dwarak-PCI commented on #1577
@LoicRaillon Thanks for summarizing my thoughts. This is exactly what I am looking for. Temperature have a lagged effect on load curve, and also in case of wind power forecasting (wind farm), wind speed tend to have a lagged effect on the wind power. To address this, I can create lags and aggregates on wind speed or outdoor temperature. But it is not possible for me to create aggregate on target s

[2021-11-03 14:11] hoesler4dh opened #1580 "[BUG] model_selection/split does not support y being an index since 0.8.1"
**Describe the bug**
#1456 introduced a bug. If y is an Index, the code leads to an unassigned local variable
[code]

**To Reproduce**
[code]

**Expected behavior**
split function should accept an Index as argument

**Versions**
0.8.1

[2021-11-03 14:52] fkiraly opened #1581 "[ENH] window summary transformer"
We've agreed that we need to implement the following transformer:

`WindowSummaryTransformer`

parameters:
* `window_type: "sliding" (default) or "expanding"`
* `window_size: int or datetime.timedelta`
* `agg_func: str or function; if str, one of "mean", "max", "min", "median"; if function, must be pd.DataFrame (n rows) -> pd.DataFrame (one row)`
* `lags: list of int`, list of lags that are used.

[2021-11-03 14:54] fkiraly commented on #1581
@danbartl, I think you were working on this, right?

[2021-11-03 15:03] fkiraly commented on #1577
Ahhh, @Dwarak-PCI, I think I get what you want.
You want exogeneous variables in the reduction that can be created by some aggregation or transformer operation.
Then apply the current `make_reduction`, using these summaries as features.

We have already identified the "window aggregation" operation as a thing we need - @danbartl was working on this, although there seems to be no issue that he open

[2021-11-03 15:03] fkiraly commented on #1581
Please correct the preamble if the signature you are implementing is different, @danbartl

[2021-11-03 15:03] fkiraly commented on #1577
FYI @danbartl, @ltsaprounis

[2021-11-03 15:06] fkiraly commented on #1577
Question to @Dwarak-PCI, @LoicRaillon, am I correctly understanding *now* what you want?

If so, would it be solved by the `WindowSummarizer` (or whatever it ends up being called) that @danbartl is implementing?

[2021-11-03 15:07] fkiraly commented on #1577
Feel free to join our regular collab sessions on Fridays, 1pm UTC - might be worth pining @danbartl and @ltsaprounis in advance and/or meet, since it seems very much related.

[2021-11-03 15:10] Dwarak-PCI commented on #1577
@fkiraly
Yes, WindowSummarizer is exactly what I was looking for. I have a question for you:

WindowSummarizer(lags, aggregates)
Can aggregates take min, max, sum, std, mean, median etc as values?
Thanks for your time.

[2021-11-03 15:17] fkiraly commented on #1580
ouch. Thanks for reporting, @hoesler4dh!

Well, I would put this down as a consequence to no one writing proper docstrings.

I was unaware that an `pandas.index` was supposed to be a valid input as well, I assumed this was only for our primary data containers (which had the bug that it did not support `pandas.DataFrame`).

Should be an easy fix, and I'll write a proper docstring. Hope everyone is

[2021-11-03 15:26] fkiraly commented on #1580
fix in #1582

[2021-11-03 19:41] LoicRaillon commented on #1577
@fkiraly `WindowSummarizer` should work for exogenous variables. It might be interesting to have the same capabilities for the target variable `y` in `make_reduction`.

[2021-11-03 21:39] fkiraly commented on #1577
@LoicRaillon, if it´s a transformer, you can use it on `y` via `TransformedTargetForecaster` or on `X` via `ForecastingPipeline`.

What would be the case to attach it to `make_reduction` instead of having it as a separate transformer? Windowing/summarization seems to be a separate operation from the reduction step to me.

[2021-11-04 08:31] LoicRaillon commented on #1577
@fkiraly Maybe I miss something but if we use a moving average for the target `y` on window of `N` lags, e.g. `X[t] = (y[t], y[t-1], ..., y[t-N-1]) / N`, we can forecast `y_hat[t+1] = f(X[t])`. In order to forecast `y_hat[t+2] = f(X[t+1]` we need to append `y_hat[t+1]` to the window of lags, e.g. `X[t+1] = (y_hat[t+1], y[t], y[t-1], ..., y[t-N-2]) / N`. This recursion is done in `make_reduction` b

[2021-11-04 08:56] mloning commented on #1581
Can we call it `window_length` instead of `window_size` to make it consistent with other classes?

[2021-11-04 10:07] fkiraly commented on #1577
Ah, I see - you want to use the summaries of `y` to forecast `y`, and this is not possible with the current pipeline constructs, even if `WindowSummarizer` were available, is that what you mean?

Because for that you would need a pipeline that puts computes summaries of `y` but treats them as `X` in `make_reduction`?

[2021-11-04 10:07] fkiraly commented on #1577
@aiwalter, quick quesiton: is there currently a way with the pipelines to compute transformations of `y` and "consider them as `X`"?

[2021-11-04 12:45] TonyBagnall opened #1587 "[BUG] docs/readthedocs.org:sktime — Read the Docs build failed!"
**Describe the bug**
the readthedocs tests are failing on multiple, unrelated PRs with the file

![image](https://user-images.githubusercontent.com/9594042/140315278-9cb76e53-72e4-4e88-afd1-6b679fddae2e.png)

**To Reproduce**

to reproduce, create a PR into main. Dee, for example

https://github.com/alan-turing-institute/sktime/pull/1584
https://github.com/alan-turing-institute/sktime/pull/1583

*

[2021-11-04 14:01] TonyBagnall commented on #1570
maybe the rotation forest should go in the STC classifier itself? We do that for other specific classifiers, and I dont think the rotation forest implementation is ready to go into scikit-learn...

[2021-11-04 15:08] aiwalter commented on #1577
@fkiraly I think what you describe is here in the table as case 4: https://github.com/sktime/enhancement-proposals/blob/main/steps/01_forecasting_api/forecasting_pipeline.md

We could possibly cover it with a `Featurizer` as described in my issue #1443 and an additional param `swap_y_X` or sth?

So this would be
[code]

[2021-11-05 12:54] OliverMatthews commented on #1549
With #1536 hopefully fixed now, I'll take a look at point 2 (making the data formatting clearer).

[2021-11-05 14:11] aiwalter commented on #220
### Multivariate/vector forecasting
- [x] TransformedTargetForecaster
- [x] ForecastingPipeline
- [x] ForecastingGridSearchCV
- [x] RandomizedGridSearchCV
- [x] MultiplexForecaster
- [ ] make_reduction
- [ ] EnsembleForecaster
- [ ] AutoEnsembleForecaster
- [ ] StackingForecaster

[2021-11-05 17:49] paulsbrookes opened #1589 "[BUG] using hasattr on RandomIntervalSpectralForest to test for feature_importances_ causes the program to crash."
**Describe the bug**
When I use ```hasattr``` to ask ```RandomIntervalSpectralForest``` if it has the feature_importances_ attribute it causes my code to crash with the following error:
```NotImplementedError: The impurity-based feature importances of RandomIntervalSpectralForest is currently not supported.```

**To Reproduce**

[code]

**Expected behavior**
I expected ```hasattr(test, 'feature_im

[2021-11-07 11:34] TonyBagnall commented on #1587
I have no clue about this CI stuff. Any ideas @freddyaboulton or @mloning? This may be relevant? Need setuptools 5.5.3?
https://gitmemory.cn/repo/pyodide/pyodide/issues/1930

https://github.com/pypa/setuptools/issues/2849

[2021-11-08 10:52] knsantosh27 opened #1590 "[DOC] Improve Doc Strings for Temporal Cross validators"
#### Describe the issue linked to the documentation
 - Currently, the docstrings do not have examples or see also sections.

#### Suggest a potential alternative/fix
-   Add simple examples and see also section linking to other cross-validation functionality.

[2021-11-08 14:27] MatthewMiddlehurst opened #1591 "[BUG] `RuntimeError` when `SignatureTransformer` is run on large datasets"
SignatureTransformer throws a RuntimeError when calling fit on the DuckDuckGeese dataset. I assume this is an issue with the number of dimensions?

[code]

Dataset | Train | Test | Class | Length | Dimension
-- | -- | -- | -- | -- | --
DuckDuckGeese | 50 | 50 | 5 | 270 | 1345

[2021-11-08 15:24] freddyaboulton commented on #1587
@TonyBagnall Can we try re-running the RTD build on those PRs? Looks like setuptools pushed a new release since the last commit on those PRs that should fix the problem.

[2021-11-08 15:40] TonyBagnall commented on #1587
yep fixed by the external package, thanks @freddyaboulton

[2021-11-08 15:40] #1587 closed

[2021-11-08 16:42] ltsaprounis commented on #1577
I was thinking about this also in the context of the recursive case. I don't see how we can implement this as a transformer and then use it in a pipeline. In my opinion we need to add this as an extra feature in make reduction.

[code]

Another option would be to pass a list of transformers in make_reduction:

[code]

I believe the second option will give us more flexibility. Maybe we can also add

[2021-11-08 23:13] ltsaprounis opened #1593 "[BUG] evaluate raises KeyError for AutoETS and CutoffSplitter / SlidingWindowSplitter - issue with BaseForecaster._update_y_X"
**Describe the bug**
evaluate function raises an invalid error for the CutoffSplitter and SlidingWindowSplitter.
ExpandingWindowSplitter works fine.

The error initially appears to be in the _predict method of ets.
But, a few debug prints later I managed to pinpoint the issue in the [_update_y_X](https://github.com/alan-turing-institute/sktime/blob/922cd71d0d82d849025a080be826cf1c3c4777e5/sktime/f

[2021-11-09 08:26] LoicRaillon commented on #1577
I think we should keep in mind that `make_reduction` doesn't support exogenous variables `X` currently but if it does in the future (I hope so), we should take it into account when designing the API.
As suggested by @ltsaprounis, we could do this by mapping a variable name to a `summary_features` or `featurizers`.

[2021-11-09 14:01] paulsbrookes opened #1596 "[DOC] The documentation of sktime.classification.base.BaseClassifier.fit inaccurately describes the input parameters."
#### Describe the issue linked to the documentation

The documentation of sktime.classification.base.BaseClassifier.fit says that it can accept a 2D np.array for X, but this doesn't work. The input is required to be 3D. Demonstrated by:

[code]

Produces the error:
[code]

#### Suggest a potential alternative/fix

Remove
[code]
from the documentation.

[2021-11-09 15:48] chrisholder opened #1597 "[BUG] Tests running will Numba parallel enabled"
**Describe the bug**

This is a bug with our cicd pipeline and the test suite that is run to check a pr passes.

Numba has a feature that makes multithreading automatic. See here: https://numba.pydata.org/numba-doc/latest/user/parallel.html for more details. While this a great feature and has numerous benefits such as ease of implementation and great performance gains, during sktimes 'checks' (the

[2021-11-09 19:18] fkiraly commented on #1577
@loicraillon, I think that some reduction methods do support `X` - the direct reduction strategy does, for instance?

[2021-11-09 19:20] fkiraly commented on #1577
@ltsaprounis, I think you are right - if you get features from `y`, this probably needs to be part of the `make_reduction`.
I prefer the variant where you can pass transformers.

Summarizing `X`, however, works with a transformer, no?
More generally, a "general" pipeline would work with transformers only, if you have `x_steps`, `y_steps`, and `y_to_x_steps`, similar to what @aiwalter was proposing

[2021-11-09 20:32] fkiraly opened #1598 "Remove unused `_assertions` method in signatures module"
See below: `_assertions` in `_signature_method.py` is no longer used or needed, this should be removed from the code base according to @jambo6.

---

(Author here), its not used anywhere, my apologies. I moved the checks into the respective sub-transformers that are called and forgot to delete this one. Safe to remove.

_Originally posted by @jambo6 in https://github.com/alan-turing-institute/skti

[2021-11-09 22:11] #590 closed

[2021-11-09 22:58] Carlosbogo commented on #1598
Hi, I would be glad to help with this.

[2021-11-10 09:32] Carlosbogo commented on #1596
Hi, I would like to work on this, but I'm still not used to the structure of the project. Where can I find the docs you mention? I have looked around for a bit without any success.

[2021-11-10 09:41] paulsbrookes commented on #1596
Hi. Thanks for looking into it. The documentation is in sktime/sktime/classification/base.py. You need to go to the fit method of the BaseClassifier class. You'll find the following block of documentation there:

        """Fit time series classifier to training data.
        Parameters
        ----------
        X : 2D np.array (univariate, equal length series) of shape = [n_instances,

[2021-11-10 14:17] TonyBagnall commented on #1596
hi, yes sorry, this was in there from before my last refactor, but I left it in. I am working on a PR to allow 2D input and it will hopefully go in next week.

[2021-11-10 14:20] paulsbrookes commented on #1596
Thanks! Sounds good.

[2021-11-10 15:40] TonyBagnall opened #1603 "[BUG] problem with strings input for target variable"
**Describe the bug**
using the sklearn train test split breaks HC2, because the numba code expects np.str not Series strings.

**To Reproduce**
    # breaks
    X, y = load_UCR_UEA_dataset("ItalyPowerDemand", return_X_y=True)
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    hc2 = HIVECOTEV2()
    hc2.fit(X_train, y_train)

**Expected behaviour**

it should work with train_test_spl

[2021-11-10 15:50] TonyBagnall commented on #1603
actually seems to be an error with load_UCR_UEA_dataset, returns numpy arrays when loading train and test, but pandas.Series when loading just X and y.  X_train, y_train = load_UCR_UEA_dataset("ItalyPowerDemand", split="train",
                                            return_X_y=True)
    X_test, y_test = load_UCR_UEA_dataset("ItalyPowerDemand", split="test",

[2021-11-10 16:05] TonyBagnall commented on #1603
this is a bug in data_io, just need to convert to an ndarray, I will just fix this first I think

[2021-11-10 16:06] TonyBagnall commented on #1603
![image](https://user-images.githubusercontent.com/9594042/141148946-f8c3931c-f120-4b92-aec7-94fd32ea9080.png)

[2021-11-10 16:55] fkiraly commented on #1598
Thanks!

[2021-11-10 22:07] TonyBagnall commented on #1235
job done now, nice one @MatthewMiddlehurst
![image](https://user-images.githubusercontent.com/9594042/141201452-85f8e0ac-4ff0-4414-a623-7353e2558ab6.png)

[2021-11-10 22:07] #1235 closed

[2021-11-11 09:27] hancelpv opened #1605 "[ENH] : Provision to pass bounds to StatsModels Estimator"
I wanted to use the ExpSmoothing model with the lower and upper bounds for alpha, beta, gamma, phi.
I can't see this functionality being implemented in sktime, whereas the underlying statsmodels estimator supports this
https://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.exponential_smoothing.ExponentialSmoothing.html

[2021-11-11 09:47] TonyBagnall commented on #1146
this is done with the active classifiers, I'll close this @fkiraly and will raise specific issues for the compose and TSF, which are generally problematic.

[2021-11-11 09:47] #1146 closed

[2021-11-11 10:25] hancelpv commented on #1605
Found the solution, can use the AutoETS method. I was searching in the ExpSmoothing class

[2021-11-11 10:25] #1605 closed

[2021-11-11 10:40] TonyBagnall opened #1606 "[ENH] Refactor ComposableTimeSeriesForestClassifier compose to comply with the new fit/predict/predict_proba model"
**Is your feature request related to a problem? Please describe.**
Nearly all the classifiers have been adapted to the model, thanks for the effort @MatthewMiddlehurst and others who helped. There are two outstanding issues that are causing problems elsewhere.

The classifier ComposableTimeSeriesForestClassifier inherits from both BaseClassifier and BaseTimeSeriesForest, making overriding fit and

[2021-11-11 11:57] TonyBagnall opened #1607 "[ENH] refactor BaseColumnEnsembleClassifier and ColumnEnsembleClassifier to comply with the new fit/predict/predict_proba model"
**Is your feature request related to a problem? Please describe.**

location: classification.compose._column_ensemble.py

these classifiers need to conform to the new fit, predict, prdict_proba model, but it looks non-trivial. fit does not currently call check_X, but seems to do some of its own bespoke formatting (_validate_column_callables). It also inherits from _HeterogenousMetaEstimator which

[2021-11-11 12:04] TonyBagnall opened #1608 "[ENH] Refactor TimeSeriesForestClassifier to comply with the new fit/predict/predict_proba model"
**Is your feature request related to a problem? Please describe.**

TimeSeriesForestClassifier classification.interval_based._tsf.py

TimeSeriesForestClassifier inherits from BaseTimeSeriesForest, ForestClassifier and BaseClassifier. Its not immediately clear how to adapt it to the new model.

**Describe the solution you'd like**
we could wrap it in a facade

**Describe alternatives you've conside

[2021-11-11 12:09] TonyBagnall opened #1609 "[ENH] Refactor RandomIntervalSpectralForest to comply with the new fit/predict/predict_proba model"
**Is your feature request related to a problem? Please describe.**
RandomIntervalSpectralForest is an alternative form of RISE. I have marked it for deprecation, but if someone wants to maintain it could they please adapt to the new model?  It inherits from both ForestClassifier and BaseClassifier which complicates matters.

**Describe the solution you'd like**
could wrap it.

**Describe alternati

[2021-11-11 18:56] aiwalter commented on #782
@RNKuhns when I use the new `STLTransformer`, I get only residuals of 0. I did
[code]
Or did I miss sth in params to get another residual values?

[2021-11-11 19:01] aiwalter commented on #782
also not so sure about the example given in the docstring of `STLTransformer` of how to build an "STLForecaster":
[code]
this is quite different to what you propose @RNKuhns I think. But for me your proposal makes more sense.

[2021-11-12 13:19] fkiraly opened #1612 "[ENH] window summaries and lagged reducer"
Design rom the Sep 16 design meeting.

FYI @danbartl, @ltsaprounis (have agreed to take this one).

We actually already had this lying around, it would supersede #1581 and address #1577.

---
design proposal for components implementing (implicit) requirements from David's proposal:

[code]

`LaggedReducer`

implements *direct forecasting approach on the lagged features*

What happens in `fit(y, fh

[2021-11-12 13:42] #1603 closed

[2021-11-12 13:50] fkiraly commented on #1612
from discussion in the regular meeting: the above design does not allow lags in `y` and `X`, as discussed in #1577.

So we need to extend `LaggedReducer`, replace it by

[code]

[2021-11-12 13:50] fkiraly commented on #1581
closing this in favour of #1612, see discussion there.

[2021-11-12 13:50] #1581 closed

[2021-11-12 14:10] fkiraly commented on #1593
Yes, this is indeed a problem. Caused by `fit` called multiple way with side effects.

Clean ways would be:

* use `sklearn` `clone` inside the cv - that's the "standard" way.
* implement a (clone-like) `reset` in the base class, and always call it at the start of `fit`.

[2021-11-12 14:30] fkiraly commented on #1612
I just noticed sth: if `X` is by default used, then `transformers_X` is not needed - we can just use the `ForecastingPipeline`.
I.e., we could have lags in `X` via sth like

[code]

[2021-11-12 14:33] fkiraly commented on #1577
to summarize discussion we had today in our regular meeting on panel/global forecasting:
(FYI @dwarac-PCI, @loicraillon)

an earlier design we had, on lagged feature generation and lagged reduction to regression, was already suitable to provide the functionality above, in combination with the pipeline construct.

It just never got turned into a proper issue, here it is: #1612.
@danbartl, @ltsaprou

[2021-11-12 14:38] fkiraly commented on #1577
Btw, @Dwarak-PCI, @LoicRaillon, if you would like to be involved in the discussions: there's a public invite to the regular meetings in the forecasting global/panel/hierarchical work stream on the sktime calendar and slack. You can view notes, designs, and the regular meetings in the sktime slack general channel and in the forecasting-global channel.

[2021-11-12 14:58] fkiraly opened #1613 "[ENH] test for two `fit` calls with different argument"
The current test `test_fit_idempotent` did not catch the bug in https://github.com/alan-turing-institute/sktime/pull/1595 because the test checks two calls to `fit` with the same arguments.
This fails to catch the case where, for instance, the resulting estimator behaves like after the first, but not the *second* `fit` call.

A better test would call `fit` twice, but with different arguments.
The

[2021-11-12 15:02] fkiraly opened #1614 "[ENH] should we have a `reset` method?"
Should `sktime` estimators have a `reset` method that sets the estimator's entire state to what it would be after initialization?

The main reason is that this would be a clean way to reset the estimator at the beginning of `fit` whenever called for the second or any repeated time.

This would prevent bugs such as in #1595 which can lead to unexpected and hard-to-debug behaviour in grid search etc

[2021-11-12 18:17] Carlosbogo commented on #1613
Hi, I would be glad to help with this. Is there anyone already working on it?

[2021-11-12 19:14] MatthewMiddlehurst opened #1616 "[ENH] Design and API for Early Classification"
Early classification revolves around allowing classifiers to take incomplete series (i.e, the first half of a series recorded over a day) and decide whether it can make an accurate prediction or not with the presented partial time series. These algorithms are similar enough to the rest of the classification package that they could just reside in a sub-package for now, such as `classification/early

[2021-11-12 19:15] MatthewMiddlehurst commented on #1616
@patrickzib has shown interest in the topic from previous discussions, though anyone feel free to contribute and edit the issue if necessary.

[2021-11-12 20:10] Dwarak-PCI commented on #1612
@fkiraly I suppose you plan to implement direct strategy instead of recursive since it is inefficient. Is there any way to provide window_length (lags) in the ForecastingPipeline?

I can use my_lagged_window_summarizer to get statistics of lagged variables, but what if I want to use lagged variables itself as exogenous variable.

[2021-11-12 22:16] #1560 closed

[2021-11-12 22:19] fkiraly commented on #1612
you would define

[code]

This would ensure that the lagged variables are used in the `LaggedReducer` as exogeneous variables.
The `ForecastingPipeline` applies transformations in `steps` to the exogeneous variables `X`, so once it reaches the `LaggedReducer`, the exogeneous data contains the lagged variables.

[2021-11-13 08:08] TonyBagnall commented on #1596
hi, this is fixed by https://github.com/alan-turing-institute/sktime/pull/1604 let us know if you have any problems

[2021-11-13 08:08] #1596 closed

[2021-11-13 12:32] TonyBagnall commented on #1563
hi, you are correct, we need to fix this. I will have a go
![image](https://user-images.githubusercontent.com/9594042/141643930-d36b8126-1715-4a03-a180-d621a08bca3d.png)

[2021-11-13 14:53] TonyBagnall commented on #1372
I'm going through this myself now, not sure what this warning is meant to mean
![image](https://user-images.githubusercontent.com/9594042/141648282-ea0c3988-5845-44b4-8391-e9d7b9d2b501.png)

[2021-11-13 14:54] TonyBagnall commented on #1372
pip install -e .[all-extras] ends with

[2021-11-13 15:00] TonyBagnall commented on #1372
then this
![image](https://user-images.githubusercontent.com/9594042/141648544-1ce935f9-ca82-445f-ae46-4d63f516aa9a.png)

[2021-11-13 15:00] TonyBagnall commented on #1372
going for option 2 above ...

[2021-11-13 16:03] TonyBagnall commented on #1372
I had to pip install cython before install -e

[2021-11-13 21:01] TonyBagnall commented on #1372
this is painful! Seems to try install numpy twice here?
![image](https://user-images.githubusercontent.com/9594042/141658948-20359942-7057-48e2-9ffd-c71214535064.png)

[2021-11-14 14:06] aiwalter commented on #1443
@RNKuhns there are other models that might benefit from having more exog features, also especially tree-based models that we can use via `make_reduction`

[2021-11-14 18:05] fkiraly commented on #1372
@TonyBagnall, can you summarize the instrutions that worked for you and confirm your operating system?

Also, can you please clarify what you mean with option 1 or option 2?

[2021-11-14 18:08] #1580 closed

[2021-11-14 18:11] fkiraly commented on #1612
@Dwarak-PCI, for your other questions:

Yes/no - we first focus on direct, but ultimately we also want to implement recursive since it's a common strategy. It is probably not great, but it's the user who should choose in the end...

Partially answered above - the pipeline has no lags, you have to provide it in the transformer component which does the lagging, see examples above.

[2021-11-14 18:13] fkiraly commented on #1613
I don't think so, please feel free to go ahead! You should be able to use the `_make_args` helper functions to get this done easily.

@ltsaprounis, FYI

[2021-11-14 18:20] #1387 closed

[2021-11-14 18:38] fkiraly commented on #340
@techtide, I found this old issue while looking for alignment & kernel related content.

Your contribution could be quite timely if you are interested to get back to this now!

It took a while, but we now have:
* base class and extension template for distances/kernels
* base class and extension template for aligners, e.g., GA or dtw

For extension templates, see the `extension_templates` folder in

[2021-11-14 20:10] ltsaprounis commented on #1612
@Dwarak-PCI - Since we already store the training sets of X & y as  forcaster._X and forecaster._y after fit, it will be easy to implement this in the predict method for the recursive strategy. Yes, predict will take longer, but it's feasible.

[2021-11-14 21:54] ltsaprounis commented on #1614
@fkiraly - Should we also raise another issue to add clone in all Cross Validation and Grid Search classes/functions?

[2021-11-15 10:57] TonyBagnall commented on #1372
see above comment by Aparna-Sakshi for option 1 and 2. I'll try sort this out on windows 10 over the next couple of weeks, install doesn't work well at all.

[2021-11-15 11:44] Dwarak-PCI commented on #1612
Thank you very much for the clarification @fkiraly , @ltsaprounis ! Appreciate your time and hard work on this :)

[2021-11-15 12:02] TonyBagnall commented on #1372
btw its not pip install -e .[all-extras] its pip install -e .[all_extras], you might want to edit the post above

[2021-11-15 18:38] lmmentel commented on #1482
Would it be interesting to try [pyproject.toml](https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/) to consolidate the dependency specification and then (possibly) generate `requirements.txt` in the context it might be needed?

Alternatively `requirements.txt` are composable so it's possible to create a base set of requirements and include those in more env specific situations. I

[2021-11-15 21:49] lmmentel commented on #1482
It seems that a suggestion for trying out `pyproject.toml` was also mentioned in #1150

[2021-11-15 22:52] fkiraly commented on #1614
@ltsaprounis, excellent idea! Could you kindly open this and point to the instances where it's not done?

[2021-11-15 23:28] TonyBagnall commented on #1550
hi, I feel your pain having tried this over the weekend, I will have a go at sorting it out

[2021-11-16 04:29] surajitdb opened #1621 "[ENH] LinkedIn Greykite forecasting model interface"
Please add LinkedIn Greykite time series model as a part of sktime.

[2021-11-17 14:05] jasonlines commented on #1372
Hello, I've just done a fresh install using @fkiraly's instructions above and it seems to be fine. i.e.

[code]

I'm on Windows and didn't need to do anything additional for `fbprophet` (it did complain during `pip install -e .[all-extras]` as expected, but I didn't need to do anything more than the `conda install -c conda-forge fbprophet` step to rectify that) so it doesn't look like I needed to

[2021-11-17 14:10] TonyBagnall commented on #1372
hi jay, did you use all_extras? all-extras doesnt work.

[2021-11-17 14:14] jasonlines commented on #1372
ah yes sorry, I did use `all_extras`!

Specifically, it was:
![image](https://user-images.githubusercontent.com/38794632/142216702-11da2ae1-7277-47ee-be31-4b32247abc9a.png)

[2021-11-17 14:17] TonyBagnall commented on #1372
and the cython works? I'm going to do it from scra

[2021-11-17 15:46] Dwarak-PCI opened #1622 "[ENH] window_length parameter in make_reduction method"
**Is your feature request related to a problem? Please describe.**
I want to use specific lagged series such as [y(t-1), y(t-24), y(t-48), y(t-168)]. If I specify window length as 168, my reduction method is going to take all the lagged series starting from y(t-1), y(t-2)... y(t-168)]. I would prefer it to be an array just like fh (forecast horizon).

**Describe the solution you'd like**
window_le

[2021-11-17 17:29] jasonlines commented on #1372
Yep, no problem with cython for me. It did fail on my first go because I hadn't installed a compiler yet, so I deleted the env, installed the community edition of Visual Studio with the C++ compiler, then tried again and it worked fine (verified by importing the dtw function into some code)

[2021-11-18 11:51] jasonlines commented on #1372
Update: I'm a dummy and forgot to downgrade NumPy at the end so cython _did_ work but Numba didn't.

After downgrading NumPy on the last step it breaks the cythonised code because the binaries don't match for the version of NumPy that was used to compile the code vs. the downgraded version of NumPy that is then active and installed.

The fix is to make sure NumPy is downgraded **before** installin

[2021-11-18 12:12] TonyBagnall commented on #1563
as far as I can tell, there are two main problems with the windows build.
numba/numpy conflict
fbprophet cant pip install

the latter is fixed with a conda install. The first is made more complex by cython. If you do a full install [all_extras] then downgrade numpy to 1.19, the compiled cython will not work. Installing numpy version first seems to fix the cython, but bizarrely the tests (e.g. seri

[2021-11-18 12:15] TonyBagnall commented on #1372
I didnt need conda install brotlipy

[2021-11-18 12:54] TonyBagnall commented on #1563
putting this here so I can find it again more easily! https://github.com/alan-turing-institute/sktime/issues/1281

[2021-11-18 13:36] fkiraly commented on #1621
good idea! I'll add the "good first issue" tag, since it seems to be a more or less straightforward case of "fill out the [extension template](https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/forecasting.py)"?

Contributions welcome.

[2021-11-18 13:37] fkiraly commented on #1482
Thanks for investigating this, @lmmentel!

[2021-11-18 18:40] ngupta23 opened #1624 "[ENH] Adapter for DARTS"
**Is your feature request related to a problem? Please describe.**
Currently models from DARTS are not supported in sktime.

**Describe the solution you'd like**
Since the DARTS models use a unified fit, predict format, it may be beneficial to have a DARTS adapter built into `sktime`. The catch seems to be that DARTS works on a proprietary format of data (`TimeSeries`), so the adapter will need to

[2021-11-18 19:53] aiwalter commented on #1624
Which model do you want to use that are not in `sktime`?

[2021-11-18 20:43] ngupta23 commented on #1624
Hi @aiwalter There are many that are not there in `sktime` right now. Is there a technical challenge with adding an adapter for DARTS? I am ok doing it in `pycaret` if it can not be included in `sktime`, just need to understand why the predict does not work. Thanks!

![image](https://user-images.githubusercontent.com/33585645/142493524-e3d5e061-0b98-4231-b062-118b7c9a1026.png)

[2021-11-19 00:36] ltsaprounis commented on #1614
Will do shortly, need to find where we need to do it and make a checklist.

[2021-11-19 02:20] ngupta23 opened #1625 "[BUG] BATS/TBATS In-sample error"
**Describe the bug**
Get reference error when insample predictions are done for BATS and TBATS.

**To Reproduce**
See [code gist here](https://gist.github.com/ngupta23/32856ac7116179fbfe95cea3c1e9ad25)

[code]

**Expected behavior**
Out of sample works ok. Only insample seems to be an issue.

**Versions**

sktime = 0.8.1

[2021-11-19 02:55] ngupta23 opened #1626 "[BUG or not] Theta Forecaster | In-sample predictions"
**Describe the bug**
Not sure if this is a bug or not, but in-sample predictions using a theta forecaster produce only a few point with predictions. Also, it produces a warning about sqrt

**To Reproduce**
See [notebook here](https://gist.github.com/ngupta23/84f88421b74a69159259d0592740af4b)

[code]

**Expected behavior**
Should it have returned more values for prediction interval or are the NA va

[2021-11-19 07:14] TonyBagnall opened #1627 "[ENH] Fix estimators in the EXCLUDE_ESTIMATORS category in unit tests"
currently the following classifiers do not undergo the full suite of tests

EXCLUDE_ESTIMATORS = [
    "ProximityForest",
    "ProximityStump",
    "ProximityTree",
]
this is undesirable, the classifiers should be made to conform and be properly assimilated or they should die.      done:
"ElasticEnsemble", "ShapeDTW

[2021-11-19 08:54] TonyBagnall opened #1628 "[ENH] remove input/ouput tests for all classifiers in series_as_features/tests/test_all_panel_estimators"
these tests check if all classifiers correctly deal with input data. Now this is handled in the base class, these tests are redundant and are performed in classifier/test_base. They can be removed once the redesign is complete

[2021-11-19 09:46] TonyBagnall opened #1629 "[ENH] improve testing efficiency in tests/test_all_estimators.py"
test_fit_return_self calls fit on all estimators

def test_fit_returns_self(estimator_instance):
    """Check that fit returns self."""
    estimator = estimator_instance
    fit_args = _make_args(estimator, "fit")
    assert (
        estimator.fit(*fit_args) is estimator
    ), f"Estimator: {estimator} does not return self when calling fit"

test_fit_idempotent tests a range of things on fitted

[2021-11-19 09:47] TonyBagnall commented on #1627
ShapeDTW fails on a parameter check.
EE passes, but is fearful slow

[2021-11-19 09:59] TonyBagnall commented on #1627
testing on my as yet unmerged branch. PF family fail 8 tests.

ProxStump fails test_fit_idempotent, slightly concerningly!
PF, PS, PT all fail test_fit_does_not_overwrite_hyper_params, test_persistence_via_pickle, test_multiprocess_idempotent

I think some of these will be solved by fit/fit refactor.

[2021-11-19 11:13] ngupta23 commented on #1624
Also, I will be happy to add this to `sktime` directly, if someone can guide me with the prediction problem in the code gist above. Thanks!

[2021-11-19 12:14] TonyBagnall commented on #1627
caused by a typo in the constructor, American and correct spelling mixup
![image](https://user-images.githubusercontent.com/9594042/142621009-ee60c8d2-d17d-4009-aefa-ff976be082df.png)

[2021-11-19 15:52] MatthewMiddlehurst commented on #1616
I have put up a draft PR #1630 containing probability threshold early classifier as a test. I have set it up to follow the current classification API as much as possible. We can completely revamp any part of it as we make decisions, but it may require an extended base class to be implemented.

To make sure the current tests pass and that we can use BaseClassifier, a second function is used to dete

[2021-11-19 16:45] MatthewMiddlehurst commented on #1591
For some more context, we are running signatures on the whole UEA multivariate archive. I would like to include the method in our future evaluations.

Pinging @jambo6 as they may know more.

[2021-11-19 16:57] jambo6 commented on #1591
This is actually an error thrown by `esig` to help prevent memory errors down the line.

Signature feature dimension increases exponentially with the input dimension of the data. The input dimension here is `1345`, a signature of `depth=2` would then have on the order of `1345 ** 2` features (nearly 2 million). You can see how this quickly becomes horrible.

Without additional modifications (e.g.

[2021-11-19 18:31] freddyaboulton opened #1631 "[BUG] Use prophet instead of fbprophet in requirements"
**Describe the bug**

Posted in :

You can repro this like follow:
- Download the fbprophet tar ball [here](https://pypi.org/project/fbprophet/#files)
- Open `requirements.txt`

You should see the following:
[code]

`pystan>=2.14` will install the latest pystan ([pystan 3](https://pypi.org/project/pystan/)). However, Prophet does not support [pystan 3](https://github.com/facebook/prophet#installat

[2021-11-19 18:48] freddyaboulton commented on #1631
Filed this to hopefully remove fbprophet from package repositories:  https://github.com/facebook/prophet/issues/2074

[2021-11-19 23:33] MatthewMiddlehurst commented on #1591
That's fine, I think these limitations should be noted in the docs, however. Could maybe be handled a bit better than a RuntimeError in the esig package as well, but that's less important.

I stopped after the first dataset error, but quite a few more also seem to have problems. Some examples:

Dataset | Train | Test | Class | Length | Dimension | Error
-- | -- | -- | -- | -- | -- | --
FingerMovem

[2021-11-20 11:10] lmmentel commented on #1482
I've spent some time looking at the CI/CD pipelines and I I think it might be a little too complex for what it does.

Here is what I learned:

#### github actions

- [.github/workflows/assign-contributor.yml](.github/workflows/assign-contributor.yml)
- [.github/workflows/build-and-test.yml](.github/workflows/build-and-test.yml)
    - ``code-quality`` linting, style, format
    - ``test-examples``

[2021-11-20 16:20] #1563 closed

[2021-11-20 16:35] srinuti commented on #1563
Would it be possible to summarize the bug fix please. I tried to follow the
tread unable to understand what exactly needs to be done on my end to make
it work.

With regards
Srinivas

On Sat, Nov 20, 2021 at 10:20 AM Tony Bagnall ***@***.***>
wrote:

[2021-11-20 22:37] fkiraly commented on #1624
@ngupta23, the main point is that zouÖ

* need to set the line `"y_inner_mtype": "pd.Series"` to the type that you are using internally. It says `pd.Series` now, but you probably want `pd.DataFrame` or `np.ndarray`?
* Whatever you pick, that's what will be given to the input of `_fit`, and that's what you need to return in `_predict`. You currently return a numpy array. It breaks since you are not

[2021-11-20 22:45] fkiraly commented on #1482
FYI @mloning, @freddyaboulton.

@lmmentel, this sounds excellent!
We wanted to move to GitHub actions eventually.

FYI, @mloning had already started here
https://github.com/alan-turing-institute/sktime/pull/1321
but hasn't finished this, I think it's on hold - don't know the reason, perhaps simply lack of time.
@mloning, do you want to comment what happened?

[2021-11-20 22:47] fkiraly commented on #1563
I think the solution for @TonyBagnall, follow the instructions here:
https://github.com/alan-turing-institute/sktime/issues/1372
(assuming this is on windows)

@TonyBagnall, is that right?

[2021-11-20 23:20] fkiraly commented on #1624
Perhaps more concretely, what I'd suggest:

* set `"y_inner_mtype": "pd.DataFrame"`
* in `_fit`, ensure you assume `y` is data frame, and convert it to the darts `TimeSeries`, using the class method `from_dataframe`
* in `_predict`, convert the return to a `pd.DataFrame`, using the `pd_dataframe` method of `TimeSeries`

[2021-11-20 23:39] srinuti commented on #1563
Yes, that is correct. It is windows.

Thanks for addressing this bug shall try and update

On Sat, Nov 20, 2021, 4:48 PM Franz Király ***@***.***> wrote:

[2021-11-21 09:49] TonyBagnall commented on #1563
Hi, the bug was that numba currently doesn't work with numpy 1.21, so we pinned numpy to 1.19.3. If you want a standard install,, you should simply install numpy 1.19. however, if you want soft dependencies, it's all complicated by fbprophet and cython. We will put some more detailed install instructions up

[2021-11-21 12:51] Lovkush-A opened #1634 "Technical debt in aligner module"
During the review process of #1264, a few items of work came up that were better dealt with in separate PRs.

1. creating a notebook demo
2. having more comprehensive unittests
  * e.g. covering cases with multiple alignment
  * e.g. testing the dtw aligner's contract somehow. (note, checking for identity alignment is not sound. I think one option would be to create a mock object for the dtw packa

[2021-11-21 16:24] ngupta23 commented on #1624
Hi @fkiraly , Thank you for the suggestions. It works after I make the changes per your suggestion. **[Working Gist here](https://gist.github.com/ngupta23/0fd62e9091500aef6caa6bf21065656c)**

One followup question. Deep learning models can take additional arguments in `fit` for example

[code]

Would it be possible for sktime `fit` to accept kwargs?

[2021-11-21 16:56] lmmentel commented on #1482
Thanks for bringing up #1321 @fkiraly. I went through it and it seems we're moving in a similar direction. Would be great to connect with @mloning to align on how to push it over the finish line.

I already have a working [pyproject.toml](https://github.com/lmmentel/sktime/blob/enh-add-pyproject-toml-issue-1482/pyproject.toml) that could be the single source of truth for dependencies and project m

[2021-11-23 00:00] fkiraly-shell commented on #1448
Further content that should move from the "how to contribute" page to the developer guide rubric:
* Git(Hub) flow for sktime
* any content about the developer installation

Generally, "how to contribute" should point to the developer guide, which should point to individual rubrics such as "developer set-up" and "GitHub flow model for contributions". The developer guide should have a "prerequisites

[2021-11-23 00:00] fkiraly-shell commented on #1448
related issue: #1203

[2021-11-23 00:01] fkiraly-shell opened #1635 "[DOC] documentation & developer instructions (Windows experience) fixing umbrella issue"
I've been trying to set up a sktime developer environment in my day job role, we have a standard hardware set-up that uses Windows laptops.
Unlike the unix/mac experience which seems smooth, I truly must say that the Windows experience of the developer instructions is quite a bit atrocious, even mere installation can be confusing.
We've done user testing with 5 people, and no one managed to comple

[2021-11-23 00:04] fkiraly-shell commented on #1372
from some company internal user testing:

* older VS build tools are no longer easily available, new version is 2022. Installation seems to work with 2022, i.e., MSVC v143, and does not need 2017 specifically anymore.
* installation guide should contain "validate" steps
* "should look like this" screenshots would be useful
* "make docs" is not available on Windows
* missing instruction to create a

[2021-11-23 10:17] amrith-shell commented on #1635
I will pick up the 2nd task -  completing and re-organizing the developer guide (currently mostly empty!) and the "how to contribute" page.

[2021-11-23 12:36] #1558 closed

[2021-11-23 12:51] fkiraly commented on #1635
Great (as discussed) - @amrith-shell, it would be nice if you could kindly outline what in your opinion should go where, i.e., a sketch of end state. Happy to help with that tomorrow, although I assume you might already have better ideas since you worked through this in the user journey.

[2021-11-23 13:25] fkiraly commented on #1624
Unfortunately no, that would require a major API change and would "break" the unified interface pattern that half the world relies on... it's really a strong requirement that you can switch out different algorithms and the usage is absolutely *identical* as long as it is the same kind of algorithm (e.g., forecaster). Like a power plug.

Lack of a unified interface like this is one of the major des

[2021-11-23 13:31] fkiraly commented on #1624
additionalls, since these are neural networks, you may think about extra methods or attributes that users can query for summaries, such as learning curves or validation losses.

[2021-11-24 12:48] TonyBagnall commented on #1635
@jasonlines has a version of this too, good to compare notes

[2021-11-24 12:52] jasonlines commented on #1635
yep, went through the pain of getting it up and running on windows last week so uninstalled everything to do it again yesterday from first principles and document it. I've taken screenshots throughout and the plan is to put it together in a doc/guide - happy to put it together as a notebook or similar initially and go from there?

[2021-11-24 12:57] fkiraly commented on #1635
great! Let's do this together then

[2021-11-24 13:05] TonyBagnall opened #1639 "[ENH] Separate the tests for soft and hard dependences in test_all_estimators and test_panel_estimators"
**Is your feature request related to a problem? Please describe.**

running test_all_estimators requires all of the soft dependencies be installed. This is annoying when new ones are introduced, particularly when reinstalling all_extras causes fbprophet to reinstall wrong versions of things and it all needs resetting.  I am getting strange bugs with the testing results passing locally but not on t

[2021-11-24 13:09] eenticott-shell commented on #1635
I have some instructions written up in markdown that I was able to use for a successful install on a new windows pc. It will be interesting to see if we have the same path.

[2021-11-24 13:49] jasonlines commented on #1635
ok great, sounds good. I'll aim to get mine into a markdown by tomorrow lunchtime (hopefully the close of play today though) and we can compare notes before going from there

[2021-11-24 21:20] fkiraly commented on #340
?

[2021-11-24 23:00] jasonlines commented on #1635
It took longer than planned but please see #1640 for my first pass at this

[2021-11-25 08:04] AngelPone commented on #962
@fkiraly I can work on this. Please see #1641 .

[2021-11-25 09:00] TonyBagnall opened #1642 "[BUG] NaNs returned by transformations.series.difference.Differencer"
**Describe the bug**
this was spotted by Lukasz Mentel (@lmmentel) thanks for this. The anomaly arises when running transformations testing locally. Strangely, this is not picked up with the repo tests. Differencer in transformations.series.difference return the same size data frame as input, which means for first order difference it returns nans in the first row

**To Reproduce**

[code]
outputs

[2021-11-25 10:58] TonyBagnall commented on #1627
ShapeDTW has been removed from the list

[2021-11-25 11:21] fkiraly commented on #1627
Not how I would have formulated it exactly, but I support the underlying sentiment.

[2021-11-25 11:22] fkiraly commented on #1627
Indeed, the tests fail whenever one does not use Her Majesty's English as one properly should.

[2021-11-25 11:35] TonyBagnall commented on #1642
so this is a pandas version issue I think. It works on build-and-test because that installs earlier pandas version (for 3.6 test it installs pandas == 1.1.5). When I install 1.1.5, the tests all pass

[2021-11-25 12:19] lmmentel commented on #1642
The error I'm getting is
[code]

So it seems that `lag` variable in the call `Zt = Zt.diff(lag)` is something that pandas does not like.

It seems that there has been some changes to the `diff` method that introduce type checking. I tried to narrow it down to a specific version of pandas and found this https://github.com/pandas-dev/pandas/pull/36710 I couldn't find any mention of it in the release

[2021-11-25 13:07] mloning opened #1643 "[BUG] evaluate fails with Imputer"
**Describe the bug**
Calling `evaluate` with a pipeline and imputer fails.

**To Reproduce**
[code]

**Expected behavior**
No error.

**Versions**
<details>
System:
    python: 3.7.8 | packaged by conda-forge | (default, Jul 31 2020, 02:37:09)  [Clang 10.0.1 ]
executable: /Users/mloning/.conda/envs/sktime-dev/bin/python
   machine: Darwin-19.6.0-x86_64-i386-64bit

Python dependencies:
          pi

[2021-11-25 13:54] lmmentel commented on #1642
I've isolated a minimal example

[code]

which fails with

[code]

However if I use the univariate series `y_airline` instead of `y_airline_df` it works just fine. My suspicion is that diff might need both arguments `periods` and `axis` set to work properly for a dataframe instead of a positional argument. Will investigate further.

[2021-11-25 14:17] aiwalter commented on #1643
I get `ValueError: `fh` must not be empty`. From first look:  Seems its coming from the `PolynomialTrendForecaster` which is used in `Imputer` with `method=drift`. I guess it needs `fh` in `fit()`? So we might have to pass `fh` also in `evaluate`?

[2021-11-25 14:40] mloning commented on #1643
Yes, I get the same error.

I think `evaluate` works fine. Note that we pass the `fh` twice both to `fit` and `predict` which is unnecessary, passing it only in `fit` should be fine.

I'm not sure, but think the issue is in `_impute_with_forecaster` where we construct the `fh` from the index of missing values (line 207), can it not be that for some columns there are no missing values and hence we

[2021-11-25 14:53] aiwalter commented on #1643
ah yep, we should then probably first check if there is anything to impute at all, if not we even dont need to use the `PolynomialTrendForecaster`. Also it would be faster for `Imputer`

[2021-11-25 15:25] TonyBagnall commented on #1642
fantastic, thanks

[2021-11-25 15:58] TonyBagnall opened #1645 "[BUG] difference in testing because of different pandas versions"
**Describe the bug**

tests on build-and-test fail/pass when using pandas 1.1.5 but pass/fail when using 1.2.0 or later

https://github.com/alan-turing-institute/sktime/pull/1594

https://github.com/alan-turing-institute/sktime/issues/1642

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-11-25 16:53] #1593 closed

[2021-11-25 17:59] mloning opened #1647 "[BUG] all_tags returns empty list with estimator type"
**Describe the bug**
`all_tags` returns empty list when passing estimator type. I suspect it was just copied over from `all_estimators` and can just be removed for now. Otherwise the docstring needs to be updated too.

**To Reproduce**
[code]

**Expected behavior**
Get list of tags applicable for given estimator type.

[2021-11-25 19:02] #1645 closed

[2021-11-25 23:10] fkiraly commented on #1647
fixed in the linked PR

[2021-11-26 07:58] mloning opened #1649 "[BUG] forecaster fit/predict interface"
**Describe the bug**
I think the current behaviour of the forecasting API isn't very consistent. My preferred specification is described here: https://github.com/sktime/community-org/blob/main/meetups/previous_meetings/20210909-meetup.md

**To Reproduce**
[code]

**Expected behavior**
Consistent handling of numpy arrays. User-friendly error messages. Preferably also consistent output types.

[2021-11-26 08:28] aiwalter commented on #1643
I guess the issue might also be related to the case that you are using multivariate here. I will try to fix it in next days if I have time :)

[2021-11-26 09:55] fkiraly commented on #1649
@mloning, some of this was one of the things fixed in the transformers refactor, #1365.
Originally, we were going to allow only 2D numpy, but decided to relax to 1D numpy
With it merged, the checks for 1D now work properly, here;s the relevant bullet point:

On top of this, there was another genuine bug (thanks for reporting!), namely:
`_split` and `convert` would break since both were calling `pa

[2021-11-26 10:00] #1642 closed

[2021-11-26 12:17] AngelPone commented on #1404
@aiwalter are you working on this? If not, I can help. While I suggest  to add this `inverse-error` method into `EnsembleForecaster` instead of `AutoEnsembleForecaster`, such as `EnsembleForecaster(forecasters, weights='inverse-error')`.  If added into `AutoEnsembleForecaster`, `method` and `regressor` may be confused.

[2021-11-26 12:42] TonyBagnall opened #1651 "[BUG] benchmarking.tests.test_evaluator.test_wilcoxon passes/fails with different versions of pandas"
**Describe the bug**

thanks to @immentel for identifying this issue previously identified here
https://github.com/alan-turing-institute/sktime/pull/1198

the problem is caused by changes in pandas between versions 1.1.5 (used for the automatic repo tests) and versions >=1.2.0 (specifically tested with 1.3.4) that results in inconsistency in the ordering of the underlying data structure when direc

[2021-11-26 12:57] aiwalter commented on #1404
Hi @AngelPone we missed you :) especially for the HTS topic, but glad that you are back again :) I would put it into `AutoEnsembleForecaster`, we might have more such weight selection algos implemented there. Then we would have the regressor method and the inverse-error one. The `EnsembleForecaster` is for me more a vehicle for users to give custom weights.

[2021-11-26 14:37] chrisholder opened #1652 "[ENH] Numba numpy reimplementation"
**Is your feature request related to a problem? Please describe.**
Numba is a library that drastically speeds up python performance while only requiring a simple decorator. Numba does this by looking at the python code and compiling it to c. To achieve this many of the numpy and python standard library functions have been rewritten by the guys at numba so a python function can be mapped to these p

[2021-11-26 17:45] AngelPone commented on #1404
@aiwalter agree. I will work on this.

[2021-11-26 21:26] #1651 closed

[2021-11-26 21:27] #962 closed

[2021-11-27 01:31] ivaquero opened #1654 "[MND] request: osx-arm64 build in conda-forge"
Hi, I am a user of this wonderful package and I just switched to Mac M1.

Do you have any plan for osx-arm64 build in conda-forge? I saw all of the dependencies have already got arm64 build.

[2021-11-27 02:10] iki77 opened #1655 "[ENH] Add Group split version for each WindowSplitter"
**Is your feature request related to a problem? Please describe.**
I need cross-validation for time series panel data

**Describe the solution you'd like**
Time series panel data should use WindowSplitter that also split by Group for cross-validation

[2021-11-27 09:15] mloning commented on #1649
Update is also broken:

[code]

[2021-11-27 12:13] amrith-shell commented on #1635
In terms of the 2nd task of re-organizing the documentation/developer guide, I took the approach of categorizing various sections of the documentation and created a hierarchy/ decision tree of the documentation structure. Please see my initial draft.

If you have any comments or suggestions please do let  me know.

![documentation design](https://user-images.githubusercontent.com/83223497/14368078

[2021-11-27 15:01] fkiraly commented on #1624
@ngupta23, how is it going? Let me know if the neural networks give you trouble, happy to have a look.

[2021-11-27 16:59] lmmentel opened #1657 "[BUG] Notebook example `02_classification_univariate.ipynb` fails on python 3.8"
**Describe the bug**

Running the notebook `examples/02_classification_univariate.ipynb` fail with `nbclient.exceptions.DeadKernelError: Kernel died` error on python 3.8

**To Reproduce**
Run

[code]

**Expected behavior**
Command is succesfull.

**Additional context**

In CI python 3.7 is used to run the notebook and the command executes successfully.

I added a `--debug` flag and managed to narr

[2021-11-27 17:39] TonyBagnall commented on #1652
can we profile to find where these are used?

[2021-11-28 10:43] fkiraly commented on #1649
well, it would be great if you could look at the proposed fix in #1365.

[2021-11-28 10:44] fkiraly commented on #1654
@freddyaboulton, @lmmentel, @mloning, FYI

[2021-11-28 10:55] lmmentel commented on #1654
Thanks for reporting this! As far as I know there is no immediate plans to support M1 since it's hard to find build environments supporting M1 at the moment. There might be ways around but that would require some effort.

The good news is that a there are efforts in sktime for eliminating the compiled code and once the codebase is pure python distribution and support for more platforms should incr

[2021-11-28 10:56] fkiraly commented on #1635
Thanks!I think idea-wise this makes a lot of sense, excellent!

Few comments:
* you forgot "get started", that's perhaps the most important entry point! This should also link to "installation" directly. The "installation" page, in my opinion, should contain workflows for release install, development version install, and developer/build install (these are very similar).
* moving stuff from "contrib

[2021-11-28 11:09] fkiraly commented on #1654
Yes, i think @lmmentel is right: let's revisit this once the compiled code is gone. I suspect v0.10.0 is when that will be the case, start of 2022. python 3.9 support is also a higher priority.

If until then someone has good pointers on the build environments, much appreciated.

Regarding installing from source, you can have a look at our [installation guide](https://www.sktime.org/en/stable/inst

[2021-11-28 13:27] ivaquero commented on #1654
Thank you so much. Good suggestions, I will try to explore workarounds.

[2021-11-28 19:01] lmmentel opened #1662 "[BUG] `test_fit_does_not_overwrite_hyper_params[FeatureUnion]` failing"
Update: the failure has been silenced in the tests to enable refactor work on CI/CD, but the bug is still there.
To reproduce, the test should be run manually, or with the silencing disabled (`tests._config.EXCLUDED_TESTS`)

---

**Describe the bug**

In the refactored CI pipeline based on github actions #1620, and is blocking the PR.

The test `test_fit_does_not_overwrite_hyper_params[FeatureUnio

[2021-11-29 03:37] ngupta23 commented on #1624
Hi @fkiraly , Thanks for the feedback. I have not had a chance to evaluate this further. I think some collaborative effort here between sktime and pycaret would be good. Would you be open to adding this adapter in `sktime` directly?  I am not sure how much work is going on with respect to `sktime-dl` (@mloning ?), but adding this adapter would be a good idea in the interim.

I would be happy to do

[2021-11-29 09:30] fkiraly commented on #1662
I think the bug is straightforward, just looking at it (needs to be confirmed).

`FeatureUnion` has a `transformer` attribute which contains the components. Instead of fitting these directly where they are, the transformers should be cloned (using `deepcopy` or a safe `sklearn` `clone`) to a `transformer_` attribute and fitted there, without having side effects on the `transformer` attribute writt

[2021-11-29 09:32] fkiraly commented on #1662
Relates to this section of the extension contract specification in the extension template which is probably violated:

[code]

[2021-11-29 09:35] fkiraly commented on #1662
don't have time to fix it today, but if someone wants to pick it up quickly, I've attached the "good first issue" label

[2021-11-29 09:45] lmmentel commented on #1662
Thanks for the input @fkiraly! Let me try to make it work.

[2021-11-29 17:49] lmmentel commented on #1662
I found that `FeatureUnion` has a lot of code duplicated from [sklearn.pipeline](https://github.com/scikit-learn/scikit-learn/blob/0d378913b/sklearn/pipeline.py) so I got rid of that in #1665 and I'm getting a different test failing this time, namely:

[code]

Which is a bit weird since if I type the minimal example it works as expected:

[code]

The test though. I think it's because it's a sklear

[2021-11-29 17:53] lmmentel commented on #1662
On a broader note, I don't know if `FeatureUnion` is well placed being tested on par with other estimators since it's a "meta" estimator that takes other estimators as arguments. From that perspective it's closer to a `Pipeline` object. Any thoughts @fkiraly @mloning ?

[2021-11-29 18:15] #813 closed

[2021-11-29 21:26] fkiraly commented on #1662
Yes, the test looks for the text `has not been fitted`, but the expectation raised has `is not fitted` instead. So either changing the error message or the text that the test is looking for should fix this, would suggest the former if that's easy.

[2021-11-29 21:27] fkiraly commented on #1662
That's perfectly fine, since composites (what you call "meta" estimators) usually follow the template of an estimator type, in this case a transformer. That's the same with `sklearn` pipeline or grid search, which results in an object that behaves just like your normal supervised learner or transformer.

[2021-11-30 07:17] AngelPone opened #1667 "[ENH] add temporal aggregation seriestoseries transformer"
**Is your feature request related to a problem? Please describe.**

Temporal aggregation aggregates high-frequency time series into lower frequency time series using a fixed nonoverlapping window. For example, we can aggregate daily time series into weekly time series using a window of length 7. Temporal aggregation in different levels can strengthen or attenuate different features of the time ser

[2021-11-30 11:46] EEEE77 opened #1668 "ExponentialSmoothing smoothing_level manually?"
Dear All,

Is it possible to choose smoothing_level manually for ExponentialSmoothing forecaster?
Earlier constructor of ExponentialSmoothing (i.e. v0.4.3 https://www.sktime.org/en/v0.4.3/modules/auto_generated/sktime.forecasting.exp_smoothing.ExponentialSmoothing.html) included the parameter but the current version does not. However, statsmodels ExponentialSmoothing considers the manual smoothing

[2021-11-30 22:47] mloning commented on #1662
We have our own `sktime.exceptions.NotFittedError`, seems like the FeatureUnion is raising scikit-learn's one.

[2021-12-01 10:45] amrith-shell commented on #1635
Updated documentation structure based on feedback
![documentation design](https://user-images.githubusercontent.com/83223497/144220608-e59d41af-2072-4852-909b-d6807f87d229.png)

[2021-12-01 11:03] eenticott-shell commented on #1635
[Developer install sktime instructions.md](https://github.com/alan-turing-institute/sktime/files/7633142/Developer.install.sktime.instructions.md)

Here are my instructions written in markdown for windows developer installation. These should take you from start to finish (tested on my home computer). It remains to integrate them into the current installation instructions. I will set up a PR for up

[2021-12-01 14:37] eenticott-shell commented on #1523
I will have a look at fixing this

[2021-12-01 16:31] IlyasMoutawwakil opened #1673 "[BUG] Prophet wrapper internally changing argument X (exogenous data)"
When fitting prophet with exogenous data, the wrapper changes the argument `X` resulting in some issues; you can't use the same variable X as argument twice since it'll contain the column name `ds` after the first run, so you need to create copies at each occurence.
It gets worse when you do a `fit_predict` since the X changes internally (because of `fit`), when `fit_predict` calls `predict`, it r

[2021-12-01 17:06] fkiraly commented on #1673
@IlyasMoutawwakil, are you positive that this is a *side effect* on the argument `X`?
That is, is the object `X`, after passing to the prophet estimator, differenf from when passed?

I would be surprised.
Why was this not captured by `test_all_estimators/test_methods_have_no_side_effects`?

[2021-12-01 17:07] fkiraly commented on #1673
ah, I can answer this myself: `_make_args` creates no `X` for forecasting.

So the test would not detect a side effect in `X`.

[2021-12-01 17:09] fkiraly opened #1674 "[ENH] `test_methods_have_no_side_effects` should test for side effects in all key arguments"
See #1673.

The prophet wrapper has side effects on `X`.

This was not discovered by `test_all_estimators/test_methods_have_no_side_effects` since its key dependency `_make_args`, which creates default arguments, does not create non-trivial `X` (this is set to `None`).

`_make_args` should be modified that all arguments of critical functions are properly tested for side effects.

[2021-12-01 17:09] fkiraly commented on #1673
I've turned the lack of test coverage in an issue here:
https://github.com/alan-turing-institute/sktime/issues/1674

[2021-12-01 17:19] IlyasMoutawwakil commented on #1673
I'm pretty positive, here I created X_train dataframe with no `ds` column and was added to it after the call to `fit`.

https://colab.research.google.com/drive/1TtZJMLKIC2jJUPmWanbBAn9GobtCPJEZ?usp=sharing

[2021-12-01 18:32] mloning opened #1675 "[ENH] Add holiday transformer"
**Is your feature request related to a problem? Please describe.**
While there is a `DateTimeFeatures` transformer to get date/time features from a time series (see https://github.com/alan-turing-institute/sktime/issues/1273), we don't have a transformer for handling holidays.

**Describe the solution you'd like**
A `HolidaysFeatures` transformer that creates dummies for holidays based on a date-t

[2021-12-01 18:32] mloning commented on #1675
I'm working on this.

[2021-12-01 18:46] mloning commented on #1673
Yes, I've observed the same before but forgot to raise the issue. Thanks for raising it now @IlyasMoutawwakil!

[2021-12-01 19:59] aiwalter commented on #1673
so basically we just have to add `X = X.copy()`? Is so, this should probably happen in the base class

[2021-12-01 23:24] IlyasMoutawwakil commented on #1673
@aiwalter I can't see how `X = X.copy()` would solve it, I guess all of the problem comes from the function `_merge_X` which modifies `X` (by adding `ds` to it) then merges it with `df` at lines 200-202 in _fbprophet.py :
[code]
a simple solution would be not adding `ds` to `X` and in the merging line `df =  merge(X.rename({'index': 'ds'}, ...)` that's if we're avoiding creating a local variable a

[2021-12-02 00:25] fkiraly commented on #1673
we also need to check whether the case that `X` *already* has a column named `ds` is covered properly.

[2021-12-02 00:33] fkiraly commented on #1673
I think that would work, first thing in `_fit` and `_predict`.
Seems a simple fix, hence good first issue.

[2021-12-02 16:16] Aparna-Sakshi opened #1678 "Estimator Test Parameters Refactor"
### Aim
To start to move default parameters out of `tests/_config` and into the concrete estimators, by specifying the parameters inside the `get_test_params` method.

This would declutter the logic, and make extending sktime much easier - since it reduces the "points of extension" by one. Default parameters would no longer have to be entered in _config but become part of the list of things to imp

[2021-12-02 16:29] Aparna-Sakshi commented on #1678
@fkiraly Let me know if I have to make any changes to the above issue.

[2021-12-03 12:46] fkiraly opened #1683 "[ENH] Global/panel/hierarchical forecasting base class design & first implementation"
We've aligned in the workstream to design a *joint* base class for global, panel, and hierarchical forecasting.
This can be a separate base class or later adapted as an extension to the existing forecasting base class.

A STEP for this is here:
https://github.com/sktime/enhancement-proposals/pull/17

We need to:
- [ ] align on, and merge the STEP
- [ ] implement a prototype (perhaps first without

[2021-12-03 12:46] fkiraly commented on #1683
I believe @satya-pattnaik was working on a prototype, although I notice we haven't agreed on or merged the STEP.

[2021-12-03 12:59] fkiraly commented on #1678
thanks, great work!
Can you kindly update this and merge with #1098 (which is sort of a duplicate).

I.e., move useful things from #1098 such as explanations here, and then we can close #1098.

[2021-12-03 13:44] fkiraly opened #1684 "[ENH ] Global/panel forecasting base class & tests refactor - modification route"
@danbartl's alternative proposal to modify existing forecasting base classes & tests to allow quick upgrade to global/panel.

This needs to be presented as PR for discussion and feedback.

Related issue: #1272 (sub-case of panel forecasting).

[2021-12-03 13:54] fkiraly opened #1685 "[ENH] design `make_reduction` to include window summaries, specify end state"
@danbartl has created reducers which can make use of window summaries (see issue #1612).

He suggested that this should be one of the default options in `make_reduction`.

We need to see the different options here, and end state signature, this issue is for reaching consensus on that.

In all cases, `make_reduction` should remain downwards compatible (or a case for major API change and deprecation

[2021-12-03 13:59] fkiraly opened #1686 "[ENH] Define critical interface points for multi-index data containers in forecasting"
We need to understand which places need to be changed or extended, which new functionality is needed to work with the multi-index data container. E.g., tests, base classes, input/output checks, utilities.

@ltsaprounis has committed to do this, the outcome would be a list of important interface points.

Idea is to start with a hierarchical data set.

[2021-12-03 14:11] fkiraly commented on #1673
@kejsitake offered to work on this, thanks!

[2021-12-03 14:13] fkiraly commented on #1657
@Aparna-Sakshi offered to investigate this.

[2021-12-03 14:22] fkiraly commented on #1369
This was solved in the transformers refactor, PR #1365.

[2021-12-03 14:22] #1369 closed

[2021-12-03 15:13] fkiraly commented on #1202
This has been done by @RNKuhns in #1329.

[2021-12-03 15:13] #1202 closed

[2021-12-03 15:21] fkiraly commented on #1683
in the meeting, @danbartl has proposed an alternate design or process based on gradual change rather than new base class. He'll summarize, issue for that is #1684.

[2021-12-03 15:23] fkiraly commented on #1685
One question for @danbartl: I'm concerned about the `no_features` argument.
That seems counterintuitive and does not appear in my conceptual model of the algorithm. What is that? A hack?

[2021-12-03 15:29] fkiraly opened #1687 "[ENH] Forecasters: prediction interval, probabilistic forecasting interface refactor"
We're currently working on a major refactor of the forecasting core interfaces to allow probabilistic and interval predictions.
The design is here:
https://github.com/sktime/enhancement-proposals/blob/main/steps/13_proba_forecasting/step.md

Major work items:

Design:
- [x] STEP (design) #984

Interface/framework refactor:
- [x] framework: `predict_interval` and `predict_quantiles`
- [x] framework

[2021-12-03 15:43] #1598 closed

[2021-12-03 18:16] aiwalter opened #1688 "[ENH] NaiveForecaster to be able to forecast by copy&paste from previous season(s)/values"
**Is your feature request related to a problem? Please describe.**
There is a simple naive forecasting possible by means of just copying values from the most recent season(s). Example for shampoo data can look as follows:
[code]
![image](https://user-images.githubusercontent.com/29627036/144651953-c62969b9-f498-4ea9-a4f1-fe2aaa989b8e.png)

Together with a `Detrender`, this might be a powerful naiv

[2021-12-03 18:46] mloning commented on #1624
Hey, yes, adding an adapter sounds like a good idea. One complication is to avoid adding a dependency on the deep-learning frameworks. But it seems like darts is separate out different sets of dependencies already.

[2021-12-03 19:05] mloning commented on #1688
I may not fully understand what you have in mind, but last seasonal forecasts are already possible:

[code]

![image](https://user-images.githubusercontent.com/21020482/144658718-38745bcf-7c4e-495e-89e3-8584b7f49663.png)

[2021-12-03 20:38] aiwalter commented on #1688
ah nice, thx for clarification @mloning !
I was not aware that `last` in combination with `sp` is already doing this. Should have looked better into it probably. I think just taking the last 4 points to forecast the next 4 points will then work when I set `sp=4`, right. So even if there is basically no seasonality known or identified, I would just set `sp=4`, right?

[2021-12-03 20:42] aiwalter commented on #1688
let me close it then :) happy that this is already working

[2021-12-03 20:42] #1688 closed

[2021-12-03 22:54] mloning commented on #724
Closed for now due to inactivity. I'm happy to revisit the idea if this is still relevant.

[2021-12-03 22:54] #724 closed

[2021-12-03 22:55] mloning commented on #228
Closed in favour of new roadmap planning: https://github.com/sktime/community-org/blob/main/meetups/previous_meetings/20211203-roadmap-planning.md

[2021-12-03 22:55] #228 closed

[2021-12-03 22:58] mloning commented on #655
Closed now since cython distances have become deprecated.

[2021-12-03 22:58] #655 closed

[2021-12-03 23:02] mloning commented on #612
Added this to the wish list and closed the issue since we won't be implementing this via tensorflow.

[2021-12-03 23:02] #612 closed

[2021-12-03 23:05] mloning commented on #534
[code]
This now raises an appropriate error that we currently cannot handle the conversion.

[2021-12-03 23:05] #534 closed

[2021-12-03 23:06] mloning commented on #588
Closed by #1330

[2021-12-03 23:06] #588 closed

[2021-12-03 23:08] mloning commented on #501
Closed by #1049

[2021-12-03 23:08] #501 closed

[2021-12-03 23:12] fkiraly commented on #534
... but we should be able to handle it, no? Would this not warrant an issue?

[2021-12-04 01:18] mloning opened #1690 "[BUG] CanonicalIntervalForest breaks with CIT tree"
**Describe the bug**
When running the below code snippet, I get:

**To Reproduce**
[code]

**Additional context**
There's a [question on TSF on StackOverflow](https://stackoverflow.com/questions/70212188/how-to-know-from-which-interval-of-the-input-the-features-used-in-sktimes-times) in which I wanted to show CIF as an alternative but got the above error.

[2021-12-04 01:25] mloning commented on #916
Not enough info to understand the bug.

[2021-12-04 01:29] mloning commented on #880
This is now working.

[2021-12-04 01:29] #880 closed

[2021-12-04 01:35] mloning commented on #1183
Closed in favour of https://github.com/alan-turing-institute/sktime/issues/1204

[2021-12-04 01:35] #1183 closed

[2021-12-04 01:41] mloning commented on #1148
I think we should transfer this issue into the relevant developer guide section and close it.

[2021-12-04 01:41] mloning commented on #1115
Closed by #1365

[2021-12-04 01:41] #1115 closed

[2021-12-04 01:43] mloning commented on #1276
Closing this now, @bldrake feel free to reach out again if you think we can help.

[2021-12-04 01:43] #1276 closed

[2021-12-04 01:47] mloning commented on #1425
This is now done.

[2021-12-04 01:47] #1425 closed

[2021-12-04 01:51] mloning commented on #1550
Closed in favour of #1372

[2021-12-04 01:51] #1550 closed

[2021-12-04 01:59] #1500 closed

[2021-12-04 02:02] mloning commented on #1590
Hi @knsantosh27 and sorry for the late reply. There is some documentation here: https://github.com/alan-turing-institute/sktime/blob/main/examples/window_splitters.ipynb but I agree that updating the docstrings would be helpful.

[2021-12-04 02:06] mloning commented on #1578
Adding a link to the webpage would be good: https://www.sktime.org/en/stable/developer_guide/add_estimators.html

[2021-12-04 12:46] mloning opened #1693 "[ENH] Add Fourier featurizer"
**Is your feature request related to a problem? Please describe.**
There is no Fourier featurizer to model seasonality in forecasting pipelines.

**Describe the solution you'd like**
Add a `FourierFeatures` transformer, similar to the `DateTimeTransformer` (#1273)

**Additional context**
Related issues: #1675

[2021-12-04 14:47] #1647 closed

[2021-12-04 15:49] mloning opened #1697 "[BUG] transformer multi-column pd.DataFrame output conversion fails"
**Describe the bug**
It seem like series-to-series transformers cannot return multiple columns when passing a pd.Series as input.

**To Reproduce**
[code]

**Additional context**
This is relevant for "featurizers" as in #1693.

**Version**
main at commit 8ca23bd85e60d

[2021-12-04 15:53] #1643 closed

[2021-12-04 17:21] mloning commented on #1194
More details on why `perf_counter` should fix this issue: https://stackoverflow.com/a/25787875/9334962

[2021-12-04 19:14] fkiraly commented on #1194
Perhaps I'm really slow to understand, but how does the content of the stackoverflow post relate to the bug? What exactly in `time.time` caused the bug, why does the move to `perf_counter` fix it?

Sorry for asking, but when reviewing a bugfix, I should understand what has happened in fixing it. I'm probably just slow/dense.

[2021-12-04 19:19] mloning commented on #1194
My understanding is that `time.time` may be to imprecise to measure very short run times, hence sometimes it reports zero seconds elapsed. We check if run times are always strictly positive, so this then raises the error. `time.perf_counter` should fix that because it's more precise. Why it's more precise is described in the above StackOverflow post.

[2021-12-04 23:02] #1194 closed

[2021-12-04 23:19] #1430 closed

[2021-12-05 08:29] #1533 closed

[2021-12-05 10:32] #1649 closed

[2021-12-05 20:56] lmmentel commented on #1639
One way to do it might be by _marking_ the relevant tests https://docs.pytest.org/en/6.2.x/example/markers.html#mark-examples, let's say with a `core` and `extra` or `all_extras` to match the pip flag. It might not be optimal to implement since I saw that a lot of the test are parameterized and don't always distinguish between dependency sets.

[2021-12-06 00:37] fkiraly commented on #1639
Hmmm - if we introduce `pytest_generate_tests` throughout, we could inside separate by estimators with extra dependencies or not.

[2021-12-06 00:39] fkiraly commented on #1697
yes, I noticed that too when thinking about #1677.

I was wondering what the behaviour should be in that case. `pd.DataFrame` by default? Seems easiest.

[2021-12-06 00:49] fkiraly commented on #905
update from #968 - no one is working on this, so it's free again

[2021-12-06 01:07] fkiraly commented on #1697
@mloning, also wondering how to properly test this.
I have been thinking about a more comprehensive suite of transformers tests than we currently have. We need to cover cases like this, and then check inputs/outputs. A tag that indicates whether the number of variables might change (e.g., grow), or what it is, might help.

[2021-12-06 10:43] TonyBagnall commented on #1609
https://github.com/alan-turing-institute/sktime/issues/1589

[2021-12-06 13:33] TonyBagnall opened #1708 "[ENH] Make BaseClassifier abstract with ABC"
**Is your feature request related to a problem? Please describe.**

both _fit and _predict should be properly abstract using ABC, rather than just raising an error.

This cannot be done until all classifiers conform to _fit/fit model. This is linked here

- #1609
- #1608
- #1607
- #1606

this is complicated by the fact that it seems TimeSeriesForestClassifier is used in annotation, benchmarking, f

[2021-12-06 14:19] TonyBagnall commented on #1690
I'm not sure why you would want to do that though, CIF can handle multivariate data afaik

[2021-12-06 14:20] TonyBagnall commented on #1690
also, the ColumnEnsembleClassifier does not conform to the new model and so it might be that breaking it

[2021-12-06 14:23] MatthewMiddlehurst commented on #1690
Thanks, Markus. I also noticed this in a branch I have speeding up the classifier, but can make a separate one to fix this. Must have been introduced during the refactor.

We used to test both classifiers, but I think we removed the CIT one when we banished it to contrib as it was extremely slow. When I make my speed-up PR this should no longer be an issue.

[2021-12-06 16:24] mloning commented on #1690
@TonyBagnall It's just the example from the StackOverflow answer, I just replaced the estimator.

[2021-12-06 21:20] fkiraly opened #1710 "[MNT] testing the extension contracts"
Currently, we are testing the user contracts pretty well, but, as far a I see, not the extension contracts.
That is, we don't test the functionality in the base classes in isolation, only together with concrete implementations.

The "vanilla" way to test the extension contracts would be to build testing mock concrete classes that sit "inside" the base classes and feed back test results.

For insta

[2021-12-06 21:40] kejsitake commented on #1673
Hi! I am working on this bug and wanted to check if this is referring to the tests or if we should throw an error in the base class if the X already contains a column named ds.

[2021-12-06 23:42] fkiraly commented on #1673
I think neither - it is the prophet class that needs to be fixed.
None of the forecasters should behave differently with a column `ds` or without.
None of the forecasters should change argument `X` being passed to them.

So there are two things to fix:
* high-priority, the side effect of the prophet forecaster on `X` - the argument should not be modified
* lower-priority, writing a test that would

[2021-12-07 00:51] kejsitake opened #1712 "[BUG] FBProphet causes an issue if exogenous X already contains a column named ds"
**Describe the bug**

As discussed in PR https://github.com/alan-turing-institute/sktime/pull/1711:
If the series passed does have the` ds `column, the forecaster raises an error, which it shouldn't.

**To Reproduce**

[code]
**Error Thrown**
`ValueError: Column name 'ds' is reserved in fbprophet`

**Expected behavior**

The forecaster should not throw an error in this case

**Additional Context**

[2021-12-07 07:35] aiwalter commented on #1712
for me this is not a bug, as described in #1711

[2021-12-07 10:39] TonyBagnall commented on #1710
related to https://github.com/alan-turing-institute/sktime/issues/1628

[2021-12-07 10:43] TonyBagnall commented on #1710
and here https://github.com/alan-turing-institute/sktime/issues/1629
and the tests here https://github.com/alan-turing-institute/sktime/pull/1594
where I have dummy classes implementing the base class to test input/output

[2021-12-07 10:44] TonyBagnall commented on #596
right then, time to address these @chrisholder and @jasonlines

[2021-12-07 10:45] TonyBagnall commented on #596
@chrisholder we can cross off the unit testing?

[2021-12-07 10:46] TonyBagnall commented on #596
I think I will separate into issues with distances, KNN and ProximityForest

[2021-12-07 10:57] TonyBagnall opened #1713 "[ENH] new version of KNeighborsTimeSeriesClassifier"
with the numba distances in place (except for MSM) we can adapt KNN to use them and address other long standing issues.
https://github.com/alan-turing-institute/sktime/pull/1664

1. Adapt KNN to use numba
2. Assess the potential for restructuring (no 2D arrays, default more to sklearn)
3. Address outstanding issues
https://github.com/alan-turing-institute/sktime/issues/589
https://github.com/alan-

[2021-12-07 11:02] TonyBagnall opened #1714 "[ENH] numba distances enhancements"
a few things
- [x] 1. numbas version of move-split-merge
- [x] 2. handle variable length? (KNN not enabled to do this, capability andled in base class)
https://github.com/alan-turing-institute/sktime/issues/645
- [x] 3. Check parameters
https://github.com/alan-turing-institute/sktime/issues/589
- [x] 4. Check derivatives
https://github.com/alan-turing-institute/sktime/issues/654
- [x] 5. Confirm u

[2021-12-07 11:05] TonyBagnall opened #1715 "[ENH] update ProximityForest"
1. Adapt proximity forest to use numba not cython
2. Address possible outstanding issues
https://github.com/alan-turing-institute/sktime/issues/600
https://github.com/alan-turing-institute/sktime/issues/598
https://github.com/alan-turing-institute/sktime/issues/1114

[2021-12-07 11:08] #1673 closed

[2021-12-07 11:09] #1697 closed

[2021-12-07 11:11] TonyBagnall commented on #596
closed and split into three issues

[2021-12-07 11:12] #596 closed

[2021-12-07 11:16] TonyBagnall opened #1716 "[ENH] Implement ElasticEnsemble with numba distances"
adapt EE to use the new numba distances

[2021-12-07 11:21] TonyBagnall commented on #973
I think things have moved on from here, and it conflates with other issues, really I just meant by this issue was to have return types where simple

[2021-12-07 11:23] TonyBagnall commented on #1538
this has progressed and been split into four issues

[2021-12-07 11:23] #1538 closed

[2021-12-07 14:17] TonyBagnall opened #1718 "[ENH] restructure loading of classification and clustering datasets"
see https://github.com/alan-turing-institute/sktime/pull/1717

In line with the changes to a base classifier, I want to restructure the loading of data so that if equally spaced data (all of UCR/UEA)
1. If it equal length, X is loaded into a ndarray
    1.1 if univariate, X is loaded into a 2D array
    1.2 if multivariate,  X is loaded into a 3D array
2. If unequal length, X is loaded into a nest

[2021-12-07 17:29] fkiraly opened #1719 "[ENH] design - what should the output be of series transformers applied to multivariate series?"
Consider the situation where we apply a transformer of univariate series to primitives or series.

When applied to multivariate series, i.e., to each variable individually, what should the output be?

Some options:
* should raise error
* a panel, e.g., multi-index level introduced by variable, rows
* a panel, e.g., multi-index level introduced by variable, columns

There other aspect of this quest

[2021-12-07 18:06] Aparna-Sakshi commented on #1657
I have tested the above-mentioned notebook on Windows 10, Python 3.8.11. It worked for me and didn't throw any errors. Btw I have run the cells in the jupyter lab.

[2021-12-07 18:25] lmmentel commented on #1657
Thanks for testing @Aparna-Sakshi! The problem with this one is that it was flaky i.e. intermittent. On a few instances I managed to run start the notebook and run though all the cells and sometimes the kernel would die. I had more troubles executing the command I pasted which is actually used in CI/CD. Could you also test that?

[2021-12-07 18:57] MatthewMiddlehurst commented on #1719
I don't remember implementing anything to do with the transformer refactor or suggesting any changes to how to deal with multivariate Panel data for Series transformers during the process. If you could point me to where I am involved in this process other than the recent comment, that would be great.

The only thing I can think of is the original SummaryTransformer PR (#1329), where I proposed tha

[2021-12-08 00:35] fkiraly commented on #1719
Sorry, I got confused. @RNKuhns implemented the summary transformer, but you were last to review, and I remembered the discussion with you on that, which in memory got distorted into you implementing it.

[2021-12-08 00:41] fkiraly commented on #1719
Regarding the discussion: I think we are not consistent in what we think 2D numpy data means.
By default, it is implemented as a multivariate series, i.e., 1 instance, 40 time points, 6 variables.
You seem to refer to it as panel data, i.e., 6 instances, 40 time points, 1 variable.

Obviously, both cannot be correct at the same time.
The automated type recognition thinks it is a multivariate serie

[2021-12-08 00:42] fkiraly opened #1720 "implement a prototype for one mature task, e.g., forecasting"

[2021-12-08 00:44] fkiraly commented on #1712
Welllll, I think it's a bug, since it's non-compliance with the base class interface.

Why would/should one algorithm throw an error when we ask for a forecast, just because it has a column with a special name in it? None of the forecasters do this, and it's not part of the usage contract. All algorithms should be able to produce forecasts in alignment with their abstract capabilities.

[2021-12-08 01:12] MatthewMiddlehurst commented on #1719
All good.

I'm a bit confused. Are we are talking about the output type here? I'm assuming the process is a bit like this: The base class splits up the input Panel data, feeds it into the Series transformer one series at the time, which then outputs a 2d numpy array (or 1d if univariate) for each series. If that's the case, it is all fine and is the expected output.

When it comes to putting those

[2021-12-08 10:43] eenticott-shell commented on #1523
I have found why the bug occurs. Within `to_absolute` the internal function `_get_freq` is used to obtain the frequency which is then given to the conversion. The `_get_freq` function is:

`def _get_freq(x):
    """Get unit for conversion of time deltas to integer."""
    if hasattr(x, "freqstr"):
        if x.freqstr is None:
            return None
        elif "-" in x.freqstr:
           retur

[2021-12-08 16:08] fkiraly commented on #1720
weird, why did this open - some strange automation?

[2021-12-08 16:08] #1720 closed

[2021-12-08 17:36] mloning opened #1723 "[DOC] Update changelog for v0.9.0"
Update CHANGELOG.rst in docs with the below content.

To replace md references with rst references you can use this script: https://gist.github.com/mloning/d865ebe30fbb32cae89e9ab02427c1af

---
## What's Changed
* Add freddyaboulton to core developers list by @freddyaboulton in https://github.com/alan-turing-institute/sktime/pull/1559
* Update docs from roadmap planning sessions by @mloning in htt

[2021-12-08 17:59] aiwalter opened #1725 "[BUG] BoxCoxTransformer does not ignore y, possible also other SeriesToSeriesTransformers affected?"
**Describe the bug**
BoxCoxTransformer does not ignore X, possible also other SeriesToSeriesTransformers affected?

Error:
[code]
**To Reproduce**

[code]
Its madatory that `X` is ignored, as pipelining is also broken now:
[code]

**Expected behavior**
No exception

**Additional context**
Pipelining

**Versions**
main branch
</details>

@fkiraly fyi

[2021-12-08 19:14] fkiraly commented on #1523
I don't quite know, on superficial glance it seems problematic to do this.
All the function does is "if it is an anchored frequency, cut off the bit after the dash, otherwise do nothing"?

I suspect it would cause a problem in general with the so-called "anchored frequencies" here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

Does anyone know why we are d

[2021-12-08 19:19] #1723 closed

[2021-12-08 19:22] fkiraly commented on #1725
Yes, I've verified this and understand the reason. I've PR'd a hotfix.
Only boxcox transformer is currently affected as per my understanding, see explanation in https://github.com/alan-turing-institute/sktime/pull/1724/

[2021-12-08 19:22] fkiraly commented on #1725
Here's the explanation:

Currently, passing multivariate `y` to the `BoxCoxTransformer` (refactored recently) will cause an error, since series-to-series transformers like it assume a univariate `y` by default, and a conversion is attempted to univariate `pd.Series` (which is impossible). This is unexpected, since the transformer ignores `y`.

This can be problematic in a `TransformedTargetPipelin

[2021-12-08 19:23] fkiraly commented on #1725
PS: in the issue title, it should be `y`, not `X`, right? Since it's about the `transforer.fit` argument `y`. It only happens in the forecaster pipeline that you pass the forecaster's `X` to the `y` argument.

[2021-12-08 19:30] fkiraly commented on #1725
the bug was introduced through the transformer refactor, btw.
Previously there wasn't a "strong" base class interface, so I suspect there might be a few hiccups until we have introduced a full test suite for trasnformers.

[2021-12-08 19:32] ltsaprounis commented on #1622
I think that's a reasonable feature request.
@fkiraly, @mloning, @danbartl, @aiwalter - What are your thoughts on this?

Happy to take this on.
Will allow for list of integers and numpy 1-d arrays and adjust [the for loop](https://github.com/alan-turing-institute/sktime/blob/f351d25a21d4793568b3aafb85aa2089278ccd20/sktime/forecasting/compose/_reduce.py#L11) that makes the lagged features. Don't fo

[2021-12-08 20:26] lmmentel opened #1728 "[MNT] Refactor CI/CD release pipeline to use github actions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**

Currently distributable wheels are build with different CI/CD providers

- github actions: macOS
- appveyor: windows
- azure pipelines: linux

since github actions supports all three hosts the pipelines can be consolidated to use github a

[2021-12-08 21:30] aiwalter commented on #1712
but when we want to copy an existing columns `df` we should then check if this is numeric, bcz. it might contain an index already. If there is an index, we should probably raise the error or overwrite it. Otherwise we will end up with 2 index columns and it will raise an error probably and confuse user.

[2021-12-08 21:59] aiwalter commented on #1725
yes, in the new interface its `y`, but in the old its `X`.

[2021-12-08 22:00] #1725 closed

[2021-12-08 22:01] fkiraly commented on #1725
I don't think that's right? In the old one it also was `y` in the transformer. It's just the pipeline logic which passes the forecaster's `X` to the transformer's `y`.

[2021-12-08 22:04] aiwalter commented on #1725
I think we just had `Z` and `X` in the old interface. Now we changed this to `Z-->X` and `X-->y` if I am not wrong?

[2021-12-08 22:09] fkiraly commented on #1725
? I think no?

previously, there was `Z`, `y`. We now changed `Z` to `X` so all transformers were consistent with argument naming.

[2021-12-08 22:12] fkiraly commented on #1725
no, you are actually right!

[2021-12-08 22:21] fkiraly commented on #1725
I made a mistake in the changelog describing this, I'll just go fix it too, there.

[2021-12-08 22:40] fkiraly opened #1731 "[BUG] series-to-series transformer no longer work with `ForecastingPipeline`"
I think the transformers refactor introduced a bug:
in series-to-series transformers, the order of arguments was not changed, but the names were.
So args calls are fine since downwards compatible, but kwargs calls may break.

One reference in the `ForecastingPipeline` was kwargs, which makes pipelines with any transformers that are not yet refactored break.

PR #1730 fixes the issue, by replacing

[2021-12-08 22:41] fkiraly commented on #1731
(slightly unhappy that I discovered this only a few hours after the release - but perhaps we can send a patch version on its way once this is confirmed/fixed)

[2021-12-08 22:58] aiwalter commented on #1731
I think its not a bug since you fixed it in `fit_transform` before already?

[2021-12-08 23:52] fkiraly commented on #1719
Well, format primarily. The output probably has to be `pd.DataFrame`, which is fundamentally a 2D container.

Yes - each univariate series produces a 1D array/container of length 9. This is stored in a one-row `pd.DataFrame` by convention.

If there are multiple series, you have as many of these as there were series. So, in the example, when you have 40 instances of univariate series, you (should)

[2021-12-09 00:19] MatthewMiddlehurst commented on #1719
If the output type is primitives, I think it is more natural for it to multi-index over columns.

When the output from the transformer is a series, however, neither are great really. If I had to choose, probably multi-index over rows, as things could get strange if the series are unequal length and you start just appending them onto each other.

Do we want to avoid nested DataFrames for the above

[2021-12-09 00:49] fkiraly opened #1733 "[ENH] Prophet fitting should be by default non-verbose"
When running `fit` of prophet with default parameters, following output is generated:

[code]

However, the default should be non-verbose (with an option to turn this on).

[2021-12-09 00:51] fkiraly commented on #1731
yes, and the tests don't complain. So this is probably just an imagined bug.

I've added more test cases in https://github.com/alan-turing-institute/sktime/pull/1732, let's see what that says.

[2021-12-09 09:05] Carlosbogo commented on #1733
Hi, I would like to work on this. Just to be sure, the idea would be to add an option to `fbprophet.Prophet` to choose if you want to generate the output you mention, right?

[2021-12-09 10:38] fkiraly commented on #1733
@Carlosbogo, all yours, thanks!

Regarding your question: yes/no.

The class already seems to have an argument `verbose`, but using `fit` with default parameters still seems to generate the printout.

There are first some questions to answer before making any changes:
* can you verify that it also generates the output for you. If not, then there is some version/dependency magic going on that may b

[2021-12-09 10:47] TonyBagnall opened #1735 "[BUG] mismatch in classification datasets"
some of ts files the classification datasets in datasets module have old style headers. These need updating, a list made of which ones are shipped and a test function written to check the format

[2021-12-09 16:55] fkiraly opened #1736 "[BUG] download badges are broken, remove?"
It seems the download number badges on the README are broken - weekly downloads are at 0 etc, quite implausible since I've just downloaded sktime, and it's also used in periodic CI/CD workflows all over the world...

If you look on pypi stats, similar pictures emerge for more widely used packages.
Something seems broken, but I'm not quite sure what or when/whether a fix is coming.

Should we remov

[2021-12-09 19:20] Aparna-Sakshi commented on #1657
@lmmentel I have tried both the command line as well as ran all the cells in the notebook. But I still wasn't able to reproduce the bug. I'll try running it a couple of times more.

[2021-12-09 19:23] kejsitake commented on #1687
According to my initial checks the forecastors that should have probabilistic capabilities and still need to be refactored are:

- [ ] ARIMA
- [ ] AutoARIMA
- [ ] AutoETS
- [ ] BATS
- [ ] TBATS
- [ ] Theta - I am working on refactoring predict_quantiles and predict_intervals here https://github.com/alan-turing-institute/sktime/pull/1579

[2021-12-09 21:21] fkiraly commented on #1657
Have you tried repeatedly? @lmmentel says it´s sporadic or intermittent.

[2021-12-09 21:25] fkiraly commented on #1731
This is not actually a bug, it was imagined upon code inspection. See discussion in #1732.

[2021-12-09 21:25] #1731 closed

[2021-12-10 09:57] fkiraly commented on #1708
indeed - I think there is a more general question about use of abc throughout sktime.
I'm in favour, although as you correctly identify, various refactors need to be completed first.

May I change this to "use abc for sktime base classes" in general?

[2021-12-10 10:01] TonyBagnall commented on #1708
Yes please do, ABC is already used in series as features and clustering, so we may as well encourage its usage everywhere I think

[2021-12-10 10:54] khrapovs opened #1737 "[ENH] Train/test split and evaluation with disaggregated time series"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I have a very specific forecasting use case that I solved elsewhere on my own. But only recently I discovered this fantastic library and obviously regret that it did not happen much earlier. I think that my use case could be a nice contribution.

The problem is the following.

[2021-12-10 12:09] TonyBagnall commented on #1713
branch looking at this https://github.com/alan-turing-institute/sktime/tree/numba_neighbours

[2021-12-10 12:11] TonyBagnall commented on #1714
branch looking at this https://github.com/alan-turing-institute/sktime/tree/numba_neighbours

[2021-12-10 12:26] TonyBagnall commented on #1713
Working branch for this is here
https://github.com/alan-turing-institute/sktime/tree/numba_based_knn

[2021-12-10 13:37] fkiraly opened #1738 "[ENH] Define and add small dataset used to showcase and test hierarchical forecasting. Add synthetic data generators."
For development and testing in hierarchical forecasting we'll need:
- [x] at least one data set like airline, but hierarchical (at least two levels of hierarchy)
- [x] a data generator like `_make_series`, but hierarchical, input should be: number variables, number of levels, perhaps also number of units per level

[2021-12-10 13:41] fkiraly opened #1739 "[DOC] definition of terms/tasks: grouped forecasting, hierarchical forecasting, panel forecasting, global forecasting"
We should write up a math definition of terms/tasks: grouped forecasting, hierarchical forecasting, panel forecasting, global forecasting.

There is some ambiguitiy on meaning, and some of these may (or may not) end up being the same.

[2021-12-10 13:43] fkiraly commented on #1739
@ltsaprounis gives this a start by providing links to books/papers.

We then look at this jointly to abstract the tasks.

[2021-12-10 13:48] fkiraly opened #1740 "[ENH] transformers refactor, expand tests to cover auto-vectorization, panel types, multiple input mtypes"
With the transformers refactor done, the test coverage should be expanded to cover:
* auto-vectorization functionality
* input/output scitype cases
* panel transformations, panel types
* multiple input mtypes

[2021-12-10 16:50] fkiraly opened #1741 "[ENH] Interval forecast metrics"
With the `predict_interval` and `predict_coverage` interface defined, we can now start implementing interval forecast metrics such as the pinball/interval loss.

We should start with the latter, as an example.

Includes: design, implementation.

[2021-12-10 16:56] fkiraly opened #1742 "[ENH] wishlist of interval and probabilistic foreasters"
This issue is to create a wishlist of interval forecasters and probabilistic forecasters.

Interval forecasters have `predict_quantile` or `predict_interval`.
(or `predict_var` but that's more variance forecaster)

Probabilistic forecasters will have `predict_proba`, i.e., predict full distributions.

We should also include compositors, especially those converting point foreceasters into interval

[2021-12-11 13:45] TonyBagnall commented on #1714
ERP and LCSS results are not comparable to tsml. This may be implementation, but they seem worse, so this should be investigated further

[2021-12-12 19:24] lmmentel commented on #1662
It seems this should be reopened since the test is not passing still, see https://github.com/lmmentel/sktime/runs/4498946788?check_suite_focus=true As you can see it's failing for all linux host and for macOS with py37.

I've tried some additional ideas but so far I'm not able to make it work. Could someone who knows more about `PaneltoPanelTransformer` and `SeriesToSeriesRowTransformer` look into

[2021-12-12 19:26] kejsitake opened #1746 "[ENH] Probability Distributions in probabilistic forecasters"
**Is your feature request related to a problem? Please describe.**

We are currently working on refactoring the forecasting interfaces to allow probabilistic and interval predictions as described here https://github.com/alan-turing-institute/sktime/issues/1687 and a high level summary included here https://github.com/sktime/enhancement-proposals/blob/main/steps/13_proba_forecasting/step.md

**Desc

[2021-12-12 19:30] lmmentel opened #1747 "[BUG] FAILED forecasting/tests/test_ets.py::test_airline_allow_multiplicative_trend on linux and py39"
**Describe the bug**

Test is failing:

[code]

**To Reproduce**

Run the test on linux with python 3.9, see https://github.com/lmmentel/sktime/runs/4498946774?check_suite_focus=true

**Expected behavior**

Test passes.

**Additional context**

**Versions**

OS: linux ubuntu 20.04
python: 3.9.9

[code]

</details>

[2021-12-12 19:55] lmmentel commented on #1657
I can reproduce in latest `main` no prob https://asciinema.org/a/nN8MAgJbEvV5gLrnsbs5NUsdE

with:
- os: linux
- python 3.8.10

[code]

Maybe someone could try it on a mac?

[2021-12-12 20:50] fkiraly commented on #1746
The STEP suggests `tensorflow-probability`, but other options are `pytorch` and probabilistic programming languages.

The key requirement is that we don't just want to sample from them, but call functions like `pdf`, `cdf`, etc, and vectorize over them.

[2021-12-12 23:22] fkiraly opened #1750 "[ENH] address FutureWarning: Timestamp.freq is deprecated and will be removed in a future version"
It would be great if someone could address the repeated
`FutureWarning: Timestamp.freq is deprecated and will be removed in a future version`
that is caused by various places all over the codebase.

The most prominent source seems to be `utils/datetime`

[2021-12-13 00:55] fkiraly commented on #1174
After some back and forth, I think the following would be a good/better pipelien design:

[code]

`steps_y` is mandatory, other arguments are optional. The last argument of `steps_y` must be a forecaster, and the other arguments must be transformers that have `inverse_transform`.

What this would do:

In `fit`:
1. apply `steps_X` elements' `fit_transform` in sequence to `X`, to obtain `X_transform

[2021-12-13 00:58] fkiraly commented on #1174
Advanced versions of this:
* the `forecaster` in `steps_y` does not need to be the last element, it can be in the middle. Then, `transform` of the transformers that come after it is applied to `y` (in reverse order) before passing it to `my_forecaster`. In `predict`, `inverse_transform` of the same transformers is applied to `y_pred` before returning.
* forecasters in `steps_X` and `steps_X_to_y`

[2021-12-13 01:09] fkiraly commented on #1737
OK, I've thought about this.

I think that indeed it fits really nicely with the design and the roadmap.

Historically, much of the functionality was written around the assumption of equal indices for all variables. It was a conscious decision by the core developer majority to cut corners there (and I won't say here who had which opinion in the discussion 😄).

Looking forward, I think indeed we ne

[2021-12-13 01:12] fkiraly commented on #1737
FYI @aiwalter, @mloning, @danbartl, @ltsaprounis

[2021-12-13 01:21] fkiraly opened #1751 "[BUG] MAPE/sMAPE flag inconsistency"
From this discussion thread https://github.com/alan-turing-institute/sktime/discussions/1508
by @k7e7n7t.

"
I ran mean_absolute_percentage_error in cell 41 of 01-forecasting.ipynb and got 0.145427686270316.
I then ran MeanAbsolutePercentageError class with the default symmetric = False (which make it asymmetric just like MAPE I assume) but I get 0.13189432350948402 which I would expect from sMAPE

[2021-12-13 09:23] #1690 closed

[2021-12-13 09:46] Carlosbogo commented on #1750
Hi, I would like to work on this. Is there a new functionality that replaces that of `Timestamp.freq`?

[2021-12-13 12:38] fkiraly commented on #1750
I don't quite know - but perhaps you can find out?
I think the full message (printed when running the test suite) has suggestions what to do, but I don't have it in front of me right now.

I'd suggest, just run the test suite and check the full deprecation message.
There are also others that may be easy to fix, like the `np.float` deprecation.

[2021-12-13 12:38] fkiraly commented on #1750
(it's yours now)

[2021-12-13 14:49] TonyBagnall opened #1753 "[BUG] GunPoint data format"
GunPoint is still in the 6 dp format, updating it to 8dp makes catch22 tests fail, so will put off fixing and raise this issue to remind myself.

[2021-12-13 20:04] baggiponte commented on #1631
Hi, I tried out what @freddyaboulton suggested. My `build_tools/requirements.txt` does not look like the one posted above (see down here). To reproduce this, I did the following:

* Created a `conda` environment named `sktime` with Python 3.8 and `pip`
* Followed the steps [here](https://www.sktime.org/en/latest/get_involved/contributing.html#git-and-github-workflow)
* In the `build_tools/requirem

[2021-12-13 23:03] freddyaboulton opened #1755 "[ENH] Install pmdarima in sktime-all-extras conda package for python 3.9"
**Is your feature request related to a problem? Please describe.**
When we created `sktime-all-extras` conda package, we did not install pmdarima for python 3.9 because pmdarima did not support python 3.9

It looks like pmdarima now supports [python 3.9](https://anaconda.org/conda-forge/pmdarima/files), so we should modify the conda recipe.

**Describe the solution you'd like**
sktime-all-extras i

[2021-12-14 07:44] zhangxjohn opened #1756 "[BUG] KNeighborsTimeSeriesClassifier fails on Japanese Vowels data"
**Describe the bug**
ValueError                                Traceback (most recent call last)
/mnt/nfsroot/zhangxj/Data_Cache/workflows/ipykernel_91785/972100154.py in <module>
      2
      3 clf = KNeighborsTimeSeriesClassifier()
----> 4 clf.fit(df_X, df_y)

~/anaconda3/lib/python3.8/site-packages/sktime/classification/distance_based/_time_series_neighbors.py in fit(self, X, y)
    196

[2021-12-14 08:04] Aparna-Sakshi commented on #1621
This might be a trivial question, but how does interfacing works? Do we have to import grey kite libraries and fill the extension template or understand the algorithm and then fill the template? @fkiraly @surajitdb

[2021-12-14 08:18] aiwalter commented on #1621
@Aparna-Sakshi yes you can follow the extension template. We would have to import it as a soft-dependency. How to do this, you can look into how we did it for `fbprophet` or `tbats`.

[2021-12-14 15:35] Aparna-Sakshi commented on #1621
@aiwalter Thanks a lot for the info, I'll look into it.

[2021-12-14 18:15] TonyBagnall commented on #1756
thanks for that, I actually noticed yesterday that this data is padded. KNN does not currently (yet) have the capability to handle unequal. KNN currently being fixed for the new distances and fit model https://github.com/alan-turing-institute/sktime/tree/numba_based_knn

[2021-12-14 19:35] fkiraly opened #1759 "[DOC] extend extension templates to cover soft dependencies"
The extension templates (here: https://github.com/alan-turing-institute/sktime/tree/main/extension_templates) should be extended with a preamble that treats soft dependencies.

The challenge is to keep it very brief, and to make clear that adding soft dependencies is only necessary for the case of extending `sktime` itself. If the template is used in a project/package that has `sktime` as a depend

[2021-12-14 19:36] fkiraly commented on #1621
Yes, exactly.

I've turned the observation that there are currently no explicit instructions about soft dependencies into an issue to add this in all extension templates. https://github.com/alan-turing-institute/sktime/issues/1759
You may or may not want to do this on the side, if you are looking into this, @Aparna-Sakshi.

[2021-12-14 20:40] Garrus990 opened #1760 "[BUG] Error when predicting from (T)BATS when the forecasting horizon is longer than the time series used in training"
**Describe the bug**
In sktime 0.9.0 there is an error, when `predict` function is called on a fitted (T)BATS model in case when forecast horizon is longer than the time series used for training. This is purely sktime-related, since the forecasts from `_forecaster` are still possible.

**To Reproduce**
[code]

**Expected behavior**
Well, no error I guess.

**Additional context**
Error message:
[co

[2021-12-14 22:45] fkiraly commented on #1760
hmm, how weird!
Seems to come from the `ForecastingHorizon`.

I guess we need to check what `fh_out` ends up being, it seems to be a valid `ForecastingHorizon` object, but `to_absolute` breaks.

We'll look at this in the next batch of bugfixes.
Until then, would appreciate if someone could try reproduce and/or check what `fh_out` is before it breaks.

[2021-12-14 22:46] fkiraly commented on #1760
yes, reproduced, including that it happens precisely under the condition stated (forecasting horizon is longer than training series)

[2021-12-14 23:17] ltsaprounis commented on #1742
1. [Amazon's Level Set Forecaster (LSF)](https://www.amazon.science/publications/probabilistic-forecasting-a-level-set-approach) - very promising results from their presentation in the M5 conference. In short they took the accuracy competition winning method, passed it through the LSF algorithm and they showed that they beat the winner of the uncertainty competition. This is already implemented in

[2021-12-14 23:36] ltsaprounis commented on #1737
Related to #1667. This is also relevant (and useful) for the temporal hierarchies work that is already in the roadmap.
e.g. If you have daily time series, you could use various hierarchical ts methods (e.g. bottom-up) to predict the weekly ts etc.
FYI @AngelPone

[2021-12-15 01:14] hyandell commented on #1366
Thanks for the update Franz; hoping this can be resolved soon. Currently I worry it means treating the PyPI package as AGPL-3.0 (as AGPL-3.0 is pretty much a superset of sktime's BSD-3-Clause licensing). Which is a very different license.

[2021-12-15 10:19] khrapovs commented on #1667
Probably I still do not entirely understand how sktime works. Yesterday I started implementing ResamplingTransformer but quickly deleted the branch when I got a very bad feeling that I am just writing a wrapper for `.resample()` method of pandas. The transformation in its core is just one line, e.g. `.resample("W").mean()`. Why should we build something restrictive when a user can him/herself crea

[2021-12-15 10:55] aiwalter commented on #1667
@khrapovs there is a `FunctionTrasnformer`, maybe you can check if that is what you are looking for?
https://github.com/alan-turing-institute/sktime/blob/5fecb32124d4776e542b6f9ddaddf5b3e7f3b680/sktime/transformations/series/func_transform.py

Seems its not yet added to docs.

[2021-12-15 11:02] ltsaprounis opened #1762 "[BUG] Invalid FutureWarning for load_from_tsfile_to_dataframe?"
**Describe the bug**

`sktime.utils.data_io.load_from_tsfile_to_dataframe` throws a `FutureWarning` that it has been moved to `sktime.datasets._data_io` and will be deprecated in version 0.10. However it looks like it's not moved there and instead it's imported and is a dependency for a few other functions.

**To Reproduce**

[code]

[2021-12-15 11:15] khrapovs commented on #1667
@aiwalter Yes, for example. I saw this transformer and I agree, this works perfectly fine:
[code]

[2021-12-15 11:17] ltsaprounis commented on #1762
Looks like @TonyBagnall is one step ahead with #1757

[2021-12-15 11:54] TonyBagnall commented on #1762
yep it is a work in progress :) I just misworded the warning, my bad. Coming soon I hope, had a couple of complications/threw up some other issues

[2021-12-15 13:35] eenticott-shell opened #1763 "[ENH] Design probabilistic prediction metrics"
Currently the implemented metrics all evaluate point estimates, but with probabilistic forecasters we may want to evaluate a full distribution or quantile/interval estimates. We need to design for a new base class for handling probabilistic forecasting metrics.

[2021-12-15 13:37] eenticott-shell commented on #1763
I have began writing up a proposal here:
[Designing probabilistic prediction metrics.md](https://github.com/alan-turing-institute/sktime/files/7719740/Designing.probabilistic.prediction.metrics.md)

Any feedback would be appreciated.

[2021-12-16 04:36] pedropalb commented on #717
Hi, @mloning!

I’ve got the same error using a transformer created by `make_row_transformer(Imputer())`. The input data was a nested DataFrame containing series of variable length. Is it the currently expected behavior in this case?

As the transformer created by this function operates independently on each row, I thought it would work. Why is it needed to force the series to have the same length?

[2021-12-16 07:09] nakamarusun commented on #460
Have the same issue. fit() function does not throw any errors. However, calling .predict() function returns a single array of shape (N,), where N is the number of labels, instead of (m, N), where m is the amount of data being predicted.

[2021-12-16 07:36] nakamarusun commented on #460
Since the .predict() only returns a single array at a time, my workaround at the moment is inserting my data into the predict() function one by one in a for loop and count accuracy manually. So, my code to calculate the accuracy is something like:

[code]

[2021-12-16 13:10] fkiraly commented on #1763
Thanks @eenticott-shell, looks neat!
I think the general ideas make all sense, I have some detail comments.

comments in general:
* you didn't specify the format of `y_pred`. I assume that is the output of `predict_proba`? Or of `predict_quantiles`? You need to be more specific here. One or the other? Are there perhaps different kinds of metrics, depending on which input they take?
* per design, t

[2021-12-17 11:17] kejsitake commented on #1746
Notes on this topic from meeting with @ltsaprounis @eenticott-shell @fkiraly

The things we need from the new dependency are:
- symbolic representation of return distributions
- methods pdf, cdf, quantile (of distributions)
- composability of distributions
- optimally: vectorization of pdf, cdf calls and parameter constructor

Options we are looking at are:
- [ ] tensorflow-probability
- [ ] pytor

[2021-12-17 12:04] TonyBagnall opened #1765 "[ENH] Centralise correctness testing for classification"
all the classifiers run correctness sanity tests using predict and predict_proba for the UnitTest problem as a check against changes introducing logical errors to the algorithms. This is currently done with replicated code in each sub package. It would be good to centralise this in a single place and remove duplicate code. Several stages to this

1. Regenerating correct outputs. Sometimes algorith

[2021-12-17 13:17] fkiraly commented on #1662
Why is this closed, @TonyBagnall? It doesn't seem resolved (on the specific combination of py version and OS), we need this to pass on all combinations.

[2021-12-17 13:51] fkiraly opened #1767 "[ENH] prototype panel forecaster: mixed effects (time/instance) linear regression model from statsmodels"
as a mock or design test, as example for panel forecaster: linear mixed effects model from `statsmodels` interfaced as `sktime` forecaster, using hierarchical data format (multi-index)

[2021-12-17 15:13] TonyBagnall commented on #1662
did I close it? Sorry, must have been a mistake on my part!

[2021-12-17 23:47] #1404 closed

[2021-12-18 20:49] fkiraly opened #1776 "[ENH] `_set_fh` with side effects should be replaced by `_check_fh` with return"
[let's first have an API discussion before implementing/changing anything]

Currently, our input check interfaces are not consistent in forecasting.

We have `X, y = _check_X_y(X, y)`, `X = _check_X(X)`, `alpha = check_alpha(alpha)`, but for the forecasting horizon we have `_set_fh(fh)` (this returns nothing) and then the user needs to retrieve a potentially changed `fh` from `self.fh` to which `_

[2021-12-18 23:32] fkiraly commented on #1742
From my side:
* `NaiveForecaster` should provide various strategies for estimating forecast variances: squared differences, smoothing residuals, etc. Few shape/scale distributions (normal, laplace). And, going forward, for variance/scale: constant, or "number time steps forward times one step forward".
* naive strategy: take a window over last `n` time points, forecast the empirical distribution c

[2021-12-18 23:32] fkiraly commented on #1742
and, of course, adding proper probability outputs in all the forecasters that already should return intervals, variances, etc.

[2021-12-19 11:41] TonyBagnall opened #1778 "[ENH] classification/clustering data loading restructuring"
I'm rejigging that data input output for classifiers and will do it in several stages
1. Done
2. Add a new data loader that returns 2D numpy for equal length univariate, 3D numpy for  equal length multivariate, DataFrame for any unequal length problems
https://github.com/alan-turing-institute/sktime/issues/1718
3. Add writers that can write 2d/3d numpy and pandas
https://github.com/alan-turing-ins

[2021-12-19 13:59] fkiraly commented on #1778
Added a descriptive title.

Re. point 2 and 3, some random thoughts. This could be most easily achieved by:
* having logic that loads to a very general format, e.g., `pd-multiindex`
* having an `mtype` argument in the loader, which determines the output format
* using `convert` at the end of the loader, from the very general format, instead of writing seven or so loaders or pieces of logic

[2021-12-19 15:12] #1063 closed

[2021-12-19 16:38] fkiraly opened #1781 "[DOC] Formal definition of ADT series, panel, etc"
We should have formal documentation for the key abstract data types in `sktime`

This should include, most importantly:
- [ ] time series, as per the `Series` scitype
- [ ] panels of time series, as per the `Panel` scitype

Other ADT to document:
- [ ] alignment of time series
- [ ] table or formal data frame (independent rows)

[2021-12-19 16:39] fkiraly commented on #1781
newest I could find is in these very old docs:
https://github.com/alan-turing-institute/sktime/wiki/Scitype-interface-specification:-forecaster

not sure whether content got lost on its way at some point. There's some in the `sktime` paper, as well as in @mloning's thesis.

[2021-12-19 17:10] haskarb opened #1782 "[ENH] Dimension or channel selection in Multivariate Time Series Classification"
**Is your feature request related to a problem? Please describe.**
Not all the dimensions are useful in MTSC. The problem is to identify the useful dimensions, and perform classification with them, rather than using all the dimensions.

**Describe the solution you'd like**
A solution was proposed in the [paper](https://www.researchgate.net/publication/354445008_Fast_Channel_Selection_for_Scalable_

[2021-12-19 18:15] AJarman commented on #1568
@RNKuhns Happy to pick this up

[2021-12-19 20:17] lmmentel opened #1783 "[BUG] catch22.ipynb notebooks throws 'Catch22' object has no attribute '_transform_single_feature'"
**Describe the bug**

When running the `examples/catch22.ipynb` with `jupyter nbconvert --to notebook --inplace --execute --ExecutePreprocessor.timeout=600 examples/catch22.ipynb` the following error pops up:

[code]

**To Reproduce**

This is taken form CI, which means ubuntu-20.04 and python 3.7.

**Expected behavior**

Notebook executes without errors.

**Additional context**

**Versions**
<det

[2021-12-20 11:06] mloning commented on #1675
Someone else can take this if interested, some preliminary work is in #1722

[2021-12-20 22:10] kejsitake commented on #1776
I agree that this is counterintuitive and _check_fh makes more sense.

[2021-12-21 11:21] TonyBagnall commented on #1782
hi @haskarb, I agree and we would love a contribution that provides this functionality

[2021-12-21 13:04] haskarb commented on #1782
Thanks, Tony, Will work on making a contribution in the next few days.

[2021-12-21 14:29] #1762 closed

[2021-12-21 16:01] AlexPars opened #1787 "StatsModels and Numpy to have a >= version instead of == version"
Would it be possible to use StatsModels >= 0.12.1 and Numpy >= 1.19.3 instead of StatsModels == 0.12.1 and Numpy == 1.19.3?

Currently the file main/setup.py uses the same version for StatsModels  and Numpy  in min and max requirements

[2021-12-21 16:09] lmmentel commented on #1787
FYI there is currently a refactor of how dependencies are specified in #1620 and the deps will go into `pyproject.toml` file.

Is there any specific reason the later requirements would be favorable? (bugfixes, performance improvements etc)?

[2021-12-21 16:29] AlexPars commented on #1787
thank you for the initiative to use pyproject.toml

My inquiry is rather about ability to use sktime in conjunction with other Python packages

I am using poetry to manage dependencies of multiple packages, and I am not able to install sktime if I want to use other packages which rely on StatsModels > 0.12.1 and on Numpy > 1.19.3

[2021-12-21 16:33] lmmentel commented on #1787
That makes sense, thanks for clarifying. Could you reveal what version of python are you using and what other packages are you trying to use that have conflicting dependencies?

[2021-12-21 16:44] AlexPars commented on #1787
Python 3.9.9.

 I have a collection of about 50 python packages, and I am getting some inconsistencies with a few of them (according to poetry output)

[2021-12-21 17:03] AlexPars commented on #1787
One clarification: I have a collection of about 50 explicit Python packages for this particular project on time series (analysis, forecasting, classification, clustering and network analysis)

I would like to compare various algorithms implemented in Python and R packages. I consider sktime to be one of the great time series packages in Python

[2021-12-21 19:21] raphaccf opened #1788 "[BUG] "update_params=False" for statsmodels adapter should call apply"
The current logic of  `update(update_params=False)` in the `statsmodels` interfaces is not correct, the model simply produces predictions it would have made before the update, instead of applying the fitted model to new data.

Instead, the `apply` interface from `statsmodels` should be used appropriately, see the discussion below. Previously, this was available only for a few models, but seems to

[2021-12-21 20:36] sral85 commented on #541
Hello everybody,
I would like to work on this issue. Is it ok?
I think I can have a look at the already existing pull-requests and refactor some parts of them.

[2021-12-22 05:13] aron-alarik opened #1791 "[BUG] Conversion of univariate series to Sktime format for shapelet discovery"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

Hi I am trying to use shapelet transforms with SkTime, I have a univariate series in a pandas format as in the screen shot, trying to convert it to Sktime format as per the documentation, keep getting errors, tried adding default columns such as caseID etc but got an error : dupli

[2021-12-22 09:21] k1m190r commented on #1625
I'm able to reproduce it on Windows (Python 3.8). Will be looking into it.

[2021-12-22 12:08] TonyBagnall commented on #1778
@fkiraly so for the .ts format, the idea is to read the data type from the file header, removing the need to explicitly check or convert. We are starting to look at larger problems (EEG are often 10-100 GB), so we need to minimize unnecessary checking. If the file does not match the header (e.g. unequal length data registered as equal in header) it will throw an exception. For other formats, the i

[2021-12-22 12:16] k1m190r commented on #1625
Since [_TbatsAdapter](https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/base/adapters/_tbats.py) has old interface. At the same time will refactor to respect current @kejsitake [template](https://github.com/kejsitake/sktime/blob/template-quantiles/extension_templates/forecasting.py)

[2021-12-22 15:41] lmmentel commented on #1747
@HYang1996 I saw some of your comments in the [tests source](https://github.com/alan-turing-institute/sktime/blob/fa2d381e3f58f3ddc1e277e2202086715c4d8b5b/sktime/forecasting/tests/test_ets.py#L40) do you remember what was the issue or how you solved that?

[2021-12-22 17:03] lmmentel commented on #1747
It seems that despite `allow_multiplicative_trend=True` parameter the estimator return `"add"` for the trend component. Weird that this only happens for python 3.9 on linux and not any other python-os combination. Any thoughts?

[2021-12-22 17:23] TonyBagnall commented on #1787
hi, I cant comment on statsmodels, but the problem with numpy >1.19.3 is that it does not work with pandas 1.15. Why used pandas 1.15, given it is seven years old? Because it is the only version that works python 3.6, and our CI tests with 3.6 to 3.9. So until we ditch 3.6 (I think we should but apparently a lot of people still use it). I forget the exact details, numba was involved somewhere to!

[2021-12-22 17:27] TonyBagnall commented on #1787
https://github.com/alan-turing-institute/sktime/issues/1642
https://github.com/alan-turing-institute/sktime/issues/1645

[2021-12-22 17:39] TonyBagnall commented on #1791
hi, this looks like a problem with from_long_to_nested rather than shapelets?

[2021-12-22 18:10] TonyBagnall commented on #1756
so the problem here is not a bug, but an enhancement request. KNN does not currently support classifying unequal length series. We are currently updating KNN to fit in with the new base classifier model and to use numba not cython. https://github.com/alan-turing-institute/sktime/issues/1713

[2021-12-22 20:16] AlexPars commented on #1787
Thank you for clarifications. Indeed, it is challenging to have it working under Python 3.6-3.9. While there are approaches to deal with these challenges (such that package dependencies would be specified separately for each major Python version: 3.7, 3.8, 3.9), this would introduce additional workload for sktime team  (definitely not a desired outcome from my perspective)

regarding Python 3.6, a

[2021-12-22 21:53] Ha5hBr0wn opened #1794 "[ENH] Upgrading to numpy 1.20"
sktime requires numpy <1.20. This severely limits its use in larger more modern projects. Moving to numpy 1.20 would help allow sktime to be used in more projects without causing dependency issues.

[2021-12-22 22:48] TonyBagnall commented on #1787
Thanks for the info, I'm personally hopeless at all the CI stuff, not my domain, I don't have the patience. But I'll definitely raise it again with core Devs in the new year.

[2021-12-22 23:00] fkiraly commented on #1794
Yes, agreed - I believe the bound is coming from facebook prophet, is that correct?

@lmmentel, @freddyaboulton, would we still have an upper bound on `numpy 1.19` if we move to `prophet` from `fbprophet`?
See also https://github.com/alan-turing-institute/sktime/issues/1631

[2021-12-22 23:03] fkiraly commented on #541
Yes, absolutely, @sral85!

Kindly refer to the base class documentation of `predict_quantiles` and `predict_interval` (here https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/base/_base.py or in the API reference) for the new format in which prediction intervals are returned.

Would also appreciate a proposal of function signatures to discuss in this thread before impleme

[2021-12-23 08:21] lmmentel commented on #1794
Similar issue is also raised in #1787. I'm more than happy to look into it once we have the refactored CI/CD pipeline merged since it'll be easier to experiment with dependency versions.

[2021-12-23 13:13] freddyaboulton commented on #1794
@fkiraly it was actually caused by pmdarima. They fixed the issue so I think it should be possible to unpin the numpy 1.19 constraint.

https://github.com/alkaline-ml/pmdarima/issues/449

[2021-12-23 13:20] freddyaboulton commented on #1794
The latest numba was also incompatible with the latest numpy (1.21) but looks like that will be fixed soon.

https://github.com/numba/numba/issues/7339#issuecomment-997869862

[2021-12-23 15:33] aron-alarik commented on #1791
Yes that is correct, this is the same issue while converting data for  some of the other transformers, little guidance or help on the input data format will help open up this entire awesome library for us. Also what is the kind of input you are expecting for shapelets? a pre-discovered set of data with time and location or will a single time series sensor data will do? Thanks !

[2021-12-23 15:51] 0wenwu opened #6606 "[ENH] vmdpy - Get the result of zero array using vmd in signal decoposition"
Get the result of zero array using vmd in singal decoposition
The code is as below:
[code]
Then I got the following result:

![Figure_1](https://user-images.githubusercontent.com/6868237/147263660-80ced877-2f7e-4543-af8e-90bdc96f11ba.png)

[2021-12-23 16:02] #1783 closed

[2021-12-23 16:02] #1753 closed

[2021-12-23 21:48] Ha5hBr0wn commented on #1794
Numba 0.54.1 is compatible with numpy 1.20.3 however. I don't know of a common machine learning package that requires higher than numpy 1.20 as of now

[2021-12-23 22:51] lmmentel commented on #1794
I bumped numpy to `==1.20.1` and loosened up statsmodels to `>=0.12.1` and tried `pip-compile` for a quick check if the dependencies would resolve with `pip-compile` and they did :tada:

Here is the `requirements.txt ` I got (linux with python3.9):

[code]

I will try to check if the deps resolution succeeds on different OS/python combinations.

[2021-12-24 02:23] fkiraly opened #1797 "[MNT] conda-forge release 0.9.0"
0.9.0 hasn't been released on `conda-forge`, this still needs to be done.

@freddyaboulton, did you handle the last release on `conda-forge`, or was that @mloning?

[2021-12-24 02:33] fkiraly opened #1798 "[ENH] design discussion - parameter validation and initialisation"
The orthodox `sklearn` faith dictates that nothing must be done in `__init__` except writing parameters to `self`.
This does prevent side effects and careless overwrites, but I think this may be too harsh.

There are some negative consequences to this design:
* the user is only told that parameter settings are invalid when they try to `fit`. This is an unnatural point in the workflow, the natural

[2021-12-24 02:34] fkiraly commented on #1798
Any thoughts on this, @aiwalter and @TonyBagnall?

Also, @lmmentel and I had a discussion about this recently, in the context of `FeatureUnion`. @lmmentel also mentioned this in #1771. It came up in the metrics/distances as well, tagging @chrisholder and @eenticott-shell for that.

[2021-12-24 08:55] Lovkush-A commented on #1798
My initial thought is that this is a good idea. Note, I do not have a good sense of 'long-term' consequences or 'second-order' effects of such a change.

[2021-12-24 11:26] fkiraly commented on #1798
I guess the main negatives are:
* more methods in the extender contract (user contract stays the same). One could now argue whether the "more methods" in the extender contract make it easier to understand, or more complex to comply with. I'd be on the side that, in the balance of things, it makes it easire and more intuitive to extend, but I see why one could be of the opposite opinion.
* we're do

[2021-12-24 12:21] fkiraly commented on #1747
well, "allow" means that `"mul"` *can* happen, not that it *must* happen as result of fit.
I do not understand why it would be different for different python versions, perhaps some random seed behaving differently?

Generally, I think tests like this which test fitted parameters against expected fitted parameters make sense but can be brittle. I suggest to simply mark it with an `xfail` and keep i

[2021-12-24 13:02] TonyBagnall commented on #1798
to me, the primary reason for conforming to scikit design is so that our estimators can be used in their utilities such as cross validation. If this change means that is not possible, I am dead against it. And you may think it wont be a factor, but there are certain idiosyncrasies with scikit (Im no expert, but certain things dont work as I woul have expected, such as distances in knn), so I would

[2021-12-24 19:02] fkiraly commented on #1798
Yes, that's also what I would expect towards `scikit-learn`. I.e., I wouldn't expect any interoperability issues, but we'd have to see.

[2021-12-25 11:28] wanglu2014 opened #1801 "[ENH] Is there a method for unsupervised classification for small time point?"
I searched this github package, and found no recommendation for this kind of problem. My input dataset is a table with 500 samples, 200 features and 3 time points. I need to do unsupervised classification for those samples into two classes. Which method do you recommend?
Thank you for your attention.

[2021-12-25 18:02] fkiraly commented on #1801
What you mean is probably clustering? Some communities (e.g., GIS, spatial statistics) refer to "clustering", or, more specifically, clustering algorithms applied with the purpose to produce cluster annotations (in "transformer" mode) as "unsupervised classification". The clustering algorithms in the clustering module should allow for that.

Further, since you seem to have a small number of time p

[2021-12-25 21:37] fkiraly commented on #1098
closing this in favour of #1678 which has a list of estimators

[2021-12-25 21:37] #1098 closed

[2021-12-25 21:39] fkiraly commented on #1787
Yes, I think we were discussing to cease support for 3.6 in 0.11.0 - that's the earliest version number since we need a full version cycle (0.10.0) to have people read the deprecation message. Which means, around spring 2022 we can also remove pins or bounds that come from 3.6.

[2021-12-26 13:24] kejsitake commented on #1687
Hi! I am working on the other forecasters, starting with ARIMA. I am not very sure about the `predict_in_sample` and `predict_fixed_cutoff` functions, which currently return pred_int. Given that we are trying to separate the quantile/interval functionality from the predict functions, do we want to have a separate one for quantiles i.e. `predict_in_sample_quantiles` and `predict_fixed_cutoff_quanti

[2021-12-26 21:35] Data-Hero commented on #138
Hello, is there any progress on the issue? When i took a look at the (non-random) Shapelet Transform it still enforced univariate.
If not i will try implementing a multivariate shapelet transform.

[2021-12-27 15:29] freddyaboulton commented on #1797
@fkiraly it was @mloning ! Only @mloning and @dhirschfeld are maintainers on the conda package.

[2021-12-27 16:35] lmmentel opened #1803 "[BUG] multiple tests related to `FRESH` fail on all platforms and python versions"
**Describe the bug**

I found another test failing on all platforms and python versions.

<details>
<summary>test_fresh_prince_on_unit_test_data</summary>

[code]

</details>

<details>
<summary>test_tsfresh_classifier_on_unit_test_data failure</summary>

[code]

</details>

<details>
<summary>test_tsfresh_classifier_on_basic_motions</summary>

[code]

</details>

**To Reproduce**

In order to rep

[2021-12-27 20:39] lmmentel commented on #1803
Might be related to this message (extracted from CI):

[code]

[2021-12-27 22:27] lmmentel commented on #1803
After bumping `statsmodels` to `>=0.13` I now have the same tests failing on all platforms. It seems that by fixing a dependency conflict I found some more failing tests.  @MatthewMiddlehurst I saw your name in the `sktime/classification/feature_based/_tsfresh_classifier.py` module, would you be able to help with this?

[2021-12-27 22:33] lmmentel commented on #1662
This can be closed now since the failing test is now being excluded through #1792.

[2021-12-27 22:37] lmmentel commented on #1747
This should be resolved by 03f0b96acde1cd0fe804c0b071f4fa3c2456cab3 in #1620 with `xfail`.

[2021-12-28 09:54] dhirschfeld commented on #1797
I bumped the deps and kicked the CI over in https://github.com/conda-forge/sktime-feedstock/pull/21. We'll see how that goes. Any review appreciated...

[2021-12-28 14:24] fkiraly commented on #1622
@Dwarak-PCI, @ltsaprounis, this would be covered in #1612, right?
Sorry for the delay in response.

[2021-12-28 14:44] Dwarak-PCI commented on #1622
@fkiraly Yes, I believe so.

[code]
Instead of [1,8], I can use a particular lag to get what I want. Why is there a None at the start of the array?

[2021-12-28 22:04] MatthewMiddlehurst commented on #1803
These tests compare the current outputs from the classifier to a set of saved results. Is there any good reason why this would change the results? If so, we can just update the reference results.

I assume the TSFresh transform results are different as well? How much do they change from the previous version?