[2022-05-05 20:42] fkiraly commented on #2604
PS @indinewton, did you know that instead of
[code]

you can also write

[code]
since 0.11.3?

We should probably update the forecasting tutorial about this...

[2022-05-05 20:44] fkiraly opened #2608 "[DOC] add explanation of dunder method construction and postprocessing in pipelines to forecasting tutorial"
An explanation of "compact" dunder pipelining with `TransformedTargetForecaster` should be added to the forecasting tutorial - not replacing, but being added to the subsections where pipelines are explained.

For example, instead of
[code]

one can also write

[code]

This would also be a great opportunity to explain postprocessing, i.e., transformers can also be added after the forecaster since 0

[2022-05-05 20:44] indinewton commented on #2604
Yeah I noticed the new __mul__ Dunder. Although I still have to explore it more. I also noticed that many base protocols like __or__ have been also overwritten for some BaseForecasters.. but I will soon check in next days.

[2022-05-05 21:06] fkiraly commented on #2604
say, @indinewton, now that the conversion issue is fixed in #2607, it seems the `UnobservedComponents` forecaster always produces `0.0` for forecasts on the above test cases. Is that expected? Seems pretty odd.

[2022-05-05 21:16] fkiraly commented on #2604
it seems to produce zero in all cases where it previously broke.

But, the problem is not with the conversion, I tested that.

I would hence assume somewhere within `UnobservedComponents` there is a potential issue of similar kind, but it's a different bug.

@juanitorduz, can you help, perhaps?

[2022-05-06 07:00] indinewton commented on #2604
@fkiraly yeah, in example above it should produce 0 as forecasts, because no parameters were given to initiate UC. And I just run the same using 0.11.0 version of sktime and it generated this
[code]

Note how the Name of column has been changed to "predicted_mean".

[2022-05-06 12:26] fkiraly commented on #2604
well, all good then if this is what it's supposed to do.
We are actually testing for consistency in `test_structural`, which I missed (kudos, @juanitorduz!), so I think we can close if/once the fix gets merged.

[2022-05-06 12:28] fkiraly commented on #2604
It seems so very unexpected.
Would it be worth raising an issue on `pandas` if that issue does not already exist?
It is the third time in my recollection, at least, that something broke due to that.

Because basically, it means you shouldn't be using the `columns` arg at all, if you might be potentially expecting to get a named argument.

[2022-05-06 13:02] fkiraly commented on #2603
I'm reading my own writing here, @miraep8, and wondering: is attaching the `TransformerPipeline` and `TransformedTargetForecaster` etc via the dunders also not Banana/Gorilla/Jungle (but done by me)?

Is there a smarter way to disentangle the individual dunders from the base classes?
The "clean" way is possible only in a language capable of multiple dispatch, and I would tend against introducing s

[2022-05-06 14:37] Ris-Bali opened #2610 "[DOC] Docs of models not available in newer release."
#### Describe the issue linked to the documentation

![image](https://user-images.githubusercontent.com/81592570/167154038-98c33a77-8b72-431b-932c-34b79b700bcd.png)

![image](https://user-images.githubusercontent.com/81592570/167154485-514fc6cd-dbac-439a-8087-85dc2d6356f0.png)

Clicking on the newer release takes the user nowhere.
Some models don't have their docs in the newer release of sktime .

[2022-05-06 14:51] aiwalter commented on #2610
where do you get this broken link?
I can access the latest release: https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.forecasting.compose.make_reduction.html

[2022-05-06 15:34] Ris-Bali commented on #2610
https://www.sktime.org/en/v0.6.1/api_reference/modules/auto_generated/sktime.forecasting.compose.make_reduction.html

[2022-05-06 15:35] Ris-Bali commented on #2610
This is the result I get when I search on Google maybe we can redirect to the newer docs .

[2022-05-06 15:36] Ris-Bali commented on #2610
Most of these links work and redirect to the newer docs but some go nowhere

[2022-05-06 15:42] miraep8 commented on #2603
I mean.... I guess so?  To be honest, I don't know if it bothers me that much as I think there is a balance to strike between reducing some of these concerns and writing code that is easy to maintain. Personally, I also don't see a good way to get around this in python that wouldn't "break" our sense of inheritance (ie whether the base classes has this `__or__` functionality now depends on the con

[2022-05-06 15:49] Ris-Bali commented on #2610
Another example of link not redirecting to newer docs https://www.sktime.org/en/v0.7.0/api_reference/modules/auto_generated/sktime.forecasting.compose.TransformedTargetForecaster.html

[2022-05-06 16:29] aiwalter commented on #2610
bcz that is the old website template. I think we cant do anything about google showing old API references. Unless we would drop old versions I guess

[2022-05-06 18:09] fkiraly commented on #2603
No, that's not my favourite alternative.
My favourite alternative is that the wrapper underscore calls the wrapped non-underscore. That retains both strategy and template pattern.

[2022-05-06 19:24] miraep8 commented on #2603
Sorry, I think I mispoke, by "delegate" I meant overwrite the underscore methods rather than the non-underscore methods.  The "delegation" itself would still call the non-underscore.

[2022-05-07 10:09] fkiraly commented on #2603
ah, ok - I misunderstood then. Looking forward to the prototype!
Perhaps a piece of advice, not sure if it makes sense: since we are looking at multiple options, and going from option A to option B will take some work not just conceptually but making it work. Hence, perhaps, different pull requests to contain the different prototypes make sense, at least until we have the final one.

[2022-05-07 12:38] fkiraly commented on #2203
From our discussion on slack, I would be interested to discuss design - *should* `ForecastingPipeline` have a transform?
You can get the same behaviour from `TransformerPipeline`.

A problem I noticed is that currently it would be difficult to have estimators that can be both transformer and forecaster, *and* have automated vectorization (for hierarchical data, of non-hierarchical forecasters/tran

[2022-05-07 19:23] miraep8 commented on #2603
In the end I went with an implementation basically identical to the method in `DelegatedForecaster`.  Since it is basically identical to the approach taken in `DelegatedForecaster` I went ahead and made you an author as well, but again let me know if that is an issue. I don't really care either way, it just seemed like a reasonable distribution of credit in this case.

The reason why I decided to

[2022-05-08 11:46] fkiraly opened #2614 "[MNT] specify `dtype=float64` in `pd.Series` constructors or most of sktime will break due to `pandas` deprecation"
Since recently, the following deprecation warning started appearing in many places:

[code]

Due to sensitivity regarding `dtype`, that would mean tests, utilities, or estimators start breaking where construction starts with an empty `pd.Series`.

We need to change instances of the constructor raising the warning.

A list of occurrences can be found in any CI/CD run in more recent PR.

[2022-05-08 11:48] fkiraly opened #2615 "[BUG] feature naming inconsistency in `WindowSummarizer`"
The following warning message seems to point towards a naming inconsistency in `WindowSummarizer`, of input vs output features.
It also indicates there may be a "time bomb" here, i.e., the estimator itself or tests going to break with sklearn 1.2:

[code]

FYI @danbartl

[2022-05-08 11:53] fkiraly opened #2617 "[MNT] replace deprecated timestamp.freqstr throughout sktime"
A very large amount of deprecation messages around `timestamp.freqstr` are raised throughout the CI/CD, especially around the `ForecastingHorizon`:

[code]

We should address this, as the `ForecastingHorizon` is a central object, so it would be catastrophic if it breaks.

At the moment, deprecation seems to be in the future since there is no specified version number yet, but we should prepare and

[2022-05-08 11:54] fkiraly commented on #2617
FYI @khrapovs, in case you know how to easily get rid of this.

[2022-05-08 11:54] mahmodalimohamadi opened #2618 "[DOC]"
#### Describe the issue linked to the documentation

[google_privacy_policy_en-GB.
Mahmodalimohamadi401@gmail.com

#### Suggest a potential alternative/fix

[2022-05-08 11:56] fkiraly commented on #2618
looks like an issue opening accident or sth written by a bot

[2022-05-08 11:56] #2618 closed

[2022-05-08 11:57] fkiraly commented on #2552
Has been resolved by https://github.com/alan-turing-institute/sktime/pull/2561

[2022-05-08 11:57] #2552 closed

[2022-05-08 12:05] khrapovs commented on #2617
I would love to tackle it. I hate warnings. Besides, this is very much related to my #1737.

[2022-05-08 12:24] fkiraly commented on #2617
I suspected... there are thousands of these!
Unfortunately, I'm not sure what a suitable replace would be in all the cases.

[2022-05-08 13:38] ltsaprounis commented on #2591
Typically in-sample forecasts are only one-step forecasts, in that case the recursive and the direct approaches will have the same in-sample forecast. Multi-steps for in-sample data are also used here and there, so I think they should be supported in sktime. I like the interface described in [Forecasting Principles and Practice](https://otexts.com/fpp3/training-test.html) where you select which st

[2022-05-09 01:07] fkiraly commented on #1447
@h-t-w, thanks for your feedback!

I've updated the forecaster tutorial here: https://github.com/alan-turing-institute/sktime/pull/2620

Feedback on the updated notebook would be appreciated.

[2022-05-09 19:03] k1m190r opened #2621 "[BUG] Prophet with `growth="growth="logistic"` and `growth_cap` set to the array does the `fit` but fails on `predict`."
**Describe the bug**
Prophet allows logistic grown capacity and/ or floor to be either scalar or array. While fixing #1079 noticed that when set to

**To Reproduce**
[code]

**Expected behavior**
y_pred with valid values.

**Additional context**
only fails if cap is array.

I'll continue looking at this.

[2022-05-09 19:22] renejra commented on #2351
While it was possible to install sktime, the module sktime-all-extras is not available for M1 and I'm seeing strange behaviors when following the notebooks of [sktime tutorial shown in PyData Berlin 2022](https://github.com/sktime/sktime-tutorial-pydata-berlin-2022) For example, not all forecasters are available, and I can't use the predict_var method for some reason.

[2022-05-09 19:50] fkiraly commented on #2351
Hm, your strange behaviour sounds like using an older version of sktime, @renejra - what´s your local sktime version?

[2022-05-09 19:53] renejra commented on #2351
@fkiraly I have 0.10.0 installed, build pyh27d4807_0 from conda-forge

[2022-05-09 19:55] fkiraly commented on #2351
newest is 0.11.3, that would explain your problems...

[2022-05-10 07:26] renejra commented on #2351
@fkiraly unfortunately newer version (0.11.3) faces dependency issues on M1 Macs. I'll keep debugging and give a heads up if I'm able to install sktime with all extras, and how I did it (if successful)

[2022-05-10 09:58] bethrice44 commented on #1363
Are there still plans to add generic prediction intervals for those that don't have them? I'm looking for a way to do this and came across [this library](https://mapie.readthedocs.io/en/latest/index.html). There is a [PR in progress](https://github.com/scikit-learn-contrib/MAPIE/pull/135) to add a class specifically for time series.

Currently, due to the ordering of `X` and `y` in the fit method

[2022-05-10 13:20] khrapovs commented on #2617
This is almost duplicate: https://github.com/alan-turing-institute/sktime/issues/1750

[2022-05-11 19:35] k-olsen opened #2625 "[BUG] cross validation does not work with MiniRocket when an integer random_state is used"
**Describe the bug**

An error occurs when a `MiniRocket` model containing a specified `random_state` is used within a function that includes cross validation. If `random_state=None` within `MiniRocket`, no error occurs.

**To Reproduce**

[code]

Error:
[code]

**Expected behavior**

Cross validation should not fail if an integer is specified for `random_state`.

**Additional context**

**Version

[2022-05-11 20:22] fkiraly opened #2626 "[BUG] remove unused `interval_width` param from `Prophet`"
The `interval_width` parameter of `Prophet` is not used (later overridden by an interval width in `predict_interval`), and not mentioned in the docstring.

I think it should simply be removed as an `__init__` argument - initialization logic can be replaced by the default value, if needed.

Do I understand the logic correctly, @kejsitake? Would you agree with this?

[2022-05-11 23:35] fkiraly opened #2628 "[BUG] `_RecursiveReducer` breaks when list of transformers not starting with `WindowSummarizer` is given"
`_RecursiveReducer` breaks if `transformers` is not, or does not start with `WindowSummarizer`, and no `window_length` is passed.

This code sits in `_fit`:

[code]

This assumes the first transformer in the list will be the `WindowSummarizer`.
Obviously, we can't assume that in general.

@danbartl, why are you doing this? I.e., why not just apply the `WindowSummarizer`?

Generally, things should

[2022-05-12 00:21] fkiraly commented on #2617
indeed, dupicate of #1750!

Has it already been half a year?

We might want to do sth about this...

[2022-05-12 00:21] #2617 closed

[2022-05-12 00:21] fkiraly commented on #1750
unassigning @Carlosbogo, since he abandoned it.

Assigning @khrapovs who said he would take it on in duplicate #2617.

[2022-05-12 00:22] phershbe commented on #2626
@fkiraly If you decide that this change should be implemented, I can do this if you would like. I'm relatively new to open source and have never worked as a programmer, I am fairly confident in my ability to do algorithms and to read and write code though. I found the file in the codebase.

[2022-05-12 00:24] fkiraly commented on #1363
Yes, @bethrice44, there is already `NaiveVariance` which you can use for that purpose.

The forecasting variant of the MAPIE library you linked is in this pull request:
https://github.com/alan-turing-institute/sktime/pull/2542

and will be available in 0.12.0 later this month if another core developer will review it by then...

[2022-05-12 00:28] fkiraly commented on #2626
well, it's a two- or few-line change, so it would be great if you could make a draft PR and we see if anything breaks - that's also valuable information here. Thanks!

Before merging, I'd still wait a few days for @kejsitake to respond if she find the time to look at this.

But, since it's just a few lines, I see no harm in getting started, under the proviso that it might not get merged in the end

[2022-05-12 00:34] fkiraly commented on #2625
This is a known issue which was fixed by PR https://github.com/alan-turing-institute/sktime/pull/2027 and should be in 0.12.0.

Tested your code with the current dev version, no error (python 3.8.12, windows)

[2022-05-12 00:34] #2625 closed

[2022-05-12 00:43] fkiraly commented on #1363
This should be closed, since it was implemented in https://github.com/alan-turing-institute/sktime/pull/1865

[2022-05-12 00:43] #1363 closed

[2022-05-12 00:46] fkiraly commented on #2610
I wouldn't drop them, for record keeping sake

[2022-05-12 03:54] phershbe commented on #2626
@fkiraly @kejsitake Okay, great, the draft PR is above. No problem if it does not get merged in the end, I'm here to learn and to contribute to the project.

You will want to check out the changes to make sure that they make sense, as I don't have so much experience yet. Am I in the correct file? Because interval_width exists in two other files too. In the file that I changed, I didn't delete "int

[2022-05-12 14:12] kejsitake commented on #2626
Hi @phershbe and thank you for considering contributing to sktime!

I recall there being something weird about prophet requiring the `interval_width` argument at the time of class initialization, different from the other forecasters that required it only when calling predict_int, but I think that this change shouldn't impact any of that.

[2022-05-12 14:59] fkiraly opened #2631 "[BUG] sktime breaks with new scikit-learn 1.1.X due to private import"
Someone has been importing private methods again 😠

This time it's `sklearn` 1.1.0 with `_check_param_grid from sklearn.model_selection._search` being imported in `forecasting/model_selection/_tune`

... breaking much of `sktime`

[2022-05-12 17:02] fkiraly commented on #984
adopted and implemented in versions 0.10 amd 0.11

[2022-05-12 17:02] #984 closed

[2022-05-12 17:28] fkiraly commented on #2626
Yes, that's what I also thought, @kejsitake, it should be fine if we feed it some parameter, it doesn't need to be coming from `__init__`.

[2022-05-12 17:30] #2626 closed

[2022-05-12 19:58] ngupta23 commented on #2631
From [sklearn github](https://github.com/scikit-learn/scikit-learn)

@fkiraly Will this be an issue for sktime with python 3.7?

[2022-05-12 22:36] fkiraly commented on #2631
I don't think so, since if you want to install sktime on python 3.7, you end up installing 1.0.2, which still works with sktime, according to the CI/CD.

I.e., you can use future `sktime` versions with the highest 3.7 compatible version of `sklearn` still, you simply are locked in to `sklearn` 1.0.2 or less.

[2022-05-13 02:15] ngupta23 commented on #2631
Sorry, it was a badly phrased question. What I really wanted to ask was whether sktime will support 3.10? Most of the dependencies in pycaret now support this (with the latest release of sklearn) except sktime, so just curious :)

[2022-05-13 09:21] TonyBagnall opened #2634 "[ENH] Implement Minimal Variance Matching (MVM) distance function"
I found an elastic distance measure from the UCR group referenced in the MSM paper that I was not previously aware of.

L. Latecki, V. Megalooikonomou, Q. Wang, R. Laka¨mper, C. Ratanamahatana, and E. Keogh, “Elastic Partial Matching of Time
Series,” Proc. European Conf. Principles of Data Mining and Knowledge Discovery (PKDD)

https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.79.5842&rep=

[2022-05-13 09:51] TonyBagnall opened #2635 "[ENH] can function `_calc_cost_cell` in `distances._msm` be removed?"
there is I think a redundant function in move split merge function (file distances/_msm.py) , I cannot find any uses of it, but I just want to double check in case in plays a role somewhere I cannot see, e.g. notebooks.

![image](https://user-images.githubusercontent.com/9594042/168258903-5eedeb89-fa52-4dfc-a67f-260cc9734ed6.png)

[2022-05-13 10:57] #2631 closed

[2022-05-13 10:58] fkiraly commented on #2079
@ngupta23, moving the question from #2631 to here. Perhaps @lmmentel or @freddyaboulton can give you the newest on this?

[2022-05-13 11:05] fkiraly commented on #2635
this is ... very ... blue?

[2022-05-13 11:44] ngupta23 opened #2637 "[BUG] `TSFreshFeatureExtractor` gives inconsistent results when input is numpy vs. pandas"
**Describe the bug**

`TSFreshFeatureExtractor` gives inconsistent results when input is numpy vs. pandas. In case of numpy, it is a dataframe. in case of pandas, it sums up all columns and returns a single row only!

Also, column names seem inconsistent with numpy having `var` prepended to the names but with pandas, this is missing.

**To Reproduce**

[code]

![image](https://user-images.githubus

[2022-05-13 11:56] fkiraly commented on #2637
I think I understand the problem here.

A 2D numpy array can be used as a representation of univariate `Panel` format, where rows correspond to indivieual series, or multivariate `Series` format, where rows correspond to time points.

The type inference of `sktime` ends up selecting the former and not the latter, which seems counterintuitive given the example.

This probably needs to be turned aro

[2022-05-13 12:00] fkiraly commented on #2637
FYI @tvdboom, I think it comes from ambiguous type inference when applying any transformer to a 2D numpy array.

It should probably be interpreted as single multivariate series, and not a panel of multiple univariate series.

[2022-05-13 12:20] ngupta23 commented on #2637
@fkiraly In this case, we want to extract the features for each individual series - so we can eventually classify them into categories. Could you clarify what change has to be made and where?

[2022-05-13 12:43] ngupta23 commented on #2637
@fkiraly So maybe use this from your example folder instead?

![image](https://user-images.githubusercontent.com/33585645/168285195-ad550a18-46bd-470d-aafc-0e3dd3c5ff44.png)

[2022-05-13 13:01] fkiraly commented on #2637
Wait, you think the output in the `numpy` case is correct and the output in the `pandas` case is not what you want??

In that case, this looks like user error then.

If you want to pass multiple series in `sktime`, you have to do it in one of the panel formats, see section 1.2 of this notebook
https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb
for th

[2022-05-13 13:08] fkiraly commented on #2637
reduced example that does not involve sklearn

[code]

[2022-05-13 13:27] TonyBagnall commented on #2637
I would argue the opposite, 2D array should by default be a collection of univariate series!

[2022-05-13 13:39] TonyBagnall commented on #2635
I have the blues

[2022-05-13 13:42] fkiraly commented on #2637
On another note, the source of the bug is a completely broken series-vs-panel conversion logic for numpy data containers:
https://github.com/alan-turing-institute/sktime/pull/2638

The index sequence was being flipped around the completely wrong way.

Really easy to get confused due to the difference in sequence between TSC favoured specification and sklearn style specification:
[code]

[2022-05-13 15:08] ryali1 commented on #2357
I am not working on this anymore. @TNTran92 if you would like to work on this, I have a closed PR with some preliminary progress. There's a version which works without exogenous factors and some code that should help you with exogenous factors, but is not passing some of the tests. Link is here to the closed PR: https://github.com/alan-turing-institute/sktime/pull/2407

[2022-05-13 15:08] ryali1 commented on #2417
I am not working on this anymore, so it's open for anyone else to take up!

[2022-05-13 15:10] TNTran92 commented on #2357
Thanks, I will take over from here

[2022-05-13 15:23] fkiraly commented on #2637
@TonyBagnall, what have you done!

It is, in fact, like that in the classification notebook! I.e., 2D numpy array interpreted as a panel of univariate series and not as a single multivariate series! 😱
(cell 9, the one with the `sklearn` pipeline)

How do we sort that out then?
I thought we agreed to not use the `numpyflat` specification, except internally!

[2022-05-13 15:32] fkiraly opened #2640 "[ENH] type convention clash between transformers and classifiers in case of 2D numpy input"
There is a type convention clash between transformers and classifiers, as currently in sktime.
😱

Transformers are consistent with the forecasting module and the datatypes module (convention A), but classifiers are not (convention B).

The clash is as how 2D `numpy` arrays are being interpreted.

Classifiers (convention B) interpret them as a panel of univariate series, (n_series, n_timepoints).
T

[2022-05-13 15:33] fkiraly commented on #2640
FYI @ngupta23, @TonyBagnall

[2022-05-13 15:33] fkiraly commented on #2640
FYI @tvdboom

[2022-05-13 16:52] fkiraly commented on #2640
from slack:

I see 2 major options and one family of minor ones

* option A: 2D numpy is always numpyflat (Panel)
* option B: 2D numpy is always numpy2D  (Series)
* option C: depends on scitype, and then you need to say for classifiers, transformers, and forecasters what it should be

I think at least temporary, we need to have option C with numpyflat for classifiers and numpy2D for forecasters, e

[2022-05-13 16:56] fkiraly commented on #2637
correction: user frustration due to whas is imo a highly problematic internal inconsistency in handling and interpreting the 2D numpy type

[2022-05-13 17:14] fkiraly commented on #2459
Here's an new idea in relation to dunders, since we have encountered the edge case of string-estimator pairs as components, as well as the Gorilla/Banana problem.

What about a class `Pipeline` which eats everything next to it when coupled with dunders? This signals that we are building a pipeline, and would work even with a pipeline constructed entirely of objects that have no dunders, e.g.,

[co

[2022-05-13 17:18] TonyBagnall commented on #2640
So panel transformers should assume rows are cases imo, anything else is counter intuitive. Series transformers assume a single multivariate series

[2022-05-13 17:19] TonyBagnall commented on #2640
Can you not just tag the internal data type meaning?

[2022-05-13 17:20] fkiraly commented on #2640
That wouldn't work with transformers, where it has to be either or.

[2022-05-13 17:21] fkiraly commented on #2640
There is no such thing anymore as panel/series transformers - all transformers accept series and panel data now, and the default behaviour to switch between the two is "iterate over series" (if panel) or "interpret as one-series panel" (if series).

[2022-05-13 17:25] fkiraly commented on #2640
current, broken behaviour of transformers: if given 2D numpy array of shape (m, n), interpret this as m instances, n variables, 1 time point

[2022-05-13 18:09] #2555 closed

[2022-05-13 18:28] miraep8 commented on #2459
I like that idea, as I also think it improves readability!  I like the second version of it in particular (ie, using the `<<`). How easy do you think it would be to have this `Pipeline` class support both transformations to exogenous X variables and to input/y so that the `*` could be used for both?  (ie, maybe this `Pipeline` class could become the more general Pipeline class that we had discusse

[2022-05-13 19:28] TonyBagnall commented on #2640
well I was not party to that, we always used to have panel and series transformers, which seemed sensible to me. I would have been against the change if I had time to form an opinion, this being one use case why.  I thought you had reassured me I could throughput 2D numpy, so I left transformers well alone, but perhaps that is only 3D numpy. I have enough to do on distances, classification, cluste

[2022-05-13 19:53] fkiraly commented on #2640
That's for classifiers only.

What will work with 2D numpy as you intend:

* any classifier in sktime
* including a `ClassifierPipeline` with any transformer and any classifier in it
* including pipelines constructed with dunder methods `*`

The one case that doesn't work is using `sklearn` (not sktime) pipelines with `sktime` transformers if you are passing panel data.

[2022-05-13 19:54] fkiraly commented on #2640
That's why I made some changes to help.

Besides the 2D/3D numpy thing, I think there are also a few other useful additions there.

[2022-05-13 20:07] fkiraly commented on #2459
How would that work, would that not be ambiguous?

Yes, that's what I meant with "eat everything ... objects that have no dunders".

Operator precendence might make it slightly tricky, since if one uses `<<` everything to the right is evaluated first until `NotImplemented` are reached (see, e.g., https://docs.python.org/3/reference/expressions.html#operator-precedence )

so one could use `**` inst

[2022-05-13 21:37] miraep8 commented on #2459
Hmm, so the two points you referenced were not intended as separate ideas but rather meant to go together.  ie, I had been proposing we could resolve the ambiguity between different types of transformations by using the named tuples,  ie, something like this (This is just an example, not necessarily saying this would be the best and/or only way to implement this, we don't need to use namedtuples!)

[2022-05-14 15:45] lbventura commented on #220
Checked the forecasters for multivariate time-series and the dynamic factor model is not implemented. Would it be of interest to add it to sktime using the [statsmodels](https://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.dynamic_factor.DynamicFactor.html) implementation, similar to what was done with the [UnobservedComponents](https://www.sktime.org/en/stable/api_reference/auto_g

[2022-05-14 16:05] fkiraly commented on #2526
@cgoxo, are you still working on this?

[2022-05-14 22:39] cgoxo commented on #2526
Sorry Sir, I got busy related to my college activities. Now I am free and can work on this problem.

[2022-05-16 00:44] fkiraly commented on #220
@lbventura, I think @Ris-Bali attempted to implement the dynamic factor model but abandoned it here:
https://github.com/alan-turing-institute/sktime/pull/2349

Given that the last activity is one month old, I don´t think he´d mind if you branch off if you try to complete it?

[2022-05-16 04:00] Ris-Bali commented on #220
Sorry for leaving it when it was almost done ; I had my exams ; they end this week but I wouldn't mind if @lbventura continues and completed the model.

[2022-05-16 06:00] lbventura commented on #220
Great @fkiraly and @Ris-Bali. I'll be tackling it this week and the next, so we can work on it together @Ris-Bali if you want to.

[2022-05-16 09:10] Ris-Bali commented on #220
Sure let's work together then .

[2022-05-16 15:42] fkiraly opened #2650 "[ENH] Fourier series components"
### Discussed in https://github.com/alan-turing-institute/sktime/discussions/2649

<div type='discussions-op-text'>

<sup>Originally posted by **GrzegorzRut** May 16, 2022</sup>
Hi!
I've recently stumbled upon [this](https://robjhyndman.com/hyndsight/longseasonality/) and [this](https://medium.com/intive-developers/forecasting-time-series-with-multiple-seasonalities-using-tbats-in-python-398a00ac0

[2022-05-16 15:43] fkiraly commented on #2650
Good idea!

Legacy sktime seemed to have a `FourierTransformer`, but I´m not sure where it went.
Perhaps best to start from scratch...

[2022-05-16 23:15] drew-hill opened #2652 "[BUG] sktime.distances.elastic cannot be found"
**Describe the bug**

Python 3.9.12
sktime==0.11.4

When attempting to utilize the sktime.distances.elastic module, I receive the following error:

[code]

Loading sktime.distances by itself produces no errors.

Loading sktime.distances.elastic in a version < 0.11.0 produces no errors as well.

**To Reproduce**

With Python 3.9.12 using the latest sktime v 0.11.4, open python and attempt the follo

[2022-05-16 23:51] fkiraly commented on #2652
I think this is not a bug - the `distances.elastic` module no longer exists, after deprecation.

Distances are now directly imported from the `distances` module, i.e., you need to

[code]

[2022-05-16 23:56] fkiraly opened #2653 "[ENH] sktime-pywatts integration - umbrella issue"
The `sktime` and `pywatts` packages have decided to explore integration, especially of the `keras`-like pipeline architecture that `pywatts` has.

This issue is an umbrella issue for that integration and collects work items.

- [ ] high-priority design item: https://github.com/alan-turing-institute/sktime/issues/2654
- [ ] high-priority design item: https://github.com/alan-turing-institute/sktime/

[2022-05-17 00:00] fkiraly opened #2654 "[ENH] sktime-pywatts integration - `__call__` dunder design"
Part of [pywatts integration design questions](https://github.com/alan-turing-institute/sktime/issues/2653).

`pywatts` has a nice `keras`-like `__call__` dunder syntax for creating pipelines.

It is, however, not entirely clear:

* which design we should follow - single layer (modules and estimators "fused") or dual layer (pywatts modules vs sktime estimators)
* whether `__call__` should live dir

[2022-05-17 00:03] fkiraly opened #2655 "[ENH] sktime-pywatts integration - `xarray` support"
Part of [pywatts integration design questions](https://github.com/alan-turing-institute/sktime/issues/2653).

`pywatts` uses `xarray` as central data container, while `sktime` does not have `xarray` as one of its supported input data types.

Adding it to the `datatypes` module would be very easy, but a few design questions need to be answered:

* should `xarray` become a core dependeny, or only a

[2022-05-17 00:06] fkiraly opened #2656 "[ENH] sktime-pywatts integration - draft STEP for first integration prototype"
We should write a draft STEP before the onboarding week, so we have something to present for ideas discussion on the pipeline topic.

@benheid has kindly agreed to coordinate this.

[2022-05-17 00:07] fkiraly commented on #2653
FYI @benheid, @smeisen, @kalebphipps

[2022-05-17 00:09] drew-hill commented on #2652
Oh, I totally missed that deprecation. If this works -- which I'll test right now -- perhaps this bug report could be transitioned into a feature request re: a more prominent warning on the "elastic" module's deprecation?

[2022-05-17 00:16] fkiraly commented on #2654
FYI, this may interest you, @miraep8, due to connection with dunders/pipelines.

[2022-05-17 00:22] fkiraly commented on #2652
Well, I hope it did get deprecated...

Typically, we stay compatible and warn for one full minor version cycle, and two for big changes.
The warning would come too late, since the module is no longer there, and code referring to it breaks since 0.11.0.

I just checked the release notes, and it appears no deprecation was noted in 0.10.0?

@TonyBagnall, @chrisholder, do you remember when this has ha

[2022-05-17 00:23] fkiraly commented on #2652
The "clean" way to deprecate would be to forward imports of `distances.elastic` to `distances` and raise a `DeprecationWarning` wherever someone imports anything from `distances.elastic`. I just opened up 0.10.0, and that does not seem to have happened. Oh well - too late...

[2022-05-17 15:59] drew-hill commented on #2652
Importing directly from 'sktime.distances' did the trick. Thanks!

And no sweat -- glad to have it sorted and now folks will at least stumble across the "solution" here if they find themselves in a similar boat. Thanks again for your help!

[2022-05-17 16:26] divo12 commented on #2650
I wish to contribute to this issue

[2022-05-17 18:24] fkiraly commented on #2652
I think there´s no action here since the deprecation continuity is already broken, unfortunately. Sorry again, @drew-hill, and glad to read that it works now.

[2022-05-17 18:24] #2652 closed

[2022-05-17 18:25] fkiraly commented on #2650
Excellent, thanks, @divo12!

[2022-05-17 18:28] fkiraly commented on #2079
From discussion in #2651:

Why would non-3.10 compatible soft dependencies prevent us from an upgrade?

We can simply raise warnings and errors with a descriptive message regarding python compatibility, in those problematic soft dependencies? Might take a little bit of tinkering with the soft dependency utility, but surely soft dependencies should not prevent us from supporting python 3.10? That´s

[2022-05-18 11:13] benHeid commented on #2654
Concerning the second bullet point, I just had an idea to make the `__call__` dunder import-dependent. However, I suppose this solution is a bit hacky... and also confusing to users because we probably could not customize the exception message if the users try to use the `__call__` under without having installed pyWATTS.

[code]

`some_non_installed ` and `os`  would be replaced by pyWATTS and `pr

[2022-05-18 13:25] indinewton opened #2658 "[BUG] ColumnwiseTransformer for Exogneous Forecast returns error during inverse_transform() call triggered from predict() method in pipeline"
**Describe the bug**

Typically ColumnwiseTransformer should work regardless whether y is pd.Series or pd.DataFrame. But when tried with different scenario as explained below in "To Reproduce" section, it seems during inverse_transform() method call from fitted ColumnwiseTransformer instance - it is looking for column names of y_pred to match exactly as it was fed for y_train. The issue is strictl

[2022-05-18 17:26] #1906 closed

[2022-05-18 19:07] #2604 closed

[2022-05-18 21:11] k-olsen opened #2662 "[BUG] Error with n_jobs when MiniRocket is used with calibration"
**Describe the bug**

An error is produced when the `MiniRocket` transform is used with `sklearn`'s `CalibratedClassifierCV` and `n_jobs` is set to any integer _except_ 1 or 2. If `n_jobs=1` or `n_jobs=2` the error is not produced.

If `n_jobs = -1` is used in `MiniRocket` _without_ wrapping the model with `sklearn.calibration.CalibratedClassifierCV` the error does not occur.

**To Reproduce**

[c

[2022-05-18 21:34] seanlaw commented on #2347
In case it may be relevant to this group, in addition to computing a matrix profile (`stumpy.stump`), STUMPY also provides a [`stumpy.mpdist` function](https://stumpy.readthedocs.io/en/latest/api.html#stumpy.mpdist), which leverages `numba` out of the box. All of the code is unit tested and both `stump` and `mpdist` functions are parallelized to use all available cores, which means that it will be

[2022-05-18 21:38] lmmentel commented on #2079
I am strongly against that since it's not the role of the estimator to depend on the python version.

[2022-05-19 10:59] chrisholder opened #2663 "[BUG] Sktime installation with numpy 1.22"
**Describe the bug**

Numba only supports up to numpy 1.21
![image](https://user-images.githubusercontent.com/4674372/169277932-888b0ba3-242f-4dd9-bc53-233cd1f918bd.png)

**To Reproduce**

pip install sktime

Try importing anything that requires numba for example:

[code]

**Expected behavior**

**Additional context**

I dont know for a fact but id imagine you fix this by editing the pyproject.tom

[2022-05-19 12:33] fkiraly commented on #2663
Why would we introduce a version bound on `numpy`? Since we install `numba` as a dependency, the correct upper bound should be inferred from the `numpy` version bound in `numba`, no?

Hence, in no instance should an installation of `sktime` break due to `numpy`/`numba` incompatibility. Or am I missing something?

[2022-05-19 14:25] chrisholder commented on #2663
I made a new project, pip installed sktime and got the above error because it by default installed the highest version of numpy it could find im assuming

[2022-05-19 16:25] indinewton opened #2665 "[BUG] StackingForecaster doesn't work with exogenous factors the way normally users expect to feed the data"
**Describe the bug**

StackingForecaster throws error during fit() when being used with forecasters which can handle exogenous variables.

**To Reproduce**

[code]

**Error returned**
[code]

**Expected behavior**

**Additional context**

Error is happening probably because of this line (as commendted) in the code below; source `sktime/sktime/forecasting/compose/_stack.py`:

**please read the comm

[2022-05-19 23:26] fkiraly opened #2668 "[BUG] `StackingForecaster` seems to execute a senseless algorithm"
The algorithm inside `StackingForecaster` seems strange.

What it does is take the `fh`, and takes the last window of equal length. On it, it fits a regressor of forecasts against actual.

What this results in is, for a `fh` of length `1`, in a fit on a single data point.
That seems completely nonsensical.
There is also no scientific reference cited for the algorithm.

What it should probably be d

[2022-05-19 23:30] fkiraly commented on #2663
that´s weird, dependency resolution should prevent that.
Can you post a minimal user journey to obtain the problem, and your OS version?

[2022-05-19 23:34] fkiraly commented on #2079
I´m surprised about this statement of yours!

I see `sktime` like a library of libraries. I.e., estimators, many of which interface to other libraries. Those libraries have python version bounds. So it seems natural to attach that property to an estimator.

Note, in my conceptual model I do not consider an estimator to be an algorithm in its abstract, ideal form. I consider it an algorithm in a sp

[2022-05-19 23:36] fkiraly commented on #2079
Another, more practical argument for my viewpoint: in the "ideal limit", the number of algorithms following the sktime interface (though, not necessarily in sktime itself), or more generally, a scikit-learn like interface, approaches infinity.

In this limit, the individual libraries interfaces will be arbitrarily behind the current python version, e.g., slow to update. That will mean that as skti

[2022-05-19 23:38] fkiraly commented on #2347
@seanlaw, the `MatrixProfileTransformer` already uses `stumpy` - so, can you explain why you are providing this information, or how it is relevant to the above? I may just be too stupid to see the connection, so feel free to explain it like to an elementary school pupil.

[2022-05-19 23:40] fkiraly commented on #2347
are you referring, perchance, to the `mpdist` in `sktime`?

[2022-05-19 23:51] indinewton commented on #2668
You are right. But I thought maybe someone who proposed this algorithm in past might have reasoned it in terms of code design. Because a lot of design decisions in beginning were affected by how individual contributors thought of using Sktime with whatever data they had. I call it the "curse_of_air_passengers_data" for load_airline() dataset (because then everywhere defaults are like 12 assuming t

[2022-05-19 23:59] seanlaw commented on #2347
@fkiraly Yes, my apologies for not being so clear. My comment was in response to @TonyBagnall but also, in general, that you may be able to replace all of the existing matrix profile code with STUMPY and avoid needing to maintain that code in `sktime`. Sorry for the confusion

[2022-05-20 00:04] fkiraly commented on #2668
#2667 does not actually attempt to fix the content issue, only the interface problem.
The algorithm still seems broken to me there (the intention is unchanged).

[2022-05-20 07:55] fkiraly commented on #2347
I see!

While you are here, do you perhaps understand the difference between the two matrix profile transformers in sktime?
I.e., why does one produce a series, and one non-time-ordered features? What are the outputs?

Alternatively, what is the matrix profile for you: an algorithm that produces a time series given a time series, or an algorithm that produces an unordered collection of features gi

[2022-05-20 12:36] fkiraly commented on #2658
I tried scenario 2 on current main with python 3.8.12 and windows, the error does not occur.

[2022-05-20 12:40] aiwalter commented on #2658
I can confirm that scenario 2 and 4 runs on `main`

[2022-05-20 12:40] #2658 closed

[2022-05-20 12:55] fkiraly commented on #2658
from the collab session: this is fixed by the PR https://github.com/alan-turing-institute/sktime/pull/2607, and the occurrences above can be explained in the context of the buggy conversion in the presence of series names.

[2022-05-20 13:50] LarsLZondag opened #2669 "[BUG]"
**Describe the bug**
While trying to evaluate a NaiveForecaster model on a sufficiently large time series (1000+ rows), the update_predict function takes several minutes to run. Although I'm not sure, I suspect the code should be able to run faster when using such a computationally easy model.

**To Reproduce**
[code]

**Expected behavior**
I expect a simple model like this should be able to run i

[2022-05-20 14:55] seanlaw commented on #2347
@fkiraly When I look at [series/matrix_profile.py](https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/series/matrix_profile.py) and [panel/matrix_profile.py](https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/panel/matrix_profile.py), for all intents and purposes, they both produce the same matrix profile output, which is a truncated 1D s

[2022-05-20 17:53] miraep8 opened #2670 "[ENH] MultiplexTransformer Discussion"
During the community meetup today @aiwalter and @indinewton suggested it would be useful to create this issue to discuss the implementation of a  `MultiplexTransformer`.  After getting a chance to check out `OptionalPassthrough` I think we might not need build this thing at all (I agree it could be a bad idea to have multiple areas of the code base with such overlapping/similar functionality).  Bu

[2022-05-20 17:57] fkiraly commented on #2670
Tagging related issue: https://github.com/alan-turing-institute/sktime/issues/2603

[2022-05-20 18:00] fkiraly commented on #2670
I was aware! I faintly remember that I may have said, written, or thought that `OptionalPassthrough` is, content-wise, equivalent to a `MultiplexTransformer` with the transformer that is the parameter, and an `IdentityTransformer`. So, the `OptionalPassthrough` would be the special case, the other way round I think it does not work.

Although I´m not sure whether implementing it that way the best

[2022-05-20 18:01] fkiraly commented on #2670
@miraep8, @aiwalter, can you explain how this would look like mathematically?

This does not seem correct to me. I do not think we can easily replace an instance of the `MultiplexTransformer` with `OptionalPassthrough`.

How would this work, formally? Can you give an example, let´s say, how we would replace a multiplexer over three transformers, A, B, C?

[2022-05-20 18:06] fkiraly commented on #2670
That's how I would do it. I.e., `(A * B) | (C * D)`, where `A`, `C` are transformers, and `B`, `D` are forecasters. The dunder syntax would invoke the `MultiplexForecaster`, not the `MultiplexTransformer`, since the pipelines `A * B` and `C * D` are forecasters.

[2022-05-20 18:09] fkiraly commented on #2670
I think that already the simplest case, i.e., `A | B` , cannot be captured equivalently by a composition that involves only `OptionalPassthrough`.
(except when `A` or `B` is trivial)

[2022-05-20 18:10] fkiraly commented on #2670
Yes, but I doubt that we do not need it.

[2022-05-20 18:11] fkiraly commented on #2670
Yes! A "Pipeline" notebook. `examples/05_pipelines.ipynb` where all the neat facts about pipeliens are collected in one place, and which has a list and examples with all the components and dunders!

[2022-05-20 18:14] fkiraly commented on #2670
... and all this was discussed in the 10min when I wasn't there?? You were busy, apparently...

[2022-05-20 18:18] indinewton commented on #2670
Let's take an example (below is not the actual code but more of a pythonic way of explaining the current concepts of sktime)
[code]

From here, we challenged that the outcome and functionality of MultiplexTransformer + MultiplexForecaster
will be same as what is achieved below
[code]
So having a class of MultiplexTransformer allows user to save this 5 to 6 lines of code. Which is why we were wonde

[2022-05-20 18:21] fkiraly commented on #2670
@indinewton, can you kindly be more precise, and specify two *estimators* that would be equivalent?

You are outlining a manual process and not an estimator, and it seems you are not entirely on one page with @miraep8 on how the `MultiplexForecaster` would be used (or what it formally does). You would be doing `ForecastingGridSearchCV(MultiplexForecaster)`, not the other way round.

[2022-05-20 18:34] fkiraly commented on #2670
Hm, depends on how many, and which combinations we want to select over.
If only some combinations, I would still use the multiplexer.

If all combinations, one could create a `PermutationPipeline`, which takes as parameters the transformers in the chain, and an element of the permutation group over the set of transformers. Although that feels impractical for anything except a small number of eleme

[2022-05-20 18:41] indinewton commented on #2670
@miraep8 Actually this is currently not possible in sktime. Adding MultiplexTransformer will probably solve this, you are right.

Generally when we are building forecasting applications, we expect GridSearchCV to find answers for us. So if the answer would be _deaseasonlizer_ true and _scaler_ false, then that would be detected through GSCV. But what if user just wants to pick only one transformer

[2022-05-20 18:47] indinewton commented on #2670
I also agree with what has been suggested here. Additionally transformers can get really messed up if orders are randomly permuted. For example apply MinMaxScaler before a transformer which might be doing divisions or logs (LogTransformer), because minmax guarantees presence of 0 in the transformed data. Additionally, in pipeline that we have built for customers, the order is carefully decided aft

[2022-05-20 19:01] indinewton commented on #2669
I faced similar questions while trying other methods. But most of them became faster after changing ExpandinWindowSplitter(). I think you are creating too many samples, you can check this with `cv.get_n_splits(y_playbook)`. I think, if you don't define `initial_window` parameter in ExpandingWindowSplitter() it uses default of 10. So you start cv sampling from: cv_sample1 - train:[1,2...10] test[11

[2022-05-20 19:33] fkiraly commented on #2347
I see, thanks, @seanlaw!

So, can I confirm, you are saying:

* content-wise, both transformers look and seem equivalent, except that one formats the output as a table and one as a series
* conceptually, what *should* happen is formatting as a series, since there is an inherent ordering in the matrix profile
* so, the one in "panel" is redundant since it could be obtained by taking the one in "ser

[2022-05-20 20:05] seanlaw commented on #2347
To be precise, I believe that the one in "series" actually returns a 1-D `numpy` array (in case we are referring to `pandas` Series)

Yes

Yes

I genuinely hope that I'm not coming across as having an ego as I do not want to diminish the wonderful open source contributions of others or to make this a competition. Having spent a lot of time implementing a hyper-optimized matrix profile calculator,

[2022-05-20 20:11] miraep8 commented on #2670
@fkiraly - I 100% agree that the `OptionalPassthrough` cannot fully replace what `MultiplexTransformer` could do in its current state- **Question 1** above was meant to be one such highlight of this issue (which I think is the more general case of the `A` | `B` example that you mentioned).

My point was really - should we either a) change how we handle `OptionalPassthrough` (which I think we could

[2022-05-20 20:15] miraep8 commented on #2670
(**Question 2** was meant to demonstrate another case that would be easier to solve with `MultiplexTransformer` than with `OptionalPassthrough` I realize now perhaps I should have called them cases not questions)

[2022-05-20 20:20] miraep8 commented on #2670
However - I don't want to discount my suggestion about generalizing the `GridSearchCV` `param_grid` entirely as I think it could also unlock some interesting functionality/abilities to pair/have more control over what space we are searching over.  Which might be really powerful! :) But also might be really confusing/more of a mess than its worth.

Just to reiterate, the real question hidden in the

[2022-05-20 21:20] fkiraly commented on #2670
Depends on whom you mean with "we", is that that the Royal "we"? 😁

That does not sound like a good idea, since I feel it would make both the compositors and the grid search more specific to each other, hence less generic. This sounds like an instance of "conceptual diffusion", where you blur the line between multiple otherwise very clear concepts. You would essentially get objects that are "both"

[2022-05-21 11:42] miraep8 commented on #2670
So - main takeaways - it seems we are all on board with going with implementing  `MultiplexTransformer` as originally planned.  Unless anyone voices additional concerns, I will proceed with the `MultiplexTransformer` implementation as planned 👍

If I understand your question - then no, the explored parameter space in the "merged" version would actually be smaller.   For example - in the example I

[2022-05-21 14:01] watchcode01 commented on #2650
i would be glad to contribute to this issue

[2022-05-21 16:40] fkiraly commented on #2650
Great! What are you planning to implement?

[2022-05-21 16:44] fkiraly commented on #2670
I don't see that, or I don't see why you are not comparing like with like.
Can we not specify both the Cartesian product grid [True, False] x [True, False] and the "exactly one" grid [(True, False), (False, True)] in both cases? It's just a matter of the param grid to pass, the parameter *space* seems to be the same?

No objections.

[2022-05-21 17:59] miraep8 commented on #2670
In my second example I was trying to suggest that we not explore full grid, but rather a reduced parameter space. (Which now that I say it like that does seem like it would be confusing for users to have in "gridSearchCV"  - but if we liked it would could make a more general "paramSearchCV" or something like that).

Hence the emphasis is on the set of parameter combinations one could explore for t

[2022-05-21 18:04] miraep8 commented on #2670
I am not necessarily arguing we need to do things this way, and I don't think `GridSearchCV` would be the place to do them if we did want to.  I am also not sure how much the user would benefit from this degree of control.  Obviously we plan to have a better way to achieve what this example was trying to do (`MultiplexTransformer`), but I was wondering if there might be other conditions where such

[2022-05-21 20:03] fkiraly commented on #2670
Ah, I think that's where we are not on one page.
Grid search does not necessarily optimize over a Cartesian product, see for instance the example here:
https://scikit-learn.org/stable/modules/grid_search.html#exhaustive-grid-search
Arbitrary sums of grids (Carteisan products) are part of common formulations.

[2022-05-21 20:46] miraep8 commented on #2670
Nice!  Good to know!

[2022-05-22 17:54] fkiraly opened #2678 "[ENH] removing redundant parameter `start_with_window` in `ExpandingWindowSplitter`"
The parameter `start_with_window` in `ExpandingWindowSplitter` is redundant with `initial_window`.

If `start_with_window` is `False` (a non-default), the `ExpandingWindowSplitter` behaves as if `initial_window` were zero.
However, `initial_window` cannot be set to zero.

I feel the above choice contributes to user confusion.

I think `start_with_window` should just be removed, and `initial_window

[2022-05-22 17:56] fkiraly commented on #2678
FYI @keepersas

[2022-05-22 18:42] renejra commented on #2351
Ok, so just wanted to leave my 2 cents on how to install sktime on a M1 Mac. Unfortunately there are many dependency errors, however I was able to install and run the latest version using Rosetta and old Intel packages. Generally, I would recommend (until dependecy errors are fixed in time):

1. Install `conda miniforge` for [Apple Silicon](https://github.com/conda-forge/miniforge), so whatever ne

[2022-05-23 21:15] ltsaprounis opened #2685 "[ENH] `make_mock_estimator` should allow passing constructor args for the mocked class"
**Describe the bug**

The current implementation of `sktime.utils.estimators.make_mock_estimator` does not allow to pass any arguments to the returned Mock Estimator Class `__init__`. As a result, we can only use it to reproduce the behaviour of the estimator class with it's default arguments.

**To Reproduce**

[code]

**Expected behavior**

There should be a way to pass the __init__ arguments of

[2022-05-23 21:52] fkiraly commented on #2685
not a bug, but a missing feature?

[2022-05-23 21:53] ltsaprounis commented on #2685
ok - maybe I was being a bit dramatic calling it a bug

[2022-05-23 21:54] fkiraly commented on #2685
well, I guess all missing features are bugs in some way 😄

[2022-05-23 22:16] #1079 closed

[2022-05-24 21:52] ltsaprounis commented on #2247
FYI - https://github.com/tensorflow/probability/pull/1550
The next release of tensorflow probability will have quantiles implemented for the Empirical distribution so we can then also implement `predict_proba`

[2022-05-25 10:25] khrapovs opened #2695 "[ENH] Refactor/simplify `sktime.forecasting.model_selection._split.BaseSplitter._split_vectorized`"
`sktime.forecasting.model_selection._split.BaseSplitter._split_vectorized` is very hard to read and understand.

This method was introduced in https://github.com/alan-turing-institute/sktime/pull/2599. During the review I proposed the following refactoring idea: https://github.com/alan-turing-institute/sktime/pull/2599#issuecomment-1126736598 (see comments that followed). For convenience, I copy m

[2022-05-25 10:26] robertmcleod2 opened #2696 "[DOC] Improve Documentation on Imputer method parameter"
#### Describe the issue linked to the documentation

[Current Documentation](https://www.sktime.org/en/v0.8.1/api_reference/auto_generated/sktime.transformations.series.impute.Imputer.html)  on the "method" parameter for Imputer is limited, especially with the default method: "drift". It isn't particularly clear what drift does, or the parameters that are used by the sktime.PolynomialTrendForecast

[2022-05-25 10:59] fkiraly commented on #2695
agreed. There must be an easier way to do this...

[2022-05-25 12:06] fkiraly opened #2697 "[ENH] reduce boilerplate in data set loaders, introduce tests"
Currently, there is a lot of repetitive boilerplate in the `datasets` modules, and no tests for individual loaders such as `load_PBS_dataset`, `load_japanese_vowels`, etc

What should be done here:

* reduce boilerplate, refactor common code into single location
* ensure function signatures are the same, deprecate if needed
* add an argument `return_mtype` such as in the synthetic data generators,

[2022-05-25 13:50] eenticott-shell opened #2698 "[ENH] "Squaring residual" forecaster compositor"
Design and implement a wrapper for forecasters that fits a model to the residuals to allow for quantile/interval estimation. Have the option for both in-sample and rolling residuals.

**Two methods**
1. Square the residuals and fit a gaussian
2. Take the absolute values of the residual and fit a laplace distribution

[2022-05-25 17:40] fkiraly commented on #2698
Quick note: `update_predict` should be very useful in the case of `"rolling"`.

[2022-05-25 17:44] fkiraly commented on #2247
Finally!

I wonder, who is this @ltsaprounis on tensorflow probability who has heroically fixed this long-standing issue?

[2022-05-25 18:50] ltsaprounis commented on #2698
Is bootstrapping residuals a good fit for method number 3 here?
https://otexts.com/fpp3/prediction-intervals.html#prediction-intervals-from-bootstrapped-residuals

That would result in an empirical distribution for the residuals

[2022-05-25 19:49] ltsaprounis opened #2700 "[ENH] test_update_predict_predicted_index should have no gaps between data passed in fit and the consecutive update steps."
**Is your feature request related to a problem? Please describe.**
The forecasting test [`test_update_predict_predicted_index`](https://github.com/alan-turing-institute/sktime/blob/df683766f4af7fd7fbe339fbf306d7a560827574/sktime/forecasting/tests/test_all_forecasters.py#L520) does the following:
1. splits a time series y in `y_train` and `y_test`.
2. fits a forecasting algorithm using `y_train`
3.

[2022-05-25 19:50] ltsaprounis commented on #2700
FYI - @khrapovs and @fkiraly

[2022-05-25 23:31] benfulcher commented on #2254
There is a group of people working with catch22, including some improvements in pull requests about to be incorporated. We may also in the next days move the repo to an organizational repo. It's in active development.
Note that catch22 is a subset of the larger hctsa (>7k features) set (which is independently being ported to python [here](https://github.com/fairscape/hctsa-py)).

[2022-05-26 07:03] fkiraly commented on #2700
How odd. It looks like you found out why we have problems with `test_update_predict_predicted_index` repeatedly.
Well, this is the third reason, I think I removed two other reasons here https://github.com/alan-turing-institute/sktime/issues/2555 and here https://github.com/alan-turing-institute/sktime/pull/2466 ...

This test is cursed.

I think there are two topics here: a design question, and pr

[2022-05-26 07:04] fkiraly commented on #2700
I think this is deep and consequential enough to be an agenda point at the next regular dev meeting?

[2022-05-26 11:48] bethrice44 opened #2702 "[BUG] `compute_sliding_residuals` in `NaiveVariance` has overlap between train and test"
**Describe the bug**

In [this line](https://github.com/alan-turing-institute/sktime/blob/df683766f4af7fd7fbe339fbf306d7a560827574/sktime/forecasting/naive.py#L635), a slice is taken to get train and test sets. The slicing behaviour appears to be inclusive for start and end for series so there is one element that is in both.

**To Reproduce**

[code]

**Expected behavior**
Train and test sets shou

[2022-05-26 12:52] fkiraly commented on #2702
What a mess!
Thanks for pointing this out, @bethrice44!

It would appear that the slicing behaviour is inconsistent when you compare datetime indexing to `iloc` indexing!
Compare this to `y[:5]` vs `y[5:]`, in which the split is non-overlapping.

I think there is a deeper problem here, with `pandas`, where this should be raised if it hasn't already been.

On the `sktime` side, we probably need to

[2022-05-26 12:53] fkiraly commented on #2702
I confirm the issue on python 3.8 and windows.

[2022-05-26 13:08] bethrice44 commented on #2702
On pandas, an [issue](https://github.com/pandas-dev/pandas/issues/36548) was raised, but it is apparently the documented behaviour, so no fix.

[2022-05-26 13:37] bethrice44 commented on #2702
Could use something like this to check?
[code]

[2022-05-26 17:10] #2700 closed

[2022-05-26 18:22] ltsaprounis commented on #2700
I think this is deep and consequential enough to be an agenda point at the next regular dev meeting?

I agree! I personally like the tag option for irregular time series.

[2022-05-26 19:53] fkiraly commented on #2698
Bootstrapping is a different kind of estimator, I think that should be in a separate class.

[2022-05-26 22:09] #2685 closed

[2022-05-26 23:26] fkiraly commented on #2528
@mccrinbc-ss, I think I fixed this now: https://github.com/alan-turing-institute/sktime/pull/2703

[2022-05-27 05:27] khrapovs commented on #2700
Kudos to that. I am working on irregular time series. For now only in splitters though.

[2022-05-28 14:23] fkiraly commented on #2602
more pointers would be useful, so reopening

[2022-05-28 18:19] ngupta23 opened #2710 "[BUG] Global forecaster unable to make predictions"
**Describe the bug**
Global forecaster not able to make predictions due to (missing) frequency information?

**To Reproduce**
Modified from pydata Berlin notebooks. **Complete code & data [here](https://github.com/ngupta23/sktime-tutorial-pydata-berlin-2022/blob/109e25cafe798dc2d24d96427a5fd62866bab901/notebooks/minimal_issue_global.ipynb).**

[code]

[code]

**Expected behavior**
Would have expec

[2022-05-28 18:23] ngupta23 opened #2711 "[BUG] Hierarchical Forecasting does not work with reconciler"
**Describe the bug**
Hierarchical Forecasting does not work with reconciler (possibly due to empty X dataframe)

**To Reproduce**
Modified from pydata Berlin notebooks. Complete code & data [here](https://github.com/ngupta23/sktime-tutorial-pydata-berlin-2022/blob/109e25cafe798dc2d24d96427a5fd62866bab901/notebooks/minimal_issue_hierarchical.ipynb).

[code]

[code]

**Expected behavior**
Interestin

[2022-05-28 18:31] ngupta23 opened #2712 "[ENH] Utility functions to format pandas data frame into correct hierarchical/global format"
**Is your feature request related to a problem? Please describe.**
Usually, hierarchical data is available in the form of a pandas data frame with various hierarchy values and time stamps present as columns. Would it be possible to provide a utility function to format this into the right format for sktime?, e.g,

**Describe the solution you'd like**

[code]

**Describe alternatives you've consider

[2022-05-28 19:14] 2-5 opened #2715 "[BUG] Windows pip wheels only up to version 0.9.0"
The documentation seems to suggest that Windows is supported, but the latest Windows `pip` binaries (from https://pypi.org/simple/sktime/) are from version 0.9.0, and only up to Python 3.8.

Is `sktime` only supported under `conda` and not when using plain Python with `pip`?

I see under another issue that `prophet` is causing problems with Python 3.10.  Maybe there could be a minimal `sktime` ver

[2022-05-28 19:36] fkiraly commented on #2715
The 3.10/`prophet` issue and possible solutions are discussed here:
https://github.com/alan-turing-institute/sktime/issues/2079

There is a potential simple solution where we have individual estimators requiring a version but still shipping with `sktime`, which some other core devs are against (@lmmentel can give his opinion 😄 )

The alternative (internal) options that ensure 3.10 compatibility wo

[2022-05-28 19:37] fkiraly commented on #2715
Since 0.10.0, the wheels are no longer operating system specific, because the need to compile has vanished with the C dependencies. They should work for windows, since they work for "any" OS.

[2022-05-28 19:37] fkiraly commented on #2715
(@lmmentel, as other release manager, could you kindly confirm whether what I said about windows is correct?)

[2022-05-28 19:41] fkiraly commented on #2712
Can you specify exactly what this function should do?

Also, why does `pandas` native `DataFrame.set_index` not work for you, what would be the advantage of that new function?
Or, did you not know of `set_index` or see it in this context?
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

[2022-05-28 19:42] fkiraly commented on #2710
@danbartl , this looks like it might potentially come from `WindowSummarizer`?

[2022-05-28 20:43] 2-5 commented on #2715
Sorry, my mistake. I am on Windows/Python 3.10 and when I did a `pip install sktime` it downloaded version `0.9.0` and tried to install it, but failed with a weird error. Since that was the last one with binary wheels, I assumed it was somehow related.

But great news! Based on your comment about not needing binaries I did a `pip install sktime --ignore-requires-python` and it worked and installed

[2022-05-28 20:43] #2715 closed

[2022-05-28 22:34] fkiraly commented on #2715
@2-5, which page are you talking about? On the readme, it seems to correctly say `interval_based`?

[2022-05-28 22:35] fkiraly commented on #2715
If not limiting it, automatic version resolution might automatically install python 3.10?
Which is not fully supported, and hence may produce errors in a "default install", to avoid this, 3.9 or lower would now have to be expressly requested.

[2022-05-28 22:50] fkiraly commented on #2711
FYI @ciaran-g

[2022-05-28 23:02] 2-5 commented on #2715
https://www.sktime.org/en/latest/get_started.html#time-series-classification

[2022-05-28 23:50] 2-5 commented on #2715
I guess you mean when you do `conda install sktime` it might install Python 3.10? I never used `conda`, I wasn't aware it can install Python too, so I guess you are right.

`pip` however will never install or upgrade Python, that's not something it can do.

I did a little googling on best practices, and I found this (long) blog post on this issue from Henry Schreiner, Python Packaging Authority me

[2022-05-29 00:42] dougollerenshaw opened #2716 "ImportError: cannot import name 'TimeSeriesForestClassifier' [BUG]"
**Describe the bug**
I'm getting an import error on `from sktime.classification.kernel_based import TimeSeriesForestClassifier` when following the "Time Series Classification" example in the quickstart

**To Reproduce**
# create an environment, activate, start python
[code]

# Then try to import
[code]
Which gives:
[code]

**Expected behavior**
I expect the function to import

**Additional context

[2022-05-29 01:01] dougollerenshaw commented on #2716
Followup. After some digging around, I found that `TimeSeriesForestClassifier` is actually in `sktime.classification.interval_based`.

This works:
[code]
It returns:
`0.8490566037735849`

[2022-05-29 07:35] fkiraly commented on #2711
@ngupta23, there was a bug we fixed, where pipeline concatenation and automatic vectorization (across instances) were done in the wrong order, it should have been "vectorize first, then concatenate", but it actually happened the other way round, with whether vectorization happened determined by the first pipeline element.

Vectorizing the reconciler would make it trivial (a simple passthrough), po

[2022-05-29 07:38] fkiraly commented on #2716
@dougollerenshaw, you are the third person who reports this.
See, e.g., https://github.com/alan-turing-institute/sktime/issues/946
https://github.com/alan-turing-institute/sktime/issues/2715
When I look at the readme though, it correctly refers to `interval_based`.

I suspect there is a doc location which still has the old module name?

Can you kindly precisely point out which "quickstart" you fol

[2022-05-29 12:03] fkiraly opened #2717 "[ENH] multivariate series-to-primitive transformers should have return n_instances = input n_instances"
We need to ensure that multivariate series-to-primitive transformers have return n_instances = input n_instances, as was decided in https://github.com/alan-turing-institute/sktime/issues/1719.

In particular, we need to ensure:

* for existing series-to-primitive transformers that the "number of rows" (or mtype specific equivalent) of input and output are equal, see #1719
* that the test suite cat

[2022-05-29 12:03] fkiraly commented on #1719
ok, agreed & decided then!

Turned this into todo items here: https://github.com/alan-turing-institute/sktime/issues/2717

[2022-05-29 12:30] #1719 closed

[2022-05-29 18:27] fkiraly commented on #2696
Related PR: https://github.com/alan-turing-institute/sktime/pull/2382 and https://github.com/alan-turing-institute/sktime/pull/2269

I've added some docs in #2269 and have requested @aiwalter to transplant that to #2382, that should solve this issue once actions.

[2022-05-29 19:09] dougollerenshaw commented on #2716
@fkiraly sorry for the duplicate issue! I was following the quickstart at this link:
https://www.sktime.org/en/stable/get_started.html

Here's a screenshot with the reference to `kernel_based` highlighted:
<img width="783" alt="image" src="https://user-images.githubusercontent.com/19944442/170887502-9d9db681-d142-4add-b978-e7f5e682151e.png">

Thanks for the great package, by the way!

[2022-05-29 21:26] dougollerenshaw commented on #2716
@fkiraly I found the location of the incorrect import path in the docs (`docs/source/get_started.rst`) and I went ahead and submitted a PR to fix it:
https://github.com/alan-turing-institute/sktime/pull/2722

Feel free to ignore the PR and fix it yourself if that's easier.

[2022-05-30 15:36] 2-5 commented on #2715
@fkiraly Sorry, I forgot to tag you so that you can see my replies since this is a closed issue.

[2022-05-30 15:42] ngupta23 commented on #2712
@fkiraly That is what I am doing right now, but would be convenient to have a wrapper. This wrapper could include things like splitting into X and y frames, and ordering of index to have datetime as the last level. No big deal, I can continue to do so manually for now, but I thought others could benefit from it.

![image](https://user-images.githubusercontent.com/33585645/171025156-ac927509-aa08-4

[2022-05-30 19:56] fkiraly commented on #2712
you could PR your code as a function, since you already have it?

[2022-05-30 21:18] #2696 closed

[2022-05-31 00:33] ngupta23 opened #2724 "[BUG] PolynomialTrendForecaster does not work with period index of frequency 30T"
**Describe the bug**
PolynomialTrendForecaster does not work with period index of frequency 30T (30 mnins) due to incorrect X values

**To Reproduce**

[code]

[code]

**Expected behavior**
Expected to fit correctly as it should have probably been fixed (previously reported https://github.com/alan-turing-institute/sktime/issues/1876)

**Additional context**
Originally reported here: https://github

[2022-05-31 06:54] fkiraly commented on #2724
possibly related? #2117

[2022-05-31 10:53] fkiraly commented on #2715
@2-5, yes, indeed I did not see it due to that.

I would suggest, let's continue discussing here:
https://github.com/alan-turing-institute/sktime/discussions/2651
which seems to be the "canonical" place.

I transplanted our discussion on the matter of python version and version bounds.

[2022-05-31 12:26] ngupta23 commented on #2724
Might be related, but it is coming purely from `_get_duration`. It is not getting the correct X (number of points) when index is of type period index with a frequency like 30T.

https://github.com/alan-turing-institute/sktime/blob/80b0410900dfd03e3b97383a7cbe103ebe3a1703/sktime/forecasting/trend.py#L177

[2022-05-31 12:27] ngupta23 commented on #2712
Yes, I can do that. Where do you want me to add this?

Also, could you let me know about this?

[2022-05-31 14:00] fkiraly commented on #2724
hm, this looks like something that should be in or close to the `ForecastingHorizon` and not in the `TrendForecaster` anyway.

@khrapovs, due to your recent work, would you be aware of a `ForecastingHorizon` feature that could replace this easily?

[2022-05-31 14:45] khrapovs commented on #2724
@ngupta23 @fkiraly PR with the fix is coming...

[2022-05-31 17:37] fkiraly commented on #2712
Ah, sorry, overlooked this, it was between two bright boxes.
Generally, forecasters should work for arbitrary level of indices, the only requirement is for the last level to be "time-like".

Default behaviour, if no extra logic is implemented for extra levels, is "apply per individual series", or "apply per panel" (flat collection of series, i.e., last 2 levels).

[2022-05-31 18:28] mccrinbc-ss commented on #2528
Fantastic! Thanks for resolving this.

[2022-05-31 18:28] #2528 closed

[2022-06-01 02:13] ngupta23 opened #2729 "[DOC] Redirect link to latest documentation is broken on several pages."
#### Describe the issue linked to the documentation

Google search on topics related to sktime take me to old documentation for some reason (v0.5.3 in this case).

https://www.sktime.org/en/v0.5.3/api_reference/modules/auto_generated/sktime.transformations.series.impute.Imputer.html

On this page, if I click on the banner on top to take me to 0.11.4 documentation, it does not work.

https://www.sk

[2022-06-01 10:06] jlopezpena commented on #2079
Prophet recently merged a PR removing the `pystan` dependency (switching to `cmdstan` as a default backend). I have successfully built that version of prophet under python 3.10, so it should fix the issues discussed above. An "official" version has not been released yet, but you can specify the dependency straight to the github repo for testing purposes in the meantime

[2022-06-01 11:07] fkiraly commented on #2729
Yes, I'm painfully aware of this too, I also always get this a lot when searching, google directing to pre-doc-refactor locations.

I have no good solution though that I can think of. Since any update to the docs will lead to a version with a newer version number, and I do not know whether retroactive changes are even possible (e.g., to change the redirection links in bulk).

[2022-06-01 11:08] fkiraly commented on #2729
Tagging "good first issue", for people who are experts with readthedocs.

[2022-06-01 11:09] fkiraly commented on #2724
Well, that was both heroic and really quick 😁 thanks!

[2022-06-01 11:29] ilkersigirci opened #2730 "[BUG] ARIMA model sarimax_kwargs doesn't exist after fit"
**Describe the bug**

ARIMA model has `**sarimax_kwargs` as init parameters but after fitting the model, they don't exist in the model anymore. `sarimax_kwargs` just returns an empty dictionary.

**To Reproduce**

[code]
**Expected behavior**

After fitting, `enforce_stationarity=False`,which is an [sarimax_kwargs parameter](https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.ARIMA.h

[2022-06-01 11:39] fkiraly commented on #2730
I've verified the bug.

This is due to non-compliance of `ARIMA` with the scikit-learn interface (the parameter access part), where all parameters in the constructor need to be written out, or otherwise will not be detected by parameter access methods and funniness may happen.

The solution is to write out all the sarimax kwargs in the constructor, instead of catching them in a kwargs.

We should

[2022-06-01 11:50] fkiraly commented on #2730
This should help: https://github.com/alan-turing-institute/sktime/pull/2731

What would be appreciated is a second set of eyes on the defaults for these parameters.
Moving them to the construtor did require to set defaults, and the docstrings of `pmdarima` are not 100% clear there.

[2022-06-01 12:09] ilkersigirci commented on #2730
Thank you for the quick fix, everything looks good to me now

[2022-06-01 12:40] #2724 closed

[2022-06-01 12:44] fkiraly commented on #2730
well, thanks for checking! Will fix.

[2022-06-01 12:51] khrapovs commented on #2724
@ngupta23 My pleasure!

[2022-06-01 13:19] fkiraly commented on #2730
if you don't mind, due to you correcting my wrong defaults, I'd add you as an author to the file - as you may have seen, it is largely a specification of parameters and defaults.

[2022-06-01 13:23] ilkersigirci commented on #2730
I don't mind at all. Thanks.

[2022-06-01 14:10] fkiraly opened #2733 "[BUG] fixing constructor non-compliance in various estimators"
The following estimators fail the extended `test_constructor` from https://github.com/alan-turing-institute/sktime/pull/2732 and need to be fixed, along the lines of the previously undetected bug #2730. Each fix can be modelled upon #2731.

- [x] `ARIMA` https://github.com/alan-turing-institute/sktime/pull/2731
- [ ] `AutoARIMA`
- [x] `AutoETS` https://github.com/alan-turing-institute/sktime/pull/

[2022-06-01 14:11] fkiraly commented on #2733
FYI @juanitorduz re `UnobservedComponents`
FYI @chrisholder, @MatthewMiddlehurst re `KNeighbors`, `ShapeDTW`, `TimeSeriesKMeans`

[2022-06-01 14:18] fkiraly commented on #2730
So, @ilkersigirci ...

it would seem like there are nine other estimators with the same problem:
https://github.com/alan-turing-institute/sktime/issues/2733

Would you be up for helping with this for the forecasting module, i.e., `AutoARIMA` and `AutoETS`?
Just needs to follow the pattern in https://github.com/alan-turing-institute/sktime/pull/2731

I've started already and pinged authors of some

[2022-06-01 14:20] fkiraly commented on #2733
Good first issue = "follow the pattern in https://github.com/alan-turing-institute/sktime/pull/2731"

[2022-06-01 14:23] fkiraly commented on #2729
Yes, correct.

[2022-06-01 14:24] ilkersigirci commented on #2730
Currently, I am busy at work in the weekdays, hence I can only work on it in the weekends if you want.

[2022-06-01 14:25] fkiraly commented on #2698
In my imagination, you would specify a `fit_range`, which specifies a sub-set of the data seen in `fit`, then you run `update_predict` on the rest. That produces rolling out-of-sample forecasts on the data seen in `fit`.

The solution is simply to take the data seen in `fit` and split into a fitting and rolling-update part, if uncertainty intervals are queried.

Would that work?

[2022-06-01 14:26] fkiraly commented on #2730
ok - I thought, if you need this at work, you might have some slack.
I'll leave it as a "good first issue" for now, so it might be picked up by contributors; and if not, I will come back to this again, or you can look at whether it's still there if you feel like helping 😄

[2022-06-01 18:08] fkiraly commented on #2079
thanks, @jlopezpena! But, that would not solve the same issue with `esig` and other soft dependencies, I feel we need a more general solution where `sktime` can move up in version even if some of the soft dependencies are stuck.

[2022-06-02 11:38] shagn opened #2739 "[BUG] Detrender in TransformedTargetForecaster does not work"
**Describe the bug**
When using a Detrender in a TransformedTargetForecaster and trying to create predictions, the inverse transformation seems to fail and therefore no predictions can be made.
Detrender and Forecaster work fine when not concatenated in a TransformedTargetForecaster.

**To Reproduce**
[code]
![image](https://user-images.githubusercontent.com/16029092/171620553-68a421e8-a9b5-4dac-a

[2022-06-02 16:44] fkiraly commented on #797
@KishManani, I think this is still not implemented in the reduction classes, where it should be possible to specify lags of zero.

@danbartl was recently working close to these classes, but not on the "zero lags" issue itself, as far as I know.

What's the newest on this, @danbartl? What would be the best, compartmentalized way to get this feature in?

[2022-06-02 16:54] fkiraly commented on #2739
confirmed with current main, python 3.8 windows.

Problem looks like trouble with column renaming in the `Detrender`, combined with `sklearn`'s new input check on equal column names.

[2022-06-03 18:49] fkiraly opened #2745 "[ENH] `forecast-level` tag for hierarchical forecasting as per STEP 14"
It would appear that I forgot to implement the `forecast-level` (or similar) tag for hierarchical forecasting from STEP 14 when I implemented the hierarchical forecasting functionality.

The tag would tells the user upon a simple query whether a forecaster, transformer, etc is genuinely hierarchical.

Currently, this is inferred from the internally supported mtypes, but should optimally be more ea

[2022-06-04 08:45] #2665 closed

[2022-06-04 16:42] aiwalter opened #2746 "[DOC] Jupyter Notebooks to show cell outputs"
#### Describe the issue linked to the documentation
The exmaple notebooks should show the cell outputs. Its much more readable and convenient for users if they can just see the output alreadys and dont need to run it themsels.

#### To do
Execute all notebooks and save outputs.

[2022-06-04 18:53] fkiraly commented on #2746
hm, good idea - my main worry is the size of the notebook ultimately, and multiple versions cluttering the GitHub repository with large file sizes.

Is there a way to avoid this? E.g., having the binder notebooks execute cells or docs rendering execute cells while the notebooks in the repo are present in their unexecuted forms? More generally, having execution happening between the (empty executio

[2022-06-04 18:55] fkiraly commented on #2746
Generally, I agree that the user experience is better with executed cells when inspecting. However, can we have that without compromising repository integrity and the developer experience (i.e., 100s of MB or GB size repo?)

[2022-06-04 20:46] lbventura commented on #2746
Could it be that some of the example notebooks themselves are too long? For example, _01_forecasting.iypnb_ is very insightful, but split into 3 different large sections.
By splitting into several notebooks, one could have the executed cells without having too large of a notebook to scroll through - although it has the problem of being a less coherent presentation.

[2022-06-04 20:48] lbventura commented on #2746
One could bundle the relevant notebooks into a series (parts I, II, III, etc...) that the user can easily shift between.

[2022-06-05 13:00] fkiraly opened #2748 "[BUG] CI-CD errors out with `prophet`, due to interaction with `holidays` 0.14"
On CI-CD, facebook `prophet` fails to install due to an interaction with `holidays` 0.14 that was released today:

[code]

root seems to be `ModuleNotFoundError: No module named 'holidays.financial'`

[2022-06-05 13:03] fkiraly commented on #2748
I suspect this is a problem with `prophet`... hope someone will fix it there sooon.

[2022-06-05 13:06] fkiraly commented on #2746
That would not solve the problem of accumulating repository size due to the images. Every version typically adds a copy of the image.

Splitting the notebooks might make sense, although it might be less clear in terms of user experience that these are intended to be read in sequence. For instance, users currently can start with any of the numbered notebooks.

[2022-06-05 13:26] fkiraly commented on #2748
this fixes it, temporarily...
https://github.com/alan-turing-institute/sktime/pull/2749
but, we shouldn't have version bounds on indirect soft dependencies, so I'll leave the issue open until we can safely remove the bound

[2022-06-05 15:24] cedced19 opened #2750 "[BUG] Unable to fit SupervisedTimeSeriesForest"
**Describe the bug**

Unable to fit `SupervisedTimeSeriesForest` with X_train of shape (3900,1), y_train of shape (3900,).

**To Reproduce**

[code]
results in `ValueError: Found array with 0 feature(s) (shape=(3900, 0)) while a minimum of 1 is required.`
with `X_train.shape, y_train.shape` equal to  ((3900, 1), (3900,))

Note that this works well:
[code]

**Expected behavior**

No error raised.

[2022-06-05 21:00] #2717 closed

[2022-06-05 21:31] fkiraly commented on #2750
This does not look right - in time series classification, you want to pass multiple labelled time series.
(3900, 1) means 3900 time series of length 1? Not much of a series...

Or is this a single time series of length 3900? Then, you need more than one.

Can you perhaps explain what you are trying to do?

[2022-06-06 05:35] fkiraly opened #2751 "[BUG] after change of MAPE `symmetric` default to False, grid search algorithms fail `test_score`"
After changing the default of the `symmetric` parameter to `False`, the grid search estimators `ForecastingGridSearchCV` and `ForecastingRandomizedSearchCV` fail the `test_score` test.

All other estimators pass the test, indicating that there is something not quite right with the grid search algorithms.
This seems unlikely to be anything related to the unified interface, since all algorithms othe

[2022-06-06 05:44] fkiraly commented on #2751
ok, I think I know what is happening.

The grid search algorithms have their own `score` function, which override the default of "calculate MAPE". I don't quite know why this is the case and the default is not used. My proposed fix would be to simply delete the custom `score` function since the default seems sensible anywhere, but I feel we first need to understand the rationale why it is there.

[2022-06-06 06:23] fkiraly opened #2753 "[DOC] core dev onboarding and offboarding instructions"
We should write a list of actions required to onboard core developers, and a process. E.g., that actions that are not the onboardee's ought to be carried out by the core developer who has proposed the new core developer, directly or indirectly (pulling in an admin).

Some onboarding steps that I can think of, below.

To do by an admin or core dev:
* invite new core developer to `#core-developers`

[2022-06-06 06:23] fkiraly commented on #2753
@khrapovs, you have onboarded recently. Is there anything the above list is missing?

[2022-06-06 06:24] fkiraly commented on #2753
FYI @aiwalter, @GuzalBulatova, @TonyBagnall, anything missing?

[2022-06-06 12:11] cedced19 commented on #2750
Oh I sorry for the missunderstanding. Here is how I import my data from many csv files which are in subfolders:

[code]

So as you can understand X is univariate and contains 3900 time series. (I had no problem with X multivariate with I, w, X as time series).
Here is the error output I get (I tested it also inside a python script):
<details>
-------------------------------------------------------

[2022-06-06 12:22] bethrice44 commented on #2702
Fixed in [this PR](https://github.com/alan-turing-institute/sktime/pull/2706) for `ConformalIntervals` using a new `get_slice` utility function which incorporates the conditional logic for timestamp/ period and integer indexes.

[2022-06-06 15:02] fkiraly commented on #2739
also fails with other forecasters instead of `PolynomialTrendForecaster`, so not a problem of that

[2022-06-06 15:45] fkiraly commented on #2702
yes - as you proposed on slack, @bethrice44, `NaiveVariance` could (and probably should) be fixed the same way, i.e., using `get_slice`.

[2022-06-06 18:07] fkiraly commented on #2750
ok, I think we need a concrete example to run (without your files but with some fake data) - would you be able to produce that for debugging? I don´t understand 100% the precise data format, so some code that runs by itself, without loading anything etc, would be appreciated.

[2022-06-06 18:30] bethrice44 opened #2757 "[ENH] Add support to get_slice for multi-index and hierarchical data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

In order to deal with [this issue ](https://github.com/alan-turing-institute/sktime/issues/2702), a function called `get_slice` has been created [here](https://github.com/alan-turing-institute/sktime/pull/2706) so slicing objects is always inclusive at the start and exclusive

[2022-06-06 18:48] cedced19 commented on #2750
I have shared a zip file [here](https://nextcloud.centralelille.fr/index.php/s/ZpB2ks6E2QqYrby).
This contains a part of the data I have as input, and the notebook I used to debug without success.

[2022-06-07 03:08] miraep8 opened #2759 "[ENH] More generic GridSearch (and Multiplexer)"
Hey all,

As part of some recent PRs (#2738 and #2612), and related design discussions (#2670 and #2459) Its come up several times that it might be worth creating a more general `GridSeach` class/functionality and/or a more generic way to multiplex over different estimators.

I think for `MultiplexTransformer` and `MultiplexForecaster`, we might be able to get away with a more generic `multiplexer

[2022-06-07 09:55] bethrice44 commented on #2702
PR [here](https://github.com/alan-turing-institute/sktime/pull/2760) to fix this as described in comment.

[2022-06-08 07:39] evelign opened #6600 "[ENH] vmdpy - any methods to accelerate vmdpy？"
My program needs to call VMdpy frequently, and It takes a tremendous amount of time.
So I'm wondering whether there is any way to accelerate this process, such as CUDA of GPU, or something like that?

[2022-06-08 11:28] bugslayer-332 commented on #2650
Hi, I am new to open source, and I would love to contribute to this.  Is this issue still open ?

[2022-06-08 11:45] bethrice44 commented on #2702
Fixed and merged [here](https://github.com/alan-turing-institute/sktime/pull/2760)

[2022-06-08 11:45] #2702 closed

[2022-06-08 13:26] ciaran-g opened #2764 "[ENH] An ensemble type forecaster for panel/hierarchical data"
**Is your feature request related to a problem? Please describe.**
For forecasting in a hierarchy it would be nice to be able to use different forecasters for each individual node

**Describe the solution you'd like**
A class similar to `ColumnEnsembleForecaster` but instead of applying a different univariate forecaster per-column, it applies a different univariate forecaster per-level on panel-ty

[2022-06-08 13:51] ciaran-g opened #2765 "[BUG] - Predict residuals error with hierarchical forecaster"
**Describe the bug**

The `predict_residuals` function doesn't work for me when the forecaster is hierarchical/panel type

**To Reproduce**

[code]

**Expected behavior**

Same behavior as for a single level, except returns a multi-index object

[code]

**Additional context**

Workaround for now

[code]

**Versions**
<details>

System:
    python: 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.191

[2022-06-08 16:02] aiwalter opened #2766 "[ENH] Adding pytest-randomly to tests"
**Is your feature request related to a problem? Please describe.**
Would be nice to add this to our test execution: https://github.com/pytest-dev/pytest-randomly
It can help to detect side effects of tests by randomly shuffle test order on execution.

[2022-06-08 16:11] fkiraly commented on #2766
Good idea! We had that before!

One minor issue though is, we have two tests that need to be run in sequence, since they test for a specific instance of side effects across tests: `test_no_cross_test_side_effects_part1` and `test_no_cross_test_side_effects_part2`.

They won't fail if you change the sequence, but will catch failures only if run in the right sequence.

[2022-06-08 18:22] HishamSalem opened #2767 "[ENH] Transformed Target Forecaster (prediction quantiles & intervals) implementation request."
The Transformed Target forecaster is not implemented in sktime, is it possible if it gets implemented? Is there an alternative to manually implement prediction intervals ensemble models?

Have the basic forecasting coverage with the option to utilize bootstrap for confidence intervals
https://otexts.com/fpp2/prediction-intervals.html

If there is a way to implement this for ensemble XGBoost models

[2022-06-09 04:12] hancelpv opened #2768 "[ENH] Implement AR-NNet model from forecast package in R"
Would be a good idea to include the nnetar algorithm from forecast package in R.

https://www.rdocumentation.org/packages/forecast/versions/8.16/topics/nnetar

Found a similar library here https://github.com/ourownstory/AR-Net. We can build an adapter on top of this.

[2022-06-09 06:17] fkiraly commented on #2767
@HishamSalem, the `TransformedTargetForecaster` does implement prediction intervals currently! For that, the forecaster in it needs to support prediction intervals.

If you want to *add* prediction intervals to a forecaster that doesn´t natively have them, you can use one of the wrappers that add them to any forecaster, like `NaiveVariance` or `ConvormalIntervals`.

[2022-06-09 09:59] AurumnPegasus opened #2770 "[BUG] no matches found: [all_extras,dev]"
**Describe the bug**

When trying to install dev dependencies / all dependencies I get:
[code]

**To Reproduce**

System Specifications:
[code]

In Bash/Zsh enter:
[code]

**Expected behavior**

Command should be accepted and start installation of required packages.

**Additional context**

This mostly seems to be a Ubuntu issue since it generally does not recognise special characters in the termi

[2022-06-09 13:49] HishamSalem commented on #2767
@fkiraly  Thank you for the advice, I tried this and it still gives a not implemented error.

Code:

from sktime.datasets import load_airline
from sktime.forecasting.naive import NaiveVariance
from sktime.forecasting.compose import TransformedTargetForecaster,make_reduction #Make reduction
from xgboost import XGBRegressor

y = load_airline()
forecaster = TransformedTargetForecaster(
    [
      (

[2022-06-09 13:53] #2730 closed

[2022-06-09 15:22] AurumnPegasus commented on #929
Hey @fkiraly, If open I would like to take up VECM

[2022-06-09 16:41] fkiraly opened #2772 "[ENH] Testing for erroneous use of reserved attributes"
All base classes have some reserved attributes, see PR #2769, and we have already run into the problem twice, of concrete estimators using attributes that have the same name as reserved attributes.

We should test for this, but ... how?

Any good ideas, @miraep8? Given that you are the other person who ran into this...

[2022-06-09 16:56] #2564 closed

[2022-06-09 17:32] fkiraly commented on #2766
Well, I would argue we still need them, since permutation does not necessarily cause a failure under the condition that is tested for here, i.e., if estimator states are remembered across tests.
The pair of tests guarantees a failure (if executed in the right order) under that condition.

[2022-06-09 17:36] fkiraly commented on #929
Great, @AurumnPegasus, all yours!

[2022-06-09 18:20] miraep8 commented on #2772
I can implement this!

Here is an idea - we have a class attribute which is a set of protected names in `BaseEstimator`.  Other classes (ie `BaseForecaster` and `BaseTransformer` inherit from `BaseEstimator` and can add more protected names to.
 this set of names.

Then we add a test for every concrete implementation of an estimator we make sure none of its class specific attributes are in the set

[2022-06-09 18:50] HishamSalem commented on #2767
I do not think the ConformalIntervals is in my modules yet. Do I need to update sktime?

I did try to take the module directly into my pc, can you share the installation wheel so that I can import ConformalIntervals?

[2022-06-09 19:11] fkiraly commented on #2772
Hm, that would take care of these not being in the constructor.

It would not cover the "accident" cases, or would it? Where a non-hyper-parameter attribute is being written to in one of the methods. How would we detect this?

[2022-06-09 19:12] fkiraly commented on #2772
They are already excluded, since the collections is done via `all_estimators`, which excludes base classes and abstract mixins.

[2022-06-09 19:13] fkiraly commented on #2772
@ltsaprounis, can your mock estimator perhaps notice which attributes are being written to?

[2022-06-09 19:45] fkiraly commented on #2767
bootstrap bagging is in the works here, btw:
https://github.com/alan-turing-institute/sktime/pull/2248

[2022-06-09 19:52] fkiraly opened #2774 "[BUG] `KNeighborsTimeSeriesClassifier` fails with any algorithm except `brute`"
`KNeighborsTimeSeriesClassifier` has one of two bugs:

* a docstring that incorrectly claims that an `algorithm` can be set. Currently, it is set to `brute` internally (when calling the sklearn algorithm), no matter what the hyperparameter is.
* failing with algorithms other than `brute`, e.g., `auto` (the sklearn default) when the implementation is fixed to match the docstring.

So, either, the d

[2022-06-09 20:03] miraep8 commented on #2772
Alternative/potentially hacky solution......

In Base Classes/Heterogenous Meta Estimator we could overwrite the setattr() call.

In it we could see where setattr() is being called from by doing the following:

[code]

And put is some checks that calls to `setattr` for protected attributes can only be made by functions that exist on the level of the abstract class (ie generate an error if a child

[2022-06-09 20:04] miraep8 commented on #2772
(and to be fair, I thought we were trying to cover cases where it is in the constructor? that at least seemed to be the error case that we were running into)

[2022-06-09 20:09] miraep8 commented on #2772
Hmm, yes, revisiting my solution I do think it wouldn't work!

[2022-06-10 06:44] AurumnPegasus commented on #2774
@fkiraly I was actually editing the ```KNeighborsTimeSeriesClassifier``` according to #2733 (to remove the kwargs) and noticed the same! For now I simply added ```algorithm``` as a parameter (which can simply be removed for the sake of this bug). Please update me on the approach taken for this bug so that I could reflect it as well.

[2022-06-10 10:58] fkiraly commented on #1062
completed here for performance metrics:
https://github.com/alan-turing-institute/sktime/pull/2502

and via the dists_kernels interface.

[2022-06-10 10:58] #1062 closed

[2022-06-10 11:03] fkiraly commented on #2774
I have changed the default to `brute`, so one can set the algorithm, but it will break when choosing anything different

[2022-06-10 11:19] ZiyaoWei opened #2775 "[BUG] Cannot launch examples on Binder"
**Describe the bug**

Launch binder doesn't work from the links on e.g., https://www.sktime.org/en/latest/examples/01_forecasting.html.

**To Reproduce**

Click on the launch binder button, the launch would get stuck and eventually timeout with the following logs:

[code]

**Expected behavior**

Notebook launches successfully.

**Versions**

Not applicable

[2022-06-10 12:26] fkiraly commented on #2775
Confirmed, I get the same, connecting from Amsterdam.

It would be useful to hear from people when it worked last, for them.

[2022-06-10 15:09] TNTran92 opened #2777 "[ENH] Benchmarking Discussion"
During the benchmarking meeting today, a number of topics was discussed regarding benchmarking. This issue summarizes/expands these discussions. This documents will be updated after meetings:
Three packages were among the discussions on 06/10/2022:
* Benchmarking-wise, the `Evaluator()` class of `gluonts` requires about 3 adapters to make it work with `sktime`. I do recall exactly but one of the a

[2022-06-10 18:06] bugslayer-332 commented on #2650
Hi, I am new to open source and would love to contribute to this issue. I am exploring the code base and I am not able to figure out where the CosineTransformer is implemented, any help is appreciated.

[2022-06-11 08:14] fkiraly commented on #2526
FYI @cgoxo, I've started here now: https://github.com/alan-turing-institute/sktime/pull/2783
(in case you were still working on it)

[2022-06-11 08:31] fkiraly commented on #2775
Now I'm getting a different error:
[code]

??? Help?

[2022-06-11 09:41] cgoxo commented on #2526
Really sorry sir. I got busy on my end sem exams.

[2022-06-11 11:49] AurumnPegasus opened #2785 "[BUG] Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`"
**Describe the bug**

On following instructions for installation of [development version](https://www.sktime.org/en/stable/installation.html) I get the following error:
![img](https://i.imgur.com/QMY1m4o.png[/img)

**To Reproduce**

System Information:
[code]
Details about conda environmnet:
<details>

[code]

</details>

Open python on terminal and enter:

[code]

**Expected behavior**

Giving th

[2022-06-11 12:53] ZiyaoWei commented on #2775
It seems a lot of people are experiencing this across different projects - https://discourse.jupyter.org/t/binder-launch-fails-with-oserror-errno-28-no-space-left-on-device/14530, so probably something on the Binder side.

Pointing directly to gesis works - https://gesis.mybinder.org/v2/gh/alan-turing-institute/sktime/main?filepath=examples/01_forecasting.ipynb, which helps support this theory.

[2022-06-11 13:07] #2748 closed

[2022-06-11 13:10] fkiraly commented on #2526
no worries, no harm done!

[2022-06-11 14:13] fkiraly commented on #2739
I think I understand the root cause.

The problem materializes under the following conditions:
* a `pd.Series` `y` is converted to `pd.DataFrame`, then back to `pd.Series`, then back to `pd.DataFrame`, by `convert` or `convert_to`
* the initial series `y` has a `name` attribute set
* there can be "pairing" through `converter_store`, but it is between the first two, not the last two conversions
* t

[2022-06-11 14:15] fkiraly commented on #2739
I see two potential fixes, via the conversions:

* we do not allow `pd.Series` to have `name` at all. As soon as we encounter `pd.Series`, we remove the `name` attribute. Attempted here: https://github.com/alan-turing-institute/sktime/pull/2788
* we ensure we keep the `name` attribute consistent throughout conversions, in this case we need to change the conversion from `pd.DataFrame` to `pd.Series

[2022-06-11 14:22] fkiraly commented on #2739
Both seem to work, I'll add a test

[2022-06-11 14:29] fkiraly commented on #2739
Hm, it looks like "keeping the `name` attribute" #2788 fixes *this* bug, but creates other bugs...

[2022-06-11 14:39] bugslayer-332 commented on #2650
@fkiraly can you look into this if possible?

[2022-06-11 17:01] fkiraly commented on #2650
I think it is in `transformations.series.cos`

[2022-06-11 17:17] fkiraly opened #2792 "[ENH] warn user if `predict_proba` tests not run when `tensorflow-probability` is not installed"
As of current `main`, `predict_proba` in forecasters requires `tensorflow-probability` due to the distribution objects returned.

In testing (suite or `check_estimator`), `predict_proba` tests are also not run when `tensorflow-probability` is not installed, and no warning is given.

That is ok if the default `predict_proba` is used, but for the specific edge case where a user implements `predict_p

[2022-06-11 17:18] fkiraly commented on #2792
@ltsaprounis, FYI, opened an issue so we don't forget.

[2022-06-11 17:42] fkiraly commented on #2733
remaining estimators fixed by https://github.com/alan-turing-institute/sktime/pull/2773

[2022-06-11 17:42] #2733 closed

[2022-06-11 17:47] ltsaprounis commented on #2777
@DBCerigo - FYI for kotsu

[2022-06-11 22:00] fkiraly commented on #2739
Fix no.3: doesn't break anything, but also doesn't fix this.
https://github.com/alan-turing-institute/sktime/pull/2791

[2022-06-11 22:00] fkiraly commented on #2739
This fix to `NaiveForecaster` apparently fixes the problem:
https://github.com/alan-turing-institute/sktime/pull/2793

[2022-06-12 14:07] #2507 closed

[2022-06-12 14:09] fkiraly commented on #2739
This is fixed now via #2793 and should work in 0.12.0.
It has also highlighted inconsistent handling of `pd.Series.name` which we need to think about carefully.

[2022-06-12 14:09] #2739 closed

[2022-06-12 14:31] lmmentel commented on #2079
@jlopezpena could you share a link to the wheels you've build? Which platforms have you build them for?

[2022-06-12 15:04] fkiraly opened #2796 "[BUG] release note builder script does not retrieve PR opened before last release"
There is a severe bug in the release note building script `build_tools/changelog.py`:

it does not retrieve merged PR that were opened before the last release.

More precisely, it seems the condition for retrieval of a PR seems to be: (a) merged since the last release and (b) opened since the last release (!).

The condition *should* be: (a) merged since the last release, and (b) opened at any tim

[2022-06-12 15:05] fkiraly commented on #2796
If anyone was missing their PR and/or credit given, kindly let me and @lmmentel know.
Happy to add these retroactively to earlier release notes as well.

[2022-06-12 20:13] miraep8 opened #2799 "[ENH] [Annotation Workstream] Implement HMM annotation estimator"
I am opening this up as an issue for the new annotation/segmentation workstream.

My plan is to implement a Hidden Markov Model (HMM) estimator for annotation of time series data. You can read more about the algorithm [here](https://en.wikipedia.org/wiki/Hidden_Markov_model), but for a brief overview:

- You want to model a series of variables over time $X$, where $x_t$ represents the variable sta

[2022-06-12 21:29] fkiraly commented on #2796
the bug also affects the overall list of contributors, see https://github.com/alan-turing-institute/sktime/pull/2803

[2022-06-12 22:02] fkiraly commented on #2799
My recommendation would be to start interfacing `hmmlearn` and see what we can do.

What is the typology of the algorithms above?
As far as I see, vanilla HMM in its simplest form, is:

* when no part of $X$ has been ever observed:
  * the `transform` part of a transformer (unsupervised), when obtaining $X$ from $Y$
  * using Baum-Welch is `fit` of the same transformer
* if $X$ has not been observ

[2022-06-12 22:04] fkiraly commented on #2799
I guess: if $X$ is discrete, we can interpret the labelling as segmentation (into contiguous value segments)

[2022-06-12 22:05] fkiraly commented on #2799
and, we can use exogeneous data differently - we can use it as part of $Y$, or as part of $X$

[2022-06-12 22:55] miraep8 commented on #2799
So, in my experience, I think the general interpretation for a typical HMM is that $X$ is usually not observed at all, and I think it is quite common for $X$ to be discrete and to be interpreted as a label.

Usually in an HMM, you are less interested in predicting $y_{t+1}$ from $y_t$.  This is usually because you already have all the $Y$.  What is the interesting data analysis question here is co

[2022-06-12 22:57] miraep8 commented on #2799
And - why start with interfacing `hmmlearn`? 🙃 I was planning on starting with my own implementation as I mentioned above!  I think there are good reasons for doing this, among them the fact I think interfacing `hmmlearn` is always a good fall back strategy, but I think if we start with it we have little motivation to try any alternatives.  And if we try the alternatives we can test against the wo

[2022-06-13 02:39] TNTran92 opened #2804 "[ENH] Using Kotsu as a benchmarking framework - Implementation in sktime"
**Is your feature request related to a problem? Please describe.**
Reference Issue #2777
Kotsu is a high level and light-weight package that performs benchmarking that has no dependency on specific packages. At a high level, it allows users to register a dataset with a validation task (CV splitter method) and then apply estimators to that registration. It will be beneficial to investigate its appl

[2022-06-13 07:18] fkiraly opened #2806 "[BUG] "Must supply freq for datetime value" in forecasting pipeline"
posted by @anthonygiorgio97 in #2452
---

@fkiraly ok I have tried to reverse pipelines. Now if I use a `make_reduction` model like SVR() as follow, the pipeline work.

[code]

However if I want to use Prophet now I face up with another error. This is the sample code I'm using:

[code]

The error is this:

ValueError: Must supply freq for datetime value

It seems strange because freq is set as 'A'

[2022-06-13 07:20] fkiraly opened #2807 "[BUG] long fh does not work for specific forecasting pipeline"
posted by @anthonygiorgio97 in #2452
(added some missing imports)
---

Another strange behaviour is that if `fh=[1,2]` the code below works, but if `fh=[1,2,3]` or `[1,2,3,4],...` or longer, I have error:

[code]

Error:

`ValueError: could not broadcast input array from shape (5,2) into shape (1,5,3)`

I think the problem regards the `inverse_transform` of `Differencer` on exogenous variable used

[2022-06-13 07:23] fkiraly commented on #2807
I can confirm that the bug still exists with 0.12.0

[2022-06-13 07:25] fkiraly commented on #2452
I went through the above and found that:

* the original bugs reported by @anthonygiorgio97, with the differencer not working, are resolved
* there are two bugs reported by @anthonygiorgio97 which were not resolved by the fixes and are still present in 0.12.0

I've now moved them to separate issues (#2806, #2807) so we can track better what is resolved and what is not.

[2022-06-13 07:25] #2452 closed

[2022-06-13 07:26] fkiraly commented on #2806
FYI @anthonygiorgio97, moved one of the unresolved bugs to a new issue.

[2022-06-13 07:26] fkiraly commented on #2807
FYI @anthonygiorgio97, moved one of the unresolved bugs to a new issue.

[2022-06-13 07:30] fkiraly commented on #2806
changing the `drop_na=True` to `na_handling="fill_zero"` does not help and indicates that the problem is probably not that too short series are being created

[2022-06-13 08:26] fkiraly commented on #2777
@DBCerigo (also FYI @TNTran92, @ltsaprounis), we're basically tring to set up benchmarking functionality for things similar to "run the M4 or M5 competition with a specific set of estimators", or "perform rolling window backtesting with these estimators", or "replicate the time series classification bake-off with these estimators.

There is some historic work in `sktime`:

* in 2019/2020, @mloning

[2022-06-13 09:16] fkiraly commented on #2804
suggestion: let´s be more specific about what "apply" means. E.g., would one expect a wrapper function like `benchmark(estimators, metrics, data, config)` that returns results or dataframe?

[2022-06-13 09:22] fkiraly commented on #2799
I don't agree that this is the *only* interesting question for which one can use HMM. Supervised use is less common, but I think it's quite important in cases where you have some training segmentation labels, in a stream or in a panel setting.
It's just less often presented in random blog posts and online videos (which seemingly almost always talk about the unsupervised annotation/segmentation app

[2022-06-13 11:35] fkiraly commented on #2799
I think in the end you should make the call, not me.
You should take into account what people are saying, but in the end you ought to weight the options yourself - it´s your GSoC project!

I don´t think there is a strongly compelling argument for either option here, there are pros/cons.

[2022-06-13 15:58] TNTran92 commented on #2804
I've modified the title to be more specific. Will keep adding comments throughout the day

[2022-06-13 16:10] AurumnPegasus commented on #929
Hey @fkiraly ,
Had a doubt related to one of the variables used in VECM class of statsmodels:

[code]

This variables is used in `estimate_vecm_ml` function of statsmodel's VECM class, and is required for getting the desired result. Now, in the estimator template for forecaster, the `_fit` method only takes `x`, `y` and `fh`. Since the parameter does not seem to be model parameter, but more relate

[2022-06-13 20:59] mccrinbc-ss opened #2811 "[BUG] PyODAnnotator fit method only accepts pandas dataframes"
**Describe the bug**
PyODAnnotator fit method only accepts pandas dataframes and produces an error if an np.array.
[code]
**To Reproduce**
[code]

**Expected behavior**
fit() method should be able to accept both dataframes and numpy arrays since we don't always want to have our data in pandas.

**Versions**
Version: 0.11.4

System:
    python: 3.8.8 (default, Apr 13 2021, 19:58:26)  [GCC 7.3.0]
ex

[2022-06-13 21:31] fkiraly commented on #2811
@mccrinbc-ss, that´s right.
The annotation module is currently undergoing a major rework, including input conversions etc. I´d expect a timeline of 2 or 3 months or so until we have some robust base class design there.

If you´d like, you can make a PR where you put a `convert_to` in the base class, or, more simply, add a line "if input is already numpy, skip that line".

[2022-06-13 21:32] fkiraly commented on #2811
Not per se a "bug" because there´s no clearly specified interface yet, but I understand how, in comparison with the rest of `sktime`, it is inconsistent with the natural expectation.

[2022-06-13 22:11] fkiraly commented on #929
Hm, interesting question.

I think it must be passed in the `__init__`,  since it is not a regular argument of `fit` etc.

I would further modify it to allow:
* a scalar (float)
* an 1D ndarray of size nobs
* an 2D ndarray or pd.DataFrame of size (any, neqs)

The first two are cast to the (required_size, neqs).

The third is used as look-up, and is sub-set to the indices of `X` before passed to th

[2022-06-13 22:51] fkiraly opened #2812 "[DOC] sktime docs should link clearly to example notebooks"
It seems that the sktime user journey does not lead clearly to the example notebooks when starting on the doc page.

This should be investigated and reworked.

Related issue: https://github.com/alan-turing-institute/sktime/issues/2127

[2022-06-14 03:58] HishamSalem commented on #2767
I updated the package as instructed and I do get an indexing error specifically for sliding window models. The error mainly has to do with the make reduction package.

from sktime.datasets import load_airline
from sktime.forecasting.conformal import ConformalIntervals
from sktime.forecasting.naive import NaiveForecaster
y = load_airline()
forecaster = TransformedTargetForecaster(
    [
      (

[2022-06-14 04:26] KatieBuc opened #2813 "[ENH] Intrinsic Dimensionality + Hidalgo implementation"
Tags: multivariate, batch, unsupervised

Implement segmentation based on the local intrinsic dimension, the [Hidalgo](https://arxiv.org/abs/1902.10459) algorithm, as an estimator in the annotation module.

Tasks:
- [x] draft pull request with scaffold of implementation (not inheriting from BaseSeriesAnnotator)
- [x] figure out Gibbs sampling implementation (see below)
- [ ] design annotator base c

[2022-06-14 09:15] fkiraly commented on #2767
@HishamSalem, content-wise, you should not be wrapping a forecaster in *two* of the interval generating wrappers - use at most one.

In theory, though, it should still work if you wrap them in both. @bethrice44, any idea what is happening?

[2022-06-14 09:19] fkiraly commented on #2767
This very similar code works (I used `RandomForest` instead of `XGBRegressor` to stay inside `sktime` dependency set)

[code]

[2022-06-14 11:43] fkiraly commented on #2767
Hm, the same code fails when wrapped in `TransformedTargetForecaster`:

[code]

[2022-06-14 12:04] HishamSalem commented on #2767
@fkiraly That makes sense, thanks for the clarification. I think problem is associated with pipeline might be the problem because it does work when using the just the sklearn model as is however when integrating make_pipeline as well the same error pops up.

Sample:
from sklearn.ensemble import RandomForestRegressor

from sktime.datasets import load_airline
from sktime.forecasting.compose import m

[2022-06-14 13:03] fkiraly commented on #2767
PS, @HishamSalem, you can pretty-print python code blocks by prefacing them with ` \`\`\`python ` and ending them with ` \`\`\` `

[2022-06-14 13:58] fkiraly commented on #2767
from the slack conversation with @bethrice44

in the current implementation of ConformalIntervals it is not set to a specific type, but copies it over from y_inner_mtype, so can be anything dependent on what the internal forecaster wants
maybe not a good idea if you want it to be a specific type, always
might be a bug
the tags X_inner_mtype and y_inner_mtype need to be set to whatever _compute_sli

[2022-06-15 07:59] #2767 closed

[2022-06-15 14:11] fkiraly commented on #2767
@HishamSalem, the bugfix should resolve both your recent and original problem, hopefully.
(on current developer version, `main` branch, and to be released with 0.12.1)
If not, kindly relopen.

[2022-06-15 14:12] fkiraly commented on #2764
We should also check whether `VectorizedDF` can be used for this productively. Probably yes?

[2022-06-15 14:13] fkiraly commented on #2765
do you understand the nature of the bug, given that your workaround works?
Maybe the fix is really easy?

[2022-06-15 14:13] fkiraly commented on #2765
confirmed with python 3.9

[2022-06-15 15:54] miraep8 commented on #2807
I will take a look at this bug!

[2022-06-15 21:20] fkiraly commented on #2711
This is still an error with 0.12.0. Here's some standalone code:

[code]

[2022-06-15 21:21] fkiraly commented on #2711
@ciaran-g, it would be kind if you could have a look at this. Seems to be coming from the reconciler?

[2022-06-15 22:21] ZiyaoWei commented on #1496
Sounds like a pretty interesting small project, can I claim the ticket?

[2022-06-16 00:32] NoaBenAmi opened #2819 "[ENH] Kalman Filter Forecaster"
### Description
The Kalman Filter is an algorithm consisting of several mathematical equations that estimate the states of a process.
The Kalman Filter can support estimations of past, present, and future states.
The strength of the Kalman Filter is in its ability to efficiently infer the state of a system, even when its exact nature is unknown.
For more information about Kalman Filter, [see](http

[2022-06-16 01:16] NoaBenAmi opened #2820 "[ENH] Fast Low-cost Online Semantic Segmentation (FLOSS)"
### Description
FLOSS is a “semantic segmentation” algorithm compatible with online data (streaming data, sliding window).
Time-series semantic segmentation divides a time series into internally consistent regimes (segmented homogenous regions).

**FLOSS’s advantages**

- _Domain Agnosticism_
FLOSS is a domain agnostic technique that makes no assumptions about the data.
- _Real-World Data Suitabil

[2022-06-16 05:57] TNTran92 opened #2821 "[ENH] Using OpenML as a benchmarking framework - Implementation in sktime"
**Is your feature request related to a problem? Please describe.**
Refer to #2777

OpenML is a benchmarking framework that allows ML experiments to be reproduced easily and transparently. Each dataset and task has a unique ID that is share-able, allowing other users to repeat the same task on the same dataset. At the moment, it has limited support for time series dataset. It will be beneficial to

[2022-06-16 06:15] TNTran92 commented on #2777
TLDR:
In the order of most  to least work
OpenML -> gluon-ts -> kotsu

kotsu works straight out of the box - we do not have to worry about adapters and just on how to incorporate it into sktime
Both OpenML and gluon-ts require adapters for dataset, estimator and `metrics.` Gluonts may not help us as a benchmarking framework but it has DL models and other tool that willl be nice-to-have.

[2022-06-16 09:18] DBCerigo commented on #2777
@fkiraly

`kotsu` was designed exactly to do these things, with the following properties of minimizing bloat or overhead, allowing for any model interface/validation, and avoiding common pitfalls when aiming for fair benchmarks  [ref](https://github.com/datavaluepeople/kotsu#what-is-it).

"run the M4 or M5 competition", and "perform rolling window backtesting" would be a `validation`s and each est

[2022-06-16 10:32] fkiraly opened #2825 "[ENH] refactor error messages on incompatible input"
There is repeated boilerplate in error messages related to handling of incompatible input. Error messages like the following are repeated across the code base, as well as the logic to generate the list of admissible inputs:
[code]

Varying parts are the possible mtypes, the name of the variable, and the tutorials this points to.

This should be refactored, optionally to a single error message prod

[2022-06-16 10:51] fkiraly commented on #2820
I think `stumpy` is already a soft dependency?

[2022-06-16 11:40] lielleravid opened #2826 "[ENH] addition of window based change point detection algorithm"
**Is your feature request related to a problem? Please describe.**
Segmentation/annotation not currently implemented in sktime.
Using change point algorithms one can segment time series data by change points found. Window-based change point is one of many change point algorithms.

**Describe the solution you'd like**
Add support for window based change point detection by interfacing or adding as a

[2022-06-16 13:23] NoaBenAmi commented on #2820
`stumpy` is mentioned as a [soft dependency](https://github.com/alan-turing-institute/sktime/blob/7a660e56489bed980546155932c30185c89f5327/build_tools/azure/check_soft_dependencies.py#L18) to `MatrixProfile`, but I couldn't find any import statement of that kind in [matrix_profile.py](https://github.com/alan-turing-institute/sktime/blob/2e7a03963a82140e680a02b80732bb63ab047614/sktime/transformatio

[2022-06-16 15:28] samuelefiorini commented on #2710
Hello, I am experiencing the same issue, but I don't have any `WindowSummarizer`.

[2022-06-16 17:13] fkiraly commented on #2478
solved by https://github.com/alan-turing-institute/sktime/pull/2487 and already released in 0.12.0

[2022-06-16 17:13] #2478 closed

[2022-06-16 17:19] fkiraly commented on #2807
Ah, interesting!

The original thread produced a similar bug:
https://github.com/alan-turing-institute/sktime/issues/2452
https://github.com/alan-turing-institute/sktime/pull/2487

In 0.13.0, the default of the `na_handling` param will change to `fill_zero`.

I think the differencer is already doing that, the problem occurs in cases where there is no earlier time stamps to widen to. If you do back

[2022-06-16 17:55] fkiraly commented on #1496
all yours, @ZiyaoWei !

[2022-06-16 17:56] fkiraly commented on #1496
small note of caution: `get_fitted_params` is not subject to the "plumbing" layer, i.e., you still have to write boilerplate.

The boilerplate is simple:

[code]

[2022-06-16 18:49] fkiraly commented on #2777
We have a summer programme, which just started, and a workstream lifetime until Sep or Oct.

We will have developer days in London, July 11-15 - you seem to be in London, too, would you like to join?
There are also community/research talk slots, you could have one if you like?

(could also do this on one of the earlier days since it likely influences the work)

https://github.com/sktime/community-

[2022-06-16 20:29] miraep8 commented on #2807
I guess it might be worth verifying that this works properly in the context of a pipeline or something as well?  For example - if `Differencer` is the third step in a transformer pipeline then we would want to grab the extra points for backfilling before the first step so they get properly transformed.

Actually broader question related to this - is there a reason `sktime` doesn't make broader use

[2022-06-17 04:49] GigaMoksh commented on #2697
Hey, I'll like to work on this issue. I won't be able to do all but I can definitely try!

[2022-06-17 06:09] GigaMoksh commented on #2697
I went through the modules in the `datasets` directory. You want to reduce the boilerplate from `_data_io.py`, `_single_problem_loaders.py`, `setup.py` and `tsc_dataset_names.py` files right?

[2022-06-17 06:50] soma2000-lang commented on #2812
@fkiraly Cn I work on this issue.

[2022-06-17 06:52] soma2000-lang commented on #2169
@lmmentel @aiwalter Sorry had gone busy with some other work. Would start working on it from today.

[2022-06-17 06:55] soma2000-lang commented on #1254
@mloning Can I work on this

[2022-06-17 10:25] fkiraly commented on #1254
@soma2000-lang - sure!
Do you know where these are coming from and how to fix them?
Also, this was opened a year ago, so would be good to confirm whether we are still getting them.

[2022-06-17 10:29] soma2000-lang commented on #1254
@fkiraly  I don't know particularly which file is giving this error .We a
Can ask @mloning  about that and then probably I can check out whether we are still having the  errors or not.

[2022-06-17 10:29] fkiraly commented on #2807
Good point. Though, I can't see a way for this without "contextual awareness" of estimator, i.e., the `Differencer` being aware that it's being called within a pipeline and what the other steps are. Contextual awareness of estimators is imo one of many pathways to hell, can you think of a way that would not require it?

I think it's a combination of laziness and lack of developer familiarity (e.g.

[2022-06-17 10:31] fkiraly commented on #2820
Soft dependencies are all imported inside methods, to allow inspection of the class without an error.

[2022-06-17 10:36] fkiraly commented on #2812
sure! I would suggest starting to pick up sth in #2127

[2022-06-17 10:38] fkiraly commented on #1254
@mloning does no longer regularly check this tracker, although there's a change he might answer and/or remember details.
I think part of this issue is going into the logs and diagnosing what is happening.

Which files are affected you should be able to understand from the logs, that should not require asking @mloning.

[2022-06-17 10:42] fkiraly commented on #2697
@GigaMoksh, yes. Good spot on `setup.py`, I think that could also be compressed to a registry-like lookup.
I was mostly concerned about repetition and multiplication of boilerplate in `_single_problem_loader` and `_data_io`.

There are some straightforward refactor steps that clean up boilerplate, and some "nice to have" along the above lines. Every little bit helps, so much appreciated even if yo

[2022-06-17 11:17] miraep8 commented on #2807
I totally agree! I think my plan was not to make `Differencer` contextually away but pipelines!  ie - pipelines are aware of all the steps and *in theory* should be able to count the number of lost columns and adjust the input accordingly.  To me this seems like it could be an appropriate place to do so, then we could encourage anyone chaining together transformers/forecasters to use the pipelinin

[2022-06-17 11:30] fkiraly commented on #2807
If that's the plan, then the components need to be able to tell the pipeline what the expected output *size* is, not just the format. E.g., "which columns will you lose"?
I was already thinking about giving transformers a method such as `get_expected_cols(X)` or similar, and one could have `get_expected_rows`, although I wonder whether it really adds sth above simply passing `X` to `transform` and

[2022-06-17 15:05] fkiraly commented on #2785
I can´t reproduce this on windows, python version 3.8

[2022-06-17 15:07] fkiraly commented on #2785
so the condition for this seems unclear

[2022-06-17 15:08] fkiraly commented on #2770
fixed via https://github.com/alan-turing-institute/sktime/pull/2786

[2022-06-17 15:08] #2770 closed

[2022-06-17 21:44] cedricdonie opened #5864 "[BUG] InceptionTime does not support validation data with fewer classes than in the training data"
**Describe the bug**
When I input a validation dataset that contains fewer categories than the training dataset, I get the following error.
[code]

**To Reproduce**
I'm having trouble producing a MWE. The following code works unexpectedly.
[code]

**Expected behavior**
The label encoder will pad with zeros, allowing training with validation data with fewer classes.

**Additional context**
The oneh

[2022-06-17 22:26] #2526 closed

[2022-06-18 10:39] GigaMoksh commented on #2697
Okay so do you want to create a new file for all those boilerplate code?

[2022-06-18 10:50] GigaMoksh commented on #2697
Also, can you please point out where the code is being repeated? Because I can't see where the code is being repeated. Thanks

[2022-06-18 22:36] fkiraly commented on #2697
There´s repetition in the loaders, starting with `load_` etc, kindly have a look.

The best thing would be if you could go through the code and propose a target structure for the refactor before implementing so we can discuss/refine.

[2022-06-19 01:45] ZiyaoWei commented on #2775
It seems the issues are fixed on Binder's end, closing.

[2022-06-19 01:45] #2775 closed

[2022-06-19 10:44] fkiraly commented on #2775
ah, good to hear - I had run a binder at pydata and thought, maybe this is resolved, but somehow forgot to getting back to this issue. Thanks for following up, @ZiyaoWei!

[2022-06-19 13:27] fkiraly commented on #797
@KishManani, I've looked into the reducer and tried to "upgrade" it, but ended up rewriting it using the `Lag` transformer class. Have a look at this prototype: https://github.com/alan-turing-institute/sktime/pull/2833

Might be worth working on this together?

[2022-06-20 13:00] khrapovs opened #2836 "[ENH] Mirror Jupyter notebooks using JupyText"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Sktime repository contains a lot of notebooks (https://github.com/alan-turing-institute/sktime/tree/main/examples). The problem that motivated me to write this issue is mainly bad experience with notebook review process based on https://www.reviewnb.com/. To my taste it is st

[2022-06-20 13:01] fkiraly commented on #2573
related PR: https://github.com/alan-turing-institute/sktime/pull/2835

[2022-06-20 14:16] psteningNHS opened #2837 "sktime error: cannot import name '_centered' from 'scipy.signal.signaltools'[BUG]"
Have been doing TBATs anaylsis and recently updated by scipy to v1.8.1 and am now getting the error above.

[2022-06-20 14:23] psteningNHS opened #2838 "[BUG] error when importing TBATS"
**Describe the bug**

when running the code:

from sktime.forecasting import tbats

I get the error

ImportError: cannot import name '_centered' from 'scipy.signal.signaltools'

**To Reproduce**
from sktime.forecasting import tbats

**Versions**
<details>

Please run the following code snippet and paste the output here:

Python dependencies:
          pip: 21.0.1
   setuptools: 52.0.0.post20210125

[2022-06-20 14:24] fkiraly commented on #2837
closing in favour of #2838 which has a more extensive description

[2022-06-20 14:24] #2837 closed

[2022-06-20 14:27] fkiraly commented on #2838
can´t reproduce with sktime 0.12.0 (python 3.8, windows), the reported sktime version is a heavily outdated version 0.8.1 which is probably not compatible with scipy 1.8.1 and no longer supported.

Suggest update to sktime 0.12.0, @psteningNHS

[2022-06-20 14:27] #2838 closed

[2022-06-20 17:59] TNTran92 commented on #2777
@DBCerigo  That is very kind of you. I am trying to get sktime's benchmarking done over the summer, so greatly appreciate inputs from the authors themselves. Do you mind if I sit in when you and co discuss sktime integration? We can invite other people from sktime side too.

I'm from the US 🙃, so I will join the dev days online only.

[2022-06-20 20:22] shagn opened #2839 "[ENH] New Transformer: Outlier detection based on Interquartile range"
**Is your feature request related to a problem? Please describe.**
I would like to use an Interquartile range filter to detect outliers in time series.

**Describe the solution you'd like**
A Transformer similar to the already existing [HampelFilter ](https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.transformations.series.outlier_detection.HampelFilter.html), creating `np.nan`

[2022-06-20 21:43] fkiraly commented on #2839
hm, @shagn, is that not already possible by combining something from `pyOD` with the `TabularToSeriesAdaptor`?

[2022-06-20 22:04] fkiraly commented on #2839
ok, it doesn´t work, because `pyod` has `predict` and not `transform` in its interface.

How about a transformer `RemoveOutliers` that is based on `TabularToSeriesAdaptor`, and internally uses `predict` instead of `transform`, and has a parameter that controls what happens to the outliers, e.g., `na` is filled (default?) or they are simply removed.

Then you can pipeline with `Imputer` or a simila

[2022-06-21 03:57] TNTran92 commented on #2804
Note to self
Tested all estimators for point forecasting. 3 estimators don't work. Those are
- [ ]  AutoARIMA
- [ ] Prophet
- [ ] VAR

[2022-06-21 08:14] CelieDs opened #2841 "[BUG] FeatureSelection on pd-multiindex: Error in check_is_mtype, more than one mtype identified: ['pd-multiindex', 'pd_DataFrame_Table']"
**Describe the bug**

Hello everyone ! First, thank you for the great tool!
I encountered an error when trying to select the features of my dataset containing time-series panel data.
I converted the dataset to pd-multiIndex, following the 'examples/AA_datatypes_and_datasets.ipynb' tutorial and when I try to apply the fit_transform function, the following error appears:

[code]
Also, I was wonderin

[2022-06-21 10:22] fkiraly commented on #2711
FYI @ciaran-g, @ngupta23, #2842 should address part of this.

[2022-06-21 10:41] fkiraly commented on #2841
@CelieDs, the `regressor_` argument contains the sklearn regressor, which you can inspect for feature importances if the estimator offers that functionality.

[2022-06-21 10:42] fkiraly commented on #2841
@CelieDs, speculative fix here: https://github.com/alan-turing-institute/sktime/pull/2843
but would be great if you have self-contained code that we can use for testing.

[2022-06-21 10:55] CelieDs commented on #2841
Thank you for your prompt reply and the fix.
I added all the code that generates the error in the 'To Reproduce' section of the bug report. The other parts of the code correspond to the data importation and some checks on the types, missing values etc...

[2022-06-21 14:55] fkiraly commented on #2841
Thanks for reporting.

The general condition for the bug is the following combination condition:

(a) a transformer is used that handles `y` in a non-trivial way
(b) the transformer is of a kind where `y` is a time series (not a table)
(c) both `X` and `y` are in `Panel` or `Hierarchical` format
(d) `y` is passed in a `pandas.DataFrame` based data type format

In that case, the code could identify

[2022-06-21 17:13] fkiraly commented on #2841
Some self-contained dummy code for testing:

[code]

[2022-06-21 18:10] fkiraly commented on #2711
So, further investigated this today with @ciaran-g.

The reason seems that the pipeline, as constructed by @ngupta23 creates the extra hierarchical indices in `y` before it creates them in `X`, by running the transformed target pipeline (the one acting on `y`) on the outside, this before, of the pipeline acting on `X`.

This breaks:

[code]

Doing it the other way round, however, works:

[code]

W

[2022-06-21 18:34] jaivanti commented on #1930
Hello! So sorry was stuck with exams....Just wanted to know ...That, Will a google Doc file work for this documentation?

[2022-06-21 23:17] ltsaprounis commented on #2777
Good stuff! Pinged you all in the sktime slack to organise a call.

[2022-06-22 08:42] ilkersigirci opened #2846 "[BUG] evaluate method y_true y_pred inconsistency"
**Describe the bug**

After upgrading to 0.12.0, in `evaluate` method,  I got the warning: `UserWarning: y_pred and y_true do not have the same column index`. I guess it is because, `y_pred` doesn't have `y_true` ' s column name in its name. It is somehow removed during inner convertion processes.

**To Reproduce**

[code]

**Expected behavior**

No warning should be given

**Additional context**

[2022-06-22 10:46] ciaran-g commented on #2711
@fkiraly just confirming that the code you pasted there works for me! I think there is still something else to fix here though, because if you replace the `AIRMA()` with the `NaiveForecaster()` which should ignore `X_train`, then fitting the pipeline still raises an error on the #2842 PR branch.

Will update here later after some digging (:

[2022-06-22 11:30] soma2000-lang commented on #2812
ok @fkiraly

[2022-06-22 12:26] fkiraly commented on #2654
some incomplete opinions on pros/cons

* modifying structure of estimators is against user expectation in sklearn. I would go with (d) = no
* sklearn has (d) = no, by clone - this is the user expectation. pywatts does by reference.
    * Benedikt: we may want to use pretrained components in a pipeline
    * FK: would do this with a `Pretrained` wrapper, which does nothing in `fit` but retrieves

[2022-06-22 12:33] fkiraly commented on #2655
added information: `pywatts` uses mainly 1D and 2D (uni, multivariate series), and occasionally 3D for panels arising from bootstrap operations such as window bootstrap, similar to @ltsaprounis' classes in `bootstrap` that output `Panel` when given a `Series`

[2022-06-22 12:34] fkiraly commented on #2711
under what condition does it work? on the fix branch, or on `main`?

[2022-06-22 15:29] DBCerigo commented on #2804
I can help look into what's causing the issues for those estimates if help wanted :+1:

[2022-06-22 21:48] fkiraly commented on #2812
I have already been working on a transformers tutorial, this issue is about making sure that the notebooks appear in the right places and are linked to. Let us know if you need an explanation of how the sktime doc sources are structured, you could attend one of the Fri sessions.

[2022-06-23 04:49] TNTran92 opened #2849 "[ENH] docstrings of `evaluate` does not give examples on how to use parameter `scoring`"
**Is your feature request related to a problem? Please describe.**
The docstring of `evaluate` does not indicate how to use param `scoring`  with sktime's `metrics`. It will be more convenient to get a working example of how to apply metrics to `scoring` and how to benchmark point forecast, interval forecast right in the method's docstrings.

**Describe the solution you'd like**
A docstring code e

[2022-06-23 20:04] fkiraly commented on #2849
Ouch. Indeed, this should be improved. The docstring needs to explain what happens if different types of metrics are used.

[2022-06-24 12:40] fkiraly opened #2860 "[ENH] data conversion adapters to gluonts"
We should write adapters to the glonts time series.

This should involve:
* conversion data frame (sktime pd.DataFrame and multiindex format) to gluonts
* conversion glounts to data frame (sktime pd.DataFrame and multiindex format)

[2022-06-24 12:41] fkiraly commented on #2860
FYI @TNTran92, I opened an issue

[2022-06-24 12:42] TNTran92 commented on #2860
Thanks

[2022-06-24 17:16] fkiraly commented on #2846
confirmed on current main, python 3.8, windows.

Indeed this was a warning that we introduced recently to catch some common errors. It would seem that indeed column names are being changed somewhere in there, we need to investigate this.

Does this happen only with `ARIMA`, would be another question.

[2022-06-24 17:24] ilkersigirci commented on #2846
Arima was just an example. The warning exists in all the forecasters

[2022-06-25 10:58] fkiraly commented on #2812
there is no dedicated doc structure meeting, the community collab meetings are usually the entry point.
Re calendar invites, I don´t know how to get them, but someone else might know.

[2022-06-26 05:12] ZiyaoWei commented on #1496
So I finally got a bit of time to look into this and it seems `get_fitted_params()` has a implementation in `BaseGridSearch` which just returns the underlying best params - if we change the implementation should we worry about compatibility with existing usages?

[2022-06-26 06:51] AurumnPegasus commented on #2777
Hey @TNTran92 ,
I was wondering if I could help by taking on the fourth task

Maybe I can start of by making the converter if its not done?

[2022-06-26 11:14] fkiraly commented on #1215
nice! Welcome, @kirilral!
Might need a plan of attack and/or a design, since this is a larger project?

[2022-06-26 15:38] NoaBenAmi opened #2868 "[ENH] Fast Low-cost Unipotent Semantic Segmentation (FLUSS)"
### Description
FLUSS is a “semantic segmentation” algorithm compatible with static data (batch processing).
The algorithm divides a time series into internally consistent homogenous regions called regimes.

FLUSS produces a time series called the Corrected Arc Curve ($CAC$), corresponding to a given raw time series. $CAC$ annotates the raw time series with information about the likelihood of a re

[2022-06-26 16:18] aiwalter commented on #1215
might be worth to look into this doc: https://www.mlflow.org/docs/latest/models.html#custom-flavors

[2022-06-26 19:06] fkiraly opened #2872 "[BUG] forecaster cutoff does not update when data requires vectorization"
Forecasters do not update the `cutoff` when the data is vectorized in the hierarchical or panel case.

Example:

[code]

Expected behaviour: `f.cutoff` should be `2` and type should be `int`.

The reason for this is the `get_cutoff` utillity which returns `None` if an unexpected type is passed, in this case `VectorizedDF` that `y_inner` is in case of vectorization.

The bug is addressed in https:/

[2022-06-26 20:01] fkiraly opened #2875 "[ENH] make internal interface of `ReconcilerForecaster` consistent and visible in docstring"
left over from #2830:

In `ReconcilerForecaster`:
* what `self.forecaster` is is not consistent across the methods. One time, it is the fitted forecaster, one time it is the entire pipeline. I would ensure it is the pipeline in both cases, i.e., either bind it to the fittable pipeline element, or execute the pipeline manually.
* The `self.forecaster_` attribute should be mentioned in the docstring

[2022-06-27 05:03] TNTran92 commented on #2860
Added a draft PR that implement adapater from pd-multiindex to ListDataset

[2022-06-27 11:08] ohbtorres opened #2879 "[BUG] Differencer in TransformedTargetForecaster"
**Describe the bug**
Using Differencer class in TransformedTargetForecaster causes the following error:
_ValueError: Must supply freq for datetime value_

**To Reproduce**
Trying to use the Differencer class inside the TransformedTargetForecaster, and finish with any forecaster. After that, try to _fit_ the pipeline

[code]

**Expected behavior**
The following error
_ValueError: Must supply freq f

[2022-06-27 11:36] miraep8 commented on #2459
Its worth noting that the following tasks have been completed (and I wasn't planning on working on the other two suggested above):
 - [x] | for MultiplexForecaster
 - [x] implement MultiplexTransformer
 - [x] | for MultiplexTransformer

[2022-06-27 11:56] khrapovs commented on #2879
Could you, please, paste a complete code snippet that generates the error? Including imports, `time_series`, etc. Thanks!

[2022-06-27 13:24] miraep8 opened #2880 "[ENH] Design Discussion around pipelines and transformers which change element size."
Related to issue #2807, and potentially also #2806 and #2879.

I think we might be able to solve some of these problems by not treating the pipeline object as a forecaster until the very last step.

More broadly, I think this might be an argument in favor of making the pipelines themselves more modular.

Just opening this issues to kick off the discussion and connect related issues.

[2022-06-27 13:25] miraep8 commented on #2807
So, I wanted to follow up on this issue, both to propose a solution to this specific problem, and to move the design questions which have come up as a result of this issue to a new more design-focused issue (#2880).

First, here is a proposed solution which works with our current code base.  Essentially one can pre-transform the data for all the steps up to and including the one which changes size

[2022-06-27 14:30] miraep8 commented on #2807
@fkiraly, if you agree that the above solution is reasonable, maybe we can close this issue?

[2022-06-27 14:40] TNTran92 commented on #2777
PR #2877 tackles the first part of this adapter. You can go ahead and use it while the merge is going through

[2022-06-27 16:29] fkiraly commented on #2879
Possible duplicate or homologue of this bug: https://github.com/alan-turing-institute/sktime/issues/2806

[2022-06-27 16:40] fkiraly commented on #2880
Could you perhaps be a bit more explicit what you mean by "not treating as forecaster until the very last step"?

This "relaxing of typing" PR could be related - is it?
https://github.com/alan-turing-institute/sktime/pull/2842

[2022-06-28 07:39] tcuongd opened #2886 "[ENH] Upgrade to Prophet 1.1"
Hello! We recently released v1.1 of Prophet: https://github.com/facebook/prophet/releases/tag/v1.1 which removes the pystan==2.19.1.1 dependency and has binary distributions (python 3.7-3.10) uploaded to PyPI. I think specifying prophet >= 1.1 will make the optional Prophet install a lot smoother.

[2022-06-28 08:21] aiwalter commented on #2886
@tcuongd thx for update! :)

[2022-06-28 09:09] CelieDs commented on #2841
Hello! Sorry for the delay in response.
Thanks a lot for your reactivity! I was wondering how to get the version of sktime with this fixed? Should I download the development version?
Thanks in advance!

[2022-06-28 11:18] #2841 closed

[2022-06-28 11:20] #2872 closed

[2022-06-28 13:21] SMEISEN commented on #2654
- (a) __call__ return: StepInformation vs GraphPipeline
    - `StepInformation` is an Object with the Attributes `Step` and `Pipeline`
       connecting steps is performed like the current pyWATTS implementation but `StepInformation.Pipeline.train(data)` enables training the (sub-)pipeline

[2022-06-28 13:26] benHeid commented on #2654
* (a)
   * Drawbacks return Graphpipeline:
     * Each pipeline has only one output or last step (This could probably depend on the choice on decision point (d)).
   * Benefits return Graphpipeline:
     * More intuitive to use?
* (c) Input Subsetting
   * Persional Opinion: I would prefer to use a dummy object (`Column()`) or a string, because:
     * this is probably an operation which is often

[2022-06-28 14:37] fkiraly opened #2889 "[BUG] ConformalIntervals wrapped ARIMA/AutoARIMA breaks with default parameters"
### Discussed in https://github.com/alan-turing-institute/sktime/discussions/2869

<div type='discussions-op-text'>

<sup>Originally posted by **linaamic** June 26, 2022</sup>
Hi everyone, I am currently trying out the ConformalIntervals feature from sktime.forecasting. However, I can't get it to work for both ARIMA and AutoARIMA. Is there an inherent difference between ARIMA forecasters and other

[2022-06-28 14:39] fkiraly commented on #2889
FYI @bethrice44

[2022-06-28 18:52] lmmentel opened #2890 "[MNT] Cut down test time to under 10 min"
**Describe the bug**

The current testing suite is horrendously long and creates a poor developer experience with the test suite taking ~1h to complete.

[2022-06-28 19:13] fkiraly commented on #2890
here is an earlier attempt
https://github.com/alan-turing-institute/sktime/pull/2024

but I do not understand why this did not lead to the expected gains. Sth might not work with the caching scope?

[2022-06-28 19:14] khrapovs commented on #2890
Btw, who is paying for all this computational time on GitHub?.. It's not just about developer experience, is it?

[2022-06-28 19:36] fkiraly commented on #2890
so, I just notice that in the #2024 attempt, the `lru_cache`-d function is inside a class, which won't work properly.

That might be it?

I.e., the solution would be:

* take #2024 and adapt it into the current test framework, resolving perhaps a million merge conflicts
* take the cached function `_cached_estimator_fitting`, and move it *outside* any of the classes

... done?

[2022-06-28 20:05] aiwalter opened #2891 "[ENH] BaseGridSearch to have param error_score like in sklearn"
**Is your feature request related to a problem? Please describe.**
When fitting a grid search with a pipeline in `sktime`, it can happen that the estimator or one of the transformers raises an exception for some combinations of the params. I personally faced this often when a transformer like box cox introduces negative values, but the following transformer/estimator can only use `>0` or `>=0 ` va

[2022-06-29 02:50] TNTran92 commented on #2860
Closed PR #2877 and opened #2893. PR is ready for review

[2022-06-29 06:40] AurumnPegasus opened #2894 "[ENH] adding CNNRegressor along the lines of CNNClassifier"
**Is your feature request related to a problem? Please describe.**
Adding a CNNRegressor model in sktime along the lines of existing [CNNClassifier](https://github.com/alan-turing-institute/sktime/pull/2447)

**Describe the solution you'd like**
Add a Regressor model using CNN with the same design choices used in CNN Classifier. Ideally it should, for all purposes of usage, behave similarly to skt

[2022-06-29 10:37] TonyBagnall opened #2897 "[BUG] Error in Windows install related to conda install of pystan and prophet"
**Describe the bug**
the recommended window install instructions recommend installing pystan and prophet from conda, due to ongoing problems with these dependencies.  have recently followed these successfully, but yesterday I tried a fresh install and got a dll error (which we have seen before, add links).

**To Reproduce**
conda create -n sktime python=3.8
conda activate sktime
conda install -c c

[2022-06-29 10:51] aiwalter commented on #2897
should be fixed by #2887

[2022-06-29 11:05] TonyBagnall commented on #2897
I'll test drive it again once #2887 gets merged

[2022-06-29 12:07] #2886 closed

[2022-06-29 12:21] khrapovs opened #2898 "[MNT] Relax restriction on `cmdstanpy` version or completely remove it from `all_extras` dependencies"
**Is your feature request related to a problem? Please describe.**

`prophet==1.1` is not compatible with `cmdstanpy==1.0.2`. To avoid this problem, the restriction was introduced in this PR: https://github.com/alan-turing-institute/sktime/pull/2887.

**Describe the solution you'd like**

Restriction has to be lifted once the problem is resolved either in `prophet` or in `cmdstanpy`. Ideally, `cmd

[2022-06-29 12:22] fkiraly commented on #2898
... and not one of `sktime`.

[2022-06-29 12:33] miraep8 commented on #2654
(c) regarding subsetting:
-  Personally, I would agree with @benHeid that it makes sense to use a Dummy variable for input subsetting.  I just like the idea of separating the specification of a model from the data it is being used to model.
- I think there is an additional advantage here of making it easier to specify and share models across problems as well.

(d) Here is an idea:
- A potentially

[2022-06-29 12:57] khrapovs commented on #2898
@WardBrian Thanks for reaching out so quick! I think this would be a representative example: https://github.com/alan-turing-institute/sktime/runs/7106816665?check_suite_focus=true

[2022-06-29 12:58] aiwalter commented on #2898
Hi @WardBrian , thx that you look into it. Here is one of the logs from yesterday: https://pipelines.actions.githubusercontent.com/serviceHosts/4020a5b7-5870-47fe-a430-bbf53b49363a/_apis/pipelines/1/runs/23899/signedlogcontent/18?urlExpires=2022-06-29T12%3A57%3A13.8971983Z&urlSigningMethod=HMACV1&urlSignature=NE3ZS%2FBXgpq2Bp89yaSrhUIKArvq%2FxorOwPVO4Selfo%3D

You have to scroll to the end, there

[2022-06-29 13:27] WardBrian commented on #2898
It seems like the change to support `.` for variable access made CmdStanPy objects un-pickleable. This should be fixable, but my more general question is if this is necessary behavior for cmdstanpy objects (and things which hold references to them, like Prophet objects)

[2022-06-29 13:37] tcuongd commented on #2898
Yeah you can reproduce this by trying to copy a fitted Prophet model (which has the CmdStanMLE saved in `m.stan_fit`.

[code]

[code]

In the Prophet docs we already advise against pickling stan backend objects: https://facebook.github.io/prophet/docs/additional_topics.html#saving-models but I guess `copy` is a common action that people don't associate with pickling and expect to just "work".

[2022-06-29 13:37] aiwalter commented on #2898
yes its required that its `pickle`-able. In deployment of ML models, its common that `pickle` is used to dump models e.g. by means of `mlflow`. We also have tests to assure our models work well with `pickle`.

[2022-06-29 13:40] aiwalter commented on #2898
@fkiraly do we actually have a dedicated test for `deepcopy()`? Might be handy to have it

[2022-06-29 14:12] TonyBagnall commented on #2897
fixed by #2887 , tested on two window boxes

[2022-06-29 14:24] fkiraly commented on #2807
Hm, not sure - I thought the issue is not so much with `X` being *trimmed* but being *transformed* into sth with a different index set. Where there is not a clear "not trimmed" option, since the result is not simply `X` at some sub-set of columns.

[2022-06-29 14:42] miraep8 commented on #2880
Yes I would agree the "relaxing of typing" PR is relevant, thank you for linking it.

And yes - would be happy to be more explicit!  I am still in the process of tracing all the code relevant to this, so this is probably a less than perfect understanding, but from what I could tell:
- in the example which came up in issue 2807 `ForecastingGridSearch` we end up pre-trimming all `X` in a `fh` depend

[2022-06-29 16:01] #2751 closed

[2022-06-29 17:57] WardBrian commented on #2898
Would someone be able to run the sktime tests with the current `develop` branch of cmdstanpy? I'd like to confirm all downstream issues here are resolved before releasing the 1.0.3 patch

[2022-06-29 18:58] miraep8 commented on #2807
Yes!  Sorry, I think my initial message was unclear!

I wanted to just loop in the original poster of this bug @anthonygiorgio97 and bring you up to speed!

First off, wanted to thank you for bringing up this bug!  It has brought up some interesting design questions (as you can see).  We are having on ongoing design discussion as to how to address this problem in a more permanent way (#2880 if you

[2022-06-29 19:48] aiwalter commented on #2898
@WardBrian
I have tested on `develop` of `cmdstanpy` and `main` of `sktime` with adjustment of removing the `cmdstanpy` requirement: It has passed! To test I used `pytest -k "Prophet"` which is testing all tests that run on `Prophet` class.

However I get a weird logging error after tests have passed:
[code]

[2022-06-29 19:54] WardBrian commented on #2898
Yeah, that’s an unrelated but annoying bug in Pytest: https://github.com/pytest-dev/pytest/issues/5502

At CmdStanPy we could work around it by either not logging that we’ve cleaned up temp files, or doing this logging with print statements, both of which have drawbacks

[2022-06-30 00:21] miraep8 commented on #2890
I this this is really great. Some ideas to throw out there:

- what would people's thoughts be on just running CI/CD tests on files changed until a particular PR is ready to merge, and then on the merge action we trigger the full CI/CD run? Might help with increasing iteration speed (seems like most bugs come up on files directly related to the PR) but ensures that a full QC check is done before t

[2022-06-30 10:17] #2898 closed

[2022-06-30 11:22] miraep8 opened #2901 "[ENH] Thoughts on creating a "find my k" sub-module within sktime?"
Hey Annotation/Segmentation/Changepoints team!

After a few discussions with you all, it seems like a common problem many of us will need to solve to some degree is "finding k" ie the number of change points segments etc in our data.

One idea I had was that rather than finding k within each of our estimators, it might make sense to separate this logic into a different submodule within `sktime.ann

[2022-06-30 13:55] fkiraly commented on #2901
Hm, option 2 would indeed be a kind of `GridSearch` imo, applied to a parameter `k`, subject to a metric for changepoint, segmentation or the like. This is probably easier in the supervised case.

Option 1, I feel, would require some sort of logic that allows an estimator to produce a *parameter* rather than other predictions. I.e., an estimator that has only `fit`, and `get_fitted_params`? And th

[2022-06-30 14:02] fkiraly commented on #2901
More common cases for the `FittedParamSetter` might be great to have in forecasting:

* determining seasonality parameters by a seasonality test, then stick them in a forecaster
* determining `pdq` for an ARIMA model, then stick them in the ARIMA model
* determining stationarity, and conditionally applying differenting or other stationarity making, that would be `FittedParamSetter` with multiplexi

[2022-06-30 15:20] fkiraly commented on #2654
@miraep8, could you be more concrete of how your implementation to "load fitted parameters" would work?
Were you thinking of an extra method, a feature of the call dunder, or sth else?

[2022-06-30 16:28] fkiraly commented on #2654
design study of `FittedModel` here: https://github.com/alan-turing-institute/sktime/pull/2903

[2022-06-30 21:44] fkiraly commented on #2890
That's a brilliant idea, and basically what `pytest-testmon` does, this avenue was explored in issue https://github.com/alan-turing-institute/sktime/issues/2530.

I think we got stuck at the question "but how would you know which tests are those that touch the changed files/lines"? There is also a problem with `testmon` that it does not detect files that the `all_estimator` crawler does, say, if a

[2022-06-30 21:47] fkiraly commented on #2890
So, @miraep8, do you have a good idea how you would technically implement, given `sktime`'s current test set-up, to test only files changed in a PR?

I also overlooked @tarpas last post which seems to suggest something similar. I.e., first test with the "imperfect" `testmon`, and then gradually add in tests.

The problem though would be that it would miss new files and estimators therein, if I am

[2022-06-30 21:50] fkiraly commented on #2880
Isn't that what #2842 was trying to achieve, by setting pipeline tags to the "relaxed" one where no trimming takes place, instead of copying that one from the forecaster?

[2022-06-30 21:50] fkiraly commented on #2880
I think your understanding is correct, but also I thought `TransformedTargetForecaster` does not trim `X`?

[2022-06-30 22:17] miraep8 commented on #2890
I think running `check_estimator` on all classes in new files would get us most of the way there.  It might not be ideal for cases where we are modifying `BaseObject` or something like that though.  Thoughts on this suggestion to help us catch all potentially affected files:

- Lets create an object which is a dict() (lets call it `importsMe`)
- The keys to this object are module names within `skt

[2022-07-01 00:09] fkiraly commented on #2890
Summary: I think this is an excellent idea!

We may have to modify it though for functionality that itself uses `import_module`, possibly with dynamic imports.
I think this is isolated to `all_estimators` though, so we may need to think around that.

Ok, your `dict` is the transitive closure of the directed acyclic graph of module imports, where directed edges are encoded as (key, value) pairs.

I

[2022-07-01 10:43] fkiraly opened #2905 "[BUG] contributors.md not updating?"
Update: there's a "hard" and an "easy" (good first issue) problem here.

easy = running the cmdline tool locally and making a PR with the generated contributors.md

hard = automating this in the CI (e.g., release script)

(and we close it only once we have automation done)

---

It seems the contributors.md has not updated since 0.9.0 - are we doing sth wrong with the release?

Did we accidentally

[2022-07-01 10:48] miraep8 commented on #2654
I checked out the `FittedModel` PR and I think this approach seems reasonable.

I guess one question is - I suppose the 'model' that we are fitting/reloading will be a `GraphPipeline` estimator/object? So then the question for me is - do we need to create a new class that is this `FittedModel`, or can we just use the `GraphPipeline` class, but have the option of generating this from unpacking a `p

[2022-07-01 10:53] miraep8 commented on #2654
Ahhh, I see.  The advantage of having the `FittedModel` as a separate class` is that on `fit` we can skip fitting the parameters.  Which does not happen if we just treat it as a normal `GraphPipeline` object.

I guess this could get us to a separate question of - if a part of the model is already fitted, we could skip re-fitting it, and instead only update the fitted parameters if `update` is call

[2022-07-01 12:08] ilkersigirci commented on #2891
Why sktime didn't implement evaluate and grid search mechanism like in the sklearn? I think the way [pycaret](https://github.com/pycaret/pycaret/blob/master/pycaret/utils/time_series/forecasting/model_selection.py) handles this cross_validation mechanism is much more convenient since it closely follows sklearn structure. What would you think about this?

[2022-07-01 12:13] fkiraly commented on #2654
Note from @kalebphipps

* simplicity is important for users - e.g., dunders, square brackets, dummy objects
* putting things "under the hood" if more intuitive is good. Should not require more complex workflows like "build stepinformation and then wrap it" etc

[2022-07-01 12:16] fkiraly commented on #2654
@miraep8:

* prefers "everything is `GraphPipeline`"
* sees that "build model" might be necessary and interim objects that have "multiple ends"
* could `GraphPipeline` also have "multiple ends" in scope and construct only when final object has a "type"
* do `GraphPipeline` need to be constructed in "forward" direction?
* maybe need separate assembly/build process

[2022-07-01 19:06] fkiraly commented on #2654
here's a suggestion on this question:

I think a good solution would be the following:
* `GraphPipeline` lives in `pywatts`, but is `sktime` compatible
* `pywatts` is an `sktime` soft dependency, localized to `__call__`
* `sktime` is a `pywatts` soft dependency, for base class (parent of `GraphPipeline`?) and testing
* testing for `GraphPipeline` uses `sktime` `check_estimator`
* `sktime` base cla

[2022-07-01 19:11] fkiraly commented on #2079
I'm 90% sure, that's because it is trying to construct classes that internally import the missing packages. We've isolated the soft dependency import to class constructors and methods, and the testing framework constructs those classes, including those with missing/incompatible imports.

@lmmentel, @jlopezpena, I'd really like to go with my solution of skipping those classes, based on python versi

[2022-07-02 09:12] aiwalter commented on #2891
@ilkersigirci can you be more precise with what you think is missing or should be different?

[2022-07-02 09:28] ilkersigirci commented on #2891
As @ngupta23 pointed out in the docstring of the `fit_and_score` method:

"Fits the pipeline on a single train split and scores on the test split
 Similar to _fit_and_score from `sklearn` (and to some extent `sktime`).Difference is that sklearn operates on a single fold only, whereas sktime operates on all cv folds."

Doing sklearn way enable us to parallise each split in cross_validation function

[2022-07-02 10:32] lmmentel commented on #2905
Good catch, do you know how were they updated in the past? I've checked the history and those updates are a part of release PR but it's hard to say if this was a manual or automated edit.

[2022-07-02 11:22] hilal-g commented on #1447
Hello,

I read through the [Loading data into sktime](https://www.sktime.org/en/latest/examples/loading_data.html) tutorial, and I have a few [suggestions](http://localhost:8888/notebooks/loading_data_04.ipynb#Issue-1).

1) Replace `A .ts file include two main parts: * header information * data` with `A .ts file includes two main parts: 1) header information and 2) data`.
2) This one is a question

[2022-07-02 18:34] fkiraly commented on #1750
@khrapovs, thanks a lot for your hard and excellent work on the `freq` issue! This is truly a very fiddly and unpleasant problem.

I have been somewhat confused, I have to admit, as you may see from some replies, and have now tried to make an effort to understand things better.

Let me first try to summarize what I've understood is at the root of the problem, so you can check my understanding:

*

[2022-07-02 19:05] khrapovs commented on #1750
Yes. This is more or less what I was trying to say in my enhancement proposal and in this PR description. Sorry, if it was not very clear.

As a user I am not sure I like this proposal. In exchange of passing a simple string like "D" or "10T" as a `freq` argument in a very corner case of `pd.Timestamp` (in all other cases default `freq=None` is perfectly fine), you are offering me to be very caref

[2022-07-02 21:07] fkiraly commented on #1750
Here is the proposal as part of the STEP:
https://github.com/sktime/enhancement-proposals/pull/24

Maybe - I think `ForecastingHorizon` should still be extended to allow `freq` pass.

But, I would like to:
* keep current usage where that arg is not required in many cases
* change internal/private usage so the interfaces do not proliferate arguments, I think that is best achieved with an `pd.Index`

[2022-07-02 21:09] fkiraly commented on #1750
No, it was clear - I just didn't understand it properly first time round.

[2022-07-02 21:17] fkiraly commented on #2905
I suspect, one of these:
https://allcontributors.org/docs/en/tooling

@mloning might know more.

[2022-07-02 21:22] fkiraly commented on #2880
I see - good catch!

So, I assume, we should not pre-trim there. Could anything bad happen if we don't, e.g., leakage?
If not, we should remove the trimming. What do you think?

Where are we currently trimming?

[2022-07-02 21:23] fkiraly commented on #1447
Thanks, @hilal-g!

[2022-07-02 21:24] fkiraly opened #2910 "Action suggestions on "loading data" notebook"
From @hilal-g in #1447:

Hello,

I read through the [Loading data into sktime](https://www.sktime.org/en/latest/examples/loading_data.html) tutorial, and I have a few [suggestions](https://github.com/hilal-g/sktime-feedback/blob/main/loading_data_04.ipynb).

1) Replace `A .ts file include two main parts: * header information * data` with `A .ts file includes two main parts: 1) header information a

[2022-07-02 21:26] fkiraly commented on #2079
Yes, that's also an option I like!
Having "satellite packages" rather than soft dependencies.

Hm, almost.
Let me look into it.

[2022-07-02 22:27] fkiraly commented on #2459
Thanks for pointing this out, @miraep8!

[2022-07-02 23:01] fkiraly commented on #1496
not if it returns everything in the expected `dict` format.

These are the only ones I know.

[2022-07-03 09:02] khrapovs commented on #1750
@fkiraly May I kindly remind you your own words: https://github.com/alan-turing-institute/sktime/pull/2694#issuecomment-1146769665. I have spent quite some time on this PR...

[2022-07-03 13:12] fkiraly commented on #1750
Still my preference! I just don't want anything to happen to our public interfaces, or anything major to `BaseForecaster` logic. Hence my modified suggestion. We can probably mix the two approaces.

[2022-07-03 15:41] TNTran92 commented on #2821
OpenML not compatible with sktime due to having a requirement to have target column in input DataFrame. Closing this issue.

[2022-07-03 15:41] #2821 closed

[2022-07-03 15:49] TNTran92 opened #2916 "[ENH] Implementation of MLFlow in sktime"
**Is your feature request related to a problem? Please describe.**
MLFlow is a powerful package itotrack, log, save and deploy ML models. It allows users to save a record of every parameters and  experiments for analysis in a user-friendly manner. Such model can be deploy in the exact state when it was created later on. It would be good to investigate MLFlow's implementation of sktime in the conte

[2022-07-03 16:01] TNTran92 commented on #2916
See sklearn'simplementation examples ([this](https://github.com/mlflow/mlflow/blob/master/examples/sklearn_elasticnet_wine/train.py) and [this](https://github.com/mlflow/mlflow/blob/master/examples/sklearn_elasticnet_diabetes/linux/train_diabetes.py)). If sktime is implemented, it would look very similar.

In those, they use mlflow to log results and pickle models for later use. The results are th

[2022-07-03 16:01] #2916 closed

[2022-07-03 18:13] fkiraly opened #2918 "[ENH] `sktime` transformer wrapper for `pywatts` `StepInformation`"
for exploration: let's try wrapping `pywatts` `StepInformation` in an `sktime` transformer. To explore what the current interface points would be.

[2022-07-03 18:13] fkiraly opened #2919 "[ENH] prototype `GraphPipeline` for `sktime` transformers using `__call__` dunder"
for exploration: `sktime` native graph pipeline, consisting only of transformers, and using the call dunder. No subsetting, no pre-fitted models, no options.

To explore `sktime` interface points around networks.

[2022-07-03 18:15] fkiraly commented on #2918
FYI @benheid, @kalebphipps, @smeisen

[2022-07-03 18:16] fkiraly commented on #2918
(you need to reply so I can assign)

[2022-07-03 20:40] fkiraly commented on #1503
Problem no longer exists on sktime 0.12.X and most up-to/date installation.

[2022-07-03 20:40] #1503 closed

[2022-07-03 20:40] fkiraly commented on #1503
@asksteph, kindly let us know if this has disappeared for you too, or not.

[2022-07-03 20:50] fkiraly opened #2921 "[MNT] fix automatic releases on `conda-forge`"
0.12.1 has not been released on `conda-forge`, even though this should have happened by automation.

@lmmentel was investigating, this is to track the issue.

I also think it is a must-have to solve before 0.13.0 mid-July, or the debt will accumulate - especially since we want to move to 3.10 support.

issue on `sktime-feedstock`: https://github.com/conda-forge/sktime-feedstock/issues/44

[2022-07-03 20:57] fkiraly commented on #1750
I'm removing the "good first issue" label, since (as we have learnt) the deprecation is so horriffically intertwined with `sktime` core interfaces relying on that `freq` attribute that it requires experienced core devs.

[2022-07-04 05:59] AurumnPegasus opened #2924 "[ENH] Predict Intervals for VECM"
**Is your feature request related to a problem? Please describe.**
Adding `predict_intervals` capability to existing `VECM` implementation

**Describe the solution you'd like**
A simple function to predict intervals given forecast horizon and coverage (in line with how `predict_intervals` work for `arima`)

**Additional context**
Feature required according to PR [2829](https://github.com/alan-turi

[2022-07-04 06:31] #2924 closed

[2022-07-04 07:44] #2247 closed

[2022-07-04 15:39] lmmentel commented on #2785
I can confirm, I'm getting the same on linux with py3.9

[code]

[2022-07-04 18:51] tarpas commented on #2890
Hi. I prioritized other things because testmon doesn't support pytest --pyargs and also because I'm not able to run the test suite on my M1 Macbook (tensorflow started crashing under rosetta 2 and there are still problems to install it natively)

What @miraep8 describes sounds like static analysis. testmon doesn't do that, it uses only runtime coverage data. That's why it might have problems to pi

[2022-07-04 21:54] lmmentel commented on #2921
Currently the build on linux py39 fails with

[code]
more logs
[https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=530943&vi[…]413-330699242c05&t=c10fa5f2-fdf6-5338-3bdb-c4bea7c23412&l=3135](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=530943&view=logs&j=517fe804-fa30-5dc2-1413-330699242c05&t=c10fa5f2-fdf6-5338-3bdb-c4bea7c23412&l=3135)

[2022-07-04 22:03] fkiraly commented on #2890
It already is a function! We are using `all_estimator` internally from the registry module.

Hm, @lmmentel, could you kindly reply to this? I pinged you in the #2530 issue and you did not react, maybe you did not see it?

Now, since you opened this issue, you may like to comment?

[2022-07-04 22:05] fkiraly commented on #2890
@tarpas, do you understand why we would need `pyargs`? Sorry for asking a potentially stupid question, would appreciate an explanation like I'm a 6 year old. Here's a PR to a state without it, I think:
https://github.com/alan-turing-institute/sktime/pull/2928
just to see what happens...

[2022-07-04 22:23] fkiraly commented on #2921
py38 says something different:
[code]

[2022-07-04 22:24] fkiraly commented on #2921
actually, py39 says the same

[2022-07-05 01:52] fkiraly commented on #2890
seems to work without `pyargs`, @tarpas
https://github.com/alan-turing-institute/sktime/pull/2928
is this sth you can work with?

[2022-07-05 07:29] lmmentel commented on #2921
I am trying to debug, so making changes to the PR

[2022-07-05 10:51] tarpas commented on #2890
Per this: _by @lmmentel in https://github.com/alan-turing-institute/sktime/issues/2389#issuecomment-1087828335_ sktime started using --pyargs because pytest was picking up some files (associated with cython which you don't use anymore anyway) which it shouldn't have been picking. I think --ignore or other means is the right tool to tackle that.

So I don't think there was a good reason and #2928 w

[2022-07-05 13:29] CelieDs opened #2930 "[BUG] FeatureSelection on pd-multiindex with panel data - 'FeatureSelection' object has no attribute 'feature_importances_'"
**Describe the bug**
No attribute defined for 'FeatureSelection' object

[code]

**To Reproduce**

[code]

**Expected behavior**

Display the numerical values of importance for each feature in a dict or None

**Additional context**
This error might be the result of a warning that appears when running the FeatureSelection function on panel data:

[code]
When trying to solve this warning using the f

[2022-07-05 15:54] soma2000-lang commented on #2169
@lmmentel @aiwalter  Basically we need to edit the config.py file here.Right?

[2022-07-05 15:58] aiwalter commented on #2169
which file do you talk about? I think the need to address the root of each of those warning, e.g. correct the syntax errors and docstrings etc.

[2022-07-05 16:29] soma2000-lang commented on #2169
Sorry I am working on this type of issue for the first time .I need to correct the syntax errors of the files present in the docs folder ??

[2022-07-05 17:35] aiwalter commented on #2169
yep, you first need to build the docs to see all the warnings, do that by `followings this steps: https://www.sktime.org/en/stable/developer_guide/documentation.html#documentation-build

[2022-07-05 17:52] fkiraly commented on #2890
Ah! Well, we killed all cython with fire somewhen around 0.9.0, so there is perhaps no longer a reason to use --pyargs, which would solve everything.

[2022-07-05 20:00] fkiraly commented on #2921
ah, makes sense.

[2022-07-05 20:03] fkiraly commented on #2812
You should look into the `docs/source` folder, in there it is following basic `rst` patterns, see here: https://docutils.sourceforge.io/rst.html

[2022-07-06 05:56] tarpas commented on #2890
@fkiraly can you point me to a PR where there is suspicion testmon might not pick up changes correctly? Would that be adding a new estimator class? Can you point me to an example?

I'm not that familiar with your project. My attempts to satisfactorily work with a remote development environment (amd64 linux) failed. So I'll probably have to get a physical Intel/AMD machine, so it might take some ti

[2022-07-06 10:46] AurumnPegasus opened #2935 "[ENH] Changing and Adding features to CNN Classifier"
**Is your feature request related to a problem? Please describe.**
As discussed in the daily-stand up on 05-07-12, I wanted to propose some enhancements / changes to CNN Classifier (and hence to Deep Learning based estimators)

**Describe the solution you'd like**
- [ ] Moving the `convert_y_to_keras` function in `BaseDeepClassifier` into a utils function
- [x] Enable returning the `label_encoder`

[2022-07-06 11:27] fkiraly commented on #2935
Yes, great additions, great suggestions!

I think this one is unnecessary, because you can pass the `lr` to the optimizer, which is an object you would then pass to the classifier class constructor. We do not need two places to pass it?

Or, do you see a good argument why it would be useful to the user to pass `lr` separately? Or am I simply misunderstanding the suggestion?

[2022-07-06 11:30] fkiraly commented on #2890
We could try setting one up by screenshare sometime? I know @lmmentel, @freddyaboulton and @mloning all have done that.

Yes, adding a new estimator class that is failing tests would be such an example.
Here is a current PR which adds a new estimator class and fails at the time of writing:

https://github.com/alan-turing-institute/sktime/pull/2349

So, the failure mode for the testmon extension wo

[2022-07-06 14:58] khrapovs commented on #2614
I took a random recently completed job: https://github.com/alan-turing-institute/sktime/runs/7205042546?check_suite_focus=true. "float64" does not show up in the search. Closed.

[2022-07-06 14:58] #2614 closed

[2022-07-06 16:10] miraep8 commented on #2880
I will make a PR attempting to fix this!  Lets see if that solves it or not!

[2022-07-06 21:58] fkiraly opened #2942 "[ENH] clean up the `_contrib` folder, aim to remove"
There apparently is a `_contrib` folder in `sktime` with ... stuff ... in it.
Tbh it is unclear to me when it was decided that we should have it, what the scope of it is, or how it got populated with a collection of seemingly random content.

I think we need to deal with it, stop putting more random stuff in it, and eventually get rid of it.

* decide what should stay in `sktime` and what should g

[2022-07-07 00:08] fkiraly opened #2943 "[ENH] forecasting grid/random search estimators fail on `get_fitted_params`"
`ForecastingGridSearchCV` and `ForecastingRandomSearchCV` fail the test for `get_fitted_params`:

[code]
yields traceback

[code]

Strangely, it works for the `NaiveForecaster` which is the default test parameter choice.
However, it fails similarly, with `NaiveForecaster`, after the simplification in PR https://github.com/alan-turing-institute/sktime/pull/2874. That it fails with `ExponentialSmoot

[2022-07-07 00:11] fkiraly opened #2944 "[ENH] forecasting grid/random search estimators return wrong indices in `update_predict`"
`ForecastingGridSearchCV` and `ForecastingRandomSearchCV` fail the test for `update_predict_predicted_index`:

[code]

yields traceback

[code]

Strangely, it works for the `NaiveForecaster` which is the default test parameter choice.
However, it fails similarly, with `NaiveForecaster`, after the simplification in PR https://github.com/alan-turing-institute/sktime/pull/2874. That it fails with `Ex

[2022-07-07 00:28] fkiraly commented on #2944
Potential explanation: the delegation in grid/random search was calling `_update` instead of `update`, which did not update the `cutoff`. But, that bug cancelled out with the nested structure of `NaiveForecaster` which was wrapping a `_NaiveForecaster` inside `NaiveForecaster`, so the `_update` of `NaiveForecaster` was actually patched through to the `update` to `_NaiveForecater`.

[2022-07-07 08:14] TonyBagnall opened #2946 "[ENH] store the transform time in the BaseTransformer"
**Is your feature request related to a problem? Please describe.**

It is useful to record the time estimators take to fit to help with algorithm comparison. We do this in clustering and classification base class, it would be nice to store transform time in the BaseTransformer class

**Describe the solution you'd like**
a class variable, e.g. transform_time, that is initialised in reset and calcul

[2022-07-07 08:32] TonyBagnall opened #2947 "[ENH] remove the _contrib package from sktime main, port useful code elsewhere"
@fkiraly's original post in #2942 (added by @fkiraly):

There apparently is a `_contrib` folder in `sktime` with ... stuff ... in it.
Tbh it is unclear to me when it was decided that we should have it, what the scope of it is, or how it got populated with a collection of seemingly random content.

I think we need to deal with it, stop putting more random stuff in it, and eventually get rid of it.

[2022-07-07 08:33] TonyBagnall commented on #2947
oh, just saw this @fkiraly https://github.com/alan-turing-institute/sktime/issues/2942, can we use this issue instead?

[2022-07-07 09:32] foe12 opened #2950 "Error with TimeSeriesKMeans class import"
### Discussed in https://github.com/alan-turing-institute/sktime/discussions/2949

<div type='discussions-op-text'>

<sup>Originally posted by **foe12** July  7, 2022</sup>
Please, help me to understand why I cant to import class TimeSeriesKMeans?  All my efforts to import TimeSeriesKMeans are handling to infinity.
For clarity, I have jupyter notebook with 1 row:
`from sktime.clustering.k_means im

[2022-07-07 11:27] TonyBagnall commented on #2950
hi, seems like a permission error, can you import other modules, e.g.

from sktime.classification.dummy import DummyClassifier

PermissionError                           Traceback (most recent call last)
File C:\Program Files\Python39\lib\tempfile.py:255, in _mkstemp_inner(dir, pre, suf, flags, output_type)
    254 try:
--> 255     fd = _os.open(file, flags, 0o600)
    256 except FileExistsError:

[2022-07-07 11:58] foe12 commented on #2950
Yes, I can import DummyClassifier and other classes. I faced with this issue only at TimeSeriesKMeans import

[2022-07-07 12:06] foe12 commented on #2950
I start check other classes and have problem with import:
`from sktime.forecasting.naive import NaiveForecaster` and other classes from forecasting.
Problem the same:
PermissionError: [Errno 13] Permission denied: 'C:\\Program Files\\Python39\\lib\\site-packages\\sktime\\utils\\numba\\__pycache__\\tmpk9oih7d8'

[2022-07-07 12:44] fkiraly commented on #2946
optimally, there is generic functionality for this that can be called, rather than being copy-pasted in all base classes

[2022-07-07 12:45] fkiraly commented on #2935
Changing defaults would require deprecation, so I would advise against changing defaults.

[2022-07-07 12:46] fkiraly commented on #2947
Sure. Closing this as duplicate of #2942.

[2022-07-07 12:46] fkiraly commented on #2942
some discussion by @TonyBagnall in the duplicate issue https://github.com/alan-turing-institute/sktime/issues/2947

[2022-07-07 13:45] foe12 commented on #2950
I solve the problem by adding permission to write at C:\Program Files\Python39\ to my os user. Thanks!

[2022-07-07 13:45] #2950 closed

[2022-07-07 14:42] benHeid commented on #2918
I implemented a pyWATTS Wrapper (https://github.com/benHeid/sktime/blob/pywatts_wrapper/sktime/forecasting/pywatts.py) as a Transformer. And tested it with a very simple pipeline (https://github.com/benHeid/sktime/blob/pywatts_wrapper/example_pywatts.py).

I identify the following open questions:
* How do we merge the y and the X input that are provided to fit, since the pywatts pipeline does only

[2022-07-07 14:46] TonyBagnall commented on #2947
reopened to respond to comments.
_"clustering_experiments and classification_experiments are central to how we run experiments. These are moving to an sktime-estimator-evaluation sub package (still private at the moment).
Instead of doing that, please make sure you align with the benchmarking workstream. You have committed to write benchmarking code for classifiers in 2019 https://github.com/alan-

[2022-07-07 15:54] miraep8 commented on #2759
More comments relevant to this issue live in #2670

[2022-07-07 18:38] #2942 closed

[2022-07-07 18:45] MatthewMiddlehurst commented on #2947
I am unsure if you have actually read the files you are making this fuss about. `classification_experiments.py` is essentially two versions of this:

[code]

This is literally just calling a function from the benchmarking package. We keep them in contrib to avoid having an unnecessary main method in the benchmarking module. What is it you want to keep.

[2022-07-07 18:46] MatthewMiddlehurst commented on #2947
This is an easy candidate for removal since we are looking to ditch `_contrib`.

[2022-07-07 18:51] TonyBagnall commented on #2947
so I was simply trying to get rid of contrib but keep stuff useful to us somewhere else. We can leave contrib as is if you want, but you asked for its removal.  I have literally no idea what your issue is with the code changes, your concerns seems to go beyond this issue

[2022-07-07 18:55] fkiraly commented on #2947
I have been relying on @TonyBagnall's statement to infer that there is some private package of yours that does benchmarking, where benchmarking functionality will move, `_contrib` or not. This statement:

I would read this to imply, there is a benchmarking package, only visible to the UEA research group ("private"). You want to move development there. You are actively working on benchmarking, and

[2022-07-07 18:59] MatthewMiddlehurst commented on #2947
I can't speak for Tony, but he most likely meant we use the files to run all of our sktime experiments, which is the truth.

The new repository is simply a solution to having to remove these files and keep everyone in the group on the same page when running experiments. We are also taking the opportunity to use it as a hub to store results and similar items.

[2022-07-07 19:00] MatthewMiddlehurst commented on #2947
There may be some confusion around the name, but there is no concentrated effort to conceal useful benchmarking code away from other community members.

[2022-07-07 20:52] fkiraly commented on #2947
Repeated topic in the daily standups of the summer programme, and also here: https://github.com/alan-turing-institute/sktime/projects/31
The easiest way to hear about it is join at least one of the standups or meetings.

Excellent! Do I understand this as a commitment to make the `sktime-estimator-evaluation` package public?

[2022-07-07 21:09] MatthewMiddlehurst commented on #2947
It has been renamed, just `estimator-evaluation` now.

We probably will make it public as a way to share results, not that we have any obligation to do so. Though, I'm not sure why anyone would want our code to run sktime classifiers on the UEA HPC. I also have a link to a public repository with bash submissions scripts for the UEA HPC and a guide to submitting HPC jobs using sktime if anyone is i

[2022-07-08 00:30] aiwalter commented on #2947
@TonyBagnall @MatthewMiddlehurst i am supportive to remove `_contrib`. Can you make a PR?

[2022-07-08 10:18] TonyBagnall commented on #2947
@aiwalter this is the first stage, would appreciate a review.  https://github.com/alan-turing-institute/sktime/pull/2951 Franz has asked me on slack to not approve any PRs. I dont think that fair, but will do it for now. Once this is in I will create a PR to get rid of it completely

[2022-07-08 11:23] fkiraly commented on #2947
Just to clarify, I am also in favour of getting rid of `_contrib`. You just have to read what I wrote in #2942 for a confirmation of that.

[2022-07-08 12:13] fkiraly opened #2956 "[ENH] sktime-pywatts integration - package and class dependency mechanics"
Part of [pywatts integration design questions](https://github.com/alan-turing-institute/sktime/issues/2653).

To discuss how inter-dependency between classes in `sktime` and `pywatts` are going to work.

[2022-07-08 12:14] fkiraly commented on #2956
from issue https://github.com/alan-turing-institute/sktime/issues/2654, initial suggestion by @fkiraly

here's a suggestion on this question:

I think a good solution would be the following:
* `GraphPipeline` lives in `pywatts`, but is `sktime` compatible
* `pywatts` is an `sktime` soft dependency, localized to `__call__`
* `sktime` is a `pywatts` soft dependency, for base class (parent of `GraphP

[2022-07-08 12:17] fkiraly commented on #2956
@kalebphipps and pywatts team thought:

good idea, *but* `pywatts` has a lot of stuff and dependencies.

So, in addition, there should be a refactor within `pywatts` that factors out pipeline specific functionality, separate from specific algorithms or utilities with lots of dependencies.

[2022-07-08 12:22] kalebphipps commented on #2956
@fkiraly, thanks for creating the issue - you can assign me, and I'll include some more information :)

[2022-07-08 12:51] fkiraly commented on #2918
I'd suggest, let's just ignore `y`, if there is no "designated column" field in pywatts.

[2022-07-08 12:52] fkiraly commented on #2918
the tag `fit_is_empty` needs to be set to `False`, then `_fit` is not skipped

[2022-07-08 13:43] kalebphipps commented on #2956
The integration should take place in two stages:

1. Preparation of new Git structure by pyWATTS:
    - Separate pyWATTS into pyWATTS-pipeline Repo and pyWATTS-features Repo.
    - Possibly further separation of the features Repo at a later date.
    - Ensure the core GraphPipline functionality is included in the pyWATTS-pipeline Repo with as few dependencies as possible.
    - Check that all work

[2022-07-08 14:54] fkiraly opened #2957 "[ENH] How to deal with mtypes that have soft dependencies?"
The following question is emerging from two different workstreams, deep learning and pywatts.

How do we deal with mtypes that rely on soft dependencies? In the `datatypes` module.

Example 1: `xarray` (series, panel, and hierarchical), as used in `pywatts`. FYI @benheid, @kalebphipps, @smeisen
Related: https://github.com/alan-turing-institute/sktime/issues/2655

Example 2: `ListDataset` (panel da

[2022-07-09 04:12] soma2000-lang opened #2961 "[BUG] Cannot install `sktime-all-extras` in codespaces"
I am trying to install sktime using the command
conda install -c conda-forge sktime-all-extras
I am using GitHub codespaces.I tried various ways to solve this issue but nothing seemed to work.
![image](https://user-images.githubusercontent.com/56045049/178091179-646270e0-fffd-44b7-99f9-5e880ebb2322.png)

[2022-07-09 10:19] fkiraly commented on #2961
Hm, it seems to want python 3.10, according to the log?

@lmmentel, is this perhaps related to your investigation of #2921?

[2022-07-09 16:30] soma2000-lang commented on #2961
![image](https://user-images.githubusercontent.com/56045049/178114584-afafb813-6663-4622-acc4-6b7e52267ec6.png)

[2022-07-09 16:32] soma2000-lang commented on #2961
These are all the commands that I tried executing after all the errors I _faced. even tried to change the python version and from thr select interpreter command in the command palette._

[2022-07-09 16:47] soma2000-lang commented on #2961
After that I tried to edit the .bashrc  by doing something like this
![image](https://user-images.githubusercontent.com/56045049/178115087-7e44866d-1e1d-4577-890c-c5f7086b7d15.png)
And lastly I tried https://github.com/conda/conda/issues/9367#issuecomment-555156949

[2022-07-09 20:26] chrisholder opened #2963 "[BUG] Setup.cfg invalid pytest arguments"
**Describe the bug**

Changes made to setup.cfg in pr #2535 cause pytest to not be able to find run (in particular using pycharm).

![Screenshot 2022-07-09 at 21 23 39](https://user-images.githubusercontent.com/4674372/178121445-7ca6513f-8a2e-40bb-8839-8501e302b8e5.png)

**To Reproduce**

Pycharm version 2022.1.3
Try running any test. I've run into the issue on both macos and windows.

**Expected

[2022-07-09 20:29] fkiraly commented on #2963
I can confirm that pytest runs perfectly fine with me from vs code, tests can be run from the console and are properly collected by, and runnable from, the GUI.

Therefore, this seems to be a pycharm specific issue?

[2022-07-09 21:40] #2079 closed

[2022-07-10 02:23] chrisholder commented on #2963
Yea if it's working for other people then don't think this needs addressing but in case someone has this issue good to have this documented.

[2022-07-10 15:51] fkiraly opened #2967 "[ENH] support `pandas` input with nullable `dtypes`"
Update: currently, the input checkers don't let nullable types pass, an error is thrown.

I think we should move to a detect & coerce solution, with optional config to turn off the input checks/coercions and let an advanced user try their luck with the estimator...

---
A number of estimators fail when being passed `pandas` formatted input with nullable `dtypes`, e.g., `Float64` instead of `float6

[2022-07-10 15:56] fkiraly commented on #2963
It's just, I can't reproduce it with my setup, we need someone who can to solve it.

[2022-07-10 17:36] #1750 closed

[2022-07-10 17:45] fkiraly commented on #2270
resolved by https://github.com/alan-turing-institute/sktime/pull/2382

[2022-07-10 17:45] #2270 closed

[2022-07-10 17:46] fkiraly commented on #1928
resolved by this PR https://github.com/alan-turing-institute/sktime/pull/2845

[2022-07-10 17:46] #1928 closed

[2022-07-10 17:51] fkiraly commented on #652
"refit after time" is implemented as `UpdateRefitsEvery`

[2022-07-10 17:52] fkiraly commented on #1393
This is now done via https://github.com/alan-turing-institute/sktime/pull/2937

[2022-07-10 17:52] #1393 closed

[2022-07-10 17:53] fkiraly commented on #302
@SebasKoel, are you still working on this?

[2022-07-10 17:57] fkiraly opened #2968 "[BUG] sporadic failure - `RandomIntervalSegmenter` produces `DataFrame` with duplicate columns"
It seems that, sporadically, `RandomIntervalSegmenter` produces a `DataFrame` with duplicate column names. See this CI run (mac 3.10): https://github.com/alan-turing-institute/sktime/runs/7271784537

[2022-07-10 20:18] lmmentel commented on #2921
more logs
[code]

[2022-07-10 21:13] lmmentel commented on #2921
I found a config that works for `sktime` but there are still conflicts for `sktime-all-extras`

[2022-07-10 21:50] lmmentel commented on #2921
Adding `prophet` to a successful CI run, works for
- linux py37
but fails for
- linux py38
- linux py39

with:
[code]

[2022-07-10 23:27] lmmentel commented on #2921
It seems that prophet is the problem... I think we can merge and release without prophet which then can be installed through pip, Appreciate some comments here @fkiraly @freddyaboulton @dhirschfeld

An alternative would be to debug what goes wrong in deps resolution with prophet but conda-forge build is not very straightforward and was wasn't able to reproduce the build process locally yet and I'm

[2022-07-10 23:38] dhirschfeld commented on #2921
I think that's fine & probably the best you can do for now. I'd say merge with this workaround and the `prophet` install can be debugged in a separate PR so as to not hold up this release.

[2022-07-11 08:34] lmmentel commented on #2921
Thanks @dhirschfeld. I managed to further restrict prophet install by platform and python version so prophet will be a dependency for `sktime-all-extras` for all platforms except linux with py38 or py39. I agree, we should push the release out and debug separately.

[2022-07-11 10:08] jlopezpena opened #2978 "[ENH] Relax numpy dependency to allow numpy 1.22"
`numpy` 1.23 is already released, and pretty much all the `numpy` related tooling (specifically `numba`) already support `numpy` 1.22, so it should be possible to relax the `sktime` dependency to `numpy < 1.23`.

Getting this change on would be useful because `numpy` 1.22 introduced a forward-incompatible ABI change, and `pip` sometimes does not do the right thing when it comes to building/linking

[2022-07-11 12:50] lmmentel commented on #2921
Here's a short summary and current status of the issues affecting conda release:
1. conda bot not creating a PR after the release on PyPI - AFAIK it is unresolved and undiagnosed, I looked into it but didn't get far
2. source url changing in the meta.yaml and now requiring and extra . after the v of the version - updated in the PR
3. `prophet >=1.1`  creating dependency resolution error on linux p

[2022-07-11 17:14] #2796 closed

[2022-07-11 20:25] mariamjabara commented on #1678
Hi, I would like to start working on refactoring the FittedParamExtractor :)

[2022-07-11 20:50] mloning commented on #2777
FYI the code repo is referenced in the [paper](https://arxiv.org/pdf/2005.08067.pdf) and publicly available here: https://github.com/mloning/sktime-m4

[2022-07-11 21:45] fkiraly commented on #2777
Ah, there it is! Nice!!
I already feared it was lost.

FYI @DBCerigo

[2022-07-11 22:12] fkiraly commented on #2978
hm, the version bump looked good!

Should we remove the bound altogether, in the spirit of the "avoid upper bounds" discussion? What do you think, @lmmentel?

`pandas` is consistently breaking things on version increase, so I´d leave that one, but we never had problems with numpy.

[2022-07-12 05:17] aiwalter commented on #2978
Closed by #2979

[2022-07-12 05:17] #2978 closed

[2022-07-12 08:46] fkiraly opened #2982 "[ENH] time series feature sets"
From @benfulcher's talk, these are a number of feature sets that would be interesting to explore and possibly to interface as transformers.
Note, not all have a native python implementation, so it is worth exploring how easy/difficult an interface is.

- [ ] tsfel
- [ ] tsfeatures
- [ ] feasts
- [ ] kats feature set
- [ ] catch22 reference implementation, `pycatch22`
- [ ] htcsa

Related issues:
*

[2022-07-12 08:52] fkiraly opened #2983 "[ENH] feature set benchmarks"
It would be really great if we could get `sktime` to a state where we can replicate standard feature set benchmarks (e.g., time series classification) as presented by @benfulcher.

Example experiment:
using the algorithm [transformer][1-knn classif] or [transformer][linear svm], compute/compare performance as supervised time series classifier on the UCI data set repository.

Relevant feature sets,

[2022-07-12 09:28] fkiraly commented on #2880
@miraep8, quick question: does this PR exist already? Totally fine if left for later, just checking.

[2022-07-12 09:30] fkiraly commented on #2983
FYI @alex-hh

[2022-07-12 11:32] fkiraly opened #2987 "[BUG] changelog generator picks up merges into branches other than `main`"
The changelog generator seems to pick up PR that were not merged into `main` but into another branch.

Current example for 0.13.0 release at pre-0.13.0 state: #2941, #2952.

FYI @lmmentel

[2022-07-12 11:34] ohbtorres commented on #2879
@fkiraly, that's the same issue

[2022-07-12 11:37] lmmentel commented on #2578
any specifics?

[2022-07-12 12:41] miraep8 commented on #2880
Does not exist yet no

[2022-07-12 14:12] MatthewMiddlehurst commented on #2254
Happy to hear there is a Python version of hctsa coming 🙂.

The chlubba/catch22 package is what we originally used in sktime as a soft dependency, but after some issues with differing results by OS and one other issue I can't remember exactly breaking tests, we decided to just re-implement it using numba.

If this has been resolves/people are willing to overlook it, i don't see why we can't reintr

[2022-07-12 15:51] fkiraly opened #2989 "[ENH] Review Markus' M4 code for kotsu refactor"
We should review @mloning's M4 competition replication in order to see how close it is to a `kotsu` experiment and/or what additional work items need to be carried out (e.g., data loaders for M4 data, utility functions, etc).

The original code by @mloning is here: https://github.com/alan-turing-institute/sktime/issues/2777#issuecomment-1180856923