[2022-07-12 15:53] DBCerigo commented on #2989
Got it

[2022-07-12 16:36] fkiraly commented on #2804
I've looked into `kotsu` and the draft PR https://github.com/alan-turing-institute/sktime/pull/2977 .

I think overall it is great, in simplifying functionality!

One design point that bothers me, though, is the `kotsu` design which separates factories or generators from their kwargs, which in the case of `sktime` would mean separating classes from their hyper-parameter settings (objects cannot be

[2022-07-12 21:05] #2943 closed

[2022-07-12 21:05] #2944 closed

[2022-07-12 23:48] benfulcher commented on #2254
We now have a dedicated python repo: https://github.com/DynamicsAndNeuralSystems/pycatch22. May be best to develop any modifications you require onto this repo for consistency (or to add the OS dependency tests)?

[2022-07-13 00:20] benfulcher commented on #2983
Some feature sets (constructed to focus only on properties of dynamics, and which are therefore insensitive to rescalings, and thus shifts in mean or variance) would be put at a disadvantage on problems in which there are trivial class differences (like class 1 has a higher mean than class 2). pycatch22 has an option to set catch24=True and include two simple additional features (mean + std) for p

[2022-07-13 00:53] benfulcher commented on #2982
- 6 of these feature sets are combined in [`theft`](https://github.com/hendersontrent/theft) (R) (along with comprehensive visualization and analytic tools).
- And FYI, there is active work in re-coding some of the [`hctsa`](https://github.com/benfulcher/hctsa) Matlab time-series feature library into python [here](https://github.com/fairscape/hctsa-py). I'm sure they'd welcome contributions.

[2022-07-13 08:00] fkiraly commented on #2942
added a list of things we should do imo.

FYI @MatthewMiddlehurst, @chrisholder

[2022-07-13 08:09] fkiraly commented on #2983
Thanks for reminding us 😄. `SummaryTransformer` has mean, std, and quantile features, so that should also work if in `FeatureUnion` with catch22.

[2022-07-13 08:11] fkiraly commented on #2982
👍

Ah, nice! Doesn't look "active active" though, last activity 2 years ago? Either way, the preferences is probably not for having the feature sets in `sktime`, but build interfaces in the form of transformers, where possible. Individual feature computations are best maintained in a dedicated place, assuming an active community around them...

[2022-07-13 09:10] kcc-lion commented on #1678
Hey @fkiraly,
I would like to do test params refactoring for the ColumnTransformer.

[2022-07-13 10:23] TonyBagnall commented on #2942
so I was just going to delete it once we had extracted the sklearn classifiers then you can put anything anyone wants back in later. All of this is experimental or redundant code and what you suggest involves a significant amount of work for very little benefit. But if anyone wants to do as you describe thats great.

[2022-07-13 10:24] TonyBagnall commented on #2947
closed as duplicate https://github.com/alan-turing-institute/sktime/issues/2942

[2022-07-13 10:24] #2947 closed

[2022-07-13 13:11] pertetotale commented on #2961
sktime is **not** available **for py 3.10, yet**
so searchin, installin fails

Note: the error description is not clear, the first argument should be omitted cos it suggests platfrom specific logic

[2022-07-13 15:04] fkiraly commented on #2254
Any plans for CI/CD in the repo?

[2022-07-13 16:20] fkiraly opened #2997 "[BUG] sporadic test failure in `VARMAX` - LU decomposition error"
We seem to get sporadic test failures of `VARMAX`.

`numpy.linalg.LinAlgError: LU decomposition error` in `TestAllForecasters::test_update_predict_single[VARMAX-2-update_params=False-fh=[2 5]]`, in this run: https://github.com/alan-turing-institute/sktime/runs/7321585851

Sporadic since re-running does not necessarily raise the exception.

[2022-07-13 16:50] mccrinbc-ss opened #2998 "[ENH] TruncationTransformer should preserve index and column names of initial pandas dataframe"
**Is your feature request related to a problem? Please describe.**

TruncationTransformer is a very useful function, but it become hard to use in conjunction with an sklearn ColumnTransformer if you want the Pipeline to be interpretable. After the transform, the new truncated dataframe loses all feature and index name conventions. The image below illustrates what occurs after the transform:
![imag

[2022-07-13 17:02] mccrinbc-ss commented on #2998
Good to see there is a solution in the works, I will wait until it's merged to test it on my machine. Will this solution also keep the names of the multiindex (in my case, 'id' and 'time', rather than converting to 'instance' and 'timepoints')?

[2022-07-13 17:34] fkiraly commented on #2998
Fix doesn't include the issue with the index names yet, will look into this after the 0.13.0 release.

[2022-07-13 17:54] fkiraly commented on #2998
Now it does, this was a more general issue in the conversions, if the internal type did not have multiindex index names.

[2022-07-13 21:50] pertetotale commented on #2961
cherry picking good data triomphs over brute force
water spring Lupa in Italy: only 30 days of lag
computes in a minute or 2 on GPU
http://vanoproy.be/python/Multivariate_Timeseries_Forecast_with_Lead_and_Lag_Timesteps_Using_LSTM.html

[2022-07-14 07:39] fkiraly commented on #2961
ah, it's a py 3.10 thing. Will release py 3.10 compatible version 0.13.0 today.

[2022-07-14 10:28] fkiraly commented on #2921
0.12.1 is now released (manually), but we haven´t yet understood what is preventing automatic releases - renaming issue and downgrading importance from "must" to "should" for release board

[2022-07-14 12:54] fkiraly commented on #2578
oh, it was, I am in error. I probably did not update my local `main`.

[2022-07-14 12:54] #2578 closed

[2022-07-14 13:20] fkiraly commented on #2879
indeed, confirmed that. Closing this in favour of #2806.

[2022-07-14 13:20] #2879 closed

[2022-07-14 13:24] fkiraly commented on #2806
So, @ohbtorres, @anthonygiorgio97, I've understood what the problem was, here.#

Long story short, `pandas` has been slowly changing how they handle `freq` in indices, deprecating it in various places, including `pd.Timestamp`. That was breaking functionality around `ForecastingHorizon` where we assumed we have access to `freq`.

The latter was a larger issue, which, for `ForecastingHorizon`, has

[2022-07-14 13:30] fkiraly opened #3009 "[ENH] check override/defaulting of "prediction intervals" adders"
From the presentation of @bethrice44:

if we take a "prediction intervals adder" wrapper, e.g., one adding `predict_intervals`, to add prediction intervals to an estimator that already has a *different* probabilistic prediction method implemented, this may lead to unexpected behaviour.

For example, assume the inner method has `predict_quantiles` implemented, and `predict_intervals` uses the defau

[2022-07-14 15:17] fkiraly commented on #2573
From discussion with @aiwalter today:

we agreed on that "`__init__` has no content" is a side artefact of the "no boilerplate layer" design in `scikit-learn`, it is, in parts, an internal (implementer facing) requirement.

The *really important* requirement is the user/external facing one, "`set_params` leaves the same state as `__init__` would", also see PR https://github.com/alan-turing-institu

[2022-07-14 15:45] fkiraly commented on #2573
This PR implements this: https://github.com/alan-turing-institute/sktime/pull/3010
(I think? please comment)

[2022-07-14 17:01] fkiraly commented on #2890
@tarpas, pyargs are now gone!

[2022-07-14 17:04] fkiraly commented on #2806
As far as I understand, `ForecastingHorizon` was used a utility to convert integer offsets into time stamps by @RNKuhns, in a transformer. Since we are not really forecasting, it might be worth thinking about whether it makes sense to factor this out into a utility, and use it from both here and the `ForecastingHorizon`?
Thoughts about that, @RNKuhns, @khrapovs? Might also relate to our recent dis

[2022-07-14 20:25] #1496 closed, assigned to nobody

[2022-07-15 08:16] fkiraly opened #3013 "[BUG] python version badge not updating to 3.10 support"
`sktime` on `pypi` now supports 3.10, but it seems the version badge in the README.md is not properly updating?

From the source, it looks like it should happen automatically, so perhaps it happens with a delay? Or is there sth that needs to be triggered?

@lmmentel, did you have to do anything for 3.9?

[2022-07-15 08:36] tobiasweede opened #3014 "[DOC] Website - How to Contribute: Slack Invite Link Expired"
I was looking for the time of the Friday meetings.
The discord link is working, but at what time the meetings take place?

On sktime.org (https://www.sktime.org/en/stable/get_involved/contributing.html?highlight=Friday#how-to-contribute) you state "(see schedule on [Slack](https://join.slack.com/t/sktime-group/shared_invite/zt-62i7aejn-vXc3nOWF26S_P3VXFPWisQ))"

Don't know if the website has its o

[2022-07-15 09:02] fkiraly commented on #3013
not sure whether I understand what you mean with "looking at classifiers" or the "related PR"?

[2022-07-15 09:14] fkiraly opened #3018 "[ENH] forecasting horizon conditional parameter wrapper"
A common situation in forecasting multiple forecasting horizons is that one wants to do something different per horizon element.

For instance, if `fh=[1, 2, 3]`, I may like to lag my exogeneous data by 1, when forecasting 1 step ahead, lag my exogeneous data by 2, when forecasting 2 ahead, and lag my exogeneous data by 3, when forecasting 3 ahead. Or, I might like to lag only *some* exogeneous va

[2022-07-15 09:37] AurumnPegasus commented on #2935
Another thing I was planning was to have `validation_split` as a parameter to make it easier for users. It is simply an additional parameter for us in the `model.fit` method, and should not be difficult. Only issue with this is are we going in accordance to other sktime estimators, do they have functionality to automate validation? In which case we should probably either add it for all (simply use

[2022-07-15 09:48] tobiasweede commented on #3014
fixed by **#3017**

[2022-07-15 10:26] aiwalter commented on #3018
proposal to do this with a transformer:
[code]

[2022-07-15 10:30] fkiraly commented on #3013
Oh, got it now. Thought you were talking about time series classifiers rather than package classifiers.

[2022-07-15 10:30] #3013 closed

[2022-07-15 10:33] AurumnPegasus opened #3020 "[ENH] Adding GPU / multi-GPU functionality to CNNClassifier"
**Is your feature request related to a problem? Please describe.**
As discussed in dev-days  meeting on 15-07-2022 and #2935 , #2991 adding ability to run the neural models on GPU is extremely useful. We need to add functionality to support GPU and multi-GPU:

For GPU functionality:
1. A user would need tensorflow-gpu and cuda-toolkit installed. We will have to add them as a soft dependency? I am

[2022-07-15 10:35] fkiraly commented on #3018
@aiwalter said: it's not the same, because `XpredTransformer` remembers the lagged `X` and produces it.

[2022-07-15 10:39] fkiraly commented on #3018
So, I think the transformer is doing sth slightly different - I think both estimators would be useful to have.

The `XpredTransformer` would probably solve the problem I had here!
https://github.com/alan-turing-institute/sktime/pull/2681

[2022-07-15 10:48] fkiraly opened #3022 "[ENH] save/load functionality for models"
It would be useful to have save/load functionality for models, e.g., as a method with a primary preferred mode.

A way to implement this could be a `save` method that `BaseEstimator` has, similar to `keras.save`, which saves and/or returns (parameter dependent) a pickle.

"Ordinary" estimators would have the pickle default in `save`, which can be overridden by specific functionality, e.g., in `Bas

[2022-07-15 11:33] fkiraly opened #3023 "[DOC] collect `GraphPipeline` examples"
We should collect "simplest non-trivial" examples for the `GraphPipeline` use case - at least one example per @benheid, @miraep8, @fkiraly.

Requirement is full spec with data, intended functionality, pseudocode.

[2022-07-15 12:32] Lovkush-A commented on #3023
ThetaForecaster could be re-written with a graph pipeline. (Note, this may not be the only way to refactor, e.g. could replace list of forecasters with a multivariate forecaster)

* Inputs:
    * univariate time series Y = y1,...,yn
    * list of floats `theta=[theta_0,...,theta_{k-1}]`
    * list of forecasters same length as `theta`, `forecaster0,...,forecaster_{k-1}`
    * fh, forecasting horiz

[2022-07-15 13:48] fkiraly opened #3027 "[ENH] parameter estimators and `FittedParamPlugin` compositor"
Design idea, based on presentation of @ltsaprounis (example 1) and an earlier discussion with @ngupta23 (example 2).

We should have a compositor dealing with the following kind of situation.

Example 1:
1. determine auto-correlation range
2. window bootstrap with window length at 3 times auto-correlation range

Example 2:
1. find difference order d that makes series stationary
2. plug that d into

[2022-07-15 14:30] fkiraly commented on #2337
FYI @miraep8, @lmmentel, re typing/base classes

[2022-07-15 15:03] AurumnPegasus opened #3028 "[ENH] A base template for DL esimators"
**Is your feature request related to a problem? Please describe.**
As discussed in dev-days-2022, adding a base template for DL estimators to ease users to add them.

[2022-07-15 15:21] tobiasweede commented on #3028
Related to that (As we discussed during your talk):
It seems necessary to extend the fit method of the base class. (sktime/classification/deep_learning/base.py)
We should introduce a dict to pass arguments to keras.
I am happy to work on that after finishing my first dl classifier port (inceptiontime) from sktime-dl.

[2022-07-15 20:30] soso-maitha opened #6599 "[BUG] vmdpy - MemoryError: Unable to allocate 241. GiB for an array with shape (500, 10800000, 3) and data type complex128"
Thanks a lot for the VMD library.
One issue is that the execution of VMD on EEG signals requires a huge amount of memory and takes a very long time to execute.  One EEG signal is around 5.4 Million samples, using K value of 7 will create an output u of size 5400000 x 7 . Do you have any idea to solve this issue? I have hundreds of EEG records that I need to process which means it will take me fore

[2022-07-15 22:27] pertetotale commented on #2961
thx, I got envs for several 3.7-8-9-10 timeseries and there is also some QGIS/geospatial conformism wanted,
so that's good news

[2022-07-16 03:11] ZiyaoWei commented on #2001
It seems `337824fb41e9395776da335586892dd439c082ad` has somehow fixed this?

[2022-07-16 11:59] fkiraly commented on #1893
Looking back at this: we probably want instance indices to be unique, affecting specific mtypes such as `nested_univ`. One can have repeated observations attributed to a give time point, so we may not like to enforce uniquenss for the time stamp.

As in the "soft" fix, we may like to test for robustness of methods, by introducing fixtures with repeated time indices.

[2022-07-16 12:08] fkiraly commented on #2368
added an xfail in #3030

[2022-07-16 12:17] fkiraly commented on #1290
Fix: https://github.com/alan-turing-institute/sktime/pull/3029

This is having too many ripple effects, I think we just need to enforce unique instance indices.

[2022-07-16 12:33] khrapovs commented on #1893
I would be strongly against enforcing uniqueness of index values. I do not know how common my use case is, but I have already spent quite a lot of effort on generalising sktime's splitter behaviour to deal with either repeated or missing observations, or both. For reference:
- https://github.com/sktime/enhancement-proposals/blob/main/steps/18_cv_with_irregulrar_ts_data/step.md
- https://github.com

[2022-07-16 13:30] fkiraly commented on #1893
Is that only for *time* index, or also for *instance* index?

I would be weakly against doing this for time index, but I would be in favour to enforce unique instance index.

The problem at hand is mainly from the `nested_univ` type, where a non-unique instance index makes the representation ambiguous, even if the "abstract data type" still can have repeated index.
In the pandas multiindex or a si

[2022-07-16 13:48] fkiraly opened #3032 "[ENH] Test validity when passing duplicate time indices to sktime estimators"
With the decision in #1893, we should ensure that we test that `sktime` estimators function when given time series with duplicate indices.

We should test this at least for classifiers, forecasters, transformers.

Mechanically, I suppose adding a fixture would do, or - to avoid additional runtime - changing one of the many fixtures to an example that has a repeated time index?

Alternatively, we c

[2022-07-16 13:48] fkiraly commented on #1893
From slack discussion with @khrapovs, agreement:

* we should allow duplicate time indices. That can happen in a number of relevant use cases.
* instance indices should not be duplicate, since it is the "name of" a series, and like in math this should not be overloaded.

There is no contradiction, since time index is, conceptually, not "name of" but "place of", and multiple things can be in the sa

[2022-07-16 13:48] #1893 closed

[2022-07-16 13:52] fkiraly commented on #3032
Seems like a good first issue.

The thing to do is: go to `scenarios_forecasting`, `scenarios_classification`, `scenarios_transformers`, pick one of the fixtures and introduce duplicate time indices in one of the data inputs. Or, add a new fixture that has duplicate time indices in all relevant inputs.

I would expect that many estimators will break, so it might be worth starting with one estimato

[2022-07-16 15:11] fkiraly opened #3033 "[BUG] sporadic test failure in `test_classifier_output[TEASER-ClassifierFitPredict]`"
It seems there is a sporadic test failure in `test_classifier_output[TEASER-ClassifierFitPredict]` which crashes the worker without any further information. The reason could be, for instance, a memory leak or an infinite recursion.

Example: https://github.com/alan-turing-institute/sktime/runs/7371344857

FYI @MatthewMiddlehurst

[2022-07-16 17:36] fkiraly opened #3034 "[ENH] Remove HIVE-COTE2 classifier"
`sktime` currently contains a time series classifier called HIVE-COTE2.

The classifier seems quite questionable:

* it is an ensemble of a seemingly arbitrary choice of other classifiers
* the ensemble weights appear to be chosen without a good reason

I find it a very plausible assumption that "creator overfitting" or "parameter cherry-picking" has happened here. That is, tinkering around with t

[2022-07-16 17:56] MatthewMiddlehurst commented on #3034
Read the paper.

Inherited from the previous HIVE-COTE, it is an exponent of the train accuracy estimate for each ensemble member. Changing or tuning it has very little impact on the classifier.

We ran the experiments in Java and the code to reproduce it is there, TSC literature does not revolve around sktime.

Separate issues, is this really a reason for removal?

Neither do most of the implemen

[2022-07-16 18:13] MatthewMiddlehurst commented on #3034
Of course, I may be biased. @patrickzib and @angus924 are unaffiliated with the paper, and have both contributed their TSC algorithms to sktime before. Any thoughts? If there are fundamental issues, I genuinely would like to know and solve them.

Also, while an arxiv link is used, the paper is peer reviewed and published FYI. I cannot find anything for the second link. https://link.springer.com/ar

[2022-07-16 18:37] patrickzib commented on #3034
@fkiraly: seriously, I do not quite understand the purpose of this move. This has the potential to seriously damage the community and potential contributors. Hive Cote is one of the baselines and most cited classifiers in the time series community.

[2022-07-16 20:50] fkiraly commented on #3034
Discussion is about Hive-cote2, which has 22 citations, of which a handful are self-citations. Hardly one of the most cited classifiers.

Shipping computationally costly estimators that aren't good is what has the potential to damage trust in us.

sktime is not an outlet for making unfounded claims like in the classification tutorial of "hive-cote 2 being *the* state-of-art".

sktime, in my vision

[2022-07-16 21:20] MatthewMiddlehurst commented on #3034
There is one citation from a paper by me and Tony. I was not aware number of citations was a prerequisite for inclusion, we should survey the package immediately.

We show it is good in the paper. It is not even the slowest algorithm in sktime currently, let alone in other literature and algorithms we want implemented in the issue tracker.

If your issues is around the wording in some examples, wh

[2022-07-16 21:31] MatthewMiddlehurst commented on #3034
Either way, if you really think this is necessary, I assume the next step is to hold a vote?

[2022-07-16 22:25] fkiraly commented on #3034
We could also try to democratitze the composition pattern:
https://github.com/alan-turing-institute/sktime/pull/3036
how many HIVE-COTE do you think a user can build with this before breakfast?

Took me about an hour to write.

Should also make it easy for anyone to study the impact of playing around with weights and the estimators inside.

[2022-07-16 22:34] MatthewMiddlehurst commented on #3034
If the issue created was about creating a composable weighted ensemble/HIVE-COTE I would have been all for it. If we can reproduce the results from the current code using that, it is a better solution, and one I wanted to work towards any way to cut down the repetition of HC1 and HC2.

That was not the issue created.

[2022-07-16 22:38] fkiraly commented on #3034
That was not the point. Someone was claiming that it is one of the "most cited classifiers in the community", as a positive argument for inclusion, and I refuted that claim.

Turning this refutation of "it is most cited" into a claim of a citation threshold sounds like a [basic logic error](https://en.wikipedia.org/wiki/Denying_the_antecedent) to me.

"someone else did it and didn't report it" doe

[2022-07-16 23:00] MatthewMiddlehurst commented on #3034
Is the paper only considered reproducible if you can recreate the results perfectly in sktime? As I said earlier: `We ran the experiments in Java and the code to reproduce it is there, TSC literature does not revolve around sktime`. If all sktime estimators must be able to fully reproduce the exact results from their paper regardless of language, I think we have another issue to create and a lot o

[2022-07-16 23:04] fkiraly commented on #3034
In science, the [burden of proof](https://en.wikipedia.org/wiki/Burden_of_proof_(philosophy)) is with the one making the claim - the saying is "what is stated without evidence, can be dismissed without evidence". Also see the discussion on [burden of proof in the context of evidential standards vs pseudoscience](https://en.wikipedia.org/wiki/Pseudoscience#Improper_collection_of_evidence).

So, for

[2022-07-16 23:06] MatthewMiddlehurst commented on #3034
Good thing this is not a paper

[2022-07-16 23:06] MatthewMiddlehurst commented on #3034
What's the next move for this?

[2022-07-16 23:06] fkiraly commented on #3034
Or, a benchmarking experiment, maybe?

[2022-07-16 23:34] fkiraly commented on #3034
So, to summarize: you took six parts of the earlier algorithm, and replaced them by parts you found to perform better. That is, you made *at least six changes*, based on performance improvement observed, right?

Now, here's my prize question: *on which data did you observe that improved performance, subject to which evaluation mode*? On which you then based the decision to replace the components/p

[2022-07-16 23:47] MatthewMiddlehurst commented on #3034
We didn't make six changes. We made three. Two of which were designed to replace the components they replaced in the HC2 ensemble. 112 datasets over 30 folds is quite a lot to overfit on, but the possibility exists, I agree. Which is why we also tested it on the 26 UEA multivariate algorithms, which none of the component classifiers had been tested on prior, except for STC which performed rather p

[2022-07-16 23:51] fkiraly commented on #3034
How about a compromise: we don't remove HIVE-COTE2, but we no longer present it as "the state-of-art" in the classification notebook?

[2022-07-17 08:25] patrickzib commented on #3034
Seriously, guys, I do not get the point here.

I really do not get this. You talk about respecting ideas from others but do just the oposite and decise what is good for others. Let the users decide what to use. If runtime is the criterion we should remove all deep learning based methods inclusing Prophet please. You may still like a certain approach or not.

Also sktime is a place that requires co

[2022-07-17 08:36] patrickzib commented on #3034
And to further add: the significance of a contribution should be answered by peer review and not by us.

[2022-07-17 09:27] celestinoxp opened #3037 "[BUG] address imminent removal of deprecated `sklearn` `_pprint`"
**Describe the bug**

next release 1.2.0 of scikit-learn will move pprint function and sktime will produce an error.

check this commit: https://github.com/scikit-learn/scikit-learn/commit/c63e38add5d0baa345cc363460dc0d0e18c87903

**To Reproduce**

install scikit-learn 1.2.0dev

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-07-17 15:13] TonyBagnall commented on #3034
I've not read all this, life is too short on a sunday in a heat wave, but I wish it would stop. I will say this for now
1. If you link to a paper describing HC2, please link to the published version, not the arxiv one
https://link.springer.com/article/10.1007/s10994-021-06057-9
2. The "questionable" classifier has been published in one of the top machine learning journals after peer review, by rev

[2022-07-17 16:15] TonyBagnall commented on #3034
I've read it now and find it contains what I consider hugely inappropriate comments from kiraly to a PhD student. Frankly, I think it is disgraceful behaviour. No doubt kiraly will reopen, but I'm closing it

[2022-07-17 20:13] tarpas commented on #2530
I'm on it!. I released a version tmnet/testmon which sorts tests as promised (--tmnet-noselect didn't sort them before). Now I discovered some new bug. sktime si quite a beast but I hope to have a PR read in the upcoming days.

[2022-07-17 20:56] fkiraly commented on #3037
Thanks for the pointer! Should be a quick fix, since we can replace by `BaseObject` repr in all cases where the warning is raised.

[2022-07-17 20:57] fkiraly commented on #2961
Yes, looks like it works now because we are on 3.10 since 0.13.0!

Closing issue.

[2022-07-17 20:57] #2961 closed

[2022-07-17 20:58] fkiraly commented on #2961
@soma2000-lang, kindly confirm whether it works for 0.13.0 for you, I think it should - if not, please reopen

[2022-07-17 22:03] fkiraly commented on #3034
How exactly is a discussion on the merits of a classifier in `sktime` an "attack" on you and your group?

What is an attack is you calling this "laughable" and "sad", that is highly insulting.

Again, this is ad hominem and personally insulting.

What again is "inappropriate"?

@patrickzib, do you not consider me a peer?

Do I not have the right ot ask reasonable scientific questions?

What you ar

[2022-07-17 22:07] fkiraly commented on #3034
The point as I had made it at the top: `sktime` is a neutral place and not an advertising outlet for a narrow selection of researchers. I find it inappropriate that HIVE-COTE2 is being peddled as "the state-of-art" in TSC, on `sktime`.

To attract researchers, you have to be open to collaboration outside your immediate friends.

[2022-07-17 22:19] fkiraly commented on #3028
Hm, design-wise, I would avoid adding additional arguments to `fit` where possible.

The deep learning algorithms should comply with `BaseForecaster`, `BaseClassifier`, and so on, and to comply with the "strategy pattern", the public functions always must have the same signature.

Otherwise estimators of the same type are not easily exchangeable.

The "usual" way would be to add them to the constr

[2022-07-17 22:20] fkiraly commented on #2001
oh, did it??

[2022-07-17 22:21] fkiraly commented on #2001
Yes, apparently it did. Bugfix confirmed.

Not sure why #2502 fixed it, probably because the parameter handling has been cleaned up, and some typos were addressed in the process.

[2022-07-17 22:21] #2001 closed

[2022-07-17 22:24] fkiraly commented on #2530
😅 I hope you mean this only in the best possible of ways 😁

Jokes aside, thanks a lot for looking into this!

[2022-07-18 07:01] patrickzib commented on #3034
To be honest, I feel like you are mixing personal affairs with a fair review process. Right now you behave like a bouncer revoking access to sktime. And I believe that has a huge impact on potential contributors.

From my side, I believe Matthew did his part by passing a peer review in a journal. Also Tonys group is out of question for delivering great reproducible research. This is sufficient evi

[2022-07-18 08:30] aiwalter commented on #3034
I would also kindly ask @fkiraly to close this issue. Its not going into a positive direction for the community. Regarding the "state-of-art" statement, I think its actually reasonable to remove that as it seems to be a subjective opinion here of the author and we want to let the user decide what is state of the art and what not.

[2022-07-18 08:31] fkiraly opened #3044 "[BUG] failure in block bootstrap transformer doctest"
A recent run had an unclear failure related to block bootstrap transforer:
https://github.com/alan-turing-institute/sktime/actions/runs/2687424513

I can't make sense of this, what is this?
@ltsaprounis, any idea?

[code]

[2022-07-18 09:14] AurumnPegasus commented on #3022
Hey,
Can I take it since no one seems to be claiming it?, hope its fine!

[2022-07-18 09:31] fkiraly commented on #3022
of course, @AurumnPegasus, thanks!
If you think it´s a good idea to implement this?

[2022-07-18 09:57] MatthewMiddlehurst commented on #3034
Thank you for your comments. It is disappointing it has come to this.

I assume these are the offending statements from the classification notebook? I did not write it, but it doesn't seem like HIVE-COTE is the only classifier to be referred to as the state-of-the-art currently? It would be fair to include ROCKET and InceptionTime in there as well, though ROCKET already has as many examples as HC2

[2022-07-18 15:17] fkiraly opened #3047 "[ENH] `attrs` or `attrs`-like API to `sklearn`-ify a class spec?"
@lmmentel had the interesting idea to use `attrs` in a combination with an `sklearn` like interface.
https://www.attrs.org/en/stable/index.html

Here is the PR: https://github.com/alan-turing-institute/sktime/pull/2744

This relates to recent attempts to simplify the "write to self" boilerplace, or `BaseObject` discussions.

Let's collect general discussion points here!

Personally, I wonder:
* ca

[2022-07-18 15:24] fkiraly commented on #3037
Yes, that's one of the two instances and the easier one:
https://github.com/alan-turing-institute/sktime/pull/3048

The other instance occurs in `benchmarking.tasks` and seems less straightforward to address, since `BaseTask` does not inherit `BaseObject`.

[2022-07-18 16:28] miraep8 commented on #2901
Could be addressed by PR #3041

[2022-07-18 17:18] lmmentel opened #3050 "[ENH] Extra features for data generator for annotation"
Data generator in the annotation module has only basic functionalities for now.

Some things to potentially add down the road:
- make a multi-variate option.
- make it easier to pass in an arbitrary probability distribution?
- make the labeling more generic.
- add some more tests?  To verify that the data generation is behaving as expected.

_Originally posted by @miraep8 in https://github.com/ala

[2022-07-18 19:05] fkiraly commented on #3037
@celestinoxp, looks like we got it now. Thanks for reporting!

[2022-07-18 19:23] fkiraly opened #3051 "[ENH] flexible `update` behaviour of forecasting tuners"
Suggestion inferred from #3046.

There should be an `update_best_params: bool` parameter in the forecasting tuners, and a custom `_update` function.

The parameter `update_best_params` should determine whether the grid search is repeated in `update`, or whether only parameters of the wrapped estimator are updated.

The location to add this would be `BaseGridSearch._update`.

Update: what could eve

[2022-07-18 20:10] fkiraly opened #3052 "[ENH] daily dev snapshot release on pypi"
`scikit-learn` has daily dev snapshot releases on `pypi`, see here:
https://github.com/alan-turing-institute/sktime/issues/3037#issuecomment-1188214203

Might be useful to also do this, so the development version install gets more accessible?
Should be possible vie adding a GitHub action.

Opinions, @lmmentel, @freddyaboulton?

I'd be in favour.

Thanks for pointing this out, @celestinoxp!

[2022-07-18 20:10] fkiraly commented on #3037
PS: the second PR is not merged yet, so you would have to install from the branch to test it.

[2022-07-18 20:29] celestinoxp commented on #3052
More details about scikit-learn develop installation: https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds

[2022-07-18 21:09] celestinoxp opened #3053 "[ENH] support for scikit-learn 1.2"
sktime 0.13.0 has requirement scikit-learn<1.2.0,>=0.24.0, but you have scikit-learn 1.2.dev0.

sktime 0.13.x should support future version of scikit-learn (1.2). I think we should work to support it...

more info: https://scikit-learn.org/dev/whats_new/v1.2.html

[2022-07-18 22:33] lmmentel commented on #2890
This are great findings, thanks for sharing @fkiraly!

Separating testing for core and soft dependencies would be great since it would allow us to have more control of what kinds of tests are applied where.

I think getting more insights would require profiling the test collection. It might be related by lately I was running a simple `pytest filename.py` but still using our pytest configuration an

[2022-07-18 22:36] lmmentel commented on #3052
Does PyPI support a `dev` environment? I see that sklearn uses `pypi.anaconda.org` which suggest a "clone" or self-hosted pypi server.

[2022-07-18 22:42] lmmentel commented on #2901
Cool idea! I somehow cannot resist thinking about this being similar to choosing number of clusters for clustering approaches that require it. Maybe there is some inspiration from sklearn https://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html# ? I think this would fall into what you are describing in second bullet point.

[2022-07-19 00:05] freddyaboulton commented on #3052
@lmmentel Yea I think your can host your own pypi server!

But I don’t think that’s needed. If the goal is to install the latest sktime with pip, those interested can install the main branch via GitHub the url with pip.

This should work since sktime does not have compiled extensions anymore. This article explains how to do it:

https://simonwillison.net/2022/Apr/24/pip-install-github/

[2022-07-19 05:36] lmmentel commented on #3052
I think that solves it @freddyaboulton, maybe we only need to update the docs on how to install the latest from `main` with pip to close this?

[2022-07-19 05:39] lmmentel commented on #2987
I think there is an option to only get changes against main, need to look into it.

[2022-07-19 08:26] celestinoxp commented on #3052
Other suggestion is use "--pre". Somethig like pycaret, to install latest version can use this command: pip install --pre pycaret.

Question: It is possible use "--pre" to latest version on github, and normal pip without "--pre" to latest stable version?

example:
- sktime 0.13.0 --------> pip install sktime
- sktime 0.13.1-dev ---> pip install --pre sktime

[2022-07-19 08:47] lmmentel commented on #3052
Using pre flag would require to publish a tagged Prerelease version to pypi, installing from main seems way simpler.

[2022-07-19 08:52] celestinoxp commented on #3052
ups looks like I made a mistake...
installing from source is simple:
pip install https://github.com/alan-turing-institute/sktime/archive/refs/heads/main.zip

It's simple. Thank you all

[2022-07-19 09:41] tarpas commented on #2890
I think both profiling the test collection and splitting the whole test suite are quite important steps. Both would be very helpful. The 10 minutes collection time makes any experiments with the test suite dreadful.

[2022-07-19 11:09] miraep8 commented on #3023
### Climate Modeling Example:
#### Data Analysis Goals:
   - We have multi-dimensional weather data.  Like lots of weather data, the different time series observations we have here face issues like auto-correlation, time delays, non-linearity etc, and different columns of this data might face these issues separately.
   - Lets say we wanted to apply different transformers to each time series, then

[2022-07-19 11:22] fkiraly commented on #2901
@lmmentel, yes, silhouette analysis is a similar example for the "find k" use case.

But, `sklearn` does not formalize as estimators the process that selects a parameter - #3041 is doing that, and I think there´s nothing comparable in `sklearn`.

[2022-07-19 13:09] AurumnPegasus commented on #3022
I think so, went through a bit of documentation related to it and here are my findings:
Sources: [official documentation](https://docs.python.org/3/library/pickle.html#pickling-class-instances), [stack overflow answer](https://stackoverflow.com/questions/4647566/pickle-a-dynamically-parameterized-sub-class)
1. We need to create either a `__get_state__` or `__set_state__`  (ideally, this will be do

[2022-07-19 13:13] AurumnPegasus commented on #3028
Hey @tobiasweede ,
So @fkiraly  and I had a small discussion related to this during the daily standup and:
1. I am assuming that you want to introduce a way to specify various different parameters that keras.fit takes into the dl classes
2. Franz suggested that instead of having a dict of arguments in `fit` function, we could specify it in the `__init__` of the DL class, so as to avoid having to c

[2022-07-19 15:49] #2806 closed

[2022-07-19 15:51] fkiraly commented on #2806
FYI @anthonygiorgio97, fixed now. Was coming from the `Differencer`, see #3007.

[2022-07-19 16:25] miraep8 commented on #2901
Personally I think this is related to the design question which came up in the annotation data generation discussion as well of whether or not everything needs to be an estimator.  Obviously there can be advantages to doing so (may help with composition for example), but we could also imagine writing our estimators so they accept functions as an argument (like sklearn's silhouette analysis for exa

[2022-07-19 20:37] fkiraly opened #3057 "[BUG] failing codecov step in CI - certificate expired"
The codecov step in CI is failing with the following:

[code]

[2022-07-19 20:43] fkiraly commented on #3052
So... should we do this, or is all fine as is?

[2022-07-19 20:59] freddyaboulton commented on #3052
Agree with @lmmentel 's suggestion. I think we can add a sentence here showing how to install from github via url and then close:

![image](https://user-images.githubusercontent.com/41651716/179847269-5b5c4a0c-d90b-4db4-811d-48b6f5bc6ecf.png)

[2022-07-19 21:23] fkiraly commented on #3052
ok, anyone want to add that sentence? 😄

[2022-07-19 21:31] fkiraly commented on #3053
We've had repeated discussions around defensive version bounds and ultimately want to remove them, FYI @lmmentel, @aiwalter, @freddyaboulton.

With `statsmodels` and `sklearn`, though, we keep finding these legacy private imports, like this: https://github.com/alan-turing-institute/sktime/issues/3037
which, so far, with regularity, has broken `sktime` at each minor upgrade of these packages (fault

[2022-07-19 21:33] fkiraly commented on #3014
There are more, there is at least one in the `mentoring.rst` doc that had also expired, as @arvind has pointed out. We should to a full respository search and ensure that all links are updated. @arvind has offered to look into this, thanks!

[2022-07-19 21:51] arvind commented on #3014
Wrong Arvind I believe? :)

[2022-07-19 23:19] miraep8 commented on #3057
I wonder if it has something to do with the some of the node package manager stuff being out of date for codecov v2 vs v3? I just tested out switching from v2 to v3 in #3059 and it seems to work ok? *(Note - I deleted all the actual tests to just try it out quickly so I wouldn't recommend merging that, but will put them back now and run the full test suite with v3 rather than v2)*

[2022-07-19 23:41] fkiraly commented on #3057
hm... seems to work again, so I suppose, issue closed.

[2022-07-19 23:41] #3057 closed

[2022-07-20 03:33] abhishekmittal15 commented on #2836
Hi @khrapovs, I have gone through the jupytext links you have posted, if work is still needed on this issue, I would like to take it up if that's okay.

[2022-07-20 06:38] soma2000-lang commented on #2961
@fkiraly yes it works.

[2022-07-20 06:58] khrapovs commented on #2836
@abhishekmittal15, thanks for taking a look at it! Much appreciated! It would be fantastic if you work on it. But I have to warn you that there is a risk that this change will not be accepted well by other core developers. I myself have joined very recently, but I know there were some heated discussions about notebooks. So my advice would be to do this jupytext trick with only one notebook as a pr

[2022-07-20 09:02] fkiraly commented on #3014
oh, very sorry, @arvind. I then presume that your discord name is not identical to your GitHub ID. Apologies for the spam.

[2022-07-20 09:04] fkiraly commented on #2836
interesting idea, @khrapovs! I have also been struggling with the nb for a while, especially in review or merges.

[2022-07-20 09:09] celestinoxp commented on #3053
ultados da tradução
I believe that if we take the time to analyze changes to other libraries we can be quite up to date. Just take a look at the changelogs for the versions in development.

I like to see the package changelogs, I love seeing the improvements come to fruition. It's just advantages!

who doesn't like to see this?! https://scikit-learn.org/stable/whats_new/v1.1.html#version-1-1-1

[2022-07-20 09:23] khrapovs commented on #2836
@fkiraly It is not just an idea, but a very good practice verified over a couple of years in a medium sized data science team ;)

[2022-07-20 10:44] fkiraly commented on #2901
design-wise, it could be like `KNeighborsTimeSeriesRegressor`, which accepts strings, callables, or classes (that are callable). If a class, it works with `sklearn` `get_params` and `set_params`, and parameters can be tuned.

So, there is not necessarily "sides" or mutual exclusion between callables and classes/estimators.

[2022-07-20 10:46] fkiraly commented on #3022
I´m not sure whether I get this. Could you kindly be more explicit which classes would have which methods, and what they would do?

[2022-07-20 10:47] fkiraly commented on #2836
Well, validated ideas are always better than "just" ideas!

[2022-07-20 14:34] hancelpv opened #3062 "[BUG] TBATS model fails when forecast horizon is greater than number of training data points"
TBATS model from sktime 0.7.0 fails with the following error if the forecast horizon is greater than number of training data points. Attaching error screenshot and reproducible code here.

![image](https://user-images.githubusercontent.com/34185789/180009313-7dde92ef-450b-4fde-b0cf-e0fa44cd7f65.png)

[code]

Kindly suggest workarounds if any, thanks in advance!

[2022-07-20 15:15] fkiraly commented on #3062
sktime is version 0.13.0, can you confirm whether this problem still exists?

[2022-07-20 16:30] hancelpv commented on #3062
Hi @fkiraly , thanks for your quick response. Let me check on 0.13 and get back to you.

However, a numba issue is blocking me from upgrading sktime to 0.11.x series or above. Attaching the issue here :
https://github.com/numba/numba/issues/4908

Let me know if you have any other workarounds. I tried using TBATS estimator  from the TBATS library itself, but the fitting seems to be really slow comp

[2022-07-20 17:39] fkiraly commented on #3062
hm, unsure - re the numba issue, can you kindly open a separate issue where you describe precisely what you are trying to do (i.e., sequence of console commands for install) and the error message you are getting? Also, operating system and python version.

[2022-07-20 19:03] aiwalter commented on #3062
Version shouldnt matter as we didnt tough this model since longer, I guess its an problem of the underlying algo/implementation in `tbats` package. I think would be best to open an issue on their repo adn linke it here.
https://github.com/intive-DataScience/tbats

Regarding speed, I think its not possible that `sktime` model is faster than `tbats`, pls make sure you have same params, they might ha

[2022-07-20 19:10] aiwalter commented on #3014
@Arvind644 you can just copy the link from README, I created that and it has now no expiration date :)

[2022-07-20 20:15] fkiraly commented on #3062
Hm, I think you are right, @aiwalter.

[2022-07-20 22:28] fkiraly commented on #1290
review, anyone? 😁

[2022-07-20 22:57] fkiraly commented on #2043
putting this on the benchmarking workstream since that´s what the benchmark data sets are going to be in (probably?)

[2022-07-21 05:37] hancelpv commented on #3062
@fkiraly I confirm that the issue doesn't exist with sktime==0.13. Is there any way to know the exact release in which this issue was fixed (without having to try out with every release version) ? I will try to upgrade, but need to see how the numba issue can be mitigated.

Also, @aiwalter the underlying tbats library doesn't give an error when tried with the same data. It looks like a problem wit

[2022-07-21 05:38] hancelpv commented on #3062
Attaching reproducible code with TBATS library alone.

[code]

[2022-07-21 05:50] #3062 closed

[2022-07-21 06:38] benfulcher commented on #2254
Being a static feature set, we don't anticipate changes, and are not proficient in implementing CI/CD, so this isn't on the cards.
Not sure why we need the transformer there…? Users can use pycatch22 to simply extract the features, and use a combination workflow with `sktime` to do any extras.

[2022-07-21 07:50] jelc53 opened #3063 "[ENH] Implement update method for TBATS"
**Is your feature request related to a problem? Please describe.**
Want to perform walk-forward predictions using TBATS model. without refitting parameters every time. This is crucial for validation, especially since TBATS model is slow to train.

**Describe the solution you'd like**
Implement update method for TBATS... same as interface used for other time series forecasters in sktime.

[2022-07-21 07:54] abhishekmittal15 commented on #2836
Thanks for the heads up @khrapovs . As you said I will proceed with just 1 of the notebooks and then whether or not we should extend to all of them can be decided later. From what I have understood about Jupytext till now, I present 2 solutions
### Solution 1
Just add a flag in `pyproject.toml` to invoke jupytext to update, any changes made in the jupyter notebook, into the python file. This will

[2022-07-21 08:12] khrapovs commented on #2836
Great plan!

In my practice we did not bother much with automating the sync. Manually asking Jupyter notebook to sync with pypercent was sufficient. But in this project either `pyproject.toml` or `.pre-commit-config.yaml` automation is 100% required to make it super easy and seamless for developers.

From you description the first solution seems preferable, but it is hard to judge without trying/s

[2022-07-21 09:51] fkiraly commented on #3063
Hm, I think the `tbats` package that we interface does not have an updating capability, therefore the `sktime` `update` defaults to refitting.
I've opened an issue on `tbats` here: https://github.com/intive-DataScience/tbats/issues/35

If you want to control how often you refit, you can use the wrappers in the `forecasting.stream` module that will be added with 0.13.1 (you can try them out on the

[2022-07-21 09:57] fkiraly commented on #2254
Yes, but even if it's static, underlying packages could still change their interfaces, or some other python verseion compatibility bug could occur which only solid CI/CD would catch.

Want some help? I'm sure if we try to set up some joint `sktime`/`catch22` event (I haven't been to Sydney yet! 😄 ), there would be people who would join and help with setting up CI/CD.

A transformer is just the equ

[2022-07-21 11:40] h-t-w opened #3064 "[ENH] Implement update method for AutoARIMA"
As discussed in #3046, the `AutoARIMA` forecaster should ideally have a dedicated `update` method, which enables updates of coefficients of the best model, without fully refitting the forecaster/re-tuning the hyperparameters (e.g. p,d,q). A full refit - as of now - should remain the default.

The `AutoARIMA` class in the `pmdarima` package does have such an `update` method, which would in turn nee

[2022-07-21 11:53] h-t-w opened #3065 "[ENH] Implement update method for AutoETS"
In relation to #3063 and #3064.

`AutoETS` - as a forecaster with autotuning capabilities such as `AutoARIMA` and `TBATS` - should ideally have a dedicated `update` method, which allows updating the model coefficients, without retuning the model hyperparameters when `AutoETS(auto=True)`. This would enable the user to separate hyperparameter tuning from updating/fitting the best forecaster selected

[2022-07-21 12:24] jelc53 commented on #3063
Thank you @fkiraly. I definitely have what I need now to use this functionality! Might be worth implementing a similar ‘update’ wrapper method to that used for other sktime models. Especially given the ‘refit_model.py’ logic is short and self-contained. Let me know if you’d like me to create a PR for this. Regardless really appreciate the follow up.

[2022-07-21 13:21] Arvind644 commented on #3014
@aiwalter just send a PR

[2022-07-21 18:01] aiwalter commented on #3014
Can you link it?

[2022-07-21 18:42] fkiraly commented on #3063
Which `refit_model.py` are you referring to?

Sure, would be appreciated! What precisely would you like to implement?

[2022-07-21 19:20] fkiraly commented on #3064
`pmdarima` has an `update` interface, so maybe it's really easy? https://github.com/alan-turing-institute/sktime/pull/3068

[2022-07-21 19:23] fkiraly commented on #3065
This is a native implementation, so I suppose someone needs to dive into the code...

Let's ask the original author:
@HYang1996, are you still around?

[2022-07-21 19:25] #2573 closed

[2022-07-21 19:28] fkiraly commented on #3063
Oh, in the TBATS repository, I get it.

Yes, would appreciate a PR! If you need access to the pooled data, the `self._y` attribute stores the updated `y`.

[2022-07-21 19:40] HYang1996 commented on #3065
hey @fkiraly, unfortunately I'm no longer actively contributing to `sktime` at the moment. This implementation was adapted from the [fable version of R](https://github.com/tidyverts/fable/blob/master/R/ets.R), which doesn't seem to contain such a method, I guess the `update` method will have to be written from scratch or be adapted from other sources.

[2022-07-21 20:11] shchur opened #3069 "[BUG] High memory consumption in `get_cutoff` when using a `DataFrame` with `MultiIndex`"
**Describe the bug**
The method `get_cutoff` when applied to a `DataFrame` dataset with hierarchical index performs a lot of redundant computations. This results in OOM errors and crashes when training on very large datasets. For example, I cannot train `AutoETS` model on the `electricity` dataset from the Monash repository on a machine with 300GB of RAM.

The problem lies in the following line of

[2022-07-21 20:15] fkiraly commented on #3069
hm, thanks!
Do you want to make a PR?

[2022-07-21 20:16] shchur commented on #3069
Yes, I'm on it

[2022-07-21 20:16] fkiraly commented on #3069
feel free to add yourself to authors and/or .all-contributorsrc

[2022-07-21 20:19] fkiraly commented on #3069
question: perhaps, might it be even more efficient to recurse or use groupby?

[2022-07-21 20:27] shchur commented on #3069
Unfortunately, I'm not 100% sure if I completely understand the surrounding logic to come up with a more efficient and elegant solution.

[2022-07-21 21:14] fkiraly commented on #3065
Yes, that would! Where does that sit, in the class?

[2022-07-21 21:42] HYang1996 commented on #3065
According to the [example notebook](https://github.com/alan-turing-institute/sktime/blob/5767dbaac759ed6ac43a8977f4c46beb93d0f18c/examples/01_forecasting.ipynb), the `update` method of `AutoETS` class seems to be updating the forecaster with the new data. To access the wrapped `ETSModel`, one could do the following:
[code]
The `update` method of `ETSModel` should then be accessible.

[2022-07-22 03:32] e-alizadeh opened #3071 "[BUG] `SlidingWindowSplitter` and `ExpandingWindowSplitter` only returns a single item for test split"
**Describe the bug**
When splitting a dataset based on `SlidingWindowSplitter` or `ExpandingWindowSplitter`, the test set for splits has only the last test index instead of an array of indices. The train set is as expected. Check below for a sample output of the issue.

**To Reproduce**

[code]
Above will result in
[code]

**Expected behavior**
For `SlidingWindowSplitter` the first split based on

[2022-07-22 06:26] jelc53 commented on #3063
Perfect, can do. I tried creating a branch with my update and pushing it to the repo (from which I’d create a PR for your review) but it looks like I’d need to be granted some access permissions. Can you help or do I need to do a bunch of required onboarding?

Julian Cooper

Mobile +61 411 190 693
***@***.***

Sent from my iPhone

[2022-07-22 09:02] khrapovs commented on #3071
@e-alizadeh Thanks a lot for reporting this! Actually, I wouldn't say this is a bug, but rather a badly documented feature. Test window will include only those observations that are explicitly listed in the forecasting horizon. The desired result is achieved by providing `np.arange(1, 6)` to the `fh` argument:
[code]
I will try to add a few lines to the docstring of the splitters in the coming day

[2022-07-22 09:23] fkiraly commented on #3063
Only core devs can push directly to this repo, you need to fork and make a PR from your fork.
(this is the typical open source contribution workflow, so once you've seen it you know it)
Instructions here: https://www.sktime.org/en/stable/developer_guide/git_workflow.html

[2022-07-22 09:41] fkiraly commented on #3071
Possible alternative approach:
adding an argument `forecast_window_length`, where `forecast_window_length=x` is equivalent to passing `fh=np.arange(1, x+1)`, and not both arguments `fh` and `forecast_window_length` can be passed (exactly one must be given)

[2022-07-22 11:25] benHeid commented on #3023
# Wind power generation forecast

in collaboration with @kalebphipps.

## Task and Goals
We want to forecast the wind power generation for a given region using both historical wind power data and exogenous weather forecasts.

Important aspects of the pipeline include preprocessing steps that has no sequential dependencies:
+ Creating specific features, such as wind speed, from the given exogenous

[2022-07-22 11:53] AurumnPegasus commented on #3022
Okay so:
Currently none of the classes have any method which I propose to introduce.
I am proposing to introduce a `save` functionality in `BaseEstimator` class (as discussed above)
For this, we need to introduce either `__get_state__` and `__set_state__` OR `__reduce__` methods in `BaseEstimator` class.
These functions are used to pickle a class's object.
An example from [stack overflow](https://

[2022-07-22 12:04] TonyBagnall commented on #3020
hi, I think I missed something, it seems to run fine on our GPU at the moment. I ran through 30 resamples of CNNClassifier on our GPU, and we ran everything for sktime-dl on a GPU.

[2022-07-22 12:06] fkiraly commented on #3023
Example from the dev days:

constructing a pipeline branch & rebranch, A -> B, C -> D
and we subset output of A (different for B and C), subset output of B, subset out of D

starting information:
`tA, tB, tC, tD` - `BaseTransformer`
`AB_vars, AC_vars, BD_vars, Dout_vars` - `pd.Index`

[2022-07-22 12:10] AurumnPegasus commented on #3020
Hey,
from what I understand (could be wrong) is that currently based on whether our device is on cpu/gpu TensorFlow/keras automatically detects and runs it on the device (dependant on necessary dependencies being installed). In the current issue/PR I was proposing to have an additional parameter to give the user choice to specify the device they want the model to run on.

Also would like to ask if

[2022-07-22 13:11] e-alizadeh commented on #3071
Thanks for looking into this. The main reason why I thought this is a bug is that for both splitters, my examples above are similar to the ones in the documentation as can be seen in the blow screenshot.
![Screen Shot 2022-07-22 at 9 07 06 AM](https://user-images.githubusercontent.com/30320825/180445536-fd0dc8d5-e742-4594-9dfb-fe971d2b2dd8.png)

On a different note, having actual implementation ex

[2022-07-22 13:11] fkiraly commented on #3028
@tobiasweede, I've assigned this to you and put it on the deep learning project board for tracking. Talk to you later!

[2022-07-22 13:28] lmmentel opened #3073 "[BUG] CI test logs are too verbose"
**Describe the bug**

The CI test configuration is too verbose and the logs often breaks browser display and often fail to load. It is not useful to have such verbosity when tests are passing and for failing tests pytest provides verbose diagnostic information.

**To Reproduce**

[code]

**Expected behavior**

Less vebose output from tests.
**Additional context**

**Versions**
<details>

</details

[2022-07-22 13:55] TNTran92 commented on #3020
I have a simple example of running a tensorflow on multiple GPUs.

Note the use of `strategy`. You need to define a strategy and define a scope that strategy wraps. Also set `CUDA_VISIBLE_DEVICES`
`os.environ["CUDA_VISIBLE_DEVICES"]="0,1"`

If you are on Linux, type in `watch nvidia-smi` in the CLI  should show both GPUs working

[code]

[2022-07-22 14:21] fkiraly commented on #3073
What could we do to make them less verbose?

[2022-07-22 14:23] fkiraly commented on #3071
ah, I see!
Was it Donald Knuth who said, if the docstring and the code do not agree, there is a good chance that both are wrong?
(probably paraphrasing this badly)

[2022-07-22 14:29] khrapovs commented on #3071
Offtopic of course, but that's one of the reasons I ignore docstrings whenever possible. They rot immediately after being written.

[2022-07-22 14:50] fkiraly commented on #3071
😱 🤮 😱 why do you hurt me so, @khrapovs

[2022-07-22 20:15] lmmentel commented on #3073
I think there is a flag for pytest that we can adjust

[2022-07-23 07:57] khrapovs commented on #3071
@e-alizadeh Please, check the changes in https://github.com/alan-turing-institute/sktime/pull/3075. I will edit the text as you like.

[2022-07-23 11:33] ZiyaoWei commented on #2214
I looked at this a bit and it seems the problem is just that `ForecastingHorizon` delegates a bunch of dunder methods to the underlying value, including `__eq__`, which doesn't seem right since it should probably compare the `is_relative` flag first, and then compare the underlying values? It works for relative values but that seems to be just a coincidence where Pandas decides that relative `Fore

[2022-07-23 14:32] hancelpv commented on #3062
@fkiraly @aiwalter I had one more follow up question. I could see that TBATS was taking about 14 seconds for fitting a model to a time series of length 24 datapoints, this is consistent with both the source TBATS and the sktime wrapper around TBATS. 14 seconds to fit a model for one time series seems a bit too long (compared to the R implementation). Let me know if there's anything we can do to im

[2022-07-23 15:26] e-alizadeh commented on #3071
Thanks @khrapovs. I've checked the changes and they look good to me.

[2022-07-23 17:24] #1290 closed

[2022-07-23 17:24] #2331 closed

[2022-07-23 19:16] fkiraly commented on #971
Addendum: `statsmodels` actually uses `summary`, not `get_summary`, so I suppose we should stick to calling the "reporting" method `summary`.

[2022-07-23 20:04] fkiraly commented on #2214
Hm, this is really odd.

Here's my quick suggestion:

[code]

[2022-07-23 20:18] fkiraly commented on #2214
Trying here: #3079

[2022-07-23 20:18] fkiraly commented on #2214
What *should* these be?

[2022-07-23 20:29] fkiraly opened #3080 "[ENH] single reference/registry point for distance strings in `distances` module, remove registry duplications"
To the best of my knowledge, there is no registry for the supproted distance strings in the `distances` module.

This leads to the strings having to be updated in a handful of estimators every time a string is added, changed, or removed.

There should, instead, be a single interface point that those estimators can refer to, so there is a single point of change and a single point of truth.

Existin

[2022-07-23 23:20] #3069 closed

[2022-07-23 23:22] fkiraly commented on #2905
Docs are still here:
https://allcontributors.org/docs/en/cli/installation

Do you mean manual, as there is something you can locally and commit - or, manual as in having to translate the all-contributors line by line??

[2022-07-23 23:23] fkiraly commented on #3065
good first issue, since the recipe is above

[2022-07-23 23:24] fkiraly commented on #3063
need any help, @jelc53?

[2022-07-24 03:15] ZiyaoWei commented on #2214
IDK, does things like `__add__` even make sense? I don't think people should add absolute and relative `ForecastingHorizon`s, but what about relative and relative? It's probably a bit weird but maybe makes a little bit of sense. 🤷

For `__le__` there probably can be some sort of ordering, but I can't think of any that makes natural sense.

So I guess overall, are these dunder methods actually need

[2022-07-24 08:01] jelc53 commented on #3063
Thanks @fkiraly, makes sense. This is my first time contributing to a public repo. Ill have a read through the link and give it a go later today!

[2022-07-24 08:50] khrapovs opened #3082 "[ENH] Allow lists as `cutoff` argument in `CutoffSplitter`"
Currently, `CutoffSplitter` accepts only `np.array` or `pd.Index` as a `cutoff` argument. I do not see why it can not be a list similar to `fh` argument.

[2022-07-24 10:08] fkiraly opened #3083 "[BUG] sporadic failure in HIVE-COTE2 continuous interval tree subsampling to single class data sample"
HIVE-COTE2 sporadically fails on standard test scenarios, as continuous interval tree can end up sub-sampling such that the sub-sampled data contains only one class.

Example run:
https://github.com/alan-turing-institute/sktime/runs/7484288807?check_suite_focus=true

Example traceback:
[code]

[2022-07-24 10:10] fkiraly commented on #3082
Yes, agreed.

Would the best solution involve factoring out coercion functionality and using them in both places?

[2022-07-24 10:53] DBCerigo commented on #2804
Hey @fkiraly (and @TNTran92 feel free to jump in also) - we've been considering the comment above, as well as the discussions we had at the dev days regarding this point.

We see there being a strong reason not to pass or use a single object/instance within benchmarking, because estimator objects can and do often carry a lot of state - one of kotsu's goals with to help users avoid common pitfalls

[2022-07-24 11:13] DBCerigo commented on #2804
Next steps (if #2977 merged):
- implement storing estimator predictions
- implement computing metrics and cross-estimator analyses based on stored predictions
- implement other types of benchmarks:
    - Classification
    - others?
- M4
- Bakeoff

@TNTran92 any of these you want to go for? Classification benchmark implementation maybe?

[2022-07-24 12:40] ngupta23 opened #3084 "[BUG] Imputer and log transformer do not work together (inverse transform not applied)"
**Describe the bug**

- When the `TransformerPipeline` consists of an Imputer followed by a log transformer, predictions do not apply inverse log transform (seems to be a bug)
- When the `TransformerPipeline` consists of only a log transformer, predictions seem to be correct (inverse transform is applied correctly).

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/3358

[2022-07-24 12:52] ngupta23 commented on #2598
@fkiraly Is anyone working on this `ForecastingHorizon` fix? Thanks!

[2022-07-24 13:00] fkiraly commented on #3084
I have identified the reason for the bug:

* the "skip inverse" rule for transformer pipeline skipped the inverse of the pipeline iff *at least one* component skipped inverse. But this was wrong, the pipeline inverse should be skipped iff *all* components are skipping inverse.
* `Imputer` skipped the inverse, and since it was in a pipeline with another transformer that did not skipped inverse, acc

[2022-07-24 13:07] fkiraly commented on #3084
Fix here: https://github.com/alan-turing-institute/sktime/pull/3085

[2022-07-24 13:07] ngupta23 commented on #3084
Thanks @fkiraly. That was super quick!

[2022-07-24 13:23] MatthewMiddlehurst commented on #3083
This most likely appeared as a result of making ContinuousIntervalTree sklearn compliant as part of the move from contrib #2951.

Shame it didn't break any of the tests for that PR, will take a look.

[2022-07-24 14:11] #3073 closed

[2022-07-24 17:25] khrapovs commented on #2598
I think this is somewhat related to https://github.com/alan-turing-institute/sktime/pull/3075 and the underlying issue https://github.com/alan-turing-institute/sktime/issues/3071. The splitter's test window is defined by the values in the forecasting horizon, without implicit modifications. Assuming that a user wants test window `[1, 2, 3]` although only forecasting horizons `[2, 3]` are given see

[2022-07-24 20:06] fkiraly commented on #2804
@DBCerigo, ok, let me try to answer to your long comment.
Ahead of everything, I want to say that things are quite subtle, and I think *at the same time* that:

* benchmarking should be repeatable, reproducible (i.e., there is no "deeper difference in how we think about benchmarking"!)
* we should be able to pass initialized objects, not classes
* there is no contradiction between the two (I feel

[2022-07-24 20:10] fkiraly commented on #2804
So, as a design consequence, my preferred design has these properties:

* it should be fine to pass (a) type objects or (b) type objects to benchmarking experiments.
* if (a) is passed, it should be initialized with defaults to obtain an object of type (b)
* if an object of type (c) is passed, it should be cloned, to obtain an object of type (b)

The type change diagram looks like this:

`__init__

[2022-07-24 20:11] fkiraly commented on #2804
Re memory use: (b) type objects typically occupy minimal memory, since all they contain is the information of "which class" and "which parameter values".

[2022-07-24 20:15] fkiraly commented on #2804
PS: since you are referencing `gym.env`: the "sklearn-like" counterpart for reinforcement learning, with the design as above, is `stable-baselines3`

[2022-07-24 20:19] fkiraly commented on #2804
`sktime` examples for (a), (b), (c):

[code]

[2022-07-24 21:44] #3037 closed

[2022-07-24 22:06] fkiraly commented on #3064
Yes, #3068 seems to have worked.

[2022-07-25 03:32] TNTran92 commented on #2804
Sure, I will take the classification one

[2022-07-25 08:24] wregter opened #3088 "[ENH] Direct Multioutput (DIRMO) strategy for make_reduction"
**Is your feature request related to a problem? Please describe.**
A very useful approach to time series forecasting using machine learning is the Direct Multioutput (DIRMO) approach. Its relevance is explained in a highly cited article: "The DIRMO strategy aims to preserve the most appealing aspects of DIRect and MIMO strategies by partitioning the horizon H in several blocks, and using MIMO to f

[2022-07-25 11:44] fkiraly commented on #3088
Great suggestion! We are currently reworking the reducers.

Related: https://github.com/alan-turing-institute/sktime/pull/2833 rework uses DIRMO when the new direct reducer is given a multi-output regressor.

[2022-07-25 12:50] fkiraly commented on #2890
Changing test order reducing expected runtime by 90%: https://github.com/alan-turing-institute/sktime/pull/3092

[2022-07-25 13:49] #3063 closed

[2022-07-25 16:24] MatthewMiddlehurst commented on #1616
Any objections to closing this issue? Any problems with the early classification base class or early classifiers should be raised as a separate issue, IMO.

[2022-07-26 04:46] achieveordie commented on #2697
Hello @fkiraly, I want to contribute to sktime and since this was marked as a "good first issue" and I'm a newcomer, I made a few changes in the structure.

- In the `_data_io.py` file, I've refactored the private functions `_load_provided_dataset()` and `_load_dataset()` in a manner that `_load_dataset()` takes care extraction of data and then calls the former to load the provided data. This refa

[2022-07-26 10:16] papaloveray opened #3097 "[DOC]The problem with the transition from scikit to sktime, especially for data preparation."
#### Describe the issue linked to the documentation

Hey, first of all , i'd like to thank you guys for the contribution made to time series analyze. If you want to make sktime more popular, the documentation's readability&understand-ability is so important, especially the topic like data preparation. Since most of us are  familiar with the pandas and scikit, the transition is quit important for u

[2022-07-26 11:28] #3051 closed

[2022-07-26 11:34] #3083 closed

[2022-07-26 13:12] fkiraly commented on #2697
@achieveordie, this all looks like very sensible changes! I would probably also identify those as primary refactor points.

Could you kindly open a pull request? Let us know if you need assistance how to do that (fork, then PR)
https://www.sktime.org/en/stable/developer_guide/git_workflow.html

[2022-07-26 14:05] miraep8 opened #3099 "[ENH] Further Improve HMM Estimator"
Currently HMM Estimator has been implemented (#2855) ! :)  However there are some changes/improvements I plan to add. Will add and check things off as I get to them:

- [ ] add Baum-Welch logic to `_fit` so that the parameters which are used in the Viterbi algorithm can be dynamically extracted from the data.
- [ ] Expand support to multi-dimensional data (should be a simple extension!)
- [ ] Move

[2022-07-26 14:06] fkiraly opened #3100 "[DOC] improvements on local linting/precommit setup developer documentation"
Update: content has been added, but the lists are formatted badly due to typos in the code. Would be appreciated if someone could fix this!

---

From #3086, by @jelc53, in reference to https://github.com/alan-turing-institute/sktime/pull/3089 and the current developer doc on local linting and precommit setup:

@jelc53, not sure I understand - what is that other option you are referring to, i.e.,

[2022-07-26 14:11] jelc53 commented on #3100
Yep I was defintely looking at an older version. The section on integrating with local developer ide is exactly what I was thinking.

[2022-07-26 14:18] papaloveray commented on #3097
@fkiraly
The label_11 column is my target , which has three outcomes, -1 means sell, 0 means hold, 1 means buy.
According to the actual close price, the rolling windows length  is 11 days, we set the real label just as below:
![label](https://user-images.githubusercontent.com/41810121/181028055-ac6bf2e9-3806-4e68-a383-f4ca2e8e0edf.JPG)
Then just mentioned as earlier, i'd like to use sktime to make

[2022-07-26 15:52] fkiraly commented on #3100
Excellent! If you have anything to add, PR are appreciated. Closing for now, since it looks like the requirements are met.

[2022-07-26 15:54] fkiraly commented on #3100
actually, the bullet points in various lists are going over lines and are badly formatted, with lines starting in the middle of other lines. Would be great if someone could fix this before the next release 😄

(good first issue since it just requires adding spaces in the above-mentioned file)

[2022-07-26 15:57] fkiraly commented on #3097
No, this is not time series classification, this is stream annotation in our parlance, or directional forecasting: https://github.com/alan-turing-institute/sktime/issues/763
(both experimental and not fully supported tasks - contributions appreciated!)

Why this is not TSC: there is just a single time series, and you want to attach many of those green/red dots to that time series (correpond to up/

[2022-07-26 16:02] fkiraly commented on #1616
no, I thought we arrived at a consolidated design through discussions on the early classification PR.
Perhaps just link those discussions here, then close?

[2022-07-26 16:07] MatthewMiddlehurst commented on #1616
That's fair.

Initial discussion regarding early classification is mostly in the TEASER PR: #2162

The early classification base class PR and discussion is here: #2235

[2022-07-26 16:07] #1616 closed

[2022-07-26 17:26] fkiraly opened #3103 "[BUG] memory related test failures post CI simplification PR"
Since we merged the "CI simplification" PR https://github.com/alan-turing-institute/sktime/pull/2896, I have observed a number of mem-out failures of tests, in the OS/version combinations that the CI simplification has addressed.

I cannot claim a causal relation, but the timing makes me suspicious.

Examples of mem-outs:
https://github.com/alan-turing-institute/sktime/runs/7524247553
https://gith

[2022-07-26 17:31] fkiraly commented on #2603
Inspiration from #3102: "multiplexer base class" which delegates to all base classes, according to a tag or attribute.

Would use of this be the solution to the generic delegator?

[2022-07-26 17:33] fkiraly commented on #3103
FYI, #3095 is purely doc related (code of conduct).

While the proposed changes might be contentious to some, it is hard to imagine any plausible technical reason for why the changes would lead to failure in the classification module...

[2022-07-26 18:42] fkiraly commented on #2603
moving comments from @miraep8 from #3102 here:

Yes! I totally agree that this is an interesting connection/motivation, and I would say is connected with some of the discussion we have had with the pywatts people about whether or not there is any value in "considering everything a graph" (which personally I think there is)!

Several thoughts with this - I think that trying to dynamically set the b

[2022-07-26 18:43] fkiraly commented on #2603
But would a polymorphic multiplexer base class not be a prime example of composition? It takes the "specific" base classes as components!

[2022-07-26 18:52] miraep8 commented on #2603
Yes!!  Absolutely.  I suspect we might agree -but in case we aren't - to clarify my point was more - there seems to be value in having a more general `BaseClass` that could facilitate this polymorphism.  Currently there is some question of what should each multiplexer inherit from?  `BaseForecaster`? `BaseTransformer`? When in reality we want a more general `BaseObject` that supports basic scikit-

[2022-07-26 18:58] fkiraly commented on #3103
One more, also on mac: https://github.com/alan-turing-institute/sktime/runs/7523631638

All classification related, maybe that's another possible lead? @MatthewMiddlehurst ?

[2022-07-26 21:07] fkiraly commented on #2603
We already have a `BaseObject`!

I think the class diagram looks like this:

* `BaseClassPolymorphic` inherits from `BaseObject`
* `BaseClassPolymorphic` is a multiplexer composite of all other estimator base classes
* `Multiplexer` inherits from `BaseClassPolymorphic`

[2022-07-26 21:14] fkiraly commented on #2603
do you remember where your first PR was on the delegator? I would like to lift some code from it for the `BasePolymorph`

[2022-07-26 21:14] fkiraly commented on #2603
found it https://github.com/alan-turing-institute/sktime/pull/2570

[2022-07-26 21:22] lmmentel commented on #3103
Mac failures might be related to macos-10.15 being deprecated https://github.com/actions/virtual-environments/issues/5583 I'll make a PR to bump the OS version of the CI host.

[2022-07-26 21:36] MatthewMiddlehurst commented on #3103
This seems to be affecting #3090 as well for a range of classifiers and transformers. Most of the failures have been untouched for quite a while as far as I am aware.

[2022-07-26 21:55] fkiraly commented on #2603
random experimentation here: https://github.com/alan-turing-institute/sktime/pull/3108
can we maybe combine #2570 with these ideas, @miraep8 ? not sure how to go about it

[2022-07-27 04:36] C-mmon commented on #3100
I will take this up.

[2022-07-27 05:12] C-mmon commented on #3100
Do I have to look in developer_guide/coding_standards.rst?

[2022-07-27 05:45] achieveordie commented on #2697
I've dropped in a pull request as you mentioned, thanks for the link.

I think I've found a bug but since I'm not sure I'm writing it here as a comment rather than opening an issue. In the case where `return_X_y` is `False`, the code appends the response variable into predictors using the column name 'class_var'. But this is only possible if the predictor variable X is an instance of a DataFrame a

[2022-07-27 08:20] papaloveray commented on #3097
@fkiraly
To be honest, with the aim to simplify the graph, I've just showed you one series. Actually, there are more than 500 stock's time series, the big difference is the length of each time series is not the same, because of their IPO's date.
I still believe it is the TSC, precisely speaking it's interval/window-based TSC quoted by Rodríguez(2005）.
![interval](https://user-images.githubusercont

[2022-07-27 09:25] h-t-w commented on #3065
@jelc53 are you already working on this? If not, I could give it a go next week....

[2022-07-27 09:46] jelc53 commented on #3065
No I haven’t made a start. Would also not be able to do until next week.

Sent from my iPhone

[2022-07-27 09:55] AurumnPegasus commented on #3028
Hey @tobiasweede , any update on this?

[2022-07-27 11:15] fkiraly commented on #3100
Thanks, @C-mmon!

Yes, correct!

[2022-07-27 15:12] C-mmon commented on #3100
created a pull request

[2022-07-27 18:55] fkiraly commented on #2697
Hm, sounds like a bug!

Could you kindly open a bug report (new issue) and post a self-contained snippet of code that provokes the bug?

[2022-07-27 18:57] fkiraly commented on #3103
I have an explanation for 14 workers, @lmmentel: they are not concurrent, but sequential. One after another, the workers crash, so `pytest-xdist` spins up new ones in an attempt to try again.

[2022-07-27 21:34] fkiraly opened #3113 "[ENH] suggested classifier refactor"
A number of observations from looking at classifiers, suggested refactors.

* a large number of current classifiers could be refactored as [transformer][classifier] pipelines, similar to https://github.com/alan-turing-institute/sktime/pull/3102 or https://github.com/alan-turing-institute/sktime/pull/3112, see there for recipe pattern
* `_get_train_probs` should perhaps become a proper interface po

[2022-07-27 22:59] ZiyaoWei commented on #652
I'm interested in trying to do this if it's still relevant - I assume this would be implementing a couple new forecasters in the same `sktime.forecasting.stream` package?

[2022-07-28 03:47] ealizadeh-via opened #3115 "[ENH] Include all prediction results of Prophet model (e.g. upper and lower bounds, ...)"
It would be great if for prophet model, you have a method to get all prediction results instead of only `yhat`. fbprophet model generates many useful informations along with the forecast of the target that currently is not exposed in the sktime wrapper.
Some of these columns are `trend`, `yhat_upper`, `yhat_lower`, ... and many more data about the components of the forecast results.

[2022-07-28 08:23] fkiraly commented on #3115
@ealizadeh-via, it is a conscious design choice to not return everything in `predict`. Why: `sktime` provides unified interfaes, where all estimators have the same return. Returning 100 different things from `predict` would make that difficult, if not impossible.

You can get prediction intervals and quantiles from `predict_quantiles`, `predict_interval`, many models have these, see the forecastin

[2022-07-28 08:45] fkiraly commented on #652
Yes, or elsewhere if you think it makes more sense elsewhere.

[2022-07-28 10:48] lmmentel commented on #3053
Sklearn 1.2 is not released yet so it is hard to make definite comments about compatibility at this point.

[2022-07-28 11:24] fkiraly commented on #3097
I think it's not:
* your multiple time series sound multivariate, not multiple instances
* there are multiple time-stamped labels per time series, not a single label per time series overall

Either way, would have to see details to be sure.

Sure. Can you please post self-contained code that produces the data in your current format? Feel free to use dummy data.

[2022-07-28 11:43] #3064 closed

[2022-07-28 13:12] SzymonStolarski opened #3119 "[BUG] clone is not working correctly on ExpandingWindowSplitter"
**Describe the bug**

- Sklearn's `clone()` function is not working correctly on `ExpandingWindowSplitter`
- The `window_length` parameter is not copied
- `initial_window` is copied into `window_length` which is fine according to docstrings, however is counterintuitive and incompatible with `clone()`
- This generates problems when cloning models that have cross-validation embeded
- Example: `Multi

[2022-07-28 13:16] fkiraly commented on #3119
Yes, I can confirm that.

I wondered why the tests do not catch this, since all objects meant to be sklearn compatible are run through the test suite which tests precisely this.

The reason is that `BaseSplitter` has only recently been moved to inherit from `BaseObject`, and is not in the registry of base objects, so while going through the package, the splitters are not discovered by the tests.

[2022-07-28 14:19] fkiraly opened #3120 "[ENH] ensure all `BaseObjects` are tested, split object from estimator tests"
Currently, objects (`BaseObject` descendants) that are not `BaseEstimator`s are not tested for `sklearn` compatibility, but they should be. The testing framework has all interface compliance tests needed for that, so could be adapted in-principle.

Example bug that was not detected due to this: https://github.com/alan-turing-institute/sktime/issues/3119

Affected objects:
* splitters, `BaseSplitte

[2022-07-28 14:19] fkiraly commented on #3119
I added the general issue here: https://github.com/alan-turing-institute/sktime/issues/3120

This issue is for fixing `ExpandingWindowSplitter` only.

[2022-07-28 14:37] fkiraly commented on #3119
Fix here: https://github.com/alan-turing-institute/sktime/pull/3121

[2022-07-28 14:54] fkiraly commented on #1741
Done & implemented

[2022-07-28 14:54] #1741 closed

[2022-07-28 14:55] fkiraly commented on #2849
Solved by https://github.com/alan-turing-institute/sktime/pull/2850

[2022-07-28 16:34] fkiraly commented on #3103
Revert of recent CI changes seems to fix the issues, see #3118.

The recent changes that are reverted consist of three things:

* testing notebooks on py 3.9, not 3.7, by @fkiraly
* codecov-action changed from version 2 to version 3, by @miraep8
* merging separate linux and mac CI elements into a single matrix, by @lmmentel

My suspicion is towards the merge of linux/max since it appears as the mo

[2022-07-28 16:36] fkiraly commented on #3103
(@lmmentel, @miraep8, not trying to play the blame game here - after all I've approved the PR, and all looked very sensible to me too!)

[2022-07-28 17:20] miraep8 commented on #3103
I am definitely in favor of rolling back the changes!  I think in my case at least (ie updating codecov from 2 to 3) I can't claim to fully understand what that changed.  The hope was - not much....; but seems not to have been the case 🙃   Thanks for investigating!

[2022-07-28 17:31] fkiraly opened #3124 "[ENH] parameter defaults for distances in classification/clustering module - deal with that by sklearn objects"
From TSC KNN:

[code]

I would argue that this is no longer needed since we can pass `BaseObject` distances, where parameter defaults can be defined as with any other `sklearn` compatible estimator.

I think this "todo" dates from a time where the point about making distances `BaseObject`-s was not very clear.

I.e., this tries to answer a problem of the old design (pass by string reference rather

[2022-07-28 17:33] fkiraly commented on #1678
all remaining estimators now have open PR. Removing "good first issue" and will close once all is merged.

[2022-07-28 18:01] fkiraly commented on #3103
Ok, new data point:
I restarted https://github.com/alan-turing-institute/sktime/pull/3117
(0.12.1 state) and it *also* failed on mac.

That would be strong evidence in favour of the "sth is happening to mac on GitHub cloud" hypothesis

[2022-07-28 18:15] fkiraly commented on #3103
@miraep8, we cannot infer that - the failures are statistical (so evidence increases/decreases with re-runs), and even if the changes were responsible, there were three in total, of which I think yours is less plausibly the cause.

[2022-07-28 18:17] #1678 closed

[2022-07-28 18:24] miraep8 commented on #3050
Seems like Katie already got a crack on part of this in #3114  :)

[2022-07-28 19:33] fkiraly opened #3127 "[ENH] rename "kernel based" to "convolution based" algorithms, and reserve "kernel based" for actual kernel based algos in the sense of kernel methods"
Currently, we have a category for time series classifiers/regressors which is called "kernel based". Not sure what this is based on.

I think this is a severe misnomer, since those algorithms aren't actually "kernel methods" in the sense that is common in machine learning and AI, refer for instance to the book "learning with kernels" by Schoelkopf and Smola.

Most people in the data science, ML, A

[2022-07-28 20:03] fkiraly commented on #3103
@RavenRudi, while working on #3126 and looking at #767, I noticed that a while ago you introduced parallelization to the `RocketClassifier`. That appears frequently in some of the failures. Any ideas, in case you still remember? Maybe parallelization related?

[2022-07-28 20:05] fkiraly commented on #3113
Idea for `_get_train_probs`:
this could simply become an option in `fit_predict_proba`, which is now the main interface point to produce in-sample or out-of-sample predictions on the training set.

I would suggest:
* a capability tag, `capability:oob-predict`
* if the tag is `True`, then `fit_predict_proba` can be given the arg `cv="oob"`, and it produces the current output of `_get_train_probs`
*

[2022-07-28 20:09] fkiraly commented on #3113
question: any scenario where you do not, at the same time, want to also `fit` the estimator whenever one obtains oob predictions for the train set? (asking about the implication "if obtaining oob predictions, also want to `fit` to the entire training set)

[2022-07-28 21:31] aiwalter commented on #1215
@kirilral are you still working on this?

[2022-07-28 21:56] fkiraly commented on #3103
could it be two separate things, @lmmentel?

mac upgrade *plus* something in merging the two items?

That would explain why the reverts and historical states fail only on mac?

[2022-07-29 06:31] danbartl commented on #2710
Hi I checked the example by @ngupta23 and the issue seems to be that the way you try to set indices ignoring the instancing of the multiindex:

[code]

This will lose the freq argument, as can be seen by

[code]

You need to specify

[code]

for pandas to recognize the freq argument.

Then the example of @ngupta23 works without error (only tested based on my refactoring PR, but should work with ma

[2022-07-29 09:22] fkiraly commented on #3028
Note: I am excepting in tests the `CNNNetwork` from `test_inheritance` until this issue is resolved.
Then, we should either register it as a base class or add a rule in the test for concrete classes that inherit directly from `BaseObject` (the latter is currently not allowed).

[2022-07-29 09:23] DBCerigo commented on #2804
@fkiraly thanks for the precise and thorough putting across of your thoughts. They're very helpful.

We discussed and had a think through some solutions. The most compelling argument for us is that original thrust and attempt for the implementation which was "interface to use only sktime/sklearn objects and interfaces", and we think we've found a good solution which is inline with your preferences

[2022-07-29 15:06] bethrice44 commented on #2889
Have looked into this and it appears to just be too short `initial_window` since auto-arima does some slicing of the data and it  requires more than one data point. The exact number of data points it requires is [defined by r from sarimax](https://github.com/statsmodels/statsmodels/blob/2eac8066b068a88f00a29f8ff728b04e58248375/statsmodels/tsa/statespace/sarimax.py#L820), i.e. it will be `r+1`:

[c

[2022-07-30 10:00] fkiraly commented on #2889
Possible solutions I can think of:
* making the default initial window of `ConformalInterval` longer. That does not cover all possible cases (since `r` can be arbitrarily high), but perhaps most cases appearing in actual use
* adding a note or caveat at somewhere in the algorithm description, and/or next to the `initial_window` parameter
?

[2022-07-30 10:07] fkiraly commented on #2710
@danbartl, thanks for investigating this! I think I get it now!

It seems very unintuitive though that this additional code might be needed.
Should the `temporal_train_test_split` not preserve `freq` automatically?

I vaguely remember a PR where we wanted to address that, do you still remember where that was?

[2022-07-30 13:34] fkiraly commented on #3103
The following seems to work - removing these estimators:

* `HIVECOTEV1`
* `HIVECOTEV2`
* `RandomIntervalSpectralEnsemble`
* `RandomInvervals`
* `RandomIntervalSegmenter`
* `RandomIntervalFeatureExtractor`
* `RandomIntervalClassifier`
* `MiniRocket`
* `MatrixProfileTransformer`

[2022-07-30 14:49] fkiraly commented on #2890
Ok, here's another idea: partition matrix design #3137 - reduction of test time to 30-40%

[2022-07-30 16:31] ZiyaoWei commented on #652
Thanks for the pointers! The classes in `_update.py` don't seem to be covered by any tests, would it be worth it to add some?

[2022-07-30 17:59] mloning commented on #2905
Using their command line client.

[2022-07-30 18:26] fkiraly opened #3138 "[BUG] test error in `RandomShapeletTransform`"
Update: this is not sporadic but is also failing on `main`.

Unclear what is causing this, but it started recently, and no changes to the estimator have been made so far. Will temporarily address this by an emergency merge.

---
Sometimes, `RandomShapeletTransform` seems to create an empty list internally.

Traceback from https://github.com/alan-turing-institute/sktime/runs/7593226866?check_suite_

[2022-07-30 20:07] #3009 closed

[2022-07-30 20:30] #929 closed

[2022-07-30 20:47] fkiraly commented on #3103
`MiniRocket`:
[code]

`RandomIntervalStuff`:
[code]

`HIVECOTE1` imports and uses `RandomIntervalStuff`

[2022-07-30 21:47] fkiraly commented on #652
Yes, tests are a good idea!

Note though, the forecasters in there *are* covered by tests, namely those in `TestAllEstimators` and `TestAllForecasters`. These are generic tests ensuring interface conformance with `sklearn` and `sktime`. But, they do not test functionality specific to a forecaster.

So, tests for interface conformance (e.g., output has the right type) would be redundant, but checki

[2022-07-30 22:27] fkiraly commented on #3103
From the above, I conclude that we must be looking at an interaction of HIVE-COTE, random interval estimators with the Mac set-up.

Why:
* reverting to earlier repository states does not prevent this
* removal/presence is a reliable on/off condition, see https://github.com/alan-turing-institute/sktime/pull/3134

[2022-07-30 22:50] MatthewMiddlehurst commented on #3103
Note for HIVE-COTE, as it seems all of the individual classifiers are not failing, the issue is most likely in the class itself or the _get_train_probs methods.

I don't believe it uses any of the RandomIntervalStuff transformers, either. RISE, DrCIF etc. predate these transformers I think, so don't use them currently.

[2022-07-30 23:17] MatthewMiddlehurst commented on #3103
Possibly a numba issue? Most of them use it in some capacity, not all though, MatrixProfileTransformer uses stumpy (which uses numba https://stumpy.readthedocs.io/en/latest/Tutorial_STUMPY_Basics.html).

Very strange, only thing they seem to have in common algorithmically is that they extract subseries or window through series. Would be a bit of a stretch to say it is something like numpy slicing

[2022-07-31 12:25] #3119 closed

[2022-07-31 16:11] OswinGuai opened #6598 "[BUG] vmdpy - How to return the same length when the number of points is ODD?"
In the codes of VMD, f will be assigned to f[:-1] if the length of f is odd. This leads to a result of different length. How to keep the result with the same length?

[2022-08-01 06:56] #3082 closed

[2022-08-01 06:57] #3071 closed

[2022-08-01 08:10] bethrice44 commented on #2889
Yes. One option is we don't pass `initial_window` at all and we take (say) 5% of the data points as the initial window, as long as it is >= some value. Another option is just adding to the `initial_window` docstring, but I would assume an  `initial_window` of just 1 will always be a poor model and maybe over-estimate the overall interval? I think I need to test this and also check the literature.

[2022-08-01 10:09] fkiraly commented on #2804
@DBCerigo, I looked at the chance - I'd be happy with this, nice!

Disallowing (a) is one of many sensible choices imo, because there might not be a clear way to get defaults for parameters that do not have them. `create_test_instance` is one, but that's not necessarily the "best default", only a test default, and might be confusing for the user.

Minor thing, I think there are multiple PR (three

[2022-08-01 10:12] fkiraly commented on #2889
Hmm, I see - your suggestion is to allow `float` for `initial_window`, interpreting this as a fraction, and then leave a fraction as the default?

Makes sense!

Another thing I noticed when I was thinking about the impacts of runtime, `sample_frac` might also be confusing for a user to control, since it is a fraction of a total that the user will not have a grasp of, rather than a parameter that l

[2022-08-01 10:29] #2894 closed

[2022-08-01 10:41] AurumnPegasus opened #3153 "[ENH] Adding CNTC DL model for classification"
**Is your feature request related to a problem? Please describe.**
In line with discussions and #2894 , adding CNTC model for classification from sktime-dl

[2022-08-01 11:41] bethrice44 commented on #2889
Yes thats right on `initial_window` although may run in to problems if that dataframe passed to the function is small (i.e. we pass 0.05 as `initial_window` fraction and the data only has 10 items say...), so could do something like `max(initial_window*len(y), 1)`, but that wouldn't solve the priblem above if `len(y)` is too small.

On the second point, happy to update it to `n_samples` and I gues

[2022-08-01 11:59] danbartl commented on #2710
@fkiraly temporal_train_test_split  does not lose the freq, it actually was never there because the way it is assigned (see the full notebook, not the just the script) by ngupta meant it was never there.

[2022-08-01 22:14] fkiraly commented on #3103
Yes, I first suspected it is one of the components which has a domino effect, but that can't be it if you look at precisely what the components are (there is not one component that fails and also sits in the ensembles).

[2022-08-01 22:14] fkiraly commented on #3103
Also a suspicion I had, but not all failures use `numba`, and not all estimators that use `numba` are failing.

[2022-08-01 22:16] fkiraly commented on #2710
Are you saying the problem is with the initial data?

I.e., the same code, with other data, runs?

[2022-08-01 22:19] fkiraly commented on #2889
Perhaps - I would not remove arguments, but we can make it like in `train_test_split` that accepts multiple types (integers, floats, etc) which are interpreted differently.

We also need to be cautious about deprecations, i.e., all calls to the estimator need to behave the same until version 0.15.0, possibly raising deprecation messages if we want to change the behaviour. But, optimally, we can fi

[2022-08-01 22:25] fkiraly commented on #2905
hm, looks straighforward enough - so someone should be able to do that locally and simply make a PR with the updated file, until we figure out how to automate it.

[2022-08-01 22:39] #2891 closed

[2022-08-02 09:23] benHeid opened #3159 "[BUG] ARIMA.fit with numpy arrays not working correctly"
**Describe the bug**
If I execute ARIMA().fit with numpy arrays, it will fails with a strange error message. It says that the indexes of the input Time Series does not fit to the exogenous variables Time Series. And prints the input time series values as missing index values for the exogenous variables time series.

**To Reproduce**

[code]

**Expected behavior**
ARIMA should be fitted without an

[2022-08-02 10:22] fkiraly commented on #3159
Yes, you are right! Line 270 should be `y_index = pd.Index(range(len(y)))`.
Strange that this went undetected for so long - we don't have numpy scenarios.

Would appreciate a PR, I'm also investigating further, there seem to be more problems with that function

[2022-08-02 10:29] fkiraly opened #3161 "[BUG] broken `check_equal_time_index` check in forecasters"
The `check_equal_time_index` check in forecasters is currently broken - it will break for non-`pandas` types, as reported by @benheid in https://github.com/alan-turing-institute/sktime/issues/3159.

I have temporarily turned it off in https://github.com/alan-turing-institute/sktime/pull/3160 for problematic types, but we probably want a more principled fix.

That would probably use `get_time_serie

[2022-08-02 12:14] AurumnPegasus commented on #3153
Adding some notes here to help me better understand the model (and hopefully someone else if they were to work on it someday):

1. Time series data is fed into a CLSTM and CCNN networks simultaneously and is perceived differently. In the CLSTM block, the input data is viewed as a multivariate time series with a single time stamp. In contrast, the CCNN block receives univariate data with numerous t

[2022-08-02 12:49] #3084 closed

[2022-08-02 18:19] FedericoGarza opened #3162 "[BUG] `AutoETS` fails to fit some time series accurately"
**Describe the bug**
Inspired by [this issue](https://github.com/Nixtla/hierarchicalforecast/issues/30), we ran some [experiments](https://github.com/Nixtla/hierarchicalforecast/tree/main/experiments/libs-comparison) using the `AutoETS` model. We found that for some unstable series (with outliers, mainly), the forecast performance of this model degrades by many orders of magnitude compared with ot

[2022-08-02 18:29] fkiraly commented on #3162
Sure, interfacing would be appreciated!

I think currently we are probably going to move towards a stance of allowing multiple implementations of the same "modelling idea".

A decision has not been taken yet, if you want to see the discussion and/or weigh in, see here:
https://github.com/alan-turing-institute/sktime/pull/3155

`statsforecast` and your recent addition of `ARIMA` is one of the more

[2022-08-02 18:52] aiwalter commented on #3162
@FedericoGarza I think the [data you used ](https://github.com/statsmodels/statsmodels/issues/8344) has an extreme outlier as first data point. Could you show the results without that outlier?

[2022-08-02 19:50] FedericoGarza commented on #3162
@fkiraly: Thanks for the answer. We will start working on the implementation. Congrats on this new direction. We are honored to be able to provide more options for the community. :D

[2022-08-02 19:51] FedericoGarza commented on #3162
@aiwalter: You are right. This benchmark dataset proves that the current `StatsModels`' ETS implementation is not robust, challenging its purpose as a baseline model. R's and `StatsForecast` 's implementation can fit these series without problems. We believe the root cause is that the current implementation uses an unstable quadratic optimization instead of the `Nelder-Mead` optimization. We argue

[2022-08-02 20:18] DBCerigo commented on #2804
Great!

Yep, great.

I've closed https://github.com/datavaluepeople/sktime/pull/1 now.
Another PR is https://github.com/alan-turing-institute/sktime/pull/2805, which I can't close, but presuming @TNTran92 or you can if deemed to.
The one deemed active from my point of view is https://github.com/alan-turing-institute/sktime/pull/2977

Soz for that! Was all my fault - I linked the wrong commit (clas

[2022-08-02 21:27] BalasubramaniamDakshinamoorthi opened #3165 "[ENH] Finding Anomalies on Timeseries based seasonality data using sktime"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Good Afternoon
My Requirement is to get Anomalies on my seasonality based timeseries data , but my data is timeseries based with seasonality , I tried to use pyCaret Anomaly Detection but no option available to take into account seasonality in pyCaret's Anomaly Detection.
I am

[2022-08-02 22:15] ngupta23 commented on #2710
@danbartl @fkiraly

Also, the fact that the error does not show up in `fit` and only in `predict` seems confusing (unexpected to a user not familiar with the internals). Can we add an exception during `fit` to somehow indicate the need to have the frequency set in the data? This would also save training time, especially for larger datasets.

[2022-08-02 22:43] ngupta23 commented on #2598
@khrapovs I don't think there are any assumptions here. In my example, the user is explicitly wanting to test future points 2 and 3 only (FH = [2, 3]). This is quite a common use case as outlined in

- https://robjhyndman.com/hyndsight/tscv/
- https://github.com/pycaret/pycaret/discussions/1942

The user does not care about the first future point (it is just needed internally by sktime to work cor

[2022-08-02 23:19] ngupta23 commented on #2598
@khrapovs ok, I see this now. It looks like sktime also faced the same issue and fixed it here using a similar approach.

https://github.com/alan-turing-institute/sktime/blob/4164639e1c521b112711c045d0f7e63013c1e4eb/sktime/forecasting/model_evaluation/_functions.py#L196

[2022-08-03 07:18] fkiraly opened #3166 "[BUG] oddities and circular imports with `all_estimators`"
FYI @RNKuhns, would much appreciate your eyes since related to the `baseobject` refactor.

Currently, `all_estimators` crawls the package, including the three `all` modules which in turn use `all_estimators` to crawl their respective sub-modules. In theory, this could end in infinite recursion, but it seems it does not, and `all_estimators` returns the correct answer.
Still, a call to `all_estimat

[2022-08-03 07:19] khrapovs commented on #2598
@ngupta23 Exactly my point. I do not think the blame is on splitters themselves. I understand that, despite the explicit wish of a user for a non-full range forecasting horizon, cross-validation, especially with exogenous variables, should be performed on the full range test window. As you have discovered yourself, the solution should not be implemented on splitters side, but on evaluation and cro

[2022-08-03 11:45] ngupta23 commented on #2598
@khrapovs I was still wondering is this functionality should be moved into the CV object `split` method. So instead of just providing the `train` and `test` split, maybe it can provide `train`, `y_test` and `X_test` splits?

I am sure others will face the same issue and will have to replicate the implementation in some way again. Having this inside CV would be convenient.

[2022-08-03 12:29] AurumnPegasus commented on #3153
Hey @James-Large  (tagging you since tony recommended I ask you about this):
I had a doubt with respect to the prepare_input function in the network. Can you just help me out by telling the expected shape of input X to the function? The file I am looking at is this: https://github.com/sktime/sktime-dl/blob/b565b7499f58f43da7314f1bf26eccce94e88134/sktime_dl/networks/_cntc.py#L10

also, in the model

[2022-08-03 16:58] TNTran92 commented on #2804
I have closed #2805

[2022-08-03 19:59] fkiraly commented on #3162
I hope you are writing a paper where this is being explained? This sounds like a high impact finding.

[2022-08-03 20:35] #2987 closed

[2022-08-04 05:03] achieveordie opened #3169 "[BUG] IndexError when selecting `return_X_y=False` and `return_type` is not referencing to a pandas dataframe."
**Describe the bug**

As per the discussion in #2697, it was [found](https://github.com/alan-turing-institute/sktime/issues/2697#issuecomment-1196290311) that `_load_provided_dataset()` must throw an error if `return_type` is not a reference to `pd.DataFrame` and `return_X_y=False`. This happens because of code appends the response variable into predictors under the column name 'class_val'.

**To

[2022-08-04 09:25] James-Large commented on #3153
Hi @AurumnPegasus, to predicate this answer I've been out of the loop on sktime/-dl for some time. It looks like that architecture was imported by Jack Russon, who if I recall was a masters student last year and so maybe I'm easier to contact.

On the model details, I can't have a read of the paper since I don't have academic institute access any more and it doesn't look like there's an arxiv/free

[2022-08-04 14:15] TNTran92 opened #3172 "[ENH] - Evaluation method to for classification"
**Is your feature request related to a problem? Please describe.**
At the moment, sktime doesn not have an `evaluate` method for claculating metrics for classfication task.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.
The `evaluate` method will take as argument a

[2022-08-04 16:14] fkiraly opened #3175 "[ENH] use `keras.clone_model` to clone neural networks?"
`tf.keras` has the utility `clone_model` to clone models.

Currently, neural networks use `sklearn`'s `clone` to clone, and the respective test seems to pass.

Question: is there merit to override `clone` by a call to `tf.keras.model.clone_model` for the neural networks? Or is `sklearn` `clone` good enough?

[2022-08-04 16:14] fkiraly commented on #3175
FYI @AurumnPegasus, @tobiasweede, any opinions?

[2022-08-04 16:18] fkiraly opened #3176 "[BUG] sporadic error with `test__y_when_refitting` with `VARMAX`"
`VARMAX` errors out with a Schur decomposition error in one of the tests, see here:
https://github.com/alan-turing-institute/sktime/runs/7673800745?check_suite_focus=true

In that particular instance, the test it occurs in is `test__y_when_refitting`, but that seems more like a coincidence.

FYI @lbventura, any idea what is going on and why it seems sporadic?

[2022-08-04 16:21] AurumnPegasus commented on #3175
Can you tell me the context for the issue created? where are we cloning models currently?

[2022-08-04 16:21] benHeid opened #3177 "[BUG] NaiveForecaster will fail if trained on numpy array and forecasting horizon is np.arange starting with zero"
**Describe the bug**
When NaiveForecaster is trained on an numpy array and forecast horizon is np.arange(0,x) it will fail with
[code]
I am not sure, if in this case the execution should fail or not. However, the error message is confusing for me. Note: When training on pd.DataFrames it will not fail.

**To Reproduce**

[code]

The following line with a pandas DataFrame will not fail

[code]

**Ex

[2022-08-04 18:18] lbventura commented on #3176
I have no idea just looking at the test, would have to investigate more closely.

[2022-08-05 08:29] #3159 closed

[2022-08-05 13:31] e-alizadeh opened #3188 "[BUG] `day_of_year` is not generated in `DateTimeFeatures` transformation"
**Describe the bug**
Passing `day_of_year` to `manual_selection` argument of `DateTimeFeatures` transformation shows the day of month (duplicating the column even if `day_of_month` exists) instead of day of the year.

**To Reproduce**
[code]
Above script gives the following result:
![Screen Shot 2022-08-05 at 9 23 15 AM](https://user-images.githubusercontent.com/84460342/183086502-0b2e06fb-24ac-4d

[2022-08-05 14:18] fkiraly commented on #3188
FZI @danbartl

[2022-08-05 14:46] #2766 closed

[2022-08-05 15:55] ngupta23 commented on #2598
@khrapovs I believe sktime is having to do the same inside `temporal_train_test_split` as well (although using a different code). Here too X_test is returned without and index gaps and y_test is returned with index gaps (if fh has gaps). So there is replication of functionality in 2 places now.

### In `temporal_train_test_split`
https://github.com/alan-turing-institute/sktime/blob/bd52e9b1ded5818

[2022-08-05 16:12] e-alizadeh opened #3189 "[BUG] Dtype of `week_of_year` is different than other generated features in `DateTimeFeatures` transformation"
**Describe the bug**
Passing `week_of_year` to manual_selection argument of DateTimeFeatures transformation will generate a `UInt32` column data type that's different than `int64` used when generating other features.
I believe the generated features here should be consistent in terms of data types.

**To Reproduce**

[code]
![Screen Shot 2022-08-05 at 12 08 01 PM](https://user-images.githubusercon

[2022-08-05 16:47] fkiraly commented on #3175
All kinds of places, most importantly in composite estimators.

The current cloning logic is interfaced in `BaseObject.clone`, all estimators in `sktime` inherit the cloning logic from there.

[2022-08-05 16:51] khrapovs commented on #2598
@ngupta23 Just to understand your proposal very clearly. You want `sktime.forecasting.model_selection._split.BaseSplitter.split` to return a tuple of 4 arrays, instead of 2? `y_train, y_test, X_train, X_test`? And it is expected that `y_test` has the same gaps as `fh`, while `X_test` has no gaps?

[2022-08-05 17:08] AurumnPegasus opened #3190 "[ENH] Class Design for BaseDeepNetwork"
**Is your feature request related to a problem? Please describe.**
As discussed in Deep Learning mentoring meet of 05/08/2022:

Current Implementation:
`BaseDeepNetwork` is a base class for creating neural networks. Each specific neural network is child of the `BaseDeepNetwork`. For example, `CNNNetwork`, `CNTCNetwork`, `LSTMNetwork` etc would be classes inheriting *from* the `BaseDeepNetwork` hav

[2022-08-05 17:26] AurumnPegasus opened #3191 "[ENH] Adding FCN DL model for classification"
**Is your feature request related to a problem? Please describe.**
On the topic of migrating sktime-dl models to sktime, adding FCN model for classification from sktime-dl

[2022-08-05 17:31] AurumnPegasus opened #3192 "[ENH] Adding MLP DL model for classification"
**Is your feature request related to a problem? Please describe.**
On the topic of migrating sktime-dl models to sktime, adding MLP model for classification from sktime-dl

[2022-08-05 17:32] AurumnPegasus opened #3193 "[ENH] Adding LSTMFCN DL model for classification"
**Is your feature request related to a problem? Please describe.**
On the topic of migrating sktime-dl models to sktime, adding FCN model for classification from sktime-dl

[2022-08-05 18:41] mateocomba123 opened #3194 "[BUG] ARIMA and AutoARIMA not working within ConformalIntervals"
When I try to generate predict intervals with ConformalIntervals it gives an error.
You would say I'd directly use the predict_interavals method, but in my case the idea is to obtain the intervals from a Time Series Ensemble model. And when I pass that ensemble to the ConformalIntervals, and the enemble contains ARIMA or AutoArima model, it fails.
Any idea to get prediction intervals for an ensemb

[2022-08-05 20:10] ngupta23 commented on #2598
@khrapovs Yes, but I was thinking we only need to return 3 index arrays - for `train`, `y_test`, and `X_test`. I am not aware of a case where `X_train` and `y_train` would use different indices. If there is a case like that, then yes it would be 4 arrays.

[2022-08-06 11:54] fkiraly commented on #3194
Can you please post self-contained code which triggers the error?

[2022-08-06 11:55] fkiraly commented on #3194
Might be the same as https://github.com/alan-turing-institute/sktime/issues/3194 and simply due to a too small training set in the `ConformalIntervals` - each wrapper reduces the number of training points, so ensembling inside the conformal interval wrapper might reduce the training set size to zero and trigger the error.

[2022-08-06 11:58] fkiraly commented on #2889
This might be another instance of "too small training set": https://github.com/alan-turing-institute/sktime/issues/3194

[2022-08-06 14:40] AnH0ang opened #3199 "[BUG] Error in `inverse-variance` method of `AutoEnsembleForecaster`"
**Describe the bug**
When fitting the `AutoEnsembleForecaster` forecaster with exogenous data using the `inverse-variance` method, an error is raised. This is because `X` is passed to the internal forecasters instead of `X_test` when a prediction is made (see [here](https://github.com/alan-turing-institute/sktime/blob/4164639e1c521b112711c045d0f7e63013c1e4eb/sktime/forecasting/compose/_ensemble.py

[2022-08-06 15:15] fkiraly commented on #3199
Yes, thanks for diagnosing, @AnH0ang!

That looks indeed like the error, thanks for identifying!
Would appreciate a PR with a fix.

Btw, if you (or the person fixing this) wouldn't mind adding the different `method` parameters as settings in the `get_test_params`, that would be appreciated - otherwise the tests will not cover the part of the code where the bug was.

[2022-08-06 15:15] fkiraly commented on #3199
adding "good first issue", since it seems like the bug is already diagnosed thanks to @AnH0ang !

[2022-08-06 18:39] fkiraly opened #3201 "[BUG] reducer should apply lags only to `y`"
As reported in https://github.com/alan-turing-institute/sktime/discussions/3101, the reducers apply lags to both `y` and `X`. This is counterintuitive, and confusing, especially since the same lags are applied to both.

This is problematic, since there is no way to apply *no* lags to `X` and *some* lags to `y`.

It is also redundant, as the reducers can be pipelined with `Lag`, which would apply t

[2022-08-06 18:43] fkiraly opened #3202 "[BUG] `DrCIF` failure due to single class in sub-sample"
`DrCIF` fails stochastically under windows, on `test_contracted_drcif`, the line `assert len(drcif.estimators_) > 1`, because `drcif.estimators_` ends up having length 1.

Do you have an idea what is going on here, @MatthewMiddlehurst?

We are fixing the random seed, but the resulting samples might change with versions of the underlying packages or the operating system.

Example here: https://gith

[2022-08-06 19:17] fkiraly commented on #2935
reopening as there are still two checkboxes open, we need to decide what to do with them before we close

[2022-08-06 21:35] fkiraly commented on #3202
Update: I think this is the single class problem again, when the sklearn estimators are being used as components in re-samples.

[2022-08-07 08:58] fkiraly opened #3206 "[BUG] contracted classifier tests fail stochastically on assertion "number estimators > 1""
The contracted classifier tests fail stochastically on a common assertion "number estimators > 1". The failure is on `main`.

Estimators in questions are:
* `DrCIF`
* `ShapeletTransformClassifier`
* `TemporalDictionaryEnsemble`

I have commented out the assertion, since, I suppose, stochastically the runtime of a single estimator component can be so high that the contract expires after the first c

[2022-08-07 09:02] #3202 closed

[2022-08-07 09:11] fkiraly commented on #3169
Yes, that seems reasonable.
We need to stick to current docstrings to avoid breaking user code, and that means solution 1, because this is already described in the docstring of `load_UCR_UEA_dataset` as follows:

[code]

I would suggest a slightly modified version of your solution 1:
* in `_load_provided_dataset`, call `load_from_tsfile` with the default `return_type="nested_univ"` first. This all

[2022-08-07 09:13] fkiraly commented on #3169
In addition, we should test the function, since apparently this is currently not tested.

That is, we should test `_load_provided_dataset` for one example, with:
* `return_X_y` being yes or no
* `return_type` being any of the strings in `MTYPE_LIST_PANEL`

(we can use `pytest.mark.parametrize` to do this easily, and add the tests in `datasets.tests`)

[2022-08-07 12:39] #3199 closed

[2022-08-07 13:07] #3027 closed

[2022-08-07 15:40] fkiraly commented on #3189
FYI @danbartl

[2022-08-07 15:50] fkiraly commented on #3177
bug confirmed. Source is `_format_moving_cutoff_predictions` which gets non-`pandas` input from `_predict_moving_cutoff`. The latter has a wrong docstring and looks incomplete.

This may have caused by a merge error at some point in the past? In either case, the two methods of `BaseForecaster`, together with the `_update` interface, need some clean refactoring, or perhaps even a re-write.

[2022-08-07 16:04] fkiraly commented on #3166
Solved by #3198

[2022-08-07 16:04] #3166 closed

[2022-08-08 05:52] achieveordie commented on #3169
@fkiraly Is there any possible way to stop implicit conversion of pandas dataframe into column names when assigning a single dataframe to two variables?

This is what I mean:
[code]

This implicit conversion will cause issues if the user accidentally does:
[code]
Otherwise, all the necessary changes have been made.

[2022-08-08 10:37] AurumnPegasus commented on #2935
@fkiraly about the two open checkboxes:
There is already an issue opened for GPU functionality, which is in progress: https://github.com/alan-turing-institute/sktime/issues/3020
Issue with the first checkbox (related to `convert_y_to_keras` was related to where should we move it. If we do decide to have a common DL class as discussed here: https://github.com/alan-turing-institute/sktime/issues/319

[2022-08-08 10:43] fkiraly opened #3214 "[ENH] annotation base class design"
We have now implemented some experimental algorithms, and collected observations on common inputs and outputs:
https://github.com/alan-turing-institute/sktime/discussions/2848

We should try to consolidate this into ideas for a base class design (strategy pattern), to be discussed over the next weeks.
Optimally, we will update the "annotation" STEP at the end of this.

FYI @lmmentel, @miraep8, @Ka

[2022-08-09 07:57] danbartl commented on #2710
You are absolutely right @ngupta23 , thanks for the suggestion. Will include that

[2022-08-09 08:14] fkiraly commented on #3169
I suppose the only way is to turn off the computer before the user types that line?

More seriously, I don't think te situation is detectable within the function, since the conversion is extrinsic, and it also cannot be handled by attaching functionality (e.g., warnings) to an object other than `pandas.DataFrame` itself, due to which objects are involved (strings, tuples, and the `DataFrame`).

[2022-08-09 08:14] fkiraly commented on #3169
PS: I cannot see a pull request for this? Can you please link it or open it?

[2022-08-09 09:56] benHeid opened #3219 "[BUG] AutoETS update_predict fails if the test data does not overlap the train data"
**Describe the bug**
The `update_predict` method fail if the test data does not overlap with the training data. The following error message is printed
[code]

**To Reproduce**

[code]

If the data overlap it will **not** fail:
[code]

Additionally it will **not** fail if for example ARIMA is used instead of AutoETS

[code]

**Expected behavior**
As ARIMA, AutoETS will not fail.

**Additional conte

[2022-08-09 12:40] ilkersigirci opened #3221 "[BUG] make_forecasting_scorer attribute error"
**Describe the bug**

When trying to create a custom forecasting scorer with `make_forecasting_scorer`, it fails with `AttributeError: '_DynamicForecastingErrorMetric' object has no attribute 'lower_is_better'`.

**To Reproduce**

[code]

**Expected behavior**

Creating custom_score should be done without any error.

**Additional context**

This was working as expected in earlier version IIRC. I t

[2022-08-09 14:06] danbartl commented on #3189
Fixed here

https://github.com/alan-turing-institute/sktime/pull/3222

[2022-08-09 14:06] danbartl commented on #3188
Fixed here

https://github.com/alan-turing-institute/sktime/pull/3222

[2022-08-09 14:32] fkiraly opened #3224 "[ENH] reducer design for rework"
I think we need a small design document for the rework of the reducers. FYI @danbartl, given recent discussions.

Cases we should cover with modular design:

* lagging `X` and lagging `y`, lagging `y` but not lagging `X`
* use of contemporary `X`, use of shifted `X` (by forecasting horizon)
* use of transformers on `X`, e.g., window summarizer
* removing missing values created due to shifting/wind

[2022-08-09 15:58] fkiraly commented on #3221
Thanks for reporting!

This was unfortunately not caught since the dynamic metric class started with an underscore and was not collected by tests, so slipped under the test screen of the refactor.

Fixed here now: https://github.com/alan-turing-institute/sktime/pull/3225

[2022-08-09 16:45] #2628 closed

[2022-08-09 16:45] fkiraly commented on #2615
Fixed by #2486

[2022-08-09 16:45] #2615 closed

[2022-08-09 16:58] fkiraly commented on #2935
Ok. Closing then, as two remaining bullet points are tracked in #3020 and #3190.

[2022-08-09 16:58] #2935 closed

[2022-08-09 18:42] #2746 closed

[2022-08-10 01:34] eggboy42 opened #3230 "[BUG] `TrendForecaster` gives incorrect output"
**Describe the bug**
The TrendForecaster produces unusual outputs on levels different from the target series.

**To Reproduce**

[code]

**Expected behavior**
The forecasts should be straight lines extrapolating the linear historical trend.

**Additional context**
Would expect that the default behaviour is similar to the default behaviour of the `PolynomialTrendForecaster`. In `TrendForecaster`, t

[2022-08-10 04:08] achieveordie commented on #3169
That'd make for one interesting pull request for sure 😛

I was testing it locally and the testing seems to be failing for multiple permutations. I was looking through the `datatypes/` directory since these failures are results of how different datatypes are defined. I'm attaching the test and short summary from `pytest`.

Testing function:
[code]

Results:

[code]

- I'm probably using `check_is_m

[2022-08-10 12:33] AurumnPegasus commented on #3193
There is a minor doubt wrt this classifier:
Unlike other DL networks, which require just a simple `CNNNetwork` or `FCNNetwork` class, this particular model requires a `LSTMFCNNetwork` class, as well as an implementation of the `AttentionLSTM` model. In sktime-dl, the `AttentionLSTM` has been implemented in a different `utils` class.
I was wondering how should it be brought here.

[2022-08-10 12:33] aiwalter opened #3234 "[BUG] NotFittedError raised in BaseGridSearch when refit is False"
**Describe the bug**
related discussion: #3220

grid search is trying to predict on `self.best_forecaster_ = self.forecaster.clone().set_params(**self.best_params_)` which was not fitted and raises therefore a `NotFittedError`. The problem is that` evaluate() `does not return the last fitted forecaster but it can optionally return the `y_train `for each forecaster, so we can take that data to fit

[2022-08-10 12:37] aiwalter opened #3235 "[BUG] make_reduction predict() does not work with sktime forecasters"
**Describe the bug**
`make_reduction` does not work with `sktime` forecasters aka `scitype="time-series-regressor"`

[code]

**To Reproduce**

[code]

**Versions**
`main`

[2022-08-10 12:47] aiwalter commented on #3235
I would also propose to rename `"time-series-regressor"` to `"forecaster"` as scitype, I think that is better understandable

[2022-08-10 16:36] fkiraly commented on #3235
The scitype string currently is `"regressor"`, that inherits from `BaseRegressor` and is different from `"forecaster"` which inherits from `BaseForecaster`.

[2022-08-10 16:37] fkiraly commented on #3235
Silly question: why do tests currently not catch this?

[2022-08-10 18:13] aiwalter commented on #3235
@fkiraly is `time-series-regressor` an `sktime` forecaster? Or what is it?

[2022-08-10 19:05] fkiraly opened #3237 "[ENH] move fixture generation in `test_date` into test functions or fixtures"
The test module`transformations.series.tests.test_date` fits some estimators directly in the module, this would fail at test collection time rather than at test time (where it should).

The fitting should be moved into test functions, or `pytest` fixtures.

FYI @danbartl

[2022-08-10 19:07] #3188 closed

[2022-08-10 19:07] #3189 closed

[2022-08-10 20:21] fkiraly opened #3238 "[BUG] changelog generator removes PR"
There's still something not quite right with the changelog generator.

I've rerun the script after having merged some PR, and it removes merged PR as well as contributors that were previously in the changelog.

This is very odd, there does not seem to be a commonality between the entries.

Running the changelog generator against the current content of the 0.13.1 release branch changelog removes th

[2022-08-10 20:57] fkiraly commented on #3235
I think it's just the string used in `make_reduction` to indicate the argument is a time series regressor.

It is kind of redundant, since this information could be retrieved from the estimator by checking base class inheritance, or running the `scitype` utility on it.

The string used everywhere else, for time series regressors, is `"regressor"`, so the string here is also inconsistent with the r

[2022-08-10 21:13] fkiraly commented on #3169
Ok, let's pick this apart.

* you are using the `check_is_mtype` utility correctly!
* "no check defined" -> that's true. The `"pd-long"` and `"pd-wide"` types are not fully supported, checks are indeed not defined in the `datatypes._panel._check` module. Was not aware of that - perhaps worth opening an issue! For this PR, I recommend removing those mtypes from the test params.
* `assert False` ->

[2022-08-10 22:07] #3221 closed

[2022-08-10 23:16] fkiraly commented on #3238
FYI @lmmentel

[2022-08-11 13:37] achieveordie commented on #3169
`assert False` is a tricky one, turns out the bug is probably in our checker functions.

In case of `df-list`, the return type is indeed a list of `pd.DataFrame`, which can be checked via `type(X)` and `type(X[0])`. To see where the problem is, one can start with `return_X_y=True` and `return_type='df-list'`  with `mtype()` as shown:

[code]

It gives the following errors:

[code]

This is due to

[2022-08-11 13:48] achieveordie commented on #3169
As for our current problem, `return_type='df-list'` and `return_X_y=False`; `mtype(X)` is now unable to catch any mtypes after correcting above bug. So I used the check function directly to see source of error:

[code]
I can't understand why must every instance of `X[i]` be a series? Is this an appropriate checking for `df-list`?

[2022-08-11 14:57] khrapovs commented on #2598
@ngupta23 I am very sorry to make you wait so much. I have very little time lately for my hobby activities like this one :( I've been scratching my head over your proposal and been very afraid that this would lead to even more complexity in already confusing splitters. Nevertheless, I wanted to give it a shot with a draft PR and try to help you and PyCaret users. But in a couple of days I will dis

[2022-08-11 15:07] ngupta23 commented on #2598
@khrapovs No problem. I can relate to this :). For now, I have added the similar code to PyCaret so at least it is not a show stopper, but again, I feel that everyone is duplicating this effort. Perhaps from opinion from @fkiraly and @aiwalter would be nice.

[2022-08-11 19:42] danbartl commented on #3237
This was my first PR and you are absolutely right, will change upon return from my vacation :)

[2022-08-11 21:14] aiwalter commented on #3234
@acartro I have a PR, now there is just one question. When `refit is False`, the last window will be used to fit the best forecaster instead of all data. This comes with a problem bcz the `cutoff` (last training time point) will not be same as with all data bcz in my example above with an `fh=[1,2,3]` in cv, the cutoff of cv data will 3 steps in the past. What would be your expected behavior as a

[2022-08-11 21:35] fkiraly commented on #3169
@achieveordie, thanks for tracking down the bug!!!

I have fixed the instances I could find, in here.
https://github.com/alan-turing-institute/sktime/pull/3245

Vexing that these were not caught by tests, but I suppose it would have needed very speific fixtures inside negative tests.

[2022-08-11 21:37] fkiraly commented on #3169
PS, saw this in your profile:

Do you want to collaborate on building the deep learning sub-module for forecasting? That´s happening currently in a workstream. Ping me on slack if you are interested, would be keen to collaborate!

[2022-08-11 21:39] fkiraly commented on #3169
The specification of `df-list` is "a `list` of objects that are of mtype `pd.DataFrame`". Being of mtype `pd.DataFrame` means that the check `check_is_mtype(obj, "pd.DataFrame")` should pass. The condition is being of python type `pd.DataFrame`, plus a few additional conditions such as speific index types or ordering of indices.

[2022-08-11 22:37] fkiraly opened #3246 "[BUG] some user guide notebooks are not properly displayed"
The symbolic links for some of the user guide notebooks do not seem to work, see here:

https://www.sktime.org/en/latest/user_guide.html

Not quite sure what the issue is, seemed fine in the preview.

An issue might be that I did this manually instead of via using the `docs/symlink_examples.sh` utility - perhaps the fix is as easy as running the utility and making a pull request with the changes?

[2022-08-11 22:38] fkiraly commented on #3237
Enjoy your vacation!

I'll also mark this a good first issue, since it seems fairly simple to fix this. Maybe a good soul will fix it before you have returned 😄

[2022-08-12 11:59] fkiraly commented on #3193
That´s odd. Could it be refactored as a chile of `CNNNetwork`?

[2022-08-12 15:03] CadePGCM commented on #1447
Can you add a notebook that shows the functionality/use of MultiplexTransformer, OptionalPassThrough, TransformerPipeline, FeatureUnion, YtoX, etc.

Something exploring the space of transformation unions / compositions would be extremely helpful. This also might make sense as general functions to add to the library (union all transformations in the library), or some kind of (greedy/genetic?) algor

[2022-08-12 15:06] achieveordie commented on #3169
It's easy to find the source of error after your recommendation. The way current convert functions are defined does not account for the fact that the `class_val` column cannot be used with `.explode()` resulting in `Nan`s for this column which results in object types causing checks to fail. This can be seen while manually calling the set of functions that will otherwise be called by `.convert()`.

[2022-08-12 15:09] achieveordie commented on #3169
Thanks for the invitation! I'd really like to work with you and the team on the deep learning submodule. I'll ping you on slack. 😄

[2022-08-12 15:23] 4d30 opened #3247 "[BUG] ERROR: Couldn't install package: sktime"
**Describe the bug**
sktime cannot be installed.

`python setup.py egg_info `does not run successfully. There are multiple top-level packages discovered in a flat-layout: ['sktime', 'build_tools', 'extension_templates']

**To Reproduce**
Attempt an install of sktime

[code]

[code]

**Expected behavior**

It is expected that sktime installs without issue.

**Additional context**

This might be rel

[2022-08-12 15:35] fkiraly commented on #3247
Hm, it looks like:

* you are using an outdated version of `sktime`. Current is 0.13.1, your version is 0.8.0.
* you are not following the recommended install workflow via `pip`, for developer install, see https://www.sktime.org/en/stable/installation.html#development-versions

[2022-08-12 15:52] 4d30 commented on #3247
@fkiraly I don't know exactly what's happened. It appears as though, with some more digging, sktime==0.13.1 is installed despite this error message.

Remarkably if setuptools is not imported before before sktime, then there are adverse effects.

[code]

Closing issue, thank you for your time.

[2022-08-12 15:52] #3247 closed

[2022-08-12 15:53] fkiraly commented on #3247
That´s odd, @4d30 - do you get the error if you try to install sktime 0.13.1?

If so, there might be a bug here worth investiating!

[2022-08-12 16:41] 4d30 commented on #3247
@fkiraly  If  sktime==0.13.1 is explicitly set, then installation proceeds all nicey-nice.

If setuptools is not imported before sktime, an AssertionError is thrown for this install:

[code]

The knowledge of building python packages is a moving target that I've not spent much time learning about. Probably has to do with this thing called **_distutils_hack**

[2022-08-12 19:40] fkiraly commented on #3169
I made an attempted PR fix here: https://github.com/alan-turing-institute/sktime/pull/3250
Not elegant, but should do?

[2022-08-12 20:23] fkiraly commented on #1447
Yes! I was working on it:
https://github.com/alan-turing-institute/sktime/pull/1705
but there is always something more urgent - bugs, releases, docstrings, admin, etc... :-(

Help is appreciated (search for "good first issues" 😄 ) - anything that takes pressure off the various other places makes it more likely that we write nice notebooks.

You can already use things like the `ForecastingGridSearc

[2022-08-12 22:18] fkiraly opened #3253 "[BUG] `WindowSummarizer` error when used in recursive reducer"
From stackoverflow here:
https://stackoverflow.com/questions/73325333/call-windowsummarizer-from-sktime-recursively-to-the-forecasting-target-y-in

original message on stackoverflow:

---

I need help on how to use the WindowSummarizer function from the SKTIME library recursively in the future.

Because in the training and test data it is easy to generate the variables of moving averages and movin

[2022-08-12 22:18] fkiraly commented on #3253
FYI @danbartl

[2022-08-12 22:21] fkiraly commented on #3253
I wonder, would we expect this to not break?

For reduced regression, the `WindowSummarizer` would need to produce values far enough in the future (up to 100 periods) - but from the settings it looks like that it does not?

[2022-08-13 13:47] mairassa commented on #3253
Hello guys.

I was trying to use WindowSummarizer() in the same style as recursive() command from modeltime library in R, like showed in this link:  https://business-science.github.io/modeltime/articles/recursive-forecasting.html

[2022-08-14 08:47] fkiraly commented on #3253
Hm, I might not fully understand the algorithm that you are trying to run here.
From a very naive inspection, your exogeneous lags are not compatible with the forecasting horizon values.
Could you explain?

Here's my understanding so far:

For recursive regression with exogeneous data (coming from the `WindowSummarizer`, do you not need exoeneous data (actual/observed, or lagged) being present at

[2022-08-14 08:48] fkiraly commented on #3253
PS: we're not just guys.

[2022-08-14 10:09] fkiraly opened #3265 "[MNT] decommission `module:dists_and_kerns` label in favour of `module:distances`"
Let's decommission the `module:dists_and_kerns` label in favour of `module:distances`.

The former has only been used once, and the latter has typically been used for both modules, historically.

Going forward, there is also no good reason to keep two separate labels as the two modules are directly connected - `distances` does not expose a `BaseObject`-like interface, but is consumed by `dists_and

[2022-08-14 13:16] ltsaprounis commented on #3224
One more point from me:
- Use of transformers that are applied on the index such as the `DateTimeFeatures` transformer and other transformers that could be applied to the hierarchy features of hierarchical time series.

[2022-08-14 13:18] ltsaprounis commented on #3224
Would that force passing `fh` on fit?

[2022-08-14 13:36] fkiraly opened #3267 "[BUG] Updating a `TransformedTargetForecaster` with `Deseasonalizer` breaks"
From discord help-desk, @foobar

[code]

Gives an error `TypeError: _fit() got an unexpected keyword argument update_params`

Workaround: Pass `Deseasonalizer` into a `OptionalPassthrough` object
i.e.  `sktime.transformations.series.compose.OptionalPassthrough(Deseasonalizer(...))`

[2022-08-14 13:53] fkiraly commented on #3267
confirmed, the line with the `_fit` call should not have `update_params` in it, that is not a `fit` parameter.

[2022-08-14 17:12] ppias commented on #631
Hi @TonyBagnall. Sorry to inform we aborted the idea. The algorithm was not that efficient as we expected. Even after several improvements it was barely better then 1NN or simple random forest.

Sorry it took so long - issue may be closed now. Anyway, maybe will contribute to Your great library in the future in some other way.

[2022-08-15 15:53] fkiraly commented on #3214
Aug 15 meeting notes here:
https://hackmd.io/uymslbTLQSiteSBrNWOptw

Snapshot:

## previous material

input-output. (also includes some discussion on base class design)
https://github.com/alan-turing-institute/sktime/discussions/2848

annotation STEP
https://github.com/sktime/enhancement-proposals/blob/main/steps/06_time_series_annotation/step.md

## consolidation of conceptual model

summary of i

[2022-08-15 15:54] fkiraly commented on #3224
I suppose so?

[2022-08-15 21:55] KatieBuc commented on #3214
Reading through the notes, I think an important point I was making got lost in translation - I brought up Hidalgo as a Transformer which is what @aiwalter and I were discussing last week. I was talking about algorithm assignment to be either an Annotator(Estimator) or a Transformer, based on the nature of the algorithm itself (i.e. can it make inferences on unseen data, this means to predict in th

[2022-08-15 23:12] fkiraly commented on #631
alright, thanks for letting us know.

[2022-08-15 23:12] #631 closed

[2022-08-16 10:12] fkiraly commented on #3214
Thanks for clarifying, @KatieBuc! Sorry if I did not note this down clearly.

Regarding this, I think this is not entirely correct, and the issue is along a common but subtle misconception.

Transformers and predictors (supervised tabular estimators in sklearn), *when already fit*, have `transform` and `predict` behave like a function $f : \mathbb{R}^{n x m} \rightarrow \mathbb{R}^{n x 1}$. But th

[2022-08-17 10:08] aiwalter commented on #3214
for me its still not clear what annotation is, I dont see it as a new learning problem but as how you use existing learning problems like transformation, regression, classification and forecasting (intrapolation). Annotation seems to be research marketing but not a new learning problem? I think we should be really cautious here and not create an artificial learning problem.

Annotation in natural

[2022-08-17 12:04] lmmentel opened #3280 "[DOC] Document tags"
#### Describe the issue linked to the documentation

Tags are increasingly used in estimators but are not documented anywhere. Neither what tags are available (in use), how to use them, when to use which tag, how to add new tags, how to remove obsolete tags etc.

#### Suggest a potential alternative/fix

Add documentation for tags.

[2022-08-17 17:29] fkiraly commented on #3214
@aiwalter, I see your point!
Though, I think you are overgeneralizing from a sub-class of examples.

There are sub-classes of examples that can be expressed as (or very easily reduced to, depending on viewpoint), to instances of current `BaseTransformer` interfaces. But that subsumes only some of the unsupervised tasks.

The following do not correspond, signature-wise, to any existing sktime or sk

[2022-08-17 17:32] fkiraly commented on #3214
I think the argument in tabular data is much weaker, since annotation can be seen in reference to a continuous index axis ("time"), e.g., "the change point is at 10:00 am", whereas such a reference to an index axis does not make sense in the tabular data setting, where the index can be arbitrarily permuted without changing the task. Annotations in the tabular setting instead refer to individual sa

[2022-08-17 17:35] fkiraly commented on #3214
Actually, I do not think it is a "marketing term" - research marketing lingo typically refers to a specific sub-task (e.g., change-point detection) which better captures the imagination of users or funders.

Annotation was used by us in an attempt to subsume similar learning tasks under a "transformer-like" interface commonality abstraction, in analogy to image annotation.

[2022-08-17 17:39] fkiraly commented on #3214
overall, @aiwalter, I agree with you in the following sense:
I think for unsupervised tasks, we need to seriously consider the option of just using `BaseTransformer`, or making minor extensions to it!
The original design came from a time where we had multiple transformer classes based on input/output type, but now we can control that via tags.

Perhaps it is as simple as just introducing another t

[2022-08-17 20:31] Lovkush-A commented on #3214
As a comparison (for unsupervised case), sklearn deals with clustering by introducing [a mixin](https://github.com/scikit-learn/scikit-learn/blob/9aae2adf9198172ec2f583db03c046434709c036/sklearn/base.py#L692) (which redefines default `fit_predict` and some tag).  Then concrete clusterers inherit from a bunch of mixins. For example:

[code]

This is similar to Franz's suggestion of a 'minor extensi

[2022-08-17 21:13] miraep8 commented on #3214
I also really appreciate the points brought up by @aiwalter and @KatieBuc 👍

It actually made me wonder - in addition to there being cases where an annotator is like a transformer, are there not also cases where an annotator is like a predictor?  ie - if you consider the "annotation label" to instead be the "target value `y`" then couldn't it be said that the case:

 - supervised panel annotation

[2022-08-18 04:44] TNTran92 commented on #2804
@DBCerigo I suggest adding M5 to the dataset. Since M4 was assigned to you(#2989), can I take M5?

[2022-08-18 10:47] aiwalter commented on #3214
@fkiraly

This is exactly the more important point of annotation, which data type/data container can represent it. But for this we dont need a new base class. In `pandas`, an annotation could probably best be represented as a (multi-)index. For this we could do one of following 2 solutions:
1) Create a transformer composition `Annotator` or `Indexer` which will get a tranformer and instead of retu

[2022-08-18 14:05] DBCerigo commented on #2804
@TNTran92 sure thing. I haven't look properly as what adding M4/M5 would entail nor how I think it could/should interact with `benchmarking` but defs dive in if you have the time. I'll start looking into it after #2977 is merged and I've reassessed what I think is best to work on next.

[2022-08-18 18:54] fkiraly opened #3285 "[ENH] extend `ConformalIntervals` to multivariate forecasts, properly"
`ConformalIntervals` currently exhibits unexpected behaviour when wrapping a forecaster that is potentially multivariate.

Instead of taking the multivariate residuals and then applying itself per variable, it always applies the internal forecaster in univariate fashion, then takes residuals, then computes intervals on the univariate residuals.

The expected behaviour would be, as said, taking mul

[2022-08-18 18:59] fkiraly opened #3286 "[ENH] offset for `LogTransformer`"
It should be possible to specify an offset and scale for `LogTransformer`.

Based on the suggestion of @ilkersigirci here:
https://github.com/alan-turing-institute/sktime/discussions/3275

My approach would be adding `offset` and a `scale` parameter (with defaults 0, 1).

[2022-08-18 19:19] fkiraly opened #3288 "[ENH] `ARDL` leftover items"
Some todo issues remaining in the `ARDL` interface:

- [ ] `_update` with `update_params=False`
- [ ] probabilistic forecast interface
- [ ] add the estimator the API reference (docs)

The first point seems difficult, the last one easy, so good first issue (not `_update`)

[2022-08-18 19:32] bethrice44 commented on #3285
Yes I agree, that makes sense to me.

A semi-related thing I have been thinking about is improving the speed of the wrapper, which would also help here if we are looping through. For things like walk-forward validation (refitting each step) the wrapper adds a fair amount of time. Each row we calculate of the residuals matrix is independent - could we potentially parallelise it?

[2022-08-18 20:08] miraep8 opened #3289 "[ENH] Implement ESPRESSO estimator"
### ESPRESSO Entropy and ShaPe awaRe timE-Series SegmentatiOn

**ESPRESSO** is a single parameter method for segmenting time series data in an unsupervised manner.  The full paper describing the algorithm can be found [here](https://arxiv.org/abs/2008.03230) but below is a short summary and plan of attack!  As you can see there are actually many parts to this algorithm, some of which we should be

[2022-08-18 20:09] fkiraly commented on #3289
hm, looks ilke this is a pipeline of multiple transformers/estimators? Yes, good idea to chop it up. We should also think of the right pipeline constructs here!

Btw, I think there is a wrapper for `matrixprofile` in `sktime` already.

[2022-08-18 20:18] miraep8 commented on #3289
Excellent!

To turn it into a proper pipeline we could create some sort of a `GreedySearchChangepoint` estimator, that takes a loss function and a set of possible change points.  Then we have a more modular structure that can be adapted to take in different loss functions (ie other than the entropy based loss function used here) and/or different change point candidates.

[2022-08-18 20:49] fkiraly commented on #3285
I would work with efficient `update`, here - e.g., ensure that in `GridSearchCV`, we remember predictions of the contender estimators, not just of the best estimators, so we do not need to re-run the entire set of windows. Perhaps via an option, because this is a memory/speed trade-off.

[2022-08-19 07:44] benHeid opened #3291 "[BUG] Update Predict Only Works with the mtypes pd.Series and pd.DataFrames"
**Describe the bug**
UpdatePredict only works with the mtypes pd.Series and pd.DataFrames even if the documentation states that also numpy is supported However, if numpy is selected an error is raised. Even if all are from the  scitype Series.

**To Reproduce**

[code]

**Expected behavior**
I would expect that update_predict works with every mtype that implements the series scitype. If this is no

[2022-08-19 10:09] AurumnPegasus opened #3293 "[ENH] Adding Encoder DL Classifier for classification"
**Is your feature request related to a problem? Please describe.**
Migrating Encoder Classifier from sktime-dl

[2022-08-19 10:10] AurumnPegasus opened #3294 "[ENH] Adding MACNN DL model for classification"
**Is your feature request related to a problem? Please describe.**
Migrating MACNN from sktime-dl to sktime for classification.

[2022-08-19 10:12] AurumnPegasus opened #3295 "[ENH] Adding MCDNN DL model for Classification"
**Is your feature request related to a problem? Please describe.**
Migrating MCDNN  model from sktime-dl to sktime for classification.

[2022-08-19 13:24] TNTran92 opened #3296 "[ENH] Data Loader for M5 Dataset"
**Is your feature request related to a problem? Please describe.**

At the moment, there is no data loader for M5 dataset. Addition of this dataset will help greatly enhance our bench marking ability. The M5 dataset gives historical sales data and asked users to predict sales for two 28-day time periods. The dataset contains the following files:
* calendar.csv - Contains information about the date

[2022-08-19 14:53] bethrice44 commented on #3285
Ok that makes sense. I changed my walk-forward validation to use `update` instead of `refit` and it sped it up a lot (with no changes to any of the underlying code), so perhaps could add that to the docs as a suggestion?

[2022-08-20 08:50] fkiraly commented on #3265
done

[2022-08-20 08:50] #3265 closed

[2022-08-20 09:22] fkiraly opened #3299 "[ENH] refactor `TimeSeriesKMeans` and `TimeSeriesKMedoids` - general distances, shared boilerplate"
It looks like `TimeSeriesKMeans` and `TimeSeriesKMedoids` could use a refactor:

- [ ] both algorithms should allow use of arbitrary distances, not just the hard-coded ones in the `distances` module. See `KNeighborsTimeSeriesClassifier` for how to allow general distances.
- [ ] lots of shared boilerplate code, this should be reduced. One could even try to merge this into one class, with medoids an

[2022-08-20 09:43] fkiraly opened #3300 "[BUG] pmdarima 2.0.0 incompatibility - return indices"
Soft dependency `pmdarima` 2.0.0 was released a few hours ago, and it seems to break our `ARIMA` interface.

Suspicion: return indices are now absolute and no longer relative to the cutoff.

[2022-08-20 15:36] #3169 closed

[2022-08-20 15:37] fkiraly commented on #3296
(could you kindly add descriptive issue text?)

[2022-08-20 15:38] fkiraly commented on #3285
Which estimator and which situation? Sorry, I don't get the gaps in your statement (perhaps I should)

Depending on what you mean, this could be a better default? May need deprecation though.

[2022-08-20 15:47] TNTran92 commented on #3296
Added some descriptive text

[2022-08-20 15:47] TNTran92 commented on #3296
Added some descriptive text

[2022-08-21 09:36] fkiraly commented on #2374
@jambo6, have you investigated this?

Is the current state error-free? If so, we can close this.

[2022-08-21 09:41] fkiraly commented on #2043
FYI @paulbauriegel, @achieverordie, @TNTran92.

Related discussion: https://github.com/alan-turing-institute/sktime/pull/3303
write/load were inconsistent since they seemed to assume minimally different format specificaitons (identifier strings).

I think we should document the file format properly.

@paulbauriegel, @achieveordie, you looked recently into loaders/writers, so you are probably the r

[2022-08-21 13:02] #3267 closed

[2022-08-21 15:40] valeman commented on #3162
Awesome decision @fkiraly 👏

[2022-08-21 15:58] adamcataldo opened #3311 "[BUG] AutoETS.fit generates an unneeded UserWarning when auto=True and additive_only=True"
**Describe the bug**

When:

1. AutoETS is constructed with auto=True and additive_only=True, and
2. AutoETS.fit is called with a series with negative values
A UserWarnings gets generated.

_UserWarning: Warning: time series is not strictly positive,multiplicative components are ommitted_

**To Reproduce**

[code]

**Expected behavior**

This warning should not be generated. Because additive_only

[2022-08-21 16:02] fkiraly commented on #3311
agreed, thanks! Good first issue since it seems like a simple thing. Contributions appreciated!

[2022-08-21 19:02] paulbauriegel commented on #2043
It should be noted that the current implementation supports both `@classlabel` and `@classLabel` due to

[code]

in `_read_header` (line 247) in `sktime/datasets/_data_io.py`.

As @fkiraly mentioned there is no common standard for instance most datasets from [tseregression.org](http://tseregression.org/) like `AppliancesEnergy` uses all lowercase notation.
And most classification datasets from [ww

[2022-08-21 20:14] paulbauriegel commented on #2043
I checked all datasets from here: [Regression](https://zenodo.org/record/3902651) & [Classification](http://www.timeseriesclassification.com/dataset.php). I don't understand the specification completely but this is what I got so far:

### Specification for Regression datasets

|metadata name |data type|comment|
|--------------|----------|----------|
|`@problemname`|`string`     |Name of the data-s

[2022-08-21 22:16] fkiraly commented on #2043
@paulbauriegel, very helpful!

Looks like we will have to work with aliases here, to agree with all existing data files - apparently they have been handled inconsistently

How is the `@data` field structured?

Other questions:
Can the data format currently store:

* the time index for a collection of time series of different length, or with different index set?
* a single time series (in constrast

[2022-08-21 23:16] fkiraly opened #3313 "[BUG] `WindowSummarizer` should not require transformer args to have `truncate_start` arg"
`WindowSummarizer` should not require transformer args to have `truncate_start` arg, as that is not a general interface point of transformers. As such, this is a bug (and frustrates user expectations).

Making a note of this so we do not forget fixing that.

FYI @grzegorzrut, @danbartl.

[2022-08-21 23:45] juliencarponcy opened #3314 "[DOC] CNN estimators links dead in Estimator overview"
#### Estimator overview has some dead links:

Hi, I was just browsing around a bit randomly and found some dead links.
As far as i can tell, this concerns all the estimators whose names begin by CNN:

https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.classification.deep_learning.cnn.CNNClassifier.html
https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.networks.

[2022-08-22 07:45] JasonSanchez opened #3315 "[DOC] Docstring lists wrong default for `SlidingWindowSplitter` parameter `start_with_window`"
Default for this argument is actually True.

https://github.com/alan-turing-institute/sktime/blob/824804c785fb97e20c29045ee058181ceeb9418b/sktime/forecasting/model_selection/_split.py#L1107

[2022-08-22 09:22] fkiraly commented on #2921
@lmmentel made an observation, possibly the cause?

[2022-08-22 09:23] fkiraly commented on #3315
Thanks for reporting - should be a really easy fix (good first issue)

[2022-08-22 13:11] ciberger commented on #3300
This breaks function

[2022-08-22 14:52] AurumnPegasus commented on #2467
Facing the same in #3232 for (3.9, macOS-11)

[code]

[2022-08-22 17:08] wregter opened #3316 "[BUG] Errors when using the recursive strategy in make_reduction when forecasting panel data"
**Describe the bug**
 I experience errors when using panel data and the recursive strategy in make_reduction. I would like to use scikit-learn regressors to perform global forecasting on panel data but the predict method is giving me errors that I do not know how to solve.

Side note: in the reproducible code I set the multiindex to integer values because otherwise this also produces an error.

**

[2022-08-22 17:16] fkiraly commented on #3316
@danbartl, FYI - any ideas?

It looks like the output is not a hierarchical data frame, but a pandas Series - that looks wrong.

[2022-08-22 17:19] fkiraly commented on #3316
we need to add tests for this, too

[2022-08-22 18:48] chillerobscuro commented on #3311
I've been looking to contribute and this seems like an easy first issue, I'll put in a PR for this shortly.

[2022-08-22 19:35] TNTran92 opened #3319 "[ENH] Classification Benchmarking with kotsu v2"
**Is your feature request related to a problem? Please describe.**
Following #2977, there should be a benchmark factory for classification task. Such factory will help with performing multiple becnhmarking study automatically.

The solution will apply #3218 to produce a kotsu-based classification becnhmarking study.

**Describe the solution you'd like**
A classification benchmarking framework that

[2022-08-22 21:08] fkiraly commented on #3300
@ciberger, @ngupta23, this relates to an old discussion here:
https://github.com/alan-turing-institute/sktime/issues/1480

There are two opposing poles in the discussion:
* we should not have defensive version bounds, since that is not nice for reverse dependencies and, if everyone does this, it might ultimately lead to unsatisfiable constraint combinations
* we should have defensive version bound

[2022-08-22 21:09] fkiraly commented on #3300
Either way, the 0.13.2 release will have the pmdarima bound in.

[2022-08-22 21:13] fkiraly opened #3320 "[BUG] ensure all forecasting reducers are tested via the default test suite"
Currently, the forecasting reducers are not tested in the test suite, because `all_estimators` does not retrieve classes starting with an underscore `_`, and the reducer classes do start with an underscore.

The reducer classes do start with underscore, but are concrete, not abstract, so should have been tested.

This has led to undetected bugs and regression not covered, see https://github.com/al

[2022-08-22 21:14] fkiraly commented on #3316
reason this was not detected is an oversight in the test suite: it collects all estimator classes (e.g., forecasters) but discards all starting in underscore `_` (assuming these are base or abstract)
https://github.com/alan-turing-institute/sktime/issues/3320

This probably means that bugs have crept in in recent refactors, and the test suite did not cover regression.

[2022-08-22 21:31] fkiraly commented on #3320
this is actually incorrect, the reducers do not start with underscore

[2022-08-22 21:31] #3320 closed

[2022-08-22 21:32] fkiraly commented on #3316
reason for test failure is probably that this is not done correctly:
https://github.com/alan-turing-institute/sktime/issues/2460
I suspect we currently do not test hierarchical scenarios for forecasters that claim to handle them genuinely.

That needs to be addressed in the tests.

[2022-08-22 21:45] aiwalter commented on #3300
can someone paste the exception message here? @ciberger what is "data" in your case?

[2022-08-22 22:11] aiwalter commented on #3300
i am getting
[code]
but this seems unrelated to `pmdarima` version?

[2022-08-22 23:11] #3311 closed

[2022-08-23 08:21] ciberger commented on #3300
I suspect the issue appears on the `fh` parameter from `predict`. Defined as list or with `ForecastingHorizon` triggers the error.

Here you have the error message.
[code]

I highly thought this is generated due an index issue in the input data.

[2022-08-23 10:15] aiwalter commented on #3300
I can just see a warning, please share full trace

[2022-08-23 12:52] ciberger commented on #3300
Full trace
[code]

[2022-08-23 13:19] aiwalter commented on #3300
@ciberger are you getting any deprecation warning on the last old version that is working if you set `suppress_warnings=False`? If not, we should complain at `pmdarima` about it. In future, we can avoid such issues if we have a CI/CD pipeline step that checks for deprecation warnings so we can see them before the actual deprecation is happening

[2022-08-23 15:53] fkiraly commented on #3316
Tests are fixed now and correctly pick up this issue. Will temporarily fix this (forcing local pooling) via #3326.

Prototype on how we can easily switch between global and local pooling is in #3327 (though that is direct reduction).

[2022-08-23 16:54] fkiraly commented on #3300
I don't think there was any deprecation warning coming from `pmdarima`, afaik this happened without a forewarning.

The error above is precisely the one that CI/CD also caught already when I opened this issue.

The root cause I do not fully understand, since index behaviour seems to be one way or the other (new/old), inconsistently.

[2022-08-23 17:18] fkiraly opened #3328 "[ENH] ensure codecov is correct given partition/matrix design testing"
Since we've introduced partition/matrix design in testing (https://github.com/alan-turing-institute/sktime/pull/3137 - estimators are distributed across os/version so that each os and each version sees each estimator at least once), the good news is that test time is down to 30-50min per CI item, from 1-2 horus.

The bad news is that codecov seems to be affected by this, generally reporting a lowe

[2022-08-23 19:35] miraep8 opened #3329 "[BUG] Strange ImportError bug in jupyter notebook"

[2022-08-23 19:35] #3329 closed

[2022-08-23 20:14] #2179 closed

[2022-08-24 12:04] tarpas commented on #2530
@fkiraly quick update: I didn't forget about testmon or sktime but the combination of sktime + xdist + coverage collection is causing problems which are hard to diagnose and hard to fix. There will be a release of testmon which supports xdist with a good performance soon, but the sktime + xdist + coverage will probably not be supported initially. I'll get back to sktime after testmon has been vali

[2022-08-24 12:18] rohan-gt commented on #2173
Any update on this enhancement?

[2022-08-24 16:20] bugslayer-332 commented on #3315
Hi, I am a beginner in Open Source, and I would love to start contributing to sktime with this issue. I have looked at the code base and figured out that this error is in the documentation of the SlidingWindowSplitter function. Am i right?

[2022-08-24 17:53] fkiraly commented on #3224
PR with a prototype design for direct and recursive forecasting:
https://github.com/alan-turing-institute/sktime/pull/3333

Solves the above points as follows:

reducers by default *do not apply any transformations (incl lagging) to `X`*, only to `y`.
* to lag `X`, the `Lag` transformer needs to be applied in a pipeline to exogeneous data.
* to lag `X` and not `y`, apply the `Lag` trafo to exog, a

[2022-08-24 17:54] fkiraly commented on #3224
FYI @KishManani, @ngupta23, @wregter, @danbartl, @ltsaprounis, @grzegorzrut - any comments?

[2022-08-24 17:56] fkiraly commented on #3316
@wregter, many apologies again for this, the tests did not catch the bug.

I coded up a recursive strategy now along the newer prototype design, hope this satisfies your requirements:
https://github.com/alan-turing-institute/sktime/pull/3333
still experimental, but perhaps what you were looking for - and feedback is appreciated!
(any feedback here, please: https://github.com/alan-turing-institute/

[2022-08-24 18:08] fkiraly commented on #3300
@ciberger, 0.13.2 is released now with a <2.0.0 bound on `pmdarima`, which fixes the symptom temporarily. Any insight on what is going on with `pmdarima 2.0.0` would be appreciated.

[2022-08-24 19:25] fkiraly commented on #3280
made an effort in the forecasting extension template here: https://github.com/alan-turing-institute/sktime/pull/3334

What do you think, @lmmentel?

[2022-08-24 19:29] fkiraly commented on #3315
Yes, happy bugslaying!

[2022-08-24 19:31] fkiraly commented on #2173
hmm, @rohan-gt, history is, I think:

* @Vasudeva-bit started this here https://github.com/alan-turing-institute/sktime/pull/2282 but then abandoned it
* @lbventura recently added a lot of proba interfaces and estimator interfaces, so I asked him to look at the abandoned PR whether it is easy to wrap up
* the jury is still out on that - what do you think, @lbventura? what still needs doing? is thi

[2022-08-24 19:33] fkiraly commented on #2530
hm, is coverage collection perhaps related to this?
https://github.com/alan-turing-institute/sktime/issues/3328

Apologies, I did not think carefully of testmon when we introduced the partition design here: https://github.com/alan-turing-institute/sktime/pull/3137
That makes individual CI jobs to run only a subset of estimators, which confuses codecov.

If we were to use testmon, we would first re

[2022-08-24 19:38] fkiraly commented on #3314
@juliencarponcy, thanks for reporting this!

Reason is that the estimators seem to have moved to other folders, e.g., `CNNClassifier` is now in `sktime.classification.deep_learning`.

A full repository search should reveal where the classes have moved to, so this is a good first issue!

There is a "hard version" of this, which is writing a test that checks that all links in the API reference are a

[2022-08-24 19:39] fkiraly opened #3335 "[ENH] add test that checks all API reference links to be alive"
We should test that all API reference links are alive.

Not sure how to do that, an example of unnoticed link breakage is https://github.com/alan-turing-institute/sktime/issues/3314 as highlighted by @juliencarponcy

[2022-08-24 20:03] paulbauriegel commented on #2043
Will try to answer those questions in detail as soon as I get to it. Linking existing documentation on the topic here for now:
- https://github.com/alan-turing-institute/sktime/blob/main/examples/loading_data.ipynb
- https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb

[2022-08-24 23:19] ilkersigirci commented on #3224
Thank you for this refactor. ` RecursiveReductionForecaster`  doesn't work with keras models that are imported from `sktime-dl` unlike `make_reduction` scitype=time-series-regressor, right? It seems to just work with sklearn models

[2022-08-25 05:54] wregter commented on #3224
These changes are great. I was wondering: what about the use of covariates in X of which we do not know the future values? Sklearn regressors are capable of handling these, but might they need any special treatment in the reducer? For example, when we have a dataset of past data we do have the future (test) values for these covariates. But in order to test a realistic scenario, we would need to se

[2022-08-25 07:34] KatieBuc opened #3337 "[ENH] Add STRAY anomaly detection"
Add STRAY (Search TRace AnomalY) anomaly detection [1].

"The HDoutliers [2] algorithm is a powerful unsupervised algorithm for detecting anomalies in high-dimensional data, with a strong theoretical foundation. However, it suffers from some limitations that significantly hinder its performance level, under certain circumstances. In this article, we propose an algorithm that addresses these limita

[2022-08-25 11:56] farhana-dansic commented on #2663
I am getting a similar error.

_ImportError: Numba needs NumPy 1.22 or less_

[code]
Tried many alternative solutions found on several pages. Nothing resolved the issue. Can anyone please guide?

[2022-08-25 12:50] ilkersigirci commented on #3224
In the new design, `_predict_out_of_sample` takes approximately 10x more time than old design. After some debugging, I have found out that [these fit_transform](https://github.com/alan-turing-institute/sktime/blob/26b8146ae4ddec66d82c9db533a59abd33503de4/sktime/forecasting/compose/_reduce.py#L1889) codes are the main culprit. FYI @fkiraly

[2022-08-25 14:08] bugslayer-332 commented on #3315
@fkiraly I have submitted a PR https://github.com/alan-turing-institute/sktime/pull/3340 can you please review and provide you valuable feedback. Any mistake from my side,please inform..

[2022-08-25 16:19] fkiraly commented on #3224
@ilkersigirci, correct - the current prototypes do not work with time series regressors (yet), but that's an easy change down the line. This is more for aligning on the design, e.g., are the parameters the right ones, is this intuitive to use, etc.

[2022-08-25 16:21] fkiraly commented on #3224
@ilkersigirci, really? That's unexpected. Is this not just a wrapper of pandas shift?

Do you know whether the time is lost in conversion, e.g., having a numpy implementation for `Lag` would solve it? (I can then get to it, it's easy)

[2022-08-25 16:23] fkiraly commented on #3224
There are three ways I can think of:
* use `"shifted"` mode in the direct reducer, that requires only past values of covariates. In this mode, we are shifting the past values of `X` to align with the future values of `y`, so no NA are created.
* use a transformer that moves past `X` to the future and/or transforms `X`, in a `**` pipeline/`ForecastingPipeline`
* use the `ForecastX` wrapper

[2022-08-25 16:26] ilkersigirci commented on #3224
When I analyze the code with `profile` in pycharm to see which function has taken too much time, I have found that execution of numpy diff function took most of the time. I don't know if simple conversion to numpy fix this problem but I think this is a crucial point since for example forecasting 30 pointz ahead takes 6 seconds with lightgbm. It should be nearly instant.

[2022-08-25 16:27] fkiraly commented on #3224
I thought of this - we could simply patch a collection of lag through to the `Lag` transformer used internally, here's from the docstring on the `lags` value:

[code]

Though I thought, it might be too confusing?
Since a window is a common choice, so passing an integer would hav ambiguous intuitive meaning, i.e., "7" could mean: only the lag of 7, vs all lags 1, 2, ... 7.

On the other hand, confi

[2022-08-25 16:28] fkiraly commented on #3224
we could also allow passing a transformer that is applied to `y`? E.g., `WindowSummarizer`.

[2022-08-25 18:20] lbventura commented on #2173
I still have not looked at this closely because I have an exam Saturday. I will take a closer look to it during the weekend. Can comment that the task is probably easy if the `arch` package already has a method to compute probabilistic forecasts, in which case we would only have to adapt it to our purposes (as I did for `statsmodels`). If it is not implemented, we would need to do so from first pr

[2022-08-25 18:53] ltsaprounis commented on #3224
I think the clean solution in this case is adding a new variable, say, Z, that represents these observed values that are not the target and we don't have their future values. The solution of shifting those based on the horizon is a hack to avoid this.

[2022-08-25 19:05] bugslayer-332 commented on #3286
@fkiraly I would like to work on this issue. From what I have understood till now, np.log(data) gives an error for very small values of the data. And after reading your discussion, I got clarity on why offset should be used and how to fix that in code, but the [scale] parameter is what I am not able to understand. Any input from your side would be appreciated.

[2022-08-25 19:23] ltsaprounis commented on #3224
Also we need a way to create exogenous variables based on the absolute horizon.
For example, dummy seasonality ([DateTimeFeatures](https://github.com/alan-turing-institute/sktime/blob/0bd87682f0b67ff2fec49921a43d2fc17674205a/sktime/transformations/series/date.py)) and/or Fourier features (coming soon) are exogenous variables of the form of X that are generated from the time index only.

In general

[2022-08-25 21:34] fkiraly commented on #3286
the ideas is as follows: the data is being transformed as `scale * (data + offset)`

[2022-08-25 21:35] fkiraly commented on #3224
Why does adding a new variable in the interface solve this? You would still have to shift them if you want to use contemporaneous direct reduction.

[2022-08-25 22:01] vattyamp opened #3344 "[BUG] make_reduction 'Level type mismatch' when fitting model"
**Describe the bug**

I experienced this error when using make_reduction with any window size to fit and predict. When running `.predict`, it seems to be slicing indicies that are not in the test set. My date range for the test set goes from  2022-05-19 to 2022-05-25 but the error is with the date 2022-05-12, which is the the window_length number of days before the start day. The data is in hierar

[2022-08-25 22:06] fkiraly commented on #3344
Thanks for reporting.
While we look into this, would you like to try out the new prototype that can to global fitting? https://github.com/alan-turing-institute/sktime/pull/3333

Feedback/ideas here: https://github.com/alan-turing-institute/sktime/issues/3224

[2022-08-25 22:06] fkiraly commented on #3344
Oh, and could you provide a self-contained example? I.e., including imports, creation of dummy data, etc, or it will be much harder to debug.

[2022-08-25 22:09] fkiraly opened #3345 "[BUG] `Differencer` returns original data instead of inverting when all in-sample"
From @ilkersigirci in #3277.

Unexpected behaviour when `Differencer` is asked to inverse transform in-sample and used inside a target transformation forecasting pipeline - because `Differencer` just retrieves the data seen in `fit`.

---
Assume that I want to log&diff y and X and use ARIMA model as forecaster. When I tried to get in_sample prediction of the pipeline, I got exactly original y data

[2022-08-25 22:30] vattyamp commented on #3344
I created an example from scratch:
[code]
The data I used in this example was from the example set. The error I get when I run this block is

TypeError: Level type mismatch: 1

[2022-08-25 22:31] fkiraly commented on #3224
That's odd, because we use `pandas.shift` under the hood. Could you post some minimal self-contained code?

Here's another thing that it could be, if you are using hierarchical data:
the old reducer, by default, fits per instance, and it cannot do global fitting. The new reducer, by default, fits on the entire pooled data.
To compare like with like, set `pooling = "local"` in the new reducers.
Of

[2022-08-25 23:03] fkiraly commented on #3345
Thanks for the explanation, @ilkersigirci.

I looked in the `Differencer`, and there was a strange shortcut that had the described effect precisely under the condition that you outlined. Puzzled why it was there, but it's gone now: https://github.com/alan-turing-institute/sktime/pull/3346

[2022-08-25 23:25] ilkersigirci commented on #3224
I am using single time series data. For example purposes, I experimented with `load_airline` data. As you can see in the code, oos time difference between two methods is huge

[code]

[2022-08-25 23:41] fkiraly commented on #3344
ah, this bug was fixed in 0.13.2.

Duplicate of #3316.

If you want a global fit, see #3333 (experimental).

[2022-08-25 23:41] #3344 closed

[2022-08-26 01:39] liuxiangchao369 commented on #1733
m.fit(df.loc[idx, ['ds', 'y', 'cap', 'floor']], verbose=False)

[2022-08-26 01:40] liuxiangchao369 commented on #1733
m.fit(df.loc[idx, ['ds', 'y', 'cap', 'floor']], verbose=False)       # set verbose=False can hide the log

[2022-08-26 05:17] R470R opened #3347 "[ENH]"
**Is your feature request related to a problem? Please describe.**
Can't use my normal stored locally csv

**Describe the solution you'd like**
Is there some simple way for me to turn a normal csv file (ex Date Open High Low Close) to the required format for multivariate timeseries classification?

**Describe alternatives you've considered**
tried multiple ways to reshape but still receive error

[2022-08-26 08:36] #3192 closed

[2022-08-26 08:41] benHeid opened #3348 "[ENH] Add option to provide sparse output for BaseForecasters.update_predict()"
**Is your feature request related to a problem? Please describe.**
Currently, the output of `update_predict` is not memory efficient. Currently, the output is structured as follows:

|                  | Date0 | Date1 | .. | Date N |
|------------------|-------|-------|----|--------|
| Date1            | Value | NaN   | .. | Nan    |
| Date2            | Value | Value | .. | Nan    |
| ...

[2022-08-26 08:44] fkiraly commented on #3348
related to this: https://github.com/alan-turing-institute/sktime/issues/982

issues with the entire `update_predict` bunch of methods have been known for a while, the design was a bit ad-hoc and clunky.

We probably need to invest the time and effort to clean this up once and for all...

[2022-08-26 08:45] fkiraly commented on #3347
please describe the format of your `csv` file, after you loaded it via `pandas`.
Optimally, please provide code that constructs a dummy data container similar to the format you have.

[2022-08-26 08:46] bugslayer-332 commented on #3286
Thanks, I will work on this.

[2022-08-26 09:06] fkiraly commented on #3345
added your code as a test, simplified a bit, though.

Your original pipeline can be written shorter:
[code]

question: do we need the `OptionalPassthrough`? That will just remove the `LogTransformer`, since the default is `passthrough=True`. So your pipeline is even simpler, it is
[code]
or do I misunderstand?

[2022-08-26 09:10] fkiraly commented on #3345
and the exogeneous data we don´t need either, so for testing this would be sufficient? `Differencer() * NaiveForecaster()`

[2022-08-26 09:32] ilkersigirci commented on #3345
For miminal testing purposes, you are absolutely right. I just wrote the code since my current use-case is like that. The reason because I don't use dunder methods is to be able to explicitly name the transformers in order to use their names in grid search.

[2022-08-26 11:51] R470R commented on #3347
Hello Sir, here is dummy data constructor
import random
import pandas as pd

Open = []
High = []
Low = []
Close = []
MA = []
Volume = []
Minute = []
Hour = []
Day = []
Week = []
Selected = []
is_beg = []

for i in range(1000):
    Open.append(random.uniform(-0.55258, 1.68521))
    High.append(random.uniform(-0.55350, 1.70000))
    Low.append(random.uniform(-0.55258, 1.68321))
    Close.append(rand

[2022-08-26 11:52] R470R commented on #3347
Label to predict is Selected &| is_beg

[2022-08-26 12:57] AurumnPegasus opened #3351 "[ENH] Migrating Estimators from sktime-dl"
**Is your feature request related to a problem? Please describe.**
Related to the task of migrating estimators from [sktime-dl](https://github.com/sktime/sktime-dl) to sktime. The main goal of doing so is to have all networks/models in a single package, following similar structure and quality.

## Steps for Migration

1. Choose one of the Classifiers or Regressors, and create an issue for it.
2. Y

[2022-08-26 12:59] fkiraly commented on #3351
quick question about the recipe: do we always need to create a separate network? Or are there a few common ones?

[2022-08-26 13:16] fkiraly commented on #2957
solved by this design that we will probably adopt (conditional execution based on package availability)
https://github.com/alan-turing-institute/sktime/pull/3255

[2022-08-26 13:16] #2957 closed

[2022-08-26 13:44] SMEISEN commented on #3023
# Electrical demand forecasting with different forecasting horizons

Example from the discussion on August 15th ([hackmd](https://hackmd.io/sBktzRZAQhixXaRuOoFt5A))

@benHeid: "Imagine you want to predict a electrical demand of an household with an horizon of two weeks. The consumption the next hour is often similar to the current demand. However, the demand for the next week is really hard to for

[2022-08-26 13:47] AurumnPegasus commented on #3351
Yup, made those changes. Will add more instructions as well

[2022-08-26 13:58] fkiraly commented on #3345
Hm, I see - are the names they get from the dunders so much worse? i.e., if you use `pipe.get_params()`?
Would be interested to hear why that is not so good and why you prefer the "explicit" way?

[2022-08-26 14:10] ilkersigirci commented on #3345
The names I got from the pipeline are not the problem, actually. I just like the explicit way. Moreover, if I try to use dunder methods with the same transformer with different params, I can't discriminate their names, so explicit way seems to working better for me :)

[2022-08-26 14:49] fkiraly commented on #3345
It creates unique names, e.g., `Transformer1`, `Transformer2`, in that case? But, fair enough.

[2022-08-26 14:54] fkiraly commented on #3347
hm, this does not look like time series classification?
Time series classification is one label per time series, and having multiple time series.
You have only one time series, and one lable per time stamp.

So, this looks like supervised time series annotation, on a single time series.

[2022-08-26 15:28] fkiraly commented on #3224
possible solution to no.3, no. 4 - allowing transformers that operate on the resulting tabular data frame before passed to the sklearn transformer

[2022-08-26 15:45] fkiraly commented on #3224
from @LoicRaillon and @ltsaprounis both: we should be able to specify the lags for `y`, they do not need to be all consecutive lags

[2022-08-26 21:29] fkiraly commented on #2655
reopening since `Panel` and `Hierarchical` support is still pending.

[2022-08-26 22:40] chillerobscuro opened #3353 "[ENH] Let evaluate() function accept and return trained model"
**Is your feature request related to a problem? Please describe.**
The `evaluate` function is very helpful for cross validation with sliding time windows. However as far as I can tell it requires that you internally train the model, as even if you use the "update" strategy, the first window trains the model.

**Describe the solution you'd like**
It should let you pass in an already trained model.

[2022-08-26 23:18] fkiraly commented on #3353
Thanks! @alex-hh and @dbcerigo are currently reworking the benchmarking interface here, using the `kotsu` package: https://github.com/alan-turing-institute/sktime/pull/2977

so if you are adventurous, trying this out and feedback would be appreciated!

For `evaluate`, this https://github.com/alan-turing-institute/sktime/pull/2903 could do the job to pass an already fitted estimator.

Returning mig

[2022-08-27 00:09] chillerobscuro commented on #3353
Hmm looks like between those two pieces of work, my main requests might be covered. I see the benchmarkingv2 notebook and look forward to a bit more example documentation, as it does look useful.

I think it'd make sense to return the final estimator (the "most fitted" one) but do think it's low priority, especially if you can pass it in prefit. So I'll hold off on putting any PRs for this.

[2022-08-27 00:09] #3353 closed

[2022-08-27 05:00] AurumnPegasus commented on #3190
Created STEP document for the same with 2 proposed solutions: https://github.com/sktime/enhancement-proposals/pull/26

[2022-08-27 10:59] R470R commented on #3347
Yes it is!
How do I tune this data to use those incredible sktime tools?

[2022-08-27 12:22] #1887 closed

[2022-08-27 18:12] #3315 closed

[2022-08-29 00:58] nilesh05apr commented on #3351
I want to work on the implementation of ResNet Classifier and regressor, but i could not understand the migration steps. @fkiraly @AurumnPegasus can you please help me.

[2022-08-29 05:04] AurumnPegasus commented on #3351
Hey @nilesh05apr ,
Maybe the steps are not clear enough, I will work on it to improve it. In the meanwhile:

Firstly, create an issue for the estimator you want to work on. Then,
There are 2 main components to a DL estimator: the Network, and the Classifier (or Regressor).
For ResNet, as you can see in this issue itself, the Network has not been migrated yet.

So firstly, go to the [network code i

[2022-08-29 08:21] lmmentel commented on #3214
Thanks everyone for the comments, it seems that the discussion is very rich. I cannot help but think that we have not reached the desired consensus yet. There are many good suggestions and solutions already posted in this thread but my feeling is that the problem is not sufficiently well defined and acceptance criteria are mostly implicit so assessing whether any of the solutions are a good fit is

[2022-08-29 11:38] KatieBuc commented on #3214
Thanks @lmmentel, very clear and cohesive thoughts.

Well, the good thing about a full index with dummy labels
[code]

is that we can use this with segmentation algorithms that are order invariant, where we might have

[code]
which would otherwise be harder to describe with the interval encoding.

[2022-08-29 13:15] miraep8 commented on #2799
This has now been implemented, though I am in the process of further improving the HMM ecosystem in #3099 Progress on improvement can be tracked there, so closing this issue.

[2022-08-29 13:15] #2799 closed

[2022-08-29 13:18] miraep8 commented on #2880
PR has been added.  I think this PR generally seems to solve the problem, though there could be remaining issues with trimming issues in TransformedTargetForecaster.   Ideally instead of just returning the whole range of preceding data (as my solution does) we would be able to just add a buffer which depends on the amount trimmed by the pipeline, but as that solution is slightly more involved my s

[2022-08-29 20:15] miraep8 opened #3363 "[ENH] Import more estimators from hmmlearn"
[hmmlearn](https://github.com/hmmlearn/hmmlearn) is a nifty python package with a lot of different sci-kit learn like estimators for using HMM algorithms.

We now have a simple way to wrap and thus import new HMM estimators into `sktime`, and I thought that it could be a great task for anyone new to `sktime` or open source in general to get started with if you are looking for an easy issue to cont

[2022-08-29 21:38] nilesh05apr commented on #3351
Thanks @AurumnPegasus for the clarification, it's much clear now. I have started working on it.

[2022-08-29 22:02] nilesh05apr opened #3364 "[ENH] Add ResNet Estimator"
**Is your feature request related to a problem? Please describe.**
Enhancement

**Describe the solution you'd like**
Migrating ResNet Classifier from sktime_dl to sktime

[2022-08-30 07:34] #2813 closed

[2022-08-30 07:36] fkiraly commented on #2173
ouch - is that really so?
Sorry for asking, you may well be right, but that would make the `arch` package ab it strange.

Isn't `arch` only interesting if you can also get the heteroscedastic noise/variance terms out of it?

[2022-08-31 07:15] tmerrittsmith opened #3368 "[DOC] TOC links broken in Forecasting user guide"
#### Describe the issue linked to the documentation
On this page https://www.sktime.org/en/stable/examples/01_forecasting.html, the Table of Contents hyperlinks do not match with the headers they refer to, so clicking on them does nothing.

#### Suggest a potential alternative/fix

Fix the links. Happy to fix the links for you - but I'm not sure how you're exporting the notebooks to docs? Is it ma

[2022-08-31 08:24] Lovkush-A opened #3369 "[ENH] output checks (e.g. in transform) should provide helpful error messages"
**Is your feature request related to a problem? Please describe.**

If a developer does not return a correct machine type, the test suite can break with cryptic error messages.

E.g. see this PR https://github.com/alan-turing-institute/sktime/pull/3338. In this example, the mistake by developer is they outputted a list instead of a sktime compatible mtype. the error message they get is `NoneType o

[2022-08-31 11:26] achieveordie opened #3370 "[ENH] Migrate from `sphinx-panels` to `sphinx-design`"
**Is your feature request related to a problem? Please describe.**
Currently, we're using `sphinx-panel` as an [extension](https://github.com/alan-turing-institute/sktime/blob/3c56f535dc1d060c0053ab6c7f1a1a7199133539/docs/source/conf.py#L51) to build documentation. However, in the current state, `sphinx-panel` is not being actively [maintained](https://github.com/executablebooks/sphinx-design/issu

[2022-08-31 12:10] ilkersigirci commented on #3224
@fkiraly I would like to add one more point to this refactor. Both old and the new code concat given `y`(lagged form of it) with `X`(if exists) , to create new `X` for training sklearn estimator. This is useful if we don't have any `X` values since we must somewhat convert our data to tabular format. But, if `X` exists, meaning we already have a tabular formed data,  I think we should have an opti

[2022-08-31 12:48] AurumnPegasus commented on #3351
@fkiraly  I have updated the wordings and merge instructions, hope they are better. I will add the code and examples for special cases in some time (since we have not really agreed to a couple of cases yet).
Also, would request you to add the `good first issue` label to this.

[2022-08-31 13:32] nilesh05apr commented on #3351
@AurumnPegasus can you please link steps to test the changes locally.

[2022-08-31 13:57] AurumnPegasus commented on #3351
Hey @nilesh05apr ,
Ensure that you have all the developer requirements installed, follow the [instructions mentioned here](https://www.sktime.org/en/stable/installation.html)

Once that is done, to test the estimators (lets say you want to test `ResNetClassifier`)
Firstly, run all the `pytests` (you can do it via vscode as well) via the general bash command:
`pytest ./sktime/classification/`

Then

[2022-08-31 18:01] fkiraly commented on #3368
Thanks for bringing this up! Help is appreciated!

The embedding of notebooks into the docs happens via these symbolic links here:
https://github.com/alan-turing-institute/sktime/tree/main/docs/source/examples

side note: strangely, not all the links seem to work currently - if you have an idea why that is, help would be appreciated. Perhaps running `symlink_examples.sh` here https://github.com/al

[2022-08-31 21:26] aiwalter commented on #3368
Duplicate of #2274

[2022-09-01 06:19] KatieBuc opened #3371 "[ENH] DOBIN transformer implementation"
Distance based Outlier BasIs using Neighbors (DOBIN).

DOBIN is a pre-processing algorithm that constructs a set of basis
vectors tailored for outlier detection as described by _[1]. DOBIN
has a simple mathematical foundation and can be used as a dimension
reduction tool for outlier detection tasks.

Currently (only) implemented in R.

Reference:
[1] Kandanaarachchi, Sevvandi, and Rob J. Hyndman.

[2022-09-01 07:40] achieveordie opened #3372 "[ENH] Adding TapNet DL Model for Classification"
**Is your feature request related to a problem? Please describe.**
Migrating TapNet Classifier model from sktime-dl to sktime.

[2022-09-01 07:43] achieveordie commented on #3351
I'll work on TapNet Classifier Migration. Do add #3372 to the list.

[2022-09-01 19:35] miraep8 commented on #3289
Currently working on the implementations for WCAC and CAC

[2022-09-01 20:47] bugslayer-332 commented on #3286
PR #3354, tests have been passed with suggested changes. Any suggestions are welcome.

[2022-09-01 20:48] bugslayer-332 commented on #3286
PR https://github.com/alan-turing-institute/sktime/pull/3354, tests have been passed with suggested changes.

[2022-09-01 21:22] Kelp710 commented on #3314
Hi! May I tackle this issue?

[2022-09-02 11:53] KishManani commented on #3224
@fkiraly - some of my thoughts.

I agree with @ilkersigirci that it would be helpful to not be forced to use lag features. It would be nice to have the option to use other transformations of the target time series (e.g., a lagged rolling window) instead of being forced to use a lag feature on top of other transformations we apply to the target.

Also, I think point 5 from @ltsaprounis' [comment](h

[2022-09-02 14:39] miraep8 commented on #3214
## Few thoughts:
Thanks for all the good thoughts that have been put here already 👍I would say that they have changed my opinion a bit.  Here are some thoughts I have been thinking about while arriving at a solution:

- I think in the past we have kind of followed a pattern of one submodule = one baseclass.  I actually think this made a lot of sense in the cases of the transformers and forecasters

[2022-09-02 14:46] miraep8 commented on #3214
So to summarize, concrete work actions associated with the above solution are:
- identify - which features of some annotation algorithms are not well supported by the current base classes.
- focus on building the annotation base class to support these algorithms that don't fit neatly into one of the other main base classes.
- write some detailed documentation to help developers decide which base c

[2022-09-02 16:30] fkiraly commented on #3368
well, that gives you the opportunity to close two issues for the price of one, @tmerritsmith!

[2022-09-02 16:30] #3368 closed

[2022-09-02 16:30] fkiraly commented on #2274
FYI @tmerrittsmith

[2022-09-02 21:35] lmmentel opened #3375 "[DOC] Improve developer documentation for GreedyGaussianSegmentation"
#### Describe the issue linked to the documentation

Greedy gaussian segmentation was introduced in #2744, however the documentation is insufficient especially when it comes to helping developers take over the maintenance or further development of the estimator.

#### Suggest a potential alternative/fix

The docstrings for all private and public methods should be expanded on to provide an easier o

[2022-09-03 19:34] fkiraly commented on #3224
@ilkersigirci, in the prototype, that's simply the default option, window length equals zero.
(I think?)

[2022-09-03 19:36] fkiraly commented on #3224
@KishManani, @ltsaprounis, re static covariates, good point!
How should these be passed to the models, though?

Only one of the data types (`nested_univ`) allows them currently, and it is not used by most estimators.

[2022-09-03 19:38] fkiraly commented on #2880
Hm, interesting thought.

I have a generic "memory" PR for transformers here:
https://github.com/alan-turing-institute/sktime/pull/3307
which is a bit related.

How would the generic buffer work? The problem I see is that the buffer could depend on the parameters of the estimator. Simple example: `Lag`, where the buffer size would be the maximum lag.

[2022-09-03 19:42] fkiraly commented on #2598
@khrapovs, @ngupta23, I did overlook this issue, apologies.

I think the proposed solution is sub-optimal, since we do not want splitters to deal with `X`-es and `y`-es.

We should just be able to apply them to discontinuous index sets.

[2022-09-03 19:42] ilkersigirci commented on #3224
`window_length=0` gives `ValueError: No objects to concatenate`. Hence I have done my tests with `window_length=1`

[2022-09-04 05:42] KatieBuc commented on #3214
^they are really good points @miraep8

A couple of illustrative PR's for the "identify" step; the below two segmentation/anomaly detection algorithms inherent from `BaseTransformer` specifically to make use of the tags:

[code]
https://github.com/alan-turing-institute/sktime/pull/3338
https://github.com/alan-turing-institute/sktime/pull/3158

currently not implemented in the `BaseSeriesAnnotator`.

[2022-09-04 11:59] fkiraly commented on #3224
Yes, you are right, @ilkersigirci.
The `window_length=0` behaviour was only in my head & written down in a tentative design, not in the actual code!

[2022-09-04 13:07] fkiraly commented on #3214
My 2 cents:

* input/output type, especially segmentations and time stamps with special labels (e.g., "changepoint")
* supervised annotation cases don't really fit in any of the current base class structures - think sklearn-like `fit`/`predict`
* decision functions and scores

[2022-09-04 15:29] ltsaprounis commented on #3286
You can achieve this by not specifying an upper bound to the [ScaledLogitTransformer](https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.transformations.series.scaledlogit.ScaledLogitTransformer.html)

Not saying that we shouldn't add this to the LogTransformer, I think we should.

[2022-09-04 16:08] fkiraly commented on #3224
say, do you have any good leads where the slowness is coming from in the prototype, @ilkersigirci?

[2022-09-05 10:14] tmerrittsmith commented on #2274
@lmmentel I think the problem is that the links are doing multiple jobs at the same time. On nbviewer, the links work because the hyperlink tags are interpreted correctly. However, on the actual docs page [here](https://www.sktime.org/en/stable/examples/01_forecasting.html#Table-of-Contents), I'd expect the ToC to take me to different parts of that page.

For some reason, the hyperlinks in the ren

[2022-09-06 07:03] KatieBuc opened #3388 "[ENH] LOOKOUT: "Leave-one-out kernel" density estimates for outlier detection"
LOOKOUT is a new approach to detect outliers using leave-one-out kernel density estimates and extreme value theory. Outlier detection methods that use kernel density estimates generally employ a user defined parameter to determine the bandwidth. Lookout uses persistent homology to construct a bandwidth suitable for outlier detection without any user input.

R code:
https://github.com/sevvandi/look

[2022-09-06 10:20] hliebert opened #3390 "[ENH] ForecastingBayesianSearchCV, skopt interface"
Would it be possible to add support for Bayesian search, e.g. make skopt.BayesSearchCV accessible through ForecastingBayesSearchCV? Similar to how ForecastingGridSearchCV provides an interface to GridSearchCV from sklearn.

This would be a great help to tune more complex models with large parameter space.

[2022-09-06 17:58] miraep8 commented on #2880
I guess a way one could do it is - all transformers have a new attribute called `buffer`.  The default for all transformers is for this required buffer to be zero, however the private method which determines the buffer size could be overwritten by the children classes and can be set to be some arbitrary function of the parameters.

The (linear) pipeline's `buffer` would be the sum on constituent t

[2022-09-07 00:45] aiwalter commented on #3214
for unsupervised annotation algos, we can just implement them as transformers and return the annotation (full index) and other stuff as attributes. Then we can have a compostion `Annotation` to store the output of those transformers optionally in the index. This could look as follows:

[code]
I am wondering if using a `MultiIndex` might conflict with our panel interface? Or would that be fine @fki

[2022-09-07 12:21] aiwalter commented on #2916
related #1215

[2022-09-07 13:37] ngupta23 opened #3392 "[ENH] Add CBM model extension for count data forecasting"
**Is your feature request related to a problem? Please describe.**
CBM modeling is used heavily in demand planning for sales data for example.

**Describe the solution you'd like**
It would be nice to have this in sktime as an forecasting extension

https://github.com/microsoft/CBM

**Describe alternatives you've considered**
Implement outside sktime, but then we can not leverage the common sktime

[2022-09-07 13:44] ngupta23 commented on #3224
Hi @fkiraly and team, Sorry for the delayed response. I was tied up for a while. I would like to see if the following features can be added to this reducer (if not available already)

1. Ability to extract the reduced tabular dataset from the original data.
2. Make in-sample predictions
3. Ability to adjust the in-sample reduced tabular dataset values for exogenous variables and make in-sample pre

[2022-09-07 14:00] ltsaprounis commented on #3392
Have you tried using it as the regression in `make_reduction` ? If it's scikit-learn compatible, it should work.

[2022-09-07 18:08] ngupta23 commented on #3392
There may be some nuances involved, such as feature generation, etc. I will play with the idea and get back to you. Thanks for the pointer.

[2022-09-08 08:45] ltsaprounis commented on #3224
Thanks for the input @ngupta23!
I agree with the in-sample prediction features + if we design this in a nice way it will allow for purged cross validation for time series! https://www.youtube.com/watch?v=2-_2lShioBE&t=2415s

for number 4 - you can do that now by getting to the `estimator` attribute of a reduction forecaster object.

[2022-09-08 20:36] fkiraly opened #3394 "[BUG] sporadic bug in `test_all_annotators.py::test_output_type[HMM]`"
There seems to be a sporadic bug with `test_all_annotators.py::test_output_type[HMM]`:

[code]

see here: https://github.com/alan-turing-institute/sktime/runs/8257610342?check_suite_focus=true

FYI @miraep8, @lmmentel

[2022-09-08 20:54] fkiraly commented on #3224
@ngupta23:

In the newest iteration https://github.com/alan-turing-institute/sktime/pull/3382,
this step sits in a transformer that you can call, the `ReducerTransform`. Storing would clutter memory, no? Or is there a deeper reason why you think that should be an option, as opposed to getting it from `transform`?

That should work, already.

I don't think this should be part of the reducer. You ca

[2022-09-08 21:25] miraep8 commented on #3394
Thank you for raising issue!

[2022-09-08 22:31] #3300 closed

[2022-09-09 04:23] KatieBuc opened #3397 "[ENH] Hierarchical agglomerative estimation: E-Agglo"
### Details
E-Agglo is a nonparametric method for performing hierarchical agglomerative estimation of multiple change points based on [1][2]. Neighboring segments are then sequentially merged to maximize a goodness-of-fit statistic. The goodness-of-fit statistic is the "between-within distance" [3] among adjacent segments i.e.

![image](https://user-images.githubusercontent.com/34525024/189269160-