[2022-03-14 15:51] aiwalter commented on #2059
@Ris-Bali sure, yes exactly. Also it might help to look into the enhancement template: https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/forecasting.py

[2022-03-14 16:43] markvrma commented on #1856
I would like to work on `DWTTransformer` .

[2022-03-14 18:07] Vasudeva-bit commented on #2221
I could import sktime annotations successfully (using the same code), I think this is not the issue with soft dependencies as well.   I think versions shouldn't be the cause for this.

[2022-03-14 18:51] fkiraly commented on #2221
@SSMK-wq, what precisely is the error message you get?

Both imports work for me with windows, python 3.8.12, sktime 0.10.1.

[2022-03-15 01:31] fkiraly commented on #1856
thanks, @markvrma, feel free to go ahead!

[2022-03-15 05:08] Vasudeva-bit commented on #2173
Following the [extension template](https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/forecasting.py), I will work on this

[2022-03-15 16:48] #2206 closed

[2022-03-15 18:33] #2215 closed

[2022-03-15 18:37] fkiraly commented on #2173
@Vasudeva-bit, we've reworked the "estimator implementation" and "dependency handling" guideliens recently.
You can refer to these work-in-progress docs until they become available in the next release:
https://sktime--2186.org.readthedocs.build/en/2186/developer_guide/add_estimators.html
https://sktime--2189.org.readthedocs.build/en/2189/developer_guide/dependencies.html

[2022-03-16 03:30] tianshuaifei opened #6609 "[BUG] vmdpy - the seq is 1001,get 1000"
import numpy as np
import matplotlib.pyplot as plt
from vmdpy import VMD

#. Time Domain 0 to T
T = 1001
fs = 1/T
t = np.arange(1,T+1)/T
freqs = 2*np.pi*(t-0.5-fs)/(fs)

#. center frequencies of components
f_1 = 2
f_2 = 24
f_3 = 288

#. modes
v_1 = (np.cos(2*np.pi*f_1*t))
v_2 = 1/4*(np.cos(2*np.pi*f_2*t))
v_3 = 1/16*(np.cos(2*np.pi*f_3*t))

f = v_1 + v_2 + v_3 + 0.1*np.random.randn(v_1.size)
print

[2022-03-16 08:45] zershaw commented on #764
Thanks :) ！You saved me.

[2022-03-16 10:20] eenticott-shell opened #2233 "[ENH] Probabilistic metric grid search integration"
After developing probabilistic metrics in #2232 need to ensure they are compatible with useful features such as grid search for model parameters. There are two key problems that need to be solved for this:

1. proba metrics take in the output of `predict_quantile` or `predict_interval` (or `predict_proba`) where normal metrics just take predict. This means we need to change what predictions are us

[2022-03-16 12:48] k1m190r commented on #2030
Memory profiling can be done locally with [pytest-monitor](https://github.com/CFMTech/pytest-monitor). It produces the .pymon sqlite database that can be analyzed for memory, execution/cpu/kernel timing.

My analysis so far does not suggest memory problems - maximum memory per test never exceeded 1Gb.

Will post rest of my analysis here #1941

[2022-03-16 13:37] k1m190r commented on #1941
Local testing under Ubuntu 20 WSL suggests the following:

1. Main culprit is some hard to identify interaction between pytest-xdist (with n>1, e.g. n=2), pytest-cov and joblib. What is clear, this is not memory leak, or some other excessive resource usage, it appears to be "deadlock".

Rest of commentary focused on the:
[`sktime/tests/test_all_estimators.py::TestAllEstimators::test_multiprocessin

[2022-03-16 17:45] youssefkhalil320 commented on #2017
Hello, I wanna contribute to this. Also please provide me the link should [Unix-like OS] refers to and if you can give me a guide how to contribute because I am new.

[2022-03-17 00:33] #6609 closed

[2022-03-17 18:29] fkiraly commented on #2233
summarizing today's discussion, also looking at `evaluate`:

* I think we settled at giving all quantile losses an optional constructor argument `alpha`, and all interval losses an optional constructor argument `coverage`
* if the argument is not provided, all alpha/coverage passed (as part of the prediction) will be used to calculate the loss
* if the argument is provided, only the alpha/coverage

[2022-03-17 21:12] GuzalBulatova opened #2240 "[BUG] StratifiedGroupKFold import breaks pytest discovery"
**Describe the bug**

Pytest discovery fails at `sktime/classification/tests/test_sklearn_compatability.py` when importing 'StratifiedGroupKFold' from 'sklearn.model_selection'

**To Reproduce**

pytest discovery
[code]

**Expected behavior**

Expected not to get
[code]

**Additional context**

`StratifiedGroupKFold` is introduced in the latest stable version of sklearn (1.0.2). Sktime requires ve

[2022-03-18 04:39] nilesh05apr commented on #2127
@fkiraly  is this issue solved? if not i would like to work on it.

[2022-03-18 04:40] nilesh05apr commented on #1928
@fkiraly  i would like to work on this issue.

[2022-03-18 05:42] Ris-Bali commented on #2127
@nilesh05apr myself and @ner-aim are working on the first half of this issue u can work on  one of the tutorials if u would like to .

[2022-03-18 06:28] biologioholic commented on #1850
I would like to handle this issue

[2022-03-18 09:41] aiwalter commented on #1850
@biologioholic its yours

[2022-03-18 09:49] fkiraly commented on #2127
Hm, there is a lot of interest in this issue.
I think we need to coordinate this a bit, or we risk duplication.

Could everyone who is working on this spell out, kindly, what precisely you are planning to do, then coordinate?

[2022-03-18 09:49] fkiraly commented on #2118
@IlyasMoutawwakil, quick question: does this relate to your issue with `update_predict_predicted_cutoff`?

[2022-03-18 09:50] fkiraly commented on #2072
@danbartl, have you looked into this?

[2022-03-18 09:51] fkiraly commented on #2059
@Ris-Bali, the latest sktime docs include detail instructions on how to add estimators:
https://www.sktime.org/en/latest/developer_guide/add_estimators.html

[2022-03-18 10:08] #2213 closed

[2022-03-18 11:43] fkiraly commented on #2240
@TonyBagnall, the `sktime/classification/tests/test_sklearn_compatability.py` was introduce by you recently, I think?

This prevents test discovery with older versions.

@lmmentel, one thought form this: should we also CI test for tests passing on the combination of oldest versions?

[2022-03-18 11:54] fkiraly opened #2242 "[ENH] CI/CD testing with oldest package versions"
The following bug https://github.com/alan-turing-institute/sktime/issues/2240 uncovered that our test suite is not compatible anymore with older versions of `sklearn` that we still claim to support.

More generally, the CI/CD would not detect a PR that breaks support for an older version of `sklearn`, or any other package.

I think we need to keep testing whether old packages are still supported.

[2022-03-18 11:58] Ris-Bali commented on #2127
I am solving the 3rd and 4th issue in the first half

[2022-03-18 12:15] aiwalter commented on #2242
this raises a general question as we might want to do this also then for other main dependencies like `pandas` and `numpy` and then what abouth the different combinations of those versions? I guess we cant test them all, so why should we test just one particular one?

[2022-03-18 13:29] TonyBagnall commented on #2240
what is the desirable outcome, increase our requirements for sklearn to 1.0 or reduce the code tests to that which is compatible with 0.24 to 1.02? Either fine with me, but we should check nothing else breaks with 1.02, they have a history of random interface changes. FYI, @MatthewMiddlehurst introduced this, not me.

[2022-03-18 13:40] fkiraly opened #2243 "[ENH] ensure that pipelines and compositors work for hierarchical forecasters and transformers"
With forecasters and transformers interface upgraded to hierarchical, we should ensure that key compositors and pipelines work for hierarchical data:

- [x] transformer pipelines https://github.com/sktime/sktime/pull/2318
- [x] forecaster pipelines https://github.com/sktime/sktime/pull/2318
- [x] performance metrics https://github.com/sktime/sktime/pull/2601
- [x] evaluation https://github.com/skt

[2022-03-18 13:41] fkiraly commented on #1738
task 2 is solved by #2093

[2022-03-18 13:53] biologioholic commented on #1850
Thanks

[2022-03-18 14:06] fkiraly commented on #1928
Excellent, @nilesh05apr, welcome and go ahead!

One note, there was an issue with `all_estimators` in the recent version which has been fixed - it would raise errors if not all soft dependencies were installed.

So, I would suggest you also test your work with two environments - one which only has core dependencies, and one which has all soft dependencies.

[2022-03-18 14:07] fkiraly commented on #1850
@biologioholic, great!
Btw, if you're looking into statsmodels, you could also look at interfacing DynamicFactor, if you want, issue here:
https://github.com/alan-turing-institute/sktime/issues/2059

[2022-03-18 14:09] fkiraly commented on #2240
I would prefer the second - there's always a trade-off between new features and downwards compatibility. In this case, I think the downwards compatibility far outweighs the feature (since it's used only in testing, and the specific cv object does not seem to add much in case coverage).

[2022-03-18 14:10] fkiraly commented on #2242
@aiwalter, I would go for a single CI/CD set-up where we have minimal versions for *all* core dependencies. I.e., if we have packages `pgkX>=vx` and `pkgY>=vy`, we would have one CI/CD where `pgkX==vx` and `pkgY==vy`

[2022-03-18 14:14] fkiraly commented on #1850
Ah, just noticed that somebody has already picked that up.

[2022-03-18 15:21] MatthewMiddlehurst commented on #2159
Closing this. If there are any other related issues, feel free to re-open.

[2022-03-18 15:21] #2159 closed

[2022-03-18 15:25] MatthewMiddlehurst commented on #2116
We now have a number of tests for verifying compatibility between the sklearn model selection methods and the sktime data formats/classification interface.

I think as long as these remain compatible, there is no need for bespoke sktime implementations.

[2022-03-18 15:29] #1791 closed

[2022-03-18 15:31] MatthewMiddlehurst commented on #1390
We now have a classifier_type tag, and relevant classifiers have been updated to use it.

[2022-03-18 15:31] #1390 closed

[2022-03-18 16:52] freddyaboulton commented on #2242
@fkiraly A colleague of mine wrote something to accomplish that - https://github.com/alteryx/minimum-dependency-generator

FYI @gsheni

[2022-03-18 16:58] #2240 closed

[2022-03-18 17:40] markvrma commented on #2181
I would like to work on this.

[2022-03-18 20:03] ltsaprounis opened #2247 "[ENH] Bagging Forecaster"
We can now use the new bootstrapping transformers (`MovingBlockBootstrap`, `STLBootstrapTransformer`) and the new vectorize feature  to implement a `BaggingForecaster` as described in:

1. Bergmeir, C., Hyndman, R. J., & Benítez, J. M. (2016). Bagging exponential smoothing methods using STL decomposition and Box-Cox transformation. International Journal of Forecasting, 32(2), 303-312
2. Hyndman, R

[2022-03-18 23:29] fkiraly commented on #2181
I believe @fede (one of the developers) is already working on this - but perhaps he'd like some assistance?
@fede, how is it going?

[2022-03-19 03:45] FedericoGarza commented on #2181
Hi @fkiraly @markvrma! I've opened a PR: #2251. If you have comments on the PR @markvrma, they are welcome. :)

[2022-03-19 16:44] #1843 closed

[2022-03-19 18:39] fkiraly opened #2254 "[ENH] Cleaning up Catch22"
While refactoring, I cam across `Catch22`.

This is a bit of a mess (old legacy code structure) and should be refactored as follows, imo:
* `_transform` should return a `pd.DataFrame`, with columns being the names in `feature_names`
* `Catch22` should accept a parameter `features` such as used in various functions. This is a `str` or list of `str`, of codes in `feature_names`. If passed, the trans

[2022-03-19 22:53] fkiraly opened #2255 "[ENH] Refactor multiplication of classifier tests"
Looking through the tests, I found that every classifier has a test file, and in it there is `test_[classifiername]_on_unit_test_data` and `test_[classifiername]_on_basic_motions`. This is highly redundant and should be moved to a single file, using `pytest.mark.parametrize` and `all_estimators`.

[2022-03-20 08:03] markvrma commented on #1733
Upon running `fit` of `fbprophet.Prophet` with default parameters the output I got was,

[code]

In the `Prophet` constructor, `verbose` is initially set to 0, there was no difference in output upon changing it to 1/True.

Also I just wanted to confirm if `sktime` adapter includes all adapters in `forecasting.base.adapters`?

[2022-03-20 12:30] mrtkp9993 commented on #2120
Hello, I have similar problem. I am on sktime 0.10.1. Here is the example code and data [t1.csv](https://github.com/alan-turing-institute/sktime/files/8311221/t1.csv):

[code]

[2022-03-20 13:19] fkiraly commented on #2120
@mrtkp9993, thanks for posting the code!

Can you kindly post code that does not include an external file? E.g., can you please replace the `read_csv` with either an explicit construction of a `pandas.DataFrame`, or sth like `load_airline`?

[2022-03-20 13:20] fkiraly commented on #2242
@freddyaboulton, @gsheni, this looks very useful!
@lmmentel, what do you think?

[2022-03-20 13:22] fkiraly commented on #2116
@MatthewMiddlehurst, does this work for all `sktime` compatible input types, e.g., nested `pd.DataFrame`?

[2022-03-20 13:22] fkiraly commented on #2064
We´ve added the `list_of_dict` mtype for `Table` to the registry, h ence SFA is now interface compliant (via interface extension)

[2022-03-20 13:23] #2064 closed

[2022-03-20 13:26] MatthewMiddlehurst commented on #2116
There are tests are for both 3d numpy and nested DataFrame.

[2022-03-20 13:36] fkiraly commented on #1733
Yes, I think all adapters for forecasting packages (interface-to-interface) are in there.

[2022-03-20 13:37] #1564 closed

[2022-03-20 15:27] fkiraly opened #2261 "[BUG] STLBootstrapTransformer returns only NaN on testing fixture example"
When running the following code
[code]

I get an output which is interface compliant, but does not seem right.
Expected behaviour is: no `NaN`s in the value column, and the value column is not called `NaN`.

![image](https://user-images.githubusercontent.com/7985502/159169838-dfaff017-e8a6-4623-8ae5-b0427ef004c3.png)

@ltsaprounis, what's going on here?

[2022-03-20 15:45] fkiraly opened #2263 "[BUG] PlateauFinder returns empty container on test case"
`PlateauFinder` returns

[code]

On `check_panel_to_panel_transform_univariate`.

This was not detected due to the bug in `is_nested_dataframe` which is fixed in https://github.com/alan-turing-institute/sktime/pull/2259.

[2022-03-20 20:52] fkiraly opened #2265 "[BUG] `Differencer` `inverse_transform` is not inverse to `transform` for `Panel` input"
Discovered through the refactor in #2522.

`Differencer` does not pass the test `test_transform_inverse_transform_equivalent` on scenario `TransformerFitTransformPanelUnivariateWithClassY`, although it passes it for the `Series` inputs.

Pre-existing issue unrelated to #2522, which needs to be fixed. For now, the test is escaped.

[2022-03-21 00:07] ltsaprounis commented on #2261
Thanks for pointing that out @fkiraly.

The problem is the following:
The Box-Cox transformation doesn't like negative values so it returns `NaN` for the negative value of the time series.
As a result of this single `NaN` all the STL components from `statsmodels.tsa.api.STL` (seasonal, trend, residual) are also `NaN`.

I see 3 options here:
1. Raise a `ValueError` if the time series has negative v

[2022-03-21 13:48] lielleravid commented on #1678
Hey @fkiraly and @Lovkush-A
I would like to start working on refactoring the TimeSeriesForestClassifier :)

[2022-03-21 15:32] Ris-Bali commented on #2127
@fkiraly  I had some questions regarding the tasks ; in  the third task do I need to remove notebooks with estimator 'X' or link them to the docs(since many are not linked) . In the fourth task the loading_data notebook in the docs is full of conversions from "Nested dataframe" to other types so should I remove those functions or simply replace them and use convert _to similar to "AA_datatypes_and

[2022-03-21 17:41] gsheni commented on #2242
@fkiraly @lmmentel I'm happy to make changes to the minimum-dependency-generator to make it work for sktime.
We use the minimum-dependency-generator to [create text files](https://github.com/alteryx/evalml/blob/main/.github/workflows/minimum_dependency_checker.yml#L34) with the minimum requirements. This min reqs are [installed](https://github.com/alteryx/evalml/blob/main/.github/workflows/linux_u

[2022-03-21 18:49] RNKuhns commented on #2151
My two sense on this is that I think @ngupta23's proposal of a conditional differencer seems to make sense.  Having an automatic way to make sure data is stationary is important, because a variety of models make use of the nice properties associated with stationary data (their statistical underpinnings rely on this to overcome the fact that the usual regression assumptions of independence are viol

[2022-03-21 21:50] fkiraly opened #2270 "[ENH] Implement leakage-free imputation methods"
The `Imputer` transformer has a lot of methods, but only few that are free of information leakage on a test set in the forecasting setting.

The simplest methods are implemented in #2269, but it would be nice to have more:

- [ ] `random_fit` - like `random`, but uses min and max from `fit`
- [ ] `random_empirical` - uses uniform sampling from the series seen in `transform` (this is leakage prone

[2022-03-21 23:07] lmmentel commented on #2242
Interesting case. I don't know if it would be possible to get the oldest possible dependency set without dependency conflicts since all the package managers will try by default to get the latest version of packages. I'm afraid that if we pin the oldest supported versions with `==` there will be conflicts. It still might be worth trying.

I wonder at what circumstances this is relevant to check and

[2022-03-22 10:00] #2134 closed

[2022-03-22 10:36] aiwalter opened #2274 "[DOC] Broken links in forecasting notebook"
#### Describe the issue linked to the documentation
There are broken links in the table of contents in the following notebook: https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb

Might also be in other notebooks the same issue --> to be checked.

#### Suggest a potential alternative/fix

[2022-03-22 10:43] ngupta23 opened #2275 "[BUG] `ARIMA`, `ThetaForecaster`, `AutoETS`: `predict_interval` & `predict_coverage` give counterintuitive results"
**Describe the bug**

Some of these may be bugs and some may just need clarification.

1. ARIMA `predict_interval` produces wider intervals for lower coverage level compared to the higher coverage level
2. Quantile to alpha conversion seems to be inconsistent.
3. AutoETS predictions do not match the 50% quantile from `predict_quantiles`
4. Coverage to quantile conversion seems to be inconsistent.

[2022-03-22 11:43] divo12 commented on #2270
I wish to contribute on it

[2022-03-22 11:47] aiwalter commented on #2270
I think we should rather implement this methods it `fit` as I described in the comments of #2269

[2022-03-22 20:30] ngupta23 commented on #2203
This is what we had to do in `pycaret` as a workaround, but a formal addition to `sktime` would be preferred instead of this solution.

https://github.com/pycaret/pycaret/blob/2bcba9b314aa58b0b2def4f3ea05f022e4e2fb80/pycaret/utils/time_series/forecasting/pipeline.py#L7

![image](https://user-images.githubusercontent.com/33585645/159570359-a40c1000-35d3-4490-9741-75a97806b5a8.png)

[2022-03-23 00:00] ltsaprounis opened #2280 "[DOC] Broken link in Developer Guide - Coding Standards"
#### Describe the issue linked to the documentation
Link in [Developer Guide - Coding Standards](https://www.sktime.org/en/latest/developer_guide/coding_standards.html#coding-style) for pre-commit leads to nowhere. It should lead there -> https://pre-commit.com

[2022-03-23 00:08] fkiraly commented on #2275
Thanks!

This was indeed a bug, and a quite serious one.
It looks like it was caused by a typo/mistake in two formulae.
I think it is fixed now, and #2281 is on its way to be released in the next days with 0.11.0.

[2022-03-23 07:35] k1m190r commented on #2185
Reproducing under linux, I'll take a look a this one.

[2022-03-23 09:25] #2275 closed

[2022-03-23 09:49] fkiraly-shell opened #2283 "[DOC] typo in `testing_framework.rst`"
Typo or formatting issue in `testing_framework.rst`, should be easy to fix:

![image](https://user-images.githubusercontent.com/61805342/159671305-25ea136e-a82d-4ee7-9575-a20cd095752d.png)

(this should be a bullet point list, starting at "an `args` parameter")

[2022-03-23 11:43] fkiraly commented on #2203
Yes, good idea imo - this is related to a bigger story.

More generally, the forecasting pipelines need to be refactored and reworked. That is a bit of a project and unlikely to be in 0.11.0, but might be done by mid Apr or so

[2022-03-23 13:19] kongxinz opened #6602 "[BUG] vmdpy - use with odd length data leads to even length decomposition"
Thank you very much for the vmdpy template you provided, but I have the following problems when I use it: the length of my original sequence is fifty-nine, but the length of the subsequence obtained after decomposition has become fifty-eight. What is the reason for the situation? Is there any way to solve this problem?

[2022-03-23 13:53] fkiraly commented on #2127
I think replacing would be good, although some of the loaders should have the functionality to provide a target format argument?
Might also be worth looking at how much duplication there is with the other notebook. If all the content is in the last section of "AA_datatypes_and_datasets", we could remove the other notebook.

One of the two. You may want to have a look and see whether they can be cl

[2022-03-23 13:56] #2280 closed

[2022-03-23 16:15] 0saurabh0 commented on #2283
hi @fkiraly-shell  can i work on this issue?

[2022-03-23 17:23] fkiraly commented on #2283
sure, thanks!

[2022-03-23 17:30] fkiraly commented on #2242
The unwanted scenario is this: we inadvertently make a change that breaks support for "dependency x current version minus 1", which breaks `sktime` for anyone who has other dependencies that imply an upper bound for "dependency x" of current version minus 1 or less.

[2022-03-23 19:10] 0saurabh0 commented on #2283
hey @fkiraly-shell
only second line has to be modified (adding the bullet ) right??

[2022-03-23 19:49] #2194 closed

[2022-03-23 19:52] #1985 closed

[2022-03-23 19:53] fkiraly commented on #1446
now included by https://github.com/alan-turing-institute/sktime/pull/2041

[2022-03-23 19:53] #1446 closed

[2022-03-23 20:30] ngupta23 opened #2290 "[ENH] `WindowSummarizer` inputs for `lag_config`"
**Is your feature request related to a problem? Please describe.**
I am sorry, I am not able to find where this was discussed earlier, but I finally got to test this out in 0.10.1. I have some observations and feedback. Please feel free to chime in.

[code]

![image](https://user-images.githubusercontent.com/33585645/159787854-6855a567-adbb-45f2-9ea9-5aed51d7bb1a.png)

## Describe the solution you

[2022-03-24 04:21] pandeykanad commented on #2274
Hello.
The syntax of the links seems fine, but for some reason, the hyperlinks are directing to the containing folder of the `01_forecasting.ipynb` file `\examples\` instead of within the document itself. I will look into this more.

[2022-03-24 13:02] MatthewMiddlehurst commented on #2255
On the issue of different parameter config for tests with expected results, we could just add an optional parameter to the test instance and get parameter methods. i.e.

[code]

[code]

[2022-03-24 13:58] ngupta23 commented on #1624
@ilkersigirci I have not done any work on this beyond my initial investigation (notebook in https://github.com/alan-turing-institute/sktime/issues/1624#issue-1057679224). If anyone is available to pick this up, please feel free to do so. Thanks!

[2022-03-24 14:02] ilkersigirci commented on #1624
@ngupta23 Thanks, I might look into it since I am trying to use sktime with deep learning models

[2022-03-24 14:32] atsangarides opened #2291 "[BUG] `update` of forecasting pipelines does not transform model"
Update by @fkiraly: the root cause of the below is, probably, forecasting pipelines not performing transform in the `update` method. Changed the title to reflect this.

---

**Describe the bug**

`update_predict_single` no longer refits the model in v0.10.1

**To Reproduce**

[code]

**Expected behavior**

The model should be refitted when setting `update_params` to True. It seems like the propert

[2022-03-24 17:06] fkiraly commented on #2290
Yes, agreed!!

I have had long discussions with @danbartl about this, and he was adamant about that *you* suggested the convention that leads to the "-1". This is quite funny 😆 since your comment confirms it must has been some kind of miscommunication.

Anyway, we have jointly agreed that we will change it to "0 lag means output = input time series", and that the current situation has the status o

[2022-03-24 17:08] fkiraly commented on #2290
(the work is being carried out in this PR https://github.com/alan-turing-institute/sktime/pull/2154)

[2022-03-24 17:13] fkiraly commented on #2291
Thanks for reporting, @atsangarides!

I briefly looked into the base class, and it does seem that `update_predict_single` calls `update` by default, which calls the inner `_update`. The latter has as default "refitting on the entire data seen so far".

So from a framework perspective, it seems that refitting/updating is hardcoded and also done as a default (if all works as intended).

What could b

[2022-03-24 17:29] fkiraly commented on #1624
Excellent, thanks, @ilkersigirci!

Here's the how-to of implementing new estimators.
(this should include that last section since you are adding directly to `sktime`)
https://www.sktime.org/en/latest/developer_guide/add_estimators.html

[2022-03-24 18:16] ngupta23 commented on #2290
Thanks @fkiraly . Yes, it might have been miscommunicated/misinterpreted. But I am glad that the change is happening now.

Just so we avoid miscommunication again, could you clarify what you mean by the following. I am not sure I follow that.

[2022-03-24 18:19] ngupta23 commented on #2290
@fkiraly Also, would this change apply to "Observation 2" as well (for lags) or only for functions like "mean", "median", etc.?

[2022-03-24 18:52] fkiraly commented on #2291
Hmmmm - on first glance, there is a lot of composition here, and in a pipeline the "update" is called sequentially. So it would in theory suffice if it is broken in one of the estimators only, or in the compositors (e.g., the pipeline) for it to break overall.

@aiwalter, do you have any obvious idea? Given that it´s using a number of estimators I think you might be familiar with?

[2022-03-24 18:55] fkiraly commented on #2291
also, quick question, @atsangarides, how do you know it does not refit?

[2022-03-24 19:09] fkiraly commented on #2290
@ngupta23, regarding observation 1: this is one of those things where you get more confused the more you look at it...
If you had the time, I would much appreciate if you could look into the docstring of the PR
https://github.com/alan-turing-institute/sktime/pull/2154/files
and check whether the indexing is now "right" in your opinion. And/or play around with it.

Re observation 2, indeed, we've d

[2022-03-24 19:11] atsangarides commented on #2291
thanks for looking into this @fkiraly !
I use `prefect` for scheduling daily updates. I did a backfill using bumped sktime `0.10.1` and these are the results (see below).
I manually tested the code above to investigate, `predict_update_single` is way too fast. `._y` does get appended with new observations, but there is no refit.
![image](https://user-images.githubusercontent.com/42976901/159992134

[2022-03-24 19:18] fkiraly commented on #2291
Ouch - I hope this didn't incur any trading losses 😅
(I just compulsively had to look up the "IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE" part of our BSD license 😁)

I think I found the error - the `_update` of the `TransformedTargetForecaster` calls `update` of the transformers, but not `transform`! It should be calling, in sequence of the pipeline, `trafo1.update`, `trafo1.

[2022-03-24 19:29] fkiraly commented on #2291
yes, I think it's coming from `TransformedTargetForecaster` and not from the framework. @aiwalter, would much appreciate your (author's) eyes on this, too!

[2022-03-24 19:30] fkiraly commented on #2291
Btw, I think it's also broken in the `ForecastingPipeline`. Just to confirm whether it's not me getting confused here: the `update` of `trafoN` needs to be called on the output of `transform` of `trafo[N-1]`, and not on the input, does that sound correct?

[2022-03-24 19:38] fkiraly commented on #2291
attempted fix here: https://github.com/alan-turing-institute/sktime/pull/2296

[2022-03-24 19:40] fkiraly commented on #2291
Are you saying, it changed in one of the versions?

You're right - if the `_update` wouldn't be there in the pipelines, it would just revert to default behaviour and just continue updating by fitting to the entire data (without calling any implemented `update` functionality of the steps).

[2022-03-24 19:43] fkiraly commented on #2291
I'm noticing, my sentence above give an explanation to the "no time" aspect - calling `update` is usually much faster than a complete refit, so it fits the explanation.

[2022-03-24 19:51] fkiraly commented on #2291
So, here's a question: tests are not catching this currently, because, even though `update` returns garbage, it returns garbage in the expected data format, which the test think is fine. The tests have no means to pick up a garbage estimator, because the garbage could be intentional and hence "correct". Any good ideas about the testing problem here?

[2022-03-24 19:54] atsangarides commented on #2291
Oh. Will hold off from changing my pipeline flows then! Was changing to separate fit/predict steps!
Don't know if my suggestion is of any value re tests.. Internally we tend to test transformations.. i.e. using some static/hardcoded data do we get the transformed values we expect. A dead simple series of transformations you can apply and test input<>output data?

[2022-03-24 19:57] atsangarides commented on #2291
It was working as expected on `0.9.0`

[2022-03-24 19:58] fkiraly commented on #2291
Yes, we do that in parts of the code base already, most prominently in time series classification.
FYI @MatthewMiddlehurst (we had been discussing this recently).
Perhaps we should also do this in forecasting.

Although it would primarily detect whether the logic of the pipeline has *changed*, not whether it produces *garbage*, so it's not quite the same? Perhaps sth tied to performance monitoring

[2022-03-24 20:10] fkiraly opened #2297 "[BUG] readthedocs CI failure - module 'jinja2.utils' has no attribute 'escape'"
Since recently, all readthedocs builds seem to fail with the message `module 'jinja2.utils' has no attribute 'escape'`

The source is `nbconvert` and @aiwalter has opened an issue:
https://github.com/jupyter/nbconvert/issues/1736

[2022-03-25 00:49] fkiraly commented on #2297
Temporarily fixed by #2299 by upper bounding `jinja2` to 3.0.3. Still needs a final fix.

[2022-03-25 00:55] fkiraly commented on #2255
Hm, not a bad idea, @MatthewMiddlehurst.
Although I worry it will be more difficult on implementers.

How would the implementation pattern look like?
Changing from a list to a dict?

[2022-03-25 00:58] fkiraly commented on #2204
Probably not - a lot of other estimators are breaking with the nan testing scenario, and I haven´t fully understood whether the problem is with the testing scenario or with the tags...
https://github.com/alan-turing-institute/sktime/pull/2207

[2022-03-25 01:05] fkiraly commented on #2118
It also seems to be related to various failures of `test_update_predict_predicted_index`.

Attempted symptomatic fix in https://github.com/alan-turing-institute/sktime/pull/2300, we need to treat the root cause eventually by reworking the `update` family of functions more cleanly.

[2022-03-25 01:05] fkiraly commented on #2118
FYI @GuzalBulatova - perhaps #2300 fixes your test failure?

[2022-03-25 01:09] fkiraly commented on #2087
Done, this is now included in `BaseForecaster` via https://github.com/alan-turing-institute/sktime/pull/2100

[2022-03-25 01:09] #2087 closed

[2022-03-25 01:10] fkiraly commented on #2091
done via https://github.com/alan-turing-institute/sktime/pull/2197

[2022-03-25 01:10] #2091 closed

[2022-03-25 01:11] fkiraly commented on #2068
no activity for one month, requested details not provided. Closing.

[2022-03-25 01:11] #2068 closed

[2022-03-25 01:11] fkiraly commented on #2038
Fixed, issue should have been closed after the fix.

[2022-03-25 01:11] #2038 closed

[2022-03-25 01:12] fkiraly commented on #2012
We decided to keep `pytest-xdist` and instead skip the tests.
There is some interaction between that and certain tests and parallelization, this is investigated separately.

[2022-03-25 01:12] #2012 closed

[2022-03-25 01:14] fkiraly commented on #1765
Addressed by the new classification testing framework in https://github.com/alan-turing-institute/sktime/pull/2257, "correctness" moved to issue https://github.com/alan-turing-institute/sktime/issues/2255.

[2022-03-25 01:14] #1765 closed

[2022-03-25 01:14] fkiraly commented on #1751
Fixed by https://github.com/alan-turing-institute/sktime/pull/2069

[2022-03-25 01:14] #1751 closed

[2022-03-25 01:15] fkiraly commented on #1710
We have a mock estimator class now via #2197 thanks to @ltsaprounis, hence this can now be attacked.

[2022-03-25 01:18] fkiraly commented on #1687
All done:
* framework functionality and default for `predict_proba` and `predict_var` was added in https://github.com/alan-turing-institute/sktime/pull/2100
* defaults were added in https://github.com/alan-turing-institute/sktime/pull/1879
* deprecation of `return_pred_int` is done in preparation for 0.11.0, #2271

[2022-03-25 01:18] #1687 closed

[2022-03-25 01:19] fkiraly commented on #1662
Fixed by #1810

[2022-03-25 01:19] #1662 closed

[2022-03-25 01:20] fkiraly commented on #1763
Final design implemented in https://github.com/alan-turing-institute/sktime/pull/2232

[2022-03-25 01:20] fkiraly commented on #1746
Done in https://github.com/alan-turing-institute/sktime/pull/2100

[2022-03-25 01:22] fkiraly commented on #1674
This is automatically happening since we upgraded to test scenarios in #1819, accidentally this issue did not get linked and closed.

[2022-03-25 01:22] #1674 closed

[2022-03-25 01:25] fkiraly commented on #1639
@TonyBagnall, on the current code base, this could be solved by a combination of the `check_estimator` utility and `registry.all_estimators` if we were to introduce a tag for dependency.

Should we introduce a tag for dependency?

[2022-03-25 01:26] fkiraly commented on #1590
I think @khrapovs was working on this - I feel that has notably improved and we can consider this closed.

[2022-03-25 01:26] #1590 closed

[2022-03-25 01:26] fkiraly commented on #1505
This is now done with https://github.com/alan-turing-institute/sktime/pull/1833 and subsequent refactors of the forecaster and classifier test suites.

[2022-03-25 01:26] #1505 closed

[2022-03-25 01:29] fkiraly commented on #1439
sktime has multivariate models and tags for it, I consider this resolved hence.
Of course, not all forecasters or classifiers will be multivariate.

[2022-03-25 01:29] #1439 closed

[2022-03-25 01:30] fkiraly commented on #1411
The cutoff logic has been properly fixed via #2115.

[2022-03-25 01:30] #1411 closed

[2022-03-25 01:33] fkiraly commented on #2291
I changed the title of this issue to reflect the root cause bug.

Sadly, this was already reported by @mloning in #1381 and it was completely ignored by all other core devs...
I guess there is a lesson there.

[2022-03-25 01:34] fkiraly commented on #1381
Closed in favour of the more recent bug report caused by this issue, https://github.com/alan-turing-institute/sktime/issues/2291

[2022-03-25 01:34] #1381 closed

[2022-03-25 01:35] fkiraly commented on #1373
Esig has been included in `all_extras` since the CI-CD refactor at latest, #1620.

[2022-03-25 01:35] #1373 closed

[2022-03-25 01:35] fkiraly commented on #1346
@patrickzib added clasp in #1352 but we forgot to close this issue.

[2022-03-25 01:35] #1346 closed

[2022-03-25 01:38] fkiraly commented on #1281
Since the CI-CD refactor #1620, this uses the `all_extras, binder, dev` dependency sets.

[2022-03-25 01:38] #1281 closed

[2022-03-25 01:38] fkiraly commented on #1245
The 2021 docstring has concluded.

[2022-03-25 01:38] #1245 closed

[2022-03-25 01:40] fkiraly commented on #1241
This is a sub-case of current checks in `_check_X_y`, i.e., an error is raised for estimators with the tag `X-y-must-have-same-index` if the `X` indices do not *contain` the `fh` indices.

[2022-03-25 01:40] #1241 closed

[2022-03-25 01:40] fkiraly commented on #1227
@lmmentel, @freddyaboulton, which of these are resolved by now, do you know?

[2022-03-25 01:41] fkiraly commented on #1159
done by #1707

[2022-03-25 01:41] #1159 closed

[2022-03-25 01:42] fkiraly commented on #1086
done a long time ago via the `registry` refactor.

[2022-03-25 01:42] #1086 closed

[2022-03-25 01:43] fkiraly commented on #1038
This is the `ColumnEnsembleForecatser`, added in #1082.

[2022-03-25 01:43] #1038 closed

[2022-03-25 01:45] fkiraly commented on #1006
The function is called `_check_fh`, and uses the state of `self` instead of a caller argument.

[2022-03-25 01:45] #1006 closed

[2022-03-25 01:46] fkiraly commented on #929
VECM is still open, adding good first issue tag.

[2022-03-25 01:47] fkiraly commented on #901
fixed at some point, we are using readthedocs now

[2022-03-25 01:47] #901 closed

[2022-03-25 01:48] fkiraly commented on #894
Ultimately, this was done in various PR:
https://github.com/alan-turing-institute/sktime/pull/1997
https://github.com/alan-turing-institute/sktime/pull/1734

[2022-03-25 01:48] #894 closed

[2022-03-25 01:48] fkiraly commented on #893
Ultimately, this was done in various PR:
https://github.com/alan-turing-institute/sktime/pull/1997
https://github.com/alan-turing-institute/sktime/pull/1734

[2022-03-25 01:48] #893 closed

[2022-03-25 01:49] fkiraly commented on #664
Done in https://github.com/alan-turing-institute/sktime/pull/1255

[2022-03-25 01:49] #664 closed

[2022-03-25 02:18] fkiraly commented on #348
This is covered in the `AA_datatypes_and_datasets` notebook added in #1232.

[2022-03-25 02:18] #348 closed

[2022-03-25 02:18] fkiraly commented on #465
This is a sub-case of `AutoARIMA`, hence covered by `AutoARIMA` currently in sktime.

[2022-03-25 02:18] #465 closed

[2022-03-25 02:19] fkiraly commented on #480
@IlyasMoutawwakil covers most of this in #1865

[2022-03-25 02:19] #480 closed

[2022-03-25 02:21] fkiraly commented on #954
This is possible using `DiscreteFourierTransformer` in a pipeline with `AutoARIMA`.

[2022-03-25 02:21] #954 closed

[2022-03-25 03:12] k1m190r commented on #2185
OK this is really weird, the root cause is somewhere outside of sktime in `statsmodels`.
The test that is failing, is failing with specific forecaster `ExponentialSmoothing` if `trend="mul"`.

this line does not converge sometimes... a little more below...
[`forecaster.fit(y_train, X_train, fh=fh, **fit_params)`](https://github.com/alan-turing-institute/sktime/blob/b36eeca85a9735a4b899e41437c72991

[2022-03-25 08:34] fkiraly opened #2301 "[ENH] video editing help for the sktime tutorial videos"
Over the years, sktime core devs have recorded a number of videos which contain tutorials for users or developers.
Most of these have been shared only on small scale, at developer sprints etc.

We would like to make this available publicly on the youtube channel, but they require some degree of cutting, editing, etc, and familiarity with youtube.

There are currently no sktime core devs with that

[2022-03-25 09:54] fkiraly commented on #1850
@biologioholic, sorry to as, I might be confused.
Where exactly is your draft PR? I haven't seen one.

[2022-03-25 10:23] fkiraly commented on #2181
Merged, hence done.

[2022-03-25 10:23] #2181 closed

[2022-03-25 10:39] MatthewMiddlehurst commented on #2255
I'm not really sure what the List is used for currently, what I had in mind was just an if statement really, i.e.

[code]

Returning a dictionary could also work, like you said? i.e.

[code]

[2022-03-25 12:02] fkiraly commented on #2255
ah! I see.
Your variant is much more downwards compatible, since you can simply ignore the `parameter_set` argument.

I'd be happy with you adding the `parameter_set` parameter in `BaseObject` with a default of `"default"`, and having two sets for classifiers (this must be explained in the docstrings of course, so you may want to override the default in `BaseClassifier` with a docstring that expla

[2022-03-25 15:16] ngupta23 commented on #2290
@fkiraly I think it is still not consistent with what is proposed in this issue

https://github.com/alan-turing-institute/sktime/pull/2154/files#r835367534

[2022-03-25 15:41] biologioholic commented on #1850
Sorry for the confusion. I have closed that draft since it only has ETS. This PR includes other model as well.

https://github.com/biologioholic/sktime/pull/3#issue-1177143455

[2022-03-26 04:16] Anonymous-gh0ST commented on #2301
Hi @fkiraly, I will like to work on this issue

[2022-03-26 16:15] lmmentel opened #2308 "[MNT] Consider github scheduled reminders for PRs"
**Is your feature request related to a problem? Please describe.**

We could try to reduce the time it takes to review PRs by subscribing to scheduled reminders from github that would periodically remind core developers about outstanding reviews. More information here https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organiz

[2022-03-26 22:22] ngupta23 commented on #2291
I wonder if this is related to this one: https://github.com/alan-turing-institute/sktime/issues/2203

[2022-03-26 22:33] fkiraly commented on #2203
As of 0.11.0, functionality to wrap a chain of transformers is now provided by `TransformerPipeline` - this will likely be used in a refactor of the forecasting pipelines.

[2022-03-26 22:35] fkiraly commented on #2291
@atsangarides, we've just released 0.11.0, which should contain the fix for your problem.

Based on our discussion, I've also started working on a wrapper that allows you to control how often you refit (instead of update):
https://github.com/alan-turing-institute/sktime/pull/2305

Note that, currently, transformers have an empty update by default and update only if a given transformer implements u

[2022-03-26 23:29] jyviko opened #2312 "[BUG] ColumnEnsembleClassifier throws `ValueError: The data has unequal length series` when using an estimator that supports unequal lengths"
**Issue**
`ColumnEnsembleClassifier` complains when adding estimators that have unequal lengths. For example I am using a `TimeSeriesForestClassifier` classifier with unequal lengths and I am getting:
`ValueError: The data has unequal length series, this classifier cannot handle unequal length series`

**To Reproduce**

[code]
The above throws:
[code]
**Additional context**
When adding:
[code]
bef

[2022-03-26 23:57] fkiraly commented on #2312
Yes, this is a bug, and I can confirm this.

The behaviour should be as follows:
if `ColumnEnsembleClassifier` is constructed with classifiers, all of which can deal with unequal length data, the tags should indicate the composite also can.
The default should probably also be "can handle", so the compositor is found when searching for classifiers which can handle unequal length data.

[2022-03-27 00:00] fkiraly opened #2313 "[ENH] correct capability tags in classifier pipelines, forecasting pipelines, etc"
The following case in pipeline building is currently not handled correctly:

Suppose we build a pipeline with transformers that ensure the output is equally spaced and has no missing data (e.g., imputer, and padder).
Then, the resulting pipeline should know that it can deal with missing and unequally spaced data, even if the last components cannot.

Currently, this would result in an error being t

[2022-03-27 00:35] fkiraly commented on #2308
agreed, good idea!

[2022-03-27 00:37] fkiraly commented on #2301
Great, @Anonymous-gh0ST!
I assume you have video editing experience?

We'd need to give you some level of access for this to work.
Would you kindly be able to ping myself, @GuzalBulatova, @aiwalter, @TonyBagnall on slack and provide us with time slots suitable for an introduction meeting, and some examples of your video editing work, e.g., on youtube?

[2022-03-27 00:41] fkiraly commented on #2290
@danbartl, appreciate your eyes on this once you are back...

[2022-03-27 01:20] fkiraly commented on #2202
Implemented here now:
https://github.com/alan-turing-institute/sktime/pull/2314

The error message is longer, it also lists the possible mtype strings that can be used in `check_raise`.

0.11.0 has the first, shorter version from this issue.

[2022-03-27 01:22] #2291 closed

[2022-03-27 02:14] ngupta23 opened #2315 "[ENH] AutoETS: heavy random fluctuations in interval predictions - investigate random seed and correctness"
Update by @fkiraly: the below is not a bug, but a consequence of what seems like quite serious random variation in the prediction intervals and quantiles produced by `AutoETS`.

It may be useful to investigate whether:
* a random seed can be set in `AutoETS` to allow deterministic comparisons
* whether the prediction intervals should be something different (e.g., variation predicted added to varia

[2022-03-27 11:27] lmmentel commented on #1654
Conda package is now `noarch` so it should work on M1 https://anaconda.org/conda-forge/sktime. I'll close this one and let you open a new issue if there are installation problems.

[2022-03-27 11:27] #1654 closed

[2022-03-27 12:29] ngupta23 opened #2317 "[BUG] ForecastingPipeline does not implement `predict_quantiles` or `predict_interval`"
**Describe the bug**
When using a `ForecastingPipeline`, the checks for prediction interval need to be based on the final forecaster in the pipeline but currently this does not seem to be the case.

**To Reproduce**
[code]

[code]

**Expected behavior**
Would have expected the `ForecastingPipeline` to look at the underlying `ThetaForcester` for capability and run to completion i.e. produce the sam

[2022-03-27 12:31] fkiraly commented on #2313
same for forecasting pipelines, #2137

[2022-03-27 12:31] fkiraly commented on #2317
Special case of https://github.com/alan-turing-institute/sktime/issues/2313

[2022-03-27 12:34] fkiraly commented on #2317
Actually, this is a special case of
https://github.com/alan-turing-institute/sktime/issues/2088

and not a bug - the reason is "currently not implemented".

[2022-03-27 12:35] ngupta23 commented on #2317
So @fkiraly , will this work eventually or are you suggesting setting the tag for prediction interval to False in `ForecastingPipeline`?
What would be the end state for this?

[2022-03-27 12:37] fkiraly commented on #2317
The end state would be that `predict_interval` etc works.

The problem is not the tag setting, the problem is that the logic is not implemented.

Help would be appreciated!
For the `ForecastingPipeline`, the logic should be easy - the inner `predict` in the outer `predict` should be replaced by `predict_interval` for the outer `predict_interval` etc, and arguments patched through.

For `Transforme

[2022-03-27 12:38] fkiraly commented on #2317
Is it? Did it work before?

[2022-03-27 12:42] ngupta23 commented on #2317
`return_pred_int` in `predict` (version 0.10.1) worked with the `ForecastingPipeline`. But with the 0.11.0 release, I have to switch to using `predict_intervals` (due to deprecation of `return_pred_int`) and that does not work anymore.

[2022-03-27 12:53] ngupta23 commented on #2317
@fkiraly What if I add 2 methods here called `_predict_interval` and `predict_quantiles` and replace the return statement with `forecaster.predict_interval` and `forecaster.predict_quantiles` respectively. Is this what you are recommending?

https://github.com/alan-turing-institute/sktime/blob/f06b9b0a43db13e9e0217cc3c7de8f3807d3c722/sktime/forecasting/compose/_pipeline.py#L250

[2022-03-27 12:56] fkiraly commented on #2317
let me give it a shot

[2022-03-27 12:58] fkiraly commented on #2317
Here:
https://github.com/alan-turing-institute/sktime/pull/2318

[2022-03-27 13:02] ngupta23 commented on #2317
Wow, @fkiraly that was quick. Could you please apply these changes to TransformedTargetForecaster as well? Thank you do much!

[2022-03-27 13:08] fkiraly commented on #2317
That is not as easy, since we need to back-transform the proba outputs. It will also be "correct" only for `_predict_interval` and `predict_quantiles`.

[2022-03-27 13:08] fkiraly commented on #2317
And no guarantees that it works at the first attempt.

[2022-03-27 13:09] ngupta23 commented on #2317
I am only using predict_interval and predict_quantiles for now so that would work if it is available.

[2022-03-27 14:19] ngupta23 opened #2319 "[BUG] Dev version Installation does not work on Google Colab"
**Describe the bug**
Dev version Installation does not work on Google Colab

**To Reproduce**
[code]

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-03-27 15:20] lmmentel commented on #2319
Thanks for reporting. I just checked and it seems it's related to the recent change in #2299 where license information was moved around. Here's what I see from the logs

[code]

@fkiraly any thoughts?

[2022-03-27 15:22] lmmentel commented on #1657
I run a check just now and notebooks work on py38 and py39 so this can be closed until the issue reappears. Thanks for the help @Aparna-Sakshi

[2022-03-27 15:22] #1657 closed

[2022-03-27 20:00] fkiraly opened #2323 "[BUG] AutoETS fails on pandas input with int dtype"
**Describe the bug**

`AutoETS` breaks if fitted on a `pandas` container with `int` dtype.

**To Reproduce**

[code]

**Expected behavior**

It should not break. This can probably be fixed by casting to float internally, by `y = y.astype(float)`. Needs checking

**Additional context**

We probably also should add test that passes examples with int data.
This should be added to `scenarios_forecasti

[2022-03-27 20:00] fkiraly commented on #2323
good first issue, fix or adding scenario should be simple

[2022-03-27 20:01] fkiraly commented on #2319
I ... have no idea.

Looks like we have the decision to break either all of `sktime` or only `sktime` on colab...

Any good ideas?

[2022-03-27 20:57] fkiraly commented on #2315
As per discussion in https://github.com/alan-turing-institute/sktime/pull/2320, this is most likely not a bug, but a side effect of how `AutoETS` internally generates prediction intervals, which apparently comes with heavy random variation.

There is currently no way to set a random seed, so I will change this issue into investigating this.

[2022-03-27 22:12] fkiraly opened #2327 "[ENH] How to test `inverse_transform` if certain columns are expected?"
This is a design question: how do we automate tests for `inverse_transform`?

In our current test suite, some transformers produce transformed `pd.DataFrame` with special column names, e.g., `WindowSummarizer` or `FeatureUnion`.

Hence, in order to test `inverse_transform`, inputs with these column names need to be generated.

The easiest way seems to be by using `transform`, although that is no l

[2022-03-28 04:03] Anonymous-gh0ST commented on #2301
I really appreciate your reply, but I think I misinterpreted the issue's details earlier when I checked it. I thought it was kind of a documentation writing for a video edit, because I saw a _**"documentation"**_ label tagged on the issue. I'm so sorry for the mix-up @fkiraly , my sincere apologies. Though, if it is something that I can do without prior experience please let me know, I'll be willi

[2022-03-28 11:47] fkiraly opened #2329 "[DOC] "build requirements" section in installation section, may be missing content or may be better moved"
There is an inconsistency in the developer install instructions:
at the top, it is said that step 2, the "build requirements" section, depends on the operating system.

However, there is no distinction between different operating systems in the "build requirements" section, and it also seems to be specific to windows?
It is also substantially shortened, I believe since we removed the dependency on

[2022-03-28 12:13] fkiraly commented on #2301
no probs, @Samuel-Oyeneye!
We're indeed looking for someone who's already done this kind of thing a couple times - "no prior experience" is also sth our core devs have, as said above 😄

[2022-03-28 12:27] fkiraly opened #2331 "[ENH] add non-duplicate (multi)index to sktime data specification and input checks"
We should enforce non-duplicate row and column indices as part of the data specification.

This will need to be ensured in the `_check` functions in the `datatypes` module, and the specifications in the `AA_datatypes_` notebook need to be updated accordingly.

---

Following a suggestion by/discussion with @grzegorzrut in https://github.com/alan-turing-institute/sktime/pull/2325.

We probably want

[2022-03-28 12:40] #2297 closed

[2022-03-28 12:50] khrapovs opened #2332 "[ENH] Replace deprecated `pandas.Int64Index` with `pandas.Index`"
**Is your feature request related to a problem? Please describe.**

`pandas.Int64Index` is deprecated since pandas 1.4.0 and will be removed in 2.0. https://pandas.pydata.org/docs/reference/api/pandas.Int64Index.html

Now we get the warning:
[code]

**Describe the solution you'd like**

Replace with pandas.Index. https://pandas.pydata.org/docs/reference/api/pandas.Index.html

[2022-03-28 13:52] fkiraly commented on #2332
Duplicate of #2049, closing #2049 in favour of this since it is better described here.

An attempt was already made by @gcchablani https://github.com/alan-turing-institute/sktime/pull/2082, it is probably abandoned.
Naive, ulk replace does not work, since we had used the type in type checking as well as type casting and type enforcement, replacing by `Index` is too permissive.

[2022-03-28 13:52] fkiraly commented on #2332
... @aiwalter, maybe not a good first issue? As said, bulk replace does *not* work, and one needs to understand various intricate pieces of logic to get this fixed.

[2022-03-28 13:53] fkiraly commented on #2049
Closing in favour of https://github.com/alan-turing-institute/sktime/issues/2332 which has a clearer title and description.

[2022-03-28 14:12] #2049 closed, assigned to nobody

[2022-03-28 19:28] fkiraly commented on #2283
Thanks!

[2022-03-28 20:36] fkiraly opened #2337 "[ENH] Investigate `visions` for use in `datatypes` module"
@lmmentel pointed out the [`visions`](https://github.com/dylan-profiler/visions) library which provides abstract functionality for semantic typing, similar to our `datatypes` module.

We should investigate whether we could use it to replace logic in the `datatypes` module and whether it has sufficient features for our needs.

E.g., could we move our `_check` functions to `contains_op` etc.

I have

[2022-03-28 22:21] kearkyle commented on #2323
Hi @fkiraly, I did `y=y.astype(float)` under _fit function in ets.py but it seems that it doesn't change type from int to float internally when I call `print(y.dtypes)`. It seems to throw an error from within  _statsmodels.py when calling `if isinstance(y, pd.Series) and type(y.index) == pd.Int64Index`.
![image](https://user-images.githubusercontent.com/43527143/160496077-b89c6209-7bfd-4f47-b15b-8

[2022-03-29 06:54] khrapovs opened #2338 "[ENH] @lru_cache in ForecastingHorizon is an error for `flake8-bugbear`"
**Is your feature request related to a problem? Please describe.**

Starting from version 22.3.20 of `flake8-bugbear` (https://github.com/PyCQA/flake8-bugbear/releases/tag/22.3.20) `@lru_cache` decorator in `sktime.forecasting.base._fh.ForecastingHorizon.to_relative` and `sktime.forecasting.base._fh.ForecastingHorizon.to_absolute` raises a pre-commit error. Adding `# noqa: B019` silences the warni

[2022-03-29 09:42] atsangarides commented on #2291
@fkiraly Thank you so much! will give it a shot now! You responsiveness is amazing.
We need to start contributing to sktime... We have some methods wrapping the `evaluate` method for backtesting (what `update_predict` with a CV was supposed to be doing) with pred intervals, plotly visuaisations for easier inspection of longer time series, etc, that I think would benefit other people

[2022-03-29 11:31] atsangarides commented on #2291
Just checked with `0.11.0`. Observations:

1. Lost the ability to return prediction intervals using the `TransformedTargetForecaster`. Same as #2317
2. My filter acts on a window, so updating (`update_predict_single(y=y_new_only)`) with say last day's observations (24, which is shorter than the window=168) raises the error below (this goes away if I use `update_predict_single(y=y_old_with_new)

[2022-03-29 12:16] khrapovs commented on #1750
Reading the pandas PR where `freq` was deprecated I now understand better why it was done. The bad news is that there is no trivial alternative to get this `freq` thing. Since a single timstamp does not have a well defined inherent frequency in it, perhaps it would be better to work exclusively with `pd.Period` objects, where frequency is totally native.

[2022-03-29 15:59] fkiraly commented on #2075
just following up on this, @claudia-hm. No reaction from `pmdarima` on the issue yet? E.g., confirmation whether it´s a bug?
Have you heard from them otherwise?

[2022-03-29 16:00] fkiraly commented on #2323
I think you need to change the dtype of the *data* without changing the dtype of the *index*. If you change the index, too, it is no longer following the sktime format specification.

[2022-03-29 16:02] fkiraly opened #2340 "[ENH] Test whether sktime works on colab"
We've had a couple instances where we didn't catch sktime not installing or otherwise working on colab:

* #2319
* #2033

This has now happened twice.
Due to the popularity of colab I think it's frequent enough that we should try to test for it, at least at release.

I'm not sure how to do this and whether it's possible with GHA.
Good first issue for someone who knows how to do it, there may be a

[2022-03-29 16:27] fkiraly commented on #2338
@khrapovs, why does it raise the error?
I thought the B019 specification does this for *class methods*, which makes sense to me since since all objects share it, but this is an *object method* (not a class method), so it doesn't should like it *should* be raised?

[2022-03-29 19:50] fkiraly opened #2344 "[ENH] Pass `pmdarima` and `prophet` models' `fit_params` to constructor"
Native (not `sktime`) `pmdarima` models `ARIMA` and `AutoARIMA`, and `Prophet` (in`prophet`, not `sktime`) have some parameters which can be passed via `fit_params` (natively in `pmdarima` or `prophet`).
Users should be able to pass those parameters through the constructor of the `sktime` interface classes.
We should:

* check whether we are missing any parameters in the constructors that can be p

[2022-03-29 22:05] MatthewMiddlehurst opened #2345 "Duplicate TimeSeriesForest classifiers"
We currently have two implementations of the TSF algorithm. ComposableTimeSeriesForestClassifier and TimeSeriesForestClassifier. Both inherit from BaseTimeSeriesForest and have issues with multiple inheritance breaking our BaseClassifier template. One of these should be deprecated and removed (ComposableTimeSeriesForestClassifier imo), probably alongside a rework of the series_as_features package.

[2022-03-29 22:11] MatthewMiddlehurst opened #2346 "Public bespoke base classifiers - keep public, or deprecate?"
Currently, a number of bespoke base classifiers for TSC ensembles are public. i.e. IndividualBOSS, IndividualTDE, ProximityTree and ProximityStump. Is there much value is keeping these public? They are tested as part of their respective ensembles, and I doubt their usefulness as standalone classifiers.

[2022-03-29 22:17] MatthewMiddlehurst opened #2347 "[MNT] Duplicate MatrixProfile transformers? Why are there two?"
There are two matrix_profile.py files in the transformations package, one in series and one in panel. Are these the same transform, or are they doing different things using the matrix profile? I think the panel one at least is using the matrix profile as a distance (MPDist), would this not be better as a distance rather than a transformer?

[2022-03-29 22:19] MatthewMiddlehurst commented on #2116
Is this (and #2132) good? I don't think it is necessary to test every single method on every single classifier. Just testing the interface and our input data types should be enough.

[2022-03-29 22:21] fkiraly commented on #2116
@MatthewMiddlehurst, does the grid search work for all `sktime` input types?

[2022-03-29 22:23] MatthewMiddlehurst commented on #2116
There are tests for both 3d numpy and nested DataFrames which pass. 2d numpy and dataframes should already be accepted sklearn inputs.

[2022-03-29 22:50] fkiraly commented on #2347
I know the GitHub ID of @mloning, but do you know that of Claudia Sanchez who did not leave her GitHub ID in the code?

[2022-03-29 22:53] fkiraly commented on #2338
Is that a bug in `flake8-bugbear` then? Since implemented functionality does not seem to comply with the specified functionality.

[2022-03-29 22:54] fkiraly commented on #2338
Well, it's called *bug*bear, so might be plausible?

[2022-03-30 03:56] srggrs commented on #2263
I've run test with
[code]
which contains `check_panel_to_panel_transform_univariate` and this is the result:
[code]

[2022-03-30 05:07] mihirneal commented on #2017
Hey, I'd like to work on this issue. Could you assign this to me?

[2022-03-30 07:19] khrapovs commented on #2338
I have asked the question about class methods in https://github.com/PyCQA/flake8-bugbear/pull/218. Let's see what they answer.

[2022-03-30 12:21] fkiraly commented on #2338
maybe better in an open issue, since closed PR are less well tracked?

[2022-03-30 14:33] k1m190r commented on #2312
I'm looking at it

[2022-03-30 16:36] khrapovs commented on #2338
Opened the issue: https://github.com/PyCQA/flake8-bugbear/issues/250

[2022-03-30 17:32] #2283 closed

[2022-03-30 21:59] fkiraly commented on #2327
would that not require, potentially, one `Xt` per transformer?

[2022-03-30 22:01] fkiraly commented on #2017
Related to this
https://github.com/alan-turing-institute/sktime/issues/2329
there does not seem to be a section this points to.

Removing the "good first issue" tag since it does not seem obvious what the fix should be (see #2329)

[2022-03-30 22:01] fkiraly commented on #1750
hm, could we make a converesion internally in the `ForecastingHorizon`?

[2022-03-31 07:27] khrapovs commented on #2338
So, the question was answered. There is no error, no bug. It is only our (or rather my) lack of understanding how caching works in combination with classes and their methods. I see two ways to proceed:

1. At least temporary add `# noqa: B019` comment next to `@lru_cache`. This would allow to make changes in `sktime.forecasting.base._fh` module.
2. Address a deeper issue with caching. Again, is it

[2022-03-31 09:04] RISHIKESHAVAN opened #2350 "[ENH] Add `tbats` packages to sktime conda recipe"
**Is your feature request related to a problem? Please describe.**
Currently, installing `sktime-all-extras` via `conda` requires the packages - `catch-22`, `pmdarima` and `tbats` to be installed via `pip` as well. Ref: https://www.sktime.org/en/stable/installation.html#installing-sktime-from-conda

However, `pmdarima` and `tbats` are now available on `conda`.

**Describe the solution you'd like**

[2022-03-31 10:25] AlbertWh1te opened #2351 "[BUG] Can't install on M1 Mac"
**Describe the bug**

I can't install this package on mac book pro M1

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
  File "/opt/homebrew/Caskroom/miniforge/base/envs/sktime/lib/python3.8/site-packages/sktime/classification/dictionary_based/__init__.py", line 13, in <module>
    from sktime.classification.dictionary_based._boss import BOSSEnsemble, Individu

[2022-03-31 10:30] fkiraly commented on #2350
as a side note, when this is done, we should make a parallel PR to the `sktime` docs where the reference is updated accordingly. It will remain but only point to `catch-22`.

[2022-03-31 16:24] fkiraly commented on #2338
The "simple" solution would be to move this to loose functions `to_absolute(fh, cutoff)` and `to_relative(fh, cutoff)` which are then referenced from within the class, no?

[2022-03-31 16:56] fkiraly opened #2354 "[BUG] code-quality CI fails due to incompatibility of click with black"
`code-quality` checks in CI are failing due to an incompatibility ot `click` with the newest `black` version.
Error traceback is
[code]

A suggested workaround is pinning `click`, see https://github.com/alan-turing-institute/sktime/pull/2353.

This temporary fix is attempted in https://github.com/alan-turing-institute/sktime/pull/2353.
We can close this issue once the pin/fix is removed again.

[2022-03-31 20:11] fkiraly opened #2357 "[ENH] statsmodels AutoReg and SARIMAX"
We should interface `AutoReg` and `SARIMAX` from `statsmodels` as forecasters.

- [x] `SARIMAX`
- [ ] `AutoReg`

SARIMAX is currently not available in `sktime`, so having it would be nice.

`AutoReg` would be good to use in `sktime` `VAR` (which interfaces `statsmodels` `Var`) in a case where the `y` passed is univariate.
Currently `VAR` erros out when a univariate `y` is passed; mathematically, A

[2022-03-31 20:30] prathamagrawal commented on #2340
sktime does work with Google colab, it needs to be installed the first time. and can be easily done.
the command for the installation of sktime is
`!pip install sktime`
this code will install sktime in your colab notebook.
To check if it's rightly installed, run the following commands:
`import sktime
from sktime import datasets
y=datasets.load_airline
y`

this would generate a univariate data fram

[2022-03-31 22:35] ltsaprounis commented on #2327
I was thinking of something along the lines of:

[code]

[2022-03-31 22:39] fkiraly commented on #2327
hm, what would we overwrite it with? I.e., where do we get the info on the columns from?

[2022-03-31 22:45] biologioholic commented on #2357
😄 @fkiraly Looks interesting! Sure, I will take on this work

[2022-03-31 22:47] fkiraly commented on #1850
Investigated by @biologioholic - with #2304, all currently interfaced statsmodels models have the full parameter set.

Details from #2304, citing @biologioholic there:

There is no more parameters missing for statsmodel interface.  I realize it's been a lengthy first PR. Really appreciate the patience and input of everyone involved (Next time I'll make a draft PR first 😄). Below is a summary of wh

[2022-03-31 22:47] #1850 closed

[2022-03-31 23:58] fkiraly opened #2361 "[BUG] forecaster `update` errors out if `fh` is not passed in `fit`"
For an estimator that does not require `fh` in `fit` and which does not implement its own `_update`:
if no `fh` is passed in `fit`, then `update` is called with the default `_update`, and it breaks as it tries to read `self.fh` which raises an error. Instead, `self._fh` should be read, which does not raise an error.

[code]

Expected behaviour: no error, and simply refits with `fh= None`.

[2022-04-01 09:25] khrapovs commented on #2338
@fkiraly Something like that https://github.com/alan-turing-institute/sktime/pull/2364?

[2022-04-01 11:34] #2361 closed

[2022-04-01 12:57] #2338 closed

[2022-04-01 13:50] RISHIKESHAVAN commented on #2350
@fkiraly As suggested, I have raised PR with the changes in documentation and also updated the issue description. The PR can be merged after the changes in [conda-forge](https://github.com/conda-forge/sktime-feedstock/pull/33) is merged.

[2022-04-01 19:08] #2350 closed

[2022-04-01 19:37] fkiraly commented on #2340
@prathamagrawal, thanks for confirming this!

Just for clarification, this issue is about adding an automated test to our CI/CD or release pipeline which, for each PR or before every release, automatically checks whether the resulting package *would* work on colab.
Manual testing is good (and thanks for confirming), we would also want this in the automated tests.

[2022-04-01 19:46] fkiraly commented on #1871
This seems to be an error coming directly from the underlying model in `statsmodels`, as evidenced by this minimum reproducible example based on yours:

[code]

[2022-04-01 19:59] fkiraly commented on #1871
Opened an issue on `pmdarima` here: https://github.com/alkaline-ml/pmdarima/issues/492

[2022-04-02 02:51] kearkyle commented on #2323
Seems like changing `y=y.astype(float)` , I'm looking at the adding scenario case, could you explain how we can approach this?

[2022-04-02 08:12] khrapovs opened #2368 "[BUG] Seemingly sporadic test failure on Mac Python 3.7"
**Describe the bug**

Here is the failed run: https://github.com/alan-turing-institute/sktime/runs/5788191259?check_suite_focus=true

[code]

**Additional context**

Does not seem related to anything in the PR itself. After updating the branch with newer commits the pipeline is successful again.

[2022-04-02 10:24] fkiraly commented on #2368
Hm, could you post the error traceback? The above seems to contain only the warnings.

[2022-04-02 10:25] fkiraly commented on #2323
Perhaps, first of all, @kearkyle:
* can you reproduce the bug?
* it looks like you do not have a full developer setup which would allow you to run a debugger. I advise to start getting that set up

[2022-04-02 14:28] Ris-Bali commented on #2344
Can I work on this issue @fkiraly ?

[2022-04-02 14:33] aiwalter commented on #2344
@Ris-Bali yes pls 🙂

[2022-04-02 17:44] fkiraly opened #2371 "[ENH] move augmentations from `transformations.panel.signature_based` to `transformations.series.augmenter`?"
While refactoring the transformers module, I discovered a number of potentially useful augmenters that were, apparently, private in the "signatures" module.

We should review them and should probably move them to the same space where the other augmenters are.

FYI, @MrPr3ntice, @iljamaurer, have you seen that? What do you think?
FYI @jambo6, re signatures.

Before we move them, we should ensure in

[2022-04-02 19:33] #1578 closed

[2022-04-02 21:14] #2354 closed

[2022-04-02 21:22] fkiraly opened #2374 "[BUG] SignatureTransformer and SignatureClassifier was incorrect, erroneously transpose numpy3D arrays"
As far as I can tell, both `SignatureClassifier` and `SignatureTransformer` were giving incorrect results.

The reason is that the signature transform adopted the wrong specification for numpy 3D arrays, namely, `(n_instances, n_timepoints, n_columns)` instead of the official `(n_instances, n_columns, n_timepoints)`.

`SignatureClassifier` was assuming the latter, `SignatureTransformer` the former

[2022-04-02 23:15] fkiraly commented on #2290
Fixed by https://github.com/alan-turing-institute/sktime/pull/2316

[2022-04-02 23:15] #2290 closed

[2022-04-03 07:12] khrapovs commented on #2368
Full raw log is available in the workflow: https://pipelines.actions.githubusercontent.com/serviceHosts/4020a5b7-5870-47fe-a430-bbf53b49363a/_apis/pipelines/1/runs/19096/signedlogcontent/15?urlExpires=2022-04-03T07%3A12%3A50.9915449Z&urlSigningMethod=HMACV1&urlSignature=kN0r7arWFNJPjFvGU8lfLkDbeQ7qK%2BkCh%2B8GKDTg8iE%3D

[2022-04-03 10:24] #2202 closed

[2022-04-03 10:25] fkiraly commented on #2202
Yes, of course. It was just meant as a sketch, with the implied understanding that "Franz will fill in the rest".

[2022-04-03 10:26] mloning commented on #2347
If I remember correctly, one is a custom implementation for time series classification, the other one uses stumpy.

[2022-04-03 12:44] khrapovs opened #2376 "[ENH] Implement `ForecastingHorizon.to_indexer` method for non-integer forecasting horizons"
**Is your feature request related to a problem? Please describe.**

In https://github.com/alan-turing-institute/sktime/pull/2333 I have generalized `ForecastingHorizon` to accept non-integer forecasting horizons, e.g. `pd.Timedelta`. The only method which is not adjusted is `ForecastingHorizon.to_indexer`. In the referenced PR it raises `NotImplementedError` instead. The main reason I left it at t

[2022-04-03 15:27] fkiraly opened #2377 "[MNT] remove minute-long tests and docstring examples"
A small number of estimators' tests contribute to >10 minutes of test time:
* proximity sth and HIVE COTE in classification
* facebook prophet
* statsforecast AutoARIMA

We should remove these entirely and/or find much faster test parameters (smaller data, hyperparameter choices).

FYI @MatthewMiddlehurst, @TonyBagnall, @aiwalter, @FedericoGarza:
Culprits are below:

![image](https://user-images.g

[2022-04-03 15:28] fkiraly commented on #2377
good first issue since it requires mainly "playing around" with data/parameters and can be solved by anyone who is able to run tests (see https://www.sktime.org/en/stable/developer_guide/continuous_integration.html developer instructions)

[2022-04-03 17:51] fkiraly commented on #2376
I looked into this, and I think I know the answer.

`to_indexer` returns the *loc* indices of the prediction object.

Since `fh` pre-Staislav was *iloc* indexing, there are three possible things ask for often:
* absolute integer indices, these are *iloc references* -> `to_absolute`
* relative integer indices, these are *iloc differences* -> `to_relative`
* absolute time stamp indices, these are *l

[2022-04-03 17:54] fkiraly commented on #2376
I also note, in a case where we pass integer based indices, these can be ambiguous. Because integers can be `iloc` integers as well as `loc` integers, you have a difference whenever the data frame index is integer but not range.

I hence wonder, should the `fh` get a possible constructor argument and parameter `indexer_mode` which can be `"iloc"` and `"loc"`? For non-integer arguments it is always

[2022-04-03 18:01] fkiraly opened #2381 "[BUG] conversions `from_nested_to_long` and `from_nested_to_multi_index` are broken"
`from_nested_to_long` and `from_nested_to_multi_index` are broken, they do not return containers in accordance with the specifications.
We should:
- [ ] fix this
- [ ] understand why the current tests in `datatypes` do not catch this (most likely lack of coverage in the `_examples.py` fixture set)
- [ ] ensure future tests catch this

To reproduce:

[code]
gives
![image](https://user-images.github

[2022-04-03 19:49] ltsaprounis commented on #2327
Not sure what you mean here... Maybe I don't understand the the problem well.

But in general, if we want to keep the automated tests and add extra functionality for special inputs, `get_test_params()` it the natural place for this.

[2022-04-03 19:55] ltsaprounis commented on #2381
Oh no! not again! #2224

[2022-04-03 20:21] iljamaurer commented on #2371
Haven't seen this before, but indeed, seems very useful. We are currently designing the panel augmenter, but I think, we can focus on moving the signature based to the augmenter module first. I will have a deeper look into that during the week.

[2022-04-03 22:34] fkiraly opened #2385 "[BUG] disable very aggressive citation message from `dtw-python`"
Every time one imports the `dtw-python` module, even when attempting to do so silently and with warning suppressed, the following is printed

[code]

Besides being annoying, it is quite aggressive and pops up on various utilities that are unrelated to the estimator specifically.

We should find out how to get rid of this.
May or may not be easy to do...

[2022-04-03 22:36] fkiraly opened #2386 "[ENH] disable "moved estimator" deprecation warnings in `all_estimators`"
`registry.all_estimators` shows deprecation warnings from module level in cases where estimators have been moved.

These should by default not be raised, only a direct import of the deprecated location should raise these.

[2022-04-03 22:36] fkiraly commented on #2381
yes indeed, well spotted!
It seems similar to yours!

[2022-04-03 22:45] fkiraly opened #2387 "[ENH] list tag values in `all_estimators` return table"
`all_estimators` currently returns tuples/columns (classname, class), but it would be useful to users, e.g., for listing, or for display in the sktime docs, if additional columns return values of certain tags.

I would propose to add an additional `return_tags` argument which can be a str or list ot str of tag names (see `all_tags` for valid tags). Default None which retrieves no tags in addition.

[2022-04-03 22:46] fkiraly commented on #2327
Well, some inverse transforms expect a certain number of columns, column type, or column names. This can differ by estimator. We currently loop over estimators with "for all forecasters, test this". How would we construct the input for the inverse transforms under this logic?

[2022-04-04 09:28] ngupta23 commented on #2317
@fkiraly Since #2318 is implemented, can we close this or do you think anything else is pending on this issue? Thanks!

[2022-04-04 09:28] #2317 closed

[2022-04-04 09:36] ngupta23 opened #2388 "Add `random_state` to `statsmodel` adapter"
Requesting the addition of a `random_state` argument to the statsmodels adapter and passing it appropriately to underlying non-deterministic models such as ETS so that the predictions can be made reproducible. Currently, multiple runs result in different interval results for the same quantiles.

More on this below:

@fkiraly You are right, it looks like in this case, the intervals are based on sim

[2022-04-04 09:38] ngupta23 commented on #2388
For example, in ETS, the random state can be passed to the `get_prediction` method that is called from within sktime to make the prediction intervals deterministic.

https://github.com/alan-turing-institute/sktime/pull/2320#issuecomment-1087330315

[2022-04-04 10:41] fkiraly commented on #2388
agreed! If `random_state` is not already passed properly, it should be.

[2022-04-04 11:59] jambo6 commented on #2374
Hello,

So the signature module was definitely working fine, but I appreciate some things have needed to be changed around.

So we always work with paths of shape [N, L, C] whereas sktime uses [N, C, L]. I took the lazy route of just flipping the C, L axes in the SignatureTransformer class and keeping everything the same as my existing stuff for the remainder of the code. I realise this makes the

[2022-04-04 13:33] fkiraly commented on #2374
I see, thanks for confirming!

I did the flipping in this PR on all the components too:
https://github.com/alan-turing-institute/sktime/pull/2369
I hope this is still correct?

Constructor must write all parameters to self, *to a parameter of the same name*, or it will not be scikit-learn compliant (e.g., will throw an error if you attempt to print).

[2022-04-04 13:45] jambo6 commented on #2374
Doing the flips as described looks fine. It would perhaps be a bit neater to implement as an `axflip` decorator of some description, but up to you of course. Neater still would of course just be to rewrite them for [N, C, L] arrays.

The bit that is missing is
[code]
needs to go to
[code]
since currently `x` would be of shape `[C, W]` where `C` the number of channels and `W` is the length of the w

[2022-04-04 13:55] fkiraly commented on #2374
I think it would be neater if the internal code would just use the right axes.

The "systematic" way, i.e., if it occurs often, would be the introduction of an mtype `numpy3D_flipped` or similar, since input/output conversion concerns are managed via `convert` in the `datatypes` module, currently.
A decorator would duplicate the locus of this concern and would not be preferable.

[2022-04-04 13:55] fkiraly commented on #2374
In the PR?

Would you kindly mind leaving a comment there, if it is missing?

[2022-04-04 14:00] TonyBagnall commented on #2374
my preference would have been to leave it all as is (if it aint broke...) but make the helper functions that require the  [N, L, C] private, then to raise an issue to refactor it all to work with  [N, C, L] to see if anyone wants to take it on.

[2022-04-04 14:47] ngupta23 commented on #2315
Closing in favor of #2388 which lays out a potential solution.

[2022-04-04 14:47] #2315 closed

[2022-04-04 15:42] Ris-Bali commented on #2388
Do we need to pass the random_state argument to the constructor of Statsmodels adapter ? and then pass that argument to the appropriate methods(methods with get_prediction) of forcasters that interface from statsnmodels ?

[2022-04-04 15:43] fkiraly commented on #2315
agreed

[2022-04-04 15:46] Ris-Bali commented on #2388
Okay  understood ,can I work on this ?

[2022-04-04 17:38] lmmentel commented on #2329
@fkiraly could you paste a link to the docs or mention the file name this is related to?

[2022-04-04 17:41] lmmentel commented on #1227
`tbasts` got added in https://github.com/conda-forge/sktime-feedstock/pull/33

[2022-04-04 17:48] lmmentel commented on #1227
`pmdarima` has a conda package https://anaconda.org/conda-forge/pmdarima

[2022-04-04 17:59] lmmentel commented on #1227
catch-22 does not seem actively maintained...

[2022-04-04 18:45] fkiraly commented on #2388
go ahead!
I would say, pick one estimator and post it here, then get started with it.
What would also help is a list of estimators that need the addition, so we can tick them off.

[2022-04-04 18:47] fkiraly commented on #2329
oh, of course, silly me. Added the link in the issue description.

[2022-04-04 19:18] lmmentel commented on #2329
Yeah I remember cleaning a lot of that up after C extensions were dropped. We do not really have any system deps as long as you have a compatible python version. That being said some of our dependencies have system requirements especially on exotic platforms, e.g. a lot of C dependent packages need to be compiled on apple silicon since there are no wheels yet. I would delegate the responsibility t

[2022-04-04 19:49] ryali1 commented on #2357
I'd like to get started on adding SARIMAX functionality to sktime if you haven't already worked on that part @biologioholic! Please let me know, and I can get started right away.

[2022-04-04 19:57] biologioholic commented on #2357
Hello @ryali1, I'm already half way through Sarimax. Debugging atm

[2022-04-04 20:04] ryali1 commented on #2357
Hi @biologioholic, that sounds good, appreciate your response! Have you worked on AutoReg already? If not, maybe I could get started on that. I'm still familiarizing myself with contributing to sktime, so maybe we could collaborate on this, or I could come to you with questions about how to properly test/debug the code I write with the sktime framework?

[2022-04-04 20:18] #2332 closed

[2022-04-04 20:33] biologioholic commented on #2357
Sure, you can go ahead and do the AutoReg. You can look at sktime/forecasting for some interface examples

https://github.com/alan-turing-institute/sktime/tree/main/sktime/forecasting

[2022-04-05 00:17] ryali1 commented on #2357
Great! I'll get started on the AutoReg functionality. I'll start with creating a separate estimator as @fkiraly mentioned and will get feedback on it before working on step 2 (getting VAR to default to it).

[2022-04-05 10:39] #2377 closed

[2022-04-05 11:19] ngupta23 opened #2391 "[ENH] Add Bias adjustment to Box-Cox transformations"
**Is your feature request related to a problem? Please describe.**
Box Cox Transformation does not provide an option to get bias-adjusted outputs as [outlined by Hyndman](https://otexts.com/fpp2/transformations.html)

**Describe the solution you'd like**
Provide an argument to adjust for bias

**Describe alternatives you've considered**
None

[2022-04-05 18:24] #2313 closed

[2022-04-05 19:15] fkiraly commented on #2357
excellent, thanks!

[2022-04-05 19:16] fkiraly commented on #2329
well, then we need to clean up the sections that reference possible branching paths, and probably move the sections in order, since section 2 is linear and small now?

[2022-04-05 21:12] fkiraly commented on #2374
@TonyBagnall, the refactor is a refactor, it does not change functionality.
The helpers remain private, but are upgraded to conform with the transform interface in cases where they claim they do.

[2022-04-05 21:13] fkiraly commented on #2374
PS: as the refactor apprently uncovered, it *was* broke all along? At least in parts...

[2022-04-05 23:34] fkiraly commented on #2351
@lmmentel, @freddyaboulton, any thoughts?

[2022-04-06 01:19] miraep8 commented on #2387
Hey!  I agree this would be a useful change!  I am planning to take a crack at implementing this over the next few days! :)

[2022-04-06 05:27] srggrs opened #2397 "[BUG] ShapeletTransformClassifier numba error when dtype is not float64"
**Describe the bug**
Seems that when using `ShapeletTransformClassifier` there is some Numba accelerated functions that break if the data in the input data frame are of type `int32`.

**To Reproduce**
MRE as below:

[code]

**Expected behavior**
will not throw an error, and also enforce conversion to float32 or float64 within the classifier?
**Additional context**
removing conversion to `float32`

[2022-04-06 07:05] lmmentel commented on #2351
Thanks for reporting this @AlbertWh1te. Could you share if you are using conda or vanilla pip?

I don't think we have access to M1 and without that we're not going to able to reproduce the issue.

The error seems to be coming from numba/numpy so could you try to install just those two packages in a separate venv to help isolate the problem?

[2022-04-06 11:20] kearkyle commented on #2323
I have been looking around, so this is what I got from anaconda console:
(base) E:\github\sktime>python test.py
     a
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
a    int64
dtype: object
Traceback (most recent call last):
  File "E:\github\sktime\test.py", line 7, in <module>
    AutoETS().fit(y)
  Fil

[2022-04-06 14:20] chrisholder opened #2399 "[ENH] Future numba distances enhancements"
1) Pairwise_distance taking a 2d array reshape it wrong: it should be (1, d, m)
2) The values for epsilon (and other parameters) that require a float if given an int should attempt to cast the int to float (assuming greater than 0 but less than 1)

[2022-04-06 16:19] TNTran92 commented on #2357
@fkiraly SARIMAX.py is in testing phase. I have test_sarimax.py in  sktime/forecasting/tests and it works locally. How can I include it in pytest so that it becomes a part of check_estimator?

[2022-04-06 19:22] TNTran92 commented on #2357
@fkiraly Draft PR submitted 😊

[2022-04-06 20:36] fkiraly commented on #2397
Yes, indeed. I think we should look at all the `numba` based code and ensure conversion to float?

[2022-04-07 09:30] TonyBagnall commented on #2397
Thanks for that we will take a look @MatthewMiddlehurst might be best placed, I think you wrote it?

[2022-04-07 09:31] TonyBagnall commented on #2385
Where is this package used?

[2022-04-07 09:40] TonyBagnall commented on #2374
Ah I misunderstood, I thought @jambo6 said it was fine before. @MatthewMiddlehurst this will impact our pipeline results

[2022-04-07 09:45] fkiraly opened #2402 "[ENH] naming and documentation of (S)ARIMA(X) models"
We are, or soon will, be interfacing two resp three implementations of SARIMAX and auto-SARIMAX:

* `pmdarima` ARIMA and AutoARIMA
* `statsmodels` SARIMAX
* `statsforecast` (Auto)ARIMA

(and imo it makes a lot of sense to have multiple, e.g., to allow scientific comparison or selection over implementation)

Questions:
* how do we name algorithms?
* how do we name modules?
* should there be one pac

[2022-04-07 09:59] TonyBagnall commented on #2347
Claudia was an intern of mine a while back, I agree this needs looking at

[2022-04-07 12:11] TonyBagnall commented on #2399
change the symmetric feature to define symmetric distances, thus halving the search space

[2022-04-07 12:14] TonyBagnall commented on #2399
randomise cluster assignment for equal distances

[2022-04-07 13:49] KritikaAggarwal15 opened #2403 "[BUG] is_regressor methos is not working as expected in base.py"
**Describe the bug**

is_regressor methos is not working as expected in base.py , when I am passing in GradientBoostingRegressor in the follwing function
transformer = FeatureSelection(method="feature-importances", n_columns=1,regressor="GradientBoostingRegressor()") , I am getting the output as ValueError: `regressor` should be a sklearn-like regressor, but found: GradientBoostingRegressor() inst

[2022-04-07 15:17] Ris-Bali commented on #2388
@fkiraly I checked all the statsmodel forcasters I found sktime/forecasting/theta.py to be similar to ETS but I did not see any randomness in the intervals and quantiles for thetha.py . As I have illustrated below .

![SS](https://user-images.githubusercontent.com/81592570/162233065-e90b0291-4860-42a3-a736-f7db9688c0ce.png)

[2022-04-07 15:44] fkiraly commented on #2403
@KritikaAggarwal15, I can´t reproduce the bug, can you kindly post minimally reproducing code?

Kindly note, the regressor argument should be a scikit-learn regressor, not a string.

I.e.,

[code]

[2022-04-07 15:45] fkiraly commented on #2388
Theta, I think, is deterministic, since it computes a least squares fit.

[2022-04-07 15:46] fkiraly commented on #2385
the alignment module. It is one of the most sequence alignment packages in python.

Really great package, but we don't need to show the citation message every time we do a random unrelated thing with `sktime`...

[2022-04-07 15:47] fkiraly commented on #2374
He did, but now I think he changed his opinion?
As all wise people, in the wake of sufficient evidence...

[2022-04-07 15:57] TonyBagnall commented on #2399
add TWE (we can organise this into separate issues after the first pass)

[2022-04-07 15:57] TonyBagnall commented on #2399
add multivariate MSM. make MSM conform to style

[2022-04-07 15:59] TonyBagnall commented on #2399
implement Swale

[2022-04-07 19:26] EricLeer commented on #2351
@AlbertWh1te I have received a similar error (indeed from numba) using the [following link](https://numba.discourse.group/t/wheels-for-apple-silicon-m1/1282/2) I am able to install numba, after which I was able to succesfully install sktime using `pip install sktime` (all this on an m1 pro).

[2022-04-07 19:47] lmmentel commented on #2351
Great! I'll close the issue then.

[2022-04-07 19:47] #2351 closed

[2022-04-07 19:48] fkiraly commented on #2351
So, reason for closing is, the culprit was the `numba` installation, not `sktime`?

We may want to add the advice to "frequent errors" on the installation page?

[2022-04-07 21:14] lmmentel commented on #2351
Combination of M1 and numba. I expect that this will be a common pattern for M1 and any dependency that has a C extension requiring compiling and does now have dedicated wheels yet.

[2022-04-07 22:36] ryali1 commented on #2357
@fkiraly I submitted a Draft PR for the AutoReg forecaster

[2022-04-07 23:29] fkiraly commented on #2331
Ok, I now think it should be - any diverging opinions?

[2022-04-08 00:20] fkiraly opened #2409 "[ENH] scenarios with dtype corner cases incl ints, or stronger coercion"
There have been multiple bugs where estimators error out if they receive `float` instead of `int` as input.
(#2397, #2323 - different packages)

There are two ways to address this:
* extend the test suite with scenarios that contain `int` dtypes to ensure compliance
* restrict the specification so numeric columns must be `float`

There is a design question - which option - and then the implementat

[2022-04-08 00:21] fkiraly commented on #2409
FYI @srggrs, @TonyBagnall, @MatthewMiddlehurst, any preferences?

[2022-04-08 01:05] srggrs commented on #2409
I think you want to target to gain as much usage of `sktime` as possbile, you have to make things easier for the user. So perhaps making more tests and handle type conversion within the algos/routines would be a preferable option from a user perspective though it will be more hard for us developers to get that done...

Another strategy could be that in the short term you can enforce a chosen dtype

[2022-04-08 07:59] GrzegorzRut commented on #2331
I believe that there's a [flag](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Flags.allows_duplicate_labels.html) that could help with that.

As a side note, duplicated indices might cause problems in [pandas](https://stackoverflow.com/questions/35084071/concat-dataframe-reindexing-only-valid-with-uniquely-valued-index-objects?noredirect=1&lq=1). I'm working on the extension of

[2022-04-08 11:42] fkiraly opened #2413 "[DOC] API reference should point more clearly to code/import location"
Currently, the API reference does not clearly point to the code location of the class/method documented.

Some classes will have examples with an import statement, but in general this is not the case.

Hence, a typical user who does not have a developer install will be unable to find the correct import command from looking at the API reference alone.

This should be addressed, e.g., by a link prov

[2022-04-08 11:50] aiwalter commented on #2413
yes good point, that is why I recently added docstring examples to the datasets. Ideally there can be a section `Import` in the docstring where the path is given? Not sure if this can work with Sphinx

[2022-04-08 12:40] h-t-w commented on #1447
Hi.

I am currently working through the forecasting tutorial. Quick observations:
-  Broken link under _Forecasting with sktime_ heading: https://www.sktime.org/en/stable/examples/01a_forecasting_sklearn.ipynb
- Formatting is off:

- Should probably be MD list

![image](https://user-images.githubusercontent.com/100365268/162437104-c28e8d38-babe-487c-b722-dc3058019682.png)

- Should be link

![imag

[2022-04-08 15:21] fkiraly commented on #2413
this is channeling user frustration from users at my workplace 😄

[2022-04-08 17:59] MatthewMiddlehurst commented on #1984
Yes, none of the classifiers currently can handle unequal length data. I think the answer by Franz above is sufficient.

Will leave this up for a while longer if anyone has anything to add.

[2022-04-08 18:01] MatthewMiddlehurst commented on #2116
I'm pretty sure the only portion remaining from the original issue is adding sklearn cv/tuning to the TSC tutorial.

[2022-04-08 18:02] MatthewMiddlehurst commented on #2132
We have some tests (not all classifiers, but the interface) for classification. I don't think there is anything for clustering?

[2022-04-08 18:05] MatthewMiddlehurst commented on #2255
All the classifiers have been updated. The remaining ones are moving to a different base class and set of tests.

[2022-04-08 22:33] fkiraly opened #2416 "[ENH] transformer reconcilers - further work"
I'll merge #2287 so we have it available before the holidays, but there's still some things that should be cleaned up in a separate PR.
I'm listing them here.

* complete checker for data frames for "has totals fields". The current checker only checks presence of `__total` in the top level, not whether it exists for all hierarchy nodes.
* a checker for whether nodes add up correctly to totals. Not

[2022-04-08 22:33] fkiraly commented on #2416
FYI @ciaran-g

[2022-04-08 23:20] jmwhyte commented on #2116
@MatthewMiddlehurst @fkiraly  I will be very keen to see these additions to the tutorial!

[2022-04-08 23:33] fkiraly commented on #2157
linking this here, some open work items related to the above:
https://github.com/alan-turing-institute/sktime/issues/2416

[2022-04-08 23:47] fkiraly opened #2417 "[ENH] probabilistic predictions for `VAR`"
The `VAR` forecaster which interfaces `statsmodels` can apparently not predict probabilistically, but the `statsmodels` native forecaster can do that, via `forecast_cov`. This should be integrated in the `VAR` class.

[2022-04-09 02:58] KatieBuc commented on #2386
I have solved this, creating pull request

[2022-04-09 05:56] KatieBuc commented on #2385
@fkiraly curious what you think about the proposed solution in the latest pull request.

Here's the culprit: https://github.com/DynamicTimeWarping/dtw-python/blob/master/dtw/__init__.py

[2022-04-09 10:02] fkiraly opened #2419 "[ENH] ensure `check_estimator` and `QuickTester.run_tests` work with skipped `pytest` tests"
Sometimes, a `pytest` compatible test is skipped, which raises a `Skipped` exception.

When using `check_estimator` to check esitmators, this is currently not properly handled, resulting in an exception, instead of a return that prints `skipped` plus perhaps a reason.

This should be properly handled, preferably on the level of `QuickTester.run_tests` to which `check_estimator` is a lightweight in

[2022-04-09 10:41] fkiraly commented on #2385
I think it works, partially - I guess the solution is as aggressive as the message itself, but perhaps that cannot be avoided.
Partially, becausae it does not address the `import dtw` statement later on. Would you mind also adding the same wrapper there? I.e., in the two `_fit` methods?

Might also be worth making a PR to `dtw-python` someday to simply remove that message? But that's a different s

[2022-04-09 11:54] TonyBagnall commented on #2347
I'm guessing it will be on the contributor list. Also adding sorting out MPDist to the to do list here,
https://github.com/alan-turing-institute/sktime/blob/main/sktime/distances/mpdist.py
it needs tidying up and converting to numba

[2022-04-09 11:57] fkiraly commented on #2255
that´s the thresholder and teaser, right?
Should there then an issue for moving them, and this can close?

[2022-04-09 11:58] MatthewMiddlehurst commented on #2255
I was planning to update them both after the base class is in, shouldn't need a new issue.

[2022-04-09 14:21] #2204 closed

[2022-04-09 17:11] #2386 closed

[2022-04-10 02:21] TNTran92 opened #2427 "[BUG] readthedocs does not automatically embed a link when citing estimator by name"
**Describe the bug**

It was discovered that when adding a "See Also" section in the docstring, readthedoc does not always render the text as link when an estimator is mentioned by name only. Example:

[BATS](https://sktime--2400.org.readthedocs.build/en/2400/api_reference/auto_generated/sktime.forecasting.bats.BATS.html)
[STLForecaster](https://sktime--2400.org.readthedocs.build/en/2400/api_refer

[2022-04-10 11:09] fkiraly commented on #2385
@KatieBuc, I'm on main and still getting this message - whatever you did might not have killed it completely?

![image](https://user-images.githubusercontent.com/7985502/162615205-9e9dd25b-1506-46e1-8653-3bccaeec3ae0.png)

Re-opening this issue, hence...

[2022-04-10 12:55] KatieBuc commented on #2385
Ah, I see @fkiraly

Line 147 there's import_module which will need to have the same overwritten sys.stdout as in _check_soft_dependencies. Will work on it, and check elsewhere.

[2022-04-10 13:53] lielleravid commented on #1011
Hi! We would like to work on this issue :)

[2022-04-10 14:07] aiwalter commented on #1011
cool, you might also look into the draft PR #1222

[2022-04-10 17:51] fkiraly opened #2433 "[BUG] Aggregator incorrectly assumes that all hierarchy levels are named"
The `Aggregator` incorrectly assumes that all hierarchy levels are named, in contrast to the specification of `pd_multiindex_hier` which does not. The estimator breaks when receiving input where at least one level is not named.

#2432 proposes a temp workaround, but this should be:

* cleaned up so the inner logic of `Aggregator` no longer assumes it
* tested, so we ensure in all estimators that n

[2022-04-10 17:51] fkiraly commented on #2433
might be a good first issue since the problem is very localized

[2022-04-10 17:56] fkiraly opened #2434 "[BUG] vectorization of forecasters for hierarchical data eats away time-like hierarchy level"
Highly unexpected behaviour, so I would classify this as a bug:

when a non-hierarchical forecaster is used for hierarchical or global forecasting, the auto-vectorization seems to eat the level name of the time like index.

To reproduce:

[code]

Expected behaviour is that the third level of `y_pred` is called `instances` instead of having no level name.

[2022-04-10 19:39] eenticott-shell opened #2435 "[BUG] `ThetaForecaster` doesn't work inside `ColumnEnsembleForecaster`"
**Describe the bug**
`ThetaForecaster` doesn't work with `ColumnEnsembleForecaster`, the forecasting horizon is not picked up correctly in the underlying forecasters inside the `ColumnEnsembleForecaster`.

**To Reproduce**
[code]

**Expected behavior**
It should produce an array of predictions for each of the columns. It seems that when computing the drift in the underlying theta forecasters it ca

[2022-04-10 20:15] fkiraly commented on #2435
Yes, I have seen the bug before, and I remember that I had fixed it.

The argument of `_by_columns` should be the outer methods, not the inner methods.

It is weird why this is not on main. Perhaps it is in some PR that got stalled because no one reviewed and I forgot it?

[2022-04-10 20:17] fkiraly commented on #2435
fixed: https://github.com/alan-turing-institute/sktime/pull/2436
thanks for reporting

I hope I can put it in today's hotfix

[2022-04-10 20:18] fkiraly commented on #2435
@eenticott-shell, could you kindly add the above example as a test specific to `ColumnEnsembleForecaster`, while I work on other things?

[2022-04-10 20:20] fkiraly commented on #2435
PS, @euanenticott-shell, I sent you a message on the sktime slack

[2022-04-10 21:28] #2435 closed

[2022-04-11 03:07] KatieBuc commented on #2385
![image](https://user-images.githubusercontent.com/34525024/162656900-bd7ecd1b-3aeb-4c47-80ed-18b0c0d73684.png)

registry/_lookup.py *** created PR for fix
utils/_maint/_show_versions.py (doesn't have dtw in deps list, not necessary to change)
utils/validation/_dependencies.py (_check_soft_dependencies changed in previous PR)

[2022-04-11 08:37] juanitorduz opened #2441 "[ENH] UnobservedComponents model as probabilistic forecaster"
Hey 👋 ! Its seems the `UnobservedComponents` model wrapper (see [here](https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/structural.py)) does not support prediction intervals yet right? I would be nice to have them as I do not think is really hard because of the `statsmodels` implementation.

I can work on this one in the upcoming weeks!

[2022-04-11 10:59] RISHIKESHAVAN opened #2442 "[DOC] Broken links in Testing framework overview"
#### Describe the issue linked to the documentation
Many of the links in the Testing Framework Overview page are broken and lead to pages that do not exist.

https://www.sktime.org/en/stable/developer_guide/testing_framework.html

#### Suggest a potential alternative/fix

This is most probably caused by issues in how the links are mentioned in the `.rst` files and need to be fixed.

[2022-04-11 12:08] fkiraly commented on #2441
excellent, that would be really nice!

[2022-04-11 12:10] fkiraly commented on #2441
Hm, I just looked at it, seems non-obvious to me...
So it´s great you´ve already looked at this!

May I ask you, @juanitorduz, which method or attribute you would be planning to read the proba forecasts off?

[2022-04-11 12:15] juanitorduz commented on #2441
I actually haven't thought in detail 😂... I just saw there are other algorithms like ARIMA that support this and I was thinking that both come from the state space module from 'statsmodels' so I thought "how hard can it be ?" Let me look into the implementation in detail 🙈

[2022-04-11 12:19] aiwalter opened #2443 "[ENH] Discretizer transformer for post-processing"
**Is your feature request related to a problem? Please describe.**
In real world, many business cases need a discrete forecast and no float numbers, but all of  `sktime` forecasters we have return float predictions.

**Describe the solution you'd like**
Implment a transformer `Discretizer` with a param to round up or round down.

**Describe alternatives you've considered**

**Additional context**

[2022-04-11 13:02] ohbtorres opened #2444 "[BUG] Prophet growth logistic"
**Describe the bug**
It is not possible to fit the Prophet model with **growth** parameter as _logistc_

**To Reproduce**
After doing

`Prophet(growth="logistic").fit(df)`

as df a Series with DateTimeIndex, the following error message is displayed
**ValueError: Capacities must be supplied for logistic growth in column "cap"**

After researching in Prophet's documentation, a "capacity" collumn is

[2022-04-11 15:49] fkiraly commented on #1079
Abandoned attempt to fix this here, maybe a good starting point for future developers
https://github.com/alan-turing-institute/sktime/pull/1868

[2022-04-11 15:51] #2444 closed

[2022-04-11 15:51] fkiraly commented on #1079
Report of closely related behaviour by @obtorres here:
https://github.com/alan-turing-institute/sktime/issues/2444

[2022-04-11 15:52] fkiraly commented on #2443
sounds like a good first issue?

[2022-04-11 21:34] fkiraly opened #2448 "[BUG] Timeout on windows, python 3.7"
We seem to be observing an increasing number of timeouts on python version 3.7, windows.

One here:
https://github.com/alan-turing-institute/sktime/pull/2411

another one here (one of the runs):
https://github.com/alan-turing-institute/sktime/pull/2410
https://github.com/alan-turing-institute/sktime/actions/runs/2150278613/

FYI @lmmentel, k1m190r

[2022-04-11 21:36] fkiraly commented on #2448
@miraep8, unfortunately it is not an isolated issue 😱

the logs of your first run seem to have disappeared, do you remember anything from them?

[2022-04-11 21:38] fkiraly commented on #2448
on #2411, last life sign of `gw1`:

[code]

last life sign of `gw0`:
[code]

that´s ... `Prophet` ... why am I not surprised?

[2022-04-11 21:49] lmmentel commented on #2448
Yup, there's not much in the logs. My guess would be that one process hangs and hogs a lot of the resources and that slows down the other process. Might be worth to add a timeout https://github.com/pytest-dev/pytest-timeout but that will help us debug and not solve the issue. it seems to stalls on one of the _integration_ tests. As an alternative someone with a win machine could try to reproduce w

[2022-04-11 22:20] fkiraly commented on #2448
yes, we should at least capture what test it was working on when it timed out - do you know how to add that? Simply adding the plugin and then the `--timeout=600` or so param?

[2022-04-11 22:46] miraep8 commented on #2448
Yep! I do!  Its actually interesting - I am pretty sure that my code also failed at test_check_X_enforce_min columns. Will see if I can go grab the exact message

[2022-04-11 22:53] miraep8 commented on #2448
Here is the last few things that ran in the logs.  Perhaps it is just a coincidence that our tests both reached 6hrs at the same test, perhaps it is the culprit.

`
[gw1] [ 93%] PASSED utils/validation/tests/test_check_window_length.py::test_window_length_bad_arg[-2.4-10]
utils/validation/tests/test_check_window_length.py::test_window_length_bad_arg[0.2-None]
[gw1] [ 93%] PASSED utils/validation/t

[2022-04-11 22:53] miraep8 commented on #2448
An idea -  instead of time timeout we could simply print the 5 slowest tests?  I believe this can be done with the [--duration argument to pytest](https://stackoverflow.com/questions/27884404/printing-test-execution-times-and-pinning-down-slow-tests-with-py-test).

[2022-04-11 23:04] miraep8 commented on #2448
Also - just fyi - I think if you click on the little red x next to the failed test then you are still able to access the details of the failed test! :)  That's how I got the logs!
![little_red_x](https://user-images.githubusercontent.com/10511777/162847194-3f32d00e-e6d1-4eea-af8e-c57d0d356d2f.png)

[2022-04-12 07:53] fkiraly commented on #2448
Ah!!! Thanks for this learning moment. Did not know that clicking this got you somewhere.

[2022-04-12 08:36] Tomiiwa commented on #2442
Hi, I want to work on this.

[2022-04-12 10:28] miraep8 commented on #2448
Ah!  Makes a lot of sense!  Glad we have a resolution!  :)  Makes a lot more sense as I also was unsure why `test_check_X_enforce_min_columns` would cause this issue!

[2022-04-12 10:48] miraep8 commented on #2448
Ah yes, I see now that the pytest is configured to print the time of each test on a successful test! :)  Would be nice if there was someway to access this information in the event of a timeout as well.  - I just compared both and it seems to be missing at the bottom of the tests which timed out.

[2022-04-12 11:34] lmmentel commented on #2274
Could you elaborate on the expected behavior @aiwalter? I don't think the links are broken per se since it's valid markdown. I don't know how github rendering works but it does not seem to be running `nbconvert` so the markdown stays in markdown and not html. Is your intention to have working links rendered on github specifically?

[2022-04-12 11:36] lmmentel commented on #2274
As @Sonali-Rajput pointed out all the links work on nbviewer, see [01_forecasting.ipynb](https://nbviewer.org/github/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb).

[2022-04-12 13:30] lmmentel commented on #2442
Go ahead @Tomiiwa !

[2022-04-12 13:32] lmmentel commented on #2413
Can you give an example of what you mean or point to a specific place in the docs and describe the expected outcome?

[2022-04-12 13:37] lmmentel commented on #2329
?

[2022-04-12 13:44] lmmentel commented on #2169
@soma2000-lang how is it going? Anything we can do to help with this?

[2022-04-12 14:47] fkiraly commented on #2427
@lmmentel, I think the three listed estimators are examples?

[2022-04-12 15:00] fkiraly commented on #2413
ok, let's say I'm browsing the docs and find `AutoARIMA`
https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.forecasting.arima.AutoARIMA.html

and say, "nice, this would be a great forecaster to use!"

Then, the next step would be to write sth like `from ???? import AutoARIMA`, with the missing information being the `????`.
It is unclear from a user perspective how to get from the

[2022-04-12 15:13] TNTran92 commented on #2427
Let me convert them back to link just in case

[2022-04-12 15:15] TNTran92 commented on #2427
Please let me know if they still can't open

[2022-04-12 15:21] fkiraly commented on #2385
I verified, I did not get this when using `all_estimators` anymore

[2022-04-12 16:09] fkiraly commented on #2448
So, digging into the logs more:

as far as I now understand, each worker makes status updates in two steps: if a test is passed, it prints the `PASSED` message, and then it prints immediately the next test it starts to run.

So, in the log above, it would mean that `gw0` started `test_update_predict_single[Prophet-update_params=False-fh=1]` and got stuck there.

[2022-04-12 20:58] aiwalter commented on #2413
`sklearn` and `pandas` have it in header, so might be worth to check how they did it

[2022-04-13 06:26] #2387 closed

[2022-04-13 09:33] chrisholder commented on #2399
Pairwise euclidean should return the squared pairwise not euclidean as you sqrt at the end not at each step

[2022-04-13 10:47] ciaran-g commented on #2433
I'm happy to make these changes 👍

[2022-04-13 11:53] juanitorduz commented on #2441
So the idea us is to use the existing implementation [statsmodels.tsa.statespace.mlemodel.PredictionResults.summary_frame](https://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.mlemodel.PredictionResults.summary_frame.html#statsmodels.tsa.statespace.mlemodel.PredictionResults.summary_frame).

[2022-04-13 15:38] ryali1 commented on #2417
Hi Dr. @fkiraly , Happy to work on this! I'm also working on adding a method to VAR that would automatically enable VAR to default to the univariate AutoReg forecaster in case a univariate input is passed to VAR, so I can work on this issue in conjunction.

[2022-04-13 16:32] fkiraly commented on #2417
Sure!

I had started to work on this already, but had to drop it before I got it to work, due to other issues I needed to prioritize.

Since I will probably not work on this soon: I've pushed my partial work so far in the branch `VAR-predict_var`, please feel free to take it over, use parts of it, or ignore it.

[2022-04-13 16:36] fkiraly opened #2452 "[BUG] `Differencer` in `ForecastingPipeline` and `TransformedTargetForecaster` does not work!"
### Discussed in https://github.com/alan-turing-institute/sktime/discussions/2451

<div type='discussions-op-text'>

<sup>Originally posted by **anthonygiorgio97** April 13, 2022</sup>
I was trying to do a Pipeline with transformers for both exogenous X (4 features) and endogenous y variable with a FeatureSelection(), a LogTransformer() and a Differencer() combined with a cross validation to tune

[2022-04-13 17:12] fkiraly commented on #2116
Well, let's keep it upen then until it's added by some kind volunteer 😄

[2022-04-13 17:22] fkiraly commented on #2072
@danbartl, does the `WindowSummarizer` still have side effects?

[2022-04-13 17:42] fkiraly opened #2453 "[DOC] fix broken rendering of transformer type table and estimator docstring indentations"
A number of places in the transformer docstrings render broken:

* indentations and boldface display is inconsistent, example:
https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.transformations.series.difference.Differencer.html
* the input/output type table does not render as a table, see here:
![image](https://user-images.githubusercontent.com/7985502/163238801-5f2e6baa-f44f-45

[2022-04-13 17:44] fkiraly commented on #2443
Should we also add a parameter "round to next multiple of", or a parameter that contains a finite set of values to round to?

[2022-04-13 17:45] fkiraly commented on #2443
Might also be worth allowing to encode intervals somehow, e.g., round to the next points contained in a `pd.IntervalIndex`

[2022-04-13 18:20] fkiraly commented on #2452
@anthonygiorgio97 to help us fix this quicker, would you mind posting full code, incl imports, replacing your data by some example data? You can get example data from `sktime.datatypes.get_examples`, or `utils._testing.series._make_series`.

[2022-04-13 18:25] fkiraly opened #2455 "[BUG] ForecastingPipeline cannot be constructed due to erroneous type check"
The following `ForecastingPipeline` cannot be constructed due to what looks like an erroneous type check.

Expected behaviour is that it constructs without error.
Works on 0.11.0, but not on 0.11.2.

[code]

[2022-04-13 18:36] fkiraly commented on #2455
The cause of this is that `TransformedTargetForecaster` has, in theory, *two* scitypes, per the inheritance check.

These are not correctly returned by the `scitype` utility which has a bug.
The check in ForecastingPipeline` also erroneously assumes that an estimator can have only one scitype.

[2022-04-13 20:15] fkiraly opened #2459 "[ENH] Forecaster composition dunder methods"
Let's implement some dunder methods for forecaster and transformer composites (and, possibly, discuss design):

- [ ] `**` for applying a transformer to `X` into a forecaster, via `ForecastingPipeline`
- [ ]  `-` for `OptionalPassthrough` applied to a trasnformer
- [ ] `|` for `MultiplexForecaster`
- [ ] implement `MultiplexTransformer`
- [ ] `|` for `MultiplexTransformer`

[2022-04-13 20:25] fkiraly opened #2460 "[ENH] testing hierarchical transformers and estimators"
We should systematically test hierarchical scenarios for the following cases:

* one example of non-hierarchical/panel estimator, to ensure the base class functionality for vectorization is tested (I believe this is already done)
* every forecaster or transformer that has native hierarchical or panel functionality
* any compositor that can potentially take hierarchical or panel estimators, with ex

[2022-04-13 20:36] fkiraly commented on #2203
look what you have done, @ngupta23 😆
https://github.com/alan-turing-institute/sktime/pull/2456

[2022-04-13 20:59] fkiraly commented on #2452
Cannot reproduce this with an attempted replication:

[code]

[2022-04-13 20:59] fkiraly commented on #2452
@anthonygiorgio97, can you please post a self-contained code snippet?

[2022-04-14 06:18] fkiraly opened #2464 "[ENH] Exogeneous variable support in the direct reducer"
Currently, the direct reducers, i.e., descendants of `_DirRecReducer`, do not support exogeneous variables. This should be added.

[2022-04-14 06:21] fkiraly opened #2465 "[ENH] forecasting reducer refactor umbrella issue"
There are a number of issues open for forecasting reducers (from forecasting to supervised regression and TSR), we should refactor and upgrade them.

All reducers (descendants of `_Reducer`) should support:

* multivariate `y`, if the wrapped supervised regressor or TSR supports this.
* exogeneous `X`, the direct reduers currently do not support this https://github.com/alan-turing-institute/sktime

[2022-04-14 06:25] fkiraly commented on #1577
@Dwarak-PCI, I think this is now supported as of 0.11.2: `make_reduction` can use a `transformers` argument, to which you can pass a `WindowSummarizer`.

Some combinations of usage may not support this though, I've opened https://github.com/alan-turing-institute/sktime/issues/2465 to ensure we cover all combination cases.

[2022-04-14 06:25] #1577 closed

[2022-04-14 06:27] fkiraly commented on #1612
Discussion has been continued in PRs #2154, #2316, and #2396. Window summarizer is now implemented, and can be used as part of `make_reduction`.

[2022-04-14 06:27] #1612 closed

[2022-04-14 06:28] fkiraly commented on #1685
Discussion has been continued in issue #1612, PRs #2154, #2316, and #2396. Window summarizer is now implemented, and can be used as part of `make_reduction`.
Design is explicit in the docstring of the `WindowSummarizer` and `make_reduction`.

[2022-04-14 06:28] #1685 closed

[2022-04-14 06:28] fkiraly commented on #2465
What is the current is-state?

[2022-04-14 07:00] anthonygiorgio97 commented on #2452
This is a code example, for version 0.11.0:

[code]

This error raise:

[code]

[2022-04-14 07:04] fkiraly opened #2467 "[BUG] sporadic error in `datasets._single_problem_loaders.load_UCR_UEA_dataset`"
There seems to be a sporadic (?) error in sporadic error in `datasets._single_problem_loaders.load_UCR_UEA_dataset`, raising an `UNEXPECTED EXCEPTION: ContentTooShortError('retrieval incomplete: got only 4709302 out of 20908976 bytes')`

Run here: https://github.com/alan-turing-institute/sktime/runs/6019508933?check_suite_focus=true

FYI @TonyBagnall, this seems to be yours?

[code]

[2022-04-14 08:46] k1m190r commented on #2381
[code]
fixes the result

The `X` from `load_arrow_head()` returning non-unique indexes which confuses `from_nested_to_long()`.

Should we reset in `from_nested_to_long()` or `raise ValuError`?

Definitely fix the  `load_arrow_head()` so it outputs only the unique indexes.

[2022-04-14 09:28] fkiraly opened #2469 "[BUG] remove reliance of `BoxCoxTransformer` on private interfaces of `scipy`"
`BoxCoxTransformer` relies on private interfaces of `scipy` which can change without warning.

That should be addressed, i.e., replaced by a suitable public interface or alternative functionality.

[2022-04-14 09:28] fkiraly commented on #1994
@varuniyer, are you still working on this? If yes, you could take care of the other private method dependency. I've opened an issue here: https://github.com/alan-turing-institute/sktime/issues/2469

[2022-04-14 10:05] khrapovs opened #2472 "[ENH] Unify `datatypes._utilities.get_window` and `sktime.forecasting.model_selection._split`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

`sktime.datatypes._utilities.get_window` does slicing of time series objects. Splitters and `temporal_train_test_split` in `sktime.forecasting.model_selection._split` do, at least on the surface, the same task. It probably makes sense to unify how splitting is done across the

[2022-04-14 11:52] k1m190r opened #2473 "[BUG] Windows fatal exception: access violation sktime/benchmarking/tests/test_evaluator.py::test_plots"
**Describe the bug**
`sktime/benchmarking/tests/test_evaluator.py::test_plots` fails with  `Windows fatal exception: access violation`

The line where error surfaces is:
`sktime\benchmarking\evaluation.py::plot_boxplots#145`
`fig, ax = plt.subplots(1)`

Solution from https://github.com/matplotlib/matplotlib/issues/22006
downgrade freetype from conda to 2.10.4

`conda install freetype=2.10.4`

**To

[2022-04-14 11:53] fkiraly commented on #2473
is this new??

[2022-04-14 11:54] fkiraly commented on #2473
Is this related to this one:
https://github.com/alan-turing-institute/sktime/issues/2368

[2022-04-14 11:55] fkiraly commented on #2472
@khrapovs, do we understand whether both and if not which of the two instances support hierarchical data types, and/or panel mtypes?

[2022-04-14 11:56] k1m190r commented on #2473
Yes new using current main. I'll check on Mac. I'm not sure if related...

[2022-04-14 11:58] fkiraly commented on #2473
we should leave it open until resolved

[2022-04-14 11:59] k1m190r commented on #2473
Oh you mean till it is resolved in matplotlib/freetype?

[2022-04-14 12:00] fkiraly commented on #2452
Ok, I can confirm:

* under 0.11.2, this errors out with the separate bug https://github.com/alan-turing-institute/sktime/pull/2456
* on the fix branch #2456, this gives the same error, so: bug confirmed

[2022-04-14 12:04] fkiraly commented on #2452
reduced minimal example that produces the same error:

[code]

[2022-04-14 12:04] fkiraly commented on #2452
this rules out problems with the inverse, since `ForecastingPipeline` does not call the differencer´s inverse

[2022-04-14 12:08] fkiraly commented on #2452
ok, I think this is not a bug, but expected behaviour.

Why:
* `Prophet` requires exogeneous data observed at all indices where a fit or forecast is being made
* `Differencer`, when called with the parameter `drop_na=True`, eats away the first index, hence making it unavailable for `Prophet`
* In the pipeline, the differencer eats one of the indices that `Prophet` would need, and the error message

[2022-04-14 12:09] fkiraly commented on #2452
Thoughts, @anthonygiorgio97?

[2022-04-14 12:12] fkiraly opened #2475 "[ENH] ensure `Prophet` can deal with `PeriodIndex`"
Currently, `Prophet` errors out when given data frames with `PeriodIndex`, due to the interfaced facebook prophet not liking that index (and catch statements in our interface).

We may want to add some intermediate functionality to enable `Prophet` to also deal with `PeriodIndex`? In that case, I'd simply convert it to the first time stamp in a period, then apply `Prophet` as is, and at the end co

[2022-04-14 12:17] fkiraly commented on #1994
ok, the two dependencies both actually cause the breakage. Did you understand how to resolve the issue and not lose the `bounds` argument, @varuniyer? Or is that why you abandoned this?

[2022-04-14 12:24] anthonygiorgio97 commented on #2452
@fkiraly It's partially true, because I use `Differencer` both for exogenous X and endogenous y data. So the "double" `Differencer` operator would eat both the first index of y and the first index of X and both series should start at the second timepoint. Unless this kind of control is under `TransformedTargetForecaster`  and so before the `Differencer` operation on y.

If I use `drop_na = False`

[2022-04-14 12:56] aiwalter commented on #2475
back in the days we have decided to accept only `pd.DatatimeIndex` and not do the conversion as not for all `freq` values you can convert back and forth without loss of `freq` information. I even opened 2 bug issues for this on `pandas` GitHub which are still open:

https://github.com/pandas-dev/pandas/issues/38914
https://github.com/pandas-dev/pandas/issues/38885

So we might have to implement a

[2022-04-14 13:16] fkiraly commented on #2475
But already our example datasets violate this input assumption, e.g., `load_longley` used above.
This is programmed to cause user frustration...

[2022-04-14 13:17] fkiraly commented on #2473
yes, imo we should track this until (a) we understand what the error is, and (b) it is explained here, and (c) it is fixed/resolved (upstream or in sktime wherever it needs to be)

[2022-04-14 13:54] aiwalter commented on #2475
yes, we should actually open an issue at `prophet` about this

[2022-04-14 15:01] ngupta23 opened #2477 "[ENH] Grid Search for Global Models"
It looks like Grid Search is not enabled on Global Forecasting yet (no support for multi-index). I was wondering if this is planned. For example, I would like to be able to run the global model, but tune the hyperparameters of the regressor. I was wondering if this is planned for the future? Thanks!

Details here: https://nbviewer.org/gist/ngupta23/138f55d72f2764b47711c97a73de631d

[code]
[code]

[2022-04-14 15:12] Samuel-Oyeneye commented on #2453
Hi @fkiraly, I can work with this. I'll love to fix the broken render and estimator docstring indentations. Please can you assign me to this issue?

[2022-04-14 15:48] fkiraly commented on #2477
Yes, indeed it's planned, it's the "next thing" in ensuring that hierarchical & probabilistic are integrated with compositors.

Duplicate of one of the items in here:
https://github.com/alan-turing-institute/sktime/issues/2243
so closing.

[2022-04-14 15:48] #2477 closed

[2022-04-14 15:48] fkiraly commented on #2243
transformer and forecasting pipelines are in 0.11.2:
https://github.com/alan-turing-institute/sktime/pull/2318

[2022-04-14 15:50] fkiraly commented on #2477
(the metrics need to work first, and that depends on the abandoned metrics refactor https://github.com/alan-turing-institute/sktime/pull/1163 being picked up)

[2022-04-14 15:51] fkiraly commented on #2453
of course, thanks for looking at this!

[2022-04-14 15:52] fkiraly commented on #2475
with last release over a year ago? Can try, but sounds unlikely...
We'll probably need to find a way to work around it

[2022-04-14 15:57] fkiraly commented on #2452
argh, ok. Yes, I see why you think the differencer eating both indices should work.

Unfortunately, it is not as straightforward, because you need to prevent any intermediate situation where an index in `y` is not there in `X`. My "naive" approach would be reversing the order of the pipelines, i.e., have the `TransformedTargetForecaster` *outside* and the `ForecastingPipeline` *inside*. That would

[2022-04-14 15:59] fkiraly opened #2478 "[ENH] `Differencer` NA handling parameter"
The first entry is being eaten by the `Differencer` in its current standard setting, which may cause user frustration, especially when combined with a pipeline (which is its "typical use"), see e.g., here: https://github.com/alan-turing-institute/sktime/issues/2452

We should add an NA handling parameter setting and make the default to fill in sth for the first value, e.g., a difference from an ea

[2022-04-14 15:59] fkiraly commented on #2478
FYI @anthonygiorgio97

[2022-04-14 16:39] Samuel-Oyeneye commented on #2453
Awesome, thanks!

[2022-04-14 20:06] TNTran92 commented on #529
Do we still need this @fkiraly? If yes, I'd like to have a shot at this

[2022-04-14 20:34] aiwalter commented on #529
I think priority wise this hase lower priority in my opinion. And also dependency to `pytorch` might cause issues.

[2022-04-14 20:34] TNTran92 commented on #220
@yairbeer are you still on gluon-ts?

[2022-04-14 20:35] TNTran92 commented on #529
Thanks @aiwalter, I will pass over this one then

[2022-04-14 21:15] TNTran92 commented on #1432
@afzal442 are you still working on this?

[2022-04-14 21:41] #1994 closed

[2022-04-14 21:41] #2469 closed

[2022-04-15 02:39] miraep8 commented on #2459
I was interested by this suggestion,

 though I was wondering if you could clarify what you were envisioning here as I wasn't sure exactly what you had in mind.  Was it something like this:

`new_pipe = trans**forecaster`

so that it is essentially as if we did this:

` new_pipe = ForecastingPipeline(steps=[trans, forecaster])`

or perhaps more something like this:

`new_pipe = trans**pipe`

where

[2022-04-15 02:40] Samuel-Oyeneye commented on #2453
@fkiraly I have not been able to find where the issue is. Please can you direct me to it?

[2022-04-15 08:07] TonyBagnall opened #2480 "[ENH] Adapt Move-Split-Merge distance for multivariate time series"
**Is your feature request related to a problem? Please describe.**
The Move-Split-Merge (MSM) distance function
https://ieeexplore.ieee.org/document/6189346
is the top performing distance function for both 1NN classification and kmeans clustering of time series, significantly outperforming the better known dynamic time warping in both situations. The current sktime implementation
https://github.co

[2022-04-15 08:09] fkiraly commented on #2480
Isn't the "obvious" approach one of reduction/composition, where you just add up the distance from the different variables?

[2022-04-15 08:17] #2441 closed

[2022-04-15 08:20] TonyBagnall opened #2481 "[ENH] Implement Time Warp Edit distance"
**Is your feature request related to a problem? Please describe.**
Time Warp Edit (TWE) distance is a time series distance measure published in PAMI some time ago

https://arxiv.org/ftp/cs/papers/0703/0703033.pdf

for some reason, it has its own wiki page
https://en.wikipedia.org/wiki/Time_Warp_Edit_Distance

It is not currently implemented in the distances module in sktime, and it would be good t

[2022-04-15 08:23] fkiraly commented on #2481
@TonyBagnall, could this be available already as a special case of the alignment module and its "convert to distance" functionality?
One can configure arbitrary inner distance functions, step patterns, etc

[2022-04-15 09:02] TonyBagnall opened #2482 "[ENH] Implement Shape-based Pattern Detection distance function"
**Is your feature request related to a problem? Please describe.**
Spade is a distance function used in some comparisons, for example here
https://dl.acm.org/doi/abs/10.14778/1454159.1454226
(there is another more recent comparison I cant find the link for right now, will post it anon)

We have not used SPADe in any of our distance experiments, because it did not perform very well in tha above stu

[2022-04-15 09:12] TonyBagnall opened #2483 "[ENH] Implement Sequence Weighted Alignment model (Swale) distance function"
Swale is a distance function used in some comparisons, for example here
https://www.cs.ucr.edu/~eamonn/vldb_08_Experimental_comparison_time_series.pdf
https://dl.acm.org/doi/10.1145/1247480.1247544
(there is another more recent comparison I cant find the link for right now, will post it anon)

We have not used Swale in any of our distance experiments, because it did not perform very well in the ab

[2022-04-15 09:15] TonyBagnall opened #2484 "[ENH] Implement Threshold Queries (TQuEST) distance function"
**Is your feature request related to a problem? Please describe.**

TQuest is a distance function proposed here
https://link.springer.com/chapter/10.1007/11687238_19
and used in some comparisons, for example here
https://www.cs.ucr.edu/~eamonn/vldb_08_Experimental_comparison_time_series.pdf
https://dl.acm.org/doi/abs/10.14778/1454159.1454226
(there is another more recent comparison I cant find the

[2022-04-15 09:18] TonyBagnall commented on #1714
resolved by https://github.com/alan-turing-institute/sktime/pull/2268

[2022-04-15 09:18] #1714 closed

[2022-04-15 10:28] TonyBagnall commented on #2481
@fkiraly I have no idea, have you implemented the algorithm? I just want a distance function to call as we do all the others

[2022-04-15 10:29] TonyBagnall commented on #2480
@fkiraly I suggest you read Ahmed's paper, the mutlivariate issue is covered well in that

[2022-04-15 10:34] TonyBagnall commented on #1982
issue replaced with this one
https://github.com/alan-turing-institute/sktime/issues/2480

[2022-04-15 10:34] #1982 closed

[2022-04-15 10:36] TonyBagnall opened #2485 "[ENH] update Matrix Profile Distance (MPDist)"
**Is your feature request related to a problem? Please describe.**
the mpdist function is described in
https://link.springer.com/article/10.1007/s10618-020-00695-8

It was implemented some time ago by @ClaudiaSanches.
https://github.com/alan-turing-institute/sktime/blob/main/sktime/distances/mpdist.py

**Describe the solution you'd like**
It needs updating to use numba, adapting to conform to the

[2022-04-15 11:05] fkiraly commented on #2480
What I just said, i.e., the reduction approach by summing, is literally the first approach covered in section 3, definition 5 (in a generalization where the p-norm is used, you get summing for p=1)

The natural implementation in sktime, of this, is a compositor that takes univariate distances and sums them up, as said. We can even add a parameter `p` for the p-norm, to bring it in line with defini

[2022-04-15 11:33] TonyBagnall commented on #2480
yes obviously you an compose the for the independent version, we want the dependent version which is available with all the others

[2022-04-15 12:21] fkiraly commented on #2459
Yes, exactly!

This behaviour is actually already implemented for single `*` and the `TransformedTargetForecaster`, if you look at the dunder methods both in that class and in `BaseForecaster`. There are multiple behaviours, depending whether you are dealing with pipelines or not. The aim is to keep the pipeline structure flat, not nested. In total, there are four cases, depending on whether `self

[2022-04-15 12:24] fkiraly commented on #2459
Don't say sth like that. This was one of the most sensible comment on pipelines I've read on sktime.
Your ideas are precisely the right ones imo.

What I'm thinking about is the problem of having separate pipelines to apply transformers to `X` and to `y`, i.e., the `ForecastingPipeline` and the `TransformedTargetForecaster`.

Construction, and handling the symbolic parsing via dunders seems to be

[2022-04-15 12:28] fkiraly commented on #2459
I've added existing instances of dunders in the top post, for context

[2022-04-15 12:36] fkiraly commented on #2453
The doc sources are in the `docs/sources` folder, from which readthedocs compiles the page.

Here's the developer guide for the documentation framework:
https://www.sktime.org/en/stable/developer_guide/documentation.html

Kindly let us know if you feel it could be clearer or otherwise improved, or if you would like some more information.

[2022-04-15 16:35] miraep8 commented on #2459
Thanks! Seeing the example related to the `*` operator overload for `TransformedTargetForecaster` makes it much clearer what you had in mind.

So - I share your concerns that having both `*` and `**` and having to think about the complexity of using `ForecastingPipeline` vs `TransformedTargetForecaster` might be confusing.  I know for myself at least I would end up having to remind myself which op

[2022-04-15 16:54] fkiraly commented on #2381
Hm, I see - the problem is a non-unique input.

What I think we should then do:
* we should check whether the checks check that the indices are unique
* the converters should raise a warning if non-unique indices are passed
* and do the `reset_index` fix inside the functions

Why: I think the longley data and conversions are used in a number of tests, estimators written by @TonyBagnall et al, and

[2022-04-15 17:16] TonyBagnall commented on #2381
we never user the longley data @fkiraly, nor long format converters at all. Also never use the merged data set, its why I changed the default return_X_y to true.

[2022-04-15 17:40] fkiraly commented on #2459
Yes, exactly - that's why I have so far been holding off with the second operator.
Cognitive overload is a real danger here.

To give the things on the other side of the: argument
* Intuitively, you could think of `*` as "primary pipeline", i.e., it always acts on the "central data stream", and `**` acts on the "secondary data stream" if there is one. One star for primary, and two for secondary.
*

[2022-04-15 17:44] fkiraly commented on #2459
Re `steps_X` and `steps_y`, we seem to have to arrived at the same idea, independently, see here:
https://github.com/alan-turing-institute/sktime/issues/1174
That typically means that it's a good idea, or a tempting fallacy.

What do you think about `steps_y_to_X` in the issue?

[2022-04-15 17:58] kailkuhn commented on #541
Hi everyone,

I'm not really an expert on the topic, but could someone explain to me why the intervals that are calculated using the  **predict_interval** function does not become more uncertain (higher variance) depending on how far in the future the predicted value lies? It doesn't make so much sense to me that uncertainty is constant when predicting many future values of a timeseries.

Thanks

[2022-04-15 18:10] aiwalter commented on #541
@kailkuhn can you open a discussion for this with a reproducible code? This issue is about plotting only

[2022-04-15 18:15] fkiraly commented on #541
Yes, please open a new issue and provide code. This sounds like a bug or a problem with the specific estimator.

[2022-04-15 18:43] miraep8 commented on #2459
Sure!  Here was my thinking:

 - If I didn't write this code (or alternatively if I wrote it a while ago and forgot what I had been trying to do) I think the `.apply_transform_to('X')` version  vs the `**` and `*` version is closer to explaining itself (though I am not tied to having the syntax be in that exact form, just something like that!)!

- Essentially - I think it would be easier to look a

[2022-04-15 18:43] fkiraly commented on #2480
my comment is just, should we not start with the "simplest" variants, like the compositor?
This would be always sth you will have to compare against in proper benchmarks etc

[2022-04-15 18:48] fkiraly commented on #2459
I see, yes, that makes sense.

The problem is that you have the "apply_to" everywhere now.

What about sth like

`to_X(trafo1 * trafo2 * trafo3) * trafo4 * trafo5 * trafo6 * forecaster`

[2022-04-15 18:49] miraep8 commented on #2459
Ah!  Yes that reads even better!

[2022-04-15 18:50] miraep8 commented on #2459
Or even:
`to_X(trafo1 * trafo2 * trafo3) * to_y(trafo4 * trafo5 * trafo6 )* forecaster` ?

[2022-04-15 18:51] fkiraly commented on #2459
Can we analyze this further: what is the *differential* burden of having to look up `**` and `*`, vs not understanding the `*` and looking it up? What if we compare looking up `**` and `*` and `+`, vs having only `*` and `+`?
In your thought process, have you assumed that you "already know about `*`" or not?

[2022-04-15 18:55] fkiraly commented on #2075
Hm, they have not answered ny other issue either - https://github.com/alkaline-ml/pmdarima/issues/492
Is `pmdarima` still alive??

[2022-04-15 18:59] miraep8 commented on #2459
In your thought process, have you assumed that you "already know about *" or not?

Sure - to clarify - in my thought process the concern is that the theoretical me sees the first `*` and thinks, ah that makes sense, perhaps we are just joining these transformations together.... maybe the variable that we are assigning everything to is called `pipeline` so the theoretical me assumes that she unders

[2022-04-15 19:00] miraep8 commented on #2459
in the first example, one hopes I might eventually notice the `*` vs `**` but in reality it might take me a bit of debugging/close reading! :)

[2022-04-15 19:12] miraep8 commented on #2459
as to your other question I think I would need to think about this more.  To understand what you are trying to do here - would we essentially be trying to create a "fake" `X` variable via some transformation of the `y` variable?  Hmm, to me this seems potentially troublesome as it seems to clash a bit non-intuitively with my understanding of what "exogenous" data should be.  ie - now we have somet

[2022-04-15 19:25] miraep8 commented on #2459
Just throwing this out there as a sort of half baked idea- but what if we somehow had pipeline building block classes?  ie - an x_transform_block and a y_transform block?  Or alternatively a transform block that has an attribute which tracks whether it is an X block or a y block.

Now calling `to_X()` or similar creates an x_transform block object can then be chained together with other blocks (ie

[2022-04-15 19:31] aiwalter commented on #2459
The transformed `y` to `X` case is covered in this issue #1443 and requires also a shift to be used later as `X` in `predict`. A PR from me is linked but pending since longer 😐

[2022-04-15 19:38] aiwalter commented on #2459
@miraep8 you might also look here for a discussion on pipelining we had some time ago: https://github.com/sktime/enhancement-proposals/blob/main/steps/01_forecasting_api/forecasting_pipeline.md

Based on this, the `ForecastingPipeline` was implemented but we are still lacking a pipeline functionality that covers `y` and `X` trafo in one class.

[2022-04-15 19:46] TonyBagnall opened #2490 "[BUG] Classifier testing excluded/missing/slow"
a few minor things with testing classifiers

- [ ] the SignatureClassifier is excluded from the test_all_classifiers correctness tests on unit_test and basic_motions, possibly due to being very slow
- [ ] Proximity forest/tree/stump is excluded from pickling based tests  test_persistence_via_pickle, test_fit_does_not_overwrite_hyper_params and test_on_unit_test
- [ ] CNNClassifier is excluded from

[2022-04-15 19:49] avm19 commented on #1434
I've just started looking into `sktime` and I believe the said notebook must be given a higher priority than it currently has:

1. Understanding sktime's data conventions and terminology is prerequisite to using algorithms.
2. There have been several changes to the conventions (e.g., relaxed requirements to "pd-multiindex"). Had the notebook been explicitly listed in [Tutorials](https://www.sktime

[2022-04-15 20:38] miraep8 commented on #2459
Thanks @aiwalter !  It was useful to get a sense of what you all have already discussed/motivations.

[2022-04-16 05:53] yairbeer commented on #220
@TNTran92 unfortunately I no longer work in TomeSeries and don't have time to contribute at the moment.
Sorry

[2022-04-16 14:08] fkiraly commented on #1434
@avm19, I think you are right.

There is some confusion and duplication going on, and the "tutorials" section of the docs is a bit of a mess.
An issue exists, we are looking for volunteers to help us improve this 😄
https://github.com/alan-turing-institute/sktime/issues/2127

I'll look into updating the "datatypes" notebook, I can do that quickly, the rest is more of a project - would appreciate he

[2022-04-16 14:10] fkiraly commented on #1434
Regarding priority, I think there is a trade-off - new users would like to see a "quickstart" tutorial first, and only then a deeper dive. Most algorithmic functionality can be explained using the pandas `DataFrame` based mtypes, and going to deep into the different formats can be "too much information" if it comes too early.

My strategy would be "start on the surface but give pointers in later s

[2022-04-16 14:14] fkiraly commented on #2127
@avm19, FYI

[2022-04-16 14:14] fkiraly commented on #2127
@ris-bali, @ner-aim, are you still working on this? Do you want to open a draft PR?

[2022-04-16 14:18] ner-aim commented on #2127
I was not able to get it done because of the semester projects. I have the next month pretty free, so I'll be working on it from 28th April, if that's alright.

[2022-04-16 14:35] fkiraly commented on #1434
@avm19, I've updated the notebook with the changes to `pd-multiindex`, and the added `pd_multiindex_hier` hierarchical mtype:
https://github.com/alan-turing-institute/sktime/pull/2492

[2022-04-16 14:43] fkiraly commented on #220
that's a shame - could be all yours if you want, @TNTran92!
(if you pick it up, kindly open an issue since it does not seem like there is one)

[2022-04-16 15:22] fkiraly commented on #2127
sure (if no one else is interested to work on it until then)

[2022-04-16 15:29] Ris-Bali commented on #2127
I am working on two other PRs will open a PR for this issue once work on them is done.

[2022-04-16 15:34] avm19 commented on #1434
@fkiraly Thanks, I'll have a look! I am not sure I will participate yet, but might likely do so in the future!

(I understand your logic, I am just one of those atypical new users who want to see the outline of the framework first.)

[2022-04-16 15:39] fkiraly commented on #1434
Don't think you are "atypical" - we had internal discussions and I also wanted to place the "datatypes" notebook as the first "number zero" notebook.
I was outvoted - and also convinced by the argument - that most users probably want to see a quick start, because at that point it's not clear to them yet whether it's worth investing 10-20min into reading up on the data container framework.

If you

[2022-04-16 17:15] aiwalter opened #2493 "[BUG] Tag translation for fit-in-transform and fit_is_empty not working as intended"
**Describe the bug**
My trafo still used the old tag `fit-in-transform: False`, but when I did `my_trafo.get_tag("fit_is_empty")` it returned `True`, so seems translation is not working in this direction. The problem is I guess here:
https://github.com/alan-turing-institute/sktime/blob/68c359f7afd070ce4778cc1e2937b3d92913129f/sktime/base/_base.py#L430
It only translates in one way.

The translatio

[2022-04-16 17:23] anthonygiorgio97 commented on #2452
@fkiraly ok I have tried to reverse pipelines. Now if I use a `make_reduction` model like SVR() as follow, the pipeline work.

[code]

However if I want to use Prophet now I face up with another error. This is the sample code I'm using:

[code]

The error is this:

ValueError: Must supply freq for datetime value

It seems strange because freq is set as 'A' before fitting for train_model and X_trai

[2022-04-16 18:22] fkiraly commented on #2493
I looked into this and I think this is expected behaviour.

Why: `BaseTransformer` has a default set of `"fit_is_empty"` being `True`, so all transformers inherit the tag.
If the tag is available, it is *not* overridden by its alias.

I think this is expected behaviour? Since the "right" tag, if found together with the "old" tag, should have precedence.
Or do you think this is unintuitive?

In any

[2022-04-16 19:43] aiwalter commented on #2493
yes I chnged to new one and it works fine.

[2022-04-16 19:59] fkiraly commented on #2493
ok, so we can close then?

[2022-04-16 19:59] #2493 closed

[2022-04-16 22:25] miraep8 commented on #2459
Reading it all in more depth/checking out the scikit learn pipeline it makes more sense now why things were constructed the way they were.  ....though I wonder if it might be worth revisiting the pipelining conversation as part of some future major version release?

In the meantime, I agree it's probably not worth re-creating the whole pipeline schema just to create a better operator overload. :)

[2022-04-17 06:32] TonyBagnall commented on #2480
Your comment may be just, but it's not what I've asked for in this issue.

[2022-04-17 06:36] TonyBagnall commented on #2467
If it's sporadic it's probably a website issue or problem with your connection, it downloads from tsc.com, which seems to have failed

[2022-04-17 09:14] AJarman commented on #2443
Hi @fkiraly i'd like to pick this up please - it looks like it would be just implementing the `BaseTransformer._fit()` method?
My suggested implementation is
- `BaseTransformer`  child class
- _fit() method to round to integers (initial requirement for discrete values) as default.
- Constructor /`__init__` taking optional arguments :
  - Round to dp `round_to_dp:Optional[int]=None`
  - Round to mu

[2022-04-17 11:13] anthonygiorgio97 commented on #2452
Another strange behaviour is that if `fh=[1,2]` the code below works, but if `fh=[1,2,3]` or `[1,2,3,4],...` or longer, I have error:

[code]

Error:

`ValueError: could not broadcast input array from shape (5,2) into shape (1,5,3)`

I think the problem regards the `inverse_transform` of `Differencer` on exogenous variable used for validation, when we have to do prediction in validation set. But I

[2022-04-17 13:44] ngupta23 commented on #2455
FYI...I am getting this in pycaret as well after upgrading to 0.11.2

[code]

[code]

[2022-04-17 13:45] ngupta23 commented on #2203
oh boy. Looks like it breaks pycaret after upgrading to 0.11.2 as well :(

[2022-04-18 11:37] Samuel-Oyeneye commented on #2453
@fkiraly I have been able to figure out the issue to be fixed and also locate the folder. Thanks for the explanations.
I noticed that the **docstring table type errors** are located in the [base.py](https://github.com/alan-turing-institute/sktime/blob/v0.11.2/sktime/transformations/base.py#L379-L434) file. But you made mention that the docstrings all came from the `BaseTransformer` and `BaseForcas

[2022-04-18 12:13] fkiraly commented on #2459
ah, thanks!

Sorry for the late reply, I'd recommend you look at my recent refactor of the `MultiplexForecaster` here:
https://github.com/alan-turing-institute/sktime/pull/2458

I think basing your work on the refactored version makes it easier to replicate for the transformer. No dunders included yet 😄

[2022-04-18 12:16] fkiraly commented on #2459
Possible avenues using #2458 (there may be other sensible approaches too):

* write a `_DelegatedTransformer`, similar to `_DelegatedForecaster`. Use that to get an easy `MultiplexTransformer`
* or, more difficult but also probably more helpful for further work, write a `_Delegator` that does its job no matter of the underlying estimator's type

[2022-04-18 12:17] fkiraly commented on #2455
yes, will be fixed once #2456 is merged.
Sorry for this - this is resulting from the pipeline being both forecaster and transformer.

[2022-04-18 12:19] fkiraly commented on #2453
I'm confused - the section you linked in in `BaseTransformer` (and that's what I meant). Can you maybe check again, you probably overlooked that?

[2022-04-18 12:20] fkiraly commented on #2452
The explanation would be that the broadcast shape ends up being `(1, 5, 2)` which then works, by coincidence.

[2022-04-18 12:23] fkiraly commented on #2443
@AJarman, sure!

I'm not sure though why you want to implement the `_fit` method. Should the rounding not happen in the `_transform` method? There's nothing to fit as far as I can see.

Probably just a typo of yours? Otherwise your explanation looks good.

Re `pd.IntervalIndex`, just ignore that.

[2022-04-18 12:24] fkiraly commented on #2203
the blame is, of course, entirely with you 😁
(for everyone else who reads this: this is sarcasm)

[2022-04-18 12:26] fkiraly commented on #2203
Jokes aside, I was surprised that we didn't test for this, having both pipelines nested seems like a common use case. #2455 adds that test so it should, hopefully, never happen again...

[2022-04-18 12:28] Ris-Bali opened #2499 "[ENH] Add VARMAX statespace model in sktime"
**Is your feature request related to a problem? Please describe.**
I was just going through the code base and couldn't find VARMAX model in the forecasting submodule.

**Describe the solution you'd like**
Add or interface VARMAX model into sktime.

**Additional context**
This can be interfaced through statsmodels .
https://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.varmax.VARMAX.

[2022-04-18 12:34] fkiraly commented on #2452
oh no 😢

my suspicion about the two things:

* "must supply freq" is probably some transform eating away the freq. `pandas` indices are fiddly, and sometimes freq just disappears if you subset to an index of length 2 or less.
* the second one looks like some bad `numpy` call, perhaps `axis` is missing somewhere.

What would help is a "reduced" version of the above - would you be so kind to remove

[2022-04-18 12:43] miraep8 commented on #2459
Will do!  Thanks for the suggestions

[2022-04-18 13:05] aiwalter commented on #2413
what we want it this:
![image](https://user-images.githubusercontent.com/29627036/163812361-ce26adc0-2aa7-4526-b8ba-8cb0081c9ff4.png)
 I made a draft PR but this headline did not yet show up 😞

[2022-04-18 13:31] Samuel-Oyeneye commented on #2453
Oh yeah, I have seen it. I didn't check the class name earlier, sorry for the mixup. Thank you very much!
I will let you know about any other update

[2022-04-18 14:45] AJarman commented on #2443
Hello,
Yes I have started the implementation, I meant `_transform` of course 😄  that was a strange typo.

I am assuming that we don't want to store the old (untransformed/rounded) values and return them in `_inverse_transform`?
My understanding is that this would be the last step in a `TransformedTargetForecaster` pipeline and therefore the only method used is actually `_transform()`?

[2022-04-18 19:10] fkiraly commented on #2443
That wouldn't work, since in general we'd be seeing new indices.

What I'd do is to have `inverse_transform` just to return `X`, since the rounded value itself is in a sense the "best guess" at what it was rounded from

[2022-04-18 19:11] fkiraly commented on #2443
Yes, that is the usage intended by @aiwalter and probably typical usage, although we shouldn't rule out that users may want to use it elsewhere.

[2022-04-18 20:23] aiwalter commented on #2443
For this case, we have the tag `"skip-inverse-transform": True`, so no `inverse_transform` should be implemented. The method `inverse_transform` should only be implemented if its actually possible to inverse the transformation. As this is not the case here, we can leave it empty as e.g. also for `Imputer`

[2022-04-18 21:20] fkiraly commented on #2443
but isn´t the identity an "approximate inverse" here?

[2022-04-18 21:23] fkiraly commented on #1432
@TNTran92, I'm quite certain @afzal442 is no longer working on this.

[2022-04-18 21:23] #1148 closed

[2022-04-18 21:24] fkiraly commented on #727
should this perhaps be documented with the base class then?

[2022-04-18 21:25] TNTran92 commented on #1432
Thanks :)

[2022-04-18 21:45] aiwalter commented on #2443
As a user, I expect from `inverse_transform` not an approximation

[2022-04-19 12:33] Samuel-Oyeneye commented on #2453
@fkiraly I've been able to fix the docs where the transformer docstring rendered broken but still having issues with the build locally, on my Linux-Ubuntu OS anytime I run `make html` in the `cd docs` directory

Can I make the PR first? And also how can I resolve the issue?

[2022-04-19 18:33] fkiraly opened #2504 "[BUG] issues with WindowSummarizer in hierarchical case"
I think there are two bugs (or problems) with `WindowSummarizer`:

* it assumes that levels are named "instances" etc. This assumption is no longer made in the `pd-multiindex` mtype
* despite claims made in various places, it is not actually ready for hierarchical data - `X_inner_mtype` should include `pd_multiindex_hier`, but in that case the transformer will break.

FYI @danbartl

[2022-04-19 22:21] fkiraly commented on #2381
That's not right? It is used throughout `sktime`, for doc examples (which become tests via doctest) and some automated tests. Since it is one of the few on-board data sets that come multivariate.

The "original sin" here seems to be having created a data loader that, under certain circumstances, can return non-compliant data containers, but everyone will assume (since it is one of a few loaders) t

[2022-04-19 23:20] fkiraly commented on #2453
what exactly is your issue with the build?

[2022-04-19 23:49] fkiraly opened #2507 "[ENH] DummyClassifier"
We should implement a `DummyClassifier`, similar to the one in `sklearn`.
Functionality can be equivalent, except that it should inherit from `BaseClassifier` in `sktime`.

Suggestion: impot `sklearn` `DummyClassifier`, loop through all the inputs and loop through `y`, create some 2D `X` for the `sklearn` classifier which will be ignored anyway.

[2022-04-20 00:02] fkiraly opened #2509 "[ENH] panel data generation with unequal length series"
Assumes https://github.com/alan-turing-institute/sktime/pull/2505 merged.

We should extend `_make_panel` so it is easy to generate unequal length series.

Besides an `int`, the `n_timepoints` argument should also take:

* 1D array-like of `n_instances` length. This is the length of each time series. Should raise error if mtype cannot represent unequal length
* 2D array-like of shape `(n_instances

[2022-04-20 04:39] jmwhyte commented on #2116
Ok, content coming soon I hope. (I just have to find time to read through the various docs about contributing, and tidy the code when I get a chance.)

[2022-04-20 12:37] fkiraly opened #2510 "[DOC] updates to docs after GSoC deadline has passed"
Now that the GSoC deadline has passed, the link to "join us for GSoC" should be removed from the landing page.

We could consider replacing it by a "join the contributor onboarding week" banner.

Also, I noticed, @Lovkush-A, the mentors table says "personal webpage" in your row, but that has no actual link to anything.

[2022-04-20 15:20] eenticott-shell opened #2511 "[BUG] `ColumnEnsembleForecaster` adds extra level to probabilistic predictions output"
**Describe the bug**
When using the `predict_quantile` or `predict_interval` methods on a `ColumnEnsembleForecaster` the resulting output contains an extra irrelevant level of just `"quantile"` or `"interval"` respectively.

**To Reproduce**

[code]

**Expected behavior**
A dataframe of two levels, top level names variables and second level names quantiles, instead a redundant middle level is incl

[2022-04-20 20:24] fkiraly commented on #2312
@jyviko, what you report is not a bug, but intended behaviour, indeed, because TSF does not support unequal length data.

However, this should work instead, but it actually doesn't:

[code]

The reason it does not work is bugs with `ColumnEnsembleClassifier` which I just fixed here.
Indeed, `ColumnEnsembleClassifier` could not handle unequal length data!

[2022-04-20 21:23] jyviko commented on #2312
@fkiraly thank you for the update and effort. I am glad you were able to resolve this although I misreported the issue. I will test this the soonest: )

[2022-04-21 08:05] k1m190r commented on #2368
The line that is crashing is:

[code]

related to [matplotlib#21788](https://github.com/matplotlib/matplotlib/issues/21788) and [matplotlib#19769](https://github.com/matplotlib/matplotlib/issues/19769)

No solution yet, memory leak is a suggested culprit.

[2022-04-21 10:04] #2312 closed

[2022-04-21 17:16] fkiraly commented on #2368
Hm, should we skip, or perhaps better, xfail the test?

[2022-04-21 18:21] fkiraly commented on #2481
Yes, it should be available via the module, as `DtwDist`.

[2022-04-21 19:48] GrzegorzRut opened #2524 "[BUG] ThetaForecaster fails to give prediction intevals for pd.DataFrames"
**Describe the bug**
@fkiraly , yesterday you mentioned that pd.Series should not appear in the code. I feel that this is somehow connected.

I noticed that `ThetaForecaster` is unable to generate the prediction intervals when it's inside a `ForecastingPipeline`. It turns out that the problem is not with the pipeline but with the input being forced to be a `pd.DataFrame`.
The error i'm getting is:

[2022-04-21 20:51] fkiraly opened #2526 "[ENH] lagging transformer"
Can it be that we don´t have a simple lagging transform?
It seems to be the case (although the `WindowSummarizer` can be "abused" for this).

We should have a `Lag` transformer that can take an integer or timedelta in construction, and all it does is to lag the series by the given lag value, using `pandas.shift`.

Should be pretty straightforward with the transformer extension template - I would r

[2022-04-21 22:13] mccrinbc-ss opened #2528 "[BUG][DOC] API reference on `sktime.utils` module is wrong, outdated, confusing"
@fkiraly update after discussion below (Apr 22):

The API reference page on the `sktime.utils` module is incorrect:
https://www.sktime.org/en/stable/api_reference/utils.html

Most of the functions aren't even there anymore.
This needs to be updated, preferably urgently.

What should be in the utilities section:

* `sktime.datatypes` functionality `convert`, `convert_to`, `check_is`, `check_raise`

[2022-04-21 23:27] fkiraly commented on #2528
@mccrinbc-ss, that function is not in the `utils` module since ages.
Also, `dir(sktime.utils)` should break unless you are in the wrong directory.
To me this sounds like a messed up installation?

I would suggest one of two things:

* please post reproducible, self-contained code for your bug, e.g., when does rocket try to import this?
* you can join one of the collab sessions tomorrow and we can

[2022-04-21 23:37] fkiraly commented on #2524
Bug confirmed, and fixed here: #2529.

The explanation is, likely a typo, a single missing underscore.

A test that would catch this is passing different input types - we need to discuss in the dev meeting how we trade off the increased compute with increased case coverage.

[2022-04-21 23:41] fkiraly commented on #2524
That shouldn´t matter, should it?

[2022-04-22 07:33] GrzegorzRut commented on #2524
Nah, was just a bit surprised to see something like this.

[2022-04-22 08:25] fkiraly commented on #2524
I guess float would be cleaner, and may be less risky in case addition for exotic types changes or gets deprecated.
But, in the spirit of "keeping PR scopes confined", I haven't changed it.

Maybe @guzalbulatova can shed light on why it's an index?

[2022-04-22 12:50] tarpas opened #2530 "ci and development: much more effective testing via pytest-testmon"
Upon the request of @fkiraly I investigated the possibility to use pytest-testmon for testing in sktime. When I tested many different commits from sktime history testmon selected single to triple digit number of tests out of the 20K test suite. I also tested multiple commits which introduced a test failure and testmon did execute the right tests to expose the failure. Very encouraging!

sktime cod

[2022-04-22 13:25] fkiraly commented on #2530
FYI @lmmentel, @freddyaboulton

[2022-04-22 14:57] GuzalBulatova commented on #2524
I frankly have no idea, it seems like a bug to me, somewhere defaulting to that class perhaps? There shouldn't be anything in Theta itself to require a Float64Index anywhere really. 🤔

[2022-04-22 16:29] mccrinbc-ss commented on #2528
Oh for real! I was trying to follow what is stated in the API reference for where functions are stored but I guess things have changed and the API reference is not up to date? Where can I find the most up-to-date API reference documentation? I see the following:
![image](https://user-images.githubusercontent.com/83707037/164756177-c357ec2b-c99d-4ff4-8302-6482b47d48e4.png)

I was only attempting to

[2022-04-22 17:36] fkiraly commented on #2528
Oh dear!! This is all wrong.
How is this still on the stable API page?

I verified and this page is outdated since probably half a year.
https://www.sktime.org/en/stable/api_reference/utils.html

I will change this issue into a docbug.

[2022-04-22 17:42] fkiraly commented on #2524
well, it still computes the right thing seemingly, due to dunder magic...

[2022-04-22 19:59] fkiraly commented on #2528
Apologies, it does not exist for this piece of functionality - the auto-generated API has not been updated with the move to the `datatypes` module that happend a while ago.

Until this is fixed (hopefully soon), you can use the docstrings. The content on this page should be as said above:

* `sktime.datatypes` functionality `convert`, `convert_to`, `check_is`, `check_raise` for "data processing"
*

[2022-04-22 20:01] fkiraly commented on #2528
For a tutorial on the functionality mentioned, you can consult this:

https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb

[2022-04-22 20:04] fkiraly commented on #2528
@aiwalter, perchance, is your upgrade of the automated doc generation here
https://github.com/alan-turing-institute/sktime/pull/2498
also going to fix this?

[2022-04-22 21:31] fkiraly commented on #2530
... <1000 instead of >20000??
👀 👀 👀
👁️‍👁️‍

[2022-04-23 12:04] tarpas commented on #2530
I put my testing commits to this table. I've been triggering the runs and writing the table by hand, so sometimes the durations and links are not apples to apples comparisons.  However as you can see this is great.
More random thoughts:
* I might have been lucky, with the commits I picked, it's not a big sample size. However it's quite time consuming to do this so I would like to have your decisio

[2022-04-23 12:32] fkiraly commented on #2530
@tarpas, this looks nice!

Here's a question: could you kindly explain the logic picking the tests in the following simplified case?

* there is a function `get_all_classes` that picks up all classes in `sktime` and feeds them to three tests via `pytest_generate_tests`, let's say `test1`, `test2`, `test3`, depending on properties of the class (let's say attributes `needs_test1`, `needs_test2`, `ne

[2022-04-23 19:00] fkiraly opened #2537 "[ENH] refactor `ColumnTransformer`"
The `ColumnTransformer` still needs to be refactored and get an interface similar to `ColumnForecaster`.

Further, `ColumnTransformer` changes state in `transform`, that needs to be fixed, too.

[2022-04-23 19:20] tarpas commented on #2530
Maybe the parameter of the test changes? test2[Class1] -> test2[Class2] ? In that case the node_id of the test changes and the "new" node_id is executed. If that's not the case, testmon will probably miss the change :(

There is actually much simpler case where I'm struggling for solution. If a constant from a different module (e.g. `consts`) is used in a test, e.g.
[code]
the change of `A` value

[2022-04-23 22:59] cgoxo commented on #2526
Can I work on this issue? I want to know more about this how to proceed.

[2022-04-24 04:00] zhangzhaoweii opened #6603 "[ENH] vmdpy - multivariate vmd extension"
Hello
I am now trying to modify the code for multiple signals, but it seems that I miss something when I compare the modified one with the original
Can anyone help me to look it up?
and there is the code below
[code]

and the original one is
[code]

Thanks in advance!

[2022-04-24 13:18] GuzalBulatova commented on #2524
Let's see how this would work in new version of Theta, I don't fully understand this current implementation. I'll keep this index issue in mind.

[2022-04-24 13:42] #2524 closed

[2022-04-24 14:21] fkiraly commented on #2526
great, thanks, of course!

Here is our detail guide on implementing new estimators, in this case it would be a transformer.
https://www.sktime.org/en/stable/developer_guide/add_estimators.html

[2022-04-24 14:45] fkiraly commented on #1906
@the-prof-paradox, I assume your self-unassignment means you no longer wanted to work on this.

I have solved the issue now by adding an argument to the soft dependencies check function, #2545.

[2022-04-24 17:23] tarpas commented on #2530
My suggestion regarding sktime testing holds. I would like you to test editable (git) source in CI. If somebody could also work on the inherent problems of the suite (long initialization and kilobytes of warnings), that would be great. If that's done I'll try to test testmon with sktime, compare the results and come up with sensible solutions/suggestions.

[2022-04-24 17:30] #2510 closed

[2022-04-24 18:53] fkiraly commented on #2530
I´m not sure - could you give a few lines of why this would be missed?

Long initialization is due to fixture collection - any ideas how to address that?

Warnings are mostly deprecation related, is that correct?

[2022-04-24 18:54] fkiraly commented on #1871
This moved down to statsmodels now:
https://github.com/statsmodels/statsmodels/issues/8232

[2022-04-24 20:20] fkiraly commented on #2524
I thought that line was coming from you?

[2022-04-24 20:22] fkiraly commented on #2403
No activity, cannot reproduce

[2022-04-24 20:22] #2403 closed

[2022-04-24 20:29] fkiraly opened #2547 "[ENH] design discussion - auto-resolution of forecaster restrictions: early fh, univariate, index format"
Design discussion, would be interested to hear opinions.

Now that the base class boilerplate layer is in place, we could do the following

* if a forecaster requires `fh` in `fit`, and it is not passed, instead of erroring out, we could simply skip `fit`, and run `fit_predict` (with `fh`) when `predict` is called. This would allow `fh` to be passed late for all forecasters, for some forecasters a

[2022-04-24 21:20] tarpas commented on #2530
testmon considers only lines executed during the test execution as dependencies. Lines which are executed at import time (before test execution) are only considered a dependency in some cases and the case described is not one of them. I already have a couple of ideas how to approach fixing this, but it's not easy and without runtime cost.

pytest doesn't create fixtures for deselected tests. Are t

[2022-04-25 07:44] GuzalBulatova commented on #2524
No, the new modular version is to substitute this current one and enable enhanced 'autotheta'. This implementation is by big-o if I'm not mistaken

[2022-04-25 15:26] lielleravid commented on #1011
Also, how would you like us to take care of the case where there is missing measurements in the data? Is this something we should take into account?

[2022-04-25 16:59] jlfischer commented on #862
This is actually still a problem.

![image](https://user-images.githubusercontent.com/6618220/165137457-92d64c36-a704-4afd-bf11-74c16e96f348.png)

[2022-04-25 20:23] fkiraly commented on #862
@jlfischer, could you kindly post your sktime version and operating system?

For me, the import works fine, i.e.,
`from sktime.performance_metrics.forecasting import MeanAbsolutePercentageError`

[2022-04-25 20:37] jlfischer commented on #862
sktime: 0.5.0
python: 3.6.8
OS: Linux (Linux-3.10.0-1160.53.1.el7.x86_64-x86_64-with-redhat-7.9-Maipo)

[2022-04-25 20:47] fkiraly commented on #1011
@lielleravid, I think optimally the user can choose which of these matrices are user input and which are estimated, with a default of estimation.
I would also advise to start with investigating potential packages that could be interfaced here - Kalman filters are not uncommon, although I do not have a full view of what is out there.

[2022-04-25 20:50] aiwalter commented on #862
@jlfischer we now have 0.11.2 version. Pls try to update 😃

[2022-04-26 08:01] juanitorduz commented on #2499
I thinks the implementation could be similar to the [`UnobservedComponents`](https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/structural.py) model  implementation right? I could take this one maybe in a couple of weeks (I'm a bit busy at the moment) or support someone ini the process as it seems a good first issue :)

[2022-04-26 15:30] fkiraly opened #2552 "[BUG] `FileNotFoundError` - `gfortran` in all CI/CD"
PRs error out on windows CI with this, since recently:

`FileNotFoundError: Could not find module 'C:\Miniconda\envs\test\lib\site-packages\scipy\.libs\libbanded5x.TNNMG3IXHGJK7NIBT5J6YPEO5XWTOQAJ.gfortran-win_amd64.dll' (or one of its dependencies). Try using the full path with constructor syntax.`

Unclear what is causing it, likely some package upgraded recently (within the last 12 hours)?

PR

[2022-04-26 15:42] fkiraly commented on #2499
yes, it probably will be, although the devil is always in the details... thanks!

[2022-04-26 21:34] lmmentel commented on #2552
I can only see breaking CI runs on windows with conda, seems to be a conda related issue.

[2022-04-26 21:40] lmmentel commented on #2552
I found this discussion that suggests changing the conda channel for installing scipy https://github.com/pytroll/satpy/issues/1835

[2022-04-26 22:03] #862 closed

[2022-04-26 22:55] fkiraly opened #2555 "[BUG] test framework retains state between different test runs"
It would appear that the test framework retains object state between different runs of tests.

E.g., if the test `test_update_predict_predicted_index` is run twice, the second run will be with the state the object has at the end of the first run.
Example of an issue caused by this is here: https://github.com/alan-turing-institute/sktime/pull/2248

Expected behaviour is that a new estimator instanc

[2022-04-26 22:57] fkiraly opened #2556 "[BUG] `BaseForecaster.update_predict` broken upon second call, `detached_cutoff` does not reset component cutoffs"
`update_predict` is broken for all composite forecasters in the following way:

If it is run once for a composite with a component, the `cutoff` of the composite is reset, but not that of the component. This leads to unexpected behaviour and non-compliant predictions when `update_predict` is called a second time.

This is due to a fundamental bug in the design of the `detached_cutoff` that is used

[2022-04-27 08:32] fkiraly opened #2559 "[ENH] resolve duplication of package/version specs between `pyproject.toml` and `test-windows` workflow"
I think we would like to control all dependencies and version bounds from `pyproject.toml` or another central location, but some packages are directly installed in the windows CI job in `test-windows`, with their own version bounds.

Possibly we will need different bounds for windows/conda, but in any case we should ensure they are controlled somewhere centrally, in my opinion.

May be related as

[2022-04-27 10:07] eenticott-shell commented on #2323
As of 0.11.2 this example no longer seems to produce an error.

[2022-04-27 10:22] fkiraly commented on #2552
some observations:

* `scipy` coming from `conda-force` seems to have upgraded to 1.8.0 a few days ago - even though the release happened months ago
* this PR https://github.com/alan-turing-institute/sktime/pull/2560 introduces a bound and has `scipy 1.7.3`, but the error still occurs
* switching the `scipy` and `matplotlob` mirror from `conda-force` to `anaconda` here https://github.com/alan-turi

[2022-04-27 11:07] eenticott-shell commented on #2117
I have diagnosed where the error is coming from but I am unsure how to fix it. An X matrix is generated by `_sliding_window_transform`, this has 3 dimensions and is then passed to `fit` in the regressor, the regressor then rejects the X matrix as it has 3 dimensions. A naive fix is to do X.squeeze() to get rid of the extra dimension but this may break other functionality. Doing this does get the f

[2022-04-27 11:40] #2434 closed

[2022-04-27 11:57] lmmentel commented on #2552
How about making the conda deps more transparent and adding an `environment.yaml` with explicit deps, channels and versions?

[2022-04-27 11:59] fkiraly commented on #2552
good idea - I opened an issue about the general problem this suggestion tries to address here, already:
https://github.com/alan-turing-institute/sktime/issues/2559

[2022-04-27 12:58] #2511 closed

[2022-04-27 13:04] fkiraly commented on #2323
For me, it fails on sktime dev version (latest main), python 3.8, windows.

[2022-04-27 13:28] juanitorduz commented on #2499
Totally agree! I will come back to this issue in a couple of weeks if no one has taken over :)

[2022-04-27 15:49] #2442 closed

[2022-04-27 16:58] paxcema opened #2564 "[BUG] Prophet does not work with integer indices"
Update by @fkiraly:

after some discussion, I think this is the "actual" bug, i.e., that integer index does not work with `Prophet`:

Hm, I think it might be a bug, because this does not work:

[code]

I think it should, instead of erroring out.
The error message says that index needs to be sth or integer index, but it *is* integer index!

---

**Describe the bug**

Trying a flow similar (but not

[2022-04-27 17:40] fkiraly commented on #2564
So sth like this:

[code]

[2022-04-27 17:41] fkiraly commented on #2564
(not a bug, I think)

[2022-04-27 18:22] paxcema commented on #2564
Thanks for the quick reply @fkiraly!

You're right I don't (Prophet may not play nice with such tiny scales), but am trying to call this under some constraints that mean I don't necessarily have access to the actual absolute timestamps, which is why I tried this approach with a relative index first.

I'll consider this solved for now, up to the maintainers to decide whether it's an actual bug or n

[2022-04-27 20:05] fkiraly commented on #2564
Hm, I think it might be a bug, because this does not work:

[code]

I think it should.

[2022-04-27 21:27] aiwalter commented on #2564
`Prophet` works only with `pd.DatetimeIndex`

[2022-04-27 23:45] ltsaprounis opened #2568 "[ENH] Randomness handling in MiniRocketMultivariate"
**Is your feature request related to a problem? Please describe.**
The current implementation is controlling the randomness using `numpy.seed` e.g. [line 140](https://github.com/alan-turing-institute/sktime/blob/2ab70b78caf30f3a5fa1ea516ba4179dd44ba632/sktime/transformations/panel/rocket/_minirocket_multivariate.py#L140). This is considered bad practice according to the numpy docs here:
https://nu

[2022-04-28 12:56] #2504 closed

[2022-04-28 14:55] #1364 closed

[2022-04-28 16:37] #2455 closed

[2022-04-28 19:16] fkiraly opened #2573 "[ENH] design - init, parameter check, dynamic tags - conflicting interface requirements"
We need to have a design decision on conflicting elements of our current interface specification.

These are:

1. `__init__` should contain no logic for input checking, and optimally no other logic. Such logic should be placed at the start of `_fit`
2. dynamic tags need to be set in the `__init__`, since tags are read at the start of the `fit` call which precedes the `_fit` call
3. we have the `fi

[2022-04-28 19:17] fkiraly commented on #2573
FYI @lmmentel who highlighted this.
FYI @miraep8 who recently thought about it in #2540 and #2458.
FYI @aiwalter, @TonyBagnall

[2022-04-28 19:19] fkiraly commented on #2573
My personal opinion is, 1. should go.
The requirement of 1. is coming from `sklearn`, the rationale being that calling `fit` multiple times, and possibly `set_params` in-between, should be possible and result in the same state as after the last `fit` call.

`sklearn` has no choice in this imo, since there is no "boilerplate" layer and all the checks etc need to be implemented by a user every ime t

[2022-04-28 19:21] fkiraly commented on #2573
a more extreme variant of this would be dedicated parameter check methods, as here:
https://github.com/alan-turing-institute/sktime/issues/1798
though that might be overkill.

[2022-04-28 19:34] miraep8 commented on #2573
Out of curiosity - are dynamic tags a relative new thing (ie essentially only used in `MultiplexForecaster`?) or is it a more wide spread thing.  (I am more familiar with `MultiplexForecaster` at the moment... haven't directly seen it other places, but thought I would ask!)  If it is only really seen in `MultiplexForecaster` - then as I mentioned in #2458 it is possible to not dynamically set tags

[2022-04-28 20:31] fkiraly opened #2574 "[BUG] sporadic failure, large number, on mac 3.8"
mac 3.8 failed on this run: https://github.com/alan-turing-institute/sktime/actions/runs/2240566352
with [Uploading failures-FitInTransform.txt…](this attached error log) - really strange

[2022-04-28 20:32] fkiraly commented on #2573
It is fairly wide-spread, it happens in composites. Search for `clone_tags` or `set_tag` to find more instances.

[2022-04-28 20:37] ltsaprounis commented on #2574
Had something similar today in #2557, looks like a parallel processing worker dying, here is a link to the logs:
https://github.com/alan-turing-institute/sktime/runs/6207028528?check_suite_focus=true#step:7:40198

Re-run worked fine in my case.

[2022-04-29 10:56] fkiraly opened #2576 "[ENH] data loaders for single file types should not require file ending specified"
data loaders such as `load_from_tsfile` should not requires specification of the file ending, since there is only one file ending the function accepts.

for instance, it would be good if load_from_ts assumed the file extension .ts if none was given, so that these two worked equivalently

[code]

[2022-04-29 15:05] fkiraly commented on #2564
yes, but due to the `prophet` limitation, it violates the `sktime` interface contract that strongly implies it should work with any index. A simple workaround would be: if you see an integer index, put in some dummy dates, make the forecast, remove the dummy dates. In such a case, of course, holiday dummies and the like will not make sense and the user should be forewarned by the docstring.

[2022-04-29 16:06] #2556 closed

[2022-04-29 16:31] fkiraly opened #2578 "[ENH] improvements to changelog generator"
@lmmentel, THANK YOU for your excellent changelog generator script!

Collecting some improvement suggestions:

* in PR names, single-quotes should be converted to double-quotes, since the rst code environment has double-quotes, and the markdown code environment has single-qupte

[2022-04-29 16:31] fkiraly commented on #2574
but why does it cause all these weird failures? Looks like side effects across tests, which makes me worried

[2022-04-30 10:33] fkiraly opened #2584 "[BUG] matplotlib/qtcore failure on CI/CD"
Since Apr 29 evening, we have a CI failure on all windows CI, erroring out with

[code]

[2022-04-30 11:07] TonyBagnall opened #2586 "[BUG] windows install failure under current doc workflow due to scipy dll problem"
**Describe the bug**
Windows CI is currently failing, see for example

https://github.com/alan-turing-institute/sktime/pull/2491

**To Reproduce**
my workflow on windows for a new install has been this

conda create -n sktime python=3.8
conda activate sktime
conda install -c conda-forge pystan
conda install -c conda-forge prophet
conda install -c conda-forge scipy
pip install -e .[all_extras,dev]

[2022-04-30 20:53] aiwalter opened #2590 "[ENH] MSTLForecaster using statsmodels"
**Is your feature request related to a problem? Please describe.**
We have `STLForecaster` which is nice in case you have only one seasonality. In case the data has more than one seasonality, we can use MSTL decomposition to extract multiple seasonalities.

**Describe the solution you'd like**
We can implement a `MSTLForecaster` using this: https://www.statsmodels.org/dev/examples/notebooks/genera

[2022-05-01 11:09] fkiraly commented on #2573
@aiwalter, you commented on a couple PR on content of the `__init__` - do you want to add something here?
This is precisely the topic...

[2022-05-01 11:40] fkiraly opened #2591 "[ENH] in-sample forecasts for recursive reducers"
The reducers in the `forecasting.compose._reduce` module currently do not support in-sample forecasts.

For the direct forecasters, this should be easy to implement - use lagged features (and backfill at the start) and then apply the fitted regressor.

[2022-05-01 12:05] fkiraly commented on #1227
@lmmentel, there seems to be a maintained version of catch-22?
https://github.com/chlubba/catch22/
last release 2021, but seems relatively stable

[2022-05-01 12:08] fkiraly commented on #2254
@benfulcher has pointed me to this installable version of catch22:
https://github.com/chlubba/catch22/
I suggested a discussion on the topic of the "final form" of catch22, and possibly on running some benchmarking experiments, say, against tsfresh and the like.

[2022-05-01 15:07] chrisholder opened #2594 "[BUG] DrCif notebook timeout"
**Describe the bug**

**To Reproduce**

During the notebook tests in the github actions occasionally DrCif times out in execution and you get the following error:
![Screenshot 2022-05-01 at 17 05 50](https://user-images.githubusercontent.com/4674372/166151999-d65a83ed-564b-4de9-9d5a-b6177037785f.png)

**Expected behavior**

Reducing the time it takes to run would fix this.

**Additional context**

[2022-05-01 15:09] chrisholder commented on #2594
If the screenshot is blurry for you click on it and open in new tab, you should be able to see it then.

[2022-05-01 15:13] #1228 closed

[2022-05-01 15:14] #1979 closed

[2022-05-01 15:15] chrisholder commented on #1979
This has been refactored and is in main now

[2022-05-01 15:15] chrisholder commented on #1228
Kmedoids has now been completely overhauled with our new distances and bugs like this should no longer exist

[2022-05-01 15:17] chrisholder commented on #1988
Clustering now appears in docs but distances is still missing

[2022-05-01 17:15] ngupta23 opened #2598 "[BUG] Cross validation does not work with discontinuous FH when exogenous variables are present"
**Describe the bug**
Cross validation works with discontinuous forecast horizon when exogenous variables are **not** present, but does not work when exogenous variables are present.

**To Reproduce**

Full code can be found in this [github gist](https://gist.github.com/ngupta23/030185cb86e990e9037ff72cde5490cb).

[code]

[code]

**Expected behavior**

Cross-Validation should work for discontinuous

[2022-05-01 18:50] #2594 closed

[2022-05-01 19:12] lmmentel commented on #1227
It seems we have different definitions of _active_. Nevertheless I thought this issue is about conda packages. I couldn't find a conda package for catch22.

[2022-05-01 19:32] lmmentel commented on #2573
Since it is not the first time the *same* question regarding design surfaces we need a clearer design direction on this. As much as am I'm not happy with all the design choices of sklearn api it is at least very clear on what it takes to compatible an why. Not to mention test of the years. We should take this opportunity to define the api design principles for sktime and wither follow sklearn full

[2022-05-01 19:40] lmmentel commented on #2586
There was a recently fixed issue #2561 that should've fixed that by changing the channel to install `scipy` from. There is definitely thing we can improve in when it comes to installation on windows since we are essentially using two packages managers simultaneously - conda and pip and in my option will be problematic to maintain.

Hopefully once `prophet` release wheels on pypi we'll be able to s

[2022-05-01 19:42] lmmentel commented on #2578
Could you give an example where the quotes should be added?

[2022-05-01 19:58] ngupta23 commented on #2598
Here is the code to just reproduce the problem (without any additional fix)

[code]

[2022-05-01 20:00] fkiraly commented on #2573
I think that´s not possible since we are a package for time series and sklearn is not. So there is some degree we need to depart from sklearn. "adopting sklearn fully" has a nice ring to it but what is there to "adopt"? The supervised regression interface, e.g., do you want to turn the forecasters into sklearn compatible supervised regressors? Probably not. So, would appreciate this spelled out mo

[2022-05-01 20:02] fkiraly commented on #2578
it's hard to give an examples directly since quotes are reserved symbols within markdown.

So here is an indirect example: suppose this PR ends up in a change log:
https://github.com/alan-turing-institute/sktime/pull/2597
then we need to change the quotes in its title to double-quotes.

[2022-05-02 10:40] fkiraly commented on #1227
ah, you are right! no conda...

[2022-05-02 13:15] Ris-Bali commented on #2568
I'll work on this .

[2022-05-02 20:09] Ris-Bali commented on #2568
I have a question ; I cannot replace the random.seed() with check_random_state(self.random_state) as the function is not inside the class so I tried to apply check_random_state on the seed and got the following error.
![image](https://user-images.githubusercontent.com/81592570/166318128-90e2dbaa-a1d2-44ae-8bf8-2539d892bf68.png)

[2022-05-03 03:02] ZiyaoWei commented on #2507
If no one objects I am interested in working on it to get my feet wet. Seems like a great first issue!

[2022-05-03 05:36] Ris-Bali commented on #2568
Okay so I went through the Numba docs according to them Numba doesn't allow you to create an individual randomstate instance .

[2022-05-03 10:34] ltsaprounis commented on #2568
Ah! sorry about that. Makes sense now why the code was written like that. Can you paste the link from the docs here?

[2022-05-03 11:14] Ris-Bali commented on #2568
![image](https://user-images.githubusercontent.com/81592570/166443474-678ca2aa-59f5-433c-b17e-48cfa58c6403.png)

Here's the link to the docs
https://numba.pydata.org/numba-doc/dev/reference/numpysupported.html#modules

[2022-05-03 11:17] ltsaprounis commented on #2568
OK - so if I understand this correctly "but with an independent internal state: seeding or drawing numbers from one generator won’t affect the other" we're ok with using the seed like that inside numba functions. Great job figuring this one out @Ris-Bali. Closing this!

[2022-05-03 11:17] #2568 closed

[2022-05-03 11:46] fkiraly commented on #2507
Great! Have fun!
Here's the developer guide on adding a new estimator:
https://www.sktime.org/en/stable/developer_guide/add_estimators.html
In this case, we are dealing with a time series classifier, so it should inherit from `BaseClassifier`.

[2022-05-03 11:49] fkiraly opened #2602 "[DOC] "extension template" section of "implementing estimators" guide should directly point to `extension_templates` folder"
The developer guide on implementing new estimators
https://www.sktime.net/en/stable/developer_guide/add_estimators.html
explains extension templates and how to use them, but does not directly point to the `extension_templates` folder in the same subsection.

There should be a pointer and perhaps even a link to the folder, possibly repeating the signposting in the previous section ("what is my esti

[2022-05-04 10:58] indinewton commented on #2590
Hi Martin,

**First of all:**
This is a really nice issue. I would love to see it getting implemented in SKTIME, because as per the paper this will allow SKTIME usability also in Daily, Weekly data where there are multiple frequencies. Because of the whole issue around installation of Prophet, MSTL adds a competitive alternative for people who want an easy-to-install and easy-to-deploy alternative

[2022-05-04 11:13] aiwalter commented on #2590
@indinewton oh I didnt know that its that new and not even on PyPI :) Cool, yes I agree then we can just keep the current `STLForecaster` class and enhance it to use `MSTL` under the hood and also to accept `sp: List[int]` param.

[2022-05-04 11:24] serhan-gul commented on #1011
@lielleravid You might want to check the implementation in [FilterPy](https://filterpy.readthedocs.io/en/latest/). It is typical that the noice matrices Q and R are specified by the user since they depend on the considered system.

[2022-05-04 15:12] tarpas commented on #2530
To modify and reiterate  my suggestion.
* sktime would test editable (git) source in CI (no --pyargs)
* `--tmnet-noselect` would be used so that no data is skipped, just ordered with the most likely to fail executing first
* data would be collected, to understand if testmon would skip any failures
* later if everything looks good, `--tmnet-noselect --maxfail=1` can be used to save time of executio

[2022-05-04 19:56] miraep8 opened #2603 "[ENH] General Delegator Design Discussion"
### Overview:

This issue is intended to be a spot for a design discussion for how to implement a new more general delegation functionality per a suggestion from @fkiraly .

Many of the composite classes related to multiple estimator testing/comparison - e.g. `MultiplexForecaster` and the related `BaseGridSearch` classes essentially behave *like* a wrapper where most of their forecasting functiona

[2022-05-04 21:04] fkiraly commented on #2603
Trying to summarize my comments, after reading the above and looking at #2570 ("new solution" above).

1. I think #2570 is quite well done from an implementation perspective! And it runs, nice!!
2. My main issue with #2570 is that it is "breaking" patterns central to the sktime design. I will explain below, next post.
3. I see the same issue with the third, hybrid solution (although there is less

[2022-05-04 21:20] fkiraly commented on #2603
So, what do I mean with "pattern breakage".

The `sktime` design relies mainly on a combination of two oop patterns:

* the "strategy" pattern - all estimators of the same type (e.g., forecasters) have indistinguishable behaviour with respect to their public interface elements. Subtlety: this is refined by tags which can indicate additional behaviour that is available, but the "set of behaviours"

[2022-05-04 21:25] fkiraly commented on #2603
That is a solution to a more general problem, in fact, see here: https://github.com/alan-turing-institute/sktime/issues/2573
The delegator is impacted insofar it is a composite with properties that depend on components, which is the more general case that is problematic.

[2022-05-04 21:31] fkiraly commented on #2603
I think we have now analyzed sufficiently deep to identify a point where we disagree 😄

[2022-05-04 22:23] fkiraly commented on #2590
@indinewton, it is actually already possible to deal with multiple seasonalities, by pipeline composition. Simply pipeline multiple deseasonalizers, at multiple frequencies, like this:

[code]

Of course mileage may vary, and this is a sequential model, as opposed to one like MSTL where you are doing a joint fit.
However, this is simple and may already get you where you want. More "fancy" multi-se

[2022-05-04 22:33] fkiraly commented on #1011
Yes, @lielleravid and @NoaBenAmi are both working on this currently, and looking at `filterpy` and `pykalman` to interface. One of the two (I forgot which) has more capability to estimate the various matrices.

[2022-05-04 22:36] fkiraly commented on #2117
@eenticott-shell, it looks like the wrong recursive reducer is used.

There is one for *time series regressors* which I think produces 3D data to pass to an `sktime` time series regressor, the `RecursiveTimeSeriesRegressionForecaster`. But, in this case, I think the `RecursiveTabularRegressionForecaster` should be used, which produces 2D data to pass to a `sklearn` compatible regressor.

At some p

[2022-05-04 23:35] indinewton commented on #2590
@fkiraly actually the objective is not just to deseasonalise only, but rather to deseasonalise and forecast all the components at the same time. Piping transformers in sequence allows only one forecaster to be used at the end (as per the current pipeline classes in Forecasting module). If you want to forecast trend, season and residuals and then add them together to get forecast at raw non-decompo

[2022-05-04 23:37] indinewton commented on #2590
But again there is no rush, first statsmodels have to release it themselves. Currently it is in dev version.

[2022-05-05 01:36] chooron opened #6601 "[ENH] vmdpy - VMD for irregular time series"
I am currently studying the prediction of irregular time series and hope to improve the prediction accuracy of irregular time series by using decomposition algorithm. However, I find that vmdpy does not seem to be able to deal with the decomposition of irregular time series, which is different from EMD method. Here, the irregular time series is means that the time point is uneven.
`irregular time

[2022-05-05 07:39] fkiraly commented on #2590
@indinewton, apologies if I have created a misunderstanding. I'm not arguing against interfacing MSTL! I think that's a good idea!

All I was saying that you can already model multiple seasonalities in sktime by pipelining deseasonalizers. That gives you a different kind of multi-seasonality model, and you can use it with all sktime forecasters, while MSTL is only one specific kind of model with m

[2022-05-05 07:54] indinewton commented on #2590
Oh, now I get what you meant earlier. Yeah you are right. Previous to STLForecaster, I had something similar locally.

[2022-05-05 09:51] indinewton opened #2604 "[BUG] UnobservedComponents throws error during predict() call, when wrapped under TransformedTargetForecaster and ForecastingPipeline"
**Describe the bug**

_New version of sktime throws error for UnobservedComponents when wrapped under ForecastingGridSearchCV with TransformedTargetForecaster pipe._

From sktime v.0.11.1 onwards untill the current version of main, UnobservedComponents throws error during Predict method call when it is piped under TransformedTargetForecaster().
_The same construct works with all the other models w

[2022-05-05 11:01] aiwalter commented on #2604
following minimal solution works on `main` WITHOUT `TransformedTargetForecaster`:

[code]

Following minimal solution works not on `main` WITH `TransformedTargetForecaster`:
[code]

[2022-05-05 11:03] indinewton commented on #2604
thanks @aiwalter for enhancement of bug description

[2022-05-05 11:36] indinewton commented on #2604
@aiwalter
This works completely
[code]

Whereas this one only works until fit. So predict method is throwing error (which is pasted just below the code example)
[code]
error report:
[code]

[2022-05-05 11:50] aiwalter commented on #2604
same error with `ForecastingPipeline`

[2022-05-05 18:40] fkiraly commented on #2604
I improved the error message on `mtype` in this PR (would appreciate a review and potential approval) https://github.com/alan-turing-institute/sktime/pull/2606
with the purpose to understand why the check is failing, inside the pipeline.

[2022-05-05 18:44] fkiraly commented on #2604
so, two questions:

* where is the `pd.Index` created?
* why do the tests not catch this, they should catch output of non-conformant data types?

[2022-05-05 19:06] fkiraly commented on #2604
it's an empty `pd.DataFrame` when it reaches the `convert_to` the second time

[2022-05-05 19:13] indinewton commented on #2604
Could it be that the UnobservedComponents predict output creates this index type when it returns the output?? Meaning modifying the _predict method of UnobservedComponents may be required additionally in Sktime side instead of simply calling it from statsmodel adaptors? I also noticed that UC also renames the predict output unlike other forecasters. It renames the output to "preds".

[2022-05-05 19:29] indinewton commented on #2604
Actually the renaming of pred output by this UC models makes it also incompatible with ColumnwiseTransformer (CwT), which applies transformations and their inverse_transformations by the names of columns of in Y dataframe. So Y_train with name "Number of Air Passengers" is passed after predict as pd.Series(name="mean_preds") to inverse_transform method of CwT, which then throws error as "mean_pred

[2022-05-05 20:24] fkiraly commented on #2604
The problem is an *empty dataframe*, not a wrong index type. Empty dataframes have the `pd.Index` type, apparently, which is why the check says that.

Suspicion: the problem is probably caused by the name that `UnobservedComponents` gives the series before it returns it.
This makes it break with a `pd.DataFrame` input:

[code]

[2022-05-05 20:32] fkiraly commented on #2604
found the problem!

Combination of two issues:

* unintuitive behaviour of `pd.DataFrame` constructor. When called as `pd.DataFrame(my_series, columns=["col_name"])`, this will produce an *empty data frame* if `my_series` has a name, otherwise a `pd.DataFrame` with column name `"col_name"`
* `UnobserveComponents._predict` produces a non-conformant `pd.Series` as a return, in that it has a name (`p