[2021-12-28 22:13] MatthewMiddlehurst commented on #1791
Shapelets require multiple series and class labels. I'm not really sure about the long format or do I know anyone else who is, but the easiest format is probably a 3d numpy array of shape (n_series, n_dimensions, series_length) if your series are equal length. Since your series is univariate, n_dimensions would just be 1. The labels can just be a 1d numpy array.

[2021-12-28 22:20] sral85 commented on #541
@fkiraly: I would like to hear your comments on the following proposal:

The current definition of the function plot_series looks like this:
`
def plot_series(
    *series, labels=None, markers=None, x_label=None, y_label=None, ax=None)
`

As already mentioned in the first comment: I would add support for the plotting of quantiles / confidence intervals by including additional arguments:

- `quant

[2021-12-28 22:25] lmmentel commented on #1803
Thanks for the input @MatthewMiddlehurst.

The thing that I can say for sure is that there was a dependency conflict since tsfresh has `statsmodels>=0.13` however sktime has essentially `statsmodels==0.12.1` which is a conflict that pip is apparently happy to ignore. Once I bumped `statsmodels>=0.13` the fresh related tests failed. I haven't investigated further at this point.

That is possible al

[2021-12-28 22:58] MatthewMiddlehurst commented on #1803
I can try taking a look at some point if necessary. This seems like an issue with the transformer having different results to previous versions I would guess, though.

Given TSFresh requires `statsmodels>=0.13` maybe the new ones are the correct values? I would normally say that the tests are passing doesn't mean it is working correctly, but in this case I would just trust TSFresh developers and u

[2021-12-28 23:55] lmmentel commented on #1803
Thanks for the offer to look into this. This is currently blocking #1620 which I was planning to get done within the next week, provided that I won't find any more surprises on the way. Let me know if you would be able to have look within that timeline otherwise I can fix this as mentioned above.

[2021-12-29 11:45] aron-alarik commented on #1791
thanks ! let me try with this configuration

[2021-12-29 15:58] fkiraly commented on #1803
😭 let's maybe finish #1620 quickly and be cautious adding more estimators.
There's clearly some issues not being picked up by our current testing framework.

@lmmentel, I'd suggest, just escape all the failing tests for now, and let's investigate them one-by-one post-#1620.

@MatthewMiddlehurst, regarding the tests, I'm also generally critical of tests that ask methods to arrive at specific predic

[2021-12-29 21:30] fkiraly commented on #541
@sral85, thanks, makes a lot of sense!

Minor points:
* the output of `predict_interval` is a special case of the output of `predict_quantiles`, so I'd recommend you only include one pair of arguments, because you could always pass the `predict_interval` output as a `predict_quantiles` output.
* could you be more specific on how you would like to plot the quantiles? E.g., will they be always the s

[2021-12-30 21:51] baggiponte commented on #1631
Another notice: folks at darts use [these requirements](https://github.com/unit8co/darts/blob/master/requirements/prophet.txt) for prophet:

[code]

Will try them as soon as I can, in theory they should work - as I noted above:

Guess I will use these when I prepare the PR.

(A side mention: why is `pandas` frozen at 1.15?)

[2021-12-31 13:26] baggiponte commented on #1787
Hi, back on the `pandas` issue.

* Does this mean we cannot relax the requirement to `pandas>=1.1.5`?
* When you install packages with `pip install -r requirements.txt` it goes in the order they appear: if we specified `pandas` before other packages, could we relax the constraints?

[2021-12-31 13:37] lmmentel opened #1812 "[BUG] running `examples/03_classification_multivariate.ipynb` fails in CI"
**Describe the bug**

Some recent changes made are triggering this notebook failue in CI. Discovered in #1620 after rebasing on the latest master.

[code]

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-12-31 13:57] fkiraly commented on #717
@pedropalb, apologies, I did not spot your message in a closed issue.

Generally, you don't need to have the time series being of same length, but some estimators may enforce that.

What you describe is a known problem, @pedropalb, so we've decided to get rid of `make_row_transformer` and have transformers cast/apply automatically per series if a `Panel` object like a nested dataframe is passed.

[2021-12-31 14:14] baggiponte commented on #1794
So what's the final verdict for the `numpy` version? Can it be a loosened constraint like `>=1.19`?

[2021-12-31 19:18] fkiraly opened #1817 "[ENH] change function names in `datatypes` `check` to `lower_snake_case`"
Names of private functions in `datatypes` `check` modules should be changed to `lower_snake_case`.

Private means: it's used only internally in `datatypes` and is not imported anywhere else.
For public functions, we will have to go through deprecation. I don't think there are any, but don't know for sure - may be also worth collecting non-compliant ones here.

[2021-12-31 19:19] fkiraly commented on #1817
FYI @chrisholder, added this issue to address the requests of yours in PRs that are not related to newly added functions.

[2022-01-01 15:35] fkiraly commented on #1797
Thanks! Looks like all good?

[2022-01-01 15:35] #1797 closed

[2022-01-02 02:45] dhirschfeld commented on #1797
Yep, sorry - forgot to actually hit merge!

[2022-01-02 11:25] fkiraly commented on #1797
@dhirschfeld, thanks a lot again! Are you on our slack? Might make sense to catch up there next time to coordinate the `pypi` and `conda-forge` releases.

[2022-01-02 11:27] fkiraly commented on #1662
no, not really, @lmmentel!

Because this is still a bug! We're just silencing it temporarily, until someone fixes it...

[2022-01-02 11:59] lmmentel commented on #1662
OK, than I guess the title and description should be updated to reflect the actual issue and how to reproduce.

[2022-01-02 13:00] fkiraly commented on #1812
fixed by https://github.com/alan-turing-institute/sktime/pull/1813

[2022-01-02 13:00] #1812 closed

[2022-01-02 13:05] fkiraly commented on #1787
@baggiponte, I thought once we drop python 3.6 support, all should be fine?

[2022-01-02 21:45] fkiraly commented on #1662
sure - updated the text of the bug description. I think the title is still accurate?

[2022-01-03 02:17] fkiraly commented on #1788
@raphaccf, thanks for reporting.
It sounds like this might be an issue specific to the AutoARIMA interface, will investigate.
Perchance, have you observed this in other estimators?

[2022-01-03 12:33] raphaccf commented on #1788
Thanks for your response. Actually, I also tested with auto.ets, and I identified  the same behavior.

[2022-01-03 13:23] fkiraly commented on #1788
Hm, yes, I'm able to reproduce this on my local system (3.8, win, main).
Any comments that help tracking down the issue are appreciated.

My first suspicion was that the model's `cutoff` is not updated correctly, hence the `fh` will be relative to the wrong `cutoff`, from `fit` rather than `update`. But that's not true, the `cutoff` seems to be updated correctly (by the base class).
So it does not

[2022-01-03 13:26] fkiraly commented on #1788
@raphaccf, I'll look into this, since it seems like an important use case.

If you have time, would you be able to help with a list of the estimators where you think this is a problem?
You can loop over all forecasters by using `registry.all_estimators(estimator_types="forecaster")`.
I'll check AutoARIMA and AutoETS first.

[2022-01-03 13:29] fkiraly commented on #1788
Just for information, if anyone else is looking at this:
the bug is a discrepancy between conceptual scientific behaviour and actual behaviour.
Running `update(update_params=False)` over 6 time periods and then asking for a forecast 1 period ahead (with the model fitted before the update) should in generael not be identical with a forecast for the 1st period of the updated time period, from the da

[2022-01-03 13:30] fkiraly commented on #1788
Another question is how, if at all, one would test this. The forecaster is interface compliant, it just doesn't output what one would expect of the specified behaviour if an ARIMA model were used.

[2022-01-03 13:59] fkiraly commented on #1788
Yes, I think that's exactly what is happening. `pmdarima` assumes an internal cutoff which is always the last data point seen. The internals are using the `sktime` forecaster's cutoff (which has been updated) instead of the `pmdarima` cutoff, which leads to this behaviour in the one case where a discrepancy can arise (the `update(update_params=False)` case).

[2022-01-03 19:36] fkiraly commented on #1788
@raphaccf, I've looked into this now. It seems there are two things happening:

* cutoff handling in `sktime`'s interface to `pmdarima` - due to that, the `pmdarima` is asked to predict with a cutoff, as if `update(update_params=False)` never happened
* `pmdarima`, and `statsmodels` on which it is based, does not seem to be able to make forecasts with fixed model parameters on data different from

[2022-01-04 05:19] sameermahajan commented on #1555
In my case, I don't have control over when the data arrives and I want to model time as closely as when it arrives exactly. Also, my data works perfectly with another open-source namely Fbprophet and gives me hourly predictions which looked reasonable. Not sure whether it does hourly aggregation as you are suggesting under the cover...

[2022-01-04 06:58] asmita-mukherjee commented on #1817
Hey Team,
Can I take up this issue?

[2022-01-04 10:49] fkiraly commented on #1817
Sure! The main challenge might be checking whether any functions are used outside the package and may need proper deprecation. Names of private functions can be changed without deprecation.

[2022-01-04 13:50] curtisraymond opened #1824 "[BUG] `ValueError` when using `TSFreshRelevantFeatureExtractor` related to `impute_function` argument in a case where no imputation is needed or intended"
**Describe the bug**

It appears as though the **impute_function** parameter within the **TSFreshRelevantFeatureExtractor** function isn't working as it should be. My custom **impute_dataframe_zero** function for the **impute_function** parameter  should be converting all the NAN values to 0.

![1](https://user-images.githubusercontent.com/57142499/148068121-ace40e35-b57b-4f61-9f03-3ff3d9acd1e2.pn

[2022-01-04 14:18] Moooser opened #1825 "[BUG] unspecified bug with `KNeighborsTimeSeriesClassifier` in 0.8.0"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
0.8.0

</details>

[2022-01-04 16:44] Sinnaeve opened #1826 "[BUG] Catch22 on multivariate time series extracts 22 features in total instead of 22 features per variable/column"
**Describe the bug**

I tried to use Catch22 to extract features of multivariate time series.
I followed the example from main/examples/catch22.ipynb
Using the multivariate data from this example I have an input of 40 instannces each with 6 series of 100 data points. (40x6x100)
I would expect 22 features per univariate series so an output of 40 instances each with 6 sets of 22 features (40x6x22),

[2022-01-04 17:19] fkiraly commented on #1824
Thanks, can you kindly provide some code that we can run to reproduce this?

On a superficial glance, it seems like this is an issue with `tsfresh` that is interfaced here, and not with the `sktime` interface?

To "safely" impute, I'd suggest you use a pipeline where you *first* run the `sktime` imputer, `sktime.transformations.series.Imputer`, then the `tsfresh` extractor.

[2022-01-04 17:21] fkiraly commented on #1826
Yes, indeed this is an issue.

Related discussion here:
https://github.com/alan-turing-institute/sktime/issues/1719
https://github.com/alan-turing-institute/sktime/pull/1663 (on summary transformer)

[2022-01-04 17:22] fkiraly commented on #1826
@Sinnaeve, do you have a preference on which proposed format from #1719 should be used? Or another format?

[2022-01-04 17:23] fkiraly commented on #1826
Yes, that is also what I would expect, although *how* we concatenate is one of the open points here.

[2022-01-04 17:24] fkiraly commented on #1825
@Moooser, you are using 0.8.0 which is an older version.
Would you kindly be able to:
* check using 0.9.0
* provide the error message or unexpected behaviour
* provide expected behaviour
?

[2022-01-05 09:19] fkiraly-shell commented on #1555
@niekvanderlaan, can you confirm your diagnosis in more detail, please? E.g., what is the precise condition for which error/behaviour to occur?

[2022-01-05 16:10] curtisraymond commented on #1824
It's first worth mentioning that my data set (before running it through the pipeline) does not contain any missing values. Anyway, I tried your suggestion of adding the `sktime` imputer before the `TSFreshRelevantFeatureExtractor` function but I'm still running into the same `ValueError: Column must not contain NaN values: value` error.

From my understanding the `TSFreshRelevantFeatureExtractor`

[2022-01-05 16:58] fkiraly commented on #1824
Wait, it doesn't? Then I don't fully understand what's going on.

Can you then, kindly, post a minimal example of code that we can run to verify this?

Pinging @Ayushmaanseth, @mloning, @alwinw who are listed as authors on the `TSFreshRelevantFeatureExtractor`.

[2022-01-05 18:14] curtisraymond commented on #1824
Here is my script and also my data sets:
[sample.zip](https://github.com/alan-turing-institute/sktime/files/7816907/sample.zip)

The script is not really "minimal" but I specifically receive the error within the 3rd iteration of the last cell's "for loop".

[2022-01-05 18:32] #1105 closed

[2022-01-05 18:37] fkiraly commented on #1824
Would you kindly mind providing us with a single cell of code, using markdown code block? Without imports or notebook.
So we can copy-paste and run (I expect multiple people will have to look at this, so let's make it as easy as possible). Gist also works.

[2022-01-05 19:46] raphaccf commented on #1788
Franz, thank you so much for all the energy you put into this investigation. I understand the aspects you mentioned, and I will follow your suggestion and ask them. Thanks again.

[2022-01-05 20:00] fkiraly commented on #1788
well, there is still an `sktime` aspect to this, namely, intended behaviour on `update_params=False` - it's not *just* a `statsmodels issue (see above, "two things happening"). I'll put the `sktime` specific one on the todo list, hence I'm reopening the issue.

Depending on the answer in `statsmodels`, there may also be actions arising (a bugfix, or a "suggested enhancement")

[2022-01-05 20:03] fkiraly commented on #1824
(sorry to ask for this ... if you look at the bugfixing board https://github.com/alan-turing-institute/sktime/projects/18#card-75567601 there's a lot on our plate. Taking 30 min, multiplied by number of people investigating, off this bug report really makes a difference here. It is much appreciated if you can help cut it down so we can start working on it more easily)

[2022-01-05 20:04] fkiraly commented on #1736
hm, looks like they started working again, so case closed.

[2022-01-05 20:04] #1736 closed

[2022-01-05 20:50] fkiraly opened #1832 "[DOC] reference to `pip install -e .[all_extras]` in installation instructions"
The developer instructions should  make explicit reference to the command `pip install -e .[all_extras]`, for the option "with all extras" of the devlopment version install (similar to the stable version).

The file to edit is `docs/source/installation`.

[2022-01-05 21:03] ngupta23 opened #1835 "[BUG] `ignores-exogeneous` tag incorrectly set in a few forecasters"
Update - estimators where the `ignores-exogeneous` tag needs to be fixed:

- [x] ARIMA family, may have to be set to `False` (see below)
- [x] `TrendForecaster`, should be set to `True

---
**Describe the bug**
Tag `ignores-exogeneous-X` for some models may not be set correctly, e.g. for ARIMA model (seems to support exogenous variables in `sktime`), but tag indicates otherwise.

**To Reproduce**

[2022-01-05 21:27] fkiraly commented on #1835
All forecasters allow to pass `X`, but not all will *use* it internally. Those that do, should have the `ignores-exogeneous-X` tag set to `False`. So searching for the ones with `False` (using `registry.all_estimators` should retrieve those you want.

If ARIMA has the tag wrong, that's a bug - would appreciate a PR then. For ARIMA, this may have to be set in `_PmdArimaAdapter` or the children, dep

[2022-01-05 21:28] lmmentel commented on #1832
I made some updates to the instructions in https://github.com/alan-turing-institute/sktime/pull/1620/files#diff-e285c1b9901cd202e89d9f37e3249a6fee524a65428895e1a45fd062cc0f9aca

[2022-01-05 21:28] fkiraly commented on #1832
ah, thanks!

So we just need to merge it once the deed is done?

[2022-01-05 21:30] lmmentel commented on #1832
Should be, but it should pass the review first.

[2022-01-05 22:10] fkiraly opened #1837 "[DOC] update core developers"
The core developer list `docs/source/about/team` should be updated:

* Ryan Kuhns @RNKuhns has left and is inactive
* Patrick Schäfer @patrickzib has joined core developers

Core developers should also be ordered alphabetically by first name, then last name.

[2022-01-05 22:12] ngupta23 commented on #1835
Thank. I will look into this. There seems to be another issue:

For `TrendForecaster`, the tag is set to `False` but for `PolyTrendForecaster`, it is set to `True`. So for `TrendForecaster`, when I pass X variables during training (univariate **with** exogenous), the predictions after training are no different than case where X is not passed (univariate **without** exogenous). Is this expected or

[2022-01-05 22:31] fkiraly commented on #1835
Yes, the `TrendForecaster` is also an erroneous instance of the tag being incorrectly set, thanks for going through this!

One can see this by looking at `fit` and `predict`, where `X` is immediately overwritten by something based entirely on `y`. I assume whoever set the tags saw the code and thought `X` was used since it was passed to an internal `predict`, but that `X` is based on `y` only.

[2022-01-05 22:33] fkiraly commented on #1835
I added some checkboxes at the top to collect the instances.

[2022-01-06 09:52] #1778 closed

[2022-01-06 11:17] #1718 closed

[2022-01-06 11:19] #1537 closed

[2022-01-06 11:19] #906 closed

[2022-01-06 11:20] #936 closed

[2022-01-06 11:26] sumit-158 commented on #1837
Can I work on this?

[2022-01-06 11:39] fkiraly commented on #1735
can you kindly be a bit more explicit what closed this?

[2022-01-06 11:40] fkiraly commented on #1120
Can you kindly be more explicit about the reason for closing? Is this implemented? Or no longer relevant?

[2022-01-06 11:44] patrickzib commented on #1837
Sure :) And thank you!

[2022-01-06 11:47] #1120 closed

[2022-01-06 11:51] patrickzib commented on #1654
@ivaquero Did you succeed in building it on ARM64? I did try to build it from source using miniconda for ARM64 with python 3.8, but it failed. Can't recall the exact errors. I did not proceed there and went back to python for intel and using rosetta2.

[2022-01-06 12:59] fkiraly commented on #1654
Once this https://github.com/alan-turing-institute/sktime/pull/1620 and the C removal are through (SOON!), you may like to try again. As @lmmentel says, the latter may increase support among not officially supported ones.

[2022-01-06 13:08] raphaccf commented on #1788
Sorry Franz, I'm new to github discusssions, but you mean: open my issues respectavily int statsmodels and pmdarima github's Issues, than get a link from it and post it here?

[2022-01-06 13:11] ivaquero commented on #1654
No, but like @fkiraly puts, I will try after next minor version.

[2022-01-06 13:32] fkiraly opened #1843 "[ENH] rename `fit-in-predict` and `fit-in-transform` to `fit-is-empty`"
I think we should rename `fit-in-predict` and `fit-in-transform` to `fit-is-empty`.

This has two advantages:
* one tag instead of multiple; no future need to introduce new tags for other estimators such as aligners where there is no `predict` or `transform`, or annotators
* the `fit-is-empty` tag is much clearer and unambiguous in my opinion. Because, what does `fit-in-predict` mean? It could mea

[2022-01-06 13:32] fkiraly commented on #1843
Any opinions, @aiwalter, @GuzalBulatova, @TonyBagnall?

[2022-01-06 13:36] patrickzib commented on #1654
@ivaquero thank you! just curious about your setup: in the mean time :
(a) you are not installing sktime to stick with python on arm or
(b) you are using python on intel with rosetta and sktime?
(c) or did you manage to have both python versions for arm and intel installed?

[2022-01-06 13:37] fkiraly commented on #1788
Yes, exactly, so this issue links to the other issue(s) on the relevant topic, in the right package(s).
I was implicitly referring to this statement of yours

which made me think you had already opened issues or were planning to.

I can also open the issues if you'd prefer me to do this, btw.

[2022-01-06 13:45] raphaccf commented on #1788
I haven't opened them yet. I will feel more comfortable (avoid any mistakes in the process) if you do it, sorry.

[2022-01-06 14:29] ivaquero commented on #1654
I stick on Python on ARM, because all of the other packages were installed on it, especially tensorflow (I believe this could be faster, though I did not do benchmark tests.

[2022-01-06 19:18] #1837 closed

[2022-01-06 23:49] dhirschfeld commented on #1797
Hi @fkiraly :wave:
I'm not on the `sktime` slack - I'm just a `mamba` user who wanted to play around with `sktime` 😄.

The packaging of the `conda` package is *probably* best done by a core team member but I'm happy to help out as I'm able to... though my time is a bit scarce at the moment.

[2022-01-07 08:34] ishannangia001 opened #1845 "[ENH] Add option to set smoothing parameters for ExponentialSmoothing class based models"
`smoothing_level`, `smoothing_trend`, and `smoothing_seasonal` should be added as parameters to `ExponentialSmoothing` which wraps `statsmodels` exponential smoothing.

In `statsmodels`, these parameters are passed to `fit`, but in `sktime`, they should be passed to `__init__` together with the other hyper-parameters.

Adding other parameters which are arguments to `fit` in `statsmodels` to `__ini

[2022-01-07 12:25] fkiraly commented on #1797
I hope your playing has been enjoyable and productive...

ok, let's do it this way then: we look at what you did, try to generalize from that, and ask you for help if we get stuck?

[2022-01-07 12:28] fkiraly commented on #1845
Hm, could you kindly paste a reference to the parameters you mentioned?

I just looked in statsmodels, and here is the list of parameters I could find.
The list does not include `smoothing_level`, `smoothing_trend`, or `smoothing_seasonal`.

[code]

[2022-01-07 13:59] ishannangia001 commented on #1845
They have been mentioned in their tutorial notebook: https://github.com/statsmodels/statsmodels/blob/main/examples/python/exponential_smoothing.py

These three parameters are called while fitting the model and not while initialising it. The below image shows a snippet from the code in the above link.

![image](https://user-images.githubusercontent.com/96042791/148554304-640caa45-3e79-4378-a978-175

[2022-01-07 14:24] fkiraly commented on #1845
Ohhhh, it's passed to `fit` and not to the constructor! Thanks!

[2022-01-07 14:27] fkiraly commented on #1845
We overlooked these, since they were being passed to `fit`. Bit of a questionable design decision on the side of `statsmodels` to pass some parameters in the constructor, and some in `fit`...

Aaaanyway, I've marked this a good first issue, since it should be only a few lines of code to add/change.

[2022-01-07 16:43] ishannangia001 commented on #1845
Agreed. Though I would imagine that the intuition might have been to keep iteratively testing out fits with different smoothing parameters for the same type of models as that might help in deciding the final smoothing parameters through cross-validation, etc.

Great. Thanks a lot ! Will certainly do.

[2022-01-07 17:02] fkiraly commented on #1845
Sure - you can do this using a layer of tuning on top of the model, with `ForecastingGridSearchCV` from `sktime` ... as long as the ETS model exposes the parameters.

[2022-01-07 19:40] fkiraly commented on #1845
Done here now #1849 - I just went and added all parameters from `fit`.
Would be great if you could check if this is what you want (check out the PR branch and try).

Do you know what else would be great, @ishannangia001?

If you had the time to go through the various `statsmodels` interfaces and check whether we are missing any parameters. A list would already be useful; or, PRs per individual est

[2022-01-07 19:42] fkiraly opened #1850 "[ENH] `statsmodels` interfaces may be missing parameters - investigate and/or add them"
In issue #1845, an instance of a `statsmodels` interfacing estimator was discovered which was missing crucial parameters.

The reason was that in `statsmodels`, model parameteres are spread out across constructor (`__init__`), `fit`, and potentially other functions.

Due to this, it would be important to look at other `statsmodels` interfaces to check whether we are missing useful parameters from

[2022-01-07 19:42] fkiraly commented on #1845
I opened an issue here to collect and address missing `statsmodels` parameters: https://github.com/alan-turing-institute/sktime/issues/1850

[2022-01-07 19:52] fkiraly commented on #1845
Perhaps, someone should also fix the apostrophe catastrophe in `statsmodels`' docstring.

E.g., someone should go and say "apologie's, its that you're docstrings' apostrophes' misplaced"

[2022-01-07 20:49] ishannangia001 commented on #1845
Can definitely try this out. Will keep working on different statsmodel estimators as and when I get time.

[2022-01-07 21:46] #1776 closed

[2022-01-07 23:54] fkiraly commented on #1788
relevant issue already exists, was opened 11 days ago: https://github.com/statsmodels/statsmodels/issues/7981

[2022-01-07 23:55] fkiraly commented on #1788
also seems like there's a workaround for `ARIMA` at least, via the `apply` function

[2022-01-08 16:10] TonyBagnall commented on #159
after discussion at a TSC developer meeting, we decided to not implement this as an interface at this time and to stick with the current tag system

[2022-01-08 16:10] #159 closed

[2022-01-08 16:15] TonyBagnall commented on #631
hi @ppias are you still hoping to do this or should I close the issue? We would still welcome the contribution, but I am doing some housekeeping and closing issues that are no longer relevant

[2022-01-08 16:18] TonyBagnall commented on #1039
we have switched to numba, and our timing experiments show our distance functions are at least as fast (normally faster) than other implementations. I'll close this, but please do open a new issue if you still have the problem with the new distance measures

[2022-01-08 16:18] #1039 closed

[2022-01-08 16:19] TonyBagnall commented on #1114
I have rolled this into the general PF issue, so will close this
https://github.com/alan-turing-institute/sktime/issues/1715

[2022-01-08 16:19] #1114 closed

[2022-01-08 16:21] TonyBagnall commented on #1257
this test is no longer performed, so I will close this issue.

[2022-01-08 16:21] #1257 closed

[2022-01-08 16:22] fkiraly commented on #1114
#1715, right?

[2022-01-08 16:23] TonyBagnall commented on #1735
this has been fixed

[2022-01-08 16:23] #1735 closed

[2022-01-08 16:23] fkiraly commented on #1715
I've added a clarification that the ref to closed issues does not mean "resolved".

[2022-01-08 16:24] fkiraly commented on #1735
downstream, in timeseriesclassification.com, I presume?

[2022-01-08 16:29] lmmentel commented on #1803
I've updated the expected values for the tests after bumping the dependency so this can be closes after #1620. I'll add a statement to the PR description to close this automatically.

[2022-01-08 16:31] TonyBagnall commented on #1756
hi, the numba based knn has been merged into main, and the default tag is "capability:unequal_length": False, so I'll close this issue, feel free to raise a new one asking for the capability of KNN to handle unequal length series.

[2022-01-08 16:31] #1756 closed

[2022-01-08 16:46] fkiraly commented on #1447
@gepitis, did you want to post some feedback on the tutorial notebooks? We've opened this just for you! (well, and also others who may like to provide such feedback, but you triggered the issue)

[2022-01-08 16:49] lmmentel commented on #1654
FYI I managed to build wheels for arm64 macos:

- `sktime-0.9.0-cp38-cp38-macosx_11_0_arm64.whl`
- `sktime-0.9.0-cp39-cp39-macosx_11_0_arm64.whl`

If you don't have any other choice you can download the wheel [here](https://github.com/lmmentel/sktime/suites/4871241916/artifacts/139016263) however this is not an official release but vanilla `sktime` build.

In the following release we should be abl

[2022-01-08 16:52] fkiraly commented on #1146
What's with `BaseColumnEnsembleClassifier` and `ComposableTimeSeriesForestClassifier`?

[2022-01-08 17:16] freddyaboulton commented on #1797
@dhirschfeld can you make me (and maybe @lmmentel ) maintainers on the conda package?

[2022-01-08 21:27] dhirschfeld commented on #1797
Done! https://github.com/conda-forge/sktime-feedstock/issues/22

[2022-01-08 22:13] #1609 closed

[2022-01-08 22:13] #1589 closed

[2022-01-08 23:37] fkiraly opened #1856 "[ENH] refactor panel transformers that are incorrectly labelled to series transformers"
A number of transformers are in fact transformers that act independently on individual series, and have some inefficienet vectorization (using "nested data frames" inside. This inefficient vectorization shoudl be removed, and the transformers moved to the `transformations.series` module, with deprecation.

One of two things should happen:
* inefficient/loop vectorization should be replaced with ef

[2022-01-09 11:13] fkiraly opened #1857 "[DOC] Formulae in `distances` module seem incorrect"
The formulae in the `distances` module docstrings seem incorrect:

* `wdtw_distance`, `wddtw_distance`: There is reference to a weight vector `w`, but it is not an input to the formula. How is `w` computed? (or defined?)
* `ddtw_distance`: symbol `x` is unbound on LHS, but does not appear on RHS; `d_q` is referenced in "where" but does not appear at all. Further, is this meant to be the second fin

[2022-01-09 11:14] fkiraly commented on #1857
FYI @Lovkush-A due to pure math background.

[2022-01-10 05:05] nealgravindra commented on #1039
thank you so much, I really appreciate your commitment to fixing this. Cheers

[2022-01-10 05:35] Jackxiini commented on #1536
The problem still exists

[2022-01-10 10:46] OliverMatthews commented on #1536
Hey @Jackxiini

Please could you give us a bit more information so we can look into it?

Specifically:
- What version of sktime are you using?
- Please can you give us some example code snippets that you're using so we can reproduce the issue.
- What python version are you using?

[2022-01-10 17:57] #1606 closed

[2022-01-10 18:48] ngupta23 opened #1862 "[ENH] Forecasters | Add new tag for support of multiple seasonal periods."
**Describe the solution you'd like**
Would like to add a tag to the forecasters to indicate whether the forecaster can support multiple seasonal periods or not.
Default Value = `False`; set to `True` for forecasters like TBATS.

[code]

**Describe alternatives you've considered**
Managing it outside `sktime` in `pycaret`, but that does not seem like a nice solution since tags are already available

[2022-01-10 19:19] fkiraly commented on #1788
looks like it´s becoming a general interface point now: https://github.com/statsmodels/statsmodels/pull/8006
This should be an easy thing to interface, so putting this at the top.

[2022-01-10 19:22] fkiraly commented on #1788
FYI @raphaccf, I´ve updated the header of this issue, so it´s now an instruction what to do.

[2022-01-10 19:25] fkiraly commented on #1862
Hm, which forecasters would have `True` for this tag?

Currently, seasonality parameters are not a unified interface element, different forecasters will have different parameters that will indicate seasonal periods. One could, in addition, also consider making them a unified interface element (e.g., have consistent parameter names) if there are more than a small number of cases with that capabilit

[2022-01-10 19:53] ngupta23 commented on #1862
Hi @fkiraly TBATS will support multiple seasonal periods.

[2022-01-10 19:58] fkiraly commented on #1862
Yes, I know that TBATS supports this - but a tag is of limited usefulness if there is only one single example, no?

[2022-01-11 01:16] #1845 closed

[2022-01-11 20:40] fkiraly opened #1866 "[BUG] Four classifiers failing `fit` when not enough time points (10)"
Multiple time series classifiers seem to be failing when the number of time points is too small.

I've verified this with `DrCIF` and `SupervisedTimeSeriesForest` on win py3.9, other estimators that may be affected are: `HIVECOTEV2`, `MUSE`.

The following code runs:
[code]

The following code does not run:
[code]

The error message raised is non-informative.

I'd expect the code to run, in both c

[2022-01-11 20:43] zabbix-byte opened #1867 "[BUG]"

[2022-01-11 20:44] #1867 closed

[2022-01-11 20:44] zabbix-byte commented on #1867
soy el puto amo

[2022-01-11 21:16] TonyBagnall commented on #1866
more likely the series length, since we fit on 10x24 for unit tests. Should through an informative error though I agree.

[2022-01-11 21:17] TonyBagnall commented on #1866
where are the methods _make_panel_X and _make_Y?

[2022-01-11 21:19] TonyBagnall commented on #1866
(sorry, misread, hence deleted a comment)

[2022-01-11 21:27] TonyBagnall commented on #1866
to recreate

[2022-01-11 21:32] TonyBagnall commented on #1866
![image](https://user-images.githubusercontent.com/9594042/149024594-8464d458-5f83-4b6f-86e0-26b27c62efda.png)
len_range = 5, min_intervals = 4, so random fails. It may just need an edge case check,
                    len_range = min(
                        transform_length - intervals[j][0],
                        self._max_interval[r],
                    )

[2022-01-11 22:16] fkiraly commented on #1866
Ah, sorry, forgot the imports. Added them at the top.

[2022-01-12 07:36] #1607 closed

[2022-01-12 09:52] fkiraly commented on #1760
@ k1m190r, would this perhaps also be addressed by the bugfix in #1842?
It seems like it might be the same cause.

[2022-01-12 09:58] fkiraly commented on #1866
& `MUSE` seems to have stochastic failures even for larger sizes?
See this run
https://github.com/alan-turing-institute/sktime/runs/4783434797?check_suite_focus=true

Locally, the test was not failing.

[2022-01-12 10:22] TonyBagnall commented on #1866
not sure about MUSE, will try fix our two first then take a look at the other two.

[2022-01-12 13:26] TonyBagnall commented on #1866
train_X = np.random.rand(10, 10)
#val = np.random.randint(low=0, high=1)
#print(val)
train_y = np.random.randint(low=0, high=2, size = 10)
cls = MUSE()
cls.fit(train_X, train_y)

gives an intermittent error

![image](https://user-images.githubusercontent.com/9594042/149148860-dc628a73-f52a-4560-b12b-d999a3e6d731.png)

looks to be a problem with the data not being consistent with logistic regressio

[2022-01-12 13:30] TonyBagnall commented on #1866
so its getting to here in _muse and all_words is empty.
![image](https://user-images.githubusercontent.com/9594042/149149613-098f9b4e-a189-46ae-9d84-42297e5579a2.png)

[2022-01-12 13:44] TonyBagnall commented on #1866
basically feature selection finds no relevant words, which causes the sklearn classifier to (iunderstandably) crash. Discussed with Matt and we will add a special case for when all_words is empty and just keep all the words, any thoughts @patrickzib ?

[2022-01-12 13:50] TonyBagnall commented on #1866
and @MatthewMiddlehurst has also found the problem with DrCIF and by implication HC2, PR to follow.

[2022-01-12 13:53] TonyBagnall commented on #1608
fixed by https://github.com/alan-turing-institute/sktime/pull/1852

[2022-01-12 13:53] #1608 closed

[2022-01-12 13:58] TonyBagnall commented on #460
if I understand it, you are trying to do multi-class classification, i.e. predict multiple target variables with a single classifier? If so, this capability is not (yet?) supported by sktime. We should throw a more meaningful error if it is attempted though

[2022-01-12 14:05] TonyBagnall commented on #727
@MatthewMiddlehurst this functionality is now present, can we close this issue?

[2022-01-12 14:59] niekvanderlaan commented on #1555
The condition for this particular error is the mismatch between the frequency of the input data and the desired output frequency, i.e. Seconds and Hourly frequencies. Therefore, in order to resolve it, one would have to provide an input that is as hourly.

Now, in this case, converting the input data to hourly is not trivial due to the unevenly spaced data. I am not aware of any functionality in s

[2022-01-12 15:23] MatthewMiddlehurst commented on #1826
As mentioned in the above PR, concatenating each dimension together was the default by the original author. I agree that returning 22 features per dimension is a better way of doing it, however.

[2022-01-12 15:40] MatthewMiddlehurst commented on #727
I think the only thing that changed is the tag correct? The current setup is fine for my usage, but unsure how visible the functionality will be for others. Should probably change the function names to something better at least.

[2022-01-12 16:58] fkiraly commented on #1866
one way would be fallback behaviour. For instances, if whatever features fail to extract, predict the majority class on the training set instead of running against a wall.

[2022-01-12 17:55] ngupta23 commented on #1862
That probably makes sense if there is only 1 model, but in general, if we encounter more such features that can be tracked (with more than 1 example), would sktime be a viable place to add these tags or should it be tracked outside sktime?

[2022-01-12 20:24] fkiraly commented on #1536
@tonybagnall, sounds like it didn´t get resolved? Reopening until we´ve either confirmed it´s resolved or validated the reappearance of the bug.

[2022-01-12 21:27] #1866 closed

[2022-01-12 21:47] fkiraly commented on #1862
That's both possible, you can always add your own tags if you want them wihtout having to change the framework. E.g., import an estimator and call the `set_tag` function with the tag of your choice and the value of your choice (for dynamic tags, or use the `_tag` attribute to static ones).

`sktime` itself is, in-principle, also a good place.
We want to avoid having tags proliferate though, the mo

[2022-01-12 21:53] fkiraly commented on #1555
@sameermahajan, `sktime` interfaces `fbprophet` via the `Prophet` forecaster, so it would be useful to compare. I.e., how do the following behave when providing discrepant frequencies:
* the `sktime` `Prophet` adapter
* the `fbprophet` functionality

For `AutoETS`, it may simply be that that forecaster cannot handle unequal frequencies in `y` and `fh`. Then, we may want to resolve this by adding f

[2022-01-12 22:44] fkiraly commented on #1719
So, @MatthewMiddlehurst, you think it should be *column* multiindex, given the merged PR #1869 of yours?

[2022-01-12 23:33] MatthewMiddlehurst commented on #1719
For cases where the output is not a series, yes.

[2022-01-13 10:14] Garrus990 opened #1871 "[BUG] Strange error in ARIMA class"
**Describe the bug**
When I am using ARIMA model, under some very specific circumstances, the model cannot be trained and hence predictions are not returned.

**To Reproduce**
[code]

**Expected behavior**
Either the model to be training successfully in both cases or an improved error information on what is actually wrong with my time series. I would like to know that the training failed at the tr

[2022-01-13 13:28] ngupta23 commented on #1862
Sounds good. I will wait to find a more convincing case. For now, this is good to know.

[2022-01-13 17:31] #1523 closed, assigned to amrith-shell

[2022-01-13 17:34] fkiraly commented on #1405
This is now closed with the PR #1830 that fixes the root cause issue #1523 and hence should also fix this specific consequence using `AutoETS`.

Thanks for reporting, @asksteph, and thanks for fixing, @eenticott-shell.
The fix will be available from version 0.10.0 onwards.

[2022-01-13 17:34] #1405 closed

[2022-01-13 17:35] fkiraly commented on #1523
@eenticott-shell, quick question: is the issue also addressed in the case where `fh` has length 2 or 1?

[2022-01-14 11:10] fkiraly opened #1875 "[DOC] utility functions ref in docs should be replaced by `datatypes.convert`"
Our current docs has refs to the old conversion functions in
https://www.sktime.net/en/stable/api_reference/utils.html
(data processing)

This should be replaced and extended with the utility functions in the `datatypes` module, e.g., `convert` and `convert_to` instead of 100 individual conversion functions.

[2022-01-14 14:25] GuzalBulatova commented on #1843
I don't have strong opinion regarding this, to me it does make more sense.
`fit-is-empty` could mean though that this estimator doesn't perform/require fit at all, is it always the case?

[2022-01-14 14:58] ngupta23 opened #1876 "[BUG] Forecasting does not work with 10 minute interval data in PeriodIndex form"
**Describe the bug**
When data has a period index at 10 minute intervals, the prediction does not work.

Most likely related to
Seems to be some issue with the indexing - most likely related to `ForecastingHorizon.to_absolute_int()` and how `integers` are computed.

[code]

**To Reproduce**
[code]

[code]

**Expected behavior**
Should produce the right forecasts (6 future values at 10 minute inter

[2022-01-14 15:53] #1862 closed

[2022-01-14 16:36] fkiraly opened #1877 "[ENH] Design: default behaviour between `predict_interval`, `predict_quantiles`, and `predict_proba`"
Design - we should define what the default behaviour is, since one of these, when implemented, can be called by the other functions ot provide output.

[2022-01-14 19:49] fkiraly commented on #1876
@eenticott-shell, would you be able to have a quick look at this, whether this is already fixed by https://github.com/alan-turing-institute/sktime/pull/1830?

@ngupta23, this may be fixed but is not yet in the stable version. Have you tried wiht 0.9.0 or the dev version?

[2022-01-14 19:52] fkiraly commented on #1843
Currently we require `fit` to be run before `transform` even if `fit` is empty, @mloning was adamant on that.
I understand how it makes sense, since it results in consistent run conditions and behaviour.

The function to call when you want to transform the data in one go is `fit_transform`, that's more python zen with "one and only one way to do things".

[2022-01-14 22:30] fkiraly commented on #1877
Ok, here´s my thoughts, @kejsitake, @k1m190r:

We have three functions that can be implemented or not:
* `_predict_interval`
* `_predict_quantiles`
* `_predict_proba`

Here´s how I think defaulting should go:
* if `_predict_interval` is not implemented but `_predict_quantiles` is, `_predict_interval` should call `_predict_quantiles` at quantiles correponding to upper/lowers for the coverage probab

[2022-01-14 23:29] ngupta23 commented on #1876
@fkiraly

1. It is not working in v0.9.0 - https://gist.github.com/ngupta23/b447498e7b3955b79754c8ebc48efea2
2. I am unable to install it directly from GitHub to check the latest dev version - https://gist.github.com/ngupta23/ddf3276510f0ecf5933291cbe63043d0

[2022-01-15 01:08] fkiraly commented on #1876
That won't work due to the C dependencies - you have to follow the install instructions locally with build requirements if you want to try it:
https://www.sktime.org/en/stable/installation.html

We're working on removing the C dependencies soon so install is easier... but they are still there, sorry.

[2022-01-16 16:06] ltsaprounis opened #1881 "[ENH] Refactor load_from_tsfile_to_dataframe to use functionality for .tsf files too"
[Monash Time Series Forecasting Repository](https://forecastingdata.org) has introduced a new file format for storing time series data for forecasting problems called .tsf, inspired by sktime's .ts format. The repository has a lot of nice/popular benchmark datasets, including Australian tourism datasets and 3/5 of the M competitions.

I suggest we refactor [load_from_tsfile_to_dataframe](https://g

[2022-01-16 16:07] ltsaprounis commented on #1881
Draft PR coming soon!

[2022-01-17 10:35] eenticott-shell commented on #1523
No, that seemed to stem from a different problem so I think we should handle it in a separate bugfix, happy to investigate it.

[2022-01-17 14:56] serendio-labs-stage opened #1884 "Multi dimensional time series classification with Nearest neighbor classifier"
Hi All,

I'm trying to implement a classifier on multidimensional Timeseries data based on nearest neighbor classifier. I'm wondering if there are any ways to weight the features differently. Like the DTW distance on one feature (single time series) is more important than other(another single timeseries).

I checked the API documentation but couldn't find any. Please can you suggest on best way to

[2022-01-17 21:26] fkiraly commented on #1884
hm, it seems like your user account got deleted?

I think there are in-principle two ways to weight features:
* weighting in the distance that is used in multivariate dtw
* weighting univariate dtw with a prescribed weight

Currently, I don´t think there is an easy way to get a weighting either way, but let me open an issue on various things that would allow this, for distances.

[2022-01-17 21:33] fkiraly opened #1886 "[ENH] Arithmetic dunder methods for distances/kernels"
From #1884, I think it would be useful to implement the following arithmetic dunder methods for distances-kernels, i.e., the two base classes `BasePairwiseTransformer` and `BasePairwiseTransformerPanel`:

- [x] `__add__` and `__radd__`. If `other` is a float, then this should return a wrapped class whose `transform(X, X2)` returns `other + self.transform(X, X2)`. If `other` is a transformer, then

[2022-01-17 21:37] fkiraly opened #1887 "[ENH] weighted version of scipy based distance class"
Also related to #1884.

I think it would be a good idea to extend `ScipyDist` with an optional parameter `weights` (1D iterable of float) which multiples the i-th column of `X`, `X2` with the i-the element in `weights` before applying the distance. If weights are passed, there should be a check in `_transform` for `weights` having length equal to number of columns of `X`, `X2.

Note: this should b

[2022-01-17 21:40] fkiraly commented on #1884
I've opened two issues, #1885, and #1886.

If #1886 is done, you could use the weighted `ScipyDist` inside `AlignerDTW` inside `DistFromAligner` to get a DTW distance based on weighted variables, that's option 1. Alternatively, you can simply use your own distance function already, in `AlignerDTW`, in `DistFromAligner`.

With #1885, you could specify a weight mixture of DTW distances.

[2022-01-17 21:44] fkiraly opened #1888 "[ENH] weighted average of distances & distance composites"
There should be a wrapper class `CompositeDistance` (or similar) that allows to specify, as parameters:

* an iterable of distances, or just a single distance
* a way to aggregate, e.g., `"mean"` or `"median"` (string) or a `numpy` function
* an iterable of weights (optional)
* an iterable of variables, or lists of variables (optional)

If iterables are passed, they must be of same length.

The di

[2022-01-17 23:50] fkiraly commented on #1877
There's a fourth method, `_predict_var`, hm.

If `_predict_proba` is implemented and `_predict_var` is not, `_predict_var` should call `variance` of the `_predict_proba` return.
If neither of the two are implemented, `_predict_var` should raise an error.

Otherwise, I don't think there are useful relations that `_predict_var` can use, if `_predict_interval` or `_predict_quantiles` are implemented

[2022-01-18 00:07] fkiraly commented on #1881
Yes, some investigation on which common functionality can be factored out, or on design would be useful in prep for the meeting!

[2022-01-18 21:41] fkiraly commented on #1687
@kejsitake, I just tried to prepare the refactor capstone (for deprecation).
It would look like we forgot `Prophet`!

[2022-01-19 09:21] chenruhai opened #1891 "ipython: Notebook does not appear to be JSON"
#### Describe the issue linked to the documentation
When I opened the github repository documentation tutorial and jupyter Notebook file of the case, I found that he gave me an error: ` NotJSONError("Notebook does not appear to be JSON: '../../../examples/01_forecasting.ipynb'....`， The link of the relevant problem is in  [,](https://stackoverflow.com/questions/32711302/ipython-notebook-does-not-a

[2022-01-19 16:15] fkiraly opened #1893 "[ENH] data type conventions - should time index be unique?"
Should all data type conventions adopt the strict requirement that time indices be unique?

For instance, should the `pd.DataFrame` format specification ensure that the `DataFrame.index` has no duplicates?
Currently, the checks allow it, but if there are duplicates, there are errors in various places, for instance in the conversions.

The "safe" fix seems to be to add checks to require the assumpt

[2022-01-19 16:29] fkiraly opened #1894 "[BUG] Forecasting pipelines to infer correctly whether they support univariate data or not"
Forecasting pipelines need to infer correctly whether they support univariate data or not.

For instance, the `TransformedTargetForecaster` will not support multivariate forecasts if one of the transformers is univariate.

Arising from #1846.

[2022-01-19 18:17] fkiraly commented on #1741
From our discussion today:

* semantically/conceptually, there is a distinction between metrics for interval forecasts, and metrics for quantile forecasts. Though, a metric for quantile forecasts should be easily applicable to interval forecasts (by converting upper/lower into their respective quantiles)
* common interval metrics that aren´t also quantile metrics: average coverage (how often the o

[2022-01-19 21:13] ngupta23 commented on #1876
@fkiraly I tested the `main` branch. It gives the same error

![image](https://user-images.githubusercontent.com/33585645/150214629-d0ab0353-abd9-4e4f-b9b0-a0c20655bb14.png)

[2022-01-19 23:19] #1835 closed

[2022-01-19 23:39] kejsitake opened #1896 "[BUG] Potential issues with Theta Forecaster predict_quantiles"
**Describe the bug**

There is a bug in the Theta Forecaster:

- The score function called as `z = _zscore(1 - a)` is called with the default value for two_tailed (True), as seen in the function signature `def _zscore(level: float, two_tailed: bool = True) -> float`. Given that we are seeking quantiles and not coverage, the distribution should be one-tailed.

Upon some discussion we had with @fkir

[2022-01-20 17:33] fkiraly opened #1899 "[ENH] remove readthedocs ads"
Now that `sktime` has a regular donation income, we should use it to remove the readthedocs ads (which come from readthedocs, not sktime).

The requirement for open source projects is a gold membership which costs 5 dollars per month.
https://readthedocs.org/sustainability/#gold-membership

For discussion & decision in the next CC meeting.

[2022-01-20 22:14] fkiraly commented on #1876
@ngupta23, I've confirmed the bug on python 3.9, windows, current dev.

I've also tried two other forecasters (naive and trend), and this error is *not* raised. This is, hence, possibly specific to the `statsmodels` adapter.

[2022-01-20 22:18] fkiraly commented on #1876
This code seems to work as expected:
[code]
this gives
[code]

[2022-01-20 22:19] fkiraly commented on #1876
(so I guess it's not the same bug as you fixed, @eenticott-shell)

[2022-01-21 00:02] #1625 closed

[2022-01-21 08:39] fkiraly commented on #1687
From our discussion on slack: @kejsitake has tentatively taken `Prophet` on for refactoring.

[2022-01-21 16:19] fkiraly opened #1904 "[DOC] link Ananaconda guide from installation instructions"
@jasonlines has created a nice step-by-step install guide for `sktime` under windows with Anaconda.
It's too OS and IDE specific to be a general instruction, but it is very nice and useful imo if you go with that combination.

I think it would be nice if we could:
* link from the current installation documentation `docs/source/installation`. Perhaps somewhere near the top, in a subsection "step-by

[2022-01-21 16:49] fkiraly opened #1905 "[ENH] predictive intervals and quantiles for naive forecaster"
- [ ] Describe naive predictive intervals (what is the method?)
- [ ] implement for `NaiveForecaster`

Related to the variance forecaster of @IlyasMoutawwakil

[2022-01-21 16:54] fkiraly commented on #1446
@kejsitake has expressed interest - assigned to track interest, revisit later.

[2022-01-21 17:19] fkiraly opened #1906 "[BUG] soft dependencies check may recommend wrong `pip install` command"
If the package dir is different from package name, the `sktime` soft dependencies wrapper may recommend to install the wrong package, because it recommends not `pip install pypi_name` but `pip install folder_name`. It should be the former and not the latter, but it is the latter, which may be wrong if the former or latter disagree.

The error message should change to the former.

Minimal example f

[2022-01-21 19:19] fkiraly commented on #1905
Question, what should this be?

I see a number of options:
* detrend in-sample, compute the variance of in-sample residuals. Use this as a predictive variance with normal assumption, get intervals/quantiles from that.
* use rolling residuals, like in @IlyasMoutawwakil´s variance forecaster, then do the same
* use any of the residuals and get empirical quantiles, use the empirical cdf of residuals

[2022-01-22 00:30] ngupta23 commented on #1876
@fkiraly It seems to be a more prevalent problem. I will try to list out specific issues.

## For statsmodels

The issue seems to be with `to_absolute_int` method of the ForecastingHorizon which is called from the adapter. At a 10 minute interval in PeriodIndex, it seems to be returning extremely large values for the integers.

![image](https://user-images.githubusercontent.com/33585645/150614706-

[2022-01-22 07:32] the-prof-paradox commented on #1906
Hello, I would like to share my understandings about the issue.
I tired to replicate the mentioned bug by calling `test_check_soft_dependencies_raises_error()` function from
`/sktime/utils/_testing/tests/test_check_imports.py`

The message received :
No module named 'unavailable_module'. 'unavailable_module' is a soft dependency and not included in the sktime installation. Please run: `pip install

[2022-01-22 14:25] fkiraly commented on #1906
Welcome, @the-prof-paradox!

Sorry for lack of detail in the original post.

The crucial example in this case would be the `dtw-python` package, which is distinct from the `dtw` package.
`sktime` has a soft dependency on `dtw-python` (for alignment algorithms), but not on `dtw`.

Both packages, once installed, require one to write `import dtw.stuff`, since the package folder name for both is `dtw`

[2022-01-22 14:28] fkiraly commented on #1906
I´ve added minimal example and actual vs expected behaviour to the original post now, thanks for pointing this out.

[2022-01-22 15:20] fkiraly commented on #1906
PS: simply changing the line to `_check_soft_dependencies("dtw-python")` does not work, since a check is done in the function by whether `import package_name` works.

[2022-01-22 18:18] ltsaprounis opened #1908 "[BUG] Transformers that don't require fit raising not fitted error"
**Describe the bug**

Transforms that have no _fit implemented and `"fit-in-transform": True` shouldn't need to be fitted before you can use `transformer.transform()`. The `LogTransformer` is a good example.

**To Reproduce**

[code]

**Expected behavior**

We should be able to use transform without fitting first. As a workaround, fit_transform works for now.

[2022-01-22 18:26] ltsaprounis commented on #1905
The naive methods' forecast variance can be expressed analytically under the 2 assumptions below:
- forecast values are normally distributed
- residuals are uncorrelated

https://otexts.com/fpp3/prediction-intervals.html#benchmark-methods

[2022-01-22 18:50] lmmentel opened #1909 "[BUG] Failing tests with pandas version 1.4.0"
**Describe the bug**

With the most recent version of pandas 1.4.0 two test are failing

[code]

**To Reproduce**

Bump your pandas version to 1.4.0

[code]

**Expected behavior**

Test are passing.

**Additional context**

<details>
<summary>Traceback</summary>

[code]

</details>

**Versions**
<details>

</details>

[2022-01-22 20:13] the-prof-paradox commented on #1906
Thanks for the clarifications!

I would like to fix this issue so if there are no other asignees can you assign it to me?

[2022-01-22 20:18] lmmentel commented on #1906
All yours @the-prof-paradox !

[2022-01-22 20:21] lmmentel commented on #1891
Thanks for reporting, could you share the following
- operating system
- python version
- jupyter version

[2022-01-22 20:51] fkiraly commented on #1908
This was a conscious design decision - if you want to transform the data you see, you should call `fit_transform`.

FYI, in the discussion we had a while ago, I had the opinion that if `transform` is called without `fit`, it should just default to `fit_transform` (since it may be confusing to the user), but my opinion was the minority opinion.

Having said that, I think we should stick to design d

[2022-01-22 20:55] fkiraly commented on #1908
PS: the change would be extremely easy: at the start of `BaseTransformer.fit`, add the lines:

[code]

[2022-01-22 20:59] fkiraly commented on #1905
yes, sure, but *which residuals* would be part of the question above?

[2022-01-23 00:11] ltsaprounis commented on #1908
That makes sense. I was suspecting that this might be on purpose while writing the issue.
It's a bit odd to "fit" a log transformer, especially since we have a tag to identify transformers that don't have a genuine fit method (`fit-in-transform`). But if this facilitates a wider design principle, it's not that big of an issue.

[2022-01-23 00:26] #1482 closed

[2022-01-23 00:26] #1728 closed

[2022-01-23 00:26] #1803 closed

[2022-01-23 00:26] #1832 closed

[2022-01-23 00:34] ltsaprounis opened #1912 "[ENH] Scaled Logit Transformer"
A scaled logit transform combined with a `TransformedTargetForecaster` ensures that the forecast stays between the specified lower and upper bounds. The idea is well explained by Rob Hyndman here: https://robjhyndman.com/hyndsight/forecasting-within-limits/

This will be similar to the prophet's logistic growth functionality. Related issue: #1868

[2022-01-23 02:42] TKassis opened #1914 "Relax "numpy==1.19.3" dependency"
**Is your feature request related to a problem? Please describe.**
Currently there is a hard dependency for numpy 1.19.3. Is this actually needed or is there room for newer numpy versions?

**Describe the solution you'd like**
Can this be relaxed to 1.20?

[2022-01-23 07:59] lmmentel commented on #1914
Hi @TKassis, thanks for reporting this. We are currently working on this. There are already similar issues posted so we might close this and give another issue to track instead.

[2022-01-23 09:16] fkiraly commented on #1914
duplicate of #1794, closing.
Yes, indeed this is sth we're working on, now that the CI/CD is upgraded.

[2022-01-23 09:16] #1914 closed

[2022-01-23 10:37] fkiraly opened #1918 "[BUG] old CI/CD checks still showing in the GitHub CI summary"
Items from this:
- [x] readthedocs does not complete properly. fixed in #1920
- [x] the old checks removed in #1620 should no longer display in the GitHub PR checks interface.

---
After the CI refactor #1620, the old checks are still being displayed in the GitHub PR checks interface, here (example):

![image](https://user-images.githubusercontent.com/7985502/150696962-769249f3-c48c-4009-bee0-c284

[2022-01-23 12:09] fkiraly commented on #1678
most forecasters dealt with here:
https://github.com/alan-turing-institute/sktime/pull/1902
(checked above, since don´t anticipate much problems)

[2022-01-23 14:05] fkiraly opened #1919 "[BUG] readthedocs builds failing since 1620"
Readthedocs builds are now failing on all PR.

It seems the first occurrence of that was #1620.

In the GitHub checks display, it does not show as failing, but (indefinitely) as running, but the logs say failure.
Re display of checks, also see #1918.

[2022-01-23 14:06] fkiraly commented on #1919
FYI @freddyaboulton, @lmmentel

[2022-01-23 17:27] lmmentel commented on #1918
Related discussion on SO https://stackoverflow.com/questions/57927115/anyone-know-a-way-to-delete-a-workflow-from-github-actions

[2022-01-23 19:14] lmmentel commented on #1708
It seems, that all the blocking issues are solve. I can take  a look at this, but would need some more information to understand the  requirements. Any help would be appreciated @TonyBagnall @fkiraly :slightly_smiling_face:

[2022-01-23 19:37] #1919 closed

[2022-01-23 19:47] lmmentel commented on #1918
The config file for appveyor has been removed in #1620 so it seems that the integration needs to be terminated from the appveyor, which is currently configured using an account that belongs to @mloning.

[2022-01-23 20:22] SveaMeyer13 commented on #1905
Can't we use the expression used in #775 and adapt it to the current interface?

[2022-01-23 21:02] fkiraly opened #1923 "[ENH] investigate use of abc for base classes, write STEP"
@TonyBagnall recently suggested to use of abc for classifiers in *#1873, #1708), and this was also previously discussed a number of times: #1424, #1708, #510, #420.

I do think we need to work out a STEP for this, it would be a major change to the interface framework.

There are some open questions that I have:
* which classes would inherit from `ABCMeta`?
* how do we deal with optional abstract m

[2022-01-23 21:02] fkiraly commented on #1708
well - I there is a more serious design issue in the background.

We need to work out how we would be using `abc`, which classes inherit from it.
I would be very reluctant to do this only for classifiers, since we must avoid pattern divergence between the modules, in my opinion.

I've opened an issue here: https://github.com/alan-turing-institute/sktime/issues/1923

[2022-01-23 21:07] fkiraly commented on #1905
hm, maybe? Looking through it I'm not sure which method/algorithm this proposes to implement.
There's not just one one could use, similar to how there are multiple naive strategies for the point prediction.

Do you have a pointer to the method or algorithm description? Maybe I'm just not seeing it among all the discussion.

[2022-01-23 22:00] lmmentel commented on #1918
Also this https://github.community/t/removed-workflow-showing-up-as-check-for-pr/16393 I don't have the access so someone else needs to own this.

[2022-01-24 09:50] baggiponte commented on #1621
If you need some inspiration for the code, given the unusual Greykite API, you can draw it from [here](https://github.com/winedarksea/AutoTS/blob/master/autots/models/greykite.py)!

[2022-01-24 11:13] eenticott-shell commented on #1876
No it isn't, but I would be happy to take a look at it

[2022-01-24 11:20] fkiraly commented on #1621
hm, AutoTS looks a bit like a `pycaret` clone?
But could be a good starting point to what the parameters are etc.

What do you think, @ngupta23?

[2022-01-24 11:25] fkiraly commented on #1876
yes, @eenticott-shell, makes sense since you recently picked apart the `Forecasting Horizon` already

[2022-01-24 12:31] ngupta23 commented on #1621
AutoTS and Auto_TS came before pycaret time series module.

AutoTS seems to combine the functionality of sktime and pycaret into a single library (something similar to what Auto_TS also does).

Also it seems to be using genetic algorithms to find the best models. PyCaret uses random and grid  hyperparameter tuning (adopted from sktime). Having Bayesian hyperparameter optimization as a next step mi

[2022-01-24 13:45] fkiraly commented on #1621
got it - so the takeaway is, do I understand correctly:
* autoTS predates pycaret, the user facing designs are similar
* but it´s not, in terms of the the internal layers interface: autoTS does not separate between the "composition/specification" layer and the "workflow/deployment" layer. Whereas pycaret builds on sktime as a flexible layer.
* nonetheless, in how autoTS interfaces greykite (the "s

[2022-01-24 13:50] ngupta23 commented on #1621
I have not delved much into it, but the focus of `autoTS` seems to be on the "auto" part. Whereas in `pycaret`, the users can customize their workflows for both **manual** (create specific models) and **automated** (pick best from all) approaches. On the other hand, pycaret does not support multivariate but autoTS does. So there might be pros and cons of both libraries.

Yes, I think that is corre

[2022-01-24 13:53] ngupta23 commented on #1621
@fkiraly It might be interesting to see how **holidays** are handled in `sktime`. Is there an example for how `sktime` does this for `prophet`?

[2022-01-24 13:55] fkiraly commented on #1621
In-principle, two ways:

* in interfaced "black-box" models that have a "holidays" feature, can be handled only in the context of that model, like `Prophet`
* using transformers that extract holidays, these can be used in a pipeline with any model. Examples would be the `DateTimeFeatures` transformer, or the `HolidayTransformer` #1722 that @mloning wanted to write (but I think he´s abandoned this)

[2022-01-24 14:06] ngupta23 commented on #1876
Thanks @eenticott-shell. Documenting changes needed.

- [ ] fix in `to_absolute_int` in `ForecastingHorizon`
- [ ] fix in `_get_duration`

[2022-01-24 17:54] fkiraly commented on #1918
Yes, this was it, @lmmentel!
It was coming from the branch protection rules.

This leads to required tests being *displayed* even if they are not *executed*.

I changed the required tests to the new ones, that should take care of the issue for all future PR (also of the appveyor one, I think).

[2022-01-24 17:56] #1909 closed

[2022-01-24 17:57] fkiraly commented on #1918
ok, this apparently fixes GitHub actions, but not appveyor.

[2022-01-24 18:25] fkiraly commented on #1918
as @mloning said on slack, he probably just needs to delete (or uncouple) the appveyor project

[2022-01-24 19:25] #1787 closed

[2022-01-24 19:25] #1794 closed

[2022-01-24 19:34] fkiraly commented on #1918
... and it's gone, I guess @mloning did it?

[2022-01-24 19:35] the-prof-paradox commented on #1906
Hi @fkiraly
How about we store the pypi packages name of the libraries in a dictionary like this:
[code]
inside the `sktime/sktime/utils/validation/_dependencies.py` where `_check_soft_dependencies(*packages)` is defined.

because we need to map the folder-names to their PYPI names while recommending the pip install message.

I tried to dive deeper into code base and found that in `sktime/build_to

[2022-01-24 20:25] fkiraly commented on #1906
I would see this only as a last resort if this cannot be inferred from the packages themselves somehow.

The main downside of this is that someone needs to *know* and *remember* that we've done this, and regularly check.
And any extender needs to be aware that this is happening - soft dependencies are added relatively frequently.

Generally, a solution that does not add to the maintenance, extensi

[2022-01-24 21:12] lmmentel commented on #1906
I don't think there is a way of getting the top level module name from a package name without installing or at least downloading the package itself. The information is usually in `setup.py` like in the case of `dtw-python` https://github.com/DynamicTimeWarping/dtw-python/blob/81f26e1e052ef781d729e549fcd5e2b401e68af8/setup.py#L49 but can be in `pyproject.toml` in pypi or poetry flavors, so the task

[2022-01-24 21:57] chrisholder opened #1925 "[DOC] How to contribute docs"
#### Describe the issue linked to the documentation

Since updating our cicd the to contribution document hasn't been updated so now I don't know how to reinstall my dev version of sktime.

For example here: https://www.sktime.net/en/stable/get_involved/contributing.html#continuous-integration
there are the steps given:

![image](https://user-images.githubusercontent.com/4674372/150871658-244a1151

[2022-01-24 22:11] fkiraly commented on #1925
What do you mean, "the hot"?

[2022-01-24 22:15] fkiraly opened #1928 "[ENH] refactor `all` submodules to use `all_estimators` instead of manual update"
Some modules have an `all` submodule that allows for easy import of all estimators in the module - in theory.

In practice, extenders would need to update the package with imports every time an estimator is added, which is clunky, has not been documented, and hence also not done in the past.

An easy solution which would remove the need to manually update would be to use `registry.all_estimators`

[2022-01-24 22:21] lmmentel commented on #1925
Hi @chrisholder, the docs were updated however the link you are referring to points to `stable` i.e. last tagged/release version of the docs. If you want to access the most recently build docs you need to go the `latest` i.e. https://www.sktime.org/en/latest/installation.html notice the difference in the url after  https://www.sktime.org/en/.

[2022-01-24 22:22] fkiraly commented on #1925
Hm, should we add a remark on the top of the contribution related pages that `latest` may be correct in a situation where a recent update to the dev installation, CI, or release process has happened? But that would probably be quite rare?

[2022-01-24 22:25] fkiraly commented on #1906
I think when you are trying to import an estimator which uses a soft dependency inside.

"Dear user, if you want to use `MyEstimatorThatInterfacesPackageX`, please first `pip install package_X` which is a soft dependency (and that's the reason you haven't installed it yet when you installed `sktime` without soft dependencies)"

[2022-01-24 22:27] fkiraly commented on #1906
Well, if that's the case, then the `dict` idea is not too bad, it's easy to implement at least and better than the status quo.

I guess we should then make it easily configurable and overridable, with package name being top level module name by default, but you can specify both. Finding a good place for the config of overrides may be tricky.

[2022-01-24 22:28] fkiraly commented on #1906
it is certainly non-trivial, but it seems so extremely generic that surely some good solutions must exist for it?

[2022-01-24 23:35] fkiraly opened #1930 "[ENH] Improvements to estimator overview"
`sktime` currently has a nice estimator overview table which allows for searching estimators by type.

A couple things would be nice to have and nice to do:

- [x] add proper sub-setting by column value ranges, e.g., "show me all forecasters". Currently this is just done by substring search, so users can't see easily what the possible values are.
- [x] add display of tags. There may be some design

[2022-01-25 12:17] #1912 closed

[2022-01-25 15:02] EMUL8ER commented on #1930
Hi I am a beginner I would like to contribute in this issue, could u point me the way to do so?

[2022-01-25 16:11] TonyBagnall commented on #320
the old shapelet transform has been deprecated, so the workbook this issue relates to has been removed. Work on improving classification notebooks is ongoing, but I am closing this very old issue.

[2022-01-25 16:11] #320 closed

[2022-01-25 18:27] fkiraly commented on #1930
Sure!

I think the main places would be:
* `source.conf._make_estimator_overview` to generate the current table
* `registry.all_estimators`, `registry.all_tags` utilities
* documentation guidelines on doc build, https://www.sktime.org/en/latest/developer_guide/documentation.html#documentation-build

[2022-01-25 19:04] TonyBagnall commented on #1708
I'll close this for now since there is not agreement on if its a good idea or not, please don't reopen unless you want it done

[2022-01-25 19:04] #1708 closed

[2022-01-25 20:11] #1716 closed

[2022-01-25 21:13] TonyBagnall commented on #1826
fixed by #1869

[2022-01-25 21:13] #1826 closed

[2022-01-25 21:21] TonyBagnall commented on #1825
hi, this probably was not working because the C++ was not compiled. The problem no longer exists with number versions, the use cases are now
# Version using string args
knn = KNeighborsTimeSeriesClassifier(distance="dtw")
# Version using native version. VERY SLOW!
from sktime.distances.elastic import dtw_distance
knn2 = KNeighborsTimeSeriesClassifier(distance=dtw_distance)
# Version usng numba ver

[2022-01-25 21:21] #1825 closed

[2022-01-26 00:04] chrisholder commented on #1923
Why is this an issue. This is the standard best practice way of doing abstract methods in python why wouldn't we do it.

[2022-01-26 02:01] chrisholder commented on #1923
To answer your questions more directly though I think you're overcomplicating  a lot of it. Literally it will feel the same as the current raise NotImplementedError except it's standardised and more util methods (and ides can better support auto implement functionality):

- which classes would inherit from ABCMeta?
BaseClusterer, BaseClassifier, BaseForecaster etc. Essentially any estimator/transf

[2022-01-26 08:28] ltsaprounis opened #1933 "[ENH] add .tsf loader in sktime"
Monash Time Series Forecasting Repository has introduced a new file format for storing time series data for forecasting problems called .tsf, inspired by sktime's .ts format. The repository has a lot of nice/popular benchmark datasets, including Australian tourism datasets and 3/5 of the M competitions.

A .tsf reader is available from the Monash repository team here:
https://github.com/rakshitha1

[2022-01-26 09:26] TonyBagnall commented on #1923
1. which classes would inherit from ABCMeta?
ones with abstract methods currently raising errors if not implemented

2. how do we deal with optional abstract methods?
this has no meaning. The definition of an abstract method is one a subclass *must* implement. Either there is sensible default behaviour, or its abstract. If you want to still raise errors for optional methods, or just pass if it mak

[2022-01-26 09:38] tomshlomo opened #1935 "[BUG] `ForecastingHorizon.to_relative` wrongly converts `pd.index` with frequencies that are base frequency multiples to `int`s"
**Describe the bug**

`ForecastHorizon.to_relative` is wrong when using pandas date ranges with frequencies that are multiples of base frequencies (e.g "2H", "30T", "10D").
I believe the cause is the function `_coerce_duration_to_int`.

Seems to be related to #1435 and #1876 (sorry if this is a duplicate)

**To Reproduce**

[code]
Output:
[code]

**Expected behavior**

Output should be:
[code]
no

[2022-01-26 12:55] fkiraly commented on #1935
Not sure if it's a duplicate, but definitely seems related and may have the same root cause.
FYI @eenticott-shell who was looking at the other two.

[2022-01-26 12:56] fkiraly commented on #1933
pinging @rakshitha123 so I can add her as the owner of this issue

[2022-01-26 12:58] eenticott-shell commented on #1935
I will investigate this as well, they do all seem to be related.

[2022-01-26 13:03] fkiraly commented on #1935
By now, I assume your mindmap on this must look like that stereotypical crazy conspiracy theorist pinboard with newspaper clippings and red string? :-)

[2022-01-26 16:19] eenticott-shell commented on #1935
There seems to be two parts to this bug that I have identified. The first seems to be a problem in pandas. To find the relative horizon the cutoff is taken away from the absolute horizon. To achieve this they are first converted through `to_period()`. The type of output from `to_period` is a `Period` for the cutoff timestamp and a `PeriodIndex` for the `DateTimeIndex`. I suspect the differing type

[2022-01-26 19:53] fkiraly commented on #1935
@eenticott-shell, could you kindly post minimally reproducing code for the issues? The code I've seen for no.1 narrows it down to `pandas`.

[2022-01-26 20:07] stepinski commented on #1887
Hi, I wanted to get involved in the project. Can you assin me to this issue?

[2022-01-26 20:33] lmmentel commented on #1887
All yours @stepinski :tada:

[2022-01-27 01:13] fkiraly commented on #1923
BaseClusterer, BaseClassifier, BaseForecaster etc. Essentially any estimator/transformer that current uses raise NotImplementedError(). This is because ABC just does what that does.

I worry a bit about the overhead this causes.
Should not `BaseObject` inherit from it, and nothing else?

No, this won't work - there are methods that have no sensible default behaviour and should raise an error. Exam

[2022-01-27 01:17] fkiraly commented on #1923
@TonyBagnall

I know what abstract methods are and how they work in abc.
A descendant will exception if it doesn't override all the abstracts declared by abc.

Why not `BaseObject`? I don't like that we inherit from multiple classes again.

Disagreed, I think you don't get the conceptual point here: some base types have methods that have no sensible default *and* descendants do not need to impleme

[2022-01-27 01:18] fkiraly commented on #1923
overall, I'm happy with answers to 3, 4, 5. I'm not happy and concerned about the others.

[2022-01-27 17:59] fkiraly opened #1941 "[BUG] Identify cause and fix CI/CD stuck in loop on unix, mac - reproduction & diagnostics appreciated"
Since yesterday evening, CI/CD on `main` and PR branching off it have `test-linux` and `test-mac` getting stuck in a loop, running for hours.
Strangely, the "run test" element does not produce any logs, while running (unlike `test-windows`).

There does not seem to be a clear reason or a clear culprit among PRs.

First I suspected it may be #1910, but reverting still shows the same behaviour, see

[2022-01-27 18:11] fkiraly opened #1942 "[BUG] Fix or remove `colalign` arg in `ScipyDist`"
The docstring of `ScipyDist` has a `colalign` argument, but in fact it is not internally used in `_transform`.
Columns are also not aligned with each other if they appear in different order, in `X` and `X2`.

Hence, the argument should either be removed, or - better - the described functionality should be added.

Currently, columns are not being aligned, which will lead to unexpected and hard-to-d

[2022-01-27 18:15] fkiraly opened #1943 "[ENH] column alignment and column order handling in pairwise transformers"
The docstring of `ScipyDist` describes a `colalign` argument which can be set to align columns of the same name in `X`, `X2` before the distance is computed.

Unfortunately, this is not actually done as described in the estimator - see bug report #1942.

What would be nice is to have the described behaviour not just in `ScipyDist`, but at base class level (in `BasePairwiseTransformer` and `BasePai

[2022-01-27 18:16] fkiraly commented on #1943
here's the docstring element for reference:
[code]

[2022-01-28 00:28] fkiraly opened #1947 "[ENH] verbose CI/CD test for mac and unix"
In our current GitHub actions CI/CD, the windows tests are verbose, i.e., logs per test are printed out, which is very useful for diagnosing on remote.

This is not the case for mac and unix (only "dots" are printed and percentages) - it would be great if it were.

Not sure what would have to be changed, but perhaps a good first issue for someone with CI/CD and/or GitHub actions experience.

[2022-01-28 11:19] fkiraly opened #1950 "[ENH] should we have a `returns_nan` tag?"
Some estimators can return NAN under certain circumstances, e.g., sqrt or log transform; some forecasters when asked for in-sample predictions.

This behaviour in itself is fine, but we should probably have a tag for this?

Design question.

[2022-01-28 12:41] fkiraly commented on #1947
This may have been posted in error, following #1941, and the very recent CI/CD refactor.
It does seem that the mac tests at least are verbose at runtime.

I need to check whether tests are verbose or not, once #1941 is resolved.

[2022-01-28 13:45] fkiraly commented on #1686
part of this is also being done in the discussion on the base class extension #1683 #1818.
This should cover all interface points directly attached to the base class.

[2022-01-28 21:46] fkiraly opened #1954 "[BUG] `Prophet` fails `test_predict_pred_interval` stochastically"
The recent PR #1910 fixed a bug that `Prophet` would always return 90% CI.

From this, a new bug has emerged: `Prophet` stochastically fails `test_predict_pred_interval` when `Prophet` is being asked to produce (narrow) 5% CI.

It may well be that the underlying estimator does not return proper upper/lower intervals, in which case we have to think what to do. Simply switch upper/lower perhaps?

To

[2022-01-29 14:25] fkiraly opened #1957 "[DOC] identify "workflow elements" for installation and good names for them"
From discussion in #1922, here: https://github.com/alan-turing-institute/sktime/pull/1922#discussion_r790329450

We need to:
- [x] identify the key workflow elements in the installation, and user requirements
- [x] come up with descriptive names
- [x] ensure they are used consistently throughout the documentation
- [x] ensure the different pathways

For instance, what is a "developer install" - in

[2022-01-29 21:37] #1877 closed

[2022-01-29 22:22] fkiraly commented on #1954
Fixed as part of #1879

[2022-01-29 22:22] #1954 closed

[2022-01-29 23:03] #1631 closed

[2022-01-29 23:06] fkiraly commented on #1203
I think this is addressed in #1707.

[2022-01-29 23:06] #1203 closed

[2022-01-29 23:08] fkiraly commented on #1372
I think this is addressed in #1672.

[2022-01-29 23:08] #1372 closed

[2022-01-29 23:08] fkiraly commented on #1448
This is resolved by #1707.

[2022-01-29 23:08] #1448 closed

[2022-01-29 23:09] fkiraly commented on #1635
I think this is now done by the combination of #1672 and #1707. Related content is in #1957 which will carry on refinement of install workflows.

[2022-01-29 23:09] #1635 closed

[2022-01-29 23:26] fkiraly commented on #1947
ok, the tests are already verbose. However, they just output "dots" and not what tests they are at on mac and unix.

[2022-01-31 08:16] mloning commented on #1918
I now deleted the appveyor project, hope that fixes it.

[2022-01-31 10:55] fkiraly commented on #1918
Excellent, it does! Thanks!

[2022-01-31 10:55] #1918 closed

[2022-01-31 13:06] eenticott-shell commented on #1935
@fkiraly This shows the difference in output between the two types. As far as I am aware these should both produce the same result:

[code]

[2022-01-31 14:13] lmmentel commented on #1918
Thanks @mloning!

[2022-02-01 12:18] fkiraly opened #1971 "[BUG] sporadic failure in `HIVECOTEV2.fit`"
It seems that `HIVECOTEV2.fit` sporadically fails on the standard test cases.

From this run:
https://github.com/alan-turing-institute/sktime/runs/5018516510

Relevant piece of log is below.

[code]

[2022-02-02 03:45] k1m190r commented on #1760
Unable to reproduce the bug anymore. Apparently changes in 0.10.* have fixed this :) @Garrus990. Can you please upgrade to current and see if you still get an error.

[2022-02-02 08:42] ppias commented on #631
Hi @TonyBagnall, sorry for the poor communication. It turned out that the performance is not that good as expected, so now I will be working on some improvements. Will try to give some update in ~3months.

[2022-02-02 09:32] TonyBagnall commented on #631
hi @ppias no problem, happy to leave this open if it might pan out into something, thanks for working on it.

[2022-02-02 13:50] ltsaprounis commented on #1950
Not sure about the tag, but we should probably throw a `RuntimeWarning` or something similar if NaNs are returned due things like log(-10) etc.

[2022-02-02 22:34] fkiraly opened #1976 "[BUG] bug if `transform` is called twice with a lossy output conversion"
If `transform` is called twice, and the output conversion is lossy, the second `transform` call may error out under certain circumstances.

The reason is that the output `convert_to` of the first `transform` may write to the converter store (`self._converter_store_X`) and the first `convert_to` of the second `transform` may read from it.

This behaviour is erroneous, since the second `transform` c

[2022-02-03 08:58] fkiraly opened #1979 "[ENH] `clustering._base` could be called `clustering.base`"
Imports `from sktime.clustering.base` have ceased to work in 0.10.0 since `sktime.clustering.base._base` was moved to `sktime.clustering` without renaming `_base` to `base`.

This should not have happened without deprecation - it happened without any warning.
It is also inconsistent with all the other modules, where `sktime.modulename.base` has the base classes.

Hence, one of the two following th

[2022-02-03 11:49] khrapovs commented on #805
Here is the root cause of this bug:
[code]
Can somebody understand WTF is going on here???

[2022-02-03 12:03] khrapovs commented on #805
Same creepiness is happening in https://github.com/alan-turing-institute/sktime/issues/1935

[2022-02-03 12:03] khrapovs commented on #1935
Same creepiness is happening in https://github.com/alan-turing-institute/sktime/issues/805

[2022-02-03 12:52] fkiraly commented on #1979
(is this correct?, i.e., is this a bug?)

[2022-02-03 12:59] fkiraly commented on #805
The root cause seems to be a `pandas` bug, as identified in #1935.

[2022-02-03 13:00] fkiraly commented on #1935
Yes, this looks like a `pandas` bug. We should report it (or check whether it is already known) and link it here.
@eenticott-shell, have you done that, or would you prefer me to do it?

[2022-02-03 14:45] khrapovs commented on #805
With this little change https://github.com/alan-turing-institute/sktime/pull/1981 both of the examples in https://github.com/alan-turing-institute/sktime/issues/805#issuecomment-891848228 run as expected.

[2022-02-03 15:11] khrapovs commented on #805
Now it makes sense:
[code]

[2022-02-03 19:18] fkiraly commented on #805
yes, but a lot of other failures pop up... ☹️

[2022-02-04 09:54] TonyBagnall opened #1982 "[ENH] Make MSM distance measure work with multivariate data"
I think the current implementation works only with univariate problems. It would be good to adopt the approach used in the algorithm described here
https://arxiv.org/abs/2102.10231
then we can facilitate KNN and EE to have multivariate capability

[2022-02-04 10:11] TonyBagnall opened #1983 "[ENH] single problem loaders: what should the return format be (and how many)?"
this is for discussion really, if its not thought a good idea I will scrap it. Currently, the data loaders in _single_problem_loaders either return a pd.Series or a nested pd.DataFrame. I would like to change this so that they return the best data structure for the problem: for multiple instance problems (aka panel data), univariate equal length should return 2D numpy, multivariate equal length 3D

[2022-02-04 11:19] roumail opened #1984 "Applicable methods for times series classification and transformation for time series like `japanese_vowels`"
Hello,

First of all, I wanted to thank the maintainers for this great library. I just came to learn of it and have been absolutely blown away by the documentation and algorithms that are now accessible to people who aren't intimately familiar with this field..

I have been diving through your documentation for a use case of mine where I have a data structure matching japanese_vowels dataset, i.e,

[2022-02-04 11:30] roumail commented on #1984
Apologies but I have a follow up question as well regarding the unequal time series example. Imagine a dataset with n instances, t timepoints and d dimensions. Do we need to have equal time points per dimension or equal timepoints ACROSS dimensions?

Assuming n=50, t = 20, d = 5, we'd have data of shape `(50, 5, 20)` for the former case. However, for the latter, our `t` would depend on the dimensi

[2022-02-04 12:47] eenticott-shell commented on #1935
I have not yet reported it to `pandas` but I am happy to do this. I do believe we will be able to sidestep the bug without having to wait for `pandas` to fix it though.

[2022-02-04 15:35] shubhamkarande13 commented on #1447
Hi all!
I have gone through the first Forecasting notebook which is intended for people new to forecasting.
One suggestion for the notebooks; Is it possible to add a small definition or glossary section for easy reference of terms that a beginner like me would find difficult to understand?

For example: terms like _forecasting horizon_, _prediction intervals_ etc.

[2022-02-04 16:40] fkiraly opened #1985 "[DOC] update forecasting tutorial with new predict intervals/quantiles interface"
After the refactor PR add ref, we should update the forecasting tutorial

[2022-02-04 19:07] TonyBagnall commented on #1984
Hi and welcome! I'll respond in more detail next week, but really happy that you have found sktime :)

[2022-02-04 19:11] TonyBagnall commented on #1979
I don't think it's a bug, it's a design choice Chris made. I think it makes sense, as we use init everywhere else

[2022-02-04 19:17] TonyBagnall commented on #1971
Hmm, which input problem/ problem generator is this? Seems like an invalid data set size we should throw a bitter exception

[2022-02-04 19:19] fkiraly commented on #1984
Let me answer what I can:

Pipelines like this are definitely a priority focus. To which extent they are already possible with the various components we have in 0.10.0, @TonyBagnall can answer.

I suspect you my already be able to do this by pipelining the `PaddingTransformer` or `TruncationTranformer` with a multivariate classifier.

The `sktime` interface does *not* enforce equal time points per

[2022-02-04 19:20] TonyBagnall commented on #1971
@MatthewMiddlehurst any ideas?

[2022-02-04 19:23] TonyBagnall commented on #1971
I actually want option to set minimums (length and cases)  in base class, you cannot build hc2 on tiny data and there seems little value in building in edge case handling directly in classifiers. It's easy to do so I think

[2022-02-04 19:26] TonyBagnall commented on #1923
Ultimately I don't really mind, if you object we won't do it, but it seems a really odd block to me, clearly missing some nuance in your design. So do you want to strip ABC out of the code base?

[2022-02-04 19:39] fkiraly opened #1986 "[ENH] MAPE/sMAPE `symmetric` flag default should be switched"
Current parameter defaults of MAPE, MdAPE metric classes etc heavily frustrates user expectations, since the default parameter settings actually produce sMAPE and sMdAPE etc (as pe common definition) and not MAPE, MdAPE (as per common definition).

This should be switched around, so default invocation of MAPE metric classes indeed give MAPE (as commonly defined).

The switch is easy - just flip th

[2022-02-04 19:46] fkiraly commented on #1979
well, it's currently the only module whre the `BaseSthSth` is not in `module.base`.
It's not consistent with classification, for instance, which has a very similar base class and module design.

[2022-02-04 19:47] fkiraly commented on #1971
`min_n_timepoints` tag?

[2022-02-04 19:48] fkiraly commented on #1923
I'm actually in favour since it's elegant. I just don't want to miss an important problem this may cause, such as complicating the extender contract.

[2022-02-04 21:09] TonyBagnall commented on #1979
I changed classification to _base but it was part of a PR you blocked. Clustering is, by your definition, "experimental" [ref ABC discussions], so we I think this is fine unless you have anyone who has actually objected to it. If there are users wqho object, we could look at changing it, otherwise, it seems to me a good change to make our design more consistent.

[2022-02-05 11:04] TonyBagnall commented on #1923
I'm really confused now, you blocked my pr making classifier abstract but want it? I'll reopen the PR

[2022-02-05 11:16] TonyBagnall commented on #1971
I think a base class attribute is better than a tag

[2022-02-05 11:54] fkiraly commented on #1971
either sounds sensible to me (as long as it´s documented what it means)

[2022-02-05 12:14] fkiraly commented on #1845
@ishannangia001, FYI, 0.10.0 is now released which has the smoothing parameters. Enjoy!

[2022-02-05 13:49] chrisholder opened #1988 "[BUG] Clustering and distance docs"
**Describe the bug**

The docs for clustering are not appearing on the website.

**To Reproduce**

If you go on the website and search for any of the clustering implementations or distance based stuff (numba) nothing comes up.

**Expected behavior**

**Additional context**

The docs exist in the code but potentially I've forgot to enable something to make them show? Anyone got any idea?

**Version

[2022-02-05 14:42] aiwalter opened #1990 "[BUG] NaiveForecaster fails when sp>1 and fh is combination of in-sample and out-sample"
**Describe the bug**
Exception:
[code]
**To Reproduce**

[code]

**Expected behavior**

**Additional context**
Bug revealed in #1963 . Bug seems to exist for relative as well as absolute `fh`.

**Versions**
`main`

</details>

[2022-02-05 14:58] fkiraly commented on #1990
one more bug for the list "bugs that were not detected since only one parameter setting per estimator was tested". Working on upgrading the forecasting tests to avoid this in the future.

[2022-02-05 19:01] AidenRushbrooke opened #1991 "[BUG] Potential bug with TDE"
**Describe the bug**

Currently on line 916 of TDE, it attempts to call choice on self.random_state, which is defined as an int.

**To Reproduce**

I noticed this issue when running classification_experiments using TDE and the FingerMovements dataset.

**Additional context**

I think all thats missing is that check_random_state should be called first, then choice.

</details>

[2022-02-05 23:34] fkiraly opened #1994 "[BUG] scipy 1.8.0 breaks BoxCoxtransformer due to reliance on private interface (needs fixing/removal)"
`scipy 1.8.0` is just 2 minutes old and already breaks our CI/CD.

The issue seems to be with the import of `_boxcox_conf_interval` in `BoxCoxtransformer` which has changed.

Generally, it is a bad habit to interface private methods, we should not do this.

Also, it does not seem that the output of `_boxcox_conf_interval` is really used in the transformer? The easy way to address this is probably

[2022-02-05 23:40] fkiraly commented on #1994
seems very straightforward - good first issue.
(will unlabel in case someone picks this up)

[2022-02-06 09:56] fkiraly commented on #1979
Ah - in-principle, I would not mind, but we need to deprecate if we change public module names.

[2022-02-06 09:57] fkiraly commented on #1979
Valid point - on the README the status is given as experimental.

Let's have the discussion on what the base modules should be called.

[2022-02-06 10:00] fkiraly commented on #1923
Sorry for not being clear:
* I like the general idea and am quite supportive of it
* I think we need to clarify some open design questions before we can merge the concrete PR

This is not a contradiction! All I want is us avoiding waking up to a bad surprise because we did not think the design through.
I still consider some of my questions above open or not sufficiently answered.

E.g., how does t

[2022-02-06 14:35] Saransh-cpp commented on #1942
Hi, @fkiraly!

Can I work on this issue? I plan on implementing the functionality described in the docstring in the `ScipyDist` class.

[2022-02-06 14:49] fkiraly commented on #1983
I agree with the sentiment and original observation, that confusion may be caused by the current setting.

*However* I would argue that the resulting data type should be (a) a common format, and (b) always the same.

This is in line with recent discussion on "one output type" design.
Also, the user would be confused wny in one case they get a `pandas`, in another case they get `numpy3D`, if they c

[2022-02-06 15:21] fkiraly commented on #1942
sure, thanks! all yours.

[2022-02-06 15:22] fkiraly commented on #1366
as per the above, there was not an issue to start with due to permissive licensing (agpl-3.0).

Further, the code in question has left `sktime` in release 0.10.0, so this is resolved.

[2022-02-06 15:22] #1366 closed

[2022-02-06 16:07] fkiraly opened #1999 "[BUG] sporadic failure: `Prophet` failing `test_update_predict_predicted_index`"
`Prophet` seems to be sporadically crashing `test_update_predict_predicted_index`.
This is not a "normal" test failure, it seems to be workers crashing?

[code]

So far one crash on run
https://github.com/alan-turing-institute/sktime/runs/5083489689
(linux, python 3.8)

[2022-02-06 20:18] fkiraly opened #2001 "[BUG] `sp` parameter seems to have no effect in `MeanAbsoluteScaledError`"
From the below - the reported behaviour looks like a bug on `MeanAbsoluteScaledError`.
No exceptions are raised, but it would appear that the `sp` parameter does not influence the behaviour.
Expected behaviour should be as outlined below.

### Discussed in https://github.com/alan-turing-institute/sktime/discussions/1659

<div type='discussions-op-text'>

<sup>Originally posted by **dbolotov** Nove

[2022-02-06 20:50] fkiraly opened #2002 "[BUG] "used by" counter and dependency analysis not working"
The dependency analysis (of dependents) does not seem to be working properly.

The "dependency graph" feature is enabled, yet the "dependents" analysis shows 0 dependents.
See here for the relevant piece of GitHub documentation:
https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository

A year ago, we had 100s

[2022-02-06 22:03] #1976 closed

[2022-02-06 23:05] chicken-biryani commented on #1817
Hello.

I believe this issue has not been worked upon.

So can I work on it?

[2022-02-07 00:49] fkiraly opened #2012 "[MNT] removing `pytest-xdist` from CI/CD?"
It would seem that `pytest-xdist` is behind:
* the so far undiagnosed, major CI/CD issue https://github.com/alan-turing-institute/sktime/issues/1941 which caused us so much trouble after the CI/CD refactor, and days of work just to track down the test which it interacted with. See https://github.com/alan-turing-institute/sktime/pull/2004
* a newly emergent issue of random worker crashes after an i

[2022-02-07 00:53] fkiraly commented on #1999
mistaken attribution, the reason is not `Prophet`, but likely a consequence of the second problem described in #2012

[2022-02-07 00:53] #1999 closed

[2022-02-07 02:02] asmita-mukherjee commented on #1817
yes , please feel free to

On Mon, Feb 7, 2022 at 4:35 AM Shloka ***@***.***> wrote:

[2022-02-07 08:56] fkiraly commented on #1999
Based on #2003, the culprit seems to be `pytest-xdist`.

[2022-02-07 09:16] roumail commented on #1984
Thanks @fkiraly for pointing me towards PaddingTransformer. It seems I had missed it in the documentation and I might have gone ahead and implemented this myself :D This is probably a separate topic on it's own but with Padding transformer I see that we don't have the option of doing a "forward-fill".

Thanks for pointing me to the other resources - I'll give them a look and keep trying!

[2022-02-07 09:23] popcornn1 opened #2013 "[BUG] forecasting API docs page is broken"
**Describe the bug**

Hello,
In your API documentation (https://www.sktime.org/en/v0.10.0/api_reference/forecasting.html) there is no references for prophet, ARIMA and BATS/TBATS

![unknown](https://user-images.githubusercontent.com/89520785/152760511-00c6d7db-9114-4efb-9225-921ad5d45e89.png)

</details>

[2022-02-07 10:36] fkiraly commented on #2012
Issue on `pytest-xdist` here: https://github.com/pytest-dev/pytest-xdist/issues/756

[2022-02-07 17:40] fkiraly commented on #1150
resolved - `cython` is no longer a dependency since 0.10.0

[2022-02-07 17:40] #1150 closed

[2022-02-07 19:08] TonyBagnall opened #2017 "[DOC] fix broken "unix-like OS" link in docs"
update: with the below, this just needs to fix the broken link "Unix-like OS"

---

two things:
https://www.sktime.org/en/stable/installation.html#id17

the double use of install is wrong (at least on my machines), should be
conda install -c conda-forge pystan

and also the link to [`Unix-like OS`](https://www.sktime.org/en/stable/installation.html#id17) goes nowhere.

![image](https://user-images

[2022-02-07 19:14] lmmentel commented on #2017
The double `install` is already fixed https://www.sktime.org/en/latest/installation.html#id17

[2022-02-07 20:47] ltsaprounis commented on #1994
I find this video really relevant:
[James Powell: Because You Can Run, You Can't Hide: Some Musings on API Design | PyData London 2019](https://www.youtube.com/watch?v=S0AdB36WuAU)

[2022-02-07 20:51] ltsaprounis commented on #1990
In-sample for Naive should be the equivalent of a one-step forecasting horizon, no matter what the out of sample horizon is,  right?
i.e. *Yt = Yt-1* or *Yt = Yt-m* for seasonal.

[2022-02-07 22:13] fkiraly commented on #1990
yes, for the "last" strategy. Similar for the other strategies.

[2022-02-07 22:20] fkiraly opened #2019 "[DOC] adding dataset instructions not very comprehensive, and incorrect for new file extensions"
The "adding datasets" page is a bit brief/incomprehensible, and it also misses the `MANIFEST.in` for adding files with new extensions, see the discussion here in the PR.

This should be improved.

Current "adding datasets" documentation:
https://www.sktime.org/en/stable/developer_guide/add_dataset.html

[2022-02-07 22:25] freddyaboulton commented on #1654
Now that the compiled code is gone, we can create a platform agnostic wheel right? @fkiraly @lmmentel

[2022-02-08 09:17] #1991 closed

[2022-02-08 09:54] #1971 closed

[2022-02-08 10:48] ltsaprounis commented on #1986
I don't think it's a real bug. The issue is that default is `symmetric=True`. Have a look at the docs:
https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.performance_metrics.forecasting.MedianAbsolutePercentageError.html

This is not very intuitive. Users expect that MAPE is MAPE and not sMAPE...
e.g. Have a look at the forecasting metrics code here:
https://github.com/ltsaprouni

[2022-02-08 20:11] fkiraly opened #2026 "[BUG] MiniRocket does not comply with sklearn interface: modifies random_state in constructor"
`clone(MiniRocket)` errors out with the following:

[code]

since it modifies the parameter `random_state` in the constructor.

We should probably also have a test for this, or check why current tests do not catch this.

FYI @angus924.

[2022-02-08 22:19] fkiraly commented on #1986
ah, yes! Makes sense, @ltsaprounis.
It's not a bug since the implementation agrees with the specification.

But it is a quite heavy frustration of user expectations that, if you write `MeanAbsolutePercentageError()`, you do *not actually get the MAPE* as commonly defined.

I think we need to change the default to `True`, and that needs deprecation since it is part of the public interface.

I'll ch

[2022-02-08 23:50] fkiraly commented on #2012
Ok, the culprit might not `pytest-xdist`, but high memory usage interacting with `pytest-xdist`.

A hypothesis goes like this:
* historically, our test framework created a large, combinatorial number of combinations of fixtures to feed to the tests
* `pytest.mark.parametrize` passes these as-is, so these are mutable. In particular, estimators that are being fitted are mutated with the contents of

[2022-02-08 23:52] fkiraly opened #2030 "[ENH] memory profiling of pytest on CI/CD"
I think we should do memory profiling on pytest in our CI/CD.
See discussion in https://github.com/alan-turing-institute/sktime/issues/2012 why I suspect this may be helpful to diagnose problems and validate hypotheses on our CI/CD failures.

I attached "good first issue", since this may be easy for someone who knows how to do this already (while it may be difficult for someone who doesn't, such a

[2022-02-09 05:59] oguiza opened #2033 "[BUG] in colab, pip install sktime hangs after statsmodels download for `scipy=1.8.0`"
Update by @fkiraly: the issue seems to be resolved by the introduction of the upper bound `scipy<1.8.0` in `sktime` v0.10.1, as suspected. The bug is probably still there for `scipy 1.8.0`, and we should understand how to resolve it in order to relax the upper bound again.

---
**Describe the bug**

I've tried to pip install sktime in Google Colab but it hangs and installation doesn't complete

**

[2022-02-09 07:54] fkiraly commented on #2033
Thanks for reporting this, @oguiza!

Can you kindly let us know what exactly happens in colab?
I just started it, and for me it seems to hang after `statsmodels`.

[2022-02-09 08:53] fkiraly commented on #2033
`pip install sktime -v` should help diagnose it, but there´s a lot of output to go through...

[2022-02-09 09:05] oguiza commented on #2033
Same thing for me.
I reported it in the details section of the bug description.

[2022-02-09 14:27] #805 closed

[2022-02-09 14:27] #1435 closed

[2022-02-09 14:27] #1876 closed

[2022-02-09 14:27] #1935 closed

[2022-02-09 14:27] fkiraly commented on #805
This should be fixed by #1981.

[2022-02-09 14:27] fkiraly commented on #1935
This should be fixed by #1981.

[2022-02-09 14:27] fkiraly commented on #1435
This should be fixed by #1981.

[2022-02-09 14:28] fkiraly commented on #1876
This should be fixed by #1981.

[2022-02-09 15:00] tomshlomo commented on #1935
Amazing, thank you very much!
This fix is didn't get in 0.10 right?

[2022-02-09 15:11] k1m190r commented on #1289
On: Windows 10, python 3.7, 3.8, 3.9, current 0.10.

- [ x] Developer install: unable to reproduce
- [ ] Will do another check with "non developer setup".

[2022-02-09 15:50] ngupta23 commented on #1876
Thank you @fkiraly, @eenticott-shell and @khrapovs.
Is it possible to add this to an incremental release like 0.10.1 or similar. If not, what would be the estimated release data for this fix?

Thanks!

[2022-02-09 18:06] fkiraly commented on #1935
no, sorry.
Will be in the next release though - and you can test it on the dev version (that would be appreciated in case we overlooked somthing)

[2022-02-09 18:09] fkiraly opened #2038 "[BUG] report `pandas` anchor difference bug to `pandas` and follow up"
This fix https://github.com/alan-turing-institute/sktime/pull/1981
uncovered what looks like an underlying bug in `pandas`.

We ought to report it with a minimally reproducing example.

@eenticott-shell, @khrapovs, did one of you already report it?
Just checking, and whether you want to.

[2022-02-09 18:12] fkiraly commented on #2002
kindly fixed by GitHub support after I sent a support request.

[2022-02-09 18:12] #2002 closed

[2022-02-09 18:32] fkiraly commented on #1876
yes, we wanted to release 0.10.1 soon, due to scipy 0.18.0, e.g.,
https://github.com/alan-turing-institute/sktime/issues/1994
this will need some planning though, so possibly/probably mid-Feb

[2022-02-10 11:00] Saransh-cpp commented on #1947
@fkiraly, I think I might've found a fix for this. Can I take this up too? (I am still working on #2039 but this one will be a quick fix)

[2022-02-10 16:04] roumail opened #2040 "[BUG] ColumnWiseTransformer fails with `PaddingTransformer` and `Imputer` transformer on multivariate time series"
**Describe the bug**

ColumnWiseTransformer isn't playing well, either in a pipeline where I apply `PaddingTransformer` and `Imputer` sequentially, nor when I try to apply one of these transformers directly to the japanese vowels dataset.

**To Reproduce**

[code]

**Expected behavior**

A time series that is padded and imputed separately for each column of the multivariate time series

**Versions

[2022-02-10 16:06] roumail commented on #1984
Raised bug for issues I faced when trying to use `ColumnWiseTransformer` https://github.com/alan-turing-institute/sktime/issues/2040

Please let me know if this is something that could be something I can help with. I saw that we didn't have tests for ColumnWiseTransformer or maybe I can add documentation.. It would be my first open source contribution so might have some questions :)

[2022-02-10 16:34] aiwalter commented on #2040
`PaddingTransformer` is a `panel `tranformer, therefore it seems not to work. `ColumnwiseTransformer` needs a `series `transformer. You can recognize them by means of the import path.

[2022-02-10 22:38] fkiraly commented on #2040
@aiwalter, with the new transformer interface, all transformers should accept both series and panel.

I suspect what is going on is that `Pipeline` is a scikit-learn transformer and does not have `sktime` methods.
We probably want to create our own transformer pipeline to ensure it is interface compliant? (which currently does not exist)

[2022-02-11 08:38] roumail commented on #2040
Okay, given that PaddingTransformer is a panel transformer, I removed the sklearn Pipeline and now the usecase works

[code]
I guess the mistake from my side was a lack of understanding for the PanelTransformer. It works columnwise by default whereas I was expecting it to work on series and therefore tried wrapping it in a pipeline of columnwise Transformers

[2022-02-11 08:52] roumail commented on #2040
I'm happy to close the issue since it was incorrect usage of the methods..

[2022-02-11 09:11] roumail commented on #1984
Sorry but can you please share an example of how to pass "capability:unqual_length" as the argument for filter_tags? The docstring for the argument `filter_tags` to `all_estimators` isn't super clear to me. I've tried messing around with `from sktime.registry._tags import ESTIMATOR_TAG_REGISTER` but it's not super obvious..

The link [above](https://www.sktime.org/en/stable/estimator_overview.html

[2022-02-11 11:04] #1933 closed

[2022-02-11 11:16] fkiraly opened #2043 "[ENH] file format specification for ts and tsf"
We should have file format specifications for the `ts` and `tsf` files used in `sktime`.

The speifications can be linked (if exist elsewhere), or part of `sktime`.

Update:
from #3303, there seem to be inconsistencies in the code in referencing `@classlabels` vs `@class_labels`, and `@equallength` vs `@equalLength`.

[2022-02-11 13:39] fkiraly opened #2044 "[ENH] refactor `get_time_index` for hierarchical forecasting"
For hierarchical forecasting, we need to be able to update the `cutoff` in `BaseForecaster` based on `Panel` and `Hierarchical` inputs. The current `cutoff` update logic only deals with the case of `Series`.

For this, the idea to use `get_time_index` or a similar function, and replace the current `cutoff` update logic with a downwards compatible utility.

That utility should be designed and imple

[2022-02-11 14:18] fkiraly commented on #2040
yes - the original issue was "not a bug", as it seems.

Though, still, it has highlighted an issue with compatibility of pipelines - which is a different one, but it's given me food for thought. E.g., what if you want to pipeline transformers, and *then* use the resulting transformer in another `sktime` estimator? That may crash for estimators that try to address `sktime` specific interface points

[2022-02-11 14:18] #2040 closed

[2022-02-11 14:26] fkiraly commented on #1686
From discussion around https://github.com/alan-turing-institute/sktime/pull/1870, I think we've identified the key points:

* input checks, input validation
* input & output conversion, `convert_to`, etc
* index access: setting cutoff, reading cutoff from data (`get_time_index`), updating cutoff
* vectorization (if applicable)

Are these all, @ltsaprounis, @danbartl?

#1818 should ultimatly deal w

[2022-02-11 14:26] #1686 closed

[2022-02-11 15:10] fkiraly commented on #1290
hm, the problem might be that it has to be fixed upstream in timeseriesclassification.com if we don't do reindexing.

Since this does not seem to happen on a realistic time scale, I'd reverse my opinion and think that re-indexing is fine to make indices unique, for now.

Then, once timeseriesclassification.com fixes this, we can still change the loader.

[2022-02-11 18:16] TonyBagnall commented on #1983
its not the same function though, it is a problem specific function and they are already polymorphic in return type. Some return pd.Series, some pd.DataFrame. I am in favour of encouraging numpy arrays where ever possible. I dont want to use pd-multiindex.

[2022-02-11 18:18] TonyBagnall commented on #1983
I have conceded the polymorphic return types for load_ts, despite wanting it quite a lot. However, load_gunpoint, for example, should return a 2d numpy array, as that is the best container for the data. Why would anyone be confused by that? They can pass it to a classifier. It seems much more confusing to return some obscure nested data frame or a pd-multiindex. Everyone knows numpy

[2022-02-11 19:08] chicken-biryani commented on #2019
Hey, can I work on this?

[2022-02-11 20:48] fkiraly commented on #2019
Sure, @chicken-biryani!
I would also advise you also link up with @rakshitha123, who recently tried to add a new dataset - she should have direct experience with trying to make use the docs, so might be able to advise how to improve them.

[2022-02-11 21:00] #1990 closed

[2022-02-11 21:11] #1947 closed

[2022-02-11 21:32] rakshitha123 commented on #2019
We need to follow the steps available at https://www.sktime.org/en/stable/developer_guide/add_dataset.html to add a new dataset.

In particular, if the dataset has a new extension which has not been previously used in the sktime context, then the extension needs to be added to MANIFEST.in.

[2022-02-12 09:17] TonyBagnall opened #2049 "[ENH] Address deprecated references in datatypes module"
I get this future warnings, mildly annoying and probably easy to fix? @fkiraly

![image](https://user-images.githubusercontent.com/9594042/153705329-cccdd0ee-cdf8-48fc-9495-b5fe300294b9.png)

[2022-02-12 11:52] fkiraly opened #2053 "Overview issue for test framework related PR"
This is an overview of the various PRs related to the class refactor, and trying to address the memory issues.

There are two concerns:
* A: moving tests to classes, so they can be reused easily, e.g., in other packages
* B: addressing the memory issue

Concern A, moving to classes, is addressed by:
* introduction of test classes in `test_all_estimators`, this is a simple move from loose functions

[2022-02-12 22:36] aiwalter opened #2059 "[ENH] Adding DynamicFactor from statsmodels as a forecaster"
**Is your feature request related to a problem? Please describe.**
Adding `DynamicFactor` from `statsmodels` as a forecaster.

https://www.statsmodels.org/devel/generated/statsmodels.tsa.statespace.dynamic_factor.DynamicFactor.html
**Describe the solution you'd like**
Using the class `_StatsModelsAdapter ` to add this forecaster, should be straight forward and equivalent to other forecasters that

[2022-02-13 18:32] aiwalter opened #2062 "[ENH] GitHub Actions: cancel old but running workflows of a PR when pushing again"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
E.g. use this:
https://github.com/marketplace/actions/cancel-workflow-action

[2022-02-13 18:35] RishiKumarRay commented on #2062
@aiwalter can you describe this issue?

[2022-02-13 18:41] RishiKumarRay commented on #2062
@aiwalter
- name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
can i raise a PR for this? adding the above action

[2022-02-13 18:53] aiwalter commented on #2062
@RishiKumarRay yes would be appreciated

[2022-02-13 19:10] RishiKumarRay commented on #2062
@aiwalter please review #2063

[2022-02-13 22:56] fkiraly opened #2064 "[BUG] `SFA` transformer does not comply with transformer interface since it returns unsupported format, list of dict"
Discovered in refactoring the transformers to the new interface. Updated after discussion below.

It would appear that the `SFA` does not comply with any `sktime` transformer interface, because `transform` returns a list of dictionaries.

Based on discussion with @MatthewMiddlehurst, @patrickzib (below and on slack), the list of dict can be read as a table, with list index = row index and key = co

[2022-02-13 23:02] MatthewMiddlehurst commented on #2064
The SFA transformer was one of the first things I contributed to the package, it has been in the package in this state for years at this point.

I brought this up in the refactor PR, but it was not addressed.

[2022-02-13 23:04] fkiraly commented on #2064
ah, which PR is that?

[2022-02-13 23:05] fkiraly commented on #2064
also, can you esplain why all the tests were passing? The `SFA` transformer is non-compliant, was not excepted from tests, and also did not raise any test breaks - I don't quite understand that.

[2022-02-13 23:08] fkiraly commented on #2064
ok, so do I understand that this is really old legacy code then, before transformers had a consolidated interface?
If it is useful to have dict returns from transformers, should that be another return type?

[2022-02-13 23:08] MatthewMiddlehurst commented on #2064
https://github.com/alan-turing-institute/sktime/pull/1365

We provide an option to return a dataframe instead, which is used for tests. This is not the ideal output datatype, however. The output is very sparse, so dictionaries are ideal.

[2022-02-13 23:10] MatthewMiddlehurst commented on #2064
There are 200 comments in that PR so it was probably just washed away in the tide of feedback, but having a return types for dictionaries or a similar structure would be nice.

[2022-02-13 23:21] MatthewMiddlehurst commented on #2064
The issue with the transformer's output is that there are possibly hundreds of thousands of potential attributes depending on the parameters, of which only a few will have non-0 values for each series.

You could return a dataframe containing only that attributes which appear for all cases, which the previously mentioned option does, but then it becomes very difficult to compare two sets of data s

[2022-02-14 01:30] kejsitake commented on #1290
The same problem seems to be occurring in load_basic_motions too.

[2022-02-14 07:24] patrickzib commented on #2064
And as far as I remember, the code became very slow when constantly converting between dicts and DataFrames. A dict as an input to a DataFrame will essentially create a single column for each entry in the dict. Given that the Bag of Patterns representatio has potentially thousands of words this was way too slow.

[2022-02-15 10:06] khrapovs opened #2066 "[BUG] Sporadic test failure in `test_plotting`, of `_tkinter.TclError` on Windows, Python 3.7 CI/CD"
**Describe the bug**

Some tests sometimes fail. Here are a few lines from the latest failure (https://github.com/alan-turing-institute/sktime/runs/5180703321?check_suite_focus=true)
[code]

**To Reproduce**

Does not seem possible to reproduce.

**Expected behavior**

CI/CD pipeline passes.

**Versions**
<details>

[code]
</details>

[2022-02-15 10:52] #2062 closed

[2022-02-15 12:06] fkiraly commented on #2066
This is the start of it.
Plotting related?

[code]

[2022-02-15 12:56] khrapovs commented on #2038
@fkiraly @eenticott-shell here you go: https://github.com/pandas-dev/pandas/issues/45999

[2022-02-15 13:03] ZhuFanCheng opened #2068 "[BUG] no module named sktime.forecasting"
**Describe the bug**

Can't import anything from sktime.forecasting, get "no module named ..." error

**To Reproduce**

from sktime.forecasting.exp_smoothing import ExponentialSmoothing

[code]

**Expected behavior**

Expect to be able to import the library

**Additional context**

working in python 3.8.12

**Versions**
<details>

Please run the following code snippet and paste the output here:

"

[2022-02-15 13:05] aiwalter commented on #2068
which version is this? how did you install `sktime`?

[2022-02-15 13:17] ZhuFanCheng commented on #2068
I pip-installed sktime. You mean version of what?

[2022-02-15 13:24] aiwalter commented on #2068
version of sktime that you installed, I guess then its most recent one from PyPI

[2022-02-15 13:31] fkiraly commented on #2068
I cannot reproduce this on 0.10.0, windows, python 3.8.
Import works for me.

[2022-02-15 16:39] #782 closed

[2022-02-15 18:40] fkiraly opened #2072 "[BUG] `WindowSummarizer._transform` has side effects on multivariate arguments"
The recently merged `WindowSummarizer` apparently has side effects on the `X` argument of `_transform` when it is a `pandas.DataFrame`, see this run:
https://github.com/alan-turing-institute/sktime/runs/5204384690

This was discovered when `main` was merged into the transformers refactor #1854, which introduces a test suite with a larger set of test cases.
The current tests do not discover the bug

[2022-02-15 20:27] aiwalter commented on #2072
also I have just seen the attribute `truncate_start` should be named `truncate_start_`. No deprecation process needed if we do this before next release

[2022-02-15 21:50] fkiraly commented on #2068
hm, this sounds like a faulty environment or incomplete installation.
You could join one of the community sessions on Friday (8am or 1pm UTC) and we could do some troubleshoot by screenshare.

[2022-02-15 22:48] fkiraly opened #2073 "[DOC] write proper docstrings for `tsfresh` interface estimators"
The two `tsfresh` interfaces do not have proper docstrings, these should be written. The estimators in question are:
- [ ] `TSFreshFeatureExtractor`, and
- [ ] `TSFreshRelevantFeatureExtractor`.

The docstring should point to the methods in `tsfresh` interfaced, and can translate the parameters 1:1 from `tsfresh` docstrings.
For `TSFreshRelevantFeatureExtractor`, the method of identifying relevant

[2022-02-16 07:50] ishannangia001 commented on #1845
Thanks so much for this quick update ! Helps tons @fkiraly

[2022-02-16 09:54] TonyBagnall commented on #460
hi, in the refactor and error is thrown if y is not one dimensional. There are no medium term plans to make classifiers compatible for multi-label classification, so given little activity  on this, I will close this issue

[2022-02-16 09:54] #460 closed

[2022-02-16 10:25] claudia-hm opened #2075 "[BUG] AutoARIMA outputs flat predictions for close to zero data"
AutoARIMA is returning constant predictions when data is too small., i.e., close to zero.

Initially, I generated a linear trendy time series with slope 0.5 and intercept 100, plus some noise.
[code]
To obtain forecasts with AutoARIMA I used the following code:
[code]
which gave me the following prediction:
![image](https://user-images.githubusercontent.com/59530433/154240932-bcf7b324-7ac3-457b-8d

[2022-02-16 12:26] Garrus990 commented on #1760
I was checking in the version 0.10.0 and the error is no more. Let me close then the issue :)

[2022-02-16 12:26] #1760 closed

[2022-02-16 14:43] khrapovs commented on #2038
This bug seem to be fixed: https://github.com/pandas-dev/pandas/pull/46006

[2022-02-16 15:17] gchhablani commented on #2049
Hi @fkiraly,
Can I pick this up?

[2022-02-16 16:30] fkiraly commented on #2075
@claudia-hm, this might be a "numerical accuracy" issue with `AutoARIMA` from `pmdarima`, which `sktime` directly interfaces (with a "nicer" since uniform interface).

My suspicion would be that there is some arithmetic happening where small numbers are getting added to large numbers, then the same large number is subtracted, or similar, so the small number becomes numerically zero.

Have you trie

[2022-02-16 16:31] fkiraly commented on #2038
alright, let's see what happens.

[2022-02-16 16:47] fkiraly commented on #2064
ok, @MatthewMiddlehurst, @patrickzib, I updated the issue description at the top with the result of our discussions, have a look whether that captures it correctly.

[2022-02-16 18:59] fkiraly commented on #1447
Great idea, @shubhamkarande13!

There is already a glossary in the sktime docs, but it´s a bit incomplete
https://www.sktime.org/en/latest/glossary.html
and non-formal.

I was working on a sci reference, but got sidetracked by maintenance efforts.

[2022-02-16 21:32] fkiraly opened #2077 "[DOC] add clustering module to sphinx documentation"
The clustering module is probably mature enough to have proper API documentation.

It should be added to the sphinx docs, mirroring the documentation of the other modules.

FYI @chrisholder

[2022-02-16 21:33] #2026 closed

[2022-02-16 23:52] MatthewMiddlehurst commented on #2064
Good description of the issue and surrounding discussions.

[2022-02-17 11:52] claudia-hm commented on #2075
Hello @fkiraly,

I've just tried an equivalent code with ```pmdarima``` and yes, I obtain the same behavior.
[code]
![image](https://user-images.githubusercontent.com/59530433/154475232-47553196-74f5-490b-b669-ffb6927defa5.png)

I coincide that it has to be some kind of numerical issue. However, maybe there should be some kind of tolerance value that could prevent this behavior. I'll open an issue

[2022-02-17 12:33] dirknbr opened #2078 "[BUG] TransformedTargetForecaster window error"
I have a series of length 100 and I want to detrend and then forecast using LGBM, I get this error

My window_length grid is [7, ..., 35] and I use 70% for training, ie n = 70.

When I do it without the detrender it works.

[code]

[2022-02-17 14:19] aiwalter commented on #2078
Hi @dirknbr , can you pls provide a reproducible code example?

[2022-02-17 16:51] aiwalter commented on #2075
@claudia-hm pls link issue here

[2022-02-17 17:18] freddyaboulton opened #2079 "[ENH] Support Python 3.10"
**Is your feature request related to a problem? Please describe.**
sktime cannot be installed in python 3.10 because the [pyproject.toml](https://github.com/alan-turing-institute/sktime/blob/main/pyproject.toml#L44) file lists python<3.10 as a dependency.

**Describe the solution you'd like**
We should let users install sktime in python 3.10.

Related issue: https://github.com/alkaline-ml/pmdarima

[2022-02-17 17:42] aiwalter commented on #2079
But then we need an Actions workflow for it as well. Jus removing the threshold is a bit risky

[2022-02-17 17:45] freddyaboulton commented on #2079
Absolutely. This issue tracks all the work necessary to support python 3.10. I agree regularly testing the code in python version 3.10 is a requirement for that.

[2022-02-17 18:25] fkiraly commented on #2075
Probably. Although, the purpose of the class `AutoARIMA` is to directly interface `pmdarima`.
So whatever `pmdarima` outputs, whether it's very sensible or garbage, will be returned.

Based on your finding that it's the same in `pmdarima`, I'd assume it's an oversight in `pmdarima`, so the best way would be to have it fixed there. Issue link appreciated.

[2022-02-18 09:51] dirknbr commented on #2078
here is the example

[code]

[2022-02-18 10:15] claudia-hm commented on #2075
Great.

You can find the ```pmdarima``` issue here: https://github.com/alkaline-ml/pmdarima/issues/480

[2022-02-18 11:35] fkiraly commented on #2075
Excellent! let's see what they say, I'm curious...

[2022-02-18 12:08] k1m190r commented on #1597
I'm looking at this...

[2022-02-18 16:38] fkiraly opened #2087 "[ENH] `predict_proba` prototype with tensorflow_probability"
Experimental prototype for `predict_proba` default for probability distribution return.

This should include:
* mechanics on how to handle soft dependency *within* individual estimators
* design of sensible default behaviour
* possibly, compatible loss functions to showcase interaction with evaluation/scoring

[2022-02-18 16:45] fkiraly opened #2088 "[ENH] Ensure or add probabilistic prediction functionality in key compositions (tuning, pipelines ensembles, ...)"

[2022-02-18 17:05] aiwalter opened #2089 "[ENH] Create test for compositions to check that all arguments of methods fit, predict, transform, inverse_transform are given to inner object"
**Is your feature request related to a problem? Please describe.**
Related issue: #2083 , we need a test to avoid silent bugs like this.

**Describe the solution you'd like**
Use a mock forecaster/classifier/transformer to track if all args where given to it when using a composition. We could eiterh us `_X` and `_y` to read from it or compare the output, e.g. `predict()` of the mock forecaster sho

[2022-02-18 20:50] ltsaprounis commented on #2078
@dirknbr you need to reach the parameter `window_length` inside the forecaster.
To do this you need to remove `window_length=7` from `make_reduction` and use the double underscore syntax with the pipeline step name as a prefix. In this case `param_grid = {"forecast__window_length": length}`.

This code should work now:
*(replaced lightgbm with Random forest cause I don't have lgbm installed...)*
[

[2022-02-19 00:24] fkiraly commented on #2088
I thought about this and have no 100% answer. My trouble is that in the univariate case, for common user journeys, there are no column names - e.g., if the input is a `pd.Series`. If the column is then called "0", it might be confusing for users.

Do you have any good suggestions?

[2022-02-19 05:15] kejsitake commented on #2088
I see how it could be confusing in the univariate case if there is no column names. But i wonder if it is difficult in the multivariate case to know which column belongs to which feature. I wonder if it it bad design to use the names of features only on the multivariate case, even though this would complicate the tests?

[2022-02-19 10:48] fkiraly opened #2091 "[ENH] Create mock estimators for use in testing"
"good first issue" for those with good experience in testing.

A useful type of class to have for testing would be mock estimators.

What should such a mock class do?
* behave like an estimator of a specific kind, e.g., forecaster, or classifier - returns correct outputs for given inputs. Bonus if it can cover many independent tag settings, although for the start we may be happy with just a few (e

[2022-02-19 14:57] ltsaprounis commented on #2091
Not really a mock but, a while back I implemented a `ConstantValueForecaster` where the predictions are all a single number that is a parameter of the forecaster. Did it to illustrate the values that optimise different metrics here:
https://github.com/ltsaprounis/dsf-ts-forecasting/blob/main/notebooks/02-forecasting-metrics.ipynb

Can easily add it here if you think it's valuable. Code is here:
ht

[2022-02-19 16:30] fkiraly commented on #2091
yes, @ltsaprounis!
The easiest way to create a mock class is probably to take a very simple estimator and add the logging/reporting functionality.

[2022-02-19 21:31] kejsitake commented on #2088
I looked into documentation to come up with a list of multivariate forecasters where predict_interval still needs to be refactored and came up with the following:

- [ ] MultiplexForecaster
- [ ] EnsembleForecaster
- [ ] TransformedTargetForecaster
- [ ] BaseGridSearch
- [ ] ColumnEnsembleForecaster https://github.com/alan-turing-institute/sktime/pull/2081

I am a little bit unsure about the Reduc

[2022-02-20 15:54] fkiraly commented on #2088
Hm, that seems like an oversight - although I'm not sure off the top of my head which value would be correct.

[2022-02-20 15:56] fkiraly commented on #2088
Thanks! I added that list to the issue description.

[2022-02-20 15:58] fkiraly commented on #2088
I've been thinking about this, perhaps a `RangeIndex` for columns is the best solution? That would keep '0', but not as a string.

I lean this direction now since I've been running into case distinctions in the `predict_etc` defaults, and I also noticed, what do we do if there is a variable called `"Coverage"` or `"Quantiles"` etc? That would spell the same trouble as the `"ds"` reserved variable

[2022-02-20 15:59] fkiraly commented on #2088
Is `ForecastingPipeline` missing?

[2022-02-20 18:19] lmmentel commented on #2079
I bumped the python version in `pyproject.toml` and updated the GH actions but  the current version of `pystan` does not compile under python 3.10.2 :(

[2022-02-20 18:25] lmmentel commented on #2079
Prophet still depends on [pystan~=2.19.1.1](https://github.com/facebook/prophet/blob/main/python/requirements.txt) so this is blocked until:

- prophet bumps the pystan version that *might* compile against the python 3.10
- we figure out a way of compiling pystan against python 3.10
- we find a way of running a test suite without prophet

There might be some alternative solutions as well.

[2022-02-20 18:33] freddyaboulton commented on #2079
@lmmentel thanks for looking into this!

I like the third option you propose. We can add a “skip_if_py310” marker that will automatically skip (or xfail) a test if it’s running in python 3.10 and use that to mark the prophet tests. pmdarima will support 3.10 in the next release so we can use the same marker to skip those tests until then.

I like that because prophet is not a required dependency s

[2022-02-20 19:10] lmmentel commented on #2079
OK, I think I should've been a bit clearer. Running tests is not a concern at this point since the previous step which installs `sktime` with `all_extras` fails when compiling `pystan` on python 3.10. Without being able to install the package we won't be able to test.

[2022-02-20 19:36] freddyaboulton commented on #2079
Can we use a python_version < 3.10 environment marker on pystan/prophet in the toml file so that they’re not installed when installing all_extras?

[2022-02-20 19:45] lmmentel commented on #2079
I haven't seen that feature. Essentially it would mean different sets of dependencies for different python, not only the versions of dependencies but also the actual dependency items. Even if we were to somehow make it happen it might prove problematic to actually install the package.

I would probably be closer to dropping `prophet` or isolating it into a dependency group but then we would have t

[2022-02-20 20:04] freddyaboulton commented on #2079
Here is an example of using environment markers. You put “, python_version < 3.10” after the dependency: https://www.python.org/dev/peps/pep-0631/#example

Yea I agree there would be some complexity with selectively skipping tests for prophet but it’s possible with pytest markers and I’ve seen that work well in the past.

[2022-02-20 20:35] lmmentel commented on #2079
Thanks for the example @freddyaboulton, very helpful. I added the skip for prophet, pystan and esig. Obviously at this stage a lot the tests will break because of import errors.

[2022-02-20 22:44] fkiraly opened #2106 "[ENH] broken links check in CI/CD?"
We've occasionally had the odd broken link from README or other entry points, see e.g., https://github.com/alan-turing-institute/sktime/pull/2104 for a recent example.

Is there such a thing as an easy CI/CD element which checks for links to be alive and fails when one link is dead?

"good first issue" for anyone who would know the answer...

[2022-02-20 22:47] fkiraly commented on #2079
We can do that easily if someone would finally be willing to review my test framework improvements 😁
https://github.com/alan-turing-institute/sktime/pull/2023

[2022-02-21 00:19] mikofski commented on #2106
there is a [link checker in the GitHub marketplace](https://github.com/marketplace/actions/markup-link-checker-mlc) called [MLC](https://github.com/becheran/mlc). I found that and some other options by [Googling](https://www.google.com/search?q=broken+link+checker+continuous+integration), but _caveat_ I have never used any of these

[2022-02-21 01:44] fkiraly opened #2109 "[ENH] Testing for probabilistic forecasting"
A number of things should be done in testing probabilistic forecasting capabilities:
- [x] we should add arguments to `predict_interval` and `predict_coverage` to scenarios, and turn on tests in `test_all_estimators` by adding these to `NON_STATE_CHANGING_METHODS`. To make one´s life easy, arguments for both methods could default to the same argument set, like in https://github.com/alan-turing-ins

[2022-02-21 01:45] fkiraly commented on #2106
thanks for the pointers, @mikofski!

[2022-02-21 16:15] IFV opened #2111 "[BUG] StackingForecaster (forecaster error)"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

System:
    python: 3.9.7 (default, Sep 16 2021, 13:09:58)  [GCC 7.5.0]
executable: /home/...
   machine: Linux-5.4.0-70-generic-x86_64-with-glibc2.31

Python dependencies:
          pip: 21.2.4
   setuptools: 58.0.4
      sklearn: 1.0.2
       sktime: 0.10.0
  statsmo

[2022-02-22 15:02] fkiraly commented on #2111
@IFV, this is not a bug - the forecasters passed to the `StackingForecaster` need to be forecasters, i.e., following the `sktime` `BaseForecaster` interface.

If you want to use `sklearn` regressors, that is possible - you just need to say *how* you want to use them as regressors, since there are multiple ways. The most direct way would be to use `make_reduction` and specify a reduction algorithm

[2022-02-22 23:14] fkiraly commented on #2033
@oguiza, `sktime` should run again in colab in v0.10.1.
We haven't tracked down the root cause or its location, but the upper bound on `statsmodels` seems to have done the trick.

[2022-02-23 01:38] fkiraly opened #2116 "[ENH] grid/random search tuning for time series classification"
We should ensure one of two things:
* that grid/random search tuning is straighforward for TSC with `sklearn` and onboard tools.
* that a grid/random search tuning wrapper is written for TSC, similar to `ForecastingGridSearch`

In either case, this should be added to the TSC tutorial.

@TonyBagnall, @MatthewMiddlehurst, @ABostrom, @chrisholder, am I right in assuming this does not exist yet?
If it

[2022-02-23 01:41] fkiraly opened #2117 "[BUG] `PolynomialTrendForecaster` use causes error: "found array with dim 3. Estimator expected <= 2? Use forecaster = PolynomialTrendForecaster(degree=1)""
### Discussed in https://github.com/alan-turing-institute/sktime/discussions/832

<div type='discussions-op-text'>

<sup>Originally posted by **ljf20122010** April 21, 2021</sup>
I Use
**forecaster = PolynomialTrendForecaster(degree=1)  ,**
and my y_trian is 1dim(**y_train_ndim=1**)
so why report Found array with dim 3. Estimator expected <= 2?
this is my code:

#-------------------Fitting an Auto

[2022-02-23 01:41] fkiraly commented on #2117
MRE by @hagen42:

Hey, I've got the same error.
At the line with _forecaster.fit(y)_ occurs following error: **Found array with dim 3. Estimator expected <= 2.**
I reproduced this error with the sktime dataset "airline". Following an example to reproduce:

[code]

[2022-02-23 01:41] fkiraly commented on #2117
(I suspect the example is not minimal and it's coming from the `PolynomialTrendForecaster`.)

[2022-02-23 02:16] jmwhyte commented on #2116
@fkiraly @TonyBagnall @MatthewMiddlehurst @ABostrom @chrisholder I will be very happy to have pointers, and ideally, a clear tutorial on the hyper-parameter tuning and cross-validation tasks in TSC.

[2022-02-23 09:11] claudia-hm commented on #1447
Hello!
I've just gone through the [Loading and working with data in sktime](https://www.sktime.org/en/stable/examples/loading_data.html) tutorial and I thought that I could provide some feedback. In overall, the tutorial is easy-to read and provides many examples of transforming time series datasets to different typical formats. Some comments:
* All examples have integer time-index, and very often

[2022-02-23 09:37] fkiraly opened #2118 "[BUG] `_predict_moving_cutoff` generates length 0 series `y`"
In the tests, `_predict_moving_cutoff` generates length 0 series `y`.

This causes problems with @GuzalBulatova's work on the theta forecaster, and it also appears as a problem in this test run:
https://github.com/alan-turing-institute/sktime/runs/5297234058
where, naively, it was assumed in application of `get_cutoff` that `fit`/`update` is never invoked with a length 0 series.

Unsure what is go

[2022-02-23 09:55] fkiraly commented on #1984
Yes, known issue with the estimator overview, we want to improve that:
https://github.com/alan-turing-institute/sktime/issues/1930

[code]

should print the table you want.
... and, apparently, it prints an empty table! That would mean none of the "component" estimators can deal with unequal length. I.e., the only way would when using `sktime` onboard components would be to pipeline it with sth li

[2022-02-23 09:57] fkiraly commented on #1622
@Dwarak-PCI, we have a `WindowSummarizer` in v0.10.1 now, design based on this and earlier discussion.
Does that give you, partially, what you were looking for?

[2022-02-23 10:27] TonyBagnall commented on #1983
but that already happens! Some loaders return Series, some DataFrames, which are not the same data structure. If you understand what the data represents, which you really should if you are loading it, you understand the differences. However, I am not willing to argue this again, I will just gibve it as an option and default to DataFrame. Is that acceptable?

[2022-02-23 11:18] MatthewMiddlehurst commented on #2116
Ideally, they should just work with the sklearn functions? There isn't any fundamental difference between cross-validating/tuning time series data and regular data.

Are there any cases where this does not work currently that you are aware of? We use this sklearn function fine when running our experiments.

`train_probs = cross_val_predict(classifier, X_train, y=y_train, cv=cv_size, method="predic

[2022-02-23 11:19] MatthewMiddlehurst commented on #2116
There is still a classification notebook.

https://github.com/alan-turing-institute/sktime/blob/main/examples/02_classification.ipynb

[2022-02-23 12:03] kifbell opened #2120 "[BUG] `AutoARIMA.predict` fails on `np.ndarray` `fh` argument"
Hello!

I use sktime.forecasting.arima.AutoARIMA to fit and predict time series
(the model is already fitted )

However, when  want to pass my **np.array** of points as fh argument of  sktime.forecasting.arima.AutoARIMA.predict, it says
AttributeError: The `freq` attribute of the time index is required, but found: None. Please specify the `freq` argument when setting the time index.

I've tried to

[2022-02-23 13:08] oguiza commented on #2033
Thanks for the info @fkiraly. I've tested it too and it's resolved.

[2022-02-23 14:39] eenticott-shell commented on #670
This is fixed. See #1981 and #1830 .

[2022-02-23 15:21] tpvasconcelos commented on #670
@eenticott-shell shall we close this then?

[2022-02-23 15:51] TonyBagnall commented on #2116
all classifiers should work with scikit cross validation, although admittedly I have not fully tested this. I  plan to greatly expand the classification notebook in due course, but I can add a section on this sooner than the whole thing. Structurally, it will be identical to scikit learn, but it would be good to present what parameters there are for each algorithm.

[2022-02-23 15:53] shubhamkarande13 commented on #1447
@fkiraly I would like to contribute by adding relevant terms to the glossary and learn in the process! Please let me know how we can move forward!

[2022-02-23 15:53] TonyBagnall commented on #2116
dont really see the need for a wrapper, unless you mean a TunedClassifier wrapper such as that we use in tsml https://github.com/uea-machine-learning/tsml/blob/master/src/main/java/machine_learning/classifiers/tuned/TunedClassifier.java

[2022-02-23 16:36] ciaran-g opened #2123 "[DOC] - Feedback on forecasting tutorials"
#### Describe the issue linked to the documentation

Hi - Just posting some feedback on the two forecasting tutorials linked to issue #1447

Overall I think both of the tutorials are great, I just a have a few minor suggestions for improvements and thoughts I had while reading.

For `01_forecasting`
- My first impression is that there is a lot of detail, and although the detail is very useful, for

[2022-02-23 17:09] aiwalter commented on #2078
@dirknbr closing this now, feel free to reopen if required.

[2022-02-23 17:09] #2078 closed

[2022-02-23 21:16] fkiraly commented on #2033
welllllll - not entirely resolved. The problem is probably still there if you remove the `scipy<1.8.0` bound, and the reason for that is not entirely inderstood. I'll re-open this issue since we need to ensure that we don't have the problem with `scipy 1.8.0` and higher.

[2022-02-23 21:20] fkiraly commented on #2116
Are we absolutely certain you can use `sklearn` grid search with `sktime` time series classifiers, and it doesn't jumble the different series together into train/test set?

I'd consider the minimum solution to this a section in the classifier notebook that shows how to do this properly, otherwise users will not know how to do it.

For instance, I also couldn't tell anyone how to do proper grid/ran

[2022-02-23 21:32] MatthewMiddlehurst commented on #2116
I don't believe anyone has tested the suite of sklearn tuners/cross-validators using the sktime data formats used for TSC. I don't anticipate there being any issue with the classifiers themselves, rather whether the sklearn functions can accept a 3d numpy array, nested dataframe or dataframe with unequal length series.

I personally have not run into any issues, but I haven't looked too deeply int

[2022-02-23 22:40] fkiraly commented on #866
Indeed!

[2022-02-23 22:40] #866 closed

[2022-02-23 22:42] fkiraly commented on #670
Yes, thanks for pointing this out.

[2022-02-23 22:42] #670 closed

[2022-02-23 22:47] fkiraly commented on #1447
@claudia-hm, thanks for the feedback!

I just looked and I feel the tutorials are outdated, and there is a duplication with "user guide".
For instance, the "data formats" explained in the tutorial are old, see a newer notebook here:
https://github.com/alan-turing-institute/sktime/blob/main/examples/AA_datatypes_and_datasets.ipynb
Let me open an issue about this!

[2022-02-23 22:56] fkiraly opened #2127 "[DOC] Clean up tutorials and examples - most material exists, just needs moving around!"
The current collection of tutorials in the `sktime` docs is confusing and discrepant with the jupyter notebooks present in the [`examples`](https://github.com/alan-turing-institute/sktime/tree/main/examples) folder. There is also a mostly empty section ["user guide"](https://www.sktime.org/en/stable/user_guide), whose content largely duplicates ["tutorials"](https://www.sktime.org/en/stable/tutori

[2022-02-23 22:57] fkiraly commented on #1447
@claudia-hm, I've just reviewed the three different places where there are notebooks or user guides...
There are actually *tree places* 😱 how did this happen.

Anyway, I've suggested a plan how this could be improved, nice contribution opportunity: https://github.com/alan-turing-institute/sktime/issues/2127

[2022-02-23 22:57] fkiraly commented on #2127
First half is a good first issue, since it's "moving stuff around", i.e., adding, moving or removing sections, adding links.

[2022-02-23 22:59] fkiraly commented on #1447
@shubhamkarande13, thanks!

May I suggest a very similar alternative? The tutorials and user guides are a bit of a mess, would you like to start moving them to a clean state, we could then increase the level of content over splicing/merging, up to writing the missing tutorials?

[2022-02-23 23:00] fkiraly commented on #2127
(what do the other core devs think?)

[2022-02-23 23:03] fkiraly commented on #2116
Yes, plus write a tutorial. I can conceive that `numpy3D` and `nested_univ` input can possibly work, because `train_test_split` works on the same index and doesn't care about the rest, but a `sklearn` wrapper will probably not accept any other of our internal data formats.

[2022-02-23 23:07] fkiraly opened #2128 "[DOC] add residual prediction convenience function `predict_residuals` to forecasting tutorial"
As the title says, there should be a short section on predicting residuals `predict_residuals` to the forecasting tutorial - both about getting all the in-sample residuals (default arguments) and getting specific residuals out-of-sample or in-sample.

[2022-02-23 23:08] fkiraly commented on #2128
The docstring of `BaseForecaster` (which is inherited by all other forecasters) should explain how the method works, so this should be a good first issue!

[2022-02-23 23:11] fkiraly opened #2129 "[DOC] fix odd formatting on "developer guide" page"
someone should fix this:
![image](https://user-images.githubusercontent.com/7985502/155425111-9a762b56-7f6c-4d9a-9c4a-252a2fef1450.png)

(the bracket should be aligned with the previous bullet point, and the next bullet point should be part of the list)

compiled location is here: https://www.sktime.org/en/stable/developer_guide.html#developer-guide

[2022-02-24 09:17] TonyBagnall commented on #2116
well given we do not yet have a single use case for anything that is not numpy or nested_univ, scikit learn compatibility is sufficient for me. It you want to do write a wrapper, please do, I do not see the immediate need for it. I am working on extending the notebooks, and this issue has moved it up my order of work, I would like to verify compatibility with scikit learn tools for our core classi

[2022-02-24 09:20] TonyBagnall opened #2132 "[ENH] add tests for classifier compatibility with scikit model selection"
we should automatically test that all classifiers (and subsequently, clusterers) are completely compatible with scikit learn model selection and evaluation tools, and document recommended parameter/hyper parameter candidates for tuning. It would also be interesting to find out if tuning actually improves and o the core classifiers, I suspect it does not.

https://scikit-learn.org/stable/model_sele

[2022-02-24 12:12] RafaAyGar opened #2133 "ROCKET transformer RAM consumption"
### **Problem Description**
- ROCKET transformer _apply_kernels function create a dataframe of shape (n_data_instances x n_kernels*2). Leaving the number of kernels as default (=10000) and working with a dataset of 15000 instances, it results in a 300 million cells dataframe which takes around 1.8 GB of RAM. In the same way, for a data of 44k instances it goes over 8 GB of RAM consumption. If we e

[2022-02-24 12:33] ngupta23 opened #2134 "[ENH] Default alpha values"
**Is your feature request related to a problem? Please describe.**
DEFAULT_ALPHA = 0.05 today, but defaults in `predict_quantiles` are [0.05, 0.95] which is equivalent to alpha = 0.10.

https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/sktime/forecasting/base/_base.py#L375

**Describe the solution you'd like**
Defaults in `predict_quantiles` should be 0.

[2022-02-24 12:39] ngupta23 commented on #1876
Hi @fkiraly. Sorry for the delay. I checked it out and this works in 0.10.1. Thanks!

[2022-02-24 12:50] RafaAyGar commented on #2133
@dguijo

[2022-02-24 12:51] TonyBagnall commented on #2133
Hi, and welcome. This looks useful, I see no downsides, we would welcome the associated pull request

[2022-02-24 12:53] RafaAyGar commented on #2133
Great!

[2022-02-24 13:19] fkiraly commented on #2134
Hmmm - I admit this may be confusing now.
I´m not sure there is an inconsistency and I thought we did the refactor in a downwards compatible way.

There are a number of quantities in play here, for predictive quantiles and intervals:
* the `coverage` of a symmetric predictive interval
* the lower quantile point of a symmetric predictive interval, `alpha_low`, corresponding to the "lower" end value

[2022-02-24 13:24] fkiraly commented on #2132
Related: #2116, I don´t think they currently are compatible?

[2022-02-24 13:25] fkiraly commented on #2116
We have not verified that yet.

[2022-02-24 14:02] ngupta23 commented on #2134
@fkiraly - What might be helpful is to get the equivalent of what Hyndman uses [here](https://otexts.com/fpp3/prediction-intervals.html).

## Level
What does `level` correspond to in sktime terminology?

Is `level` in Hyndman's language = `coverage` in sktime language?

## Hilo
What would be equivalent of `hilo 80` and `hilo 95` using `predict_interval` and `predict_quantiles` in sktime?

Would `h

[2022-02-24 14:52] fkiraly commented on #2134
Yes, I think this is all correct.
Once we have `predict_proba` implemented, you can also just call the quantiles methods on the distribution, but using `predict_interval` is more direct.

[2022-02-24 21:43] #2129 closed

[2022-02-24 22:53] fkiraly commented on #1983
Yes, sure! That would work!

[2022-02-25 08:18] oguiza commented on #2033
I understand.
I just closed it as the issue as originally described no longer occurs. You can now pip install sktime in Colab.

[2022-02-25 12:01] ngupta23 commented on #2134
Thanks for clarifying. I will close this for now.

[2022-02-25 15:29] fkiraly commented on #2033
Yes, and that was perfectly fair - when I reopened it, I changed the title, since what remains is to sort it out under `scipy=1.8.0`. I could have opened a new issue, but I thought it's better to have it in one place since it's still the same problem.

[2022-02-25 16:43] fkiraly commented on #1476
@deepto98, is this still ongoing?

[2022-02-25 19:56] ltsaprounis opened #2138 "[ENH] Add random_state parameter in extension templates"
**Is your feature request related to a problem? Please describe.**
We currently don't have an explanation about the random_state parameter in the extension templates.

This was surfaced in #2065 as the randomness of the transformer was causing the `test_fit_idempotent` test to fail.
The test was failing because the results of the transform method were significantly different after fitting twice.

[2022-02-25 23:42] fkiraly commented on #2120
@KIFBELL, sounds a little odd - can you kindly post some code that reproduces the issue, and your `sktime` version?

[2022-02-26 11:13] fkiraly opened #2143 "[BUG] dealing with `sklearn 1.2` deprecation warnings"
A number of `sklearn` calls raise deprecation warnings and will turn into bugs when `sklearn` releases version 1.2.
These should be fixed.

- [x] replacing `float` variable names by `str` in `pandas.DataFrame` passed:

[code]

- [x] replacing `normalize` by use of `StandardScaler`:

[code]

[2022-02-26 13:19] fkiraly commented on #2066
Another one here: https://github.com/alan-turing-institute/sktime/runs/5344299194

[2022-02-26 22:05] Dwarak-PCI commented on #1622
@fkiraly Thanks for letting me know, I will test it out and get back to you. Thank you for all the help!

[2022-02-27 05:39] kejsitake commented on #2088
I think that the first step would be to update all the univariate forecasters to have RangeIndex as the top level index, as well as edit respective tests in one PR.

After I can change PR to account for this change https://github.com/alan-turing-institute/sktime/pull/2041

Nest step will be implementing quantile and intervals in  the other multivariate forecasters

[2022-02-27 10:44] fkiraly commented on #2066
addressing this temporarily by https://github.com/alan-turing-institute/sktime/pull/2144 by `xfail`-ing the tests in question

[2022-02-27 11:06] fkiraly commented on #2066
#2145 to diagnose whether occurrence has to do with `pytest-xdist` - one run didn't triger the error (`pytest-xdist` removed)

[2022-02-27 17:48] fkiraly commented on #2088
So, `RangeIndex` if there is/are no variable name(s), correct?
Would this be with internal conversion from `numpy` to internal `pd.DataFrame`, which would create `RangeIndex` cols by default?

Yes, makes sense to me - I would suggest a separate PR just for this, if you want to make the change.

[2022-02-28 13:28] shubhamkarande13 commented on #1678
Hi @fkiraly and @Lovkush-A!

Can I work on this issue?
I could start with refactoring `FeatureUnion` and then move on towards the forecasters.

[2022-02-28 17:31] ngupta23 opened #2151 "[ENH] Transformer for making a series stationary"
**Is your feature request related to a problem? Please describe.**

Requesting a transformer to convert a non-stationary series to a stationary series. This would be helpful for VAR models which require stationarity as a prerequisite.

**Describe the solution you'd like**
A transformer for differencing is already there, but to achieve stationarity, we may have to test for stationarity first and th

[2022-02-28 18:39] Lovkush-A commented on #1678
@fkiraly Bit of context: shubham and i have had a small back and forth in slack, resulting in a call on the weekend in which i helped shubham understand this issue. I recommended starting with just one estimator to make sure he (and I) has not missed any details, and then can continue to do remainder of work in batches.

[2022-02-28 19:46] aiwalter commented on #2151
I was thinking about sth like this longer time ago, but actually can we not just do grid search with the `Differencer` instead of a test? The search should find automatically the best performing params (which should be the ones that make the series stationary?)

[2022-02-28 20:11] ngupta23 commented on #2151
@aiwalter VAR model needs the inputs to be stationary. So just finding the best parameter is not the goal. I would like to make the inputs stationary before feeding to the VAR model. Just doing a grid search may still result in the data being non-stationary which will violate the assumptions of VAR.

[2022-02-28 20:30] aiwalter commented on #2151
I would assume that cross-validation will always find the stationarity solution, however I can not proof this hypothesis. The issue is more when people dont use cross-validation, then we need a test for stationarity.

[2022-02-28 21:15] ngupta23 commented on #2151
I see a couple of potential issues here:

1. I think it might be a stretch to make that assumption (it could just happen by chance that a non-stationary series gives the best CV results).
2. Also, the other disadvantage is that model building with potentially non-stationary series values in the grid search is costly in terms of compute time.

Hence, I feel it would add value to do this using a tra

[2022-02-28 21:29] fkiraly commented on #2151
@aiwalter, I think grid search is unrelated to guaranteeing stationarity?
Stationarity or similar conditions are typically assumptions that estimates obtained from resampling (incl grid search) are applicable to the temporal future. But applying grid search does not *guarantee* stationarity as far as I see.

I agree with @ngupta23 that "making stationary" transformers would be useful to have!

Mig

[2022-03-01 08:37] #1857 closed

[2022-03-01 08:59] aiwalter commented on #2151
@fkiraly yes ist not directly related, but related with model error in my opinion. I would assume that empirically, models that required stationary input data will perform better if the data is stationary than if its not stationary (otherwise that stationarity assumption/requirement would not make sense, right?). So, that is why in practice you might just do a grid search as an heuristic to find t

[2022-03-01 13:50] TonyBagnall commented on #1536
this example is no longer in the notebooks, but I just tested this and it works fine.

from classification.compose import ComposableTimeSeriesForestClassifier
from datasets import load_gunpoint
from sktime.transformations.panel.summarize import RandomIntervalFeatureExtractor
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

import numpy as np
steps = [
    (

[2022-03-01 13:50] #1536 closed

[2022-03-01 15:39] #2133 closed

[2022-03-02 12:25] fkiraly opened #2155 "[ENH] clean up and refactor `_sktime` module"
The `_sktime` sub-module of `forecasting` has a lot of legacy functions that could be replaced with checks and conversions, and incomplete docstrings.

We need to look at the module and clean it up a bit, in my opinion - especially with new added functionality around probabilistic and hierarchical forecasting in mind.

[2022-03-02 15:17] shubhamkarande13 commented on #1678
@fkiraly I will start working on `FeatureUnion` as discussed on Slack. 👍🏼

[2022-03-02 15:25] ciaran-g opened #2157 "[ENH] Hierarchical reconcilers for point forecasts"
Some initial thoughts, first two will be a good place to start

 - [x] Bottom up (aggregate levels ignored)
 - [x] Top down (historical proportions)
 - [x] Top down (forecast proportions)
 - [x] Unweighted OLS combination
 - [x] Weighted LS combination
 - [x] Trace minimisation (MinT) (various options for covariance matrix , including things like regularisation)
 - [x] Middle out (?)

Think it mig

[2022-03-02 21:50] fkiraly commented on #2151
I think this is a common misconception? Afaik there is no logically implied direction here.

Consider moving average, on the following three generating scenarios:
(a) i.i.d. Gaussian noise with variance one - this is stationary
(b) i.i.d. Gaussian noise with variance one, up until time T, and then with variance 0.1 - this is non-stationary
(c) i.i.d. Gaussian noise with variance one, up until time

[2022-03-02 23:23] dymax opened #2159 "[BUG] ColumnEnsembleClassifer can't be imported"
The provided code example gives an error as `ColumnEnsembleClassifier`  can't be imported

[code]

[2022-03-03 00:30] KishenSharma6 commented on #2143
Hi @fkiraly , I'd like to work on this bug.

[2022-03-03 11:58] aiwalter commented on #2159
I guess you have to add an import for `ColumnEnsembleClassifier`?

[2022-03-03 12:09] dymax commented on #2159
I tried to import the `ColumnEnsembleClassifier` form its `base classifier`  as shown below but still gets the error:

`from sktime.classification.composition import ColumnEnsembleClassifier`

[2022-03-03 12:51] fkiraly commented on #2143
alright, @kishensharma6, thanks! Pick one of the two to start with, I suggest.

[2022-03-04 13:37] fkiraly opened #2163 "[ENH] Refactor transformer base class with vectorization, for hierarchical data"
Transformers should also work with hierarchical data, currently they do not.

This could be easily achieved by using the vectorizer as in #1818.

[2022-03-04 13:41] fkiraly commented on #1683
Ultimately, we went with the "modification" route as described in #1684 - the for review prototype and near-final implementation is in #1818.

[2022-03-04 13:41] #1683 closed

[2022-03-04 13:42] fkiraly commented on #1684
Review prototype and near-final implementation is in https://github.com/alan-turing-institute/sktime/pull/1818.

[2022-03-04 23:23] MatthewMiddlehurst commented on #1791
I don't think this needs to be an open issue any more? I will give it a bit to see if there is any response/concerns still.

[2022-03-04 23:49] MatthewMiddlehurst commented on #2159
Hi, the correct package is compose, i.e. `from sktime.classification.compose import ColumnEnsembleClassifier`

[code]

I can run the above code without issue.

[2022-03-05 08:40] fkiraly commented on #2159
Yes, looks like "not a bug" - sounds like the import was spelled incorrectly (which explains the failed import).

[2022-03-05 08:42] fkiraly commented on #2157
Thanks for the list!

What would be extremely useful is a quick analysis which of these reconciliation strategies can be mapped on transformers (e.g., apply after forecasting, use only forecasts to fit and reconcile), and which need to be wrappers/compositors (e.g., needs the original or historical data, needs to call methods of the forecaster as part of the algorithm).

[2022-03-05 20:50] KishenSharma6 commented on #2143
Thanks @fkiraly ,  the pr #2167 is for replacing normalize by use of StandardScaler.

Please let me know if that pr needs anything additional, I will begin on replacing float variable names by str in pandas.DataFrame passed:

[2022-03-05 21:15] aiwalter opened #2169 "[DOC] Fix warnings of syntax errors and more when building docs"
#### Describe the issue linked to the documentation
When doing `make html` from docs folder and building locally, I get many warnings of potentially syntax errors that potentially also cause issues in displaying the docs properly in html on the website.
Example warnings:
[code]
#### Suggest a potential alternative/fix
One would have to go through this warnings and fix the mostly small syntactical

[2022-03-06 13:00] #2044 closed

[2022-03-06 14:26] fkiraly commented on #1272
The merged PR #1818 includes framework functionality for panel, global, and hierarchical forecasting.
For now, this only upgrades all existing forecasters to make such forecasts by fitting an individual model per granular unit aka lower hierarchy level.
"Proper" panel and hierarchical forecasters, including reconciliation strategies, will be merged subsequently and implemented individually.

[2022-03-06 14:26] #1272 closed

[2022-03-06 14:27] #1684 closed

[2022-03-06 14:33] fkiraly opened #2171 "[ENH] C-less MrSEQL reference implementation"
The MrSEQL classifier was removed in 0.10.0 due to reliance on the `cython` core which was removed (since it caused hundreds of problems...)

This leaves us in a situation where MrSEQL is no longer callable from `sktime`.
Since MrSEQL is, historically and scientifically, an important reference classifier for benchmarking experiments (even if not always necessarily the best performer), we should en

[2022-03-06 14:47] fkiraly opened #2172 "[ENH] GitHub actions? Automated pointer and help for new contributors failing linting tests"
Good first issue for someone who knows GitHub actions well:

By now, I've encountered perhaps dozens of situations where a new contributor's great contribution is almost ready to merge, but fails our linting tests.
In that situation, I found myself writing the same (hopefully helpful) tutorial post in the PR, which makes the contributor aware of the failing tests and points to our conventions and

[2022-03-06 14:50] fkiraly commented on #2172
Some thoughts:
* probably something needs to be triggered "on fail" of the `code-quality` test
* here's a long-term static example of failed linting: https://github.com/alan-turing-institute/sktime/pull/2153, in this PR it's intentional since I intend this to remain an incomplete draft on which to base development.
* someone working on this issue will probably need core devs triggering CI/CD to se

[2022-03-06 15:09] fkiraly commented on #2013
#2070 and #2168 are two different approaches to this problem.
Looks like either works?
FYI @aiwalter, @popcornn1.

[2022-03-06 16:54] ngupta23 opened #2173 "[ENH] Add adapter for `arch` package."
**Is your feature request related to a problem? Please describe.**

Financial modeling usually deals with modeling the volatility of time series data, ARCH, GARCH, etc. are common models used for this purpose.

**Describe the solution you'd like**

Add support for https://github.com/bashtage/arch (as an adapter) in sktime. This will be very useful for folks in the financial industry.
This is detai

[2022-03-06 19:33] #1986 closed

[2022-03-06 19:44] fkiraly commented on #2173
Ah, yes!
Now that we have probabilistic predictions, makes a lot of sense!
And why not the entire zoo while we're at it!

I think this is a good first issue, our extension templates should outline how to get these in.

Although, probably makes sense to implement primarily `predict_var`, the variance prediction interface, which is not yet merged (but will soon be).
https://github.com/alan-turing-in

[2022-03-06 22:02] fkiraly opened #2174 "[BUG] all BATS and TBATS objects share models, have side effects on each other"
All BATS and TBATS instances share a single model, since it is instantiated in the class, rather than in the object.

That leads to silent, hard to detect errors, where fitting one (T)BATS model fits all such models.

Instead, fitting one (T)BATS instance should not impact other instances in any way.

[2022-03-06 22:06] fkiraly opened #2175 "[ENH] test for no side effects across instances"
https://github.com/alan-turing-institute/sktime/issues/2174 is an instance of a bug where fitting one estimator instance changes other, different instances. The current test suite fails to detect this, since only a single instances figures in all the tests.

This (mis-)behaviour is always a bug and unintended, i.e., running methods of one estimator instance should leave any other instances alone.

[2022-03-07 11:49] #2013 closed

[2022-03-07 16:27] fkiraly commented on #2174
resolved by #2170.

[2022-03-07 16:27] #2174 closed

[2022-03-07 22:12] soma2000-lang commented on #2169
@aiwalter  I want to work on this .please assign me this

[2022-03-08 09:53] algorhythmist opened #2178 "[BUG] ForecastingGridSearchCV does not return error_score"
**Describe the bug**

ForecastingGridSearchCV does not return error_score as nan, it returns the error itself and stops searching further.

        error_score: numeric value or the str 'raise', optional (default=np.nan)
                The test score returned when a forecaster fails to be fitted.
            return_train_score: bool, optional (default=False)

**To Reproduce**

[code]
        Valu

[2022-03-08 09:54] aiwalter commented on #2178
related https://github.com/alan-turing-institute/sktime/issues/916

[2022-03-08 09:57] aiwalter commented on #2178
seem to me like the params
[code]
were deprecated for any reason in the past, but they are still in docstring. We should see why that funcitonality was removed and if we should not get it back in. Otherwise we should at least remove it from docstring. @algorhythmist a PR would be appreciated

[2022-03-08 10:11] #916 closed

[2022-03-08 11:57] fkiraly opened #2179 "[ENH] Deprecating the `RowTransformer`s"
Since transformers now auto-vectorize over panel domensions, the `RowTransformers` are now unnecessary.

They should be deprecated, and occurrences replaced with a simple call to the wrapped transformers.

[2022-03-08 12:00] aiwalter commented on #2169
@soma2000-lang great! let me know if you need any help

[2022-03-08 21:50] ngupta23 opened #2181 "[ENH] Add interface to nixtla AutoARIMA"
**Is your feature request related to a problem? Please describe.**
AutoARIMA from statsmodels is quite slow.

**Describe the solution you'd like**
A faster alternate was recently released by [Nixtla](https://github.com/Nixtla/statsforecast). Add this as an extension to `sktime`

**Describe alternatives you've considered**
None

**Additional context**
Currently it has a copyleft license. This needs

[2022-03-08 21:54] ngupta23 commented on #2181
Tracking the license issue here: https://github.com/Nixtla/statsforecast/issues/62

[2022-03-09 10:44] sudojarvis commented on #2172
can I work on this issue?

[2022-03-09 11:42] fkiraly commented on #2172
@sudojarvis, sure, if you know what to do?
I don't, so it might be good to start with a quick summary here what you would be going to do!.

[2022-03-09 13:20] hmtbgc opened #2185 "[BUG] doctest error in sktime.forecasting.model_selection._tune.ForecastingGridSearchCV"
**Describe the bug**

There is a ValueError in doctest for sktime.forecasting.model_selection._tune.ForecastingGridSearchCV

**To Reproduce**

[code]
Output:
[code]
**Expected behavior**

PASSED

**Additional context**

**Versions**
0.10.1

</details>

[2022-03-09 13:49] danbartl commented on #1612
Hi with the implementation of all the "preparation" pull requests finished we now can discuss the final structure for "the lagged reducer".

You can find the prototype here:
https://github.com/danbartl/sktime/blob/global_forecasting_rebased/global_fc_example.py

Instead the original design of:
[code]

I chose to go for:
[code]

Main idea is to provide an optional argument transformers that would b

[2022-03-09 13:56] fkiraly commented on #1612
thanks!

Could you kindly give an example of, how, given this design, how one would write down the following:
* including lagged `y` by lags 1,2,3 as exogeneous variables in the reduction
* including lagged window summaries of `y` by lags 1, 2 and window size 5 as exogeneous variables
* including lagged `X`, by lags 1, 2, 3, as exogeneous variables
* * including lagged window summaries of `X` by l

[2022-03-09 16:37] ciaran-g commented on #2157
Good shout Franz - started working on the bottom-up and OLS if you want to have a [look](https://github.com/ciaran-g/sktime/blob/reconciler-bottom-up/examples/hierarchical_play.ipynb)

Transformers:
 - bottom up
 - OLS
 - Weighted LS (structural)

Wrappers/compositors:
- Weighted LS (variance) - uses residuals
- MinT (sample) - uses residuals
- MinT (shrinkage) - uses residuals
- Top down - histor

[2022-03-09 16:52] sudojarvis commented on #2172
@fkiraly
I have to create  `.github/workflows/codacy-analysis.yaml`. So If  I am using  'Codacy Analysis CLI'
this file contain
`

        name: Codacy Analysis CLI
        on:
            push:
                 branch: ["master", "main"]
        pull_request:
                branch: ["master", "main"]

        jobs:
           codacy-analysis-cli:
                   name: Codacy Analysis CLI

[2022-03-09 19:15] aiwalter commented on #2181
thx for oopneing this issue @ngupta23

[2022-03-09 19:30] abheesht17 commented on #1888
Hello, @fkiraly! I would like to take this up.

I'll describe what you've said above, and you can tell me when I've understood it correctly.

I'll be given a couple of dataframes. For example,

[code]

For distances, I'll be given something like "SquaredDistance" and "EuclideanDistance".

Assume
[code]

Essentially, this is what I'll have to compute:

[code]

Is this interpretation correct?

[2022-03-09 21:07] danbartl commented on #1612
[code]

Example 2 I do not understand, why window size 5 when I only need lags for periods 1 and 2?

[2022-03-09 21:52] fkiraly commented on #1612
For the regression prediction of the next time point (at fh 1), I want to use:
* the summary of y over the window covering times 0, -1, -2, -3, -4;
* the summary of y over the window covering times -1, -2, -3, -4, -5

[2022-03-09 21:53] fkiraly commented on #1612
Also, I thought about this as an example which uses all four features, not four different examples. Sorry, should have been more clear.

[2022-03-09 21:55] fkiraly commented on #1612
Further, can you kindly explain `"lag": ["lag", [[1, 0], [2, 0], [3, 0]]],`?
This seems awfully nested, for just wanting lags at 1, 2, 3 periods...

[2022-03-09 21:56] fkiraly commented on #1612
Other question: lag config for `x` and `y` seem inconsistent.
Should it be *11* (not 12) in the `kwargs_x`, or should it be *1* (not 0) in the `kwargs_y`?

[2022-03-09 23:06] fkiraly commented on #2172
@sudojarvis, I think there is a misunderstanding: we already have CI for linting, this issue is not about adding linting to CI.
This issue is about *posting a helpful message* in a case where the linting CI fails.

[2022-03-10 02:51] sudojarvis commented on #2172
Yup, i will look for some other good first issue.

On Thu, 10 Mar 2022, 04:36 Franz Király, ***@***.***> wrote:

[2022-03-10 03:55] FedericoGarza commented on #905
Hi @fkiraly! Is anyone working on this issue? I could try to include it after including `auto_arima` :)

[2022-03-10 06:50] hmtbgc commented on #2143
@KishenSharma6 I am sorry that I have PR the first part. You have done a good job. Thanks for your contribution!

[2022-03-10 09:31] danbartl commented on #1612
Ok but then you need to tell which function should be applied across that window, in this example the function mean:
[code]

under the assumption that we are currently at t = 1, this would give
mean_5,0 the mean of the past 5 observations: 0, -1, -2, -3, -4;
mean_5,1 the mean of the past 5 observations lagged by one observation: -1, -2, -3, -4, -5

We have four things we need to consider:

- the n

[2022-03-10 09:32] danbartl commented on #1612
So favored example after changes discussed

[code]

[2022-03-10 09:58] fkiraly commented on #1888
Yes, or almost, depending on what you were thinking.
The last line would eventually be computed, but as follows.

First, you write sth
`composite_distance = CompositeDistance(distances= [SquaredDistance, EuclideanDistance], weights = [0.4, 0.6], variables=[["x1", "x2"], "x3")`

and then you can call

`composite_distance(a, b)`, this computes the value in the last line of yours.

[2022-03-10 09:58] fkiraly commented on #1888
The extension template to follow would (probably) be this:
https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/dist_kern_panel.py

[2022-03-10 13:16] varuniyer commented on #2128
Hi, I would like to contribute to resolving this issue.

[2022-03-10 13:24] aiwalter commented on #2128
@varuniyer  great, I just assigned the issue to you :)

[2022-03-10 14:04] fkiraly commented on #1612
Ok, I´m increasingly confused now. How is the current syntax for `kwargs_x` and `kwargs_y` consistent? If a lag of 1 gets the number 0, a lag of 2 gets the number 1, should a lag of 12 not get a number 11? To be consistent.
(not saying anything about opinions yet, just want to understand the current encoding)

[2022-03-10 14:23] danbartl commented on #1612
From the docstring
[code]

So lag [1,0] has a window length of 1 (thats what a lag is) and starting_at 0 (starting with the current observation, span a window of one in the past.

[code]

Lag [1,1] has a window length of 1 (thats what a lag is) and starting_at 1 observation in the past - so target the second observation.

[code]

Mean [12,12] means go back 12 observations in the past, and then tak

[2022-03-10 15:08] fkiraly commented on #1612
still, the window specification seems inconsistent to me.

Let´s be mathematically precise.
Let's denote by ` y[t]` the observation at integer time `t`, and `t=0` is the present/current.
Then, what window does the pair `[a, b]` in your conceptual model refer to?

The window between `y[-a]` and `y[-a-b+1]`, inclusive? (formally, collection of observations `y[i]` with `-a-b < i <= a`)
Or, the window

[2022-03-10 15:44] KishenSharma6 commented on #2143
@hmtbgc no worries, thank you so much! I'm having issues building sktime from source so your assistance was much needed and greatly appreciated :)

[2022-03-10 17:31] danbartl commented on #1612
the docstring mentions that  [a,b]  refers to window_length and starting_at parameters. Therefore, [a,b] refers to the window between y[-b] and y[-b-a] so  -b < i <= -b -a.

So the resolution is:
- [a,b]
- -b < i <= -b - a

so for lag 1:
- [1,0]
-  0 < i <= -1
- only observations -1 is included

so for lag 2:
- [1,1]
-  -1 < i <= -2
- only observations -2 is included

for rolling mean of 12 observ

[2022-03-10 18:42] fkiraly commented on #1612
ok, I'm assuming that all your inequalities are accidentally the wrong way round, above, but everything else is as you meant it.

I think I see where the confusion is coming from, then. `starting_at` is *not* included in the window? That seems highly counterintuitive, and inconsistent with python starting to count at zero, and finishing to count at `n-1`.
Should we not be consistent with `range`,

[2022-03-10 18:44] fkiraly commented on #1612
& I think you fell into this trap yourself when you tried to translate

a lag 1 has `starting_at` 0, so a lag 12 should have `starting_at` 11, and not 12.

I feel that proves that the current convention (exclusive of `starting_at`) might be a user confuser...

[2022-03-10 19:34] fkiraly opened #2192 "[BUG] rename `same_cuttoff` to `same_cutoff` in `_make_hierachical`"
Not a bug, strictly speaking, but a naming consistency problem.

`same_cuttoff` should be renamed to `same_cutoff` in `_make_hierachical`, to be consistently named with `cutoff` in `BaseForecaster`.

This should be done before 0.11.0, where it can be done without deprecation.

[2022-03-10 19:38] cdahlin commented on #2192
Hi @fkiraly, I'm on this.

[2022-03-10 21:23] danbartl commented on #1612
That is unfortunately correct.

That was actually the orginal design, I changed it following the discussion with @ngupta23 , as you can see in the first few posts:

https://github.com/alan-turing-institute/sktime/pull/1924

The question is how do we want to access e.g. the week before the last week . Old notation was

"mean": ["mean", [7, 8]]

but we changed it after discussion in the thread to:

[2022-03-10 22:34] #2192 closed

[2022-03-10 22:39] fkiraly commented on #2185
I have python 3.8.12 too, testing on windows and with sktime 0.10.1 - the example runs without problems, cannot reproduce the bug.

Which operating system are you using, @hmtbgc?

[2022-03-11 00:49] abheesht17 commented on #1888
Great! Sounds good. Will open a PR soon :)

[2022-03-11 01:29] ner-aim commented on #2127
Hi Franz! I would like to work on this issue too. :)

[2022-03-11 09:21] fkiraly opened #2194 "[BUG] odd failure in `fh._coerce_to_period` that occurs only on windows, in context of hierarchical forecast"
When making hierarchical forecasts on default output of `_make_hierarchical`, `fh.coerce_to_period` fails, on a windows run:
https://github.com/alan-turing-institute/sktime/runs/5503723513

This is quite strange, and I cannot reproduce the behaviour locally on my windows machine (python 3.8 or 3.9).

It looks like `freq` is not correctly preserved in subsetting from a hierarchical multi-index ...

[2022-03-11 09:23] fkiraly commented on #2194
any good ideas from those who have recently looked at `fh` or `freq`?
@khrapovs, @eenticott-shell, @k1m190r?
I'd give this bug high priority due to the hierarchical functionality attached to it.

[2022-03-11 09:49] fkiraly opened #2195 "[BUG] rename `_make_hierachical` to `_make_hierarchical`"
Not a bug strictly speaking, but at typo.

`_make_hierachical` should be renamed to `_make_hierarchical`, since it's called "hierarchical" time series data, not "hierachical" time series data.

Should happen before 0.11.0 where it can happen without deprecation.

[2022-03-11 09:51] aiwalter commented on #2195
changes in private methods and functions can imho always happen without deprecation as long as the funtionality is not changed?

[2022-03-11 09:52] fkiraly commented on #2195
true, you are right. Would never need deprecation since it's a private method.
Still we should probably do it quickly since we don't have many refs to this.

[2022-03-11 09:53] fkiraly commented on #2194
suspicion: `get_cutoff(_make_hierarchical())`, for some reason, results in a time stamp without the `freq` attribute. Why, and why specifically on windows? On my local system, the `freq` attribute is not lost.

[2022-03-11 10:31] ltsaprounis commented on #2194
Might be a data types issue, I'll look into it!

[2022-03-11 12:33] hmtbgc commented on #2185
My operating system is Ubuntu 18.04 and I have test the newest version of sktime and it still has the same error.

[2022-03-11 14:30] fkiraly commented on #2127
Great, @ner-aim, @Ris-Bali, your'e welcome!
Would you mind briefly stating precisely which bits you would like to work on, and possibly align/agree, to avoid duplication?

[2022-03-11 15:55] jaivanti commented on #2143
Hi! I would like to work on this?

[2022-03-11 17:13] Vasudeva-bit commented on #2195
I would like to work on this, can you explain a little bit more!

[2022-03-11 18:40] ner-aim commented on #2127
Sure! I am sorry I have an exam today and I couldn't reply earlier. I will let you guys know in the evening and how I plan about it. I would like to discuss with you too, @Ris-Bali

[2022-03-11 22:40] Ris-Bali commented on #2127
I would like to take the last two u can take the first two, if its okay with u @ner-aim

[2022-03-12 05:14] ner-aim commented on #2127
Hey Ris! Yeah sure, I will work on it starting today. Sorry for the delay, but now I am done with the exam, I will go through the second two. Let's help out each other in any way possible.

[2022-03-12 12:06] ngupta23 opened #2202 "Improved error messaging in transformers (and likely other places)"
https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/sktime/transformations/base.py#L313

This is the current error message that I get. I suspect that the list concatenation is not happening as intended. It would be nice to improve the error message by handling the list of allowed values appropriately.

[code]

May need to be modified here:

https://github.

[2022-03-12 12:29] ngupta23 opened #2203 "Implement `transform` method for `ForecastingPipeline`"
https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/sktime/forecasting/compose/_pipeline.py#L273

Similar to `TransformedTargetForecaster` (below), implement the `transform` method by wrapping the code above into its own method. This would be helpful to get the transformed X values.

https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942

[2022-03-12 14:46] fkiraly commented on #2202
hm, what are you trying to do, can you post code?

[2022-03-12 16:03] ngupta23 opened #2204 "[BUG] ARIMA handles missing data but tag states otherwise"
The tag in ARIMA model indicates that it does not handle missing data (`'handles-missing-data': False`), but it is able to produce forecasts. Should the tag be changed?

[code]

[code]

[2022-03-12 17:07] ngupta23 commented on #2202
Honestly, I don't recall now. I think X was None and it gave that message. I think it is just a print issue. It is not concatenating the allowed types correctly.

[2022-03-12 19:40] fkiraly commented on #2202
ah, I see. No, it was not a print issue, the wrong error message was returned - for some reason, I had it return an internal error message instead of the correct one (like in forecasting). The correct message should be
[code]

Do you think this is clear?

[2022-03-12 19:53] ngupta23 opened #2206 "[BUG] Incorrect tag: `ignores-exogeneous-X` for Reduced Regression Models?"
**Describe the bug**
The tags for Reduced Regression models seem to indicate that they do not support exogenous variables. But when I run the snippet of code below, I clearly see the difference in results based on whether exogenous variables are passed or not.

Does the tag reflect the correct behavior?

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/33585645/158032777

[2022-03-12 20:07] ngupta23 commented on #2202
Thanks @fkiraly . That should be fine. It would be nice to also print what type of X was passed also. It will help with debugging. Thanks!

[2022-03-12 20:28] fkiraly commented on #2204
Hm - may be an oversight.

I just wanted to test this systematically, but found that there is no test case with nans in it.
I added one here https://github.com/alan-turing-institute/sktime/pull/2207 to check this tag, in general.

[2022-03-12 20:37] fkiraly commented on #2202
Well, that might be impossible - the user can pass whatever `X` they like - or they can pass a `pd.DataFrame` which does not comply with the specification.

How about extending the error message:
[code]

Do you think this is clear?

[2022-03-12 23:37] ngupta23 commented on #2202
Sounds good. Do you need to make it a fstring? Also, is there anything missing after the last line?

[2022-03-13 02:51] ngupta23 commented on #2204
Thanks @fkiraly . Will you also fix the tag for this model?

[2022-03-13 02:54] ngupta23 opened #2211 "[ENH] Adding offset argument to transformers that do not support negative values"
**Is your feature request related to a problem? Please describe.**
Many transformers do not support negative values (e.g. BoxCoxTransformer, LogTransformer)

**Describe the solution you'd like**
Similar to what is done for [ExponentTransformer](https://www.sktime.org/en/v0.10.1/api_reference/auto_generated/sktime.transformations.series.exponent.ExponentTransformer.html), would it be possible to ad

[2022-03-13 11:45] baraline opened #2213 "[BUG] Benchmark of HC2 and HC1 do not match paper results"
Hi,

I'm currently running experiments and benchmarking the performance of multiple algorithms used in the SoTA of TSC. During those experiments, i'm consistently getting the results that HC2 is slower than HC1 (using default parameters for both), which contradict the results given in the paper presenting HC2. That is, trying on multiple datasets, with and without using n_jobs>1.

Is this an expec

[2022-03-13 15:05] ltsaprounis opened #2214 "[BUG] ForecastingHorizon equality for pandas PeriodIndex"
**Describe the bug**

When checking for equality for two identical `sktime.forecasting.base.ForecastingHorizon` where the values are `pandas.PeriodIndex` the output is an `numpy.ndarray` where all the elements are False.

**To Reproduce**

[code]

**Expected behavior**

The output should be a `numpy.ndarray` where all elements are `True `.

**Additional context**

Identified this when writing the

[2022-03-13 15:10] ltsaprounis opened #2215 "[ENH] ForecastingHorizon support in deep_equals"
**Is your feature request related to a problem? Please describe.**
Currently `sktime.utils._testing.deep_equals.deep_equals` doesn't support the `ForecastingHorizon` type.

**Example**
[code]

**Describe the solution you'd like**
We need to add an additional `if` block for `ForecastingHorizon` equality, similar to `numpy.ndarray`, `pandas.Series` etc.
e.g. https://github.com/alan-turing-institute/

[2022-03-13 15:15] ltsaprounis commented on #2211
A valid alternative would be to create an offset transformer and use it in a pipeline with the other ones.
Not sure what's best but makes sense to have a little debate on it.

[2022-03-13 15:38] jaivanti commented on #2143
If possible can you please brief more about the the 1st part....Like as a beginner just want to clarify more on it. Thanks

[2022-03-13 16:00] KishenSharma6 commented on #2143
@fkiraly We can mark this one as completed. PR #2167 and #2190 for reference

@jaivanti sorry for the late reply, we were able to complete this one. Feel free to work on another issue. You can reference #2190 to see how @hmtbgc solved the issue (namely changing input data types).

[2022-03-13 16:00] fkiraly commented on #2213
For completeness, could you kindly point to the paper, and in there the reference results and reported runtimes, which are discrepant with what you find?

[2022-03-13 16:01] fkiraly commented on #2213
FTI @TonyBagnall, @chrisholder, @MatthewMiddlehurst

[2022-03-13 16:06] fkiraly commented on #2215
hm... why the `ForecastingHorizon`'s own `__eq__` result in "truth valus is ambiguous" do you understand that?

[2022-03-13 16:16] ltsaprounis commented on #2215
It behaves like numpy arrays, pandas Series, Dataframes etc. In most cases this is a feature not a bug. Unfortunately, I don't know enough about the `ForecastingHorizon` to say what the case is here.

[2022-03-13 16:30] MatthewMiddlehurst commented on #2213
A massive time sink in HC1 is obtaining the train estimate for STC which is contracted by default. This implementation uses OOB instead of 10-fold CV to get that estimate, which is significantly faster.

I could return it to the 10-fold CV used originally, but at that point we are intentionally making it worse so it looks slower in comparison to HC2. IMO, note the change in the documentation and l

[2022-03-13 16:36] fkiraly opened #2218 "[ENH] Transformer test suite including transform output type checks"
The current test suite does not check `transform` output types, as it probably should.

See https://github.com/alan-turing-institute/sktime/pull/2217 which was not detected by the current set-up.

A transformer test suite should be written, that does.
With the test refactor done, it should be simple, by inheriting from the `TestAllEstimators` class, similar to `TestAllForecasters`.

[2022-03-13 16:57] aiwalter commented on #2211
you could use a `MinMaxScaler` before those transformers that can not deal with <0 or <=0 values, would be more accurate I guess.

[2022-03-13 17:16] ngupta23 commented on #2211
Lots of options here, but it would be most convenient for users to have the `offset` argument and set it to "auto" as done in `ExponentTransformer`. That way users do not have to do anything additional.

Of course, they could use the other alternatives that have been mentioned but it is more inconvenient to add additional wrappers. Just my 2 cents on this.

[2022-03-13 17:52] Vasudeva-bit commented on #2211
I feel it would be better (can skip refactoring other transformers which are supporting negative values eg: exponential) to add an `offset` argument to transformers that are not supporting negative values. And also, the log transformation of values between 0 and 1 (obtained from MinMax Scaler of default `feature_range=(0, 1)`) would give negative values that again need to be handled, I suppose. Mi

[2022-03-13 19:49] baraline commented on #2213
Thanks for the answers :

@fkiraly  Concerning paper, i'm talking about this one https://arxiv.org/pdf/2104.07551.pdf

@MatthewMiddlehurst So if I understand correctly, the difference we notice in sktime is due to the fact that HC1 is using a OOB rather than a 10-fold CV for the estimate, while when reported in the paper, both used a 10-fold CV ?

A change to the documentation would indeed clear t

[2022-03-13 20:02] MatthewMiddlehurst commented on #2213
Most likely, yeah. HC2 replaced all cross-validation with OOB estimates, in the paper we compare against HC1 with 10-fold CV (as that is what was used at the time and in its publication). In sktime both use OOB for both currently because it's a lot quicker.

[2022-03-13 20:41] baraline commented on #2213
Ok thanks, so the difference we notice in sktime is due to the individual components being "slower" (e.g ROCKET compared to ARSENAL) as both CAWPE with OOB ?

Sorry if i'm a bit picky but i'm trying to avoid any miss-information being reported in a paper

[2022-03-13 20:48] MatthewMiddlehurst commented on #2213
The HC2 components individually are slower than those in HC1, but the swap to OOB compensates for that. With HC1 STC using OOB, HC1 is faster than HC2.

[2022-03-13 21:29] fkiraly commented on #2143
Yes, indeed, @KishenSharma6, this is done. Forgot to update and close  after #2190, thanks for pointing this out!

[2022-03-13 21:29] #2143 closed

[2022-03-13 21:32] fkiraly commented on #2215
Hm, how about just adding another case, at the end, pseudocode:
[code]

[2022-03-13 21:43] fkiraly commented on #2211
Hm, I tend to agree with @aiwalter - why not just use a `MinMaxScaler` as a pipeline element?
Adding `offset` to a million transformers seems like multiplication and a violation of the DRY principle.

[2022-03-13 22:05] aiwalter commented on #2211
other option I can think off is having an `OffsetTransformer` compostion similar to the `OptionalPassthrough`. The `OffsetTransformer` would hold the functionality to offset and possibly have params `offset: bool = True` and `value: float/int = 0`
.
So when you want to offset a transformer, you could do `OffsetTransformer(BoxCoxTransformer())`

[2022-03-13 23:00] ngupta23 commented on #2211
@fkiraly Maybe having an `OffsetMixin` class would address this?

Why is this better than just `BoxCoxTransformer()` with default argument `offset = "auto"`? It seems much more simpler from a users perspective so instead of tuning like `transformer__limits` to access pipeline params, one would only have to do `limits`. Plus less overhead when writing out the code for the user as well.

Maybe havin

[2022-03-13 23:16] aiwalter commented on #2211
Yes I actually also dont prefer the composition. If we add it anyhow as a param we should also deprecate the `OptionalPassthrough` and have it in the same way as offset added to the transformers as it is also a functionality that we want to enable for all transformers. We could also add `offset` and `passthrough` params to the base class and give it to `super().__init__(offset, passthrough)`. The

[2022-03-13 23:54] fkiraly commented on #2211
That wouldn't automatically add the offset to the parameters, so I think it wouldn't work.
It would have to be at least a decorator, and that just invites trouble...

Hm, I disagree - the user familiar with the Box-Cox transform willl probably expect the transformer to produce nan or to break if there are negative values for certain exponents. The "offsetting" logic will come as a surprise, and wi

[2022-03-13 23:56] fkiraly commented on #2211
Ok, I think that is a bad idea, @aiwalter. This will lead to monstrosities since all transformers now are going to contain composition with two other transformers. And why not add all the parameters of the min/max scaler too? That direction I really do not like. "Simple is better than complex."

[2022-03-13 23:59] fkiraly commented on #2211
So, I liked your first suggestion much better than the second, @aiwalter 😄

[2022-03-14 00:27] ngupta23 commented on #2211
@fkiraly - Did you mean does not belong in the `ExponentTransformer`? If so is it going to be removed?

OffsetNegatives() * BoxCoxTransformer(), as @aiwalter proposes?

I am not familiar with this syntax. Are you referring to a nested pipeline like this?

[code]

[2022-03-14 00:45] fkiraly commented on #2211
I don't think so - it's already there, and deprecation is always a hassle.
There's a difference between *removing* sth and *not putting it there*.
I was just talking about a hypothetical "ideal state".

That's actual pipeline syntax coming in 0.11.0, you can chain elements with the `*` operator.

[2022-03-14 09:07] SSMK-wq opened #2221 "[BUG] Time Annotation - NameError: name '_private' is not defined"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Versions**
<details>

</details>

[2022-03-14 10:01] aiwalter commented on #2211
From design/conceptual perspective, I think having a `OffsetTransformer` look more reasonable, however I was just trying to think more from a user perspective. Having sth like `OffsetTransformer(OptionalPassthrough(BoxCox()))` is not so intuitive than having `BoxCox(passthrough, offset)` especially when it comes to tuning the params.

[2022-03-14 11:19] TonyBagnall commented on #2213
hi @baraline, no worries about being picky, we are happy you are looking at HC2! @MatthewMiddlehurst has covered it, introduction of OOB for train estimates for HC2 was one of the redesign features. HC1 was a tidying up of the original HC. STC is a weird one, because time is actually a parameter (how long to randomly sample shapelets) and it is set very arbitrarily at the moment. We are sort of lo

[2022-03-14 11:49] baraline commented on #2213
Thanks for your detailed answers, to summarize :

- In the paper, HC2 use OOB while HC1 use 10fold-CV, hence why HC2 is faster than HC1 in the paper benchmark
- Currently in sktime, both use OOB, which cause HC1 to be faster  because some of his individual components are faster than those in HC2. This is under the condition that the same time contract is used for STC for both, and that no time con

[2022-03-14 12:05] ngupta23 commented on #2211
Yes, that is exactly my point. The user has to add that to all transformers and then accessing pipeline parameters becomes more complicated.

Plus from a users perspective, it is repetition if each transformer has to be wrapped in  2 additional transformers.

[2022-03-14 14:24] jaivanti commented on #1930
Hi! Can I contribute to this?

[2022-03-14 15:39] Ris-Bali commented on #2059
@aiwalter  Can I work on this ? .  It should have similar structure to `https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/exp_smoothing.py` which also inherits from _StatsModelsAdapter right ?