[2022-11-05 15:14] #397 closed

[2022-11-05 16:38] #3694 closed

[2022-11-05 22:56] #3698 closed

[2022-11-05 23:07] fkiraly commented on #3672
not at all - we can change it later, @achieveordie, or add it as a feature.

[2022-11-05 23:43] chillerobscuro opened #3712 "[ENH] Wrapper for TSFeatures Transformer"
**Is your feature request related to a problem? Please describe.**
As named in [2982](https://github.com/sktime/sktime/issues/2982), a wrapper for the python implementation of [`tsfeatures`](https://pypi.org/project/tsfeatures/), which was originally written in R.

**Describe the solution you'd like**
Wrap the [existing package]((https://pypi.org/project/tsfeatures/)) similar to the existing wrapp

[2022-11-06 00:25] fkiraly commented on #3712
I think this is a good idea - I did not know there was a `python` version for tsfeatures.
Interfacing might be an easy solution to #2982.

Nixtla are fairly active, so might be a good choice.
But, we should of course test and review the package before we interface.

[2022-11-06 22:45] jorenham opened #3715 "[MNT] PyPi publish action for 0.14 failed"
Summary by @fkiraly:
The attempted 0.14.0 release has failed at pypi upload of successfully built wheels.

Help on diagnosing and solving this is appreciated.

Original post:
---
Just to let you know: 0.14 has not been published on PyPI yet:

https://github.com/sktime/sktime/actions/runs/3402037795

[2022-11-06 22:53] GuzalBulatova opened #3716 "[DOC] Add hall-of-fame widget to README"
#### Describe the issue linked to the documentation

We'd like to celebrate our contributors and make the most active / recent ones more visible. After discussion in https://github.com/sktime/community-org/issues/36 , community decided to go with this option for improvement in README.

#### Suggest a potential alternative/fix

Add https://github.com/sourcerer-io/hall-of-fame widget to sktime/READM

[2022-11-06 22:59] GuzalBulatova opened #3717 "[DOC] Create "sktime people" section on our website"
#### Describe the issue linked to the documentation

We'd like to celebrate our contributors and make the most active / recent ones more visible. After discussion in https://github.com/sktime/community-org/issues/36 , community decided to go with this option for improvement on our .org website.
#### Suggest a potential alternative/fix

Create "sktime people" section similar to https://fastapi.tian

[2022-11-07 00:12] fkiraly commented on #3715
You are right 😱

The error happens right after it attempts to upload to `pypi`, this is it:

[code]

[2022-11-07 00:20] fkiraly commented on #3715
any ideas what this is, @jorenham? Haven't seen it before, and Professor Google doesn't seem to help...

[2022-11-07 00:25] jorenham commented on #3715
@fkiraly I'm guessing something with the email address in the `setup.py` or `pyproject.toml`,  but I can't seem to find anything at first glance

[2022-11-07 00:31] jorenham commented on #3715
@fkiraly It might be easiest to merge the `author` and `author_email` in the `pyproject.toml` and `setup.py`, formatted like a `RFC-822 From: header`, as specified in: https://packaging.python.org/en/latest/specifications/core-metadata/#author-email

[2022-11-07 00:33] fkiraly commented on #3715
let's keep this open until we are sure it works...

[2022-11-07 00:35] fkiraly commented on #3715
I had the same guess, though I did sth slightly different. If that does not work, I will try your suggestion next, @jorenham.

Other guess: `sktime` still seems to run on the pypi account on one of the founders, @mloning, who isn't very active anymore.
Could it be that he forgot about this and changed his password, so it no longer agrees with the secret?

Although the wouldn't fit the message whic

[2022-11-07 00:35] fkiraly commented on #3715
my attempt at fix: https://github.com/sktime/sktime/pull/3718

[2022-11-07 00:40] fkiraly commented on #3715
actually, @jorenham, if you have 10min, it would be appreciated if you could make a draft PR that implements your suggested change? I don't know what exactly I would change.

I was on the page you linked just 10min ago, and it isn't 100% clear to me how to change it and where.

[2022-11-07 01:07] fkiraly commented on #3715
Other question: what explains that it was fine for 0.13.4 but isn't fine now?

[2022-11-07 01:19] jorenham commented on #3715
@fkiraly In the meantime python 3.11 was released, so perhaps they also changed the strictness of the packaging metadata?

[2022-11-07 02:47] jorenham commented on #3715
@fkiraly your build succeeded and 0.14 has been published on pypi now. So I suppose this issue is now resolved, although I'm not sure why this did the trick 🤷🏻

[2022-11-07 02:47] #3715 closed

[2022-11-07 08:56] fkiraly opened #3720 "[MNT] problems with pypi docs"
It seems the changes fixed the issues with the author email, but now pypi does this:

![image](https://user-images.githubusercontent.com/7985502/200268536-667bda98-37f9-4366-996a-72824e7b6440.png)

In addition, we should no longer point to `sktime-dl`, as deep learning is in `sktime` now.

FYI @jorenham

[2022-11-07 10:25] BrandonKMLee opened #3722 "[BUG] Failing to run AutoML estimators due to TransformedTargetForecaster"
**Describe the bug**

`forecaster` defaults (using `TransformedTargetForecaster`) failed when `param_grid` items (e.g. `prophet`) are expected to be safe from bugs of `NaN`, however it is clear that the default data `y` has no NaN values since it has been pre-filled.

**To Reproduce**

Cleaners and Downloaders

<details>

[code]

</details>

Core Code Piece

<details>

[code]

</details>

Expected

[2022-11-07 13:46] aiwalter commented on #3722
Pls provide minimal code to reproduce

[2022-11-07 16:25] fkiraly commented on #3715
Sounds vaguely plausible.

This is my general experience with `pyproject.toml`.
If it stops working, fiddle around with the lines that seem related until it works again.
Better than `setup.py` though...

[2022-11-07 18:31] christopherbunn commented on #2921
Hello! Is there any progress on this issue or plans for a manual release for version 0.14.0? Especially since pandas 1.5 support is introduced in 0.13.3 it would be great to have a more up-to-date version installable through conda.

[2022-11-07 19:09] lmmentel commented on #2921
There's been an effort to fix conda release (see [here](https://github.com/conda-forge/sktime-feedstock/pull/49)) but it's quite hard to put together a recipe with all dependencies taking into account platform support and the fact that some of our soft deps don't bother with conda release or their conda release lag far behind their pypi releases.

Is there anything you cannot do though pip/pypi th

[2022-11-07 20:17] wolph commented on #3720
It looks like my pull request has that issue as well, I'll see if I can find the cause of it

[2022-11-07 22:10] fkiraly commented on #2921
could we simply ignore the soft dependencies, @lmmentel?

Just release with the core dependencies?

Since the time the problem originally occurred, the soft dependencies should be fully isolated, i.e., the test suite will run with the core dependencies only.

[2022-11-07 22:12] fkiraly commented on #2764
excellent, @VyomkeshVyas! Looking forward to your PR.

[2022-11-07 22:13] fkiraly commented on #3100
yes, here: https://github.com/sktime/sktime/pull/3111

[2022-11-07 22:13] #3100 closed

[2022-11-07 22:14] fkiraly commented on #2127
I've checked the boxes that I think are resolved.

[2022-11-07 22:19] fkiraly commented on #3682
Ah, I was under the impression that the `CutoffSplitter` uses all data, but it does not. Either way, if it is used in `update` mode, the effect will be the same as in feature 1.

Design-wise, I would agree with your suggestions:
* `window_length=None` (not -1 which would be strange) should return all the data prior to the cutoff.
* `fh` as a list makes sense, but unfortunately this would imply an

[2022-11-07 22:20] fkiraly commented on #3525
I think the issues are resolved or already subsumed in issue https://github.com/sktime/sktime/issues/3616. I think we can close this.

[2022-11-07 22:25] fkiraly commented on #3660
I'm still confused.

[code]

works for me with `numba` installed in the env.

Without `numba` in the env it does not work, but that is expected since `numba` is currently not isolated (as a core dependency), and the distance classes import the numba distances.

Can you be more explicit and precise here?

1. given what condition
2. given what command executed how
3. what happens
4. why should this

[2022-11-07 22:27] fkiraly commented on #3693
Yes, that is true, this might explain the issue, but I feel it does not explain it completely (see the calculation that @bethrice44 did).

[2022-11-07 22:27] fkiraly commented on #2019
yes, sounds like a good first issue!

I think this has been abandoned since last activity is Feb.

[2022-11-07 22:28] fkiraly commented on #3370
Yes, the PR https://github.com/sktime/sktime/pull/3575 was merged, so this is resolved.

[2022-11-07 22:28] #3370 closed

[2022-11-07 22:29] fkiraly commented on #3617
@DLWCMD, thanks for replying!

Unfortunately there was nothing attached.

Could you paste your code here, as a python code block?

[2022-11-07 22:30] fkiraly commented on #3626
closing since default behaviour and follows the interface contract, agree with @TonyBagnall

[2022-11-07 22:30] #3626 closed

[2022-11-07 22:31] fkiraly commented on #3033
I suppose so.

[2022-11-07 22:31] #3033 closed

[2022-11-07 22:34] fkiraly commented on #3461
Makes sense. My I kindly ask you to write a quick STEP?

This is a core interface change, so let's just hammer down the details.

[2022-11-07 22:48] MatthewMiddlehurst commented on #3660
The fact the distance classes are being imported from a completely unrelated function through the registry is the issue.

If you do not think that is an issue, feel free to close this.

[2022-11-07 22:50] dhirschfeld commented on #2921
+:100:

IMHO it's very low priority to release a package with the soft-dependencies and it really shouldn't hold up releasing the core package. If it works, it's a nice convenience for users but if not, users can easily install the extra deps they need via conda or pip

[2022-11-08 00:31] DLWCMD commented on #3617
Please let me know if this works. I confirmed that I attached my script file to my original email, but I probably should have shared or zipped before emailing. I have attached a zipped version just in case. Thanks for your help and my apologies for the delivery failure.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

***@***.***

540-420-0844

From: Franz Király ***@***.***>
Reply-To: skti

[2022-11-08 02:10] wolph commented on #3720
I should note that the flit support is better in this case.

1. It supports multiple authors whereas Poetry just shows the first author
2. It uses the nicer (in my opinion) syntax for the authors (dict instead of string)
3.

[2022-11-08 02:50] wolph commented on #3720
@fkiraly Which one has your preference Franz?
For my own projects I'm currently looking at porting them to flit and poetry, but I'm not sure yet. I'm somewhat leaning towards flit because it's closer to stock setuptools (poetry requires the project name to be in a poetry specific setting).

Mutilating your name is not an option I would suggest, but it seems that even your university has done so: h

[2022-11-08 03:25] jorenham commented on #3720
@wolph There should be a ğ somewhere in my name as well, but I haven't seen it in a while (mostly because I'm too lazy to use it myself).

[2022-11-08 20:17] danbartl commented on #3601
HI thanks for reporting :)

@HishamSalem
I think the original code had a bug, why do you always call RandomForestRegressor?

I modified your code slightly to make it more reproducible, and results are the same?

Note that tiny differences arise when specifying lag features = [1,2,3,4,5,6,7,8,9,10,11,12] etc. because order of features is different, get exact same result when specifying lag features

[2022-11-08 20:17] #3601 closed

[2022-11-08 20:23] ltsaprounis commented on #3461
I agree! will make a STEP PR soon.

[2022-11-08 20:27] HishamSalem commented on #3601
@danbartl

Thank you for pointing this out, I totally did not see this error.

As for the .reverse thank, you for pointing this out.

[2022-11-08 22:38] #3253 closed

[2022-11-08 23:05] fkiraly commented on #3253
oh, of course. Not a bug.

[2022-11-09 00:20] GianlucaGuarroSonos commented on #3682
maybe it would have to be a list of list of ints where each sublist is the time steps you want to predict for a particular split.

I could give this a shot. This would be my first significant PR in any open-source project but seems doable for me.

P.S.
How would you foresee the appropriate way to compare models trained at differing temporal aggregates? Obviously any predictions made on the disaggr

[2022-11-09 10:14] danbartl commented on #2710
@ngupta23 @fkiraly
Set up the following pull request to raise a warning and also provide a convience function to set freq for multiindex. The solution I presented with convert datetimeindex no longer works in latest pandas, but setting multiindex with
ttps://github.com/sktime/sktime/issues/2710](https://github.com/sktime/sktime/pull/3729

[2022-11-09 11:14] GuzalBulatova opened #3732 "[DOC] Update team.rst"
#### Describe the issue linked to the documentation

`team.rst` isn't rendered correctly: CC members list isn't showing. CoC list isn't up-to-date.

<img width="965" alt="Screenshot 2022-11-09 at 12 50 45" src="https://user-images.githubusercontent.com/73598322/200835065-dee335df-5326-446e-bf78-cff6d10f9402.png">

#### Suggest a potential alternative/fix

Fix CC list, update CoC list (Martina resi

[2022-11-09 11:36] fkiraly opened #3734 "[DOC] fix Slack greetbot message - correct channel ref, fix broken CoC link"
The Greetbot message on slack has two mistakes:

* it directs new contributors to `#general` for introductions (announcements only) and not to `#contributors` (contributor Q and intro)
* the code of conduct link in the message still points to the old CoC location

I have tried to access the greetbot config, but I do not see where to set the greeting message. I suppose I do not have app manager rig

[2022-11-09 14:04] miraep8 commented on #3734
I think I may have found a way to do it in the "workflow builder"

Trying out this message when anyone joins the # general channel:

<img width="407" alt="image" src="https://user-images.githubusercontent.com/10511777/200850686-d8f221d4-9de5-42f4-b5c0-88afab466197.png">

Can edit it as needed

[2022-11-09 14:10] miraep8 commented on #3734
My labmate was kind enough to try joining, looks like it has replaced the previous welcome message:
<img width="718" alt="Screen Shot 2022-11-09 at 9 08 35 AM" src="https://user-images.githubusercontent.com/10511777/200852088-8a9d3912-379e-41e3-963f-739b85e4fbe8.png">

[2022-11-09 14:26] miraep8 commented on #3734
I will probably change it so it says welcome to sktime not welcome to # general.

[2022-11-09 18:16] miraep8 opened #3738 "[DOC] Notebook example for pipeline tools"
The ability to create pipelines is one of the more powerful tools in sktime, yet it is not super well documented! Will open a PR for this shortly, but any requests or suggestions are welcome.  Some topics I plan to touch on in no particular order:

- some intuition - what are transformers and why might we want to create pipelines with them?
- dunders for pipeline creation
- Multiplex forecaster an

[2022-11-09 18:57] miraep8 commented on #3738
Note - I am aware that some of these things are already covered in the forecasting notebook, but just thought there could be value in including them here as well in case people want to look for pipeline components.  I will attempt to minimize repetition where possible however! :)

[2022-11-09 22:36] #3732 closed

[2022-11-09 23:24] fkiraly commented on #3734
I think it would be nice to keep the link to the CoC as well

[2022-11-09 23:43] fkiraly commented on #3738
agreed, an extra notebook for all things pipelines is useful!

[2022-11-10 01:35] miraep8 commented on #3734
Sure, added a link to the [Code of Conduct page](https://www.sktime.org/en/latest/get_involved/code_of_conduct.html) on the website.

![image](https://user-images.githubusercontent.com/10511777/200978480-29ba33b3-9269-41d2-8968-e9eecef535b5.png)

By the way - I believe anyone else should be able to access this too by going to the sktime dropdown -> Tools -> Workflow Builder. Just in case anyone el

[2022-11-10 05:51] soma2000-lang commented on #2169
@miraep8 sorry for such a alte reply.I had completely forgotten about this issue.Will open a pr once it's done

[2022-11-10 06:51] #3605 closed

[2022-11-10 09:06] fkiraly commented on #3734
ooohhhhh - I've never been there! I tried via the app manager.

[2022-11-10 09:06] fkiraly commented on #3734
My original issue is resolved, thanks @miraep8!

This does not prevent us from making further changes, of course.

[2022-11-10 09:06] #3734 closed

[2022-11-10 09:20] ltsaprounis opened #3743 "[BUG] invalid keras import in tests (for some versions)"
It seems like there's some inconsistencies with keras imports between keras versions.
Looking at the toml file I don't see any bounds on the versions.

In any case I'm on keras 2.8 and the following import in sktime/classification/tests/test_base.py raises an import error:
`from keras.optimizers import Adamax`

This causes the tests to fail during collection, which is annoying (especially for the

[2022-11-10 09:30] fkiraly commented on #3743
hm, but moving the import inside the test wouldn't solve the issue when executing the test?

Third option: check the version bound where the import changes, and have if/else conditional import

[2022-11-10 09:36] ltsaprounis commented on #3743
Is it because soft-dependency imports should be inside the test?

[2022-11-10 12:32] fkiraly commented on #3743
no, even if the soft dep imports are inside the tests, the diagnostic #2986 would still fail, but it would appear as a test failure (because you are then also testing the import).

The way to isolate the soft deps is have a `pytest.skipif` depending on package availability or estimator support, search for `.skipif` to find examples in the code base.

[2022-11-10 12:33] fkiraly opened #3748 "[BUG] `keras` and other soft dep imports should be properly isolated in tests"
See #3743 and https://github.com/sktime/sktime/pull/2986 - soft dependency imports in non-suite tests should:
(a) happen inside tests, and
(b) be isolated via `pytest.skipif`

Currently, some `keras` imports are not properly isolated.

The idea is that the full test suite should be runnable without any soft dependencies installed.

[2022-11-10 12:34] fkiraly commented on #3743
couple unisolated imports have crept in since we last did this...

We should fix, opened an issue:
https://github.com/sktime/sktime/issues/3748

[2022-11-10 12:42] fkiraly opened #3749 "[ENH] one-time pre-release diagnostics"
This issue is about introducing, and discussing the best way to introduce, pre-release diagnostics.

Example: we want that the full test suite runs without soft dependencies, but we are not testing that in our regular CI (as this would multiplicate the CI runs).

We may want to run it before each release though and/or fix arising maintenance issues, such as soft dependency isolation.

Ways we coul

[2022-11-10 17:12] bdewilde opened #3757 "[BUG] Unable to transform dataset using MiniRocket when parallelized via `ray`"
**Describe the bug**

I am trying to fit+transform data using an `sklearn` pipeline, with `sktime`'s MiniRocket transformer as a component, using `ray` to parallelize the transform step. Fitting (which is not performed in parallel) works as expected; transforming raises an unexpected error about the dataset's type/shape: `TypeError: No matching definition for argument type(s) array(float32, 2d, C)

[2022-11-10 17:22] lmmentel opened #3758 "[BUG] Unrelated tests failing for no reason [test_load_solar]"
**Describe the bug**

In #3375 I noticed tests are failing unrelated to any code changes I made. Obviously this is a bad idea to test code that relies on external services being up and running. This has little to do with sktime and should probably be removed.

[code]

see https://github.com/sktime/sktime/actions/runs/3437085117/jobs/5733604844 for more details

**To Reproduce**

[code]

**Expected

[2022-11-10 17:26] lmmentel commented on #3758
@ciaran-g :point_up: it seems that you've added the offending test. Any change you could refactor to not fetch from an external service and maybe use locally available data? Otherwise I would recommend removing the test entirely.

[2022-11-10 20:31] MatthewMiddlehurst commented on #3663
https://github.com/sktime/sktime/actions/runs/3437607638/jobs/5733800691
[code]

[2022-11-10 20:32] MatthewMiddlehurst commented on #3758
Related #3663

[2022-11-10 20:39] MatthewMiddlehurst commented on #3758
An option to load a local version was added in #3652, this test should probably be removed however as its only functionality is to test the external loading I think.

[2022-11-10 22:02] fkiraly commented on #3720
well, I'm not that precious about my name if it fixes the pypi page :-)

[2022-11-10 22:03] fkiraly commented on #3720
re option 2, flit - what would that precisely entail?

[2022-11-10 22:05] fkiraly commented on #3758
yes, I think we should not include this in the regular test suite, this can lead to request bombing through anyone who on a fork runs the test suite.

We could move it into a "once in a while" test or a permanent diagnostic?

[2022-11-10 23:04] fkiraly commented on #3748
you can use `_check_soft_dependencies` to return a boolean already, no try/except needed

Didn't know about `importorskip`, seems very useful!

[2022-11-11 00:44] fkiraly commented on #3682
Nice, thanks!

I would suggest to separate the two features and go for maybe feature 1 first?

Contrib guide is here:
https://www.sktime.org/en/latest/get_involved/contributing.html

That sounds like pears and apples. Would that relate to this feature? Or is it a separate question?

[2022-11-11 00:46] fkiraly commented on #3660
Seems like an issue, may I kindly ask which import this happens for, please?

1. given what condition
2. given what command executed how
3. what happens
4. why should this not happen
5. what should happen instead

?

[2022-11-11 00:47] fkiraly commented on #2921
well, let's do that then. The soft dependencies should be fully isolated as soon as this PR passes:
https://github.com/sktime/sktime/pull/3760

[2022-11-11 09:45] ciaran-g commented on #3758
I will have a look to change it today, just wondering how you would change it to a once in a while test? Are there any examples in the package already?

[2022-11-11 10:25] #3375 closed

[2022-11-11 11:41] TonyBagnall commented on #3758
we removed tests based on external websites, specifically tests of load_from_ucr_tsv_to_dataframe for this very reason. I am in favour of just removing these tests.

[2022-11-11 11:50] RikStarmans opened #3764 "[BUG] `ColumnEnsembleForecaster` fails with hierarchical exogenous data"
ColumnEnsembleForecaster fails with Aggregator based forecaster and exogenous data.

**To Reproduce**

[code]
**Proposed Solution**
Add the following tag to ColumnEnsembleForecaster
[code]
**Additional context**
ColumnEnsembleForecaster inherits from _HeterogenousEnsembleForecaster which inherits from
BaseForecaster.
If fit is called with exogenous data, the BaseForecaster changes the type of both

[2022-11-11 13:41] aiwalter commented on #3439
@miraep8 and @benHeid could you pls have a look at the 2 PRs: #3596 and #3689 which provide different implementation proposals for this issue.

I dont have a strong preference, but I can see following points:
___

Delegator (PROs)
- having a separate class for a more exotic functionality
- isolation of logic
- we also have isolated `OptionalPassthrough` in a separate class, we could have done that

[2022-11-11 15:38] michaelfeil opened #3769 "[ENH] Extend minirocket_multivariate to unequal / variable length time series"
**Is your feature request related to a problem? Please describe.**

Currently, just a few unequal length multivariate models exist. From the minirocket_multivariate the authors implemented a option for variable length time series data. (https://github.com/angus924/minirocket/blob/main/code/minirocket_multivariate_variable.py)

**Describe the solution you'd like**
Implement a MiniRocketMultivariate

[2022-11-11 15:40] fkiraly commented on #3764
Thanks!

Indeed, the `X_inner_mtype` tag was not set correctly, and doing so fixes the issue.

[2022-11-11 15:40] fkiraly commented on #3764
I can reproduce the bug on my local (python 3.8, sktime current main, windows) and have opened a PR with the proposed fix here: https://github.com/sktime/sktime/pull/3768

[2022-11-11 16:43] fkiraly commented on #3439
I think this one is not entirely correct, it should work with any child of the `_HeterogenousEnsembleForecaster`

That is:
* `EnsembleForecaster` (does sth non-trivial if used with non-commuting aggregation function)
* `StackingForecaster` - does sth non-trivial

[2022-11-11 16:59] fkiraly commented on #3657
I think this is another instance of this bug: https://github.com/sktime/sktime/discussions/3763

[2022-11-11 22:33] GianlucaGuarroSonos commented on #3682
Yeah splitting it into 2 PR's make sense. I hope to try and tackle feature 1 soon then.

It starts off being pears and apples but the core advantage of feature 2 is to let you transform these comparison to apples and apples. In effect, it allows the user to treat the temporal granularity of the time series model as a hyperparameter. For example, say you have 2 models:

- Model A is trained on mont

[2022-11-12 04:23] GigaMoksh commented on #3716
Hello, I'd like to solve this issue.

[2022-11-12 04:28] GigaMoksh commented on #3716
https://github.com/sourcerer-io/sourcerer-app/issues/632 see this. I think sourcerer isn't available now.

[2022-11-12 11:30] GuzalBulatova commented on #3716
Hi @GigaMoksh , I see, I thought that this widget didn't require sourcerer, but apparently it does. Thanks for looking into this. Do you maybe have alternative in mind?

[2022-11-12 12:04] achieveordie opened #3772 "[BUG] Empty File Format page in API Reference"
**Describe the bug**

File Format Page (available [here](https://www.sktime.org/en/stable/api_reference/data_format.html)) should have reference to different file formats present in `sktime` (`.ts` for example). But the current page only provides a one-liner with no references.

This is happening because the `.rst` file is improper and needs to be corrected. I'll make a PR correcting it in a while

[2022-11-12 13:08] michaelfeil commented on #3769
I would like to submit a PR on this.

I would include the following:
- interface to https://github.com/angus924/minirocket/blob/main/code/minirocket_multivariate_variable.py as `MiniRocketMultivariateVariable`, essentially converting a `"X_inner_mtype": "df-list"` to a

[code]
- test on JapaneseVowels (multivariate and unequal length time-series)
- the authors code, as in https://github.com/sktime

[2022-11-12 13:39] michaelfeil commented on #3769
This would be the modified code so far, please leave some initial feedback!

https://github.com/michaelfeil/sktime/commit/c31c0c6ef0fd2b9048fbe2b4fb9f37785cc9c4b9

[2022-11-12 16:04] #3758 closed

[2022-11-12 18:35] #3663 closed

[2022-11-12 20:12] #3764 closed

[2022-11-12 21:06] fkiraly commented on #3769
Thanks, general idea makes sense, looks great!

could you kindly open a PR to sktime to review?

[2022-11-13 05:53] GigaMoksh commented on #3716
I couldn't find anything, but I'll be happy to solve the issue if someone can find any alternatives.

[2022-11-13 06:06] GigaMoksh commented on #3314
I'll be happy to solve this issue out but I can't find where this issue is coming from. I looked up here: https://github.com/sktime/sktime/tree/main/docs/source/api_reference but couldn't find anything.

[2022-11-13 08:06] achieveordie commented on #3314
Oops, seemed like I missed this mention of me. Apologies.

@GigaMoksh thanks for considering taking this up. I looked around and found the source of the problem.

These HTML files are made automatically via `sphinx`. I encourage you to look into the `/docs` directory and read more about how documentation in `sktime` is structured. [Here's](https://www.sktime.org/en/stable/developer_guide/documenta

[2022-11-13 08:23] achieveordie commented on #3335
I see a check for building the docs, but not a relevant job, why is that happening? Maybe I missed something. I'd look at it once again.

Anyways the solution that I can think of is to add another job that is dependent on the successful building of the docs. This job crawls through the API reference page and checks whether none of the links gives "Maze Found".

Does that sound like a plausible sol

[2022-11-13 08:51] GigaMoksh commented on #3314
thankyou @achieveordie! Will try to solve this issue asap.

[2022-11-13 13:22] #3772 closed

[2022-11-13 15:18] fkiraly commented on #3314
from discussion on slack:

You could add a new file, simply, in the `api_reference` folder that follows the pattern, if that makes sense. If you do that, you should also make sure you add a link in the higher-level page, `source/api_reference.rst`.

[2022-11-13 15:37] RikStarmans opened #3776 "[BUG] Transformers which change data from series to panel cannot be used in pipelines with exogenous data"
**Describe the bug**
A forecaster which contains a transformer for both X and Y and converts series to panel, cannot be used.

**To Reproduce**
[code]
**Explanation and solution**
The pipeline looks as follows
[code]
The STLBootstrapTransformer is performed on y. Which changes the type from Series to Panel.
The forecastingPipeline then receives and X which is a Series and y which is a panel and fa

[2022-11-13 15:40] fkiraly commented on #3776
hmmmm - what exactly would you expect the happen in this case, @RikStarmans?

Would you expect `f` to take the i-th bootstrap instance of `X` and the i-th bootstrap instance ot `y`?

The bootstrap transformer creates multiple instances, but they bootstrap instances of `X` and `y` will be independently created of each other.

[2022-11-13 15:43] fkiraly commented on #3776
I understand where the discrepancy between status quo and expected is coming from:

* currently, we block all instances where `X` and `y` have a different scitype, for atomic forecasters this typically results in an error
* however, in this case it makes sense for the composite (all three components). The problem is how it is built up - in the middle layer, which is also a forecaster, we have `X`

[2022-11-13 15:46] fkiraly commented on #3776
(also, I didn't expect anyone to build this kind of pipeline, but it makes sense!)

[2022-11-13 15:46] RikStarmans commented on #3776
Great.. the code is indeed just an example..

[2022-11-13 16:20] RikStarmans commented on #3776
See above added example of why I believe I need it.

[2022-11-13 21:28] fkiraly commented on #3776
That's a very nice transformer!

We were already thinking how we could do multiple granularity disaggregation and temporal reconcilliation, it appears you figured out how to do it within the current framework (bug aside).

* would be great if could make a PR with the transformer to `sktime`, that way your use case might be easier to debug (and it is nice!)
* for reconciling weekly aggregates, shou

[2022-11-13 21:31] fkiraly commented on #1280
I think this is now a special case of `DirectReductionForecaster` - using `X_treatment=concurrent` and no lags.

[2022-11-13 21:31] #1280 closed

[2022-11-13 21:33] fkiraly commented on #821
I think this is superseded by changes in the multiplexer and grid search. @ngupta23, kindly reopen and comment if this is still unresolved.

[2022-11-13 21:33] #821 closed

[2022-11-13 21:36] fkiraly opened #3778 "[ENH] reconciliation at different temporal aggregation levels"
We should include functionality that makes reconciliation at different temporal aggregation levels easy, e.g., weekly and monthly; or weekly, daily, monthly.

I think @rikstarmans has shown in https://github.com/sktime/sktime/issues/3776 (in his pasted code) how to do this easiest - simply split up the time stamp in week/day multiindex etc and apply the current reconciler (is that correct, @riksta

[2022-11-13 21:37] fkiraly commented on #3778
For a location, I think `transforations.series.date` is the right place.

Perhaps turn it into a folder to not have too much code in one `py` file, but keep the exports via `__init__` at the current location.

[2022-11-13 21:50] fkiraly commented on #3335
Yes, it does! If it is not too hard to implement?

[2022-11-13 21:53] fkiraly commented on #3617
[code]

[2022-11-13 21:54] fkiraly commented on #3617
thanks, @DLWCMD! This helps a lot looking into the issue.

[2022-11-13 21:55] fkiraly commented on #3617
@DLWCMD, quick question that helps more: can you summarize briefly what you would expect to happen in the failure cases (instead of a failure)?

[2022-11-13 21:56] fkiraly commented on #3510
Yes, that's explained because the input/output checks sit in the metrics class but not the metrics function.

[2022-11-13 21:58] DLWCMD commented on #3617
Thanks for looking into this. I will be happy to answer your follow-up question, but I want to review my use cases first as a reminder. You will hear from me within a few hours.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

***@***.***

540-420-0844

From: Franz Király ***@***.***>
Reply-To: sktime/sktime ***@***.***>
Date: Sunday, November 13, 2022 at 4:55 PM
To: sktime/sktime ***@***.*

[2022-11-13 23:13] KishManani opened #3779 "[BUG] Lag transformer returns a dataframe with more rows than the input dataframe"
**Describe the bug**
 I noticed that if you have a dataframe with a non uniform time stamp that the Lag transformer will resample the dataframe and return more rows than the original dataframe.

**To Reproduce**

[code]

Output:

[code]

**Expected behavior**
A dataframe which has the same index as the original dataframe with the lag features.

**Versions**

System:
python: 3.8.7 (default, May  6

[2022-11-13 23:59] fkiraly commented on #3779
This is very odd. I can confirm this on current main, python 3.8, windows.

What works as expected if you set the parameter `index_out="original"` in `Lag`.

Why it creates those extra rows is unclear to me, I suspect it is some `pandas` secret magic around `freq`?

[2022-11-14 00:12] fkiraly commented on #3779
actually, I think it's not a bug at all - it is *expected behaviour*.

Why: the default setting for `index_out` is `"extend"`, which gives you the union of the indices in the input, and any shifted indices with values. In your case, it happens to be all the integers from 1 to 13.

The behaviour you expect is probably `"original"` or `"shifted"`, e.g.,

[code]

[2022-11-14 00:12] fkiraly commented on #3779
I think it's not a bug - please reopen if you think it's otherwise (or, counterintuitive).

[2022-11-14 00:12] #3779 closed

[2022-11-14 02:39] miraep8 commented on #3439
### On the general idea:
- I like the idea of it and can imagine a few instances where it could be useful, I am glad you suggested it @aiwalter
- I think what would make this really powerful would be if we also wrote some permutation generation functions that could generate lists for testing within the grid search. (eg - maybe a topological ordering that constrains the ordering to a certain degree

[2022-11-14 05:21] achieveordie commented on #2905
I think the most direct solution will be to have a GitHub bot perform this operation whenever it notices a change in `.all_contributorsrc`. There's already a [bot](https://allcontributors.org/docs/en/bot/overview) that they provide but even that requires a cue to perform a PR so we might as well create one for added flexibility.

[2022-11-14 08:13] RikStarmans commented on #3778
Thanks for creating this feature request.

-  Transformer should be generalized, allow for different aggregation levels and get a different name; e.g. temporal aggregator
-  A complete pipeline now looks as follows:
[code]
- There are more challenges than mentioned so far;
  -  I had to remove the frequency information after the tempAgg transform
         Level 1 is now a day going from Monday to

[2022-11-14 09:12] RikStarmans commented on #3776
Good the discussion is separated over two threads.
* To get back on your question, I reorder the levels at the end `.reorder_levels(["day", "week"])`. I believe this solves it.
   I was not able to do the grouping by starting directly with day and week.
* How do you propose to fix this issue, options I see;
    * overwrite _check_X_y  of the BaseForecaster super class
       in the TransformedTarg

[2022-11-14 11:29] patrickzib commented on #3757
@TonyBagnall @MatthewMiddlehurst I think, we had a similar issue before and suspect it is the readonly array as in joblib parallelization. I do not know any specifics about ray, though

[2022-11-14 11:44] nyk2001 opened #3784 "forecasting using LightGBM"
### Discussed in https://github.com/sktime/sktime/discussions/3783

<div type='discussions-op-text'>

<sup>Originally posted by **nyk2001** November 14, 2022</sup>
I have used ARIMA and Prophet algorithms for multivariate forecasting, which works fine.  You can see the plot with Prophet as follows:

![image](https://user-images.githubusercontent.com/3079053/201594068-3b15afa1-ddc5-4e1c-b866-d2deab

[2022-11-14 12:00] patrickzib commented on #3757
Digging deeper, there is some documentation regarding read-only and ray:

https://docs.ray.io/en/latest/ray-core/objects/serialization.html?highlight=read%20only#numpy-arrays

By changing transform() of minirocket form

[code]

to

[code]

The above error vanishes and a non-mini-rocket related error pops up:

[2022-11-14 14:21] MatthewMiddlehurst commented on #1289
After some testing, this appears to be fixed in `tsfresh` `0.19.0`

[2022-11-14 15:12] bdewilde commented on #3757
Thanks for digging, @patrickzib ! I'd homed in on the read-only issue, but hadn't identified the specific cause or a decent workaround. Much appreciated. 🙇‍♂️

That next error you hit is familiar: minirocket's transform returns a dataframe with integer column names (one for each feature), assigned automatically based on the underlying numpy array ([here](https://github.com/sktime/sktime/blob/main/

[2022-11-14 15:53] MatthewMiddlehurst commented on #1478
All `check_estimator(TSFreshClassifier)` tests pass for both the lowest possible and latest versions of `tsfresh` and `statsmodels`, and there is no longer an upper bound for `statsmodels` versioning.

[2022-11-14 15:53] #1478 closed

[2022-11-14 15:53] MatthewMiddlehurst commented on #1484
There is no longer an upper bound for `statsmodels` versioning.

[2022-11-14 15:53] #1484 closed

[2022-11-14 16:03] patrickzib commented on #3757
@bdewilde

I did some more investigation, and the test finally succeeds using the following code:

[code]

I am not sure, if it makes sense to modify MiniRocket. The problems seem to be - to a large extend - related to RAY.

[2022-11-14 18:45] aiwalter commented on #3439
Ok seems @miraep8 and @benHeid tend slightly towards delegator solution. @fkiraly do you mind to finalize it or should I?

[2022-11-14 20:22] patrickzib commented on #3757
I am closing the bug for now. Feel free to comment, if any issues remain.

[2022-11-14 20:22] #3757 closed

[2022-11-14 21:20] nyk2001 commented on #3784
I will have a look at the article. One more question !!

In your documentation examples, you have used GradientBooster for forecasting. I have used the same code but it also does not work. Why is that ?

https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.forecasting.compose.make_reduction.html?highlight=make_reduction

[2022-11-14 21:23] danbartl commented on #3784
As i said, by design.gradient boosting trees cannot extrapolate by design. They will NOT forecast values they have not seen. So the airlines dataset is an extremely bad example since it has a trend. You need to do decomposition to get useful forecasts, read the example.

[2022-11-14 21:41] nyk2001 commented on #3784
Thanks for the clarification

[2022-11-14 22:09] #3784 closed

[2022-11-14 22:18] nyk2001 commented on #3784
One more thing. The sample article is great for LightGBM. Interestingly, I am planning to use the same dataset. In his example, he limited the use to just 1 store because if you include all stores then there will be date duplicates. That is going to impact the forecast horizon. Because, I am going to use Test Dataset index (date) as my forecast horizon for testing purposes.

Is there a way to hand

[2022-11-14 23:03] aiwalter commented on #3784
https://github.com/sktime/sktime-tutorial-pydata-berlin-2022/blob/main/notebooks/3_hierarchical_global_forecasting.ipynb

[2022-11-14 23:23] nyk2001 commented on #3235
I am getting the same error. How we can fix it ?

[2022-11-14 23:53] #3235 closed

[2022-11-14 23:54] aiwalter commented on #3235
@nyk2001 i think its not meant to be used with forecasters

[2022-11-15 02:38] nyk2001 commented on #3784
@aiwalter thanks for sharing the link.  In note book examples, it is assumed that you have data in the desired format.

I am struggling to find examples where I can convert a 2D pandas dataframe into hierarchical sktime compatible format. Can you please share some example ?

I want to use store, item, and timestamp as indices. My pandas DatafFame looks like as follows:

![image](https://user-image

[2022-11-15 05:21] silvererudite commented on #3406
Hi is this issue up for grabs? I'd love to contribute...would love to dive into any references or pointers to get started as well...thanks

[2022-11-15 07:24] fkiraly commented on #3784
@nyk2001, maybe one additional thing: yes, ensembles of trees do not extrapolate well, but one simple trick to fix that is applying a transformation to make the time series more stationary and back-transform.

In your example, it would be a pipeline with the differencer, e.g.,

[code]

[2022-11-15 08:53] nyk2001 commented on #3784
@fkiraly Thank you. At the moment, I am trying to find a way to convert my dataframe to above format. Please let me know if you have experimented it.

[2022-11-15 09:34] hoesler opened #3787 "[BUG] ColumnTransformer does not work with a callable as column selector"
**Describe the bug**
The ColumnTransformer does not work with a callable as column selector for a transformer, as in sklearn, contrary to the description:

        mask array or **callable**

The error is:
[code]

**To Reproduce**
[code]

**Expected behavior**
A ColumnTransformer should accept a callable for column selection.

**Versions**
<details>

System:
    python: 3.10.8 (main, Oct 13 2022,

[2022-11-15 11:07] MatthewMiddlehurst commented on #3660
The imports happen through `ForecastingPipeline`, but the numba issue is just an example of the imports happening because it's easy to see which changes stop the imports (the error stops happening).

If other classes such as distances and early classifiers being imported with the base classes is fine, we can just close this issue.

[2022-11-15 11:09] johan-sightic opened #3788 "[BUG] HIVECOTEV2 with n_jobs>1 crashes on internal dataset"
**Describe the bug**
I want to fit HIVECOTEV2 on an internal dataset in "df-list" format with two classes. Running it in a singe thread `HIVECOTEV2(time_limit_in_minutes=1)` works as expected and outputs no warnings or errors. However I want to speed it up with multiprocessing `HIVECOTEV2(time_limit_in_minutes=1, n_jobs=14)` but this creates `NumbaPendingDeprecationWarning`:s, overflow warnings an

[2022-11-15 11:23] MatthewMiddlehurst commented on #3788
I can reproduce the deprecation errors but not the `PicklingError` on a small internal dataset. Do you have any information about your data i.e. number of cases, dimensions and series_length?

Either way should fix the deprecated stuff.

[2022-11-15 11:48] EyescannerJE commented on #3788
Sure:
- number of samples: 248
- number of dimensions: 70
- timeseries length: 1831

[2022-11-15 12:59] TonyBagnall commented on #3788
thanks @EyescannerJE we saw something similar to this with TDE, it is to do with the Parallel threading model writing to local memory. We will look into this now

[2022-11-15 13:02] TonyBagnall commented on #3788
probably related to this https://github.com/sktime/sktime/issues/3582

[2022-11-15 13:36] EyescannerJE commented on #3788
I tried with TemporalDictionaryEnsemble now with the same result. `TemporalDictionaryEnsemble(time_limit_in_minutes=1)` works as expected but `TemporalDictionaryEnsemble(time_limit_in_minutes=1, n_jobs=14)` causes the exact same error as above.

[code]

[2022-11-15 13:57] hoesler opened #3789 "[BUG] FeatureUnion.get_params() causes infinite loop"
**Describe the bug**
The `get_params()` method of FeatureUnion causes an infinite loop if created by magic `+` method.

Both the `get_params()` and `set_params()` methods should access the tuples in `_transformer_list` instead of the list of transformers in `transformer_list`.

**To Reproduce**
[code]

**Expected behavior**
The method call should return the dict of params.

**Additional context**

[2022-11-15 15:16] TonyBagnall commented on #3788
think its a Parallel thing, but it could be an edge case for short contract interact with Parallel. Could you try it with a longer contract and fewer jobs? thanks.

[2022-11-15 15:57] michaelfeil opened #3791 "[BUG] MultiRocketMultivariate does not enforce np.float64 datatype and order"
**Describe the bug**
MultiRocketMultivariate requires and explicit casting of an 3d numpy array to np.float64

**To Reproduce**

[code]

**Expected behavior**
float32 and float64 gets adjusted automatically

**Additional context**

**Versions**
<details>

</details>

[2022-11-15 16:52] fkiraly commented on #3789
yes, that's correct, thanks!!

Do you have an explanation why this was not caught by the current tests? We do `test_get_params`, naively I would think it should fix this?

I incorporated the fix in this refactor here:
https://github.com/sktime/sktime/pull/3708

[2022-11-15 17:16] fkiraly commented on #3776
That's a very nice transformer!

We were already thinking how we could do multiple granularity disaggregation and temporal reconcilliation, it appears you figured out how to do it within the current framework (bug aside).

* would be great if could make a PR with the transformer to `sktime`, that way your use case might be easier to debug (and it is nice!)
* for reconciling weekly aggregates, shou

[2022-11-15 17:18] fkiraly commented on #3778
This is mitigated by recreating the indices in the inverse transform

Sounds pretty weird but not surprising, FYI @danbartl, @khrapovs, more `freq` arcana. Would be keen to see the failure example here.

[2022-11-15 17:20] fkiraly commented on #3778
I aim to solve this by adding another transformer at the very end, which again does a disaggregation.
Let me know if you have better ideas.

That works, another option would be date/time dummies or indicator variable creator.

We never got around to create the "holiday features transformer" that would follow this idea - so if you have some code hanging around somewhere ... would be much appreciate

[2022-11-15 17:26] fkiraly commented on #3776
I wanted to reply on this, apologies.

I think there are two "principled" ways, and we should not hack the base class (or this will lead to trouble...)
One, more difficult one, follows your no.2; another one is quicker to implement.

1. the "no.2-like" solution is having config flags that control input and output checks. This should not happen via "raw attributes" but use the tag/config system. It

[2022-11-15 17:26] fkiraly commented on #3776
Would you like to give option 2 a try? It's a more principled version of #3794.

[2022-11-15 17:32] RikStarmans commented on #3776
I will look into it tomorrow.

[2022-11-15 18:26] GianlucaGuarroSonos opened #3795 "[BUG] 'evaluate' method cannot handle TransformedTargetForecaster where the time series data is transformed into several features"
**Describe the bug**
'evaluate' method expects a univariate pd.DataFrame with one column. However the point of featurizers like `FourierFeatures` is to transform the univariate time series into a set of features and feed that into the model. Thus the 'evaluate' method is not generalized to these use cases.

**To Reproduce**

[code]

**Expected behavior**

For the evaluate method to run without iss

[2022-11-15 18:40] fkiraly commented on #3660
Still don't get it - I would really appreciate a step-by-step answer to my questions, with code examples.

[2022-11-15 18:41] fkiraly commented on #3406
up for grabs indeed!

A good starting point would be https://numpy.org/doc/stable/reference/routines.fft.html which we may simply want to interface.

[2022-11-15 18:53] silvererudite commented on #3406
Thanks for the pointer...getting on it

[2022-11-15 18:55] fkiraly commented on #3439
I'm not 100% sure whether I would agree with this one, @miraep8. From a domain driven design perspective I feel it might be easier to wrap your head around pipeline and permutation separately, as separated concepts, than a pipeline with added permutation function.

This is from a perspective of someone who needs to learn about the pipeline concept *and* the permutation concept, because learning ab

[2022-11-15 19:08] MatthewMiddlehurst commented on #3660
I'm sorry, I don't really know what to give past what I already have. What kinda of code example would you like to display that when you import `ForecastingPipeline` you are also importing `EditDist` or whatever else. It is more of a design issue.

1. `ForecastingPipeline` has the import
`from sktime.registry import scitype`

2. which imports all base classes
`from sktime.registry._base_classes`

[2022-11-15 19:46] hoesler commented on #3789
Thanks for the fast response. I think you're right, that the non-tuple args are causing this.

But the root cause might be something different:

The execution got stuck [here](https://github.com/sktime/sktime/blob/0ce1b838bd9837b7f80f8e6ddce2fa912059b881/sktime/base/_meta.py#L46).

PyCharm doc on the dict.update method says (can't find it in the official docs):

So my guess is, that it is calling

[2022-11-15 21:26] wex52 opened #3798 "[BUG] 'kneighbors' method of KNeighborsTimeSeriesClassifier results in TypingError"
**Describe the bug**
After a KNeighborsTimeSeriesClassifier has been successfully fit and successfully used to classify toy data, an attempt to use the 'kneighbors' method fails due to a TypingError. The method should return the indices of and distances to the neighbors of each point.

**To Reproduce**
[code]

**Expected behavior**
The final line should print the indices of and distances to the ne

[2022-11-15 21:52] fkiraly commented on #3789
ahhhhh, makes sense. Thanks, this explains it!

[2022-11-15 21:53] nyk2001 commented on #3784
@fkiraly @danbartl Thanks for your inputs. I can successfully use LigthGBM model to do the forecasting.

[2022-11-16 07:46] fkiraly commented on #3660
thanks, this is much clearer, since it actually gives an example and the mechanism is spelled out.

I think there are two issues:

* a concrete issue, where `_pipeline.py` imports `scitype`, which is more of a testing utility and coupled to all base classes. This import probably should not happen in estimators, and it seems the pipelines are the only non-test/utility case where it is imported. Thi

[2022-11-16 07:53] fkiraly commented on #3660
This should fix the coupling for the forecasting pipeline:
https://github.com/sktime/sktime/pull/3799

Are there any other instances where this behaviour happens?

A quick search for `from registry` indicates this might be the only example? Or are you aware of others?

[2022-11-16 07:54] EyescannerJE commented on #3788
I ran it again with a time limit of 60 minutes and only 2 jobs. It did run for 60 minutes but then crashed with the same error.
[code]
[code]

[2022-11-16 08:40] TonyBagnall commented on #3788
thank you for doing that, we will look into this

[2022-11-16 15:01] LoicRaillon commented on #3795
If you want to use Fourier series as features you need to replace `TransformedTargetForecaster` by `ForecastingPipeline`.

[2022-11-16 15:14] aiwalter commented on #3795
Can you try to mimimize te example by just fitting the forecaster? I think `ARIMA` cant do a vector forecast but seems the created features are given as `y` to it? Might that answer your question?

[2022-11-16 16:38] TonyBagnall commented on #3788
hi, so we are tracking this down, there is some kind of interference in TDE predict_prob. This crashes

[2022-11-16 17:38] #3633 closed

[2022-11-16 17:49] MatthewMiddlehurst commented on #1824
We do not do anything with `impute_function`, just pass it directly to `tsfresh`. I tend to agree that this is not a problem we can readily fix if it is one.

I can run the following code without issue on the same version of `tsfresh` (not that it verifies the function is actually doing anything), so maybe the problem lies elsewhere?

[code]

If there are no more comments on this issue after a whi

[2022-11-16 20:31] RikStarmans commented on #3778
Transformer that fails due to not relabelling indices.
[code]
Code to make it fail
[code]
Exception raised
[code]

[2022-11-16 20:32] RikStarmans commented on #3778
See above

[2022-11-16 23:35] fkiraly commented on #3789
Hm - how do we avoid this? Is there a smart way to throw an exception?

[2022-11-17 00:00] nyk2001 opened #3803 "error prediction with global model [BUG]"
Hi,

I am using **hierarchical** data (sales forecast data from Kaggle competition) to train a global model.

There are 10 stores and each store has 50 items. My train dataset (X_train) looks like as follow:

![image](https://user-images.githubusercontent.com/3079053/202317601-927cfc69-acdf-48c0-956c-70050b0499d3.png)

My train label dataset (prediction label is **sales**) is as follows:

![image]

[2022-11-17 02:31] DLWCMD commented on #3617
Franz,

Thank you for all your help. I have been working extensively with SKT, trying to successfully utilize exogenous variables, but with limited success. I have recently completed some testing with the SKI Longley data, which is used in some of the exogenous examples from your materials. To summarize, my results indicate that the forecasters I am using do not recognize or at least utilize the e

[2022-11-17 08:26] templierw commented on #2019
Hello,
If it is still open, I shall have a look!

[2022-11-17 11:02] RikStarmans opened #3804 "[BUG] ColumnEnsembleForecaster does not support multilevel columns"
**Describe the bug**

Multilevel columns are not fully supported by ColumnEnsembleForecaster.
Let's say y is the following multi-level column dataframe with a single index;
[code]
This can not be fitted by specifying  a separate forecaster for each column.

**To Reproduce**

[code]

**Expected behavior**

No error
**Additional context**

Fail is caused by https://github.com/sktime/sktime/blob/2b35

[2022-11-17 13:06] equ1 opened #3806 "[BUG] CNNClassifier loss and accuracy flat 0.5 on all epochs"
**Describe the bug**
Running `CNNClassifier` with nested_univ data type (multivariate time series) gives a loss/accuracy of 0.5 on each epoch. Each iteration takes 4 ms, and I highly suspect no actual training is happening. Here's screencaps of what's going on:

![image](https://user-images.githubusercontent.com/19189325/202454225-7c334cc3-0a3f-45de-9b2b-9ecf36ee8420.png)
![image](https://user-ima

[2022-11-17 14:25] GigaMoksh commented on #3390
Hi, I'd like to work on this. Just need a quick tip on where to start

[2022-11-17 14:32] MatthewMiddlehurst commented on #1549
1, 2 and 3 are done. Unsure if 4 should be included, it should probably be a separate notebook if so. Thoughts @TonyBagnall?

[2022-11-17 14:37] TonyBagnall commented on #1549
Yes let's do it as another note book

[2022-11-17 16:33] TonyBagnall commented on #3806
hi, thanks for highlighting this. In my experience, deep learners like CNN quite often fail completely and just predict a single class. All I can say is that for random data and for basic motions, it does something. For random data it gets 45% accuracy on the test (so is doing something!), but for BasicMotions it gets 100%.

[code]

[2022-11-17 18:40] equ1 commented on #3806
That's strange...I manually implemented an RNN with Pytorch for the same dataset and it was reaching up to 90% training accuracy. I find it a little hard to believe that a 4ms iteration is actually doing some kind of processing considering it took my RNN hours to train. Maybe it's just the model architecture! Interesting stuff.

[2022-11-17 18:44] equ1 commented on #3806
@TonyBagnall would like to add that documentation for all the deep learning functions is not included in the latest version (0.14.0). E.g. https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.classification.deep_learning.mlp.MLPClassifier.html.

[2022-11-17 20:32] TonyBagnall commented on #3806
thanks @equ1 I'll reopen if thats ok, what you describe does sound odd and worth investigating. Have you tried it inputting a numpy array, [n_cases][n_dimension][series_length] (I think [400][8][10000] for your example?

[2022-11-17 20:36] fkiraly commented on #3804
support for multi-level columns is not part of the current interface contract of `sktime`, but also not strictly excluded - therefore strictly speaking this is not a bug.

So it's fine to add this to the `ColumnEnsembleForecaster`, but it would not be necessary for full interface compliance.

Should we add it though, on mid term?

[2022-11-18 07:46] RikStarmans commented on #3804
I changed [BUG] to [ENH}

OK

I would add support for multi-level columns. They can lower memory requirements.

[2022-11-18 08:00] fkiraly opened #3811 "[ENH] "compatible only with specific data format" tag"
I think we need a tag that describes estimators which are compatible only with a specific format of data.

This can occur if more is assumed than the general `sktime` interface assumption.

Example:

* pretrained estimator which assumes certain columns to be present
* @KishManani's `TimeSince` transformer, which assumes that the time diff parameter is compatible with the data frame index

For insp

[2022-11-18 08:05] hoesler commented on #3789
I guess, the best would be to exclude int as key type of `__getitem__(self, key)`, if we misuse that method for something different from getting elements of a sequence. If that is not possible, I don't see anything we can do to avoid unexpected iteration, as with the `dict.update` methods. So, the best we can do is testing.

[2022-11-18 08:07] fkiraly commented on #3803
can you provide us with your code, full imports, and optimally using dummy data from `sktime`?

Please also spell out your package versions, instructions are in the bug report template.

[2022-11-18 08:08] fkiraly commented on #3795
I think this is a special case of this known bug in the `pmdarima` interface: https://github.com/sktime/sktime/issues/3657

[2022-11-18 08:09] fkiraly commented on #3789
I think `int` needs to be possible, since `int` can be a column index type in subsetting...

Yes, the new test case catches the error. I'd say coverage was just too low in this case.

[2022-11-18 08:10] fkiraly commented on #3670
Any good guesses why #3669 fails on 3.10 but not on 3.9 or lower?

[2022-11-18 11:18] RikStarmans opened #3814 "[DOC] Reconciler example does nothing"
**Describe the bug**

The reconciler example given by sktime does not change the predictions.

**To Reproduce**

[code]

**Expected behavior**

An example which shows that it works.

**Additional context**

**Versions**
<details>

</details>

[2022-11-18 12:38] RikStarmans opened #3815 "[BUG] ReconcilerForecaster does not support exogenous data out of the box"
**Describe the bug**

If the sktime example is adapted to a forecaster with exogenous data it fails.

**To Reproduce**

[code]
Error
[code]

**Expected behavior**

No error.

**Additional context**

**Versions**
<details>

</details>

[2022-11-18 13:37] TonyBagnall commented on #3806
@achieveordie @AurumnPegasus any ideas/thoughts on this?

[2022-11-18 14:13] TonyBagnall opened #3816 "[BUG] testing deep learning base class fails due to optimizer type"
**Describe the bug**

 test_deep_estimator_full[keras-adamax] is failing due to a type check in keras. See, for example

https://github.com/sktime/sktime/actions/runs/3495913658/jobs/5855642783

"ValueError: `optimizer` of type <class 'keras.optimizers.optimizer_v2.adamax.Adamax'> cannot be serialized, it should either be absent/None/str/tf.keras.optimizers.Optimizer object"

it could be that the

[2022-11-18 15:40] TonyBagnall commented on #3816
I assume so, since nothing has changed our side.

[2022-11-18 15:50] fkiraly commented on #3816
temporarily skipped here:
https://github.com/sktime/sktime/pull/3817

not resolved - still needs a bugfix.

@achieveordie, I think you wrote the test so might have a good idea on what´s going on?

[2022-11-18 17:02] #3748 closed

[2022-11-18 18:43] RikStarmans commented on #3816
@fkiraly, the bug pointed out by @TonyBagnall  is on sktime its side.
The problem resides in your build system. I would you use https://python-poetry.org/. This would raise an error if you have an incompatible version of keras installed.

[2022-11-18 21:27] GianlucaGuarroSonos commented on #3795
Following @LoicRaillon advice fixes the problem. Using `ForecastingPipeline` seems to do the trick. Maybe I can suggest a bit of discussion regarding when to use `ForecastingPipeline` vs `TransformedTargetForecaster` in the 01_forecasting.ipynb example?

[2022-11-18 21:27] #3795 closed

[2022-11-19 06:26] achieveordie commented on #3816
Things seem to be breaking after their update. To ensure smooth sailing, we could replace `keras.optimizers` with `tf.keras.optimizers` in our import statement.

Of course, one can argue that our build should hold more specific versions as said by @RikStarmans, but I'm not sure what would be the "right" approach. On one hand, the current code enables us to catch and correct such changes while on t

[2022-11-19 08:05] fkiraly opened #3819 "[BUG] codecov no longer works"
I think code coverage via codecov is no longer reported in CI?

Unsure why it stopped working or when, but I cannot see it anymore in most recent PR.

[2022-11-19 08:08] fkiraly commented on #3816
I also received warnings that "things" have changed.

@RikStarmans, there is a longer discussion on fixing bounds for package versions
https://github.com/sktime/sktime/issues/1480
this has only posts by me, but I remember there being long discussions, possibly in issues referencing this or on slack.

[2022-11-19 08:09] fkiraly commented on #1480
@lmmentel, I wanted to show someone the discussion we had on this, e.g., that adopting too strict devensive bounds or even pins may lead to packages getting out of sync or resulting in contradictory requirements.

Not sure where that was - would appreciate a pointer, or a summary of your opinion here, in case it was only on slack.

[2022-11-19 08:13] fkiraly commented on #1480
@achieveordie in #3816:

These considerations, and earlier instances of "update results in failure" have made me open this issue, and prompted us to introduce some defensive version bounds on core packages.

The situation and trade-off is, however, not as straightforward as it may seem.
Unfortunately it may be that the discussion we had internally was not recorded properly, or I'm just failing at

[2022-11-19 08:14] fkiraly commented on #1480
(It really looks like I'm having a monologue with myself here, but there was a very heated discussion on our internal slack and in dev meetings, as said, it may not have been recorded)

[2022-11-19 08:18] fkiraly commented on #3804
Really?

Would appreciate a PR to improve the `ColumnEnsembleForecaster` with this.

What would also interesting is to see how many of our current estimators would support this out of the box - I think the most interesting ones (for multi-level columns) are transformers and forecasters.

The easiest way to check this would be with a draft PR that adds scenarios with multi-level columns, in `utils.

[2022-11-19 12:48] achieveordie commented on #3806
The first thing that I would suggest trying is to overfit the data - maybe consider a subset of your dataset and a comparatively larger estimator size. If the estimator overfits then probably the problem might be the current estimator doesn't have enough parameters to improve. If it doesn't.. then we'd have to think from a different perspective.

@equ1 just curious, what was the size of your RNN-b

[2022-11-19 21:56] #3789 closed

[2022-11-19 22:59] fkiraly commented on #3390
thanks, @GigaMoksh!

This would be very similar to `ForecastingGridSearchCV`, that would be a good place to start.

You may also like the "implementing estimators" guide, which has a link to a tutorial video:
https://www.sktime.org/en/stable/developer_guide/add_estimators.html

[2022-11-20 20:03] fkiraly opened #3823 "[BUG] `SupervisedIntervals` is not interface compliant"
`SupervisedIntervals` is not interface compliant, as it overrides `fit_transform`.

It will start failing after the next core interface change, kindly fix this, @MatthewMiddlehurst.

Apologies for not spotting this in the review.

[2022-11-21 05:26] chillerobscuro opened #3824 "[ENH] Allow `plot_series()` to plot prediction intervals"
**Is your feature request related to a problem? Please describe.**
Making interval forecasts is a key feature of `sktime`, seems like there should be a simple way to plot the intervals.

**Describe the solution you'd like**
Pass the results of `forecaster.predict_interval()` or `forecaster.predict_quantiles()`  directly to `utils.plotting.plot_series()`. This would entail adding an argument like `

[2022-11-21 11:08] aiwalter commented on #3824
related issue: https://github.com/sktime/sktime/issues/541

[2022-11-21 11:21] MatthewMiddlehurst commented on #3823
That is the recommendation given in the base class, though?
[code]

[2022-11-21 11:34] nyk2001 commented on #3803
Hi @fkiraly ,

The versions of libraries are as follows:

![image](https://user-images.githubusercontent.com/3079053/203039820-47159ad7-8339-4725-9e6e-ab9aa94605bd.png)

![image](https://user-images.githubusercontent.com/3079053/203039936-8409e3a1-4133-4f17-b733-8276c1c91913.png)

The dummy data is taken from the following Kaggle competition:
https://www.kaggle.com/competitions/demand-forecasting-

[2022-11-21 12:34] nyk2001 commented on #3803
[train.csv](https://github.com/sktime/sktime/files/10056515/train.csv)

@fkiraly attached is the dataset I used

[2022-11-21 23:15] fkiraly commented on #3823
hm, is there not a `_fit_transform`? Seems not.

Is there an optimized combined method?

[2022-11-21 23:31] fkiraly commented on #3814
With python 3.8, windows, current main, I cannot reproduce the example.

Results after reconciliation are different from results before, as expected:

[code]

[2022-11-21 23:33] fkiraly commented on #3814
Manually checked for `method = td_fcst` whether the results are correct, they are - sum to total, and proportions are the same.

[2022-11-21 23:33] fkiraly commented on #3814
@RikStarmans, can you please add package version details?

[2022-11-21 23:41] fkiraly commented on #3824
yes, duplicate of #541.

I think we need to be careful, in case you did not intend this: the top level is called "Coverage" or "Quantile" only in the univariate case, otherwise it is the name of the variable(s).

I would actually make two functions, one for predictive intervals, one for predictive quantiles - these are two related but separate concepts.

Interesting question. I would plot differen

[2022-11-21 23:51] fkiraly commented on #3778
@RikStarmans, thanks for this!

Full classes like this are difficult to review outside a PR, since I would now have to make a local branch, copy-paste, etc, which is error prone...

Would appreciate if you could open a draft PR even if the code errors out, that is better to share and debug together.

[2022-11-22 07:54] RikStarmans commented on #3778
@fkiraly thanks for your feedback. I am quite busy the coming days to show something to the business but will pick it up hereafter.

[2022-11-22 08:25] fkiraly opened #3826 "[DOC] fix incomplete `ForecastingPipeline` docstring"
The docstring of `ForecastingPipeline` seems very incomplete.

I remembered this being better, but I must have misremembered.

Much can be copy-pasted from `TransformedTargetForecaster`, see there.

FYI @aiwalter

[2022-11-22 12:20] danbartl opened #3827 "[ENH] Change logic of checks"
Investigation to see why checking for datatypes can take very long.
A description of all checks can be found here.
https://docs.google.com/spreadsheets/d/1cDx_yg2HhFcPfNR1Trc1Vr1FDuSOTkXwid5GTKIS2aE/edit?usp=sharing

After some investigation, most computing time was consumed when having _index_equally_spaced for periodindex.

Some investigations revealed that groupby can optimize / reduce time nee

[2022-11-22 12:33] fkiraly commented on #3827
Amazing and impressive!

Based on this, I wonder whether we can integrate a slightly more polished version of the performance testing into `sktime` itself, as a developer utility.

[2022-11-22 12:36] fkiraly commented on #3827
Re some of these checks:

some changes can be made *by accident* by transformers, but this can be certified in the test suite (as opposed to in an output check).

Regarding whether transformers can change:
* in-principle, transformers could return an empty data frame, e.g., when subsetting or selecting
* transformers can also change the number of time points, number of samples in a panel, number o

[2022-11-22 12:43] MatthewMiddlehurst commented on #3823
Yes. It would have to transform twice with the default.

[2022-11-22 16:23] fkiraly commented on #3823
That doesn´t sound right - why would it?

[2022-11-22 18:05] MatthewMiddlehurst commented on #3823
It's a supervised transform, to assess the quality of the features you have to transform the features first.

The default process is essentially extract features > select useful ones > discard all features > transform useful ones again.

[2022-11-22 19:26] fkiraly commented on #3804
@rikstarmans, I wanted to look into this to build a prototype, but I found out that in your code example the forecaster that is being built is

[code]

I don't understand how you expect this to be applied, since there are only four (multi-index) columns in the data frame `df` and not sixteen, would appreciate an explanation.

[2022-11-22 20:49] fkiraly commented on #3778
let me know if I can help. We have community collab sessions on Fridays if that could get some PR over the finish line.

[2022-11-22 21:45] fkiraly commented on #3491
The underlying bug (in grid search) has been fixed in 0.14.0, but the code is now failing due to the data not being large enough for the splitter (data has length 3, but splitter requires >5).

The example with longer data works now:

[code]

[2022-11-22 21:45] #3491 closed

[2022-11-22 21:53] fkiraly commented on #971
We have consolidated the design idea in `get_fitted_params`, and with PR https://github.com/sktime/sktime/pull/3077 this now has a nested interface too. Done!

[2022-11-22 21:53] #971 closed

[2022-11-22 21:54] #1486 closed

[2022-11-22 21:56] fkiraly commented on #1468
Update: the `get_fitted_params` interface has been reworked, now there is a separation into `get_fitted_params` (boilerplate) and `_get_fitted_params`.

The correct locus for implementing this functionality would now be in `_HeterogenousMetaEstimator` rather than in the specific pipeline class.

[2022-11-22 22:03] fkiraly commented on #3823
You could check in `transform` whether the data seen is identical to the data seen in `fit`?

[2022-11-22 22:16] MatthewMiddlehurst commented on #3823
That would mean I have to store 2 full datasets (the original input and the transformed input) in the transformer, as well as doing said comparison every transform call. Seems rather wasteful and hacky.

[2022-11-22 22:29] aadya940 commented on #3472
Hey,
Please check my pull request :
https://github.com/sktime/sktime/pull/3828

Also, this is my first open source pull request :-)

[2022-11-23 08:10] aadya940 opened #3829 "ConvergenceWarning: Optimization failed to converge. Check mle_retvals. [BUG]"
I tried to run the following exponential smoothing code 👍

from sktime.datasets import load_longley
from sktime.forecasting.exp_smoothing import ExponentialSmoothing
import pandas as pd
# create multivaritate data with multi column index
_, y = load_longley()
y.columns = pd.MultiIndex.from_tuples(zip(y.columns, y.columns), names=["l1", "l2"])

# run forecaster
forecaster = ExponentialSmoothing()
f

[2022-11-23 14:21] adoherty21 opened #3830 "[BUG] `model_evaluation.evaluate` fails for `statsmodels` forecasters with exogenous features"
**Describe the bug**

model_evaluation.evaluate creates X_test containing both train and test samples.  For statsmodels models with exogenous features X_test length must equal the forecast horizon and therefore this currently throws the error:

`ValueError: Provided exogenous values are not of the appropriate shape.`

This bug occurs for UnobservedComponents and SARIMAX.

The root cause of the bug

[2022-11-23 15:09] christopherbunn commented on #2921
Hi! Now that we have the soft dependencies separated out, is there anything else blocking a conda release? If not, I'm happy to give updating the feedstock a shot if no one else is working on that already.

[2022-11-23 15:20] lmmentel commented on #2921
I don't see why not @christopherbunn. Go ahead and fee free to reach out if there's anything I can help with.

[2022-11-23 15:50] #1549 closed

[2022-11-23 15:50] #3540 closed

[2022-11-23 21:11] benjaminbluhm commented on #1215
@aiwalter Would be happy to work on this FR as I will soon have some capacity to contribute

[2022-11-24 11:04] darshitsharma commented on #3826
Hi @fkiraly,
May I work on this issue (#3826)?

[2022-11-24 12:28] #3788 closed

[2022-11-24 14:59] RikStarmans commented on #3778
Well, I was only able to find two new challenges.
 - The Reconciliatior creates a forecast at levels (week and day) and then makes a prediction.
   As such, it requires way too much compute at scale.
 - I can't update the pipe at the moment, it only allows fits.
    I am not trying to circumvent the reconciliation with a custom transformer.

[2022-11-24 15:29] benjaminbluhm commented on #1215
@aiwalter thanks for the opportunity to contribute!

If we want to create a mlflow custom flavor I  guess we should implement this in a separate repo `mlflow-sktime` as suggested in the mlflow docs. Probably best place to host this repo would be under https://github.com/sktime - would you agree?

Will be happy to start working on it once we have a repo in place.

Later we could also add this as a

[2022-11-24 16:37] mateocomba123 opened #3831 "[BUG] Ensemble model cant be loaded after pickle"
I have .pkl files generated from EnsembleForecaster class models of Sktime, pickled them with:

pickle.dump(model, 'final_ensemble.pkl', 'wb')

and then load it with:

pickled_model = pickle.load(open('final_ensemble.pkl', 'rb'))

But when I call the .predict method it says that 'Series' object has no attribute 'predict'

I think the model somehow was serialized but couldnt be unserialized

Is the

[2022-11-24 16:54] aiwalter commented on #3831
Pls provide minimal code to repepduce

[2022-11-25 09:31] aiwalter commented on #1215
@benjaminbluhm I would actually prefer to have it in `sktime` main repo bcz then it will be better maintained and run with the same CI/CD and release process. We can have it probably best in path `sktime/utils/mlflow.py` and we can have `mlflow` as a soft-dependency. Instruction how to do that is [here](https://www.sktime.org/en/stable/developer_guide/dependencies.html?#adding-a-soft-dependency)

[2022-11-25 09:46] louis732 opened #3832 "[BUG] ComposableTimeSeriesForestRegressor cannot instantiate"
I can't use ComposableTimeSeriesForestRegressor because it cannot instantiate...

model = ComposableTimeSeriesForestRegressor()

TypeError: Can't instantiate abstract class ComposableTimeSeriesForestRegressor with abstract method _set_oob_score_and_attributes

[2022-11-25 10:59] aiwalter opened #3833 "[ENH] Installation of soft-dependencies"
**Is your feature request related to a problem? Please describe.**
Currently there are only two installation commands:
- `pip install sktime`
- `pip install sktime[all_extras]`

We dont have yet a separate install command for each individual soft-dependencies to do e.g. `pip install sktime[pmdarima]` or `pip install sktime[pmdarima,prophet]` and this causes an issue as sometimes people just run `p

[2022-11-25 11:06] fkiraly commented on #3833
Confused - the command to install a single soft dependency `mysoftdep` is simply `pip install mysoftdep`

Why would we also need `pip install sktime[mysoftdep]` which is strange, and longer?

[2022-11-25 11:08] fkiraly commented on #3833
You mean, "subject to the version constraints of `sktime`"? Is that condition not always going to be satisfied?

[2022-11-25 11:15] aiwalter opened #3834 "[ENH] Random walk forecaster"
**Is your feature request related to a problem? Please describe.**
Would be nice to have a random walk forecaster for the sake of benchmarking other forecasters with.

**Describe the solution you'd like**
we can either adapt it from `statsforecast` [implementation](https://nixtla.github.io/statsforecast/models.html#randomwalkwithdrift) or implement is ourselves.

[2022-11-25 11:16] fkiraly commented on #3829
this is coming from `statsmodels`, I think you would find the same if you applied it directly.

I think you have MLE convergence issues because the data set is too short, although you may have to check in the `mle_retvals` attribute. Currently this is not seen by `get_fitted_params` so you would have to dig it out if you are really interested in the details of the MLE optimisation.

[2022-11-25 11:16] fkiraly commented on #3829
not a bug but a model issue, output format is as expected.

[2022-11-25 11:18] aiwalter commented on #3833
as described above, doing a `pip install mysoftdep` is usually fetching the newest version, but we might have an upper bound for `mysoftdep` which is e.g. the case for `pmdarima` currently:

[code]

[2022-11-25 11:56] RNKuhns commented on #3834
Optimal forecast for Random Walk is naive (last value). Or naive with drift in case of trend. We have the first implemented and the second can be completed using pipeline.

[2022-11-25 12:02] aiwalter commented on #3834
Yes, but people might want to use actually random values with different seeds?

[2022-11-25 12:44] MatthewMiddlehurst commented on #3832
Thanks, will take a look.

[2022-11-25 13:45] fkiraly commented on #2573
update on this for how the design ended up being, for use in `skbase` design discussions:

`sktime` has dropped requirement 1.

The `fit` boilerplate calls `reset`, which calls `__init__`,  thus ensuring that tag setting logic is also executed in any parameter state change.

It also allows parameter validity checking directly in `__init__` in the same way,  which is de-facto contained in some esti

[2022-11-25 13:48] fkiraly commented on #1056
design-wise and implementation-wise, this is now resolved by `BaseParamFitter` - at least as an experimental prototype.

Regarding the `seasonal` package, I will open a new issue, which will allow us to develop the `BaseParamFitter` interface further.

[2022-11-25 13:50] fkiraly opened #3835 "[ENH] interface the `seasonal` package as a parameter estimator for seasonality (`BaseParamFitter` descendant)"
We now have an interface design for generic parameter estimators, with `BaseParamFitter`.
(original design issue: https://github.com/sktime/sktime/issues/1056)

Still experimental, we should further explore it by interfacing useful parameter estimators.

@mloning suggested the methods in the `seasonal` package in https://github.com/sktime/sktime/issues/1056, given the existing base class interface

[2022-11-25 13:50] fkiraly commented on #1056
Issue for `seasonal` is here: https://github.com/sktime/sktime/issues/3835

[2022-11-25 13:50] #1056 closed

[2022-11-25 13:53] fkiraly commented on #3833
I see.

In that case, I'd actually go for doing *both* 1 and 2, or some variant of 1 plus 2.

For 2, I would open a new issue since it is a feature request on making `_check_soft_dependencies` or `_check_estimator_deps` more precise.

[2022-11-25 13:54] fkiraly commented on #3826
Of course, @darshitsharma, all yours! Let us know if you need help to get started.

[2022-11-25 18:33] RNKuhns commented on #3834
Wouldn’t using random values would be part of the simulation API?

[2022-11-25 20:40] fkiraly commented on #3834
agree with @RNKuhns on point forecasts, and on the point that random walk would be more part of a simulation interface along the lines that @lmmentel is proposing.

For probabilistic forecasts, instead of simulating you would probably instead forecast appropriately widening distributions.

[2022-11-25 21:13] fkiraly opened #3836 "[GOV] security architecture for release and community assets - separation of duties, MFA"
`sktime` is starting to attract a sizeable community on its social channels (many 100s) and is starting to have a substantial reverse dependency footprint.

We should therefore consider safeguards against malicious actors in our operations model, both from external and internal.

Two critical points in `sktime`'s security architecture are imo currently:

* the release process, and control of the `

[2022-11-25 21:22] fkiraly commented on #3836
Mapping community assets and maximal roles, with worst case action radius:

* GitHub organisation admin account. This role "trumps" GitHub repo admins. It can seize control of all GitHub assets by removing other admins. There can be multiple GitHub repo or org admins.
* pypi account. This role can seize control of the package on pypi. There can be only one such account afaik.
* Slack primary owner

[2022-11-25 21:35] fkiraly commented on #3836
Mapping release process, we have relevant roles and process element:

* change code on `main`. Anyone with write access can merge to `main` if CI passes and an approval is given. Anyone with admin access can merge rigiht away.
* change requirements in CI for release on pypi: same conditions, because it's infrastructure as code in the same repo (GHA)
* trigger a release: the release manager, formal

[2022-11-25 21:39] fkiraly commented on #3836
the most promising strategies for an attacker seem to be:

* seize control of `pypi` account, replace the wheels. Can even be done intermittently in sync with cron jobs of a targeted entity, i.e., replace with malicious ones and then replace back again with the correct ones.
* seize control of GitHub admin role plus slack admin role. Push to `main` a change which: removes CI checks to reduce test

[2022-11-25 21:45] fkiraly commented on #3836
Possible actions to make us more secure.
Any thoughts on this or other measures?

Quick wins:

* enforce 2FA for all developers, this reduces risk of impersonation - multi-factor principle
* ensure no single email address or person holds multiple of the maximal-admin roles (GitHub, pypi, discord, slack, sktime emails, social media) - separation of duties
* diversify locations of release process st

[2022-11-25 21:46] fkiraly commented on #3836
Question: is there any way to introduce separation of duties principle for spaces that have only one super-admin, e.g., slack, discord?

[2022-11-25 21:52] fkiraly commented on #3836
Question: is there anything we can do about the `pypi` account which seems like a single-vector, no-delay, no-notification point? Surely someone must have thought about this, there are far more important python packages than `sktime` that live on pypi...

[2022-11-26 15:06] RikStarmans opened #3838 "[ENH] Catching failure of forecast fit (e.g., arima zero division error), naive fallback"
**Is your feature request related to a problem? Please describe.**
I am fitting a lot of time series with a column ensemble forecaster.
Each forecaster is now a simple autoarima model.
IF the fit fails, I want to be able to have a backup forecaster. Now, the entire pipeline fails.

Autoarima can simply fail and raise a ZeroDivisionError. I tried differencing etc, still this seems to be inherent to

[2022-11-26 15:29] aiwalter commented on #3838
what you did is change the actual model algo. I dont get whats the problem with using panel data, bcz that is already a soultion we have for this. `ColumnEnsembleForecaster` can not isolate the different columns as a separate fit, this can be done with `ForecastByLevel`.

[2022-11-26 15:50] RikStarmans commented on #3838
@aiwalter, I looked into [ForecastingGridSearch](https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.forecasting.model_selection.ForecastingGridSearchCV.html), i.e. ForecastByLevel(ForecastingGridSearchCV(...))
and see a lot of advantages.
Still, I thought this needs to run for every forecaster. I don't know which one is failing and have 300 time series.
I only want to perform gri

[2022-11-26 15:53] aiwalter commented on #3838
we have `error_score` param in the grid search classes. This is handling the exceptions in `fit` and turns them in to warnings by default. For standalone forecasters I think its better if they just raise an exception when failing.

[2022-11-26 15:59] fkiraly commented on #3838
@RikStarmans, I think a better solution would be a wrapper like `FallbackAtFitFailure`, which is a forecaster that has one forecaster was an alternative option (e.g., naive by default) that is used in case of failure.

[2022-11-26 16:01] RikStarmans commented on #3838
@fkiraly  exactly.. that is what I am looking for... I could modify my forecaster a bit

[2022-11-26 16:20] aiwalter commented on #3838
`FallbackAtFitFailure` sounds a bit bulky 😄  I can think of just `FitFailedForecaster` or `FallbackForecaster`

for sth like `FallbackAtFitFailure` you dont need kwargs

No, the signature would be e.g. `FallbackAtFitFailure(forecaster=ARIMA(), fallback_forecaster=NaiveForecaster())`

pls see our extension templates or other compositions who to deal with tags

[2022-11-26 17:27] #3439 closed

[2022-11-26 18:08] #2019 closed

[2022-11-26 18:10] fkiraly commented on #3838
the precise signature would be:

`FallbackAtFitFailure(forecaster, fallback=None)`

I would inherit from `_DelegatedForecaster` and set the delegate depending on whether there is a failure in the inner `_fit`.

I.e., if you inherit from `_DelegatedForecaster`, all you need to implement in `_fit`.

For x/y types, I would use `datatypes.ALL_TIME_SERIES_MTYPES`, in order to ensure conversions happen

[2022-11-26 21:55] fkiraly commented on #3472
@aadya940, thanks for your help!

You will have noticed that this is not a "good first issue", as it requires some familiarity with the `sktime` base class interfaces and interface assumptions.

Your PR modifies a specific estimator which is not the right place to have a general check, this should happen in the base class.

In my opinion though, this should be in general supported.

[2022-11-26 21:55] fkiraly commented on #3472
I would suggest adding a scenario with multiindex columns, and checking in a draft PR which forecasters and transformers fail.

[2022-11-27 16:31] mateocomba123 commented on #3831
It was my bad, trying to open the pickle file without the .load() method. You can close the issue.Thanks so much! El 24 nov. 2022, a la(s) 13:54, Martin Walter ***@***.***> escribió:﻿
Pls provide minimal code to repepduce

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-11-27 18:09] #3831 closed

[2022-11-28 15:43] templierw commented on #3421
I'm on it

[2022-11-28 21:38] ltsaprounis commented on #3834
Yes - you can achieve a "random" forecast by doing a single simulation under the proposed simulation API in #3462.

[2022-11-29 06:34] iki77 opened #3849 "[ENH] Get feature importance or coef from reduction forecaster"
**Is your feature request related to a problem? Please describe.**
There is no way to find out the feature importance (non linear models) and coef (linear model) from reduction forecaster

**Describe the solution you'd like**
Impelemnt feature_importance and coef to reduction forecaster and forecastingpipeline if it wraps around the reduction forecaster

[2022-11-29 07:29] fkiraly commented on #3849
have you tried the `get_fitted_params` method? That should produce feature importances or coefficients for the reduction foreaster.

If it does not, code for a call `forecaster.get_fitted_params()` after fitting it on `sktime` dummy data would be appreciated.

[2022-11-29 09:54] iki77 commented on #3849
Thanks, I can get the feature importances but it is not easy for beginner

- Reduction forecaster with regressor as estimator:
`forecaster.get_fitted_params()["estimator"].feature_importances_ `
- Reduction forecaster with regressor pipeline as estimator:
`forecaster.get_fitted_params()["estimator"].named_steps["regressor"].feature_importances_ `
- Forecasting pipeline with reduction forecaster:
`

[2022-11-29 10:26] achieveordie opened #3850 "[BUG] Stochastic failure while building `grpcio`'s wheel in mac-based runners"
**Describe the bug**

This bug was first seen when checks in #3820 unexpectedly failed for no obvious reason. `grpcio` is a dependency which is installed during `Install sktime and dependencies` step for every runner. [Link](https://github.com/sktime/sktime/actions/runs/3528908968/jobs/5919567469) to the failing job.

While I don't know why this happening, I want to point out that the reason it is

[2022-11-29 13:19] RikStarmans commented on #3838
Thanks  @fkiraly simplified a lot.
I implemented as desired;
  * I think it is also nice to store the exception or maybe at a verbosive setting to print a warning
  * I see a lot of super(ClassName, self).__init__() in sktime,  I think these one can use super().__init__()

I will file a push request.

[code]

[2022-11-29 14:12] RikStarmans commented on #3814
@fkiraly the package works as expected. There are issues but not discussed here.
 All I mean that is in the exampled I would replace Exponential smoothing with SARIMAX.  As exponential smoothing does not change data.

[2022-11-29 14:56] fkiraly commented on #3849
ok, does it not show up at the key `"estimator__feature_importances"` if you use version 0.14.0?
In the second step under the key `"estimator__named_steps__regressor__feature_importances"`_

If not, it is a bug, please report with full code that produces the first example.

The second one might not be solvable though as `sklearn` does not have `get_fitted_params` interfaces.

[2022-11-29 15:36] lmmentel commented on #3833
I see the problem but I am not sure if adding individual install option per dependency is the right granularity. I'm sure there will be cases where you'll have to run multiple commands since your estimator might depend on more than one external package.

I think it might be worth going for dependency groups around  for example learning tasks, e.g. `pip install sktime[classification]` or `sktime[fo

[2022-11-29 15:59] RikStarmans commented on #3804
@fkiraly  you are right that was a mistake
[code]

[2022-11-29 16:19] RNKuhns commented on #3833
The proposal by @lmmentel makes sense to me. We make it easy to install things by learning task. If we know of a particularly difficult to install dependency for a given learning task then we could provide a separate install for that task without those deps. For example, pip install sktime[classification-limited].

If someone needs to do a more granular install they can get the pieces they need fr

[2022-11-29 18:00] aiwalter commented on #3833
For me the solution 2) would be of higher priority bcz it can lead to breaking code. The solution is however a bit tricky to implement

[2022-11-29 18:11] #3769 closed

[2022-11-29 18:14] michaelfeil commented on #3791
Should be resolved with the merge.

[2022-11-29 18:14] #3791 closed

[2022-11-29 19:08] fkiraly opened #3853 "[DOC] `scikit-learn` copyright statements"
Where we have reused code snippets from `scikit-learn`, we should ensure they appear at the top near the license statement to ensure we cleanly comply with `scikit-learn`'s BSD3 license.

In most cases the reference is somehwere in docstrings, but I think it should also live in modules.

See [here](https://github.com/sktime/skbase/pull/62#discussion_r1031776986) for an example in the `skbase` refa

[2022-11-29 20:02] fkiraly opened #3854 "[ENH] proliferation of Rockets"
It would appear that the contants of the folder `transformations.panel.dictionary_based._rocket` are highly duplicative, with now six variants of the rocket algorithm in it?

[code]

Not saying this is in itself a problem, because we made the decision to allow contribution of algorithms as long as they are well described.

What I wonder, there seems to be a lot of copy-paste repetition, so:

* is

[2022-11-29 20:03] fkiraly commented on #3854
FYI authors @angus924, @michaelfeil

Related question: could `MiniRocketMultivariateVariable` not simply be a pipeline of an unequal length transformer and `MiniRocketMultivariate`, or is there some `numba` magic going on?

[2022-11-29 20:12] MatthewMiddlehurst commented on #3854
Relevant discussion in #3786

[2022-11-29 20:19] fkiraly commented on #3854
sounds mysterious - perhaps worthwhile to add what @angus924 has said in some of the docstrings, e.g., which rocket to use. E.g., which have currently unresolved problems, etc. Perhaps even an issue to track the unresolved issues, we could leverage the wisdom of the crowd if they are just precisely formulated and in an open isse.

I have also seen users on various social channels being confused ab

[2022-11-29 21:58] fkiraly commented on #3804
thanks!

quick look yields: removing `flatten` from this line fixes the first issue, where the multiindex is "flattened out" to a simple index:

[code]

Haven't understood the next bug (need to deal with a release now) but maybe someone else wants to have a look.

[2022-11-29 23:07] michaelfeil commented on #3854
I agree, I added the interface. This could be easier for users, e.g. only a`MiniRocket` class. This would require according check functions for univariate / multivariate / unequal length checks in the `fit(X)` and `transform(X)`.

I added the extra `MiniRocketMultivariateVariable` class, as it uses the sktime inner type of `df-list`, has different numba functions & signature.

[2022-11-30 00:26] #1025 closed

[2022-11-30 13:50] iki77 commented on #3849
Only case 1 works, here is the code

[code]

[2022-11-30 14:54] MatthewMiddlehurst commented on #3567
Since the discussion around the issue seen by @ngupta23 is here, I will post this here also.

#3799 should fix the issue of the following code snippet failing, at least. Version 0.14.1 is being released soon, so it should go in with that.

[code]

If that is not sufficient and people are still seeing issues, this could possibly work from the user side. It is a bit of a nuclear option, but placing

[2022-11-30 20:14] #3816 closed