[2020-07-12 19:06] Sandy4321 commented on #235
when data is mixer of continues and categorical variables for each time sample?
for example data samples are
time t1: red , 0.4 , big , low, 234
time t2: green, 0.8, big, high, 12
time t3: green, 0.1, small, low, 34
etc

you do have example for multivariate ts data classification
then you do understand what multivariate ts data is?
https://github.com/alan-turing-institute/sktime/blob/master/exampl

[2020-07-13 08:37] xtibau opened #339 "[BUG]ModuleNotFoundError: No module named 'sktiem'"
After creating a new environment with anaconda, and running `pip install sktime` I got the following error (I've also tried to install it as a developer).

Python 3.8.3 (default, Jul  2 2020, 16:21:59)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/

[2020-07-13 08:49] xtibau commented on #339
Seems that if I installed manually with `python setup.py develop` works.

[2020-07-13 08:55] #339 closed

[2020-07-13 08:55] xtibau commented on #339
It was because I had a file with the same name in the main folder. Sorry

[2020-07-13 09:14] ketulgupta1995 commented on #326
Hi @owen-synergy  I would like to add it but i haven't done it before, it would be great if you could help?

[2020-07-13 09:18] mloning commented on #339
@xtibau no problem, happy to help if something else is broken! :)

[2020-07-13 09:19] mloning commented on #326
There's some info here: https://conda-forge.org/#contribute

[2020-07-13 09:25] mloning commented on #338
Thanks for suggesting that, sounds like a good idea!

We use statsmodels for seasonality adjustments, do they handle multiple seasonalities? Or do you just apply the seasonal adjustments one after the other?

[2020-07-13 10:14] WaterKnight1998 commented on #338
@mloning The arima model accepts exogenous variables, as I saw in a tutorial is possible to use fourier terms to make it possible. See this [article](https://medium.com/intive-developers/forecasting-time-series-with-multiple-seasonalities-using-tbats-in-python-398a00ac0e8a)

[code]

[2020-07-13 10:50] fkiraly commented on #338
Stupid question, but can you not just use the `TransformedTargetForcaster` with twice a `Deseasonalizer`, once for the weekly and once for the yearly trend, e.g., `sp=7` and `sp=365.24` parameters?

[2020-07-13 11:05] mloning commented on #338
@fkiraly Yes, that's what I was thinking about. Not sure if `sp` handles floats though. I'm not sure if there is another non-sequential approach to this, or if we should modify `sp` to accept a list of sp values.

[2020-07-13 13:28] fkiraly commented on #338
Well,
[code]
then, and re-train every leap year :smiley:

[2020-07-14 19:06] techtide opened #340 "[ENH] Global alignment kernel for Kernel-based PCA in sktime"
sktime currently includes in ``sktime.transformers.series_as_features.pca`` a method of doing ordinary principal component analysis of a series. I do not believe that it is possible at the moment to use a KernelPCA, specifically with the dynamic time warping based Global Alignment Kernel (which is used, for instance, in sktime's TimeSeriesSVC). It would be interesting and probably useful to have t

[2020-07-15 07:36] mloning commented on #340
Thanks for suggesting this! Yes, there is an open issue on kernel work, see #52  for an overview. If you're working in this area, we really appreciate a PR, but this may be a larger project.

[2020-07-15 10:54] mloning commented on #321
Closed by #329

[2020-07-15 10:54] #321 closed

[2020-07-15 16:39] hatem0909 opened #341 "[BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-07-15 20:45] mloning opened #342 "Integrate tbats package"
**Is your feature request related to a problem? Please describe.**
Integrate tbats package: https://pypi.org/project/tbats/

**Describe the solution you'd like**
Adding tbats as a soft dependency and wrapping it or copying code.

[2020-07-15 21:05] mloning commented on #341
Please provide more details.

[2020-07-15 21:05] #341 closed

[2020-07-15 23:05] sultandxb opened #343 "[DOC]"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2020-07-15 23:06] #343 closed

[2020-07-16 01:41] 2legit710 opened #344 "Decode"
User Comment: KJKJ 	ä         £    Xd     { Yc ¨Ëÿÿe      +á    è '~    æ §Í [ýÿÿü6ÿÿÒ/ÿÿ)! °  e  1;ÿÿ¸` KJKJUq  	 	 	Uq Uq Uq Uq Uq Uq Uq Uq Uq Ua Uq Uq Uq Uq Ua Ua Uq Uq Uq Uq Uq Ua Uq Uq Uq fa Uq Uq Uq Uq Uq Uq Uq Uq Uq Uq Uq Ua Uq Uq Uq Ua Uq Uq Uq  	Uq Uq Uq Uq Uq Uq Ua Uq Uq Uq Uq Uq Uq Uq Uq Uq 

[2020-07-16 12:08] #344 closed

[2020-07-16 14:42] btrtts commented on #302
take

[2020-07-17 07:01] mloning commented on #302
For the Java reference implementations check out the following functions:
* [multivariate](https://github.com/uea-machine-learning/tsml/blob/558ae0d13e32f5563ea58207bd676cfaf5ded0dd/src/main/java/experiments/data/DataProcessing.java#L1341)
* [univariate](https://github.com/uea-machine-learning/tsml/blob/558ae0d13e32f5563ea58207bd676cfaf5ded0dd/src/main/java/experiments/data/DataProcessing.java#L10

[2020-07-17 16:28] mloning opened #345 "Extend reduction from forecasting to regression to handle exogenous data"
**Is your feature request related to a problem? Please describe.**
Currently, the reduction meta-estimators only handle univariate data (we raise a not-implemented error [here](https://github.com/alan-turing-institute/sktime/blob/979aed585983fb820ddb0ca8a619d5730dbed4a7/sktime/forecasting/compose/_reduce.py#L67)). We need to extend it to support multivariate time series data.

**Describe the solut

[2020-07-18 07:05] shruthibalaji2307 opened #346 "When the index of the data is a timestamp, it leads to "TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported. Instead of adding/subtracting `n`, use `n * obj.freq`""
**Describe the bug**
When I use a Series which has TimeStamp as the index, I get the following error in various steps:

**TypeError**: _Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`_

This error occurs when I try a plot (plot_ys) and when I try to predict (y_pred = forecaster.predict(fh)).

For fixi

[2020-07-18 10:36] mloning commented on #346
Dear @shruthibalaji2307 thanks for the detailed bug description. We currently don't support date time indices. I believe adding support for them will require some substantial work. Would you be interested in working on that?

[2020-07-18 10:48] shruthibalaji2307 commented on #346
Hello @mloning , I would be very interested. Sktime is a huge step towards easing time series analysis in Python and it would be great if we could support datetime indices as a part of it. Shall I go ahead and create a feature request and assign it to myself?

Also, please let me know if you have specific requirements in mind. I will pick it up right away.

[2020-07-19 09:41] shruthibalaji2307 opened #347 "Supporting datetime indices"
**Is your feature request related to a problem? Please describe.**
When we load a pandas series as input data, Python datetime indices are not supported by sktime, only simple numerical indices are supported.

**Describe the solution you'd like**
The datetime index provides much more clarity while plotting and analyzing the data. Sktime must support series that have a datetime index and add approp

[2020-07-19 10:28] mloning commented on #347
Thanks for creating the issue and volunteering to work on this!

I think you already identified the main parts of the code where changes would have to be implemented: the handling of observation (oh) and forecasting horizons (fh).

Adding support for date time indices will also require a lot more extensive unit testing. Some package that we interface may not support date time indexing (e.g. [pmdar

[2020-07-19 10:38] mloning opened #348 "[DOC] Enhance documentation on data formats and conversions from one format to another"
#### Suggest a potential solution
* Improve [data loading tutorial notebook](https://github.com/alan-turing-institute/sktime/blob/master/examples/loading_data.ipynb)
* Improve docstrings on [conversion functions](https://github.com/alan-turing-institute/sktime/blob/master/sktime/utils/data_processing.py)

[2020-07-19 10:43] mloning opened #349 "[DOC] Fix docstrings"
#### Overview of functionality with missing/insufficient docstrings
- [ ] PolynomialTrendForecaster
- [ ] DirectRegressionForecaster
- [ ] DirectTimeSeriesRegressionForecaster
- [ ] RecursiveRegressionForecaster
- [ ] RecursiveTimeSeriesRegressionForecaster
- [ ] ForecastingGridSearchCV
- [ ] FittedParamExtractor
- [ ] Detrender

[2020-07-19 10:49] #128 closed

[2020-07-19 12:02] shruthibalaji2307 commented on #347
As far as I've seen, the arima class of the pmdarima package wraps the statsmodel's ARIMA. And it appears that statsmodels supports date time indexing. Source : https://alkaline-ml.com/pmdarima/1.0.0/_modules/pmdarima/arima/arima.html

I will do elaborate Unit testing anyway after making appropriate code changes. Can you please assign this to me?

[2020-07-19 15:26] fkiraly commented on #347
@mloning, would it perhaps also be a good time to think about the API and use of indices? Currently, the API is integer index (`iloc`) based, and time indices are ignored both in application of algorithms, and in the horizon interface, if I'm not mistaken. Shall we think about specs?

[2020-07-19 15:28] fkiraly commented on #340
@techtide, @mloning, I remember that from a while ago - was anything ever implemented? Last thing I remember was @goastler working on this, but that was 2019. We could have another go at the kernel and distance style transformers and, say, connect them with PCA. Would you be interested, @techtide?

[2020-07-19 16:38] fkiraly commented on #340
Here's the PR:
https://github.com/alan-turing-institute/sktime/pull/113
would be interesting to hear from @goastler

[2020-07-19 19:28] lynnssi commented on #349
I will add docstrings to these functions/classes

[2020-07-20 01:16] AlexPars opened #351 "Feature request: Leveraging good forecasting methods implemented in R packages"
It would be useful to incorporate in sktime some of the forecasting methods implemented in R packages, and in particular the packages done by Prof. Hyndman and his team: fable, forecast, feasts, seer, hts, thief (see https://robjhyndman.com/software/).
This way one can have access in Python to those methods, through the excellent API that was designed for sktime.

I know that a few of the methods

[2020-07-20 02:16] AlexPars opened #352 "Feature request: additional forecasting metrics"
It would be quite useful to incorporate additional forecasting metrics described in [Botchkarev (2019](https://www.informingscience.org/Publications/4184)) and [Gasthaus et al. (2019)](http://proceedings.mlr.press/v89/gasthaus19a.html)

[2020-07-20 07:27] mloning commented on #352
Thanks for the suggestion! Would appreciate a PR.

[2020-07-20 07:29] mloning commented on #351
Yes, that sounds like good suggestion!

[2020-07-20 07:39] mloning opened #353 "Data set generators"
As discussed in #320, it would be great to have functions that generate/simulate data sets, they are useful for testing and explaining the difference between estimators.

* We currently have a very simple data set generator here: [`make_classification_problem`](https://github.com/alan-turing-institute/sktime/blob/67c56be8b1e838f2628df829946f795b7dba9aed/sktime/utils/_testing/series_as_features.py#

[2020-07-20 08:28] fkiraly opened #354 "[DOC] automated generation of estimators table"
#### Describe the issue linked to the documentation

Following an idea by @lynssi, we could think about generating the estimators.md automatically following some parsing convention and automated document compilation.

This would be extremely useful i.m.o., as such an auto-generated table would automatically give a look-up of any papers/documents describing algorithms, perhaps tutorials too, and wh

[2020-07-20 14:09] AlexPars commented on #352
I will try to do a Pull Request next weekend or the weekend after.

Also, what would be your perspective on incorporating into sktime a framework like [this one](https://cran.r-project.org/web/packages/ForecastTB/vignettes/Introduction_to_ForecastTB.html) for comparing forecasting performance among forecasting methods?

[2020-07-20 15:00] mloning commented on #352
We're very supportive of comparative benchmarking frameworks! We've implemented a [framework for time series classification](https://github.com/alan-turing-institute/sktime/blob/master/examples/04_benchmarking.ipynb) already, based on the API design in [mlaut](https://github.com/alan-turing-institute/mlaut), and we're planning on extending that to forecasting and other learning tasks. I'm happy to

[2020-07-20 15:04] mloning commented on #354
I think an ideal solution would be to integrate this into the [sphinx](https://www.sphinx-doc.org/en/master/)-generated API reference on our website, so that all documentation is in one place: literature references, author/maintainer details and docstrings.

[2020-07-20 15:18] fkiraly commented on #354
But sphinx does not generate a "single table" overview like in estimators.md. Or at least, I would not see how your solution of (ab-)using sphinx would do this, @mloning?

Further, the taxonomy that sphinx applies is that of code hierarchy, not a semantic hierarchy which is more useful to the user?

Though if it were true, i.e., you could use sphinx to generate multiple pieces of overview document

[2020-07-20 15:59] mloning commented on #354
Our code hierarchy is already aligned with a user-oriented semantic hierarchy for most parts, and we should work towards improving that further in the future with new additions to sktime (more comprehensive typing of transformers, etc).

My suggestion is to create an API reference similar to the [scikit-learn's API reference](https://scikit-learn.org/stable/modules/classes.html), but with a third

[2020-07-20 18:11] fkiraly commented on #354
Agreed.

Three-quarters-agreed - I wouldn´t want utility functions in there, but I would like a 4th column with literature refs.

But mainly agreed. I just don´t know how to generate such a page automatically...

[2020-07-21 08:27] btrtts commented on #345
take

[2020-07-21 15:35] ketulgupta1995 commented on #326
I followed the link as @mloning mentioned.

One problem is that `scikit-posthocs
pmdarima` packages are not available in conda-forge which are required for sktime.  [https://conda-forge.org/docs/maintainer/knowledge_base.html#core-dependency-tree-packages-cdts](url)
[https://github.com/conda-forge/staged-recipes/issues/7462](url)
[https://github.com/facebookresearch/nevergrad/issues/272#issuecomme

[2020-07-21 17:36] mloning commented on #326
Seems like the error comes from the cpp code. Perhaps you can find a solution in the [advanced installation instructions](https://sktime.org/installation.html#development-version).

[2020-07-21 18:17] lynnssi commented on #354
Checked scikit-learn. It looks like their [API reference](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/classes.rst) is not generated automatically, but manually (see [this issue](https://github.com/scikit-learn/scikit-learn/issues/9718)  as an example).

One package that might provide a solution is [pdoc](https://pdoc3.github.io/pdoc/). It generates a set of html files base

[2020-07-21 20:43] lynnssi commented on #349
@mloning Working on documenting the forecasting.trend.PolynomialTrendForecaster.
1. I noticed the fit() function has an input parameter "alpha" that is never used by the function nor class. Is it alright if I remove this parameter?
2. The fit() function has the input parameter "return_pred_int=False"; the option for "return_pred_int=True" has not been implemented. I assume that if return_pred_int=

[2020-07-21 20:58] fkiraly commented on #354
@lynnssi, thanks for looking into this!

We already have an API reference [here](https://sktime.org/api_reference.html) which is great, though we (or at leasts I) don´t know how you could get multiple columns - e.g., to add maintainer or paper link.

[2020-07-21 21:53] mloning commented on #349
@lynnssi it's actually an option to return prediction intervals rather than point predictions. Some forecasters already implement it, for example the ThetaForecaster, you can see what it looks like in the forecasting tutorial notebook

[2020-07-22 10:50] TonyBagnall opened #355 "[DOC] documentation to summarize the classification algorithms and their categories"
#### Describe the issue linked to the documentation

Entry into the world of TSC requires external reading

#### Suggest a potential alternative/fix

A description of the categories of algorithms, summary of the TSC algorithms available  and links to the relevant papers would be really helpful

[2020-07-24 09:55] TonyBagnall opened #356 "Interface to DICOM data"
**Is your feature request related to a problem? Please describe.**

DICOM for data is standard for storing images in hospitals. However, it can also be used to store "waveform" data such as ECG. Analysing this data with sktime requires expertise in converting and formatting. It would be great to embed tools to transform DICOM time series into ts format.

**Describe the solution you'd like**

there

[2020-07-25 20:24] lynnssi commented on #355
I would be happy to do the external reading and write this description + references. Where should this description be committed?

[2020-07-26 13:04] mloning commented on #355
This seems to be a larger documentation project. Perhaps we can start with a shared [hackmd](https://hackmd.io) document for easy collaboration. When it's finished we can add it to our website and selected parts to the tutorial notebooks? Having another blog post about it may also be useful. What do you think @TonyBagnall?

[2020-07-26 13:20] fkiraly commented on #355
agreed, let´s try to use this to align on what precisely is the "desired goal" of the documentation project(s). Might be worthwhile discussing also in the context of #354.

E.g., what kind of documentation - besides API reference of course - would be most useful to users and community members?

Also, what is the "end state" of documentation and curation, and associated roles, e.g., a dedicated com

[2020-07-26 13:46] TonyBagnall commented on #355
The contribution is really helpful, thanks. I'm not too sure about wider docs, I think Markus and Franz have a better take on it

[2020-07-26 14:46] lynnssi commented on #355
@mloning I'd be happy to write a blog post (or two) on this topic. I think there would be a lot of interest.

I think documentation summarizing the types of classification algorithms and detailed documentation explaining how each of the algorithms work would be really useful. Aside from papers, resources on the topic are scarce. I have often referred to the scikit-learn User Guides (e.g. [Clusteri

[2020-07-26 18:35] fkiraly commented on #347
Alright @mloning, @shruthibalaji2307, I made a proposal on how support for datetime indices could look here, please have a look at [this wiki page](https://github.com/alan-turing-institute/sktime/wiki/Design-proposal:-forecasting-API-re-work-including-support-for-datetime-indices).

There are two versions, and the "luxurious" version relies on a bit o a re-work of input/output checks that allow fo

[2020-07-26 18:51] fkiraly commented on #355
Agreed - I would find the same useful for *all the components* (transformers of various kinds, reducers, compositors). I have a somewhat encyclopaedic vision of a register of components, with different tags and taxonomies:
* scientific type (e.g., ts classifier, forecaster, transformer of specific type such as series-to-series)
* algorithm type (e.g., neural network, distance-based, etc)
* version

[2020-07-26 20:31] lynnssi commented on #355
Possible types of documentation:
- High-level documentation: types of classification algorithms, reduction, etc
- How each algorithm works
- Examples and tutorials -- especially showing how everything works together

I would be interested in this discussion.

[2020-07-27 19:09] shruthibalaji2307 commented on #347
Hello @fkiraly , I took a look at your design document. As I was going through the sktime repository, I was also inclining toward something along the lines of the luxurious implementation you have mentioned.

However, I was wondering how the input types like dataframes (univariate/multivariate) will be passed on to the [statsmodel](https://www.statsmodels.org/stable/index.html)/[pmdarima](http://a

[2020-07-27 19:57] fkiraly commented on #347
Well, if a given model can't handle it, it will throw an error, e.g., a `ValueError` "this model cannot handle multivariate series :-(" or similar. Perhaps we want to have some estimator tags on what inputs an implemented methods can handle, similar to the experimental `sklearn` [estimator tags](https://scikit-learn.org/stable/developers/develop.html#estimator-tags).

[2020-07-28 15:01] mloning commented on #355
Here's a good graph for explaining dictionary-based algorithms: https://pyts.readthedocs.io/en/stable/auto_examples/approximation/plot_sax.html

[2020-07-28 21:06] fkiraly commented on #355
sometime early/mid august probably? Please leave Markus with an email message and we´ll coordinate (need to have a quick internal connect).
Anyone else interested in this issue or contributing to docs, please do the same.

[2020-07-29 21:48] hweiTPR commented on #220
Is there a way to tune both sklearn & sktime hyperparameters at the same time, when using regressors from sklearn? If not. It could really useful to have it.

[2020-07-30 08:11] mloning commented on #220
Hi @hweiTPR, yes you can do something like this:
[code]

[2020-07-30 14:09] hweiTPR commented on #220
That looks great! Would be helpful to have this in the documentation!

[2020-07-30 14:51] mloning commented on #220
@hweiTPR I mention it already in the forecasting tutorial below cell 27: https://github.com/alan-turing-institute/sktime/blob/master/examples/01_forecasting.ipynb but without showing the code! Would appreciate a PR if you'd like to add it! 🙂

[2020-07-31 03:59] huayicodes commented on #220
@mloning (switching to my personal account) I totally missed that sentence. Happy to contribute. I have another question: what can I put for "score" when using ForecastingGridSearchCV? I tried smape_loss, but it threw me an error.

[2020-07-31 08:02] mloning commented on #220
This should work:
[code]
This is a deviation from scikit-learn, as we encapsulated loss functions as classes rather than functions, that makes it easier to attach additional information that's needed when running GSCV. This functionality also still needs some improvements to handle multi-step forecasting horizons.

[2020-07-31 16:19] mloning commented on #284
Closed by #287

[2020-07-31 16:19] #284 closed

[2020-08-01 04:04] woj-i opened #358 "[DOC] Add NoLiTSA to related software"
#### Describe the issue linked to the documentation

I found useful library NoLiTSA for time-series analytics, that is not on the list of related software of sktime.

#### Suggest a potential alternative/fix

Please add https://github.com/manu-mannattil/nolitsa to the list of related software.

[2020-08-01 17:03] Kerybas commented on #353
I am interested in this issue.
I would like to propose the following approach:
1. Generate a bunch of randomised sine waves (10 here):
![image](https://user-images.githubusercontent.com/42703200/89106120-92cddf00-d427-11ea-8c07-e54d6df290c4.png)
2. Pass them through a sklearn MLPRegressor randomly fitted, to obtain a number of "observations":
![image](https://user-images.githubusercontent.com/4270

[2020-08-02 09:32] mloning opened #360 "Change of git workflow: merge directly into master"
We currently follow a git workflow in which we work from the dev branch. This has a number of disadvantages:

* it adds a level of complication for new contributors, often PRs are created where new contributors have created a new branch based on dev and want to merge it into master or vice versa;
* automatic updating of the CHANGELOG does not work nicely;
* GitHub recognises only contributors that

[2020-08-02 09:35] mloning commented on #360
FYI @James-Large @TonyBagnall @fkiraly @ABostrom

[2020-08-02 12:13] fkiraly commented on #360
(I´d say this is more maintenance than governance, in terms of label?)

*I don't think it's a good idea to directly work on master*, simply since it bcomes easy to accidentally break the "current clean version".  It's best gitflow practice to have dev, and only merge to master after ensuring that things still work. Typically you would also give master a stronger branch protection than dev.

[2020-08-02 12:13] fkiraly commented on #360
👎

[2020-08-02 16:18] TonyBagnall commented on #360
I prefer the dev/master model, maybe just have more regular pushes from Dec to master?

[2020-08-02 19:12] mloning commented on #360
@fkiraly
* To clarify, we don't work directly on master, master is read-only (except for admins), people would work on separate branches, but create PR to merge directly into master rather than merging into dev
* PR runs our CI tests which ensure that everything works before we merge anything. That doesn't change. As said, the PR into master runs more comprehensive CI tests than the PR into dev.
*

[2020-08-02 20:44] fkiraly commented on #360
Well, I interpreted this as discussing a concrete proposal for change, rather than "let's review our GitFlow model, any suggestions?" - also, was sticking by the voting process we wanted to introduce?

In the original GitFlow model
https://nvie.com/posts/a-successful-git-branching-model/

it is considered a good idea to separate things:
* consolidation of multiple features - a slightly messy endea

[2020-08-02 21:31] TonyBagnall commented on #360
since you bare the load of managing pull requests I'm inclined to do it the way you think best, but I'll discuss it with my guys

[2020-08-03 09:09] mloning commented on #353
@ABostrom @TonyBagnall any thoughts on this?

[2020-08-03 09:14] mloning commented on #358
Thanks for the addition! I'll add it to the list. Could you provide a short summary of what it does?

Perhaps we should move the list from the wiki into our docs so that people can update it directly with PRs.

[2020-08-03 10:13] mloning opened #361 "[DOC] User guide"
#### Purpose of a user guide
In addition to our API reference, we want to create a user guide. The API reference serves as a technical software reference. The user guide should serve as a scientific reference. In the user guide, we want to give an overview of sktime, including the
* taxonomy of learning tasks,
* how they are related and the concept of reduction,
* sktime's package structure,
* an

[2020-08-03 10:16] mloning commented on #355
Hi @lynnssi, we think it's probably best to create a new user guide in which we give an overview of sktime and explain the different modules and algorithms. I've created an issue here for more details: #361. What do you think?

[2020-08-03 10:31] fkiraly commented on #360
I very much second that, in terms of the final decision made, but it won't keep me from disagreeing based on my own opinions :-)

[2020-08-03 17:19] ABostrom commented on #353
There's an arxiv paper did ages ago here: https://arxiv.org/abs/1703.09480

An old SimulationExperiment class from tsml: https://github.com/uea-machine-learning/tsml/blob/master/src/main/java/experiments/SimulationExperiments.java

I think our angle for simulation was, what type of problem are you looking to simulate within TSC.

Can you design a simulated problem that an interval classifier shoul

[2020-08-03 17:33] fkiraly commented on #353
Hm, @TonyBagnall, @Kerybas, I thought it would be useful to get a quick way to generate synthetic test datasets for the different *tasks*, e.g., time series classification, regression, forecasting, that sktime supports?

[2020-08-03 17:39] mloning commented on #360
@fkiraly As far as I understand the release branches in scikit-learn, their main purpose is to have a "feature freeze". This allows to add minor changes to a given release (e.g. bug fixes) and to continue to develop major features based on master for the next release. But we don't really have this level of parallel development activity at the moment. For now, working based on master seems to best

[2020-08-03 17:42] mloning commented on #353
Simulators for discriminating between classifiers would be useful for the part of the user guide #361 where we want to guide algorithm choice and explain the inner workings of the different algorithms.

[2020-08-03 20:00] hatem0909 opened #362 "[BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-08-03 21:07] fkiraly commented on #360
Yes, but it also is a suitable replacement for a "true" master branch, in capturing a consolidated version in a branch, separate from the act of merging and consolidation - so accidental destruction of the consolidated branch (in the sense of having a non-working most recent commit) is highly inlikely.

*without* the release branches, you wouldn´t have any "safe" branches - that´s why I am ok with

[2020-08-04 08:27] #362 closed

[2020-08-04 08:59] TonyBagnall commented on #353
so I wrote the data simulator to reinforce the design mechanism of hive-cote,  i.e. that if you have no prior knowledge as to the correct feature space, a meta ensemble is the best approach. A simulator that just creates a task problem is much simpler, simply generate white noise. However, I would like to use more simulation experimentation, not least to satisfy the statisticians. I think we could

[2020-08-04 09:24] mloning commented on #353
Gluon-ts also have a lot of simulation functionality for forecasting/anomaly detection: https://gluon-ts.mxnet.io/examples/synthetic_data_generation_tutorial/tutorial.html

[2020-08-04 10:23] James-Large commented on #360
There's pros and cons all round, ultimately in my opinion (which has been studied less than you guys) you want:

- The thing that a new user pulls/installs to be first and foremost stable/working, but have as many features in it as possible
- The thing that a more interested/invested user pulls/installs to have the latest features, where there's a small chance there are bugs or the feature's api m

[2020-08-04 13:11] #358 closed

[2020-08-05 11:35] mloning opened #363 "[DOC] Add glossary for common terms"
https://sublime-and-sphinx-guide.readthedocs.io/en/latest/glossary.html

### Initial terms
| Term | Description |
| ------- | ------ |
| `n_instances` | number of instances, represented by rows in data container, instances represent i.i.d. samples |
| `n_columns` | number of columns in data container, where columns represent different kind of measurements, cells in columns may contain time series

[2020-08-09 18:22] fkiraly commented on #360
@James-Large, just to clarify my understanding: do you agree with me that neither your (1) nor (2) are the same as what @mloning originally proposes? Or, is, in your opinion, (2) what @mloning proposes (with which I would be fine)?

@mloning how many distinct options were there discussed in your opinion?

[2020-08-09 21:01] fkiraly opened #365 "Looking for code of conduct committee members"
As the sktime community is growing, we are actively seeking for volunteer members of the community to act as members of our code of conduct committee.
The code of conduct committee acts as a first point of contact in a case of code of conduct related matters, including suspected violations.
Membership comes with the voluntary commitment to participate in, and contribute to, proceedings of the comm

[2020-08-10 11:23] mloning commented on #360
I'm not sure why we want to have (i) a stable release branch when working on master or (ii) work on dev and have a stable master.

One reason is that you may want to maintain multiple versions, so you want to freeze the main features of each version but still provide bug fixes. But this is not what we're doing currently. We don't provide bug fixes previous versions, at least not for now.

Are ther

[2020-08-10 11:53] fkiraly commented on #360
@mloning, can you please comment on how many distinct options were there discussed in your opinion?
I´m not sure whether there are three or two, and whether we all agree on that number.

[2020-08-10 12:13] mloning commented on #360
I think we have 3 options:
* master + feature branches for development
* master + dev + feature branches for development
* master + release branches + feature branches for development

[2020-08-10 12:24] fkiraly commented on #360
Ok, that´s what I thought.
I´m ok with no.2 and no.3, but strongly recommend against no.1.

[2020-08-10 12:41] mloning commented on #360
Can you explain why you're against (1) (see my previous post)?

[2020-08-10 15:06] fkiraly commented on #360
Sure.

Premises:

Premise 1 - there are "types of branches" in Git, including the type "feature branch". Each branch has a type. Why: it's a typical concept in a GitFlow model.
Premise 2 - there must be a branch of type "stable branch", in the sense that at any time, the most recent commit is well-tested and reliable, which counts as a "stable" package version. Why: having a stable release quickly

[2020-08-10 15:35] mloning commented on #360
Premise 2 :)

[2020-08-10 18:07] jmrichardson opened #366 "Inverse_transform not working in RowTransform(StandardScaler())"
**Describe the bug**
[code]
Inverse_transform does not work when applying RowTransformer(StandardScaler()).  Apparently, sktime does not store the fitted standard scaler for each series.  See [issue](https://github.com/sktime/sktime-dl/issues/62)

**Expected behavior**
<details>
I would have thought that the above code self.X_train and Xtrain_inv would be identical but they differ significantly.
<

[2020-08-10 21:17] fkiraly commented on #360
I don't agree that nothing is gained from this convention!

Key benefits:
* developers can easily find a stable version to start off and clone. Without a stable branch, this is not possible, or more difficult. A common convention is that "it's always safe to deploy master".
* it becomes easier to revert development to a stable version, or use the last stable version for a merge or rebase. Otherwis

[2020-08-11 07:48] mloning commented on #360
I've commented on the key benefits and complications above ...

[2020-08-11 10:51] fkiraly commented on #360
Where exactly, can you please point me?
Is this new material, or existing material?

Just to summarize our discussion so far:
* you agree with premise 3, disagree with premise 2
* I think premise 2 is very important

Agreed?

Do we also agree that premise 2 is held as very important by "high profile" dev teams, such as Github's dev team?

[2020-08-11 10:56] fkiraly commented on #360
In terms of how we proceed, any good suggestions?
@James-Large @TonyBagnall @ABostrom @mloning
We seem to disagree on "axioms" or "beliefs", if you will.
 Some options I can think of:
* I do usually not like the "argumentum ad verecundiam" (authority arguments), but we could try to collate high profile projects or teams that have made statements about the importane of premise 2 or its opposite.
*

[2020-08-11 21:01] jmrichardson opened #367 "Rocket Transform across multiple cores"
**Is your feature request related to a problem? Please describe.**
Is there a plan to make Rocket.transform parallelized?  Hoping to distribute the load across multiple cores if possible.

**Describe the solution you'd like**
specify n_jobs when calling rocket.transform(X, n_jobs=x)

[2020-08-12 08:30] mloning commented on #367
@angus924 any thoughts on this?

[2020-08-12 09:03] TonyBagnall commented on #360
I think (3) is probably the best, although I do not feel strongly. I think release branches are sensible, and I intend having "paper branches" to make sure code/results we quote in papers are reproducible in the future

[2020-08-12 09:09] TonyBagnall commented on #360
from my perspective, the problem with (2) is mainly perception, (everyone sees master by default) and the fact that dev->master ends up not happening very often. I guess the difference between (1) and (2) is what is meant by a release. I'm not really sure how it works. If we are looking at continuous release (each update to master is a new release) then a separate branch for each will just get blo

[2020-08-12 09:17] angus924 commented on #367
Hi @jmrichardson and @mloning, this should already be happening automatically, it's always been part of the implementation (provided it's working properly).  Is this not working for you, i.e., can you can you see that only one or some subset of cores is being used?

[2020-08-12 09:22] TonyBagnall opened #370 "Update experiments.py and move it i"
the goal is to take the UEA style workflow (batch jobs outputting results in standard format) more obvious to new users and more compatible with tsml output.
1. form classifier_lists.py
2. tidy up experiments code
3. fix other quirks mentioned here
     a) time output is as double not long
     b) no benchmark timing
     c) no memory usage record
 feel free to add

[2020-08-12 09:42] fkiraly commented on #360
Hm, if that's a problem, that's easily fixable, for example by:
* setting default branch to `dev`, then everyone sees `dev` by default, and PR go there by default. Settings -> Branches -> Default branch. That's an easy convenience fix which I often have in my private repos.
* using model (3), in which the "dev-like" branch is called master

[2020-08-12 09:44] fkiraly commented on #360
@TonyBagnall, I think paper branches are an interesting idea. An alternative might be use of tags.

Though that's another class of flow models - or at least an extension of either model - that we would be looking at.

Shall we discuss in our next regular TC meeting, which I guess is this Fri?

[2020-08-12 09:49] TonyBagnall commented on #360
@fkiraly sure, happy to discuss

[2020-08-12 12:27] mloning commented on #367
Perhaps we could expose that choice to the user using the familiar `n_jobs` argument from scikit-learn and internally numba's [`set_num_threads`](https://numba.pydata.org/numba-doc/latest/user/threading-layer.html#numba.set_num_threads)?

[2020-08-12 22:06] sjmiller8182 commented on #353
I have existing code for simulating univariate ARMA, ARIMA time series based on a given polynomial. Would that be of interest here?

[2020-08-13 06:25] angus924 commented on #367
That's a possibility.  This is new to me, I'd have to play around with it a bit.  In the meantime, if I understand correclty, it should already be possible (as a kind of workaround) to do this by simply calling, e.g., `set_num_threads(2)` anywhere in your code before you run the transform.

[2020-08-13 07:39] mloning commented on #353
@sjmiller8182 yes certainly, the discussion so far has focussed on time series classification, but having data generators for forecasting would be very helpful too! 👍

I'd appreciate a draft PR with a new file for generators in [`sktime/datasets/`](https://github.com/alan-turing-institute/sktime/tree/master/sktime/datasets). Also feel free to open a separate issue to discuss this in more detail if

[2020-08-14 10:50] mloning commented on #227
Closed by #337 and #335

[2020-08-14 10:50] #227 closed

[2020-08-14 10:51] mloning commented on #349
Closed by #357

[2020-08-15 11:30] mloning commented on #361
Hi @fkiraly and @lynnssi, I've create a PR with a framework for the user guide #377 and added our preliminary table of contents to the wiki (see link above).

[2020-08-19 09:20] mloning opened #381 "Parallelize algorithms"
**Is your feature request related to a problem? Please describe.**
- [ ] [Time series forest](https://github.com/alan-turing-institute/sktime/blob/master/sktime/classification/interval_based/_tsf.py)

**Describe the solution you'd like**
* Replace loops with joblib parallelized computations or numba.

[2020-08-19 10:21] mloning commented on #360
I've changed the workflow now and updated the documentation (#364).

* We will work based on master (new feature branches fork off master, PRs get merged into master)
* Stable version are available as tags (e.g. `git checkout v0.4.1`)

[2020-08-19 10:21] #360 closed

[2020-08-19 10:29] TonyBagnall commented on #228
could you put me down for time series clustering too? Will be doing a bit of that next year with students

[2020-08-20 10:01] mloning commented on #332
Closed by change of workflow #360, CI runs notebooks when merged into master.

[2020-08-20 10:01] #332 closed

[2020-08-26 13:20] thorbjornwolf opened #386 "[DOC] Mismatch between 0.4.1 docs and release"
Thank you for spending some of your valuable time on open source 🤗

#### Describe the issue linked to the documentation

The documentation for NaiveForecaster includes "drift" and says 0.4.1 in the upper left corner. [Link, but not a permalink](https://sktime.org/modules/auto_generated/sktime.forecasting.naive.NaiveForecaster.html#sktime.forecasting.naive.NaiveForecaster). The package version 0.4.

[2020-08-26 15:30] mloning commented on #386
Thanks for raising the issue! We actually thought about a few things that could go wrong when we changed the workflow over to master, but this one didn't cross our minds! 😄

Differentiating between doc version seems like a good suggestion. I've seen this in other repos, but wouldn't know where to start. Would you be interested in setting that up?

[2020-08-26 16:02] mloning commented on #386
https://readthedocs.org seems like the way to go. @thorbjornwolf if you're interested in setting up readthedocs that would be highly appreciated!

[2020-09-01 08:09] thorbjornwolf commented on #386
Hi @mloning! I'm afraid I won't find the time anytime soon. It _does_ sound like a very good exercise in a generally applicable open-source skill, though. I wonder if there exist cross-project opensourcers who have experience with this 🤔

[2020-09-04 09:34] moradisten opened #388 "Proximity Forest"
I've been developing a Proximity Forest Technique in Python based on the authors' project for my degree thesis when I found your toolkit by chance. The thing is, I was testing your Proximity Forest benchmark and I found it's not scalable. It takes too much time for simple datasets. I made a comparison between your Sktime PForest and mine, and I've found mine is much more efficient.

You can check

[2020-09-04 10:16] TonyBagnall commented on #388
hi, thanks for that, I'm tagging George in this who implements PF @goastler , he will take a look. Are you at Monash?

[2020-09-04 10:24] moradisten commented on #388
No :P. I'm currently finishing my degree thesis based on time series
classifiers comparison. I'm a computer science student in the University of
Murcia, Spain

Whatever you need, just say it :)

El vie., 4 sept. 2020 a las 12:16, Tony Bagnall (<notifications@github.com>)
escribió:

[2020-09-04 10:28] TonyBagnall commented on #388
ah great, I'll let Chang Wei know, he will be pleased :) We would welcome your contributing to sktime, I'll talk to George and Chang Wei and get back to you. We have a wrapped version of his original code and a ported version in tsml, the java toolkit, so we can do a good comparison.

[2020-09-04 10:29] moradisten commented on #388
Alright :)

El vie., 4 sept. 2020 12:28, Tony Bagnall <notifications@github.com>
escribió:

[2020-09-04 10:31] moradisten commented on #388
By the way, pleased to meet you. I've read a lot of your articles, which
are pretty interesting and I've referenced some in my report

El vie., 4 sept. 2020 12:29, Morad Abou <moradabou1996@gmail.com> escribió:

[2020-09-04 12:10] fkiraly commented on #388
@moradisten, nice to meet you - while you're here and given that you're already working on it for your thesis - would you be interested to implement an overarching distance/kernel interface for `sktime`, and composition patterns that involve distances/kernels?
I imagine an interface similar to the GP/kernels interface in `scikit-learn`, and an updated version of #52 (which is a "dormant" piece of

[2020-09-04 12:58] moradisten commented on #388
Interesting. Tell me more about it

El vie., 4 sept. 2020 a las 14:10, fkiraly (<notifications@github.com>)
escribió:

[2020-09-04 14:08] fkiraly commented on #52
(continuing from #388 here since there it's off-topic)

@moradisten, many time series (classification) methods rely on a distance or kernel, in the way that it's a composite of the choice of kernel/distance and the method that computes distance/kernel matrices.

Therefore kernels and distances are natural encapsulation and abstraction points in the sense of a template pattern.

A concrete distance

[2020-09-04 14:52] moradisten commented on #52
Seems pretty interesting. In fact, My research was focused on DTW distance
measure, but I wanted to explore more distance measures like WDTW, DDTW o
LCSS. So, that would be interesting to research and implement. But, I'd
have to study sklearn a little bit more so I can understand the composition
formalisms

El vie., 4 sept. 2020 a las 16:09, fkiraly (<notifications@github.com>)
escribió:

[2020-09-05 16:23] fkiraly commented on #52
have to study sklearn a little bit more so I can understand the composition
formalisms

For learning, I recommend:
* implement some "simple" estimators, e.g., your favourite proximty forest, and make a pull request
* study how composition works in sklearn, in particular `BaseEstimator` and why you can see parameters of components of a pipeline via `get_params`
* understand the `gaussian_process` m

[2020-09-07 07:17] moradisten commented on #52
Alright, perfect. I'll see what I can do :)

El sáb., 5 sept. 2020 a las 18:24, fkiraly (<notifications@github.com>)
escribió:

[2020-09-07 16:01] fkiraly commented on #52
@moradisten, great, let us know if/when/once you are interested to work on this.

[2020-09-07 16:13] moradisten commented on #52
Sure, I can start now that I'm on vacation right now. I just want to know
how you work and the steps you follow so that I we can have good
synchronization :)

El lun., 7 sept. 2020 a las 18:01, fkiraly (<notifications@github.com>)
escribió:

[2020-09-11 09:34] mloning commented on #288
Closed by #335

[2020-09-11 09:34] #288 closed

[2020-09-16 14:35] arainboldt opened #396 "[BUG] ThetaForecaster-Deseasonalizer returns numpy.array"
**Describe the bug**
 2 model.fit(series)
      3 model.predict(list(np.arange(3) + series.index[-1]))
      4
      5

~/virtualenvs/mtl/lib/python3.7/site-packages/sktime/forecasting/compose/_reduce.py in fit(self, y_train, fh, X_train)
    305         # fit base regressor
    306         regressor = clone(self.regressor)
--> 307         regressor.fit(X_train_tab, y_train_tab.ravel())
    308

[2020-09-16 14:55] mloning commented on #361
Another idea: We could also invite people to upload their blogposts in form of Jupyter notebooks to a blog post repo, something along the lines of https://github.com/fastai/fastpages for sktime.

[2020-09-16 15:02] mloning commented on #396
Thanks @arainboldt for posting the bug report!

I'm not sure what you want to achieve. If you want to use the `ThetaForecaster` for forecasting, you could simply run:

[code]

Your code suggests that you want to reduce the forecasting problem to a tabular regression problem. In that case, you could replace the `ThetaForecaster` with any scikit-learn regressor. For example:

[code]

In either case,

[2020-09-17 07:25] arainboldt commented on #396
@mloning thanks for the quick follow up and the recommendation. I was reading through the docs and came across the terms tabular regression along with direct reduction and recursive reduction. I'm not familiar with these terms. Where can I read more about them?

[2020-09-17 07:31] mloning commented on #396
Take a look at this paper: Bontempi, Gianluca & Ben Taieb, Souhaib & Le Borgne, Yann-Aël. (2013). "Machine Learning Strategies for Time Series Forecasting."

We're also in the process of writing a user guide to explain these terms (#377), let me know if you're interested in contributing.

[2020-09-17 11:21] mloning commented on #386
Fixed by #395

[2020-09-17 11:21] #386 closed

[2020-09-18 00:33] artdgn opened #397 "[BUG] TSFreshFeatureExtractor does not handle unequal length data"
**Describe the bug**
Not sure if this is a bug or documentation issue but I can't figure out what's the correct format for using this library.

**To Reproduce**
The tutorial with `load_arrow_head` examples work, but I can't figure out how to get my own data into the right format.

I'm trying to work with an already existing dataframe, in which I already have series vectors.

### 1st attempt, numpy

[2020-09-18 08:30] mloning commented on #397
Hi @artdgn, thanks for raising the issue!

Looks like our TSFreshTransformer doesn't support unequal-length data yet, mainly because we rely on our `tabularize` function internally when going from the nested input format to the long format expected by tsfresh, even though we could represent unequal length data in the long format.

I also noted that the index name is hard coded in the data conversi

[2020-09-18 09:41] arainboldt commented on #396
@mloning awesome! thanks for the references!

[2020-09-18 09:41] #396 closed

[2020-09-19 12:11] artdgn commented on #397
@mloning Thanks, I didn't consider the possibility it expects equal lengths. I've now tried my dummy example with equal length vectors and it works (even without the need to set the index name).

This is helpful, because knowing this limitation it is still possible to use this transformer with various truncating / padding strategies (depends on what makes sense for the time series domain), so it's

[2020-09-19 16:01] mloning commented on #397
Thanks @artdgn, we're currently working on a better way to store and handle unequal length (and other time heterogenous) data, what data containers do you usually use for that type of data?

[2020-09-21 00:32] artdgn commented on #397
Sounds great, will be interesting to see what you come up with. I'm using mostly boring structures like flat dataframes (I think you refer to them as "long"), or nested and grouped intro vectors (as in this example). I think due to the complexity of representing data in this problem space, it would be good to have a clear dedicated set of functionality in your package to transform data between dif

[2020-09-22 08:53] kkoziara commented on #381
Hey, I can take this task.

[2020-09-22 08:55] mloning commented on #381
Hi @kkoziara that would be awesome! Thanks!

Please take a look at our [contributing guidelines](https://github.com/alan-turing-institute/sktime/blob/master/CONTRIBUTING.md). Let me know if you have any more questions!

[2020-09-23 15:55] #327 closed

[2020-09-24 10:30] jattenberg opened #401 "[BUG]Unable to Compile Sktime"
I've been trying to compile sktime both on my apple laptop and on a fresh aws ubuntu server. Ultimately I end up with a g++ 127 failure code (used virtualenv, `pip install -e .`)

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-09-24 11:00] #401 closed

[2020-09-24 11:02] mloning commented on #401
Hope you were able to resolve the issue!

[2020-09-24 20:18] kodiaklabs commented on #336
@mloning Has this issue been assigned yet? If not, I would be happy to give it a go.

[2020-09-25 06:59] mloning commented on #336
@kodiaklabs, no not yet, so please give it a try! Just to be sure, there seem to be two things here: bagging as an ensembling technique with bootstrapping and the generation of confidence intervals via bootstrapping.

[2020-09-25 09:18] kodiaklabs commented on #336
@mloning Maybe I would then split the feature request between the two, and tackle one at a time. Thoughts?

[2020-09-25 09:59] mloning commented on #336
Yes, sounds good!
* For bagging as an ensembling technique with bootstrapping, we have the `EnsembleForecaster` which could be extended to handle bootstrapping the input series.
* For the generation of confidence intervals via bootstrapping, my starting point would be the [`compute_pred_int`](https://github.com/alan-turing-institute/sktime/blob/c2d173a978c46bab1d364dbd64252def9030d84e/sktime/forec

[2020-09-25 18:39] mloning opened #402 "Add support for 3d numpy/awkward array"
Our current data container for the series-as-features/classification setting is the nested pd.DataFrame with series in cells. While very flexible, the nested pd.DataFrame is slow and continues to cause a lot of bugs and confusion on the side of users and contributors.

I propose the following steps to change it:
- [x] Add support for 3d numpy arrays with shape = (n_instances, n_variables, n_timepo

[2020-09-25 20:53] mloning commented on #402
@TonyBagnall @James-Large @ABostrom @patrickzib (tagging you as you have recently contributed to the series-as-features/classification framework)

[2020-09-28 19:26] mloning opened #403 "Implement multi-output reduction strategy for ReducedRegressionForecaster"
We currently support the following strategies for reduction from forecasting to regression (see this [file](https://github.com/alan-turing-institute/sktime/blob/master/sktime/forecasting/compose/_reduce.py)):

- [x] direct
- [x] recursive
- [ ] dirrec (see #226)
- [ ] multi-output (see #440)

For an overview of forecasting strategies for multi-step forecasting horizons see this [paper](https://d1w

[2020-09-30 13:37] SilvestrePerret opened #406 "[BUG] build_tools.requirements.txt contains incompatible packages"
**Describe the bug**

During the installation of build_tools, `pip` returns a warning/error message :
[code]

**To Reproduce**

- clone the repository
- set up an virtual environment and open a shell in it
- `$ pip install --upgrade pip`
- `$ pip install -r build_tools/requirements.txt`

**Expected behavior**

Expect no error message.

**Additional context**

<details>First time trying to contribu

[2020-10-01 09:01] mloning commented on #406
Thanks @SilvestrePerret for raising the issue.

This is due to a bug that was introduced in statsmodels 0.12.1 (see https://github.com/statsmodels/statsmodels/issues/7019). But we had started developing based on the new version already. It has been fixed already. We're just waiting for a new release.

[2020-10-01 19:17] zbenmo commented on #356
I'm new here, yet happy to jump in. This seems like a useful feature(s) / tool(s) / tutorial. Happy for additional advice from sktime maintainers and for where to obtain DICOM that relate to ECG for example. Believe I can find something in Kaggle  or elsewhere.

[2020-10-02 10:12] mloning opened #412 "Interface ARIMA from pmdarima/statsmodels"
**Describe the solution you'd like**
We already have AutoARIMA, but it would be nice to also interface ARIMA, either from statsmodels or pmdarima.

[2020-10-02 16:15] mloning commented on #15
Issue to combine awkward-array with xarray https://github.com/pydata/xarray/issues/4285

[2020-10-03 01:11] manu-torres opened #413 "[BUG] KNN with DTW"
**Describe the bug**

KNeighborsClassifier(n_neighbors = 1, metric = "euclidean")) always gives exactly the same result than KNeighborsTimeSeriesClassifier(n_neighbors = 1, metric = "dtw")

**To Reproduce**

Go to the example jupyter notebook 02_classification_univariate, section "K-nearest-neighbours classifier for time series".

The last two code cells before the "Other clasiffiers" section show

[2020-10-03 13:01] mloning commented on #413
Thanks @manu-torres for raising the issue! I can confirm that the code gives the same results. @jasonlines or @ABostrom are you able to comment on this?

[2020-10-05 15:02] #325 closed

[2020-10-06 14:39] #381 closed

[2020-10-07 00:03] techtide commented on #340
I am quite busy at the moment, but I hope to be more available by at least June, so I may have a shot then. Is there any documentation for new contributors to the project?

[2020-10-07 04:31] maisuiqianxun opened #417 "Instances about each algorithms"
Would you mind providing a sample instance about each developed algorithm in the API reference? To a freshman, it is hard to use some algorithms without a simple example, such as "ColumnEnsembleClassifier" in "sktime.classification.compose". By the way, sktime is a wonderful python API and can I devote to developing this repository with you?

[2020-10-07 08:29] mloning commented on #417
Hi @maisuiqianxun, thanks for reaching out! Check out our [example notebooks](https://github.com/alan-turing-institute/sktime/tree/master/examples). For the ColumnEnsembleClassifier go to the multivariate time series classification notebook. There's also a blog post of about the different kind of classification algorithms [here](https://towardsdatascience.com/a-brief-introduction-to-time-series-cl

[2020-10-07 08:30] mloning commented on #340
@techtide Check out the contributing guide: https://github.com/alan-turing-institute/sktime/blob/master/CONTRIBUTING.md

[2020-10-07 09:51] bingblackbean commented on #346
I am not sure if this bug will be fixed soon in coming version. By now I change the code to allow it support timestampindex in the series. Meanwhile, I also check if the timestamps are continuous.
`        # scatter if only a few points are available
        if isinstance(y.index, pd.DatetimeIndex):
            y = y.asfreq(pd.infer_freq(y.index))
            is_continuous = np.var((y.index - y.in

[2020-10-07 12:26] maisuiqianxun commented on #417
Hello @mloning, thank you for your help, I find the example of the algorithm ColumnEmsembleClassifier in the multivariate time series classification notebook, which is helpful to my understanding of the corresponding algorithms.

Thank you very much!

[2020-10-07 12:59] bingblackbean opened #419 "[DOC]add new software in Wiki"
#### Describe the issue linked to the documentation
I cannot find the LoudML in the Related Software in wiki page.https://github.com/alan-turing-institute/sktime/wiki/related-software

Loud ML is an open source time series inference engine built on top of TensorFlow. It's useful to forecast data, detect outliers, and automate your process using future knowledge. here is link： https://github.com/re

[2020-10-07 22:51] mloning commented on #346
Hi all, and thanks @bingblackbean for sharing your solution here!

We added much more comprehensive date-time support in PR #392. It hasn't made it's way into a release yet, but should work when you install the development verision.

You can find my solution for the plotting function [here](https://github.com/alan-turing-institute/sktime/blob/f13c9e189ef35796bcc2f3dc4ce00c8e5504932c/sktime/utils/p

[2020-10-07 22:51] #346 closed

[2020-10-07 22:54] mloning commented on #417
Great, glad I could help.

[2020-10-07 22:54] #417 closed

[2020-10-07 22:56] mloning commented on #419
Hi @bingblackbean, thanks, wasn't aware of LoudML!

How about we move the list of related software from the wiki to the website? That should make it more visible and easier to edit by others (people could simply open a PR).

[2020-10-07 23:02] mloning commented on #388
@moradisten upgrading the distance based classifiers would be great! They currently don't pass the all of our standard tests and there are some open bug reports on them (see e.g. #413), so that would be a great contribution!

[2020-10-07 23:11] mloning commented on #347
Closed by #392

[2020-10-07 23:11] #347 closed

[2020-10-07 23:15] #251 closed

[2020-10-07 23:21] #154 closed

[2020-10-08 07:39] moradisten commented on #388
Perfect, actually I was using that specific classifier (KNN + DTW) for my
thesis, but I didn't know sktime was also implementing it :P
First things first, Id like to know what my first tasks would be because
I'd like to adapt the P. Forest I implemented and check recompare it to the
P.Forest sktime implemented but I'd be delighted to work in the
distance-based classifiers field.

We keep in touch,

[2020-10-08 07:50] NikeNano commented on #403
I would be happy to contribute this, can I pick it up?

[2020-10-08 09:07] NikeNano commented on #403
take

[2020-10-08 10:34] mloning commented on #388
Yes testing your proximity forest against the sktime implementation and potentially also the [Java version in TSML](https://github.com/uea-machine-learning/tsml/tree/master/src/main/java/tsml/classifiers/distance_based/proximity) would be a good start. I'm tagging @goastler who implemented the sktime and Java version I believe. For KNN, I'm tagging @jasonlines who implemented our current version.

[2020-10-08 10:41] mloning commented on #403
Hi @NikeNano yes thanks! No-one is currently working on this particular issue, but note that there is ongoing development for the dirrect and extending the existing strategies to multivariate versions.

But this issues seems to be sufficiently separated to start working on it. Let me know if you need any help or have any questions!

[2020-10-08 10:53] moradisten commented on #388
Great. But I think it would be also necessary to adapt my project to the
sktime syntax. By the way, the Java implementation of PForest is even
faster, which seemed very "funny" even though I did my best to replicate
the same code using python. I think a thourough research on that point
would be interesting. By the way, for DTW I used a very interesting and
very powerful library (
https://dtaidista

[2020-10-10 09:07] big-o opened #421 "[BUG] Theta model predictions and intervals are incorrect"
**Describe the bug**
Please see https://github.com/statsmodels/statsmodels/issues/7075 for discussion and details: it looks like `sktime`'s Theta forecasting implementation is producing incorrect predictions and prediction intervals.

Need to investigate further to determine the cause and necessary fix.

[2020-10-10 13:45] NikeNano commented on #403
Thank you  @mloning, I will start to work on it tomorrow. Will get back to you if I have any questions.

[2020-10-10 18:30] shoaibkhanz opened #424 "failing to compile sktime"
I am bit new to open source and sktime is the first project that I am aiming to contribute to, so please forgive if this is my inexperience but following the development [intructions](https://www.sktime.org/en/latest/installation.html), I am able to step through all them except this last and important one.
where I get the following error. I have also checked if I have gcc installed by trying follo

[2020-10-11 14:47] TonyBagnall opened #425 "Provide tools for directly downloading the datasets from timeseriesclassification.com"
**Is your feature request related to a problem? Please describe.**

it would be useful for users to be able to download the classification/regression problems directly from timeseriesclassification.com in code. Apparently tslearn does this, and it seems like a good idea

**Describe the solution you'd like**
I'm not sure where it should be located, perhaps with the load data tools

**Describe alter

[2020-10-11 15:12] Emiliathewolf commented on #425
Hey can I have this?

[2020-10-11 15:30] TonyBagnall commented on #425
Yep 👍

[2020-10-11 19:21] NikeNano commented on #403
@mloning is it possible to get access to the article, the link is not working for me  due to : ``` AccessDeniedAccess denied```

[2020-10-12 03:57] riteshahuja13 commented on #421
I second this.
I found that the determine slope in sktime is way off than that determined by statsmodels.
I am not sure exactly why that happens.
It's probably best to just wrap the statsmodels theta model now that it's available in version 0.12.

[2020-10-12 04:00] riteshahuja13 opened #426 "Mean absolute scaled error function is broken."
@mloning
https://github.com/alan-turing-institute/sktime/blob/f13c9e189ef35796bcc2f3dc4ce00c8e5504932c/sktime/performance_metrics/forecasting/_functions.py#L56

This check is incorrect, since it compares the value of the series in y_test to the index in y_train.
`if y_train.index.max() >= y_test.min():`

If it is simply changed to the following, it passes my tests.
`if y_train.index.max() >= y_tes

[2020-10-12 04:04] riteshahuja13 commented on #426
Duplicate of #422

[2020-10-12 04:04] #426 closed

[2020-10-12 07:08] mloning commented on #424
Hi @shoaibkhanz, assuming that you're on macOS, have you read and followed the macOS specific instructions: https://www.sktime.org/en/latest/installation.html#mac-osx?

[2020-10-12 07:28] mloning commented on #425
I think we want some function to download data sets  and save them in a default location (i.e. `sktime/datasets/data`) so that we can simply load them the next time we need them.

This may help:
* Please check out https://tslearn.readthedocs.io/en/stable/gen_modules/datasets/tslearn.datasets.UCR_UEA_datasets.html#tslearn.datasets.UCR_UEA_datasets
* This may also be helpful https://github.com/fasta

[2020-10-12 07:36] mloning commented on #403
@NikeNano I've fixed the link!

[2020-10-12 07:37] mloning commented on #421
Is it possible that the `fit_trend` method is buggy? Happy to remove that, I included it some time ago but only Theta is still using it.

[2020-10-12 10:47] Abelarm commented on #413
If you want I can try to solve this,
do you have already any clue about what could be the error?

[2020-10-12 11:17] yunusrf opened #427 "ModuleNotFoundError: No module named 'sktime.forecasting.all"
**Describe the bug**

Running the latest example code, 01_forecasting.ipynb,  from jupitor notebook through Binder  gives the error : 01_forecasting.ipynb

**To Reproduce**

Run the Binder from sktime gitbub repository and select the notebook example - 01_forecasting.ipynb
[code]

**Expected behavior**

**Additional context**

**Versions**
v0.4.2
<details>
v0.4.2

</details>

[2020-10-12 12:22] Emiliathewolf commented on #425
Thanks, I'll have a look at them

[2020-10-12 16:28] mloning commented on #413
I'm not sure where it comes from. But KNN currently doesn't pass our default estimator tests. I think it's worth looking at the [tslearn's KNN](https://tslearn.readthedocs.io/en/stable/gen_modules/neighbors/tslearn.neighbors.KNeighborsTimeSeriesClassifier.html) version and this package https://github.com/wannesm/dtaidistance to perhaps re-implement parts of it or write an interface to tslearn.

[2020-10-12 17:56] mloning commented on #427
Yes, sorry about that, this is related to #416

[2020-10-12 19:52] shoaibkhanz commented on #424
Yes I was following the instructions from the above documentation link.
However,  what worked for me is using the `conda` environment instead of `venv`
followed instructions from here -- > https://scikit-learn.org/stable/developers/advanced_installation.html#macos-compilers-from-conda-forge

[2020-10-12 20:19] shrinandj commented on #427
Complete newbie here. But I tried to download the two files in #416 locally and then tried the following steps. No luck.

- Restarted `jupyter notebook`
- Opened `01_forecasting.ipynb` in a new browser window
- Still got the same problems of `ModuleNotFoundError: No module named 'sktime.forecasting.all'`

<img width="1426" alt="Screen Shot 2020-10-12 at 1 19 01 PM" src="https://user-images.githubu

[2020-10-13 07:27] mloning commented on #427
It's because the master is ahead of the latest release. So what you can do is checkout the latest release and then open the notebooks.

On master, run:
[code]

Or use this binder link: https://mybinder.org/v2/gh/alan-turing-institute/sktime/v0.4.2?filepath=examples

[2020-10-13 07:33] mloning commented on #424
Great, would be great to update the installation docs in [`docs/source/installation.rst`](https://github.com/alan-turing-institute/sktime/blob/master/docs/source/installation.rst)

[2020-10-13 07:56] shoaibkhanz commented on #424
Sure, I will update the docs and open a PR

[2020-10-13 09:38] yunusrf commented on #427
Thank you for the quick response. Installing from the development version seems to be working.

[2020-10-13 11:31] Abelarm commented on #413
Ok I was not able to find the error of the code so I did the other way around. I tried to set up a super fast working version

First I try the [dtw distance](https://github.com/wannesm/dtaidistance) you suggested me with the `KNeighborsClassifier`:
[code]

obtaining: `sklearn model performance (with external dynamic time warping): 1.0`
So we know it works.! :+1:

Then I used this distance inside t

[2020-10-13 11:49] mloning commented on #413
@Abelarm thanks for looking into this! It would be great to get this fixed! Here are my thoughts but I'm happy for you to take the lead.

We have a few options:
1. replace our KNN with an interface to tslearn's KNN,
2. fix our KNN using distances from the dtaidistance package,
3. fix our KNN and distance functions.

3 seems to involve most work. The dtaidistance package seems to be well maintained

[2020-10-13 12:16] Abelarm commented on #413
1) the distance supported are ` {‘dtw’, ‘softdtw’, ‘euclidean’, ‘sqeuclidean’, ‘cityblock’, ‘sax’} ` plus the one from scipy [doc](https://tslearn.readthedocs.io/en/stable/gen_modules/neighbors/tslearn.neighbors.KNeighborsTimeSeries.html#tslearn.neighbors.KNeighborsTimeSeries)

2) This seems the easiest way to do it, after reading better the documentation I found the function `dtw_ndim` which supp

[2020-10-13 12:28] mloning commented on #413
As far as I'm aware the distances were tested against Java implementations in [TSML](https://github.com/uea-machine-learning/tsml) but don't think we have unit tests for them.

I'm happy for you to work on 2, that would have been also my preferred option. If we can ensure compatibility with tslearn distances that would be even better. Are the tslean distances compatible with distances from dtaidis

[2020-10-14 10:35] Abelarm commented on #413
I had to rollback, I was not testing everything as was supposed to be tested. The option of using the distances from tslearn is not viable without changing a LOT of code. So I went with the solution 2) using [dtaidistance](https://github.com/wannesm/dtaidistance)
Now and all the tests pass again.

[2020-10-14 11:03] Abelarm commented on #413
Ok let's start over:

the tslearn option cannot be pursued because it breaks too many test cases
So we need to go with the [dtaidistance](https://github.com/wannesm/dtaidistance) BUT:

dtaidistance has two classes for the case of univariate `dtw` and multivariate `dtw_ndim`.

Now the class `KNeighborsTimeSeriesClassifier` always pass the X,Y in the form of [n_samples, n] even in the case of n=1, s

[2020-10-14 11:49] mloning commented on #413
Which test cases does it break? We could exclude it from some of them. Or perhaps option 3 isn't too bad after all.

[2020-10-14 13:13] Abelarm commented on #413
Most of the test where the dtw distance is involved...
`173 failed, 1941 passed, 1654 warnings`

[2020-10-15 22:49] mloning commented on #425
Closed by #430

[2020-10-15 22:50] #425 closed

[2020-10-15 22:54] mloning commented on #366
This will be addressed in #420 where we rework the RowTransformer.

[2020-10-16 06:23] pradithya opened #431 "[BUG] Dynamic forecast using ExponentialSmoothing doesn't refit the forecaster"
**Describe the bug**

I am following [dynamic forecast example](https://www.sktime.org/en/latest/examples/01_forecasting.html#Dynamic-forecasts) but using  ExponentialSmoothing instead of NaiveForecaster.
I noticed that the forecaster is not retrained in every step, thus instead of generating  36 1-step forecast it is creating 36-step forecast.

I.e.
[code]

behaves like
[code]

**To Reproduce**

[2020-10-16 11:01] davidbp opened #432 "Adding vector forecasting API + examples"
**Is your feature request related to a problem? Please describe.**
Currently it seems there is no native solution to, given a sliding window NxT make predictions that at each time step provide N values (vector forecasting).

**Describe the solution you'd like**
I think we could include a native way to work with models that allow input matrices and output vectors.

**Describe alternatives you've co

[2020-10-16 12:35] mloning commented on #431
Hi @pradithya, thanks for raising the issue!

* If you want to wholly refit the estimator, you have to iterate manually over the test data and repeatedly call `fit()`.
* If you want to incrementally update the fitted parameters as new data comes in, you have use `update_predict()` with `update_params=True` as below. But note that will raise a `NotImplementedError` because it isn't implemented yet.

[2020-10-16 12:53] mloning commented on #413
I agree that this is a larger project to work on and requires some more in-depth investigation on how to best fix this. Let me know if you're still interested.

@jasonlines will add some unit tests for our distance function some time soon.

But refactoring our TimeSeriesKNN class still seems like a good idea if you want to work on this @Abelarm?

[2020-10-16 14:47] Abelarm commented on #413
Yeah I can refactor it, but exactly what you had in mind?

[2020-10-16 21:26] evanmiller29 commented on #361
I'm happy to contribute a notebook or two if that would help?

I'm only familiar with forecasting but I'd be happy to do one for TS Classification too if anyone can point me in a good real world example.

[2020-10-17 08:00] mloning commented on #361
Hi @evanmiller29, if you want to contribute to the docs directly, best to work off and merge into #377. The preliminary table of contents above should give a basic scaffolding for the sections. For the notebooks, best to look at the examples and improve them.

[2020-10-17 08:03] mloning commented on #413
The basic idea is to extend scikit-learn to be able to use our data input formats (nested pandas/3d numpy arrays) and distance functions but use as much code from scikit-learn as possible. Our current solution is a bit hacky and hence fragile. So we need to go through scikit-learn's KNN class and see where and how to best make changes to adapt it to our interface.

[2020-10-17 08:20] mloning commented on #432
Hi @davidbp, vector forecasting raises some interesting design questions and I think it's a good idea to start with an [enhancement proposal](https://github.com/sktime/enhancement-proposals) (a design sketch). Feel free to open a PR there and link it here!

It's important to think about classical forecasting (currently implemented), vector forecasting (predict multiple related series) and supervis

[2020-10-18 07:33] Lucius888 opened #433 "[DOC] Add example of vector forecasting"
#### Could you add an example of multivariate forecasting?

[2020-10-18 11:29] TonyBagnall opened #434 "Restructuring of the utils directory"
this directory contains a lot of legacy code that could usefully be tidied up and restructured. This is ongoing work with UEA project students, and we will list changes as we do them, this is an issue simply to help manage it. Suggestions welcome

this is the starting structure
![image](https://user-images.githubusercontent.com/9594042/96365996-a0e4ef00-113c-11eb-8b96-24c11777f279.png)

1. All the

[2020-10-18 14:35] whackteachers commented on #434
Hi I am Jason. Got some questions on this.
For 2, I see that there are still usages on them, how do I handle the dependencies on them?
similarly when restructuring the directory, I assume I have to refactor the usages as well?

[2020-10-18 15:19] TonyBagnall commented on #434
Hi jason, can we discuss this on teams? I am not expecting you to do this without guidance, the above is for discussion

[2020-10-18 15:27] whackteachers commented on #434
sure

[2020-10-18 19:16] discdiver opened #435 "[BUG] Automatic fitting with AutoETS fails"
**Describe the bug**
Automatic fitting with AutoETS errors. Works fine when manually setting params.

**To Reproduce**

instantiate with auto=True and fit

[code]

**Expected behavior**

A fit model with good params.

**Stack trace**
[code]

**Versions**
0.4.2

System:
    python: 3.7.6 (default, Jan  8 2020, 13:42:34)  [Clang 4.0.1 (tags/RELEASE_401/final)]
executable: /Users/jeffhale/miniconda3/

[2020-10-19 00:49] ahmadhfs opened #436 "Track run time of AutoARIMA"
**Is your feature request related to a problem? Please describe.**
I was working on a project and ran the AutoARIMA model ,which took long time to finish ,and could not get a sense of how long would it takes or at which stage the algorithm is currently running.

**Describe the solution you'd like**
Here are some suggestions:
1. Calculating the complexity of the algorithm ( O(N) ) and multiplying i

[2020-10-19 07:55] pradithya commented on #431
Hi @mloning thanks for promptly replying the issue.

Yeah, ExponentialSmoothing doesn't support incremental retraining with partial data. In such case is it good idea if `update_predict` should fallback to refit/retrain a completely new model in each step? Same goes for other model which doesn't support incremental retrain. So the promise of `update_predict()` is  to return updated forecast as new

[2020-10-19 08:04] mloning commented on #434
Thanks @TonyBagnall!

I agree with most of this! I'm planning to make a new minor release, and then work towards a new major release by adding transformer types (#420) and restructuring this.

5. Plotting isn't empty but can be made a file rather than a module (there's a function in the __init__)
6. Files/module that start with "test" are recognised by pytest as unit tests. The module "_testing" c

[2020-10-19 08:06] mloning commented on #435
Hi @discdiver, thanks for raising the issue!

@HYang1996 let me know if you have time to look into this, otherwise I can take a look!

[2020-10-19 08:11] mloning commented on #436
Hi @ahmadhfs, could you tell us a little more about what you have in mind to track the time to fit and predict? Please fill in the template of the issue accordingly, putting everything into the title isn't very helpful.

We have been thinking about implementing time contracting for algorithms, so that users can set a time for how long to run an algorithm but this requires substantial work and we h

[2020-10-19 08:26] mloning commented on #431
* I agree, the default of `update_params` should be set to True.
* I'm a little hesitant to fall back to refitting in `update` when no other method is implemented/available because this is what people expect `fit` is for (similar to what you argue about `predict` and `update_predict` which I agree with). Adding another kwargs like `refit=False` may be an option.
* The [state-space formulation of E

[2020-10-19 08:28] mloning commented on #433
Just to be clear, by multivariate forecasting you mean forecasting with exogenous variables (which some of our forecasters support)? Or vector forecasting (which we don't support yet)?

[2020-10-19 08:38] Lucius888 commented on #433
I am sorry .
it‘s vector forecasting,thanks

[2020-10-19 08:42] mloning commented on #427
Hopefully fixed by #416

[2020-10-19 08:42] #427 closed

[2020-10-19 08:46] mloning commented on #433
As said, that's not implemented yet, but please see #432 for further discussion on design/implementation.

[2020-10-19 08:46] #433 closed

[2020-10-19 10:08] HYang1996 commented on #435
Hi @discdiver , thank you for raising the issue.

This error occurs as the seasonal period `sp` is not specified while calling AutoETS, and using `AutoETS(auto=True, sp=12)` for example would work (same as the implementation in the forecasting example notebook).

The reason for this is that we implemented AutoETS based on statsmodels' [ETSModel](https://www.statsmodels.org/devel/generated/statsmod

[2020-10-19 13:22] fkiraly commented on #431
Yes, I already wanted to reply to this.

Regarding interface, @mloning :
I actually think that `update` should fall back to either "ignore the data", or "refit on all the data" (if available) - simply since it is a standard interface point that should be implemented by a templated class - composites may expect it, e.g., the hedge algorithm or other ensembles.

Similarly how you wouldn't return a `

[2020-10-19 13:23] fkiraly commented on #431
Maybe @big-o has some helpful insight on updating Holt-Winters.

[2020-10-19 15:20] mloning commented on #435
But why does it statsmodels not raise a more informative error here if the period cannot be inferred from `freq` in `period_to_freq`? `freq` is just an attribute on a `pd.PeriodIndex` or `pd.DatetimeIndex`.

We could change the default to `sp=1` . I think that's what we use for the other forecasters at the moment.

[2020-10-19 16:07] HYang1996 commented on #435
Thank you @mloning !

`ETSModel` handles it this way:
[code]
`_index_freq` attribute is included in their [base model](https://github.com/statsmodels/statsmodels/blob/52b142c0ec6543ccc0281bcff301f7465622e816/statsmodels/tsa/base/tsa_model.py#L604), so no informative error would be raised in this case.

This would work and we would need to select only non-seasonal models in the automatic fitting pr

[2020-10-19 16:29] discdiver commented on #435
Thank you for your work on this great project! Updating the docs to specify that the `sp` param is required would help folks out.

[2020-10-19 16:36] discdiver commented on #435
Is there a way to see which parameters were found to be the best?

[2020-10-19 16:42] HYang1996 commented on #435
Yep you could try obtaining a summary of the fitted model:
[code]

[2020-10-19 17:08] discdiver commented on #435
gotcha - thanks. I was trying to get the params the way you would after fitting an sklearn model rather than the statsmodels way.

I can see the ETS(AAM) params, is there some way to get out  all the params used in the best model (e.g. initialization method)?

[2020-10-19 17:22] mloning commented on #435
@HYang1996 why do we need the `seasonal` argument? Yes, would mind setting the default `sp=1`.

@discdiver You should be able to get the underlying fitted statsmodel from `hw_auto_models._fitted_forecaster`.

[2020-10-19 17:49] discdiver commented on #435
Thanks @mloning. Would be great if the docs included the attributes.

I'm digging around the sktime docs, statsmodels docs, and google to try to figure out whats the fitted_forecaster has in it and how to access it. It returns <statsmodels.tsa.exponential_smoothing.ets.ETSResultsWrapper>. I guessed that params was an attribute, and that returned a Series of floats. I guessed on params_names, and t

[2020-10-19 18:31] mloning commented on #435
Yes, one complication here is that statsmodels return a different object (the ETSResultsWrapper) rather than changing the state of the estimator as in scikit-learn. I've found myself in the same situation a few times where I wanted to inspect the object without really knowing where to look for what. scikit-learn is much easier to use in that respect.

I'm not sure how the model would translate int

[2020-10-19 18:41] discdiver commented on #435
Thank you. I guess without `auto=true` it is basically an `ExponentialSmoothing` model anyway. Is the `ExponentialSmoothing` class redundant?

I think one of my hopes for sktime was that it could save me from having to dig into the unfriendly statsmodels API, but that is perhaps impossible. ☹️

[2020-10-20 13:43] mloning commented on #435
We're proposing a uniform interface for fitted parameters, something which is also missing from scikit-learn, basically a `get_fitted_params` method similar to `get_params` for hyper-parameters. But we haven't implemented much of it. Would that be helpful? Other non-fitted attributes should probably just be exposed from the wrapped statsmodel results class.

[2020-10-20 15:13] fkiraly commented on #435
@mloning, @discdiver, I agree one would really need sth like `get_fitted_params` - but for that to work, one would have to modify `BaseEstimator`, where `get_params` and related functionality sits...
Or is there a smart way around this?

[2020-10-20 16:48] jordanrmerrick commented on #259
I can take this on!

[2020-10-20 17:25] mloning commented on #259
Hi @jordanrmerrick, that would be much appreciated!

[2020-10-21 18:25] wangyida commented on #259
@mloning Hi Markus, I might be able to track this issue for the python implementation

[2020-10-21 19:31] NikeNano commented on #220
Is any one working on an interface to fb prophet? Would be happy to look in to it otherwise!

[2020-10-22 09:57] t-donat opened #441 "[BUG] ValueError: `unit` missing when fitting pandas dataframe"
**Describe the bug**
Having followed your tutorial .ipynb, I wanted to try this with a dataset I had worked with before. The code can be seen below, it was written in Jupyter Notebook. When running the code cell of the ThetaForecaster, it would throw the following ValueError:

**Stack Trace**

[code]

**To Reproduce**

[code]

**Expected behavior**
I was expecting the ThetaForecaster to fit to the

[2020-10-22 10:50] mloning commented on #220
Hi @NikeNano that would be great! It's probably best to create a separate issue for it and link it here!

[2020-10-22 11:00] mloning commented on #441
Hi @t-donat I see this error isn't very helpful! Thanks for the bug report!

You can fix this by specifying the frequency  of the input data (the `.freq` attribute of the index of the `pd.Series`) (see below), but we should raise a more informative error message!

[code]

[2020-10-22 13:57] t-donat commented on #441
Thank you for the quick reply, this works!

[2020-10-22 13:57] #441 closed

[2020-10-22 19:39] evanmiller29 opened #443 "[DOC] ForecastingHorizon is not in API reference of latest version of Docs"
#### Describe the issue linked to the documentation

ForecastingHorizon is mentioned in the [forecasting example](https://www.sktime.org/en/latest/examples/01_forecasting.html ) but there isn't a mention of it in the [API reference](https://www.sktime.org/en/latest/api_reference.html)

I found this when I tried to debug an error trying to used it in my own work.

If there's a simple way of adding

[2020-10-23 08:13] mloning commented on #443
Thanks @evanmiller29, good catch, added it in #444! It was easy to fix, but take a look at the PR to find out how the docs work in case you're not familiar with it.

As far as I understand, there's nothing dangerous about `sktime.forecasting.all import *`. Fastai have proposed it as a compromise between easy importing and managing name space collisions. You can always use auto-complete to see what

[2020-10-23 20:45] evanmiller29 commented on #443
Hey yeah dangerous might have been a bit of an extreme way to describe it!

I know fastai does this but sklearn (where this package is inspired from)
is always very direct in where the imports come from. probably because they
have so many different areas of functionality and import * might create
some performance/namespace issues.

But the benefit of doing direct imports means that the people get

[2020-10-23 23:06] mloning commented on #66
For enhancement proposal, see https://github.com/sktime/enhancement-proposals/tree/master/steps/04_supervised_forecasting_api

[2020-10-23 23:40] HYang1996 commented on #435
@discdiver Based on [statsmodels documentation on the `fit` method](https://www.statsmodels.org/devel/generated/statsmodels.tsa.exponential_smoothing.ets.ETSModel.fit.html#statsmodels.tsa.exponential_smoothing.ets.ETSModel.fit), the parameters used for fitting can be obatined by setting `return_params` to `True`. The default setting in sktime's version is `False` but it would not work if it is set

[2020-10-25 11:34] whackteachers opened #447 "[DOC] classifiers missing bibtex reference"
#### Describe the issue linked to the documentation

The following classifier miss the bibtex reference to the paper for the algorithm:

- ColumnEnsembleClassifier in classification/compose/_column_ensemble.py

- TimeSeriesForestClassifier in classification/compose/_ensemble.py

- TemporalDictionaryEnsemble in classification/dictionary_based/_tde.py

- ProximityTree in classification/distance_base

[2020-10-25 15:07] fkiraly commented on #66
@ahmedgc FYI

[2020-10-25 15:51] fkiraly commented on #66
I can't find the thesis anymore, but I'm attaching the working version of a paper.
[supervisedforecast.pdf](https://github.com/alan-turing-institute/sktime/files/5435003/supervisedforecast.pdf)

[2020-10-26 07:24] #419 closed

[2020-10-26 07:26] #443 closed

[2020-10-26 07:35] mloning commented on #447
Do we want to add them in the BibTeX format or simply some other standard format?

Either way, we should add them under the References heading in the numpy docstring format.

[2020-10-26 07:36] mloning commented on #436
I'll close this for now but feel free to re-open it if you want to discuss this further!

[2020-10-26 07:39] #402 closed

[2020-10-26 07:41] mloning opened #448 "Replace nested pd.DataFrame with awkward-array"
We currently still support the nested pd.DataFrame with series in cells for panel data in addition to 3d numpy arrays (see #402). While very flexible, the nested pd.DataFrame is slow and continues to cause a lot of bugs and confusion on the side of users and contributors.

I propose to replace nested pd.DataFrame with awkward-array for time-heterogeneous data and deprecate and remove the nested pd

[2020-10-26 07:43] mloning commented on #366
Closed by #420

[2020-10-26 07:43] #366 closed

[2020-10-26 08:50] fkiraly commented on #448
Disagree with deprecation - I would still suggest to try to support it, in addition.

I also think we need to take care of the "multiple input types" issue cleanly once and for all, including light-weight architecture for type conversions and type checks. See discussion at the end of #420.

[2020-10-26 09:11] mloning commented on #448
The nested pd.DataFrame causes a lot of headaches all over the place (conversions, input checks, loading, checking for equality, obtaining shapes, etc, etc), besides that most operations on it are very slow. I'd really prefer to deprecate it in the long run.

[2020-10-26 10:24] fkiraly commented on #448
So do I, but I don't see a viable alternative yet for samples of unequally sampled, unequal length time series with named variables.

As long as deprecating it would mean deprecating an entire scitype central to the sktime vision, I'll be against it.

[2020-10-26 10:40] ahmadhfs commented on #436
I filled the templte above. Thank you @mloning

[2020-10-26 10:52] ahmadhfs opened #449 "I'll close this for now but feel free to re-open it if you want to discuss this further!"
"I'll close this for now but feel free to re-open it if you want to discuss this further!"
**I filled the template**

[2020-10-26 14:02] mloning commented on #449
Alright, thanks @ahmadhfs, I'll re-open the other issue and close this one.

[2020-10-26 14:02] #449 closed

[2020-10-26 14:10] mloning commented on #436
For the AutoARIMA model we use pmdarima's implementation. If you take a look at the docstring, you can easily find the `trace` parameter which gives you some more details about what's happening internally. If you want more than that, please open an issue on their GitHub account.

[code]

[2020-10-26 14:28] #435 closed

[2020-10-27 05:42] SaddamHussain84 commented on #448
I have data frame whose features are monthly electricity consumption of thousand different users and target variable is customer is either healthy or involved in theft...My data format is typical pandas data frame as you see titanic data set having number of features and in the end survival as target...
since electricity consumption data is time series, how to convert pandas data frame to suitable

[2020-10-27 09:40] TonyBagnall commented on #43
Closed as moribund, we can always reopen

[2020-10-27 09:40] #43 closed

[2020-10-27 14:53] mloning commented on #448
Hi @SaddamHussain84 that's probably best discussed in a separate issue, please create a new one and add some simple example data, that would be most helpful to answer your question!

[2020-10-27 15:04] TonyBagnall commented on #447
hi,
ColumnEnsembleClassifier in classification/compose/_column_ensemble.py
KNeighborsTimeSeriesClassifier in classification/distance_based/_time_series_neighbors.py

thanks for this, please add bibtext for now, and maybe link under references?

TimeSeriesForestClassifier in classification/compose/_ensemble.py
https://www.sciencedirect.com/science/article/pii/S0020025513001473

TemporalDictionaryEn

[2020-10-27 16:16] mloning opened #450 "Implement stumpy series-to-series transformer"
**Describe the solution you'd like**
Interface and wrap `stumpy.stump` in series-to-series transformer, alternatively as panel-to-panel transformer

**Additional context**
See https://github.com/TDAmeritrade/stumpy/issues/249 for preliminary discussions

[2020-10-27 16:46] whackteachers commented on #447
so wt about ColumnEnsembleClassifier and KNeighborsTimeSeriesClassifier?

[2020-10-27 17:12] TonyBagnall commented on #447
hi jason,  ColumnEnsembleClassifier and KNeighborsTimeSeriesClassifier are generic classifiers, they do not need a reference

[2020-10-27 17:40] SaddamHussain84 opened #451 "pandas dataframe conversion into sktime dataframe[BUG]"
**Describe the bug**

I have attached the data format, it is CSV file , first column is id column and then from jan-16 to Dec-16, it is monthly electricity consumption of Con_1 to Con-11(11 different consumers) in the end their is target which describe  either customer is healthy or theft.
df = pd.read_csv("data_file.csv")
df.head()
![sampledataimage](https://user-images.githubusercontent.com/6478

[2020-10-27 18:06] SaddamHussain84 commented on #265
I have also the same issue, my data format looks like this
**Data description:** First columns user id, from Jan-16 to Dec-16, electricity consumption of different users, inn the end target column showing either customer is healthy or theft.
**Code:**
X_train = pd.read_csv("file.csv")
X_train.head()
![sampledataimage](https://user-images.githubusercontent.com/64782359/97342726-8ee41880-18c1-11eb-9

[2020-10-28 12:44] mloning commented on #451
Hi @SaddamHussain84, see if this works:
[code]
If you have equal length data, you can also use 3d numpy arrays with shape (n_instances, n_variables, n_timepoints).

Let me know if this works!

[2020-10-28 16:10] SaddamHussain84 commented on #451
It worked, thanks God, why you have not mentioned in your tutorial sections. Since, most of the data for training machine learning models, is in this way, I have been troubled for days.
Thanks for solving my problem, i really appreciate your effort. Keep doing great work

[2020-10-28 16:24] #451 closed

[2020-10-28 17:57] flosincapite opened #455 "[DOC] Improve Clarity and Modularity of load_from_tsfile_to_dataframe"
#### Describe the issue linked to the documentation

Code is hard to read/maintain.

#### Suggest a potential alternative/fix

Improve modularity of [this function](https://github.com/alan-turing-institute/sktime/blob/b72d2ac3a127430a4c3fc0bbebe74f34fbae5150/sktime/utils/load_data.py#L12).

[2020-10-28 18:14] utsavcoding commented on #302
I'm an MLH fellow, and would like to take up this issue, if no one else is working on it.

[2020-10-28 18:15] utsavcoding commented on #455
I would like to take up this issue, to start working as part of MLH fellowship.

[2020-10-29 07:58] mloning opened #456 "Remove support for manylinux1"
**Is your feature request related to a problem? Please describe.**
* some packages we depend on seem to have stop distributing wheels for manylinux1 (e.g. [kiwisolver](https://pypi.org/simple/kiwisolver/#files), see https://github.com/nucleic/kiwi/issues/95), hence current CI failures on master
* manylinux1 is based on CentOS 5 which has reached its end-of-life (EOL) on March 31st, 2017 with a cle

[2020-10-29 08:05] mloning commented on #302
Hi @utsavcoding check out the latest PR for this: #438

[2020-10-29 16:15] mloning commented on #406
statsmodels 0.12.1 is now release, so hopefully we can resolve this now https://github.com/statsmodels/statsmodels/releases/tag/v0.12.1

[2020-10-29 17:43] TonyBagnall opened #459 "Make sure all classifiers are seeded by random_state"
for reproducibility, all classifiers should be seeded by random_state. In our experiments, the random_state is set to the resampleID. This is not correctly set in all the considered classifiers. The current list to check is

all_classifiers = [
    "BOSSEnsemble", "TemporalDictionaryEnsemble", "MUSE", "WEASEL",
    "ProximityForest", "ElasticEnsemble", "KNeighborsTimeSeriesClassifier",
#"ShapeDTW"

[2020-10-29 19:21] Stevellen opened #460 "[BUG] TimeSeriesForestClassifier not working with multiple outputs."
**Describe the bug**

The TimeSeriesForestClassifier (TSFC) documentation suggests that the model should work with a multilabel/multioutput problem. When I try to run it this way, however, the training process seems to complete fine, but at inference time I get a ValueError from numpy saying that it cannot broadcast size (N,1) to (N,). For example, when I try to predict on a set with 8 possible cl

[2020-10-30 07:51] mloning commented on #460
Thanks @Stevellen for opening the issue, it's possible that this is a bug, I don't think we have a test for it and may have broken the support for multilabel classification when extending sklearn.

Do you have some toy data to work with? Would you be interested in looking into this?

[2020-10-30 08:48] #456 closed

[2020-10-30 11:16] ABIGAILDEBBY commented on #322
I still have an error after following all the steps here. I am doing this in Jupyter notebook. Kindly help/

[2020-10-30 14:05] mloning commented on #322
@ABIGAILDEBBY Make sure you install the extra dependencies in the same environment from which you launch Jupyter notebook, let me know if that helps!

[2020-10-31 19:58] Stevellen commented on #460
@mloning Sure, I could have a look at it sometime this weekend.

[2020-11-02 10:26] fkiraly opened #464 "[DOC] Developer guide (extension guidelines and scitype templates)"
From my comments in #420:

I think we very much need to write up template designs, type conventions, extension conventions. This information is typically not suitably covered by an auto-generated API reference, as it is distributed across classes - the generic template, and the conventions implemented in the concrete desendants. Sth like in sklearn dev guidelines could work, but I'd actually prefe

[2020-11-02 13:30] mloning commented on #464
Hi @utsavcoding, this may be interesting to you too

[2020-11-02 13:39] utsavcoding commented on #450
@mloning As a part of MLH fellowship, I would like to take up this issue.

[2020-11-03 20:00] NikeNano commented on #403
I will not have time to work on this in the near future, so if any one like to pick it up feel free to do so.

[2020-11-04 17:11] mloning opened #465 "Add AutoAR"
**Is your feature request related to a problem? Please describe.**
Simple auto-regressive forecaster with automatic estimation of number of lags.

**Describe the solution you'd like**
There is a open PR #411 which implements the basic structure but requires some more work to finish it.

[2020-11-04 18:12] itpmngt opened #466 "[BUG] API broken on 0.4.3 - plot_ys is missing"
**Describe the bug**
file `forecasting.py` in `sktime.utils.plotting` is missing - it breaks the API and all online tutorials (including PyData 2020)) are broken

it happened between version 0.4.2 and 0.4.3

(assuming that was unintentional - otherwise, the advice is DO NOT break the API within minor versions, and never without pre-warnings of deprecating features, etcetera, etcetera...)

attempte

[2020-11-05 08:32] mloning commented on #466
Hi @itpmngt, thanks for raising the issue and sorry about that! Note that sktime is at an early stage of development, many features aren't stable yet, so breaking changes will occur, we'll try to handle/communicate them better in the future!

I've now pinned the version for the PyData tutorial [here](https://github.com/sktime/sktime-tutorial-pydata-amsterdam-2020/commit/440580ae9e52e5f612cac608eca

[2020-11-05 09:41] itpmngt commented on #466
Hi @mloning -

Cloned, created a branch and tried to push to create a PR - some repos are open for submitting PRs

There are lots of stuff - other people tutorials and papers - your papers as well as - with that change you're breaking everything given a bad feeling and the thought on some people's minds that maybe this is not serious - highly recommend to revert that, this could jeopardise all the

[2020-11-05 14:04] mloning commented on #466
For creating a PR, please fork the repo as described in our [contributing guidelines](https://github.com/alan-turing-institute/sktime/blob/master/CONTRIBUTING.md).

Thanks for your feedback!

[2020-11-06 11:49] AaronX121 opened #470 "[DOC] Broken documentation on `RandomIntervalSpectralForest`"
#### Describe the issue linked to the documentation

Hi, thank you for contributing to this nice repo.

I find that the documentation page on `RandomIntervalSpectralForest` is broken (https://www.sktime.org/en/latest/modules/auto_generated/sktime.classification.frequency_based.RandomIntervalSpectralForest.html). This is what it looks like:

![screen](https://user-images.githubusercontent.com/22359

[2020-11-06 13:25] mloning commented on #470
@AaronX121 Thanks for raising this! Would appreciate a PR :)

[2020-11-06 13:29] AaronX121 commented on #470
Got it, I am happy to take this, and open a PR latter.

[2020-11-06 18:21] mloning commented on #470
Thanks @AaronX121, really appreciated!

[2020-11-07 11:47] Bruno-Hanzen commented on #466
I installed sktime with
`pip install sktime`
The directory structure seems to be very different from the one in github.
For example, in the Plateaufinder example, I find:
`from sktime.transformers.panel.summarize import PlateauFinder`
On my machine, I have to use:
`from sktime.transformers.series_as_features.summarize import PlateauFinder`
This is quite inconvenient. Is the documentation aligned w

[2020-11-08 11:29] isma3ilsamir opened #474 "load_from_arff_to_dataframe fails when importing 'ECG200' dataset [BUG]"
**Describe the bug**
I downloaded the 'ECG200' dataset files on my local machine and was trying to import it using 'load_data'
It works fine if I use 'load_from_tsfile_to_dataframe' utility but fails when I use 'load_from_arff_to_dataframe'

This is how the dataset is downloaded
c:\myfolder\ECG200
- c:\myfolder\ECG200\ECG200_TEST.arff
- c:\myfolder\ECG200\ECG200_TEST.ts
- c:\myfolder\ECG200\ECG200

[2020-11-08 12:49] mloning commented on #466
Hi @Bruno-Hanzen, we're developing on master, meaning that you have two options:

1. run the notebooks using the latest "development" version from master by installing sktime via `pip install -e .` (see the [advanced installation instructions for more details](https://www.sktime.org/en/latest/installation.html))
2. running the latest stable release version by installing sktime via `pip install skt

[2020-11-08 12:49] #466 closed

[2020-11-08 13:03] mloning commented on #464
Hi @fkiraly, I agree, we need better extension guidelines. I think we should write a "developer guide" in addition to the planned "user guide" and the scitype template should be part of that.

It should live in the docs. The wiki isn't very good for suggesting and reviewing changes collaboratively. I'm trying to slowly move away from the wiki for most things.

We should merge in the user guide (#3

[2020-11-08 13:25] mloning commented on #474
Thanks @isma3ilsamir for raising the issue!

@AidenRushbrooke did you take a look at the function recently? Any idea what may be wrong here?

[2020-11-08 14:06] AidenRushbrooke commented on #474
I briefly looked though the function but made no changes. There were a few issues with code guidelines when running the pre-checks, so it might be to do with changes to python since the code was written, but I cannot say for certain.

[2020-11-08 18:20] #447 closed

[2020-11-08 22:13] #470 closed

[2020-11-10 06:28] robomotic opened #476 "[DOC] Exponential Smoothing configuration modes"
#### Describe the issue linked to the documentation

It is unclear from the documentation about how to use the constructor to achieve the different configurations for ExponentialSmoothing.
With reference on page 204, section 7.4 of the book Forecasting: Principles and Practice (which is also mentioned in the source code) there are various combinations with Trend and Seasonal Component.

For exampl

[2020-11-10 08:00] mloning commented on #476
Hi @robomotic, the reason they are different is that the book is based on the `forecast` library in R, our class is based on `statsmodels` exponential smoothing class.

One way to get the fitted parameters is to use `get_fitted_params()` (the interface is still experimental):

[code]

There is also the `AutoETS` class from `from sktime.forecasting.ets import AutoETS`, but again based on statsmodel

[2020-11-10 11:26] wangyida commented on #388
@moradisten Aha I also tried your implementation before I found that sktime has already included it. It does take a long time for sktime's API for the benchmark in your repo. I'm also checking to implement TS-CHIEF in such frameworks

[2020-11-10 22:44] robomotic commented on #476
Perfect let me play with it and will post my findings here. I can then do a pull request if you like or you can just copy and paste my code.

[2020-11-10 23:03] robomotic opened #477 "Add SlidingWindowSplitter visualization"
**Is your feature request related to a problem? Please describe.**
I want to be able to visualize the cross folds generated by the sliding window splitter.

**Describe the solution you'd like**

In the example:

[code]
I want to see all the training windows and their corresponding points in a dataframe that I can also use to plot via vertical lines.

I tried this:

[code]

Which gives me:

[code]

[2020-11-11 19:25] moradisten commented on #388
I've been trying, when I had free time, to adapt my project to sktime, but I found the main problem that make sktime-proximityForest so inefficient is the use of Pandas library. Pandas is great when it comes to dataset management, as far as I've seen, it doesn't perform well when managing time series datasets in Proximity Forest

[2020-11-12 13:25] mloning commented on #388
@wangyida @moradisten We now also support 3d numpy arrays with shape (n_instances, n_variables, n_timepoints)

[2020-11-12 13:29] mloning commented on #477
Hi @robomotic, the offsets are based on a zero-based integer index of the passed data, so as you suspect, a cutoff of `0` is the first value, and a `-1` for the test set means its the last value of the training set.

The windows are expanded backwards using the `window_length` information.

Check out the forecasting tutorial notebook where we illustrate this with a simple value range as input.

Ve

[2020-11-12 13:30] mloning commented on #476
Yes @robomotic that would be great! Thanks!

[2020-11-12 17:06] mloning opened #480 "Prediction intervals for NaiveForecaster"
**Is your feature request related to a problem? Please describe.**
Currently, the [NaiveForecaster](https://github.com/alan-turing-institute/sktime/blob/master/sktime/forecasting/naive.py) doesn't support prediction intervals.

**Describe the solution you'd like**
A clear description of prediction intervals for the naive strategies can be found [here](https://otexts.com/fpp3/prediction-intervals.h

[2020-11-12 23:44] adelphi207831197 opened #481 "ModuleNotFoundError: No module named 'sktime.transformers.panel'"
**Describe the bug**

I'm new to this. Please excuse me for asking a simple question.
I created a new Anaconda environment to test SKTime.
I ran the 'pip install sktime' to install SKTime, along with tsfresh and matplotlib to follow the examples.
When I try to follow the "Univariate time series classification with sktime" Time series forest example I get this error:

"ModuleNotFoundError: No modul

[2020-11-13 08:21] mloning commented on #481
Hi @adelphi207831197,

Thanks for raising the issue.

When you `pip install sktime` you install the latest stable release, so to run the example notebooks locally you need to make sure to checkout the latest stable release version of the notebooks (rather than using the most up-to-date changes on master), run: `git checkout v0.4.3`

Alternatively, you can install the latest development version fro

[2020-11-13 08:40] mloning opened #483 "Implement series-to-series transformers"
**Describe the solution you'd like**
Here's a simple example of a series-to-series log transformer transformer:

All of these transforms are series-to-series transforms. For an overview of different kinds of transformations, see this [document](https://github.com/sktime/enhancement-proposals/blob/master/steps/03_transformer_api/transform_types.ipynb).

[code]

**List of transformations we'd like t

[2020-11-13 08:40] mloning commented on #6
Close this in favour of #483

[2020-11-13 08:40] #6 closed

[2020-11-13 08:41] mloning commented on #224
Close this in favour of #483

[2020-11-13 08:41] #224 closed

[2020-11-13 08:41] mloning commented on #297
Closed this in favour of #483

[2020-11-13 08:41] #297 closed

[2020-11-13 13:50] mloning opened #484 "[DOC] Fill in missing docstrings"
#### Describe the issue linked to the documentation

Our documentation is a bit patchy in some places, filling in the missing information would be a great help! Thanks to @chrisholder for creating the list!

| File                                                          | Comments

[2020-11-13 16:01] adelphi207831197 commented on #481
Ah, thank you very much! I'll follow the example from the v0.4.3.

[2020-11-13 16:01] #481 closed

[2020-11-13 17:56] MixKlim commented on #412
@mloning what exactly needs to be implemented here?

[2020-11-13 18:04] dicicch commented on #459
I'd be happy to take a look at this. Does seeding always happen in the `fit` method, as it does in the `BOSSEnsemble`?

[2020-11-13 18:55] dicicch commented on #459
Maybe an appropriate (if a little too generic) way forward for this would be to perform the following check for each of the estimators mentioned in the original issue:
* construct the estimator we're checking, `est`
* use `sktime.utils._testing.estimator_checks.check_estimator` to verify that `est` passes `check_fit_idempotent` when `random_state` is set.

This would at least tell us which estimat

[2020-11-13 19:18] mloning commented on #412
Hi @MixKlim take a look at the [AutoARIMA](https://github.com/alan-turing-institute/sktime/blob/master/sktime/forecasting/arima.py) wrapper, we'd like to have something similar for the simple [ARIMA](https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.ARIMA.html#pmdarima.arima.ARIMA) from pmdarima.

[2020-11-13 20:12] 3c0n0mist commented on #465
I would like to take up this issue.

[2020-11-13 20:25] mloning commented on #465
Great, @3c0n0mist, let me know if you need any help!

[2020-11-14 06:33] Afzal-Ind commented on #484
@mloning Hi, I went through the guidelines. I would like to work on this issue. Trying my first PR here. [sktime/benchmarking/data.py](https://github.com/alan-turing-institute/sktime/blob/master/sktime/benchmarking/data.py)

[2020-11-15 14:01] Zain-K opened #491 "[BUG] Transformers and its subdirectories __init__.py files are blank"
**Describe the bug**

 Under Transformers and its subdirectories the __init__.py files are blank

**To Reproduce**

Run the following code.

[code]

**Expected behavior**

This causes "Module not found" errors in Jupyter Notebook.

**Additional context**

I checked on the github repository manually to confirm and the said files are blank. Please assist with resolving. Thank you.
**Versions**
<deta

[2020-11-15 16:15] mloning commented on #491
Hi @Zain-K thanks for raising the issue. I'm not sure though what you mean. The `__init__.py` are supposed to be empty here. Running the code you posted works fine for me.

Could you add some more context what your setup is (OS, versions, environments, etc)?

[2020-11-15 17:04] Zain-K commented on #491
Hi

OS is Ubuntu 18.04.2 LTS. I have updated the bug report with the system details.
When running example 2 in Jupyter Notebook I am getting errors which emanate from this error:
ModuleNotFoundError: No module named 'sktime.transformers.panel'
Thank you.

[2020-11-15 22:02] vnmabus commented on #15
I am not a sktime user, but I stumbled into this issue and I though that maybe I could bring my two cents. I am currently the main developer of [scikit-fda](https://github.com/GAA-UAM/scikit-fda), a Python package for performing Functional Data Analysis (FDA). As the objects of study of FDA are functions, with are a generalization of time series or images, maybe you can take a look at our types fo

[2020-11-16 18:02] KoolSkotcheCoding opened #493 "Cannot access feature_importances_ attribute for RISE estimator"
**Describe the bug**

Cannot access feature_importances_ attribute for RISE estimator without error.

**To Reproduce**

[code]

**Expected behavior**

rise.feature_importances_ should be a pandas dataframe.

**Additional context**

**Versions**
<details>

</details>

[2020-11-16 22:03] mloning commented on #491
Hi @Zain-K,

When you `pip install sktime` you install the latest stable release, so to run the example notebooks locally you need to make sure to checkout the latest stable release version of the notebooks (rather than using the most up-to-date changes on master), run: `git checkout v0.4.3`

Alternatively, you can install the latest development version from master using `pip install -e .` from th

[2020-11-16 22:14] mloning commented on #483
Hi @Afzal-Ind, could you tell me which part isn't clear? You can message me here or on Gitter.

[2020-11-16 22:22] mloning commented on #15
Hi @vnmabus, thanks for reaching out!

We have played around with extension arrays but they didn't address the main problem were facing, which is handling unequal length panel or multivariate data (or more generally time-heterogenous data where instances and/or variables do not share time indices). My currently favoured solution is [awkward-array](https://github.com/scikit-hep/awkward-1.0#readme),

[2020-11-16 22:25] mloning commented on #493
Hi @KoolSkotcheCoding, thanks for raising the issue!

We haven't implemented feature importances for RISE yet, there is an experimental feature importance graph method for the `TimeSeriesForestClassifier from sktime.classification.compose`.

We need to override the method we inherit from sklearn and raise a NotImplementedError - would appreciate a PR!

[2020-11-17 01:42] AaronX121 commented on #493
Would it be better if we could compute the `feature_importances_`, which enables one to find the most discriminative timestamps (if I understand correctly)

A little thought on implementation:
Since RISE uses the decision tree in scikit-learn as the base estimator, which is already equipped with the property `feature_importances_`, the implementation of `feature_importances_` for RISE simply needs

[2020-11-17 06:31] Afzal-Ind commented on #483
Thanks. I am not clear about series-to-series log transformer is how it works basically.

[2020-11-17 11:11] mloning commented on #483
@Afzal-Ind There is an example in the linked [document](https://github.com/sktime/enhancement-proposals/blob/master/steps/03_transformer_api/transform_types.ipynb).

[2020-11-17 11:16] mloning commented on #493
Hi @AaronX121, yes you're right about the property decorator! We have an implementation for time series forest [here](https://github.com/alan-turing-institute/sktime/blob/cc733340e697bd20b7612783e0c03c016da9e18c/sktime/series_as_features/base/estimators/_ensemble.py#L292).

Compared to scikit-learn, the main complication is that we need to keep track of the intervals too when aggregating feature i

[2020-11-17 11:17] #484 closed

[2020-11-17 11:27] Afzal-Ind commented on #483
Thanks again. It may take some time but I will keep up with this.

[2020-11-19 20:47] #493 closed

[2020-11-19 22:46] adelphi207831197 opened #498 "[BUG] ImportError: DLL load failed while importing mrseql: The specified module could not be found"
**Describe the bug**

Hello.
I installed SKTime version 0.4.3 on my local Anaconda environment.
When I try to follow 03_classification_multivariate (version 0.4.3) example there is an error from the line:
"from sktime.classification.shapelet_based import MrSEQLClassifier"
Thank you.

**To Reproduce**

Following the example from
sktime.org/en/v0.4.3/examples/03_classification_multivariate.html
[cod

[2020-11-20 14:56] mloning commented on #498
Hi @adelphi207831197 - thanks for raising the issue!

Someone had a similar issue on [Gitter](https://gitter.im/sktime/community) and managed to fix it by installing Visual Studio 2019.

See if that works, otherwise we have to look into it in more detail!

[2020-11-20 15:13] tch opened #499 "MAPE loss function implementation"
**Is your feature request related to a problem? Please describe.**
A need for MAPE loss function to be able to compare forecasting results.

**Describe the solution you'd like**
MAPE loss function compatible with sktime

**Describe alternatives you've considered**
None

**Additional context**
NA

[2020-11-20 15:21] tch commented on #499
Implemented in PR #500. Please have a look. Thx

[2020-11-20 15:49] mloning opened #501 "Add clustering"
## implementation in sktime
* create `BaseClusterer`
* think about common unit tests for all clusterers
* potentially add soft dependency
* create `sktime.clustering`
* template
[code]

## interfacing sklearn
* take a look at [tslearn](https://github.com/tslearn-team/tslearn)

## bigger-picture design ideas
* check out https://github.com/alan-turing-institute/sktime/issues/52

## minimal viable pr

[2020-11-21 07:48] robomotic commented on #476
@mloning I have started with a Colab notebook:
https://colab.research.google.com/drive/1UpGTb00pza1ss7iZ81VO_nj-xgyQTo_-?usp=sharing
what I need now is the equivalent of getting the fitted values from the SK model, so I can plot the same graphs.

Thanks!

[2020-11-21 07:53] robomotic opened #503 "Add FbProphet wrapper"
Hi there,
it would be nice to add a wrapper for FbProphet (maybe as an optional dependency during pip install) that satisfies the SK interface in this way I will be able to compare it with other models in a uniform manner.

Cheers.

[2020-11-22 10:37] mloning commented on #503
Hi @robomotic, yes, that'd be great! It's already on our forecasting Wishlist #220.

Any help is much appreciated.

There is also an interesting technical solution to handle these wrapper which one could try out, more details [here](https://gist.github.com/mloning/34aa0eb84cb14bedb9f878d446d51e5a).

[2020-11-22 10:49] mloning commented on #499
Thanks @tch for raising the issue and opening the PR!

[2020-11-22 11:03] mloning commented on #476
Hi @robomotic,

I had a look at the notebook and added two options to get the parameters:

* you can use `forecaster._fitted_forecaster._results.params["smoothing_level"]` where the `_fitted_forecaster` is the results wrapper from statsmodels
* `forecaster.get_fitted_params()["smoothing_level"]` which is sktime's unified interface to inspect fitted parameters (still experimental) and returns a dic

[2020-11-22 17:03] robomotic commented on #476
Brilliant I completed the first example, I will do the other test cases now.

[2020-11-23 09:08] mloning opened #504 "Switch from Travis-CI to GitHub Actions"
With the [recent changes](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing), we have to switch our macOS builds from travis-ci to somewhere else. GitHub Actions seems like a good choice.

Here are instructions on how everything up for GitHub Actions, from building to PyPI uploading: https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-python

[2020-11-24 05:06] ugmurthy commented on #481
Thanks @mloning

[2020-11-24 17:22] mloning commented on #504
Closed by #505 and #506

[2020-11-24 17:22] #504 closed

[2020-11-24 17:30] #491 closed

[2020-11-24 17:30] #498 closed

[2020-11-24 17:31] mloning commented on #477
I'll close this for now, but feel free to re-open!

[2020-11-24 17:34] mloning commented on #459
* We found that all algorithms are seeded with random state and that there is a test for this: `check_fit_idempotent`
* We found that in ensembles, all ensemble members may be seeded with the same seed and hence may not exhibit any variation.

@dicicch any chance that you can push the code you worked on during the sprint to make sure that the different ensemble members aren't seeded by exactly the

[2020-11-24 17:34] mloning commented on #436
I'll close this for now but feel free to re-open it if you want to discuss this further!

[2020-11-24 17:34] #436 closed

[2020-11-24 17:38] mloning commented on #265
There's ongoing work in #478

[2020-11-24 17:39] mloning commented on #12
I'll close this for now.

[2020-11-24 17:39] #12 closed

[2020-11-24 17:40] mloning commented on #230
I'll close this for now noting that the idea to extend functionality to unequal length data is on our roadmap #228

[2020-11-24 17:40] #230 closed

[2020-11-25 08:27] #499 closed

[2020-11-25 12:16] aiwalter commented on #503
I am working on this and will open a PR next days. The problem will be the dependency of `fbprophet` to `pystan` as the latter requires a C++ compiler. I am using Windows and already faced problems when installing `pystan`, so lets see how this will work :)

[2020-11-25 16:07] robomotic commented on #503
That is great news, thanks for efforts and yes I know pystan is a challenge in terms of multiplatform deployments.

[2020-11-25 16:15] robomotic commented on #477
Hi @mloning,
thanks for the clarification.
In relation to this code:

cv = SlidingWindowSplitter(initial_window=int(len(y_train) * 0.5))

it would be nice from the cv object to give me a list of all the folds intervals (it can be tuples of datetime or indexes) that are generated from the initial window.
I understand now they expand backward but I would like to be able to debug them and plot them s

[2020-11-26 12:29] mloning commented on #477
Hi @robomotic

Here's a quick solution:

[code]
![image](https://user-images.githubusercontent.com/21020482/100351209-fd141c00-2fe2-11eb-9598-32398196db38.png)

Adding this as a method for the temporal cross-validators would be very nice!

[2020-11-26 12:36] mloning commented on #503
We usually handles this via soft dependencies, see for example the [`tsfresh`](https://github.com/alan-turing-institute/sktime/blob/master/sktime/transformers/panel/tsfresh.py) file. That way, sktime as a whole does not depend on it and only user who want to work with fbprophet have to install it.

[2020-11-26 12:50] aiwalter commented on #503
@mloning great, thx for the hint. I will do it like that.
Another question: `fbprophet` can also work with exogenous data (multivariate), should this also be considered? Afaik `sktime` provides currently only univariate time series regression algorithms?

[2020-11-26 14:29] robomotic commented on #477
Yes very nice this is what I was looking for.
Maybe add that into the tutorial!
Feel free to close now.

[2020-11-26 15:07] mloning commented on #503
Exogenous variables should work, some algorithms support it already e.g. `AutoARIMA`, the interface is also defined in the BaseForecaster

[2020-11-26 16:05] TonyBagnall opened #507 "[DOC] Tidy up and unify the referencing style"
We need a unified way of linking to publications in the source code. I will sort this out, but please comment here if you have thoughts on what the standard approach should be. I want
cite
link
bibtex
to make peoples life easier. I might also link the the tsml version, and vice versa?

[2020-11-26 16:53] mloning commented on #507
Our general formatting follows the [numpy docstring format](https://numpydoc.readthedocs.io/en/latest/format.html).

[2020-11-26 16:58] TonyBagnall commented on #507
![image](https://user-images.githubusercontent.com/9594042/100377027-6fe3be00-3008-11eb-85e8-aafe5211cda4.png)

at the top of the file? I will do this but will add the bibtex too, and a link

[2020-11-26 17:10] mloning commented on #507
Usually it's place in the docstring for the class below the class definition. Check out how scikit-learn does it, here's the notes section from random forest: https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/ensemble/_forest.py#L1116

[2020-11-26 17:31] TonyBagnall commented on #507
seems a weird place to put it, but we are meant to follow scikit learn I suppose

[2020-11-26 17:48] HYang1996 commented on #412
I'd like to work on this issue.

[2020-11-27 11:48] robomotic opened #508 "ModuleNotFoundError: No module named 'sktime.transformers.series'"
**Describe the bug**

I am running the 01_forecasting.ipynb notebook.

**To Reproduce**

[code]

**Expected behavior**

Import should succeed

**Additional context**

[code]
**Versions**

Name: sktime
Version: 0.4.3

Source: python3-defaults
Version: 3.8.2-0ubuntu2
System:
    python: 3.8.6 | packaged by conda-forge | (default, Oct  7 2020, 19:08:05)  [GCC 7.5.0]
executable: /opt/conda/bin/python

[2020-11-27 16:12] mloning commented on #508
Hi @robomotic, it looks like a similar problem to this one: https://github.com/alan-turing-institute/sktime/issues/481

Let me know if the suggested solution there works for you.

[2020-11-29 07:55] summa-code commented on #508
It did not work for me, i have the same issue. I checked out v0.4.3 example for the latest '''pip install sktime'''

[2020-11-29 16:46] TonyBagnall commented on #507
done

[2020-11-29 16:46] #507 closed

[2020-11-29 17:40] aiwalter commented on #503
@mloning I have created a class `Prophet` with a `fit()` function. I am a bit stuck in writing the `predict()` function as I see you are using a couple of functions e.g. in `arima.py`. In this file, there is no docstring for some functions, so I was not 100% sure if I got everything.
Here my questions:

- what is `_predict_fixed_cutoff()` for?
- Is it mandatory to do a recursion in `_predict_in_sa

[2020-11-29 17:56] mloning commented on #503
Hi @aiwalter, you need to inherit from class `[_SktimeForecaster`](https://github.com/alan-turing-institute/sktime/blob/06f14617596fb04ac6eebd248ffe1c1f1ceda72a/sktime/forecasting/base/_sktime.py#L25) and [`_OptionalForecastingHorizonMixin]`(https://github.com/alan-turing-institute/sktime/blob/06f14617596fb04ac6eebd248ffe1c1f1ceda72a/sktime/forecasting/base/_sktime.py#L417) and implement `_predict

[2020-11-29 17:58] mloning commented on #508
@summa-code could you provide a bit more details on what system and versions you're running on and whether you use conda?

[2020-11-29 18:08] summa-code commented on #508
Never mind, i forgot to use -b. But again should the examples be in sync with master branch ? That way it is easy for folks who want to do a quick learning on this framework. Looks great so far.

[2020-11-29 18:31] fkiraly commented on #464
@mloning, writing on the extension guidelines.

Quick question on forecasting extension pattern.
Can you confirm the following:

To implement a new forecaster, one should inherit from `_SktimeForecaster` and precisely one of the two `[...]ForecastingHorizonMixin`-s.

The extender needs to implement:
* `fit`, writing to `self`
* `_predict` (not `predict`!), reading from `self`
* `update` (if the mo

[2020-11-29 18:32] fkiraly opened #510 "Proliferation of forecasting base classes?"
@mloning, @big-o (creditef as contributor in the base classes):

I wanted to work on #464 and looked at the base classes in forecasting, amongst others.
I looked at the base classes and feel there is some unnecessary proliferation of classes going on.

Why: we seem to have two nested template base classes, `BaseForecaster` and `_SktimeForecaster`.

The (undocumented) extension pattern seems unnece

[2020-11-29 21:00] tasmn commented on #510
I think my contribution to those classes was when I tidied up the prediction intervals API, so I only have one very specific perspective on this. That said, I felt very much the same at the time I worked on it - I was unsure what the justification was for two separate classes (there was probably a good reason at the time, but it seems less clear now). It was difficult to figure out where new metho

[2020-11-29 21:03] big-o commented on #510
I think my contribution to those classes was when I tidied up the prediction intervals API, so I only have one very specific perspective on this. That said, I felt very much the same as you at the time I worked on it - I was unsure what the justification was for two separate classes (there was probably a good reason at the time, but it seems less clear now). It was difficult to figure out where ne

[2020-11-29 22:12] fkiraly commented on #510
Hm, I don't like that - I think even abstracts and privates should be well-documented in-place, i.e., directly in the code.
More docstrings do not necessarily mean more readability, but in this case (and more often than not) I think it does - as the base classes would be a common place for advanced users to look for an explanation of how sktime works internally.

[2020-11-30 10:50] mloning commented on #508
The examples are in sync with the master branch. The latest release lags behind the master branch, that's why you have to check out the latest stable version locally when you have pip-installed sktime.

[2020-11-30 10:58] mloning commented on #510
Hi @fkiraly, yes I agree, the forecasting API needs to be simplified, this is still mostly my first attempt.

I'm not sure what the best solution is in terms of base classes. Many implementations at the moment are in fact interfaces to other packages. I agree that the use of `_predict` saves us from some code duplication but makes it hard to understand and extend.

In hindsight, I'd also remove th

[2020-11-30 11:32] HYang1996 commented on #412
Hi @mloning , would this mean that we'll be interfacing from pmdarima instead of statsmodels?

[2020-11-30 12:13] denismaciel opened #512 "[BUG] Incompatible package versions when installing sktime[all_extras]"
**Describe the bug**

The dependency resolution of the packages installed by `sktime[all_extras]` fails.

**To Reproduce**

I am using `pip-tools` to manage the dependencies in a project.

Install `pip-tools` and run the dependency resolution on `sktime[all_extras]`.

[code]

It fails with the following message:

[code]

P.S.: Thanks for the project! The unified interface to dealing with time-seri

[2020-11-30 15:16] mloning commented on #512
This is due to a bug in statsmodels described here: https://github.com/alan-turing-institute/sktime/issues/406

We're waiting for pmdarima to make a new release based on the new statsmodels release.

[2020-11-30 15:18] mloning commented on #412
Hey @HYang1996, pmdarima itself interfaces statsmodels, so whatever is easier. We already have a wrapper for statsmodels, so perhaps that's more straightforward.

[2020-11-30 16:11] denismaciel commented on #512
Gotcha! I will close the issue

[2020-11-30 16:11] #512 closed

[2020-12-01 12:13] fkiraly commented on #510
High-level, I see two major options - both resulting in a merge of the two base class templates:
* make it more lean and adopt the pattern where `fit`, `predict`, etc are overridden in concrete implementation descendants
* make it nested and have `fit` and `_fit` and `predict` and `_predict`, where utility functionality and other plumbing sits in the public methods, while extenders consistently im

[2020-12-01 12:15] fkiraly commented on #510
Regarding `update_predict`: I'd advocate to leave it in, because it's a very common deployment mode that users might expect and actually use (I suspect without concrete evidence but from my view of the field - opinions anyone?).
We just need to very carefully think about the state model here.

[2020-12-01 15:05] mloning commented on #510
In deployment, you'd use `update` and `predict` separately or what we call `update_predict_single` - of course they need to stag.

But `update_predict` does temporal CV which creates lots of complications - I don't see any reasons why that should live in the class but open to other thoughts?

[2020-12-01 16:00] aiwalter commented on #503
@mloning Thank you, I am done with `_predict()` and `update()`. I have now just issues in installing via `python setup.py install` as I dont know how I have to set the environment variable `SKTIME_NO_OPENMP`. I actually just wanted to execute the tests and do `make docs`... Otherwise I can just open a PR and see what happens?

[2020-12-01 16:22] mloning commented on #503
@aiwalter yes feel free to open the PR!

Have you taken a look at our install instructions on our website? `pip install -e .[all_extras]` should work but yes depending on OS you may have to set a few additional flags. Which OS are you on?

[2020-12-01 16:34] satya-pattnaik opened #514 "ModuleNotFoundError: No module named 'sktime.transformers.series'"
**Describe the bug**

I am following the example notebooks provided in the Repo. While importing sktime Detrender, I need to import it as "from sktime.transformers.series.detrend import Detrender". However I get an error "ModuleNotFoundError: No module named 'sktime.transformers.series'".

**To Reproduce**

[code]

**Expected behavior**
I was expecting the import to work totally fine. But it seems

[2020-12-01 17:06] robomotic commented on #508
I understand now, I basically build docker images every time but I use this commandline:
RUN pip install --upgrade "sktime$OPTIONS"
What flag I should use, I am not sure about the -b mentioned is it conda related?

[2020-12-01 17:17] aiwalter commented on #503
@mloning I am on Windows 10, sry should have mentioned it. Yes, I was following this instructions..  So I got this message:
[code]

[2020-12-01 21:13] robomotic commented on #508
I am now building it from source as described in the docs but I am getting this warning:

[code]

What combination of pmdarima and statmodel do I have to install to avoid the warning?

[2020-12-02 00:39] ngupta23 commented on #477
I have been trying to decompose the code to understand the functionality with various combinations of the inputs.  This visualization would be an excellent addition to the library!

[2020-12-02 00:43] ngupta23 opened #516 "[DOC] SlidingWindowSplitter start_with_window default value not consistent"
#### Describe the issue linked to the documentation

https://github.com/alan-turing-institute/sktime/blob/139b9291fb634cce367f714a6132212b0172e199/sktime/forecasting/model_selection/_split.py#L174

It looks like the default value of start_with_window=False, but documentation states that it is True. Not sure which one was intended.

https://github.com/alan-turing-institute/sktime/blob/139b9291fb634

[2020-12-02 08:30] mloning opened #517 "[ENH] Implement AutoTheta"
**Describe the solution you'd like**
Translate code from the [R implementation](https://github.com/vangspiliot/AutoTheta) into Python.

**Describe alternatives you've considered**
Consider implementing it as part of statsmodels rather than sktime and then interface it in sktime.

[2020-12-02 08:37] mloning commented on #477
Hi @ngupta23 - yes, I agree, I would appreciate a PR!

Regarding the statement, I think about it in terms of what we call cutoff points, that is, the points in time where you want to generate a prediction based on same past data. How much past data you use is determined by the `window_length`. Hope this helps.

[2020-12-02 08:39] mloning commented on #514
Hi @satya-pattnaik - thanks for raising the issue! Please take a look at this issue to see if that resolve the error #481.

[2020-12-02 08:41] mloning commented on #516
Hi @ngupta23 - thanks for raising the issue!

I'd appreciate a PR that changes the docs.

[2020-12-02 08:42] mloning commented on #508
Yes, this is related to a statsmodels bug that was introduced in their previous version and only fixed in their last version. We're still waiting for pmdarima to make a new release, see #512

[2020-12-02 08:45] mloning commented on #503
@aiwalter would you mind posting this on Gitter, someone might know how to fix this.

[2020-12-02 09:49] ngupta23 commented on #516
Ok, no problem. What default would you like it to be: True or False?

[2020-12-02 10:16] ngupta23 opened #518 "[DOC] Understanding SlidingWindowSplitter better"
#### Describe the issue linked to the documentation

I am trying to understand the `start_with_window` parameter for this class since it is not clear from the outcome. I created a small snippet of code to understand this better (based on the forecasting notebook in the examples folder).

The behavior with `start_with_window`=True seems to be OK (this is the classic sliding window behavior) as expl

[2020-12-02 10:56] fkiraly commented on #464
@mloning, @big-o, can you please confirm?

Also pinging @aiwalter who went through the extension workflow recently (is the above what you did in #503?).

[2020-12-02 11:11] big-o commented on #464
I would say it's better to implement `_compute_pred_err()` instead for prediction intervals. `compute_pred_int()` is just a wrapper for the private method that does some input validation and generic output formatting.

[2020-12-02 11:19] ngupta23 opened #519 "[BUG] plot_series inconsistent date/time index"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**
The X-axis should go till end of 1952. The X-axis on the plot does not reflect the indices correctly. It should go till 1952, but shows values only till 1949

![image](https://user-images.githubusercontent.com/33585645/100865855-800ef980-345d-11eb-9980-476454e8de68.png)

**Versions**
System:
    python: 3.6.12 |Anaconda, Inc.| (

[2020-12-02 11:45] ngupta23 opened #520 "Expanding Window Splitter"
**Is your feature request related to a problem? Please describe.**

The sliding window splitter already exists, but I would also like to request the expanding window splitter as described [here](https://eng.uber.com/forecasting-introduction/#:~:text=In%20the%20sliding%20window%20approach,here%20in%20black%2C%20for%20training.&text=On%20the%20other%20hand%2C%20the,of%20data%20to%20work%20with.).

*

[2020-12-02 12:20] ngupta23 opened #521 "[DOC] ForecastingGridSearchCV clarity needed"
#### Describe the issue linked to the documentation

When using ForecastingGridSearchCV with SlidingWindowSplitter and Initial Window, need some clarity on what happens during initial split training and what happens in the temporal cross validation step.

The documentation states:

For the example below, what is the sequence of event?

[code]

### Initial Window

What is its purpose? Is it to get

[2020-12-02 15:42] mloning commented on #516
I'd say we keep the code and adjust the docs, so default should be `False`.

[2020-12-02 15:51] mloning commented on #519
Thanks for raising the issue @ngupta23 - looks like internally something goes wrong when merging the indices from `y_train` and `y_test`.

[2020-12-02 15:57] mloning commented on #518
The `window_length=False` is needed for model evaluation in forecasting `update_predict` based on some test data, where the first is the training data seen in fit and the subsequent windows add more data step by step.

I agree that this is not the clearest. There's also some discussion around the `update_predict` method itself and whether it should be a stand-alone function instead of a method of

[2020-12-02 16:01] mloning commented on #520
Hi again :)

I'm not sure what the purpose of the expanding window splitter is compared to the sliding window splitter as our forecasting models remember (some part of) the past data anyway - so technically they all have access to an expanding window but some may decided to only use part of that expanding window (hence a sliding window).

[2020-12-02 16:09] mloning commented on #521
Hi @ngupta23, I think this is how it works:

1. for each set of hyper parameters, the model is fitted on the `intial_window`
2. predictions are generated for each window on the cross-validation windows
3. predictions are evaluated using the scoring function and aggregated
4. the best set of hyper parameters is chosen that optimises the score

This code is still experimental, both the window splitt

[2020-12-02 16:49] mloning commented on #342
@aiwalter in case you're interested!

[2020-12-02 20:13] ngupta23 commented on #521
Hi @mloning , Thanks for the clarification. I have been diving deeper into the repo to understand this better. Its still early, but if I understand this correctly, I think one potential pitfall would be the part of the validation window might overlap with the training since `initial_window` is decoupled from `window_length` in the `SlidingWindowSplitter`.

Let's take a simple example (similar to w

[2020-12-02 20:34] ngupta23 commented on #518
@mloning . Thank for your patience while explaining these to me (and the other issues that I have opened).

Did you mean `start_with_window=False` instead of window_length=False?

My main concern stems from the example in the forecasting notebook.

[code]

So the default value for `start_with_window` is False in `SlidingWindowSplitter`. After the fitting has been done on the initial window, would

[2020-12-02 20:36] ngupta23 commented on #518
Also, secondarily, I still do not understand the idea of `start_with_window=False`. The first fold has nothing in the training data indices. So how can that be used for model evaluation (even if the model is trained earlier)? We would need to have some X values to make the predictions on? Also, do you think it is realistic to make the forecasts for folds 2, 3 (first few folds) with the limited dat

[2020-12-02 20:42] ngupta23 commented on #520
Hi @mloning , It is just a different method to perform the temporal cross validation. The advantage is that you use more of the data to make predictions as the folds progress so some prefer that over a sliding window which limits the data used in each fold to a smaller number. It can have an impact on the model's performance for case like exponential smoothing.

[2020-12-02 23:48] ngupta23 opened #522 "[BUG] AutoARIMA not working with Temporal Cross Validation"
**Describe the bug**
Would like the statistical models like ARIMA, ETS, etc to work with the Temporal Cross Validation Flow. I am not able to reproduce the same results as the standalone ARIMA when using the Temporal Cross Validation Flow.

**To Reproduce**

## Setup

[code]

## Regular AutoARIMA (Baseline for test)

[code]

![image](https://user-images.githubusercontent.com/33585645/100943934-d28

[2020-12-03 08:38] londumas opened #523 "FutureWarning: the 'damped'' keyword is deprecated, use 'damped_trend' instead"
Running the README example "Quickstart/Forecasting", I get the following warning:
[code]

https://github.com/alan-turing-institute/sktime/blob/139b9291fb634cce367f714a6132212b0172e199/sktime/forecasting/exp_smoothing.py#L104

[2020-12-03 08:43] londumas opened #524 "bunch of depreciation warning in _fit_forecaster"
Running the README example "Quickstart/Forecasting",
I get the following warnings:
[code]

https://github.com/alan-turing-institute/sktime/blob/848f30ff4d777a90a143263d37edd402e031e308/sktime/forecasting/exp_smoothing.py#L109

[2020-12-03 11:55] davidbp commented on #432
I have added a small  [enchancement proposal](https://github.com/sktime/enhancement-proposals/pull/4) with the only two data containers that seem sensible for vector forecasting. I would like your thoughts before continuing in any direction.

[2020-12-03 14:11] mloning commented on #406
There now also a new pmdarima release: https://github.com/alkaline-ml/pmdarima/releases/tag/v1.8.0 so we should be able to update our requirements.

[2020-12-03 15:57] satya-pattnaik commented on #514
Thanks, @mloning . With the help of IDE I figured out the following:
`from sktime.transformers.single_series.detrend import Deseasonalizer, Detrender`

This works!

[2020-12-03 15:57] #514 closed

[2020-12-03 18:32] mloning commented on #523
Hi @londumas - thanks for raising the issue. Yes, it's a future warning, meaning that we have to make changes when we want to support newer statsmodels version which is what we want to do for the next release!

I'd really appreciate a PR to make the required changes!

This is also related to #512.

[2020-12-03 18:33] mloning commented on #524
I think this issue is very similar to #523. I'll close this issue, we can continue the discussion in #523.

[2020-12-03 18:33] #524 closed

[2020-12-04 18:51] mloning commented on #521
Yes that's what is intended and how it is used inside [`ForecastingGridSearchCV`](https://github.com/alan-turing-institute/sktime/blob/4422a66a2749eaea41d3fbda723bc8c64f334787/sktime/forecasting/model_selection/_tune.py#L73) as far as I can see: the training and validation are split first, then we use temporal CV on the validation data.

I understand that having this initial window though overlapp

[2020-12-04 18:54] mloning commented on #520
Hi, I know what the expanding window cross-validation is, but as I said, our forecasting models remember (some part of) the past data anyway - so technically they all have access to an expanding window but some may decided to only use the last part of that expanding window (e.g. the last window in the `NaiveForecaster`). Does that make sense to you? I'm sorry if I can't express this very clearly a

[2020-12-04 18:59] mloning commented on #522
There may be a bug here, I'm not sure though what it is. Why do you think there is a bug here?

Note that `AutoARIMA` and `GridSearchCV` use different procedures to pick the "best" set of parameters. You also use different training sets (the full `y_train` in `AutoARIMA` vs only the initial 90% of `y_train` in `GridSearchCV`).

If you're interested in comparative benchmarking for forecasting, take

[2020-12-04 19:03] mloning commented on #518
Yes sorry, I meant `start_with_window=False` - the key insight here is that forecasting models remember the data that they have seen in `fit` and `update`.

For the first empty window, only the past training data is used. For the second window with a single new data point, we add that data point to the past data and so on.

[2020-12-05 14:52] Conet1502 opened #525 "ModuleNotFoundError: No module named 'sktime.transformers.series"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-12-05 14:58] Conet1502 opened #526 "ModuleNotFoundError: No module named 'sktime.transformers.series'"
**Describe the bug**
I created a new Anaconda environment to test SKTime.
I ran the 'pip install sktime' to install SKTime.
When I try to follow the "Forecasting  with sktime"(https://github.com/alan-turing-institute/sktime/blob/master/examples/01_forecasting.ipynb)  Time series forest example I get this error:

What other dependencies am I supposed to install? Is the example notebook not up to da

[2020-12-05 15:00] #525 closed

[2020-12-05 17:01] aiwalter commented on #342
@mloning  I am working on this. Can this be a regular dependency or should it also be a soft dependency?

[2020-12-06 16:44] jordanrmerrick commented on #517
I'm implementing this now, I should be posting a pull request within a week or so!

[2020-12-06 19:30] mloning commented on #517
Great @jordanrmerrick, I'm looking forward to that! For testing we should compare it with some results from the R version.

[2020-12-06 19:42] mloning commented on #526
Hi @Conet1502 - thanks for raising the issue. This is related to https://github.com/alan-turing-institute/sktime/issues/481

[2020-12-06 20:13] mloning commented on #342
I generally prefer soft dependencies, unless it's used in several places in the code base.

[2020-12-06 22:42] aiwalter commented on #464
@fkiraly I have another issue that would be great to add in the developer guide here: https://www.sktime.org/en/latest/contributing.html#id18

When adding a new softdependency, the file `check_soft_dependencies.py` for the azure build has to be updatet accordingly.

[2020-12-07 09:09] orko19 opened #528 "ModuleNotFoundError: No module named 'sktime.transformers.panel'"
I get the error:
`ModuleNotFoundError: No module named 'sktime.transformers.panel'
`
For
`from sktime.transformers.panel.reduce import Tabularizer
`
(taken from: `https://www.sktime.org/en/latest/examples/02_classification_univariate.html?highlight=tabulizer`)
I use version `0.43`

Why can't I import it?
Thanks

[2020-12-07 09:36] mloning commented on #528
Hi @orko19 - thanks for raising the issue. This is related to https://github.com/alan-turing-institute/sktime/issues/481

[2020-12-07 09:36] #528 closed

[2020-12-07 09:36] #526 closed

[2020-12-07 09:52] orko19 commented on #528
@mloning Thanks for the ref. I didn't understand what is the version I should use and how do it in google colab?
You wrote to use v0.4.3 but it is the one I used, can you please clarify?

[2020-12-07 10:02] mloning commented on #528
I'm not sure what your setup is in Google Colab. As said in #418 you have two options:

* When you `pip install sktime` you install the latest stable release, so to run the example notebooks locally you need to make sure to checkout the latest stable release version of the notebooks (rather than using the most up-to-date changes on master), run: `git checkout v0.4.3`
* Alternatively, you can insta

[2020-12-07 10:13] orko19 commented on #528
@mloning I am working with google colab so I can't run `git checkout v0.4.3`
That is the reason I also can't run `pip install -e .` from the root directory of the cloned sktime repo - since I didn't clone any repo, but just install with pip.
Can you please provide a way to install `v0.4.3` from colab?

[2020-12-07 11:34] mloning commented on #528
I'm not sure how your Colab is set up. How do you install sktime? How do you run the examples?

[2020-12-07 12:05] orko19 commented on #528
@mloning I install using
`!pip install sktime
` which installed version 0.4.3 and then simply import
`from sktime.transformers.panel.reduce import Tabularizer
`

[2020-12-07 14:35] ngupta23 commented on #522
Hi @mloning, Thanks for the reference to the repo! I will go through it and let you know if I have any further questions.

[2020-12-07 17:47] mloning commented on #528
Okay for version 0.4.3 you can see the code structure here: https://github.com/alan-turing-institute/sktime/tree/v0.4.3 so you can adjust the import statements.

Hope this helps!

[2020-12-07 17:49] mloning commented on #522
Great - I'll close this issue for now but feel free to reopen it again if anything is in fact broken!

[2020-12-07 17:54] #508 closed

[2020-12-08 07:29] orko19 commented on #528
@mloning Thanks, but I suppose it's not the best solution since I might encounter additional issues later - there is no way to just install v0.4.3 in google colab? I can share with you any needed configuration (it's pretty much the default, I changed nothing)

Also, I am reading ur original reply again and there is something I can't understand - if I installed the latest stable from master, and th

[2020-12-08 08:53] mloning commented on #361
Hi @lynnssi and @fkiraly, I've now merged the basic structure of the user guide (#377) with a note that it's under development and that we're looking for contributions.

@lynnssi I've added a page for extra resources - perhaps it's best to start the curated list of blog posts there? Feel free to edit/move around pages as you see fit.

[2020-12-08 08:55] mloning commented on #528
You install v0.4.3 which is not master but the latest stable release - master contains newer changes and we will make a new release hopefully some time soon.

[2020-12-08 10:39] orko19 commented on #528
@mloning Oh OK. and all the notebooks are aligned with master? Do you have a v0.4.3 of them?

[2020-12-08 12:08] mloning commented on #528
Yes, exactly. To get the v0.4.3 you need to run `git checkout v0.4.3` or go here: https://github.com/alan-turing-institute/sktime/tree/v0.4.3

[2020-12-08 22:28] aiwalter opened #529 "Adding neuralprophet as a wrapper"
**Is your feature request related to a problem? Please describe.**
Can  I add `neuralprophet ` to PR #515 (which is connected to issue #503 )? I would then create a parent class for `fbprophet` and `neuralprophet` if this is fine for you @mloning ? It seems both share the same `fit()` and `oredict()` function.

**Describe the solution you'd like**
Wrapper to `neuralprophet ` https://github.com/our

[2020-12-09 07:02] orko19 commented on #528
@mloning Thanks, and any time estimation as when master will be deployed as a new stable release?

[2020-12-09 08:43] mloning commented on #528
Hopefully within the next 2 weeks

[2020-12-09 08:45] mloning commented on #529
Yes sounds like a good plan! We should also add it to our list of related software [here](https://www.sktime.org/en/latest/related_software.html).

[2020-12-09 12:20] Pratyush1991 opened #530 "[BUG] Import error: ColumnConcatenator"
**Describe the bug**

Unable to import the ColumnConcatenator while trying to implement the multivariate classification example. The error shows as "no module named sktime.transformers.panel"

**To Reproduce**
![image](https://user-images.githubusercontent.com/28738918/101628890-17261380-3a53-11eb-8a19-eb27220914ee.png)

[code]

**Expected behavior**

Successful import of  the module

**Additional

[2020-12-09 20:26] mloning commented on #530
Hi @Pratyush1991 - thanks for raising the issue. This is related to https://github.com/alan-turing-institute/sktime/issues/481

[2020-12-09 20:26] #530 closed

[2020-12-09 20:47] Conet1502 opened #531 "y_pred = forecaster.predict(fh) is giving a nan value [BUG]"
I am trying to follow the example forecasting problem with a slightly different data set and I get to the ReducedRegressionForecaster section my forecast.fit is outputting a nan value. I have attached the data set and jupyter notebook.

Thanks for your help.

[Example (2).zip](https://github.com/alan-turing-institute/sktime/files/5668493/Example.2.zip)

[code]

**Expected behavior**
Something othe

[2020-12-10 08:18] mloning commented on #531
Hi @Conet1502 - thanks for raising this issue! `fh` isn't set anywhere, what value do you use for `fh`? How do you load the data from the csv?

[2020-12-10 14:21] Conet1502 commented on #531
Hi @mloning -Maybe the file didn't save completely but the seventh cell in the jyputer notebook should be. Are you able to download the attached csv and jypter notebook in Example(2).zip?

fh = ForecastingHorizon(y_test.index, is_relative=False)
fh

[2020-12-10 18:33] mloning commented on #531
Hi @Conet1502, thanks for providing the additional info.

The problem is that you mis-specify the frequency of your data. You specify `pd.PeriodIndex(series.index, freq="H", name="Period")` but the data is not regularly sampled hourly data. The data only has three observation per day at 9, 12 and 18 o'clock if I understand it correctly.

We currently don't handle this kind of irregular index. If y

[2020-12-11 02:56] RNKuhns opened #532 "Add utility functions to convert between additional data structures and nested DataFrame"
I know that potentially changing the time series input container for sktime is on the future enhancement docket, but in the meantime it would be useful to have additional utility functions to convert between other common representations of time series data and the nested DataFrame format used by sktime.

I've got a couple functions worked up to handle conversion from a MultiIndexed Pandas DataFram

[2020-12-11 06:49] gracewgao commented on #519
I can try to fix this!

[2020-12-11 11:03] mloning commented on #519
@gracewgao that would be awesome! I noticed that integer indices also seem a bit off. Let me know if you need any help.

[2020-12-11 11:05] mloning commented on #532
Hi @RNKuhns - yes that would be great! Take a look at our [contributing guidelines](https://github.com/alan-turing-institute/sktime/blob/d3ac2b45d89946363899370c3b43cf52a103e501/CONTRIBUTING.md) - I'm happy to help if anything is unclear!

[2020-12-11 15:52] Conet1502 commented on #531
@mloning  Thanks for looking into this.

[2020-12-11 16:44] #531 closed

[2020-12-11 23:49] aiwalter opened #534 "[BUG] Absolute to relative ForecastingHorizon"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**
No exception

**Additional context**

**Versions**
Current GitHub master

</details>

[2020-12-12 05:23] ShahNewazKhan commented on #433
@mloning are there any examples of forecasting with exogenous variables?

thanks in advance!

[2020-12-12 05:26] ShahNewazKhan commented on #433
looks like it might be stuck in this PR? https://github.com/alan-turing-institute/sktime/pull/376/files

[2020-12-12 07:37] ianboru commented on #260
Hey this whole project looks amazing. Is there any sense of when time series annotation will be usable?

[2020-12-12 12:24] mloning commented on #260
Hi @ianboru and thanks! It's hard to say, we have written some initial design ideas [here](https://github.com/sktime/enhancement-proposals/blob/master/steps/06_time_series_annotation/step.md) but haven't started implementing anything yet. Any help would be very welcome! What kind of problems are you working on?

[2020-12-12 12:33] mloning commented on #433
Hi @ShahNewazKhan, it depends on the forecasting algorithm you want to use. Some are not defined with exogenous variables (e.g. exponential smoothing), others support it already (e.g. AutoARIMA), and for some we still need to implement it (e.g. reduction to regression).

Here's an example with AutoARIMA:

[code]
![image](https://user-images.githubusercontent.com/21020482/101983954-246f1800-3c76-11

[2020-12-12 12:34] mloning commented on #433
Let me know if you want to contribute to the open PR - it'd be great to extend this functionality. What's the use case you're working on?

[2020-12-12 13:45] mloning commented on #534
Thanks for raising the bug.

When I run this I don't get the exception but even worse, a silent error (the computed relative horizon is wrong).

The problem comes down to computing time deltas.

This works as expected:
[code]

This also works but returns time deltas in days rather than the months what we would like based on the "MS" (month start) frequency:
[code]

Trying to convert this into mont

[2020-12-12 15:19] ShahNewazKhan commented on #433
@mloning my use case is reduction on a multivariate dateset for regression, I am definitely interested in contributing. Are you referring to this  https://github.com/alan-turing-institute/sktime/pull/390 PR?

[2020-12-12 17:12] ianboru commented on #260
I am trying to do some interpretation and classification of electrical signals in the body! Time series annotation or clustering seem to be right in line with the ability to do so. I can potentially find a couple hours in the week to help. What areas do you need most help with? I look at the design page so it looks like you guys are still choosing algorithms and figuring out how to port them, is t

[2020-12-12 19:07] mloning commented on #260
Yes, algorithm choice is part of it. If you have a good overview, that would be helpful already. But there's also the API design problem: it's not clear yet what a good API for time series annotation would look like. Clarifying that in the enhancement proposal seems like the first step. Implementing a few simple algorithms would then be the next one.

There's is also ongoing work for creating a cl

[2020-12-12 19:09] mloning commented on #433
Yes exactly! The reduction module needs some refactoring too to make everything a bit simpler and needs to be extended to handle exogenous data. Your help is very welcome!

[2020-12-12 19:18] gracewgao commented on #480
I'll give this a shot!

[2020-12-12 20:12] ianboru commented on #260
"If you have a good overview, that would be helpful already" - Do you mean an overview of my project/use case? ianboru@gmail.com for the slack invite.

[2020-12-12 20:27] ngupta23 commented on #522
I think I figured out the issue. The issue is that the AutoARIMA module is not honoring the set_params internally. It is getting updated in the `AutoARIMA` class itself since it is inheriting from the base sklearn class, but the updated parameters are not getting passed to the internal `_forecaster`.

### Expected Behavior

[code]

[code]

As we can see the parameters get updated

### Unexpected B

[2020-12-12 21:28] mloning commented on #522
I see - thanks @ngupta23 for investigating this!

I think there's a simpler solution. The problem is that we instantiate `self._forecaster` in `__init__`, instead we should instantiate it in `fit`. That way, updated params would be propagated properly. What do you think?

https://github.com/alan-turing-institute/sktime/blob/d3ac2b45d89946363899370c3b43cf52a103e501/sktime/forecasting/arima.py#L306

[2020-12-12 21:31] mloning commented on #260
Overview of common algorithms for time series annotation. But note that there are different variants of the time series annotation task. I think it's best to continue working on the enhancement proposal: https://github.com/sktime/enhancement-proposals/blob/master/steps/06_time_series_annotation/step.md

[2020-12-12 21:50] ngupta23 commented on #522
Hi @mloning, Thanks you for suggesting the alternative. You will need to change the argument assignments in `_AutoARIMA` from just <param_name> to self.<param_name> and then it will pick the updated param value after assignment is done in GC. It is definitely cleaner since we don't have to rename the parameters such as `sp`.

[2020-12-12 23:28] ianboru commented on #260
Just reviewed that. I guess I wonder what your process is for defining an MVP. Do you have guidelines to help bound the research phase? I'm happy to chat in slack to get a better idea of an atomic task that I can start and finish in a reasonable amount of time.

[2020-12-13 01:53] fkiraly commented on #260
"MVP" depends - are you considering to invest time helping out, @ianboru?
The process is investing some work in planning (on the core dev side) if there is interest from the community, then proposing smaller chunks as issues or work items, working closely with members of the community.

What the design is still missing is explicit specification of input/output types for the annotators, at least fo

[2020-12-13 03:36] ianboru commented on #260
@fkiraly I am considering investing time. I reached out to Markus on slack but I'm happy to continue the conversation anywhere. I guess most of my repos are private but I regularly work in python. react, react native, swift and android java. I have used machine learning in various capacities in my biophysics/bioinformatics phd, data scientis/data science director roles and my personal projects.

M

[2020-12-13 08:35] ShahNewazKhan commented on #433
@mloning I can most definitely help, can you point me towards what needs to be refactored and done?

[2020-12-13 09:33] MaxHeuillet commented on #481
Hi,

I updated the package and installed all the dependencies but I still have this error:
`ModuleNotFoundError: No module named 'sktime.transformers.panel'`

When I write: `from sktime.transformers.panel.compose import ColumnConcatenator`

How can I solve this ?

Thanks

[2020-12-13 10:43] fkiraly commented on #260
ah, let's continue on slack then. Wasn't aware of that conversation, sorry.

[2020-12-13 12:10] fkiraly commented on #260
Btw, some interesting items about annotation, @ianboru:
* the design in the STEP is not fully complete - we should work out input/output signatures. Some of this is in flux due to the re-work of the forecasting design, but should be hammered out.
* suppose we identify a core set of annotation tasks, e.g., segmentation and change point detection. What would be a "good first prototype?", e.g., in te

[2020-12-13 12:22] mloning commented on #260
Hi @ianboru and @fkiraly, sorry for the confusion, I prefer design discussions on GitHub (either here or via a PR on https://github.com/sktime/enhancement-proposals) so that others can get involved and use slack only for quick questions (debugging, minor clarifications, etc).

[2020-12-13 12:37] fkiraly commented on #260
@mloning, so do I, but I thought there were already some minor org or onboarding discussions ongoing on slack. Perhaps I misunderstood.

Generally, it is good practice to keep important technical and high-level org things open.

[2020-12-13 12:44] mloning commented on #522
Yes that would be awesome!

[2020-12-13 12:48] mloning commented on #433
@ShahNewazKhan I'll post more details here: #345

[2020-12-13 12:58] mloning commented on #345
The code is here: https://github.com/alan-turing-institute/sktime/blob/master/sktime/forecasting/compose/_reduce.py

The current code isn't great because:
* convoluted class hierarchy makes it hard to follow and extend
* inefficient for-loops for data transformations

I suggest we break up the code into simpler classes using stand-alone functions for the data transformations.

@SebasKoel has done

[2020-12-13 13:00] mloning commented on #481
Hi @MaxHeuillet, as said, when you `pip install sktime` you install the latest stable release, so to run the example notebooks locally you need to make sure to checkout the latest stable release version of the notebooks too (rather than using the most up-to-date changes on master), so run: `git checkout v0.4.3`

Alternatively, you can install the latest development version from master using `pip i

[2020-12-13 16:41] ngupta23 commented on #477
Hi @mloning

I was thinking of adding this visualization as a method to the class. Something like this...

[code]

I would also add an empty method to the base class with a message so that it could be implemented by other CV classes at a later point in time. Do you think this would be OK?

[2020-12-13 17:50] mloning commented on #477
Yes sounds good, `visualize` should take some series `y` as an input argument. 👍

[2020-12-13 23:09] ianboru commented on #260
@mloning @fkiraly In reference to the MVP, I usually try to think of what minimal piece of work would create value for the user. For myself as a user, I have two major use cases of varying complexity and value.

1) The simplest and lowest value is to input 1 time series with no labels, and output an indication for every time point whether the point is in a region of "change". I have data about whe

[2020-12-14 10:10] mloning commented on #260
@ianboru yes, that makes a lot of sense!

A large part of sktime is to clarify and distinguish different learning problems in the time series domain. If other packages implement specific algorithms, we do wrap them so that it becomes easier for users to combine them in the same workflow without having write glue code. If other important algorithms are missing, we want to implement them.

Regarding

[2020-12-14 11:50] fkiraly commented on #260
@mloning, @ianboru, agreed to what you are saying. The first step is to hammer out a full design for a circumscribed set of use cases.

@ianboru, you describe two use cases, in my opinion these are identical with:
* unsupervised change-point detection - which, as you say, `ruptures` already does reasonably well. Might be worthwhile discussing and understanding what you think it doesn't do well or

[2020-12-14 11:51] fkiraly commented on #260
"number of breakpoints" would be a hyper-parameter of a specific method in a sklearn-like API.

[2020-12-14 13:39] #522 closed

[2020-12-14 13:39] #450 closed

[2020-12-14 21:26] satya-pattnaik opened #539 "[DOC]Deseasonalizer Clarity Needed"
#### Describe the issue linked to the documentation
The Deseasonalizer does not remove the trend, if I am not wrong?

#### An alternative/fix

[2020-12-15 01:49] RNKuhns commented on #532
@mloning Thanks, I've been taking a look through the guidelines and I am in the process of forking the repository now.

[2020-12-15 04:49] PierreOreistein opened #540 "[BUG] AutoArima fit with X_train generates a ValueError: "Multiple values provided for both X and exogenous""
### Description:
I am trying to use the model **AutoARIMA** from _sktime.forecasting.arima_ with exogenous variables.
In particular, I am trying to pass a Dataframe to the argument _X_train_ in the method _fit_ of the model **AutoARIMA**. When I do so, I obtain a _ValueError_. Below an example

[code]

When I run the above code, I obtain the following error:

[code]

### Additional Context
I am us

[2020-12-15 06:19] ianboru commented on #260
Ok thanks @mloning @fkiraly  I will digest all of this and see what I can get to this week. I think I can at least put out some ideas for the interfaces, dig into ruptures a bit to see if it works for me or if it falls short, and see if I can identify the steps to MVP for the simplest use case + implementation combination.

[2020-12-15 12:26] mloning commented on #540
Hi @PierreOreistein - thanks for raising the issue!

Looks like this is due to the newer version of pmdarima. We're currently working on a new release where we will update our dependencies (#538). That should solve this error.

[2020-12-15 12:27] mloning commented on #539
Hi @satya-pattnaik - yes that's right, good catch! I'd appreciate a PR!

[2020-12-15 15:02] aiwalter opened #541 "[ENH] Plotting confidence intervals"
**Is your feature request related to a problem? Please describe.**
Plotting confidence intervalls with the current plot function `from sktime.utils.plotting import plot_series` is not well suitable in case all lines are very close, see picture.

![image](https://user-images.githubusercontent.com/29627036/102230635-6d7cd180-3eed-11eb-82b1-54bbc9f73bac.png)

**Describe the solution you'd like**
Plot

[2020-12-15 18:30] mloning commented on #541
Yes we could add an `pred_int=None` input argument to `plot_series` with the same time index as one of the other series. As you say, it'd optionally accept a `pd.DataFrame` and plot the intervals.

[2020-12-16 01:54] PierreOreistein commented on #540
Hi @mloning ,

Thanks for the answer. Can't wait to see the new release!

By the way, sktime is a great piece of code! Thanks for your hard work on it

[2020-12-16 02:51] timcashion commented on #541
I'd love to take this on!

[2020-12-16 08:09] aiwalter commented on #541
@timcashion cool, I have just seen that in examples `01_forecasting.ipynb` at the end there  is a plot like I proposed. So basically you could just copy this into the function :)

[2020-12-16 10:33] mloning commented on #540
Thanks @PierreOreistein!

[2020-12-16 18:24] bendykstra94 opened #543 "Example notebook for converting panel data to required data format[DOC]"
Hi there! Great project and work that you all have been doing :)

As a new comer to using this package, I've been trying to figure out how to format the data that I have so that it can be used by all of the awesome methods that you guys have made. I've taken a look at [load data](https://github.com/alan-turing-institute/sktime/blob/master/examples/loading_data.ipynb) example where there is extensi

[2020-12-16 18:30] bendykstra94 commented on #543
Looks like this might have been asked already https://github.com/alan-turing-institute/sktime/issues/265

[2020-12-17 08:34] mloning commented on #543
Hi @bendykstra94 thanks for creating this issue!

I think one problem is that there isn't really a consensus representation for panel data.

What you call `features` is what is called `dimensions` in that notebook. So "melting" the feature columns into a feature name and value column should do the trick.

We'd appreciate a PR to add those discussion to the data loading notebook!

[2020-12-17 10:17] aiwalter opened #544 "[DOC] SlidingWindowSplitter"
#### Describe the issue linked to the documentation
Additional docstring here would be great to better understand how to configure this:

[code]

[2020-12-17 16:01] bendykstra94 commented on #543
Hi @mloning thanks for your answer!

I guess a lot of the confusion for me stems from the lack of documentation and verbiage around the format of the example data that any of the models take.

In the motions data set,

What exactly does a row in this data set represent? How many observations per a label are there? What is the definition of a case in this dataset?

For instance, what is a `case`? I

[2020-12-17 16:59] mloning commented on #543
Yes a numpy array with `(cases x n dimensions x observations per case)` works!

A case is essentially a statistical idea, it's an experimental unit, sometimes it's called samples (scikit-learn) or examples or instances. Our preference is to use instances as samples can be ambiguous with regard to time series observations.

The other currently supported data format is a nested `pd.DataFrame`:

[cod

[2020-12-17 17:11] mloning commented on #544
This is related to #477

[2020-12-17 18:47] fkiraly commented on #543
Actually, thinking about long format as an input/output format, we should maybe support does name a lot of sense - we've been discussing around the merits of nested vs array, with nested being "abuse of API" while array is common but does not allow different length sequences.

Data frame in long format (which we may not have given enough focus in our discussions) is both common in practice, and al

[2020-12-17 20:34] bendykstra94 commented on #543
@fkiraly different sequence length is something that's been dealt with in other packages, have a look at how Keras pads time sequences of different lengths https://keras.io/api/preprocessing/timeseries/

give this a look?
[code]

Given this tidy data
[code]

we can call
[code]
and get

case_id | dim_id | reading_id | value
-- | -- | -- | --
0 | 0 | 0 | 30.0
0 | 1 | 0 | 67.0
0 | 2 | 0 | 97.6
1 | 0

[2020-12-17 20:47] unna97 commented on #517
hi @jordanrmerrick, are you still working in this?

[2020-12-17 21:05] jordanrmerrick commented on #517
I am! Finishing finals in school took more time than I anticipated so progress has been slower, but I'm submitting a PR tioday or tomorrow.

[2020-12-18 00:35] fkiraly commented on #543
@bendykstra94, thanks for the pointers - what I was trying to say though is that it might be worth considering the long format as a native input/output format for the panel setting. The"typical" conversion long/wide I've seen before.

[2020-12-19 08:25] #540 closed

[2020-12-19 13:55] Afzal-Ind commented on #465
Hi @mloning , I would like to work on this. Thanks.

[2020-12-19 20:20] ianboru commented on #260
@fkiraly @mloning

Ruptures Overview:

After reading most of the ruptures related paper, looking more closely at the docs and then using ruptures again, I must say it is quite well done and comprehensive. Apparently it does include algorithms with AND without a known number of changes i.e. semi-supervised and unsupervised. Moreover it can handle multiple time series at once. It also has parameters

[2020-12-19 21:57] aiwalter opened #550 "[BUG] Prediction with DatetimeIndex as ForecastingHorizon values"
**Describe the bug**
There is an issue with `DatetimeIndex` in `ForecastingHorizon` when doing prediction. Seems this came up by recent commits?

[code]

**To Reproduce**
[code]

**Versions**
Current master

[2020-12-19 22:19] mloning commented on #550
That seems related to #534, no? Actually, when I run this it, it works? But the `predict` call is extremely slow, very strange. Still have to look into this.

[2020-12-19 22:46] aiwalter commented on #550
Sry, I was not sure if this is the same issue. Btw I tried this also on my Linux Azure VM and I got a different error:
[code]
Not sure what it tried to allocate here

[2020-12-19 22:50] mloning commented on #534
Forcing a conversion to `pd.PeriodIndex` internally whenever we need to do arithmetics with `pd.DatetimeIndex` may be the best option (e.g. subtraction of the cutoff point when going from absolute to relative representation). This requires that the `pd.DatetimeIndex` is regular and that the frequency is given or can be inferred which seems like a reasonable assumption for the methods we currently

[2020-12-19 23:00] mloning commented on #550
Yes I think this is due to what I describe in #543 where it takes "MS" months start as "ms" for milliseconds. That explains why it becomes so slow in my case too. I'll close this one in favour of the other one.

[2020-12-19 23:00] #550 closed

[2020-12-19 23:05] aiwalter commented on #550
okay thx for having a look into it!

[2020-12-20 08:48] mloning commented on #523
This should now be fixed in the new release https://github.com/alan-turing-institute/sktime/releases/tag/v0.5.0

[2020-12-20 08:48] #523 closed

[2020-12-20 08:50] mloning commented on #434
This should now be fixed in the new release https://github.com/alan-turing-institute/sktime/releases/tag/v0.5.0

[2020-12-20 08:50] #434 closed

[2020-12-20 08:50] mloning commented on #342
Closed by #527

[2020-12-20 08:50] #342 closed

[2020-12-20 08:51] mloning commented on #406
This should now be fixed in the new release https://github.com/alan-turing-institute/sktime/releases/tag/v0.5.0

[2020-12-20 08:51] #406 closed

[2020-12-20 08:55] mloning commented on #129
Closed by #453

[2020-12-20 08:56] mloning commented on #481
This should now be fixed in the new release https://github.com/alan-turing-institute/sktime/releases/tag/v0.5.0

[2020-12-20 18:14] isma3ilsamir opened #551 "Euclidean Distance for KNN"
**Describe the bug**
I cannot seem to find euclidean distance as a metric for KNN

I checked the example file "02_classification_univariate.ipynb"
* I found the cell containing euclidean distance disabled
![Screenshot 2020-12-20 190056](https://user-images.githubusercontent.com/45247141/102720849-19139080-42f7-11eb-9873-a4ada5b02e8b.jpg)

**To Reproduce**
[code]

**Expected behavior**
Euclidean di

[2020-12-20 18:30] juanitorduz commented on #477
Connected with https://github.com/alan-turing-institute/sktime/issues/544, we could also this visualisation on the docstrings:

[code]

[2020-12-20 18:41] juanitorduz opened #552 "Expanding vs sliding window splitter (window splitter with fixed start point)"
**Is your feature request related to a problem? Please describe.**

As in real use cases we collect data to enlarge our training set, it would be useful to have an option on the `SlidingWindowSplitter` to have fixed start windows for the fold. For example for `window_length = 5`, `step_length = 1` and `fh = 3`
here is a representation of the folds:
[code]

We could add the option to have the folds

[2020-12-20 18:51] aiwalter commented on #552
great idea @juanitorduz. I think that is what is usually called "expanding window" ? Mixing this up with the `SlidingWindowSplitter` class might be a bit confusing in naming? I would propose to either rename this class to just `WindowSplitter` then with an argument `mode: ["sliding", "expanding"]` or a new class `ExpandingWindowSplitter`?

[2020-12-20 20:46] juanitorduz commented on #552
Yes, this naming makes sense 👍

[2020-12-20 23:18] mloning commented on #552
Thanks for the suggestion @juanitorduz! This is related to #520.

This may be obvious, but I'm always a little confused by the window splitter. Since our forecasters remember the training data they see, all of them are technically working with an expanding window, no? When would you use an `ExpandingWindowSplitter`?

[2020-12-20 23:21] mloning commented on #551
Thanks @isma3ilsamir for raising the issue! Seems like it hasn't been implemented (the distance module generally requires some reworking). Would you be interested in looking into it?

[2020-12-21 00:00] aiwalter commented on #520
I am just following this discussion and have some thoughts. I think the model can only learn from data that is has seen. When using a sliding window, old data is not shown to all models. So if there is an important patern in the old data that might appear in future again, a sliding window training can be a problem because you might select a model that has not seen this old data.

This can be solve

[2020-12-21 10:14] juanitorduz commented on #552
Ups! Sorry for the duplicated issue, i was filtering by the keyword `SlidingWindowSplitter`.

In addition to @aiwalter 's input in https://github.com/alan-turing-institute/sktime/issues/520 (thanks for that!) I have some additional comment: In many practical situations I need the expanded-folds themselves. For example, when doing back testing: Suppose I need to run a forecast model on a daily basi

[2020-12-21 11:02] juanitorduz commented on #477
These visualisations are very helpful! I would be up for creating a notebook about it (based on this code) and put it on the examples. It would explain and compare `temporal_train_test_split`,  `SlidingWindowSplitter` and `CutoffSplitter` to begin with.

[2020-12-21 17:31] fkiraly commented on #552
@mloning, I agree with @juanitorduz - sliding and expanding window training/forecasting are in-principle different. The sliding window splitter predicts only from some recent part of the available training data - this can make sense if there is non-stationarity or concept drift and you do not want to "contaminate" the forecaster with older data.
@mloning, the additional point you raise is "what th

[2020-12-21 17:32] fkiraly commented on #551
@isma3ilsamir, indeed we wanted to refactor along the lines of `sklearn`'s Gaussian process kernels/distances interface, or #52.

[2020-12-21 17:34] fkiraly commented on #552
@juanitorduz, one additional point perhaps on your comment: we should be careful and not mix evaluation and tuning. Tuning are wrappers/compositors like `GridSearchCV` in `sklearn`; evaluation should be external to any estimator. We are still working on the evaluation/monitoring module - let us know if you are interested to contribute.

[2020-12-21 18:09] mloning commented on #520
I'll close this one in favour of #552 to keep discussion in one place

[2020-12-21 18:09] #520 closed

[2020-12-21 20:05] juanitorduz commented on #552
You are right @fkiraly! We should indeed be careful in the distinction between tuning and evaluation! Having an evaluation/monitoring module would be really helpful! For example, I find  [Prophet's diagnostics](https://facebook.github.io/prophet/docs/diagnostics.html) quite handy.

I would be interested in contributing, although my capacity is limited at the moment (baby at home 👶 ). I could suppo

[2020-12-22 12:49] ngupta23 opened #557 "[DOC] Intermediate step missing in "Code quality checks" section of CONTRIBUTING.md"
#### Describe the issue linked to the documentation

In [this section](https://github.com/alan-turing-institute/sktime/blob/master/CONTRIBUTING.md#code-quality-checks), there is a missing intermediate section since pre-commit needs to be installed.

#### Suggest a potential alternative/fix

Add the following intermediate section

[2020-12-22 13:05] mloning commented on #557
Thanks @ngupta23 - now fixed!

[2020-12-22 13:05] #557 closed

[2020-12-22 13:34] #516 closed

[2020-12-22 14:16] #483 closed

[2020-12-22 17:02] geoHeil opened #558 "[BUG] load_data.py is no longer found in the main source tree after recent change"
After https://github.com/alan-turing-institute/sktime/pull/496/files (even though it is not deleting but enhancing the file) the load_data.py file is no longer found in the main source tree: https://github.com/alan-turing-institute/sktime/tree/master/sktime/utils

am I overlooking something? Wass it removed by accident? If yes, why doesn`t the merge request show a delete?

[2020-12-22 17:58] mloning commented on #558
Hi @geoHeil - we consolidated our utils module a bit, the data loading functionality now lives in `utilts/data_io.py` (see https://github.com/alan-turing-institute/sktime/pull/538)

[2020-12-22 18:01] mloning commented on #558
Please

[2020-12-22 18:01] #558 closed

[2020-12-22 21:04] geoHeil commented on #558
thx

[2020-12-23 10:17] isma3ilsamir commented on #551
Yes I would like to help by looking into it. I will get in contact with you guys.

As for now, I think I figured out a simple workaround, which I compared to the results of KNN from pyts

I imported euclidean distance from scipy

[code]
In my code I am doing a cross-validation on the 'GunPoint' dataset, I got matching **test_scores** for the best classifiers on both sides, but sktime seems to be s

[2020-12-24 05:11] ngupta23 opened #561 "[BUG] Issue of the class ForecastingHorizon and related functions causing downstream issues with Prophet Ensemble"
**Describe the bug**
Since Prophet needs the index to be in `pd.DatetimeIndex` format, it does not work in ensemble mode with other models.

**To Reproduce**

[code]

Error message is as follows
[code]

**Expected behavior**
It would be ok to provide a working example of this use case. If it means I have to change data index to `pd.DatetimeIndex` for other models, I am ok doing that but I tried it

[2020-12-24 12:56] aiwalter commented on #561
@ngupta23 is seems you are using a `fh` with `PeriodIndex`.

Pls try to convert it also to `DatetimeIndex` or use a relative `fh`. Does it work then?

[2020-12-24 13:03] aiwalter commented on #561
@ngupta23

This bug is already known, as descibed in #534

[2020-12-24 13:26] ngupta23 commented on #561
Yes, I tried this variant now and am getting a similar error (I am running on dev version from github, not PyPi version). I am still trying to get used to this concept of `ForecastingHorizon` class, its various options and when to use which one so thanks for your understanding as I work through this.

This is my new code variant snippets (missing parts are same as before). Can you provide me the r

[2020-12-24 14:16] aiwalter commented on #561
@ngupta23
I was playing a bit around and was able to recreate this. This issues do not come from `from sktime.forecasting.fbprophet import Prophet`. Could you pls rename the this issue? It seems to be solely an issue of the class `ForecastingHorizon` and related functions.

[2020-12-24 14:24] mloning commented on #561
Yes same here. It's not even the pd.DatetimeIndex by itself but the combination with monthly ("MS") a few other frequencies that's causing the problem.

@ngupta23 this for example works:

[code]

[2020-12-24 17:22] natsukiuchida opened #562 "[DOC]"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2020-12-24 19:20] #562 closed

[2020-12-24 19:21] natsukiuchida opened #563 "[BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-12-26 08:44] KH633 opened #576 "[BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2020-12-26 08:47] KH633 opened #577 "[DOC]u"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2020-12-26 12:27] isma3ilsamir opened #578 "[BUG] ColumnEnsembleClassifier fails fitting KNN classifiers"
**Describe the bug**
I am trying to classify a multivariate dataset using a ColumnEnsembleClassifier. I use the same classifier for all dimensions.
It fails to fit the dataset when I use KNN classifiers, but works when I use TimeSeriesForestClassifier.

I tried KNN with different metrics ('msm, 'dtw' 'euclidean' -> imported from scipy'), all of them fail
I tried it with AtrialFibrillation and Basi

[2020-12-26 12:28] Lovkush-A commented on #361
@mloning. Hello Marcus and Merry Christmas! As a christmas present to you and the team, I would like to contribute significantly to this package, and in particular, to the user guide. Here are some questions I have and other relevant points:

1. I read the divio documentation guide. To check my understanding, is your notion of a 'scientific reference' a combination of their notion of 'user-guide'

[2020-12-28 03:55] mikelty opened #580 "[BUG] ModuleNotFoundError: No module named 'sktime.forecasting.fbprophet'"
I'm trying to run the first notebook(https://github.com/alan-turing-institute/sktime/blob/master/examples/01_forecasting.ipynb).
I tried running this on my local ubuntu 18.04 machine and google colab. On google colab, it yields an error at cell 91 of the origiinal notebook (btw it doesn't open on colab either so i have to copy / paste everything.) Here's what I did and what the error is:
`pip inst

[2020-12-28 04:03] mikelty commented on #580
I also tried
`pip install --upgrade sktime[all_extras] pmdarima sklearn`
and then
`from sktime.forecasting.fbprophet import Prophet`
but got the same error.

[2020-12-28 04:38] aiwalter commented on #580
@mikelty pls see here:
https://github.com/alan-turing-institute/sktime/pull/515#issuecomment-750742290

[2020-12-28 09:58] #576 closed

[2020-12-28 09:59] #365 closed

[2020-12-28 10:00] #577 closed

[2020-12-28 10:12] mloning commented on #361
Hi @Lovkush-A - thanks for reaching out, your help is very welcome!

1. yes, the user guide is meant to be the "explanation" part and "understanding-oriented". Other examples we had in mind are the scikit-learn [user guide](https://scikit-learn.org/stable/user_guide.html) and the [Forecasting: Principles and Practice](https://otexts.com/fpp3/) handbook.
2. we're following scikit-learn's syntax and

[2020-12-28 10:14] mloning commented on #578
Hi @isma3ilsamir - thanks for creating the issue. Does KNN work without the `ColumnEnsembler` on the data? We know that the `distance-based` module requires some work and currently doesn't pass all unit tests.

[2020-12-28 12:46] isma3ilsamir commented on #578
Hi @mloning . Yes KNN works fine without the `ColumnEnsembler`

Today I got the same error while using `ElasticEnsemble`, which I believe is kind of expected as it is an ensemble of KNN classifiers with different distance measures.

[2020-12-28 15:21] mloning commented on #578
@isma3ilsamir if you have some time to look into it, I'd appreciate a PR to fix this or even a detailed description of the problem would be very helpful!

[2020-12-28 15:29] #580 closed

[2020-12-28 15:29] mloning commented on #561
Closed in favour or #534

[2020-12-28 15:29] #561 closed

[2020-12-28 21:07] isma3ilsamir commented on #578
@mloning I will try to have a look on it in the coming days and will keep you updated

[2020-12-28 21:37] aiwalter commented on #534
@mloning  I had a look into it and I think the best way is what you wrote here:

So basically what you already said, when doing `fh.to_relative()` then just converting it to a `PerdiodIndex` first in case it is a `DatetimeIndex`.
The good thing is that pandas can convert the `DatetimIndex` also just like this:
[code]
and  it works without giving the `freq="M"`  argument:
[code]
The bad thing is th

[2020-12-29 10:14] mloning commented on #534
Hi @aiwalter - yes that sounds like a good plan. Would really appreciate a PR! Even if it doesn't work always, I'd rather have it fail at the `to_period()` step than what we have currently where it silently produces errors.

[2020-12-29 18:51] #412 closed

[2020-12-30 18:46] mloning commented on #534
There's another issue, `pd.DatetimeIndex` looses the `freq` information if the index is no longer regular (e.g. when it has gaps after slicing). Similarly, indices with less than 3 items also don't carry the `freq` information. This makes it hard to rely on it for arithmetic operations.

Some forecasters (e.g. pipelines) may work with irregular time indices (e.g. predictions for specific steps of

[2020-12-30 19:44] aiwalter commented on #534
if you do `index[1:5]` it works! Seems to be another pandas issue.

[2020-12-30 19:49] mloning commented on #534
Yes I asked about it on their Gitter: https://gitter.im/pydata/pandas

The issue is we often work with incomplete indices (e.g. forecasting horizon or windows in temporal CV), not sure how to best handle that yet.

[2020-12-30 20:15] aiwalter commented on #534
I was thinking a bit about the bigger picture of how the class `ForecastingHorizon` is sructured, the way `predict()` is used and which index types are accepted in `fit()`. I guess you had some ideas in mind when designing this and allowing different index types, slicing etc. However, I think this makes it a bit vulnerable as the `fh` became sth like the backbone of `sktime`. If we would be more r

[2020-12-30 20:39] mloning commented on #534
Some of the rationale for the forecasting horizon can be found here: https://github.com/sktime/enhancement-proposals/blob/master/steps/01_forecasting_api/01_forecasting_api.md#Insample-predictions

We actually started without the `ForecastingHorizon` class but realised that we need some abstraction to handle the different representations. Both relative and absolute representations are commonly use

[2020-12-30 22:24] aiwalter commented on #534
I think most issues come from:

- converting type of index
- converting `fh` absolute to relative and vice versa
- slicing index

This is why it would be more stable to just accept..

- one index type (at least use one type interanally). If there is a dependency package that uses a different type, we could wrap that anyway just for this specific package.
- only relative `fh`
- only continuous `fh`

[2020-12-31 04:26] ngupta23 opened #583 "Options for ensembling forecasters"
**Is your feature request related to a problem? Please describe.**

Currently ensemble forecasting model only supports mean reduction as [outlined here](https://github.com/alan-turing-institute/sktime/blob/30b06140eb6e94b2845e6239efd679414dc13188/sktime/forecasting/compose/_ensemble.py#L78). Can we add more options similar to [this](https://hcrystalball.readthedocs.io/en/latest/_modules/hcrystalba

[2020-12-31 04:29] ngupta23 opened #584 "Ensembling forecasters: Checking to see if forecaster has already been fit"
**Is your feature request related to a problem? Please describe.**
Currently, the ensembling process [refits all forecasters](https://github.com/alan-turing-institute/sktime/blob/30b06140eb6e94b2845e6239efd679414dc13188/sktime/forecasting/compose/_ensemble.py#L52) which can be slow if they have already been fit before passing to the ensembling process.

**Describe the solution you'd like**
Add a c

[2020-12-31 04:43] ngupta23 opened #585 "[BUG] ForecastingGridSearchCV with a ReducedRegressionForecaster does not display the right number of candidates"
**Describe the bug**

1. Using the `ForecastingGridSearchCV` with a `ReducedRegressionForecaster` does not display the right number of candidates
2. Eventually, the best_parameters_ for the underlying sklearn regressor are not accessible

**To Reproduce**
[code]

[code]

**Expected behavior**

1. I was expecting to see 30 * 3 = 90 candidates. I think the count is ignoring the underlying parameters

[2020-12-31 05:00] ngupta23 opened #586 "[DOC] Guideline to add new adapters"
#### Describe the issue linked to the documentation

I was wondering if there is documentation on how `sktime` could be linked to other time series libraries. From the code, it seems that the preferred method is to [use adapters](https://github.com/alan-turing-institute/sktime/tree/v0.5.1/sktime/forecasting/base/adapters), but I could not make out what the requirements are for the adpater. Somethi

[2020-12-31 06:11] aiexplorations commented on #322
Thanks for the install tip for `pmdarima`. Is there a chance that this dependency will be automatically fixed as part of the sktime install (pip/conda) in future releases?

[2020-12-31 11:36] mloning commented on #322
Hi @aiexplorations, we treat `pmdarima` and a few other packages as soft dependencies for now, any issues installing them?

[2020-12-31 11:39] mloning commented on #586
I agree, please see #464 for previous discussions. Any help is welcome!

[2020-12-31 11:39] #586 closed

[2020-12-31 11:49] mloning commented on #585
Thanks @ngupta23 for raising this issue.

The inner `GridSearchCV` is quite hidden but you can find it here: `gscv.best_forecaster_.steps_[-1][-1].regressor_.best_estimator_`.

[2020-12-31 11:52] mloning commented on #584
Hi @ngupta23, do you want an ensemble for fitted estimators only aggregating the output from `predict`?

[2020-12-31 12:03] mloning commented on #503
Closed by #515

[2020-12-31 12:03] #503 closed

[2020-12-31 13:24] ngupta23 commented on #585
Thanks @mloning. Yes, the candidates are correct if we only consider the outer folds, but was a little misleading. Maybe there could be a check for this and added to the total number of candidates (or even mentioned separately as outer and inner candidates). Just a thought. It threw me off initially since I was not sure if the hyper-parameters were being searched correctely for the Random Forest o

[2020-12-31 13:27] ngupta23 commented on #584
Hi @mloning , Yes. Basically, in my flow I have several models that I have trained individually and I finally want to also ensemble them as well. But during ensembling, they get trained again which seems like duplicated effort. I was wondering if a check could be added to see if the forecasters are already fitted and skip the fit for them to save time. When I looked at the code, it did not seem th

[2020-12-31 13:28] ngupta23 commented on #583
@mloning, I can add this if you are OK with it.

[2020-12-31 13:34] ngupta23 commented on #586
Thank you @mloning. Sorry for missing it. It did not show up when I searched for `adapter` so I filed this new issue. I will have a look at #464  in detail.

[2020-12-31 14:04] mloning commented on #583
@ngupta23 yes, sounds good to me! What do you have in mind in terms of design? Adding a keyword argument to the constructor would perhaps be the simplest. Eventually, we could abstract the aggregation algorithm further.

[2020-12-31 14:07] mloning commented on #584
This is an interesting question, I'm not really sure what the best solution is. My intuition is that if we change how the ensemble works, we should also be open to change other composition classes like pipelines and I'm less sure about  that.

This seems to be deployment/production code. Why don't you fit all of the estimators with the ensemble class and then save the entire fitted ensemble?

[2020-12-31 14:09] mloning commented on #585
Combining them will add considerable complexity I think, but I agree it would be nice for users to see the entire grid.

[2020-12-31 15:28] ngupta23 commented on #585
Hi @mloning , My comment was only related to the reporting. I think the code flow can remain the same as you already have.
If nothing else, maybe just a info print that the candidates are only for the outer loop would be good.

[2020-12-31 15:29] ngupta23 commented on #584
@mloning The issue is that the ensemble does not always produce the best results. So I want to fit the individual models as well and then pick the best from the ensemble/individual models based on temporal CV stats, etc.

[2020-12-31 15:36] ngupta23 commented on #583
I am thinking it would be similar to [this](https://hcrystalball.readthedocs.io/en/latest/_modules/hcrystalball/ensemble/_simple_ensemble.html#SimpleEnsemble) with an option for weighted

[code]

[2020-12-31 17:04] aiexplorations opened #588 "Pandas-style lag plotting for sktime"
**Is your feature request related to a problem? Please describe.**
When preparing AR and ARIMA class models, it is helpful to be able to visually inspect segments of (univariate) time series through lag plots. Currently this feature doesn't exist within sktime but exists in other packages such as pandas

**Describe the solution you'd like**
A lag plotting function should be made available within s