[2021-04-16 17:39] RNKuhns commented on #817
I'm planning to submit a Pull Request that contributes this functionality shortly.

[2021-04-16 22:57] jhogg11 opened #6604 "[ENH] vmdpy - time leakage aware vmd"
This is more of a theoretical question, but I've noticed that prominent decomposition methods (e.g., VMD, EWT, EMD) have a limitation when trying to predict future time steps in that the decomposition changes for the entire series when adding a new datapoint.  That is, each subsequent datapoint added to the original series influences all previous points in the decomposition, which potentially intr

[2021-04-17 08:06] Gradwanderer commented on #816
May I just copie my slack Question here:
I have a dataframe with some (35 columns) Variables and millions (rows) of timesteps. I would like to cut the data with the timeseriesgenerator (https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/sequence/TimeseriesGenerator). I have done it before for some neural nets. I would like to stick to the generator, because I need to skip some sampl

[2021-04-17 09:30] #816 closed

[2021-04-17 09:49] smriti111 commented on #782
Can I work on this issue, if it hasn't been taken up by anyone.

[2021-04-17 19:14] ngupta23 opened #821 "[DOC] Multiplexer may not be picking the best model"
**Describe the bug**
Multiplexer Forecaster may not be picking the best model

**To Reproduce**
From [example notebook](https://github.com/alan-turing-institute/sktime/blob/v0.6.0/examples/01_forecasting.ipynb) in v0.6

**Expected behavior**
Individual models pick ETS as the better model (from ETS and Naive), but Multiplexer picks Naive as the better model. I would have expected ETS to be picked.

[2021-04-17 19:27] vaknin commented on #592
Just a heads up, I'm unable to install sktime as well, I'll try what @sonoff2 suggested.

[2021-04-17 19:37] Lovkush-A commented on #631
@ppias After seeing this PR, I read the paper Similarity Forests and decided to write a [short summary of it](https://lovkush-a.github.io/blog/data%20science/2021/04/17/trees_variants.html). @ppia: have I understood it correctly?  I would be interested to know what changes you are making in order to adapt it to time series. Is the main thing coming up with suitable similarity metrics, or are there

[2021-04-18 10:16] fkiraly commented on #821
pinging @aiwalter and @koralturkk who were working on the multiplexer

[2021-04-18 10:19] fkiraly commented on #798
so... how do we proceed with this?
There are multiple non-exclusive options I can see:
* interface to `pyod`
* interface to `alibi-detect`
* extend @ViktorKaz's pipeline design to cover generic temporal on-line anomaly detection

[2021-04-18 10:56] satya-pattnaik commented on #798
I am already on it. I am developing the interface to PyOD, I had a call with @mloning  to get the design sketch(which I will update as an enhancement proposal ).

[2021-04-18 12:23] aiwalter commented on #821
@ngupta23 @fkiraly
I think this is not a bug, but rather a bad configuration of the example. There is no `fh` given in the `cv`, that is why it is by default `1`, also the `window_length` of `30` is not appropriate for the monthly data. Following works:
[code]
It looks ok to me now. Also the `ets` model can be better by using...
[code]
Will update the notebook, also the code highlighting in the de

[2021-04-19 06:07] angelmoti24 opened #826 "[BUG] Custom scorer gives you an error when fitting a ForecastingGridSearchCV object"
**Describe the bug**

When running a ForecastingGridSearchCV with exogenous variables with a scoring created with MetricFunctionWrapper, gives you an error.

**To Reproduce**

[code]

**Expected behavior**

The forecaster should be scored with the custom metric but instead it gives you an error.
**Additional context**
The error that gives you is the following:
TypeError: __init__() takes 1 positio

[2021-04-19 14:26] mloning commented on #592
@vaknin no, you only have to build it once, after that it's installed in your environment. Whether you have to build the dependencies depends on whether they provide the wheel that you need.

[2021-04-19 14:37] mloning commented on #826
Hi @angelmoti24 - `MetricFunctionWrapper` takes a function, not a class. This works for me:
[code]

[2021-04-19 14:37] #826 closed

[2021-04-19 14:38] vaknin commented on #592
Cheers.
If it helps anyone, I found that using sktime via conda is easier and returns no errors (for amd64).

[2021-04-19 15:02] mloning commented on #782
@smriti111 yes no-one is working on this as far as I'm aware. Creating a draft PR as soon as possible is usually a good idea to let others know you've started working on this and to get early feedback.

[2021-04-20 04:37] angelmoti24 commented on #826
you are right, thank you!!

[2021-04-20 08:12] mloning commented on #826
@angelmoti24 it's also part of the private API, perhaps we should highlight the `make_forecasting_scorer` function

[2021-04-20 15:49] smriti111 commented on #782
Sure am working on it, will update soon

[2021-04-21 14:53] MatthewMiddlehurst commented on #129
Re-opening this. Road testing a number of classifiers that use the catch22 transform, they use a lot of memory even on relatively small datasets. Just calling the catch22 method from the C wrapper we use without storing anything rapidly increases memory used. Most likely a memory leak in the wrapper itself. Best option IMO would be to reimplement the catch22 features in Python for sktime using num

[2021-04-21 15:29] TonyBagnall commented on #129
hi matt, I was thinking of asking an MSc student to work on this. I may also be able to fund a UEA intern, and this could be good for them too.

[2021-04-21 17:11] #744 closed

[2021-04-21 17:12] #666 closed

[2021-04-21 17:38] TonyBagnall commented on #129
although if someone wants to take it on before that its completely fine! It is a good, fairly technical, first issue

[2021-04-21 20:16] fkiraly commented on #727
Very interesting thought! (somewhat late to the party here)

Personally, I would:
* distinguish methods that produce in-sample *predictions* (e.g., CV-like procedures) from methods that produce some in-sample *loss estimates* (e.g., oob error estimates)
* introduce specific methods for this, e.g., `predict_CV`, `predict_proba_CV` or `score_oob`, signature to be determined
* if multiple options exi

[2021-04-23 17:26] mloning commented on #763
@fkiraly @ViktorKaz I'm happy to integrate this functionality, but we need to break it down into smaller work packages/PRs.

[2021-04-23 17:30] mloning commented on #763
For example, the above code for example seems to combine annotation and reduction from (directional) forecasting to tabular classification.  We need to separately define APIs for annotation and directional forecasting including the reduction to classification.

[2021-04-23 20:32] ViktorKaz commented on #763
Do you want to start by integrating the [pipeline object](https://github.com/ViktorKaz/sktime/blob/pipeline/sktime/pipeline/pipeline.py)? I can create a PR just for it.

[2021-04-23 20:55] fkiraly commented on #763
Yes, agreed with @mloning - this touches estimators of multiple scientific types (directional forecasters, change point detectors), for which we may like to introduce support and template separately. Would it be a good idea to start with directional forecasters, before adding a pipeline for directional forecasters?

[2021-04-24 09:01] mloning commented on #763
The pipeline seems to be the most complex object, combining multiple APIs (reduction and directional forecasting). So I would start with simple components, either directional forecasters or annotators.

Since there is some ongoing work on annotation, directional forecasting seems like a good starting point.

I suggest to implement the following first:
* an abstract base class: `BaseDirectionalFore

[2021-04-26 18:07] mloning commented on #728
Closed in favour of https://github.com/alan-turing-institute/sktime/issues/664

[2021-04-26 18:07] #728 closed

[2021-04-26 18:09] mloning commented on #518
I think this is clearer now with https://github.com/alan-turing-institute/sktime/blob/main/examples/window_splitters.ipynb

[2021-04-26 18:09] #518 closed

[2021-04-26 18:11] mloning commented on #585
I'll close this now. Please feel free to reopen if you want to give us more feedback.

Related improvements based on the discussion here were merged in #739.

[2021-04-26 18:11] #585 closed

[2021-04-26 23:38] iuimaki opened #842 "Sktime: Python implementation of HIVE-COTE"
**Is your feature request related to a problem? Please describe.**
I'm new to sktime and time series classification.
I have installed sktime toolkit. I trying to apply HIVE-COTE 1.0 to my dataset. The codes are shown as follows, x_train, y_train, x_test, and y_test are my prepared dataset. I call HIVE-COTE directly through the module HIVECOTEV1, but I am not sure if this is the correct way to repr

[2021-04-27 13:33] muhlbach opened #843 "UserWarning: NotImplementedWarning: NaiveForecaster does not have a custom `update` method implemented. NaiveForecaster will be refit each time `update` is called."
In version 0.5.3, there was no problem calling the 'update' method using the NaiveForecaster. However, since version 0.6.0, I receive the following warning:

`UserWarning: NotImplementedWarning: NaiveForecaster does not have a custom `update` method implemented. NaiveForecaster will be refit each time `update` is called.`

The update method is important to bootstrap prediction intervals. When will

[2021-04-27 13:39] muhlbach commented on #843
I see that this problem is not limited to NaiveForecaster. I get the same error message for ARIMA. Have you removed the functionality of 'update'? Where can I find the release notes?

[2021-04-27 14:06] aiwalter commented on #843
I guess its not a bug, but rather an issue of UX. This was added by @pabworks in #660 . I think what is new is just a warning. The issue is mainly when doing a grid search because this warning will always warn for each fit, which can be annoying. Not sure how to handle this best, any ideas?
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
htt

[2021-04-27 14:09] muhlbach commented on #843
But my impression is that now each model is refit once 'update' is called, but in the older versions that did not happen?

[2021-04-27 15:12] mloning commented on #843
@muhlbach could you describe what behaviour you expected when calling update?

Update can mean several things:
1. passing "now" information, i.e. the cutoff at which we want to make predictions,
2. passing new data,
3. updating fitted parameters based on new data.

If you just want 1 and 2, you should be able to call `update(..., update_params=False)`.

If you also want 3, you need to call `update

[2021-04-28 10:32] mertbozkir commented on #592
@vaknin can you write how you install in conda?

![image](https://user-images.githubusercontent.com/63906053/116388413-7c24af00-a824-11eb-98ed-91a8a2febd1f.png)

I am still trying to solve this installation problem.

[2021-04-28 10:37] mertbozkir commented on #731
@mloning I didn't know sktime and I didn't make a proposal for here.

But if I haven't GSoC internship, I would contribute here, even I am not chosen. I loved this environment and framework.💖

[2021-04-28 10:44] mertbozkir commented on #592
Before this code I tried
[code]

![image](https://user-images.githubusercontent.com/63906053/116391200-8a27ff00-a827-11eb-8454-2633fe83ae69.png)
**I finally installed sktime, but now it's for pmdarima module. :(**

![image](https://user-images.githubusercontent.com/63906053/116391289-a0ce5600-a827-11eb-9168-1d75bd90e974.png)

[2021-04-28 11:23] fkiraly commented on #731
unfortunately, application deadlines have passed now but ... well ... there's always next year :-)

[2021-04-28 11:25] fkiraly commented on #731
And this: https://www.sktime.org/en/latest/mentoring.html

[2021-04-28 12:21] SinghShreya05 opened #846 "Adding Imaging Time Series Algorithms"
**Is your feature request related to a problem? Please describe.**
sktime currently has a function "plot_series" for plotting time series. I am thinking of introducing Imaging of time series in "plot_series", which is transforming time series into images, a popular transformation. Imaging algorithms are "recurrence plot", "Gramian Angular Summation Field", "Gramian Angular Difference Field", and "

[2021-04-28 14:14] mertbozkir commented on #731
@fkiraly I know that have passed. I can contribute if anybody won't chooses me in GSoC.  I can contribute from here github. without mentor.

Woaww if there is a mentorship program. It makes me excited.

What is the mentorship program deadline?  😍

[2021-04-28 17:26] mloning commented on #731
Hi @mertbozkir, we accept people on a rolling basis depending on mentor availability! There will also be an onboarding event in mid May - we'll announce details soon.

[2021-04-28 17:30] mloning commented on #592
@mertbozkir does `pip install pmdarima` not work?

[2021-04-28 23:31] ltsaprounis opened #847 "-inf AIC/BIC in AutoETS"
**Is your feature request related to a problem? Please describe.**
Some ETS models from the [statsmodels.tsa.exponential_smoothing.ets.ETSModel](https://www.statsmodels.org/stable/generated/statsmodels.tsa.exponential_smoothing.ets.ETSModel.html) can yield an infinite likelihood. As a result, information criteria like AIC, AICc and BIC will be negative infinity. The AutoETS implementation is picki

[2021-04-28 23:46] angelmoti24 opened #849 "Generate in-sample predictions for RecursiveTabularRegressionForecaster."
**Is your feature request related to a problem? Please describe.**
I am trying to generate some predictions but I am getting a NotImplemetedError

**Describe the solution you'd like**
A function that returns the array or a series with the predicted values.

**Describe alternatives you've considered**
Make a recursive function to predict the forecasting horizon desired.

**Additional context**
![im

[2021-04-29 06:19] Remmert-A commented on #842
+1
A introduction into the usage and preprocessing requirements of the HIVECOTE module would be greatly appreciated from me as well.

[2021-04-29 11:58] nihal-rao commented on #348
Hi @abhishek-parashar are you working on this? If not I would like to take this up.

[2021-04-29 18:22] mloning commented on #847
Thanks @ltsaprounis

FYI @HYang1996

[2021-04-29 18:30] mloning commented on #849
Hi @angelmoti24 - thanks for the suggestion, how would you generate the first in-sample values inside the window length?

[2021-04-30 01:03] iuimaki commented on #842
Another question is how does the class_weight parameter in sktime work?
I want to use TimeSeriesForestClassifier to do binary classification on an unbalanced data set. The classes are labelled 0 (negative) and 1 (positive) and the observed data is in a ratio of about 9:1 with the majority of samples having negative outcome.
The documentation of sktime shows that there is a way to set class_weight

[2021-04-30 06:55] mloning commented on #846
We could also think about implementing them as transformers as done in pmts: https://pyts.readthedocs.io/en/stable/auto_examples/image/plot_gaf.html

[2021-04-30 09:16] TonyBagnall commented on #842
hi, we are working on hive-cote for python, just tidying up and testing some features for the java version first. Once term has finished @MatthewMiddlehurst and I can give it our full attention.

[2021-04-30 09:20] TonyBagnall commented on #842
The python version has all sorts of pythonesque issues, memory intensive, slow etc which require significant engineering and we are not really python programmers, so it is painful. In the short term, if anyone wants to run HIVE-COTE v2 just email me ajb@uea.ac.uk, we can help you get it running in java (very easy, we can just give you the jar file and you can run it on command line or with a scrip

[2021-04-30 10:02] iuimaki commented on #842
Heya! Thank you for the feedback :)

[2021-04-30 14:02] #671 closed

[2021-05-01 13:37] mertbozkir opened #852 "[DOC] Exponential Smoothing not an issue just advice."
Hello folks,
I wanted to use the Exponential Smoothing sktime class. But when I opened sktime documentation, I realize there is a wrong syntax. I look twice, three times, etc. Then I tried to find an example on the internet I understand what is the problem.

 Here is [Exponential Smoothing Documentation](https://www.sktime.org/en/stable/api_reference/modules/auto_generated/sktime.forecasting.exp_s

[2021-05-01 13:49] mertbozkir commented on #852
I also want to help those who know Exponential Smooth(Somebody advice me of this model)
**I am just a newbie in this field**
I have a dataset as a form of pd.DataFrame, you can see below here.

### I have some questions.
* Which models would fit my short-time series?
* Where to learn model?
* If Exp Smooth fits my problem, how can I solve it with Exp Smooth? (Which parameters I should focus on?)
*

[2021-05-01 15:16] mloning commented on #852
Thanks @mertbozkir for raising the issue. I don't see the blank space when I go here: https://www.sktime.org/en/stable/api_reference/modules/auto_generated/sktime.forecasting.exp_smoothing.ExponentialSmoothing.html#sktime.forecasting.exp_smoothing.ExponentialSmoothing

[2021-05-01 15:27] mertbozkir commented on #852
**It's my pleasure** 🦸‍♂️,
Do you have an answer to my questions?

[2021-05-01 15:36] mloning commented on #852
For an intro to forecasting, take a look at this book: https://otexts.com/fpp3/

[2021-05-01 17:46] #852 closed

[2021-05-02 16:16] satya-pattnaik opened #855 "Probabilistic Forecasting using NGboost"
**Is your feature request related to a problem? Please describe.**
Can we build a Probabilistic Forecaster using Ngboost. A Probabilistic regression like Ngboost method will give us the confidence intervals out of the box unlike others where we need a heuristic(like quantile loss) to get the values of Conf/Pred Ints.

**Describe the solution you'd like**
A rough sketch:
[code]

**Describe alternat

[2021-05-02 16:34] fkiraly commented on #855
Interesting!
NGboost is a probabilistic prediction algorithm, not a forecaster - so we would first have to build a full probabilistic interface. That would be a great thing to have for `sktime`.

Now about something that's partly funny and partly not funny...
"NGboost" is basically identidal to the probabilistic boosting algorithm I proposed in section 6.4 of my 2018 paper https://arxiv.org/abs/18

[2021-05-03 06:37] satya-pattnaik commented on #855
Yes, 6.4 of the above mentioned paper deals with a similar concept.
That sounds good to me, I can use Skpro to build it. The question is how to build that probabilistic interface, if I can get some starting point I can carry it from there, as I was planning to use ```make_reduction```(Which I assume now is not the correct way???)

[2021-05-03 08:20] fkiraly commented on #855
well, if you want to use `skpro` for probabilistic predictions, the package itself needs an update - it's a bit of a larger project than just adding a method. If you're interested to do that, we should set up a call - also (I believe you are part of the mentoring programme?) discuss with your mentor.

[2021-05-03 09:06] satya-pattnaik commented on #855
Yes, will discuss about this with my mentor. Thanks

[2021-05-03 11:17] nielsuit227 commented on #311
This bug is not only in this function, but also in `from_multi_index_to_nexted`, `from_3d_numpy_to_nested`. Shall I raise a separate ticket for that or is it the same underlying bug?

[2021-05-03 13:57] thayeylolu commented on #782
Hello @smriti111 . Have you started working on this ?

[2021-05-04 10:24] MatthewMiddlehurst commented on #129
Working on replacing the wrapper currently. Will hopefully make a PR this week.

[2021-05-04 14:56] RavenRudi opened #857 "MASE for evaluate function"
**Is your feature request related to a problem? Please describe.**
The `sktime.forecasting.model_evaluation.evaluate` function does not work with the MASE.

**Describe the solution you'd like**
Provide the MASE() object as the `scoring` parameter.

**Additional context**
The current problem is that `evaluate` only accepts metrics that calculate a score from `y_test` and `y_pred`. The MASE however

[2021-05-04 15:06] fkiraly commented on #857
@RNKuhns, did we miss something?
I was under the impression that this would already work, given earlier suggestion to allow metrics that don't use `y_train` to still accept it as an ignored argument.

Or, is it coming from the internals of `evaluate`, which would be code of @aiwalter?

[2021-05-04 17:25] mloning commented on #857
Thanks @RavenRudi for raising the issue!

We've already discussed a solution to it here: #712 - so hopefully that will be on `main` soon, there are a few other changes related to the performance metrics on `main` already.

[2021-05-04 17:25] #857 closed

[2021-05-04 17:44] fkiraly commented on #857
ah, was under the false impression this was already addressed!

[2021-05-04 17:57] RNKuhns commented on #712
@mloning and @fkiraly I saw #857 popped up. I should have a draft pull request related to this fix in the next day or two.

I've got the logic worked out to use `y_train` when necessary based on the `_tags` assigned to the metric. Just wanted to confirm the solution really quick, because I believe another suggestion might have come up when we closed out #801.

Based on conversation above, one opti

[2021-05-04 18:06] fkiraly commented on #712
@RNKuhns, I strongly favour option 2, because option 1 would make call of the templated classes non-uniform, and result in error if passing `y_train` to the call.

The general principle is that it should be easy to loop over objects of the same type, or to exchange one object for the other.
In option 1 this is not possible via the `__call__` interface point, it will result in errors whenever you s

[2021-05-04 18:07] fkiraly commented on #712
PS: you can achieve option 2 by catching kwargs and simply ignoring them - no need for extra internal handling of `y_train` in that case.

[2021-05-04 18:21] fkiraly commented on #712
Regarding option 1: I can see the merits, but my concern is that it´s a bit brittle - we have `_score` in a sense duplicating `__call__`, so there's not one way to do things ("python zen"), and the way is not obvious. This is because you need to know that you need to use `_score` when you need a "uniform interface call" and that's a concept not obvious to the "typical user".

The orange flag is th

[2021-05-04 18:29] RNKuhns commented on #712
@fkiraly thanks for the input. That does make a lot of sense. One quick question on catching the `kwargs`. Do we want to allow `__call__` to accept kwargs? I thought we generally tried to avoid them and use explicit parameters instead?

[2021-05-04 18:32] fkiraly commented on #712
good question - @mloning, what's your opinion for `__call__`? I think we have kwargs in constructors?

[2021-05-04 20:28] mloning commented on #712
Thanks for bringing this up again. I initially favoured option 2, I now agree with @fkiraly and prefer option 1.

The signature should then be: `__call__(self, y_true, y_pred, y_train=None)` where some metric require `y_train` and raise an error if not given and others don't require it and simply ignore it if given. (Does this imply that all performance metric functions should also accept `y_train

[2021-05-04 20:37] fkiraly commented on #712
@mloning, I think the wrapper (class that makes metric class from function) could take care of that in case we don't want functions to have that argument - though I think we can still catch this with kwargs even there.

[2021-05-04 21:12] RNKuhns commented on #712
@mloning No problem bringing it back up. I am with you in terms of not being as comfortable with the functions in `_functions.py` all requiring `y_train`.

Also thanks for the clarification on kwargs, it helps to hear about the background on these things so I can keep that in mind on future work! I definately get that we want to keep hyperparameters/config args in the constructor and the `__call__

[2021-05-04 23:24] RNKuhns commented on #712
@mloning and @fkiraly I've started a draft PR (#858).

I'll be updating how the performance_metric tests yet, but wanted to start the PR to get some initial feedback.

[2021-05-05 11:52] julramos opened #859 "ARIMA and AutoARIMA should return pandas.NA when value cannot be predicted, e.g., first index in-sample for start=0, d=1"
Update 2021-09-15 - re-opened since a recurring issue.

Not a bug, but an interface convention - currently ARIMA, AutoARIMA and other learners fail when asked for a prediction that is undefined, e.g., difference parameter d=1 and first in-sample index (start=0).

It would be more sensible if `pandas.NA` is returned instead for such indices, perhaps a warning should be raised too that `pandas.NA` a

[2021-05-05 16:35] mloning commented on #859
Hi @julramos - thanks for raising the issue!

I think you have correctly identified the problem here. Would you like to open a PR and see if that fixes the issue?

An alternative quick fix would be to set `d=0` if this is acceptable:
[code]

[2021-05-05 18:12] ParthivNaresh commented on #592
@mloning @mertbozkir @vaknin I'm trying to install `sktime` and `pmdarima` via conda exclusively within a feedstock, has anyone been able to install both `sktime` and `pmdarima` via conda without running into package conflict issues?

[2021-05-05 18:52] ParthivNaresh opened #860 "[BUG] Unable to install pmdarima via Conda"
**Describe the bug**
As `pmdarima` is a soft dependency, and is necessary for `AutoARIMA`, I am currently trying to install `pmdarima` via the conda route alongside `sktime`. Unfortunately, I'm unable to install `pmdarima` AND `sktime` via conda channels for a feedstock as it results in package conflicts.

**To Reproduce**
`conda install pmdarima`
`conda install sktime`

Essentially trying to inst

[2021-05-06 08:00] jiryang opened #862 "[BUG] ImportError: cannot import name 'MeanAbsolutePercentageError'"
Hi,

Following your forecasting tutorial (https://github.com/alan-turing-institute/sktime/blob/main/examples/01_forecasting.ipynb) gives me the import error. Could you please help?

Python: 3.6.9
sktime: 0.6.0

[2021-05-06 16:30] mloning commented on #862
The tutorial notebook is based on the `main` branch, which is ahead of the latest release. Please check out the corresponding files for the latest stable release here: https://github.com/alan-turing-institute/sktime/tree/v0.6.0

[2021-05-06 16:35] mloning commented on #592
@ParthivNaresh wasn't aware of this, but I can reproduce the package conflict. Would you like to look into it and see which requirements we have to adjust to avoid the conflict?

[2021-05-06 16:36] mloning commented on #592
See #860

[2021-05-06 16:36] mloning commented on #860
@ParthivNaresh wasn't aware of this, but I can reproduce the package conflict. Would you like to look into it and see which requirements we have to adjust to avoid the conflict?

[2021-05-06 16:45] #692 closed

[2021-05-06 16:46] mloning commented on #843
I'll close this now, but feel free to reopen if you want to add anything.

[2021-05-06 16:46] #843 closed

[2021-05-06 17:39] ParthivNaresh commented on #860
@mloning From what I understand, `pmdarima` requires `statsmodels` to be `>=0.11,<0.12`, while `sktime` requires `statsmodels` to be `>=0.12.1`. I haven't been able to find any combination of requirements so far that can fix it. Even installing `sktime` and `pmdarima` (in either order) without pinning versions results in this error. As far as I can see, there's no way to install them both via cond

[2021-05-07 09:19] arainboldt opened #5826 "Conv-Net activation options & GraphConv Networks"
Hi! great package! Really appreciate all your guys work and the community here. I've learned a lot.

I'm starting to explore the sktime-dl package now and I have two requests/suggestions.

First, reading through the class  `CNNNetwork` I see that there is no option to set the activation function for intermediate conv-layers. It's explicitly set to 'sigmoid'.

It would be nice if this was exposed a

[2021-05-07 15:57] mloning commented on #860
Okay that's not great - does it work with pip? I have them both in my environment but don't remember how I installed them.

From [here](https://github.com/alkaline-ml/pmdarima/blob/master/requirements.txt) it seems as if only `statsmodels` `0.12.0` is excluded.

[2021-05-07 17:25] mloning opened #863 "The 2021 sktime summer programme"
We invite sktime community members, new joiners, and interested data scientists to participate in the 2021 summer programme, held virtually.

The summer programme consists of events and activities which can be joined separately:

| Event | Date | Short description
|---|---|---|
| [sktime onboarding days](https://github.com/sktime/community-council/blob/main/events/sktime-onboarding-days.md) | May

[2021-05-07 17:37] ParthivNaresh commented on #860
The feedstock is [built differently](https://github.com/conda-forge/pmdarima-feedstock/blob/master/recipe/meta.yaml).

It does works with pip, however that prevents it from being included in the feedstock recipe.

[2021-05-07 18:04] mloning commented on #860
@ParthivNaresh Ah I see, in that case, it's perhaps easiest to raise an issue with pmdarima to update their feedstock or am I missing something?

[2021-05-09 06:04] blenderben2 opened #865 "[BUG] cannot import name 'mean_absolute_percentage_error' from 'sktime.performance_metrics.forecasting'"
**Describe the bug**

**To Reproduce**
[code]

**Expected behavior**

**Additional context**

**Versions**
sktime: 0.6.0

</details>

[2021-05-09 08:13] mloning commented on #865
Hi @blenderben2 - thanks for opening the issue. Please see #862

[2021-05-09 08:13] #865 closed

[2021-05-10 05:33] thayeylolu commented on #782
Hello @mloning . @smriti111 has not responded and I would like to go ahead with a draft

[2021-05-10 18:49] eyalshafran opened #866 "ExponentialSmoothing results in error for a series with w-sun freq"
I'm using sktime 0.6.0

If I use the following code:

[code]

I get the error below. If I replace the forecaster with something else (e.g. NaiveForecaster) I do not get an error.

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
pandas/_libs/tslibs/timedeltas.pyx in pandas._libs.tslibs.timedeltas

[2021-05-11 01:32] muhlbach commented on #843
@mloning, sorry I didn't get back to you in time. Setting `update_params=False` worked as a charm! For future reference, where can I find the changes you implement from version to version? I haven't been able to locate them online.

[2021-05-12 18:45] mloning commented on #843
Which landing page, on GitHub or on sktime.org? There is a static page here: https://www.sktime.org/en/latest/changelog.html but it's not automated and it doesn't link to GitHub, that's why I prefer the release notes on GitHub. I had a look a automation tools a while ago but didn't find anything to fully automate the process.

[2021-05-12 22:54] discdiver commented on #664
I think it's worth adding to the install instructions that 3.9 is not supported and changing the relevant badge. Right now, the badge just says that 3.6+ is supported.

[2021-05-13 10:15] xuyxu commented on #664
Replace `https://img.shields.io/badge/python-3.6+-blue?logo=python` in [README.rst](https://raw.githubusercontent.com/alan-turing-institute/sktime/main/README.rst) with `https://img.shields.io/pypi/pyversions/sktime`

[2021-05-13 15:54] fkiraly commented on #843
@mloning, both landing pages, I guess? The tables at the top are the same, so I would just add "change log" or "latest release notes" to either. Static link to the static changelog.html should do the job cheaply.

Regarding automation, that could be a "good first issue" - don't know how one would do that, but surely there is someone out there who can do that six times before breakfast.

[2021-05-13 21:47] ckastner opened #868 "[BUG] KeyError when forecasting using non-unit frequencies"
**Describe the bug**

I happen to have a time series with a frequency of 30 minutes. Attempting to use this during forecasting triggers a `KeyError` in pandas.

This is because the datetime module assumes that the frequency is always 1 of some unit, ie `(1, freq)`:

https://github.com/alan-turing-institute/sktime/blob/4be4866ac50f0c6ce422716d529e95bfbf25411d/sktime/utils/datetime.py#L41-L44

Howev

[2021-05-13 22:27] eyalshafran opened #869 "[BUG] can't import performance metrics"
sktime 0.6.0

for example:
`from sktime.performance_metrics.forecasting import MeanAbsolutePercentageError`

gives the following error:

ImportError: cannot import name 'MeanAbsolutePercentageError' from 'sktime.performance_metrics.forecasting' (/opt/anaconda3/lib/python3.8/site-packages/sktime/performance_metrics/forecasting/__init__.py)

[2021-05-14 00:54] RNKuhns commented on #869
@eyalshafran you can access the performance metrics in `sktime.forecasting.all`.

But you raise a good point about the performance_metrics not being available for import from the `performance_metrics.forecasting` sub-module.

I'll talk with @mloning about where we want to make these available in the API.

[2021-05-14 08:36] mloning commented on #664
Thanks @discdiver and @xuyxu - will update the README.

For our current CI setup, we would need miniconda with Python 3.9 on appveyor which isn't there yet (https://www.appveyor.com/docs/windows-images-software/#python), but may be worth switching Windows builds to GitHub Actions or some other CI provider:

[2021-05-14 08:41] mloning commented on #869
I think this is related to https://github.com/alan-turing-institute/sktime/issues/865 - please make sure your version align (the new metrics are on `main` but not in the latest release yet).

[2021-05-14 08:41] #869 closed

[2021-05-14 08:44] mloning commented on #843
Sure, feel free to add the link. We could also have something like a table of contents at the top.

[2021-05-14 08:46] mloning commented on #868
Thanks @ckastner for raising the issue! This is also related to #670.

Would you like to look into this? I would really appreciate a PR!

[2021-05-14 08:51] mloning commented on #866
Thanks, this is also related to #868 I believe.

But have you tried using a `pd.PeriodIndex` as suggested in the error message? This works for me:
[code]

[2021-05-14 09:14] mloning commented on #782
Great @thayeylolu - feel free to go ahead!

[2021-05-14 14:41] #778 closed

[2021-05-14 18:50] SLTaiwo opened #871 "Forecasting multivariate time series in Sktime"
Pls, I'll like to know how to handle forecasting in multivariate time series with sktime.
Let's say I have two time series variables energy load and temperature (or even including 3rd variable, var3) at hourly intervals and I'm interested in forecasting the load demand only  for the next 48hrs.
1- Would it suffice to treat this as a univariate time series forcasting by discarding the other variabl

[2021-05-14 21:55] #847 closed

[2021-05-14 22:08] mloning commented on #860
Thanks @ParthivNaresh for raising the issue here https://github.com/alkaline-ml/pmdarima/issues/429

[2021-05-14 22:13] mloning commented on #860
@ParthivNaresh I believe the issue has been resolved in alkaline-ml/pmdarima#429, I'll close this one here now, but please let me know if the issue persists. Thanks for pushing this!

[2021-05-14 22:13] #860 closed

[2021-05-14 22:23] mloning commented on #871
Hi @SLTaiwo, could you post a minimal, reproducible example of what you have tried so far?

[2021-05-15 10:46] mloning commented on #871
Here's an example:
[code]

[2021-05-15 18:47] fkiraly commented on #871
FY, @SLTaiwo, (re-)designing multivariate forecasting will likely be one of the major topics at this summer's [sktime dev days](https://github.com/alan-turing-institute/sktime/issues/863) - feel free to sign up if you'd like to contribute.

[2021-05-16 05:28] thayeylolu commented on #782
I am on it

[2021-05-16 18:52] RNKuhns commented on #846
I like both of these ideas. I am with @mloning and think it would be useful to include the underlying functionality as transformers and then use the transformers in the plot call.

I also really like @SinghShreya05's idea to include the ability to include a parameter for the type of plot to return. But I think we should generalize this rather than have it specific to plotting image transformations

[2021-05-16 19:46] RNKuhns opened #874 "Add class to run a collection of transformers for data processing"
**Is your feature request related to a problem? Please describe.**
During exploratory data analysis it would be nice to be able to have an easy way to run several transformations (say a box-cox transformation and then a detrender) in the specified order in order to re-use the transformed series for different exploratory data analysis tasks.

**Describe the solution you'd like**
 Sktime has functio

[2021-05-17 18:07] afzal442 commented on #704
Hi @mloning, we have come up with some approaches towards our project that we aim to sum up in recent weeks. We both (Abdul and I) with our mentor have been able to discuss our ideas so far and apply the same with regards to OLS.

[code]
**Output:**
[code]

[code]
**Output:**
[code]

[2021-05-17 18:32] #868 closed

[2021-05-17 19:07] afzal442 commented on #704
**Writing into CSV file to generate table further:**

[code]
O/P:
[code]

[2021-05-18 09:55] tobyhodges commented on #704
It looks like the format of the `__author__` fields are not standardised across the different estimators in `sktime`: some are lists of multiple names (e.g. lines 1&2 above), some are lists with only one name (e.g. lines 3-5 above) and some are strings with a single name (e.g. line 6 above). Furthermore, we noticed that a few individual estimator functions have their own `__author__` field, but th

[2021-05-18 16:02] mloning commented on #704
This looks great! We can also enforce consistent formatting for `__author__` fields if that would make things simpler. Let me know what the next steps are and how we can help!

[2021-05-19 01:51] RNKuhns opened #877 "Create BaseObject"
**Is your feature request related to a problem? Please describe.**
Sktime's `BaseEstimator` inherits from scikit-learn's `BaseEstimator` and adds functionality for getting estimator tags and checking if an estimator has been fitted.

The functionality to check if an estimator is fitted (and the `is_fitted` property) are not needed for "non-fitable" Sktime classes (for instance performance_metrics)

[2021-05-19 05:42] DanieleBaranzini opened #878 "[DOC] Note on approaches to multivariate time series classification"
#### sktime description in "03_classification_multivariate.ipynb" reports:

[... sktime offers three main ways of solving multivariate time series classification problems:

   1.  Concatenation of time series columns into a single long time series column via ColumnConcatenator and apply a classifier to the concatenated data,
   2. Column-wise ensembling via ColumnEnsembleClassifier in which one cl

[2021-05-19 08:06] tobyhodges commented on #704
Thanks for the feedback @mloning. Your perspective will be very helpful here: how common do you think it is/would be for a module to contain functions written by different authors? If it is a frequent occurance, or you predict that it may become one, I would suggest individual `__author__` fields for all functions in the library. If not, then the current approach is probably fine; it doesn't take

[2021-05-19 11:32] fkiraly commented on #704
really nice, @afzal442!

Indeed, we may like to standardize the author field.

Replying to @tobyhodges:

In the ownership model we´ve worked out, I think we assume:
* ownership (as opposed to contributorship) should extend over entire files/folders. That would correspond to the `CODEOWNERS` formalism. I think that is currently not retrieved by the approach, but would be great.
* authorship or cont

[2021-05-19 11:33] fkiraly commented on #704
More generally, it would be nice if:
* code owners would also be retrieved
* the (scientific) type of the algorithm would be retrieved or inferred

[2021-05-19 11:43] tobyhodges commented on #704
This is very helpful thanks @fkiraly. I was unaware of `CODEOWNERS` until you mentioned it here. I will read into it and raise for further discussion with @afzal442  & @abdulelahsm

To make sure I am understanding correctly: by

you mean whether the algorithm is for _classification_, _forecasting_, etc?

[2021-05-19 12:02] fkiraly commented on #704
precisely! And, if it's a transformer, what kind of transformer, etc.

[2021-05-19 15:52] thayeylolu opened #880 "fit method argument does not accept numpy.ndarray"
**Is your feature request related to a problem? Please describe.**
fit method argument of ARIMA throws error if argument is a numpy array.

**Describe the solution you'd like**
Allowing automatic casting of numpy.ndarray argument to pd.Series argument in fit method

**Describe alternatives you've considered**
converting the numpy array to a series `forecaster.fit(pd.Series(y))`

**Additional conte

[2021-05-19 17:12] yunusrf commented on #871
With the sample code getting the following error:
predict() got an unexpected keyword argument 'X'.

sklearn version : 0.24.2
sktime version :0.6.1

[2021-05-19 17:18] mloning commented on #704
@tobyhodges let's enforce `__author__` to always be of list type. We can fix the existing values in a separate PR.

I agree with @fkiraly that it's easiest for now to assume authorship/ownership on a file level. Most major algorithms live in separate files.

[2021-05-19 17:26] mloning commented on #871
@yunusrf I cannot reproduce this, it works for me on the same version. @SLTaiwo does it work for you or do you see the same error?

[2021-05-19 17:31] afzal442 commented on #704
Thanks @fkiraly, @mloning for your feedback. Could you look around this comment that how the result looks like at https://github.com/afzal442/DocumentationEnhancementAtsktime/pull/6#issuecomment-843845485 where Toby shared his screenshot of a table of Algorithm Status in index.rst file?

[2021-05-19 17:31] yunusrf commented on #871
![testing_multiple exogenous variables](https://user-images.githubusercontent.com/1234047/118857724-079fd600-b8e1-11eb-839d-6e1b52f7c087.png)

I may be missing something. Please see the snapshot of dev environment.

[2021-05-19 19:45] mloning commented on #871
@yunusrf looks like the error comes from `pmdarima` - which `pmdarima` version do you use?

[2021-05-19 20:51] mloning commented on #704
@afzal442 that looks really good, more than happy to add this to the docs! How do you generate the underlying CSV file?

[2021-05-20 05:44] yunusrf commented on #871
Yes, you are correct. There was an issue with this package. Created a fresh environment and installed pmdarima-1.8.2. Code is working now. Thank you very much for your prompt reply. Appreciate hard work from the entire team.

[2021-05-20 07:11] mloning commented on #871
I close this issue now, @SLTaiwo please feel free to reopen if anything is still unclear.

[2021-05-20 07:11] #871 closed

[2021-05-20 07:21] SveaMeyer13 opened #881 "[DOC] UEA-UCR download function is not easy to find"
#### Describe the issue linked to the documentation
- Users might not know that the UEA_UCR download function is related to http://www.timeseriesclassification.com/ and its datasets
- From the documentation it is not clear which strings to use

#### Suggest a potential alternative/fix
- add link to datasets in doc http://www.timeseriesclassification.com/dataset.php
- let people know where to find

[2021-05-20 11:24] Dbhasin1 opened #882 "The function 'plot_series' should accept series with different index types"
**Is your feature request related to a problem? Please describe.**
The plot_series function throws an error when multiple series with different index types are passed as parameters.

**Describe the solution you'd like**
The function should include implicit type casting of the series' indexes

**Describe alternatives you've considered**
Manually converting the datatype of the series' indexes before

[2021-05-20 13:12] marcio55afr opened #883 "[BUG] can't run Evaluator(results).fit_runtime() with datatimes as strings"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

System:
    python: 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\marci\anaconda3\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
          pip: 21.0.1
   setuptools: 52.0.0.post20210125
      sklearn: 0.24.1

[2021-05-20 14:55] mloning opened #884 "[DOC] Fix docstrings for doc sprint"
#### Describe the issue linked to the documentation
#863

#### Easy files to fix
* https://github.com/alan-turing-institute/sktime/blob/77c2547b7f05e2975962eca749d4c9f4f2b8468e/sktime/utils/_maint/_show_versions.py
* https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/series/boxcox.py
* https://github.com/alan-turing-institute/sktime/blob/main/sktime/transformations/se

[2021-05-20 14:58] GuzalBulatova commented on #884
Working on fixing `transformations/series/boxcox.py` 🤖

[2021-05-20 15:08] mloning commented on #882
[code]

[2021-05-20 20:37] paulttt commented on #842
Hi guys!
FYI, I was also trying to run HIVE-COTE v1 today. I got confronted with the following error. Any help is appreciated if that is a known bug and/or I make something wrong here. My data is of shape X_train = (N_samples, 1, time_bins) and y_train = (N_samples,) with y_train = [0, 1].

`RuntimeError                              Traceback (most recent call last)
<ipython-input-18-815c2880dcd0>

[2021-05-20 20:44] mloning commented on #883
Thanks @marcio55afr - would you like to open a PR? @ViktorKaz do you want to look into this too?

[2021-05-20 21:29] mloning commented on #805
@ParthivNaresh could you confirm if this is still an issue with the latest code on `main` after having merged #873?

[2021-05-20 23:41] vherrera96 opened #893 "np.int is a deprecated"
https://github.com/alan-turing-institute/sktime/blob/c611e6a3587d7b3a44cb7deefd4b6baa4897fc9b/sktime/forecasting/base/_fh.py#L92
Throws

Should `np.int` be removed, replaced with `int` or should the warning just be ignored.

[2021-05-20 23:49] vherrera96 opened #894 "np.float is a deprecated"
https://github.com/alan-turing-institute/sktime/blob/c611e6a3587d7b3a44cb7deefd4b6baa4897fc9b/sktime/transformations/base.py#L21
Throws

Should `np.float` be removed, replaced with `np.float64` or should the warning just be ignored.

[2021-05-21 05:27] gulstein86 opened #895 "[BUG] HIVE-COTE having issue with RISE implementation"
**Describe the bug**

This is my first time writing an issue in github for other project. I've been trying to run HIVE-COTE with stable sktime from the pypi. So far the model running fine start with STC and TSF however it have a problem with RISE. Already change multiple parameter in `rise_params={'min_interval':1}` but still having the same issue. The data loaded directly from the package itself

[2021-05-21 07:52] mloning commented on #893
Hi @vherrera96, given that it's an integer index, I think we can remove it. If that breaks anything, we should replace it with `int`.

[2021-05-21 07:53] mloning commented on #894
Hi @vherrera96, same here as in #893: I think we can remove it. If that breaks anything, we should replace it with `np.float64`.

[2021-05-21 08:19] MatthewMiddlehurst commented on #895
Thanks for raising an issue, I will take a look now since its doing this on one of the UCR datasets.

[2021-05-21 08:22] MatthewMiddlehurst commented on #842
Hi @paultt, its hard to know exactly whats going on without knowing a bit about the data. STC is definetly one of the more under-developed classifiers. We are hoping to sort out all our sktime classifiers after this teaching term ends.

[2021-05-21 10:08] paulttt commented on #842
Hi @MatthewMiddlehurst,
Thanks for the feedback! I will try to train my data on the shapelet classifier only and see if I face similar problems.
I use continuous-time signals recorded from 5500 neurons. So far, I had no problems with any classification model. The exact shape is (5500, 1, 1750).

[2021-05-21 10:43] SLTaiwo commented on #871
@yunusrf, was fine for me. Thanks @mloning

[2021-05-21 12:36] #881 closed

[2021-05-21 13:51] MatthewMiddlehurst commented on #895
Hi @gulstein86, default HC1 runs correctly, but setting rise_params={'min_interval':1} breaks it for me as well. This makes sense, as you cant really generate any useful information with a subseries of length 1 and its not set up the handle that. If you still want to lower the min_interval for RISE, rise_params={'min_interval':3} would be the lowest I would go (I was able to run this on IPD).

We

[2021-05-21 14:40] MatthewMiddlehurst commented on #842
Im a bit late for the previous comments on this issue, but when it comes to preprocessing I would look at the data_loading and classification notebooks in the examples folder. HIVE-COTE uses the same data format as other sktime classifiers. HIVE-COTE can only take univairate data currently, not datasets with multiple series per instance.

[2021-05-21 14:59] MatthewMiddlehurst opened #898 "ShapeletTransformClassifier n_shapelets Parameter"
The ShapeletTransformClassifier currently requires an amount of time in minutes as a parameter to determine how long it should search for shapelets (transform_contract_in_mins). It would be better if there was an alternate parameter giving a set number of shapelets i.e. n_shapelets.

Beyond general usability, mandatory contracting causes some issues for unit testing (STC specifically excludes chec

[2021-05-21 15:16] gulstein86 commented on #895
I have tested and verify its working fine @MatthewMiddlehurst . Sorry, I just play around with all the parameter including RISE param and set the min_interval to 1 and 2. I thought it's the other RISE parameters such as n_estimators, acf_lag etc that cause the issue.

I thought having low number will help me to test the model faster. I should have read the paper and relate to the model.

[code]
Re

[2021-05-21 15:46] MatthewMiddlehurst commented on #895
Not your issue, expecting everyone to understand every parameter for all these classifiers is unreasonable. Values which will break the classifier should throw an understandable error.

Will close this when RISE has been changed.

[2021-05-21 16:09] MatthewMiddlehurst opened #899 "Unit testing for contracted classifiers and train estimates"
Pre-empting this somewhat, but over the summer we plan to expand and standardise contracting (#159) and generation of train estimates (#727) for classifiers. This would be through a standard parameter name i.e. _time_limit_in_minutes_ or method __get_train_probs_, though this hasn't been decided.

It would be good to have unit tests for these similar to the _n_jobs_ parameter for parallelisation w

[2021-05-21 16:44] vherrera96 commented on #893
Of course, @mloning! I will take care of it. Could you assign this issue to me?

[2021-05-21 16:45] vherrera96 commented on #894
@mloning could you assign me this issue too, please.

[2021-05-21 17:54] TonyBagnall commented on #895
thanks for pointing this out, it should indeed throw an exception, these are the sort improvements we can work on over the summer. I'll check on what tsml defaults to

[2021-05-21 18:38] aiwalter commented on #874
@RNKuhns lets integrate this into `TransformedTargetForecaster`? I will then also have it in the future `ForecastingPipeline`..

[2021-05-22 11:38] afzal442 opened #901 "[DOC]Sphinx build error while running make docs command"
#### Describe the issue linked to the documentation

To build the website locally as described in the contributing [guide](https://github.com/alan-turing-institute/sktime/blob/main/CONTRIBUTING.md#documentation), make docs command throws an error as below.
[code]

#### Suggest a potential alternative/fix

To enable it to be run first change the directory to docs as `cd docs` in the command termina

[2021-05-22 14:26] afzal442 commented on #704
Hi @mloning, @fkiraly! Now the updated code you can find as below:

[code]

Output as what it produces:

Class_Name | Class_ID | Estimator_Types | Authors
-- | -- | -- | --
ARIMA | &lt;class ‘sktime.forecasting.arima.ARIMA’&gt; | forecasting | Markus Löning &amp; Hongyi Yang
AutoARIMA | &lt;class ‘sktime.forecasting.arima.AutoARIMA’&gt; | forecasting | Markus Löning &amp; Hongyi Yang
AutoCorrelati

[2021-05-22 14:41] afzal442 commented on #704
@mloning for code-owners to be included and achievable, could you remove .py linked with some of the class strings and also remove a space among some lines of the code? like https://github.com/alan-turing-institute/sktime/blob/8f15cc3b400ec5d557ddd6de95ae9aba89770168/CODEOWNERS#L17

[code]

[2021-05-23 09:38] fkiraly commented on #704
Brilliant, @afzal442 & @abdulelahsm!

I was wondering, is there any way to let users order or filter the table, like excel does?

Probably rst can't do this, but could the table be externally linked by the main docs, say?

[2021-05-24 00:33] ViktorKaz commented on #883
@mloning happy to help with this. @marcio55afr let me know if you are interested in opening a PR otherwise I will do it.

[2021-05-24 09:56] thePworeo commented on #863
Hello,
in context of my semester thesis i try to use sktime for time series classification. Unfortunately i have missed the onboarding days. Would it be possible to get the documents used for tutorials and similar?

[2021-05-24 15:32] marcio55afr commented on #883
@ViktorKaz I prefer you doing it, I don't know if my solution is a good one but if it is just copy from the "Additional Context", no problem.
Thank you for the responses @mloning  @ViktorKaz

[2021-05-24 15:46] afzal442 commented on #704
Thanks @fkiraly for your remarks.

I think using sphinx, this is not achievable.

Yes Sir, this is possible. Should we link the class name or class id to its docs file?

[2021-05-24 16:24] thayeylolu commented on #782
I think my first version of the implementation is a bit different from this.
[code]
where steps is
[code]

without the forecaster

[2021-05-24 18:56] fkiraly commented on #863
sure, material from past workshops is here: https://github.com/sktime/sktime-workshop

For the introduction, I´d recommend to watch our youtube video: https://www.youtube.com/watch?v=wqQKFu41FIw

[2021-05-24 19:08] #884 closed

[2021-05-25 17:03] afzal442 commented on #704
Thanks @tobyhodges for your suggestion during the discussion. Plz have a look at the screenshot below after rendering CSV to HTML page using [csvtotable](https://github.com/vividvilla/csvtotable/) tool.

![c2](https://user-images.githubusercontent.com/11625672/119538918-361e2500-bda9-11eb-9a6a-9c588273f968.JPG)

[2021-05-25 20:24] fkiraly commented on #704
@afzal442, @abdulelahsm, @tobyhodges, I'm impressed!

Now all that remains is to plug things together - I guess we can use GitHub actions for that?

[2021-05-26 04:46] prasadovhal opened #903 "[BUG]"
** TypeError: predict() got an unexpected keyword argument 'X'**

**To Reproduce**

[code]
from sktime.datasets import load_airline
from sktime.forecasting.arima import AutoARIMA
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.performance_metrics.forecasting import mean_absolute_percentage_error

y = load_airline()
y_train, y_test = temporal_train_test_split(y,

[2021-05-26 11:00] ksaurabh21 opened #904 "Not able to install sktime"
Unable to install sktime. I am getting the attached error:
![image (5)](https://user-images.githubusercontent.com/7358203/119648878-98c20000-be3f-11eb-9d15-dba262f7324c.png)

[2021-05-26 11:47] ltsaprounis opened #905 "tsfeatures in sktime"
tsfeatures is a popular R package that gives a lot of important time series features and really helps with EDA and modelling.
There are various implementations of this in R and python:
- [original R tsfeatures](https://cran.r-project.org/web/packages/tsfeatures/vignettes/tsfeatures.html)
- [python tsfeatures](https://github.com/FedericoGarza/tsfeatures)
- [featsts - R tidyverts alternative](https:

[2021-05-26 15:09] afzal442 commented on #704
Yes @fkiraly! We have been able to develop a Web page for estimator overview. And now our steps would be
![c4](https://user-images.githubusercontent.com/11625672/119684775-670e6080-be62-11eb-802c-17ceb7108220.JPG)

- [ ] how we can link each class name to its code if possible. Cuz that would be easier for a user to directly go to the respective code.
- [ ] how we can use gh actions for that

[2021-05-27 02:42] aiwalter commented on #903
Pls make sure to paste the code into the right place. Seems you did not define `fh`?

[2021-05-27 02:49] aiwalter commented on #904
Pls use the issue template and provide required information.

[2021-05-27 08:50] TonyBagnall opened #906 "[DOC] Comments from implementing doc strings in all classifiers"
Using this to make some observations on very minor possible code improvements observed as adding doc strings to all classifiers

1. dictionary based:
    a. they all use a list comprehension to find the bespoke distance. This can probably be converted to use numba
    b. weaasel and muse copy the differences into the attribute data in the wrong place (purely due to names used)

2. Distance based:

[2021-05-27 15:24] Flix6x opened #907 "[BUG] Seasonal periodicity seems to work incorrectly (at least for naive forecasts with mean strategy)"
**Describe the bug**

The interpretation of seasonal periodicity seems to be off by a number of steps in some cases, resulting in shifted forecasts.

**To Reproduce**

[code]

**Expected behavior**

[code]

**Additional context**

In the above, `sp=3` gives forecasts shifted by 1 step. Changing `sp=3` to `sp=1`, `sp=2` or `sp=4` all yield results as expected. With a training dataset of 5 hours and

[2021-05-27 17:09] fkiraly commented on #907
Huh, weird - but my educated guess (looking at outputs but not the code) would be the same: namely, that remainder is taken from the start of the series, not from the end, which is a problem only if training set size is not divisible by periodicity.

[2021-05-27 19:00] TonyBagnall opened #908 "series_as_features.base.estimators.interval_based"
I'm not sure why this exists and is in this location, may be some legacy code. It should be integrated into classification I think

![image](https://user-images.githubusercontent.com/9594042/119882184-08aab600-bf26-11eb-903b-b01464a6c512.png)

[2021-05-28 16:59] wangbingnan136 opened #909 "Can sktime deal with multiple time series forecasting？"
I have read all the tutorials of sktime,but I did not find any tutorial or API about multiple time series forecasting?Can anyone help?

[2021-05-29 20:52] Yard1 opened #910 "[BUG] Prophet adapter fails to clone after setting parameters"
**Describe the bug**

Using sklearn's `clone` on `Prophet` after either `seasonality_prior_scale`, `changepoint_prior_scale` or `holidays_prior_scale` were set with a non-float value through `set_params` will raise a `RuntimeError` during cloning. This is due to the `float` conversion happening in `__init__`, which is against what sklearn expects during cloning - it expects that all of the values

[2021-05-29 20:55] Yard1 commented on #910
Added a PR fixing the issue.

[2021-05-30 17:16] tombh opened #913 "Installation fails because of missing include for limits.h"
**Describe the bug**
When installing with `pip install sktime`, I get:
[code]

**To Reproduce**
I have a standard, up to date, Arch Linux system

**Additional context**
This fixes the problem:
`CPLUS_INCLUDE_PATH=/usr/lib/gcc/x86_64-pc-linux-gnu/11.1.0/include-fixed/limits.h pip install sktime`

**Versions**
python: 3.9.5
gcc: 11.1.0

[2021-05-30 18:01] tombh commented on #913
This commit also fixes it: https://github.com/tombh/sktime/commit/53df0b9ed9d1fd800539165c414cc5611bcc56b3

[2021-05-31 08:35] mloning commented on #904
@ksaurabh21 seems like we don't provide a wheel for your platform, which operating system are you on?

[2021-05-31 08:42] mloning commented on #905
Thanks @ltsaprounis for the feature request. Note that we you can already use `tsfresh` (and possibly `catch22` too, at least it's in development). An adapter to Python's tsfeatures would be nice if they add functionality beyond the existing one. We would welcome a PR!

[2021-05-31 08:46] mloning commented on #909
Hi @wangbingnan136, what do you mean by multiple time series forecasting? Predicting multiple series (multivariate forecasting) or predicting a single series from multiple series (forecasting with exogenous data)?

sktime currently forecasting with exogenous data. For multivariate forecasting, there are ongoing development efforts (https://github.com/sktime/enhancement-proposals/pull/4).

[2021-05-31 08:48] mloning commented on #907
Thanks @Flix6x would you like to open a PR to fix this? The code lives [here](https://github.com/alan-turing-institute/sktime/blob/main/sktime/forecasting/naive.py).

[2021-05-31 08:49] mloning commented on #908
This is where code lives shared between classifiers and regressors. Happy to move this somewhere else but classification doesn't seem like the right place if it's shared by regressors.

[2021-05-31 08:49] #908 closed

[2021-05-31 08:54] mloning commented on #913
Thanks @tombh, would you like to open a PR? @lnthach what do you think?

[2021-05-31 08:58] mloning commented on #704
Great work @afzal442, @abdulelahsm and @tobyhodges! Looking forward to seeing it in action. Let me know if you any questions about setting up GitHub Actions.

[2021-05-31 09:03] mloning commented on #910
Thanks @Yard1

[2021-05-31 09:17] TonyBagnall commented on #908
I think it should be in classification or utilities and avoid cloning, especially whilst regression is in development but I'll take a closer look

[2021-05-31 09:28] ksaurabh21 commented on #904
Here are the os details:

NAME="Red Hat Enterprise Linux Server"
VERSION="7.9 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.9"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.9 (Maipo)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o
enterprise_linux:7.9
server"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"
REDHAT_BUGZILLA_PRODUCT="Red

[2021-05-31 10:19] mloning commented on #904
You could try to use a more recent Python and/or sktime version. Otherwise see if the advanced installation instructions help you to compile sktime on your platform: https://www.sktime.org/en/latest/installation.html

[2021-05-31 10:42] fkiraly commented on #704
Indeed, looks brilliant!
I wonder where the best place for a link is in the docs.

[2021-05-31 15:58] tombh commented on #913
Submitted 🤓

[2021-05-31 16:54] afzal442 commented on #704
Thanks again Markus, Franz. A huge shout out to Toby for building our foundation, helping us reach our milestone.

I think we can create another file namely estimator_overview.rst where we can link our HTML file.

[2021-05-31 20:03] Flix6x commented on #907
Sure, I'll give it a go.

[2021-06-01 03:46] asernat opened #916 "[BUG] error_score not working in ForecastingGridSearchCV"
**Describe the bug**
error_score not working in ForecastingGridSearchCV

[2021-06-01 09:13] Flix6x opened #918 "[BUG] Naive model with last strategy is sensitive to trailing NaN values"
**Describe the bug**

The naive model with "last" strategy really picks the last value, even if that's a NaN value. Can we make this more robust, similar to how the "mean" strategy actually does a `nanmean` under the hood? I could offer a PR to make it pick the last non-NaN value, taking into account the requested seasonal periodicity.

**To Reproduce**

[code]

**Expected behavior**

**Additional

[2021-06-01 13:21] wangbingnan136 commented on #909
Hello,sir,thanks for your reply! For example,the kaggle web traffic competition,I need to use many traffic data from different web pages,and I need to build only one model on thousands of different time series data of different pages to learning the potential pattern among all the pages,and the I can use one model to forecast different pages.This is the explanation of multiple time series forecast

[2021-06-01 16:06] mloning commented on #909
Okay, I would call this cross-learning or panel forecasting, it's currently not supported but on the roadmap.

[2021-06-01 16:07] mloning commented on #916
@asernat Please add a minimal reproducible example. I'm not sure what you mean.

[2021-06-01 16:15] mloning commented on #918
Hi @Flix6x, yes that makes sense, would appreciate the PR! Let me know if you need help with the recently introduced docstring tests which will require some fixes beyond your suggested changes I believe.

We should also think about adding that to the input checks (e.g. `check_y(..., allow_nan=True)` which by default is set `False` and raises an error if data with missing data is passed, but that m

[2021-06-01 16:36] wangbingnan136 commented on #909
Thanks for your reply!

[2021-06-01 16:43] fkiraly opened #920 "Issues for the 2021 summer dev sprint"
This issue collects some good issues to work on during the 2021 summer dev sprint (#863).
Will consolidate things in the first post, but please free to discuss and suggest in reply posts.

* Refactor Theta and implement AutoTheta (https://github.com/alan-turing-institute/sktime/discussions/854)
* Implement annotation module (#838)

[2021-06-01 16:55] #909 closed

[2021-06-01 17:54] #913 closed

[2021-06-02 11:19] thePworeo commented on #863
Thank you very much, I am sorry to answer that late.
Unfortunately the link to the workshop materials does not work, github raises an 404 error.
I already watched the youtube video, but I was looking for some deeper information. I am especially interested in time series classification since i am currently working on my semester thesis about condition monitoring of machine tools through analysing d

[2021-06-02 14:34] fkiraly commented on #863
Oh, very sorry - I must have cut off the last letter when I copy-pasted. Please try again.

We'd appreciate any feedback on how to improve tutorials and documentation - what would you like to see, what makes it hard?

We know that it's grown a bit organically and is currently not as nice as it could be. Improving documentation and tutorials will be one of the larger topics at the summer dev days.

[2021-06-02 14:48] thePworeo commented on #863
Ah perfect, now the link works!
I'll work through the tutorials and workshops the next days. I will be happy to give you feedback after that as well!
My main problem are the documentation and little number of examples, but i also admit not to be a professional concerning machine learning algorithms.
Probably I will spend at least the next 3-4 weeks working with sktime and I will be happy to share

[2021-06-02 18:56] afzal442 commented on #704
Latest update to our work, plz have a look at this:

https://user-images.githubusercontent.com/11625672/120536869-3ac68700-c402-11eb-9587-97e4b6dca942.mp4

We need GH action to do the rest.

[2021-06-03 08:23] fkiraly commented on #905
this should be a series-to-primitives transformer, right?

[2021-06-03 11:51] mloning commented on #905
At the lowest level, in theory, yes. But may be easier to write this as a panel-to-tabular transformer.

[2021-06-03 11:55] mloning commented on #712
Closed by #858

[2021-06-03 11:55] #712 closed

[2021-06-03 11:55] mloning commented on #857
This is now fixed by #858

[2021-06-03 12:25] fkiraly commented on #905
Guess whichever suits you best, @ltsaprounis? Looking forward to this.

[2021-06-03 17:59] ltsaprounis commented on #905
Thanks both! I had a look at `catch22` and `tsfresh` after @mloning's  comment. I think `tsfeatures` has a slightly different functionality as it pulls features that are also useful for EDA e.g. spectral entropy or more classical features like the Guerrero lambda.

Panel-to-tabular sounds good! Input panel data and get a pandas DataFrame as the output, where each row is a time series and the colum

[2021-06-03 18:07] GuzalBulatova opened #922 "Implement ThetaLines transformer"
**References re-design of Theta Forecaster #854**

**Describe the solution you'd like**
Implement `ThetaLines` series to series transformer to decompose original data (univariate series) into theta lines for Theta forecaster .

**Related issues:**
Poor Theta model predictions #421
Implementation of AutoTheta Forecaster #738

**Existing implementations:**
- in sktime `sktime/forecasting/theta.py` (

[2021-06-03 19:16] MatthewMiddlehurst commented on #302
Using write_dataframe_to_tsfile() recently it output some rows in scientific format i.e. 2.61E+02, 2.61E+02: 0.0.

Is this an intended output? It only happened to ~6 rows in thousands of time series.

[2021-06-03 20:56] Lovkush-A commented on #922
@GuzalBulatova Very thorough description! I look forward to seeing how this progresses. Happy to help out if I can.

[2021-06-04 02:25] afzal442 opened #924 "[DOC]Install requirements for WSL2 in installation guide"
#### Describe the issue linked to the documentation
It has come to my attention that in order to run `sktime` under WSL2, we should follow the Ubuntu linux instructions.

We should include a `..note` directive in the windows instructions pointing to the linux ones for users of WSL2 as their platform.

[2021-06-04 07:22] GuzalBulatova commented on #922
@Lovkush-A Thank you Lovkush, I appreciate it, reviews and general feedback would help a lot! 🚀

[2021-06-04 10:10] TonyBagnall commented on #920
1. Redesign and unify the unit tests for classification

[2021-06-04 11:30] fkiraly commented on #920
this is issues, high-level brainstorming is here:
https://github.com/alan-turing-institute/sktime/discussions/919

good idea, btw - perhaps also an interface refactor with input/output checks?

[2021-06-04 18:04] zollen opened #927 "[DOC] TransformedTargetForecaster missing"
For example:
model = TransformedTargetForecaster(
    [
        ("deseasonalize", Deseasonalizer(model="multiplicative", sp=4)),
        ("detrend", Detrender(forecaster=PolynomialTrendForecaster(degree=1))),
        (
        "forecast",
            make_reduction(
                LinearRegression(),
                scitype="tabular-regressor",
                window_length=15,
                st

[2021-06-04 18:34] TonyBagnall opened #928 "Classifier Interface"
I think we should consider adding return types to the BaseClassifier abstract class, Chris's draft for the clusterer

![image](https://user-images.githubusercontent.com/9594042/120847716-c4459880-c56b-11eb-9b9e-7cac4a7a0527.png)

seems much more intuitive to me than the BaseClassifier

![image](https://user-images.githubusercontent.com/9594042/120847781-dcb5b300-c56b-11eb-9bec-2fbca5c80cdf.png)

h

[2021-06-04 19:03] GitHunter0 opened #929 "[ENH] VAR and VECM models"
@fkiraly update: almost done, all that is missing is `predict_interval` for VECM.

---

@fkiraly's summary of the discussion:

We should interface VAR and VECM from `statsmodels`.

- [x] VAR #1083, #1491
- [x] VECM #1141, #2829

---

Have you considered porting `Vector Autoregressions (VAR)` and `Vector Error Correction Models (VECM)` from [statsmodels](https://www.statsmodels.org/dev/vector_ar.ht

[2021-06-04 20:18] fkiraly commented on #929
we first need to consolidate the multivariate forecasting interface, see #919 and #228

[2021-06-04 20:18] fkiraly commented on #929
but yes, important next step - join the dev days if interested #863

[2021-06-04 20:20] fkiraly commented on #704
@afzal442, @abdulelahsm and @tobyhodges, is there a pull request for this? Might be a good time to get some reviews.

[2021-06-04 20:28] GitHunter0 commented on #929
I'm very glad to know, thank you for the feedback

[2021-06-04 21:44] chrisholder commented on #501
Going to start reviving this issue as the base clustering and the initial partitioning based algorithms have been implemented. At the time of writing all the clustering code is on the 'clustering' branch and will hopefully be merged in this weekend to main. In this clustering branch the base classes, K-means and K-medoids (soon to be followed by K-shapes just finishing the docstring for it) have b

[2021-06-04 21:56] chrisholder commented on #501
Just going to follow this comment up with how im going about deciding what to implement and where im referencing most of my stuff. At the moment im basically just implementing the state of the art for partitioning as it is the most immediate algorithms I need for my Masters. What I am hoping to achieve over the rest of summer is to get to the same point in terms of algorithm coverage as the 'leadi

[2021-06-04 21:56] mloning commented on #927
Thanks @zollen for raising the issue, would appreciate a PR for it.

[2021-06-04 22:05] zollen commented on #927
What is PR?

BTW the logic (if correct) also suggests TransformedTargetForecaster manages the ta

[code]

****Correct View of how TransformedTargetForecaster works**
TransformedTargetForecaster
   calls Task1
               calls Task2
                           calls Task3**

[2021-06-04 22:53] fkiraly commented on #927
Power Ranger, progesterone receptor, the class of primitive recursive functions, or a pull request, depending on context.

PR is the main way to contribute code to sktime!
Here's a great learing resource about the basics: https://lab.github.com/githubtraining/introduction-to-github

[2021-06-05 09:33] mloning commented on #927
Hi @zollen, was the issue resolved?

[2021-06-05 09:40] zollen commented on #927
Let's pretend so.

[2021-06-05 11:02] afzal442 commented on #704
Sorry @fkiraly! Let me draft a PR for this now.

[2021-06-05 11:34] fkiraly commented on #927
Hm, I thought there was an action here - the documentation should be updated?
What do you think, @zollen, would be the main action here?

Many apologies if my response (about PR) caused offense, it was meant to be entertaining and educating, not as patronizing, but not sure whether that came across. Sorry again.

[2021-06-05 11:51] zollen commented on #927
Don't worry. I should be the one who do the apology as I closed the ticket without much comments.
I don't think it is an issue. I guess whoever uses this awesome mktime package should have already understood how arima works anyway.

[2021-06-06 14:56] zollen opened #931 "Exposing AIC, BIC and HQIC from sktime models via get_fitted_params"
After fitting a time series model (i.e. ARIMA, AutoETS...etc), there is no way to retrieve individual fitting scores (i.e. AIC, BIC, HQIC..etc) for evaluation.

The following key does not exists
model.get_fitted_params()['aic']
model.get_fitted_params()['bic']
model.get_fitted_params()['hqic']

[2021-06-07 07:40] #910 closed

[2021-06-07 19:46] TonyBagnall opened #932 "[DOC] Add example to docstring"
#### Describe the issue linked to the documentation
add an usage Example to the docstring for each classifier

    Example
    -------

the best idea would be to do one, run it past us, then duplicate for others.

[2021-06-08 00:32] tabhishek432 commented on #745
Hi, is anyone currently working on this issue? If not, can I work on this issue?

[2021-06-08 15:47] TonyBagnall commented on #501
thanks Chris, I'll list some points here
1. Data checking: I've added check_X(X) to fit and predict, it should work
2. numpy input and/or conversion from pandas. It would be good to allow numpy flat input, series as rows, and fairly easy to add. Conversion can be tidied up
3. Distance matrix input. Can it be set up for this rather than a distance function, even if its just wrapping scikit learn?

[2021-06-08 16:59] mloning commented on #745
Hi @tabhishek432, this is a more advanced issue, if you're confident you can tackle it, you're welcome to work on it. If you first want to become a bit more familiar with sktime, perhaps this one is a good starting point: https://github.com/alan-turing-institute/sktime/issues/932

[2021-06-08 16:59] mloning commented on #932
For an example, see https://github.com/alan-turing-institute/sktime/blob/ce73505e104691e0d3a2e130e1af12709df764a0/sktime/transformations/series/boxcox.py#L29

[2021-06-09 00:08] RNKuhns opened #935 "Implement Series-to-Series Transformer to difference a time series"
**Is your feature request related to a problem? Please describe.**
Sktime currently does not include a stand alone transformer to apply a set of differences to a time series. Differencing is common in time series forecasting (to among other things ensure a time series is stationary before using a model that assumes stationarity).

This feature would be useful in forecasting pipelines (e.g. `Transf

[2021-06-09 00:10] RNKuhns commented on #935
I've got the code to perform the transformation ready to go and have started to work through the `inverse_transform`.

Will push a draft PR for this in the next day or two to get feedback on the code.

[2021-06-09 00:14] RNKuhns commented on #817
This was closed by #850.

[2021-06-09 00:14] #817 closed

[2021-06-09 00:37] RNKuhns commented on #745
@mloning and @fkiraly don't want to make things more confusing, but my memory is fuzzy on our discussion.

About the assumption that the input `y_pred` would be real valued or categorical.

The more I'm thinking about it, having `y_pred` be real valued at input makes more sense because real valued `y_pred` is needed (along with bins) to calculate the "increase" or "decrease" (or more generally the

[2021-06-09 06:55] TonyBagnall commented on #932
Hi, sure, if you do one classifier first, say TSF, we can go from there

[2021-06-09 06:56] TonyBagnall commented on #932
I may ask others to do some too as a kick off task

[2021-06-09 08:58] #895 closed

[2021-06-09 09:08] TonyBagnall opened #936 "[DOC] More information on classifier parameters and useful actions with invalid parameters"
The classifiers have many and varied parameters. Most could be improved with

1. Clearer description of the parameter meaning
2. Action/exceptions thrown when the classifier is parameterised in a way that will make it crash

For example, see this issue for the RISE classifier.
https://github.com/alan-turing-institute/sktime/issues/895

some checks can be done when the classifier is constructed, bu

[2021-06-09 11:10] tabhishek432 commented on #932
Hello Sir, I've made a pull request as an example to add example to docstring of tsf classifier. Kindly review it: https://github.com/alan-turing-institute/sktime/pull/937#issue-665796601

[2021-06-09 12:31] ltsaprounis commented on #931
For both AutoETS and AutoARIMA you can view AIC, BIC and HQIC (and anything else you need to know) via the summary method: `forecaster.summary()`. For AutoETS models you can also get them through `forecaster._fitted_forecaster.bic`

[2021-06-09 14:06] zollen commented on #931
I was hoping I am able to retrieve parameter for evaulation. Of course I knew about the summary()

[2021-06-09 15:11] ltsaprounis commented on #931
OK that makes sense - You need to do some digging to reach the fitted forecaster class from statsmodels etc.
Here is a summary on how to access them for a few of the classes:
- **AutoETS:** `forecaster._fitted_forecaster.bic` relevant class is [ETSResults](https://www.statsmodels.org/dev/generated/statsmodels.tsa.exponential_smoothing.ets.ETSResults.html?highlight=etsresults#statsmodels.tsa.expone

[2021-06-09 15:21] zollen commented on #931
Good enough for me. Thanks.

[2021-06-09 15:40] aiwalter commented on #935
@RNKuhns

[2021-06-09 15:43] aiwalter commented on #935
@RNKuhns nice idea! However, I didnt get why to inherit from `BaseForecaster` in your second option bcz we wont be able to forecast anything with such a transformer, right? How will you deal with `NaN`s that are created when differencing? How does it affect `inverse_transform`?
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.c

[2021-06-09 17:54] fkiraly commented on #935
Also, minor questions:
* the inverse of differencing is not unique, only up to a constant. Do you just use (iterative) cumulative sum?
* do you want to consider fractional differences?

[2021-06-09 17:56] fkiraly commented on #931
But I think it should be possible using the commands as proposed initially - opening this back up hence.

I also think it´s a good first issue, since it just needs a loopthrough to `get_fitted_params` (plus documentation) which is straightforward to implement.

[2021-06-09 17:57] fkiraly commented on #931
(no need for you to do this, @zollen, but so that someone else can pick this up)

[2021-06-09 18:43] Vaderv opened #938 "TypeError: predict() got an unexpected keyword argument 'X'"
When using AutoArima example for load_air() data set

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>
Version: 0.6.1

System:
    python: 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\nader\anaconda3\envs\cln3\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
          pip: 20.3.3
   setu

[2021-06-09 18:55] Vaderv opened #939 "[BUG]"
Getting Error when running example from document AutoArima library

from sktime.datasets import load_airline
from sktime.forecasting.arima import AutoARIMA
air_y = load_airline()
forecaster = AutoARIMA(sp=12, d=0, max_p=2, max_q=2, suppress_warnings=True)
forecaster.fit(air_y)
y_pred = forecaster.predict(fh=[1,2,3])

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>
0.6

[2021-06-09 21:44] shuyanmei commented on #212
Can you include the window size in ComposableTimeSeriesForestRegressor as well? So we can predict for few days ahead for multivariate time series.  Thank you.

[2021-06-09 22:09] fkiraly commented on #745
@RNKuhns, I don't think it makes sense for directional forecasters to return numbers - because that scientific type already has a name: forecaster.

I also wouln't be in favour of having a `predict_direction`, since the return may well depend on the aggregation, e.g., how we bin up/down/neutral, say.

The "sense" in differentiating directional forecasters from forecasters is that there are some di

[2021-06-10 11:26] ngupta23 opened #940 "ThetaForecaster does not work with time series containig negative values"
**Is your feature request related to a problem? Please describe.**
`ThetaForecaster` does not work with negative values

**Describe the solution you'd like**
I am trying to train the theta model on a time series with negative values. But it looks like the default deseasonalizing is set to multiplicative which causes this to fail. Is it possible to provide the component types so that it can be exte

[2021-06-10 11:45] aiwalter commented on #939
pls provide the error message. An issue title might also help others to see what this issue is about.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-06-10 12:52] mloning commented on #940
We have to look into this. There's currently an effort to refactor Theta to make it more modular (see #923). As a work around for now you could use pipelining, i.e. `TransformedTargetForecaster(Deseasonalizer(...), Theta(...))`.

[2021-06-10 13:00] mloning commented on #935
@RNKuhns I think we have talked about this before, but could the case distinction between the in-sample and out-of-sample inverse transform not be made based on the index of the time series passed to inverse transform in comparison to the index seen in fit? Could we avoid the `use_in_predict` argument in the constructor that way?

[2021-06-10 18:37] mloning commented on #212
@shuyanmei which window size do you mean? It's a regressor, not a forecaster. For temporal forward predictions, you should use `make_reduction` from `sktime.forecasting.compose`

[2021-06-10 20:45] utkarshnyu opened #943 "failed to run predict on a saved ResNetClassifier modle .hdf5"
**Describe the bug**

I trained a model ResNetClassifier and saved it as .hdf5
When i load the model using keras.models.load_model and run predict on the model i get:
ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type Series).

I am basically running predict on X_test which was used to score the model

**To Reproduce**

[code]

**Expected behavior**

**Additional cont

[2021-06-10 21:16] #943 closed

[2021-06-11 08:29] fkiraly opened #944 "Adding dedicated "report" values interface point"
Users may like to inspect model "report" values like AIC, BIC, etc - as opposed to fitted parameters like regression coefficients.

This distinction is also made in MLJ, see, e.g.:
https://alan-turing-institute.github.io/MLJ.jl/stable/machines/#Inspecting-machines

Would we like a dedicated interface point for both?

For discussion and potential implementation during the summer dev days.

Pinging

[2021-06-11 08:57] thayeylolu commented on #782
Hello @fkiraly . Here is what

[code]

[2021-06-11 10:33] fkiraly commented on #782
Great!

I would just make a minor modification: remove the dictionary brackets from this, they just seem to complicate the interface?
There's also the "equal" sign but I think that's just an unintended type.

That is, I would suggest
[code]
to be a shorthand for

[code]

[2021-06-11 14:24] RNKuhns commented on #745
@fkiraly thanks, that refreshes my memory. Makes sense with the generalized directional forecaster (moving classifier) that there is the need for the additional class.

On the forecast evaluation side, I get the need for a `mean_directional_accuracy(y_true, y_pred)` that accepts `y_true` as real-valued and `y_pred` as a category so that we can evaluate the `DirectionalForecaster` class.

But there

[2021-06-11 21:07] RNKuhns commented on #935
@aiwalter, @fkiraly and @mloning, I appreciate the feedback. I've got a PR out there for this now so you can look at the actual implementation (see #945).

@aiwalter I think the original idea with option number 2 was to make it easier to deal with the inverse transformation when predicting, I've actually implemented something along the lines of option number 1.

@fkiraly I agree on it just being a

[2021-06-12 05:16] tabhishek432 opened #946 "[BUG] ModuleNotFoundError, no module named 'sktime.classification.kernel_based'"
**Describe the bug**
There is an error while importing kernel_based classifiers, the error shown: ModuleNotFoundError: no module named 'sktime.classification.kernel_based'

**To Reproduce**
 Wrote an example on my own

[code]

**Expected behavior**
It should work

**Additional context**

**Versions**
<details>

sktime: 0.6.1

</details>

[2021-06-12 15:34] tabhishek432 commented on #932
Hello @TonyBagnall Sir, I have added an example to the docstring of most of the classifiers, please review it.

[2021-06-12 17:27] mloning commented on #510
From #941 on the refactoring of `_set_fh`:

I've thought about this a bit more and I prefer the option where we pass the name of the calling method to _set_fh, e.g. _set_fh(fh, method="fit"). For me, the main reasons are:

* it keeps the functionality for checking/setting the fh contained to that function and does not assume state changes elsewhere in the code, like at the beginning of fit,
* it k

[2021-06-13 09:59] thayeylolu commented on #782
I have made the modification. Thank you @fkiraly

[2021-06-13 10:22] thayeylolu commented on #782
I created a separate test file containing specific tests in the `test_all_forecasters.py` that failed for the STLForecaster. I decided to check these check if these failed for the `TransformedTargetForecaster` but they all passed. The test still fails for the `STLForecaster`. This is the specific error message  I get `` .

[2021-06-13 11:06] fkiraly commented on #782
which test is failing?

[2021-06-13 12:14] thayeylolu commented on #782
Hello @fkiraly  `test_update_predict_predicted_index_update_params( Forecaster, fh, window_length, step_length, update_params)` this test. Its is the last test in `test_all_forecasters.py`

[2021-06-13 12:23] fkiraly commented on #782
can you kindly update your PR from dev and make sure your code (that produces the error) is identical with the code in the PR?

[2021-06-13 12:31] thayeylolu commented on #782
Ah! Yes @fkiraly . https://github.com/alan-turing-institute/sktime/pull/933

[2021-06-13 12:48] thayeylolu commented on #782
I have updated my PR.

[2021-06-13 13:33] zollen opened #954 "using fourier decomposition as part of auto-optimization for AutoARIMA"
I am thinking of using fourier decomposing for a time series data, the resulting base frequencies would be used for the exog of the AutoARIMA, do you think it would help improve the overall mean errors?

If the above approach is feasible, is it possible to built-in this features as part of internal/external auto-optimization of AutoARIMA?

[2021-06-13 15:58] fkiraly opened #955 "re-factoring existing forecasters to new interface"
We need to slowly re-factor all forecasters to be compliant with the new interface (see PR #912). i.e., no overrides of `fit` etc and descendant classes only implementing core logic, while the `BaseForecaster` implements check etc logic.

Currently this is running due to various downwards compatibility workarounds, which should be removed once all forecasters are ready (in "no-override" state)

Th

[2021-06-13 17:14] fkiraly opened #956 "ForecastingHorizon should allow value types as relative but require cut-off"
`ForecastingHorizon` currently refuses to take value types with the flag `is_relative=True`.

Instead, I think it should ask for a compatible `cutoff` and convert the value types to relative with respect to that `cutoff`.

Example:

[code]

currently throws an error, but it should be possible to do sth like

[code]

and it should be interpreted accordingly.
Note that there does not seem to be a wa

[2021-06-13 17:46] fkiraly opened #957 "[ENH] Define forecaster tags"
We should introduce tags for the following properties of forecasters:

- [x] can make multivariate forecasts
- [x] can make use of exogeneous data (doesn't just ignore it)
- [x] can deal with non-equally spaced time series
- [x] assumes that time stamps of exogeneous data are a super-set of endogeneous data
- [x] can deal with variables sampled at different time stamps
- [ ] can deal with exogeneo

[2021-06-13 22:55] fkiraly opened #958 "forecasting metrics (non-aggregate) should be able to return loss samples"
Update: @RNKuhns has offboarded.

We´re also currently building probabilistic metrics, and we should ensure that the point prediction metrics are interface compatible (e.g., loss samples). I will look into this and take over @RNKuhns´ PRs.
---

For our future roadmap to include advanced benchmarking and testing capabilities, I think forecasting metrics will need to be able to return metrics of los

[2021-06-13 23:01] fkiraly opened #959 "[DOC problem] docstrings of metrics are incorrect - input types"
There are some problems with the metrics docstrings in `_functions`:

* the claimed inputs are `pandas Series of shape (fh,) or (fh, n_outputs)` - but `pandas.Series` don't have a "shape". Multivariate series should be `pandas.DataFrame`.
* the examples are `np.array`, which is not mentioned as a potential input.

This should be fixed, and we may also want to ascertain that the metrics indeed work

[2021-06-14 13:32] RNKuhns commented on #959
@fkiraly good catch. The good news this is an easy fix. The docstrings are wrong in the scaled metrics (e.g. mean_absolute_scaled_error, etc), but look correct in the other functions (specify that input can be pd.Series, pd.DataFrame or NumPy array).

Under the hood the input check is using scikit-learn's input check which works correctly with any of those input types.

[2021-06-14 14:02] RNKuhns commented on #958
@fkiraly this is something that @mloning and I talked about with the forecasting metrics interface. An option we considered was to have a function like `absolute_error(..., aggregation_type='mean')` instead of `mean_absolute_error(...)`.

The `aggregation_type` kwarg (or whatever we would have called it) could take values like: mean, median, max, etc and return either the metric aggregated as spec

[2021-06-14 16:44] fkiraly commented on #958
Yes, I agree - especially if not really well documented, it can easily lead to confusion, or to low findability (e.g., how do you get median absolute error?)

I like that!
Except the name "samples", that is - that sounds more like a random draw from a probability distribution.

A higher abstraction variant would see objects that correspond to non-aggregate losses, e.g., `AbsolutePercentageError`,

[2021-06-14 19:27] shuyanmei commented on #212
@mloning , thank you for the reply. I think make_reduction is the one I am looking for. Another question is that I am trying to use lightgbm with sktime to predict a few days ahead with multiple features (include categorical features). Lightgbm in scikit-learn package can deal with categorical features directly as string format in 'fit' function without the need of encoding first. Since sktime is

[2021-06-14 21:54] fkiraly opened #961 "Implement generic TrendForecaster"
This should be a forecaster that wraps a `sklearn` regressor.

The forecaster fits a regression model to the training series `y` where the values are considered `sklearn` outputs, and indices `.index` are considered `sklearn` features/predictors. When asked for a forecast, the horizon is considered as `sklearn` feature/predictor, and the `sklearn` output are the values.

This does not seem to exis

[2021-06-14 22:10] fkiraly opened #962 "AutoARIMA should give access to pdq under `get_fitted_params`"
`AutoARIMA` is an ARIMA variant that automatically fits the pdq parameters.

Those parameters are likely of interest to practitioners, so `get_fitted_params` should be able to retrieve these?

[2021-06-15 07:50] thayeylolu commented on #955
Thank you @fkiraly . I shall begin work on this. And make a draft shortly

[2021-06-15 08:25] thayeylolu commented on #782
Hello @mloning.
-  @fkiraly and I investigated why the test (`test_update_predict_predicted_index_update_params`- this is present in `sktime.forecasting.tests.test_all_forecasters.py`) failed for the STLForecaster.
- The stlforecaster has/uses/calls a step (which is the parameter of the `TransformedTargetForecaster` ) in it's constructor
- We created an instance of the Transformed target forecaste

[2021-06-15 08:37] TonyBagnall commented on #946
hi, you might need to update to the latest version of sktime, its here
![image](https://user-images.githubusercontent.com/9594042/122021118-47ad8800-cdbd-11eb-9498-e6e7aa9070a5.png)

[2021-06-15 08:42] afzal442 commented on #901
@mloning could you tell me if it works fine on your system (Mac) when you run the command `make docs`? Thanks

[2021-06-15 09:04] fkiraly commented on #782
Indeed - as a supplementary note, we ran a modified version of `test_update_predict_predicted_index_update_params` on the instantiated `ttf`, which takes an object, not a class (i.e., where the "instantiation step" in the test is removed)

[2021-06-15 09:57] mloning commented on #901
Yes `make docs` should work on UNIX systems, it works on my machine.

[2021-06-15 10:01] mloning commented on #961
I think this is covered the `PolynomialTrendForecaster` which by default uses linear regression but does accept other regressors too.

[2021-06-15 10:53] fkiraly commented on #961
ah, indeed. I didn´t read the docs carefullly. Changing the title hence

[2021-06-15 11:23] orko19 opened #963 "AttributeError: module 'sktime.utils' has no attribute 'data_processing' for version 0.6.1"
I have a sktime version 0.6.1 but I get the
[code]
from the API doc I see that it should work.
Any idea?

Thanks

[2021-06-15 13:41] afzal442 commented on #901
Thanks @mloning but do you get the rendered HTML files on your local machine? Plz have a look at the screenshot shared below after running the command.

![c2](https://user-images.githubusercontent.com/11625672/122062457-0e046d80-ce0d-11eb-8327-a90fc663ca0f.JPG)

Let me know if you get expected page as below

![c3](https://user-images.githubusercontent.com/11625672/122062885-6f2c4100-ce0d-11eb-8693

[2021-06-15 14:48] afzal442 commented on #962
I would like to look into this.

https://github.com/alan-turing-institute/sktime/blob/ad82a2792b792c6357c8c0db815772bae04c86c1/sktime/forecasting/base/adapters/_pmdarima.py#L124

https://github.com/alan-turing-institute/sktime/blob/ad82a2792b792c6357c8c0db815772bae04c86c1/sktime/forecasting/base/adapters/_pmdarima.py#L136-L138

[2021-06-15 15:21] mloning commented on #961
I think `PolynomialTrendForecaster` still makes sense as it allows to generate polynomial features first if desired, perhaps mostly an issue around documentation? But happy to rename it to `TrendForecaster`, may be clearer and it's shorter.

[2021-06-15 15:49] ltsaprounis commented on #962
Was thinking about this the other day!
Same for AutoETS, it should return the Error Trend and Seasonal components of the chosen model e.g. AAA, ANN etc.

[2021-06-15 15:52] fkiraly commented on #961
hm, actually tending towards a split now. `PolynomialTrendForecaster` just takes a degree, and `TrendForecaster` just takes a regressor. It seems like there are two fundamentally different regressors in one - if you pass a regressor, you ignore the degree; if you pass a degree, you ignore the regressor.

[2021-06-15 16:52] mloning commented on #961
The current implementation doesn't ignore the degree if you pass a regressor. Perhaps we could deprecate the `PolynomialTrendForecaster` and simplify it into a `TrendForecaster` as the polynomial features can always be added by passing a pipeline as the regressor. Either way, I don't have a strong preference on this one.

[2021-06-16 10:15] fkiraly commented on #955
For convenience, I'm adding a recipe here:

* go through all the public methods, `fit`, `predict`, etc, and change them to the new private version `_fit`, `_predict`, etc
* remove input checks (e.g., `check_X`) and output operations (e.g., set cutoff) from the private version; make sure these are already all present in the `BaseForecaster`.
* if there's an input or output check/operation that look

[2021-06-16 11:44] ltsaprounis commented on #962
Yes there is a get_fitted_params function in the statsmodels adapter, but for now it returns nothing for AutoETS.  https://github.com/alan-turing-institute/sktime/blob/ad82a2792b792c6357c8c0db815772bae04c86c1/sktime/forecasting/base/adapters/_statsmodels.py#L87

I discovered that when working on #942. I think get_fitted_params should return the fitted parameters (level, smoothing parameters etc.)

[2021-06-16 14:44] luiseduve opened #966 "Update 'capabilities' tag for Mr-SEQL"
https://github.com/alan-turing-institute/sktime/blob/9f9bb9e7aeb135d5ca326c282c86a1c5aa0df28d/sktime/classification/shapelet_based/mrseql/mrseql.pyx#L227

According to the example .pynb, Mr-SEQL has multivariate capabilities: https://github.com/alan-turing-institute/sktime/blob/v0.6.1/examples/mrseql.ipynb

However, the internal 'capabilities' tag is still set to `"multivariate": False`

[2021-06-16 16:25] fkiraly commented on #955
FYI, @thayeylolu - not sure whether you´ve seen the "recipe" for the refactor.

[2021-06-16 16:42] Lovkush-A commented on #955
@fkiraly @mloning This is easily something i could help with next week (and in the weeks after that). Let me know if that is sensible

[2021-06-16 21:28] fkiraly commented on #955
I think @thayeylolu might be done by then already 😃
We could do the same for time series classification though?

[2021-06-17 09:41] thayeylolu commented on #955
What recipe is that? . :)

[2021-06-17 10:10] fkiraly commented on #955
@thayeylolu, I meant my second post above, a step-by-step guide for the refactoring.
In case that caused misunderstanding, "recipe" is not just used for food, but also for detailed step-by-step instructions of any other kind.

[2021-06-17 10:28] thayeylolu commented on #955
Ah! @fkiraly  Okay. I will look at it

[2021-06-17 18:39] mloning commented on #966
Thanks @luiseduve, would appreciate a quick PR to fix that!

[2021-06-17 18:43] mloning commented on #901
Yes I get the expected pages

[2021-06-17 19:51] fkiraly commented on #961
Hm, I see - so it´s equivalent to a pipeline of polynomial features, then applying the regressor, right?

In that case, the name seems to be misleading, since polynomial trend is a standing term that implies polynomial regression (linear in the monomials of certain degrees).

How about making a `TrendForecaster` that doesn't have the polynomial features at all, and leaving the `PolynomialTrendFore

[2021-06-17 20:25] fkiraly opened #971 "[ENH] Nested `get_fitted_params` and `summary` interface"
This is a feature suggestion arising from discussion in #877, #931, #942.

I suggest two new/refactored interface points:
* `summary` which is attached to `BaseObject` (as in post-merge #877)
* `get_fitted_params` which is attached to `sktime`'s (not `scikit-learn`'s) `BaseEstimator`

Update: it is probably better than the more convoluted suggestion below if the returns of both are `dict` and beha

[2021-06-17 20:30] fkiraly commented on #971
Minor point: if you agree, what should be the name for the method retrieving information like AIC, R-squared, etc? `get_reports`, `inspect`, `inspect_reports`, `inspect_model`, `report_model`, `get_report_params`, `ishmael`, ...?

[2021-06-18 09:39] TonyBagnall opened #973 "Type aliasing"
include unified and standardised type aliasing for forecasting, clustering and classification, started by @ABostrom

https://github.com/alan-turing-institute/sktime/pull/964

[2021-06-18 09:42] TonyBagnall opened #974 "Type hints"
add standardised type hints to classifiers, clusterers and forecasters

https://github.com/alan-turing-institute/sktime/issues/928

https://github.com/alan-turing-institute/sktime/pull/964

[2021-06-18 11:25] TonyBagnall commented on #928
closed, roll into another issue

[2021-06-18 11:25] #928 closed

[2021-06-18 15:09] fkiraly opened #978 "save_data flag for optional data storage/reference in estimators"
Currently, forecasters (and other estimators) save references or copies of the data internally.

This behaviour should be optional and controllable with flags understood by the base class.

For example, in a case of interfacing where the wrapped class already does this (`statsmodels` etc).

[2021-06-18 16:54] fkiraly commented on #973
hm, I don't think this is a good first issue! This requires intimate knowledge of the existing codebase and the scitype taxonomy...

[2021-06-18 16:55] fkiraly commented on #974
is this dependent on #973?

[2021-06-18 16:57] TonyBagnall commented on #973
Feel free to change the tag, Aaron has a first version based on the forecasting one

[2021-06-18 18:24] afzal442 commented on #901
Thanks @mloning, nice to know about this. I really wondered where I am missing. Could you plz bring the steps here once you run the commands? I mean which file/folder to explore.

[2021-06-18 22:57] fkiraly commented on #955
I've updated the recipe, since I didn't talk about the tags and which parent classes to replace.

[2021-06-19 09:49] mloning commented on #901
The main page is in `sktime/docs/_build/html/index.html`

[2021-06-19 09:51] mloning commented on #963
You're probably using an older version of sktime or sktime isn't properly installed in the Python environment that you're using.

[2021-06-19 13:02] mloning commented on #956
Seems like a good idea to me!

[2021-06-19 13:36] mloning commented on #212
I think that's right, currently the reduction approach only handles type-homogenous data due to the use of numpy arrays. A quick fix may be to encode the categorical data first.

[2021-06-19 13:46] fkiraly commented on #956
I've tried to do this in the obvious way, but the problem is that it's not possible to use `to_relative` in the constructor, since it returns a new object and you can't overwrite `self`. How about factoring the logic out from `to_relative`, i.e., without the creation of a new object?

[2021-06-19 13:48] fkiraly commented on #212
the less quick but better fix is joining the `sktime` dev days next week and contribute to the refactoring forecasting and introducing multivariate functionality :smiley:

[2021-06-19 14:30] mloning commented on #956
The alternative is to provide a helper function for users to do that conversion outside of the `ForecastingHorizon`. Thinking about is a bit more I also find this confusing:
[code]
If it's not relative, why do we have a cutoff?

So instead the workflow could be like this:
[code]
But pandas support for date/time differences isn't very consistent, as you noted.

[2021-06-19 14:50] shuyanmei commented on #212
Just registered for the dev days and I am looking forward to it 😄

[2021-06-19 14:58] mloning commented on #971
If reports are populated in `fit`, it should be attached to the `BaseEstimator` rather than `BaseObject` as not all objects will have a `fit` method. Or do you have other kinds of information in mind that other objects may have?

As to the naming:
* `inspect` seems too general given that we have `get_fitted_params`
* the terms `report` and `model` aren't used anywhere else, but `get_report` seems

[2021-06-19 15:19] fkiraly commented on #971
Alright, agree with the suggestion that's not on my list.

Well, good question where the responsibility to create the summaries should lie. Retreival, though, I think should go in `BaseEstimator` or `BaseObject`, since it needs to be nested.

[2021-06-19 19:25] mloning opened #981 "Refactor tags"
**Is your feature request related to a problem? Please describe.**
* use of "capabilities" rather than "tags" in classification module
* unclear naming of `_all_tags` method
* inconsistent tags for composition algorithms (see #977)
* integration in `all_estimators` function to make them usable in finding/filtering models

**Describe the solution you'd like**
* refactor capabilities into tags
* ren

[2021-06-19 19:26] mloning commented on #981
From #977:

[2021-06-19 20:01] fkiraly commented on #981
Yes, but do you see the problem? The properties of composites may depend on components.
Especially in pipelines this is important, so it would be good if there is something like a "dynamic tag".
At least, it should be settable or overridable at construction.

disagreed!

I think each forecaster should be able to tell the user in advance whether it will raise an error when no `fh` is passed to fit.

[2021-06-19 20:03] #882 closed

[2021-06-19 23:07] fkiraly opened #982 "re-factoring forecaster.update, update_predict, update_predict_single"
The rolling prediction interface of forecasters is currently confusing and unintuitive.

I suggest we re-factor this as follows:

* `update` remains as is currently
* `update_predict` becomes what `update_predict_single` is currently, a short-hand for "one `update` then one `predict`
* current functionality in `update_predict` gets replaced by an `update_predict_playback`, as below.

`update_predi

[2021-06-19 23:07] fkiraly commented on #982
@mloning, @aiwalter, thoughts?

[2021-06-19 23:47] fkiraly opened #983 "tag: forecaster can return prediction intervals"
Whether a forecaster can return prediction intervals should be a tag.

[2021-06-19 23:53] fkiraly opened #984 "forecasting interval and probabilistic prediction interface refactor/re-design"
Let's think about a re-factoring of the forecasting interface for interval and probabilistic predictions.

I think we should have:

* `predict_interval`, this should take `alpha` as in `predict` and return quantiles; one should be able to pass lists of `alpha` too (if the forecaster supports it). If a list is passed, we need to think about the return object - perhaps a data frame, with nested colu

[2021-06-20 00:03] fkiraly opened #985 "forecasting: pretty-plotting for predictive interval forecasts"
There should be pretty-plotting functionality for predictive intervals in forecasting.

Something like `plot_series`, but adapted to the return pair when `return_pred_int=True` in `predict`.

This could be easily adapted from the code in the tutorial notebook.

[2021-06-20 00:16] fkiraly opened #986 "[DOC] create table of content for forecasting tutorial"
It would be nice if the forecasting tutorial, and other tutorials, had a table of content.

This should be looked at during or after the 2021 summer dev days (the tutorials are undergoing some refactoring, but contributions are welcome).

See also #972 and discussion therein.

[2021-06-20 08:44] mloning commented on #985
See #802

[2021-06-20 10:08] fkiraly opened #987 "all-contributors - providing links/evidence"
I've just looked at the all-contributors spec, and we are using the symbols but not links to evidence of contributions.

Perhaps going forward we can try to be more systematic here, going forward?
Such as, adding instructions to PR to add links to contributions.

As convention, I think the first contribution that qualifies for a given symbol is enough here.

In terms of actions, we may also like t

[2021-06-20 10:13] fkiraly opened #988 "[DOC] forecasting tutorial: advanced pipeline construction"
As @aiwalter suggested in discussion in PR #972, it would be great to have a sub-section showcasing advanced pipelining functionality in `sktime`.

Citing @aiwalter:
"I would like to see also a more sophisticated tuning part including `MultiplexForecaster`, `TransformedTargetForecaster` or the new `ForecastingPipeline`, some transformers, `OptionalPassthrough`, `TabularToSeriesAdaptor`. Maybe this

[2021-06-20 13:32] fkiraly commented on #985
yes, it's a duplicate of issue #541, closing

[2021-06-20 13:32] #985 closed

[2021-06-20 13:59] fkiraly opened #990 "[DOC] re-factoring and extending time series classification tutorial"
The time series classification tutorial should be re-factored along the lines of #972.

What would be very important content currently not contained:

* composition and pipelining. How to construct a TSC by composing, say, tabular feature extrators and sklearn classifiers
* evaluation and benchmarking. What are the recommended evaluation workflows for TSC/TSR?

Something maybe for @ABostrom, @Tony

[2021-06-20 15:35] TonyBagnall commented on #987
where are these?

[2021-06-20 16:23] TonyBagnall opened #993 "Refactor classifiers for fit/_fit model"
adopt the forecasting interface model for base abstract classifier so that rather than have abstract fit, have base fit call abstract _fit. This means that the validation of the input can be called in the base classifier.

![image](https://user-images.githubusercontent.com/9594042/122681397-10d7d780-d1ec-11eb-95c3-449f865cb753.png)

However, for the classifiers this will require a reworking of cap

[2021-06-20 16:26] TonyBagnall commented on #966
hi, thanks for that, might be good to check first that it does actually work with multivariate

[2021-06-20 16:28] TonyBagnall commented on #963
was this with sktime-dl? If so, it was a bug introduced a couple of days ago, the requirements.txt was not updated, but I think its fixed now

[2021-06-20 16:36] TonyBagnall commented on #981
the problem I have with the tags in scikit learn is they are not inherited, but rather shadowed for each subclass, due to multiple inheritance. This means checking tags requires a recursive call up the inheritance hierarchy. This is hideous imo. We could use tags, but we need to be able to recover the values in the base class fit if we move to fit/_fit, so we will need inheritance and overriding t

[2021-06-20 16:39] TonyBagnall opened #994 "[DOC] Purge of stale issues and PRs"
Im not sure how others feel about this, but I would like to massively reduce the number of open issues and PRs, at the time of riting there are 140 open issues and 53 open PRs

[2021-06-20 16:39] TonyBagnall commented on #994
starting with this one of course

[2021-06-20 17:18] mloning commented on #994
I agree, but shall we perhaps wait until after the dev days?

[2021-06-20 17:24] fkiraly commented on #987
here: https://github.com/alan-turing-institute/sktime/blob/main/.all-contributorsrc

[2021-06-20 17:26] fkiraly commented on #981
the utility function `_all_tags` that @mloning wrote mimicks nested inheritance, and it's a capability that's reatively easily supplemented. This might just as easily be turned into a python getter.

[2021-06-20 17:27] fkiraly commented on #994
my hope is that we agree on a regular core developer stand-up where this will be regularly taken care of, and doesn't put the main weight on us three...

[2021-06-20 17:28] fkiraly commented on #994
we need to structure the maintenance model a bit, i.m.o. - and that should involve the community more, now that it has grown quite a bit

[2021-06-20 18:30] TonyBagnall commented on #981
where is that method?

[2021-06-20 18:36] fkiraly commented on #981
in `sktime.base._base.BaseEstimator`, to be refactored and moved into `BaseObject` in #877/#891

[2021-06-20 18:37] TonyBagnall commented on #981
this also raises another issue, why not use scikit learn tags? I believe this code is cloned from scikit

![image](https://user-images.githubusercontent.com/9594042/122684620-4f768d80-d1fe-11eb-9790-418b1d2183ce.png)

I realise its not a strong argument, but I object to this on aesthetic grounds. If I want to query whether a classifier has a capability, I have to iterate over the whole inheritance

[2021-06-20 18:38] fkiraly commented on #981
what is the simpler system? This is simply inheritance of nested attributes, quite simple (but not out-of-the-box in python)

[2021-06-20 18:39] fkiraly commented on #981
What I would propose is that we have two annotaitons:

* class tags, for the general class functionality - this is "worst case" properties
* object tags - these are created upon construction. The new `get_tags` method looks for class tags first, then overrides these with any object tags that were created in `__init__`, dependent on parameter settings.

[2021-06-20 18:52] TonyBagnall commented on #981
if it were using inheritance normally it would not have to traverse the inheritance hierarchy, you could just query the data structure directly because it has been, you know, inherited. Also, I dont like random free form string tags, I prefer boolean variables. The simpler system (imo) is the one we currently use for classifiers, where capabilities are declared in the classifier and passed to the

[2021-06-20 19:10] TonyBagnall opened #995 "Summary of code features for sktime classifiers"
many things could be improved with the classifiers, and here is a summary of what we think we have and what we dont for the main classifiers (may have missed some). Equivalence tests are against our java versions of the same classifiers. If you want to work on any one of these, please get in touch

![image](https://user-images.githubusercontent.com/9594042/122685458-69669f00-d203-11eb-8be5-3f87291

[2021-06-20 19:12] TonyBagnall opened #996 "Summary of the Capabilities of time series classifiers"
summary of the type of data input the main sktime classifiers can deal with. If you are interested in extending the capabilities of any of these classifiers, get in touch and we will offer some guidance.

![image](https://user-images.githubusercontent.com/9594042/122685531-d11cea00-d203-11eb-9a27-d068da5e4667.png)

[2021-06-20 19:15] TonyBagnall commented on #996
to clarify twwo trhat may be unclear:
Train Set Estimates means that the classifier can (if asked) estimate its performance on unseen data during the training process. This could be through bagging, or by using the estimates through some internal tuning.
Contracted: this means you give the classifier a maximum build time, and it will do the best it can in that time limit.

[2021-06-20 19:19] fkiraly commented on #995
I think the most important missing bits are composition patterns!

Pipeline, transformer composition, reduction, distances, etc

I think a lot of people would find this extremely useful.

[2021-06-20 19:20] TonyBagnall commented on #995
its not really my thing Franz, I like concrete classes. I'll leave that to someone else.

[2021-06-20 19:21] fkiraly commented on #996
nice!

The great thing would be the ability to automatically generate this table, and display it on sktime.org, along the lines of #704.

[2021-06-20 19:23] TonyBagnall commented on #996
that is a good idea, I'll raise a specific issue

[2021-06-20 19:25] TonyBagnall opened #997 "Auto-generate a classifier Capabilities summary"
task is to auto generate a table of Capabilities like this

https://github.com/alan-turing-institute/sktime/issues/996

and to get it to automatically display on sktime.org (we can help with this stage)

[2021-06-20 19:27] fkiraly commented on #997
well, not just for classifiers, right? Forecasters and any estimators would be nice!

FYI, @afzal442, @abdulelahsm, @sparkingdark

[2021-06-20 19:28] fkiraly commented on #997
I'd call it "tags", not "capabilities" 😃

[2021-06-20 19:28] TonyBagnall commented on #997
I know you would :)

[2021-06-20 19:34] fkiraly commented on #981
the problem is, you want the set of capabilities/tags inspectable - and for that it seems the only good solution is have them in a list/dict, as opposed to as general attributes - note that attributes can be anything, not just tags, so it is not explicitly inspectable which attributes are tags or not.

[2021-06-20 19:35] fkiraly commented on #981
design anti-pattern: "secret" knowledge, i.e., the information is only decodable if you know undocumented conventions. `get_tags` or similar does not require such undocumented conventions.

[2021-06-20 20:43] RNKuhns commented on #959
@fkiraly I'm adding the PR for this now. Took some time to get it so I could build docs locally to verify changes.

I've included updates that correct the docstring issues you found, and in general improved docstring definitions/formatting.

I've also made sure existing test cases cover pd.Series and np.array input. Note that adding tests for pd.DataFrame support will be a separate PR because, I s

[2021-06-20 20:59] fkiraly commented on #510
solved now via #912

[2021-06-20 20:59] #510 closed

[2021-06-20 21:00] fkiraly commented on #955
Just so we don't forget:

arising from #912, we need to remove the superfluous `_SktimeForecaster` and mixins at the end.

[2021-06-20 21:04] fkiraly commented on #997
So here is an interesting question, @TonyBagnall: are all sensible tags that we expect capabilities?
I.e., related to properties or scitype aspects of the estimator?

E.g., a tag that tells interface counterparts what the internal data representation used is (`np.array` or `pd.DataFrame`) is not a "capability" in a narrow sense, right?

In this case, should we have a hyper-tag that tells us whethe

[2021-06-20 21:05] fkiraly commented on #981
So here is an interesting question, @TonyBagnall: are all sensible tags that we expect capabilities?
I.e., related to properties or scitype aspects of the estimator?

E.g., a tag that tells interface counterparts what the internal data representation used is (np.array or pd.DataFrame) is not a "capability" in a narrow sense, right?

In this case, should we have a hyper-tag that tells us whether a

[2021-06-20 21:05] fkiraly commented on #997
re-posting in #981 where this question is more on-topic

[2021-06-20 21:07] aiwalter commented on #939
I am closing this, seems to be resolved

[2021-06-20 21:08] #939 closed

[2021-06-20 21:09] #903 closed

[2021-06-21 14:03] BINAYKUMAR943 commented on #962
I would like to work on this issue.

[2021-06-21 14:08] mloning opened #1006 "Refactor checking of forecasting horizon (_set_fh)"
#### Reference issues/PR
Conditional on #955
Related to #510

#### Suggested changes
I've thought about this a bit more and I prefer the option where we pass the name of the calling method to `_set_fh` in the `BaseForecaster`, e.g. `_set_fh(fh, method="fit")`. For me, the main reasons are:
* it keeps the functionality for checking/setting the fh contained to that function and does not assume state

[2021-06-21 15:08] mloning commented on #226
Closed by #779

[2021-06-21 15:08] #226 closed

[2021-06-21 15:10] mloning commented on #795
Closed by #827

[2021-06-21 15:10] #795 closed

[2021-06-21 15:40] thayeylolu opened #1007 "Listing Forecasters to be Refactored"
https://github.com/alan-turing-institute/sktime/issues/955
We need to slowly re-factor all forecasters to be compliant with the new interface (see PR #912). i.e., no overrides of fit etc and descendant classes only implementing core logic, while the BaseForecaster implements check etc logic.

Currently this is running due to various downwards compatibility workarounds, which should be removed once

[2021-06-21 16:11] fkiraly commented on #1007
this is a duplicate of #955.

[2021-06-21 16:11] #1007 closed

[2021-06-21 16:45] Lovkush-A commented on #1007
@fkiraly @thayeylolu I think Taiwo created this because we can't edit your checkboxes in #955. (at least, I know that I cannot adjust them).

To get around this, I created checkboxes in the hackmd file for forecasting group of 2021 dev days. https://hackmd.io/84rpzQEiQiWQy5oQjs7FYw?view. The checkboxes are at the bottom of the hackmd file

It this is not a suitable solution, let me know

[2021-06-21 17:25] jnrusson1 opened #5822 "Expanding unit tests"
**Is your feature request related to a problem? Please describe.**
The current unit tests only test data in nested dataframes.

**Describe the solution you'd like**
Add additional testing for data in a different format e.g 3d numpy.

**Describe alternatives you've considered**

**Additional context**
Not sure if this applies for all unit tests but definitely for the basic regression and classifica

[2021-06-21 17:27] fkiraly commented on #1007
ah - well, I can simply update the checkboxes whenever a PR related to the root issue is closed?

[2021-06-21 20:11] fkiraly opened #1011 "Implement Kálmán filter - transformer (with update functionality)"
The vanilla Kálmán filter should be implemented or interfaced as a (potentially multivariate) single-series transformer.

[2021-06-21 20:30] fkiraly commented on #1006
what do you think of `is_fitted=?` instead of `method=?`

[2021-06-21 20:43] fkiraly opened #1012 "Refactoring input checks to be scitype-based rather than argument based"
I've looked throug the `validation.forecasting` module and `validation.series` module and it seems to me there is a lot of duplication. In general, that's an anti-pattern, since boilerplate code and functions with mostly the same arguments are repeated over and over - for example, `check_X`, `check_y` (a special case that allows only series), `check_series`, seems very redundant.

I suggest to cle

[2021-06-21 22:11] fkiraly opened #1014 "[bug?] PolynomialTrendForecaster should not raise error if X is passed"
Currently, `PolynomialTrendForecaster` raises an error if exogeneous variables `X` are passed.

This is unnecessary - probably based on the assumption that "all forecasters must do sth with `X`".

But `X` can just be completely ignored, and it is fine. Throwing the error just introduces break potential whenever the trend forecaster is used.

The forecaster should be changed (in my opinion) by remo

[2021-06-21 22:18] fkiraly commented on #944
subsumed in #971

[2021-06-21 22:18] #944 closed

[2021-06-21 22:20] #931 closed

[2021-06-22 10:22] fkiraly commented on #1006
and what do you think of making the method entirely pure?

I.e., calling it `self._fh = _set_fh(fh, is_fitted)?

Following the general design principle that pure methods are preferable if the method is not clearly state change associated.

[2021-06-22 10:26] fkiraly commented on #981
@mloning, @TonyBagnall, any opinions about "class tags", and "object tags" that can override "class tags" at construction?
With the override happening in `_all_tags`.

[2021-06-22 10:28] fkiraly commented on #1012
pining @TonyBagnall due to the panel/TSC reference.

There's a lot of checking and conversion functionality already there which could be restructured along the lines of #980 and the above. Conversion is in `validation.data_processing`.

[2021-06-22 10:33] TonyBagnall commented on #981
I'm not that sure how static variables work in python, but I believe our capabilities are static. However, we are not necessarily using them as static variables! I'll have a look

https://stackoverflow.com/questions/68645/are-static-class-variables-possible-in-python

personally, I prefer boolean variables to free form string tags, but thats probably just me

[2021-06-22 10:37] fkiraly commented on #981
The problem is that the capabilities ("scientific" properties) are not necessarily static, they may depend on hyper-parameters and components.
This is rare for "primitive type" hyper-parameters, but the typical case for complex hyper-parameters or estimator components.

So in my opinion we need a way to set, or at least override, them at construction and perhaps even at any parameter setting that

[2021-06-22 12:29] TonyBagnall commented on #981
I'm not militant about this, so if its changed then I wont complain...

However, my view is that capabilities relate to the functionality of the class. So if say unequal_length == true, an object of this class is capable of taking as input unequal class values and is safe to build with data having that characteristic. There may be many ways a class can deal with a data characteristic, and there ma

[2021-06-22 13:08] fkiraly commented on #981
Yes, but please consider what I'm saying.

Whether unequal class values can be dealt with an object, may depend on the parameters and components of that object. Consider a pipeline with transformers and a classifier at the end. An object of the "pipeline" type will be able to deal with that data if and only if the classifier at the end can.

This (logically) shows that the (scientific/logical) pro

[2021-06-22 14:56] mloning commented on #981
@fkiraly could we write down what the reasons are for having object-level tags (e.g. tags updated dynamically depending on components) rather than static class-level tags? I think is related to how we want to use tags.

[2021-06-22 16:14] mloning commented on #1006
* There is a `check_fh` already which checks the forecasting horizon, but we could have a separate one that lives in the same file as the base forecaster.
* I agree about the idea of pure method, but the error message reads much nicer when you have additional info such as the object name, which seems important for this check, because it's not very intuitive why a forecaster requires `fh` already i

[2021-06-22 16:45] fkiraly commented on #1006
You could pass the object name

`is_fitted` would just be an alias whether it's in `fit` or not. If it's in `fit`, the assumption is automatically that it's not fitted. I.e., in `fit` we would run `_set_fh(..., is_fitted=False)`

[2021-06-22 18:05] Lovkush-A opened #1020 "Questions and comments on forecasting base classes and refactoring"
I am trying to understand as much as possible before doing any actual refactoring.  Here are several comments/questions/suggestions. High chance I am mistaken or missing the point - if so, just say so!

1.  _base.py. the docstrings that an end-user will see are the docstrings in the BaseForecaster. E.g. for `fit`, they will see docstring containing `The base forecaster specifies the methods and me

[2021-06-22 18:22] fkiraly commented on #1020
I am trying to understand as much as possible before doing any actual refactoring.  Here are several comments/questions/suggestions. High chance I am mistaken or missing the point - if so, just say so!

Yes, indeed - this may pose some problems, so we may have to carefully think about what the docstrings say.
Perhaps something user facing, usage related. The docstring as of now should go in the ex

[2021-06-22 18:23] fkiraly commented on #1020
PS:

Very low chance, I'd say.
Because there's the implication that I would be too 😄

[2021-06-22 19:08] Lovkush-A commented on #982
maybe `..._multiple` instead of `..._playback`? You are making multiple updates and predicts, and it pairs well with the method name `update_predict_single`

[2021-06-22 21:14] fkiraly opened #1023 "Designing annotators - transform vs predict?"
From discussion in #839 , which was originally about *transformers*, not *annotators*.

Stream annotators can naturally be used as transformers.

So, my question:

should we give them a `transform` interface point too, which just loops to `predict`?

We could adopt the convention even that `transform` naturally produces the `dense` representation (same indices as the transformed series), while `pr

[2021-06-22 21:45] fkiraly commented on #982
but the proposal includes the removal of `update_predict_single`.
Further, it should be clear through naming that multiple application is basically the key step in backtesting, i.e., you already need your entire data ready. "multiple" isn't so clear here.

[2021-06-22 21:48] fkiraly commented on #1020
No, and this is a default from scikit-learn. You can choose your `score` if you tune, but there must be a sensible default (according to that design principle). The `score` interface point represents this sensible default, rather than a point of choice.

Well, feel free to propose a change. But I think there are much more important things to refactor, i.e., the user facing interface points which w

[2021-06-23 12:14] fkiraly opened #1025 "[DOC] transformers tutorial"
There should be a notebook that explains the different transformer scitypes, and how transformers work in `sktime`.

[2021-06-23 13:06] fkiraly opened #1027 "test_estimator or a variant should work with object (not classes)"
For easy testing and debugging, it would be great if `test_estimator` or a variant thereof could be extended to work with object instances, not classes; alternatively, classes with default parameter settings not read from a file, but given as an argument.

This is for:
* making it easier for local (non-contributing) extenders to write their own tests
* making new estimators easier to debug, e.g.,

[2021-06-23 13:08] fkiraly commented on #1027
@mloning, @aiwalter, @TonyBagnall - thoughts?

[2021-06-23 14:31] fkiraly opened #1028 "[BUG] sporadic bug in time series forest? manylinux builds sporadically failing"
The `manylinux` builds are sporadically failing with a `numpy` casting error (dimension 1 vs 2) in `SupervisedTimeSeriesForest`.

I suspect this is a sporadic bug due to randomization and incomplete seed-setting in the classifier, e.g., a partition becomes size 1 or 0 or similar.

I haven't made a screenshot of the error because the build restarted, but we should watch out for it appearing again.

[2021-06-23 15:13] SveaMeyer13 opened #1030 "Make transformer for detrending support multivariate series"
**Is your feature request related to a problem? Please describe.**
For the EEG applications we need a transformer that detrends each channel. Currently the detrending transformer only supports univariate time series.

**Describe the solution you'd like**
Detrend each univariate series separately

[2021-06-23 15:43] mloning opened #1032 "Refactor CI/CD testing"
The automated unit tests would benefit from:
* Cleaning and restructuring
* Migrating appveyor Windows builds to GitHub Actions
* Separating standard tests that are run on every PR and accuracy tests that are run periodically (cron jobs)
* Combine basic API tests on fitted objects to avoid having to call `fit` multiple times
* Making them importable from other packages (see https://github.com/pyte

[2021-06-23 15:44] mloning commented on #1027
Closed in favour of #1032

[2021-06-23 16:07] fkiraly opened #1033 "post-forecaster refactor: check all the tags, especially univariate"
Post-refactor #955, we need to go through all the tags again.

@mloning has raised the issue that the "univariate" flag may not be correct - I thought it means whether `y` is univariate, but it actually means whether the estimator can deal with `X` and/or uses it.

[2021-06-23 16:08] fkiraly commented on #981
discussion notes from hackmd today:

* tags discussion - Franz, Markus, Martin, Taiwo, Tony
    * use of tags - semantic/indexing lookup for user, or only internal/testing?
        * importance in checks and conversions (e.g., what to)
        * input validity & related properties
        * algorithmic features/properties, availability of interface points e.g., can produce performance estimates

[2021-06-23 16:08] mloning commented on #981
### Notes from our discussion today:
contributors: @fkiraly, @mloning, @aiwalter, @thayeylolu, @TonyBagnall
  * use of tags - semantic/indexing lookup for user, or only internal/testing?
      * importance in checks and conversions (e.g., what to)
      * input validity & related properties
      * algorithmic features/properties, availability of interface points e.g., can produce performance esti

[2021-06-23 17:51] TonyBagnall commented on #1032
I would like a mapping overview of all the testing that goes on in sktime, then work towards a simple guide to tests, where to put them, what to test for each module etc etc. Improving classifier testing (removing excluded etc) is a mid term goal for me, but its more likely to happen sooner if its easier and intuitive to do

[2021-06-23 17:54] TonyBagnall commented on #993
needs to be done in conjunction with the refactor of tags/capabilities https://github.com/alan-turing-institute/sktime/issues/981

[2021-06-23 18:07] mloning commented on #1023
Don't have a strong preference about this at the moment, perhaps it becomes clearer once we have a few more concrete classes and use cases.

[2021-06-23 18:32] mloning commented on #1020
Thanks @Lovkush-A for the feedback!

I don't think `score` is used much at the moment, we implemented it because scikit-learn has it, but none of us were ever really convinced of it as a main interface point I believe.

[2021-06-23 18:44] mloning commented on #982
I think we have discussed this before, I fully agree.

* I prefer @Lovkush-A's suggestion: `update_predict_multiple` or `update_predict_cv` would perhaps be clearer still.
* What's the thinking behind changing the signature from `cv` to `cutoffs`? Don't CV objects encode different sets of cutoffs? Note that there is a `CutoffSplitter` which you can pass a list of cutoffs and it will do what you su

[2021-06-23 18:51] mloning commented on #984
I agree that we need to refactor this.

The main reason for combining point predictions and prediction intervals was that intervals often rely on point predictions, so we would avoid computing point predictions twice. Any solution to that problem? Storing `y_pred` for a given cutoff and forecasting horizon in the forecaster like statsmodels doesn't seem right.

[2021-06-23 18:55] Lovkush-A commented on #982
* I think the change from `cv` to `cutoffs` is because the name `cv` itself is not the best name. `cv` sounds like cross-validation, which sounds like it is some kind of function/method.

* I am also in favour of just removing the `update_predict_playback` method entirely, and instead having cross validation as a separate function as part of validation toolbox. However, this preference is biased b

[2021-06-23 18:58] mloning commented on #1006
Okay but then we should call it `method` or `caller` as that's what it is rather than an alias.

Stand-alone function with good error message seems good to me.

[2021-06-23 19:00] mloning commented on #982
@Lovkush-A note that `cv` is used in scikit-learn as an argument name for cross-validation iterators (see e.g. `GridSearchCV`) which is also what we pass here.

[2021-06-23 19:08] Lovkush-A commented on #982
Just checked the docs of sklearn. In my view, we should deviate from sklearn variable name choice in this instance, because I think it is significantly unclear.

[2021-06-23 20:41] aiwalter commented on #988
its in progress, but I have issues with `pre-commit` to and `nbqa`, nedd to get this fixed before I can push sth.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-06-23 20:54] fkiraly opened #1038 "Make multivariate compositor/reducer, that creates multivariate method by applying transformers/forecasters per-variable"
We should make the following compositors:

- [ ] a transformer that applies an univariate (or any other) series-to-series transformer to each series/variable
- [ ] a forecaster that applies an univariate (or any other) series-to-series forecaster to each series/variable

The first should be possible right now, the second will require #980.

The first one should solve #1030.

[2021-06-23 20:54] fkiraly commented on #1030
@SveaMeyer13, what do you think about the solution in #1038? That way, you can apply everything, not just the detrender, to multivariate EEG data.

[2021-06-23 21:51] fkiraly commented on #1032
Agreed - I've put a simple testing guide in the extension guidelines, at the end of the forecaster tutorial

[2021-06-23 21:52] fkiraly commented on #1027
I think this is separate - this is a minor change.

Refactoring the entirety of tests is a big change.

We don't need to do a massive refactoring to allow users to run the *current* `test_estimator`.

[2021-06-23 22:09] mloning commented on #982
@Lovkush-A I think most sktime users will be familiar with scikit-learn. What is unclear about, the suggestion in the name "cross-validation" that it's a function?  What would you call it?

[2021-06-23 23:58] nealgravindra opened #1039 "extremely slow score/predict methods for sktime.classifier APIs"
**Describe the bug**

Slow (several minutes, without completion) computation when trying to predict or score time-series classifiers with `sktime.classification` APIs. Issue is not resolved even if the label dtype is modified (to object, float, int, etc.) even though example seems to use str type for labels (see input [4] [here](https://www.sktime.org/en/latest/examples/02_classification_univariat

[2021-06-24 01:56] gogozhang commented on #728
Try gcc-11. I have installed on Big Sur for Python 3.9 successfully.

[2021-06-24 05:50] dyangny opened #1041 "random_state not working for MiniRocketMultivariate"
Hi,

It seems like the random_state argument is not working for MiniRocketMultivariate().

Under _fit_multi(), num_channels_per_combination is randomly generated but the seed is not set to ensure reproducibility.

[2021-06-24 06:45] satya-pattnaik commented on #1023
The use of ```transform``` was by mistake, me and @mloning had decided upon using the ```predict```. Although I had made changes to the ```BaseAnnotator```, I forgot in case of the ```PyODAdapter```.

Also it is intuitive to have ```predict``` - given a time series can you ```predict``` which are the outliers/change-points. Now this annotated result would be passed to the ```ConditionalImputer```(

[2021-06-24 07:35] SveaMeyer13 commented on #1030
@fkiraly, yes I like the idea in #1038 - for now, I just took inspiration by how it was done in the imputer.

[2021-06-24 07:46] Lovkush-A commented on #982
@mloning

Are most sktime users familiar enough with sklearn to know how `cv` is used in sklearn? I can only speak for myself and I did not know. I very well could be in the minority!

* To me, 'cv' sounds like it would be a function which carries out cross validation.
* Within GridSearchCV, I would prefer something like 'cv_strategy' or 'cv_type' or similar
* Within update_predict_playback (or wh

[2021-06-24 09:04] SveaMeyer13 commented on #1038
Happy to work on this!

[2021-06-24 09:10] aiwalter commented on #1038
great idea, would this be sth equivalent to `sklearn.ColumnTransformer`, right? So would it be possible to select some columns or would it apply a transformer just to all columns?
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md

[2021-06-24 09:19] TonyBagnall opened #1043 "simple refactor of data io"
the function load_UCR_UEA_dataset is currently in datasets/base.py. I would prefer it in utils/data_io.py. If someone wants an easy issue to get started, then they can refactor this function so it is in data_io.py.

[2021-06-24 09:24] TonyBagnall commented on #1043
further to this, the method _load_dataset should also move.

[2021-06-24 09:36] SveaMeyer13 commented on #1038
@fkiraly would smth like this go into the direction you have in mind:

class MultivariateCompositor(_SeriesToSeriesTransformer):
    """
    Parameters
    ----------
    transformer : series-to-series transformer to be applied to each series

    """
    _required_parameters = ["transformer"]

    def __init__(self, transformer):
        self.transformer = transformer
        self.transformers_ =

[2021-06-24 10:26] fkiraly commented on #1023
Maybe, but sometimes mistakes turn out to be good ideas.

Annotators, as long as they return sequences, could easily be used as transformers if they had a `transform` interface - no wrapper/adaptation would be necessary if this is out of the box.

This could also easily resolve the `Z` vs `X` discussion - if we had a `transform` method, which is just the same as `predict` but with `X` being `Z`?

[2021-06-24 12:04] fkiraly commented on #1043
agreed, should all be in one place. Perhaps sorted by the "scitype" of data it loads

[2021-06-24 12:09] fkiraly commented on #1032
And appveyor and azure build take ages (2-3 hours??), speeding up is indeed a great suggestion.

[2021-06-24 12:14] fkiraly commented on #955
... almost there ...

[2021-06-24 12:19] fkiraly commented on #1030
well, we can always do both.

It's a bit of a `sktime` bad habit to ask for more general solutions that take more time, than go for the "fit for purpose" fix - sorry for doing that here.

I think the solution you proposed is robust, and definitely more suitable to get you quicker to your goal and less of a distraction than mine.

[2021-06-24 12:21] fkiraly commented on #955
added two capstone tasks - @mloning, @aiwalter, anything you feel is missing to complete this?

[2021-06-24 14:24] Lovkush-A commented on #1041
@dyangny Can you give examples of code that illustrate the problem?

[2021-06-24 14:44] Lovkush-A commented on #1041
OK, I just looked at the code (at `transformations/panel/rocket/_minirocket_multivariate.py`), and it might be as simple as adding the following to the top of the definition of `_fit_multi`:

[code]

[2021-06-24 14:50] dyangny commented on #1041
Yes. I think that should work.

[2021-06-24 14:51] Lovkush-A commented on #1041
Note there are other issues with the code, e.g. it is very hard to read and there are no tests for it (as far as I can see. `test_Rocket.py` only tests main rocket)

[2021-06-24 15:58] Patil2099 commented on #1043
I would love to pick this up.

[2021-06-24 16:00] TonyBagnall commented on #1043
its yours!

[2021-06-24 16:21] mloning commented on #1041
For seeding, we usually use:
[code]
where `check_random_state` comes from scikit-learn and `rng` is a random state instance from `numpy`.

@angus924 any thoughts on adding this?

[2021-06-24 16:24] mloning commented on #1043
Isn't `utils.data_io` for utility functions, whereas `datasets` is for data sets? In scikit-learn these functions are also in `datasets`. But no strong preference here.

[2021-06-24 17:14] TonyBagnall commented on #1043
well I view datasets for datasets, not for data processing or input output myself. I view loading or saving data as a utility. Once its all sorted out in one place we can move it if necessary, I'll look at the scikit structure

[2021-06-24 20:12] Lovkush-A commented on #955
@fkiraly. As a third item, I suggest getting rid of `_sktime.py` altogether. The only things in there are `_SktimeForecaster` (to be deleted), the mixins (to be deleted) and `_BaseWindowForecaster` (which I suggest moving into `_base.py`).

I also suggest refactoring `_BaseWindowForecaster` but it is better to do that in #982 as BaseWindowForecaster predominantly deals with defining predicts and u

[2021-06-24 21:15] fkiraly commented on #1039
assigned @tony because it's about TSC

[2021-06-24 21:16] fkiraly commented on #1038
PS: @mloning has said that the forecaster does not depend on #980. I think that's right, though it means implementing the conversion and case distinction functionality in `_fit`.

[2021-06-24 21:49] fkiraly commented on #1033
added this as a sub-task in #955

[2021-06-24 21:49] #1033 closed

[2021-06-24 22:38] angus924 commented on #1041
This is my oversight, sorry.  The seed should be set (or, should be able to be set) here.

Again, my bad.  If I get time at some point, I'll try to clean it up.  If there's a particular section (e.g., channel assignment) which is a problem, I'm happy to try to explain it.  (There's a bigger picture here, which is that `MiniRocketMultivariate` is really only intended to provide basic multivariate f

[2021-06-24 22:55] fkiraly opened #1050 "[DOC] forecasting tutorial and other tutorials - set-up instruction"
From re-factor of the forecasting tutorial, @mloning:

"Can we remove the setup instructions at the top? As said, this should go somewhere else, either an automatically generated header in the docs or simply a link to the install instructions."

The task would be to create an automatically generated header, or generic instructions on how to run the notebooks.

[2021-06-24 23:01] fkiraly opened #1052 "[DOC] forecasting tutorial - too large file witih printouts?"
It seems that the forecasting tutorial, as current, is too large to be viewed inside the browser on GitHub directly, with images (3.3 MB).

Not sure what to do about this - only load some images? Remove some plots?

I've reverted to the "small" version for the time being.

Thoughts, @aiwalter, @mloning?

[2021-06-24 23:24] fkiraly commented on #1014
this was fixed by #1003

[2021-06-24 23:24] #1014 closed

[2021-06-25 05:41] TonyBagnall commented on #1039
Slow relative to what? That's a relatively large data set. Distance measures are slow, especially in python, I may have mentioned how slow the language is once or twice.... This is not a bug, it is they claim a feature. Make series shorter and have fewer of them.

[2021-06-25 05:45] TonyBagnall commented on #1039
Or use Euclidean as a distance measure (distance="Euclidean") I think it defaults to DTW. I believe George or chris has profiled this, found our DTW faster than other python DTW but slower than java

[2021-06-25 05:53] aiwalter commented on #1052
was it the "Reload?" problem when you tried to view the notebook in the browser? Because this is a longer existing bug of Github that you have to press this sometimes 5-10 times to get the notebook loaded in the end.

[2021-06-25 05:58] TonyBagnall commented on #1039
Or use the RocketClassifier, that's the go to, fast, classifier.

[2021-06-25 08:52] #1030 closed

[2021-06-25 08:56] Lovkush-A commented on #1041
I only spent ~10 minutes reading the code (mainly to understand the seeding issue) and I had a skim of the accompanying paper, and it might just be a case of the algorithm itself is not easy to understand if you first do not know rocket (note I do not know anything about rocket).

An example of something hard to understand without prior knowledge is what the different variables mean, e.g. what do

[2021-06-25 09:32] fkiraly commented on #1052
Yes, but I believe it has to do with the file size?

[2021-06-25 09:33] fkiraly commented on #1041
@Lovkush-A, it should be obvious that 9 has been chosen as a random number, also see
https://dilbert.com/strip/2001-10-25

Jokes aside, I agree that some documentation would be useful.

[2021-06-25 09:46] aiwalter commented on #1052
I also faced it with short notebooks

[2021-06-25 11:46] mloning commented on #982
I like `cv_strategy`, I agree it's clearer than just `cv`, but prefer not move away from scikit-learn.

[2021-06-25 13:13] angus924 commented on #1041
That's a good point, these will mean nothing in isolation.  I named them like that to match the corresponding quantities in the paper, for better or worse, but I can see that it means nothing outside that context.

Unfortunately, it's not that exciting.  It is because kernel length is (always) 9, so I tried to keep that reference in there rather than writing `range(4)` (we are filling the rows of

[2021-06-25 14:49] mloning opened #1056 "[ENH] principled interface to infer seasonal periodicity from data"
Users currently have to set the seasonal periodicity `sp`. We should provide an option to estimate it from the data or infer it from the date time index.

There may be some existing related functionality in pycaret and statmodels already.

[2021-06-25 15:45] fkiraly commented on #1028
Here it is again, got it! Elusive critter...

[pytest_log.txt](https://github.com/alan-turing-institute/sktime/files/6717330/pytest_log.txt)

Have a look at this, @TonyBagnall - what is this? Interesting stuff starts at line 5205:

[code]

[2021-06-25 15:51] fkiraly commented on #1056
isn't this easily achieved already with doing tuning over the `sp` parameter?

[2021-06-25 16:17] mloning commented on #1056
Yes, but there may be some other heuristics which are less computationally expensive, e.g. using information on time index or seasonality tests.

[2021-06-25 16:23] AidenRushbrooke opened #1057 "[BUG] Cross validation has no effect on KNeighborsTimeSeriesClassifier distance measure parameters"
**Describe the bug**

Using scikit-learn cross validation functions on sktime's KNN classifier to set the distance measure hyperparameters always produces the same score.

**To Reproduce**

[code]

**Expected behavior**

Using different parameters should produce different scores.

**Additional context**

I've tested this bug using multiple different datasets and distance measures, and all produced

[2021-06-25 16:25] fkiraly commented on #1056
so what's "done" for this issue then? Identify one or two methods that can infer seasonality parameter, and implement them as forecaster?

Also, do we need another scitype "parameter estimator"?

[2021-06-25 18:17] mloning commented on #1056
Yes, I think that would be an interesting case to see if we can come up with a good `ParameterEstimator` design.

[2021-06-26 07:08] afzal442 commented on #996
@fkiraly If I am not wrong here, is this kinda extension to **Automated learning algorithm overview**? Thanks.

[2021-06-26 08:32] TonyBagnall commented on #1057
thanks for that aiden, I will create a branch for this and we can look together if you have time?

[2021-06-26 09:07] TonyBagnall commented on #1057
also, using the default cross validation is probably really inefficient, since it will involve repeated distance calculations. I think Jason wrote an internal mechanism for distance measure tuning. Nevertheless, the classifiers should work with scikit learn croiss validation, so we will fix this bug

[2021-06-26 09:09] TonyBagnall commented on #1057
https://github.com/alan-turing-institute/sktime/tree/knn-cross-validation-bug

[2021-06-26 09:13] TonyBagnall commented on #993
I'm going to close this for now until the tags issue is resolved with forecasting

[2021-06-26 09:13] #993 closed

[2021-06-26 09:24] Lovkush-A commented on #1041
@angus924 An idea came up in recent discussion that researchers who want to code up their state-of-the-art algorithms but do not have time to document/refactor for accessibility can be paired up with somebody from sktime community who does have time to do so.

I figured I might as well get this initiative started by offering to help refactor this minirocket algorithm (and other algorithms, if appr

[2021-06-26 10:07] Lovkush-A commented on #955
@GuzalBulatova Are you still working on refactoring of grid search? I see the PR above has been closed.

[2021-06-26 12:05] mloning commented on #1043
I think it also makes sense to distinguish between loading data from files included in the package and fetching/downloading new data (see scikit-learn) in the function names.

[2021-06-26 12:16] mloning commented on #1052
Note that the notebooks are also shown at: https://www.sktime.org/en/latest/tutorials.html.

[2021-06-26 13:28] fkiraly commented on #996
Correct, on the docs side.

Under the hood, we also need a consolidated tags system, as in #981, with the registry retrieval/query functionality that @mloning proposed.

[2021-06-26 13:34] fkiraly commented on #955
I'm not sure about the `BaseWindowForecaster`. I think there are more important items to work on, such as refactoring transformers or TSC.

But if you have a good idea how to refactor, please go ahead, open an issue that describes what you are going to do, and make a proposal in an PR. Make sure you don't delete the other classes, until the grid search refactor is finished.

[2021-06-26 13:39] fkiraly commented on #1052
@mloning, what's wrong with the section headers in the html? Why does it not recognize all?

[2021-06-26 13:43] fkiraly commented on #1052
there isn't a clear pattern that I can recognize whith section headers are in the table of contents box and which aren't - any great ideas how to get only the "level 3 and higher" headers?

[2021-06-26 14:03] Lovkush-A commented on #994
I'd like to help with this, but I had a skim through the PRs. Either I didn't understand them or it was work in progress. I have no idea how your brains dont turn to mush having to keep track and understand so much stuff...

[2021-06-26 14:08] fkiraly commented on #973
So, @ABostrom, @chrisholder, @jambo6, @TonyBagnall, @aiwalter, @mloning, I wanted to hear your opinion on a suggestion how to deal with descriptive type hints and type checks in one.

What I would propose is that our base class `fit` etc look like as follows (below without conversion etc), in the example of the forecaster base class:

[code]

About the ingredients above:
* `Series` is a custom typ

[2021-06-26 14:16] Lovkush-A opened #1059 "[DOC] [question] long-term plan and strategy for documentation"
Is there a set plan / framework for the documentation? Without this, there is risk of doing significant work that would later need to be undone.

Specific questions:
1a) Do we intend to follow the [divio documentation framework](https://documentation.divio.com/)? When I first joined sktime, Markus pointed me towards it.
1b) If yes, then I think the current tutorials will need to be separated out i

[2021-06-26 14:35] Lovkush-A commented on #1038
I'm happy to work on the second task.

@fkiraly @mloning Are there any design discussion we need to have in advance? I anticipate something like this:

* Have a function `make_multivariate_forecaster`, similar to `make_reduction`
  * For now, there will only be one strategy, `by-column`, or similarly named
  * I do not know if there are other reduction strategies, but maybe there are. Regardless,

[2021-06-26 14:42] Lovkush-A commented on #982
@fkiraly @mloning. To summarise so far.

Things we agree on:
* agree on keeping `update`
* agree on renaming `update_predict_single` to `update_predict`, and have it correspond to `one update and then one predict`

Things we disagree on / that are not decided:
* Whether we keep a `update_predict_playback` method, or remove it as a forecaster method and replace it with something like `cross_val_pre

[2021-06-26 14:55] TonyBagnall commented on #994
one of the reason I've been tagging them is to scope the whole business. There is no mad rush to do this, but it would be good to stem the tide of PRs and issues if we can

[2021-06-26 15:47] Lovkush-A commented on #1056
One tool for detecting seasonality is via auto-correlations. I read about it in the [AutoTheta paper](https://www.researchgate.net/publication/338507620_Generalizing_the_Theta_method_for_automatic_forecasting). See first ~8 lines of Page 5 of the paper for brief description and references for further details.

Roughly: calculate autocorrelations and if an autocorrelation is particularly big (see p

[2021-06-26 17:24] mloning commented on #1056
Yes, in think in the M4 study they used a similar heuristic based on a hypothesis test, there's some code for it [here](https://github.com/mloning/sktime-m4/blob/2b51b9c41968c2065b26e655df70a41c0a414e3a/scripts/utils.py#L314).

[2021-06-26 17:27] Lovkush-A opened #1060 "minor typos and questions on ShapeletTransformClassifier"
Just looking through one or two classifiers to see what is there (as I may contribute somehow), and I think there some (very) minor typos in ShapeletTransformClassifier and one or two things I am unsure of.

Once questions are answered, I can create a PR to make these minor changes.

1. Line 5. `builds (by default) a random forest`. Is it possible for a user to build other classifiers, other than

[2021-06-26 17:28] Lovkush-A commented on #1060
@TonyBagnall, I presume you are best placed to answer these questions. If not, let me know!

[2021-06-26 18:10] fkiraly commented on #982
I'm slightly confused about the intention of using `cv` objects that are not expanding windows. To me it seams this would dispatch to different `fit`/`predict` combinations, but what I think the method should be doing is repeated calls to `update` and `predict`. Cross-validation (temporal) other than continuous updating I would defer to something outside, like `evaluate`. Rolling predictions I wou

[2021-06-26 21:53] chrisholder opened #1062 "Sktime metrics rework"
**Is your feature request related to a problem? Please describe.**
When compared to the vast metric library that sklearn has, sktime is missing a great deal of structure. Additionally some of the metrics in Sktime are inconsistent with sklearn. See: https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics for details on what sklearn has to offer.

In particular as someone workin

[2021-06-26 22:31] Lovkush-A commented on #982
To check, is this correct:

* temporal cross validation is multiple *fit* and predict cycles
* update_predict_playback is multiple *update* and predict cycles

If yes, for me, these two things are very similar (especially given that default update is just to re-fit) and hence should have a similar interface/naming conventions, etc.  They both appear to be different strategies for doing some kind o

[2021-06-26 23:01] AidenRushbrooke commented on #1057
One solution that would keep the same variable names might be to add a set_params function to the knn classifier, which sets metric_params to equal distance_params. Its a bit of a hacky solution and I'm not sure if it would cause issues elsewhere, but I think it would fix this issue.

[2021-06-27 06:34] TonyBagnall commented on #1062
Whilst I largely agree about performance measures being grouped, I think your are conflating performance  metrics with distances/metrics, and this is really two issues
1. Redesign distances with numba. I think this would be great if it does not degrade performance, but I think it makes sense to keep distances a separate module
2. Group performance/evaluating code in one place. This includes the be

[2021-06-27 10:26] fkiraly opened #1063 "[ENH] time series classification: shorthands for common sktime pipelines including TsfreshClassifier"
One of our most requested/used time series classifiers is the pipeline of `tsfresh` feature extraction and then an `sklearn` classifier.
- [x] There should be a shorthand `TsfreshClassifier` for that.

We should create a module with simple  "feature extraction based" TSC strategies like this, e.g., `feature_extr_based`.

Other shorthands that would be great to have:
- [ ]  `TabularizerClassifier`,

[2021-06-27 13:32] chrisholder commented on #1062
I agree they should be seperated. The main reason I suggested them being grouped together is simply sklearn does it like that. The sklearn documentations states:

However, another package such as Tslearn does it in the way @TonyBagnall describes where they have distance metrics in a seperate directory to becnhmarking and scoring.

I overall think the structure @TonyBagnall suggested is better and

[2021-06-27 16:23] TonyBagnall commented on #1062
ah I see, well I'm not in favour of slavishly following sklearn, I think they should be separate. However, there is a trade off as you say. We should discuss this on the core contributor channel, I will nominate you for inclusion when the clustering PR goes in

[2021-06-27 16:28] TonyBagnall commented on #1063
Sure, although this is a little completist, the reason for having RocketClassifier etc is that there are results published with a specific set up which we want to reproduce. TSfresh classifier is not at all competitive according to Markus's experiments. MPClassifier is kind of ok (according to my own paper!) and I look forward to testing out the SignatureClassifier in the near future. We call the

[2021-06-27 16:29] TonyBagnall commented on #1063
oh, and a version of the SevenNumberClassifier is the first default classifier I ever tried on TSC in 2012 :)

[2021-06-27 18:04] fkiraly commented on #1063
Yes, I'd either: use `sklearn` `RandomForestClassifier` with default settings as the `estimator` default, or set no default - the user has to choose a classifier.

I'd invoke here "relevance justifies inclusion" rather than "performance justifies inclusion".
Some of these classifiers are highly relevant as baseliens in your and other historic benchmarks - therefore very relevant in the context of

[2021-06-27 18:05] fkiraly commented on #1063
PS: "according to Markus' experiments" (that are nowhere published?) is not a scientific reference.

[2021-06-27 18:06] fkiraly commented on #1063
pinging @jambo6 since I mis-spelt his name above.

[2021-06-27 18:22] fkiraly opened #1065 "Cluster "mixin" should be part of base class"
There is a `ClusterMixin` in the newly merged clustering module which is quite weird.

The only thing it has is `fit_predict`, but that should be a default functionality in clusterers which do have `fit` and `predict` anyway?

So, let's just move this to the `BaseClusterer`.

[2021-06-27 18:41] fkiraly commented on #1062
agreed that metrics should be collected, and agreed with @TonyBagnall that metrics and distances should be separated.

I have some code for distances, would contribute that soon-ish.

Oh no 😱, how you've said it, @TonyBagnall! You'll bring eternal misfortune upon us.

[2021-06-27 18:47] TonyBagnall commented on #1063
this is not a scientific forum, I was talking in anecdote. I'll take any bets you want on tsfresh+random forest against anything close to sota. I'll run the experiment next week now you have said that :) But yes, all this is fine by me, I have after all championed to static classifiers against pure composition, having both routes is the best

[2021-06-27 19:08] TonyBagnall commented on #1063
one question is where to put them. I try to group by the core nature of the transformation involved to provide a  basic, inevitably flawed, taxonomy

[2021-06-27 19:19] fkiraly commented on #1063
I believe you - `tsfresh` creates a lot of garbage features... but we still should have it on offer!

indeed, so let's be consistent! 😃

I'd suggest a folder `feature_extraction_based`, that would be in line with your taxonomy?
It would be everything that follows the "simplistic" formula `[ts feature extractor]->[classifier]`.

[2021-06-27 19:22] TonyBagnall commented on #1063
I'm not sure about that, since they are all based on some form of feature extraction except for distance based, although distances as features is itself a valid and published approach. I'll have a think about this.

[2021-06-27 20:01] chrisholder commented on #1065
So the original reason ClusterMixin exists is the early sktime version of the Clustering module I made closely mirrored Sklearns where they have the following as their ClusterMixin

[code]

And then their clustering algorithms inherit ClusterMixin and BaseEstimator like so

[code]
Now I am more familiar with Sktimes apporach I agree this mixin is redundent as we inherit BaseEstimator in our Base c

[2021-06-27 22:47] fkiraly commented on #1063
Yes, but not all TSC are of the simple form above, they typically also do sth else.
What I specifically mean, everything that goes into the simple pipeline structure `[transformer][classifier]` goes in that class, and nothing else. That would exclude distance based approaches, and the more complex approaches in the other folders.

[2021-06-27 22:51] fkiraly commented on #1065
I think that's not entirely correct - you shouldn't just remove the mixin, but move the `fit_predict` to the `BaseCluster`.

Btw, should that not be called `BaseClusterer` (or at least `BaseClustererer`)?

[2021-06-28 00:25] fkiraly opened #1070 "[DOC] time series clustering extension template"
There should be an extension template for time series clustering in `extension_templates`. The forecasting one can be used for orientation. This is to make extension of the module and addition of clustering algorithms easier for the community.

@chrisholder, @TonyBagnall, FYI

[2021-06-28 12:06] chrisholder commented on #1065
I see what you're saying Ill add that in.

Ill leave this up to an executive decision because my reasoning is incredibly superficial I don't like how 'BaseClusterer' looks in my IDE vs 'BaseCluster' (just looks long and something not quite right) so kept it as BaseCluster :joy: .

But yes another ML package like Weka calls it Clusterer as their base class - see https://weka.sourceforge.io/doc.dev/

[2021-06-28 12:25] chrisholder commented on #973
I like the look of this a lot @fkiraly.

My only comment is (and Im sure this isn't final anyways) is the naming of the type 'Series' to me that implies a pandas Series. I ran into this issue of not knowing what to call my type describing pandas numpy and the other potential input types for clustering and ended up landing on:

`NumpyOrDF = Union[DataFrame, NumpyArray]`

Which equally isn't a good

[2021-06-28 13:44] angus924 commented on #1041
Sorry for the slow reply.

Thanks very much @Lovkush-A.

The one thing I would say about refactoring is that as one of the main attributes (or claims, at least) in relation to MiniRocket is in relation to speed/scalability (i.e., that it is fast), it would be important to make sure that the refactored code is at least as fast as the original code.  (The complicating factor here is that the code do

[2021-06-28 13:51] fkiraly commented on #1065
So `BaseClusterererer` it is.

[2021-06-28 13:52] fkiraly commented on #1065
or `BaseClusteerr`?

[2021-06-28 13:56] fkiraly commented on #1041
Quick addition.

For scientific reproducibility, I think it's always fine to have multiple versions of algorithms:

* a "reference" version that corresponds to usage and results in earlier publications, e.g., that reproduces runtimes, bugs, etc
* a "latest" version that is the algorithm with tweaks and bugfixes. This would be by default the one `sktime` loads.

I would go so far to not just have t

[2021-06-28 14:39] TonyBagnall commented on #1065
BaseClusterer it has to be, if we want to maintain equivalence of syntax. It looks horrible, but the thing that makes clusters is a clusterer

[2021-06-28 17:02] Lovkush-A commented on #1041
@angus924 Alright! Sounds like you like the idea. We should arrange to have a quick chat, maybe 15-30 mins. Things worth discussing:
* quick intros
* how the algorithms in sktime match up with your papers, e.g. which algorithms are for which papers, where experiments were carried out, etc.
* quick intuition of the algorithms, to speed up understanding of them.  Or any other advice to help speed th

[2021-06-28 17:08] Lovkush-A commented on #1041
How would this designation be done, explicitly? Also, this would only give access to the algorithm, but not the precise experiments that were run to get the results in the paper.

Separate to that suggestion, do you know what The Turing Way recommends in terms of making experiments/algorithms reproducible?

[2021-06-28 17:40] mloning commented on #982
We have summarised the different cross-validation schemes here: https://github.com/sktime/enhancement-proposals/blob/main/steps/01_forecasting_api/model-evaluation-tuning.md

[2021-06-28 17:56] mloning commented on #1059
Thanks @Lovkush-A, there are two related issues:
* for the explanation part, the user guide: https://github.com/alan-turing-institute/sktime/issues/361
* the developer guide: https://github.com/alan-turing-institute/sktime/issues/464

[2021-06-28 18:03] mloning commented on #955
I think this has been a huge effort by everyone involved, I would treat the tag item separately, should we have a meeting on that to agree on a set of tags for forecasting? After that we make sure tags have been correctly assigned and write tests.

[2021-06-28 18:08] Lovkush-A commented on #1059
Oh yes, I have seen this before. Contains my [first ever message and interaction with sktime](https://github.com/alan-turing-institute/sktime/issues/361#issuecomment-751351337). A real blast from the past!

[2021-06-28 19:07] Lovkush-A commented on #982
1. To check understanding, Franz's proposal for `update_predict_playback` matches up with "expanding window with an initial window" from the scheme?
2. If yes for 1., then it would be odd to have one of the five strategies implemented locally in the estimator, and the other four implemented externally.
3. Have the five cv schemes been implemented? It looks like there was not a decision made on the

[2021-06-28 19:19] fkiraly opened #1073 "unit tests for estimator method side effects"
Currently, it seems we have no tests that check estimator methods for side effects on the arguments?
(see also #1042 - before I thought we had)

This should be relatively easy to add - checking whether passing arguments to `fit` etc changes the argument.
The only complication is that some methods have to be called before others, e.g., `fit` before `predict`.

[2021-06-28 19:26] fkiraly commented on #1041
Well, the experiment, given a clean benchmarking module, would look sth like this

`results = benchmarking(config, algorithms = {"nameA": algoA, "nameB": algoB, "nameC:" algoC etc`

where `algoA = MiniRocket2018AngusEtAl(someparams)`

Turing way considers these questions out of scope to my knowledge, at least as long as it corresponds to methodological content - see also https://github.com/alan-tu

[2021-06-28 19:36] Lovkush-A commented on #1041
And how would this (ideal) experiment be made accessible to future people? Suppose in three years time somebody wants to re-run the experiment, how would that happen?

The only thing I can think of is to create a fresh github repo, with a python script/notebook with the code to run the experiment and a requirements file stating exactly which versions of all packages were used to run the experiment

[2021-06-28 19:38] fkiraly commented on #955
Well, I put the "tags revisited" here since in our discussion it appeared we need to review them after the refactor. Happy to do this as part of a larger tag refactor #981 though.

[2021-06-28 19:39] fkiraly commented on #1059
also, questions should go into the discussions forum now

[2021-06-28 19:40] fkiraly commented on #1059
I think the format "code and explanation mixed" works reasonably well? Not sure what the alternative would look like though. Any good examples?

I think the main weakness is that many parts of it don't exist.

[2021-06-28 19:43] fkiraly commented on #982
In the sense of what the method is allowed to use, yes. However, the method could be a moving window strategy, in which case the "true" scheme would correspond to moving window splitting.

As far as I know, the expanding window one is the only one compatible with the `update`/`predict` sequence from the unified interface, since there is no `forget_the_past` method. Insofar it is the only one that

[2021-06-28 20:02] fkiraly commented on #973
We could call it `TimeSeries`? Or `scitype-series` or `ScitypeSeries`, i.e., preface all the type hints with "scitype".

For consistency is one reason, but also you may want to feed arguments to it depending on tags, and that's easier to read if it's explicit. In that situation, I thought it's better if the decorator logic does not depend on tags or other attributes of the host class, only argumen

[2021-06-28 20:22] Lovkush-A commented on #1059
Divio provide what I think are convincing arguments in favour of a different style of tutorial: https://documentation.divio.com/tutorials/. In particular, having less explanation and having more tasks for the user to do (so they get sense of achievement and also so they are more likely to learn how to use it for themselves).

One thing I like about divio's framework overall is that it is clearer w

[2021-06-28 20:51] fkiraly commented on #1059
I think this sounds like a different kind of tutorial - self-work exercises.
It might be a good idea to have them, but I still think the user primarily expects the kind of "show and run" tutorial that they are familiar with for `sklearn` etc. I've seen exercises (e.g., in `pandas` docs) style tutorials, but that's always *in addition* to exercise style ones.

Sure - my proposal for immediate steps

[2021-06-28 20:52] Lovkush-A commented on #982
Hmm. I am more confused now than before...

But in your specs at the top, what you suggested for `predict_update_playback` is more like expanding window than moving window, I think. Or have I misunderstood? For moving window, you need to specify length of window and how far window moves along each time. For expanding window, you need to specify cutoffs, which is what you have in the specs.

I am s

[2021-06-28 21:12] Lovkush-A commented on #1059
My proposal is to take a step back and determine how our documentaiton should look. E.g. in my view, there is overlap between the aim of the user guides and the current tutorial notebooks. All the steps you listed are sensible, but it would be good to know that they are fitting together to form a coherent set of documentation.

(Also, maybe I am overthinking things and we should jsut write some do

[2021-06-28 21:13] chrisholder commented on #973
I like ScitypeSeries personally

[2021-06-29 07:21] aiwalter opened #1076 "Forecasters to have a default ForecastingHorizon of fh=[1] if fh is not given (None)"
**Is your feature request related to a problem? Please describe.**
I would like to propose to have a default 1-step ahead `fh` for all forecasters. Motivation is, that 1-step ahead forecast is often used and a default would simplify the interface and UX.

**Describe the solution you'd like**
We could just catch cases where `fh is None` and set it to `fh=[1]`. We have to see how this works with abs

[2021-06-29 09:32] fkiraly commented on #1076
Agreed, this is a very sensible default.

The only thing we should think about what would happen if the index of `y` is not regular, and not float/integer but some date index. Error message? Sth else?

[2021-06-29 11:31] fkiraly commented on #929
As discussed in the latest mentoring meeting @thayeylolu will be working on this.

The interface will assume `pd.DataFrame` as input to `_fit`, and as return from `_predict`, no other types for the moment.

This means it should eventually be compatible irrespective of whichever of the two proposed designs #980 and #1074 we go with.

FYI, @mloning.

[2021-06-29 11:32] fkiraly commented on #929
Other implementation notes

* we should start by writing a short user journey design
* the statsmodels adapter may be a good way to go, but needs investigating
* tests may also need looking at, e.g., multivariate input generation

[2021-06-29 12:19] mloning commented on #1076
Agreed, this makes sense.

One potential source of confusion may be the forecasters that require `fh` in `fit` if users are not aware of this. In that case, passing no `fh` in `fit` would result in `fh=1` during fitting and if a users passes some other `fh` in `predict` it won't work.  Not sure how to best handle this.

[2021-06-29 12:19] aiwalter commented on #1076
the index type is already checked somewhere when fitting the model I think?

[2021-06-29 12:25] aiwalter commented on #1076
@mloning we could handle this by just setting the default `fh=[1]` in `predict()` and not before? Not sure also if the default should be given in the function already like
[code]
or if we should still have `fh=None` and then have a separate check inside `predict()` to set default `fh`?

[2021-06-29 12:34] mloning commented on #1052
Sorry, no idea about the section headers.

[2021-06-29 14:36] TonyBagnall commented on #1076
having just done some forecasting from completely cold, I agree this is a good idea, it took me a bit  of time to figure out the horizon

[2021-06-29 14:49] mloning commented on #1076
@aiwalter the problem with that is that if people specify a different horizon in `_fit` for the forecasters that need the horizon, having a default in `_predict` which may be different from what was passed in `_fit` may lead to errors and more confusion.

If we just want to provide a default for the forecasters that do not require `fh` in `fit`, it needs to happen in `_set_fh` I think. Alternative

[2021-06-29 18:43] fkiraly commented on #1076
Regarding handling the default, I think the issue above is simple to cover by substituting the default the first time you need it. That's precisely the time the errors would be raised in the `_set_fh` logic when none is passed - so you would replace the error by the default.
Though I do agree that this makes the behaviour a bit opaque to the user.

[2021-06-29 20:05] mloning commented on #1076
@fkiraly would that mean that in `_fit` and `_predict` we always have to use `self.fh` rather than the `fh` passed as an argument?

[2021-06-30 06:41] muzibai opened #1079 "[BUG] Prophet with logistic growth does not work"
**Describe the bug**
It is not compatible with the case that the growth parameter of prophet is equal to ‘logistic‘

**To Reproduce**
[code]

**Expected behavior**

The growth parameter compatible with prophet is equal to ‘logistic‘
**Additional context**

**Versions**
<details>

from sktime import show_versions; show_versions()

System:
    python: 3.8.3 (default, Jul  2 2020, 11:26:31)  [Clang 1

[2021-06-30 10:59] fkiraly commented on #1076
No, that's not what I mean. I mean that whenever the "no `fh` found but is needed" error would be raised, instead the default could be substituted - inside `_set_fh` which has the error raising logic.

[2021-06-30 11:01] fkiraly opened #1080 "[BUG] HampelFilter has side effects on arguments"
`HampelFilter` has side effects on its arguments - see #1078 and test logs.

No estimator should have side effects, so this needs fixing.

[2021-06-30 11:02] fkiraly commented on #1065
resolved by #1075

[2021-06-30 11:02] #1065 closed

[2021-06-30 11:08] angus924 commented on #1041
Hi @Lovkush-A, thanks, I've sent you an email re setting up a meeting.

@fkiraly, I think if the refactored code is at least roughly similar to the original in terms of doing whatever it's meant to be doing (or better), it's not a big deal.

It's tricky to try to use other people's code at the best of times, and it's difficult to kind of "enforce" (not quite the right word...) the use of a particu

[2021-06-30 11:37] aiwalter commented on #1080
good catch, thx! I will fix it. What do you think about handling this `y = y.copy()` stuff in the parent class? Basically each transformer needs to have it I think. I could create an issue for it, but would anyway first fix the `HampelFilter` issue separately.
___
Martin Walter <martin_friedrich.walter@daimler.com>, Mercedes-Benz AG on behalf of Daimler TSS GmbH.
https://github.com/Daimler/daimler

[2021-06-30 11:47] fkiraly commented on #1080
Yes, we need a big transformer refactor soon-ish, I think - I'd suggest to focus on `HampelFilter` though first so we can move the side effect test in before we start with the refactor.

[2021-06-30 11:48] fkiraly commented on #1080
And that's exactly why I wrote the test!

[2021-06-30 12:38] GuzalBulatova opened #1081 "Design and implementation of ColumnEnsembleForecaster"
**References re-design of Theta Forecaster #854
Implements ThetaLinesTransformer #923**

**Describe the solution you'd like**
Implement `ColumnEnsemble` multivariate to univariate forecaster. It forecasts transformed data (pd.Dataframe returned by `ThetaLinesTransformer`) with Theta model's standard case where `theta_coefficient = [0, 2]`.
Should return pd.Series - the average of the two forecasts

[2021-06-30 13:54] TonyBagnall commented on #1060
hi @Lovkush-A only just seen this, sorry! Thanks for these comments, STC is in need of some love. I'll take them on board when I get round to it, I'll tag @jasonlines in case he is interested in helping out, and @ABostrom who also might get involved.

[2021-06-30 14:05] TonyBagnall commented on #974
I'm closing this, issues have overtaken it

[2021-06-30 14:05] #974 closed

[2021-06-30 14:06] TonyBagnall commented on #946
hi @tabhishek432 did you fix this? Can I close this issue?

[2021-06-30 14:07] TonyBagnall commented on #920
closing since dev days have finished

[2021-06-30 14:07] #920 closed

[2021-06-30 14:13] TonyBagnall commented on #1028
hi @fkiraly what code generates this so I can try reproduce it?

[2021-06-30 14:36] TonyBagnall commented on #904
hi @ksaurabh21 can we close this issue?

[2021-06-30 14:56] TonyBagnall commented on #129
@MatthewMiddlehurst this is done isnt it? Can we close?

[2021-06-30 14:58] MatthewMiddlehurst commented on #129
Yeah I would consider this done. Any problems with the revamped transformer can be raised as new issues

[2021-06-30 14:58] #129 closed

[2021-06-30 15:00] TonyBagnall commented on #210
@fkiraly can I close this issue, since it has been inactive for a year?

[2021-06-30 15:06] fkiraly commented on #210
actually wanted to do this in the upcoming doc sprint

[2021-06-30 15:07] fkiraly commented on #210
I can't do everything at once, I have a day job!

I was prioritizing the tutorials (see forecasting tutorial)

[2021-06-30 15:07] TonyBagnall commented on #141
hi @mloning can we close this issue, since there have been no comments since 2019?

[2021-06-30 15:08] TonyBagnall commented on #210
no problem, just housekeeping

[2021-06-30 15:13] TonyBagnall commented on #731
@mloning can I close this, since the program has started

[2021-06-30 15:19] TonyBagnall commented on #596
Going to revive this, and include the new distance functions in this issue

[2021-06-30 15:21] TonyBagnall commented on #1057
Roll this into this issue here
https://github.com/alan-turing-institute/sktime/issues/596

[2021-06-30 15:21] #1057 closed

[2021-06-30 15:26] TonyBagnall commented on #596
PF request
https://github.com/alan-turing-institute/sktime/issues/388

[2021-06-30 15:37] ksaurabh21 commented on #904
Yes, please do.

On Wed, Jun 30, 2021 at 8:06 PM Tony Bagnall ***@***.***>
wrote:

[2021-06-30 16:10] fkiraly commented on #1041
Precisely the problem I'm referring to - if there would be `MiniRocket2018AngusEtAl` or similar you could point to, it would at least partially resolve this in that any reviewer can point to "why did you not use the reference implementation in your comparison but a weird strawman of the same name"?

I get that, but it would make earlier studies less reproducible, since you can't fully exclude that

[2021-06-30 16:23] #904 closed

[2021-06-30 16:38] fkiraly commented on #731
yes, and applications have since closed. I´ve renamed the issue for better reference, this can obviously be closed.

[2021-06-30 16:38] #731 closed

[2021-06-30 16:39] fkiraly commented on #1028
`test_classifier_output(SupervisedTimeSeriesForest, some_args)`, as the second line tells you, you have to fill in `some_args` from the `mark.parametrize` decorator in the test file.

[2021-06-30 16:41] fkiraly commented on #141
Hm, this is partly implemented in the benchmarking module, but we may also want to revisit it. Perhaps also a good issue to raise with with @ngupta23, e.g., where what kind of general-purpose benchmarking functionality should sit - `pycaret` or `sktime`.

Design meeting, @ngupta23?

[2021-06-30 16:45] fkiraly commented on #210
though help from the community would also be appreciated!

Maybe we should also announce the doc sprint once the timelines are more clear.

[2021-06-30 16:45] TonyBagnall commented on #1028
@MatthewMiddlehurst could you take a look, think this is yours?

[2021-06-30 16:45] fkiraly commented on #596
also related to #1071, pairwise transformers include distances - please review :-)

[2021-06-30 16:51] fkiraly commented on #1028
FYI, it's sporadic - feels like you have to run it 100 times or so to get the error.

[2021-06-30 17:17] mloning commented on #1076
Ah, okay, yes, if I understand it correctly that would currently happen in the property `self.fh`, not sure if that's the right place though.

However, note that this may still be confusing for the forecasters that require `fh` in fit, as users may expect to be able to pass the `fh` in predict, but predict will then complain that it has already been fitted using a different `fh`.

Given this poten

[2021-06-30 17:22] mloning commented on #1079
Yes, I can confirm this, this is because setting the growth parameter to "logistic" requires passing a `pd.DataFrame` with additional columns "cap" and "floor".

This is related to #980.

[2021-06-30 17:39] ngupta23 commented on #141
Just thinking out loud... I think this could be a generic framework in `sktime` where anyone could define a workflow in a function. This function should take X, y and other arguments needed to test at one point in time. Then the function could be passed to the back test framework in `sktime`

[code]

[code]

[2021-06-30 17:43] mloning commented on #141
@TonyBagnall we could turn this into an enhancement proposal, that may be the better place for this. Any objections?

[2021-06-30 18:10] TonyBagnall commented on #1039
hi @nealgravindra can I close this issue, I'm afraid these algorithms are just slow on that size of data!

[2021-06-30 18:13] TonyBagnall commented on #1043
I dont really agree with this, I dont like the whole load_airplane etc model, since it gives the user absolutely no clue of how to load their own data. Likewise I dont like examples that simply create an array, the R style.

[2021-06-30 18:19] Lovkush-A commented on #1081
Exciting to see the Theta stuff getting implemented!

My comments/questions/suggestions
1. Most important is what is the difference between this and the EnsembleForecaster that already exists? Your design looks very similar to that.  Also, based on my understanding of AutoTheta, the current EnsembleForecaster does most of what we want. The only change is to create more aggfuncs:
  * weighted mean,

[2021-06-30 18:23] fkiraly commented on #1076
No, I think you are still misunderstanding, and also you are missing a "do not" before "require"?

Look at the `_set_fh` method and how it is called in `fit` and `predict`. Inside `_set_fh` there is a decision tree which raises an error "`fh` must have been passed", and this is raised whenever the latest point is at which the `fh` must e passed.

If you set the default at the point where this erro

[2021-06-30 18:24] nealgravindra commented on #1039
I still think it may be a bug. I'll respond in an hour more fully but the training is very fast, the inference is slow (I'll quantify with a follow-up post and test with standard knn clf distance metric). I wonder if the data type is part of the problem, as I haven't seen this used in any of the tutorials: `sktime.utils.data_processing.from_2d_array_to_nested`

[2021-06-30 18:29] TonyBagnall commented on #1039
No rush happy to leave it open, just tidying up s bit

[2021-06-30 18:36] nealgravindra commented on #1039
I totally understand and it may be me, for example, since I'm using an ipython kernel. I really appreciate the help

[2021-06-30 18:50] fkiraly commented on #141
@ngupta23, with `back_test`, you seem to be describing the existing `evaluate` function?
https://www.sktime.org/en/latest/api_reference/modules/auto_generated/sktime.forecasting.model_evaluation.evaluate.html
 (FYI @aiwalter who wrote this)

[2021-06-30 18:52] fkiraly commented on #141
There's also the benchmarking module
https://github.com/alan-turing-institute/sktime/tree/main/sktime/benchmarking
which supports multiple metrics, models, etc - though it may need a refactor and rework after the most recent work on core interfaces of `sktime`. Pinging @ViktorKaz FYI

[2021-06-30 18:58] fkiraly commented on #1039
but wait, @TonyBagnall, why would the scoring/prediction be slow? Typically, it's `fit` that should be the bottleneck, not `predict`.

[2021-06-30 19:00] fkiraly commented on #1039
oh, it's k-neighbors! That would explain it, it's one of the rare cases of algorithms where the bottleneck is actually in the `predict`, since the "core" computations can only be carried out once the test data is known.

[2021-06-30 19:04] fkiraly commented on #1039
yes, that's not a bug, it's a known property of the neighbors type algorithms.

There are ways to mitigate this (e.g., pre-building search spaces etc), but those are more experimental than the "standard implementation".

[2021-06-30 19:06] fkiraly commented on #1039
Regarding using `sklearn` classifiers as baselines, this is supported, but you should use the `Tabularizer` in a sklearn pipeline with the classifier, since you first need to convert the time series to the scikit-learn compatible format.

That would be sth we ought to add prominently in the tutorial for time series classification once we re-work it, @TonyBagnall - currently it shows only non-basel

[2021-06-30 19:33] fkiraly opened #1085 "[ENH] signature kernels"
I still have some python code lying around from this old paper https://arxiv.org/abs/1601.08169 that was never published (mea culpa). The code, not the paper, that is (the latter ended up in JMLR after a century long review process).

The signature kernel from it (using the dynamic programming algorithm described in section 8) should be added to `sktime`.

Contingent on the #1071 interface.

Corre

[2021-06-30 19:47] fkiraly opened #1086 "rename and potentially retype registry imports in test config"
Arising from @mloning's suggestion in #1067, we should consider renaming variables in `tests/_config`, e.g., `VALID_ESTIMATOR_TAGS` to `ESTIMATOR_TAG_LIST`. This is since the imported objects from the registry are named differently (without the "validation/testing" context), and have list not tuple type.

It is also worth considering to check/make downstream logic compatible with lists, not tuples

[2021-06-30 20:29] TonyBagnall commented on #1039
Nearest neighbour classifiers are lazy, so no fit time (if untuned) but longer predict time (o(nm^2) for n test cases length m)

[2021-06-30 21:09] TonyBagnall opened #1087 "Redesign check_X and check_X_y, factor out conversion functionality"
check_X and check_X_y follow the scikit learn strategy and do more than check_X and y. They also convert data types. This is poor engineering and, with classifiers in particular, makes modular design complicated. I propose we decouple these two operations into separate functions, so that check_X simply checks the validity of input (is it a series or a panda?) and then "coercion" happens separately

[2021-06-30 21:14] fkiraly commented on #1087
Agree with everything except the last sentence, last half: I think data transform should *by default* be done in `fit`, controlled by descriptive estimator tags/capabilities or declarative init parameters, and can be done additionally (as "exception to the rule") in `_fit`. This is to avoid boilerplate code, where we have repeated conversion logic on the estimator `_fit` (implemented by individual

[2021-06-30 21:18] TonyBagnall commented on #1087
ok, that is an open question of design and touches on a lot of issues. I think first lets decide on how to do it in a practical sense rather than where it should happen.

1. What to call the data transform function/functions?
2. Where to put them?
2. should it be one function to do it all, or a pick and mix?
3. what transforms do we need?

[2021-06-30 22:02] nealgravindra commented on #1039
The issue seems not to be limited to kNN classificiation with sktime classifiers. Below is some code to compare sklearn/sktime implementations with euclidean distance measures. I have to kill the program when using sktime's edit distance or dtw with the knn classifier after 5min. However, I am able to compare `sklearn_clf()` and `sktime_knn(distance='euclidean')`, which are both kNN classifiers us

[2021-06-30 22:37] Lovkush-A commented on #1081
Never mind - I think I know the difference now. EnsembleForecaster is applying different forecasters to a *single* series, whereas ColumnEnsembleForecaster is applying different forecatsers to different series.

Here are my further comments now that I understand the difference between the two:

4. I think we want ColumnEnsembleForecaster to be a general multivariate-to-multivariate forecasting too

[2021-06-30 23:01] Lovkush-A commented on #1081
7. And one additional minor point: If my thought in 4. is correct (that ColumnEnsembleForecaster hsould be a general multivariate-to-multivariate forecaster), then the ColumnForecaster in #1074 would just be a special case of ColumnEnsembleForecaster

[2021-06-30 23:13] fkiraly commented on #1039
Quick question for clarification: aren't your examples above still all variants of kNN?
It would be expected that these are substantially slower in `predict` than in `fit`.

[2021-06-30 23:27] nealgravindra commented on #1039
I think the last call, `_ = sktime_clf(x, y, model='shaplet')` uses a RF classifier after finding shapelets? But I'm realizing this might be a bad one. Consider,

[code]

[2021-07-01 06:28] MatthewMiddlehurst commented on #1028
Yeah this is mine, I tried to reproduce it before but couldn't. I will look at the code and try again at some point, even though running it 100 times to find out whats changing sounds painful :)

[2021-07-01 08:49] Lovkush-A commented on #1079
What do you mean by 'I can confirm this'. Are you saying there should be a bug? Or are you saying that passing the correct dataframe would fix the bug?

I ask because in the example code, a dataframe with columns cap and floor has been passed.

[2021-07-01 09:43] aiwalter opened #1090 "TransformedTargetForecaster should also work as a transformer pipeline without any forecaster"
**Is your feature request related to a problem? Please describe.**
`TransformedTargetForecaster` inherits from `_SeriesToSeriesTransformer` and should therefore also be able to just receive transformers only in `steps`.

**Describe the solution you'd like**
Catching cases when last step of `steps` is not a forecaster. This would have to rise an exception when `predict()` is called as a transformer

[2021-07-01 09:45] aiwalter commented on #874
I just created a new issue for `TransformedTargetForecaster` to do what you wrote here. Maybe lets close this here then? @RNKuhns
#1090

[2021-07-01 10:47] fkiraly commented on #1028
well, what you have to do is repeat and log or repeat and break imo

[2021-07-01 10:50] #1080 closed

[2021-07-01 10:54] mloning commented on #1079
@Lovkush-A I just meant that I can reproduce the error and that I agree with @muzibai that we're currently not covering that use case.

[2021-07-01 11:06] mloning commented on #1076
Okay so the idea is to set a default fh for forecasters that do not require fh in fit, but not for those that do, yes?

[2021-07-01 11:08] Lovkush-A commented on #1079
Thanks for explaining Markus. I think this bug would be a useful way to compare the different input/output frameworks that are in discussion!

@fkiraly How would your framework deal with a class in which the inner-type depends on user-input?

[2021-07-01 12:28] fkiraly commented on #1079
Assuming that "user input" means behaviour controlled in parameters, the paradigm would be reading the parameter in `_fit` and dealing with any additional conversion or input logic there. `fit` would be set up to pass through the supported inner types and otherwise convert to them.

[2021-07-01 14:04] GuzalBulatova commented on #1081
Design sketch:

[code]

[2021-07-01 14:47] GuzalBulatova commented on #1081
Thank you @Lovkush-A ! I renamed the issue and moved class design into comment section here.

Regarding comment nr 4: I should've been more verbose with the design suggestion.

`ColumnEnsemble` is a part of `ThetaForecaster`. Theta itself would look like:

[code]
Just like you said, average will be **weighted,** not just mean, mean is the simple option to start (classic theta case).
But I think we

[2021-07-01 16:43] mloning commented on #1081
Thanks @Lovkush-A - I like you're idea of having a modular aggregator. We would have to figure out how this works inside the pipeline. I talked with @GuzalBulatova today and we agreed to give it some thought, having the multi-to-univariate column ensemble may be an easy fall-back option if the other one requires to much work.

[2021-07-01 16:48] Lovkush-A commented on #1081
Happy I could help!

[2021-07-01 19:02] TonyBagnall commented on #973
I like TimeSeries myself

[2021-07-01 19:24] fkiraly commented on #1087
(renamed the issue since it´s not side effects in the sense of the word)

[2021-07-01 20:53] #1087 closed

[2021-07-02 08:24] #959 closed

[2021-07-02 11:19] mloning commented on #141
Closed now - issue moved to https://github.com/sktime/enhancement-proposals/blob/main/steps/09_benchmarking/api-requirements.md

[2021-07-02 11:39] ngupta23 commented on #141
Maybe, but would need it to support a custom workflow so anyone can add their own workflow to it. For example, in my example, the `best_model` can be different in each back test period. That is not the case with `evaluate`. One way you could use `evaluate` to do that would be to use the Multiplexer, but then it is not generic and forcing users to only do it in this one way. Backtesting should be m

[2021-07-02 12:49] Lovkush-A opened #1095 "Refactor (mini)rocket transformers / classifiers"
In PR #1041, we discussed possibility of refactoring rocket transformers. Following an excellent call with @angus924, this will be going ahead!

Steps required:
- [ ] design refactored transformers/classifiers
- [ ] decide how best to track/record historical versions of algorithm used in prevoius papers
- [ ] create appropriate documentation
- [ ] create appropriate unittests

[2021-07-02 14:06] Lovkush-A commented on #1032
I recently saw this video giving whirlwind tour of unittesting using UnitTests.

[Ned Batchelder: Getting Started Testing - PyCon 2014 - YouTube](https://www.youtube.com/watch?v=FxSsnHeWQBY)

My summary of main ideas. Might be useful:

* First chunk (~20 mins) is basics of unittests.
* Goes a tiny bit under-the-hood of UnitTests
* Big tip/opinion: treat unittesting the same way as you do rest of s

[2021-07-02 17:19] mloning commented on #877
Functionality that the `BaseObject` and tests on it should cover:
* tags
* get/set params
* pretty printing (`__repr__`)
* constructor, immutable hyper-parameters